Repository Recidiviz/pulse-data: changes, and which pre-commit hooks are due for each by the changed paths.
All: generate_docs_for_region, generate_docs_for_endpoint, generate_entity_documentation

generate_docs_for_region:
  name: generate_docs_for_region
  entry: pipenv run python -m recidiviz.tools.docs.region_documentation_generator
  language: system
  require_serial: true

generate_docs_for_endpoint:
  name: generate_docs_for_endpoint
  entry: pipenv run python -m recidiviz.tools.docs.endpoint_documentation_generator
  language: system
  require_serial: true

generate_entity_documentation:
  name: generate_entity_documentation
  entry: pipenv run python -m recidiviz.tools.docs.entity_documentation_generator
  language: system
  require_serial: true

Add Somerset as SCI Prison in PA (Recidiviz/recidiviz-data#8516)
  recidiviz/calculator/query/state/state_specific_query_strings.py
Due: generate_docs_for_endpoint

[Case Triage] Only pop impersonation if was previously set (Recidiviz/recidiviz-data#8501)
  recidiviz/case_triage/api_routes.py
  recidiviz/tests/case_triage/server_test.py
Due: generate_docs_for_endpoint

[US_PA] Add policy structure for use by line staff tools (Recidiviz/recidiviz-data#8479)
  frontends/case-triage/src/components/CaseCard/ClientProfileCard.tsx
  frontends/case-triage/src/components/CaseCard/NeedsFaceToFaceContact.tsx
  frontends/case-triage/src/stores/PolicyStore/Policy.ts
  recidiviz/calculator/pipeline/utils/state_utils/us_pa/us_pa_supervision_compliance.py
  recidiviz/case_triage/api_schemas.py
  recidiviz/case_triage/state_utils/requirements.py
  recidiviz/case_triage/state_utils/types.py
  recidiviz/case_triage/state_utils/us_pa.py
  recidiviz/case_triage/util.py
  recidiviz/reporting/data_retrieval.py
Due: generate_docs_for_endpoint

Revert "undoing impersonation if the window closes (Recidiviz/recidiviz-data#8497)" (Recidiviz/recidiviz-data#8510)
  frontends/case-triage/src/routes/Home.tsx
Due: none

Export Case Triage tables from Postgres back to BigQuery (Recidiviz/recidiviz-data#8438)
  cron.yaml
  recidiviz/persistence/database/bq_refresh/cloud_sql_to_bq_refresh_config.py
  recidiviz/persistence/database/bq_refresh/cloud_sql_to_bq_refresh_control.py
  recidiviz/tests/persistence/database/bq_refresh/cloud_sql_to_bq_refresh_control_test.py
  recidiviz/view_registry/datasets.py
Due: generate_docs_for_endpoint

[Case Triage] Clean up recidiviz employee access (Recidiviz/recidiviz-data#8520)
  recidiviz/case_triage/authorization.py
  recidiviz/case_triage/util.py
  recidiviz/tests/case_triage/api_test_helpers.py
  recidiviz/tests/case_triage/authorization_test.py
  recidiviz/tests/case_triage/querier_test.py
  recidiviz/tests/case_triage/server_test.py
Due: generate_docs_for_endpoint

update YAML for Idaho legal status (Recidiviz/recidiviz-data#8521)
  recidiviz/ingest/direct/regions/us_id/raw_data/us_id_lgl_stat_cd.yaml
  recidiviz/ingest/direct/regions/us_id/raw_data/us_id_ofndr_lgl_stat.yaml
Due: generate_docs_for_region, generate_docs_for_endpoint

[Case Triage] New tab UI for downgrade opportunity (Recidiviz/recidiviz-data#8508)
  frontends/case-triage/package.json
  frontends/case-triage/src/components/CaseCard/NewItems.styles.tsx
  frontends/case-triage/src/components/CaseCard/NewItems.tsx
  frontends/case-triage/src/components/CaseOpportunities/OpportunityReview.tsx
  frontends/case-triage/src/components/CaseOpportunities/OpportunitySupervisionLevelReview.tsx
  frontends/case-triage/src/components/CaseOpportunities/PolicyLink.tsx
  frontends/case-triage/src/components/ClientList/ClientListCard.tsx
  frontends/case-triage/src/components/ClientList/ClientStatusList.tsx
  frontends/case-triage/src/components/NeedsActionFlow/NeedsActionFlow.tsx
  frontends/case-triage/src/components/NeedsActionFlow/NeedsCorrectionDropdown.tsx
  frontends/case-triage/src/stores/CaseUpdatesStore/CaseUpdates.ts
  frontends/case-triage/src/stores/ClientsStore/Client.ts
  frontends/case-triage/src/stores/OpportunityStore/Opportunity.ts
  frontends/case-triage/src/stores/OpportunityStore/OpportunityStore.ts
  frontends/case-triage/src/stores/PolicyStore/PolicyStore.ts
  frontends/case-triage/yarn.lock
Due: none

adding pop to the session jwt indicator (Recidiviz/recidiviz-data#8524)
  recidiviz/case_triage/server.py
Due: generate_docs_for_endpoint

[Case Triage] Ensure dropdown is above `h2` (Recidiviz/recidiviz-data#8527)
  frontends/case-triage/src/components/UserSection/UserSection.styles.tsx
Due: none

Adding an option to log out on error page (Recidiviz/recidiviz-data#8525)
  frontends/case-triage/src/components/AuthWall/AuthWall.tsx
Due: none

[Case Triage] New Tab UI for employment, contact, and risk assessment (Recidiviz/recidiviz-data#8529)
  frontends/case-triage/package.json
  frontends/case-triage/src/components/CaseCard/ClientProfileCard.tsx
  frontends/case-triage/src/components/CaseCard/NeedsFaceToFaceContact.tsx
  frontends/case-triage/src/components/CaseCard/NeedsRiskAssessment.tsx
  frontends/case-triage/src/components/CaseCard/ReceivingSSIOrDisabilityIncomeSelector.tsx
  frontends/case-triage/src/components/CaseCard/strings.ts
  frontends/case-triage/src/components/CaseOpportunities/OpportunityReview.tsx
  frontends/case-triage/src/stores/ClientsStore/Client.test.ts
  frontends/case-triage/src/stores/ClientsStore/Client.ts
  frontends/case-triage/src/stores/ClientsStore/ClientsStore.ts
  frontends/case-triage/src/stores/OpportunityStore/Opportunity.ts
  frontends/case-triage/src/stores/PolicyStore/Policy.ts
  frontends/case-triage/yarn.lock
  recidiviz/case_triage/state_utils/us_id.py
Due: generate_docs_for_endpoint

Fix 30-day avg vital calculation by adding a partition and additional ROUND() (Recidiviz/recidiviz-data#8534)
  recidiviz/calculator/query/state/views/dashboard/vitals_summaries/vitals_time_series.py
Due: generate_docs_for_endpoint

Add recidiviz test users to dashboard_user_restrictions query (Recidiviz/recidiviz-data#8537)
  recidiviz/calculator/query/state/views/reference/dashboard_user_restrictions.py
Due: generate_docs_for_endpoint

made freshness category lowercase (Recidiviz/recidiviz-data#8547)
  frontends/admin-panel/src/components/ValidationStatusView.tsx
Due: none

creating a set_metadata function in gcs_file_system.py (Recidiviz/recidiviz-data#8540)
  recidiviz/cloud_storage/gcs_file_system.py
  recidiviz/ingest/direct/controllers/direct_ingest_gcs_file_system.py
  recidiviz/tests/cloud_storage/fake_gcs_file_system.py
Due: generate_docs_for_endpoint

Adds CSG externally shared views, removes RISC and USDR ESVs (Recidiviz/recidiviz-data#8468)
  recidiviz/calculator/query/externally_shared_views/dataset_config.py
  recidiviz/calculator/query/externally_shared_views/view_config.py
  recidiviz/calculator/query/externally_shared_views/views/most_recent_program_participation_metrics_materialized.py
  recidiviz/calculator/query/externally_shared_views/views/most_recent_program_referral_metrics_materialized.py
  recidiviz/calculator/query/externally_shared_views/views/sessions.py
  recidiviz/calculator/query/externally_shared_views/views/state_person_external_id.py
Due: generate_docs_for_endpoint

Adding hashed_email_address column to etl_officers (Recidiviz/recidiviz-data#8536)
  recidiviz/case_triage/views/etl_officers.py
  recidiviz/persistence/database/migrations/case_triage/versions/2021_07_30_1331_ba901f6c370d_add_hashed_email.py
  recidiviz/persistence/database/schema/case_triage/schema.py
  recidiviz/tests/case_triage/case_triage_helpers.py
  recidiviz/tools/case_triage/fixtures/etl_officers.csv
Due: generate_docs_for_endpoint

Adding more freshness checks based on federated dataset (Recidiviz/recidiviz-data#8441)
  recidiviz/validation/views/case_triage/assessment_freshness_validation.py
  recidiviz/validation/views/case_triage/contact_freshness_validation.py
  recidiviz/validation/views/case_triage/etl_freshness_validation.py
  recidiviz/validation/views/utils/freshness_validation.py
Due: generate_docs_for_endpoint

adding a way to fetch officer_for_email via hashed email (Recidiviz/recidiviz-data#8538)
  recidiviz/case_triage/querier/querier.py
  recidiviz/tests/case_triage/case_triage_helpers.py
  recidiviz/tests/case_triage/querier_test.py
Due: generate_docs_for_endpoint

Ungate supervision_period_v3 in staging primary for PA (Recidiviz/recidiviz-data#8553)
  recidiviz/ingest/direct/regions/us_pa/us_pa_controller.py
Due: generate_docs_for_region, generate_docs_for_endpoint

Adding on get_violation_subtype_strings_for_violation function utility onto state specific delegates (Recidiviz/recidiviz-data#8386)
  recidiviz/calculator/pipeline/incarceration/identifier.py
  recidiviz/calculator/pipeline/supervision/identifier.py
  recidiviz/calculator/pipeline/utils/state_utils/state_calculation_config_manager.py
  recidiviz/calculator/pipeline/utils/state_utils/state_specific_violations_delegate.py
  recidiviz/calculator/pipeline/utils/state_utils/us_mo/us_mo_violation_utils.py
  recidiviz/calculator/pipeline/utils/state_utils/us_mo/us_mo_violations_delegate.py
  recidiviz/calculator/pipeline/utils/state_utils/us_pa/us_pa_violation_utils.py
  recidiviz/calculator/pipeline/utils/state_utils/us_pa/us_pa_violations_delegate.py
  recidiviz/calculator/pipeline/utils/violation_utils.py
  recidiviz/calculator/pipeline/violation/identifier.py
  recidiviz/tests/calculator/pipeline/incarceration/identifier_test.py
  recidiviz/tests/calculator/pipeline/supervision/identifier_test.py
  recidiviz/tests/calculator/pipeline/supervision/pipeline_test.py
  recidiviz/tests/calculator/pipeline/utils/state_utils/us_mo/us_mo_violation_utils_test.py
  recidiviz/tests/calculator/pipeline/utils/state_utils/us_mo/us_mo_violations_delegate_test.py
  recidiviz/tests/calculator/pipeline/utils/state_utils/us_pa/us_pa_violation_utils_test.py
  recidiviz/tests/calculator/pipeline/utils/state_utils/us_pa/us_pa_violations_delegate_test.py
  recidiviz/tests/calculator/pipeline/utils/violation_utils_test.py
Due: generate_docs_for_endpoint

fixing initialization of refresh_auth_store view (Recidiviz/recidiviz-data#8555)
  recidiviz/case_triage/server.py
Due: generate_docs_for_endpoint

Add script to validate that all raw data in staging is also in production (Recidiviz/recidiviz-data#8560)
  recidiviz/big_query/big_query_client.py
  recidiviz/tests/big_query/big_query_client_test.py
  recidiviz/tools/ingest/operations/compare_raw_data_between_projects.py
Due: generate_docs_for_endpoint

[Admin Panel] Show non-demo PO feedback (Recidiviz/recidiviz-data#8562)
  recidiviz/admin_panel/routes/case_triage.py
Due: generate_docs_for_endpoint

[Case Triage] Full profile alert for in custody/not in caseload reports (Recidiviz/recidiviz-data#8539)
  frontends/case-triage/src/components/CaseCard/ActionRow.tsx
  frontends/case-triage/src/components/CaseCard/Alert/Alert.styles.tsx
  frontends/case-triage/src/components/CaseCard/Alert/Alert.tsx
  frontends/case-triage/src/components/CaseCard/Alert/CaseloadRemovalAlert.tsx
  frontends/case-triage/src/components/CaseCard/Alert/OpportunityAlert.tsx
  frontends/case-triage/src/components/CaseCard/ClientProfileCard.tsx
  frontends/case-triage/src/components/CaseCard/NeedsRiskAssessment.tsx
  frontends/case-triage/src/components/CaseCard/NewItems.tsx
  frontends/case-triage/src/components/ClientList/ClientStatusList.tsx
  frontends/case-triage/src/stores/ClientsStore/Client.ts
  frontends/case-triage/src/utils.ts
Due: none

[Multi-DB] Migrate MO PRIMARY DB in PROD (Recidiviz/recidiviz-data#8359)
  recidiviz/ingest/direct/controllers/direct_ingest_instance.py
Due: generate_docs_for_endpoint

[Case Triage] Snooze success toast with Undo button (Recidiviz/recidiviz-data#8556)
  frontends/case-triage/package.json
  frontends/case-triage/src/components/CaseCard/Alert/Alert.styles.tsx
  frontends/case-triage/src/components/CaseCard/Alert/OpportunityAlert.tsx
  frontends/case-triage/src/index.tsx
  frontends/case-triage/src/stores/OpportunityStore/OpportunityStore.ts
  frontends/case-triage/yarn.lock
  recidiviz/case_triage/api_routes.py
  recidiviz/case_triage/opportunities/interface.py
  recidiviz/persistence/database/schema/case_triage/schema.py
  recidiviz/tests/case_triage/api_test_helpers.py
Due: generate_docs_for_endpoint

[Case Triage] Remove initial contact requirement for unknown supervision levels (Recidiviz/recidiviz-data#8563)
  recidiviz/case_triage/client_utils/compliance.py
Due: generate_docs_for_endpoint

[Case Triage] Include note count in client list (Recidiviz/recidiviz-data#8558)
  frontends/case-triage/src/components/ClientList/ClientStatusList.tsx
Due: none

bug fix for generating emails in staging admin panel (Recidiviz/recidiviz-data#8571)
  frontends/admin-panel/src/AdminPanelAPI/LineStaffTools.ts
Due: none

[VITALS] Use us_id_roster to filter officers included in vitals summaries and timeseries (Recidiviz/recidiviz-data#8499)
  recidiviz/calculator/query/state/views/dashboard/vitals_summaries/vitals_summaries.py
  recidiviz/calculator/query/state/views/dashboard/vitals_summaries/vitals_time_series.py
  recidiviz/calculator/query/state/views/vitals_report/overdue_lsir_by_po_by_day.py
  recidiviz/calculator/query/state/views/vitals_report/supervision_downgrade_opportunities_by_po_by_day.py
  recidiviz/calculator/query/state/views/vitals_report/supervision_officers_and_districts.py
  recidiviz/calculator/query/state/views/vitals_report/supervision_population_by_po_by_day.py
  recidiviz/calculator/query/state/views/vitals_report/supervision_population_due_for_release_by_po_by_day.py
  recidiviz/calculator/query/state/views/vitals_report/timely_contact_by_po_by_day.py
  recidiviz/calculator/query/state/views/vitals_report/vitals_report_views.py
Due: generate_docs_for_endpoint

🚗 Paralellize Dataflow template deployment (Recidiviz/recidiviz-data#8515)
  .gitignore
  recidiviz/calculator/pipeline/utils/pipeline_args_utils.py
  recidiviz/tests/calculator/pipeline/utils/pipeline_args_utils_test.py
  recidiviz/tests/tools/deploy/dataflow_setup_test.py
  recidiviz/tools/calculator/run_sandbox_calculation_pipeline.py
  recidiviz/tools/calculator/trigger_deployed_pipeline_template.py
  recidiviz/tools/deploy/build_dataflow_source_distribution.py
  recidiviz/tools/deploy/dataflow_setup.py
  recidiviz/tools/deploy/dataflow_template_helpers.py
  recidiviz/tools/deploy/deploy_all_pipeline_templates.py
  recidiviz/tools/deploy/deploy_helpers.sh
  recidiviz/tools/deploy/deploy_pipeline_templates.py
  recidiviz/tools/deploy/deploy_single_pipeline_template.py
  recidiviz/utils/future_executor.py
  stubs/setuptools.pyi
Due: generate_docs_for_endpoint

Updating impersonated user flow to only use hashed email (Recidiviz/recidiviz-data#8574)
  recidiviz/case_triage/api_routes.py
  recidiviz/case_triage/querier/querier.py
  recidiviz/tests/case_triage/api_test_helpers.py
  recidiviz/tests/case_triage/querier_test.py
  recidiviz/tests/case_triage/server_test.py
Due: generate_docs_for_endpoint

[Monthly Report] Coalesce NULL to 0 when counting compliance-eligible caseload (Recidiviz/recidiviz-data#8533)
  recidiviz/calculator/query/state/views/po_report/po_monthly_report_data.py
  recidiviz/validation/views/state/po_report_missing_fields.py
Due: generate_docs_for_endpoint

Ungate state agent external id in prod secondary (Recidiviz/recidiviz-data#8576)
  recidiviz/ingest/direct/regions/us_pa/us_pa_controller.py
Due: generate_docs_for_region, generate_docs_for_endpoint

[Calc] Always compute most recent assessment (Recidiviz/recidiviz-data#8581)
  recidiviz/calculator/pipeline/utils/supervision_case_compliance_manager.py
  recidiviz/tests/calculator/pipeline/utils/supervision_case_compliance_manager_test.py
Due: generate_docs_for_endpoint

Adding on sorted_violation_subtypes_by_severity function utility onto state specific delegates (Recidiviz/recidiviz-data#8393)
  recidiviz/calculator/pipeline/utils/state_utils/state_calculation_config_manager.py
  recidiviz/calculator/pipeline/utils/state_utils/state_specific_violations_delegate.py
  recidiviz/calculator/pipeline/utils/state_utils/us_mo/us_mo_violation_utils.py
  recidiviz/calculator/pipeline/utils/state_utils/us_mo/us_mo_violations_delegate.py
  recidiviz/calculator/pipeline/utils/state_utils/us_pa/us_pa_violation_utils.py
  recidiviz/calculator/pipeline/utils/state_utils/us_pa/us_pa_violations_delegate.py
  recidiviz/calculator/pipeline/utils/violation_utils.py
  recidiviz/calculator/pipeline/violation/identifier.py
  recidiviz/tests/calculator/pipeline/supervision/pipeline_test.py
  recidiviz/tests/calculator/pipeline/utils/state_utils/us_mo/us_mo_violation_utils_test.py
  recidiviz/tests/calculator/pipeline/utils/state_utils/us_mo/us_mo_violations_delegate_test.py
  recidiviz/tests/calculator/pipeline/utils/state_utils/us_pa/us_pa_violation_utils_test.py
  recidiviz/tests/calculator/pipeline/utils/state_utils/us_pa/us_pa_violations_delegate_test.py
Due: generate_docs_for_endpoint

Adding on violation_type_from_subtype function utility onto state specific delegates (Recidiviz/recidiviz-data#8395)
  recidiviz/calculator/pipeline/utils/state_utils/state_calculation_config_manager.py
  recidiviz/calculator/pipeline/utils/state_utils/state_specific_violations_delegate.py
  recidiviz/calculator/pipeline/utils/state_utils/us_mo/us_mo_violation_utils.py
  recidiviz/calculator/pipeline/utils/state_utils/us_mo/us_mo_violations_delegate.py
  recidiviz/calculator/pipeline/utils/state_utils/us_pa/us_pa_violation_utils.py
  recidiviz/calculator/pipeline/utils/state_utils/us_pa/us_pa_violations_delegate.py
  recidiviz/calculator/pipeline/utils/violation_utils.py
  recidiviz/calculator/pipeline/violation/identifier.py
  recidiviz/tests/calculator/pipeline/utils/state_utils/us_mo/us_mo_violation_utils_test.py
  recidiviz/tests/calculator/pipeline/utils/state_utils/us_mo/us_mo_violations_delegate_test.py
  recidiviz/tests/calculator/pipeline/utils/state_utils/us_pa/us_pa_violation_utils_test.py
  recidiviz/tests/calculator/pipeline/utils/state_utils/us_pa/us_pa_violations_delegate_test.py
Due: generate_docs_for_endpoint

use correct support email address (Recidiviz/recidiviz-data#8588)
  frontends/case-triage/src/components/AuthWall/AuthWall.tsx
  frontends/case-triage/src/routes/Verify.tsx
Due: none

Path conditions:
  generate_docs_for_region: any of: ^recidiviz/ingest/direct/regions/
  generate_docs_for_endpoint: any of: ^recidiviz/, but not: (?x)(^recidiviz/tests/|^recidiviz/tools/|^recidiviz/ingest/direct/regions/)$

  generate_entity_documentation: any of: (?x)(^recidiviz/persistence/database/schema/state/schema.py|^recidiviz/persistence/database/schema/history_table_shared_columns_mixin.py)$

