Repository Recidiviz/pulse-data: changes, and which pre-commit hooks are due for each by the changed paths.
All: generate_docs_for_region, generate_docs_for_endpoint, generate_entity_documentation

generate_docs_for_region:
  name: generate_docs_for_region
  entry: pipenv run python -m recidiviz.tools.docs.region_documentation_generator
  language: system
  require_serial: true

generate_docs_for_endpoint:
  name: generate_docs_for_endpoint
  entry: pipenv run python -m recidiviz.tools.docs.endpoint_documentation_generator
  language: system
  require_serial: true

generate_entity_documentation:
  name: generate_entity_documentation
  entry: pipenv run python -m recidiviz.tools.docs.entity_documentation_generator
  language: system
  require_serial: true

[MO ingest] Split Board Hold IPs by statuses that indicate parole revocation (Recidiviz/recidiviz-data#2757)
  recidiviz/ingest/direct/regions/us_mo/us_mo_constants.py
  recidiviz/ingest/direct/regions/us_mo/us_mo_controller.py
  recidiviz/ingest/direct/regions/us_mo/us_mo_sql_queries.py
  recidiviz/persistence/ingest_info_converter/state/entity_helpers/state_incarceration_period.py
  recidiviz/tests/ingest/direct/regions/us_mo/fixtures/tak158_tak023_tak026_incarceration_period_from_incarceration_sentence.csv
  recidiviz/tests/ingest/direct/regions/us_mo/us_mo_controller_test.py
Due: generate_docs_for_region, generate_docs_for_endpoint

[MO ingest] Parse new admission statuses for incarceration periods (Recidiviz/recidiviz-data#2758)
  recidiviz/ingest/direct/regions/us_mo/us_mo_controller.py
  recidiviz/tests/ingest/direct/regions/us_mo/fixtures/tak158_tak024_tak026_incarceration_period_from_supervision_sentence.csv
  recidiviz/tests/ingest/direct/regions/us_mo/us_mo_controller_test.py
Due: generate_docs_for_region, generate_docs_for_endpoint

Switches to an unofficial but vetted Copybara Docker image (Recidiviz/recidiviz-data#2759)
  travis/export_commits.sh
Due: none

Creates new Incarceration-focused calculation pipeline. (Recidiviz/recidiviz-data#2748)
  recidiviz/calculator/pipeline/incarceration/__init__.py
  recidiviz/calculator/pipeline/incarceration/calculator.py
  recidiviz/calculator/pipeline/incarceration/identifier.py
  recidiviz/calculator/pipeline/incarceration/incarceration_event.py
  recidiviz/calculator/pipeline/incarceration/metrics.py
  recidiviz/calculator/pipeline/incarceration/pipeline.py
  recidiviz/tests/calculator/pipeline/incarceration/__init__.py
  recidiviz/tests/calculator/pipeline/incarceration/calculator_test.py
  recidiviz/tests/calculator/pipeline/incarceration/identifier_test.py
  recidiviz/tests/calculator/pipeline/incarceration/incarceration_event_test.py
  recidiviz/tests/calculator/pipeline/incarceration/pipeline_test.py
  recidiviz/tests/calculator/pipeline/program/identifier_test.py
  run_calculation_pipelines.py
Due: generate_docs_for_endpoint

dont error out during merge multi parent entities (Recidiviz/recidiviz-data#2761)
  recidiviz/ingest/direct/regions/us_mo/us_mo_controller.py
  recidiviz/persistence/entity_matching/state/state_entity_matcher.py
  recidiviz/tests/persistence/entity_matching/state/state_entity_matcher_test.py
Due: generate_docs_for_region, generate_docs_for_endpoint

ensure temporary custody periods have expected in and out reasons (Recidiviz/recidiviz-data#2763)
  recidiviz/common/constants/state/state_incarceration_period.py
  recidiviz/persistence/ingest_info_converter/state/entity_helpers/state_incarceration_period.py
  recidiviz/tests/ingest/direct/regions/us_mo/fixtures/tak158_tak023_tak026_incarceration_period_from_incarceration_sentence.csv
  recidiviz/tests/ingest/direct/regions/us_mo/us_mo_controller_test.py
  recidiviz/tests/persistence/ingest_info_converter/state/entity_helpers/state_incarceration_period_test.py
Due: generate_docs_for_endpoint

parse temporary custody admission reason from TAK026 (Recidiviz/recidiviz-data#2764)
  recidiviz/ingest/direct/regions/us_mo/us_mo_controller.py
  recidiviz/tests/ingest/direct/regions/us_mo/fixtures/tak158_tak023_tak026_incarceration_period_from_incarceration_sentence.csv
  recidiviz/tests/ingest/direct/regions/us_mo/us_mo_controller_test.py
Due: generate_docs_for_region, generate_docs_for_endpoint

Adding assessment breakdown to supervision pipeline (Recidiviz/recidiviz-data#2767)
  recidiviz/calculator/pipeline/program/calculator.py
  recidiviz/calculator/pipeline/program/identifier.py
  recidiviz/calculator/pipeline/recidivism/calculator.py
  recidiviz/calculator/pipeline/supervision/calculator.py
  recidiviz/calculator/pipeline/supervision/identifier.py
  recidiviz/calculator/pipeline/supervision/metrics.py
  recidiviz/calculator/pipeline/supervision/pipeline.py
  recidiviz/calculator/pipeline/supervision/supervision_time_bucket.py
  recidiviz/calculator/pipeline/utils/calculator_utils.py
  recidiviz/tests/calculator/pipeline/program/calculator_test.py
  recidiviz/tests/calculator/pipeline/supervision/calculator_test.py
  recidiviz/tests/calculator/pipeline/supervision/identifier_test.py
  recidiviz/tests/calculator/pipeline/supervision/pipeline_test.py
  recidiviz/tests/calculator/pipeline/supervision/supervision_time_bucket_test.py
  recidiviz/tests/calculator/pipeline/utils/calculator_utils_test.py
Due: generate_docs_for_endpoint

Adding officer and district information to supervision population counts (Recidiviz/recidiviz-data#2768)
  recidiviz/calculator/pipeline/supervision/calculator.py
  recidiviz/calculator/pipeline/supervision/identifier.py
  recidiviz/calculator/pipeline/supervision/metrics.py
  recidiviz/calculator/pipeline/supervision/supervision_time_bucket.py
  recidiviz/tests/calculator/pipeline/supervision/calculator_test.py
  recidiviz/tests/calculator/pipeline/supervision/identifier_test.py
  recidiviz/tests/calculator/pipeline/supervision/pipeline_test.py
  recidiviz/tests/calculator/pipeline/supervision/supervision_time_bucket_test.py
Due: generate_docs_for_endpoint

Bringing fully hydrated violations to the pipeline (Recidiviz/recidiviz-data#2770)
  recidiviz/calculator/pipeline/incarceration/pipeline.py
  recidiviz/calculator/pipeline/program/pipeline.py
  recidiviz/calculator/pipeline/recidivism/identifier.py
  recidiviz/calculator/pipeline/recidivism/pipeline.py
  recidiviz/calculator/pipeline/supervision/identifier.py
  recidiviz/calculator/pipeline/supervision/pipeline.py
  recidiviz/calculator/pipeline/utils/calculator_utils.py
  recidiviz/calculator/pipeline/utils/entity_hydration_utils.py
  recidiviz/calculator/pipeline/utils/extractor_utils.py
  recidiviz/tests/calculator/pipeline/recidivism/pipeline_test.py
  recidiviz/tests/calculator/pipeline/supervision/pipeline_test.py
  recidiviz/tests/calculator/pipeline/utils/entity_hydration_utils_test.py
  recidiviz/tests/calculator/pipeline/utils/extractor_utils_test.py
Due: generate_docs_for_endpoint

Person-based metric period counts for program referrals (Recidiviz/recidiviz-data#2775)
  recidiviz/calculator/pipeline/program/calculator.py
  recidiviz/calculator/pipeline/program/identifier.py
  recidiviz/calculator/pipeline/program/metrics.py
  recidiviz/calculator/pipeline/program/program_event.py
  recidiviz/tests/calculator/calculator_test_utils.py
  recidiviz/tests/calculator/pipeline/program/calculator_test.py
  recidiviz/tests/calculator/pipeline/program/identifier_test.py
  recidiviz/tests/calculator/pipeline/program/pipeline_test.py
  recidiviz/tests/calculator/pipeline/program/program_event_test.py
  recidiviz/tests/calculator/pipeline/supervision/calculator_test.py
Due: generate_docs_for_endpoint

Person-based metric period counts for incarceration pipeline (Recidiviz/recidiviz-data#2776)
  recidiviz/calculator/pipeline/incarceration/calculator.py
  recidiviz/calculator/pipeline/incarceration/identifier.py
  recidiviz/calculator/pipeline/incarceration/incarceration_event.py
  recidiviz/calculator/pipeline/incarceration/metrics.py
  recidiviz/calculator/pipeline/program/calculator.py
  recidiviz/calculator/pipeline/utils/calculator_utils.py
  recidiviz/tests/calculator/pipeline/incarceration/calculator_test.py
  recidiviz/tests/calculator/pipeline/incarceration/identifier_test.py
  recidiviz/tests/calculator/pipeline/incarceration/incarceration_event_test.py
  recidiviz/tests/calculator/pipeline/incarceration/pipeline_test.py
  recidiviz/tests/calculator/pipeline/program/calculator_test.py
  recidiviz/tests/calculator/pipeline/utils/calculator_utils_test.py
Due: generate_docs_for_endpoint

Adds metric periods to the supervision pipeline (Recidiviz/recidiviz-data#2777)
  recidiviz/calculator/pipeline/supervision/calculator.py
  recidiviz/calculator/pipeline/supervision/identifier.py
  recidiviz/calculator/pipeline/supervision/metrics.py
  recidiviz/calculator/pipeline/utils/calculator_utils.py
  recidiviz/tests/calculator/pipeline/supervision/calculator_test.py
  recidiviz/tests/calculator/pipeline/supervision/identifier_test.py
Due: generate_docs_for_endpoint

Fix for correct buckets for relevant metric periods (Recidiviz/recidiviz-data#2780)
  recidiviz/calculator/pipeline/supervision/calculator.py
  recidiviz/tests/calculator/pipeline/supervision/calculator_test.py
Due: generate_docs_for_endpoint

query, enums, and parsing for oras assessments (Recidiviz/recidiviz-data#2778)
  recidiviz/common/constants/state/enum_canonical_strings.py
  recidiviz/common/constants/state/state_assessment.py
  recidiviz/ingest/direct/regions/us_mo/us_mo_constants.py
  recidiviz/ingest/direct/regions/us_mo/us_mo_controller.py
  recidiviz/ingest/direct/regions/us_mo/us_mo_oras_assessments_weekly.yaml
  recidiviz/ingest/direct/regions/us_mo/us_mo_sql_queries.py
  recidiviz/persistence/database/migrations/state/versions/2020_01_16_1928_0f5f1cca93e6_add_oras_assessment_types_and_levels.py
  recidiviz/persistence/database/schema/state/schema.py
  recidiviz/tests/ingest/direct/regions/us_mo/fixtures/oras_assessments_weekly.csv
  recidiviz/tests/ingest/direct/regions/us_mo/us_mo_controller_test.py
Due: generate_docs_for_region, generate_docs_for_endpoint, generate_entity_documentation

Add comma to enum overrides to correctly parse (Recidiviz/recidiviz-data#2781)
  recidiviz/ingest/direct/regions/us_mo/us_mo_controller.py
  recidiviz/tests/ingest/direct/regions/us_mo/fixtures/oras_assessments_weekly.csv
  recidiviz/tests/ingest/direct/regions/us_mo/us_mo_controller_test.py
Due: generate_docs_for_region, generate_docs_for_endpoint

Assessment score change Dataflow implementation (Recidiviz/recidiviz-data#2779)
  recidiviz/calculator/pipeline/program/calculator.py
  recidiviz/calculator/pipeline/program/identifier.py
  recidiviz/calculator/pipeline/supervision/calculator.py
  recidiviz/calculator/pipeline/supervision/identifier.py
  recidiviz/calculator/pipeline/supervision/metrics.py
  recidiviz/calculator/pipeline/supervision/pipeline.py
  recidiviz/calculator/pipeline/supervision/supervision_time_bucket.py
  recidiviz/calculator/pipeline/utils/assessment_utils.py
  recidiviz/calculator/pipeline/utils/beam_utils.py
  recidiviz/calculator/pipeline/utils/calculator_utils.py
  recidiviz/tests/calculator/pipeline/supervision/calculator_test.py
  recidiviz/tests/calculator/pipeline/supervision/identifier_test.py
  recidiviz/tests/calculator/pipeline/supervision/pipeline_test.py
  recidiviz/tests/calculator/pipeline/utils/assessment_utils_test.py
  recidiviz/tests/calculator/pipeline/utils/calculator_utils_test.py
Due: generate_docs_for_endpoint

Add new date fields to sentences and supervision_site to StateSupervisionPeriod (Recidiviz/recidiviz-data#2783)
  recidiviz/ingest/direct/regions/us_mo/us_mo_constants.py
  recidiviz/ingest/direct/regions/us_mo/us_mo_controller.py
  recidiviz/ingest/direct/regions/us_mo/us_mo_tak022_tak023_tak025_tak026_offender_sentence_institution.yaml
  recidiviz/ingest/direct/regions/us_mo/us_mo_tak022_tak024_tak025_tak026_offender_sentence_probation.yaml
  recidiviz/ingest/direct/regions/us_nd/us_nd_elite_offendersentences.yaml
  recidiviz/ingest/models/ingest_info.proto
  recidiviz/ingest/models/ingest_info.py
  recidiviz/ingest/models/ingest_info_pb2.py
  recidiviz/ingest/models/ingest_info_pb2.pyi
  recidiviz/persistence/database/migrations/state/versions/2020_01_17_1657_035c280cf168_supervision_date_and_site.py
  recidiviz/persistence/database/schema/state/schema.py
  recidiviz/persistence/entity/state/entities.py
  recidiviz/persistence/ingest_info_converter/state/entity_helpers/state_incarceration_sentence.py
  recidiviz/persistence/ingest_info_converter/state/entity_helpers/state_supervision_period.py
  recidiviz/persistence/ingest_info_converter/state/entity_helpers/state_supervision_sentence.py
  recidiviz/tests/ingest/direct/regions/us_mo/us_mo_controller_test.py
  recidiviz/tests/ingest/direct/regions/us_nd/us_nd_controller_test.py
  recidiviz/tests/persistence/ingest_info_converter/state/entity_helpers/state_incarceration_sentence_test.py
  recidiviz/tests/persistence/ingest_info_converter/state/entity_helpers/state_supervision_period_test.py
  recidiviz/tests/persistence/ingest_info_converter/state/entity_helpers/state_supervision_sentence_test.py
Due: generate_docs_for_region, generate_docs_for_endpoint, generate_entity_documentation

Update MO sentence queries to properly grab max sentence status/date and hydrate completion_date (Recidiviz/recidiviz-data#2784)
  recidiviz/ingest/direct/regions/us_mo/us_mo_constants.py
  recidiviz/ingest/direct/regions/us_mo/us_mo_controller.py
  recidiviz/ingest/direct/regions/us_mo/us_mo_sql_queries.py
  recidiviz/ingest/direct/regions/us_mo/us_mo_tak022_tak023_tak025_tak026_offender_sentence_institution.yaml
  recidiviz/ingest/direct/regions/us_mo/us_mo_tak022_tak024_tak025_tak026_offender_sentence_probation.yaml
  recidiviz/tests/ingest/direct/regions/us_mo/fixtures/tak022_tak023_tak025_tak026_offender_sentence_institution.csv
  recidiviz/tests/ingest/direct/regions/us_mo/fixtures/tak022_tak024_tak025_tak026_offender_sentence_probation.csv
  recidiviz/tests/ingest/direct/regions/us_mo/us_mo_controller_test.py
Due: generate_docs_for_region, generate_docs_for_endpoint

Reorder period file ingestion order to enable cleaner refactor later (Recidiviz/recidiviz-data#2785)
  recidiviz/ingest/direct/regions/us_mo/us_mo_controller.py
  recidiviz/tests/ingest/direct/regions/us_mo/us_mo_controller_test.py
Due: generate_docs_for_region, generate_docs_for_endpoint

Entity matching post-processing helpers for MO supervision period mig… (Recidiviz/recidiviz-data#2790)
  recidiviz/persistence/entity_matching/state/us_mo/us_mo_matching_utils.py
  recidiviz/tests/persistence/entity_matching/state/us_mo/us_mo_matching_utils_test.py
Due: generate_docs_for_endpoint

schema and converter changes for StateSupervisionCaseTypeEntry entity (Recidiviz/recidiviz-data#2789)
  recidiviz/common/constants/state/enum_canonical_strings.py
  recidiviz/common/constants/state/state_case_type.py
  recidiviz/ingest/models/ingest_info.proto
  recidiviz/ingest/models/ingest_info.py
  recidiviz/ingest/models/ingest_info_pb2.py
  recidiviz/ingest/models/ingest_info_pb2.pyi
  recidiviz/ingest/scrape/ingest_utils.py
  recidiviz/persistence/database/migrations/state/versions/2020_01_22_1439_f46dbfb393e8_add_supervision_case_type_entry.py
  recidiviz/persistence/database/schema/state/schema.py
  recidiviz/persistence/entity/entity_utils.py
  recidiviz/persistence/entity/state/entities.py
  recidiviz/persistence/ingest_info_converter/state/entity_helpers/state_supervision_case_type_entry.py
  recidiviz/tests/calculator/pipeline/utils/extractor_utils_test.py
  recidiviz/tests/ingest/models/ingest_info_test.py
  recidiviz/tests/ingest/scrape/ingest_utils_test.py
  recidiviz/tests/persistence/database/database_test_utils.py
  recidiviz/tests/persistence/database/schema/state/schema_test.py
  recidiviz/tests/persistence/database/schema_utils_test.py
  recidiviz/tests/persistence/entity/state/entities_test_utils.py
  recidiviz/tests/persistence/ingest_info_converter/state/entity_helpers/state_supervision_case_type_entry_test.py
Due: generate_docs_for_endpoint, generate_entity_documentation

Test helpers for easier integration test debugging (Recidiviz/recidiviz-data#2793)
  recidiviz/persistence/entity/entity_utils.py
  recidiviz/tests/ingest/direct/regions/base_state_direct_ingest_controller_tests.py
  recidiviz/tests/persistence/entity/state/entities_test_utils.py
  recidiviz/tests/persistence/entity_matching/state/base_state_entity_matcher_test.py
  recidiviz/tests/utils/test_utils.py
Due: generate_docs_for_endpoint

Some test fixture date updates to prepare for migration to TAK034 change (Recidiviz/recidiviz-data#2797)
  recidiviz/tests/ingest/direct/regions/us_mo/fixtures/tak022_tak023_tak025_tak026_offender_sentence_institution.csv
  recidiviz/tests/ingest/direct/regions/us_mo/fixtures/tak022_tak024_tak025_tak026_offender_sentence_probation.csv
  recidiviz/tests/ingest/direct/regions/us_mo/fixtures/tak028_tak042_tak076_tak024_violation_reports.csv
  recidiviz/tests/ingest/direct/regions/us_mo/fixtures/tak158_tak023_tak026_incarceration_period_from_incarceration_sentence.csv
  recidiviz/tests/ingest/direct/regions/us_mo/fixtures/tak158_tak023_tak026_supervision_period_from_incarceration_sentence.csv
  recidiviz/tests/ingest/direct/regions/us_mo/fixtures/tak158_tak024_tak026_incarceration_period_from_supervision_sentence.csv
  recidiviz/tests/ingest/direct/regions/us_mo/fixtures/tak291_tak292_tak024_citations.csv
  recidiviz/tests/ingest/direct/regions/us_mo/us_mo_controller_test.py
Due: generate_docs_for_endpoint

MO supervision period -> sentence date matching bugfixing (Recidiviz/recidiviz-data#2799)
  recidiviz/persistence/entity_matching/state/us_mo/us_mo_matching_utils.py
  recidiviz/tests/ingest/direct/regions/base_state_direct_ingest_controller_tests.py
  recidiviz/tests/persistence/entity_matching/state/us_mo/us_mo_matching_utils_test.py
  recidiviz/tests/utils/test_utils.py
Due: generate_docs_for_endpoint

Add TRANSFER supervision period enum values + more tests (Recidiviz/recidiviz-data#2801)
  recidiviz/common/constants/state/enum_canonical_strings.py
  recidiviz/common/constants/state/state_agent.py
  recidiviz/common/constants/state/state_assessment.py
  recidiviz/common/constants/state/state_charge.py
  recidiviz/common/constants/state/state_court_case.py
  recidiviz/common/constants/state/state_fine.py
  recidiviz/common/constants/state/state_incarceration_incident.py
  recidiviz/common/constants/state/state_incarceration_period.py
  recidiviz/common/constants/state/state_parole_decision.py
  recidiviz/common/constants/state/state_program_assignment.py
  recidiviz/common/constants/state/state_sentence.py
  recidiviz/common/constants/state/state_supervision.py
  recidiviz/common/constants/state/state_supervision_period.py
  recidiviz/common/constants/state/state_supervision_violation_response.py
  recidiviz/persistence/database/migrations/state/versions/2020_01_24_2004_1b4d14ad4a70_supervision_period_transfer_reasons.py
  recidiviz/persistence/database/schema/state/schema.py
  recidiviz/tests/common/constants/state/__init__.py
  recidiviz/tests/common/constants/state/state_enums_test.py
Due: generate_docs_for_endpoint, generate_entity_documentation

Direct ingest test option to prune dangling placeholders (Recidiviz/recidiviz-data#2803)
  recidiviz/persistence/entity/entity_utils.py
  recidiviz/tests/ingest/direct/regions/base_state_direct_ingest_controller_tests.py
  recidiviz/tests/ingest/direct/regions/us_mo/us_mo_controller_test.py
  recidiviz/tests/persistence/entity/entity_utils_test.py
Due: generate_docs_for_endpoint

Adds a non-null check as it is possible for gender=null to query view (Recidiviz/recidiviz-data#2807)
  recidiviz/calculator/query/state/views/program_evaluation/us_nd/ftr_referrals_by_gender_60_days.py
  recidiviz/calculator/query/state/views/supervision/supervision_population_by_gender_60_days.py
Due: generate_docs_for_endpoint

Use TAK034 Field Assignments table to derive MO supervision periods (Recidiviz/recidiviz-data#2787)
  recidiviz/ingest/direct/regions/us_mo/us_mo_apfx90_apfx91_tak034_current_po_assignments.yaml
  recidiviz/ingest/direct/regions/us_mo/us_mo_constants.py
  recidiviz/ingest/direct/regions/us_mo/us_mo_controller.py
  recidiviz/ingest/direct/regions/us_mo/us_mo_sql_queries.py
  recidiviz/ingest/direct/regions/us_mo/us_mo_tak034_tak026_apfx90_apfx91_supervision_enhancements_supervision_periods.yaml
  recidiviz/ingest/direct/regions/us_mo/us_mo_tak158_tak023_tak026_supervision_period_from_incarceration_sentence.yaml
  recidiviz/ingest/direct/regions/us_mo/us_mo_tak158_tak024_tak026_supervision_period_from_supervision_sentence.yaml
  recidiviz/persistence/entity_matching/state/us_mo/us_mo_matching_delegate.py
  recidiviz/tests/ingest/direct/regions/us_mo/fixtures/apfx90_apfx91_tak034_current_po_assignments.csv
  recidiviz/tests/ingest/direct/regions/us_mo/fixtures/tak028_tak042_tak076_tak024_violation_reports.csv
  recidiviz/tests/ingest/direct/regions/us_mo/fixtures/tak034_tak026_apfx90_apfx91_supervision_enhancements_supervision_periods.csv
  recidiviz/tests/ingest/direct/regions/us_mo/fixtures/tak158_tak024_tak026_supervision_period_from_supervision_sentence.csv
  recidiviz/tests/ingest/direct/regions/us_mo/us_mo_controller_test.py
  recidiviz/tests/persistence/entity_matching/state/us_mo/us_mo_entity_matcher_test.py
Due: generate_docs_for_region, generate_docs_for_endpoint

Fail deploy scripts if jq is not installed (Recidiviz/recidiviz-data#2809)
  README.md
  recidiviz/tools/deploy_pipeline_from_yaml.sh
Due: generate_docs_for_endpoint

controller and entity matching changes fof parsing case type (Recidiviz/recidiviz-data#2792)
  recidiviz/ingest/direct/regions/us_mo/us_mo_controller.py
  recidiviz/ingest/direct/regions/us_mo/us_mo_tak034_tak026_apfx90_apfx91_supervision_enhancements_supervision_periods.yaml
  recidiviz/persistence/entity_matching/state/state_matching_utils.py
  recidiviz/persistence/ingest_info_converter/state/entity_helpers/state_supervision_case_type_entry.py
  recidiviz/persistence/ingest_info_converter/state/state_converter.py
  recidiviz/tests/ingest/direct/regions/us_mo/us_mo_controller_test.py
  recidiviz/tests/persistence/database/schema/state/schema_test_utils.py
  recidiviz/tests/persistence/entity_matching/state/state_entity_matcher_test.py
  recidiviz/tests/persistence/ingest_info_converter/state/entity_helpers/state_supervision_case_type_entry_test.py
  recidiviz/tests/persistence/ingest_info_converter/state/state_converter_test.py
Due: generate_docs_for_region, generate_docs_for_endpoint

Add county as dimension to incarceration and recidivism pipelines (Recidiviz/recidiviz-data#2810)
  recidiviz/calculator/pipeline/incarceration/calculator.py
  recidiviz/calculator/pipeline/incarceration/identifier.py
  recidiviz/calculator/pipeline/incarceration/incarceration_event.py
  recidiviz/calculator/pipeline/incarceration/metrics.py
  recidiviz/calculator/pipeline/incarceration/pipeline.py
  recidiviz/calculator/pipeline/recidivism/calculator.py
  recidiviz/calculator/pipeline/recidivism/identifier.py
  recidiviz/calculator/pipeline/recidivism/metrics.py
  recidiviz/calculator/pipeline/recidivism/pipeline.py
  recidiviz/calculator/pipeline/recidivism/release_event.py
  recidiviz/tests/calculator/pipeline/incarceration/calculator_test.py
  recidiviz/tests/calculator/pipeline/incarceration/identifier_test.py
  recidiviz/tests/calculator/pipeline/incarceration/incarceration_event_test.py
  recidiviz/tests/calculator/pipeline/incarceration/pipeline_test.py
  recidiviz/tests/calculator/pipeline/recidivism/calculator_test.py
  recidiviz/tests/calculator/pipeline/recidivism/identifier_test.py
  recidiviz/tests/calculator/pipeline/recidivism/pipeline_test.py
  recidiviz/tests/calculator/pipeline/recidivism/release_event_test.py
Due: generate_docs_for_endpoint

Change pylint line length limit to 120 characters (Recidiviz/recidiviz-data#2813)
  .pylintrc
  recidiviz/calculator/query/county/views/charges/charge_class_severity_ranks.py
  recidiviz/calculator/query/county/views/charges/charge_severity_all_bookings.py
  recidiviz/calculator/query/county/views/charges/charge_severity_counts_all_bookings.py
  recidiviz/calculator/query/county/views/population/jail_pop_and_resident_pop.py
  recidiviz/calculator/query/county/views/population/population_admissions_releases.py
  recidiviz/calculator/query/county/views/population/population_admissions_releases_race_gender.py
  recidiviz/calculator/query/county/views/population/population_admissions_releases_race_gender_all.py
  recidiviz/calculator/query/county/views/population/population_views.py
  recidiviz/calculator/query/county/views/population/resident_population_counts.py
  recidiviz/calculator/query/county/views/stitch/combined_stitch.py
  recidiviz/calculator/query/county/views/stitch/combined_stitch_drop_overlapping.py
  recidiviz/calculator/query/state/views/reference/incarceration_releases_deduped.py
  recidiviz/calculator/query/state/views/reference/persons_with_age.py
  recidiviz/calculator/query/state/views/reference/reference_views.py
  recidiviz/common/constants/state/state_incarceration_period.py
  recidiviz/common/constants/state/state_supervision_violation_response.py
  recidiviz/ingest/direct/regions/us_mo/us_mo_controller.py
  recidiviz/ingest/scrape/ingest_utils.py
  recidiviz/persistence/database/history/county/historical_snapshot_updater.py
  recidiviz/persistence/database/schema/county/schema.py
  recidiviz/persistence/database/schema/state/schema.py
  recidiviz/persistence/ingest_info_converter/state/state_converter.py
  recidiviz/tests/calculator/pipeline/program/calculator_test.py
  recidiviz/tests/calculator/pipeline/recidivism/calculator_test.py
  recidiviz/tests/calculator/pipeline/supervision/calculator_test.py
  recidiviz/tests/calculator/pipeline/supervision/identifier_test.py
  recidiviz/tests/calculator/pipeline/utils/dataflow_monitor_manager_test.py
  recidiviz/tests/calculator/pipeline/utils/incarceration_period_utils_test.py
  recidiviz/tests/calculator/query/cloudsql_export_test.py
  recidiviz/tests/calculator/query/export_manager_test.py
  recidiviz/tests/calculator/query/state/dashboard_export_manager_test.py
  recidiviz/tests/calculator/query/state/view_manager_test.py
  recidiviz/tests/ingest/direct/regions/us_mo/us_mo_controller_test.py
  recidiviz/tests/persistence/entity_matching/state/us_mo/us_mo_entity_matcher_test.py
Due: generate_docs_for_region, generate_docs_for_endpoint, generate_entity_documentation

Metric type and state specific supervision pipeline calculations (Recidiviz/recidiviz-data#2811)
  recidiviz/calculator/pipeline/supervision/calculator.py
  recidiviz/calculator/pipeline/supervision/identifier.py
  recidiviz/calculator/pipeline/supervision/pipeline.py
  recidiviz/tests/calculator/pipeline/supervision/calculator_test.py
  recidiviz/tests/calculator/pipeline/supervision/identifier_test.py
  recidiviz/tests/calculator/pipeline/supervision/pipeline_test.py
Due: generate_docs_for_endpoint

MoM incarceration population metric (Recidiviz/recidiviz-data#2808)
  recidiviz/calculator/pipeline/incarceration/calculator.py
  recidiviz/calculator/pipeline/incarceration/identifier.py
  recidiviz/calculator/pipeline/incarceration/incarceration_event.py
  recidiviz/calculator/pipeline/incarceration/metrics.py
  recidiviz/calculator/pipeline/incarceration/pipeline.py
  recidiviz/calculator/pipeline/utils/incarceration_period_utils.py
  recidiviz/tests/calculator/pipeline/incarceration/calculator_test.py
  recidiviz/tests/calculator/pipeline/incarceration/identifier_test.py
  recidiviz/tests/calculator/pipeline/incarceration/pipeline_test.py
Due: generate_docs_for_endpoint

Supervision metric periods for success and assessment metrics (Recidiviz/recidiviz-data#2812)
  recidiviz/calculator/pipeline/supervision/calculator.py
  recidiviz/tests/calculator/pipeline/supervision/calculator_test.py
Due: generate_docs_for_endpoint

Fix bug where we 400 when files are uploaded to a bucket for an unlaunched region (Recidiviz/recidiviz-data#2815)
  recidiviz/ingest/direct/controllers/base_direct_ingest_controller.py
  recidiviz/ingest/direct/direct_ingest_control.py
  recidiviz/ingest/direct/direct_ingest_controller_utils.py
  recidiviz/ingest/direct/errors.py
  recidiviz/tests/ingest/direct/direct_ingest_control_test.py
Due: generate_docs_for_endpoint

Remove admissions_by_type_by_* view agg (Recidiviz/recidiviz-data#2816)
  recidiviz/calculator/query/state/views/admissions/admissions_by_type_by_month.py
  recidiviz/calculator/query/state/views/admissions/admissions_by_type_by_period.py
Due: generate_docs_for_endpoint

Reincarceration count with metric period months (Recidiviz/recidiviz-data#2817)
  recidiviz/calculator/pipeline/recidivism/calculator.py
  recidiviz/calculator/pipeline/recidivism/metrics.py
  recidiviz/tests/calculator/pipeline/recidivism/calculator_test.py
  recidiviz/tests/calculator/pipeline/recidivism/pipeline_test.py
Due: generate_docs_for_endpoint

Path conditions:
  generate_docs_for_region: any of: ^recidiviz/ingest/direct/regions/
  generate_docs_for_endpoint: any of: ^recidiviz/, but not: (?x)(^recidiviz/tests/|^recidiviz/tools/|^recidiviz/ingest/direct/regions/)$

  generate_entity_documentation: any of: (?x)(^recidiviz/persistence/database/schema/state/schema.py|^recidiviz/persistence/database/schema/history_table_shared_columns_mixin.py)$

