Repository Recidiviz/pulse-data: changes, and which pre-commit hooks are due for each by the changed paths.
All: generate_docs_for_region, generate_docs_for_endpoint, generate_entity_documentation

generate_docs_for_region:
  name: generate_docs_for_region
  entry: pipenv run python -m recidiviz.tools.docs.region_documentation_generator
  language: system
  require_serial: true

generate_docs_for_endpoint:
  name: generate_docs_for_endpoint
  entry: pipenv run python -m recidiviz.tools.docs.endpoint_documentation_generator
  language: system
  require_serial: true

generate_entity_documentation:
  name: generate_entity_documentation
  entry: pipenv run python -m recidiviz.tools.docs.entity_documentation_generator
  language: system
  require_serial: true

[Testing] Enforce that ingest view test names match fixture names (Recidiviz/recidiviz-data#27745)
  recidiviz/tests/ingest/direct/regions/ingest_view_query_test_case.py
Due: generate_docs_for_endpoint

[IID Cleanup] Remove schema_type() function from ingest view parser tests (Recidiviz/recidiviz-data#27786)
  recidiviz/entrypoints/ingest/ingest_pipeline_should_run_in_dag.py
  recidiviz/ingest/direct/ingest_mappings/ingest_view_manifest_compiler_delegate.py
  recidiviz/pipelines/dataflow_output_table_manager.py
  recidiviz/pipelines/ingest/state/pipeline.py
  recidiviz/tests/ingest/direct/ingest_mappings/ingest_view_manifest_collector_test.py
  recidiviz/tests/ingest/direct/regions/direct_ingest_region_structure_test.py
  recidiviz/tests/ingest/direct/regions/state_ingest_view_parser_test_base.py
  recidiviz/tests/ingest/direct/templates/us_xx/us_xx_ingest_view_parser_test.py
  recidiviz/tests/pipelines/ingest/state/exemptions_test.py
  recidiviz/tests/pipelines/ingest/state/generate_entities_test.py
  recidiviz/tests/pipelines/ingest/state/test_case.py
  recidiviz/tools/ingest/development/run_mappings_against_ingest_view_results.py
  recidiviz/tools/ingest/development/run_sandbox_ingest_pipeline.py
  recidiviz/tools/ingest/operations/ingest_stability_check.py
Due: generate_docs_for_endpoint

[US_MI][Workflows] Fix date parsing for scc reviews (Recidiviz/recidiviz-data#27781)
  recidiviz/calculator/query/state/views/analyst_data/us_mi/us_mi_security_classification_committee_review.py
Due: generate_docs_for_endpoint

[IID Cleanup] Remove results_update_datetime mappings env property (Recidiviz/recidiviz-data#27787)
  recidiviz/ingest/direct/ingest_mappings/ingest_view_contents_context.py
  recidiviz/ingest/direct/ingest_mappings/ingest_view_manifest_compiler_delegate.py
  recidiviz/pipelines/ingest/state/generate_entities.py
  recidiviz/tests/ingest/direct/regions/direct_ingest_region_structure_test.py
  recidiviz/tests/ingest/direct/regions/state_ingest_view_parser_test_base.py
  recidiviz/tests/pipelines/ingest/state/merge_ingest_view_root_entity_trees_test.py
  recidiviz/tests/pipelines/ingest/state/test_case.py
  recidiviz/tools/ingest/development/run_mappings_against_ingest_view_results.py
Due: generate_docs_for_endpoint

[Workflows][US_OR] Add OR officers to suprvision staff record (Recidiviz/recidiviz-data#27803)
  recidiviz/calculator/query/state/views/workflows/firestore/supervision_staff_record.py
Due: generate_docs_for_endpoint

[US_PA][POD][Workflows] Administrative Supervision Workflow (Recidiviz/recidiviz-data#27631)
  recidiviz/calculator/query/state/views/workflows/firestore/firestore_views.py
  recidiviz/calculator/query/state/views/workflows/firestore/us_pa_transfer_to_administrative_supervision_form_record.py
  recidiviz/task_eligibility/criteria/state_specific/us_pa/fulfilled_requirements.py
  recidiviz/task_eligibility/criteria/state_specific/us_pa/no_high_sanctions_in_past_year.py
  recidiviz/task_eligibility/criteria/state_specific/us_pa/not_serving_ineligible_as_offense.py
  recidiviz/task_eligibility/eligibility_spans/us_pa/complete_transfer_to_administrative_supervision_request.py
Due: generate_docs_for_endpoint

[Testing] Enforce stricter ingest view test fixtures cleanup (Recidiviz/recidiviz-data#27777)
  recidiviz/tests/ingest/direct/fixture_util.py
  recidiviz/tests/ingest/direct/fixture_util_test.py
  recidiviz/tests/ingest/direct/regions/direct_ingest_region_structure_test.py
  recidiviz/tests/ingest/direct/regions/ingest_view_query_test_case.py
  recidiviz/tests/ingest/direct/regions/region_direct_ingest_controller_test_case.py
  recidiviz/tests/ingest/direct/regions/state_ingest_view_parser_test_base.py
  recidiviz/tests/pipelines/ingest/state/test_case.py
  recidiviz/tools/ingest/testing/raw_data_fixtures_generator.py
Due: generate_docs_for_endpoint

[US_CA] Fix duplicate officers in Staff (Recidiviz/recidiviz-data#27775)
  recidiviz/ingest/direct/regions/us_ca/ingest_views/view_staff.py
  recidiviz/pipelines/ingest/state/exemptions.py
Due: generate_docs_for_region, generate_docs_for_endpoint

[BigQuery Emulator] Bump to `v0.4.4-recidiviz.3` (Recidiviz/recidiviz-data#27711)
  .github/workflows/ci.yml
  Pipfile
  recidiviz/tests/big_query/big_query_emulator_test_case.py
Due: generate_docs_for_endpoint

Revert "[US_PA][POD][Workflows] Administrative Supervision Workflow (Recidiviz/recidiviz-data#27631)" (Recidiviz/recidiviz-data#27808)
  recidiviz/calculator/query/state/views/workflows/firestore/firestore_views.py
  recidiviz/calculator/query/state/views/workflows/firestore/us_pa_transfer_to_administrative_supervision_form_record.py
  recidiviz/task_eligibility/criteria/state_specific/us_pa/fulfilled_requirements.py
  recidiviz/task_eligibility/criteria/state_specific/us_pa/no_high_sanctions_in_past_year.py
  recidiviz/task_eligibility/criteria/state_specific/us_pa/not_serving_ineligible_as_offense.py
  recidiviz/task_eligibility/criteria/state_specific/us_tn/no_high_sanctions_in_past_year.py
  recidiviz/task_eligibility/eligibility_spans/us_pa/complete_transfer_to_administrative_supervision_request.py
Due: generate_docs_for_endpoint

[US_ID][JII] Prepare send_id_lsu_texts.py script for trusted tester launch (Recidiviz/recidiviz-data#27805)
  recidiviz/case_triage/jii/send_id_lsu_texts.py
Due: generate_docs_for_endpoint

[BQ Emulator] Migrate most `US_OR` and `US_TN` ingest view tests to emulator (Recidiviz/recidiviz-data#27465)
  recidiviz/tests/big_query/big_query_test_helper.py
Due: generate_docs_for_endpoint

[Bugfix] Update name of PRIMARY ingest jobs (Recidiviz/recidiviz-data#27806)
  recidiviz/airflow/dags/ingest/single_ingest_pipeline_group.py
  recidiviz/pipelines/ingest/pipeline_utils.py
  recidiviz/tests/admin_panel/ingest_dataflow_operations_test.py
  recidiviz/tests/admin_panel/ingest_operations_store_test.py
  recidiviz/tests/admin_panel/routes/ingest_ops_test.py
  recidiviz/tests/pipelines/ingest/pipeline_utils_test.py
  recidiviz/tools/ingest/development/run_sandbox_ingest_pipeline.py
Due: generate_docs_for_endpoint

[IID Cleanup] Rename all us_xx_controller_test.py files to us_xx_pipeline_integration_test.py (Recidiviz/recidiviz-data#27809)
  recidiviz/tests/ingest/direct/metadata/direct_ingest_instance_status_manager_test.py
  recidiviz/tests/ingest/direct/regions/state_specific_ingest_pipeline_integration_test_case.py
  recidiviz/tests/ingest/direct/templates/us_xx/us_xx_pipeline_integration_test.py
  recidiviz/tests/persistence/entity_matching/root_entity_update_merger_test.py
Due: generate_docs_for_endpoint

[Bugfix] Fix pylint on main (Recidiviz/recidiviz-data#27831)
  recidiviz/ingest/direct/direct_ingest_cloud_task_queue_manager.py
  recidiviz/persistence/database/schema_utils.py
  recidiviz/pipelines/metrics/base_metric_pipeline.py
  recidiviz/tools/lint/run_pylint.sh
  recidiviz/tools/utils/script_helpers.py
  recidiviz/utils/csv.py
Due: generate_docs_for_endpoint

[Autogenerated] Update Pipfile.lock (Recidiviz/recidiviz-data#27819)
  Pipfile.lock
Due: none

[US_PA] Adding a fix to indeterminacy in doc_person_info (Recidiviz/recidiviz-data#27612)
  recidiviz/ingest/direct/regions/us_pa/ingest_views/view_doc_person_info.py
Due: generate_docs_for_region, generate_docs_for_endpoint

[US_MI][Workflows] Remove zero day detention designation spans (Recidiviz/recidiviz-data#27804)
  recidiviz/task_eligibility/criteria/state_specific/us_mi/detention_sanction_timeframe_has_expired.py
Due: generate_docs_for_endpoint

[US_AZ/US_ND] Changing datetime parsers to use %I in conjunction with %p (Recidiviz/recidiviz-data#27478)
  recidiviz/ingest/direct/regions/us_az/ingest_views/view_state_person.py
  recidiviz/ingest/direct/regions/us_az/raw_data/us_az_AZ_DOC_INMATE_TRAFFIC_HISTORY.yaml
  recidiviz/ingest/direct/regions/us_az/raw_data/us_az_AZ_DOC_LOCATOR_CODE.yaml
  recidiviz/ingest/direct/regions/us_az/raw_data/us_az_DEMOGRAPHICS.yaml
  recidiviz/ingest/direct/regions/us_az/raw_data/us_az_OCCUPANCY.yaml
  recidiviz/ingest/direct/regions/us_nd/raw_data/us_nd_docstars_offenders.yaml
  recidiviz/ingest/direct/regions/us_nd/raw_data/us_nd_elite_externalmovements.yaml
  recidiviz/ingest/direct/regions/us_nd/raw_data/us_nd_elite_offender_medical_screenings_6i.yaml
  recidiviz/ingest/direct/regions/us_nd/raw_data/us_nd_elite_offendersentenceaggs.yaml
  recidiviz/ingest/direct/regions/us_nd/raw_data/us_nd_recidiviz_elite_OffenderAssessments.yaml
Due: generate_docs_for_region, generate_docs_for_endpoint

[US_IX] Pull case type into details in us_ix_supervision_tasks_record (Recidiviz/recidiviz-data#27793)
  recidiviz/calculator/query/state/views/workflows/firestore/us_ix_supervision_tasks_record.py
Due: generate_docs_for_endpoint

[US_OR] Update `statute_eligible` criterion (Recidiviz/recidiviz-data#27413)
  recidiviz/calculator/query/state/views/analyst_data/us_or/us_or_statute_eligible.py
  recidiviz/task_eligibility/utils/us_or_query_fragments.py
Due: generate_docs_for_endpoint

[US_ND] Map state work release programs in county jails to `state_incarceration_type.STATE_PRISON` (Recidiviz/recidiviz-data#27844)
  recidiviz/ingest/direct/regions/us_nd/ingest_mappings/us_nd_elite_movements_incarceration_periods.yaml
  recidiviz/ingest/direct/regions/us_nd/us_nd_custom_enum_parsers.py
Due: generate_docs_for_region, generate_docs_for_endpoint

[US_CA] Added new concat value for supervision location in supervision period (Recidiviz/recidiviz-data#27614)
  recidiviz/calculator/query/state/views/reference/location_metadata/us_ca_location_metadata.py
  recidiviz/ingest/direct/regions/us_ca/ingest_mappings/us_ca_supervision_period.yaml
  recidiviz/ingest/direct/regions/us_ca/ingest_views/view_supervision_period.py
Due: generate_docs_for_region, generate_docs_for_endpoint

[US_CA] Added fix to location_metadata_human_readable_metadata_name (Recidiviz/recidiviz-data#27374)
  recidiviz/calculator/query/state/views/reference/location_metadata/us_ca_location_metadata.py
Due: generate_docs_for_endpoint

[US_ND] Add ND to work_release_sessions (Recidiviz/recidiviz-data#27751)
  recidiviz/calculator/query/state/views/sessions/sessions_views.py
  recidiviz/calculator/query/state/views/sessions/us_nd/us_nd_work_release_sessions_preprocessing.py
  recidiviz/calculator/query/state/views/sessions/work_release_sessions.py
Due: generate_docs_for_endpoint

[US_OR] Changing Post Prison to Parole supervision type (Recidiviz/recidiviz-data#27790)
  recidiviz/ingest/direct/regions/us_or/ingest_mappings/us_or_Supervision_Period.yaml
Due: generate_docs_for_region, generate_docs_for_endpoint

[US_ID][JII] Updated Text Copies for Trusted Tester Launch (Recidiviz/recidiviz-data#27850)
  recidiviz/case_triage/jii/helpers.py
  recidiviz/case_triage/jii/send_id_lsu_texts.py
Due: generate_docs_for_endpoint

[US_MI] Created custom parser that alerts when a new mcl code is observed (Recidiviz/recidiviz-data#22445)
  recidiviz/common/data_sets/MCLCodes.csv
  recidiviz/ingest/direct/regions/us_mi/ingest_mappings/us_mi_state_charge_v2.yaml
  recidiviz/ingest/direct/regions/us_mi/us_mi_custom_parsers.py
Due: generate_docs_for_region, generate_docs_for_endpoint

[US_OR] Adding PPS Sentence Length to sentence metadata for commuted sentences (Recidiviz/recidiviz-data#27863)
  recidiviz/ingest/direct/regions/us_or/ingest_mappings/us_or_Sentences.yaml
  recidiviz/ingest/direct/regions/us_or/ingest_views/view_Sentences.py
Due: generate_docs_for_region, generate_docs_for_endpoint

[US_ND] Fix to us_nd_work_release_sessions_preprocessing.py (Recidiviz/recidiviz-data#27889)
  recidiviz/calculator/query/state/views/sessions/us_nd/us_nd_work_release_sessions_preprocessing.py
Due: generate_docs_for_endpoint

[US_IX] Add new data config for ind_OffenderSecurityLevel (Recidiviz/recidiviz-data#27866)
  recidiviz/ingest/direct/regions/us_ix/raw_data/us_ix_ind_OffenderSecurityLevel.yaml
Due: generate_docs_for_region, generate_docs_for_endpoint

Revert "[US_MI] Created custom parser that alerts when a new mcl code is observed" (Recidiviz/recidiviz-data#27893)
  recidiviz/common/data_sets/MCLCodes.csv
  recidiviz/ingest/direct/regions/us_mi/ingest_mappings/us_mi_state_charge_v2.yaml
  recidiviz/ingest/direct/regions/us_mi/us_mi_custom_parsers.py
Due: generate_docs_for_region, generate_docs_for_endpoint

[US_MI][Workflows] Add scc form (Recidiviz/recidiviz-data#27874)
  recidiviz/calculator/query/state/views/workflows/firestore/firestore_views.py
  recidiviz/calculator/query/state/views/workflows/firestore/us_mi_complete_security_committee_classification_review_form_record.py
Due: generate_docs_for_endpoint

[Admin Panel][Insights] ConfigurationsTable (Recidiviz/recidiviz-data#27779)
  frontends/admin-panel/src/InsightsStore/InsightsStore.ts
  frontends/admin-panel/src/InsightsStore/__tests__/InsightsStore.test.ts
  frontends/admin-panel/src/InsightsStore/__tests__/__snapshots__/InsightsStore.test.ts.snap
  frontends/admin-panel/src/InsightsStore/models/fixtures/ConfigurationsFixture.ts
  frontends/admin-panel/src/InsightsStore/models/fixtures/StateCodeInfoFixture.ts
  frontends/admin-panel/src/InsightsStore/presenters/ConfigurationPresenter.ts
  frontends/admin-panel/src/components/Insights/AddConfigForm.tsx
  frontends/admin-panel/src/components/Insights/ConfigurationsTable.tsx
  frontends/admin-panel/src/components/Insights/InsightsConfigurationsView.tsx
  frontends/admin-panel/src/components/StoreProvider/StoreProvider.tsx
Due: none

[Bugfix] Fix issues with pipeline integration test debug flag (Recidiviz/recidiviz-data#27857)
  recidiviz/persistence/entity_matching/entity_merger_utils.py
  recidiviz/tests/ingest/direct/regions/state_specific_ingest_pipeline_integration_test_case.py
Due: generate_docs_for_endpoint

[US_IX] Fix enum parsing error (Recidiviz/recidiviz-data#27896)
  recidiviz/ingest/direct/regions/us_ix/ingest_mappings/us_ix_supervision_period.yaml
Due: generate_docs_for_region, generate_docs_for_endpoint

Remove recidiviz_users_to_delete_from_analytics view (Recidiviz/recidiviz-data#27862)
  recidiviz/calculator/query/state/views/workflows/adhoc/recidiviz_users_to_delete_from_analytics.py
  recidiviz/calculator/query/state/views/workflows/workflows_views.py
  recidiviz/tools/find_unused_bq_views.py
Due: generate_docs_for_endpoint

[Workflows][Platformization] Create /workflows/<state>/configurations endpoint (Recidiviz/recidiviz-data#27836)
  recidiviz/case_triage/workflows/api_schemas.py
  recidiviz/case_triage/workflows/workflows_routes.py
  recidiviz/tests/case_triage/workflows/workflows_routes_test.py
Due: generate_docs_for_endpoint

[US_MI] Ingest role periods from COMS based on supervision officer assignment (Recidiviz/recidiviz-data#27891)
  recidiviz/ingest/direct/regions/us_mi/ingest_mappings/us_mi_state_staff_role_period_COMS.yaml
  recidiviz/ingest/direct/regions/us_mi/ingest_views/view_state_staff_role_period_COMS.py
Due: generate_docs_for_region, generate_docs_for_endpoint

[US_MI][Workflows] Minor updates based on validations (Recidiviz/recidiviz-data#27901)
  recidiviz/task_eligibility/criteria/state_specific/us_mi/detention_sanction_timeframe_has_expired.py
  recidiviz/task_eligibility/criteria/state_specific/us_mi/past_security_classification_committee_review_date.py
Due: generate_docs_for_endpoint

Path conditions:
  generate_docs_for_region: any of: ^recidiviz/ingest/direct/regions/
  generate_docs_for_endpoint: any of: ^recidiviz/, but not: (?x)(^recidiviz/tests/|^recidiviz/tools/|^recidiviz/ingest/direct/regions/)$

  generate_entity_documentation: any of: (?x)(^recidiviz/persistence/database/schema/state/schema.py|^recidiviz/persistence/database/schema/history_table_shared_columns_mixin.py)$

