Repository Recidiviz/pulse-data: changes, and which pre-commit hooks are due for each by the changed paths.
All: clear_notebook_files, validate_scripts_and_notebooks_are_changed_together, generate_docs_for_region, generate_docs_for_endpoint, generate_entity_documentation, generate_calc_documentation, generate_ingest_mappings_schema_documentation, update_terraform_lock_file, terraform_fmt, alphabetize_yaml, generate_lookml

Path conditions:
  clear_notebook_files: any of: \.ipynb$
  validate_scripts_and_notebooks_are_changed_together: any of: ^recidiviz/research/.*notebooks/.*/nbautoexport-scripts/.*\.py$
  generate_docs_for_region: any of: ^recidiviz/ingest/direct/regions/|^recidiviz/view_registry/raw_data_reference_reasons.yaml
  generate_docs_for_endpoint: any of: (?x)(^recidiviz/tools/docs/endpoint_documentation_generator.py|^recidiviz/server_blueprint_registry.py|.*/routes/|.*routes.py|.*/server.py|.*control.py|.*endpoint.py|.*endpoints.py|^recidiviz/backup/backup_manager.py|^recidiviz/pipelines/calculation_data_storage_manager.py)$, but not: ^recidiviz/tests
  generate_entity_documentation: any of: (?x)(^recidiviz/persistence/database/schema/state/schema.py|^recidiviz/persistence/entity/state/normalized_entities.py|^recidiviz/persistence/entity/state/entities.py|^recidiviz/common/constants/state/)$

  generate_calc_documentation: any of: ^recidiviz/calculator/query/|^recidiviz/.*/views/|^recidiviz/task_eligibility/|^recidiviz/monitoring/platform_kpis/, but not: ^recidiviz/tests/|^recidiviz/calculator/modeling/
  generate_ingest_mappings_schema_documentation: any of: ^recidiviz/ingest/direct/ingest_mappings/yaml_schema/|^docs/engineering/ingest_mapping_schema/
  update_terraform_lock_file: any of: ^recidiviz/tools/deploy/terraform/
  terraform_fmt: any of: ^recidiviz/tools/deploy/terraform/
  alphabetize_yaml: any of: recidiviz/view_registry/raw_data_reference_reasons.yaml
  generate_lookml: any of: ^recidiviz/persistence/entity/state/|^recidiviz/tools/looker/|^recidiviz/aggregated_metrics/| ^recidiviz/observations/views/|^recidiviz/ingest/direct/regions/.*/raw_data/

Adds tasks distinct active users metric to looker explore (Recidiviz/recidiviz-data#44321)
  recidiviz/tools/looker/aggregated_metrics/custom_tasks_metrics_configurations.py
Due: generate_lookml

[US_MI][Workflows] Update scc form to reflect opp changes (Recidiviz/recidiviz-data#44233)
  recidiviz/task_eligibility/utils/us_mi_query_fragments.py
Due: generate_calc_documentation

[US_IA] Revise DNA logic (Recidiviz/recidiviz-data#44272)
  recidiviz/ingest/direct/regions/us_ia/ingest_mappings/us_ia_sentences.yaml
Due: generate_docs_for_region

[utils] update environment control (Recidiviz/recidiviz-data#44277)
  recidiviz/common/google_cloud/utils.py
  recidiviz/tools/airflow/environment_control.py
Due: generate_docs_for_endpoint

[Sessions] Add `prioritized_supervision_sessions` view that sessionizes on `compartment_level_1` (Recidiviz/recidiviz-data#42990)
  recidiviz/tools/find_unused_bq_views.py
Due: none

[US_IA] Pull violation incident comments from ingested data instead of raw data for case notes (Recidiviz/recidiviz-data#44279)
  recidiviz/ingest/direct/raw_data/datetime_sql_parser_exemptions.py
  recidiviz/ingest/direct/regions/us_ia/ingest_mappings/us_ia_supervision_violation_incidents.yaml
  recidiviz/ingest/direct/regions/us_ia/ingest_mappings/us_ia_supervision_violations_parole.yaml
  recidiviz/ingest/direct/regions/us_ia/ingest_mappings/us_ia_supervision_violations_probation.yaml
  recidiviz/task_eligibility/utils/us_ia_query_fragments.py
Due: generate_docs_for_region, generate_calc_documentation

Adds shared columns to union all view builder (Recidiviz/recidiviz-data#44133)
  recidiviz/segment/product_type.py
  recidiviz/segment/view_config.py
Due: none

[monitoring] introduce concept of `job_type` to `JobRun` (Recidiviz/recidiviz-data#44237)
  recidiviz/airflow/dags/monitoring/airflow_alerting_incident.py
  recidiviz/airflow/dags/monitoring/airflow_task_run_history_delegate.py
  recidiviz/airflow/dags/monitoring/file_tag_import_run_summary.py
  recidiviz/airflow/dags/monitoring/incident_history_builder.py
  recidiviz/airflow/dags/monitoring/job_run.py
  recidiviz/airflow/dags/monitoring/raw_data_file_tag_task_run_history_delegate.py
  recidiviz/airflow/dags/utils/recidiviz_pagerduty_service.py
  recidiviz/airflow/tests/dag_integrity_test.py
  recidiviz/airflow/tests/monitoring/airflow_task_run_history_delegate_test.py
  recidiviz/airflow/tests/monitoring/alerting_trigger_predicates_test.py
  recidiviz/airflow/tests/monitoring/incident_alert_routing_test.py
  recidiviz/airflow/tests/monitoring/incident_history_builder_test.py
  recidiviz/airflow/tests/monitoring/job_run_test.py
  recidiviz/airflow/tests/monitoring/recidiviz_github_alerting_service_test.py
  recidiviz/airflow/tests/utils/recidiviz_pagerduty_service_test.py
  recidiviz/tools/deploy/terraform/modules/pagerduty-service/main.tf
Due: update_terraform_lock_file, terraform_fmt

[Research] Remove DADS as code owners of `recidiviz/research` (Recidiviz/recidiviz-data#44384)
  CODEOWNERS
Due: none

[airflow] add gcs-backed xcom for xcom greater than 1 mb (Recidiviz/recidiviz-data#44329)
  recidiviz/airflow/dags/monitoring/raw_data_file_tag_import_runs_sql_query_generator.py
  recidiviz/tools/deploy/terraform/cloud-composer.tf
  recidiviz/tools/deploy/terraform/modules/cloud-storage-bucket/outputs.tf
Due: update_terraform_lock_file, terraform_fmt

[Configuration] Ignore DS_Store in all directories (Recidiviz/recidiviz-data#44405)
  .gitignore
Due: none

[looker] add generated version hash file (Recidiviz/recidiviz-data#44224)
  recidiviz/tests/tools/looker/script_helpers_test.py
  recidiviz/tools/looker/constants.py
  recidiviz/tools/looker/copy_all_lookml.py
  recidiviz/tools/looker/generate_all_lookml.py
  recidiviz/tools/looker/generated_version_hash
  recidiviz/tools/looker/script_helpers.py
Due: generate_lookml

[US_TN] Create testing parity for v1 and v2 sentencing (Recidiviz/recidiviz-data#44182)
  recidiviz/common/str_field_utils.py
  recidiviz/ingest/direct/raw_data/datetime_sql_parser_exemptions.py
  recidiviz/tests/tools/ingest/testing/ingest_fixture_creation/pull_root_entity_filtered_raw_data_for_ingest_view_test.py
  recidiviz/tools/ingest/testing/ingest_fixture_creation/pull_root_entity_filtered_raw_data_for_ingest_view.py
  recidiviz/tools/looker/generated/dashboards/raw_data/us_tn/us_tn_raw_data_person_details_template.dashboard.lookml
  recidiviz/tools/looker/generated_version_hash
Due: generate_lookml

[Cleanup] Remove unused column_converters from ingest view tests (Recidiviz/recidiviz-data#44358)
  recidiviz/tests/ingest/direct/regions/state_ingest_view_parser_test_base.py
Due: none

[view update] update runtime exemption (Recidiviz/recidiviz-data#44382)
  recidiviz/big_query/view_update_config.py
Due: none

[US_TN] Ingest StateSentenceStatusSnapshot (Recidiviz/recidiviz-data#44229)
  recidiviz/ingest/direct/regions/us_tn/ingest_mappings/us_tn_isc_sentence_status.yaml
  recidiviz/ingest/direct/regions/us_tn/ingest_mappings/us_tn_sentence_status.yaml
  recidiviz/ingest/direct/regions/us_tn/us_tn_sentencing_custom_enum_parsers.py
  recidiviz/tests/source_tables/update_big_query_table_schemas_test.py
Due: generate_docs_for_region

[US_NE] Change parole-length criteria to six months (Recidiviz/recidiviz-data#44410)
  recidiviz/task_eligibility/criteria/general/on_parole_at_least_6_months.py
  recidiviz/task_eligibility/eligibility_spans/us_ne/conditional_low_risk_supervision_override.py
Due: generate_calc_documentation

[Resource Search] Add production stack (Recidiviz/recidiviz-data#44407)
  recidiviz/tools/deploy/atmos/stacks/resource-search/recidiviz-123.yaml
Due: none

[codeowners] Add emilyt as codeowner for looker generated files (Recidiviz/recidiviz-data#44430)
  CODEOWNERS
Due: none

[US_ND] Add enum value (Recidiviz/recidiviz-data#44450)
  recidiviz/ingest/direct/regions/us_nd/ingest_mappings/us_nd_elite_offense_in_custody_and_pos_report_data.yaml
Due: generate_docs_for_region

Revert "[airflow] add gcs-backed xcom for xcom greater than 1 mb (Recidiviz/recidiviz-data#44… (Recidiviz/recidiviz-data#44449)
  recidiviz/airflow/dags/monitoring/raw_data_file_tag_import_runs_sql_query_generator.py
  recidiviz/tools/deploy/terraform/cloud-composer.tf
  recidiviz/tools/deploy/terraform/modules/cloud-storage-bucket/outputs.tf
Due: update_terraform_lock_file, terraform_fmt

[US_NE] Few more fixes for export (Recidiviz/recidiviz-data#44427)
  recidiviz/ingest/direct/raw_data/datetime_sql_parser_exemptions.py
  recidiviz/tools/ingest/regions/us_ne/sql_to_gcs_export_tasks.py
Due: none

[monitoring] update `JobRunType` to be `StrEnum` (Recidiviz/recidiviz-data#44454)
  recidiviz/airflow/dags/monitoring/job_run.py
  recidiviz/airflow/tests/monitoring/incident_history_builder_test.py
Due: none

[US_UT] Update table relationships for ofndr_* tables V2 (Recidiviz/recidiviz-data#44418)
  recidiviz/tools/looker/generated/dashboards/raw_data/us_ut/us_ut_raw_data_person_details_prod.dashboard.lookml
  recidiviz/tools/looker/generated/dashboards/raw_data/us_ut/us_ut_raw_data_person_details_staging.dashboard.lookml
  recidiviz/tools/looker/generated/dashboards/raw_data/us_ut/us_ut_raw_data_person_details_template.dashboard.lookml
  recidiviz/tools/looker/generated/explores/raw_data/us_ut/us_ut_raw_data_template.explore.lkml
  recidiviz/tools/looker/generated_version_hash
Due: generate_lookml

[monitoring] add runtime delegate, config classes (Recidiviz/recidiviz-data#44238)
  recidiviz/airflow/dags/monitoring/airflow_task_run_history_delegate.py
  recidiviz/airflow/dags/monitoring/airflow_task_runtime_delegate.py
  recidiviz/airflow/dags/monitoring/job_run.py
  recidiviz/airflow/tests/calculation/initialize_calculation_dag_group_test.py
  recidiviz/airflow/tests/calculation_dag_test.py
  recidiviz/airflow/tests/fixtures/monitoring/test_graph_config_idempotency.csv
  recidiviz/airflow/tests/fixtures/monitoring/test_graph_map_index_deadline.csv
  recidiviz/airflow/tests/fixtures/monitoring/test_mixed_status.csv
  recidiviz/airflow/tests/monitoring/airflow_task_runtime_delegate_test.py
  recidiviz/airflow/tests/monitoring/incident_history_builder_test.py
  recidiviz/airflow/tests/monitoring/job_run_test.py
  recidiviz/airflow/tests/raw_data/initialize_raw_data_dag_group_test.py
  recidiviz/airflow/tests/test_utils.py
Due: none

[US_AZ] Filter unreasonable violation and response dates (Recidiviz/recidiviz-data#44332)
  recidiviz/ingest/direct/regions/us_az/ingest_mappings/us_az_supervision_violation.yaml
  recidiviz/persistence/entity/state/entities.py
  recidiviz/persistence/entity/state/normalized_entities.py
Due: generate_docs_for_region, generate_entity_documentation, generate_lookml

[Cleanup] Remove ingest_instance, state_code_filter and sandbox_prefix args from the calc DAG (Recidiviz/recidiviz-data#43279)
  frontends/admin-panel/src/AdminPanelAPI/IngestOperations.ts
  frontends/admin-panel/src/components/IngestStatus/FlashChecklist/ProceedWithFlashChecklist.tsx
  recidiviz/admin_panel/routes/ingest_ops.py
  recidiviz/airflow/dags/calculation/initialize_calculation_dag_group.py
  recidiviz/airflow/dags/monitoring/dag_registry.py
  recidiviz/airflow/tests/calculation/initialize_calculation_dag_group_test.py
  recidiviz/airflow/tests/calculation_dag_test.py
  recidiviz/tools/deploy/atmos/stacks/recidiviz-123.yaml
  recidiviz/tools/deploy/atmos/stacks/recidiviz-staging.yaml
  recidiviz/tools/deploy/trigger_post_deploy_tasks.py
  recidiviz/utils/trigger_dag_helpers.py
Due: none

[US_TN] Make annual and initial class mutually exclusive (Recidiviz/recidiviz-data#44365)
  recidiviz/task_eligibility/eligibility_spans/us_tn/annual_reclassification_review.py
Due: generate_calc_documentation

[Tools] Enforce input_columns types in run_mappings_against_ingest_view_results (Recidiviz/recidiviz-data#44428)
  recidiviz/tools/ingest/development/run_mappings_against_ingest_view_results.py
Due: none

[US_MI][Workflows] Exclude clients from ED and CR that are nearing their FTRD. (Recidiviz/recidiviz-data#44217)
  recidiviz/task_eligibility/criteria/general/supervision_not_past_full_term_completion_date_or_upcoming_30_days.py
  recidiviz/task_eligibility/eligibility_spans/us_mi/complete_discharge_early_from_parole_dual_supervision_request.py
  recidiviz/task_eligibility/eligibility_spans/us_mi/complete_discharge_early_from_probation_supervision_request.py
  recidiviz/task_eligibility/eligibility_spans/us_mi/complete_full_term_discharge_from_supervision.py
  recidiviz/task_eligibility/eligibility_spans/us_mi/complete_initial_classification_review_form.py
  recidiviz/task_eligibility/eligibility_spans/us_mi/complete_subsequent_classification_review_form.py
Due: generate_calc_documentation

[US_IA] Test IPs in Iowa with interstate compact case (Recidiviz/recidiviz-data#44340)
  recidiviz/tests/ingest/direct/regions/direct_ingest_region_structure_test.py
Due: none

[Validation] Allow date but not datetime values in date attr_validators (Recidiviz/recidiviz-data#44466)
  recidiviz/common/attr_validators.py
  recidiviz/tests/common/attr_validators_test.py
Due: none

[US_TN] Remove effective date from statuses (for now) (Recidiviz/recidiviz-data#44511)
  recidiviz/pipelines/utils/state_utils/us_tn/us_tn_sentence_normalization_delegate.py
Due: none

[US_UT] Filter out unnecessary assessments and clean up assessment ingest view and mappings (Recidiviz/recidiviz-data#44503)
  recidiviz/ingest/direct/regions/us_ut/ingest_mappings/us_ut_assessment.yaml
Due: generate_docs_for_region

[US_IA][Workflows] Create flag for open interventions (Recidiviz/recidiviz-data#44515)
  recidiviz/task_eligibility/utils/us_ia_query_fragments.py
Due: generate_calc_documentation

[looker] Only treat documented columns as documented (Recidiviz/recidiviz-data#44475)
  recidiviz/ingest/direct/raw_data/raw_file_configs.py
  recidiviz/tests/tools/looker/raw_data/person_details_generator_test_utils.py
  recidiviz/tools/looker/generated_version_hash
  recidiviz/tools/looker/raw_data/person_details_view_generator.py
Due: generate_lookml

[Config] Make datetime_sql_parser_exemptions.py reviews less noisy (Recidiviz/recidiviz-data#44517)
  CODEOWNERS
Due: none

[Cleanup] Delete population_projection BQ views (Recidiviz/recidiviz-data#44481)
  recidiviz/big_query/view_update_config.py
  recidiviz/metrics/export/export_config.py
  recidiviz/metrics/export/products/products.yaml
  recidiviz/tests/source_tables/source_tables_test.py
  recidiviz/tools/find_unused_bq_views.py
  recidiviz/validation/config/regions/us_ix/us_ix_validation_config.yaml
  recidiviz/validation/configured_validations.py
  recidiviz/view_registry/deployed_address_schema_utils.py
Due: none

[schema] add new supervision contact status type, scheduled_date (Recidiviz/recidiviz-data#44082)
  recidiviz/common/constants/state/enum_canonical_strings.py
  recidiviz/common/constants/state/state_supervision_contact.py
  recidiviz/persistence/database/schema/state/schema.py
  recidiviz/persistence/entity/state/entities.py
  recidiviz/persistence/entity/state/entity_field_descriptions.yaml
  recidiviz/persistence/entity/state/entity_field_validators.py
  recidiviz/persistence/entity/state/normalized_entities.py
  recidiviz/tools/looker/generated/dashboards/normalized_state/normalized_state_person.dashboard.lookml
  recidiviz/tools/looker/generated/dashboards/state/state_person.dashboard.lookml
  recidiviz/tools/looker/generated_version_hash
Due: generate_entity_documentation, generate_lookml

[US_IA][Workflows] Update violation decisions that should be excluded from early discharge criteria (Recidiviz/recidiviz-data#44433)
  recidiviz/ingest/direct/regions/us_ia/ingest_mappings/us_ia_supervision_violations_probation.yaml
  recidiviz/task_eligibility/utils/state_dataset_query_fragments.py
Due: generate_docs_for_region, generate_calc_documentation
