Repository Recidiviz/pulse-data: changes, and which pre-commit hooks are due for each by the changed paths.
All: generate_docs_for_region, generate_docs_for_endpoint, generate_entity_documentation, generate_calc_documentation, generate_ingest_mappings_schema_documentation, update_terraform_lock_file

generate_docs_for_region:
  name: generate_docs_for_region
  entry: pipenv run python -m recidiviz.tools.docs.region_documentation_generator
  language: system
  require_serial: true

generate_docs_for_endpoint:
  name: generate_docs_for_endpoint
  entry: pipenv run python -m recidiviz.tools.docs.endpoint_documentation_generator
  language: system
  require_serial: true

generate_entity_documentation:
  name: generate_entity_documentation
  entry: pipenv run python -m recidiviz.tools.docs.entity_documentation_generator
  language: system
  require_serial: true

generate_calc_documentation:
  name: generate_calc_documentation
  entry: pipenv run python -m recidiviz.calculator.calculation_documentation_generator
  language: system
  require_serial: true

generate_ingest_mappings_schema_documentation:
  name: generate_ingest_mappings_schema_documentation
  entry: pipenv run python -m recidiviz.tools.docs.ingest_mappings_schema_documentation_generator
  language: system
  require_serial: true

update_terraform_lock_file:
  name: update_terraform_lock_file
  entry: recidiviz/tools/deploy/update_terraform_lock.sh
  language: script
  require_serial: true

[Justice Counts] get Agency included and excluded Jurisdictions (Recidiviz/recidiviz-data#18347)
  recidiviz/justice_counts/agency_jurisdictions.py
  recidiviz/justice_counts/control_panel/routes/api.py
  recidiviz/tests/justice_counts/control_panel/server_test.py
Due: generate_docs_for_endpoint

[US_TN] Bring expiration date from tes where applicable (Recidiviz/recidiviz-data#18450)
  recidiviz/calculator/query/state/views/workflows/us_tn/supervision_clients_template.py
Due: generate_docs_for_endpoint, generate_calc_documentation

update voters rights code type (Recidiviz/recidiviz-data#18498)
  recidiviz/case_triage/workflows/interface.py
  recidiviz/tests/case_triage/workflows/interface_test.py
Due: generate_docs_for_endpoint

[US_IX][Pathways] add US_IX to pathways supervision location map (Recidiviz/recidiviz-data#18473)
  recidiviz/calculator/query/state/views/dashboard/pathways/pathways_supervision_location_name_map.py
Due: generate_docs_for_endpoint, generate_calc_documentation

[Tools] Verify raw data primary keys (Recidiviz/recidiviz-data#17942)
  recidiviz/admin_panel/ingest_operations_store.py
  recidiviz/admin_panel/routes/ingest_ops.py
  recidiviz/fakes/null_direct_ingest_view_materialization_metadata_manager.py
  recidiviz/ingest/direct/controllers/base_direct_ingest_controller.py
  recidiviz/ingest/direct/metadata/direct_ingest_view_materialization_metadata_manager.py
  recidiviz/ingest/direct/regions/us_ar/us_ar_controller.py
  recidiviz/ingest/direct/regions/us_ca/us_ca_controller.py
  recidiviz/ingest/direct/regions/us_co/us_co_controller.py
  recidiviz/ingest/direct/regions/us_ia/us_ia_controller.py
  recidiviz/ingest/direct/regions/us_id/us_id_controller.py
  recidiviz/ingest/direct/regions/us_ix/us_ix_controller.py
  recidiviz/ingest/direct/regions/us_me/us_me_controller.py
  recidiviz/ingest/direct/regions/us_mi/us_mi_controller.py
  recidiviz/ingest/direct/regions/us_mo/us_mo_controller.py
  recidiviz/ingest/direct/regions/us_nd/us_nd_controller.py
  recidiviz/ingest/direct/regions/us_or/us_or_controller.py
  recidiviz/ingest/direct/regions/us_oz/us_oz_controller.py
  recidiviz/ingest/direct/regions/us_pa/us_pa_controller.py
  recidiviz/ingest/direct/regions/us_tn/us_tn_controller.py
  recidiviz/ingest/direct/templates/us_xx/us_xx_controller.py
  recidiviz/tests/ingest/direct/ingest_view_materialization/ingest_view_materialization_args_generator_test.py
  recidiviz/tests/ingest/direct/ingest_view_materialization/ingest_view_materializer_test.py
  recidiviz/tests/ingest/direct/metadata/direct_ingest_view_materialization_metadata_manager_test.py
  recidiviz/tests/utils/context_test.py
  recidiviz/tools/ingest/operations/sanity_check.py
  recidiviz/utils/context.py
Due: generate_docs_for_region, generate_docs_for_endpoint

[Deploy] A couple logging updates (Recidiviz/recidiviz-data#18514)
  recidiviz/tests/tools/utils/script_helpers_test.py
  recidiviz/tools/utils/script_helpers.py
Due: generate_docs_for_endpoint

[Justice Counts] Update local development roles to always be JC Admins (Recidiviz/recidiviz-data#18496)
  recidiviz/justice_counts/control_panel/routes/api.py
Due: generate_docs_for_endpoint

[Justice Counts] Hide jc admin names to non jc admins (Recidiviz/recidiviz-data#18479)
  recidiviz/justice_counts/agency_user_account_association.py
  recidiviz/justice_counts/control_panel/routes/api.py
  recidiviz/justice_counts/spreadsheet.py
Due: generate_docs_for_endpoint

[US_OR] Editing datetime format in yaml (Recidiviz/recidiviz-data#18516)
  recidiviz/ingest/direct/regions/us_or/raw_data/us_or_RCDVZ_PRDDTA_OP010P.yaml
  recidiviz/ingest/direct/regions/us_or/raw_data/us_or_RCDVZ_PRDDTA_OP011P.yaml
Due: generate_docs_for_region, generate_docs_for_endpoint

[Justice Counts] add supervision subsystem to funding and expenses sheets (Recidiviz/recidiviz-data#18412)
  recidiviz/justice_counts/bulk_upload/bulk_upload.py
  recidiviz/justice_counts/control_panel/routes/api.py
  recidiviz/justice_counts/datapoint.py
  recidiviz/justice_counts/spreadsheet.py
  recidiviz/tools/justice_counts/control_panel/create_upload_template.py
Due: generate_docs_for_endpoint

Add Initial SECONDARY Standard Rerun Setup Test Coverage in Base Controller (Recidiviz/recidiviz-data#18346)
  recidiviz/tests/ingest/direct/fakes/fake_async_direct_ingest_cloud_task_manager.py
  recidiviz/tests/ingest/direct/fakes/fake_direct_ingest_cloud_task_manager.py
  recidiviz/tests/ingest/direct/fakes/fake_direct_ingest_controller.py
  recidiviz/tests/ingest/direct/fakes/fake_synchronous_direct_ingest_cloud_task_manager.py
Due: generate_docs_for_endpoint

[US_TN] Incorporate ISC/Diversion ingested sentencing in downstream views (Recidiviz/recidiviz-data#18123)
  recidiviz/calculator/query/state/views/analyst_data/us_tn/us_tn_compliant_reporting_c4_isc_eligiblility_sessions.py
  recidiviz/calculator/query/state/views/analyst_data/us_tn/us_tn_compliant_reporting_logic.py
  recidiviz/calculator/query/state/views/analyst_data/us_tn/us_tn_cr_raw_sentence_preprocessing.py
  recidiviz/calculator/query/state/views/sessions/sentences_preprocessed.py
  recidiviz/calculator/query/state/views/sessions/us_tn/us_tn_sentences_preprocessed.py
  recidiviz/calculator/query/state/views/sessions/us_tn/us_tn_supervision_projected_completion_date_spans.py
  recidiviz/calculator/query/state/views/workflows/firestore/us_tn_full_term_supervision_discharge_record.py
  recidiviz/task_eligibility/criteria/state_specific/us_tn/not_on_life_sentence_or_lifetime_supervision.py
Due: generate_docs_for_endpoint, generate_calc_documentation

[Justice Counts] Scripts to create/update users (Recidiviz/recidiviz-data#18506)
  recidiviz/justice_counts/agency.py
  recidiviz/justice_counts/control_panel/README.md
  recidiviz/justice_counts/user_account.py
  recidiviz/tools/justice_counts/create_user.py
  recidiviz/tools/justice_counts/update_user_role.py
Due: generate_docs_for_endpoint

[Justice Counts] Throw error when user is added to agency they already belong to (Recidiviz/recidiviz-data#18459)
  recidiviz/justice_counts/agency_user_account_association.py
Due: generate_docs_for_endpoint

Adding task groups to the calculation DAG (Recidiviz/recidiviz-data#18488)
  recidiviz/airflow/dags/calculation_dag.py
  recidiviz/airflow/tests/calculation_dag_test.py
Due: generate_docs_for_endpoint

Adds assessment type to score_end_date partition (Recidiviz/recidiviz-data#18529)
  recidiviz/calculator/query/state/views/sessions/assessment_score_sessions.py
Due: generate_docs_for_endpoint, generate_calc_documentation

[Schema Change] Add StateStaffSupervisorPeriod table (Recidiviz/recidiviz-data#18510)
  recidiviz/persistence/database/migrations/state/versions/2023_02_06_1437_303c73931475_add_supervisor_period.py
  recidiviz/persistence/database/schema/state/schema.py
  recidiviz/persistence/entity/entity_utils.py
  recidiviz/persistence/entity/state/deserialize_entity_factories.py
  recidiviz/persistence/entity/state/entities.py
  recidiviz/persistence/entity_matching/state/state_matching_utils.py
  recidiviz/tests/persistence/database/schema_utils_test.py
  recidiviz/tests/persistence/entity/entity_utils_test.py
  recidiviz/tests/persistence/entity/state/deserialize_entity_factories_test.py
Due: generate_docs_for_endpoint, generate_entity_documentation, generate_calc_documentation

use assertCountEqual instead of assertListEqual (Recidiviz/recidiviz-data#18531)
  recidiviz/tests/ingest/direct/sftp/base_upload_state_files_to_ingest_bucket_controller_test.py
Due: generate_docs_for_endpoint

Adding hot key enabling to our dataflow pipelines (Recidiviz/recidiviz-data#18489)
  recidiviz/calculator/pipeline/utils/beam_utils/legacy_pipeline_args_utils.py
  recidiviz/tests/calculator/pipeline/utils/beam_utils/pipeline_args_utils_test.py
Due: generate_docs_for_endpoint, generate_calc_documentation

[Workflows] Remove extraneous logs (Recidiviz/recidiviz-data#18518)
  recidiviz/case_triage/workflows/workflows_routes.py
Due: generate_docs_for_endpoint

[Deploy] Automatically stop cherry-picked app engine versions in staging (Recidiviz/recidiviz-data#18447)
  recidiviz/tools/deploy/base_deploy_to_staging.sh
Due: generate_docs_for_endpoint

[US_TN] CR Small bug fixes to properly handle people missing active or non-prior sentences (Recidiviz/recidiviz-data#18535)
  recidiviz/calculator/query/state/views/analyst_data/us_tn/us_tn_compliant_reporting_logic.py
  recidiviz/calculator/query/state/views/analyst_data/us_tn/us_tn_sentence_logic.py
Due: generate_docs_for_endpoint, generate_calc_documentation

[US_IX] Refactor sentences to use offense sentences as the base (Recidiviz/recidiviz-data#18421)
  recidiviz/ingest/direct/regions/us_ix/ingest_mappings/us_ix_incarceration_sentence.yaml
  recidiviz/ingest/direct/regions/us_ix/ingest_mappings/us_ix_supervision_sentence.yaml
  recidiviz/ingest/direct/regions/us_ix/ingest_views/template_sentence.py
  recidiviz/ingest/direct/regions/us_ix/ingest_views/view_incarceration_sentence.py
  recidiviz/ingest/direct/regions/us_ix/ingest_views/view_supervision_sentence.py
  recidiviz/ingest/direct/regions/us_ix/us_ix_custom_parsers.py
Due: generate_docs_for_region, generate_docs_for_endpoint

[US_PA] Remap supervision period termination code 45 (Recidiviz/recidiviz-data#18504)
  recidiviz/ingest/direct/regions/us_pa/ingest_mappings/us_pa_supervision_period_v4.yaml
  recidiviz/persistence/database/migrations/state/versions/2023_02_09_1337_fedb726f4772_absconsion_to_expiration.py
Due: generate_docs_for_region, generate_docs_for_endpoint

[Tools] Rename new ingest script (Recidiviz/recidiviz-data#18532)
  recidiviz/tools/ingest/operations/ingest_stability_check.py
Due: generate_docs_for_endpoint

[Justice Counts] deprecate POST_RELEASE and DUAL_SUPERVISION subsystems (Recidiviz/recidiviz-data#18541)
  recidiviz/justice_counts/bulk_upload/bulk_upload.py
  recidiviz/justice_counts/control_panel/routes/api.py
  recidiviz/persistence/database/schema/justice_counts/schema.py
  recidiviz/tools/justice_counts/control_panel/create_upload_template.py
Due: generate_docs_for_endpoint, generate_calc_documentation

[Justice Counts] Performance improvements (Recidiviz/recidiviz-data#18517)
  recidiviz/justice_counts/agency.py
  recidiviz/justice_counts/agency_user_account_association.py
  recidiviz/justice_counts/control_panel/routes/api.py
  recidiviz/justice_counts/datapoint.py
  recidiviz/justice_counts/report.py
  recidiviz/justice_counts/user_account.py
  recidiviz/persistence/database/schema/justice_counts/schema.py
Due: generate_docs_for_endpoint, generate_calc_documentation

Nesting task groups further to make things more readable (Recidiviz/recidiviz-data#18552)
  recidiviz/airflow/dags/calculation_dag.py
  recidiviz/airflow/tests/calculation_dag_test.py
Due: generate_docs_for_endpoint

[Workflows] add expiration_date and all_eligible_opportunities to workflows_client_record_archive (Recidiviz/recidiviz-data#18349)
  recidiviz/tools/deploy/terraform/bigquery.tf
Due: generate_docs_for_endpoint, update_terraform_lock_file

remove sklearn from pipfile (Recidiviz/recidiviz-data#18561)
  Pipfile
  Pipfile.lock
  recidiviz/tests/calculator/modeling/population_projection/population_simulation/population_simulation_test.py
  recidiviz/utils/string.py
  stubs/sklearn/metrics/__init__.pyi
Due: generate_docs_for_endpoint

[Justice Counts] prosecution staff metric (Recidiviz/recidiviz-data#18563)
  recidiviz/justice_counts/dimensions/prosecution.py
  recidiviz/justice_counts/includes_excludes/prosecution.py
  recidiviz/justice_counts/metricfiles/prosecution.py
  recidiviz/justice_counts/metrics/metric_registry.py
  recidiviz/justice_counts/metrics/prosecution.py
Due: generate_docs_for_endpoint

[US_TN] Quick fix to exclude people whose max expiration dates are being left out of sentence spans (Recidiviz/recidiviz-data#18492)
  recidiviz/calculator/query/state/views/workflows/firestore/us_tn_full_term_supervision_discharge_record.py
Due: generate_docs_for_endpoint, generate_calc_documentation

[Workflows] [US_TN] add offense_type_eligibility to compliant reporting referral record (Recidiviz/recidiviz-data#18570)
  recidiviz/calculator/query/state/views/workflows/firestore/compliant_reporting_referral_record.py
  recidiviz/tests/workflows/etl/regions/us_tn/compliant_reporting_referral_record_etl_delegate_test.py
  recidiviz/tests/workflows/etl/regions/us_tn/fixtures/compliant_reporting_referral_record.json
Due: generate_docs_for_endpoint, generate_calc_documentation

Adding a 100K limit for the IX case notes in order to prevent CPU overloading (Recidiviz/recidiviz-data#18565)
  recidiviz/calculator/query/state/views/reference/us_ix_case_update_info.py
Due: generate_docs_for_endpoint, generate_calc_documentation

[Workflows] [US_TN] Add offense type flag to referral view (Recidiviz/recidiviz-data#18573)
  recidiviz/calculator/query/state/views/analyst_data/us_tn/us_tn_compliant_reporting_referral.py
Due: generate_docs_for_endpoint, generate_calc_documentation

[Justice Counts] Prosecution Funding Metric (Recidiviz/recidiviz-data#18553)
  recidiviz/justice_counts/dimensions/dimension_registry.py
  recidiviz/justice_counts/dimensions/prosecution.py
  recidiviz/justice_counts/includes_excludes/prosecution.py
  recidiviz/justice_counts/metricfiles/prosecution.py
  recidiviz/justice_counts/metrics/metric_registry.py
  recidiviz/justice_counts/metrics/prosecution.py
Due: generate_docs_for_endpoint

Adding the download flow for SFTP Airflow DAG (Recidiviz/recidiviz-data#18331)
  recidiviz/airflow/dags/operators/cloud_sql_query_operator.py
  recidiviz/airflow/dags/operators/find_sftp_files_operator.py
  recidiviz/airflow/dags/operators/gcs_transform_file_operator.py
  recidiviz/airflow/dags/operators/sftp_to_gcs_operator.py
  recidiviz/airflow/dags/sftp/mark_remote_files_discovered_sql_query_generator.py
  recidiviz/airflow/dags/sftp/mark_remote_files_downloaded_sql_query_generator.py
  recidiviz/airflow/dags/sftp/metadata.py
  recidiviz/airflow/dags/sftp_dag.py
  recidiviz/airflow/tests/operators/find_sftp_files_to_download_operator_test.py
  recidiviz/airflow/tests/operators/sftp_to_gcs_operator_test.py
  recidiviz/airflow/tests/sftp/filter_downloaded_files_sql_query_generator_test.py
  recidiviz/airflow/tests/sftp/mark_remote_files_discovered_sql_query_generator_test.py
  recidiviz/airflow/tests/sftp/mark_remote_files_downloaded_sql_query_generator_test.py
  recidiviz/airflow/tests/sftp_dag_test.py
  recidiviz/cloud_storage/gcs_file_system_impl.py
  recidiviz/common/common_utils.py
  recidiviz/common/google_cloud/google_cloud_tasks_client_wrapper.py
  recidiviz/common/io/legacy_sftp_file_contents_handle.py
  recidiviz/common/retry_predicate.py
  recidiviz/fakes/fake_gcs_file_system.py
  recidiviz/ingest/direct/raw_data/direct_ingest_raw_file_import_manager.py
  recidiviz/ingest/direct/sftp/download_files_from_sftp.py
  recidiviz/tools/deploy/terraform/config/cloud_composer_source_files_to_copy.yaml
Due: generate_docs_for_endpoint, update_terraform_lock_file

[US_MI] Fix SFTP to download 104a file correctly (Recidiviz/recidiviz-data#18577)
  recidiviz/ingest/direct/regions/us_mi/us_mi_sftp_download_delegate.py
Due: generate_docs_for_region, generate_docs_for_endpoint

[US_MI] Bump validation threshold for supervision_population_by_type_external_comparison (Recidiviz/recidiviz-data#18581)
  recidiviz/validation/config/regions/us_mi/us_mi_validation_config.yaml
Due: generate_docs_for_endpoint

Path conditions:
  generate_docs_for_region: any of: ^recidiviz/ingest/direct/regions/
  generate_docs_for_endpoint: any of: ^recidiviz/, but not: (?x)(^recidiviz/tests/|^recidiviz/tools/|^recidiviz/ingest/direct/regions/)$

  generate_entity_documentation: any of: (?x)(^recidiviz/persistence/database/schema/state/schema.py|^recidiviz/persistence/database/schema/history_table_shared_columns_mixin.py|^recidiviz/common/constants/state/)$

  generate_calc_documentation: any of: ^recidiviz/calculator/|^recidiviz/metrics/|^recidiviz/.*/views/|^recidiviz/big_query/|^recidiviz/persistence/database/schema/|^recidiviz/persistence/entity/|^recidiviz/task_eligibility/, but not: ^recidiviz/tests/|^recidiviz/calculator/modeling/
  generate_ingest_mappings_schema_documentation: any of: ^recidiviz/ingest/direct/ingest_mappings/yaml_schema/|^docs/engineering/ingest_mapping_schema/
  update_terraform_lock_file: any of: ^recidiviz/tools/deploy/terraform/
