Repository Recidiviz/pulse-data: changes, and which pre-commit hooks are due for each by the changed paths.
All: generate_docs_for_region, generate_docs_for_endpoint, generate_entity_documentation, generate_calc_documentation, generate_ingest_mappings_schema_documentation, update_terraform_lock_file, terraform_fmt, alphabetize_yaml

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.3.0
    hooks:
      - id: check-yaml
  - repo: https://github.com/psf/black
    rev: 22.3.0
    hooks:
      # This runs on py, pyi, and ipynb files.
      - id: black-jupyter
        language_version: python3
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v2.5.1
    hooks:
      - id: prettier
        types_or: [yaml]
  - repo: https://github.com/pycqa/isort
    rev: 5.12.0
    hooks:
      - id: isort
        name: isort (python)
      - id: isort
        name: isort (pyi)
        types: [pyi]
  - repo: https://github.com/shellcheck-py/shellcheck-py
    rev: v0.8.0.4
    hooks:
      - id: shellcheck
        # Also validate any `source`d files
        args: [-x]
  - repo: local
    hooks:
      - id: generate_docs_for_region
        name: generate_docs_for_region
        entry: pipenv run python -m
          recidiviz.tools.docs.region_documentation_generator
        language: system
        files: ^recidiviz/ingest/direct/regions/|^recidiviz/view_registry/raw_data_reference_reasons.yaml
        require_serial: true
      - id: generate_docs_for_endpoint
        name: generate_docs_for_endpoint
        entry: pipenv run python -m
          recidiviz.tools.docs.endpoint_documentation_generator
        language: system
        files: (?x)(^recidiviz/tools/docs/endpoint_documentation_generator.py|^recidiviz/server_blueprint_registry.py|.*/routes/|.*routes.py|.*/server.py|.*control.py|.*endpoint.py|.*endpoints.py|^recidiviz/backup/backup_manager.py|^recidiviz/pipelines/calculation_data_storage_manager.py)$
        exclude: ^recidiviz/tests
        require_serial: true
      - id: generate_entity_documentation
        name: generate_entity_documentation
        entry: pipenv run python -m
          recidiviz.tools.docs.entity_documentation_generator
        language: system
        files: >
          (?x)(^recidiviz/persistence/database/schema/state/schema.py|^recidiviz/persistence/entity/state/normalized_entities.py|^recidiviz/persistence/entity/state/entities.py|^recidiviz/common/constants/state/)$
        require_serial: true
      - id: generate_calc_documentation
        name: generate_calc_documentation
        entry: pipenv run python -m
          recidiviz.calculator.calculation_documentation_generator
        language: system
        files: ^recidiviz/calculator/|^recidiviz/pipelines/|^recidiviz/metrics/|^recidiviz/.*/views/|^recidiviz/big_query/|^recidiviz/persistence/database/schema/|^recidiviz/persistence/entity/|^recidiviz/task_eligibility/|^recidiviz/monitoring/platform_kpis/
        exclude: ^recidiviz/tests/|^recidiviz/calculator/modeling/
        require_serial: true
      - id: generate_ingest_mappings_schema_documentation
        name: generate_ingest_mappings_schema_documentation
        entry: pipenv run python -m
          recidiviz.tools.docs.ingest_mappings_schema_documentation_generator
        language: system
        files: ^recidiviz/ingest/direct/ingest_mappings/yaml_schema/|^docs/engineering/ingest_mapping_schema/
        require_serial: true
      - id: update_terraform_lock_file
        name: update_terraform_lock_file
        entry: recidiviz/tools/deploy/update_terraform_lock.sh
        language: script
        files: ^recidiviz/tools/deploy/terraform/
        require_serial: true
      - id: terraform_fmt
        name: terraform_fmt
        entry: recidiviz/tools/deploy/format_terraform.sh
        language: script
        files: ^recidiviz/tools/deploy/terraform/
      - id: alphabetize_yaml
        name: alphabetize_yaml
        entry: pipenv run python -m
          recidiviz.tools.alphabetize_raw_data_reference_reasons
        language: system
        files: recidiviz/view_registry/raw_data_reference_reasons.yaml

[Testing] Update Ingest Structure Tests To Prep for Janet Implementation (Recidiviz/recidiviz-data#38325)
  recidiviz/common/file_system.py
  recidiviz/tests/ingest/direct/regions/direct_ingest_region_structure_test.py
Due: none

[looker] Use custom field provider in entity field builder (Recidiviz/recidiviz-data#38253)
  recidiviz/big_query/big_query_schema_validator.py
  recidiviz/tests/big_query/big_query_schema_validator_test.py
  recidiviz/tests/tools/looker/entity/entity_field_builders_test.py
  recidiviz/tools/looker/entity/entity_field_builders.py
  recidiviz/tools/looker/state/state_dataset_custom_view_fields.py
  recidiviz/tools/looker/state/state_dataset_view_generator.py
Due: generate_calc_documentation

[Utils] Add attr_validators for checking for positive integer values (Recidiviz/recidiviz-data#38349)
  recidiviz/common/attr_validators.py
  recidiviz/tests/common/attr_validators_test.py
Due: none

[Ingest] Move assert_datetime_less_than helper onto the Entity class (Recidiviz/recidiviz-data#38350)
  recidiviz/common/date.py
  recidiviz/persistence/entity/base_entity.py
  recidiviz/persistence/entity/state/entities.py
  recidiviz/persistence/entity/state/normalized_entities.py
  recidiviz/persistence/entity/state/state_entity_mixins.py
  recidiviz/tests/persistence/entity/base_entity_test.py
  recidiviz/tests/persistence/entity/state/entities_test.py
  recidiviz/tests/persistence/entity/state/ledger_entities_test.py
  recidiviz/tests/persistence/entity/state/test_state_entity_mixins.py
Due: generate_entity_documentation, generate_calc_documentation

[Justice Counts] Remove CSG From Reporting Agency Options (Recidiviz/recidiviz-data#38338)
  recidiviz/justice_counts/control_panel/routes/admin.py
  recidiviz/justice_counts/metrics/metric_interface.py
  recidiviz/justice_counts/utils/constants.py
  recidiviz/persistence/database/schema/justice_counts/schema.py
  recidiviz/tests/justice_counts/control_panel/admin_test.py
  recidiviz/tests/justice_counts/utils/utils.py
Due: generate_calc_documentation

[SCHEMA CHANGE] Adding "DEATH" and "EXECUTION" as state sentence status enums (Recidiviz/recidiviz-data#38362)
  recidiviz/common/constants/state/enum_canonical_strings.py
  recidiviz/common/constants/state/state_sentence.py
  recidiviz/persistence/database/schema/state/schema.py
Due: generate_entity_documentation, generate_calc_documentation

Add support for specifying required columns in `BigQueryView` (Recidiviz/recidiviz-data#37931)
  recidiviz/big_query/big_query_client.py
  recidiviz/big_query/big_query_utils.py
  recidiviz/big_query/big_query_view.py
  recidiviz/big_query/selected_columns_big_query_view.py
  recidiviz/big_query/union_all_big_query_view_builder.py
  recidiviz/calculator/query/state/views/prototypes/case_note_search/case_notes_data_store.py
  recidiviz/metrics/metric_big_query_view.py
  recidiviz/task_eligibility/task_candidate_population_big_query_view_builder.py
  recidiviz/task_eligibility/task_completion_event_big_query_view_builder.py
  recidiviz/task_eligibility/task_criteria_big_query_view_builder.py
  recidiviz/tests/big_query/big_query_client_test.py
  recidiviz/tests/big_query/big_query_view_test.py
  recidiviz/tests/big_query/view_update_manager_test.py
  recidiviz/tests/big_query/view_update_manager_utils_test.py
Due: generate_calc_documentation

[US_CA] Minor doc updates (Recidiviz/recidiviz-data#38365)
  recidiviz/ingest/direct/regions/us_ca/raw_data/us_ca_ChargeParole.yaml
  recidiviz/ingest/direct/regions/us_ca/raw_data/us_ca_IncarcerationParole.yaml
  recidiviz/ingest/direct/regions/us_ca/raw_data/us_ca_SupervisionContact.yaml
Due: generate_docs_for_region

[Testing] Have raw data fixtures have metadata raw data columns (Recidiviz/recidiviz-data#38360)
  recidiviz/tests/ingest/direct/direct_ingest_raw_fixture_loader.py
  recidiviz/tests/ingest/direct/regions/ingest_view_query_test_case.py
  recidiviz/tests/pipelines/ingest/state/generate_ingest_view_results_test.py
  recidiviz/tests/pipelines/ingest/state/pipeline_test_case.py
  recidiviz/tools/ingest/testing/raw_data_fixtures_generator.py
Due: none

[US_PA][Workflows] Update ineligible offenses for admin supervision (Recidiviz/recidiviz-data#37758)
  recidiviz/task_eligibility/criteria/state_specific/us_pa/not_serving_ineligible_offense_for_admin_supervision.py
  recidiviz/task_eligibility/utils/us_pa_query_fragments.py
Due: generate_calc_documentation

[US_UT] Add raw data import blocking validation exemption (Recidiviz/recidiviz-data#38380)
  recidiviz/ingest/direct/regions/us_ut/raw_data/us_ut_addr.yaml
Due: generate_docs_for_region

[US_UT] Fix bug in `sentence_status` view (Recidiviz/recidiviz-data#38381)
  recidiviz/ingest/direct/regions/us_ut/ingest_views/view_sentence_status.py
Due: generate_docs_for_region

[US_MI] Add known value to ADH_EMPLOYEE (Recidiviz/recidiviz-data#38382)
  recidiviz/ingest/direct/regions/us_mi/raw_data/us_mi_ADH_EMPLOYEE.yaml
Due: generate_docs_for_region

[Dataflow] Switch from `n1` machine type to `c4a` (Recidiviz/recidiviz-data#38377)
  recidiviz/airflow/dags/calculation/dataflow/ingest_pipeline_task_group_delegate.py
  recidiviz/pipelines/calculation_pipeline_templates.yaml
  recidiviz/pipelines/ingest/pipeline_utils.py
  recidiviz/pipelines/pipeline_parameters.py
  recidiviz/tools/deploy/terraform/networks.tf
Due: generate_calc_documentation, update_terraform_lock_file, terraform_fmt

add facilities_non_primary_staff as a standard role (Recidiviz/recidiviz-data#38384)
  recidiviz/auth/constants.py
Due: none

[Utils] Slight refactor to update_normalized_entity_with_globally_unique_id (Recidiviz/recidiviz-data#38374)
  recidiviz/persistence/entity/generate_primary_key.py
  recidiviz/persistence/entity/normalized_entities_utils.py
  recidiviz/pipelines/ingest/state/normalization/normalization_managers/supervision_violation_responses_normalization_manager.py
  recidiviz/pipelines/utils/incarceration_period_utils.py
  recidiviz/pipelines/utils/state_utils/us_mi/us_mi_incarceration_period_normalization_delegate.py
  recidiviz/pipelines/utils/state_utils/us_mi/us_mi_violation_response_normalization_delegate.py
  recidiviz/pipelines/utils/state_utils/us_mo/us_mo_supervision_period_normalization_delegate.py
  recidiviz/pipelines/utils/state_utils/us_mo/us_mo_violation_response_normalization_delegate.py
  recidiviz/pipelines/utils/state_utils/us_tn/us_tn_violation_response_normalization_delegate.py
  recidiviz/tests/persistence/entity/normalized_entities_utils_test.py
Due: generate_calc_documentation

[US_UT] Add UT to early_discharge_sessions (Recidiviz/recidiviz-data#38301)
  recidiviz/calculator/query/state/views/analyst_data/analyst_data_views.py
  recidiviz/calculator/query/state/views/analyst_data/early_discharge_sessions.py
  recidiviz/calculator/query/state/views/analyst_data/us_ut/__init__.py
  recidiviz/calculator/query/state/views/analyst_data/us_ut/us_ut_early_discharge_sessions_preprocessing.py
  recidiviz/view_registry/raw_data_reference_reasons.yaml
Due: generate_docs_for_region, generate_calc_documentation, alphabetize_yaml

TX ARS first criteria, eligibility span, and firestore (Recidiviz/recidiviz-data#38052)
  recidiviz/calculator/query/state/views/workflows/firestore/us_tx_transfer_from_parole_to_annual_reporting_status.py
  recidiviz/task_eligibility/criteria/general/on_minimum_supervision_at_least_1_year.py
  recidiviz/task_eligibility/eligibility_spans/us_tx/__init__.py
  recidiviz/task_eligibility/eligibility_spans/us_tx/transfer_from_parole_to_annual_reporting_status.py
  recidiviz/tests/task_eligibility/task_eligibility_spans_test.py
Due: generate_calc_documentation

[US_UT] Add UT to drug_screens_preprocessed (Recidiviz/recidiviz-data#38370)
  recidiviz/calculator/query/state/views/sessions/drug_screens_preprocessed.py
  recidiviz/calculator/query/state/views/sessions/sessions_views.py
  recidiviz/calculator/query/state/views/sessions/us_tn/us_tn_drug_screens_preprocessed.py
  recidiviz/calculator/query/state/views/sessions/us_ut/__init__.py
  recidiviz/calculator/query/state/views/sessions/us_ut/us_ut_drug_screens_preprocessed.py
Due: generate_calc_documentation

[Schema Change] Add StatePersonStaffRelationship entity (Recidiviz/recidiviz-data#38063)
  recidiviz/common/constants/state/enum_canonical_strings.py
  recidiviz/common/constants/state/state_person_staff_relationship_period.py
  recidiviz/common/constants/state/state_system_type.py
  recidiviz/persistence/database/schema/state/schema.py
  recidiviz/persistence/entity/entities_module_context_factory.py
  recidiviz/persistence/entity/state/deserialize_entity_factories.py
  recidiviz/persistence/entity/state/entities.py
  recidiviz/persistence/entity/state/entity_field_descriptions.yaml
  recidiviz/persistence/entity/state/normalized_entities.py
  recidiviz/persistence/entity_matching/root_entity_update_merger.py
  recidiviz/pipelines/ingest/state/normalization/normalize_state_person.py
  recidiviz/tests/persistence/database/schema/state/schema_test.py
  recidiviz/tests/persistence/database/schema_utils_test.py
  recidiviz/tests/persistence/entity/root_entity_utils_test.py
  recidiviz/tests/persistence/entity/state/deserialize_entity_factories_test.py
  recidiviz/tests/persistence/entity/state/entities_test.py
  recidiviz/tests/persistence/entity/state/entities_test_utils.py
  recidiviz/tests/persistence/entity/state/normalized_entities_test.py
  recidiviz/tests/persistence/entity_matching/root_entity_update_merger_test.py
  recidiviz/tests/source_tables/update_big_query_table_schemas_test.py
Due: generate_entity_documentation, generate_calc_documentation

[Dataflow] Add a gcloudignore file for sandbox pipeline builds (Recidiviz/recidiviz-data#38401)
  recidiviz/pipelines/cloudbuild.pipelines.dev.gcloudignore
  recidiviz/tools/utils/run_sandbox_dataflow_pipeline_utils.py
Due: generate_calc_documentation

[Auth] Make blocked-on timezone aware (Recidiviz/recidiviz-data#38169)
  recidiviz/auth/auth_api_schemas.py
  recidiviz/auth/auth_endpoint.py
  recidiviz/auth/auth_users_endpoint.py
  recidiviz/persistence/database/migrations/case_triage/versions/2025_02_04_1704_753d0dab5a29_change_blocked_on_type_to_timestamp_.py
  recidiviz/persistence/database/schema/case_triage/schema.py
  recidiviz/tests/auth/auth_endpoint_test.py
  recidiviz/tests/auth/auth_users_endpoint_test.py
  recidiviz/tests/auth/snapshots/snap_auth_users_endpoint_test.py
  recidiviz/tests/tools/auth/prep_roster_sync_test.py
  recidiviz/tests/tools/auth/snapshots/snap_prep_roster_sync_test.py
Due: generate_docs_for_endpoint, generate_calc_documentation

Fixes bug in event_type for task eligibility starts while almost eligible metric (Recidiviz/recidiviz-data#38430)
  recidiviz/tools/looker/aggregated_metrics/custom_workflows_metrics_configurations.py
Due: none

[Justice Counts] Add `before_commit` Trigger for Reporting Agency Cleanup on Deletion (Recidiviz/recidiviz-data#38286)
  recidiviz/persistence/database/schema/justice_counts/schema.py
  recidiviz/tests/justice_counts/control_panel/admin_test.py
Due: generate_calc_documentation

[Insights][RIR] Create querier functions that queries officers/supervisors by `external_ids` (Recidiviz/recidiviz-data#38348)
  recidiviz/outliers/querier/querier.py
  recidiviz/tests/outliers/querier_test.py
Due: none

[Autogenerated] Update Pipfile.lock (Recidiviz/recidiviz-data#38425)
  Pipfile.lock
  recidiviz/pipelines/dataflow_flex_setup.py
Due: generate_calc_documentation

[looker] Add dashboard helper methods (Recidiviz/recidiviz-data#38383)
  recidiviz/looker/lookml_dashboard.py
  recidiviz/looker/lookml_dashboard_element.py
  recidiviz/looker/lookml_dashboard_filter.py
  recidiviz/looker/lookml_view.py
  recidiviz/tests/looker/lookml_dashboard_element_test.py
  recidiviz/tests/looker/lookml_dashboard_filter_test.py
  recidiviz/tests/looker/lookml_dashboard_test.py
  recidiviz/tests/tools/looker/raw_data/fixtures/dashboards/raw_data/us_ll/us_ll_raw_data_person_details_template.dashboard.lookml
  recidiviz/tools/looker/raw_data/person_details_dashboard_generator.py
Due: none

[Dataflow] Pin pipeline runs to zones rather than regions (Recidiviz/recidiviz-data#38437)
  recidiviz/pipelines/calculation_pipeline_templates.yaml
  recidiviz/pipelines/ingest/pipeline_utils.py
  recidiviz/pipelines/pipeline_parameters.py
  recidiviz/tests/pipelines/pipeline_parameters_test.py
Due: generate_calc_documentation

[US_UT] Modify treatment completion criteria query (Recidiviz/recidiviz-data#38439)
  recidiviz/task_eligibility/criteria/state_specific/us_ut/has_completed_ordered_assessments.py
Due: generate_calc_documentation

[Airflow] Allow up to 48 active tasks per DAG (Recidiviz/recidiviz-data#38440)
  recidiviz/tools/deploy/terraform/cloud-composer.tf
Due: update_terraform_lock_file, terraform_fmt

[US_TN] Compliant Reporting Policy B - Criteria + Span stubs, Opp record stub, and Workflows config (Recidiviz/recidiviz-data#37871)
  recidiviz/calculator/query/state/views/reference/workflows_opportunity_configs.py
  recidiviz/calculator/query/state/views/workflows/firestore/firestore_views.py
  recidiviz/calculator/query/state/views/workflows/firestore/us_tn_transfer_to_compliant_reporting_2025_policy_record.py
  recidiviz/task_eligibility/criteria/general/assessed_not_high_on_strong_r_domains.py
  recidiviz/task_eligibility/criteria/general/assessed_risk_low_after_intake.py
  recidiviz/task_eligibility/criteria/general/latest_drug_test_is_negative_or_missing.py
  recidiviz/task_eligibility/criteria/general/no_positive_drug_screens_since_starting_supervision.py
  recidiviz/task_eligibility/criteria/general/no_supervision_sanction_since_starting_supervision.py
  recidiviz/task_eligibility/criteria/general/no_supervision_violation_report_since_starting_supervision.py
  recidiviz/task_eligibility/criteria/general/no_supervision_violation_report_within_6_months.py
  recidiviz/task_eligibility/criteria/general/supervision_level_is_low_moderate_for_6_months.py
  recidiviz/task_eligibility/criteria/general/supervision_level_is_minimum.py
  recidiviz/task_eligibility/criteria/general/supervision_level_low_after_intake.py
  recidiviz/task_eligibility/criteria/state_specific/us_tn/fee_schedule_in_place.py
  recidiviz/task_eligibility/criteria/state_specific/us_tn/home_visit_since_intake.py
  recidiviz/task_eligibility/criteria/state_specific/us_tn/no_arrests_in_past_6_months.py
  recidiviz/task_eligibility/criteria/state_specific/us_tn/no_supervision_sanction_within_3_months.py
  recidiviz/task_eligibility/criteria/state_specific/us_tn/not_serving_ineligible_cr_offense_policy_b.py
  recidiviz/task_eligibility/criteria/state_specific/us_tn/three_face_contacts_within_60_days.py
  recidiviz/task_eligibility/eligibility_spans/us_tn/transfer_to_compliant_reporting_2025_policy.py
  recidiviz/tools/find_unused_bq_views.py
  recidiviz/view_registry/raw_data_reference_reasons.yaml
Due: generate_docs_for_region, generate_calc_documentation, alphabetize_yaml

[US_UT] Use addr_attr to more accurately identify homeless periods (Recidiviz/recidiviz-data#38174)
  recidiviz/ingest/direct/regions/us_ut/ingest_views/view_person_housing_status_period.py
Due: generate_docs_for_region

[US_TN] Fix incarceration_staff_assignment_sessions_preprocessed end dates (Recidiviz/recidiviz-data#38396)
  recidiviz/calculator/query/state/views/sessions/us_tn/us_tn_incarceration_staff_assignment_sessions_preprocessed.py
Due: generate_calc_documentation

[US_AZ] Add eligibility flag to metadata (Recidiviz/recidiviz-data#38298)
  recidiviz/ingest/direct/regions/us_az/ingest_mappings/us_az_state_sentence.yaml
  recidiviz/ingest/direct/regions/us_az/ingest_views/view_state_sentence.py
Due: generate_docs_for_region

[dataflow] force re-create dataflow sandbox tables (Recidiviz/recidiviz-data#38434)
  recidiviz/tests/tools/calculator/create_or_update_dataflow_sandbox_test.py
  recidiviz/tools/calculator/create_or_update_dataflow_sandbox.py
  recidiviz/tools/ingest/development/run_sandbox_ingest_pipeline.py
  recidiviz/tools/load_end_to_end_data_sandbox.py
Due: none

[ingest] adds `sandbox_raw_dataset_prefix` option to `ingest_stability_check` (Recidiviz/recidiviz-data#38436)
  recidiviz/tools/ingest/operations/ingest_stability_check.py
Due: none

[Dataflow] Fix zonal architecture selection by using `workerZone` parameter (Recidiviz/recidiviz-data#38450)
  recidiviz/airflow/tests/calculation/dataflow/single_ingest_pipeline_group_test.py
  recidiviz/airflow/tests/calculation_dag_test.py
  recidiviz/pipelines/calculation_pipeline_templates.yaml
  recidiviz/pipelines/ingest/pipeline_utils.py
  recidiviz/pipelines/pipeline_parameters.py
  recidiviz/tests/admin_panel/ingest_dataflow_operations_test.py
  recidiviz/tests/pipelines/metrics/incarceration/pipeline_test.py
  recidiviz/tests/pipelines/metrics/population_spans/pipeline_test.py
  recidiviz/tests/pipelines/metrics/program/pipeline_test.py
  recidiviz/tests/pipelines/metrics/recidivism/pipeline_test.py
  recidiviz/tests/pipelines/metrics/supervision/pipeline_test.py
  recidiviz/tests/pipelines/metrics/violation/pipeline_test.py
  recidiviz/tests/pipelines/pipeline_parameters_test.py
  recidiviz/tests/tools/load_end_to_end_sandbox_test.py
Due: generate_calc_documentation

[SFTP][US_TX] add tx-specific static ip address (Recidiviz/recidiviz-data#37770)
  recidiviz/tools/deploy/terraform/modules/nat/main.tf
  recidiviz/tools/deploy/terraform/networks.tf
Due: update_terraform_lock_file, terraform_fmt

[dataflow][tests] update zone to `ANY` (Recidiviz/recidiviz-data#38458)
  recidiviz/tests/tools/load_end_to_end_sandbox_test.py
Due: none
