Repository Recidiviz/pulse-data: changes, and which pre-commit hooks are due for each by the changed paths.
All: clear_notebook_files, validate_scripts_and_notebooks_are_changed_together, generate_docs_for_region, generate_docs_for_endpoint, generate_entity_documentation, generate_calc_documentation, generate_ingest_mappings_schema_documentation, update_terraform_lock_file, terraform_fmt, alphabetize_yaml, generate_lookml

Path conditions:
  clear_notebook_files: any of: \.ipynb$
  validate_scripts_and_notebooks_are_changed_together: any of: ^recidiviz/research/.*notebooks/.*/nbautoexport-scripts/.*\.py$
  generate_docs_for_region: any of: ^recidiviz/ingest/direct/regions/|^recidiviz/view_registry/raw_data_reference_reasons.yaml
  generate_docs_for_endpoint: any of: (?x)(^recidiviz/tools/docs/endpoint_documentation_generator.py|^recidiviz/server_blueprint_registry.py|.*/routes/|.*routes.py|.*/server.py|.*control.py|.*endpoint.py|.*endpoints.py|^recidiviz/backup/backup_manager.py|^recidiviz/pipelines/calculation_data_storage_manager.py)$, but not: ^recidiviz/tests
  generate_entity_documentation: any of: (?x)(^recidiviz/persistence/database/schema/state/schema.py|^recidiviz/persistence/entity/state/normalized_entities.py|^recidiviz/persistence/entity/state/entities.py|^recidiviz/common/constants/state/)$

  generate_calc_documentation: any of: ^recidiviz/calculator/query/|^recidiviz/.*/views/|^recidiviz/task_eligibility/|^recidiviz/monitoring/platform_kpis/|^recidiviz/ingest/direct/regions/.*/raw_data/, but not: ^recidiviz/tests/|^recidiviz/calculator/modeling/
  generate_ingest_mappings_schema_documentation: any of: ^recidiviz/ingest/direct/ingest_mappings/yaml_schema/|^docs/engineering/ingest_mapping_schema/
  update_terraform_lock_file: any of: ^recidiviz/tools/deploy/terraform/
  terraform_fmt: any of: ^recidiviz/tools/deploy/terraform/
  alphabetize_yaml: any of: recidiviz/view_registry/raw_data_reference_reasons.yaml
  generate_lookml: any of: ^recidiviz/persistence/entity/state/|^recidiviz/tools/looker/|^recidiviz/aggregated_metrics/|^recidiviz/observations/views/|^recidiviz/ingest/direct/regions/.*/raw_data/|^recidiviz/segment/product_type/|^recidiviz/calculator/query/state/views/analyst_data/global_provisioned_user_sessions, but not: ^recidiviz/tools/looker/__generated__/

[CNI] Unify fake config modules used in tests (Recidiviz/recidiviz-data#93285)
  recidiviz/airflow/tests/llm_document_extraction_dag_test.py
  recidiviz/tests/documents/extraction/llm_extraction_eligible_document_query_builder_test.py
  recidiviz/tests/documents/fake_config/document_collections/us_xx/fake_case_notes.yaml
  recidiviz/tests/documents/fake_config/document_collections/us_xx/fake_person_id_notes.yaml
  recidiviz/tests/documents/fake_config/document_collections/us_xx/fake_staff_id_reports.yaml
  recidiviz/tests/documents/fake_config/document_collections/us_xx/fake_staff_reports.yaml
  recidiviz/tests/documents/fake_config/document_collections/us_yy/fake_us_yy_notes.yaml
  recidiviz/tests/documents/store/config/__init__.py
  recidiviz/tests/documents/store/config/extractor_collections/__init__.py
  recidiviz/tests/documents/store/config/model_registry.yaml
  recidiviz/tests/documents/store/document_collection_config_test.py
  recidiviz/tests/documents/store/document_collection_query_builder_test.py
  recidiviz/tests/documents/store/document_contents_upload_query_builder_test.py
  recidiviz/tests/documents/store/document_metadata_table_query_builder_test.py
  recidiviz/tests/documents/store/document_metadata_updates_query_builder_test.py
  recidiviz/tests/documents/store/new_document_discovery_test.py
  recidiviz/tests/documents/store/record_document_upload_results_test.py
  recidiviz/tests/source_tables/document_store_source_table_collection_test.py
Due: none

[CNI][Entity Resolution] Made ER-specific subclass of DocumentCollectionConfig (Recidiviz/recidiviz-data#93293)
  recidiviz/documents/extraction/entity_resolution/entity_resolution_composite_document_query_builder.py
  recidiviz/documents/extraction/entity_resolution/entity_resolution_document_collection_config.py
  recidiviz/documents/extraction/entity_resolution/entity_resolution_extractor_collection_config_builder.py
  recidiviz/documents/extraction/entity_resolution/entity_resolution_extractor_generator.py
  recidiviz/documents/extraction/llm_extractor_config_collectors.py
  recidiviz/documents/store/document_collection_config_collectors.py
  recidiviz/tests/documents/extraction/entity_resolution/entity_resolution_document_collection_config_test.py
  recidiviz/tests/documents/extraction/entity_resolution/entity_resolution_extractor_collection_config_builder_test.py
  recidiviz/tests/documents/extraction/entity_resolution/entity_resolution_extractor_generator_test.py
  recidiviz/tests/documents/extraction/entity_resolution/entity_resolution_test_utils.py
  recidiviz/tests/documents/store/document_collection_config_collectors_test.py
Due: none

[US_CO] Wire Edovo credit writeback into shared eOMIS hosting (OBT-39514) (Recidiviz/recidiviz-data#93150)
  recidiviz/entrypoints/eomis_writeback.py
  recidiviz/eomis/scheduled_flows.py
  recidiviz/eomis/us_co/__init__.py
  recidiviz/eomis/us_co/sentence_credit_flow.py
  recidiviz/tests/entrypoints/eomis_writeback_test.py
  recidiviz/tests/eomis/scheduled_flows_test.py
  recidiviz/tests/eomis/us_co/__init__.py
  recidiviz/tests/eomis/us_co/sentence_credit_flow_test.py
  recidiviz/tools/deploy/terraform/cloud-run-eomis-writeback.tf
Due: update_terraform_lock_file, terraform_fmt

[Identity Service] Add POST /identity/search endpoint (Recidiviz/recidiviz-data#90514)
  recidiviz/services/identity/api_schemas.py
  recidiviz/services/identity/identity_blueprint.py
  recidiviz/services/identity/querier.py
  recidiviz/services/identity/types.py
  recidiviz/tests/services/identity/querier_test.py
  recidiviz/tests/services/identity/server_test.py
  recidiviz/tests/services/identity/types_test.py
Due: none

[Monitoring] Format synthetic monitoring alert titles (Recidiviz/recidiviz-data#92949)
  recidiviz/monitoring/pagerduty_alert_forwarder/config.yaml
  recidiviz/monitoring/pagerduty_alert_forwarder/rule_engine.py
  recidiviz/tests/monitoring/pagerduty_alert_forwarder/config_loader_test.py
  recidiviz/tests/monitoring/pagerduty_alert_forwarder/rule_engine_test.py
Due: none

[CI] Move `validate_source_visibility` checks into pytest (Recidiviz/recidiviz-data#62305)
  .github/workflows/ci.yml
  CODEOWNERS
  recidiviz/airflow/README.md
  recidiviz/tests/tools/validate_source_visibility_integration_test.py
  recidiviz/tests/tools/validate_source_visibility_test.py
  recidiviz/tools/validate_source_visibility.py
Due: none

[CNI][Entity Resolution] Add ER *entry_source_map source tables (Recidiviz/recidiviz-data#93296)
  recidiviz/documents/extraction/entity_resolution/entity_resolution_document_collection_config.py
  recidiviz/documents/extraction/entity_resolution/entity_resolution_entry_source_map_table.py
  recidiviz/source_tables/document_store_source_table_collection.py
  recidiviz/tests/documents/extraction/entity_resolution/entity_resolution_document_collection_config_test.py
  recidiviz/tests/documents/extraction/entity_resolution/entity_resolution_entry_source_map_table_test.py
  recidiviz/tests/source_tables/document_store_source_table_collection_test.py
Due: none

[US_AZ] Minor mapping change (Recidiviz/recidiviz-data#93757)
  recidiviz/ingest/direct/regions/us_az/ingest_mappings/us_az_incarceration_periods.yaml
Due: generate_docs_for_region

[US_CO][Earned Time] Spec-shaped auth errors for the Edovo course-completion endpoint (Recidiviz/recidiviz-data#93773)
  recidiviz/case_triage/edovo/course_completion_models.py
  recidiviz/case_triage/edovo/edovo_routes.py
  recidiviz/case_triage/server.py
  recidiviz/tests/case_triage/edovo/test_edovo_routes.py
Due: generate_docs_for_endpoint

[US_UT] Map new enum values (Recidiviz/recidiviz-data#93872)
  recidiviz/ingest/direct/regions/us_ut/ingest_mappings/us_ut_supervision_period.yaml
Due: generate_docs_for_region

[JII][Segment] Deprecate `all_jii_segment_pages` (Recidiviz/recidiviz-data#93762)
  recidiviz/segment/all_jii_segment_pages.py
  recidiviz/segment/view_config.py
  recidiviz/tests/big_query/known_undocumented_columns.py
Due: none

[Intercom] Add top level entrypoint code to carry out Intercom export (Recidiviz/recidiviz-data#92946)
  recidiviz/entrypoints/intercom_outbound_data_export.py
  recidiviz/intercom/client.py
  recidiviz/intercom/intercom_gcs_upload.py
  recidiviz/intercom/manager.py
  recidiviz/tests/entrypoints/intercom_outbound_data_export_test.py
  recidiviz/tests/intercom/manager_test.py
Due: none

[Search] Add opportunityType to opportunity record rows during ETL (Recidiviz/recidiviz-data#93768)
  recidiviz/tests/workflows/etl/demo_data_test.py
  recidiviz/tests/workflows/etl/workflows_client_etl_delegate_test.py
  recidiviz/tests/workflows/etl/workflows_firestore_etl_delegate_test.py
  recidiviz/tests/workflows/etl/workflows_incarceration_staff_etl_delegate_test.py
  recidiviz/tests/workflows/etl/workflows_location_etl_delegate_test.py
  recidiviz/tests/workflows/etl/workflows_opportunity_etl_delegate_test.py
  recidiviz/tests/workflows/etl/workflows_resident_etl_delegate_test.py
  recidiviz/tests/workflows/etl/workflows_single_state_etl_delegate_test.py
  recidiviz/tests/workflows/etl/workflows_supervision_staff_etl_delegate_test.py
  recidiviz/tests/workflows/etl/workflows_tasks_etl_delegate_test.py
  recidiviz/workflows/etl/workflows_client_etl_delegate.py
  recidiviz/workflows/etl/workflows_etl_delegate.py
  recidiviz/workflows/etl/workflows_incarceration_staff_etl_delegate.py
  recidiviz/workflows/etl/workflows_location_etl_delegate.py
  recidiviz/workflows/etl/workflows_opportunity_etl_delegate.py
  recidiviz/workflows/etl/workflows_resident_etl_delegate.py
  recidiviz/workflows/etl/workflows_supervision_staff_etl_delegate.py
  recidiviz/workflows/etl/workflows_tasks_etl_delegate.py
Due: none

[US_CO][CNI] Add production configs for CO supervision extractors (OBT-40543) (Recidiviz/recidiviz-data#92938)
  recidiviz/documents/config/document_collections/us_co/supervision_contact_notes.yaml
  recidiviz/documents/config/extractor_collections/case_note_employment_info/collection.yaml
  recidiviz/documents/config/extractor_collections/case_note_employment_info/prompt_template.txt
  recidiviz/documents/config/extractor_collections/case_note_employment_info/us_co/extractor.yaml
  recidiviz/documents/config/extractor_collections/case_note_housing_info/collection.yaml
  recidiviz/documents/config/extractor_collections/case_note_housing_info/prompt_template.txt
  recidiviz/documents/config/extractor_collections/case_note_housing_info/us_co/extractor.yaml
  recidiviz/documents/config/extractor_collections/case_note_payment_info/collection.yaml
  recidiviz/documents/config/extractor_collections/case_note_payment_info/prompt_template.txt
  recidiviz/documents/config/extractor_collections/case_note_payment_info/us_co/extractor.yaml
  recidiviz/documents/config/reference_data/us_co/acronyms.yaml
  recidiviz/documents/config/reference_data/us_co/known_organizations.yaml
Due: none

[CI] Auto-sync pinned dependencies in uv-lock workflow (Recidiviz/recidiviz-data#92976)
  pyproject.toml
  recidiviz/pipelines/Dockerfile.pipelines
  recidiviz/pipelines/dataflow_flex_MANIFEST.in
  recidiviz/pipelines/dataflow_flex_requirements.txt
  recidiviz/pipelines/dataflow_flex_setup.py
  recidiviz/tests/pipelines/dataflow_flex_setup_test.py
  recidiviz/tests/tools/claude_workflows/pg_ticket_diagnosis_requirements_test.py
  recidiviz/tests/tools/deploy/dataflow_flex_setup_test.py
  recidiviz/tests/tools/deploy/sync_pinned_dependencies_test.py
  recidiviz/tests/tools/pinned_requirements_test.py
  recidiviz/tools/deploy/sync_pinned_dependencies.py
  recidiviz/tools/pinned_dependency_utils.py
  uv.lock
Due: none

[US_IX] Remove custom resident_record_incarceration_cases_with_dates logic (Recidiviz/recidiviz-data#93755)
  recidiviz/tests/big_query/known_undocumented_columns.py
  recidiviz/tests/view_registry/sentences_v1_migration_burndown/us_ix_sentences_v1_burndown.py
  recidiviz/view_registry/deprecated_view_reference_exemptions.py
Due: none

[llm extraction] Add extraction result validator with initial validation (Recidiviz/recidiviz-data#92936)
  recidiviz/documents/extraction/extraction_results_columns.py
  recidiviz/documents/extraction/llm_document_validation_result.py
  recidiviz/documents/extraction/llm_extraction_result_validator.py
  recidiviz/documents/extraction/models/llm_extractor_collection_config.py
  recidiviz/tests/documents/extraction/llm_document_validation_result_test.py
  recidiviz/tests/documents/extraction/llm_extraction_result_validator_test.py
  recidiviz/tests/documents/extraction/llm_extraction_results_persister_test.py
  recidiviz/tests/utils/validate_json_schema_test.py
  recidiviz/utils/validate_json_schema.py
Due: none

[llm extraction] Add server error type to schema (Recidiviz/recidiviz-data#92947)
  recidiviz/common/constants/operations/enum_canonical_strings.py
  recidiviz/common/constants/operations/llm_extraction_job.py
  recidiviz/persistence/database/migrations/operations/versions/2026_07_28_0900_9788560d7320_add_llm_request_server_error_type.py
  recidiviz/persistence/database/schema/operations/schema.py
Due: none

[cni][llm extraction] add extraction job generator (Recidiviz/recidiviz-data#93881)
  recidiviz/documents/extraction/llm_extraction_job_generator.py
  recidiviz/tests/documents/extraction/llm_extraction_job_generator_test.py
Due: none

[llm extractor] Add document extraction result processor (Recidiviz/recidiviz-data#92977)
  recidiviz/documents/extraction/llm_client/types.py
  recidiviz/documents/extraction/llm_document_validation_result.py
  recidiviz/documents/extraction/llm_extraction_job_manager.py
  recidiviz/documents/extraction/llm_extraction_result_processor.py
  recidiviz/tests/documents/extraction/fake_extractor_result_json.py
  recidiviz/tests/documents/extraction/fake_extractor_result_json_test.py
  recidiviz/tests/documents/extraction/llm_document_validation_result_test.py
  recidiviz/tests/documents/extraction/llm_extraction_job_manager_test.py
  recidiviz/tests/documents/extraction/llm_extraction_result_processor_test.py
  recidiviz/tests/documents/extraction/llm_extraction_result_validator_test.py
Due: none

[US_TX] Add route planner columns to supervision_contact_due (Recidiviz/recidiviz-data#93764)
  recidiviz/aggregated_metrics/configuration/collections/standard.py
  recidiviz/aggregated_metrics/models/aggregated_metric_configurations.py
  recidiviz/tools/looker/aggregated_metrics/custom_tasks_metrics_configurations.py
Due: generate_lookml

[llm extraction] Escalate result type to DOCUMENT_LEVEL_FAILURE_RETRIES_EXHAUSTED after exceeding max retries (Recidiviz/recidiviz-data#92980)
  recidiviz/documents/extraction/llm_extraction_job_manager.py
  recidiviz/documents/extraction/llm_extraction_result_processor.py
  recidiviz/tests/documents/extraction/llm_extraction_job_manager_test.py
  recidiviz/tests/documents/extraction/llm_extraction_result_processor_test.py
Due: none

[US_IX] Map Sanction to STATUS_CHANGE release reason (Recidiviz/recidiviz-data#94017)
  recidiviz/ingest/direct/regions/us_ix/ingest_mappings/us_ix_incarceration_period.yaml
Due: generate_docs_for_region

[US_IA] Add MCP callback endpoint for early discharge writeback (Recidiviz/recidiviz-data#93281)
  pyproject.toml
  recidiviz/case_triage/helpers.py
  recidiviz/case_triage/workflows/workflows_routes.py
  recidiviz/case_triage/workflows/writeback/us_ia_early_discharge.py
  recidiviz/tests/case_triage/workflows/workflows_routes_test.py
  recidiviz/tests/case_triage/workflows/writeback/test_us_ia_early_discharge.py
  uv.lock
Due: generate_docs_for_endpoint

[US_AR] Require a certificate award date before completing a GED referral (Recidiviz/recidiviz-data#93878)
  recidiviz/eomis/us_ar/program_referral_flow.py
  recidiviz/tests/eomis/us_ar/program_referral_flow_test.py
Due: none

[Terraform] Remove stale document store CMEK import blocks (Recidiviz/recidiviz-data#94036)
  recidiviz/tools/deploy/terraform/state-document-store.tf
Due: update_terraform_lock_file, terraform_fmt

[Bugfix][CNI] Include all CNI config files in Cloud Composer (Recidiviz/recidiviz-data#94043)
  recidiviz/tools/deploy/terraform/config/cloud_composer_source_files_to_copy.yaml
Due: update_terraform_lock_file, terraform_fmt

[US_IA] Add a cloud armor exception for the US_IA writeback endpoint (Recidiviz/recidiviz-data#94154)
  recidiviz/tools/deploy/terraform/cloud-armor.tf
Due: update_terraform_lock_file, terraform_fmt

[US_TN][classification] implement dcaf v2 and rcaf v3 draft/placeholder scoring into recommended custody spans (Recidiviz/recidiviz-data#93894)
  recidiviz/ingest/direct/regions/us_tn/ingest_mappings/us_tn_RCAFandDCAFAssessments.yaml
  recidiviz/task_eligibility/utils/us_tn_query_fragments.py
  recidiviz/tests/big_query/known_undocumented_columns.py
Due: generate_docs_for_region, generate_calc_documentation

[Bugfix][Document Store] Adjust document batch size to avoid OOMs (Recidiviz/recidiviz-data#94054)
  recidiviz/documents/store/new_document_discovery.py
Due: none

[docs] Document worktree naming convention in CLAUDE.md (Recidiviz/recidiviz-data#94032)
  CLAUDE.md
Due: none

[US_CO][Document Store] Filter out supervision contact with null CONTACTDATE (Recidiviz/recidiviz-data#94162)
  recidiviz/documents/config/document_collections/us_co/supervision_contact_notes.yaml
Due: none

[US_ND] New ingest view for supervision violations stored in Elite (Recidiviz/recidiviz-data#91858)
  recidiviz/ingest/direct/regions/us_nd/ingest_mappings/us_nd_elite_supervision_violations.yaml
  recidiviz/ingest/direct/regions/us_nd/us_nd_custom_enum_parsers.py
  recidiviz/pipelines/cloudbuild.pipelines.dev.gcloudignore
  recidiviz/tests/source_tables/update_big_query_table_schemas_test.py
Due: generate_docs_for_region

[Ingest] Add feature variant gating support for TOMIS migration (Recidiviz/recidiviz-data#93772)
  recidiviz/common/attr_validators.py
  recidiviz/ingest/direct/feature_flags_registry.py
  recidiviz/ingest/direct/ingest_mappings/activity_ingest_view_manifest_compiler_delegate.py
  recidiviz/ingest/direct/ingest_mappings/env_property_utils.py
  recidiviz/ingest/direct/ingest_mappings/identity_ingest_view_manifest_compiler_delegate.py
  recidiviz/ingest/direct/ingest_mappings/ingest_view_contents_context.py
  recidiviz/ingest/direct/ingest_mappings/ingest_view_manifest_compiler_delegate.py
  recidiviz/ingest/direct/ingest_mappings/yaml_schema/1.0.0/boolean_expressions/env_property.json
  recidiviz/tests/ingest/direct/feature_flags_registry_test.py
  recidiviz/tests/ingest/direct/ingest_mappings/env_property_utils_test.py
  recidiviz/tests/ingest/direct/ingest_mappings/fixtures/ingest_view_file_parser/ingest_view_files/boolean_condition_feature_flag.csv
  recidiviz/tests/ingest/direct/ingest_mappings/fixtures/ingest_view_file_parser/ingest_view_files/should_launch_feature_flag.csv
  recidiviz/tests/ingest/direct/ingest_mappings/fixtures/ingest_view_file_parser/ingest_view_files/should_launch_feature_flag_inverse.csv
  recidiviz/tests/ingest/direct/ingest_mappings/fixtures/ingest_view_file_parser/manifests/boolean_condition_feature_flag.yaml
  recidiviz/tests/ingest/direct/ingest_mappings/fixtures/ingest_view_file_parser/manifests/should_launch_feature_flag.yaml
  recidiviz/tests/ingest/direct/ingest_mappings/fixtures/ingest_view_file_parser/manifests/should_launch_feature_flag_inverse.yaml
  recidiviz/tests/ingest/direct/ingest_mappings/ingest_view_manifest_collector_test.py
  recidiviz/tests/ingest/direct/ingest_mappings/ingest_view_manifest_compiler_test.py
  recidiviz/tests/ingest/direct/regions/direct_ingest_region_structure_test.py
  recidiviz/tests/pipelines/ingest/transforms/generate_entities_test.py
  recidiviz/tests/tools/file_dependencies_test.py
  recidiviz/tests/tools/validate_source_visibility_integration_test.py
  recidiviz/utils/string_formatting.py
Due: generate_ingest_mappings_schema_documentation

[Deploy] Replace timing-out rsync in Colab mirror sync with cp plus tracked-file diff (Recidiviz/recidiviz-data#94170)
  recidiviz/tools/deploy/sync_repo_to_colab_mirror.sh
  recidiviz/tools/deploy/terraform/repositories-bucket-sync-trigger.tf
Due: update_terraform_lock_file, terraform_fmt

[Aggregated metrics] Fix nondeterminism for `unit_of_analysis_assignments_by_time_period` views (Recidiviz/recidiviz-data#94281)
  recidiviz/aggregated_metrics/aggregated_metrics_view_collector.py
Due: generate_lookml

[Tasks] Add Snooze Status Archive (Recidiviz/recidiviz-data#94024)
  recidiviz/source_tables/yaml_managed/gcs_backed_tables/tasks_snooze_status_archive.yaml
  recidiviz/tools/deploy/terraform/cloud-storage.tf
  recidiviz/tools/find_unused_bq_views.py
Due: update_terraform_lock_file, terraform_fmt

Configure new opportunity event segment fields in BQ (Recidiviz/recidiviz-data#94042)
  recidiviz/source_tables/externally_managed/pulse_dashboard_segment_metrics/frontend_opportunity_approval_actions.yaml
Due: none

[US_CO][Earned Time] Strip leading zeros when matching Edovo person_external_id (Recidiviz/recidiviz-data#94044)
  recidiviz/case_triage/edovo/credit_calculator.py
  recidiviz/case_triage/edovo/external_id_matching.py
  recidiviz/case_triage/edovo/person_existence.py
  recidiviz/tests/case_triage/edovo/test_credit_calculation_job.py
  recidiviz/tests/case_triage/edovo/test_credit_calculator.py
  recidiviz/tests/case_triage/edovo/test_edovo_routes.py
  recidiviz/tests/case_triage/edovo/test_person_existence.py
Due: none

[Sentencing] Relocate validation views (Recidiviz/recidiviz-data#94280)
  recidiviz/tests/big_query/known_undocumented_columns.py
  recidiviz/validation/configured_validations.py
Due: none
