Repository Recidiviz/pulse-data: changes, and which pre-commit hooks are due for each by the changed paths.
All: generate_docs_for_region, generate_docs_for_endpoint, generate_entity_documentation

generate_docs_for_region:
  name: generate_docs_for_region
  entry: pipenv run python -m recidiviz.tools.docs.region_documentation_generator
  language: system
  require_serial: true

generate_docs_for_endpoint:
  name: generate_docs_for_endpoint
  entry: pipenv run python -m recidiviz.tools.docs.endpoint_documentation_generator
  language: system
  require_serial: true

generate_entity_documentation:
  name: generate_entity_documentation
  entry: pipenv run python -m recidiviz.tools.docs.entity_documentation_generator
  language: system
  require_serial: true

[US_IX] bump us_ix hard failures (Recidiviz/recidiviz-data#24994)
  recidiviz/validation/config/regions/us_ix/us_ix_validation_config.yaml
Due: generate_docs_for_endpoint

[Outliers] Flag whether a supervisor has outliers and include pseudonymized id in /supervisors (Recidiviz/recidiviz-data#24993)
  recidiviz/case_triage/outliers/outliers_routes.py
  recidiviz/outliers/querier/querier.py
  recidiviz/outliers/types.py
  recidiviz/tests/case_triage/outliers/outliers_routes_test.py
  recidiviz/tests/outliers/querier_test.py
  recidiviz/tools/outliers/fixtures/supervision_officer_outlier_status.csv
  recidiviz/tools/outliers/fixtures/supervision_officers.csv
Due: generate_docs_for_endpoint

[US_MO] adding yamls for TAK295 and TAK296 (Recidiviz/recidiviz-data#24982)
  recidiviz/ingest/direct/regions/us_mo/raw_data/us_mo_LBAKRDTA_TAK295.yaml
  recidiviz/ingest/direct/regions/us_mo/raw_data/us_mo_LBAKRDTA_TAK296.yaml
Due: generate_docs_for_region, generate_docs_for_endpoint

[Security] Enable WAF in prod (Recidiviz/recidiviz-data#22741)
  recidiviz/tools/deploy/terraform/cloud-armor.tf
Due: generate_docs_for_endpoint

[Justice Counts] fix - make sure session.commit() is within session context (Recidiviz/recidiviz-data#24988)
  recidiviz/tools/justice_counts/copy_over_metric_settings_to_child_agencies.py
Due: generate_docs_for_endpoint

[Justice Counts] CSG Scoreboard start (Recidiviz/recidiviz-data#24855)
  recidiviz/justice_counts/control_panel/utils.py
  recidiviz/justice_counts/jobs/csg_data_pull.py
Due: generate_docs_for_endpoint

[US_ND] Add raw data config for October P&P Directory (Recidiviz/recidiviz-data#25008)
  recidiviz/ingest/direct/regions/us_nd/raw_data/us_nd_RECIDIVIZ_REFERENCE_PP_directory.yaml
Due: generate_docs_for_region, generate_docs_for_endpoint

[schema change] deprecate `state_staff_specialized_caseload_type` in favor of new `caseload_type` enum (Recidiviz/recidiviz-data#25005)
  recidiviz/common/constants/state/enum_canonical_strings.py
  recidiviz/common/constants/state/state_staff_caseload_type.py
  recidiviz/ingest/direct/regions/us_ix/ingest_mappings/us_ix_state_staff_caseload_type_periods.yaml
  recidiviz/ingest/direct/regions/us_ix/ingest_mappings/us_ix_state_staff_role_location_periods.yaml
  recidiviz/ingest/direct/regions/us_ix/us_ix_custom_enum_parsers.py
  recidiviz/ingest/direct/regions/us_pa/ingest_mappings/us_pa_supervision_staff_caseload_type_period.yaml
  recidiviz/persistence/database/migrations/state/versions/2023_10_26_1108_19c1e900f88c_rm_sp_caseload_field.py
  recidiviz/persistence/database/schema/state/schema.py
  recidiviz/persistence/entity/state/entities.py
  recidiviz/tests/persistence/database/database_test_utils.py
  recidiviz/tests/persistence/database/schema/state/schema_test.py
  recidiviz/tests/persistence/entity/entity_utils_test.py
  recidiviz/tests/persistence/entity/state/deserialize_entity_factories_test.py
  recidiviz/tests/persistence/entity/state/entities_test_utils.py
Due: generate_docs_for_region, generate_docs_for_endpoint, generate_entity_documentation

[Ingest] Add task_metadata to StateTaskDeadline uniqueness constraint (Recidiviz/recidiviz-data#24976)
  recidiviz/persistence/database/migrations/state/versions/2023_10_24_1604_c2da8c1ade37_drop_task_deadline_constraint.py
  recidiviz/persistence/database/schema/state/schema.py
  recidiviz/persistence/entity/state/entities.py
  recidiviz/persistence/entity_matching/root_entity_update_merger.py
  recidiviz/tests/persistence/database/schema/state/schema_test.py
  recidiviz/tests/persistence/entity_matching/ingest_view_tree_merger_test.py
  recidiviz/tests/persistence/entity_matching/root_entity_update_merger_test.py
  recidiviz/tests/persistence/entity_matching/us_xx_entity_builders.py
  recidiviz/tests/pipelines/ingest/state/run_validations_test.py
  recidiviz/tests/pipelines/ingest/state/validator_test.py
Due: generate_docs_for_endpoint, generate_entity_documentation

[Bugfix] Fix test_single_head_revision failure (Recidiviz/recidiviz-data#25024)
  recidiviz/persistence/database/migrations/state/versions/2023_10_26_1108_19c1e900f88c_rm_sp_caseload_field.py
Due: generate_docs_for_endpoint

[Airflow] Fix DISCRETE_CONFIGURATION_PARAMETERS for ingest/calc DAGs (Recidiviz/recidiviz-data#25025)
  recidiviz/airflow/dags/monitoring/task_failure_alerts.py
  recidiviz/airflow/tests/dag_integrity_test.py
Due: generate_docs_for_endpoint

[US_AR] Ingest supervision periods (Recidiviz/recidiviz-data#23346)
  recidiviz/ingest/direct/regions/us_ar/ingest_mappings/us_ar_supervision_period.yaml
  recidiviz/ingest/direct/regions/us_ar/ingest_views/view_supervision_period.py
  recidiviz/ingest/direct/regions/us_ar/us_ar_controller.py
  recidiviz/ingest/direct/regions/us_ar/us_ar_custom_enum_parsers.py
Due: generate_docs_for_region, generate_docs_for_endpoint

[Outliers] Implement GET officer by pseudonymized id: `/<state>/officer/<pseudonymized_officer_id>` (Recidiviz/recidiviz-data#24975)
  recidiviz/case_triage/outliers/outliers_routes.py
  recidiviz/tests/case_triage/outliers/outliers_routes_test.py
Due: generate_docs_for_endpoint

[Outliers] Add officer to the PK (Recidiviz/recidiviz-data#25031)
  recidiviz/persistence/database/schema/outliers/schema.py
Due: generate_docs_for_endpoint

[US_TN] Adding specific violation logic to look 10 days forward (Recidiviz/recidiviz-data#24990)
  recidiviz/pipelines/metrics/incarceration/identifier.py
  recidiviz/pipelines/metrics/supervision/identifier.py
  recidiviz/pipelines/utils/state_utils/state_specific_violations_delegate.py
  recidiviz/pipelines/utils/state_utils/us_nd/us_nd_violations_delegate.py
  recidiviz/pipelines/utils/state_utils/us_tn/us_tn_violations_delegate.py
  recidiviz/tests/pipelines/utils/state_utils/state_specific_violations_delegate_test.py
  recidiviz/tests/pipelines/utils/state_utils/us_nd/us_nd_violations_delegate_test.py
  recidiviz/tests/pipelines/utils/state_utils/us_tn/us_tn_violations_delegate_test.py
Due: generate_docs_for_endpoint

[Schema Change] Add drug_screen_metadata field to state_drug_screen (Recidiviz/recidiviz-data#25017)
  recidiviz/persistence/database/migrations/state/versions/2023_10_27_1142_018e184b8b4e_add_drug_screen_metadata_col.py
  recidiviz/persistence/database/schema/state/schema.py
  recidiviz/persistence/entity/state/entities.py
  recidiviz/tests/persistence/entity/state/deserialize_entity_factories_test.py
Due: generate_docs_for_endpoint, generate_entity_documentation

[US_TN] Hydrate state_staff_supervisor_periods for TN Outliers Work (Recidiviz/recidiviz-data#24940)
  recidiviz/ingest/direct/regions/us_tn/ingest_mappings/us_tn_StaffSupervisorPeriods.yaml
  recidiviz/ingest/direct/regions/us_tn/ingest_views/view_StaffRoleLocationPeriods.py
  recidiviz/ingest/direct/regions/us_tn/ingest_views/view_StaffSupervisorPeriods.py
  recidiviz/ingest/direct/regions/us_tn/us_tn_controller.py
Due: generate_docs_for_region, generate_docs_for_endpoint

[Outliers] Address /events user_context error (Recidiviz/recidiviz-data#25019)
  recidiviz/case_triage/outliers/outliers_authorization.py
Due: generate_docs_for_endpoint

[Workflows][US_MI] Update completion event for CR (Recidiviz/recidiviz-data#25033)
  recidiviz/calculator/query/state/views/reference/workflows_opportunity_configs.py
Due: generate_docs_for_endpoint

[Outliers] Return Not Found error when requested officer doesn't have metrics for the requested period (Recidiviz/recidiviz-data#25021)
  recidiviz/case_triage/outliers/outliers_routes.py
  recidiviz/outliers/querier/querier.py
  recidiviz/tests/outliers/querier_test.py
Due: generate_docs_for_endpoint

add pseudonymized_id column to roster (Recidiviz/recidiviz-data#24992)
  recidiviz/auth/auth_api_schemas.py
  recidiviz/auth/auth_users_endpoint.py
  recidiviz/calculator/query/state/views/reference/ingested_product_users.py
  recidiviz/persistence/database/migrations/case_triage/versions/2023_10_25_1149_9a817e072599_add_pseudonymized_id_column.py
  recidiviz/persistence/database/schema/case_triage/schema.py
  recidiviz/tests/auth/auth_endpoint_test.py
  recidiviz/tests/auth/auth_users_endpoint_test.py
  recidiviz/tests/auth/fixtures/us_xx_ingested_users.csv
  recidiviz/tests/auth/helpers.py
  recidiviz/tests/cloud_sql/gcs_import_to_cloud_sql_test.py
  recidiviz/tools/case_triage/fixtures/roster.csv
Due: generate_docs_for_endpoint

[US_TN] Ungate Violations views to prod and Ungate IP_v3 view to prod secondary for TN tools downstream (Recidiviz/recidiviz-data#25029)
  recidiviz/ingest/direct/regions/us_tn/ingest_mappings/us_tn_InferredViolations.yaml
  recidiviz/ingest/direct/regions/us_tn/ingest_mappings/us_tn_OffenderMovementIncarcerationPeriod_v2.yaml
  recidiviz/ingest/direct/regions/us_tn/ingest_mappings/us_tn_OffenderMovementIncarcerationPeriod_v3.yaml
  recidiviz/ingest/direct/regions/us_tn/ingest_mappings/us_tn_ViolationsAndSanctions.yaml
  recidiviz/ingest/direct/regions/us_tn/us_tn_controller.py
Due: generate_docs_for_region, generate_docs_for_endpoint

[Outliers] Use state code as external id if Recidiviz (Recidiviz/recidiviz-data#25035)
  recidiviz/case_triage/outliers/outliers_authorization.py
Due: generate_docs_for_endpoint

[US_OR] Adding new enum value (Recidiviz/recidiviz-data#25050)
  recidiviz/ingest/direct/regions/us_or/ingest_mappings/us_or_Supervision_Period.yaml
Due: generate_docs_for_region, generate_docs_for_endpoint

Adding a validation that checks if primary keys are unique across all states for all entities (Recidiviz/recidiviz-data#24969)
  recidiviz/validation/configured_validations.py
  recidiviz/validation/views/state/invalid_admission_reason_and_pfi.py
  recidiviz/validation/views/state/invalid_admission_reasons_for_temporary_custody.py
  recidiviz/validation/views/state/invalid_admitted_from_supervision_admission_reason.py
  recidiviz/validation/views/state/invalid_null_spfi_in_normalized_ips.py
  recidiviz/validation/views/state/invalid_pfi_for_temporary_custody_admissions.py
  recidiviz/validation/views/state/invalid_release_reasons_for_temporary_custody.py
  recidiviz/validation/views/state/primary_keys_unique_across_all_states.py
  recidiviz/validation/views/utils/entities_validation_utils.py
Due: generate_docs_for_endpoint

Adding additional roles for the ingest service account (Recidiviz/recidiviz-data#24762)
  recidiviz/pipelines/pipeline_parameters.py
  recidiviz/tests/pipelines/ingest/pipeline_parameters_test.py
  recidiviz/tools/deploy/terraform/modules/state-direct-ingest-resources/main.tf
  recidiviz/tools/ingest/development/run_sandbox_ingest_pipeline.py
Due: generate_docs_for_endpoint

[Autogenerated] Update Pipfile.lock (Recidiviz/recidiviz-data#25048)
  Pipfile.lock
  recidiviz/pipelines/dataflow_flex_setup.py
Due: generate_docs_for_endpoint

[migration] update watermark_datetime to be timezone aware (Recidiviz/recidiviz-data#25061)
  recidiviz/persistence/database/migrations/operations/versions/2023_10_30_1402_10527c023d57_update_upperbounds_timezone.py
  recidiviz/persistence/database/schema/operations/schema.py
  recidiviz/tests/ingest/direct/metadata/direct_ingest_dataflow_watermark_manager_test.py
Due: generate_docs_for_endpoint

Fixing entity matching bug with incomplete flat fields (Recidiviz/recidiviz-data#25023)
  recidiviz/persistence/entity_matching/root_entity_update_merger.py
  recidiviz/tests/persistence/entity_matching/root_entity_update_merger_test.py
Due: generate_docs_for_endpoint

[Justice Counts] Small README update (Recidiviz/recidiviz-data#25055)
  Pipfile
  recidiviz/justice_counts/control_panel/README.md
Due: generate_docs_for_endpoint

[US_ND] Add YAMLs for assessments data (Recidiviz/recidiviz-data#25071)
  recidiviz/ingest/direct/regions/us_nd/raw_data/us_nd_elite_assessment_results.yaml
  recidiviz/ingest/direct/regions/us_nd/raw_data/us_nd_elite_assessment_supervisors.yaml
  recidiviz/ingest/direct/regions/us_nd/raw_data/us_nd_elite_assessments.yaml
  recidiviz/ingest/direct/regions/us_nd/raw_data/us_nd_elite_offender_assessments.yaml
  recidiviz/ingest/direct/regions/us_nd/raw_data/us_nd_elite_offenderassessmentitems.yaml
Due: generate_docs_for_region, generate_docs_for_endpoint

[Ingest] Fix sandbox pipeline script when is_ingest_in_dataflow_enabled is True (Recidiviz/recidiviz-data#25067)
  recidiviz/pipelines/dataflow_output_table_manager.py
  recidiviz/tests/pipelines/dataflow_output_table_manager_test.py
Due: generate_docs_for_endpoint

[Ingest] Improve logging in pipeline constraint checking step (Recidiviz/recidiviz-data#25032)
  recidiviz/persistence/entity/core_entity.py
  recidiviz/pipelines/ingest/state/run_validations.py
  recidiviz/pipelines/ingest/state/validator.py
  recidiviz/tests/persistence/entity/core_entity_test.py
  recidiviz/tests/pipelines/ingest/state/run_validations_test.py
  recidiviz/tests/pipelines/ingest/state/validator_test.py
Due: generate_docs_for_endpoint

[Ingest] Compile ingest view manifests only once in pipelines (Recidiviz/recidiviz-data#25052)
  recidiviz/airflow/dags/utils/ingest_dag_orchestration_utils.py
  recidiviz/ingest/direct/controllers/base_direct_ingest_controller.py
  recidiviz/ingest/direct/controllers/ingest_view_processor.py
  recidiviz/ingest/direct/ingest_mappings/ingest_view_contents_context.py
  recidiviz/ingest/direct/ingest_mappings/ingest_view_manifest.py
  recidiviz/ingest/direct/ingest_mappings/ingest_view_manifest_collector.py
  recidiviz/ingest/direct/ingest_mappings/ingest_view_manifest_compiler.py
  recidiviz/ingest/direct/ingest_mappings/ingest_view_manifest_compiler_delegate.py
  recidiviz/pipelines/dataflow_output_table_manager.py
  recidiviz/pipelines/ingest/state/generate_entities.py
  recidiviz/pipelines/ingest/state/pipeline.py
  recidiviz/tests/ingest/direct/ingest_mappings/ingest_view_manifest_collector_test.py
  recidiviz/tests/ingest/direct/ingest_mappings/ingest_view_manifest_compiler_test.py
  recidiviz/tests/ingest/direct/regions/direct_ingest_region_structure_test.py
  recidiviz/tests/ingest/direct/regions/state_ingest_view_parser_test_base.py
  recidiviz/tests/pipelines/ingest/state/generate_entities_test.py
  recidiviz/tests/pipelines/ingest/state/generate_ingest_view_results_test.py
  recidiviz/tests/pipelines/ingest/state/merge_ingest_view_root_entity_trees_test.py
  recidiviz/tests/pipelines/ingest/state/pipeline_test.py
  recidiviz/tests/pipelines/ingest/state/test_case.py
  recidiviz/tools/ingest/development/run_mappings_against_ingest_view_results.py
  recidiviz/tools/ingest/development/run_sandbox_ingest_pipeline.py
  recidiviz/tools/ingest/operations/ingest_stability_check.py
Due: generate_docs_for_endpoint

Revert "Adding additional roles for the ingest service account (Recidiviz/recidiviz-data#24762)" (Recidiviz/recidiviz-data#25077)
  recidiviz/pipelines/pipeline_parameters.py
  recidiviz/tests/pipelines/ingest/pipeline_parameters_test.py
  recidiviz/tools/deploy/terraform/modules/state-direct-ingest-resources/main.tf
  recidiviz/tools/ingest/development/run_sandbox_ingest_pipeline.py
Due: generate_docs_for_endpoint

[Justice Counts] CSG Scoreboard num_super_agencies (Recidiviz/recidiviz-data#25070)
  recidiviz/justice_counts/control_panel/utils.py
  recidiviz/justice_counts/jobs/csg_data_pull.py
  recidiviz/justice_counts/jobs/pull_agencies_with_published_data.py
  recidiviz/justice_counts/jobs/super_agency_data_pull.py
Due: generate_docs_for_endpoint

[admin panel] gate Flashing checklist (Recidiviz/recidiviz-data#24725)
  frontends/admin-panel/src/AdminPanelAPI/IngestOperations.ts
  frontends/admin-panel/src/components/FlashDatabaseChecklist.tsx
  frontends/admin-panel/src/components/Utilities/IngestInstanceUtilities.tsx
  recidiviz/admin_panel/routes/ingest_ops.py
  recidiviz/tests/admin_panel/routes/ingest_ops_test.py
  recidiviz/utils/trigger_dag_helpers.py
Due: generate_docs_for_endpoint

[US_AR] Ingest supervision violations and responses (Recidiviz/recidiviz-data#24181)
  recidiviz/ingest/direct/regions/us_ar/ingest_mappings/us_ar_supervision_violation.yaml
  recidiviz/ingest/direct/regions/us_ar/ingest_views/view_supervision_violation.py
  recidiviz/ingest/direct/regions/us_ar/us_ar_controller.py
Due: generate_docs_for_region, generate_docs_for_endpoint

[Justice Counts] Script to delete an agency (Recidiviz/recidiviz-data#25053)
  recidiviz/tools/justice_counts/delete_agency.py
Due: generate_docs_for_endpoint

[US_AR] Sentence conditions YAML (Recidiviz/recidiviz-data#25082)
  recidiviz/ingest/direct/regions/us_ar/raw_data/us_ar_SPECIALCONDITION.yaml
Due: generate_docs_for_region, generate_docs_for_endpoint

Path conditions:
  generate_docs_for_region: any of: ^recidiviz/ingest/direct/regions/
  generate_docs_for_endpoint: any of: ^recidiviz/, but not: (?x)(^recidiviz/tests/|^recidiviz/tools/|^recidiviz/ingest/direct/regions/)$

  generate_entity_documentation: any of: (?x)(^recidiviz/persistence/database/schema/state/schema.py|^recidiviz/persistence/database/schema/history_table_shared_columns_mixin.py)$

