Repository Recidiviz/pulse-data: changes, and which pre-commit hooks are due for each by the changed paths.
All: generate_docs_for_region, generate_docs_for_endpoint, generate_entity_documentation, generate_calc_documentation, generate_ingest_mappings_schema_documentation, update_terraform_lock_file

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.3.0
    hooks:
      - id: check-yaml
  - repo: https://github.com/psf/black
    rev: 22.3.0
    hooks:
      # This runs on py, pyi, and ipynb files.
      - id: black-jupyter
        language_version: python3
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v2.5.1
    hooks:
      - id: prettier
        types_or: [yaml]
  - repo: https://github.com/pycqa/isort
    rev: 5.6.4
    hooks:
      - id: isort
        name: isort (python)
      - id: isort
        name: isort (pyi)
        types: [pyi]
  - repo: local
    hooks:
      - id: generate_docs_for_region
        name: generate_docs_for_region
        entry: pipenv run python -m recidiviz.tools.docs.region_documentation_generator
        language: system
        files: ^recidiviz/ingest/direct/regions/
        require_serial: true
      - id: generate_docs_for_endpoint
        name: generate_docs_for_endpoint
        entry: pipenv run python -m recidiviz.tools.docs.endpoint_documentation_generator
        language: system
        files: ^recidiviz/
        exclude: >
          (?x)(^recidiviz/tests/|^recidiviz/tools/|^recidiviz/ingest/direct/regions/)$
        require_serial: true
      - id: generate_entity_documentation
        name: generate_entity_documentation
        entry: pipenv run python -m recidiviz.tools.docs.entity_documentation_generator
        language: system
        files: >
          (?x)(^recidiviz/persistence/database/schema/state/schema.py|^recidiviz/persistence/database/schema/history_table_shared_columns_mixin.py|^recidiviz/common/constants/state/)$
        require_serial: true
      - id: generate_calc_documentation
        name: generate_calc_documentation
        entry: pipenv run python -m recidiviz.calculator.calculation_documentation_generator
        language: system
        files: ^recidiviz/calculator/|^recidiviz/metrics/|^recidiviz/.*/views/|^recidiviz/big_query/|^recidiviz/persistence/database/schema/|^recidiviz/persistence/entity/|^recidiviz/task_eligibility/
        exclude: ^recidiviz/tests/|^recidiviz/calculator/modeling/
        require_serial: true
      - id: generate_ingest_mappings_schema_documentation
        name: generate_ingest_mappings_schema_documentation
        entry: pipenv run python -m recidiviz.tools.docs.ingest_mappings_schema_documentation_generator
        language: system
        files: ^recidiviz/ingest/direct/ingest_mappings/yaml_schema/|^docs/engineering/ingest_mapping_schema/
        require_serial: true
      - id: update_terraform_lock_file
        name: update_terraform_lock_file
        entry: recidiviz/tools/deploy/update_terraform_lock.sh
        language: script
        files: ^recidiviz/tools/deploy/terraform/
        require_serial: true

[Airflow] Add retries to our export tasks (Recidiviz/recidiviz-data#25426)
  recidiviz/airflow/dags/calculation_dag.py
  recidiviz/airflow/dags/operators/recidiviz_kubernetes_pod_operator.py
Due: generate_docs_for_endpoint

[US_ND] Ingest IP custody levels and override reasons (Recidiviz/recidiviz-data#25150)
  recidiviz/ingest/direct/regions/us_nd/ingest_mappings/us_nd_elite_externalmovements_incarceration_periods.yaml
  recidiviz/ingest/direct/regions/us_nd/ingest_views/view_elite_externalmovements_incarceration_periods.py
  recidiviz/ingest/direct/regions/us_nd/raw_data/us_nd_elite_externalmovements.yaml
  recidiviz/ingest/direct/regions/us_nd/raw_data/us_nd_elite_offender_assessments.yaml
  recidiviz/ingest/direct/regions/us_nd/us_nd_custom_enum_parsers.py
Due: generate_docs_for_region, generate_docs_for_endpoint

[Airflow] Add `trigger_ingest_dag_post_bq_refresh` to `calculation_dag.py` (Recidiviz/recidiviz-data#25438)
  recidiviz/airflow/dags/calculation/initialize_calculation_dag_group.py
  recidiviz/airflow/dags/calculation_dag.py
  recidiviz/airflow/dags/utils/config_utils.py
  recidiviz/airflow/tests/calculation/initialize_calculation_dag_group_test.py
  recidiviz/airflow/tests/calculation_dag_test.py
Due: generate_docs_for_endpoint

[US_TN] Add facility counselors to staff_record (Recidiviz/recidiviz-data#25348)
  recidiviz/calculator/query/state/views/workflows/firestore/incarceration_staff_record.py
  recidiviz/calculator/query/state/views/workflows/firestore/staff_record.py
  recidiviz/calculator/query/state/views/workflows/us_tn/incarceration_staff_template.py
  recidiviz/calculator/query/state/views/workflows/us_tn/supervision_staff_template.py
Due: generate_docs_for_endpoint, generate_calc_documentation

[Admin Panel] Move `DatasetMetadataCountsStore` and `ValidationStatusStore` calculation into Cloud Run / Redis (Recidiviz/recidiviz-data#25425)
  docker-compose.admin-panel.yaml
  frontends/admin-panel/README.md
  recidiviz/admin_panel/admin_panel_store.py
  recidiviz/admin_panel/admin_stores.py
  recidiviz/admin_panel/dataset_metadata_store.py
  recidiviz/admin_panel/entrypoints/__init__.py
  recidiviz/admin_panel/entrypoints/hydrate_cache.py
  recidiviz/admin_panel/ingest_metadata_store.py
  recidiviz/admin_panel/ingest_operations_store.py
  recidiviz/admin_panel/validation_metadata_store.py
  recidiviz/case_triage/util.py
  recidiviz/tests/admin_panel/dataset_metadata_store_test.py
  recidiviz/tests/admin_panel/validation_metadata_store_test.py
  recidiviz/tests/utils/timer_test.py
  recidiviz/tools/admin_panel/initialize_development_environment.sh
  recidiviz/tools/deploy/terraform/cloud-memorystore.tf
  recidiviz/tools/deploy/terraform/cloud-run-jobs.tf
  recidiviz/tools/deploy/terraform/cloud-scheduler.tf
  recidiviz/utils/timer.py
Due: generate_docs_for_endpoint, update_terraform_lock_file

[Terraform] Use VPC connector `.id` for the correct format (Recidiviz/recidiviz-data#25455)
  recidiviz/tools/deploy/terraform/cloud-run-jobs.tf
Due: generate_docs_for_endpoint, update_terraform_lock_file

[Justice Counts] CSG Data Pull num_total_possible_metrics column (Recidiviz/recidiviz-data#25427)
  recidiviz/justice_counts/jobs/csg_data_pull.py
Due: generate_docs_for_endpoint

[Kubernetes] Add missing `recidiviz_kubernetes_resources.yaml` resources (Recidiviz/recidiviz-data#25461)
  recidiviz/airflow/dags/operators/recidiviz_kubernetes_resources.yaml
  recidiviz/tests/entrypoints/entrypoints_test.py
Due: generate_docs_for_endpoint

[Justice Counts] CSG Data Pull num_metrics_available/num_metrics_unavailable columns (Recidiviz/recidiviz-data#25446)
  recidiviz/justice_counts/jobs/csg_data_pull.py
Due: generate_docs_for_endpoint

[Justice Counts] User Permissions Check Script / Job (Recidiviz/recidiviz-data#25224)
  recidiviz/justice_counts/control_panel/utils.py
  recidiviz/justice_counts/jobs/data_pull_job.py
  recidiviz/justice_counts/jobs/user_permissions_check.py
  recidiviz/justice_counts/user_account.py
Due: generate_docs_for_endpoint

[Justice Counts] CSG Data Pull remove last_login for child agencies (Recidiviz/recidiviz-data#25234)
  recidiviz/justice_counts/jobs/csg_data_pull.py
Due: generate_docs_for_endpoint

[Admin Panel] Terraform followups (Recidiviz/recidiviz-data#25462)
  recidiviz/tools/deploy/terraform/cloud-run-admin-panel.tf
  recidiviz/tools/deploy/terraform/cloud-run-jobs.tf
  recidiviz/tools/deploy/terraform/cloud-run.tf
  recidiviz/tools/deploy/terraform/cloud-scheduler.tf
Due: generate_docs_for_endpoint, update_terraform_lock_file

[BigQuery] Add runtime exemptions for a few aggregated_metrics views (Recidiviz/recidiviz-data#25453)
  recidiviz/big_query/view_update_config.py
Due: generate_docs_for_endpoint, generate_calc_documentation

[Airflow] Bump zombie task threshold (Recidiviz/recidiviz-data#25468)
  recidiviz/tools/deploy/terraform/cloud-composer.tf
Due: generate_docs_for_endpoint, update_terraform_lock_file

[Airflow] Fix trigger ingest dag (Recidiviz/recidiviz-data#25464)
  recidiviz/airflow/dags/calculation_dag.py
Due: generate_docs_for_endpoint

[Ingest in Dataflow] Ungate AR, CA, CO, NC and OR to run in the ingest DAG in staging (Recidiviz/recidiviz-data#25473)
  recidiviz/ingest/direct/gating.py
  recidiviz/pipelines/ingest/pipeline_utils.py
Due: generate_docs_for_endpoint

[US_AR] Configure supervision span metrics (Recidiviz/recidiviz-data#25477)
  recidiviz/pipelines/calculation_pipeline_templates.yaml
Due: generate_docs_for_endpoint

Refactoring the unit testing structure for ingest pipelines to use with states (Recidiviz/recidiviz-data#25359)
  recidiviz/pipelines/base_pipeline.py
  recidiviz/pipelines/ingest/state/generate_ingest_view_results.py
  recidiviz/tests/ingest/direct/fixture_util.py
  recidiviz/tests/ingest/direct/regions/region_direct_ingest_controller_test_case.py
  recidiviz/tests/ingest/direct/templates/us_xx/us_xx_controller_test.py
  recidiviz/tests/pipelines/ingest/state/associate_with_primary_keys_test.py
  recidiviz/tests/pipelines/ingest/state/generate_entities_test.py
  recidiviz/tests/pipelines/ingest/state/generate_ingest_view_results_test.py
  recidiviz/tests/pipelines/ingest/state/get_root_external_ids_test.py
  recidiviz/tests/pipelines/ingest/state/merge_ingest_view_root_entity_trees_test.py
  recidiviz/tests/pipelines/ingest/state/pipeline_test.py
  recidiviz/tests/pipelines/ingest/state/run_validations_test.py
  recidiviz/tests/pipelines/ingest/state/test_case.py
  recidiviz/tests/pipelines/utils/run_pipeline_test_utils.py
  recidiviz/tools/ingest/development/region_files_generator.py
Due: generate_docs_for_endpoint

[US_TN] Normalize NEW_ADMISSION to TEMPORARY_CUSTODY admission_reasons (Recidiviz/recidiviz-data#25390)
  recidiviz/pipelines/utils/state_utils/us_tn/us_tn_incarceration_period_normalization_delegate.py
  recidiviz/tests/pipelines/utils/state_utils/us_tn/us_tn_incarceration_period_normalization_delegate_test.py
Due: generate_docs_for_endpoint

[US_OR] Fixing non-determinism in Supervision Period (Recidiviz/recidiviz-data#25459)
  recidiviz/ingest/direct/regions/us_or/ingest_views/view_Supervision_Period.py
Due: generate_docs_for_region, generate_docs_for_endpoint

[US_ND] Map more IP adm/rel values (Recidiviz/recidiviz-data#25470)
  recidiviz/ingest/direct/regions/us_nd/ingest_mappings/us_nd_elite_externalmovements_incarceration_periods.yaml
  recidiviz/ingest/direct/regions/us_nd/us_nd_custom_enum_parsers.py
Due: generate_docs_for_region, generate_docs_for_endpoint

[US_MI] Correct primary key for COMS_dm_Staff_Supervisors (Recidiviz/recidiviz-data#25451)
  recidiviz/ingest/direct/regions/us_mi/raw_data/us_mi_COMS_dm_Staff_Supervisors.yaml
Due: generate_docs_for_region, generate_docs_for_endpoint

[TES] Fix for json_to_array_cte (Recidiviz/recidiviz-data#25432)
  recidiviz/calculator/query/state/views/workflows/firestore/us_ix_complete_transfer_to_limited_supervision_form_record.py
  recidiviz/calculator/query/state/views/workflows/firestore/us_ix_transfer_to_limited_supervision_jii_record.py
  recidiviz/calculator/query/state/views/workflows/firestore/us_ix_transfer_to_xcrc_request_record.py
  recidiviz/calculator/query/state/views/workflows/firestore/us_me_complete_early_termination_record.py
  recidiviz/calculator/query/state/views/workflows/firestore/us_me_complete_transfer_to_sccp_form_record.py
  recidiviz/calculator/query/state/views/workflows/firestore/us_me_furlough_release_form_record.py
  recidiviz/calculator/query/state/views/workflows/firestore/us_me_transfer_to_sccp_jii_record.py
  recidiviz/calculator/query/state/views/workflows/firestore/us_me_work_release_form_record.py
  recidiviz/calculator/query/state/views/workflows/firestore/us_tn_transfer_to_compliant_reporting_record.py
  recidiviz/task_eligibility/utils/almost_eligible_query_fragments.py
Due: generate_docs_for_endpoint, generate_calc_documentation

replace ListJobs call with GetJob for dataflow api (Recidiviz/recidiviz-data#25340)
  recidiviz/admin_panel/ingest_dataflow_operations.py
  recidiviz/ingest/direct/metadata/direct_ingest_dataflow_job_manager.py
  recidiviz/tests/admin_panel/ingest_dataflow_operations_test.py
  recidiviz/tests/ingest/direct/metadata/direct_ingest_dataflow_job_manager_test.py
  recidiviz/tests/ingest/direct/metadata/direct_ingest_dataflow_watermark_manager_test.py
Due: generate_docs_for_endpoint

[Ingest] Update ingest_pipeline_should_run_in_dag function to have better logging (Recidiviz/recidiviz-data#25504)
  recidiviz/airflow/dags/ingest/single_ingest_pipeline_group.py
  recidiviz/entrypoints/ingest/ingest_pipeline_should_run_in_dag.py
  recidiviz/tests/entrypoints/ingest/ingest_pipeline_should_run_in_dag_test.py
Due: generate_docs_for_endpoint

[US_MI] Fix enum parsing error for new IP admission reason value (Recidiviz/recidiviz-data#25498)
  recidiviz/ingest/direct/regions/us_mi/ingest_mappings/us_mi_incarceration_periods_v3.yaml
Due: generate_docs_for_region, generate_docs_for_endpoint

[Justice Counts] CSG Data Pull separate out 2 scoreboard sheets (Recidiviz/recidiviz-data#25466)
  recidiviz/justice_counts/jobs/csg_data_pull.py
Due: generate_docs_for_endpoint

[Justice Counts] Add additional contexts box for all metrics, regardless of includes excludes (Recidiviz/recidiviz-data#25511)
  recidiviz/justice_counts/metrics/metric_definition.py
Due: generate_docs_for_endpoint

StatePersonAlias utils & US OZ Lotr Ingest View/Mapping (Recidiviz/recidiviz-data#25460)
  recidiviz/ingest/direct/regions/us_oz/ingest_mappings/us_oz_lotr_fellowship_view.yaml
  recidiviz/ingest/direct/regions/us_oz/ingest_views/view_lotr_fellowship_view.py
  recidiviz/ingest/direct/regions/us_oz/us_oz_controller.py
  recidiviz/tests/ingest/direct/regions/state_ingest_view_parser_test_base.py
  recidiviz/tests/ingest/direct/regions/utils.py
Due: generate_docs_for_region, generate_docs_for_endpoint

[Outliers] Remove reference view for supervisors in PA (Recidiviz/recidiviz-data#25513)
  recidiviz/calculator/query/state/views/outliers/supervision_officer_supervisors.py
Due: generate_docs_for_endpoint, generate_calc_documentation

[Analyst_data] Change end_date to end_date_exclusive (Recidiviz/recidiviz-data#25506)
  recidiviz/calculator/query/state/views/analyst_data/early_discharge_sessions_with_officer_and_supervisor.py
Due: generate_docs_for_endpoint, generate_calc_documentation

[US_PA][Workflows] Added supervision level is not limited criteria to Administrative Supervision Opportunity (Recidiviz/recidiviz-data#25482)
  recidiviz/task_eligibility/eligibility_spans/us_pa/complete_transfer_to_administrative_supervision_request.py
Due: generate_docs_for_endpoint, generate_calc_documentation

[US_ME][Workflows] CLD to Medium Trustee Workflow (Recidiviz/recidiviz-data#25517)
  recidiviz/calculator/query/state/views/workflows/firestore/us_me_custody_level_downgrade_to_medium_trustee_request_record.py
  recidiviz/task_eligibility/criteria/state_specific/us_me/custody_level_is_medium.py
  recidiviz/task_eligibility/criteria/state_specific/us_me/five_years_remaining_on_sentence.py
  recidiviz/task_eligibility/criteria/state_specific/us_me/no_class_a_or_b_violation_for_90_days.py
  recidiviz/task_eligibility/criteria/state_specific/us_me/no_violation_for_5_years.py
  recidiviz/task_eligibility/eligibility_spans/us_me/custody_level_downgrade_to_medium_trustee_request.py
  recidiviz/task_eligibility/utils/us_me_query_fragments.py
Due: generate_docs_for_endpoint, generate_calc_documentation

[Kubernetes] Fix `ingest_pipeline_should_run_in_dag.py` return bool method (Recidiviz/recidiviz-data#25508)
  recidiviz/airflow/dags/ingest/single_ingest_pipeline_group.py
  recidiviz/airflow/dags/operators/recidiviz_kubernetes_pod_operator.py
  recidiviz/entrypoints/entrypoint_utils.py
  recidiviz/entrypoints/ingest/ingest_pipeline_should_run_in_dag.py
Due: generate_docs_for_endpoint

[Cleanup] Clarify difference between the two POPULATION_PROJECTION_VIEW_BUILDERS lists (Recidiviz/recidiviz-data#25507)
  recidiviz/calculator/query/state/views/dashboard/dashboard_views.py
  recidiviz/calculator/query/state/views/dashboard/population_projections/population_projections_views.py
  recidiviz/calculator/query/state/views/population_projection/population_projection_views.py
  recidiviz/metrics/export/export_config.py
Due: generate_docs_for_endpoint, generate_calc_documentation

Exclude non discretionary incarceration starts from aggregated metrics (Recidiviz/recidiviz-data#25521)
  recidiviz/aggregated_metrics/models/aggregated_metric_configurations.py
  recidiviz/calculator/query/state/views/analyst_data/models/events.py
Due: generate_docs_for_endpoint, generate_calc_documentation

[Justice Counts] CSG Data Pull Scoreboard num_agencies_created_in_last_week column (Recidiviz/recidiviz-data#25515)
  recidiviz/justice_counts/jobs/csg_data_pull.py
Due: generate_docs_for_endpoint

[US_ME][Workflows] Added CLD to Medium Trustee file to firestore views for materialization (Recidiviz/recidiviz-data#25526)
  recidiviz/calculator/query/state/views/workflows/firestore/firestore_views.py
Due: generate_docs_for_endpoint, generate_calc_documentation

[US_IX] Add new raw data config and fix typo in name of another table (Recidiviz/recidiviz-data#25518)
  recidiviz/ingest/direct/regions/us_ix/raw_data/us_ix_crs_OfdEnrollmentStatus.yaml
  recidiviz/ingest/direct/regions/us_ix/raw_data/us_ix_dsc_DADecisionOfficer.yaml
Due: generate_docs_for_region, generate_docs_for_endpoint

[US_PA] Add raw data config for PA staff roster (Recidiviz/recidiviz-data#25522)
  recidiviz/ingest/direct/regions/us_pa/raw_data/us_pa_RECIDIVIZ_REFERENCE_staff_roster.yaml
Due: generate_docs_for_region, generate_docs_for_endpoint
