Repository Recidiviz/pulse-data: changes, and which pre-commit hooks are due for each by the changed paths.
All: generate_docs_for_region, generate_docs_for_endpoint, generate_entity_documentation

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.3.0
    hooks:
      - id: check-yaml
  - repo: https://github.com/psf/black
    rev: 20.8b1
    hooks:
      - id: black
        language_version: python3
  - repo: local
    hooks:
      - id: generate_docs_for_region
        name: generate_docs_for_region
        entry: pipenv run python -m recidiviz.tools.docs.region_documentation_generator
        language: system
        files: ^recidiviz/ingest/direct/regions/
        require_serial: true
      - id: generate_docs_for_endpoint
        name: generate_docs_for_endpoint
        entry: pipenv run python -m recidiviz.tools.docs.endpoint_documentation_generator
        language: system
        files: ^recidiviz/
        exclude: >
          (?x)(^recidiviz/tests/|^recidiviz/tools/|^recidiviz/ingest/direct/regions/)$
        require_serial: true
      - id: generate_entity_documentation
        name: generate_entity_documentation
        entry: pipenv run python -m recidiviz.tools.docs.entity_documentation_generator
        language: system
        files: >
           (?x)(^recidiviz/persistence/database/schema/state/schema.py|^recidiviz/persistence/database/schema/history_table_shared_columns_mixin.py)$
        require_serial: true

[BQ materialization] Script for ungating BQ materialization for states (Recidiviz/recidiviz-data#12708)
  recidiviz/ingest/direct/ingest_view_materialization/ingest_view_materialization_gating_context.py
  recidiviz/ingest/flash_database_tools.py
  recidiviz/tests/ingest/direct/ingest_view_materialization/ingest_view_materialization_gating_context_test.py
  recidiviz/tests/ingest/flash_database_tools_test.py
  recidiviz/tools/ingest/operations/ungate_bq_materialization_for_instance.py
Due: generate_docs_for_endpoint

[Justice Counts] Form Error Handling & Validation (Recidiviz/recidiviz-data#12618)
  frontends/justice-counts/control-panel/src/components/Forms/Forms.test.tsx
  frontends/justice-counts/control-panel/src/components/Reports/DataEntryForm.test.tsx
  frontends/justice-counts/control-panel/src/components/Reports/DataEntryFormComponents.tsx
  frontends/justice-counts/control-panel/src/components/Reports/PublishDataPanel.tsx
  frontends/justice-counts/control-panel/src/components/Reports/ReportDataEntry.tsx
  frontends/justice-counts/control-panel/src/stores/FormStore.test.tsx
  frontends/justice-counts/control-panel/src/stores/FormStore.ts
  frontends/justice-counts/control-panel/src/utils/helperUtils.ts
Due: none

[BQ materialization] Exclude metadata columns from results batch query (Recidiviz/recidiviz-data#12723)
  recidiviz/ingest/direct/ingest_view_materialization/instance_ingest_view_contents.py
  recidiviz/tests/ingest/direct/ingest_view_materialization/instance_ingest_view_contents_test.py
Due: generate_docs_for_endpoint

Fix the script again (Recidiviz/recidiviz-data#12720)
  recidiviz/tools/ingest/operations/import_raw_files_to_sandbox.py
Due: generate_docs_for_endpoint

[US_ND] Remove bad columns from docstars_offenders mappings (Recidiviz/recidiviz-data#12739)
  recidiviz/ingest/direct/regions/us_nd/ingest_mappings/us_nd_docstars_offenders.yaml
Due: generate_docs_for_region, generate_docs_for_endpoint

[US_CO] Controller test (Recidiviz/recidiviz-data#12698)
  recidiviz/ingest/direct/regions/us_co/raw_data/us_co_eomis_ofnrelatedaddress.yaml
  recidiviz/ingest/direct/regions/us_co/us_co_controller.py
  recidiviz/persistence/entity_matching/state/state_matching_delegate_factory.py
Due: generate_docs_for_region, generate_docs_for_endpoint

[Justice Counts] Report Summary Panel (Recidiviz/recidiviz-data#12744)
  frontends/justice-counts/control-panel/src/components/GlobalStyles/Palette.ts
  frontends/justice-counts/control-panel/src/components/Reports/DataEntryForm.test.tsx
  frontends/justice-counts/control-panel/src/components/Reports/DataEntryForm.tsx
  frontends/justice-counts/control-panel/src/components/Reports/DataEntryFormComponents.tsx
  frontends/justice-counts/control-panel/src/components/Reports/PublishDataPanel.tsx
  frontends/justice-counts/control-panel/src/components/Reports/ReportDataEntry.tsx
  frontends/justice-counts/control-panel/src/components/Reports/ReportSummaryPanel.tsx
  frontends/justice-counts/control-panel/src/components/assets/checkmark.png
  frontends/justice-counts/control-panel/src/components/assets/xmark.png
  frontends/justice-counts/control-panel/src/mocks/mockReport.ts
Due: none

[US_CO] Adding relatedcodevalue table and raw files (Recidiviz/recidiviz-data#12732)
  recidiviz/ingest/direct/regions/us_co/raw_data/us_co_eomis_codevaluedesc.yaml
  recidiviz/ingest/direct/regions/us_co/raw_data/us_co_eomis_relatedcodevalue.yaml
Due: generate_docs_for_region, generate_docs_for_endpoint

added NELLY favicon to admin panel (Recidiviz/recidiviz-data#12740)
  frontends/admin-panel/public/android-chrome-192x192.png
  frontends/admin-panel/public/android-chrome-512x512.png
  frontends/admin-panel/public/apple-touch-icon.png
  frontends/admin-panel/public/favicon-16x16.png
  frontends/admin-panel/public/favicon-32x32.png
  frontends/admin-panel/public/favicon.ico
  frontends/admin-panel/public/index.html
  frontends/admin-panel/public/manifest.json
  frontends/admin-panel/src/components/App.tsx
  frontends/admin-panel/src/favicon-32x32.png
Due: none

[US_ND] Fix another docstars_offenders ingest mappings crash (Recidiviz/recidiviz-data#12749)
  recidiviz/ingest/direct/regions/us_nd/ingest_mappings/us_nd_docstars_offenders.yaml
Due: generate_docs_for_region, generate_docs_for_endpoint

[Justice Counts] Bug fix within data entry component for play-testing (Recidiviz/recidiviz-data#12754)
  frontends/justice-counts/control-panel/src/components/Reports/DataEntryForm.test.tsx
  frontends/justice-counts/control-panel/src/components/Reports/PublishDataPanel.tsx
  frontends/justice-counts/control-panel/src/components/Reports/ReportDataEntry.tsx
  frontends/justice-counts/control-panel/src/mocks/mockReport.ts
Due: none

[BQ materialization] Do not crash Data Freshness page if BQ materialization is enabled (Recidiviz/recidiviz-data#12763)
  frontends/admin-panel/src/components/DataFreshnessView.tsx
  frontends/admin-panel/src/misc.d.ts
  recidiviz/admin_panel/ingest_metadata_store.py
Due: generate_docs_for_endpoint

Update git-blame-ignore-revs with prettier and black-jupyter commits (Recidiviz/recidiviz-data#12764)
  .git-blame-ignore-revs
Due: none

[Autogenerated] Update Pipfile.lock (Recidiviz/recidiviz-data#12659)
  Pipfile.lock
  recidiviz/justice_counts/metrics/report_metric.py
  recidiviz/persistence/persistence_utils.py
  recidiviz/tools/upload_local_file_to_bq.py
Due: generate_docs_for_endpoint

[Justice Counts] Key Form Inputs By Report ID (Recidiviz/recidiviz-data#12769)
  frontends/justice-counts/control-panel/src/components/Reports/CreateReport.tsx
  frontends/justice-counts/control-panel/src/components/Reports/DataEntryForm.test.tsx
  frontends/justice-counts/control-panel/src/components/Reports/DataEntryForm.tsx
  frontends/justice-counts/control-panel/src/components/Reports/DataEntryFormComponents.tsx
  frontends/justice-counts/control-panel/src/components/Reports/ReportDataEntry.tsx
  frontends/justice-counts/control-panel/src/components/Reports/ReportSummaryPanel.tsx
  frontends/justice-counts/control-panel/src/shared/types.ts
  frontends/justice-counts/control-panel/src/stores/FormStore.test.tsx
  frontends/justice-counts/control-panel/src/stores/FormStore.ts
Due: none

[Justice Counts] [2/n] endpoint to GET report by report ID (Recidiviz/recidiviz-data#12692)
  recidiviz/justice_counts/control_panel/routes/api.py
  recidiviz/justice_counts/report.py
  recidiviz/tests/justice_counts/control_panel/server_test.py
  recidiviz/tests/justice_counts/report_test.py
Due: generate_docs_for_endpoint

[US_CO] Add missing StatePerson ethnicity mapping (Recidiviz/recidiviz-data#12771)
  recidiviz/ingest/direct/regions/us_co/ingest_mappings/us_co_StatePerson.yaml
Due: generate_docs_for_region, generate_docs_for_endpoint

Fix function that maps form values to full metric object (Recidiviz/recidiviz-data#12772)
  frontends/justice-counts/control-panel/src/stores/FormStore.ts
Due: none

Employment sessions refactor (Recidiviz/recidiviz-data#12550)
  recidiviz/calculator/query/state/views/analyst_data/person_events.py
  recidiviz/calculator/query/state/views/analyst_data/supervision_officer_office_metrics.py
  recidiviz/calculator/query/state/views/sessions/employment_periods_preprocessed.py
  recidiviz/calculator/query/state/views/sessions/sessions_views.py
  recidiviz/calculator/query/state/views/sessions/supervision_employment_status_sessions.py
  recidiviz/calculator/query/state/views/sessions/us_id/us_id_employment_periods_preprocessed.py
  recidiviz/calculator/query/state/views/sessions/us_id/us_id_employment_sessions.py
  recidiviz/case_triage/views/client_eligibility_criteria.py
Due: generate_docs_for_endpoint

Use an empty JSON file as the source for external data tables when copying schemas only (Recidiviz/recidiviz-data#12781)
  recidiviz/big_query/big_query_client.py
  recidiviz/tests/big_query/big_query_client_test.py
  recidiviz/tools/deploy/terraform/cloud-storage.tf
Due: generate_docs_for_endpoint

add me facility filter (Recidiviz/recidiviz-data#12685)
  recidiviz/calculator/query/state/state_specific_query_strings.py
Due: generate_docs_for_endpoint

Analysis views for Workflows usage metrics: The Return (Recidiviz/recidiviz-data#12784)
  recidiviz/calculator/query/state/dataset_config.py
  recidiviz/calculator/query/state/views/practices/client_record_archive.py
  recidiviz/calculator/query/state/views/practices/clients_latest_referral_status.py
  recidiviz/calculator/query/state/views/practices/clients_referral_completed.py
  recidiviz/calculator/query/state/views/practices/clients_referral_form_viewed.py
  recidiviz/calculator/query/state/views/practices/clients_surfaced.py
  recidiviz/calculator/query/state/views/practices/practices_views.py
  recidiviz/calculator/query/state/views/practices/user_event_template.py
  recidiviz/calculator/query/state/views/reference/reference_views.py
  recidiviz/calculator/query/state/views/reference/us_tn_reidentified_users.py
  recidiviz/view_registry/datasets.py
Due: generate_docs_for_endpoint

add a newline to our empty file so terraform sees content (Recidiviz/recidiviz-data#12788)
  recidiviz/tools/deploy/terraform/cloud-storage.tf
Due: generate_docs_for_endpoint

Updating mocks to match actual metrics, minor styling adjustment (Recidiviz/recidiviz-data#12787)
  frontends/justice-counts/control-panel/src/components/Forms/DisaggregationToggle.tsx
  frontends/justice-counts/control-panel/src/mocks/mockReport.ts
Due: none

[BQ materialization] new ingest refresh date save method (Recidiviz/recidiviz-data#12675)
  recidiviz/persistence/database/bq_refresh/bq_refresh_status_storage.py
  recidiviz/persistence/database/bq_refresh/federated_cloud_sql_table_big_query_view_collector.py
  recidiviz/persistence/database/bq_refresh/federated_cloud_sql_to_bq_refresh.py
  recidiviz/tests/persistence/database/bq_refresh/federated_cloud_sql_to_bq_refresh_test.py
Due: generate_docs_for_endpoint

add project and zone to `gcloud compute ssh` command to make it easier to find prod-data-client (Recidiviz/recidiviz-data#12801)
  recidiviz/tools/deploy/deploy_helpers.sh
Due: generate_docs_for_endpoint

check the empty file into source (Recidiviz/recidiviz-data#12800)
  recidiviz/datasets/static_data/empty.json
  recidiviz/tools/deploy/terraform/cloud-storage.tf
Due: generate_docs_for_endpoint

[BQ materialization] send new bq refresh to frontend (Recidiviz/recidiviz-data#12722)
  recidiviz/admin_panel/ingest_metadata_store.py
Due: generate_docs_for_endpoint

Drug screens refactor (Recidiviz/recidiviz-data#12566)
  recidiviz/calculator/query/state/views/analyst_data/person_events.py
  recidiviz/calculator/query/state/views/sessions/drug_screens_preprocessed.py
  recidiviz/calculator/query/state/views/sessions/sessions_views.py
  recidiviz/calculator/query/state/views/sessions/us_id/us_id_drug_screens_preprocessed.py
  recidiviz/calculator/query/state/views/sessions/us_id/us_id_positive_urine_analysis_sessions.py
  recidiviz/calculator/query/state/views/sessions/us_tn/us_tn_drug_screens_preprocessed.py
  recidiviz/case_triage/views/client_eligibility_criteria.py
Due: generate_docs_for_endpoint

[US_TN] Overhaul of TN supervision level view to assign start and end reasons later in query (Recidiviz/recidiviz-data#12578)
  recidiviz/ingest/direct/regions/us_tn/ingest_mappings/us_tn_AssignedStaffSupervisionPeriod_v2.yaml
  recidiviz/ingest/direct/regions/us_tn/ingest_views/view_AssignedStaffSupervisionPeriod_v2.py
Due: generate_docs_for_region, generate_docs_for_endpoint

[Views] Eliminate usage of state_person_history table in views (second attempt)
  recidiviz/calculator/query/state/views/reference/persons_to_recent_county_of_residence.py
  recidiviz/calculator/query/state/views/reference/persons_with_last_known_address.py
  recidiviz/calculator/query/state/views/reference/reference_views.py
Due: generate_docs_for_endpoint

[Ingest] Do not write to history tables for state ingest (Recidiviz/recidiviz-data#12607)
  recidiviz/persistence/database/database.py
  recidiviz/persistence/database/history/historical_snapshot_update.py
  recidiviz/persistence/database/history/state/__init__.py
  recidiviz/persistence/database/history/state/historical_snapshot_updater.py
  recidiviz/tests/persistence/database/history/state/__init__.py
  recidiviz/tests/persistence/database/history/state/historical_snapshot_updater_test.py
Due: generate_docs_for_endpoint

[US_ND] Updated US_ND supervision sentence mapping (Recidiviz/recidiviz-data#12803)
  recidiviz/ingest/direct/regions/us_nd/ingest_mappings/us_nd_docstars_offendercasestable_with_officers.yaml
  recidiviz/persistence/database/migrations/state/versions/2022_05_05_1611_312e157fbc9f_us_nd_sentence_type.py
Due: generate_docs_for_region, generate_docs_for_endpoint

[BQ materialization] Perf optimization for extract and merge job prioritizer (Recidiviz/recidiviz-data#12804)
  recidiviz/ingest/direct/controllers/base_direct_ingest_controller.py
  recidiviz/ingest/direct/controllers/extract_and_merge_job_prioritizer.py
  recidiviz/ingest/direct/ingest_view_materialization/ingest_view_materialization_args_generator.py
  recidiviz/ingest/direct/ingest_view_materialization/instance_ingest_view_contents.py
  recidiviz/tests/ingest/direct/fakes/fake_instance_ingest_view_contents.py
  recidiviz/tests/ingest/direct/ingest_view_materialization/instance_ingest_view_contents_test.py
Due: generate_docs_for_endpoint

initial Admin Panel Refresh Implementation (Recidiviz/recidiviz-data#12806)
  frontends/admin-panel/src/components/DataFreshnessView.tsx
Due: none

[US_MO] Update MO supervision level enums (Recidiviz/recidiviz-data#12746)
  recidiviz/ingest/direct/regions/us_mo/us_mo_controller.py
  recidiviz/persistence/database/migrations/state/versions/2022_05_04_1209_09c40b704975_update_mo_supervision_levels.py
Due: generate_docs_for_region, generate_docs_for_endpoint

[Enum Docs] `StateSupervisionPeriod` enum docs (Recidiviz/recidiviz-data#12703)
  recidiviz/common/constants/state/state_incarceration_period.py
  recidiviz/common/constants/state/state_supervision_period.py
  recidiviz/tools/docs/enum_documentation_config.py
Due: generate_docs_for_endpoint

[Enum Docs] `StateSupervisionContact` enum docs (Recidiviz/recidiviz-data#12705)
  recidiviz/common/constants/state/state_supervision_contact.py
  recidiviz/persistence/database/migrations/state/versions/2022_05_05_1611_312e157fbc9f_us_nd_sentence_type.py
  recidiviz/tools/docs/enum_documentation_config.py
Due: generate_docs_for_endpoint

[Enum Docs] `StateAssessment` enums (Recidiviz/recidiviz-data#12717)
  recidiviz/calculator/pipeline/utils/assessment_utils.py
  recidiviz/common/constants/state/enum_canonical_strings.py
  recidiviz/common/constants/state/state_assessment.py
  recidiviz/persistence/database/migrations/state/versions/2022_05_06_1601_f53996d14a5d_drop_unused_assessment_types.py
  recidiviz/persistence/database/migrations/state/versions/2022_05_06_1603_09a00a11ebcb_drop_unused_assessment_classes.py
  recidiviz/persistence/database/schema/state/schema.py
  recidiviz/tests/persistence/database/database_test_utils.py
  recidiviz/tests/persistence/ingest_info_converter/state/state_converter_test.py
  recidiviz/tools/docs/enum_documentation_config.py
Due: generate_docs_for_endpoint, generate_entity_documentation
