Repository Recidiviz/pulse-data: changes, and which pre-commit hooks are due for each by the changed paths.
All: generate_docs_for_region, generate_docs_for_endpoint, generate_entity_documentation, generate_calc_documentation, generate_ingest_mappings_schema_documentation, update_terraform_lock_file

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.3.0
    hooks:
      - id: check-yaml
  - repo: https://github.com/psf/black
    rev: 22.3.0
    hooks:
      # This runs on py, pyi, and ipynb files.
      - id: black-jupyter
        language_version: python3
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v2.5.1
    hooks:
      - id: prettier
        types_or: [yaml]
  - repo: https://github.com/pycqa/isort
    rev: 5.6.4
    hooks:
      - id: isort
        name: isort (python)
      - id: isort
        name: isort (pyi)
        types: [pyi]
  - repo: local
    hooks:
      - id: generate_docs_for_region
        name: generate_docs_for_region
        entry: pipenv run python -m recidiviz.tools.docs.region_documentation_generator
        language: system
        files: ^recidiviz/ingest/direct/regions/
        require_serial: true
      - id: generate_docs_for_endpoint
        name: generate_docs_for_endpoint
        entry: pipenv run python -m recidiviz.tools.docs.endpoint_documentation_generator
        language: system
        files: ^recidiviz/
        exclude: >
          (?x)(^recidiviz/tests/|^recidiviz/tools/|^recidiviz/ingest/direct/regions/)$
        require_serial: true
      - id: generate_entity_documentation
        name: generate_entity_documentation
        entry: pipenv run python -m recidiviz.tools.docs.entity_documentation_generator
        language: system
        files: >
          (?x)(^recidiviz/persistence/database/schema/state/schema.py|^recidiviz/persistence/database/schema/history_table_shared_columns_mixin.py|^recidiviz/common/constants/state/)$
        require_serial: true
      - id: generate_calc_documentation
        name: generate_calc_documentation
        entry: pipenv run python -m recidiviz.calculator.calculation_documentation_generator
        language: system
        files: ^recidiviz/calculator/|^recidiviz/metrics/|^recidiviz/.*/views/|^recidiviz/big_query/|^recidiviz/persistence/database/schema/|^recidiviz/persistence/entity/|^recidiviz/task_eligibility/
        exclude: ^recidiviz/tests/|^recidiviz/calculator/modeling/
        require_serial: true
      - id: generate_ingest_mappings_schema_documentation
        name: generate_ingest_mappings_schema_documentation
        entry: pipenv run python -m recidiviz.tools.docs.ingest_mappings_schema_documentation_generator
        language: system
        files: ^recidiviz/ingest/direct/ingest_mappings/yaml_schema/|^docs/engineering/ingest_mapping_schema/
        require_serial: true
      - id: update_terraform_lock_file
        name: update_terraform_lock_file
        entry: recidiviz/tools/deploy/update_terraform_lock.sh
        language: script
        files: ^recidiviz/tools/deploy/terraform/
        require_serial: true

[US_ID][Workflows] Remove deprecated drug screen fields from LSU form (Recidiviz/recidiviz-data#16178)
  recidiviz/calculator/query/state/views/workflows/firestore/us_id_complete_transfer_to_limited_supervision_form_record.py
Due: generate_docs_for_endpoint, generate_calc_documentation

[Bugfix] Properly fail if the file separator is incorrect (Recidiviz/recidiviz-data#16201)
  recidiviz/cloud_storage/gcsfs_csv_reader.py
  recidiviz/tests/cloud_storage/gcsfs_csv_reader_test.py
Due: generate_docs_for_endpoint

[Justice Counts] Another tiny Dockerfile fix (Recidiviz/recidiviz-data#16208)
  Dockerfile.justice-counts
Due: none

[US_CO] Adding enums from parsing errors in IncarcerationSentence (Recidiviz/recidiviz-data#16211)
  recidiviz/ingest/direct/regions/us_co/ingest_mappings/us_co_IncarcerationSentence.yaml
Due: generate_docs_for_region, generate_docs_for_endpoint

Gating sentencing normalization until errors are fixed (Recidiviz/recidiviz-data#16221)
  recidiviz/calculator/pipeline/metrics/supervision/identifier.py
  recidiviz/calculator/pipeline/metrics/supervision/pipeline.py
  recidiviz/calculator/pipeline/metrics/utils/supervision_case_compliance_manager.py
  recidiviz/calculator/pipeline/normalization/comprehensive/entity_normalizer.py
  recidiviz/calculator/pipeline/normalization/comprehensive/pipeline.py
  recidiviz/calculator/pipeline/normalization/utils/entity_normalization_manager_utils.py
  recidiviz/calculator/pipeline/normalization/utils/normalization_managers/incarceration_period_normalization_manager.py
  recidiviz/calculator/pipeline/normalization/utils/normalization_managers/supervision_period_normalization_manager.py
  recidiviz/calculator/pipeline/normalization/utils/normalized_entities_utils.py
  recidiviz/calculator/pipeline/utils/state_utils/state_calculation_config_manager.py
  recidiviz/calculator/pipeline/utils/state_utils/state_specific_supervision_delegate.py
  recidiviz/calculator/pipeline/utils/state_utils/us_me/us_me_incarceration_period_normalization_delegate.py
  recidiviz/calculator/pipeline/utils/state_utils/us_me/us_me_supervision_period_normalization_delegate.py
  recidiviz/calculator/pipeline/utils/state_utils/us_mi/us_mi_incarceration_period_normalization_delegate.py
  recidiviz/calculator/pipeline/utils/state_utils/us_mo/us_mo_supervision_period_normalization_delegate.py
  recidiviz/calculator/pipeline/utils/state_utils/us_pa/us_pa_supervision_delegate.py
  recidiviz/tests/calculator/pipeline/metrics/supervision/identifier_test.py
  recidiviz/tests/calculator/pipeline/metrics/supervision/pipeline_test.py
  recidiviz/tests/calculator/pipeline/normalization/comprehensive/entity_normalizer_test.py
  recidiviz/tests/calculator/pipeline/normalization/utils/normalized_entities_test.py
  recidiviz/tests/calculator/pipeline/normalization/utils/normalized_entities_utils_test.py
  recidiviz/tests/calculator/pipeline/normalization/utils/normalized_entity_conversion_utils_test.py
  recidiviz/tests/calculator/pipeline/utils/state_utils/state_specific_supervision_delegate_test.py
  recidiviz/tests/calculator/pipeline/utils/state_utils/us_me/us_me_incarceration_period_normalization_delegate_test.py
  recidiviz/tests/calculator/pipeline/utils/state_utils/us_me/us_me_supervision_period_normalization_delegate_test.py
  recidiviz/tests/calculator/pipeline/utils/state_utils/us_mo/us_mo_supervision_period_normalization_delegate_test.py
  recidiviz/tests/calculator/pipeline/utils/state_utils/us_pa/us_pa_supervision_compliance_test.py
  recidiviz/tests/calculator/pipeline/utils/state_utils/us_pa/us_pa_supervision_delegate_test.py
Due: generate_docs_for_endpoint, generate_calc_documentation

Add `dry_run` for `update_all_managed_views` (Recidiviz/recidiviz-data#16166)
  recidiviz/big_query/view_update_manager.py
  recidiviz/tests/big_query/view_update_manager_test.py
Due: generate_docs_for_endpoint, generate_calc_documentation

[Cleanup] Final clean up of county scraper / vera resources (Recidiviz/recidiviz-data#16131)
  recidiviz/persistence/database/schema/schema_person_type.py
  recidiviz/persistence/database/schema_entity_converter/base_schema_entity_converter.py
  recidiviz/persistence/database/schema_entity_converter/operations/schema_entity_converter.py
  recidiviz/persistence/database/schema_entity_converter/schema_entity_converter.py
  recidiviz/persistence/database/schema_entity_converter/state/schema_entity_converter.py
  recidiviz/persistence/database_invariant_validator/database_invariant_validator.py
  recidiviz/persistence/entity/entities.py
  recidiviz/persistence/entity/entity_utils.py
  recidiviz/persistence/entity/operations/entities.py
  recidiviz/persistence/entity_matching/base_entity_matcher.py
  recidiviz/persistence/entity_matching/entity_matching.py
  recidiviz/persistence/entity_matching/entity_matching_types.py
  recidiviz/persistence/entity_validator/entity_validator.py
  recidiviz/persistence/ingest_info_converter/base_converter.py
  recidiviz/tests/ingest/direct/metadata/direct_ingest_view_materialization_metadata_manager_test.py
  recidiviz/tests/ingest/direct/metadata/postgres_direct_ingest_file_metadata_manager_test.py
  recidiviz/tests/persistence/database/schema_entity_converter/base_schema_entity_converter_test.py
  recidiviz/tests/persistence/database_invariant_validator/database_invariant_validator_test.py
  recidiviz/tests/persistence/entity/operations/entities_test.py
  recidiviz/tests/persistence/entity_matching/state/state_entity_matcher_test.py
  recidiviz/tests/persistence/entity_matching/state/us_mo/us_mo_entity_matcher_test.py
Due: generate_docs_for_endpoint, generate_calc_documentation

[US_ID] Add drug screen ingest view and mappings (Recidiviz/recidiviz-data#16042)
  recidiviz/ingest/direct/regions/us_ix/ingest_mappings/us_ix_drug_screen.yaml
  recidiviz/ingest/direct/regions/us_ix/ingest_views/view_drug_screen.py
  recidiviz/ingest/direct/regions/us_ix/us_ix_controller.py
  recidiviz/persistence/entity/state/entities.py
  recidiviz/tests/ingest/direct/regions/ingest_view_query_test_case.py
  recidiviz/tests/ingest/direct/regions/utils.py
Due: generate_docs_for_region, generate_docs_for_endpoint, generate_calc_documentation

[US_OZ] Add raw data configs for gloFS (Recidiviz/recidiviz-data#16223)
  recidiviz/ingest/direct/regions/us_oz/raw_data/us_oz_gloFS_favorite_animals.yaml
Due: generate_docs_for_region, generate_docs_for_endpoint

Fix bugs in raw data config writer script (Recidiviz/recidiviz-data#16158)
  recidiviz/tests/ingest/direct/fake_regions/us_xx/raw_data/us_xx_default.yaml
  recidiviz/tests/ingest/direct/fake_regions/us_xx/raw_data/us_xx_file_tag_first.yaml
  recidiviz/tests/ingest/direct/fake_regions/us_xx/raw_data/us_xx_file_tag_second.yaml
  recidiviz/tests/ingest/direct/fake_regions/us_xx/raw_data/us_xx_tagBasicData.yaml
  recidiviz/tests/ingest/direct/fake_regions/us_xx/raw_data/us_xx_tagColCapsDoNotMatchConfig.yaml
  recidiviz/tests/ingest/direct/fake_regions/us_xx/raw_data/us_xx_tagColumnsMissing.yaml
  recidiviz/tests/ingest/direct/fake_regions/us_xx/raw_data/us_xx_tagCustomLineTerminatorNonUTF8.yaml
  recidiviz/tests/ingest/direct/fake_regions/us_xx/raw_data/us_xx_tagDoubleDaggerWINDOWS1252.yaml
  recidiviz/tests/ingest/direct/fake_regions/us_xx/raw_data/us_xx_tagFileConfigCustomDatetimeSql.yaml
  recidiviz/tests/ingest/direct/fake_regions/us_xx/raw_data/us_xx_tagFileConfigHeaders.yaml
  recidiviz/tests/ingest/direct/fake_regions/us_xx/raw_data/us_xx_tagFileConfigHeadersUnexpectedHeader.yaml
  recidiviz/tests/ingest/direct/fake_regions/us_xx/raw_data/us_xx_tagFullHistoricalExport.yaml
  recidiviz/tests/ingest/direct/fake_regions/us_xx/raw_data/us_xx_tagInvalidCharacters.yaml
  recidiviz/tests/ingest/direct/fake_regions/us_xx/raw_data/us_xx_tagInvalidFileConfigHeaders.yaml
  recidiviz/tests/ingest/direct/fake_regions/us_xx/raw_data/us_xx_tagMissingColumnsDefined.yaml
  recidiviz/tests/ingest/direct/fake_regions/us_xx/raw_data/us_xx_tagMoreBasicData.yaml
  recidiviz/tests/ingest/direct/fake_regions/us_xx/raw_data/us_xx_tagNormalizationConflict.yaml
  recidiviz/tests/ingest/direct/fake_regions/us_xx/raw_data/us_xx_tagOneAllNullRow.yaml
  recidiviz/tests/ingest/direct/fake_regions/us_xx/raw_data/us_xx_tagOneAllNullRowTwoGoodRows.yaml
  recidiviz/tests/ingest/direct/fake_regions/us_xx/raw_data/us_xx_tagPipeSeparatedNonUTF8.yaml
  recidiviz/tests/ingest/direct/fake_regions/us_xx/raw_data/us_xx_tagRowExtraColumns.yaml
  recidiviz/tests/ingest/direct/fake_regions/us_xx/raw_data/us_xx_tagRowMissingColumns.yaml
  recidiviz/tests/tools/ingest/development/raw_data_config_writer_test.py
  recidiviz/tools/ingest/development/fetch_column_values_for_state.py
  recidiviz/tools/ingest/development/raw_data_config_writer.py
Due: generate_docs_for_endpoint

[US_ID][Workflows] Fix group by for removed fields (Recidiviz/recidiviz-data#16248)
  recidiviz/calculator/query/state/views/workflows/firestore/us_id_complete_transfer_to_limited_supervision_form_record.py
Due: generate_docs_for_endpoint, generate_calc_documentation

[2/3] Save includes/excludes settings in `/api/agencies/{agency.id}/metrics` endpoint (Recidiviz/recidiviz-data#16069)
  recidiviz/justice_counts/control_panel/routes/api.py
  recidiviz/justice_counts/datapoint.py
  recidiviz/justice_counts/metrics/metric_interface.py
  recidiviz/tests/justice_counts/bulk_upload/bulk_upload_test.py
  recidiviz/tests/justice_counts/control_panel/server_test.py
  recidiviz/tests/justice_counts/datapoint_test.py
  recidiviz/tests/justice_counts/utils.py
Due: generate_docs_for_endpoint

Remove TODOs for PyCQA/pylintRecidiviz/recidiviz-data#5317 (Recidiviz/recidiviz-data#16259)
  recidiviz/admin_panel/routes/line_staff_tools.py
  recidiviz/case_triage/server.py
  recidiviz/tests/case_triage/api_test_helpers.py
  recidiviz/tests/case_triage/server_test.py
Due: generate_docs_for_endpoint

[Admin Panel] one state column for validation status page (Recidiviz/recidiviz-data#16124)
  frontends/admin-panel/src/components/Validation/RenderRecordStatus.tsx
  frontends/admin-panel/src/components/Validation/ValidationCategoryFullResultsTable.tsx
  frontends/admin-panel/src/components/Validation/ValidationFailureTable.tsx
  frontends/admin-panel/src/components/Validation/ValidationStatusView.tsx
  frontends/admin-panel/src/components/Validation/utils.ts
  frontends/admin-panel/src/components/general/StateSelectorPageHeader.tsx
Due: none

[US_ME] add CIS_426_PROG_STATUS raw data config (Recidiviz/recidiviz-data#16163)
  recidiviz/ingest/direct/regions/us_me/raw_data/us_me_CIS_426_PROG_STATUS.yaml
Due: generate_docs_for_region, generate_docs_for_endpoint

[US_ME] Add configs for disciplinary case data (Recidiviz/recidiviz-data#16071)
  recidiviz/ingest/direct/regions/us_me/raw_data/us_me_CIS_180_DISCIPLINARY_CASE.yaml
  recidiviz/ingest/direct/regions/us_me/raw_data/us_me_CIS_1810_VIOLATION_DISPOSITION_CLASS.yaml
  recidiviz/ingest/direct/regions/us_me/raw_data/us_me_CIS_1811_VIOLATION_DISPOSITION_TYPE.yaml
  recidiviz/ingest/direct/regions/us_me/raw_data/us_me_CIS_181_VIOLATION_DISPOSITION.yaml
Due: generate_docs_for_region, generate_docs_for_endpoint

[Justice Counts] run migration to update metric keys again (Recidiviz/recidiviz-data#16247)
  recidiviz/persistence/database/migrations/justice_counts/versions/2022_10_24_1548_c10b5e6ed94d_update_metric_definition_key_second_time.py
Due: generate_docs_for_endpoint

Dynamically Set Controller Fields Based on Raw Data Source Instance (Recidiviz/recidiviz-data#16176)
  recidiviz/admin_panel/ingest_operations/ingest_utils.py
  recidiviz/ingest/direct/controllers/base_direct_ingest_controller.py
  recidiviz/ingest/direct/direct_ingest_control.py
  recidiviz/ingest/direct/metadata/direct_ingest_instance_status_manager.py
  recidiviz/ingest/direct/metadata/postgres_direct_ingest_instance_status_manager.py
  recidiviz/ingest/direct/raw_data/dataset_config.py
  recidiviz/ingest/direct/raw_data/direct_ingest_raw_file_import_manager.py
  recidiviz/tests/big_query/fakes/fake_direct_ingest_instance_status_manager.py
  recidiviz/tests/ingest/direct/direct_ingest_control_test.py
  recidiviz/tests/ingest/direct/fakes/fake_direct_ingest_controller.py
  recidiviz/tests/ingest/direct/metadata/postgres_direct_ingest_instance_status_manager_test.py
Due: generate_docs_for_endpoint

[Justice Counts] [3/3] Update agency metrics response with includes/excludes settings (Recidiviz/recidiviz-data#16160)
  recidiviz/justice_counts/datapoint.py
  recidiviz/justice_counts/metrics/metric_interface.py
  recidiviz/tests/justice_counts/control_panel/server_test.py
  recidiviz/tests/justice_counts/report_test.py
  recidiviz/tests/justice_counts/utils.py
Due: generate_docs_for_endpoint

Removing appropriate supervision pipelines for population spans (Recidiviz/recidiviz-data#16238)
  recidiviz/calculator/pipeline/calculation_pipeline_templates.yaml
Due: generate_docs_for_endpoint, generate_calc_documentation

[Autogenerated] Update Pipfile.lock (Recidiviz/recidiviz-data#16216)
  Pipfile.lock
Due: none

[US_PA] enum error for supervision_contacts (Recidiviz/recidiviz-data#16232)
  recidiviz/ingest/direct/regions/us_pa/ingest_mappings/us_pa_supervision_contacts.yaml
  recidiviz/ingest/direct/regions/us_pa/us_pa_custom_enum_parsers.py
Due: generate_docs_for_region, generate_docs_for_endpoint

Revert "Gating sentencing normalization until errors are fixed (Recidiviz/recidiviz-data#16221)" (Recidiviz/recidiviz-data#16263)
  recidiviz/calculator/pipeline/metrics/supervision/identifier.py
  recidiviz/calculator/pipeline/metrics/supervision/pipeline.py
  recidiviz/calculator/pipeline/metrics/utils/supervision_case_compliance_manager.py
  recidiviz/calculator/pipeline/normalization/comprehensive/entity_normalizer.py
  recidiviz/calculator/pipeline/normalization/comprehensive/pipeline.py
  recidiviz/calculator/pipeline/normalization/utils/entity_normalization_manager_utils.py
  recidiviz/calculator/pipeline/normalization/utils/normalization_managers/incarceration_period_normalization_manager.py
  recidiviz/calculator/pipeline/normalization/utils/normalization_managers/supervision_period_normalization_manager.py
  recidiviz/calculator/pipeline/normalization/utils/normalized_entities_utils.py
  recidiviz/calculator/pipeline/utils/state_utils/state_calculation_config_manager.py
  recidiviz/calculator/pipeline/utils/state_utils/state_specific_supervision_delegate.py
  recidiviz/calculator/pipeline/utils/state_utils/us_me/us_me_incarceration_period_normalization_delegate.py
  recidiviz/calculator/pipeline/utils/state_utils/us_me/us_me_supervision_period_normalization_delegate.py
  recidiviz/calculator/pipeline/utils/state_utils/us_mi/us_mi_incarceration_period_normalization_delegate.py
  recidiviz/calculator/pipeline/utils/state_utils/us_mo/us_mo_supervision_period_normalization_delegate.py
  recidiviz/calculator/pipeline/utils/state_utils/us_pa/us_pa_supervision_delegate.py
  recidiviz/tests/calculator/pipeline/metrics/supervision/identifier_test.py
  recidiviz/tests/calculator/pipeline/metrics/supervision/pipeline_test.py
  recidiviz/tests/calculator/pipeline/normalization/comprehensive/entity_normalizer_test.py
  recidiviz/tests/calculator/pipeline/normalization/utils/normalized_entities_test.py
  recidiviz/tests/calculator/pipeline/normalization/utils/normalized_entities_utils_test.py
  recidiviz/tests/calculator/pipeline/normalization/utils/normalized_entity_conversion_utils_test.py
  recidiviz/tests/calculator/pipeline/utils/state_utils/state_specific_supervision_delegate_test.py
  recidiviz/tests/calculator/pipeline/utils/state_utils/us_me/us_me_incarceration_period_normalization_delegate_test.py
  recidiviz/tests/calculator/pipeline/utils/state_utils/us_me/us_me_supervision_period_normalization_delegate_test.py
  recidiviz/tests/calculator/pipeline/utils/state_utils/us_mo/us_mo_supervision_period_normalization_delegate_test.py
  recidiviz/tests/calculator/pipeline/utils/state_utils/us_pa/us_pa_supervision_compliance_test.py
  recidiviz/tests/calculator/pipeline/utils/state_utils/us_pa/us_pa_supervision_delegate_test.py
Due: generate_docs_for_endpoint, generate_calc_documentation

Moving sentence classifications to supervision period normalization for US_MO (Recidiviz/recidiviz-data#16262)
  recidiviz/calculator/pipeline/normalization/utils/normalized_entities_utils.py
  recidiviz/calculator/pipeline/normalization/utils/normalized_entity_conversion_utils.py
  recidiviz/calculator/pipeline/utils/beam_utils/extractor_utils.py
  recidiviz/calculator/pipeline/utils/state_utils/state_calculation_config_manager.py
  recidiviz/calculator/pipeline/utils/state_utils/us_mo/us_mo_sentence_classification.py
  recidiviz/calculator/pipeline/utils/state_utils/us_mo/us_mo_supervision_period_normalization_delegate.py
  recidiviz/persistence/entity/core_entity.py
  recidiviz/tests/calculator/pipeline/metrics/supervision/identifier_test.py
  recidiviz/tests/calculator/pipeline/utils/beam_utils/extractor_utils_test.py
  recidiviz/tests/calculator/pipeline/utils/state_utils/state_calculation_config_manager_test.py
  recidiviz/tests/calculator/pipeline/utils/state_utils/us_mo/us_mo_sentence_classification_test.py
  recidiviz/tests/calculator/pipeline/utils/state_utils/us_mo/us_mo_supervision_period_normalization_delegate_test.py
Due: generate_docs_for_endpoint, generate_calc_documentation

Fix minor spelling in big query view types (Recidiviz/recidiviz-data#16288)
  recidiviz/ingest/direct/views/direct_ingest_big_query_view_types.py
Due: generate_docs_for_endpoint, generate_calc_documentation

Refactor map function to parallelize parts of the deploy (Recidiviz/recidiviz-data#16137)
  recidiviz/big_query/view_update_manager.py
  recidiviz/tools/deploy/deploy_all_pipeline_templates.py
  recidiviz/tools/deploy/update_raw_data_table_schemas.py
  recidiviz/utils/future_executor.py
  stubs/opencensus/common/runtime_context.pyi
Due: generate_docs_for_endpoint, generate_calc_documentation

Tool to set clustering fields on a bigquery table (Recidiviz/recidiviz-data#16095)
  recidiviz/big_query/big_query_client.py
  recidiviz/tests/big_query/big_query_client_test.py
  recidiviz/tools/calculator/cluster_table.py
  recidiviz/tools/utils/script_helpers.py
Due: generate_docs_for_endpoint, generate_calc_documentation

[US_MO] Correcting is_draft logic for supervision violations views (Recidiviz/recidiviz-data#16268)
  recidiviz/ingest/direct/regions/us_mo/ingest_mappings/us_mo_tak028_tak042_tak076_tak024_violation_reports.yaml
  recidiviz/ingest/direct/regions/us_mo/ingest_mappings/us_mo_tak291_tak292_tak024_citations.yaml
  recidiviz/ingest/direct/regions/us_mo/us_mo_custom_parsers.py
Due: generate_docs_for_region, generate_docs_for_endpoint

Adding sentence normalization delegates (Recidiviz/recidiviz-data#16284)
  recidiviz/calculator/pipeline/normalization/comprehensive/entity_normalizer.py
  recidiviz/calculator/pipeline/normalization/comprehensive/pipeline.py
  recidiviz/calculator/pipeline/normalization/utils/normalization_managers/sentence_normalization_manager.py
  recidiviz/calculator/pipeline/utils/state_utils/state_calculation_config_manager.py
  recidiviz/calculator/pipeline/utils/state_utils/templates/us_xx/us_xx_sentence_normalization_delegate.py
  recidiviz/calculator/pipeline/utils/state_utils/us_ca/us_ca_sentence_normalization_delegate.py
  recidiviz/calculator/pipeline/utils/state_utils/us_co/us_co_sentence_normalization_delegate.py
  recidiviz/calculator/pipeline/utils/state_utils/us_id/us_id_sentence_normalization_delegate.py
  recidiviz/calculator/pipeline/utils/state_utils/us_ix/us_ix_sentence_normalization_delegate.py
  recidiviz/calculator/pipeline/utils/state_utils/us_me/us_me_sentence_normalization_delegate.py
  recidiviz/calculator/pipeline/utils/state_utils/us_mi/us_mi_sentence_normalization_delegate.py
  recidiviz/calculator/pipeline/utils/state_utils/us_mo/us_mo_sentence_normalization_delegate.py
  recidiviz/calculator/pipeline/utils/state_utils/us_nd/us_nd_sentence_normalization_delegate.py
  recidiviz/calculator/pipeline/utils/state_utils/us_or/us_or_sentence_normalization_delegate.py
  recidiviz/calculator/pipeline/utils/state_utils/us_oz/us_oz_sentence_normalization_delegate.py
  recidiviz/calculator/pipeline/utils/state_utils/us_pa/us_pa_sentence_normalization_delegate.py
  recidiviz/calculator/pipeline/utils/state_utils/us_tn/us_tn_sentence_normalization_delegate.py
  recidiviz/tests/calculator/pipeline/utils/state_utils/state_calculation_config_manager_test.py
  recidiviz/tests/calculator/pipeline/utils/state_utils/templates/us_xx/us_xx_sentence_normalization_delegate_test.py
  recidiviz/tests/calculator/pipeline/utils/state_utils/us_co/us_co_sentence_normalization_delegate_test.py
Due: generate_docs_for_endpoint, generate_calc_documentation

[Justice Counts][RfC] New Cloud Run Job and corresponding Python script to generate monthly reports (Recidiviz/recidiviz-data#16267)
  recidiviz/justice_counts/jobs/__init__.py
  recidiviz/justice_counts/jobs/create_new_reports.py
Due: generate_docs_for_endpoint

[Terraform] add infra to allow case triage to make external requests from a static IP (Recidiviz/recidiviz-data#16282)
  recidiviz/tools/deploy/oneoffs/import_external_ip_address.sh
  recidiviz/tools/deploy/terraform/cloud-memorystore.tf
  recidiviz/tools/deploy/terraform/cloud-run.tf
  recidiviz/tools/deploy/terraform/networks.tf
Due: generate_docs_for_endpoint, update_terraform_lock_file

Update `Start Ingest Rerun` Queue Verification Logic (Recidiviz/recidiviz-data#15705)
  recidiviz/admin_panel/ingest_operations_store.py
  recidiviz/ingest/direct/controllers/base_direct_ingest_controller.py
  recidiviz/ingest/direct/direct_ingest_cloud_task_queue_manager.py
  recidiviz/tests/ingest/direct/direct_ingest_cloud_task_queue_manager_impl_test.py
  recidiviz/tests/ingest/direct/direct_ingest_test_util.py
  recidiviz/tests/ingest/direct/fakes/fake_async_direct_ingest_cloud_task_manager.py
  recidiviz/tests/ingest/direct/fakes/fake_synchronous_direct_ingest_cloud_task_manager.py
Due: generate_docs_for_endpoint

Updates the normalization of charges to include uniform attributes (Recidiviz/recidiviz-data#16146)
  recidiviz/calculator/calculation_data_storage_manager.py
  recidiviz/calculator/pipeline/normalization/utils/normalization_managers/sentence_normalization_manager.py
  recidiviz/calculator/pipeline/normalization/utils/normalized_entities.py
  recidiviz/tests/calculator/pipeline/normalization/comprehensive/entity_normalizer_test.py
  recidiviz/tests/calculator/pipeline/normalization/utils/normalization_managers/sentence_normalization_manager_test.py
Due: generate_docs_for_endpoint, generate_calc_documentation

[Terraform] removing the nat resource which failed to create (Recidiviz/recidiviz-data#16299)
  recidiviz/tools/deploy/terraform/networks.tf
Due: generate_docs_for_endpoint, update_terraform_lock_file

Record runtime of each validation (Recidiviz/recidiviz-data#16202)
  recidiviz/big_query/big_query_view_dag_walker.py
  recidiviz/ingest/direct/legacy_ingest_mappings/legacy_ingest_view_processor.py
  recidiviz/tests/persistence/database/database_test_utils.py
  recidiviz/tests/persistence/ingest_info_converter/state/state_converter_test.py
  recidiviz/tests/utils/individual_ingest_test.py
  recidiviz/tests/validation/validation_result_storage_test.py
  recidiviz/tools/deploy/terraform/bigquery.tf
  recidiviz/utils/profiling/profile_function.py
  recidiviz/utils/trace.py
  recidiviz/validation/validation_manager.py
  recidiviz/validation/validation_result_storage.py
Due: generate_docs_for_endpoint, generate_calc_documentation, update_terraform_lock_file

Remove invalid character from view (Recidiviz/recidiviz-data#16301)
  recidiviz/calculator/query/state/views/covid_dashboard/facility_metadata.py
Due: generate_docs_for_endpoint, generate_calc_documentation

Ungating the agent case update after the ID rerun (Recidiviz/recidiviz-data#16302)
  recidiviz/ingest/direct/regions/us_id/ingest_mappings/us_id_agnt_case_updt.yaml
  recidiviz/ingest/direct/regions/us_id/us_id_custom_parsers.py
  recidiviz/ingest/direct/regions/us_id/us_id_text_analysis_configuration.py
Due: generate_docs_for_region, generate_docs_for_endpoint
