Repository Recidiviz/pulse-data: changes, and which pre-commit hooks are due for each by the changed paths.
All: generate_docs_for_region, generate_docs_for_endpoint, generate_entity_documentation

generate_docs_for_region:
  name: generate_docs_for_region
  entry: pipenv run python -m recidiviz.tools.docs.region_documentation_generator
  language: system
  require_serial: true

generate_docs_for_endpoint:
  name: generate_docs_for_endpoint
  entry: pipenv run python -m recidiviz.tools.docs.endpoint_documentation_generator
  language: system
  require_serial: true

generate_entity_documentation:
  name: generate_entity_documentation
  entry: pipenv run python -m recidiviz.tools.docs.entity_documentation_generator
  language: system
  require_serial: true

Allow production direct ingest regions to still run in stage (Recidiviz/recidiviz-data#2290)
  recidiviz/ingest/direct/direct_ingest_control.py
  recidiviz/tests/ingest/direct/direct_control_test.py
Due: generate_docs_for_endpoint

Adds support for ingesting the dedicated LSIR chronology table for North Dakota (Recidiviz/recidiviz-data#2289)
  recidiviz/ingest/direct/regions/us_nd/us_nd_controller.py
  recidiviz/ingest/direct/regions/us_nd/us_nd_docstars_lsichronology.yaml
  recidiviz/ingest/direct/regions/us_nd/us_nd_docstars_offenders.yaml
Due: generate_docs_for_region, generate_docs_for_endpoint

LAVNS single count and use date from scrapesession (Recidiviz/recidiviz-data#2297)
  recidiviz/ingest/scrape/base_scraper.py
Due: generate_docs_for_endpoint

bypass ls issue (Recidiviz/recidiviz-data#2294)
  recidiviz/ingest/direct/controllers/direct_ingest_gcs_file_system.py
Due: generate_docs_for_endpoint

Do not crash on direct ingest jobs with empty or header-only CSVs (Recidiviz/recidiviz-data#2292)
  recidiviz/cloud_functions/main.py
  recidiviz/ingest/direct/controllers/base_direct_ingest_controller.py
  recidiviz/ingest/direct/controllers/csv_gcsfs_direct_ingest_controller.py
  recidiviz/ingest/direct/controllers/direct_ingest_gcs_file_system.py
  recidiviz/ingest/direct/controllers/gcsfs_direct_ingest_controller.py
  recidiviz/ingest/direct/regions/us_ma_middlesex/us_ma_middlesex_controller.py
  recidiviz/ingest/direct/regions/us_nd/us_nd_controller.py
  recidiviz/ingest/direct/regions/us_tx_brazos/us_tx_brazos_controller.py
  recidiviz/ingest/direct/regions/us_tx_brazos/us_tx_brazos_daily_data.yaml
  recidiviz/ingest/extractor/csv_data_extractor.py
  recidiviz/tests/ingest/direct/controllers/fixtures/tagB.csv
  recidiviz/tests/ingest/direct/controllers/gcsfs_direct_ingest_controller_test.py
  recidiviz/tests/ingest/direct/direct_ingest_util.py
  recidiviz/tests/ingest/extractor/csv_data_extractor_test.py
  recidiviz/tests/ingest/testdata/data_extractor/csv/fixtures/empty.csv
  recidiviz/tests/ingest/testdata/data_extractor/csv/fixtures/header_cols_only.csv
  recidiviz/tests/ingest/testdata/data_extractor/yaml/header_cols_only_csv.yaml
Due: generate_docs_for_region, generate_docs_for_endpoint

Increase Cloud Task timeout to 60 min (Recidiviz/recidiviz-data#2300)
  gunicorn.conf.py
Due: none

Changed schedule of state export cron job (Recidiviz/recidiviz-data#2301)
  cron.yaml
Due: none

Stop lazy loading during ingestion process [skip validation] (Recidiviz/recidiviz-data#2299)
  recidiviz/ingest/direct/controllers/gcsfs_direct_ingest_controller.py
  recidiviz/persistence/database/schema/state/dao.py
  recidiviz/persistence/database/schema/state/schema.py
  recidiviz/persistence/database/schema_entity_converter/base_schema_entity_converter.py
  recidiviz/persistence/database/schema_entity_converter/county/schema_entity_converter.py
  recidiviz/persistence/database/schema_entity_converter/schema_entity_converter.py
  recidiviz/persistence/database/schema_entity_converter/state/schema_entity_converter.py
  recidiviz/persistence/entity_matching/state/state_entity_matcher.py
  recidiviz/persistence/entity_matching/state/state_matching_utils.py
  recidiviz/tests/calculator/utils/extractor_utils_test.py
  recidiviz/tests/persistence/database/schema_entity_converter/base_schema_entity_converter_test.py
  recidiviz/tests/persistence/database/schema_entity_converter/state/schema_entity_converter_test.py
  recidiviz/tests/persistence/entity/state/entities_test_utils.py
  recidiviz/tests/persistence/entity_matching/state/state_entity_matcher_test.py
  recidiviz/tests/persistence/entity_matching/state/state_matching_utils_test.py
Due: generate_docs_for_endpoint, generate_entity_documentation

match arrests once bookings are matched (Recidiviz/recidiviz-data#2302)
  recidiviz/persistence/entity_matching/county/county_matching_utils.py
  recidiviz/tests/persistence/entity_matching/county/county_entity_matcher_test.py
  recidiviz/tests/persistence/persistence_test.py
Due: generate_docs_for_endpoint

Better detection when a duplicate task is already in the queue (Recidiviz/recidiviz-data#2307)
  recidiviz/ingest/direct/controllers/base_direct_ingest_controller.py
  recidiviz/ingest/direct/controllers/direct_ingest_types.py
  recidiviz/ingest/direct/controllers/gcsfs_direct_ingest_utils.py
  recidiviz/ingest/direct/direct_ingest_cloud_task_manager.py
  recidiviz/tests/ingest/direct/controllers/gcsfs_direct_ingest_controller_test.py
  recidiviz/tests/ingest/direct/controllers/gcsfs_direct_ingest_utils_test.py
  recidiviz/tests/ingest/direct/direct_ingest_cloud_task_manager_impl_test.py
  recidiviz/tests/ingest/direct/direct_ingest_util.py
  recidiviz/tests/ingest/direct/fake_async_direct_ingest_cloud_task_manager.py
  recidiviz/tests/ingest/direct/fake_direct_ingest_cloud_task_manager.py
  recidiviz/tests/ingest/direct/fake_synchronous_direct_ingest_cloud_task_manager.py
Due: generate_docs_for_endpoint

BQ query updates for dashboard (Recidiviz/recidiviz-data#2306)
  recidiviz/calculator/bq/dashboard/views/admissions/admissions_by_type_by_month.py
  recidiviz/calculator/bq/dashboard/views/revocations/revocations_by_race_60_days.py
  recidiviz/calculator/bq/dashboard/views/revocations/revocations_by_supervision_type_by_month.py
  recidiviz/calculator/bq/dashboard/views/revocations/revocations_by_violation_type_by_month.py
Due: generate_docs_for_endpoint

Made name handling consistent across StatePerson, StateAgent and StateAlias (Recidiviz/recidiviz-data#2304)
  recidiviz/ingest/models/ingest_info.proto
  recidiviz/ingest/models/ingest_info.py
  recidiviz/ingest/models/ingest_info_pb2.py
  recidiviz/ingest/models/ingest_info_pb2.pyi
  recidiviz/persistence/database/migrations/state/versions/2019_08_21_1933_711e0ee2a7c4_remove_name_and_parole_cols.py
  recidiviz/persistence/database/schema/state/schema.py
  recidiviz/persistence/entity/state/entities.py
  recidiviz/persistence/ingest_info_converter/state/entity_helpers/state_agent.py
  recidiviz/persistence/ingest_info_converter/state/entity_helpers/state_alias.py
  recidiviz/persistence/ingest_info_converter/state/entity_helpers/state_parole_decision.py
  recidiviz/tests/persistence/entity/state/entities_test_utils.py
  recidiviz/tests/persistence/ingest_info_converter/state/entity_helpers/state_agent_test.py
  recidiviz/tests/persistence/ingest_info_converter/state/entity_helpers/state_alias_test.py
  recidiviz/tests/persistence/ingest_info_converter/state/entity_helpers/state_parole_decision_test.py
  recidiviz/tests/persistence/ingest_info_converter/state/state_converter_test.py
Due: generate_docs_for_endpoint, generate_entity_documentation

Added some more logs to help better understand entity matching perf (Recidiviz/recidiviz-data#2309)
  recidiviz/ingest/direct/controllers/base_direct_ingest_controller.py
  recidiviz/persistence/database/database.py
  recidiviz/persistence/entity_matching/state/state_entity_matcher.py
  recidiviz/persistence/persistence.py
Due: generate_docs_for_endpoint

Make region-specific direct ingest tests synchronous (Recidiviz/recidiviz-data#2310)
  recidiviz/tests/ingest/direct/controllers/gcsfs_direct_ingest_controller_test.py
  recidiviz/tests/ingest/direct/direct_ingest_util.py
Due: generate_docs_for_endpoint

Copy existing arrest to empty one, if the ingested one is empty. (Recidiviz/recidiviz-data#2312)
  recidiviz/persistence/entity_matching/county/county_entity_matcher.py
  recidiviz/persistence/entity_matching/county/county_matching_utils.py
  recidiviz/tests/persistence/persistence_test.py
Due: generate_docs_for_endpoint

ND entity matching optimization (Recidiviz/recidiviz-data#2318)
  recidiviz/persistence/database/schema/state/dao.py
  recidiviz/persistence/entity_matching/state/state_entity_matcher.py
  recidiviz/persistence/entity_matching/state/state_matching_utils.py
  recidiviz/persistence/persistence.py
  recidiviz/tests/persistence/database/schema/state/dao_test.py
  recidiviz/tests/persistence/entity_matching/state/state_matching_utils_test.py
Due: generate_docs_for_endpoint

Handle new middlesex admission documents types. (Recidiviz/recidiviz-data#2321)
  recidiviz/ingest/direct/regions/us_ma_middlesex/us_ma_middlesex_parser.py
Due: generate_docs_for_region, generate_docs_for_endpoint

Do direct ingest file path normalization in app endpoint (Recidiviz/recidiviz-data#2319)
  recidiviz/cloud_functions/cloud_function_utils.py
  recidiviz/cloud_functions/cloud_functions.py
  recidiviz/cloud_functions/main.py
  recidiviz/ingest/aggregate/scrape_aggregate_reports.py
  recidiviz/ingest/aggregate/single_count.py
  recidiviz/ingest/direct/controllers/direct_ingest_gcs_file_system.py
  recidiviz/ingest/direct/direct_ingest_control.py
  recidiviz/ingest/scrape/infer_release.py
  recidiviz/ingest/scrape/scraper_control.py
  recidiviz/ingest/scrape/scraper_status.py
  recidiviz/tests/ingest/direct/controllers/gcsfs_direct_ingest_job_prioritizer_test.py
  recidiviz/tests/ingest/direct/direct_ingest_cloud_task_manager_impl_test.py
  recidiviz/tests/ingest/direct/direct_ingest_control_test.py
  recidiviz/tests/ingest/direct/direct_ingest_util.py
  recidiviz/tests/utils/params_test.py
  recidiviz/utils/params.py
Due: generate_docs_for_endpoint

Fix log that logs PII (Recidiviz/recidiviz-data#2327)
  recidiviz/persistence/persistence.py
Due: generate_docs_for_endpoint

First pass at adding a stitched total jail pop view. (Recidiviz/recidiviz-data#2323)
  recidiviz/calculator/bq/views/stitch/combined_stitch_drop_overlapping_total_jail_pop.py
  recidiviz/calculator/bq/views/stitch/combined_stitch_drop_overlapping_total_jail_pop.sql
  recidiviz/calculator/bq/views/stitch/single_count_stitch_subset.py
  recidiviz/calculator/bq/views/stitch/single_count_stitch_subset.sql
  recidiviz/calculator/bq/views/stitch/stitch_views.py
Due: generate_docs_for_endpoint

Rework admission reason logic for us_ma_middlesex (Recidiviz/recidiviz-data#2338)
  recidiviz/ingest/direct/regions/us_ma_middlesex/us_ma_middlesex_controller.py
  recidiviz/ingest/direct/regions/us_ma_middlesex/us_ma_middlesex_parser.py
Due: generate_docs_for_region, generate_docs_for_endpoint

Clarifies TODOs related to the ingest of agent/agency information in North Dakota mappings. (Recidiviz/recidiviz-data#2333)
  recidiviz/ingest/direct/regions/us_nd/us_nd_docstars_offendercasestable.yaml
  recidiviz/ingest/direct/regions/us_nd/us_nd_docstars_offenders.yaml
  recidiviz/ingest/direct/regions/us_nd/us_nd_elite_externalmovements.yaml
  recidiviz/ingest/direct/regions/us_nd/us_nd_elite_offense_in_custody_and_pos_report_data.yaml
Due: generate_docs_for_region, generate_docs_for_endpoint

Drops ingest of the not-useful Elite Sentences status field from ND ingest. (Recidiviz/recidiviz-data#2334)
  recidiviz/ingest/direct/regions/us_nd/us_nd_controller.py
  recidiviz/ingest/direct/regions/us_nd/us_nd_elite_offendersentences.yaml
Due: generate_docs_for_region, generate_docs_for_endpoint

Removing 10-year cutoff from recidivism count metrics (Recidiviz/recidiviz-data#2339)
  recidiviz/calculator/recidivism/calculator.py
  recidiviz/tests/calculator/recidivism/calculator_test.py
Due: generate_docs_for_endpoint

Allow filenames for GCSFS to be case sensitive. (Recidiviz/recidiviz-data#2337)
  recidiviz/ingest/direct/direct_ingest_control.py
  recidiviz/tests/ingest/direct/controllers/gcsfs_direct_ingest_controller_test.py
  recidiviz/tests/ingest/direct/direct_ingest_control_test.py
  recidiviz/utils/params.py
Due: generate_docs_for_endpoint

A different shot at adding single counts to brooks jeff. (Recidiviz/recidiviz-data#2328)
  recidiviz/ingest/scrape/constants.py
  recidiviz/tools/run_scraper.py
Due: generate_docs_for_endpoint

Do backedge check without loading database relationship fields (Recidiviz/recidiviz-data#2342)
  recidiviz/common/attr_utils.py
  recidiviz/persistence/database/database_entity.py
  recidiviz/persistence/database/history/base_historical_snapshot_updater.py
  recidiviz/persistence/database/history/county/historical_snapshot_updater.py
  recidiviz/persistence/database/history/state/historical_snapshot_updater.py
  recidiviz/persistence/database/schema/state/schema.py
  recidiviz/persistence/database/schema_entity_converter/base_schema_entity_converter.py
  recidiviz/persistence/database/schema_entity_converter/state/schema_entity_converter.py
  recidiviz/persistence/entity/entity_utils.py
  recidiviz/tests/calculator/utils/extractor_utils_test.py
  recidiviz/tests/persistence/database/database_test_utils.py
  recidiviz/tests/persistence/database/history/base_historical_snapshot_updater_test.py
Due: generate_docs_for_endpoint, generate_entity_documentation

Add some more admission doc types. (Recidiviz/recidiviz-data#2345)
  recidiviz/ingest/direct/regions/us_ma_middlesex/us_ma_middlesex_controller.py
  recidiviz/ingest/direct/regions/us_ma_middlesex/us_ma_middlesex_parser.py
Due: generate_docs_for_region, generate_docs_for_endpoint

Add hyphen to middlesex doc type (Recidiviz/recidiviz-data#2347)
  recidiviz/ingest/direct/regions/us_ma_middlesex/us_ma_middlesex_parser.py
Due: generate_docs_for_region, generate_docs_for_endpoint

Clear Recidiviz/recidiviz-data#1892 Todos and add New Enum Values (Recidiviz/recidiviz-data#2313)
  recidiviz/common/constants/state/enum_canonical_strings.py
  recidiviz/common/constants/state/state_incarceration_incident.py
  recidiviz/common/constants/state/state_supervision_period.py
  recidiviz/ingest/direct/regions/us_nd/us_nd_controller.py
  recidiviz/ingest/direct/regions/us_nd/us_nd_docstars_offendercasestable.yaml
  recidiviz/ingest/direct/regions/us_nd/us_nd_docstars_offenders.yaml
  recidiviz/ingest/direct/regions/us_nd/us_nd_docstars_offensestable.yaml
  recidiviz/ingest/direct/regions/us_nd/us_nd_elite_externalmovements.yaml
  recidiviz/ingest/direct/regions/us_nd/us_nd_elite_offenderchargestable.yaml
  recidiviz/ingest/direct/regions/us_nd/us_nd_elite_offenders.yaml
  recidiviz/ingest/direct/regions/us_nd/us_nd_elite_offense_in_custody_and_pos_report_data.yaml
  recidiviz/ingest/direct/regions/us_nd/us_nd_elite_orderstable.yaml
  recidiviz/persistence/database/migrations/state/versions/2019_08_26_1846_04d24a2daa0b_add_new_enums_for_supervision_and_.py
  recidiviz/persistence/database/schema/state/schema.py
Due: generate_docs_for_region, generate_docs_for_endpoint, generate_entity_documentation

Promotions and enum mappings for outreach (Recidiviz/recidiviz-data#2353)
  recidiviz/common/constants/bond.py
Due: generate_docs_for_endpoint

mock date in single_count_test (Recidiviz/recidiviz-data#2352)
  recidiviz/ingest/models/single_count.py
  recidiviz/persistence/single_count.py
  recidiviz/tests/persistence/single_count_test.py
Due: generate_docs_for_endpoint

dont require JID in SingleCount (Recidiviz/recidiviz-data#2346)
  recidiviz/common/jid.py
  recidiviz/ingest/aggregate/single_count.py
  recidiviz/ingest/models/single_count.py
  recidiviz/ingest/scrape/base_scraper.py
  recidiviz/persistence/single_count.py
  recidiviz/tests/ingest/scraped_data_test.py
  recidiviz/tests/persistence/single_count_test.py
Due: generate_docs_for_endpoint

Temporarily fix tests that are flaking due to parse_days indeterminism (Recidiviz/recidiviz-data#2366)
  recidiviz/common/str_field_utils.py
Due: generate_docs_for_endpoint

Enqueue a phase change even if there was an error stopping the scraper. (Recidiviz/recidiviz-data#2364)
  recidiviz/ingest/scrape/scraper.py
  recidiviz/ingest/scrape/scraper_control.py
  recidiviz/tests/ingest/scrape/scraper_control_test.py
Due: generate_docs_for_endpoint

Add is_life to StateSentenceGroup and remove outdated TODO [skip validation] (Recidiviz/recidiviz-data#2320)
  recidiviz/ingest/direct/regions/us_nd/us_nd_controller.py
  recidiviz/ingest/models/ingest_info.proto
  recidiviz/ingest/models/ingest_info.py
  recidiviz/ingest/models/ingest_info_pb2.py
  recidiviz/ingest/models/ingest_info_pb2.pyi
  recidiviz/persistence/database/migrations/state/versions/2019_09_03_1901_964cfd6c3d6c_add_is_life_to_sentence_group.py
  recidiviz/persistence/database/schema/state/schema.py
  recidiviz/persistence/entity/state/entities.py
  recidiviz/persistence/ingest_info_converter/state/entity_helpers/state_sentence_group.py
  recidiviz/tests/persistence/ingest_info_converter/state/entity_helpers/state_sentence_group_test.py
Due: generate_docs_for_region, generate_docs_for_endpoint, generate_entity_documentation

Augments incarceration incident ids for North Dakota to encompass multi-person incidents. (Recidiviz/recidiviz-data#2351)
  recidiviz/ingest/direct/regions/us_nd/us_nd_controller.py
  recidiviz/ingest/direct/regions/us_nd/us_nd_elite_externalmovements.yaml
  recidiviz/ingest/direct/regions/us_nd/us_nd_elite_offenderchargestable.yaml
  recidiviz/ingest/direct/regions/us_nd/us_nd_elite_offendersentences.yaml
  recidiviz/ingest/direct/regions/us_nd/us_nd_elite_offendersentenceterms.yaml
  recidiviz/ingest/direct/regions/us_nd/us_nd_elite_offense_in_custody_and_pos_report_data.yaml
Due: generate_docs_for_region, generate_docs_for_endpoint

Programmatic deploy and execution of calculation pipelines (Recidiviz/recidiviz-data#2332)
  .calculation_pipeline_templates
  .gitignore
  Pipfile
  Pipfile.lock
  README.md
  calculation_pipeline_templates.yaml.example
  deploy_local_to_staging.sh
  deploy_pipeline_to_template.sh
  deploy_production.sh
  recidiviz/cloud_functions/cloud_function_utils.py
  recidiviz/cloud_functions/main.py
  recidiviz/cloud_functions/requirements.txt
  recidiviz/tools/deploy_pipeline_from_yaml.sh
  recidiviz/tools/run_commands.sh
  setup.py
Due: generate_docs_for_endpoint

Adjusts handling of external movement codes [skip validation] (Recidiviz/recidiviz-data#2335)
  recidiviz/calculator/recidivism/identifier.py
  recidiviz/common/constants/state/enum_canonical_strings.py
  recidiviz/common/constants/state/state_incarceration_period.py
  recidiviz/ingest/direct/regions/us_nd/us_nd_controller.py
  recidiviz/persistence/database/migrations/state/versions/2019_09_03_2028_dc9834453209_add_compassionate_release_reason.py
  recidiviz/persistence/database/schema/state/schema.py
  recidiviz/tests/calculator/recidivism/identifier_test.py
Due: generate_docs_for_region, generate_docs_for_endpoint, generate_entity_documentation

Adds StateCharge.is_controlling field and ingests it for North Dakota. [skip validation] (Recidiviz/recidiviz-data#2358)
  recidiviz/ingest/direct/regions/us_nd/us_nd_controller.py
  recidiviz/ingest/direct/regions/us_nd/us_nd_docstars_offensestable.yaml
  recidiviz/ingest/models/ingest_info.proto
  recidiviz/ingest/models/ingest_info.py
  recidiviz/ingest/models/ingest_info_pb2.py
  recidiviz/ingest/models/ingest_info_pb2.pyi
  recidiviz/persistence/database/migrations/state/versions/2019_09_04_0038_8610ff2ed64b_add_controlling_to_charge.py
  recidiviz/persistence/database/schema/state/schema.py
  recidiviz/persistence/entity/state/entities.py
  recidiviz/persistence/ingest_info_converter/state/entity_helpers/state_charge.py
  recidiviz/tests/persistence/ingest_info_converter/state/entity_helpers/state_charge_test.py
Due: generate_docs_for_region, generate_docs_for_endpoint, generate_entity_documentation

Path conditions:
  generate_docs_for_region: any of: ^recidiviz/ingest/direct/regions/
  generate_docs_for_endpoint: any of: ^recidiviz/, but not: (?x)(^recidiviz/tests/|^recidiviz/tools/|^recidiviz/ingest/direct/regions/)$

  generate_entity_documentation: any of: (?x)(^recidiviz/persistence/database/schema/state/schema.py|^recidiviz/persistence/database/schema/history_table_shared_columns_mixin.py)$

