Repository Recidiviz/pulse-data: changes, and which pre-commit hooks are due for each by the changed paths.
All: generate_docs_for_region, generate_docs_for_endpoint, generate_entity_documentation, generate_calc_documentation, generate_ingest_mappings_schema_documentation, update_terraform_lock_file

generate_docs_for_region:
  name: generate_docs_for_region
  entry: pipenv run python -m recidiviz.tools.docs.region_documentation_generator
  language: system
  require_serial: true

generate_docs_for_endpoint:
  name: generate_docs_for_endpoint
  entry: pipenv run python -m recidiviz.tools.docs.endpoint_documentation_generator
  language: system
  require_serial: true

generate_entity_documentation:
  name: generate_entity_documentation
  entry: pipenv run python -m recidiviz.tools.docs.entity_documentation_generator
  language: system
  require_serial: true

generate_calc_documentation:
  name: generate_calc_documentation
  entry: pipenv run python -m recidiviz.calculator.calculation_documentation_generator
  language: system
  require_serial: true

generate_ingest_mappings_schema_documentation:
  name: generate_ingest_mappings_schema_documentation
  entry: pipenv run python -m recidiviz.tools.docs.ingest_mappings_schema_documentation_generator
  language: system
  require_serial: true

update_terraform_lock_file:
  name: update_terraform_lock_file
  entry: recidiviz/tools/deploy/update_terraform_lock.sh
  language: script
  require_serial: true

Update validation description (Recidiviz/recidiviz-data#23802)
  recidiviz/validation/views/state/workflows/client_and_resident_record_percent_change_in_eligibility_exceeded.py
Due: generate_docs_for_endpoint, generate_calc_documentation

[US_IX] Add district to LSU location metadata (Recidiviz/recidiviz-data#23876)
  recidiviz/calculator/query/state/views/reference/location_metadata/us_ix_location_metadata.py
Due: generate_docs_for_endpoint, generate_calc_documentation

[US_MI] Replace state_supervision_violation_response.report_date source (Recidiviz/recidiviz-data#23892)
  recidiviz/ingest/direct/regions/us_mi/ingest_mappings/us_mi_supervision_violations_coms.yaml
  recidiviz/ingest/direct/regions/us_mi/ingest_views/view_supervision_violations_coms.py
Due: generate_docs_for_region, generate_docs_for_endpoint

[US_TN] correcting validation bump for supervision period stable counts (Recidiviz/recidiviz-data#23894)
  recidiviz/validation/views/state/stable_counts/stable_counts.py
Due: generate_docs_for_endpoint, generate_calc_documentation

[Justice Counts] Superagency: Automatically add SUPERAGENCY system to newly provisioned superagencies (Recidiviz/recidiviz-data#23832)
  recidiviz/admin_panel/routes/justice_counts_tools.py
Due: generate_docs_for_endpoint

[US_IX] Change blob name and add a condition (Recidiviz/recidiviz-data#23891)
  recidiviz/task_eligibility/criteria/state_specific/us_ix/incarceration_within_18_months_of_eprd_and_15_years_of_ftcd.py
Due: generate_docs_for_endpoint, generate_calc_documentation

[US_TN] small validation bumps due to entity deletion issues in TN (Recidiviz/recidiviz-data#23909)
  recidiviz/validation/config/regions/us_tn/us_tn_validation_config.yaml
Due: generate_docs_for_endpoint

Revert "[Airflow] Automate adding `.py` dependencies to source files to upload to bucket" (Recidiviz/recidiviz-data#23910)
  recidiviz/tests/tools/airflow/__init__.py
  recidiviz/tests/tools/airflow/copy_source_files_to_experimental_composer_test.py
  recidiviz/tests/tools/airflow/fixtures/__init__.py
  recidiviz/tests/tools/airflow/fixtures/a/__init__.py
  recidiviz/tests/tools/airflow/fixtures/a/b/__init__.py
  recidiviz/tests/tools/airflow/fixtures/a/b/b.py
  recidiviz/tests/tools/airflow/fixtures/a/b/d.py
  recidiviz/tests/tools/airflow/fixtures/a/b/e.py
  recidiviz/tests/tools/airflow/fixtures/a/c.py
  recidiviz/tests/tools/airflow/fixtures/a/c.txt
  recidiviz/tests/tools/airflow/fixtures/test_importing.py
  recidiviz/tools/airflow/copy_source_files_to_experiment_composer.py
  recidiviz/tools/airflow/get_airflow_source_files.py
  recidiviz/tools/deploy/terraform/.terraform.lock.hcl
  recidiviz/tools/deploy/terraform/cloud-composer.tf
  recidiviz/tools/deploy/terraform/config/cloud_composer_source_files_to_copy.yaml
Due: generate_docs_for_endpoint, update_terraform_lock_file

[US_MI] Add data configs for new COMS tables (Recidiviz/recidiviz-data#23899)
  recidiviz/ingest/direct/regions/us_mi/raw_data/us_mi_COMS_Specialties.yaml
  recidiviz/ingest/direct/regions/us_mi/raw_data/us_mi_COMS_dm_Staff_Specialized_Types.yaml
  recidiviz/ingest/direct/regions/us_mi/raw_data/us_mi_COMS_dm_Staff_Supervisors.yaml
Due: generate_docs_for_region, generate_docs_for_endpoint

[Justice Counts] bug fix: don't include un-configured breakdowns (Recidiviz/recidiviz-data#23904)
  recidiviz/justice_counts/bulk_upload/template_generator.py
Due: generate_docs_for_endpoint

[Justice Counts] Refactor `create_user_if_necessary` (Recidiviz/recidiviz-data#23897)
  recidiviz/justice_counts/control_panel/routes/api.py
  recidiviz/tests/justice_counts/control_panel/server_test.py
Due: generate_docs_for_endpoint

[US_MO] Remove Protective Custody from Restrictive Housing tool; fix validation errors (Recidiviz/recidiviz-data#23885)
  recidiviz/task_eligibility/criteria/state_specific/us_mo/in_restrictive_housing.py
  recidiviz/task_eligibility/criteria/state_specific/us_mo/overdue_for_hearing.py
  recidiviz/task_eligibility/criteria/state_specific/us_mo/overdue_for_release.py
Due: generate_docs_for_endpoint, generate_calc_documentation

[Outliers] Update exclusion logic (Recidiviz/recidiviz-data#23908)
  recidiviz/calculator/query/state/views/outliers/staff_query_template.py
  recidiviz/calculator/query/state/views/outliers/supervision_officer_metrics.py
  recidiviz/calculator/query/state/views/outliers/utils.py
  recidiviz/outliers/outliers_configs.py
  recidiviz/outliers/types.py
Due: generate_docs_for_endpoint, generate_calc_documentation

Outliers validations for basic state staff hydration (Recidiviz/recidiviz-data#23525)
  recidiviz/validation/configured_validations.py
  recidiviz/validation/views/state/outliers/configured_validations.py
  recidiviz/validation/views/state/outliers/current_supervision_staff_missing_district.py
  recidiviz/validation/views/state/outliers/current_supervision_staff_missing_email.py
  recidiviz/validation/views/state/outliers/current_supervision_staff_missing_name.py
Due: generate_docs_for_endpoint, generate_calc_documentation

[Outliers] Validation for staff with unidentified supervision districts (Recidiviz/recidiviz-data#23494)
  recidiviz/validation/views/state/outliers/configured_validations.py
  recidiviz/validation/views/state/outliers/unidentified_supervision_districts_for_staff.py
Due: generate_docs_for_endpoint, generate_calc_documentation

[Firestore] Update where clauses to suppress error (Recidiviz/recidiviz-data#23923)
  recidiviz/firestore/firestore_client.py
  recidiviz/tests/firestore/firestore_client_test.py
Due: generate_docs_for_endpoint

[Cleanup] Delete FakeDirectIngestInstanceStatusManager (Recidiviz/recidiviz-data#23803)
  recidiviz/persistence/entity/entity_deserialize.py
  recidiviz/tests/big_query/fakes/fake_direct_ingest_instance_status_manager.py
  recidiviz/tests/ingest/direct/controllers/direct_ingest_controller_factory_test.py
  recidiviz/tests/ingest/direct/fakes/fake_direct_ingest_controller.py
  recidiviz/tests/ingest/direct/regions/direct_ingest_region_structure_test.py
  recidiviz/tests/ingest/direct/regions/region_direct_ingest_controller_test_case.py
  recidiviz/tests/ingest/direct/regions/state_ingest_view_parser_test_base.py
  recidiviz/tests/persistence/database/schema/operations/dao_test.py
Due: generate_docs_for_endpoint, generate_calc_documentation

[Schema Change] Add DISCHARGE_FROM_INCARCERATION_MIN to StateTaskDeadline task_type (Recidiviz/recidiviz-data#23815)
  recidiviz/common/constants/state/enum_canonical_strings.py
  recidiviz/common/constants/state/state_task_deadline.py
  recidiviz/persistence/database/migrations/state/versions/2023_09_07_1636_e8bcfe6db8e1_add_discharge_from_incarceration_min.py
  recidiviz/persistence/database/schema/state/schema.py
Due: generate_docs_for_endpoint, generate_entity_documentation, generate_calc_documentation

[US_TN] Add protective custody designation for summary sheet (Recidiviz/recidiviz-data#23811)
  recidiviz/task_eligibility/utils/us_tn_query_fragments.py
Due: generate_docs_for_endpoint, generate_calc_documentation

Remove supervision officer look-back for MI (Recidiviz/recidiviz-data#23944)
  recidiviz/calculator/query/state/views/workflows/firestore/client_record_ctes.py
Due: generate_docs_for_endpoint, generate_calc_documentation

[US_OR] Adding restrictive housing types and housing category (Recidiviz/recidiviz-data#23929)
  recidiviz/ingest/direct/regions/us_or/ingest_mappings/us_or_Incarceration_Period.yaml
  recidiviz/ingest/direct/regions/us_or/us_or_custom_enum_parsers.py
  recidiviz/persistence/database/migrations/state/versions/2023_09_13_1052_ecf3f286ba25_update_rh_enums.py
Due: generate_docs_for_region, generate_docs_for_endpoint

[Ingest in Dataflow] Limit scope of ingest_view_rank_list() (Recidiviz/recidiviz-data#23812)
  recidiviz/ingest/direct/views/direct_ingest_view_query_builder_collector.py
  recidiviz/tests/ingest/direct/direct_ingest_documentation_generator_test.py
  recidiviz/tests/ingest/direct/fakes/fake_direct_ingest_controller.py
  recidiviz/tests/ingest/direct/regions/direct_ingest_region_structure_test.py
  recidiviz/tools/ingest/operations/ingest_stability_check.py
Due: generate_docs_for_endpoint, generate_calc_documentation

[Ingest] Add helper for traversing any entity tree/DAG (Recidiviz/recidiviz-data#23845)
  recidiviz/persistence/entity/entity_utils.py
  recidiviz/persistence/entity/walk_entity_dag.py
  recidiviz/tests/persistence/database/schema_entity_converter/base_schema_entity_converter_test.py
  recidiviz/tests/persistence/database/schema_entity_converter/fake_schema_direction_checker.py
  recidiviz/tests/persistence/walk_entity_dag_test.py
Due: generate_docs_for_endpoint, generate_calc_documentation

[US_IX] Hydrate admission/release reasons for housing unit changes (Recidiviz/recidiviz-data#23874)
  recidiviz/ingest/direct/regions/us_ix/ingest_mappings/us_ix_incarceration_period.yaml
  recidiviz/ingest/direct/regions/us_ix/ingest_views/view_incarceration_period.py
Due: generate_docs_for_region, generate_docs_for_endpoint

[Ingest in Dataflow] Add new ingest statuses (Recidiviz/recidiviz-data#23817)
  recidiviz/common/constants/operations/direct_ingest_instance_status.py
  recidiviz/common/constants/operations/enum_canonical_strings.py
  recidiviz/persistence/database/migrations/operations/versions/2023_09_07_2143_0696e582f5aa_add_new_ingest_statuses.py
  recidiviz/persistence/database/schema/operations/schema.py
  recidiviz/tests/ingest/direct/metadata/postgres_direct_ingest_instance_status_manager_test.py
Due: generate_docs_for_endpoint, generate_calc_documentation

[US_OR] Adding exceptions for stable counts (Recidiviz/recidiviz-data#23919)
  recidiviz/validation/views/state/stable_counts/stable_counts.py
Due: generate_docs_for_endpoint, generate_calc_documentation

[Justice Counts] automatically add csg users to all agencies (Recidiviz/recidiviz-data#23829)
  recidiviz/admin_panel/routes/justice_counts_tools.py
  recidiviz/justice_counts/agency_user_account_association.py
  recidiviz/justice_counts/user_account.py
Due: generate_docs_for_endpoint

[Justice Counts] Fix recurring report script to talk to new DB and also skip child agencies (Recidiviz/recidiviz-data#23951)
  recidiviz/justice_counts/jobs/create_new_reports.py
Due: generate_docs_for_endpoint

initial tests for calculation_dag.py (Recidiviz/recidiviz-data#23452)
  recidiviz/airflow/dags/calculation_dag.py
  recidiviz/airflow/dags/monitoring_dag.py
  recidiviz/airflow/dags/operators/recidiviz_kubernetes_pod_operator.py
  recidiviz/airflow/dags/sftp_dag.py
  recidiviz/airflow/dags/utils/environment.py
  recidiviz/airflow/tests/calculation/initialize_calculation_dag_group_test.py
  recidiviz/airflow/tests/calculation_dag_test.py
  recidiviz/airflow/tests/dag_integrity_test.py
  recidiviz/airflow/tests/test_utils.py
  recidiviz/tests/pipelines/fake_calculation_pipeline_templates.yaml
  recidiviz/tools/deploy/terraform/cloud-composer.tf
  recidiviz/tools/validate_source_visibility.py
Due: generate_docs_for_endpoint, update_terraform_lock_file

Removes supervision-level-based absconsion/bw sessions (Recidiviz/recidiviz-data#23938)
  recidiviz/calculator/query/state/views/sessions/absconsion_bench_warrant_sessions.py
Due: generate_docs_for_endpoint, generate_calc_documentation

[US_MI] Bump validation threshold (Recidiviz/recidiviz-data#23967)
  recidiviz/validation/config/regions/us_mi/us_mi_validation_config.yaml
Due: generate_docs_for_endpoint

[US_IX] Bump validations (Recidiviz/recidiviz-data#23966)
  recidiviz/validation/config/regions/us_ix/us_ix_validation_config.yaml
Due: generate_docs_for_endpoint

[US_ME] Changed wording for furlough policy case notes (Recidiviz/recidiviz-data#23969)
  recidiviz/calculator/query/state/views/workflows/firestore/us_me_furlough_release_form_record.py
Due: generate_docs_for_endpoint, generate_calc_documentation

[US_TN] Classification opp record query updates (Recidiviz/recidiviz-data#23860)
  recidiviz/calculator/query/state/views/analyst_data/us_tn/us_tn_incarceration_incidents_preprocessed.py
  recidiviz/task_eligibility/utils/us_tn_query_fragments.py
Due: generate_docs_for_endpoint, generate_calc_documentation

[Admin Panel] add bulk update user endpoint (Recidiviz/recidiviz-data#19566)
  frontends/admin-panel/src/AdminPanelAPI/LineStaffTools.ts
  frontends/admin-panel/src/AdminPanelAPI/utils.ts
  frontends/admin-panel/src/components/StateUserPermissions/StateUserPermissionsView.tsx
  recidiviz/auth/auth_api_schemas.py
  recidiviz/auth/auth_endpoint.py
  recidiviz/auth/auth_users_endpoint.py
  recidiviz/tests/auth/auth_users_endpoint_test.py
  stubs/flask_smorest/__init__.pyi
Due: generate_docs_for_endpoint

remove dashboard_user_restrictions view and endpoints (Recidiviz/recidiviz-data#23620)
  recidiviz/auth/auth_endpoint.py
  recidiviz/calculator/query/state/views/reference/dashboard_user_restrictions.py
  recidiviz/calculator/query/state/views/reference/ingested_product_users.py
  recidiviz/calculator/query/state/views/reference/reference_views.py
  recidiviz/case_triage/views/view_config.py
  recidiviz/metrics/export/export_config.py
  recidiviz/tests/auth/auth_endpoint_test.py
  recidiviz/tests/auth/helpers.py
  recidiviz/tests/cloud_sql/gcs_import_to_cloud_sql_test.py
  recidiviz/tools/deploy/terraform/cloud-storage-notifications.tf
  recidiviz/validation/views/case_triage/etl_freshness_validation.py
Due: generate_docs_for_endpoint, generate_calc_documentation, update_terraform_lock_file

[US_TN] Deprecate `us_tn_supervision_projected_completion_date_spans` (Recidiviz/recidiviz-data#23123)
  recidiviz/calculator/query/state/views/sessions/sessions_views.py
  recidiviz/calculator/query/state/views/sessions/state_sentence_configurations.py
  recidiviz/calculator/query/state/views/sessions/supervision_projected_completion_date_spans.py
  recidiviz/calculator/query/state/views/sessions/us_tn/us_tn_supervision_projected_completion_date_spans.py
  recidiviz/task_eligibility/criteria/general/has_active_sentence.py
Due: generate_docs_for_endpoint, generate_calc_documentation

[US_ND] Normalize Elite booking IDs in ingest view (Recidiviz/recidiviz-data#23991)
  recidiviz/ingest/direct/regions/us_nd/ingest_mappings/us_nd_elite_externalmovements_incarceration_periods.yaml
  recidiviz/ingest/direct/regions/us_nd/ingest_views/view_elite_externalmovements_incarceration_periods.py
Due: generate_docs_for_region, generate_docs_for_endpoint

[US_MI] [US_IX] Add stable count exceptions (Recidiviz/recidiviz-data#23961)
  recidiviz/validation/views/state/stable_counts/stable_counts.py
Due: generate_docs_for_endpoint, generate_calc_documentation

[US_MI][Workflows] Add SAI and EM data from COMS (Recidiviz/recidiviz-data#23953)
  recidiviz/task_eligibility/criteria/state_specific/us_mi/not_on_electronic_monitoring.py
  recidiviz/task_eligibility/criteria/state_specific/us_mi/not_on_lifetime_electronic_monitoring.py
  recidiviz/task_eligibility/criteria/state_specific/us_mi/supervision_or_supervision_out_of_state_level_is_sai.py
Due: generate_docs_for_endpoint, generate_calc_documentation

Path conditions:
  generate_docs_for_region: any of: ^recidiviz/ingest/direct/regions/
  generate_docs_for_endpoint: any of: ^recidiviz/, but not: (?x)(^recidiviz/tests/|^recidiviz/tools/|^recidiviz/ingest/direct/regions/)$

  generate_entity_documentation: any of: (?x)(^recidiviz/persistence/database/schema/state/schema.py|^recidiviz/persistence/database/schema/history_table_shared_columns_mixin.py|^recidiviz/common/constants/state/)$

  generate_calc_documentation: any of: ^recidiviz/calculator/|^recidiviz/metrics/|^recidiviz/.*/views/|^recidiviz/big_query/|^recidiviz/persistence/database/schema/|^recidiviz/persistence/entity/|^recidiviz/task_eligibility/, but not: ^recidiviz/tests/|^recidiviz/calculator/modeling/
  generate_ingest_mappings_schema_documentation: any of: ^recidiviz/ingest/direct/ingest_mappings/yaml_schema/|^docs/engineering/ingest_mapping_schema/
  update_terraform_lock_file: any of: ^recidiviz/tools/deploy/terraform/
