Repository Recidiviz/pulse-data: changes, and which pre-commit hooks are due for each by the changed paths.
All: generate_docs_for_region, generate_docs_for_endpoint, generate_entity_documentation

generate_docs_for_region:
  name: generate_docs_for_region
  entry: pipenv run python -m recidiviz.tools.docs.region_documentation_generator
  language: system
  require_serial: true

generate_docs_for_endpoint:
  name: generate_docs_for_endpoint
  entry: pipenv run python -m recidiviz.tools.docs.endpoint_documentation_generator
  language: system
  require_serial: true

generate_entity_documentation:
  name: generate_entity_documentation
  entry: pipenv run python -m recidiviz.tools.docs.entity_documentation_generator
  language: system
  require_serial: true

[US_ME] adding goal yamls (Recidiviz/recidiviz-data#18280)
  recidiviz/calculator/query/state/views/workflows/firestore/us_me_complete_transfer_to_sccp_form_record.py
  recidiviz/ingest/direct/regions/us_me/raw_data/us_me_CIS_200_CASE_PLAN.yaml
  recidiviz/ingest/direct/regions/us_me/raw_data/us_me_CIS_2010_GOAL_TYPE.yaml
  recidiviz/ingest/direct/regions/us_me/raw_data/us_me_CIS_2011_DOMAIN_GOAL_TYPE.yaml
  recidiviz/ingest/direct/regions/us_me/raw_data/us_me_CIS_2012_GOAL_STATUS_TYPE.yaml
  recidiviz/ingest/direct/regions/us_me/raw_data/us_me_CIS_201_GOALS.yaml
Due: generate_docs_for_region, generate_docs_for_endpoint

[Admin Panel] add yellow background back to cells with custom permissions (Recidiviz/recidiviz-data#18274)
  frontends/admin-panel/src/components/StateUserPermissions/StateRolePermissionsView.tsx
  frontends/admin-panel/src/components/StateUserPermissions/StateUserPermissionsView.tsx
  frontends/admin-panel/src/components/StateUserPermissions/utils.tsx
Due: none

[Autogenerated] Update Pipfile.lock (Recidiviz/recidiviz-data#18419)
  Pipfile.lock
  recidiviz/airflow/dags/calculation_dag.py
  recidiviz/airflow/dags/hooks/sftp_hook.py
  recidiviz/calculator/modeling/population_projection/transition_table.py
  recidiviz/calculator/pipeline/metrics/incarceration/events.py
  recidiviz/calculator/pipeline/metrics/utils/calculator_utils.py
  recidiviz/calculator/pipeline/supplemental/us_id_case_note_extracted_entities/us_id_text_analysis_configuration.py
  recidiviz/calculator/pipeline/supplemental/us_ix_case_note_extracted_entities/us_ix_note_content_text_analysis_configuration.py
  recidiviz/calculator/pipeline/supplemental/us_ix_case_note_extracted_entities/us_ix_note_title_text_analysis_configuration.py
  recidiviz/case_triage/officer_metadata/interface.py
  recidiviz/case_triage/querier/client_event_presenter.py
  recidiviz/case_triage/workflows/interface.py
  recidiviz/cloud_functions/cloud_function_utils.py
  recidiviz/cloud_storage/gcs_file_system_impl.py
  recidiviz/common/attr_mixins.py
  recidiviz/common/date.py
  recidiviz/common/sftp_connection.py
  recidiviz/ingest/direct/regions/us_mi/us_mi_custom_parsers.py
  recidiviz/justice_counts/agency_setting.py
  recidiviz/justice_counts/datapoints_for_metric.py
  recidiviz/persistence/database/schema/state/schema.py
  recidiviz/persistence/entity/base_entity.py
  recidiviz/persistence/entity/core_entity.py
  recidiviz/reporting/email_delivery.py
  recidiviz/tests/auth/auth_endpoint_test.py
  recidiviz/tests/common/google_cloud/google_cloud_tasks_client_wrapper_test.py
  recidiviz/tests/utils/monitoring_test.py
  recidiviz/tools/justice_counts/control_panel/create_upload_template.py
  recidiviz/tools/workflows/request_api.py
  recidiviz/utils/validate_jwt.py
Due: generate_docs_for_region, generate_docs_for_endpoint, generate_entity_documentation

[US_MO] Added all columns to primary_key_cols for MO tables missing PKs (Recidiviz/recidiviz-data#18449)
  recidiviz/ingest/direct/regions/us_mo/raw_data/us_mo_LBAKRDTA_TAK026.yaml
  recidiviz/ingest/direct/regions/us_mo/raw_data/us_mo_LBAKRDTA_TAK040.yaml
  recidiviz/ingest/direct/regions/us_mo/raw_data/us_mo_LBAKRDTA_TAK065.yaml
  recidiviz/ingest/direct/regions/us_mo/raw_data/us_mo_LBAKRDTA_TAK238.yaml
  recidiviz/ingest/direct/regions/us_mo/raw_data/us_mo_LBCMDATA_APFX90.yaml
  recidiviz/ingest/direct/regions/us_mo/raw_data/us_mo_LBCMDATA_APFX91.yaml
  recidiviz/ingest/direct/regions/us_mo/raw_data/us_mo_ORAS_WEEKLY_SUMMARY_UPDATE.yaml
Due: generate_docs_for_region, generate_docs_for_endpoint

Fix Ingest Queue Path For Purging Queues (Recidiviz/recidiviz-data#18452)
  recidiviz/ingest/direct/direct_ingest_cloud_task_queue_manager.py
Due: generate_docs_for_endpoint

[US_TN] Updating column name in OffenderEducationComment (Recidiviz/recidiviz-data#18462)
  recidiviz/ingest/direct/regions/us_tn/raw_data/us_tn_OffenderEducationComment.yaml
Due: generate_docs_for_region, generate_docs_for_endpoint

[Workflows] Add recidiviz to condition for using TOMIS test-ids (Recidiviz/recidiviz-data#18448)
  recidiviz/case_triage/workflows/interface.py
  recidiviz/tests/case_triage/workflows/interface_test.py
Due: generate_docs_for_endpoint

Clean Up Base Controller to Trigger `BLOCKED_ON_PRIMARY_RAW_DATA_IMPORT` (Recidiviz/recidiviz-data#18454)
  recidiviz/ingest/direct/controllers/base_direct_ingest_controller.py
Due: generate_docs_for_endpoint

[Schema Change] Add incident_metadata column to StateIncarcerationIncident (Recidiviz/recidiviz-data#18440)
  recidiviz/ingest/direct/regions/us_pa/ingest_mappings/us_pa_dbo_Miscon.yaml
  recidiviz/persistence/database/migrations/state/versions/2023_02_06_1256_72e38c6f58a8_add_incident_metadata.py
  recidiviz/persistence/database/schema/state/schema.py
  recidiviz/persistence/entity/state/entities.py
Due: generate_docs_for_region, generate_docs_for_endpoint, generate_entity_documentation

[US_ND] Coalesce NCIC codes from two source cols for state_charge (Recidiviz/recidiviz-data#18187)
  recidiviz/ingest/direct/regions/us_nd/ingest_mappings/us_nd_docstars_offensestable.yaml
Due: generate_docs_for_region, generate_docs_for_endpoint

[US_PA] Use new incident_metadata field instead of incident_details (Recidiviz/recidiviz-data#18446)
  recidiviz/ingest/direct/regions/us_pa/ingest_mappings/us_pa_dbo_Miscon.yaml
  recidiviz/persistence/database/migrations/state/versions/2023_02_06_1306_cc34e32d49e0_pa_incident_metadata.py
Due: generate_docs_for_region, generate_docs_for_endpoint

[Ingest] Update JSON metadata field serialization to produce valid JSON (Recidiviz/recidiviz-data#18148)
  recidiviz/common/str_field_utils.py
  recidiviz/ingest/direct/ingest_mappings/ingest_view_manifest.py
  recidiviz/ingest/direct/ingest_mappings/ingest_view_results_parser_delegate.py
  recidiviz/ingest/direct/regions/us_ix/ingest_mappings/us_ix_incarceration_sentence.yaml
  recidiviz/ingest/direct/regions/us_ix/ingest_mappings/us_ix_supervision_sentence.yaml
  recidiviz/ingest/direct/regions/us_me/ingest_mappings/us_me_incarceration_sentences.yaml
  recidiviz/ingest/direct/regions/us_me/ingest_mappings/us_me_supervision_sentences.yaml
  recidiviz/ingest/direct/regions/us_mi/ingest_mappings/us_mi_sentences.yaml
  recidiviz/ingest/direct/regions/us_mi/ingest_mappings/us_mi_sentences_v2.yaml
  recidiviz/ingest/direct/regions/us_mo/ingest_mappings/us_mo_offender_sentence_institution.yaml
  recidiviz/ingest/direct/regions/us_mo/ingest_mappings/us_mo_offender_sentence_supervision.yaml
  recidiviz/ingest/direct/regions/us_pa/ingest_mappings/us_pa_dbo_Miscon.yaml
  recidiviz/ingest/direct/regions/us_tn/ingest_mappings/us_tn_SentencesChargesAndCourtCases_v2.yaml
  recidiviz/persistence/database/migrations/state/versions/2023_02_06_1325_bb7693b02960_sentence_metadata_parsing.py
  recidiviz/persistence/entity/entity_deserialize.py
  recidiviz/persistence/entity/state/deserialize_entity_factories.py
  recidiviz/persistence/ingest_info_converter/utils/names.py
  recidiviz/tests/common/str_field_utils_test.py
  recidiviz/tests/ingest/direct/ingest_mappings/fixtures/ingest_view_file_parser/manifests/nested_json.yaml
  recidiviz/tests/ingest/direct/ingest_mappings/fixtures/ingest_view_file_parser/manifests/person_name_complex.yaml
  recidiviz/tests/ingest/direct/ingest_mappings/fixtures/ingest_view_file_parser/manifests/person_name_full.yaml
  recidiviz/tests/ingest/direct/ingest_mappings/fixtures/ingest_view_file_parser/manifests/person_name_simple.yaml
  recidiviz/tests/ingest/direct/ingest_mappings/fixtures/ingest_view_file_parser/manifests/reused_column.yaml
  recidiviz/tests/ingest/direct/ingest_mappings/fixtures/ingest_view_file_parser/manifests/serialize_json.yaml
  recidiviz/tests/ingest/direct/ingest_mappings/ingest_view_results_parser_test.py
  recidiviz/tests/persistence/entity/state/deserialize_entity_factories_test.py
  recidiviz/tests/persistence/ingest_info_converter/state/entity_helpers/state_assessment_test.py
Due: generate_docs_for_region, generate_docs_for_endpoint

[US_OR] Is datetime fields (Recidiviz/recidiviz-data#18423)
  recidiviz/ingest/direct/regions/us_or/raw_data/us_or_RCDVZ_PRDDTA_OP010P.yaml
  recidiviz/ingest/direct/regions/us_or/raw_data/us_or_RCDVZ_PRDDTA_OP011P.yaml
Due: generate_docs_for_region, generate_docs_for_endpoint

[Justice Counts] updated Jails Staff metric based on final tig (Recidiviz/recidiviz-data#18475)
  recidiviz/justice_counts/dimensions/jails.py
  recidiviz/justice_counts/includes_excludes/jails.py
  recidiviz/justice_counts/metrics/jails.py
Due: generate_docs_for_endpoint

[Justice Counts] updated Jails Use of Force Incidents metric based on final tig (Recidiviz/recidiviz-data#18480)
  recidiviz/justice_counts/includes_excludes/jails.py
  recidiviz/justice_counts/metrics/jails.py
Due: generate_docs_for_endpoint

[Deploy] Use `sed` in unbuffered mode to avoid stalled buffers (Recidiviz/recidiviz-data#18483)
  recidiviz/tools/script_base.sh
Due: generate_docs_for_endpoint

[Justice Counts] Readme Tweaks (Recidiviz/recidiviz-data#18439)
  recidiviz/justice_counts/control_panel/README.md
Due: generate_docs_for_endpoint

[Justice Counts] updated Jails Grievances Upheld Incidents metric based on final tig (Recidiviz/recidiviz-data#18481)
  recidiviz/justice_counts/includes_excludes/jails.py
  recidiviz/justice_counts/metrics/jails.py
Due: generate_docs_for_endpoint

[Justice Counts] excepting KeyError and raising Missing Column exception (Recidiviz/recidiviz-data#18399)
  recidiviz/justice_counts/bulk_upload/bulk_upload.py
Due: generate_docs_for_endpoint

[Justice Counts] save Agency included and excluded Jurisdictions (Recidiviz/recidiviz-data#18311)
  recidiviz/justice_counts/agency_jurisdictions.py
  recidiviz/justice_counts/control_panel/routes/api.py
  recidiviz/persistence/database/migrations/justice_counts/versions/2023_02_01_1532_1683279f5f9f_add_jurisdictions_table.py
  recidiviz/persistence/database/schema/justice_counts/schema.py
  recidiviz/tests/justice_counts/control_panel/server_test.py
  recidiviz/tests/persistence/database/schema_utils_test.py
Due: generate_docs_for_endpoint

[US_MI] Add raw data config for offense exclusions list reference (Recidiviz/recidiviz-data#18497)
  recidiviz/ingest/direct/regions/us_mi/raw_data/us_mi_RECIDIVIZ_REFERENCE_offense_exclusion_list.yaml
Due: generate_docs_for_region, generate_docs_for_endpoint

[US_OR] Fixing paranthesis in yaml parse datetime (Recidiviz/recidiviz-data#18503)
  recidiviz/ingest/direct/regions/us_or/raw_data/us_or_RCDVZ_PRDDTA_OP010P.yaml
  recidiviz/ingest/direct/regions/us_or/raw_data/us_or_RCDVZ_PRDDTA_OP011P.yaml
Due: generate_docs_for_region, generate_docs_for_endpoint

[Justice Counts] get Agency included and excluded Jurisdictions (Recidiviz/recidiviz-data#18347)
  recidiviz/justice_counts/agency_jurisdictions.py
  recidiviz/justice_counts/control_panel/routes/api.py
  recidiviz/tests/justice_counts/control_panel/server_test.py
Due: generate_docs_for_endpoint

[US_TN] Bring expiration date from tes where applicable (Recidiviz/recidiviz-data#18450)
  recidiviz/calculator/query/state/views/workflows/us_tn/supervision_clients_template.py
Due: generate_docs_for_endpoint

update voters rights code type (Recidiviz/recidiviz-data#18498)
  recidiviz/case_triage/workflows/interface.py
  recidiviz/tests/case_triage/workflows/interface_test.py
Due: generate_docs_for_endpoint

[US_IX][Pathways] add US_IX to pathways supervision location map (Recidiviz/recidiviz-data#18473)
  recidiviz/calculator/query/state/views/dashboard/pathways/pathways_supervision_location_name_map.py
Due: generate_docs_for_endpoint

[Tools] Verify raw data primary keys (Recidiviz/recidiviz-data#17942)
  recidiviz/admin_panel/ingest_operations_store.py
  recidiviz/admin_panel/routes/ingest_ops.py
  recidiviz/fakes/null_direct_ingest_view_materialization_metadata_manager.py
  recidiviz/ingest/direct/controllers/base_direct_ingest_controller.py
  recidiviz/ingest/direct/metadata/direct_ingest_view_materialization_metadata_manager.py
  recidiviz/ingest/direct/regions/us_ar/us_ar_controller.py
  recidiviz/ingest/direct/regions/us_ca/us_ca_controller.py
  recidiviz/ingest/direct/regions/us_co/us_co_controller.py
  recidiviz/ingest/direct/regions/us_ia/us_ia_controller.py
  recidiviz/ingest/direct/regions/us_id/us_id_controller.py
  recidiviz/ingest/direct/regions/us_ix/us_ix_controller.py
  recidiviz/ingest/direct/regions/us_me/us_me_controller.py
  recidiviz/ingest/direct/regions/us_mi/us_mi_controller.py
  recidiviz/ingest/direct/regions/us_mo/us_mo_controller.py
  recidiviz/ingest/direct/regions/us_nd/us_nd_controller.py
  recidiviz/ingest/direct/regions/us_or/us_or_controller.py
  recidiviz/ingest/direct/regions/us_oz/us_oz_controller.py
  recidiviz/ingest/direct/regions/us_pa/us_pa_controller.py
  recidiviz/ingest/direct/regions/us_tn/us_tn_controller.py
  recidiviz/ingest/direct/templates/us_xx/us_xx_controller.py
  recidiviz/tests/ingest/direct/ingest_view_materialization/ingest_view_materialization_args_generator_test.py
  recidiviz/tests/ingest/direct/ingest_view_materialization/ingest_view_materializer_test.py
  recidiviz/tests/ingest/direct/metadata/direct_ingest_view_materialization_metadata_manager_test.py
  recidiviz/tests/utils/context_test.py
  recidiviz/tools/ingest/operations/sanity_check.py
  recidiviz/utils/context.py
Due: generate_docs_for_region, generate_docs_for_endpoint

[Deploy] A couple logging updates (Recidiviz/recidiviz-data#18514)
  recidiviz/tests/tools/utils/script_helpers_test.py
  recidiviz/tools/utils/script_helpers.py
Due: generate_docs_for_endpoint

[Justice Counts] Update local development roles to always be JC Admins (Recidiviz/recidiviz-data#18496)
  recidiviz/justice_counts/control_panel/routes/api.py
Due: generate_docs_for_endpoint

[Justice Counts] Hide jc admin names to non jc admins (Recidiviz/recidiviz-data#18479)
  recidiviz/justice_counts/agency_user_account_association.py
  recidiviz/justice_counts/control_panel/routes/api.py
  recidiviz/justice_counts/spreadsheet.py
Due: generate_docs_for_endpoint

[US_OR] Editing datetime format in yaml (Recidiviz/recidiviz-data#18516)
  recidiviz/ingest/direct/regions/us_or/raw_data/us_or_RCDVZ_PRDDTA_OP010P.yaml
  recidiviz/ingest/direct/regions/us_or/raw_data/us_or_RCDVZ_PRDDTA_OP011P.yaml
Due: generate_docs_for_region, generate_docs_for_endpoint

[Justice Counts] add supervision subsystem to funding and expenses sheets (Recidiviz/recidiviz-data#18412)
  recidiviz/justice_counts/bulk_upload/bulk_upload.py
  recidiviz/justice_counts/control_panel/routes/api.py
  recidiviz/justice_counts/datapoint.py
  recidiviz/justice_counts/spreadsheet.py
  recidiviz/tools/justice_counts/control_panel/create_upload_template.py
Due: generate_docs_for_endpoint

Add Initial SECONDARY Standard Rerun Setup Test Coverage in Base Controller (Recidiviz/recidiviz-data#18346)
  recidiviz/tests/ingest/direct/fakes/fake_async_direct_ingest_cloud_task_manager.py
  recidiviz/tests/ingest/direct/fakes/fake_direct_ingest_cloud_task_manager.py
  recidiviz/tests/ingest/direct/fakes/fake_direct_ingest_controller.py
  recidiviz/tests/ingest/direct/fakes/fake_synchronous_direct_ingest_cloud_task_manager.py
Due: generate_docs_for_endpoint

[US_TN] Incorporate ISC/Diversion ingested sentencing in downstream views (Recidiviz/recidiviz-data#18123)
  recidiviz/calculator/query/state/views/analyst_data/us_tn/us_tn_compliant_reporting_c4_isc_eligiblility_sessions.py
  recidiviz/calculator/query/state/views/analyst_data/us_tn/us_tn_compliant_reporting_logic.py
  recidiviz/calculator/query/state/views/analyst_data/us_tn/us_tn_cr_raw_sentence_preprocessing.py
  recidiviz/calculator/query/state/views/sessions/sentences_preprocessed.py
  recidiviz/calculator/query/state/views/sessions/us_tn/us_tn_sentences_preprocessed.py
  recidiviz/calculator/query/state/views/sessions/us_tn/us_tn_supervision_projected_completion_date_spans.py
  recidiviz/calculator/query/state/views/workflows/firestore/us_tn_full_term_supervision_discharge_record.py
  recidiviz/task_eligibility/criteria/state_specific/us_tn/not_on_life_sentence_or_lifetime_supervision.py
Due: generate_docs_for_endpoint

[Justice Counts] Scripts to create/update users (Recidiviz/recidiviz-data#18506)
  recidiviz/justice_counts/agency.py
  recidiviz/justice_counts/control_panel/README.md
  recidiviz/justice_counts/user_account.py
  recidiviz/tools/justice_counts/create_user.py
  recidiviz/tools/justice_counts/update_user_role.py
Due: generate_docs_for_endpoint

[Justice Counts] Throw error when user is added to agency they already belong to (Recidiviz/recidiviz-data#18459)
  recidiviz/justice_counts/agency_user_account_association.py
Due: generate_docs_for_endpoint

Adding task groups to the calculation DAG (Recidiviz/recidiviz-data#18488)
  recidiviz/airflow/dags/calculation_dag.py
  recidiviz/airflow/tests/calculation_dag_test.py
Due: generate_docs_for_endpoint

Adds assessment type to score_end_date partition (Recidiviz/recidiviz-data#18529)
  recidiviz/calculator/query/state/views/sessions/assessment_score_sessions.py
Due: generate_docs_for_endpoint

[Schema Change] Add StateStaffSupervisorPeriod table (Recidiviz/recidiviz-data#18510)
  recidiviz/persistence/database/migrations/state/versions/2023_02_06_1437_303c73931475_add_supervisor_period.py
  recidiviz/persistence/database/schema/state/schema.py
  recidiviz/persistence/entity/entity_utils.py
  recidiviz/persistence/entity/state/deserialize_entity_factories.py
  recidiviz/persistence/entity/state/entities.py
  recidiviz/persistence/entity_matching/state/state_matching_utils.py
  recidiviz/tests/persistence/database/schema_utils_test.py
  recidiviz/tests/persistence/entity/entity_utils_test.py
  recidiviz/tests/persistence/entity/state/deserialize_entity_factories_test.py
Due: generate_docs_for_endpoint, generate_entity_documentation

use assertCountEqual instead of assertListEqual (Recidiviz/recidiviz-data#18531)
  recidiviz/tests/ingest/direct/sftp/base_upload_state_files_to_ingest_bucket_controller_test.py
Due: generate_docs_for_endpoint

Path conditions:
  generate_docs_for_region: any of: ^recidiviz/ingest/direct/regions/
  generate_docs_for_endpoint: any of: ^recidiviz/, but not: (?x)(^recidiviz/tests/|^recidiviz/tools/|^recidiviz/ingest/direct/regions/)$

  generate_entity_documentation: any of: (?x)(^recidiviz/persistence/database/schema/state/schema.py|^recidiviz/persistence/database/schema/history_table_shared_columns_mixin.py)$

