Repository Recidiviz/pulse-data: changes, and which pre-commit hooks are due for each by the changed paths.
All: generate_docs_for_region, generate_docs_for_endpoint, generate_entity_documentation, generate_calc_documentation, generate_ingest_mappings_schema_documentation, update_terraform_lock_file

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.3.0
    hooks:
      - id: check-yaml
  - repo: https://github.com/psf/black
    rev: 22.3.0
    hooks:
      # This runs on py, pyi, and ipynb files.
      - id: black-jupyter
        language_version: python3
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v2.5.1
    hooks:
      - id: prettier
        types_or: [yaml]
  - repo: https://github.com/pycqa/isort
    rev: 5.6.4
    hooks:
      - id: isort
        name: isort (python)
      - id: isort
        name: isort (pyi)
        types: [pyi]
  - repo: local
    hooks:
      - id: generate_docs_for_region
        name: generate_docs_for_region
        entry: pipenv run python -m recidiviz.tools.docs.region_documentation_generator
        language: system
        files: ^recidiviz/ingest/direct/regions/
        require_serial: true
      - id: generate_docs_for_endpoint
        name: generate_docs_for_endpoint
        entry: pipenv run python -m recidiviz.tools.docs.endpoint_documentation_generator
        language: system
        files: ^recidiviz/
        exclude: >
          (?x)(^recidiviz/tests/|^recidiviz/tools/|^recidiviz/ingest/direct/regions/)$
        require_serial: true
      - id: generate_entity_documentation
        name: generate_entity_documentation
        entry: pipenv run python -m recidiviz.tools.docs.entity_documentation_generator
        language: system
        files: >
          (?x)(^recidiviz/persistence/database/schema/state/schema.py|^recidiviz/persistence/database/schema/history_table_shared_columns_mixin.py|^recidiviz/common/constants/state/)$
        require_serial: true
      - id: generate_calc_documentation
        name: generate_calc_documentation
        entry: pipenv run python -m recidiviz.calculator.calculation_documentation_generator
        language: system
        files: ^recidiviz/calculator/|^recidiviz/metrics/|^recidiviz/.*/views/|^recidiviz/big_query/|^recidiviz/persistence/database/schema/|^recidiviz/persistence/entity/|^recidiviz/task_eligibility/
        exclude: ^recidiviz/tests/|^recidiviz/calculator/modeling/
        require_serial: true
      - id: generate_ingest_mappings_schema_documentation
        name: generate_ingest_mappings_schema_documentation
        entry: pipenv run python -m recidiviz.tools.docs.ingest_mappings_schema_documentation_generator
        language: system
        files: ^recidiviz/ingest/direct/ingest_mappings/yaml_schema/|^docs/engineering/ingest_mapping_schema/
        require_serial: true
      - id: update_terraform_lock_file
        name: update_terraform_lock_file
        entry: recidiviz/tools/deploy/update_terraform_lock.sh
        language: script
        files: ^recidiviz/tools/deploy/terraform/
        require_serial: true

[US_AZ] Only store most recent home plan status (Recidiviz/recidiviz-data#33611)
  recidiviz/calculator/query/state/views/analyst_data/us_az/us_az_home_plan_preprocessed.py
Due: generate_docs_for_endpoint, generate_calc_documentation

[US_ND] Add parole board review notes as side panel notes for ATP (Recidiviz/recidiviz-data#33607)
  recidiviz/calculator/query/state/views/workflows/firestore/us_nd_transfer_to_atp_form_record.py
  recidiviz/view_registry/raw_data_reference_reasons.yaml
Due: generate_docs_for_endpoint, generate_calc_documentation

Update asset-generation test after dependency bump (Recidiviz/recidiviz-data#33615)
  nodejs/asset-generation/src/components/OutliersSupervisorChart/__image_snapshots__/outliers-supervisor-chart-test-tsx-src-components-outliers-supervisor-chart-outliers-supervisor-chart-test-tsx-data-with-highlights-overflowing-swarm-height-render-to-image-1-snap.png
  nodejs/asset-generation/src/components/OutliersSupervisorChart/__image_snapshots__/outliers-supervisor-chart-test-tsx-src-components-outliers-supervisor-chart-outliers-supervisor-chart-test-tsx-data-with-highlights-that-fit-within-swarm-heig-render-to-image-1-snap.png
  nodejs/asset-generation/src/components/OutliersSupervisorChart/__image_snapshots__/outliers-supervisor-chart-test-tsx-src-components-outliers-supervisor-chart-outliers-supervisor-chart-test-tsx-data-with-highlights-with-missing-prev-rate-render-to-image-1-snap.png
  nodejs/asset-generation/src/components/OutliersSupervisorChart/__image_snapshots__/outliers-supervisor-chart-test-tsx-src-components-outliers-supervisor-chart-outliers-supervisor-chart-test-tsx-data-with-swarm-overflowing-max-height-render-to-image-1-snap.png
  nodejs/asset-generation/src/components/SwarmedCircleGroup/__image_snapshots__/swarmed-circle-group-test-tsx-src-components-swarmed-circle-group-swarmed-circle-group-test-tsx-auto-spread-nonzero-modal-distribution-1-snap.png
  nodejs/asset-generation/src/components/SwarmedCircleGroup/__image_snapshots__/swarmed-circle-group-test-tsx-src-components-swarmed-circle-group-swarmed-circle-group-test-tsx-auto-spread-zero-modal-distribution-1-snap.png
  nodejs/asset-generation/src/components/SwarmedCircleGroup/__image_snapshots__/swarmed-circle-group-test-tsx-src-components-swarmed-circle-group-swarmed-circle-group-test-tsx-fixed-spread-1-snap.png
  nodejs/asset-generation/src/components/SwarmedCircleGroup/__image_snapshots__/swarmed-circle-group-test-tsx-src-components-swarmed-circle-group-swarmed-circle-group-test-tsx-minimum-spread-1-snap.png
  nodejs/asset-generation/src/components/__snapshots__/renderToStaticSvg
Due: none

[Insights] Add table helper text to OutliersMetricConfig (Recidiviz/recidiviz-data#33558)
  recidiviz/outliers/outliers_configs.py
  recidiviz/outliers/types.py
  recidiviz/tests/case_triage/outliers/snapshots/snap_outliers_routes_test.py
  recidiviz/tests/outliers/querier_test.py
  recidiviz/tests/outliers/snapshots/snap_querier_test.py
Due: generate_docs_for_endpoint

[US_AZ] Allow placeholder charges (Recidiviz/recidiviz-data#33614)
  recidiviz/ingest/direct/regions/us_az/ingest_mappings/us_az_state_charge.yaml
  recidiviz/ingest/direct/regions/us_az/ingest_mappings/us_az_state_sentence_status_snapshot.yaml
  recidiviz/ingest/direct/regions/us_az/ingest_views/view_state_charge.py
  recidiviz/ingest/direct/regions/us_az/ingest_views/view_state_sentence_status_snapshot.py
  recidiviz/ingest/direct/regions/us_az/raw_data/us_az_DOC_EPISODE.yaml
  recidiviz/ingest/direct/regions/us_az/raw_data/us_az_DPP_EPISODE.yaml
Due: generate_docs_for_region, generate_docs_for_endpoint

[raw data import] add test for ignore_quotes and pre import normalization (Recidiviz/recidiviz-data#33599)
  recidiviz/tests/ingest/direct/types/raw_data_import_types_test.py
Due: generate_docs_for_endpoint

[US_TN] Prioritize InfractionType over IncidentType (Recidiviz/recidiviz-data#33617)
  recidiviz/calculator/query/state/views/analyst_data/us_tn/us_tn_incarceration_incidents_preprocessed.py
  recidiviz/task_eligibility/utils/us_tn_query_fragments.py
Due: generate_docs_for_endpoint, generate_calc_documentation

[US_PA][Workflows] Remove probationers from candidate population (Recidiviz/recidiviz-data#33609)
  recidiviz/task_eligibility/eligibility_spans/us_pa/complete_transfer_to_administrative_supervision_request.py
Due: generate_docs_for_endpoint, generate_calc_documentation

Add custody level info to TES session span (Recidiviz/recidiviz-data#33389)
  recidiviz/calculator/query/state/views/analyst_data/models/spans.py
Due: generate_docs_for_endpoint, generate_calc_documentation

[Justice Counts] Add consolidated race/ethnicity dictionary to API response for published data (Recidiviz/recidiviz-data#33621)
  recidiviz/justice_counts/metrics/metric_disaggregation_data.py
  recidiviz/tests/justice_counts/metric_interface_test.py
Due: generate_docs_for_endpoint

[raw data import] Include microseconds in update_datetime for raw data tables (Recidiviz/recidiviz-data#33618)
  recidiviz/ingest/direct/raw_data/direct_ingest_raw_table_transformation_query_builder.py
  recidiviz/tests/ingest/direct/raw_data/direct_ingest_raw_table_transformation_query_builder_test.py
  recidiviz/tests/ingest/direct/raw_data/transformation_fixtures/update_datetime_microseconds/__init__.py
  recidiviz/tests/ingest/direct/raw_data/transformation_fixtures/update_datetime_microseconds/singlePrimaryKey_input.csv
  recidiviz/tests/ingest/direct/raw_data/transformation_fixtures/update_datetime_microseconds/singlePrimaryKey_output.csv
Due: generate_docs_for_endpoint

[BigQuery] Delete unnecessary address_overrides_for_deployed_view_datasets helper (Recidiviz/recidiviz-data#33619)
  recidiviz/tests/view_registry/address_overrides_factory_test.py
  recidiviz/tools/export_metrics_from_dataset_to_gcs.py
  recidiviz/view_registry/address_overrides_factory.py
Due: generate_docs_for_endpoint

[US_PA] Revise processing for absconsion periods (Recidiviz/recidiviz-data#33620)
  recidiviz/calculator/query/state/views/sessions/us_pa/us_pa_supervision_population_metrics_preprocessed.py
  recidiviz/ingest/direct/regions/us_pa/ingest_mappings/us_pa_supervision_period_v5.yaml
  recidiviz/pipelines/utils/state_utils/us_pa/us_pa_supervision_delegate.py
Due: generate_docs_for_region, generate_docs_for_endpoint, generate_calc_documentation

[raw data import] Update temp file naming in normalization (Recidiviz/recidiviz-data#33653)
  recidiviz/cloud_storage/gcsfs_path.py
  recidiviz/ingest/direct/raw_data/direct_ingest_raw_file_pre_import_normalizer.py
  recidiviz/tests/cloud_storage/gcsfs_path_test.py
  recidiviz/tests/ingest/direct/raw_data/direct_ingest_raw_file_pre_import_normalizer_test.py
Due: generate_docs_for_endpoint

[Justice Counts] Remove Extra `user_account` Assignment in `BulkUploadMetadata` (Recidiviz/recidiviz-data#32989)
  recidiviz/justice_counts/bulk_upload/bulk_upload_metadata.py
Due: generate_docs_for_endpoint

[Justice Counts] Update CSG data pull script to use Metric Settings data instead of agency datapoints. (Recidiviz/recidiviz-data#32668)
  recidiviz/justice_counts/jobs/csg_data_pull.py
Due: generate_docs_for_endpoint

[Deploy] Fix `deploy_production.sh` unbound variable (Recidiviz/recidiviz-data#33660)
  recidiviz/tools/deploy/deploy_helpers.sh
Due: generate_docs_for_endpoint

[US_PA][Workflows] Create criteria for not serving on sex offense protocol (Recidiviz/recidiviz-data#33326)
  recidiviz/task_eligibility/criteria/state_specific/us_pa/not_on_sex_offense_protocol.py
  recidiviz/task_eligibility/eligibility_spans/us_pa/complete_transfer_to_administrative_supervision_request.py
  recidiviz/task_eligibility/eligibility_spans/us_pa/complete_transfer_to_special_circumstances_supervision_request.py
Due: generate_docs_for_endpoint, generate_calc_documentation

[US_AZ] Created criteria stubs & task queries for AZ TPR & DTP and modified custody level criteria to include medium custody residents (Recidiviz/recidiviz-data#33608)
  recidiviz/task_eligibility/criteria/general/custody_level_is_minimum_or_medium.py
  recidiviz/task_eligibility/criteria/state_specific/us_az/at_least_24_months_since_last_csed.py
  recidiviz/task_eligibility/criteria/state_specific/us_az/enrolled_in_functional_literacy.py
  recidiviz/task_eligibility/criteria/state_specific/us_az/is_us_citizen_or_legal_permanent_resident.py
  recidiviz/task_eligibility/criteria/state_specific/us_az/no_unsatisfactory_program_ratings_within_3_months.py
  recidiviz/task_eligibility/criteria/state_specific/us_az/not_serving_for_dangerous_crimes_against_children.py
  recidiviz/task_eligibility/criteria/state_specific/us_az/not_serving_for_domestic_violence.py
  recidiviz/task_eligibility/criteria/state_specific/us_az/not_serving_for_drug_offense.py
  recidiviz/task_eligibility/criteria/state_specific/us_az/not_serving_for_sexual_exploitation_of_children.py
  recidiviz/task_eligibility/eligibility_spans/us_az/release_to_dtp_request.py
Due: generate_docs_for_endpoint, generate_calc_documentation

[Justice Counts] Audit Categories for JC Tier 1 Metrics (Recidiviz/recidiviz-data#33654)
  recidiviz/justice_counts/metrics/courts.py
  recidiviz/justice_counts/metrics/defense.py
  recidiviz/justice_counts/metrics/jails.py
  recidiviz/justice_counts/metrics/law_enforcement.py
  recidiviz/justice_counts/metrics/prisons.py
  recidiviz/justice_counts/metrics/prosecution.py
  recidiviz/justice_counts/metrics/supervision.py
  recidiviz/tests/justice_counts/metric_interface_test.py
Due: generate_docs_for_endpoint

remove pathways export + DBs for NC, CO, MI, and ME (Recidiviz/recidiviz-data#33616)
  recidiviz/calculator/query/state/views/dashboard/pathways/pathways_incarceration_location_name_map.py
  recidiviz/calculator/query/state/views/dashboard/pathways/pathways_supervision_location_name_map.py
  recidiviz/metrics/export/products/products.yaml
  recidiviz/tests/case_triage/pathways/metrics/base_metrics_test.py
  recidiviz/tools/deploy/terraform/config/pathways_enabled_states.yaml
Due: generate_docs_for_endpoint, generate_calc_documentation, update_terraform_lock_file

[Insights][Bug] add earliest_person_assignment_date to officers response (Recidiviz/recidiviz-data#33657)
  recidiviz/outliers/querier/querier.py
  recidiviz/tests/case_triage/outliers/outliers_routes_test.py
  recidiviz/tests/case_triage/outliers/snapshots/snap_outliers_routes_test.py
  recidiviz/tests/outliers/snapshots/snap_querier_test.py
Due: generate_docs_for_endpoint

[Justice Counts] Add an endpoint that gets data for just one agency. (Recidiviz/recidiviz-data#33457)
  recidiviz/justice_counts/control_panel/routes/api.py
  recidiviz/tests/justice_counts/control_panel/server_test.py
Due: generate_docs_for_endpoint

[US_ND] Fix to registration requirements dates (Recidiviz/recidiviz-data#33666)
  recidiviz/task_eligibility/criteria/state_specific/us_nd/has_registration_requirements.py
Due: generate_docs_for_endpoint, generate_calc_documentation

[US_ND] Remove datetime parsers in downstream views (Recidiviz/recidiviz-data#33674)
  recidiviz/calculator/query/state/views/sessions/us_nd/us_nd_incarceration_staff_assignment_sessions_preprocessed.py
  recidiviz/calculator/query/state/views/sessions/us_nd/us_nd_raw_lsir_assessments.py
Due: generate_docs_for_endpoint, generate_calc_documentation

[Justice Counts] Turn off double-writes and delete agency-datapoint code. (Recidiviz/recidiviz-data#31758)
  recidiviz/justice_counts/datapoint.py
  recidiviz/justice_counts/datapoints_for_metric.py
  recidiviz/justice_counts/jobs/metric_settings_overwrite.py
  recidiviz/justice_counts/jobs/metric_settings_parity_test.py
  recidiviz/justice_counts/jobs/metric_settings_serialization_test.py
  recidiviz/justice_counts/jobs/metric_settings_timestamp_migration.py
  recidiviz/justice_counts/metric_setting.py
  recidiviz/justice_counts/utils/persistence_utils.py
  recidiviz/tests/justice_counts/control_panel/server_test.py
  recidiviz/tests/justice_counts/datapoint_test.py
  recidiviz/tests/justice_counts/metric_setting_test.py
  recidiviz/tests/justice_counts/utils/utils.py
Due: generate_docs_for_endpoint

[US_ND] Hydrate incident severity (Recidiviz/recidiviz-data#33649)
  recidiviz/ingest/direct/regions/us_nd/ingest_mappings/us_nd_elite_offense_in_custody_and_pos_report_data.yaml
  recidiviz/ingest/direct/regions/us_nd/ingest_views/view_elite_offense_in_custody_and_pos_report_data.py
  recidiviz/task_eligibility/utils/us_nd_query_fragments.py
Due: generate_docs_for_region, generate_docs_for_endpoint, generate_calc_documentation

[Autogenerated] Update Pipfile.lock (Recidiviz/recidiviz-data#33569)
  Pipfile.lock
  recidiviz/pipelines/dataflow_flex_setup.py
  recidiviz/task_eligibility/criteria/state_specific/us_pa/not_on_sex_offense_protocol.py
Due: generate_docs_for_endpoint, generate_calc_documentation

[raw data import] Update stable historical counts validation to use upper case region_code (Recidiviz/recidiviz-data#33665)
  recidiviz/ingest/direct/raw_data/direct_ingest_raw_table_pre_import_validator.py
  recidiviz/ingest/direct/raw_data/validations/stable_historical_raw_data_counts_table_validation.py
  recidiviz/ingest/direct/types/raw_data_import_blocking_validation.py
  recidiviz/persistence/database/schema/operations/schema.py
  recidiviz/tests/ingest/direct/raw_data/validations/stable_historical_raw_data_counts_table_validation_test.py
Due: generate_docs_for_endpoint, generate_calc_documentation

[US_TX] Adding yaml files for `SupervisionSentence` , `SupervisionPeriod` (Recidiviz/recidiviz-data#33662)
  recidiviz/ingest/direct/regions/us_tx/raw_data/us_tx_StaffData.yaml
  recidiviz/ingest/direct/regions/us_tx/raw_data/us_tx_SupervisionPeriod.yaml
  recidiviz/ingest/direct/regions/us_tx/raw_data/us_tx_SupervisionSentence.yaml
Due: generate_docs_for_region, generate_docs_for_endpoint

[admin panel] enable cancel reimport for mixed raw data import dag enabled (Recidiviz/recidiviz-data#33606)
  frontends/admin-panel/src/components/IngestStatus/FlashChecklist/FlashDatabaseChecklist.tsx
  frontends/admin-panel/src/components/IngestStatus/FlashChecklist/NewFlashChecklistStore.tsx
  frontends/admin-panel/src/components/IngestStatus/FlashChecklist/NewFlashDatabaseChecklistActiveComponent.tsx
Due: none

[Insights] use office name instead of unit name for CA supervision_unit (Recidiviz/recidiviz-data#33508)
  recidiviz/calculator/query/state/views/outliers/staff_query_template.py
Due: generate_docs_for_endpoint, generate_calc_documentation

[Testing] Add sqlglot helpers for enforcing selected columns and no state-specific logic (Recidiviz/recidiviz-data#33683)
  recidiviz/tests/big_query/sqlglot_helpers.py
  recidiviz/tests/big_query/sqlglot_helpers_test.py
Due: generate_docs_for_endpoint

[US_ND] Add criteria to exclude folks who have facility restrictions. (Recidiviz/recidiviz-data#33037)
  recidiviz/calculator/query/state/views/workflows/firestore/us_nd_transfer_to_atp_form_record.py
  recidiviz/calculator/query/state/views/workflows/firestore/us_nd_transfer_to_minimum_facility_form_record.py
  recidiviz/task_eligibility/criteria/state_specific/us_nd/has_facility_restrictions.py
  recidiviz/task_eligibility/eligibility_spans/us_nd/transfer_to_atp_form.py
  recidiviz/view_registry/raw_data_reference_reasons.yaml
Due: generate_docs_for_endpoint, generate_calc_documentation

[Workflows] Adjust Marked Ineligible Aggregated Metric to be a subset of eligible individuals (Recidiviz/recidiviz-data#33685)
  recidiviz/aggregated_metrics/impact_reports_aggregated_metrics_configurations.py
Due: generate_docs_for_endpoint

[Justice Counts] fix metric key typos in v2 agency dashboard API (Recidiviz/recidiviz-data#33680)
  recidiviz/justice_counts/metrics/metric_interface.py
  recidiviz/justice_counts/utils/constants.py
Due: generate_docs_for_endpoint

[Justice Counts] add reporting_agency fields to dashboard response (Recidiviz/recidiviz-data#33648)
  recidiviz/justice_counts/metrics/metric_interface.py
  recidiviz/tests/justice_counts/metric_interface_test.py
Due: generate_docs_for_endpoint

one more ND date parsing fix (Recidiviz/recidiviz-data#33703)
  recidiviz/calculator/query/state/views/sessions/violation_responses.py
Due: generate_docs_for_endpoint, generate_calc_documentation
