Repository Recidiviz/pulse-data: changes, and which pre-commit hooks are due for each by the changed paths.
All: generate_docs_for_region, generate_docs_for_endpoint, generate_entity_documentation, generate_calc_documentation, generate_ingest_mappings_schema_documentation, update_terraform_lock_file

generate_docs_for_region:
  name: generate_docs_for_region
  entry: pipenv run python -m recidiviz.tools.docs.region_documentation_generator
  language: system
  require_serial: true

generate_docs_for_endpoint:
  name: generate_docs_for_endpoint
  entry: pipenv run python -m recidiviz.tools.docs.endpoint_documentation_generator
  language: system
  require_serial: true

generate_entity_documentation:
  name: generate_entity_documentation
  entry: pipenv run python -m recidiviz.tools.docs.entity_documentation_generator
  language: system
  require_serial: true

generate_calc_documentation:
  name: generate_calc_documentation
  entry: pipenv run python -m recidiviz.calculator.calculation_documentation_generator
  language: system
  require_serial: true

generate_ingest_mappings_schema_documentation:
  name: generate_ingest_mappings_schema_documentation
  entry: pipenv run python -m recidiviz.tools.docs.ingest_mappings_schema_documentation_generator
  language: system
  require_serial: true

update_terraform_lock_file:
  name: update_terraform_lock_file
  entry: recidiviz/tools/deploy/update_terraform_lock.sh
  language: script
  require_serial: true

fixing pylint issues on main with the proto files (Recidiviz/recidiviz-data#19206)
  recidiviz/persistence/ingest_info_converter/base_converter.py
  recidiviz/persistence/ingest_info_converter/ingest_info_converter.py
  recidiviz/persistence/ingest_info_converter/state/entity_helpers/state_agent.py
  recidiviz/persistence/ingest_info_converter/state/entity_helpers/state_alias.py
  recidiviz/persistence/ingest_info_converter/state/entity_helpers/state_assessment.py
  recidiviz/persistence/ingest_info_converter/state/entity_helpers/state_charge.py
  recidiviz/persistence/ingest_info_converter/state/entity_helpers/state_early_discharge.py
  recidiviz/persistence/ingest_info_converter/state/entity_helpers/state_incarceration_incident.py
  recidiviz/persistence/ingest_info_converter/state/entity_helpers/state_incarceration_incident_outcome.py
  recidiviz/persistence/ingest_info_converter/state/entity_helpers/state_incarceration_period.py
  recidiviz/persistence/ingest_info_converter/state/entity_helpers/state_incarceration_sentence.py
  recidiviz/persistence/ingest_info_converter/state/entity_helpers/state_person.py
  recidiviz/persistence/ingest_info_converter/state/entity_helpers/state_person_ethnicity.py
  recidiviz/persistence/ingest_info_converter/state/entity_helpers/state_person_external_id.py
  recidiviz/persistence/ingest_info_converter/state/entity_helpers/state_person_race.py
  recidiviz/persistence/ingest_info_converter/state/entity_helpers/state_program_assignment.py
  recidiviz/persistence/ingest_info_converter/state/entity_helpers/state_supervision_case_type_entry.py
  recidiviz/persistence/ingest_info_converter/state/entity_helpers/state_supervision_contact.py
  recidiviz/persistence/ingest_info_converter/state/entity_helpers/state_supervision_period.py
  recidiviz/persistence/ingest_info_converter/state/entity_helpers/state_supervision_sentence.py
  recidiviz/persistence/ingest_info_converter/state/entity_helpers/state_supervision_violated_condition_entry.py
  recidiviz/persistence/ingest_info_converter/state/entity_helpers/state_supervision_violation.py
  recidiviz/persistence/ingest_info_converter/state/entity_helpers/state_supervision_violation_response.py
  recidiviz/persistence/ingest_info_converter/state/entity_helpers/state_supervision_violation_response_decision_entry.py
  recidiviz/persistence/ingest_info_converter/state/entity_helpers/state_supervision_violation_type_entry.py
  recidiviz/persistence/ingest_info_converter/state/state_converter.py
  recidiviz/persistence/persistence.py
  recidiviz/tests/ingest/models/ingest_info_test.py
  recidiviz/tests/persistence/ingest_info_validator/ingest_info_validator_test.py
Due: generate_docs_for_endpoint

add dataflow image to staging deploy script (Recidiviz/recidiviz-data#18500)
  recidiviz/tools/deploy/base_deploy_to_staging.sh
Due: generate_docs_for_endpoint

[US_PA] Adding date_received column to specialty_agents raw data file (Recidiviz/recidiviz-data#19211)
  recidiviz/ingest/direct/regions/us_pa/raw_data/us_pa_specialty_agents.yaml
Due: generate_docs_for_region, generate_docs_for_endpoint

[US_TN] Fix double spaces in offense descriptions for sentence view (BQ-postgres compatible) (Recidiviz/recidiviz-data#19210)
  recidiviz/ingest/direct/regions/us_tn/ingest_views/view_SentencesChargesAndCourtCases_v2.py
Due: generate_docs_for_region, generate_docs_for_endpoint

Revert "add dataflow image to staging deploy script (Recidiviz/recidiviz-data#18500)" (Recidiviz/recidiviz-data#19214)
  recidiviz/tools/deploy/base_deploy_to_staging.sh
Due: generate_docs_for_endpoint

[DagWalker] Process Dag Serially (Recidiviz/recidiviz-data#18846)
  recidiviz/big_query/big_query_view_dag_walker.py
  recidiviz/big_query/view_update_manager.py
  recidiviz/tests/big_query/big_query_view_dag_walker_test.py
  recidiviz/tools/load_views_to_sandbox.py
Due: generate_docs_for_endpoint, generate_calc_documentation

[US_TN] update TN drug screens to incorporate tests from `DrugTestDrugClass` (Recidiviz/recidiviz-data#15226)
  recidiviz/calculator/query/state/views/analyst_data/us_tn/us_tn_compliant_reporting_guardrail.py
  recidiviz/calculator/query/state/views/analyst_data/us_tn/us_tn_compliant_reporting_logic.py
  recidiviz/calculator/query/state/views/sessions/drug_screens_preprocessed.py
  recidiviz/calculator/query/state/views/sessions/us_id/us_id_drug_screens_preprocessed.py
  recidiviz/calculator/query/state/views/sessions/us_tn/us_tn_drug_screens_preprocessed.py
Due: generate_docs_for_endpoint, generate_calc_documentation

Create raw table with schema during sandbox import (Recidiviz/recidiviz-data#18790)
  recidiviz/admin_panel/ingest_operations/ingest_utils.py
  recidiviz/admin_panel/routes/ingest_ops.py
  recidiviz/ingest/direct/raw_data_table_schema_utils.py
  recidiviz/tests/admin_panel/ingest_operations/__init__.py
  recidiviz/tests/admin_panel/ingest_operations/ingest_utils_test.py
  recidiviz/tests/ingest/direct/raw_data_table_schema_utils_test.py
  recidiviz/tools/deploy/update_raw_data_table_schemas.py
  recidiviz/tools/ingest/operations/import_raw_files_to_sandbox.py
Due: generate_docs_for_endpoint

[US_MO] Compile Program Track Information (Recidiviz/recidiviz-data#18286)
  recidiviz/calculator/query/state/views/analyst_data/analyst_data_views.py
  recidiviz/calculator/query/state/views/analyst_data/us_mo/us_mo_program_tracks.py
  recidiviz/calculator/query/state/views/analyst_data/us_mo/us_mo_screeners_preprocessed.py
  recidiviz/calculator/query/state/views/analyst_data/us_mo/us_mo_sentencing_dates_preprocessed.py
Due: generate_docs_for_endpoint, generate_calc_documentation

[Bugfix] Fix bug in queries for generating raw data fixtures (Recidiviz/recidiviz-data#19218)
  recidiviz/tests/tools/ingest/testing/raw_data_fixtures_generator_test.py
  recidiviz/tools/ingest/testing/raw_data_fixtures_generator.py
Due: generate_docs_for_endpoint

[Workflows] grant workflows access to MO users (Recidiviz/recidiviz-data#19230)
  recidiviz/calculator/query/state/views/reference/dashboard_user_restrictions.py
Due: generate_docs_for_endpoint, generate_calc_documentation

[US_IX] Add raw data configs for ARM tables (Recidiviz/recidiviz-data#19232)
  recidiviz/ingest/direct/regions/us_ix/raw_data/us_ix_arm_MatrixIncentiveTrigger.yaml
  recidiviz/ingest/direct/regions/us_ix/raw_data/us_ix_arm_MatrixInfractionTrigger.yaml
  recidiviz/ingest/direct/regions/us_ix/raw_data/us_ix_arm_ResponseMatrix.yaml
Due: generate_docs_for_region, generate_docs_for_endpoint

[WIP] [US_CA] update raw data yamls for PersonParole and AgentParole (Recidiviz/recidiviz-data#19233)
  recidiviz/ingest/direct/regions/us_ca/raw_data/us_ca_AgentParole.yaml
  recidiviz/ingest/direct/regions/us_ca/raw_data/us_ca_PersonParole.yaml
Due: generate_docs_for_region, generate_docs_for_endpoint

[US_PA] adding external_id to PK to specialty_agents (Recidiviz/recidiviz-data#19234)
  recidiviz/ingest/direct/regions/us_pa/raw_data/us_pa_specialty_agents.yaml
Due: generate_docs_for_region, generate_docs_for_endpoint

[US_PA] Dedup specialized agents preprocessed (Recidiviz/recidiviz-data#19224)
  recidiviz/calculator/query/state/views/analyst_data/us_pa/us_pa_specialized_agents_preprocessed.py
Due: generate_docs_for_endpoint, generate_calc_documentation

[US_IX] Set validation thresholds and revise validations for US_IX (Recidiviz/recidiviz-data#19039)
  recidiviz/validation/config/regions/us_ix/us_ix_validation_config.yaml
  recidiviz/validation/views/state/incarceration_admission_person_level_external_comparison.py
  recidiviz/validation/views/state/supervision_population_person_level_template.py
Due: generate_docs_for_endpoint, generate_calc_documentation

[Workflows] log who made a request to where in the workflows proxy (Recidiviz/recidiviz-data#19237)
  recidiviz/case_triage/workflows/workflows_authorization.py
  recidiviz/case_triage/workflows/workflows_routes.py
  recidiviz/tests/case_triage/workflows/workflows_routes_test.py
Due: generate_docs_for_endpoint

[US_OR] Adding 6 new tables (Recidiviz/recidiviz-data#19228)
  recidiviz/ingest/direct/regions/us_or/raw_data/us_or_RCDVZ_CISPRDDTA_CLOFPD.yaml
  recidiviz/ingest/direct/regions/us_or/raw_data/us_or_RCDVZ_CISPRDDTA_CLOVER.yaml
  recidiviz/ingest/direct/regions/us_or/raw_data/us_or_RCDVZ_DOCDTA_TB209P.yaml
  recidiviz/ingest/direct/regions/us_or/raw_data/us_or_RCDVZ_DOCDTA_TBCELL.yaml
  recidiviz/ingest/direct/regions/us_or/raw_data/us_or_RCDVZ_DOCDTA_TBMOVE.yaml
  recidiviz/ingest/direct/regions/us_or/raw_data/us_or_RCDVZ_PBMIS_COMMON_NCIC_CODES.yaml
Due: generate_docs_for_region, generate_docs_for_endpoint

[Workflows] Enable production export of workflows for us_mo (Recidiviz/recidiviz-data#19235)
  recidiviz/metrics/export/products/products.yaml
Due: generate_docs_for_endpoint, generate_calc_documentation

Adding skipping mechanisms based on remote file stabilization and queue statuses (Recidiviz/recidiviz-data#19149)
  recidiviz/airflow/dags/sftp_dag.py
  recidiviz/airflow/tests/sftp_dag_test.py
  recidiviz/tools/deploy/terraform/cloud-scheduler.tf
Due: generate_docs_for_endpoint, update_terraform_lock_file

[Justice Counts] adjusts bulk upload template column widths (Recidiviz/recidiviz-data#19203)
  Pipfile
  Pipfile.lock
  recidiviz/tools/justice_counts/control_panel/create_upload_template.py
Due: generate_docs_for_endpoint

[Admin Panel] Parallelize ingest view summary queries (Recidiviz/recidiviz-data#19249)
  recidiviz/admin_panel/ingest_operations_store.py
Due: generate_docs_for_endpoint

[Justice Counts] Admin panel improvements (Recidiviz/recidiviz-data#19231)
  frontends/admin-panel/src/AdminPanelAPI/JusticeCountsTools.ts
  frontends/admin-panel/src/components/JusticeCountsTools/AgencyProvisioningView.tsx
  frontends/admin-panel/src/components/JusticeCountsTools/UserProvisioningView.tsx
  frontends/admin-panel/src/components/JusticeCountsTools/constants.ts
  recidiviz/admin_panel/routes/justice_counts_tools.py
  recidiviz/justice_counts/agency.py
  recidiviz/justice_counts/report.py
Due: generate_docs_for_endpoint

read template keys from json files (Recidiviz/recidiviz-data#19207)
  recidiviz/airflow/dags/utils/pipeline_parameters.py
  recidiviz/airflow/tests/pipeline_parameters_test.py
Due: generate_docs_for_endpoint

Adds tech incarcerations with prior treatment referral metric (Recidiviz/recidiviz-data#19219)
  recidiviz/aggregated_metrics/aggregated_metric_view_collector.py
  recidiviz/aggregated_metrics/models/aggregated_metric_configurations.py
  recidiviz/calculator/query/state/views/analyst_data/person_events.py
Due: generate_docs_for_endpoint, generate_calc_documentation

add dataflow image to staging deploy script fix (Recidiviz/recidiviz-data#19227)
  recidiviz/tools/deploy/base_deploy_to_staging.sh
Due: generate_docs_for_endpoint

Adds community_confinement_starts metric (Recidiviz/recidiviz-data#19243)
  recidiviz/aggregated_metrics/aggregated_metric_view_collector.py
  recidiviz/aggregated_metrics/models/aggregated_metric_configurations.py
Due: generate_docs_for_endpoint

[Justice Counts] added comment in RaceAndEthnicity (Recidiviz/recidiviz-data#19272)
  recidiviz/justice_counts/dimensions/person.py
Due: generate_docs_for_endpoint

[CloudSQL] Remove migration_user option (Recidiviz/recidiviz-data#19266)
  recidiviz/persistence/database/sqlalchemy_engine_manager.py
  recidiviz/tools/migrations/migration_helpers.py
  recidiviz/tools/migrations/purge_state_db.py
Due: generate_docs_for_endpoint

[US_MO] Adding more MOCIS tables to mo warehouse query (Recidiviz/recidiviz-data#19195)
  recidiviz/ingest/direct/regions/us_mo/raw_data/us_mo_CODE_PDB_CLASS_EXIT_REASON_CODES.yaml
  recidiviz/ingest/direct/regions/us_mo/raw_data/us_mo_CODE_PDB_CLASS_PRIORITY_CODES.yaml
  recidiviz/ingest/direct/regions/us_mo/raw_data/us_mo_MASTER_PDB_CLASSES.yaml
  recidiviz/ingest/direct/regions/us_mo/raw_data/us_mo_MASTER_PDB_CLASS_LOCATIONS.yaml
  recidiviz/ingest/direct/regions/us_mo/raw_data/us_mo_MASTER_PDB_CLASS_SCHEDULES.yaml
  recidiviz/ingest/direct/regions/us_mo/raw_data/us_mo_MASTER_PDB_LOCATIONS.yaml
  recidiviz/ingest/direct/regions/us_mo/raw_data/us_mo_MASTER_PDB_PROGRAMS.yaml
  recidiviz/ingest/direct/regions/us_mo/raw_data/us_mo_OFNDR_PDB_CLASS_SCHEDULE_ENROLLMENTS.yaml
  recidiviz/ingest/direct/regions/us_mo/us_mo_raw_data_sql_queries.py
Due: generate_docs_for_region, generate_docs_for_endpoint

[p1] Removing the cron schedules and SFTP queues (Recidiviz/recidiviz-data#19238)
  cron.yaml
  recidiviz/tools/deploy/terraform/modules/state-sftp-download-resources/main.tf
Due: generate_docs_for_endpoint, update_terraform_lock_file

[p2] Removing the SFTP endpoints and unit tests and docs (Recidiviz/recidiviz-data#19239)
  recidiviz/ingest/direct/direct_ingest_control.py
  recidiviz/tests/ingest/direct/direct_ingest_control_test.py
  recidiviz/utils/monitoring.py
Due: generate_docs_for_endpoint

[Cleanup] Some more ingest view builder simplification (Recidiviz/recidiviz-data#19254)
  recidiviz/ingest/direct/views/direct_ingest_view_query_builder.py
Due: generate_docs_for_endpoint, generate_calc_documentation

[Justice Counts] move get_metricfile_by_sheetname to metricfile_registry (Recidiviz/recidiviz-data#19255)
  recidiviz/justice_counts/bulk_upload/bulk_upload.py
  recidiviz/justice_counts/metricfiles/metricfile_registry.py
Due: generate_docs_for_endpoint

[p3] Removing the rest of the source code for SFTP (Recidiviz/recidiviz-data#19253)
  recidiviz/common/io/legacy_sftp_file_contents_handle.py
  recidiviz/common/sftp_connection.py
  recidiviz/fakes/fake_gcs_file_system.py
  recidiviz/ingest/direct/direct_ingest_cloud_task_queue_manager.py
  recidiviz/ingest/direct/regions/direct_ingest_region_utils.py
  recidiviz/ingest/direct/sftp/base_upload_state_files_to_ingest_bucket_controller.py
  recidiviz/ingest/direct/sftp/download_files_from_sftp.py
  recidiviz/tests/ingest/direct/direct_ingest_cloud_task_queue_manager_impl_test.py
  recidiviz/tests/ingest/direct/direct_ingest_region_utils_test.py
  recidiviz/tests/ingest/direct/fakes/fake_async_direct_ingest_cloud_task_manager.py
  recidiviz/tests/ingest/direct/fakes/fake_direct_ingest_cloud_task_manager.py
  recidiviz/tests/ingest/direct/fakes/fake_synchronous_direct_ingest_cloud_task_manager.py
  recidiviz/tests/ingest/direct/sftp/__init__.py
  recidiviz/tests/ingest/direct/sftp/base_upload_state_files_to_ingest_bucket_controller_test.py
  recidiviz/tests/ingest/direct/sftp/download_files_from_sftp_test.py
Due: generate_docs_for_region, generate_docs_for_endpoint

[Justice Counts] move bulk upload date helpers to date_utils.py (Recidiviz/recidiviz-data#19258)
  recidiviz/justice_counts/bulk_upload/bulk_upload.py
  recidiviz/justice_counts/feed.py
  recidiviz/justice_counts/report.py
  recidiviz/justice_counts/utils/date_utils.py
  recidiviz/tests/justice_counts/utils/date_utils_test.py
Due: generate_docs_for_endpoint

[p4] Removing the TF queues for SFTP (Recidiviz/recidiviz-data#19279)
  recidiviz/tools/deploy/terraform/modules/state-sftp-download-resources/main.tf
Due: generate_docs_for_endpoint, update_terraform_lock_file

[US_IX][Workflows] Remove NOT_A_NON_IDAHO_COMMITMENT criteria (Recidiviz/recidiviz-data#19280)
  recidiviz/task_eligibility/eligibility_spans/us_ix/complete_discharge_early_from_parole_dual_supervision_request.py
  recidiviz/task_eligibility/eligibility_spans/us_ix/complete_discharge_early_from_probation_supervision_request.py
  recidiviz/task_eligibility/eligibility_spans/us_ix/complete_full_term_discharge_from_supervision.py
  recidiviz/task_eligibility/eligibility_spans/us_ix/complete_transfer_to_limited_supervision_form.py
Due: generate_docs_for_endpoint, generate_calc_documentation

[Justice Counts] Don't need to specify version numbers in deploy script (Recidiviz/recidiviz-data#19193)
  recidiviz/justice_counts/control_panel/README.md
  recidiviz/tools/deploy/justice_counts/deploy_to_prod.sh
  recidiviz/tools/deploy/justice_counts/deploy_to_staging.sh
Due: generate_docs_for_endpoint

Fixes `avg_age` metric (Recidiviz/recidiviz-data#19158)
  recidiviz/aggregated_metrics/models/aggregated_metric.py
  recidiviz/aggregated_metrics/period_span_aggregated_metrics.py
  recidiviz/tools/looker/aggregated_metrics/custom_aggregated_metrics_lookml_generator.py
Due: generate_docs_for_endpoint

Path conditions:
  generate_docs_for_region: any of: ^recidiviz/ingest/direct/regions/
  generate_docs_for_endpoint: any of: ^recidiviz/, but not: (?x)(^recidiviz/tests/|^recidiviz/tools/|^recidiviz/ingest/direct/regions/)$

  generate_entity_documentation: any of: (?x)(^recidiviz/persistence/database/schema/state/schema.py|^recidiviz/persistence/database/schema/history_table_shared_columns_mixin.py|^recidiviz/common/constants/state/)$

  generate_calc_documentation: any of: ^recidiviz/calculator/|^recidiviz/metrics/|^recidiviz/.*/views/|^recidiviz/big_query/|^recidiviz/persistence/database/schema/|^recidiviz/persistence/entity/|^recidiviz/task_eligibility/, but not: ^recidiviz/tests/|^recidiviz/calculator/modeling/
  generate_ingest_mappings_schema_documentation: any of: ^recidiviz/ingest/direct/ingest_mappings/yaml_schema/|^docs/engineering/ingest_mapping_schema/
  update_terraform_lock_file: any of: ^recidiviz/tools/deploy/terraform/
