Repository Recidiviz/pulse-data: changes, and which pre-commit hooks are due for each by the changed paths.
All: generate_docs_for_region, generate_docs_for_endpoint, generate_entity_documentation, generate_calc_documentation, generate_ingest_mappings_schema_documentation, update_terraform_lock_file, terraform_fmt, alphabetize_yaml

generate_docs_for_region:
  name: generate_docs_for_region
  entry: pipenv run python -m recidiviz.tools.docs.region_documentation_generator
  language: system
  require_serial: true

generate_docs_for_endpoint:
  name: generate_docs_for_endpoint
  entry: pipenv run python -m recidiviz.tools.docs.endpoint_documentation_generator
  language: system
  require_serial: true

generate_entity_documentation:
  name: generate_entity_documentation
  entry: pipenv run python -m recidiviz.tools.docs.entity_documentation_generator
  language: system
  require_serial: true

generate_calc_documentation:
  name: generate_calc_documentation
  entry: pipenv run python -m recidiviz.calculator.calculation_documentation_generator
  language: system
  require_serial: true

generate_ingest_mappings_schema_documentation:
  name: generate_ingest_mappings_schema_documentation
  entry: pipenv run python -m recidiviz.tools.docs.ingest_mappings_schema_documentation_generator
  language: system
  require_serial: true

update_terraform_lock_file:
  name: update_terraform_lock_file
  entry: recidiviz/tools/deploy/update_terraform_lock.sh
  language: script
  require_serial: true

terraform_fmt:
  name: terraform_fmt
  entry: recidiviz/tools/deploy/format_terraform.sh
  language: script

alphabetize_yaml:
  name: alphabetize_yaml
  entry: pipenv run python -m recidiviz.tools.alphabetize_raw_data_reference_reasons
  language: system

[US_UT] Add Utah locations to location_metadata (Recidiviz/recidiviz-data#41232)
  recidiviz/calculator/query/state/views/reference/location_metadata/location_metadata.py
  recidiviz/calculator/query/state/views/reference/location_metadata/us_ut_location_metadata.py
  recidiviz/calculator/query/state/views/reference/reference_views.py
  recidiviz/view_registry/raw_data_reference_reasons.yaml
Due: generate_docs_for_region, generate_calc_documentation, alphabetize_yaml

[US_PA] Bump validation (Recidiviz/recidiviz-data#41247)
  recidiviz/validation/config/regions/us_pa/us_pa_validation_config.yaml
Due: none

[JII Texts] Initialize dataset and table for incoming message (Recidiviz/recidiviz-data#40973)
  recidiviz/source_tables/externally_managed/datasets.py
  recidiviz/source_tables/externally_managed/twilio_webhook_requests/jii_texting_incoming_messages.yaml
  recidiviz/tests/source_tables/source_tables_test.py
  recidiviz/tools/deploy/terraform/bigquery.tf
Due: update_terraform_lock_file, terraform_fmt

[US_NE] Adding specialConditions to Supervision Periods (Recidiviz/recidiviz-data#40515)
  recidiviz/ingest/direct/regions/us_ne/ingest_mappings/us_ne_supervision_periods.yaml
  recidiviz/ingest/direct/regions/us_ne/ingest_views/view_supervision_periods.py
Due: generate_docs_for_region

[Email Reminders] Update queries with aggregated metrics (Recidiviz/recidiviz-data#40917)
  recidiviz/appsscript/login_reminders/EmailReminderHelpers.js
  recidiviz/appsscript/login_reminders/SendLinestaffEmailReminders.js
  recidiviz/appsscript/login_reminders/SendSupervisorEmailReminders.js
Due: none

[US_UT] Adjust validations (Recidiviz/recidiviz-data#41246)
  recidiviz/validation/config/regions/us_ut/us_ut_validation_config.yaml
Due: none

Update criteria for TX ARS based on new policy (Recidiviz/recidiviz-data#41007)
  recidiviz/task_eligibility/criteria/general/no_supervision_sustained_violation_within_2_years.py
  recidiviz/task_eligibility/criteria/general/supervision_level_is_minimum_for_3_years.py
  recidiviz/task_eligibility/criteria/state_specific/us_tx/no_warrant_with_sustained_violation_within_2_years.py
  recidiviz/task_eligibility/criteria/state_specific/us_tx/not_convicted_of_ineligible_offense_for_ars.py
  recidiviz/task_eligibility/eligibility_spans/us_tx/transfer_from_parole_to_annual_reporting_status.py
  recidiviz/task_eligibility/utils/general_criteria_builders.py
  recidiviz/task_eligibility/utils/state_dataset_query_fragments.py
  recidiviz/view_registry/raw_data_reference_reasons.yaml
Due: generate_docs_for_region, generate_calc_documentation, alphabetize_yaml

[US_TX] Removes most overlapping supervision periods (Recidiviz/recidiviz-data#41252)
  recidiviz/ingest/direct/regions/us_tx/ingest_views/view_supervision_period.py
Due: generate_docs_for_region

[Sentencing] Remove violent/sex offense filter for Case Insights in US_ND (Recidiviz/recidiviz-data#41256)
  recidiviz/calculator/query/state/views/sentencing/us_nd/sentencing_sentence_cohort_template.py
Due: generate_calc_documentation

add is_surfaced_category_type to export_archives.insights_supervision_officer_outlier_status_archive schema (Recidiviz/recidiviz-data#40937)
  recidiviz/source_tables/externally_managed/export_archives/insights_supervision_officer_outlier_status_archive.yaml
Due: none

[US_AZ] Add missed commit from Recidiviz/recidiviz-data#40978 (Recidiviz/recidiviz-data#41262)
  recidiviz/ingest/direct/regions/us_az/ingest_mappings/us_az_nonstate_sentence.yaml
Due: generate_docs_for_region

[Sentencing] Updated `case_disposition_materialized` to include ND case dispositions (Recidiviz/recidiviz-data#40693)
  recidiviz/calculator/query/state/views/sentencing/case_disposition.py
  recidiviz/calculator/query/state/views/sentencing/case_record_historical.py
  recidiviz/calculator/query/state/views/sentencing/us_nd/sentencing_case_disposition_template.py
  recidiviz/calculator/query/state/views/sentencing/us_nd/sentencing_sentence_cohort_template.py
Due: generate_calc_documentation

[raw data] replace ingest queue prompt with raw data resource locks (Recidiviz/recidiviz-data#40959)
  recidiviz/ingest/direct/direct_ingest_regions.py
  recidiviz/ingest/direct/sftp/base_upload_state_files_to_ingest_bucket_controller.py
  recidiviz/tools/ingest/operations/state_data_manual_uploads/load_us_tx_understaffed_locations.py
  recidiviz/tools/ingest/operations/upload_raw_state_files_to_ingest_bucket_with_date.py
  recidiviz/tools/ingest/regions/us_ar/process_eomis_txt_files.py
  recidiviz/tools/ingest/regions/us_tn/convert_tdpop_to_csv_and_push_to_bucket.py
Due: none

[raw data] add reminder message to known value enum errors (Recidiviz/recidiviz-data#40425)
  recidiviz/ingest/direct/raw_data/direct_ingest_raw_table_pre_import_validator.py
  recidiviz/ingest/direct/raw_data/validations/datetime_parsers_column_validation.py
  recidiviz/ingest/direct/raw_data/validations/expected_type_column_validation.py
  recidiviz/ingest/direct/raw_data/validations/known_values_column_validation.py
  recidiviz/ingest/direct/types/raw_data_import_blocking_validation.py
  recidiviz/ingest/direct/views/direct_ingest_view_query_builder_collector.py
  recidiviz/tests/ingest/direct/raw_data/validations/column_validation_test_case.py
  recidiviz/tests/ingest/direct/raw_data/validations/datetime_parsers_column_validation_test.py
  recidiviz/tests/ingest/direct/raw_data/validations/expected_type_column_validation_test.py
  recidiviz/tests/ingest/direct/raw_data/validations/known_values_column_validation_test.py
  recidiviz/tools/validate_source_visibility.py
Due: generate_calc_documentation

[US_TN] Update almost-eligibility logic for SDS (Recidiviz/recidiviz-data#39929)
  recidiviz/calculator/query/state/views/workflows/firestore/us_tn_suspension_of_direct_supervision_record.py
  recidiviz/task_eligibility/criteria/general/assessed_risk_low_while_on_supervision_at_least_2_years.py
  recidiviz/task_eligibility/criteria/general/on_supervision_at_least_2_years_and_assessed_risk_low_while_on_supervision_at_least_2_years.py
  recidiviz/task_eligibility/eligibility_spans/us_tn/suspension_of_direct_supervision.py
Due: generate_calc_documentation

[US_UT] Map UNKNOWN location types to ADMINISTRATIVE (Recidiviz/recidiviz-data#41266)
  recidiviz/calculator/query/state/views/reference/location_metadata/us_ut_location_metadata.py
Due: generate_calc_documentation

[source visibility] add dynamic module dependency collection to source visibility (Recidiviz/recidiviz-data#40563)
  recidiviz/calculator/query/bq_utils.py
  recidiviz/calculator/query/pathways_bq_utils.py
  recidiviz/calculator/query/state/views/dashboard/pathways/event_level/prison_population_by_dimension.py
  recidiviz/calculator/query/state/views/dashboard/pathways/event_level/prison_population_over_time.py
  recidiviz/calculator/query/state/views/dashboard/pathways/event_level/prison_population_person_level.py
  recidiviz/calculator/query/state/views/dashboard/pathways/event_level/supervision_population.py
  recidiviz/calculator/query/state/views/dashboard/pathways/pathways_incarceration_location_name_map.py
  recidiviz/calculator/query/state/views/dashboard/pathways/pathways_supervision_location_name_map.py
  recidiviz/calculator/query/state/views/shared_metric/supervision_officer_caseload.py
  recidiviz/common/constants/reasonable_dates.py
  recidiviz/ingest/direct/raw_data/direct_ingest_raw_table_migration_collector.py
  recidiviz/ingest/direct/regions/us_az/ingest_views/view_nonstate_sentence.py
  recidiviz/ingest/direct/regions/us_az/ingest_views/view_state_sentence_status_snapshot.py
  recidiviz/ingest/direct/regions/us_mo/ingest_views/templates_sentences.py
  recidiviz/ingest/direct/regions/us_mo/us_mo_custom_parsers.py
  recidiviz/ingest/direct/regions/us_mo/us_mo_magic_dates.py
  recidiviz/ingest/direct/regions/us_nd/ingest_views/view_docstars_sentence.py
  recidiviz/ingest/direct/regions/us_nd/ingest_views/view_docstars_sentence_status_snapshot.py
  recidiviz/ingest/direct/regions/us_nd/ingest_views/view_elite_offense_in_custody_and_pos_report_data.py
  recidiviz/ingest/direct/regions/us_nd/ingest_views/view_elite_sentence.py
  recidiviz/ingest/direct/regions/us_nd/ingest_views/view_elite_sentence_status_snapshot.py
  recidiviz/ingest/direct/regions/us_ut/ingest_views/common_sentencing_views_and_utils.py
  recidiviz/ingest/direct/regions/us_ut/ingest_views/view_drug_screen.py
  recidiviz/ingest/direct/regions/us_ut/ingest_views/view_sentence.py
  recidiviz/ingest/direct/regions/us_ut/ingest_views/view_sentence_length.py
  recidiviz/ingest/direct/regions/us_ut/ingest_views/view_sentence_status.py
  recidiviz/persistence/entity/state/entities.py
  recidiviz/persistence/entity/state/normalized_entities.py
  recidiviz/tests/tools/file_dependencies_test.py
  recidiviz/tools/airflow/copy_source_files_to_experiment_composer.py
  recidiviz/tools/deploy/terraform/config/cloud_composer_source_files_to_copy.yaml
  recidiviz/tools/file_dependencies.py
  recidiviz/tools/validate_source_visibility.py
Due: generate_docs_for_region, generate_entity_documentation, generate_calc_documentation, update_terraform_lock_file, terraform_fmt

[US_CA] Use supervision level raw text in product (Recidiviz/recidiviz-data#41250)
  recidiviz/calculator/query/state/state_specific_query_strings.py
Due: generate_calc_documentation

[monitoring] add raw data pagerduty service (Recidiviz/recidiviz-data#41243)
  recidiviz/airflow/dags/monitoring/incident_alert_routing.py
  recidiviz/airflow/dags/utils/recidiviz_pagerduty_service.py
  recidiviz/airflow/tests/monitoring/incident_alert_routing_test.py
  recidiviz/tools/deploy/terraform/modules/state-direct-ingest-resources/pagerduty-service.tf
Due: update_terraform_lock_file, terraform_fmt

[US_TN] Remove pre-filling for certain form fields - Initial Classification (Recidiviz/recidiviz-data#41006)
  recidiviz/calculator/query/state/views/workflows/firestore/us_tn_initial_classification_review_record.py
  recidiviz/task_eligibility/eligibility_spans/us_tn/initial_classification_review.py
Due: generate_calc_documentation

[Autogenerated] Update Pipfile.lock (Recidiviz/recidiviz-data#41288)
  Pipfile.lock
Due: none

[US_PA][Worfklows] Update admin supervision to include delinquent adjudications for all offenses (Recidiviz/recidiviz-data#40861)
  recidiviz/task_eligibility/criteria/state_specific/us_pa/not_serving_ineligible_offense_for_admin_supervision.py
  recidiviz/task_eligibility/utils/us_pa_query_fragments.py
Due: generate_calc_documentation

[build] limit length of github comments (Recidiviz/recidiviz-data#41280)
  empty.txt
  recidiviz/airflow/dags/monitoring/recidiviz_github_alerting_service.py
  recidiviz/tests/tools/github/__init__.py
  recidiviz/tests/tools/github/fixtures/empty.txt
  recidiviz/tests/tools/github/fixtures/plan-error.txt
  recidiviz/tests/tools/github/fixtures/plan-success.txt
  recidiviz/tests/tools/github/fixtures/plan-too-big.txt
  recidiviz/tests/tools/github/upsert_terraform_plan_test.py
  recidiviz/tools/github/templates/terraform_plan.md.jinja2
  recidiviz/tools/github/upsert_terraform_plan.py
  recidiviz/utils/github.py
Due: none

[US_PA][Workflows] Add criteria for no enhanced or maximum supervision level within the past 12 months (Recidiviz/recidiviz-data#40755)
  recidiviz/task_eligibility/criteria/general/supervision_level_is_not_high_or_max_for_one_year.py
  recidiviz/task_eligibility/eligibility_spans/us_pa/complete_transfer_to_administrative_supervision_request.py
Due: generate_calc_documentation

[US_UT] add sync management script (Recidiviz/recidiviz-data#41248)
  recidiviz/tools/ingest/regions/us_ut/update_sync_tables.py
Due: none

[dataflow] add new zone, move a few jobs (Recidiviz/recidiviz-data#41278)
  recidiviz/pipelines/calculation_pipeline_templates.yaml
  recidiviz/pipelines/ingest/pipeline_utils.py
  recidiviz/pipelines/pipeline_parameters.py
  recidiviz/tests/pipelines/pipeline_parameters_test.py
Due: generate_calc_documentation

[US_OR] Remove OR from pruning (Recidiviz/recidiviz-data#41299)
  recidiviz/tools/multi_state_raw_data_pruning.sh
Due: none

[Sentencing] Update Community Opportunities compilations script (Recidiviz/recidiviz-data#40824)
  recidiviz/tools/ingest/one_offs/create_raw_sentencing_community_opportunities.py
Due: none

[US_IA] add new enum value (Recidiviz/recidiviz-data#41304)
  recidiviz/ingest/direct/regions/us_ia/ingest_mappings/us_ia_supervision_periods.yaml
Due: generate_docs_for_region

[US_TN] Set PFI to TEMPORARY_CUSTODY for safekeeping incarceration_periods (Recidiviz/recidiviz-data#40349)
  recidiviz/pipelines/utils/state_utils/us_tn/us_tn_incarceration_period_normalization_delegate.py
  recidiviz/tests/pipelines/utils/state_utils/us_tn/us_tn_incarceration_period_normalization_delegate_test.py
Due: generate_calc_documentation

[Justice Counts] Surface Datapoint JSONs with 'sub_dimension_name' Field For Explore Data Page (Recidiviz/recidiviz-data#40986)
  recidiviz/justice_counts/datapoint.py
  recidiviz/justice_counts/types.py
  recidiviz/tests/justice_counts/datapoint_test.py
Due: none

migrate insights_supervision_officer_outlier_status_archive definition into yaml_managed + delete from TF (Recidiviz/recidiviz-data#41316)
  recidiviz/source_tables/yaml_managed/datasets.py
  recidiviz/source_tables/yaml_managed/export_archives/insights_supervision_officer_outlier_status_archive.yaml
  recidiviz/tools/deploy/terraform/bigquery.tf
Due: update_terraform_lock_file, terraform_fmt

[US_TX] Update critically understaffed location upload with new assumptions (Recidiviz/recidiviz-data#41317)
  recidiviz/tools/ingest/operations/state_data_manual_uploads/load_us_tx_understaffed_locations.py
Due: none

[Workflows] Output person_id for every opportunity record (Recidiviz/recidiviz-data#41286)
  recidiviz/calculator/query/state/views/workflows/firestore/client_record.py
  recidiviz/calculator/query/state/views/workflows/firestore/opportunity_record_query_fragments.py
  recidiviz/calculator/query/state/views/workflows/firestore/us_ar_institutional_worker_status_record.py
  recidiviz/calculator/query/state/views/workflows/firestore/us_ar_work_release_record.py
  recidiviz/calculator/query/state/views/workflows/firestore/us_az_transfer_to_administrative_supervision_record.py
  recidiviz/calculator/query/state/views/workflows/firestore/us_ca_supervision_level_downgrade_form_record.py
  recidiviz/calculator/query/state/views/workflows/firestore/us_ix_complete_discharge_early_from_supervision_request_record.py
  recidiviz/calculator/query/state/views/workflows/firestore/us_ix_complete_full_term_discharge_from_supervision_request_record.py
  recidiviz/calculator/query/state/views/workflows/firestore/us_ix_complete_transfer_to_limited_supervision_form_record.py
  recidiviz/calculator/query/state/views/workflows/firestore/us_ix_custody_level_downgrade_record.py
  recidiviz/calculator/query/state/views/workflows/firestore/us_ix_supervision_level_downgrade_record.py
  recidiviz/calculator/query/state/views/workflows/firestore/us_ix_transfer_to_limited_supervision_jii_record.py
  recidiviz/calculator/query/state/views/workflows/firestore/us_mi_complete_classification_review_form_record.py
  recidiviz/calculator/query/state/views/workflows/firestore/us_mi_complete_discharge_early_from_supervision_request_record.py
  recidiviz/calculator/query/state/views/workflows/firestore/us_mi_complete_full_term_discharge_from_supervision_request_record.py
  recidiviz/calculator/query/state/views/workflows/firestore/us_mi_complete_reclassification_to_general_population_request_record.py
  recidiviz/calculator/query/state/views/workflows/firestore/us_mi_complete_transfer_to_telephone_reporting_request_record.py
  recidiviz/calculator/query/state/views/workflows/firestore/us_mi_supervision_level_downgrade_record.py
  recidiviz/calculator/query/state/views/workflows/firestore/us_mo_overdue_restrictive_housing_initial_hearing.py
  recidiviz/calculator/query/state/views/workflows/firestore/us_mo_overdue_restrictive_housing_release.py
  recidiviz/calculator/query/state/views/workflows/firestore/us_mo_overdue_restrictive_housing_review_hearing.py
  recidiviz/calculator/query/state/views/workflows/firestore/us_nd_complete_discharge_early_from_supervision_record.py
  recidiviz/calculator/query/state/views/workflows/firestore/us_ne_conditional_low_risk_override_record.py
  recidiviz/calculator/query/state/views/workflows/firestore/us_or_earned_discharge_sentence_record.py
  recidiviz/calculator/query/state/views/workflows/firestore/us_tn_full_term_supervision_discharge_record.py
  recidiviz/calculator/query/state/views/workflows/firestore/us_tn_supervision_level_downgrade_record.py
  recidiviz/calculator/query/state/views/workflows/firestore/us_tn_suspension_of_direct_supervision_record.py
  recidiviz/calculator/query/state/views/workflows/firestore/us_tn_transfer_to_compliant_reporting_2025_policy_record.py
  recidiviz/calculator/query/state/views/workflows/firestore/us_tx_transfer_from_parole_to_annual_reporting_status.py
  recidiviz/calculator/query/state/views/workflows/us_tn/shared_ctes.py
  recidiviz/task_eligibility/utils/us_mi_query_fragments.py
Due: generate_calc_documentation

[US_TX] Creates `IN_CUSTODY` contact requirement TES (Recidiviz/recidiviz-data#41301)
  recidiviz/calculator/query/state/views/workflows/firestore/us_tx_supervision_tasks_record.py
  recidiviz/task_eligibility/criteria/state_specific/us_tx/meets_weekly_in_custody_contact_standards.py
  recidiviz/task_eligibility/utils/us_tx_query_fragments.py
Due: generate_calc_documentation

[US_AR] Remove duplicate at symbols from staff email addresses (Recidiviz/recidiviz-data#41326)
  recidiviz/ingest/direct/regions/us_ar/ingest_views/view_staff.py
Due: generate_docs_for_region

[US_NE] Use supervision level raw text in Nebraska workflows (Recidiviz/recidiviz-data#41282)
  recidiviz/calculator/query/state/state_specific_query_strings.py
Due: generate_calc_documentation

[US_NE] Conditional Low Risk overrides - fill out side panel and form elements (Recidiviz/recidiviz-data#40930)
  recidiviz/calculator/query/state/views/workflows/firestore/client_record_ctes.py
  recidiviz/calculator/query/state/views/workflows/firestore/us_ne_conditional_low_risk_override_record.py
  recidiviz/view_registry/raw_data_reference_reasons.yaml
Due: generate_docs_for_region, generate_calc_documentation, alphabetize_yaml

[Sentencing] Filter out cases with null staff ids (Recidiviz/recidiviz-data#41333)
  recidiviz/calculator/query/state/views/sentencing/case_record.py
Due: generate_calc_documentation

[Justice Counts] Update Copy for SOCIAL_SUPPORT_PROBLEMS Behavioral Health IncludesExcludes (Recidiviz/recidiviz-data#41249)
  recidiviz/justice_counts/includes_excludes/jails.py
Due: none

Path conditions:
  generate_docs_for_region: any of: ^recidiviz/ingest/direct/regions/|^recidiviz/view_registry/raw_data_reference_reasons.yaml
  generate_docs_for_endpoint: any of: (?x)(^recidiviz/tools/docs/endpoint_documentation_generator.py|^recidiviz/server_blueprint_registry.py|.*/routes/|.*routes.py|.*/server.py|.*control.py|.*endpoint.py|.*endpoints.py|^recidiviz/backup/backup_manager.py|^recidiviz/pipelines/calculation_data_storage_manager.py)$, but not: ^recidiviz/tests
  generate_entity_documentation: any of: (?x)(^recidiviz/persistence/database/schema/state/schema.py|^recidiviz/persistence/entity/state/normalized_entities.py|^recidiviz/persistence/entity/state/entities.py|^recidiviz/common/constants/state/)$

  generate_calc_documentation: any of: ^recidiviz/calculator/|^recidiviz/pipelines/|^recidiviz/metrics/|^recidiviz/.*/views/|^recidiviz/big_query/|^recidiviz/persistence/database/schema/|^recidiviz/persistence/entity/|^recidiviz/task_eligibility/|^recidiviz/monitoring/platform_kpis/, but not: ^recidiviz/tests/|^recidiviz/calculator/modeling/
  generate_ingest_mappings_schema_documentation: any of: ^recidiviz/ingest/direct/ingest_mappings/yaml_schema/|^docs/engineering/ingest_mapping_schema/
  update_terraform_lock_file: any of: ^recidiviz/tools/deploy/terraform/
  terraform_fmt: any of: ^recidiviz/tools/deploy/terraform/
  alphabetize_yaml: any of: recidiviz/view_registry/raw_data_reference_reasons.yaml
