Repository Recidiviz/pulse-data: changes, and which pre-commit hooks are due for each by the changed paths.
All: generate_docs_for_region, generate_docs_for_endpoint, generate_entity_documentation

generate_docs_for_region:
  name: generate_docs_for_region
  entry: pipenv run python -m recidiviz.tools.docs.region_documentation_generator
  language: system
  require_serial: true

generate_docs_for_endpoint:
  name: generate_docs_for_endpoint
  entry: pipenv run python -m recidiviz.tools.docs.endpoint_documentation_generator
  language: system
  require_serial: true

generate_entity_documentation:
  name: generate_entity_documentation
  entry: pipenv run python -m recidiviz.tools.docs.entity_documentation_generator
  language: system
  require_serial: true

Add backslash to example usage of move_storage_raw_files_to_deprecated (Recidiviz/recidiviz-data#22720)
  recidiviz/tools/ingest/operations/move_storage_raw_files_to_deprecated.py
Due: generate_docs_for_endpoint

[US_MO] Incarceration incident view (Recidiviz/recidiviz-data#22894)
  recidiviz/ingest/direct/regions/us_mo/ingest_mappings/us_mo_incarceration_incident.yaml
  recidiviz/ingest/direct/regions/us_mo/ingest_views/view_incarceration_incident.py
  recidiviz/ingest/direct/regions/us_mo/us_mo_controller.py
  recidiviz/ingest/direct/regions/us_mo/us_mo_custom_enum_parsers.py
  recidiviz/ingest/direct/regions/us_mo/us_mo_custom_parsers.py
Due: generate_docs_for_region, generate_docs_for_endpoint

[US_OR] Conditions and Sanction tables (Recidiviz/recidiviz-data#22913)
  recidiviz/ingest/direct/regions/us_or/raw_data/us_or_RCDVZ_CISPRDDTA_CMOBLD.yaml
  recidiviz/ingest/direct/regions/us_or/raw_data/us_or_RCDVZ_CISPRDDTA_CMOBLM.yaml
  recidiviz/ingest/direct/regions/us_or/raw_data/us_or_RCDVZ_CISPRDDTA_CMOFFT.yaml
  recidiviz/ingest/direct/regions/us_or/raw_data/us_or_RCDVZ_CISPRDDTA_CMSACN.yaml
  recidiviz/ingest/direct/regions/us_or/raw_data/us_or_RCDVZ_CISPRDDTA_CMSACO.yaml
  recidiviz/ingest/direct/regions/us_or/raw_data/us_or_RCDVZ_CISPRDDTA_CMSAIM.yaml
  recidiviz/ingest/direct/regions/us_or/raw_data/us_or_RCDVZ_CISPRDDTA_OPCOND.yaml
  recidiviz/ingest/direct/regions/us_or/raw_data/us_or_RCDVZ_CISPRDDTA_OPCONE.yaml
  recidiviz/ingest/direct/regions/us_or/raw_data/us_or_RCDVZ_CISPRDDT_CLCLHD.yaml
  recidiviz/ingest/direct/regions/us_or/raw_data/us_or_RCDVZ_DOCDTA_TBCOND.yaml
Due: generate_docs_for_region, generate_docs_for_endpoint

[US_CA] Fix criteria validations after housing refactor (Recidiviz/recidiviz-data#22929)
  recidiviz/task_eligibility/criteria/state_specific/us_ca/housing_type_is_not_transient.py
  recidiviz/task_eligibility/utils/preprocessed_views_query_fragments.py
Due: generate_docs_for_endpoint

[BQ Refresh] Removes duplicate mock functions (Recidiviz/recidiviz-data#22918)
  recidiviz/tests/persistence/database/bq_refresh/cloud_sql_to_bq_refresh_control_test.py
Due: generate_docs_for_endpoint

[US_CO] Adding new value for SpecializedPurposeForIncarceration (Recidiviz/recidiviz-data#22933)
  recidiviz/ingest/direct/regions/us_co/ingest_mappings/us_co_IncarcerationPeriod.yaml
Due: generate_docs_for_region, generate_docs_for_endpoint

[Recidiviz/recidiviz-data#22928] Add /env endpoint for agency dashboard (Recidiviz/recidiviz-data#22931)
  recidiviz/justice_counts/control_panel/routes/api.py
Due: generate_docs_for_endpoint

[US_TN] Adding state_staff_location_period to staff_role_periods (Recidiviz/recidiviz-data#22841)
  recidiviz/ingest/direct/regions/us_tn/ingest_mappings/us_tn_StaffRoleLocationPeriods.yaml
  recidiviz/ingest/direct/regions/us_tn/ingest_views/view_StaffRoleLocationPeriods.py
  recidiviz/ingest/direct/regions/us_tn/us_tn_controller.py
Due: generate_docs_for_region, generate_docs_for_endpoint

[Cleanup] Minor TypeVars cleanup for entities in base_entity.py (Recidiviz/recidiviz-data#22910)
  recidiviz/ingest/direct/ingest_mappings/ingest_view_manifest.py
  recidiviz/ingest/direct/ingest_mappings/ingest_view_results_parser_delegate.py
  recidiviz/persistence/entity/base_entity.py
  recidiviz/persistence/entity/entity_deserialize.py
  recidiviz/persistence/entity/entity_utils.py
  recidiviz/persistence/entity_matching/ingest_view_tree_merger.py
  recidiviz/pipelines/normalization/utils/normalized_entities_utils.py
  recidiviz/tests/ingest/direct/ingest_mappings/ingest_view_results_parser_test.py
Due: generate_docs_for_endpoint

[US_MO] Hydrate some raw data table_relationships (Recidiviz/recidiviz-data#22859)
  recidiviz/ingest/direct/regions/us_mo/raw_data/us_mo_LBAKRDTA_TAK001.yaml
  recidiviz/ingest/direct/regions/us_mo/raw_data/us_mo_LBAKRDTA_TAK026.yaml
  recidiviz/ingest/direct/regions/us_mo/raw_data/us_mo_LBAKRDTA_TAK034.yaml
Due: generate_docs_for_region, generate_docs_for_endpoint

[Testing] Launch HTML diffs in debug mode of ingest view parser tests (Recidiviz/recidiviz-data#22908)
  recidiviz/tests/ingest/direct/regions/region_direct_ingest_controller_test_case.py
  recidiviz/tests/ingest/direct/regions/state_ingest_view_parser_test_base.py
  recidiviz/tests/test_debug_helpers.py
Due: generate_docs_for_endpoint

[Airflow] fix pipeline naming bug in calculation dag (Recidiviz/recidiviz-data#22936)
  recidiviz/airflow/dags/calculation_dag.py
  recidiviz/pipelines/pipeline_parameters.py
Due: generate_docs_for_endpoint

[Dataflow] Enable confidential computing; block project SSH keys (Recidiviz/recidiviz-data#22912)
  recidiviz/pipelines/pipeline_parameters.py
Due: generate_docs_for_endpoint

[reporting] separate display and ID strings in batch menu (Recidiviz/recidiviz-data#22939)
  frontends/admin-panel/src/components/POEmails/SendEmails.tsx
Due: none

[Justice Counts] Attach JC unsubscribe group to Automated Bulk Upload confirmation emails (Recidiviz/recidiviz-data#22860)
  recidiviz/justice_counts/utils/email.py
  recidiviz/reporting/sendgrid_client_wrapper.py
Due: generate_docs_for_endpoint

[US_IX] Added TPD criteria (Recidiviz/recidiviz-data#22941)
  recidiviz/calculator/query/state/views/analyst_data/us_ix/us_ix_parole_dates_spans_preprocessing.py
  recidiviz/task_eligibility/criteria/state_specific/us_ix/tentative_parole_date_within_18_months.py
  recidiviz/task_eligibility/criteria/state_specific/us_ix/tentative_parole_date_within_1_year.py
  recidiviz/task_eligibility/criteria/state_specific/us_ix/tentative_parole_date_within_7_years.py
  recidiviz/task_eligibility/utils/us_ix_query_fragments.py
Due: generate_docs_for_endpoint

remove most of the PO report views (Recidiviz/recidiviz-data#20266)
  recidiviz/calculator/query/experiments/views/case_triage_feedback_actions.py
  recidiviz/calculator/query/experiments/views/case_triage_metrics.py
  recidiviz/calculator/query/experiments/views/officer_assignments.py
  recidiviz/calculator/query/state/dataset_config.py
  recidiviz/calculator/query/state/view_config.py
  recidiviz/calculator/query/state/views/analyst_data/officer_events.py
  recidiviz/calculator/query/state/views/overdue_discharge_alert/overdue_discharge_alert_data_views.py
  recidiviz/calculator/query/state/views/po_report/__init__.py
  recidiviz/calculator/query/state/views/po_report/absconsion_reports_by_person_by_month.py
  recidiviz/calculator/query/state/views/po_report/current_action_items_by_person.py
  recidiviz/calculator/query/state/views/po_report/po_monthly_report_data.py
  recidiviz/calculator/query/state/views/po_report/po_report_views.py
  recidiviz/calculator/query/state/views/po_report/report_data_by_officer_by_month.py
  recidiviz/calculator/query/state/views/po_report/report_data_by_person_by_month.py
  recidiviz/calculator/query/state/views/po_report/revocation_reports_by_person_by_month.py
  recidiviz/calculator/query/state/views/po_report/sendgrid_po_report_email_events.py
  recidiviz/calculator/query/state/views/po_report/successful_supervision_completions_by_person_by_month.py
  recidiviz/calculator/query/state/views/po_report/supervision_compliance_by_person_by_month.py
  recidiviz/calculator/query/state/views/po_report/supervision_downgrades_by_person_by_month.py
  recidiviz/calculator/query/state/views/po_report/supervision_earned_discharge_requests_by_person_by_month.py
  recidiviz/calculator/query/state/views/po_report/violation_reports_query.py
  recidiviz/calculator/query/state/views/sessions/supervision_downgrade_sessions.py
  recidiviz/calculator/query/state/views/shared_metric/officer_supervision_district_association.py
  recidiviz/calculator/query/state/views/shared_metric/shared_metric_views.py
  recidiviz/metrics/export/export_config.py
  recidiviz/metrics/export/products/products.yaml
  recidiviz/tests/validation/configured_validations_test.py
  recidiviz/tools/calculator/compare_metric_view_output_to_sandbox.py
  recidiviz/validation/config/regions/us_pa/us_pa_validation_config.yaml
  recidiviz/validation/configured_validations.py
  recidiviz/validation/views/state/po_report_avgs_per_district_state.py
  recidiviz/validation/views/state/po_report_clients.py
  recidiviz/validation/views/state/po_report_distinct_by_officer_month.py
  recidiviz/validation/views/state/po_report_missing_fields.py
  recidiviz/validation/views/view_config.py
Due: generate_docs_for_endpoint

[Airflow] Fix pipeline job name with sandbox prefix should not have underscores (Recidiviz/recidiviz-data#22956)
  recidiviz/pipelines/pipeline_parameters.py
  recidiviz/tests/pipelines/ingest/pipeline_parameters_test.py
  recidiviz/tests/pipelines/metrics/pipeline_parameters_test.py
  recidiviz/tests/pipelines/normalization/pipeline_parameters_test.py
  recidiviz/tests/pipelines/supplemental/pipeline_parameters_test.py
  recidiviz/tests/pipelines/utils/run_pipeline_test_utils.py
Due: generate_docs_for_endpoint

[Admin Panel] only add fv to remove if it has a name (Recidiviz/recidiviz-data#22938)
  frontends/admin-panel/src/components/StateUserPermissions/utils.tsx
Due: none

Adding beam temporary datasets to the list of datasets to be deleted (Recidiviz/recidiviz-data#22948)
  recidiviz/pipelines/calculation_data_storage_manager.py
  recidiviz/tests/pipelines/calculation_data_storage_manager_test.py
  recidiviz/tools/delete_temp_bq_tables.py
  recidiviz/tools/deploy/terraform/cloud-scheduler.tf
Due: generate_docs_for_endpoint

[US_IX] Bump some validation thresholds (Recidiviz/recidiviz-data#22972)
  recidiviz/validation/config/regions/us_ix/us_ix_validation_config.yaml
Due: generate_docs_for_endpoint

Refactors views to reference officer external id's via dataflow `supervising_officer_staff_id` field (Recidiviz/recidiviz-data#21907)
  recidiviz/calculator/query/bq_utils.py
  recidiviz/calculator/query/state/views/analyst_data/us_id/us_id_raw_projected_discharges.py
  recidiviz/calculator/query/state/views/analyst_data/us_mo/us_mo_raw_projected_discharges.py
  recidiviz/calculator/query/state/views/analyst_data/us_nd/us_nd_raw_projected_discharges.py
  recidiviz/calculator/query/state/views/analyst_data/us_pa/us_pa_raw_projected_discharges.py
  recidiviz/calculator/query/state/views/analyst_data/us_pa/us_pa_raw_required_treatment.py
  recidiviz/calculator/query/state/views/sessions/dataflow_sessions.py
  recidiviz/calculator/query/state/views/sessions/sessions_views.py
  recidiviz/calculator/query/state/views/sessions/state_staff_id_to_legacy_supervising_officer_external_id.py
  recidiviz/calculator/query/state/views/sessions/supervision_officer_attribute_sessions.py
  recidiviz/calculator/query/state/views/sessions/us_pa/us_pa_supervision_population_metrics_preprocessed.py
  recidiviz/calculator/query/state/views/sessions/us_tn/us_tn_supervision_population_metrics_preprocessed.py
  recidiviz/calculator/query/state/views/shared_metric/event_based_commitments_from_supervision.py
  recidiviz/calculator/query/state/views/shared_metric/event_based_commitments_from_supervision_for_matrix.py
  recidiviz/calculator/query/state/views/shared_metric/event_based_supervision_populations.py
  recidiviz/calculator/query/state/views/shared_metric/single_day_supervision_population_for_spotlight.py
  recidiviz/calculator/query/state/views/shared_metric/supervision_matrix_by_person.py
  recidiviz/calculator/query/state/views/shared_metric/supervision_termination_matrix_by_person.py
  recidiviz/calculator/query/state/views/vitals_report/supervision_officers_and_districts.py
  recidiviz/calculator/query/state/views/workflows/firestore/us_nd_complete_discharge_early_from_supervision_record.py
  recidiviz/case_triage/views/etl_clients.py
  recidiviz/tools/export_csg_files.py
  recidiviz/validation/config/regions/us_ca/us_ca_validation_config.yaml
  recidiviz/validation/config/regions/us_co/us_co_validation_config.yaml
  recidiviz/validation/views/state/dataflow_metrics/dataflow_metric_fields_all_null.py
  recidiviz/validation/views/state/multiple_supervision_info_for_commitment_admission.py
  recidiviz/validation/views/state/supervision_population_person_level_template.py
Due: generate_docs_for_endpoint

delete supervising_officer_external_id from dataflow metrics (Recidiviz/recidiviz-data#22348)
  recidiviz/ingest/direct/regions/us_ca/ingest_mappings/us_ca_supervision_period.yaml
  recidiviz/pipelines/metrics/incarceration/events.py
  recidiviz/pipelines/metrics/incarceration/identifier.py
  recidiviz/pipelines/metrics/incarceration/metrics.py
  recidiviz/pipelines/metrics/population_spans/identifier.py
  recidiviz/pipelines/metrics/population_spans/metrics.py
  recidiviz/pipelines/metrics/population_spans/spans.py
  recidiviz/pipelines/metrics/program/events.py
  recidiviz/pipelines/metrics/program/identifier.py
  recidiviz/pipelines/metrics/program/metrics.py
  recidiviz/pipelines/metrics/supervision/events.py
  recidiviz/pipelines/metrics/supervision/identifier.py
  recidiviz/pipelines/metrics/supervision/metrics.py
  recidiviz/tests/pipelines/metrics/incarceration/identifier_test.py
  recidiviz/tests/pipelines/metrics/incarceration/pipeline_test.py
  recidiviz/tests/pipelines/metrics/population_spans/identifier_test.py
  recidiviz/tests/pipelines/metrics/population_spans/metric_producer_test.py
  recidiviz/tests/pipelines/metrics/population_spans/pipeline_test.py
  recidiviz/tests/pipelines/metrics/program/identifier_test.py
  recidiviz/tests/pipelines/metrics/program/metric_producer_test.py
  recidiviz/tests/pipelines/metrics/program/pipeline_test.py
  recidiviz/tests/pipelines/metrics/program/program_event_test.py
  recidiviz/tests/pipelines/metrics/supervision/identifier_test.py
  recidiviz/tests/pipelines/metrics/supervision/metric_producer_test.py
  recidiviz/tests/pipelines/metrics/supervision/pipeline_test.py
Due: generate_docs_for_region, generate_docs_for_endpoint

remove supervising officer external id usages (Recidiviz/recidiviz-data#22559)
  recidiviz/pipelines/metrics/population_spans/identifier.py
  recidiviz/pipelines/metrics/program/identifier.py
  recidiviz/pipelines/metrics/supervision/identifier.py
  recidiviz/pipelines/metrics/utils/commitment_from_supervision_utils.py
  recidiviz/pipelines/utils/state_utils/state_calculation_config_manager.py
  recidiviz/pipelines/utils/state_utils/state_specific_supervision_delegate.py
  recidiviz/pipelines/utils/state_utils/us_mo/us_mo_supervision_delegate.py
  recidiviz/pipelines/utils/state_utils/us_pa/us_pa_supervision_delegate.py
  recidiviz/pipelines/utils/supervision_period_utils.py
  recidiviz/tests/pipelines/metrics/incarceration/identifier_test.py
  recidiviz/tests/pipelines/metrics/population_spans/identifier_test.py
  recidiviz/tests/pipelines/metrics/program/identifier_test.py
  recidiviz/tests/pipelines/metrics/supervision/identifier_test.py
  recidiviz/tests/pipelines/metrics/supervision/metric_producer_test.py
  recidiviz/tests/pipelines/metrics/supervision/pipeline_test.py
  recidiviz/tests/pipelines/metrics/utils/commitment_from_supervision_utils_test.py
  recidiviz/tests/pipelines/metrics/utils/supervision_case_compliance_manager_test.py
  recidiviz/tests/pipelines/utils/assessment_utils_test.py
  recidiviz/tests/pipelines/utils/state_utils/state_calculation_config_manager_test.py
  recidiviz/tests/pipelines/utils/state_utils/state_specific_supervision_delegate_test.py
  recidiviz/tests/pipelines/utils/state_utils/templates/us_xx/us_xx_supervision_delegate_test.py
  recidiviz/tests/pipelines/utils/state_utils/us_ar/us_ar_supervision_delegate_test.py
  recidiviz/tests/pipelines/utils/state_utils/us_ca/us_ca_supervision_delegate_test.py
  recidiviz/tests/pipelines/utils/state_utils/us_co/us_co_supervision_delegate_test.py
  recidiviz/tests/pipelines/utils/state_utils/us_ia/us_ia_supervision_delegate_test.py
  recidiviz/tests/pipelines/utils/state_utils/us_id/us_id_supervision_compliance_test.py
  recidiviz/tests/pipelines/utils/state_utils/us_id/us_id_supervision_delegate_test.py
  recidiviz/tests/pipelines/utils/state_utils/us_ix/us_ix_supervision_compliance_test.py
  recidiviz/tests/pipelines/utils/state_utils/us_ix/us_ix_supervision_delegate_test.py
  recidiviz/tests/pipelines/utils/state_utils/us_me/us_me_supervision_delegate_test.py
  recidiviz/tests/pipelines/utils/state_utils/us_mo/us_mo_supervision_delegate_test.py
  recidiviz/tests/pipelines/utils/state_utils/us_nc/us_nc_supervision_delegate_test.py
  recidiviz/tests/pipelines/utils/state_utils/us_nd/us_nd_supervision_compliance_test.py
  recidiviz/tests/pipelines/utils/state_utils/us_nd/us_nd_supervision_delegate_test.py
  recidiviz/tests/pipelines/utils/state_utils/us_or/us_or_supervision_delegate_test.py
  recidiviz/tests/pipelines/utils/state_utils/us_oz/us_oz_supervision_delegate_test.py
  recidiviz/tests/pipelines/utils/state_utils/us_pa/us_pa_commitment_from_supervision_delegate_test.py
  recidiviz/tests/pipelines/utils/state_utils/us_pa/us_pa_supervision_delegate_test.py
  recidiviz/tests/pipelines/utils/state_utils/us_tn/us_tn_supervision_delegate_test.py
  recidiviz/tests/pipelines/utils/supervision_period_utils_test.py
Due: generate_docs_for_endpoint

[asset generation] limit height of swarm plot (Recidiviz/recidiviz-data#22961)
  nodejs/asset-generation/.storybook/preview.tsx
  nodejs/asset-generation/src/components/OutliersSupervisorChart/OutliersSupervisorChart.stories.tsx
  nodejs/asset-generation/src/components/OutliersSupervisorChart/OutliersSupervisorChart.test.tsx
  nodejs/asset-generation/src/components/OutliersSupervisorChart/OutliersSupervisorChart.tsx
  nodejs/asset-generation/src/components/OutliersSupervisorChart/__image_snapshots__/outliers-supervisor-chart-test-tsx-src-components-outliers-supervisor-chart-outliers-supervisor-chart-test-tsx-data-with-swarm-overflowing-max-height-render-to-image-1-snap.png
  nodejs/asset-generation/src/components/OutliersSupervisorChart/fixtures.ts
  nodejs/asset-generation/src/components/SwarmedCircleGroup/__image_snapshots__/swarmed-circle-group-test-tsx-src-components-swarmed-circle-group-swarmed-circle-group-test-tsx-auto-spread-nonzero-modal-distribution-1-snap.png
  nodejs/asset-generation/src/components/SwarmedCircleGroup/__image_snapshots__/swarmed-circle-group-test-tsx-src-components-swarmed-circle-group-swarmed-circle-group-test-tsx-fixed-spread-1-snap.png
  nodejs/asset-generation/src/components/SwarmedCircleGroup/__image_snapshots__/swarmed-circle-group-test-tsx-src-components-swarmed-circle-group-swarmed-circle-group-test-tsx-minimum-spread-1-snap.png
  nodejs/asset-generation/src/components/SwarmedCircleGroup/calculateSwarm.ts
  nodejs/asset-generation/src/components/SwarmedCircleGroup/fixtures.ts
Due: none

[Schema] Enforce that external_ids are non-empty strings in state/entities.py (Recidiviz/recidiviz-data#22701)
  recidiviz/persistence/entity/base_entity.py
  recidiviz/persistence/entity/state/entities.py
  recidiviz/tests/persistence/entity_matching/root_entity_update_merger_test.py
Due: generate_docs_for_endpoint

[Airflow] script to run calculation DAG in secondary. (Recidiviz/recidiviz-data#22547)
  recidiviz/airflow/dags/calculation/initialize_calculation_dag_group.py
  recidiviz/airflow/dags/calculation_dag.py
  recidiviz/airflow/tests/calculation/initialize_calculation_dag_group_test.py
  recidiviz/tools/deploy/trigger_dag_helpers.py
  recidiviz/tools/deploy/trigger_post_deploy_tasks.py
  recidiviz/tools/run_state_specific_calculation_dag.py
Due: generate_docs_for_endpoint

[US_IX] Revise facilities reference used for determining INCARCERATION_OUT_OF_STATE (Recidiviz/recidiviz-data#22954)
  recidiviz/calculator/query/state/views/sessions/us_id/us_id_incarceration_population_metrics_preprocessed.py
Due: generate_docs_for_endpoint

[Justice Counts] Capacity and cost -> capacity and costs (Recidiviz/recidiviz-data#22971)
  recidiviz/justice_counts/metrics/metric_definition.py
  recidiviz/tests/justice_counts/metric_interface_test.py
Due: generate_docs_for_endpoint

[Outliers] Remove references to supervision unit (Recidiviz/recidiviz-data#22975)
  recidiviz/calculator/query/state/views/outliers/outliers_views.py
  recidiviz/calculator/query/state/views/outliers/staff_query_template.py
  recidiviz/calculator/query/state/views/outliers/supervision_officer_supervisors.py
  recidiviz/calculator/query/state/views/outliers/supervision_officers.py
  recidiviz/calculator/query/state/views/outliers/supervision_units.py
  recidiviz/persistence/database/schema/outliers/schema.py
  recidiviz/tests/application_data_import/server_test.py
  recidiviz/tests/outliers/querier_test.py
  recidiviz/tests/persistence/database/schema_utils_test.py
  recidiviz/tests/tools/outliers/load_local_db.py
  recidiviz/tools/outliers/fixtures/supervision_officer_supervisors.csv
  recidiviz/tools/outliers/fixtures/supervision_officers.csv
  recidiviz/tools/outliers/fixtures/supervision_units.csv
Due: generate_docs_for_endpoint

[Airflow] Fix issue where consecutive failures were reported as separate incidents if `upstream_failed` in between (Recidiviz/recidiviz-data#22967)
  recidiviz/airflow/dags/monitoring/task_failure_alerts.py
  recidiviz/airflow/tests/fixtures/monitoring/test_graph_config_idempotency.txt
  recidiviz/airflow/tests/fixtures/monitoring/test_graph_map_index.txt
  recidiviz/airflow/tests/fixtures/monitoring/test_graph_never_succeeded_most_recent_success.txt
  recidiviz/airflow/tests/fixtures/monitoring/test_graph_task_up_for_retry.txt
  recidiviz/airflow/tests/fixtures/monitoring/test_graph_task_upstream_failed.txt
  recidiviz/airflow/tests/monitoring_dag_test.py
Due: generate_docs_for_endpoint

Removing INVESTIGATION period exclusion from Dataflow supervision pipeline (Recidiviz/recidiviz-data#22964)
  recidiviz/calculator/query/state/views/shared_metric/supervision_terminations_for_spotlight.py
  recidiviz/pipelines/metrics/supervision/identifier.py
  recidiviz/pipelines/utils/supervision_period_utils.py
  recidiviz/tests/pipelines/metrics/supervision/identifier_test.py
  recidiviz/validation/views/state/supervision_termination_person_level_external_comparison.py
Due: generate_docs_for_endpoint

[US_MO] Deduped hearing dates in incarceration incident view (Recidiviz/recidiviz-data#22984)
  recidiviz/ingest/direct/regions/us_mo/ingest_mappings/us_mo_incarceration_incident.yaml
  recidiviz/ingest/direct/regions/us_mo/ingest_views/view_incarceration_incident.py
Due: generate_docs_for_region, generate_docs_for_endpoint

[Airflow] Remove `task_instance` from arguments (Recidiviz/recidiviz-data#22988)
  recidiviz/airflow/dags/calculation_dag.py
  recidiviz/airflow/dags/operators/recidiviz_kubernetes_pod_operator.py
  recidiviz/airflow/tests/calculation_dag_test.py
Due: generate_docs_for_endpoint

[Airflow] Fix state code filter without sandbox prefix error for `update_normalized_state` (Recidiviz/recidiviz-data#22965)
  recidiviz/airflow/dags/calculation_dag.py
Due: generate_docs_for_endpoint

[Bugfix] Remove erroneous print statement (Recidiviz/recidiviz-data#22983)
  recidiviz/task_eligibility/utils/us_ix_query_fragments.py
Due: generate_docs_for_endpoint

[Outliers] Configure exponential backoff and shorten duration of Outliers storage notification (Recidiviz/recidiviz-data#22982)
  recidiviz/tools/deploy/terraform/cloud-storage-notifications.tf
  recidiviz/tools/deploy/terraform/modules/cloud-storage-notification/main.tf
Due: generate_docs_for_endpoint

fixing sessions typo from deploy (Recidiviz/recidiviz-data#22997)
  recidiviz/calculator/query/state/views/sessions/us_id/us_id_incarceration_population_metrics_preprocessed.py
Due: generate_docs_for_endpoint

Adds lookml autogen support for custom denominator metric (Recidiviz/recidiviz-data#22779)
  recidiviz/tests/tools/looker/aggregated_metrics/__init__.py
  recidiviz/tests/tools/looker/aggregated_metrics/aggregated_metrics_lookml_generator_test.py
  recidiviz/tests/tools/looker/aggregated_metrics/aggregated_metrics_lookml_utils_test.py
  recidiviz/tools/looker/aggregated_metrics/aggregated_metrics_lookml_generator.py
  recidiviz/tools/looker/aggregated_metrics/aggregated_metrics_lookml_utils.py
  recidiviz/tools/looker/aggregated_metrics/custom_aggregated_metrics_lookml_generator.py
Due: generate_docs_for_endpoint

fixing sessions again (Recidiviz/recidiviz-data#23000)
  recidiviz/calculator/query/state/views/sessions/us_id/us_id_incarceration_population_metrics_preprocessed.py
Due: generate_docs_for_endpoint

Path conditions:
  generate_docs_for_region: any of: ^recidiviz/ingest/direct/regions/
  generate_docs_for_endpoint: any of: ^recidiviz/, but not: (?x)(^recidiviz/tests/|^recidiviz/tools/|^recidiviz/ingest/direct/regions/)$

  generate_entity_documentation: any of: (?x)(^recidiviz/persistence/database/schema/state/schema.py|^recidiviz/persistence/database/schema/history_table_shared_columns_mixin.py)$

