Repository Recidiviz/pulse-data: changes, and which pre-commit hooks are due for each by the changed paths.
All: generate_docs_for_region, generate_docs_for_endpoint, generate_entity_documentation

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.3.0
    hooks:
      - id: check-yaml
  - repo: https://github.com/psf/black
    rev: 20.8b1
    hooks:
      - id: black
        language_version: python3
  - repo: local
    hooks:
      - id: generate_docs_for_region
        name: generate_docs_for_region
        entry: pipenv run python -m recidiviz.tools.docs.region_documentation_generator
        language: system
        files: ^recidiviz/ingest/direct/regions/
        require_serial: true
      - id: generate_docs_for_endpoint
        name: generate_docs_for_endpoint
        entry: pipenv run python -m recidiviz.tools.docs.endpoint_documentation_generator
        language: system
        files: ^recidiviz/
        exclude: >
          (?x)(^recidiviz/tests/|^recidiviz/tools/|^recidiviz/ingest/direct/regions/)$
        require_serial: true
      - id: generate_entity_documentation
        name: generate_entity_documentation
        entry: pipenv run python -m recidiviz.tools.docs.entity_documentation_generator
        language: system
        files: >
           (?x)(^recidiviz/persistence/database/schema/state/schema.py|^recidiviz/persistence/database/schema/history_table_shared_columns_mixin.py)$
        require_serial: true

[BQ materialization] Add new implementation of ExtractAndMergeArgs (Recidiviz/recidiviz-data#11640)
  recidiviz/ingest/direct/direct_ingest_cloud_task_manager.py
  recidiviz/ingest/direct/ingest_view_materialization/bq_based_materialization_args_generator_delegate.py
  recidiviz/ingest/direct/ingest_view_materialization/file_based_materializer_delegate.py
  recidiviz/ingest/direct/types/cloud_task_args.py
  recidiviz/tests/ingest/direct/fakes/fake_async_direct_ingest_cloud_task_manager.py
  recidiviz/tests/ingest/direct/ingest_view_materialization/ingest_view_materialization_args_generator_test.py
  recidiviz/tests/ingest/direct/metadata/direct_ingest_view_materialization_manager_test.py
  recidiviz/tests/ingest/direct/regions/base_direct_ingest_controller_tests.py
  recidiviz/tests/ingest/direct/types/cloud_task_args_test.py
Due: generate_docs_for_endpoint

[Justice Counts] Setting up justice-counts frontend subdirectories and skeleton app (Recidiviz/recidiviz-data#11622)
  frontends/justice-counts/control-panel/README.md
  frontends/justice-counts/control-panel/package.json
  frontends/justice-counts/control-panel/public/android-chrome-192x192.png
  frontends/justice-counts/control-panel/public/android-chrome-512x512.png
  frontends/justice-counts/control-panel/public/apple-touch-icon.png
  frontends/justice-counts/control-panel/public/favicon-16x16.png
  frontends/justice-counts/control-panel/public/favicon-32x32.png
  frontends/justice-counts/control-panel/public/favicon.ico
  frontends/justice-counts/control-panel/public/index.html
  frontends/justice-counts/control-panel/public/manifest.json
  frontends/justice-counts/control-panel/public/robots.txt
  frontends/justice-counts/control-panel/src/App.test.tsx
  frontends/justice-counts/control-panel/src/App.tsx
  frontends/justice-counts/control-panel/src/index.tsx
  frontends/justice-counts/control-panel/src/react-app-env.d.ts
  frontends/justice-counts/control-panel/src/setupTests.ts
  frontends/justice-counts/control-panel/tsconfig.json
  frontends/justice-counts/control-panel/yarn.lock
Due: none

[Justice Counts] Validation check in manual upload verifies that sums across tables match. (Recidiviz/recidiviz-data#11565)
  recidiviz/tests/tools/justice_counts/fixtures/report2_multidimension_malformed/manifest - facility_totals.csv
  recidiviz/tests/tools/justice_counts/fixtures/report2_multidimension_malformed/manifest - facility_with_demographics.csv
  recidiviz/tests/tools/justice_counts/fixtures/report2_multidimension_malformed/manifest.yaml
  recidiviz/tests/tools/justice_counts/manual_upload_test.py
  recidiviz/tools/justice_counts/manual_upload.py
Due: generate_docs_for_endpoint

Adjusting `docker-compose` setup (Recidiviz/recidiviz-data#11656)
  docker-compose.admin-panel.yaml
  docker-compose.case-triage.yaml
  docker-compose.justice-counts.yaml
  docker-compose.yaml
  frontends/admin-panel/README.md
  frontends/case-triage/README.md
  recidiviz/justice_counts/control_panel/README.md
  recidiviz/tools/case_triage/load_fixtures.py
  recidiviz/tools/justice_counts/control_panel/load_fixtures.py
  recidiviz/tools/postgres/pg_init_scripts/create_multiple_postgresql_databases.sh
Due: generate_docs_for_endpoint

[US_TN] Gating contactnote views (Recidiviz/recidiviz-data#11680)
  recidiviz/ingest/direct/regions/us_tn/us_tn_controller.py
Due: generate_docs_for_region, generate_docs_for_endpoint

[US_TN] Fix SanctionStatus yaml (Recidiviz/recidiviz-data#11685)
  recidiviz/ingest/direct/regions/us_tn/raw_data/us_tn_SanctionStatus.yaml
Due: generate_docs_for_region, generate_docs_for_endpoint

import files to sandbox with the option of selecting certain files (Recidiviz/recidiviz-data#11369)
  frontends/admin-panel/src/AdminPanelAPI/IngestOperations.ts
  frontends/admin-panel/src/components/DirectSandboxImport/FileUploadDatesTable.tsx
  frontends/admin-panel/src/components/DirectSandboxImport/ImportSandboxFileStatusTable.tsx
  frontends/admin-panel/src/components/DirectSandboxImport/constants.ts
  frontends/admin-panel/src/components/DirectSandboxRawImportView.tsx
  frontends/admin-panel/src/components/IngestOperationsView/constants.ts
  recidiviz/admin_panel/ingest_operations/ingest_utils.py
  recidiviz/admin_panel/routes/ingest_ops.py
  recidiviz/ingest/direct/gcs/filename_parts.py
  recidiviz/ingest/direct/raw_data/direct_ingest_raw_file_import_manager.py
  recidiviz/ingest/direct/raw_data/direct_ingest_raw_table_migration.py
  recidiviz/tools/ingest/operations/import_raw_files_to_sandbox.py
Due: generate_docs_for_endpoint

[Autogenerated] Update Pipfile.lock (Recidiviz/recidiviz-data#11676)
  Pipfile.lock
Due: none

[US_ME] Update incarceration periods ingest view to be deterministic (Recidiviz/recidiviz-data#11520)
  recidiviz/ingest/direct/regions/us_me/ingest_mappings/us_me_CURRENT_STATUS_incarceration_periods_v2.yaml
  recidiviz/ingest/direct/regions/us_me/ingest_views/templates_statuses.py
  recidiviz/ingest/direct/regions/us_me/ingest_views/us_me_view_query_fragments.py
  recidiviz/ingest/direct/regions/us_me/ingest_views/view_CURRENT_STATUS_incarceration_periods.py
  recidiviz/ingest/direct/regions/us_me/ingest_views/view_CURRENT_STATUS_incarceration_periods_v2.py
  recidiviz/ingest/direct/regions/us_me/us_me_controller.py
  recidiviz/tests/big_query/view_test_util.py
Due: generate_docs_for_region, generate_docs_for_endpoint

[US_ME] Incarceration period entity mapping updates (Recidiviz/recidiviz-data#11599)
  recidiviz/ingest/direct/regions/us_me/ingest_mappings/us_me_CURRENT_STATUS_incarceration_periods_v2.yaml
  recidiviz/ingest/direct/regions/us_me/us_me_custom_enum_parsers.py
Due: generate_docs_for_region, generate_docs_for_endpoint

[US_ME] Supervision period ingest view query (Recidiviz/recidiviz-data#11348)
  recidiviz/ingest/direct/regions/us_me/ingest_views/us_me_view_query_fragments.py
  recidiviz/ingest/direct/regions/us_me/ingest_views/view_supervision_periods.py
  recidiviz/tests/big_query/view_test_util.py
  recidiviz/tools/ingest/testing/generate_raw_data_fixtures_from_bq.py
Due: generate_docs_for_region, generate_docs_for_endpoint

[Bugfix] validation should be per view and should compare same data type columns (Recidiviz/recidiviz-data#11694)
  recidiviz/validation/configured_validations.py
  recidiviz/validation/views/state/recidivism_person_level_template.py
Due: generate_docs_for_endpoint

[BQ materialization] Update task queueing to route based on feature flag (Recidiviz/recidiviz-data#11646)
  recidiviz/admin_panel/ingest_operations_store.py
  recidiviz/common/google_cloud/google_cloud_tasks_shared_queues.py
  recidiviz/ingest/direct/controllers/base_direct_ingest_controller.py
  recidiviz/ingest/direct/direct_ingest_cloud_task_manager.py
  recidiviz/ingest/direct/ingest_view_materialization/ingest_view_materialization_args_generator.py
  recidiviz/tests/ingest/direct/direct_ingest_cloud_task_manager_impl_test.py
  recidiviz/tests/ingest/direct/direct_ingest_test_util.py
  recidiviz/tests/ingest/direct/fakes/fake_async_direct_ingest_cloud_task_manager.py
  recidiviz/tests/ingest/direct/fakes/fake_synchronous_direct_ingest_cloud_task_manager.py
  recidiviz/tools/deploy/terraform/modules/state-direct-ingest-resources/cloud-task-queues.tf
Due: generate_docs_for_endpoint

[BQ materialization] Eliminate export and process_job terminology from direct/controller packages (Recidiviz/recidiviz-data#11654)
  recidiviz/ingest/direct/controllers/base_direct_ingest_controller.py
  recidiviz/ingest/direct/direct_ingest_cloud_task_manager.py
  recidiviz/ingest/direct/direct_ingest_control.py
  recidiviz/ingest/direct/ingest_view_materialization/ingest_view_materialization_args_generator.py
  recidiviz/ingest/direct/ingest_view_materialization/ingest_view_materializer.py
  recidiviz/tests/ingest/direct/controllers/direct_ingest_gcs_file_system_test.py
  recidiviz/tests/ingest/direct/direct_ingest_cloud_task_manager_impl_test.py
  recidiviz/tests/ingest/direct/direct_ingest_test_util.py
  recidiviz/tests/ingest/direct/fakes/fake_async_direct_ingest_cloud_task_manager.py
  recidiviz/tests/ingest/direct/fakes/fake_direct_ingest_big_query_client.py
  recidiviz/tests/ingest/direct/fakes/fake_synchronous_direct_ingest_cloud_task_manager.py
  recidiviz/tests/ingest/direct/ingest_view_materialization/ingest_view_materialization_args_generator_test.py
  recidiviz/tests/ingest/direct/ingest_view_materialization/ingest_view_materializer_test.py
  recidiviz/tests/ingest/direct/regions/base_direct_ingest_controller_tests.py
Due: generate_docs_for_endpoint

[BQ materialization] Move ContentsHandle out of IngestViewResultsParser (Recidiviz/recidiviz-data#11663)
  recidiviz/ingest/direct/controllers/ingest_view_processor.py
  recidiviz/ingest/direct/ingest_mappings/ingest_view_results_parser.py
  recidiviz/tests/ingest/direct/ingest_mappings/ingest_view_results_parser_test.py
  recidiviz/tests/ingest/direct/regions/state_ingest_view_parser_test_base.py
Due: generate_docs_for_endpoint

Revert "[BQ refresh] Do not delete tables from state, etc datasets during refresh (Recidiviz/recidiviz-data#11564)" (Recidiviz/recidiviz-data#11705)
  recidiviz/persistence/database/bq_refresh/federated_cloud_sql_to_bq_refresh.py
  recidiviz/tests/persistence/database/bq_refresh/federated_cloud_sql_to_bq_refresh_test.py
Due: generate_docs_for_endpoint

Add US_ME to dataflow_sessions (Recidiviz/recidiviz-data#11696)
  recidiviz/calculator/query/state/views/sessions/dataflow_sessions.py
Due: generate_docs_for_endpoint

[Testing] Refactor code in BaseViewTest to prepare for use in ingest controller tests (Recidiviz/recidiviz-data#11664)
  recidiviz/tests/big_query/fakes/__init__.py
  recidiviz/tests/big_query/fakes/big_query_query_rewriter.py
  recidiviz/tests/big_query/fakes/fake_big_query_address_registry.py
  recidiviz/tests/big_query/fakes/fake_big_query_database.py
  recidiviz/tests/big_query/fakes/fake_table_schema.py
  recidiviz/tests/big_query/view_test_util.py
  recidiviz/tests/calculator/query/justice_counts/views/corrections_metrics_test.py
  recidiviz/tests/calculator/query/justice_counts/views/jails_metrics_test.py
  recidiviz/tests/calculator/query/justice_counts/views/metric_calculator_test.py
Due: generate_docs_for_endpoint

[US_ME] Fix v1 incarceration periods view parser for admission reason (Recidiviz/recidiviz-data#11708)
  recidiviz/ingest/direct/regions/us_me/ingest_mappings/us_me_CURRENT_STATUS_incarceration_periods.yaml
  recidiviz/ingest/direct/regions/us_me/us_me_custom_enum_parsers.py
Due: generate_docs_for_region, generate_docs_for_endpoint

[Justice Counts] Serve built React app from Flask backend (Recidiviz/recidiviz-data#11711)
  Dockerfile
  recidiviz/justice_counts/control_panel/server.py
Due: generate_docs_for_endpoint

Setting up a Cloud Run service for Justice Counts (Recidiviz/recidiviz-data#11707)
  recidiviz/tools/deploy/terraform/cloud-run.tf
Due: generate_docs_for_endpoint

[Justice Counts] Adding `User` and `Agency` models and `user_agency` association (Recidiviz/recidiviz-data#11647)
  recidiviz/justice_counts/agency.py
  recidiviz/justice_counts/user.py
  recidiviz/persistence/database/migrations/justice_counts/versions/2022_03_19_0723_d50163044ba2_adding_agency_and_user_models.py
  recidiviz/persistence/database/migrations/justice_counts/versions/2022_03_21_1102_9412e89d7924_backfill_type_column.py
  recidiviz/persistence/database/schema/justice_counts/schema.py
  recidiviz/persistence/database/schema_utils.py
  recidiviz/tests/justice_counts/agency_test.py
  recidiviz/tests/justice_counts/user_test.py
  recidiviz/tests/persistence/database/schema_utils_test.py
  recidiviz/tools/justice_counts/control_panel/fixtures/source.csv
Due: generate_docs_for_endpoint

Fix type in `LastUpdateUserId` (Recidiviz/recidiviz-data#11713)
  recidiviz/ingest/direct/regions/us_tn/raw_data/us_tn_OffenderPayments.yaml
Due: generate_docs_for_region, generate_docs_for_endpoint

[TN] Fix more raw data yamls (Recidiviz/recidiviz-data#11719)
  recidiviz/ingest/direct/regions/us_tn/raw_data/us_tn_PriorRecord.yaml
  recidiviz/ingest/direct/regions/us_tn/raw_data/us_tn_Sanctions.yaml
Due: generate_docs_for_region, generate_docs_for_endpoint

add view description in view details page (Recidiviz/recidiviz-data#11697)
  frontends/admin-panel/src/AdminPanelAPI/index.ts
  frontends/admin-panel/src/components/Validation/ValidationDetails.tsx
  recidiviz/admin_panel/all_routes.py
Due: generate_docs_for_endpoint

[Ingest] Small performance improvements (Recidiviz/recidiviz-data#11716)
  recidiviz/common/str_field_utils.py
  recidiviz/ingest/direct/ingest_mappings/ingest_view_results_parser.py
  recidiviz/persistence/entity/entity_deserialize.py
  recidiviz/tests/common/str_field_utils_test.py
Due: generate_docs_for_endpoint

[Justice Counts] Remove justice-counts-public-access IAM member (Recidiviz/recidiviz-data#11722)
  recidiviz/tools/deploy/terraform/cloud-run.tf
Due: generate_docs_for_endpoint

[Bugfix] fix len() of validation job error (Recidiviz/recidiviz-data#11724)
  recidiviz/validation/checks/sameness_check.py
Due: generate_docs_for_endpoint

Put back justice-counts-public-access IAM member
  recidiviz/tools/deploy/terraform/cloud-run.tf
Due: generate_docs_for_endpoint

[Practices] Export views containing client and staff info (Recidiviz/recidiviz-data#11700)
  recidiviz/calculator/query/state/dataset_config.py
  recidiviz/calculator/query/state/view_config.py
  recidiviz/calculator/query/state/views/practices/__init__.py
  recidiviz/calculator/query/state/views/practices/firestore/__init__.py
  recidiviz/calculator/query/state/views/practices/firestore/client_record.py
  recidiviz/calculator/query/state/views/practices/firestore/firestore_views.py
  recidiviz/calculator/query/state/views/practices/firestore/staff_record.py
  recidiviz/calculator/query/state/views/practices/practices_views.py
  recidiviz/calculator/query/state/views/reference/reference_views.py
  recidiviz/calculator/query/state/views/reference/us_tn_compliant_reporting_logic.py
  recidiviz/metrics/export/export_config.py
  recidiviz/tools/deploy/terraform/cloud-storage.tf
  recidiviz/view_registry/deployed_views.py
Due: generate_docs_for_endpoint

Adding new yaml with updated fields (Recidiviz/recidiviz-data#11725)
  recidiviz/ingest/direct/regions/us_tn/raw_data/us_tn_PriorRecord.yaml
Due: generate_docs_for_region, generate_docs_for_endpoint

[US_TN] Update Incarceration Period YAML Mappings to Map Specific Sites to `COURT` Custodial Authority (Recidiviz/recidiviz-data#11454)
  recidiviz/ingest/direct/regions/us_tn/ingest_mappings/us_tn_OffenderMovementIncarcerationPeriod.yaml
  recidiviz/ingest/direct/regions/us_tn/us_tn_custom_parsers.py
  recidiviz/persistence/database/migrations/state/versions/2022_03_10_1440_e5f5c74569b6_us_tn_fix_custodial_authority.py
Due: generate_docs_for_region, generate_docs_for_endpoint

[Justice Counts] Rename `user` table to `user_account` (Recidiviz/recidiviz-data#11738)
  recidiviz/justice_counts/user_account.py
  recidiviz/persistence/database/migrations/justice_counts/versions/2022_03_23_1541_71fb90aaa368_adding_user_account_and_agency_tables.py
  recidiviz/persistence/database/migrations/justice_counts/versions/2022_03_23_1542_783e6cdf45a8_backfill_source_type.py
  recidiviz/persistence/database/schema/justice_counts/schema.py
  recidiviz/tests/justice_counts/user_agency_test.py
  recidiviz/tests/persistence/database/schema_utils_test.py
Due: generate_docs_for_endpoint

[US_TN] Add Skeleton YAML for `ExemptionTypes` (Recidiviz/recidiviz-data#11729)
  recidiviz/ingest/direct/regions/us_tn/raw_data/us_tn_ExemptionTypes.yaml
Due: generate_docs_for_region, generate_docs_for_endpoint

[Entity Normalization] Fixes bug with dropping SVRs (Recidiviz/recidiviz-data#11645)
  recidiviz/calculator/pipeline/utils/entity_normalization/supervision_violation_responses_normalization_manager.py
  recidiviz/tests/calculator/pipeline/metrics/incarceration/identifier_test.py
  recidiviz/tests/calculator/pipeline/metrics/violation/identifier_test.py
  recidiviz/tests/calculator/pipeline/utils/entity_normalization/supervision_violation_responses_normalization_manager_test.py
  recidiviz/tests/calculator/pipeline/utils/state_utils/us_nd/us_nd_violation_response_normalization_delegate_test.py
  recidiviz/tests/calculator/pipeline/utils/violation_response_utils_test.py
Due: generate_docs_for_endpoint

[Testing] Refactor FakeDirectIngestBigQueryClient to generalize (Recidiviz/recidiviz-data#11699)
  recidiviz/ingest/direct/controllers/base_direct_ingest_controller.py
  recidiviz/ingest/direct/ingest_view_materialization/ingest_view_materializer.py
  recidiviz/tests/big_query/fakes/fake_big_query_client.py
  recidiviz/tests/big_query/view_test_util.py
  recidiviz/tests/ingest/direct/fakes/fake_direct_ingest_controller.py
  recidiviz/tests/ingest/direct/ingest_view_materialization/ingest_view_materializer_test.py
Due: generate_docs_for_endpoint

[Entity Normalization] Using Normalized program assignments (Recidiviz/recidiviz-data#11655)
  recidiviz/calculator/pipeline/metrics/program/identifier.py
  recidiviz/calculator/pipeline/normalization/comprehensive/entity_normalizer.py
  recidiviz/calculator/pipeline/utils/entity_normalization/entity_normalization_manager_utils.py
  recidiviz/calculator/pipeline/utils/entity_normalization/normalized_entities_utils.py
  recidiviz/calculator/pipeline/utils/entity_normalization/program_assignment_normalization_manager.py
  recidiviz/tests/calculator/pipeline/metrics/program/identifier_test.py
  recidiviz/tests/calculator/pipeline/utils/entity_normalization/program_assignments_normalization_manager_test.py
  recidiviz/tests/calculator/pipeline/utils/state_utils/us_id/us_id_program_assignments_normalization_delegate_test.py
Due: generate_docs_for_endpoint
