Repository Recidiviz/pulse-data: changes, and which pre-commit hooks are due for each by the changed paths.
All: clear_notebook_files, validate_scripts_and_notebooks_are_changed_together, generate_docs_for_region, generate_docs_for_endpoint, generate_entity_documentation, generate_calc_documentation, generate_ingest_mappings_schema_documentation, update_terraform_lock_file, terraform_fmt, alphabetize_yaml, generate_lookml

clear_notebook_files:
  name: Clear Output of Jupyter Notebook
  description: Clears output of Jupyter Notebooks
  stages:
  - pre-commit
  language: system
  entry: jupyter nbconvert --ClearOutputPreprocessor.enabled=True --inplace
  pass_filenames: true

validate_scripts_and_notebooks_are_changed_together:
  name: validate_scripts_and_notebooks_are_changed_together
  entry: pipenv run python -m recidiviz.research.validate_script_changes_pre_commit
  language: system
  require_serial: true

generate_docs_for_region:
  name: generate_docs_for_region
  entry: pipenv run python -m recidiviz.tools.docs.region_documentation_generator
  language: system
  require_serial: true

generate_docs_for_endpoint:
  name: generate_docs_for_endpoint
  entry: pipenv run python -m recidiviz.tools.docs.endpoint_documentation_generator
  language: system
  require_serial: true

generate_entity_documentation:
  name: generate_entity_documentation
  entry: pipenv run python -m recidiviz.tools.docs.entity_documentation_generator
  language: system
  require_serial: true

generate_calc_documentation:
  name: generate_calc_documentation
  entry: pipenv run python -m recidiviz.calculator.calculation_documentation_generator
  language: system
  require_serial: true

generate_ingest_mappings_schema_documentation:
  name: generate_ingest_mappings_schema_documentation
  entry: pipenv run python -m recidiviz.tools.docs.ingest_mappings_schema_documentation_generator
  language: system
  require_serial: true

update_terraform_lock_file:
  name: update_terraform_lock_file
  entry: recidiviz/tools/deploy/update_terraform_lock.sh
  language: script
  require_serial: true

terraform_fmt:
  name: terraform_fmt
  entry: recidiviz/tools/deploy/format_terraform.sh
  language: script

alphabetize_yaml:
  name: alphabetize_yaml
  entry: pipenv run python -m recidiviz.tools.alphabetize_raw_data_reference_reasons
  language: system

generate_lookml:
  name: generate_lookml
  entry: pipenv run python -m recidiviz.tools.looker.generate_all_lookml
  language: system

[Workflows] Restrict Endpoints by System (Recidiviz/recidiviz-data#103847)
  recidiviz/case_triage/workflows/workflows_authorization.py
  recidiviz/case_triage/workflows/workflows_routes.py
  recidiviz/tests/case_triage/workflows/workflows_authorization_test.py
  recidiviz/tests/case_triage/workflows/workflows_routes_test.py
Due: generate_docs_for_endpoint

[intercom export][EASY REVIEW] Update function sig to `create_data_export(start_datetime_inclusive, end_datetime_inclusive)` (Recidiviz/recidiviz-data#104039)
  recidiviz/intercom/client.py
  recidiviz/intercom/manager.py
  recidiviz/tests/intercom/client_test.py
Due: none

[identity ingest dag] Add missing record_dag_run_metadata task (Recidiviz/recidiviz-data#104037)
  recidiviz/airflow/dags/identity_ingest/initialize_identity_ingest_dag_group.py
  recidiviz/airflow/dags/identity_ingest_dag.py
  recidiviz/airflow/tests/identity_ingest/initialize_identity_ingest_dag_group_test.py
  recidiviz/airflow/tests/identity_ingest_dag_test.py
Due: none

[BigQuery][EASY REVIEW] Use DROP COLUMN IF EXISTS in _remove_unused_fields_from_schema to tolerate concurrent column drops (Recidiviz/recidiviz-data#103866)
  recidiviz/big_query/big_query_client.py
  recidiviz/tests/big_query/big_query_client_test.py
  recidiviz/tests/source_tables/source_table_update_manager_test.py
Due: none

[bq view decomp] Resolve input source table collections for view graphs (Recidiviz/recidiviz-data#103696)
  recidiviz/big_query/big_query_view_graph_registry.py
  recidiviz/tests/big_query/big_query_view_graph_registry_test.py
Due: none

Create BQ view that tracks tasks imported into LabelStudio via GCS (Recidiviz/recidiviz-data#101269)
  recidiviz/llm_eval/label_studio/config/cni_accuracy_per_field.yaml
  recidiviz/llm_eval/label_studio/config/meetings_module_quality.yaml
  recidiviz/llm_eval/label_studio/models/label_studio_project_config.py
  recidiviz/source_tables/yaml_managed/datasets.py
  recidiviz/source_tables/yaml_managed/gcs_backed_tables/llm_eval_label_studio/cni_accuracy_per_field_submitted_tasks_raw.yaml
  recidiviz/source_tables/yaml_managed/gcs_backed_tables/llm_eval_label_studio/meetings_module_quality_submitted_tasks_raw.yaml
  recidiviz/tests/llm_eval/label_studio/models/label_studio_project_config_test.py
  recidiviz/tests/tools/llm_eval/label_studio/generate_raw_table_yamls_test.py
  recidiviz/tools/deploy/terraform/config/terraform_managed_bigquery_datasets.yaml
  recidiviz/tools/find_unused_bq_views.py
  recidiviz/tools/llm_eval/label_studio/generate_raw_table_yamls.py
Due: update_terraform_lock_file, terraform_fmt

[US_TX] Remove pilot/region 5 gate from fines/fees case notes (Recidiviz/recidiviz-data#103798)
  recidiviz/source_tables/yaml_managed/static_reference_tables/us_tx_ers_ars_fines_fees_pilot_users.yaml
  recidiviz/task_eligibility/utils/us_tx_query_fragments.py
Due: generate_calc_documentation

[bq view decomp] Add graph-of-view-graphs acyclic check (Recidiviz/recidiviz-data#103852)
  recidiviz/big_query/big_query_view_graph_registry.py
  recidiviz/tests/big_query/big_query_view_graph_registry_test.py
Due: none

[bq view decomp][EASY REVIEW] Optimize view graph registry build (Recidiviz/recidiviz-data#103992)
  recidiviz/big_query/big_query_view_dag_walker.py
  recidiviz/big_query/big_query_view_graph.py
  recidiviz/tests/big_query/big_query_view_dag_walker_test.py
Due: none

[bq view decomp][EASY REVIEW] Use better TODO (Recidiviz/recidiviz-data#104053)
  recidiviz/big_query/big_query_view_graph_registry.py
Due: none

[US_TN] Add mental health level of care to the client profile via TOMIS 2.0-gated analog views (Recidiviz/recidiviz-data#103586)
  recidiviz/tests/view_registry/us_tn_tomis_migration_exemptions.py
Due: none

[CNI] Source entity-field metadata from the mention that supplied the value (Recidiviz/recidiviz-data#103611)
  recidiviz/tests/tools/documents/fixtures/run_sandbox_extraction/pre_resolution/fake_extractor_collection.csv
  recidiviz/tests/tools/documents/fixtures/run_sandbox_extraction/pre_resolution/fake_extractor_collection_assignments.csv
Due: none

[JII] Exempt Segment metrics datasets from strict schema validation (Recidiviz/recidiviz-data#104074)
  recidiviz/source_tables/externally_managed/collect_externally_managed_source_table_configs.py
  recidiviz/source_tables/externally_managed/jii_frontend_prod_segment_metrics/tracks.yaml
Due: none

[identity service] Replace the permanently failed load balancer cert via a random name suffix (Recidiviz/recidiviz-data#104188)
  recidiviz/tools/deploy/terraform/cloud-run-identity-service.tf
Due: update_terraform_lock_file, terraform_fmt

[gcsfs][EASY REVIEW] Add upload_local_file helper (Recidiviz/recidiviz-data#104057)
  recidiviz/cloud_storage/gcs_file_system.py
  recidiviz/cloud_storage/gcs_file_system_impl.py
  recidiviz/ingest/direct/gcs/direct_ingest_gcs_file_system.py
  recidiviz/intercom/intercom_gcs_upload.py
  recidiviz/public_pathways/individual_level_bulk_export.py
  recidiviz/tests/cloud_storage/fake_gcs_file_system.py
  recidiviz/tests/cloud_storage/fake_gcs_file_system_test.py
  recidiviz/tests/tools/ingest/regions/us_ne/export_sql_to_gcs_test.py
  recidiviz/tools/cloud_functions/create_function_source_file_archive.py
  recidiviz/tools/shared_pathways/generate_demo_data.py
  recidiviz/tools/upload_sendgrid_csv_to_gcs_and_bq.py
Due: none

[US_AZ] Change date bounds in manlit criteria (Recidiviz/recidiviz-data#101485)
  recidiviz/task_eligibility/utils/us_az_query_fragments.py
Due: generate_calc_documentation

[US_IX] Hydrate parent_sentence_external_id_array for consecutive sentences (Recidiviz/recidiviz-data#102758)
  recidiviz/ingest/direct/regions/us_ix/ingest_mappings/us_ix_state_sentence.yaml
Due: generate_docs_for_region

[docstore][EXTREME EASY REVIEW] Add TODO to gate on llm launch config (Recidiviz/recidiviz-data#104293)
  recidiviz/documents/store/document_collection_config.py
Due: none

[CNI] Disaggregate IRR views by configurable batch key fields (OBT-49397) (Recidiviz/recidiviz-data#103625)
  recidiviz/llm_eval/label_studio/config/cni_accuracy_per_field.yaml
  recidiviz/llm_eval/label_studio/models/label_studio_project_config.py
Due: none

[Outliers] Trim /officers response data (Recidiviz/recidiviz-data#103981)
  recidiviz/case_triage/outliers/outliers_routes.py
  recidiviz/outliers/querier/querier.py
  recidiviz/tests/case_triage/outliers/snapshots/snap_outliers_routes_test.py
  recidiviz/tests/outliers/snapshots/snap_querier_test.py
Due: generate_docs_for_endpoint

[Workflows] Verify Cloud Task handlers are called by Cloud Tasks (Recidiviz/recidiviz-data#104050)
  recidiviz/case_triage/helpers.py
  recidiviz/case_triage/workflows/workflows_routes.py
  recidiviz/case_triage/workflows/writeback/route_helpers.py
  recidiviz/tests/case_triage/helpers_test.py
  recidiviz/tests/case_triage/workflows/workflows_routes_test.py
Due: generate_docs_for_endpoint

Eliminate resource-existence oracle in outliers roster/officer endpoints (Recidiviz/recidiviz-data#102540)
  recidiviz/case_triage/outliers/outliers_routes.py
  recidiviz/tests/case_triage/outliers/outliers_routes_test.py
Due: generate_docs_for_endpoint

[EASY REVIEW!][identity service] Add US_ND identifier types to IdentifierType enum (Recidiviz/recidiviz-data#104657)
  recidiviz/common/constants/identity.py
  recidiviz/tests/ingest/direct/regions/direct_ingest_region_structure_test.py
Due: none

[US_IX] Hydrate StateSentenceLength (Recidiviz/recidiviz-data#104713)
  recidiviz/ingest/direct/regions/us_ix/ingest_mappings/us_ix_state_sentence.yaml
Due: generate_docs_for_region

[bq view decomp][EASY REVIEW] Rename update_source_table_schemata.py to source_table_tasks.py (Recidiviz/recidiviz-data#104282)
  recidiviz/airflow/dags/calculation_dag.py
  recidiviz/airflow/dags/identity_ingest_dag.py
  recidiviz/airflow/dags/llm_document_extraction_dag.py
  recidiviz/airflow/dags/raw_data_import_dag.py
  recidiviz/airflow/dags/utils/source_table_tasks.py
  recidiviz/airflow/tests/calculation_dag_test.py
  recidiviz/airflow/tests/identity_ingest_dag_test.py
  recidiviz/airflow/tests/raw_data_import_dag_test.py
Due: none

[bq refresh] Fix `copy_dataset_tables_across_regions` timeout (Recidiviz/recidiviz-data#103861)
  recidiviz/big_query/big_query_client.py
  recidiviz/tests/big_query/big_query_client_test.py
Due: none

[US_AZ] Update TES to reflect final admin supervision V2 policy (Recidiviz/recidiviz-data#103831)
  recidiviz/task_eligibility/eligibility_spans/us_az/transfer_to_administrative_supervision.py
  recidiviz/task_eligibility/eligibility_spans/us_az/transfer_to_administrative_supervision_v2.py
  recidiviz/tools/find_unused_bq_views.py
Due: generate_calc_documentation

[calc dag][bq view decomp] Split dataset_cleanup_and_validation task (Recidiviz/recidiviz-data#104281)
  recidiviz/airflow/dags/calculation_dag.py
  recidiviz/airflow/dags/operators/recidiviz_kubernetes_resources.yaml
  recidiviz/airflow/dags/utils/constants.py
  recidiviz/airflow/dags/utils/source_table_tasks.py
  recidiviz/airflow/tests/calculation_dag_test.py
  recidiviz/airflow/tests/fixtures/entrypoints_args.yaml
  recidiviz/entrypoints/bigquery/dataset_cleanup_entrypoint.py
  recidiviz/entrypoints/bigquery/validate_source_table_datasets_entrypoint.py
  recidiviz/entrypoints/entrypoint_executor.py
  recidiviz/source_tables/source_table_update_manager.py
  recidiviz/tests/entrypoints/bigquery/dataset_cleanup_entrypoint_test.py
  recidiviz/tests/entrypoints/bigquery/validate_source_table_datasets_entrypoint_test.py
  recidiviz/tests/source_tables/source_table_cleanup_validation_test.py
  recidiviz/tools/delete_temp_bq_tables.py
Due: none

[US_AZ] Limit ineligible offenses for admin supervision v2 (Recidiviz/recidiviz-data#103990)
  recidiviz/task_eligibility/eligibility_spans/us_az/transfer_to_administrative_supervision.py
  recidiviz/task_eligibility/eligibility_spans/us_az/transfer_to_administrative_supervision_v2.py
  recidiviz/tests/view_registry/sentences_v1_migration_burndown/us_az_sentences_v1_burndown.py
  recidiviz/tools/find_unused_bq_views.py
Due: generate_calc_documentation

[US_CO][Earned Time] Let the scheduled job run on several eOMIS sessions (Recidiviz/recidiviz-data#104296)
  recidiviz/tools/deploy/terraform/cloud-run-eomis-writeback.tf
Due: update_terraform_lock_file, terraform_fmt

[source table validation][bq view decomp] Add non-blocking validate_source_tables task (Recidiviz/recidiviz-data#104283)
  recidiviz/airflow/dags/identity_ingest_dag.py
  recidiviz/airflow/dags/llm_document_extraction_dag.py
  recidiviz/airflow/dags/raw_data_import_dag.py
  recidiviz/airflow/tests/identity_ingest_dag_test.py
  recidiviz/airflow/tests/llm_document_extraction_dag_test.py
  recidiviz/airflow/tests/raw_data_import_dag_test.py
Due: none

[tools] Scope validate_source_table_datasets to update_groups (Recidiviz/recidiviz-data#104285)
  recidiviz/tools/validate_source_table_datasets.py
Due: none

[bq view decomp] include `view_derived_source_table_collections ` in `build_source_table_repository_for_collected_schemata` (Recidiviz/recidiviz-data#104332)
  recidiviz/big_query/big_query_view_dag_walker.py
  recidiviz/big_query/big_query_view_graph_registry.py
  recidiviz/tests/big_query/big_query_view_dag_walker_test.py
  recidiviz/tests/big_query/big_query_view_graph_registry_test.py
  recidiviz/tests/entrypoints/view_update/update_managed_view_graph_test.py
  recidiviz/tests/view_registry/deployed_view_graphs_test.py
  recidiviz/view_registry/deployed_source_table_repository.py
Due: none

[Autogenerated] Update runner AMIs (Recidiviz/recidiviz-data#104862)
  .github/runs-on.yml
Due: none

[identity service] Make changes to enable DAG to call import endpoint (Recidiviz/recidiviz-data#104685)
  recidiviz/tests/tools/file_dependencies_test.py
  recidiviz/tests/utils/metadata_test.py
  recidiviz/tools/deploy/terraform/cloud-run-identity-service.tf
  recidiviz/utils/metadata.py
Due: update_terraform_lock_file, terraform_fmt

[Intercom] Tolerate tickets with more than one contact (Recidiviz/recidiviz-data#104874)
  recidiviz/intercom/json_to_csv_converter.py
  recidiviz/tests/intercom/json_to_csv_converter_test.py
Due: none

[US_AZ] Add criteria for stable housing to admin supervision workflow (Recidiviz/recidiviz-data#104054)
  recidiviz/task_eligibility/eligibility_spans/us_az/transfer_to_administrative_supervision.py
  recidiviz/task_eligibility/eligibility_spans/us_az/transfer_to_administrative_supervision_v2.py
Due: generate_calc_documentation

[BQ] Name the destination CMEK key on cross-region dataset copies (Recidiviz/recidiviz-data#104065)
  recidiviz/big_query/big_query_client.py
  recidiviz/tests/big_query/big_query_client_test.py
Due: none

[US_MO] SAR - update documentation and TODOs (Recidiviz/recidiviz-data#103403)
  recidiviz/tests/big_query/known_undocumented_columns.py
Due: none

[Validation] Add even more emoji options for Slack alerting (Recidiviz/recidiviz-data#104034)
  recidiviz/validation/validation_alerting_manager.py
Due: none

Path conditions:
  clear_notebook_files: any of: \.ipynb$
  validate_scripts_and_notebooks_are_changed_together: any of: ^recidiviz/research/.*notebooks/.*/nbautoexport-scripts/.*\.py$
  generate_docs_for_region: any of: ^recidiviz/ingest/direct/regions/|^recidiviz/view_registry/raw_data_reference_reasons.yaml
  generate_docs_for_endpoint: any of: (?x)(^recidiviz/tools/docs/endpoint_documentation_generator.py|^recidiviz/server_blueprint_registry.py|.*/routes/|.*routes.py|.*/server.py|.*control.py|.*endpoint.py|.*endpoints.py|^recidiviz/backup/backup_manager.py|^recidiviz/pipelines/calculation_data_storage_manager.py)$, but not: ^recidiviz/tests
  generate_entity_documentation: any of: (?x)(^recidiviz/persistence/database/schema/state/schema.py|^recidiviz/persistence/entity/state/normalized_entities.py|^recidiviz/persistence/entity/state/entities.py|^recidiviz/common/constants/state/)$

  generate_calc_documentation: any of: ^recidiviz/calculator/query/|^recidiviz/.*/views/|^recidiviz/task_eligibility/|^recidiviz/monitoring/platform_kpis/|^recidiviz/ingest/direct/regions/.*/raw_data/, but not: ^recidiviz/tests/|^recidiviz/calculator/modeling/
  generate_ingest_mappings_schema_documentation: any of: ^recidiviz/ingest/direct/ingest_mappings/yaml_schema/|^docs/engineering/ingest_mapping_schema/
  update_terraform_lock_file: any of: ^recidiviz/tools/deploy/terraform/
  terraform_fmt: any of: ^recidiviz/tools/deploy/terraform/
  alphabetize_yaml: any of: recidiviz/view_registry/raw_data_reference_reasons.yaml
  generate_lookml: any of: ^recidiviz/persistence/entity/state/|^recidiviz/tools/looker/|^recidiviz/aggregated_metrics/|^recidiviz/observations/views/|^recidiviz/ingest/direct/regions/.*/raw_data/|^recidiviz/segment/product_type/|^recidiviz/calculator/query/state/views/analyst_data/global_provisioned_user_sessions, but not: ^recidiviz/tools/looker/__generated__/
