Repository Recidiviz/pulse-data: changes, and which pre-commit hooks are due for each by the changed paths.
All: generate_docs_for_region, generate_docs_for_endpoint, generate_entity_documentation

generate_docs_for_region:
  name: generate_docs_for_region
  entry: pipenv run python -m recidiviz.tools.docs.region_documentation_generator
  language: system
  require_serial: true

generate_docs_for_endpoint:
  name: generate_docs_for_endpoint
  entry: pipenv run python -m recidiviz.tools.docs.endpoint_documentation_generator
  language: system
  require_serial: true

generate_entity_documentation:
  name: generate_entity_documentation
  entry: pipenv run python -m recidiviz.tools.docs.entity_documentation_generator
  language: system
  require_serial: true

Add in county_code and sentence_sub_type to sentencing views (Recidiviz/recidiviz-data#15545)
  recidiviz/calculator/query/state/views/sessions/sentence_imposed_group_summary.py
  recidiviz/calculator/query/state/views/sessions/sentences_preprocessed.py
  recidiviz/calculator/query/state/views/sessions/us_tn/us_tn_sentences_preprocessed.py
Due: generate_docs_for_endpoint

[Bugfix] Fix exception handling for view rematerialization (Recidiviz/recidiviz-data#15701)
  recidiviz/big_query/view_update_manager.py
Due: generate_docs_for_endpoint

[US_MO] bumping threshold for incarceration release before admission for old data rows (Recidiviz/recidiviz-data#15715)
  recidiviz/validation/config/regions/us_mo/us_mo_validation_config.yaml
Due: generate_docs_for_endpoint

[US_MO] custom parser for magic dates in MO (Recidiviz/recidiviz-data#15606)
  recidiviz/ingest/direct/regions/us_mo/ingest_mappings/us_mo_offender_sentence_institution.yaml
  recidiviz/ingest/direct/regions/us_mo/ingest_mappings/us_mo_offender_sentence_supervision.yaml
  recidiviz/ingest/direct/regions/us_mo/us_mo_custom_parsers.py
Due: generate_docs_for_region, generate_docs_for_endpoint

Normalize StateAssessments to have assessment_score_levels (Recidiviz/recidiviz-data#15617)
  recidiviz/calculator/pipeline/metrics/incarceration/pipeline.py
  recidiviz/calculator/pipeline/metrics/program/pipeline.py
  recidiviz/calculator/pipeline/metrics/supervision/pipeline.py
  recidiviz/calculator/pipeline/normalization/comprehensive/entity_normalizer.py
  recidiviz/calculator/pipeline/normalization/comprehensive/pipeline.py
  recidiviz/calculator/pipeline/normalization/utils/entity_normalization_manager_utils.py
  recidiviz/calculator/pipeline/normalization/utils/normalization_managers/assessment_normalization_manager.py
  recidiviz/calculator/pipeline/normalization/utils/normalized_entities.py
  recidiviz/calculator/pipeline/normalization/utils/normalized_entities_utils.py
  recidiviz/calculator/pipeline/utils/state_utils/state_calculation_config_manager.py
  recidiviz/calculator/pipeline/utils/state_utils/templates/us_xx/us_xx_assessment_normalization_delegate.py
  recidiviz/calculator/pipeline/utils/state_utils/us_ca/us_ca_assessment_normalization_delegate.py
  recidiviz/calculator/pipeline/utils/state_utils/us_co/us_co_assessment_normalization_delegate.py
  recidiviz/calculator/pipeline/utils/state_utils/us_id/us_id_assessment_normalization_delegate.py
  recidiviz/calculator/pipeline/utils/state_utils/us_ix/us_ix_assessment_normalization_delegate.py
  recidiviz/calculator/pipeline/utils/state_utils/us_me/us_me_assessment_normalization_delegate.py
  recidiviz/calculator/pipeline/utils/state_utils/us_mi/us_mi_assessment_normalization_delegate.py
  recidiviz/calculator/pipeline/utils/state_utils/us_mo/us_mo_assessment_normalization_delegate.py
  recidiviz/calculator/pipeline/utils/state_utils/us_nd/us_nd_assessment_normalization_delegate.py
  recidiviz/calculator/pipeline/utils/state_utils/us_or/us_or_assessment_normalization_delegate.py
  recidiviz/calculator/pipeline/utils/state_utils/us_oz/us_oz_assessment_normalization_delegate.py
  recidiviz/calculator/pipeline/utils/state_utils/us_pa/us_pa_assessment_normalization_delegate.py
  recidiviz/calculator/pipeline/utils/state_utils/us_tn/us_tn_assessment_normalization_delegate.py
  recidiviz/tests/calculator/pipeline/metrics/incarceration/pipeline_test.py
  recidiviz/tests/calculator/pipeline/metrics/program/pipeline_test.py
  recidiviz/tests/calculator/pipeline/metrics/supervision/pipeline_test.py
  recidiviz/tests/calculator/pipeline/normalization/comprehensive/entity_normalizer_test.py
  recidiviz/tests/calculator/pipeline/normalization/comprehensive/pipeline_test.py
  recidiviz/tests/calculator/pipeline/normalization/utils/normalization_managers/assessment_normalization_manager_test.py
  recidiviz/tests/calculator/pipeline/utils/state_utils/state_calculation_config_manager_test.py
  recidiviz/tests/calculator/pipeline/utils/state_utils/us_id/us_id_assessment_normalization_delegate_test.py
  recidiviz/tests/calculator/pipeline/utils/state_utils/us_pa/us_pa_assessment_normalization_delegate_test.py
  recidiviz/tests/persistence/database/database_test_utils.py
Due: generate_docs_for_endpoint

[Perf] Materialize compartment_sessions_unnested into an unmanaged dataset (Recidiviz/recidiviz-data#15716)
  recidiviz/calculator/query/state/views/sessions/compartment_sessions_unnested.py
  recidiviz/tools/deploy/terraform/bigquery-scheduled-queries.tf
Due: generate_docs_for_endpoint

[Admin Panel] Static action headers and nav for Ingest Pages (Recidiviz/recidiviz-data#15185)
  frontends/admin-panel/src/components/IngestOperationsView/IngestInstanceCard.tsx
  frontends/admin-panel/src/components/IngestOperationsView/IngestInstanceCurrentStatusSummary.tsx
  frontends/admin-panel/src/components/IngestOperationsView/IngestOperationsComponents/IngestActionButton.tsx
  frontends/admin-panel/src/components/IngestOperationsView/IngestOperationsComponents/IngestInstanceActionsPageHeader.tsx
  frontends/admin-panel/src/components/IngestOperationsView/IngestOperationsComponents/IngestQueuesActionsPageHeader.tsx
  frontends/admin-panel/src/components/IngestOperationsView/IngestPageHeader.tsx
  frontends/admin-panel/src/components/IngestOperationsView/IngestStateSpecificInstanceMetadata.tsx
  frontends/admin-panel/src/components/IngestOperationsView/IngestStateSpecificMetadata.tsx
  frontends/admin-panel/src/components/IngestOperationsView/StateSpecificIngestIngestQueues.tsx
  frontends/admin-panel/src/components/IngestOperationsView/ingestStatusUtils.ts
Due: none

[Bugfix] Fix typos in scheduled BQ queries (Recidiviz/recidiviz-data#15719)
  recidiviz/tools/deploy/terraform/bigquery-scheduled-queries.tf
Due: generate_docs_for_endpoint

Remove noisy checksum log that has never proved useful (Recidiviz/recidiviz-data#15710)
  recidiviz/cloud_storage/verifiable_bytes_reader.py
Due: generate_docs_for_endpoint

[Admin Panel] add sub-page links to ingest status (Recidiviz/recidiviz-data#15147)
  frontends/admin-panel/src/components/IngestOperationsView/IngestInstanceCard.tsx
  frontends/admin-panel/src/components/IngestOperationsView/IngestStateSpecificMetadata.tsx
  frontends/admin-panel/src/components/IngestOperationsView/constants.ts
  frontends/admin-panel/src/components/Utilities/GeneralUtilities.tsx
  frontends/admin-panel/src/style/App.css
Due: none

Adds officer-level aggregated metrics (Recidiviz/recidiviz-data#15675)
  recidiviz/calculator/query/state/views/analyst_data/supervision_aggregated_metrics.py
  recidiviz/calculator/query/state/views/analyst_data/supervision_unnested_metrics.py
Due: generate_docs_for_endpoint

Update issue templates (Recidiviz/recidiviz-data#15604)
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/ingest_rerun.md
  .github/ISSUE_TEMPLATE/state_data_ask.md
  .github/ISSUE_TEMPLATE/validation_error.md
Due: none

[US_MI] Add supervision population external validation (Recidiviz/recidiviz-data#15498)
  recidiviz/validation/configured_validations.py
  recidiviz/validation/views/external_data/regions/us_mi/cb_971_report_supervision_unified.py
  recidiviz/validation/views/external_data/regions/us_mi/supervision_population_by_type.py
  recidiviz/validation/views/external_data/supervision_population_by_type.py
  recidiviz/validation/views/state/supervision_population_by_type_external_comparison.py
  recidiviz/validation/views/view_config.py
Due: generate_docs_for_endpoint

[US_MI] Revise supervision periods view based on validations (Recidiviz/recidiviz-data#15513)
  recidiviz/ingest/direct/regions/us_mi/ingest_mappings/us_mi_supervision_periods.yaml
  recidiviz/ingest/direct/regions/us_mi/ingest_views/view_supervision_periods.py
  recidiviz/ingest/direct/regions/us_mi/us_mi_custom_enum_parsers.py
Due: generate_docs_for_region, generate_docs_for_endpoint

[Justice Counts] Bulk upload fixes for Supervision agencies (Recidiviz/recidiviz-data#15700)
  recidiviz/justice_counts/bulk_upload/bulk_upload.py
  recidiviz/justice_counts/control_panel/routes/api.py
  recidiviz/justice_counts/metrics/metric_interface.py
  recidiviz/justice_counts/spreadsheet.py
  recidiviz/tests/justice_counts/bulk_upload/bulk_upload_fixtures/supervision/supervision_metrics.xlsx
  recidiviz/tests/justice_counts/bulk_upload/bulk_upload_test.py
  recidiviz/tests/justice_counts/spreadsheet_test.py
  recidiviz/tools/justice_counts/control_panel/create_upload_template.py
Due: generate_docs_for_endpoint

[US_MI] Turn on validations and bump error thresholds as appropriate (Recidiviz/recidiviz-data#15588)
  recidiviz/tests/validation/validation_manager_test.py
  recidiviz/validation/config/regions/us_mi/us_mi_validation_config.yaml
Due: generate_docs_for_endpoint

Adds incarceration by violation type metrics (Recidiviz/recidiviz-data#15698)
  recidiviz/calculator/query/state/views/analyst_data/person_events.py
  recidiviz/calculator/query/state/views/analyst_data/supervision_aggregated_metrics.py
  recidiviz/calculator/query/state/views/analyst_data/supervision_unnested_metrics.py
Due: generate_docs_for_endpoint

[Admin Panel] Do not calculate data freshness every 15 min (Recidiviz/recidiviz-data#15738)
  recidiviz/admin_panel/ingest_metadata_store.py
Due: generate_docs_for_endpoint

[US_ID][Workflows] Adds Drug Court, Transfer Chrono, LSU status (Recidiviz/recidiviz-data#15667)
  recidiviz/calculator/pipeline/supplemental/us_id_case_note_extracted_entities/us_id_text_analysis_configuration.py
Due: generate_docs_for_endpoint

[Ingest] Allow status transition from INGEST_VIEW_MATERIALIZATION to UP_TO_DATE (Recidiviz/recidiviz-data#15743)
  recidiviz/ingest/direct/metadata/direct_ingest_instance_status_manager.py
  recidiviz/tests/ingest/direct/metadata/postgres_direct_ingest_instance_status_manager_test.py
Due: generate_docs_for_endpoint

[Justice Counts] don't overwrite existing total if inferred total is greater than 0 (Recidiviz/recidiviz-data#15741)
  recidiviz/justice_counts/datapoint.py
  recidiviz/tests/justice_counts/bulk_upload/bulk_upload_fixtures/law_enforcement/law_enforcement_mismatched_totals.xlsx
  recidiviz/tests/justice_counts/bulk_upload/bulk_upload_test.py
Due: generate_docs_for_endpoint

[Justice Counts] If datapoint history is an invalid number, keep type as string. (Recidiviz/recidiviz-data#15709)
  recidiviz/justice_counts/datapoint.py
  recidiviz/persistence/database/schema/justice_counts/schema.py
  recidiviz/tests/justice_counts/datapoint_test.py
Due: generate_docs_for_endpoint

[Justice Counts] Tweak some errors copy (Recidiviz/recidiviz-data#15727)
  recidiviz/justice_counts/bulk_upload/bulk_upload.py
  recidiviz/justice_counts/bulk_upload/bulk_upload_helpers.py
  recidiviz/justice_counts/exceptions.py
  recidiviz/tests/justice_counts/bulk_upload/bulk_upload_test.py
  recidiviz/tests/justice_counts/spreadsheet_test.py
Due: generate_docs_for_endpoint

[Workflows] Include .json at end of record export name (Recidiviz/recidiviz-data#15745)
  recidiviz/tests/workflows/etl/workflows_opportunity_etl_delegate_test.py
  recidiviz/workflows/etl/workflows_opportunity_etl_delegate.py
Due: generate_docs_for_endpoint

Fixes incarceration by type metrics (Recidiviz/recidiviz-data#15751)
  recidiviz/calculator/query/state/views/analyst_data/supervision_aggregated_metrics.py
Due: generate_docs_for_endpoint

Update the status table view to show the date / time on the status row in readable text Closes Recidiviz/recidiviz-data#13791
  frontends/admin-panel/src/components/IngestOperationsView/IngestInstanceCurrentStatusSummary.tsx
  frontends/admin-panel/src/components/IngestOperationsView/constants.ts
  frontends/admin-panel/src/components/IngestOperationsView/ingestStatusUtils.ts
  recidiviz/admin_panel/routes/ingest_ops.py
Due: generate_docs_for_endpoint

Reconfiguring pipelines to support non-population metrics for all time (Recidiviz/recidiviz-data#15721)
  recidiviz/calculator/dataflow_config.py
  recidiviz/calculator/pipeline/calculation_pipeline_templates.yaml
  recidiviz/tests/calculator/calculation_data_storage_manager_test.py
Due: generate_docs_for_endpoint

Calculate PSA-like metric - redux (Recidiviz/recidiviz-data#15551)
  recidiviz/calculator/query/state/views/analyst_data/analyst_data_views.py
  recidiviz/calculator/query/state/views/analyst_data/psa_risk_scores.py
Due: generate_docs_for_endpoint

[US_ME] Add raw data config for validation table (Recidiviz/recidiviz-data#13281)
  recidiviz/ingest/direct/regions/us_me/raw_data/us_me_SUPERVISION_POPULATION_BY_OFFICER.yaml
Due: generate_docs_for_region, generate_docs_for_endpoint

Refactoring calc to use NormalizedStateAssessment (Recidiviz/recidiviz-data#15757)
  recidiviz/calculator/pipeline/metrics/incarceration/identifier.py
  recidiviz/calculator/pipeline/metrics/program/identifier.py
  recidiviz/calculator/pipeline/metrics/supervision/identifier.py
  recidiviz/calculator/pipeline/metrics/utils/supervision_case_compliance_manager.py
  recidiviz/calculator/pipeline/utils/assessment_utils.py
  recidiviz/calculator/pipeline/utils/state_utils/state_calculation_config_manager.py
  recidiviz/tests/calculator/pipeline/metrics/incarceration/identifier_test.py
  recidiviz/tests/calculator/pipeline/metrics/incarceration/pipeline_test.py
  recidiviz/tests/calculator/pipeline/metrics/program/identifier_test.py
  recidiviz/tests/calculator/pipeline/metrics/program/pipeline_test.py
  recidiviz/tests/calculator/pipeline/metrics/supervision/identifier_test.py
  recidiviz/tests/calculator/pipeline/metrics/supervision/pipeline_test.py
  recidiviz/tests/calculator/pipeline/metrics/utils/supervision_case_compliance_manager_test.py
  recidiviz/tests/calculator/pipeline/utils/assessment_utils_test.py
  recidiviz/tests/calculator/pipeline/utils/state_utils/us_id/us_id_supervision_compliance_test.py
  recidiviz/tests/calculator/pipeline/utils/state_utils/us_nd/us_nd_supervision_compliance_test.py
  recidiviz/tests/calculator/pipeline/utils/state_utils/us_pa/us_pa_supervision_compliance_test.py
Due: generate_docs_for_endpoint

[US_PA] Program_assignment ingest view adding in Hist_Treatment table (Recidiviz/recidiviz-data#15620)
  recidiviz/ingest/direct/regions/us_pa/ingest_views/view_program_assignment.py
Due: generate_docs_for_region, generate_docs_for_endpoint

[US_CO] Incarceration Sentence view and tests (Recidiviz/recidiviz-data#14351)
  recidiviz/ingest/direct/regions/us_co/ingest_mappings/us_co_IncarcerationSentence.yaml
  recidiviz/ingest/direct/regions/us_co/ingest_views/view_IncarcerationSentence.py
  recidiviz/ingest/direct/regions/us_co/raw_data/us_co_eomis_commitmentsummary.yaml
  recidiviz/ingest/direct/regions/us_co/raw_data/us_co_eomis_sentencecomponent.yaml
  recidiviz/ingest/direct/regions/us_co/us_co_controller.py
Due: generate_docs_for_region, generate_docs_for_endpoint

[Workflows] Add FTRD eligibility to client record (Recidiviz/recidiviz-data#15752)
  recidiviz/calculator/query/state/views/workflows/us_id/supervision_clients_template.py
  recidiviz/calculator/query/state/views/workflows/us_nd/supervision_clients_template.py
  recidiviz/calculator/query/state/views/workflows/us_tn/supervision_clients_template.py
  recidiviz/tests/workflows/etl/fixtures/client_record.json
  recidiviz/tests/workflows/etl/workflows_client_etl_delegate_test.py
  recidiviz/workflows/etl/workflows_client_etl_delegate.py
Due: generate_docs_for_endpoint

[US_ID][Workflows] TES logic updates (Recidiviz/recidiviz-data#15532)
  recidiviz/calculator/query/state/views/workflows/firestore/us_id_complete_discharge_early_from_supervision_request_record.py
  recidiviz/calculator/query/state/views/workflows/firestore/us_id_complete_transfer_to_limited_supervision_form_record.py
  recidiviz/task_eligibility/candidate_populations/general/active_supervision_population_not_limited.py
  recidiviz/task_eligibility/criteria/general/negative_ua_within_90_days.py
  recidiviz/task_eligibility/criteria/general/on_probation_at_least_one_year.py
  recidiviz/task_eligibility/criteria/general/supervision_past_half_full_term_release_date.py
  recidiviz/task_eligibility/criteria/state_specific/us_id/lsir_level_low_moderate_for_x_days.py
  recidiviz/task_eligibility/eligibility_spans/us_id/complete_discharge_early_from_probation_supervision_request.py
  recidiviz/task_eligibility/eligibility_spans/us_id/complete_transfer_to_limited_supervision_form.py
Due: generate_docs_for_endpoint

[Aurora] Make permissions grant non-authoritative for BigQuery Admin (Recidiviz/recidiviz-data#15781)
  recidiviz/tools/deploy/terraform/bigquery-scheduled-queries.tf
Due: generate_docs_for_endpoint

[Validations] Run one /validate endpoint call per state (Recidiviz/recidiviz-data#15696)
  recidiviz/airflow/dags/calculation_pipeline_dags.py
  recidiviz/airflow/tests/calculation_pipeline_dags_test.py
  recidiviz/big_query/big_query_row_streamer.py
  recidiviz/tests/tools/validate_source_modifications_test.py
  recidiviz/tests/validation/validation_manager_test.py
  recidiviz/tests/validation/validation_result_storage_test.py
  recidiviz/tools/deploy/terraform/cloud-task-queues.tf
  recidiviz/tools/run_validations.py
  recidiviz/validation/validation_manager.py
  recidiviz/validation/validation_result_storage.py
Due: generate_docs_for_endpoint

[Justice Counts] Playtesting followups and bug fixes (Recidiviz/recidiviz-data#15759)
  recidiviz/justice_counts/bulk_upload/bulk_upload.py
  recidiviz/justice_counts/datapoint.py
  recidiviz/justice_counts/exceptions.py
  recidiviz/justice_counts/report.py
  recidiviz/persistence/database/schema/justice_counts/schema.py
  recidiviz/tests/justice_counts/spreadsheet_test.py
Due: generate_docs_for_endpoint

[US_MO] Adding tables related to AdSeg (Recidiviz/recidiviz-data#15516)
  recidiviz/ingest/direct/regions/us_mo/raw_data/us_mo_LBAKRDTA_TAK293.yaml
  recidiviz/ingest/direct/regions/us_mo/raw_data/us_mo_LBAKRDTA_TAK294.yaml
Due: generate_docs_for_region, generate_docs_for_endpoint

[Admin Panel] Do not change flashing step text based on current status (Recidiviz/recidiviz-data#15782)
  frontends/admin-panel/src/components/FlashDatabaseChecklist.tsx
Due: none

Adding in judge information for docstars charges (Recidiviz/recidiviz-data#15804)
  recidiviz/ingest/direct/regions/us_nd/ingest_mappings/us_nd_docstars_offensestable.yaml
  recidiviz/ingest/direct/regions/us_nd/ingest_views/view_docstars_offensestable.py
Due: generate_docs_for_region, generate_docs_for_endpoint

Path conditions:
  generate_docs_for_region: any of: ^recidiviz/ingest/direct/regions/
  generate_docs_for_endpoint: any of: ^recidiviz/, but not: (?x)(^recidiviz/tests/|^recidiviz/tools/|^recidiviz/ingest/direct/regions/)$

  generate_entity_documentation: any of: (?x)(^recidiviz/persistence/database/schema/state/schema.py|^recidiviz/persistence/database/schema/history_table_shared_columns_mixin.py)$

