Repository Recidiviz/pulse-data: changes, and which pre-commit hooks are due for each by the changed paths.
All: generate_docs_for_region, generate_docs_for_endpoint, generate_entity_documentation, generate_calc_documentation, generate_ingest_mappings_schema_documentation, update_terraform_lock_file

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.3.0
    hooks:
      - id: check-yaml
  - repo: https://github.com/psf/black
    rev: 22.3.0
    hooks:
      # This runs on py, pyi, and ipynb files.
      - id: black-jupyter
        language_version: python3
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v2.5.1
    hooks:
      - id: prettier
        types_or: [yaml]
  - repo: https://github.com/pycqa/isort
    rev: 5.6.4
    hooks:
      - id: isort
        name: isort (python)
      - id: isort
        name: isort (pyi)
        types: [pyi]
  - repo: local
    hooks:
      - id: generate_docs_for_region
        name: generate_docs_for_region
        entry: pipenv run python -m recidiviz.tools.docs.region_documentation_generator
        language: system
        files: ^recidiviz/ingest/direct/regions/
        require_serial: true
      - id: generate_docs_for_endpoint
        name: generate_docs_for_endpoint
        entry: pipenv run python -m recidiviz.tools.docs.endpoint_documentation_generator
        language: system
        files: ^recidiviz/
        exclude: >
          (?x)(^recidiviz/tests/|^recidiviz/tools/|^recidiviz/ingest/direct/regions/)$
        require_serial: true
      - id: generate_entity_documentation
        name: generate_entity_documentation
        entry: pipenv run python -m recidiviz.tools.docs.entity_documentation_generator
        language: system
        files: >
          (?x)(^recidiviz/persistence/database/schema/state/schema.py|^recidiviz/persistence/database/schema/history_table_shared_columns_mixin.py|^recidiviz/common/constants/state/)$
        require_serial: true
      - id: generate_calc_documentation
        name: generate_calc_documentation
        entry: pipenv run python -m recidiviz.calculator.calculation_documentation_generator
        language: system
        files: ^recidiviz/calculator/|^recidiviz/metrics/|^recidiviz/.*/views/|^recidiviz/big_query/|^recidiviz/persistence/database/schema/|^recidiviz/persistence/entity/|^recidiviz/task_eligibility/
        exclude: ^recidiviz/tests/|^recidiviz/calculator/modeling/
        require_serial: true
      - id: generate_ingest_mappings_schema_documentation
        name: generate_ingest_mappings_schema_documentation
        entry: pipenv run python -m recidiviz.tools.docs.ingest_mappings_schema_documentation_generator
        language: system
        files: ^recidiviz/ingest/direct/ingest_mappings/yaml_schema/|^docs/engineering/ingest_mapping_schema/
        require_serial: true
      - id: update_terraform_lock_file
        name: update_terraform_lock_file
        entry: recidiviz/tools/deploy/update_terraform_lock.sh
        language: script
        files: ^recidiviz/tools/deploy/terraform/
        require_serial: true

initial (Recidiviz/recidiviz-data#15263)
  recidiviz/ingest/direct/metadata/direct_ingest_instance_status_manager.py
  recidiviz/ingest/direct/metadata/postgres_direct_ingest_instance_status_manager.py
Due: generate_docs_for_endpoint

[Bugfix] Update housing sessions CTE name (Recidiviz/recidiviz-data#15268)
  recidiviz/calculator/query/state/views/sessions/us_mo/us_mo_housing_stay_sessions.py
Due: generate_docs_for_endpoint, generate_calc_documentation

[BigQuery] Some fixes to make view query generation deterministic (Recidiviz/recidiviz-data#15246)
  recidiviz/calculator/query/bq_utils.py
  recidiviz/calculator/query/justice_counts/views/metric_calculator.py
  recidiviz/calculator/query/state/state_specific_query_strings.py
Due: generate_docs_for_endpoint, generate_calc_documentation

[US_ID][Workflows] Fuzzy match fix, change to lower case (Recidiviz/recidiviz-data#15273)
  recidiviz/calculator/pipeline/supplemental/us_id_case_note_extracted_entities/us_id_text_analysis_configuration.py
Due: generate_docs_for_endpoint, generate_calc_documentation

Fix Raw Data Pruning Script (Recidiviz/recidiviz-data#15242)
  recidiviz/tools/ingest/one_offs/clear_redundant_raw_data_on_bq_remote_helper.py
Due: generate_docs_for_endpoint

initial (Recidiviz/recidiviz-data#15279)
  recidiviz/persistence/database/migrations/operations/versions/2022_09_13_1409_0e66bcee6c96_add_instance_status_or.py
  recidiviz/tests/persistence/database/migrations_test.py
Due: generate_docs_for_endpoint

[Cloud SQL] Add Python bindings for `cloudsql_proxy_control.sh` (Recidiviz/recidiviz-data#15251)
  recidiviz/tools/postgres/cloudsql_proxy_control.py
Due: generate_docs_for_endpoint

Update dockerfile to pull Justice Counts frontend from new GH repo Recidiviz/recidiviz-data#14936
  Dockerfile
  recidiviz/justice_counts/control_panel/server.py
Due: generate_docs_for_endpoint

[Cloud SQL] Add verify method which checks if the proxy is running / did run successfully (Recidiviz/recidiviz-data#15252)
  recidiviz/tools/postgres/cloudsql_proxy_control.sh
  recidiviz/tools/postgres/script_helpers.sh
Due: generate_docs_for_endpoint

[US_MI] Update sftp downloads post processing to handle misconfigured zip files and file names with numeric characters (Recidiviz/recidiviz-data#15230)
  recidiviz/ingest/direct/direct_ingest_control.py
  recidiviz/ingest/direct/regions/us_mi/us_mi_sftp_download_delegate.py
  recidiviz/ingest/direct/sftp/download_files_from_sftp.py
  recidiviz/tests/ingest/direct/direct_ingest_control_test.py
Due: generate_docs_for_region, generate_docs_for_endpoint

Add view for supervision projected completion date spans (Recidiviz/recidiviz-data#15180)
  recidiviz/calculator/query/state/views/sessions/sentences_preprocessed.py
  recidiviz/calculator/query/state/views/sessions/sessions_views.py
  recidiviz/calculator/query/state/views/sessions/supervision_projected_completion_date_spans.py
  recidiviz/calculator/query/state/views/workflows/us_nd/supervision_clients_template.py
Due: generate_docs_for_endpoint, generate_calc_documentation

[Admin Panel] Ingest Table Storage Bucket Links (Recidiviz/recidiviz-data#15104)
  frontends/admin-panel/src/components/IngestOperationsView/IngestOperationsComponents/RawDataHasConfigFileCellContents.tsx
  frontends/admin-panel/src/components/IngestOperationsView/IngestOperationsComponents/RawDataLatestProcessedDateCellContents.tsx
  frontends/admin-panel/src/components/IngestOperationsView/IngestRawFileProcessingStatusTable.tsx
  frontends/admin-panel/src/components/IngestOperationsView/constants.ts
  recidiviz/admin_panel/ingest_operations_store.py
  recidiviz/ingest/direct/metadata/direct_ingest_file_metadata_manager.py
  recidiviz/persistence/database/schema/operations/dao.py
  recidiviz/tests/admin_panel/ingest_operations_store_test.py
  recidiviz/tests/ingest/direct/metadata/postgres_direct_ingest_file_metadata_manager_test.py
Due: generate_docs_for_endpoint, generate_calc_documentation

add queue status (Recidiviz/recidiviz-data#14941)
  frontends/admin-panel/src/components/IngestOperationsView/IngestInstanceCurrentStatusSummary.tsx
  frontends/admin-panel/src/components/IngestOperationsView/constants.ts
  frontends/admin-panel/src/components/IngestOperationsView/ingestStatusUtils.ts
  frontends/admin-panel/src/style/App.css
Due: none

US_MI update last OOR report date (Recidiviz/recidiviz-data#15192)
  recidiviz/validation/views/external_data/regions/us_mi/oor_report_unified.py
Due: generate_docs_for_endpoint, generate_calc_documentation

[Autogenerated] Update Pipfile.lock (Recidiviz/recidiviz-data#15205)
  Pipfile.lock
Due: none

[US_ND] Merging StateCharge and StateCourtCase ingest to double-write fields (Recidiviz/recidiviz-data#15282)
  recidiviz/ingest/direct/regions/us_nd/ingest_mappings/us_nd_elite_orderstable.yaml
  recidiviz/ingest/direct/regions/us_nd/ingest_mappings/us_nd_elite_state_charges.yaml
  recidiviz/ingest/direct/regions/us_nd/ingest_views/view_elite_orderstable.py
  recidiviz/ingest/direct/regions/us_nd/ingest_views/view_elite_state_charges.py
  recidiviz/ingest/direct/regions/us_nd/us_nd_controller.py
  recidiviz/persistence/database/migrations/state/versions/2022_09_13_1215_2cad1cf3061a_adjust_nd_charge.py
Due: generate_docs_for_region, generate_docs_for_endpoint

Fixes issue with session id's for discontiguous sessions (Recidiviz/recidiviz-data#15277)
  recidiviz/calculator/query/state/views/sessions/supervision_level_sessions.py
  recidiviz/calculator/query/state/views/sessions/supervision_officer_sessions.py
Due: generate_docs_for_endpoint, generate_calc_documentation

[Justice Counts][1/n] Just log (don't error) on version conflict Recidiviz/recidiviz-data#15231
  recidiviz/justice_counts/control_panel/routes/api.py
  recidiviz/tests/justice_counts/control_panel/server_test.py
Due: generate_docs_for_endpoint

initial (Recidiviz/recidiviz-data#15298)
  recidiviz/tools/ingest/one_offs/clear_redundant_raw_data_on_bq.py
Due: generate_docs_for_endpoint

initial (Recidiviz/recidiviz-data#15299)
  recidiviz/common/constants/operations/direct_ingest_instance_status.py
  recidiviz/common/constants/operations/enum_canonical_strings.py
  recidiviz/ingest/direct/metadata/direct_ingest_instance_status_manager.py
  recidiviz/persistence/database/migrations/operations/versions/2022_09_14_1111_6656c163a20f_add_flash_cancellation_enum.py
  recidiviz/persistence/database/schema/operations/schema.py
  recidiviz/tests/ingest/direct/metadata/postgres_direct_ingest_instance_status_manager_test.py
Due: generate_docs_for_endpoint, generate_calc_documentation

Add YAML schema for raw data files (Recidiviz/recidiviz-data#15232)
  recidiviz/ingest/direct/raw_data/direct_ingest_raw_file_import_manager.py
  recidiviz/ingest/direct/raw_data/yaml_schema/schema.json
  recidiviz/ingest/direct/regions/us_co/raw_data/us_co_eomis_inmateprofile.yaml
Due: generate_docs_for_region, generate_docs_for_endpoint

fix prison release type typo (Recidiviz/recidiviz-data#15307)
  recidiviz/justice_counts/dimensions/dimension_registry.py
  recidiviz/justice_counts/dimensions/jails_and_prisons.py
  recidiviz/justice_counts/metricfiles/prisons.py
  recidiviz/justice_counts/metrics/prisons.py
Due: generate_docs_for_endpoint

[1/n] [Justice Counts] defer to existing aggregate values when inferring sums from breakdowns (Recidiviz/recidiviz-data#15072)
  recidiviz/justice_counts/bulk_upload/bulk_upload.py
  recidiviz/justice_counts/datapoint.py
  recidiviz/justice_counts/spreadsheet.py
  recidiviz/tests/justice_counts/bulk_upload/bulk_upload_fixtures/law_enforcement/law_enforcement_mismatched_totals.xlsx
  recidiviz/tests/justice_counts/bulk_upload/bulk_upload_test.py
Due: generate_docs_for_endpoint

[US_OZ] Add raw data config for validation file (Recidiviz/recidiviz-data#15290)
  recidiviz/ingest/direct/regions/us_oz/ingest_views/view_vfds_periods.py
  recidiviz/ingest/direct/regions/us_oz/ingest_views/view_vfds_person.py
  recidiviz/ingest/direct/regions/us_oz/raw_data/us_oz_validation_incarceration_population.yaml
  recidiviz/ingest/direct/regions/us_oz/raw_data/us_oz_vfds_favorite_food.yaml
  recidiviz/ingest/direct/regions/us_oz/raw_data/us_oz_vfds_person.yaml
Due: generate_docs_for_region, generate_docs_for_endpoint

[BigQuery] Update load_views_to_sandbox to allow for specifying specific views and datasets at the same time (Recidiviz/recidiviz-data#15202)
  recidiviz/big_query/big_query_view_sub_dag_collector.py
  recidiviz/big_query/view_update_manager.py
  recidiviz/tests/big_query/big_query_view_dag_walker_test.py
  recidiviz/tests/big_query/big_query_view_sub_dag_collector_test.py
  recidiviz/tools/calculator/compare_metric_view_output_to_sandbox.py
  recidiviz/tools/load_views_to_sandbox.py
Due: generate_docs_for_endpoint, generate_calc_documentation

[US_OZ] Fix date parsing in ingest views (Recidiviz/recidiviz-data#15310)
  recidiviz/ingest/direct/regions/us_oz/ingest_views/view_vfds_periods.py
  recidiviz/ingest/direct/regions/us_oz/ingest_views/view_vfds_person.py
Due: generate_docs_for_region, generate_docs_for_endpoint

[US_ID][Workflows] Criteria spans for felonies/misdemeanors/income/nco using sub session helper (Recidiviz/recidiviz-data#15203)
  recidiviz/task_eligibility/criteria/general/no_felony_within_24_months.py
  recidiviz/task_eligibility/criteria/general/no_violent_misdemeanor_within_12_months.py
  recidiviz/task_eligibility/criteria/state_specific/us_id/income_verified_within_3_months.py
  recidiviz/task_eligibility/criteria/state_specific/us_id/no_active_nco.py
  recidiviz/task_eligibility/eligibility_spans/us_id/complete_discharge_early_from_parole_dual_supervision_request.py
  recidiviz/task_eligibility/eligibility_spans/us_id/complete_discharge_early_from_probation_supervision_request.py
Due: generate_docs_for_endpoint, generate_calc_documentation

[BigQuery] Add auto mode to load_views_to_sandbox that loads views downstream of changed views (Recidiviz/recidiviz-data#15249)
  recidiviz/big_query/big_query_address.py
  recidiviz/big_query/view_update_manager.py
  recidiviz/common/git.py
  recidiviz/ingest/direct/ingest_mappings/ingest_view_manifest.py
  recidiviz/tools/load_views_to_sandbox.py
  recidiviz/tools/migrations/purge_state_db.py
  recidiviz/view_registry/deployed_views.py
Due: generate_docs_for_endpoint, generate_calc_documentation

[Cleanup] Remove unnecessary references to state_court_case from a few views (Recidiviz/recidiviz-data#15311)
  recidiviz/calculator/query/state/views/reference/incarceration_period_judicial_district_association.py
  recidiviz/calculator/query/state/views/reference/sentence_judicial_district_association.py
  recidiviz/calculator/query/state/views/reference/supervision_period_judicial_district_association.py
Due: generate_docs_for_endpoint, generate_calc_documentation

[Tools] Small load_views_to_sandbox fixes (Recidiviz/recidiviz-data#15317)
  recidiviz/tools/load_views_to_sandbox.py
Due: generate_docs_for_endpoint

Removing state_court_case from views (Recidiviz/recidiviz-data#15318)
  recidiviz/calculator/query/state/views/reference/sentence_judicial_district_association.py
  recidiviz/calculator/query/state/views/sessions/charges_preprocessed.py
Due: generate_docs_for_endpoint, generate_calc_documentation

remove infer_aggregate_value from bulkUpload (Recidiviz/recidiviz-data#15314)
  frontends/admin-panel/src/components/JusticeCountsTools/BulkUpload.tsx
  recidiviz/admin_panel/routes/justice_counts_tools.py
  recidiviz/justice_counts/bulk_upload/bulk_upload.py
  recidiviz/justice_counts/spreadsheet.py
  recidiviz/tests/justice_counts/bulk_upload/bulk_upload_test.py
Due: generate_docs_for_endpoint

Moving more incarceration views to use the unnested views (Recidiviz/recidiviz-data#14990)
  recidiviz/calculator/query/state/state_specific_query_strings.py
  recidiviz/calculator/query/state/views/dashboard/pathways/event_level/prison_population_by_dimension.py
  recidiviz/calculator/query/state/views/dashboard/pathways/event_level/prison_population_over_time.py
  recidiviz/calculator/query/state/views/dashboard/pathways/event_level/prison_population_person_level.py
  recidiviz/calculator/query/state/views/dashboard/pathways/prison_population_snapshot_by_dimension.py
  recidiviz/calculator/query/state/views/dashboard/pathways/prison_population_snapshot_person_level.py
  recidiviz/calculator/query/state/views/dashboard/pathways/prison_population_time_series.py
Due: generate_docs_for_endpoint, generate_calc_documentation

[US_ID][Workflows] Add metadata notes query for ED from probation and parole/dual (Recidiviz/recidiviz-data#15162)
  recidiviz/calculator/query/state/views/workflows/firestore/complete_discharge_early_from_supervision_us_id_record.py
  recidiviz/calculator/query/state/views/workflows/firestore/firestore_views.py
  recidiviz/calculator/query/state/views/workflows/us_id/__init__.py
Due: generate_docs_for_endpoint, generate_calc_documentation

[US_OZ] Actually fix date parsing (Recidiviz/recidiviz-data#15313)
  recidiviz/ingest/direct/regions/us_oz/ingest_views/view_vfds_periods.py
  recidiviz/ingest/direct/regions/us_oz/ingest_views/view_vfds_person.py
Due: generate_docs_for_region, generate_docs_for_endpoint

Adding and updating california raw data yaml configs (Recidiviz/recidiviz-data#15296)
  recidiviz/ingest/direct/regions/us_ca/raw_data/us_ca_AgentParole.yaml
  recidiviz/ingest/direct/regions/us_ca/raw_data/us_ca_AliasInCustody.yaml
  recidiviz/ingest/direct/regions/us_ca/raw_data/us_ca_AssessmentInCustody.yaml
  recidiviz/ingest/direct/regions/us_ca/raw_data/us_ca_CDCNOInCustody.yaml
  recidiviz/ingest/direct/regions/us_ca/raw_data/us_ca_ChargeInCustody.yaml
  recidiviz/ingest/direct/regions/us_ca/raw_data/us_ca_Delta.yaml
  recidiviz/ingest/direct/regions/us_ca/raw_data/us_ca_HoldInCustody.yaml
  recidiviz/ingest/direct/regions/us_ca/raw_data/us_ca_IncarcerationInCustody.yaml
  recidiviz/ingest/direct/regions/us_ca/raw_data/us_ca_IncarcerationIncident.yaml
  recidiviz/ingest/direct/regions/us_ca/raw_data/us_ca_IncarcerationSentence.yaml
  recidiviz/ingest/direct/regions/us_ca/raw_data/us_ca_ParoleViolation.yaml
  recidiviz/ingest/direct/regions/us_ca/raw_data/us_ca_PersonInCustody.yaml
  recidiviz/ingest/direct/regions/us_ca/raw_data/us_ca_PersonParole.yaml
  recidiviz/ingest/direct/regions/us_ca/raw_data/us_ca_ProgramAssignment.yaml
  recidiviz/ingest/direct/regions/us_ca/raw_data/us_ca_RVRSanctions.yaml
  recidiviz/ingest/direct/regions/us_ca/raw_data/us_ca_SpecialConditionParole.yaml
  recidiviz/ingest/direct/regions/us_ca/raw_data/us_ca_SupervisionContact.yaml
  recidiviz/ingest/direct/regions/us_ca/raw_data/us_ca_SupervisionSentence.yaml
Due: generate_docs_for_region, generate_docs_for_endpoint

[Justice Counts] Ignore lifecycle changes on JC Cloud Run service (Recidiviz/recidiviz-data#15309)
  recidiviz/tools/deploy/terraform/cloud-run.tf
Due: generate_docs_for_endpoint, update_terraform_lock_file

Add descriptions to CHARGE and SENTENCE, add raw data config for ERD (Recidiviz/recidiviz-data#15324)
  recidiviz/ingest/direct/regions/us_mi/raw_data/us_mi_ADH_OFFENDER_CHARGE.yaml
  recidiviz/ingest/direct/regions/us_mi/raw_data/us_mi_ADH_OFFENDER_ERD.yaml
  recidiviz/ingest/direct/regions/us_mi/raw_data/us_mi_ADH_OFFENDER_SENTENCE.yaml
Due: generate_docs_for_region, generate_docs_for_endpoint

initial (Recidiviz/recidiviz-data#15328)
  frontends/admin-panel/src/components/FlashDatabaseChecklist.tsx
Due: none
