Repository Recidiviz/pulse-data: changes, and which pre-commit hooks are due for each by the changed paths.
All: generate_docs_for_region, generate_docs_for_endpoint, generate_entity_documentation, generate_calc_documentation, generate_ingest_mappings_schema_documentation, update_terraform_lock_file

generate_docs_for_region:
  name: generate_docs_for_region
  entry: pipenv run python -m recidiviz.tools.docs.region_documentation_generator
  language: system
  require_serial: true

generate_docs_for_endpoint:
  name: generate_docs_for_endpoint
  entry: pipenv run python -m recidiviz.tools.docs.endpoint_documentation_generator
  language: system
  require_serial: true

generate_entity_documentation:
  name: generate_entity_documentation
  entry: pipenv run python -m recidiviz.tools.docs.entity_documentation_generator
  language: system
  require_serial: true

generate_calc_documentation:
  name: generate_calc_documentation
  entry: pipenv run python -m recidiviz.calculator.calculation_documentation_generator
  language: system
  require_serial: true

generate_ingest_mappings_schema_documentation:
  name: generate_ingest_mappings_schema_documentation
  entry: pipenv run python -m recidiviz.tools.docs.ingest_mappings_schema_documentation_generator
  language: system
  require_serial: true

update_terraform_lock_file:
  name: update_terraform_lock_file
  entry: recidiviz/tools/deploy/update_terraform_lock.sh
  language: script
  require_serial: true

[Outliers] Implement OutliersQuerier and logic for officer-level report data (Recidiviz/recidiviz-data#21027)
  recidiviz/outliers/__init__.py
  recidiviz/outliers/querier/__init__.py
  recidiviz/outliers/querier/querier.py
  recidiviz/tests/outliers/__init__.py
  recidiviz/tests/outliers/querier_test.py
  recidiviz/tools/outliers/fixtures/supervision_officers.csv
  recidiviz/tools/outliers/fixtures/supervision_state_metrics.csv
Due: generate_docs_for_endpoint

[US_TN] Validation views bug fix - restrict to end dates greater than start dates (Recidiviz/recidiviz-data#20986)
  recidiviz/calculator/query/state/views/analyst_data/us_tn/us_tn_exemptions_preprocessed.py
  recidiviz/calculator/query/state/views/analyst_data/us_tn/us_tn_invoices_preprocessed.py
Due: generate_docs_for_endpoint, generate_calc_documentation

[US_TN] Fixing bad sentence date in DisciplinaryIncidentsView (Recidiviz/recidiviz-data#21096)
  recidiviz/ingest/direct/regions/us_tn/us_tn_custom_parsers.py
Due: generate_docs_for_region, generate_docs_for_endpoint

[DAG] Add ability to filter `calculation_dag` run by `state_code` (Recidiviz/recidiviz-data#20780)
  recidiviz/airflow/dags/calculation_dag.py
  recidiviz/airflow/dags/utils/state_code_branch.py
  recidiviz/airflow/tests/calculation_dag_test.py
  recidiviz/airflow/tests/utils/__init__.py
  recidiviz/airflow/tests/utils/state_code_branch_test.py
Due: generate_docs_for_endpoint

[US_ME] [Workflows] Add distinct to supervision conditions (Recidiviz/recidiviz-data#21116)
  recidiviz/calculator/query/state/views/workflows/firestore/us_me_complete_early_termination_record.py
Due: generate_docs_for_endpoint, generate_calc_documentation

Add endpoint for `is_ingest_in_dataflow_enabled` (Recidiviz/recidiviz-data#21008)
  frontends/admin-panel/src/AdminPanelAPI/IngestOperations.ts
  recidiviz/admin_panel/routes/ingest_ops.py
  recidiviz/ingest/direct/gating.py
Due: generate_docs_for_endpoint

[Justice Counts] Handle source_id in between state (Recidiviz/recidiviz-data#21113)
  recidiviz/justice_counts/datapoint.py
Due: generate_docs_for_endpoint

Update Raw Data Metadata Schema Types When Appending Diffs To Original Raw Data Tables (Recidiviz/recidiviz-data#21126)
  recidiviz/ingest/direct/views/raw_data_diff_query_builder.py
  recidiviz/tests/big_query/big_query_test_helper.py
  recidiviz/tests/ingest/direct/raw_data/raw_data_diff_fixtures/multipleColPrimaryKeyHistoricalManyIsDeleted/expected_diff.csv
  recidiviz/tests/ingest/direct/raw_data/raw_data_diff_fixtures/singlePrimaryKey/expected_diff.csv
Due: generate_docs_for_endpoint, generate_calc_documentation

[Justice Counts] Add is_superagency column and send to FE (Recidiviz/recidiviz-data#21087)
  frontends/admin-panel/src/AdminPanelAPI/JusticeCountsTools.ts
  frontends/admin-panel/src/components/JusticeCountsTools/SuperAgencyProvisioningView.tsx
  frontends/admin-panel/src/components/JusticeCountsTools/constants.ts
  recidiviz/admin_panel/routes/justice_counts_tools.py
  recidiviz/justice_counts/agency.py
  recidiviz/justice_counts/control_panel/routes/api.py
  recidiviz/justice_counts/jobs/create_new_reports.py
  recidiviz/justice_counts/spreadsheet.py
  recidiviz/persistence/database/migrations/justice_counts/versions/2023_05_24_1317_9d49a18ef071_add_is_superagency_col.py
  recidiviz/persistence/database/schema/justice_counts/schema.py
  recidiviz/tests/justice_counts/agency_test.py
  recidiviz/tests/justice_counts/bulk_upload/bulk_upload_test.py
  recidiviz/tests/justice_counts/utils/utils.py
Due: generate_docs_for_endpoint, generate_calc_documentation

[asset-generation] text wrap in chart (Recidiviz/recidiviz-data#21107)
  nodejs/asset-generation/src/components/OutliersMetricChart/OutliersMetricChart.test.tsx
  nodejs/asset-generation/src/components/OutliersMetricChart/OutliersMetricChart.tsx
  nodejs/asset-generation/src/components/OutliersMetricChart/RowLabel.tsx
  nodejs/asset-generation/src/components/OutliersMetricChart/__image_snapshots__/outliers-metric-chart-test-tsx-src-components-outliers-metric-chart-outliers-metric-chart-test-tsx-image-rendering-1-snap.png
  nodejs/asset-generation/src/components/OutliersMetricChart/__snapshots__/OfficerChart.svg
  nodejs/asset-generation/src/components/OutliersMetricChart/constants.ts
  nodejs/asset-generation/src/components/OutliersMetricChart/fixtures.ts
  nodejs/asset-generation/src/components/characterWidths/PublicSans-Medium.ts
  nodejs/asset-generation/src/components/utils.test.tsx
  nodejs/asset-generation/src/components/utils.tsx
  nodejs/asset-generation/src/server/generate/outliersMetricChart/route.test.ts
Due: none

[Justice Counts] filter out context datapoints (Recidiviz/recidiviz-data#21125)
  recidiviz/justice_counts/control_panel/routes/api.py
Due: generate_docs_for_endpoint

[US_TN] CLD Criteria Queries - try 2 (Recidiviz/recidiviz-data#20774)
  recidiviz/calculator/query/state/views/analyst_data/us_tn/us_tn_recommended_custody_level_spans.py
  recidiviz/calculator/query/state/views/sessions/custody_level_dedup_priority.py
  recidiviz/calculator/query/state/views/sessions/sessions_views.py
  recidiviz/task_eligibility/criteria/general/custody_level_higher_than_recommended.py
  recidiviz/task_eligibility/criteria/general/custody_level_is_not_max.py
  recidiviz/task_eligibility/criteria/state_specific/us_tn/at_least_6_months_since_most_recent_incarceration_incident.py
  recidiviz/task_eligibility/criteria/state_specific/us_tn/has_had_at_least_1_incarceration_incident_past_year.py
  recidiviz/task_eligibility/eligibility_spans/us_tn/custody_level_downgrade.py
  recidiviz/task_eligibility/utils/state_dataset_query_fragments.py
  recidiviz/tests/big_query/big_query_view_dag_walker_test.py
Due: generate_docs_for_endpoint, generate_calc_documentation

[US_TN] Custody level downgrade completion event (Recidiviz/recidiviz-data#20973)
  recidiviz/calculator/query/state/views/sessions/custody_level_sessions.py
  recidiviz/task_eligibility/completion_events/general/custody_level_downgrade.py
  recidiviz/task_eligibility/eligibility_spans/us_tn/custody_level_downgrade.py
  recidiviz/task_eligibility/task_completion_event_big_query_view_builder.py
Due: generate_docs_for_endpoint, generate_calc_documentation

Fixing terraform plan for metadata.json (Recidiviz/recidiviz-data#21145)
  recidiviz/tools/deploy/terraform/dataflow-flex.tf
Due: generate_docs_for_endpoint, update_terraform_lock_file

[US_TN] Custody Level Downgrade Opportunity Record Query (Recidiviz/recidiviz-data#20585)
  recidiviz/calculator/query/state/views/analyst_data/us_tn/us_tn_caf_q8.py
  recidiviz/calculator/query/state/views/workflows/firestore/firestore_views.py
  recidiviz/calculator/query/state/views/workflows/firestore/us_tn_custody_level_downgrade_record.py
  recidiviz/calculator/query/state/views/workflows/firestore/us_tn_full_term_supervision_discharge_record.py
  recidiviz/task_eligibility/utils/state_dataset_query_fragments.py
  recidiviz/task_eligibility/utils/us_tn_query_fragments.py
Due: generate_docs_for_endpoint, generate_calc_documentation

[Ingest View Tests] Migrate tests that were failing due to datetime formatting (Recidiviz/recidiviz-data#21131)
  .github/workflows/ci.yml
  Pipfile
  recidiviz/tests/big_query/big_query_emulator_test.py
Due: generate_docs_for_endpoint

[US_IX] [Workflows] Added case numbers to us_ix_complete_transfer_to_limited_supervision_form_record (Recidiviz/recidiviz-data#21094)
  recidiviz/calculator/query/state/views/sessions/us_ix/us_ix_consecutive_sentences_preprocessed.py
  recidiviz/calculator/query/state/views/workflows/firestore/us_ix_complete_transfer_to_limited_supervision_form_record.py
Due: generate_docs_for_endpoint, generate_calc_documentation

Updating state_code_branch to have a DummyOperator in between (Recidiviz/recidiviz-data#21148)
  recidiviz/airflow/dags/utils/state_code_branch.py
  recidiviz/airflow/tests/utils/state_code_branch_test.py
Due: generate_docs_for_endpoint

Fix ID for `eg_movements` in Ingest View (Recidiviz/recidiviz-data#21147)
  recidiviz/ingest/direct/regions/us_oz/ingest_views/view_eg_movements.py
Due: generate_docs_for_region, generate_docs_for_endpoint

[US_ME] Hydrate StateStaff (Recidiviz/recidiviz-data#21076)
  recidiviz/ingest/direct/regions/us_me/ingest_mappings/us_me_supervision_staff.yaml
  recidiviz/ingest/direct/regions/us_me/ingest_views/view_supervision_staff.py
  recidiviz/ingest/direct/regions/us_me/us_me_controller.py
Due: generate_docs_for_region, generate_docs_for_endpoint

[US_ME] [Workflows] Change start dates in client_record for ME (Recidiviz/recidiviz-data#21143)
  recidiviz/calculator/query/state/views/workflows/firestore/client_record_ctes.py
Due: generate_docs_for_endpoint, generate_calc_documentation

Custody level sessions fix (Recidiviz/recidiviz-data#21151)
  recidiviz/calculator/query/state/views/sessions/custody_level_sessions.py
Due: generate_docs_for_endpoint, generate_calc_documentation

[US_ND] Change early termination update date source (Recidiviz/recidiviz-data#21140)
  recidiviz/ingest/direct/regions/us_nd/ingest_mappings/us_nd_docstars_offenders_early_term.yaml
  recidiviz/ingest/direct/regions/us_nd/ingest_views/view_docstars_offenders_early_term.py
Due: generate_docs_for_region, generate_docs_for_endpoint

[US_MI] Revise incarceration periods (Recidiviz/recidiviz-data#20702)
  recidiviz/ingest/direct/regions/us_mi/ingest_mappings/us_mi_incarceration_periods_v2.yaml
  recidiviz/ingest/direct/regions/us_mi/ingest_views/view_incarceration_periods_v2.py
  recidiviz/ingest/direct/regions/us_mi/raw_data/us_mi_ADH_OFFENDER_EXTERNAL_MOVEMENT.yaml
  recidiviz/ingest/direct/regions/us_mi/raw_data/us_mi_ADH_OFFENDER_LOCK.yaml
Due: generate_docs_for_region, generate_docs_for_endpoint

[US_MI][Workflows] Add IC_OUT clients to early discharge opportunity (Recidiviz/recidiviz-data#20294)
  recidiviz/calculator/query/state/views/workflows/firestore/us_mi_complete_classification_review_form_record.py
  recidiviz/calculator/query/state/views/workflows/firestore/us_mi_complete_discharge_early_from_supervision_request_record.py
  recidiviz/task_eligibility/criteria/general/custodial_authority_is_supervision_authority_or_other_state.py
  recidiviz/task_eligibility/criteria/general/serving_at_least_one_year_on_parole_supervision_or_supervision_out_of_state.py
  recidiviz/task_eligibility/criteria/general/supervision_or_supervision_out_of_state_level_is_not_high.py
  recidiviz/task_eligibility/criteria/general/supervision_or_supervision_out_of_state_past_half_full_term_release_date.py
  recidiviz/task_eligibility/criteria/state_specific/us_mi/supervision_level_is_not_sai.py
  recidiviz/task_eligibility/criteria/state_specific/us_mi/supervision_or_supervision_out_of_state_level_is_not_sai.py
  recidiviz/task_eligibility/criteria/state_specific/us_mi/supervision_or_supervision_out_of_state_level_is_sai.py
  recidiviz/task_eligibility/eligibility_spans/us_mi/complete_discharge_early_from_parole_dual_supervision_request.py
  recidiviz/task_eligibility/eligibility_spans/us_mi/complete_discharge_early_from_probation_supervision_request.py
  recidiviz/task_eligibility/eligibility_spans/us_mi/supervision_level_downgrade.py
Due: generate_docs_for_endpoint, generate_calc_documentation

[US_MI] Raw case plan data: adding descriptions to YAML files (Recidiviz/recidiviz-data#21153)
  recidiviz/ingest/direct/regions/us_mi/raw_data/us_mi_ADH_PLAN_DETAIL.yaml
  recidiviz/ingest/direct/regions/us_mi/raw_data/us_mi_ADH_PLAN_OF_SUPERVISION.yaml
  recidiviz/ingest/direct/regions/us_mi/raw_data/us_mi_ADH_PLAN_PROGRESS.yaml
Due: generate_docs_for_region, generate_docs_for_endpoint

[Airflow] Exclude metric export branch for states with no exports (Recidiviz/recidiviz-data#21162)
  recidiviz/airflow/dags/calculation_dag.py
Due: generate_docs_for_endpoint

[Platform] Add ability for `update_all_managed_views` to take `sandbox_prefix` in request (Recidiviz/recidiviz-data#21106)
  recidiviz/big_query/success_persister.py
  recidiviz/big_query/view_update_manager.py
  recidiviz/tests/big_query/view_update_manager_test.py
Due: generate_docs_for_endpoint, generate_calc_documentation

[US_MI] Add two enum raw text values for incarceration periods (Recidiviz/recidiviz-data#21163)
  recidiviz/ingest/direct/regions/us_mi/ingest_mappings/us_mi_incarceration_periods_v2.yaml
Due: generate_docs_for_region, generate_docs_for_endpoint

[Outliers] Add US_PA specific logic for officer supervisors view (Recidiviz/recidiviz-data#21164)
  recidiviz/calculator/query/state/views/outliers/supervision_officer_supervisors.py
Due: generate_docs_for_endpoint, generate_calc_documentation

[Outliers] add rate limiter to asset generation endpoints (Recidiviz/recidiviz-data#21144)
  nodejs/asset-generation/package.json
  nodejs/asset-generation/src/server.tsx
  nodejs/asset-generation/yarn.lock
Due: none

[US_MI][Workflows] Change criteria name (Recidiviz/recidiviz-data#21189)
  recidiviz/task_eligibility/criteria/state_specific/us_mi/past_initial_classification_review_date.py
Due: generate_docs_for_endpoint, generate_calc_documentation

Adds more state staff attributes to `supervision_officer_attribute_sessions` (Recidiviz/recidiviz-data#21084)
  recidiviz/aggregated_metrics/misc_aggregated_metrics.py
  recidiviz/calculator/query/sessions_query_fragments.py
  recidiviz/calculator/query/state/views/sessions/supervision_officer_attribute_sessions.py
Due: generate_docs_for_endpoint, generate_calc_documentation

[Workflows] Modify milestone text to use year/month language (Recidiviz/recidiviz-data#21080)
  recidiviz/calculator/query/state/views/workflows/firestore/client_record_ctes.py
Due: generate_docs_for_endpoint, generate_calc_documentation

[US_TN] Adding staging secondary gating for DisciplinaryIncarcerationIncident (Recidiviz/recidiviz-data#21194)
  recidiviz/ingest/direct/regions/us_tn/us_tn_controller.py
Due: generate_docs_for_region, generate_docs_for_endpoint

[Platform] Update Lock Manager to lock for ingest instance (Recidiviz/recidiviz-data#21014)
  recidiviz/cloud_storage/gcs_pseudo_lock_manager.py
  recidiviz/ingest/direct/controllers/direct_ingest_region_lock_manager.py
  recidiviz/persistence/database/bq_refresh/cloud_sql_to_bq_lock_manager.py
  recidiviz/persistence/database/bq_refresh/cloud_sql_to_bq_refresh_control.py
  recidiviz/pipelines/normalized_state_update_lock_manager.py
  recidiviz/tests/persistence/database/bq_refresh/cloud_sql_to_bq_lock_manager_test.py
  recidiviz/tests/persistence/database/bq_refresh/cloud_sql_to_bq_refresh_control_test.py
  recidiviz/tests/pipelines/normalized_state_update_lock_manager_test.py
Due: generate_docs_for_endpoint

[US_ND] Add external IDs to supervision violation responses (Recidiviz/recidiviz-data#21188)
  recidiviz/ingest/direct/regions/us_nd/ingest_mappings/us_nd_docstars_offendercasestable_with_officers.yaml
  recidiviz/persistence/database/migrations/state/versions/2023_05_30_1036_2071ae47b07f_hydrate_ext_id.py
Due: generate_docs_for_region, generate_docs_for_endpoint

Add workflow opportunity config for TN custodyLevelDowngrade (Recidiviz/recidiviz-data#21218)
  recidiviz/calculator/query/state/views/reference/workflows_opportunity_configs.py
Due: generate_docs_for_endpoint, generate_calc_documentation

[US_PA] Add StateStaffRoleSubtype (Recidiviz/recidiviz-data#21069)
  recidiviz/ingest/direct/regions/us_pa/ingest_mappings/us_pa_supervision_staff_role_period.yaml
  recidiviz/ingest/direct/regions/us_pa/us_pa_custom_enum_parsers.py
Due: generate_docs_for_region, generate_docs_for_endpoint

Path conditions:
  generate_docs_for_region: any of: ^recidiviz/ingest/direct/regions/
  generate_docs_for_endpoint: any of: ^recidiviz/, but not: (?x)(^recidiviz/tests/|^recidiviz/tools/|^recidiviz/ingest/direct/regions/)$

  generate_entity_documentation: any of: (?x)(^recidiviz/persistence/database/schema/state/schema.py|^recidiviz/persistence/database/schema/history_table_shared_columns_mixin.py|^recidiviz/common/constants/state/)$

  generate_calc_documentation: any of: ^recidiviz/calculator/|^recidiviz/metrics/|^recidiviz/.*/views/|^recidiviz/big_query/|^recidiviz/persistence/database/schema/|^recidiviz/persistence/entity/|^recidiviz/task_eligibility/, but not: ^recidiviz/tests/|^recidiviz/calculator/modeling/
  generate_ingest_mappings_schema_documentation: any of: ^recidiviz/ingest/direct/ingest_mappings/yaml_schema/|^docs/engineering/ingest_mapping_schema/
  update_terraform_lock_file: any of: ^recidiviz/tools/deploy/terraform/
