Repository Recidiviz/pulse-data: changes, and which pre-commit hooks are due for each by the changed paths.
All: generate_docs_for_region, generate_docs_for_endpoint, generate_entity_documentation, generate_calc_documentation, generate_ingest_mappings_schema_documentation, update_terraform_lock_file

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.3.0
    hooks:
      - id: check-yaml
  - repo: https://github.com/psf/black
    rev: 22.3.0
    hooks:
      # This runs on py, pyi, and ipynb files.
      - id: black-jupyter
        language_version: python3
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v2.5.1
    hooks:
      - id: prettier
        types_or: [yaml]
  - repo: https://github.com/pycqa/isort
    rev: 5.6.4
    hooks:
      - id: isort
        name: isort (python)
      - id: isort
        name: isort (pyi)
        types: [pyi]
  - repo: local
    hooks:
      - id: generate_docs_for_region
        name: generate_docs_for_region
        entry: pipenv run python -m recidiviz.tools.docs.region_documentation_generator
        language: system
        files: ^recidiviz/ingest/direct/regions/
        require_serial: true
      - id: generate_docs_for_endpoint
        name: generate_docs_for_endpoint
        entry: pipenv run python -m recidiviz.tools.docs.endpoint_documentation_generator
        language: system
        files: ^recidiviz/
        exclude: >
          (?x)(^recidiviz/tests/|^recidiviz/tools/|^recidiviz/ingest/direct/regions/)$
        require_serial: true
      - id: generate_entity_documentation
        name: generate_entity_documentation
        entry: pipenv run python -m recidiviz.tools.docs.entity_documentation_generator
        language: system
        files: >
          (?x)(^recidiviz/persistence/database/schema/state/schema.py|^recidiviz/persistence/database/schema/history_table_shared_columns_mixin.py|^recidiviz/common/constants/state/)$
        require_serial: true
      - id: generate_calc_documentation
        name: generate_calc_documentation
        entry: pipenv run python -m recidiviz.calculator.calculation_documentation_generator
        language: system
        files: ^recidiviz/calculator/|^recidiviz/metrics/|^recidiviz/.*/views/|^recidiviz/big_query/|^recidiviz/persistence/database/schema/|^recidiviz/persistence/entity/|^recidiviz/task_eligibility/
        exclude: ^recidiviz/tests/|^recidiviz/calculator/modeling/
        require_serial: true
      - id: generate_ingest_mappings_schema_documentation
        name: generate_ingest_mappings_schema_documentation
        entry: pipenv run python -m recidiviz.tools.docs.ingest_mappings_schema_documentation_generator
        language: system
        files: ^recidiviz/ingest/direct/ingest_mappings/yaml_schema/|^docs/engineering/ingest_mapping_schema/
        require_serial: true
      - id: update_terraform_lock_file
        name: update_terraform_lock_file
        entry: recidiviz/tools/deploy/update_terraform_lock.sh
        language: script
        files: ^recidiviz/tools/deploy/terraform/
        require_serial: true

[US_MI] Revise primary key for the ADH_OFFENDER_PROFILE_SUMMARY_WRK (Recidiviz/recidiviz-data#30742)
  recidiviz/ingest/direct/regions/us_mi/raw_data/us_mi_ADH_OFFENDER_PROFILE_SUMMARY_WRK.yaml
Due: generate_docs_for_region, generate_docs_for_endpoint

[US_MI] Add in new columns to COMPAS tables (Recidiviz/recidiviz-data#30729)
  recidiviz/ingest/direct/regions/us_mi/raw_data/us_mi_ADH_COALTERNATIVESCREENING.yaml
  recidiviz/ingest/direct/regions/us_mi/raw_data/us_mi_ADH_CORFSCALESET.yaml
  recidiviz/ingest/direct/regions/us_mi/raw_data/us_mi_ADH_SHUSER.yaml
Due: generate_docs_for_region, generate_docs_for_endpoint

Appears_with Validator (Recidiviz/recidiviz-data#30667)
  recidiviz/common/attr_validators.py
  recidiviz/tests/common/attr_validators_test.py
Due: generate_docs_for_endpoint

[US TN] Add joins for raw data looker dashboard (Recidiviz/recidiviz-data#30753)
  recidiviz/ingest/direct/regions/us_tn/raw_data/us_tn_AssignedStaff.yaml
  recidiviz/ingest/direct/regions/us_tn/raw_data/us_tn_CAFScore.yaml
  recidiviz/ingest/direct/regions/us_tn/raw_data/us_tn_Disciplinary.yaml
  recidiviz/ingest/direct/regions/us_tn/raw_data/us_tn_OffenderMovement.yaml
  recidiviz/ingest/direct/regions/us_tn/raw_data/us_tn_Sentence.yaml
Due: generate_docs_for_region, generate_docs_for_endpoint

[Bug fix] Fixes aggregation syntax for EventDistinctUnitCount (Recidiviz/recidiviz-data#30740)
  recidiviz/aggregated_metrics/models/aggregated_metric.py
Due: generate_docs_for_endpoint

[Utils] Refactor / bugfixes for attr_utils.py (Recidiviz/recidiviz-data#30738)
  recidiviz/common/attr_mixins.py
  recidiviz/common/attr_utils.py
  recidiviz/tests/common/attr_mixins_test.py
  recidiviz/tests/common/attr_utils_test.py
Due: generate_docs_for_endpoint

[BigQuery] Update ingest pipeline output dataset names (Recidiviz/recidiviz-data#30694)
  recidiviz/admin_panel/ingest_dataflow_operations.py
  recidiviz/admin_panel/routes/ingest_ops.py
  recidiviz/airflow/dags/calculation_dag.py
  recidiviz/airflow/tests/calculation_dag_test.py
  recidiviz/calculator/query/state/views/reference/us_mo_sentence_statuses.py
  recidiviz/entrypoints/ingest/update_state_dataset.py
  recidiviz/ingest/direct/dataset_config.py
  recidiviz/persistence/database/bq_refresh/union_dataflow_ingest.py
  recidiviz/pipelines/ingest/dataset_config.py
  recidiviz/pipelines/ingest/pipeline_parameters.py
  recidiviz/pipelines/ingest/state/gating.py
  recidiviz/pipelines/normalization/pipeline_parameters.py
  recidiviz/source_tables/ingest_pipeline_output_table_collector.py
  recidiviz/source_tables/source_table_config.py
  recidiviz/tests/entrypoints/ingest/update_state_dataset_test.py
  recidiviz/tests/ingest/direct/dataset_config_test.py
  recidiviz/tests/persistence/database/bq_refresh/union_dataflow_ingest_test.py
  recidiviz/tests/pipelines/calculation_pipeline_templates_yaml_test.py
  recidiviz/tests/pipelines/ingest/pipeline_parameters_test.py
  recidiviz/tests/pipelines/ingest/state/gating_test.py
  recidiviz/tests/pipelines/ingest/state/generate_ingest_view_results_test.py
  recidiviz/tests/pipelines/ingest/state/test_case.py
  recidiviz/tests/pipelines/normalization/pipeline_parameters_test.py
  recidiviz/tests/tools/calculator/create_or_update_dataflow_sandbox_test.py
  recidiviz/tests/tools/deploy/snapshots/snap_update_big_query_table_schemas_test.py
  recidiviz/tools/calculator/create_or_update_dataflow_sandbox.py
  recidiviz/tools/calculator/run_sandbox_calculation_pipeline.py
  recidiviz/tools/calculator/update_sandbox_normalized_state_dataset.py
  recidiviz/tools/deploy/update_big_query_table_schemas.py
  recidiviz/tools/ingest/development/full_sandbox_pipeline.sh
  recidiviz/tools/ingest/development/run_sandbox_ingest_pipeline.py
  recidiviz/tools/ingest/operations/ingest_stability_check.py
  recidiviz/tools/ingest/testing/validate_state_dataset.py
Due: generate_docs_for_endpoint, generate_calc_documentation

[Cleanup] Increase pipeline validate_source_visibilty strictness (Recidiviz/recidiviz-data#30715)
  recidiviz/ingest/direct/raw_data/direct_ingest_raw_file_import_manager.py
  recidiviz/ingest/direct/raw_data/direct_ingest_raw_file_pre_import_normalizer.py
  recidiviz/ingest/direct/raw_data/raw_file_configs.py
  recidiviz/ingest/direct/raw_data_table_schema_utils.py
  recidiviz/ingest/direct/views/direct_ingest_view_query_builder.py
  recidiviz/source_tables/collect_all_source_table_configs.py
  recidiviz/tests/ingest/direct/regions/ingest_view_query_test_case.py
  recidiviz/tests/ingest/direct/views/raw_data_diff_query_test_case.py
  recidiviz/tools/ingest/development/fetch_column_values_for_state.py
  recidiviz/tools/ingest/development/hydrate_datetime_sql_parsers.py
  recidiviz/tools/ingest/regions/us_ar/process_eomis_txt_files.py
  recidiviz/tools/validate_source_visibility.py
  recidiviz/validation/views/state/raw_data/stable_historical_raw_data_counts_validation.py
  recidiviz/validation/views/state/raw_data/stale_raw_data_validation.py
Due: generate_docs_for_endpoint, generate_calc_documentation

[US_AR] Sessionized OVG view (Recidiviz/recidiviz-data#30407)
  recidiviz/calculator/query/state/views/analyst_data/analyst_data_views.py
  recidiviz/calculator/query/state/views/analyst_data/us_ar/us_ar_ovg_events_preprocessed.py
  recidiviz/calculator/query/state/views/analyst_data/us_ar/us_ar_ovg_timeline.py
  recidiviz/tools/find_unused_bq_views.py
  recidiviz/view_registry/raw_data_reference_reasons.yaml
Due: generate_docs_for_endpoint, generate_calc_documentation

Change names to workflows_caseload and workflows_location (Recidiviz/recidiviz-data#30720)
  recidiviz/tools/looker/aggregated_metrics/custom_workflows_metrics_lookml_generator.py
Due: generate_docs_for_endpoint

insert json rows in one statement when importing to cloud sql (Recidiviz/recidiviz-data#30747)
  recidiviz/cloud_sql/gcs_import_to_cloud_sql.py
  recidiviz/tests/insights/utils.py
  recidiviz/tools/insights/load_local_db.py
Due: generate_docs_for_endpoint

[BigQuery] Allow field deletions for dataflow pipeline outputs and unioned normalized state collection (Recidiviz/recidiviz-data#30766)
  recidiviz/tools/deploy/update_big_query_table_schemas.py
Due: generate_docs_for_endpoint

[Deploy] Handle source table update case where clustering fields are both unset but of different empty values (Recidiviz/recidiviz-data#30765)
  recidiviz/source_tables/source_table_update_manager.py
  recidiviz/tests/source_tables/source_table_update_manager_test.py
Due: generate_docs_for_endpoint

Collapsed solitary confinement sessions (Recidiviz/recidiviz-data#30682)
  recidiviz/calculator/query/state/views/analyst_data/models/spans.py
  recidiviz/calculator/query/state/views/analyst_data/us_tn/us_tn_segregation_lists.py
  recidiviz/calculator/query/state/views/sessions/housing_unit_type_non_protective_custody_solitary_sessions.py
  recidiviz/calculator/query/state/views/sessions/sessions_views.py
  recidiviz/task_eligibility/completion_events/general/transfer_out_of_solitary_confinement.py
  recidiviz/task_eligibility/criteria/general/housing_unit_type_is_solitary_confinement.py
  recidiviz/task_eligibility/utils/us_mi_query_fragments.py
Due: generate_docs_for_endpoint, generate_calc_documentation

move product_roster_archive into export_archives dataset (Recidiviz/recidiviz-data#30768)
  recidiviz/tools/deploy/terraform/bigquery-scheduled-queries.tf
Due: generate_docs_for_endpoint, update_terraform_lock_file

Migrate more criteria to groups (Recidiviz/recidiviz-data#30751)
  recidiviz/task_eligibility/criteria/state_specific/us_ix/incarceration_within_6_months_of_ftcd_or_ped_or_tpd.py
  recidiviz/task_eligibility/criteria/state_specific/us_ix/no_sex_offender_alert.py
  recidiviz/task_eligibility/criteria/state_specific/us_ix/not_in_crc_facility.py
  recidiviz/task_eligibility/eligibility_spans/us_ix/transfer_to_crc_resident_worker_request.py
  recidiviz/task_eligibility/eligibility_spans/us_ix/transfer_to_crc_work_release_request.py
  recidiviz/task_eligibility/eligibility_spans/us_ix/transfer_to_xcrc_request.py
  recidiviz/task_eligibility/task_criteria_big_query_view_collector.py
  recidiviz/task_eligibility/task_criteria_group_big_query_view_builder.py
  recidiviz/tests/task_eligibility/task_criteria_group_big_query_view_builder_test.py
Due: generate_docs_for_endpoint, generate_calc_documentation

[US_CA] Infer IPs for in_custody SPs (Recidiviz/recidiviz-data#30696)
  recidiviz/pipelines/utils/incarceration_period_utils.py
  recidiviz/pipelines/utils/state_utils/us_ca/us_ca_incarceration_period_normalization_delegate.py
  recidiviz/tests/pipelines/utils/state_utils/us_ca/us_ca_incarceration_period_normalization_delegate_test.py
Due: generate_docs_for_endpoint

[raw data][airflow] Add raw file chunk normalization entrypoint (Recidiviz/recidiviz-data#30724)
  recidiviz/airflow/dags/operators/recidiviz_kubernetes_pod_operator.py
  recidiviz/airflow/dags/operators/recidiviz_kubernetes_resources.yaml
  recidiviz/airflow/dags/raw_data/gcs_file_processing_tasks.py
  recidiviz/airflow/tests/raw_data/gcs_file_processing_tasks_test.py
  recidiviz/entrypoints/entrypoint_executor.py
  recidiviz/entrypoints/raw_data/__init__.py
  recidiviz/entrypoints/raw_data/normalize_raw_file_chunks.py
  recidiviz/ingest/direct/types/raw_data_import_types.py
  recidiviz/tests/entrypoints/raw_data/__init__.py
  recidiviz/tests/entrypoints/raw_data/normalize_raw_file_chunks_test.py
  recidiviz/tests/ingest/direct/types/raw_data_import_types_test.py
Due: generate_docs_for_endpoint

[US_ND] Fixing duplicate ND emails (Recidiviz/recidiviz-data#29803)
  recidiviz/common/constants/state/external_id_types.py
  recidiviz/ingest/direct/regions/us_nd/ingest_mappings/us_nd_docstars_staff.yaml
  recidiviz/ingest/direct/regions/us_nd/ingest_views/view_docstars_staff.py
  recidiviz/pipelines/ingest/state/validator.py
Due: generate_docs_for_region, generate_docs_for_endpoint

[US TN] More joins to OffenderName (Recidiviz/recidiviz-data#30785)
  recidiviz/ingest/direct/regions/us_tn/raw_data/us_tn_Address.yaml
  recidiviz/ingest/direct/regions/us_tn/raw_data/us_tn_CellBedAssignment.yaml
  recidiviz/ingest/direct/regions/us_tn/raw_data/us_tn_Classification.yaml
  recidiviz/ingest/direct/regions/us_tn/raw_data/us_tn_ContactNoteType.yaml
  recidiviz/ingest/direct/regions/us_tn/raw_data/us_tn_DisciplinarySentence.yaml
  recidiviz/ingest/direct/regions/us_tn/raw_data/us_tn_Diversion.yaml
  recidiviz/ingest/direct/regions/us_tn/raw_data/us_tn_ISCRelatedSentence.yaml
  recidiviz/ingest/direct/regions/us_tn/raw_data/us_tn_ISCSentence.yaml
  recidiviz/ingest/direct/regions/us_tn/raw_data/us_tn_JOCharge.yaml
  recidiviz/ingest/direct/regions/us_tn/raw_data/us_tn_JOIdentification.yaml
  recidiviz/ingest/direct/regions/us_tn/raw_data/us_tn_JOMiscellaneous.yaml
  recidiviz/ingest/direct/regions/us_tn/raw_data/us_tn_JOSentence.yaml
  recidiviz/ingest/direct/regions/us_tn/raw_data/us_tn_JOSpecialConditions.yaml
  recidiviz/ingest/direct/regions/us_tn/raw_data/us_tn_OffenderAttributes.yaml
  recidiviz/ingest/direct/regions/us_tn/raw_data/us_tn_OffenderName.yaml
  recidiviz/ingest/direct/regions/us_tn/raw_data/us_tn_SentenceAction.yaml
  recidiviz/ingest/direct/regions/us_tn/raw_data/us_tn_SentenceMiscellaneous.yaml
  recidiviz/ingest/direct/regions/us_tn/raw_data/us_tn_SupervisionPlan.yaml
  recidiviz/ingest/direct/regions/us_tn/raw_data/us_tn_Violations.yaml
Due: generate_docs_for_region, generate_docs_for_endpoint

Add WORKFLOWS_CASELOAD and WORKFLOWS_LOCATION to JUSTICE_INVOLVED (Recidiviz/recidiviz-data#30777)
  recidiviz/aggregated_metrics/aggregated_metric_view_collector.py
Due: generate_docs_for_endpoint

[US_ID][JII] Add unit tests for send_id_lsu_texts.store_batch_id() (Recidiviz/recidiviz-data#30544)
  recidiviz/case_triage/jii/helpers.py
  recidiviz/case_triage/jii/send_id_lsu_texts.py
  recidiviz/tests/case_triage/jii/helpers_test.py
  recidiviz/tests/case_triage/jii/send_id_lsu_texts_test.py
  recidiviz/tests/case_triage/jii/utils.py
Due: generate_docs_for_endpoint

[BigQuery] Raise an exception when any of the parallelized update schema tasks fail (Recidiviz/recidiviz-data#30801)
  recidiviz/source_tables/source_table_update_manager.py
Due: generate_docs_for_endpoint

[US_AR] Supervision office location reference table (Recidiviz/recidiviz-data#30804)
  recidiviz/ingest/direct/regions/us_ar/raw_data/us_ar_RECIDIVIZ_REFERENCE_OFFICE_LOCATIONS.yaml
Due: generate_docs_for_region, generate_docs_for_endpoint

[Schema] Update UniqueConstraint to be hashable (Recidiviz/recidiviz-data#30775)
  recidiviz/persistence/entity/base_entity.py
  recidiviz/tests/persistence/entity/base_entity_test.py
Due: generate_docs_for_endpoint, generate_calc_documentation

[Validators] Add attr_validator that checks that items in a list have the correct type (Recidiviz/recidiviz-data#30776)
  recidiviz/common/attr_validators.py
  recidiviz/tests/common/attr_validators_test.py
Due: generate_docs_for_endpoint

[Testing] Allow ingest view fixture data to be transformed for parser test. (Recidiviz/recidiviz-data#30806)
  recidiviz/ingest/direct/ingest_mappings/ingest_view_manifest_compiler.py
  recidiviz/tests/ingest/direct/regions/state_ingest_view_parser_test_base.py
Due: generate_docs_for_endpoint

[Dataflow] Update ingest pipeline params with new normalization fields (Recidiviz/recidiviz-data#30697)
  recidiviz/pipelines/ingest/pipeline_parameters.py
  recidiviz/pipelines/ingest/state/pipeline.py
  recidiviz/pipelines/ingest/template_metadata.json
  recidiviz/pipelines/normalization/dataset_config.py
  recidiviz/source_tables/ingest_pipeline_output_table_collector.py
  recidiviz/tests/pipelines/ingest/pipeline_parameters_test.py
  recidiviz/tests/tools/calculator/create_or_update_dataflow_sandbox_test.py
  recidiviz/tools/calculator/create_or_update_dataflow_sandbox.py
  recidiviz/tools/ingest/development/run_sandbox_ingest_pipeline.py
Due: generate_docs_for_endpoint

[build] annotated-types to pipfile (Recidiviz/recidiviz-data#30811)
  Pipfile
  Pipfile.lock
Due: none

[Insights] Change insights_supervision_officers_archive file source (Recidiviz/recidiviz-data#30814)
  recidiviz/tools/deploy/terraform/bigquery.tf
Due: generate_docs_for_endpoint, update_terraform_lock_file

[US_CA] Validation bumps (Recidiviz/recidiviz-data#30784)
  recidiviz/validation/config/regions/us_ca/us_ca_validation_config.yaml
  recidiviz/validation/views/state/stable_counts/stable_counts.py
Due: generate_docs_for_endpoint, generate_calc_documentation

[US_CA] Don't ingest staff that aren't supervision officers (Recidiviz/recidiviz-data#30817)
  recidiviz/ingest/direct/regions/us_ca/ingest_views/view_staff.py
Due: generate_docs_for_region, generate_docs_for_endpoint

[Justice Counts] Remove System Column in Custom Templates for Supervision Agencies Without Subsystems (Recidiviz/recidiviz-data#30810)
  recidiviz/justice_counts/bulk_upload/template_generator.py
Due: generate_docs_for_endpoint

[US_ND] Add `always_historical_export` flag to FTR outcomes config (Recidiviz/recidiviz-data#30823)
  recidiviz/ingest/direct/regions/us_nd/raw_data/us_nd_docstars_ftr_outcomes.yaml
Due: generate_docs_for_region, generate_docs_for_endpoint

[US_IX] CRC changes (Recidiviz/recidiviz-data#30196)
  recidiviz/calculator/query/state/views/workflows/firestore/us_ix_transfer_to_crc_resident_worker_request_record.py
  recidiviz/calculator/query/state/views/workflows/firestore/us_ix_transfer_to_crc_work_release_request_record.py
  recidiviz/task_eligibility/criteria/general/incarceration_not_within_6_months_of_full_term_completion_date.py
  recidiviz/task_eligibility/criteria/general/incarceration_within_18_months_of_min_term_completion_date.py
  recidiviz/task_eligibility/criteria/state_specific/us_ix/in_crc_facility_or_pwcc_unit_1.py
  recidiviz/task_eligibility/criteria/state_specific/us_ix/incarceration_within_18_months_of_eprd.py
  recidiviz/task_eligibility/criteria/state_specific/us_ix/incarceration_within_18_months_of_eprd_and_15_years_of_ftcd.py
  recidiviz/task_eligibility/criteria/state_specific/us_ix/not_serving_a_rider_sentence.py
  recidiviz/task_eligibility/criteria/state_specific/us_ix/tentative_parole_date_not_within_6_months.py
  recidiviz/task_eligibility/eligibility_spans/us_ix/transfer_to_crc_resident_worker_request.py
  recidiviz/task_eligibility/eligibility_spans/us_ix/transfer_to_crc_work_release_request.py
  recidiviz/task_eligibility/utils/general_criteria_builders.py
  recidiviz/task_eligibility/utils/us_ix_query_fragments.py
  recidiviz/view_registry/raw_data_reference_reasons.yaml
Due: generate_docs_for_endpoint, generate_calc_documentation

Revert "[airflow] namedtuple curosr" (Recidiviz/recidiviz-data#30827)
  recidiviz/airflow/dags/operators/cloud_sql_query_operator.py
  recidiviz/airflow/dags/raw_data/acquire_resource_lock_sql_query_generator.py
  recidiviz/airflow/dags/raw_data/get_all_unprocessed_bq_file_metadata_sql_query_generator.py
  recidiviz/airflow/dags/raw_data/get_all_unprocessed_gcs_file_metadata_sql_query_generator.py
  recidiviz/airflow/dags/raw_data/metadata.py
  recidiviz/airflow/dags/raw_data/release_resource_lock_sql_query_generator.py
  recidiviz/airflow/dags/raw_data/types.py
  recidiviz/airflow/dags/utils/cloud_sql.py
  recidiviz/airflow/tests/raw_data/get_all_unprocessed_bq_file_metadata_sql_query_generator_test.py
  recidiviz/airflow/tests/raw_data/get_all_unprocessed_gcs_file_metadata_sql_query_generator_test.py
  recidiviz/airflow/tests/test_utils.py
Due: generate_docs_for_endpoint

[US_IX] Use income_verified_within_3_months to count employment verifications (Recidiviz/recidiviz-data#29882)
  recidiviz/calculator/query/state/views/workflows/firestore/us_ix_supervision_tasks_record.py
  recidiviz/pipelines/utils/state_utils/us_ix/us_ix_supervision_compliance.py
  recidiviz/tests/pipelines/metrics/utils/supervision_case_compliance_manager_test.py
Due: generate_docs_for_endpoint, generate_calc_documentation

Configures reason_v2 fields for TN task criteria view builders (Recidiviz/recidiviz-data#30188)
  recidiviz/task_eligibility/criteria/general/has_payments_3_consecutive_months.py
  recidiviz/task_eligibility/criteria/state_specific/us_tn/at_least_12_months_since_latest_assessment.py
  recidiviz/task_eligibility/criteria/state_specific/us_tn/fines_fees_eligible.py
  recidiviz/task_eligibility/criteria/state_specific/us_tn/ineligible_for_annual_reclassification.py
  recidiviz/task_eligibility/criteria/state_specific/us_tn/ineligible_for_compliant_reporting_no_further_requirement.py
  recidiviz/task_eligibility/criteria/state_specific/us_tn/ineligible_offenses_expired.py
  recidiviz/task_eligibility/criteria/state_specific/us_tn/latest_caf_assessment_not_override.py
  recidiviz/task_eligibility/criteria/state_specific/us_tn/no_arrests_in_past_year.py
  recidiviz/task_eligibility/criteria/state_specific/us_tn/no_dui_offense_in_past_5_years.py
  recidiviz/task_eligibility/criteria/state_specific/us_tn/no_high_sanctions_in_past_year.py
  recidiviz/task_eligibility/criteria/state_specific/us_tn/no_murder_convictions.py
  recidiviz/task_eligibility/criteria/state_specific/us_tn/no_prior_record_with_ineligible_cr_offense.py
  recidiviz/task_eligibility/criteria/state_specific/us_tn/no_recent_compliant_reporting_rejections.py
  recidiviz/task_eligibility/criteria/state_specific/us_tn/no_zero_tolerance_codes_spans.py
  recidiviz/task_eligibility/criteria/state_specific/us_tn/not_in_judicial_district_17_while_on_probation.py
  recidiviz/task_eligibility/criteria/state_specific/us_tn/not_on_life_sentence_or_lifetime_supervision.py
  recidiviz/task_eligibility/criteria/state_specific/us_tn/not_permanently_rejected_from_compliant_reporting.py
  recidiviz/task_eligibility/criteria/state_specific/us_tn/not_serving_ineligible_cr_offense.py
  recidiviz/task_eligibility/criteria/state_specific/us_tn/not_serving_unknown_cr_offense.py
  recidiviz/task_eligibility/criteria/state_specific/us_tn/on_eligible_level_for_sufficient_time.py
  recidiviz/task_eligibility/criteria/state_specific/us_tn/passed_drug_screen_check.py
  recidiviz/task_eligibility/criteria/state_specific/us_tn/special_conditions_are_current.py
  recidiviz/task_eligibility/criteria/state_specific/us_tn/supervision_level_higher_than_assessment_level.py
Due: generate_docs_for_endpoint, generate_calc_documentation

[US_IX] Adding saliva as valid sample type for drug assessment (Recidiviz/recidiviz-data#30564)
  recidiviz/calculator/query/state/views/workflows/firestore/us_ix_complete_transfer_to_limited_supervision_form_record.py
  recidiviz/calculator/query/state/views/workflows/firestore/us_ix_transfer_to_limited_supervision_jii_record.py
  recidiviz/case_triage/jii/helpers.py
  recidiviz/task_eligibility/criteria/general/negative_da_within_90_days.py
  recidiviz/task_eligibility/eligibility_spans/us_ix/complete_discharge_early_from_parole_dual_supervision_request.py
  recidiviz/task_eligibility/eligibility_spans/us_ix/complete_discharge_early_from_probation_supervision_request.py
  recidiviz/task_eligibility/eligibility_spans/us_ix/complete_transfer_to_limited_supervision_form.py
  recidiviz/tests/case_triage/jii/helpers_test.py
Due: generate_docs_for_endpoint, generate_calc_documentation

[US_TN] Fix zero day seg periods (Recidiviz/recidiviz-data#30735)
  recidiviz/calculator/query/state/views/analyst_data/us_tn/us_tn_segregation_stays_v2.py
Due: generate_docs_for_endpoint, generate_calc_documentation
