Repository Recidiviz/pulse-data: changes, and which pre-commit hooks are due for each by the changed paths.
All: generate_docs_for_region, generate_docs_for_endpoint, generate_entity_documentation

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.3.0
    hooks:
      - id: check-yaml
  - repo: https://github.com/psf/black
    rev: 20.8b1
    hooks:
      - id: black
        language_version: python3
  - repo: local
    hooks:
      - id: generate_docs_for_region
        name: generate_docs_for_region
        entry: pipenv run python -m recidiviz.tools.docs.region_documentation_generator
        language: system
        files: ^recidiviz/ingest/direct/regions/
        require_serial: true
      - id: generate_docs_for_endpoint
        name: generate_docs_for_endpoint
        entry: pipenv run python -m recidiviz.tools.docs.endpoint_documentation_generator
        language: system
        files: ^recidiviz/
        exclude: >
          (?x)(^recidiviz/tests/|^recidiviz/tools/|^recidiviz/ingest/direct/regions/)$
        require_serial: true
      - id: generate_entity_documentation
        name: generate_entity_documentation
        entry: pipenv run python -m recidiviz.tools.docs.entity_documentation_generator
        language: system
        files: >
           (?x)(^recidiviz/persistence/database/schema/state/schema.py|^recidiviz/persistence/database/schema/history_table_shared_columns_mixin.py)$
        require_serial: true

[Terraform] Turn off v1 database backups (Recidiviz/recidiviz-data#9030)
  recidiviz/tools/deploy/terraform/cloud-sql.tf
  recidiviz/tools/deploy/terraform/modules/cloud-sql-instance/main.tf
Due: generate_docs_for_endpoint

Make sure queue loading state is unset properly (Recidiviz/recidiviz-data#9044)
  frontends/admin-panel/src/components/IngestOperationsView/index.tsx
Due: none

[Migration] Add `OffenderMovement` MovementDateTime Fixes (Recidiviz/recidiviz-data#9023)
  recidiviz/tests/tools/validate_source_modifications_test.py
  recidiviz/tools/validate_source_modifications.py
Due: generate_docs_for_endpoint

[Ingest mappings] Change v2 syntax for literal values (Recidiviz/recidiviz-data#9043)
  recidiviz/ingest/direct/controllers/ingest_view_file_parser.py
  recidiviz/ingest/direct/regions/us_pa/us_pa_person_external_ids.yaml
  recidiviz/tests/ingest/direct/controllers/fixtures/ingest_view_file_parser/manifests/list_field_from_list_col.yaml
  recidiviz/tests/ingest/direct/controllers/fixtures/ingest_view_file_parser/manifests/list_field_from_multiple_list_col.yaml
  recidiviz/tests/ingest/direct/controllers/fixtures/ingest_view_file_parser/manifests/reused_column.yaml
  recidiviz/tests/ingest/direct/controllers/ingest_view_file_parser_test.py
Due: generate_docs_for_region, generate_docs_for_endpoint

adding additional 10 minutes to deploy for templates (Recidiviz/recidiviz-data#9048)
  recidiviz/tools/deploy/deploy_all_pipeline_templates.py
Due: generate_docs_for_endpoint

Adding a new enum to represent both collateral and direct (Recidiviz/recidiviz-data#9047)
  recidiviz/common/constants/state/enum_canonical_strings.py
  recidiviz/common/constants/state/state_supervision_contact.py
  recidiviz/persistence/database/migrations/state/versions/2021_08_27_1445_ff21279b54db_add_both_contact_type.py
  recidiviz/persistence/database/schema/state/schema.py
Due: generate_docs_for_endpoint, generate_entity_documentation

[Admin Panel] Add dark mode (Recidiviz/recidiviz-data#9046)
  frontends/admin-panel/src/style/App.css
Due: none

[Case Triage] require user's email address in auth token (Recidiviz/recidiviz-data#9050)
  recidiviz/case_triage/server.py
  recidiviz/case_triage/user_context.py
  recidiviz/tests/utils/auth/auth0_test.py
  recidiviz/utils/auth/auth0.py
Due: generate_docs_for_endpoint

Historical pipeline post-deploy DAG (Recidiviz/recidiviz-data#8874)
  recidiviz/airflow/dag/calculation_pipeline_dag.py
  recidiviz/calculator/calculation_data_storage_manager.py
  recidiviz/calculator/calculation_documentation_generator.py
  recidiviz/calculator/pipeline/pipeline_type.py
  recidiviz/calculator/pipeline/production_calculation_pipeline_templates.yaml
  recidiviz/calculator/pipeline/staging_only_calculation_pipeline_templates.yaml
  recidiviz/cloud_functions/cloud_function_utils.py
  recidiviz/cloud_functions/main.py
  recidiviz/persistence/database/bq_refresh/bq_refresh_cloud_task_manager.py
  recidiviz/persistence/database/bq_refresh/cloud_sql_to_bq_refresh_control.py
  recidiviz/tests/calculator/fake_production_calculation_pipeline_templates.yaml
  recidiviz/tests/persistence/database/bq_refresh/bq_refresh_cloud_task_manager_test.py
  recidiviz/tests/persistence/database/bq_refresh/cloud_sql_to_bq_refresh_control_test.py
  recidiviz/tools/calculator/compare_dataflow_output_to_sandbox.py
  recidiviz/tools/calculator/trigger_deployed_pipeline_template.py
  recidiviz/tools/deploy/dataflow_template_helpers.py
  recidiviz/tools/deploy/deploy_helpers.sh
  recidiviz/tools/deploy/terraform/cloud-functions.tf
  recidiviz/tools/deploy/terraform/historical-pipelines.tf
  recidiviz/tools/deploy/terraform/modules/historical-pipeline/main.tf
  recidiviz/tools/deploy/terraform/modules/historical-pipeline/variables.tf
Due: generate_docs_for_endpoint

[Terraform] Turn off point-in-time recovery if backups are off (Recidiviz/recidiviz-data#9060)
  recidiviz/tools/deploy/terraform/cloud-sql.tf
  recidiviz/tools/deploy/terraform/modules/cloud-sql-instance/main.tf
Due: generate_docs_for_endpoint

Increase wait time for GCS -> Cloud SQL ops (Recidiviz/recidiviz-data#9061)
  recidiviz/cloud_sql/cloud_sql_client.py
  recidiviz/cloud_sql/cloud_sql_export_to_gcs.py
  recidiviz/cloud_sql/gcs_import_to_cloud_sql.py
Due: generate_docs_for_endpoint

[Bug Fix] Fixing trigger_post_deploy_cloudsql_to_bq_refresh cloud function (Recidiviz/recidiviz-data#9065)
  recidiviz/cloud_functions/main.py
Due: generate_docs_for_endpoint

Update auth0-python package and use the built-in rate limiting feature (Recidiviz/recidiviz-data#9062)
  recidiviz/auth/auth0_client.py
  recidiviz/tests/auth/auth0_client_test.py
  stubs/auth0/v3/management/__init__.pyi
  stubs/auth0/v3/management/rest.pyi
Due: generate_docs_for_endpoint

[Schema Cleanup] Deprecate revocation_type for US_ND (Recidiviz/recidiviz-data#9013)
  recidiviz/ingest/direct/regions/us_nd/us_nd_controller.py
  recidiviz/ingest/direct/regions/us_nd/us_nd_docstars_offendercasestable_with_officers.yaml
  recidiviz/ingest/direct/regions/us_nd/us_nd_enum_helpers.py
  recidiviz/persistence/database/migrations/state/versions/2021_08_30_1835_ff4abfa45a61_delete_revocation_type_decisions_responses_nd.py
  recidiviz/persistence/entity/state/entities.py
  recidiviz/tests/persistence/ingest_info_converter/state/entity_helpers/state_supervision_violation_response_test.py
Due: generate_docs_for_region, generate_docs_for_endpoint

[Schema Cleanup] Delete `revocation_type` and `revocation_type_raw_text` on `StateSupervisionViolationResponse` (Recidiviz/recidiviz-data#9014)
  recidiviz/ingest/models/ingest_info.proto
  recidiviz/ingest/models/ingest_info.py
  recidiviz/ingest/models/ingest_info_pb2.py
  recidiviz/ingest/models/ingest_info_pb2.pyi
  recidiviz/persistence/database/migrations/state/versions/2021_08_30_1917_d1d60c10e782_drop_revocation_type_on_response.py
  recidiviz/persistence/database/schema/state/schema.py
  recidiviz/persistence/entity/state/entities.py
  recidiviz/persistence/ingest_info_converter/state/entity_helpers/state_supervision_violation_response.py
  recidiviz/tests/calculator/pipeline/supervision/pipeline_test.py
  recidiviz/tests/ingest/models/serialization_test.py
  recidiviz/tests/persistence/entity/state/entities_test_utils.py
  recidiviz/tests/persistence/ingest_info_converter/state/entity_helpers/state_supervision_violation_response_test.py
Due: generate_docs_for_endpoint, generate_entity_documentation

[Schema Cleanup] Deprecating revocation_type on entry US_ID, US_ND (Recidiviz/recidiviz-data#9026)
  recidiviz/persistence/entity/state/entities.py
  recidiviz/tests/calculator/pipeline/incarceration/identifier_test.py
  recidiviz/tests/calculator/pipeline/supervision/identifier_test.py
  recidiviz/tests/calculator/pipeline/utils/violation_utils_test.py
  recidiviz/tests/persistence/ingest_info_converter/state/state_converter_test.py
Due: generate_docs_for_endpoint

[Schema Cleanup] Deprecates revocation_type on StateSupervisionViolationResponseDecisionEntry for US_MO (Recidiviz/recidiviz-data#9027)
  recidiviz/ingest/direct/regions/us_mo/us_mo_controller.py
  recidiviz/persistence/database/migrations/field_deprecation_migration_template.txt
  recidiviz/persistence/database/migrations/state/versions/2021_08_30_2049_d38a342c35c5_drop_revocation_type_entry_us_mo.py
  recidiviz/persistence/entity/state/entities.py
  recidiviz/tools/create_field_deprecation_migration.py
Due: generate_docs_for_region, generate_docs_for_endpoint

[Ingest mappings] Add deserializing factories for StateCourtCase, StateEarlyDischarge, and StateIncarcerationIncident (Recidiviz/recidiviz-data#9008)
  recidiviz/persistence/entity/state/deserialize_entity_factories.py
  recidiviz/persistence/ingest_info_converter/state/entity_helpers/state_court_case.py
  recidiviz/persistence/ingest_info_converter/state/entity_helpers/state_early_discharge.py
  recidiviz/persistence/ingest_info_converter/state/entity_helpers/state_incarceration_incident.py
  recidiviz/persistence/ingest_info_converter/state/state_converter.py
  recidiviz/tests/persistence/ingest_info_converter/state/entity_helpers/state_court_case_test.py
  recidiviz/tests/persistence/ingest_info_converter/state/entity_helpers/state_early_discharge_test.py
  recidiviz/tests/persistence/ingest_info_converter/state/entity_helpers/state_incarceration_incident_test.py
Due: generate_docs_for_endpoint

adding comment for the primary key to documentation (Recidiviz/recidiviz-data#9051)
  recidiviz/ingest/direct/regions/us_pa/raw_data/us_pa_dbo_PRS_FACT_PAROLEE_CNTC_SUMRY.yaml
Due: generate_docs_for_region, generate_docs_for_endpoint

[Schema Cleanup] Deprecate `revocation_type` on StateSupervisionViolationResponseDecisionEntry US_PA (Recidiviz/recidiviz-data#9029)
  recidiviz/ingest/direct/regions/us_pa/us_pa_controller.py
  recidiviz/ingest/direct/regions/us_pa/us_pa_enum_helpers.py
  recidiviz/persistence/database/migrations/state/versions/2021_08_30_2050_4a79adec6c93_drop_revocation_type_entry_us_pa.py
  recidiviz/persistence/entity/state/entities.py
  recidiviz/tests/calculator/pipeline/utils/state_utils/us_pa/us_pa_incarceration_period_pre_processing_delegate_test.py
Due: generate_docs_for_region, generate_docs_for_endpoint

[Schema Cleanup] Final deletion of `revocation_type` and `StateSupervisionViolationResponseRevocationType` (Recidiviz/recidiviz-data#9031)
  recidiviz/common/constants/state/enum_canonical_strings.py
  recidiviz/common/constants/state/state_incarceration_period.py
  recidiviz/common/constants/state/state_supervision_violation_response.py
  recidiviz/ingest/models/ingest_info.proto
  recidiviz/ingest/models/ingest_info.py
  recidiviz/ingest/models/ingest_info_pb2.py
  recidiviz/ingest/models/ingest_info_pb2.pyi
  recidiviz/persistence/database/migrations/state/versions/2021_08_30_2056_f309c2067b6c_drop_revocation_type.py
  recidiviz/persistence/database/schema/state/schema.py
  recidiviz/persistence/entity/state/entities.py
  recidiviz/persistence/entity_matching/state/state_violation_matching_utils.py
  recidiviz/persistence/ingest_info_converter/state/entity_helpers/state_supervision_violation_response_decision_entry.py
  recidiviz/tests/persistence/database/database_test_utils.py
  recidiviz/tests/persistence/database/schema/state/schema_test.py
  recidiviz/tests/persistence/entity_matching/state/state_entity_matcher_test.py
  recidiviz/tests/persistence/entity_matching/state/state_violation_matching_utils_test.py
  recidiviz/tests/persistence/ingest_info_converter/state/state_converter_test.py
Due: generate_docs_for_endpoint, generate_entity_documentation

Updates ingest mappings for US_MO assessment data to match an unexpected API update from the state. (Recidiviz/recidiviz-data#9084)
  recidiviz/ingest/direct/regions/us_mo/raw_data/us_mo_FOCTEST_ORAS_ASSESSMENTS_WEEKLY.yaml
  recidiviz/ingest/direct/regions/us_mo/us_mo_oras_assessments_weekly.yaml
Due: generate_docs_for_region, generate_docs_for_endpoint

Fix purge script handling of alpha tags (Recidiviz/recidiviz-data#9091)
  recidiviz/tools/migrations/purge_state_db.py
Due: generate_docs_for_endpoint

[Data Quality] add second validation threshold (Recidiviz/recidiviz-data#8932)
  recidiviz/admin_panel/validation_metadata_store.py
  recidiviz/tests/admin_panel/validation_metadata_store_test.py
  recidiviz/tests/validation/checks/existence_check_test.py
  recidiviz/tests/validation/checks/sameness_check_test.py
  recidiviz/tests/validation/fixtures/us_xx_validation_config_complex.yaml
  recidiviz/tests/validation/fixtures/us_xx_validation_config_override_is_not_float.yaml
  recidiviz/tests/validation/fixtures/us_xx_validation_config_reused_overrides.yaml
  recidiviz/tests/validation/validation_config_test.py
  recidiviz/tests/validation/validation_manager_test.py
  recidiviz/tests/validation/validation_result_storage_test.py
  recidiviz/validation/checks/existence_check.py
  recidiviz/validation/checks/sameness_check.py
  recidiviz/validation/config/regions/us_id/us_id_validation_config.yaml
  recidiviz/validation/config/regions/us_mo/us_mo_validation_config.yaml
  recidiviz/validation/config/regions/us_nd/us_nd_validation_config.yaml
  recidiviz/validation/config/regions/us_pa/us_pa_validation_config.yaml
  recidiviz/validation/configured_validations.py
  recidiviz/validation/validation_config.py
  recidiviz/validation/validation_manager.py
  recidiviz/validation/validation_models.py
  recidiviz/validation/validation_result_storage.py
Due: generate_docs_for_endpoint

[Ingest mappings] Add deserializing factories for StateProgramAssignment, StateIncarcerationSentence, and StateIncarcerationIncidentOutcome (Recidiviz/recidiviz-data#9011)
  recidiviz/persistence/entity/state/deserialize_entity_factories.py
  recidiviz/persistence/ingest_info_converter/state/entity_helpers/state_incarceration_incident_outcome.py
  recidiviz/persistence/ingest_info_converter/state/entity_helpers/state_incarceration_sentence.py
  recidiviz/persistence/ingest_info_converter/state/entity_helpers/state_program_assignment.py
  recidiviz/persistence/ingest_info_converter/state/state_converter.py
  recidiviz/tests/persistence/ingest_info_converter/state/entity_helpers/state_incarceration_incident_outcome_test.py
  recidiviz/tests/persistence/ingest_info_converter/state/entity_helpers/state_incarceration_sentence_test.py
  recidiviz/tests/persistence/ingest_info_converter/state/entity_helpers/state_program_assignment_test.py
Due: generate_docs_for_endpoint

[DB Checklist] Add two more required steps (Recidiviz/recidiviz-data#9087)
  frontends/admin-panel/src/components/FlashDatabaseChecklist.tsx
  recidiviz/tools/deploy/deploy_helpers.sh
  recidiviz/tools/deploy/trigger_historical_data_refresh.sh
Due: generate_docs_for_endpoint

Rename a few of enum-related types for clarity [skip validation ingest_docs] (Recidiviz/recidiviz-data#9036)
  recidiviz/common/constants/entity_enum.py
  recidiviz/common/constants/enum_overrides.py
  recidiviz/common/constants/standard_enum_overrides.py
  recidiviz/ingest/direct/direct_ingest_controller_utils.py
  recidiviz/ingest/direct/regions/us_id/us_id_controller.py
  recidiviz/ingest/direct/regions/us_mi/us_mi_controller.py
  recidiviz/ingest/direct/regions/us_mo/us_mo_controller.py
  recidiviz/ingest/direct/regions/us_nd/us_nd_enum_helpers.py
  recidiviz/ingest/direct/regions/us_pa/us_pa_controller.py
  recidiviz/ingest/direct/regions/us_tn/us_tn_controller.py
  recidiviz/ingest/direct/regions/us_tn/us_tn_enum_helpers.py
  recidiviz/ingest/direct/regions/us_tx_brazos/us_tx_brazos_controller.py
  recidiviz/ingest/direct/templates/us_xx/us_xx_controller.py
  recidiviz/persistence/ingest_info_converter/county/entity_helpers/bond.py
  recidiviz/persistence/ingest_info_converter/county/entity_helpers/booking.py
  recidiviz/persistence/ingest_info_converter/county/entity_helpers/charge.py
  recidiviz/persistence/ingest_info_converter/county/entity_helpers/hold.py
  recidiviz/persistence/ingest_info_converter/county/entity_helpers/person.py
  recidiviz/persistence/ingest_info_converter/county/entity_helpers/sentence.py
  recidiviz/persistence/ingest_info_converter/state/entity_helpers/state_bond.py
  recidiviz/persistence/ingest_info_converter/state/entity_helpers/state_fine.py
  recidiviz/persistence/ingest_info_converter/state/entity_helpers/state_incarceration_period.py
  recidiviz/persistence/ingest_info_converter/state/entity_helpers/state_parole_decision.py
  recidiviz/persistence/ingest_info_converter/state/entity_helpers/state_supervision_case_type_entry.py
  recidiviz/persistence/ingest_info_converter/state/entity_helpers/state_supervision_contact.py
  recidiviz/persistence/ingest_info_converter/state/entity_helpers/state_supervision_period.py
  recidiviz/persistence/ingest_info_converter/state/entity_helpers/state_supervision_sentence.py
  recidiviz/persistence/ingest_info_converter/state/entity_helpers/state_supervision_violation.py
  recidiviz/persistence/ingest_info_converter/state/entity_helpers/state_supervision_violation_response.py
  recidiviz/persistence/ingest_info_converter/state/entity_helpers/state_supervision_violation_response_decision_entry.py
  recidiviz/persistence/ingest_info_converter/state/entity_helpers/state_supervision_violation_type_entry.py
  recidiviz/persistence/ingest_info_converter/utils/ingest_info_proto_enum_mapper.py
  recidiviz/tests/common/constants/entity_enum_test.py
  recidiviz/tests/common/constants/enum_overrides_test.py
  recidiviz/tests/persistence/ingest_info_converter/utils/ingest_info_proto_enum_mapper_test.py
Due: generate_docs_for_region, generate_docs_for_endpoint

[Schema Cleanup] Adding TODOs for all deprecated fields and relationships (Recidiviz/recidiviz-data#9073)
  recidiviz/persistence/database/schema/state/schema.py
  recidiviz/persistence/entity/state/entities.py
Due: generate_docs_for_endpoint, generate_entity_documentation

[Schema Cleanup] Prep for deleting decision from StateSupervisionViolationResponse (Recidiviz/recidiviz-data#9074)
  recidiviz/persistence/entity/state/entities.py
Due: generate_docs_for_endpoint

Small fix to supervision success calculations (Recidiviz/recidiviz-data#9000)
  recidiviz/calculator/pipeline/supervision/identifier.py
  recidiviz/tests/calculator/pipeline/supervision/identifier_test.py
Due: generate_docs_for_endpoint

[Bug Fix] Avoids cleaning up datasets for paused regions in federated refresh (Recidiviz/recidiviz-data#9097)
  recidiviz/persistence/database/bq_refresh/federated_cloud_sql_to_bq_refresh.py
  recidiviz/tests/persistence/database/bq_refresh/federated_cloud_sql_to_bq_refresh_test.py
Due: generate_docs_for_endpoint

Deleting decision on StateSupervisionViolationResponse (Recidiviz/recidiviz-data#9079)
  recidiviz/ingest/models/ingest_info.proto
  recidiviz/ingest/models/ingest_info.py
  recidiviz/ingest/models/ingest_info_pb2.py
  recidiviz/ingest/models/ingest_info_pb2.pyi
  recidiviz/persistence/database/migrations/state/versions/2021_08_31_0051_43acad0ef417_delete_decision_on_response.py
  recidiviz/persistence/database/schema/state/schema.py
  recidiviz/persistence/entity/state/entities.py
  recidiviz/persistence/ingest_info_converter/state/entity_helpers/state_supervision_violation_response.py
  recidiviz/tests/persistence/entity/state/entities_test_utils.py
  recidiviz/tests/persistence/entity_matching/state/state_entity_matcher_test.py
  recidiviz/tests/persistence/ingest_info_converter/state/entity_helpers/state_supervision_violation_response_test.py
Due: generate_docs_for_endpoint, generate_entity_documentation

[Ingest mappings] Refactor parser to first build manifest AST (Recidiviz/recidiviz-data#9080)
  recidiviz/ingest/direct/controllers/ingest_view_file_parser.py
  recidiviz/ingest/direct/controllers/ingest_view_manifest.py
  recidiviz/tests/ingest/direct/controllers/ingest_view_file_parser_test.py
  recidiviz/tests/ingest/direct/regions/state_ingest_view_parser_test_base.py
  recidiviz/tests/ingest/direct/templates/us_xx/us_xx_ingest_view_parser_test.py
  recidiviz/tools/travis/run_pylint.sh
Due: generate_docs_for_endpoint

[Ingest mappings] Support for simple enum parsing in v2 mappings (Recidiviz/recidiviz-data#9081)
  recidiviz/ingest/direct/controllers/ingest_view_file_parser.py
  recidiviz/ingest/direct/controllers/ingest_view_manifest.py
  recidiviz/persistence/entity/base_entity.py
  recidiviz/persistence/entity/entity_utils.py
  recidiviz/persistence/entity/state/entities.py
  recidiviz/tests/ingest/direct/controllers/fixtures/ingest_view_file_parser/ingest_view_files/enum_entity_list.csv
  recidiviz/tests/ingest/direct/controllers/fixtures/ingest_view_file_parser/ingest_view_files/enums_complex_capitalization.csv
  recidiviz/tests/ingest/direct/controllers/fixtures/ingest_view_file_parser/ingest_view_files/enums_ignores_caps_mismatch.csv
  recidiviz/tests/ingest/direct/controllers/fixtures/ingest_view_file_parser/ingest_view_files/enums_mappings_caps_mismatch.csv
  recidiviz/tests/ingest/direct/controllers/fixtures/ingest_view_file_parser/ingest_view_files/simple_enum_entity.csv
  recidiviz/tests/ingest/direct/controllers/fixtures/ingest_view_file_parser/ingest_view_files/simple_enums.csv
  recidiviz/tests/ingest/direct/controllers/fixtures/ingest_view_file_parser/ingest_view_files/single_child_field.csv
  recidiviz/tests/ingest/direct/controllers/fixtures/ingest_view_file_parser/manifests/enum_entity_list.yaml
  recidiviz/tests/ingest/direct/controllers/fixtures/ingest_view_file_parser/manifests/enums_complex_capitalization.yaml
  recidiviz/tests/ingest/direct/controllers/fixtures/ingest_view_file_parser/manifests/enums_ignores_caps_mismatch.yaml
  recidiviz/tests/ingest/direct/controllers/fixtures/ingest_view_file_parser/manifests/enums_mappings_caps_mismatch.yaml
  recidiviz/tests/ingest/direct/controllers/fixtures/ingest_view_file_parser/manifests/simple_enum_entity.yaml
  recidiviz/tests/ingest/direct/controllers/fixtures/ingest_view_file_parser/manifests/simple_enums.yaml
  recidiviz/tests/ingest/direct/controllers/ingest_view_file_parser_test.py
  recidiviz/utils/yaml_dict.py
Due: generate_docs_for_endpoint

Add `OffenderMovementSharedQuery` and `OffenderMovementIncarcerationPeriod` Ingest View (Recidiviz/recidiviz-data#9002)
  recidiviz/ingest/direct/regions/us_tn/ingest_views/OffenderMovementSharedQuery.py
  recidiviz/ingest/direct/regions/us_tn/ingest_views/view_OffenderMovementIncarcerationPeriod.py
  recidiviz/tests/big_query/view_test_util.py
Due: generate_docs_for_region, generate_docs_for_endpoint

[Monthly Report] Add new "compliance goal" fields to report data (Recidiviz/recidiviz-data#9095)
  recidiviz/calculator/query/state/views/po_report/po_monthly_report_data.py
  recidiviz/reporting/context/po_monthly_report/context.py
  recidiviz/reporting/context/po_monthly_report/state_utils/po_monthly_report_metrics_delegate.py
  recidiviz/reporting/context/po_monthly_report/state_utils/us_id/us_id_metrics_delegate.py
  recidiviz/reporting/context/po_monthly_report/state_utils/us_pa/us_pa_metrics_delegate.py
  recidiviz/tests/reporting/context/po_monthly_report/po_monthly_report_data_fixture.json
  recidiviz/tests/reporting/context/po_monthly_report/po_monthly_report_test.py
Due: generate_docs_for_endpoint

Fix open files `ulimit` error during deploy (Recidiviz/recidiviz-data#9093)
  recidiviz/tools/deploy/deploy_helpers.sh
Due: generate_docs_for_endpoint

fix for admin panel validation error (Recidiviz/recidiviz-data#9109)
  recidiviz/tools/deploy/terraform/bigquery.tf
Due: generate_docs_for_endpoint

Add US_ME to direct ingest state codes (Recidiviz/recidiviz-data#9116)
  recidiviz/tools/deploy/terraform/direct_ingest_state_codes.yaml
Due: generate_docs_for_endpoint
