Repository Recidiviz/pulse-data: changes, and which pre-commit hooks are due for each by the changed paths.
All: generate_docs_for_region, generate_docs_for_endpoint, generate_entity_documentation

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.3.0
    hooks:
      - id: check-yaml
  - repo: https://github.com/psf/black
    rev: 20.8b1
    hooks:
      - id: black
        language_version: python3
  - repo: local
    hooks:
      - id: generate_docs_for_region
        name: generate_docs_for_region
        entry: pipenv run python -m recidiviz.tools.docs.region_documentation_generator
        language: system
        files: ^recidiviz/ingest/direct/regions/
        require_serial: true
      - id: generate_docs_for_endpoint
        name: generate_docs_for_endpoint
        entry: pipenv run python -m recidiviz.tools.docs.endpoint_documentation_generator
        language: system
        files: ^recidiviz/
        exclude: >
          (?x)(^recidiviz/tests/|^recidiviz/tools/|^recidiviz/ingest/direct/regions/)$
        require_serial: true
      - id: generate_entity_documentation
        name: generate_entity_documentation
        entry: pipenv run python -m recidiviz.tools.docs.entity_documentation_generator
        language: system
        files: >
           (?x)(^recidiviz/persistence/database/schema/state/schema.py|^recidiviz/persistence/database/schema/history_table_shared_columns_mixin.py)$
        require_serial: true

[Pipfile] Import asyncpg (Recidiviz/recidiviz-data#32158)
  Pipfile
  Pipfile.lock
  recidiviz/pipelines/dataflow_flex_setup.py
Due: generate_docs_for_endpoint

[Workflows] Add ID parole date sidebar component option (Recidiviz/recidiviz-data#32157)
  frontends/admin-panel/src/components/Workflows/OpportunityConfigurationForm/SidebarComponents.tsx
Due: none

[US_MI] Revise hydration of housing_unit to match SCC form and add security classification data from COMS to scc form (Recidiviz/recidiviz-data#32148)
  recidiviz/ingest/direct/regions/us_mi/ingest_mappings/us_mi_incarceration_periods_v3.yaml
  recidiviz/ingest/direct/regions/us_mi/ingest_views/view_incarceration_periods_v3.py
  recidiviz/task_eligibility/utils/us_mi_query_fragments.py
  recidiviz/view_registry/raw_data_reference_reasons.yaml
Due: generate_docs_for_region, generate_docs_for_endpoint

[Insights] Add automated validations for percent changes to statewide targets and number of outliers (Recidiviz/recidiviz-data#31979)
  recidiviz/calculator/query/state/views/outliers/supervision_officer_outlier_status_archive.py
  recidiviz/validation/views/state/outliers/configured_validations.py
  recidiviz/validation/views/state/outliers/outlier_status_percent_change_exceeded.py
  recidiviz/validation/views/state/outliers/statewide_target_percent_change_exceeded.py
Due: generate_docs_for_endpoint

[Workflows] Update nested US_IX in ETL delegates (Recidiviz/recidiviz-data#32135)
  recidiviz/tests/workflows/etl/fixtures/client_record.json
  recidiviz/tests/workflows/etl/fixtures/resident_record.json
  recidiviz/tests/workflows/etl/workflows_client_etl_delegate_test.py
  recidiviz/tests/workflows/etl/workflows_resident_etl_delegate_test.py
  recidiviz/workflows/etl/workflows_client_etl_delegate.py
  recidiviz/workflows/etl/workflows_resident_etl_delegate.py
Due: generate_docs_for_endpoint

[US_MO] MOSOP groups update to not count missing life_flag as an exclusion (Recidiviz/recidiviz-data#31981)
  recidiviz/calculator/query/state/views/analyst_data/us_mo/us_mo_mosop_prio_groups.py
Due: generate_docs_for_endpoint

[Normalization] Add CreatePersonIdToStaffIdMapping for normalization in ingest pipelines (Recidiviz/recidiviz-data#32169)
  recidiviz/pipelines/ingest/state/create_person_id_to_staff_id_mapping.py
  recidiviz/tests/pipelines/ingest/state/create_person_id_to_staff_id_mapping_test.py
Due: generate_docs_for_endpoint

[raw data import dag] remove `region_module_override` from tasks/operators (Recidiviz/recidiviz-data#32201)
  recidiviz/airflow/dags/raw_data/bq_load_tasks.py
  recidiviz/airflow/dags/raw_data/file_metadata_tasks.py
  recidiviz/airflow/dags/raw_data/get_all_unprocessed_bq_file_metadata_sql_query_generator.py
  recidiviz/airflow/tests/raw_data/bq_load_tasks_test.py
  recidiviz/airflow/tests/raw_data/file_metadata_tasks_test.py
  recidiviz/airflow/tests/raw_data/get_all_unprocessed_bq_file_metadata_sql_query_generator_test.py
Due: generate_docs_for_endpoint

[admin panel] home page redirection (Recidiviz/recidiviz-data#32200)
  frontends/admin-panel/src/components/App.tsx
Due: none

[admin panel] fix latest pipeline run endpoint (Recidiviz/recidiviz-data#32195)
  frontends/admin-panel/src/AdminPanelAPI/IngestOperations.ts
Due: none

[Justice Counts] Update commits_to_be_deployed script to support array and string tags (Recidiviz/recidiviz-data#32146)
  recidiviz/tools/deploy/justice_counts/commits_to_be_deployed.sh
Due: generate_docs_for_endpoint

[Insights] Add ND to insights product exports (Recidiviz/recidiviz-data#32188)
  recidiviz/metrics/export/products/products.yaml
Due: generate_docs_for_endpoint

[Justice Counts] Update Child Agency Script to Take County Column (Recidiviz/recidiviz-data#32150)
  recidiviz/tools/justice_counts/add_child_agencies.py
Due: generate_docs_for_endpoint

[US_ND] Exclude certain caseload types for outliers (Recidiviz/recidiviz-data#32202)
  recidiviz/outliers/outliers_configs.py
Due: generate_docs_for_endpoint

A few ingest_filename_normalization cloud function fixes (Recidiviz/recidiviz-data#32203)
  recidiviz/cloud_functions/ingest_filename_normalization.py
  recidiviz/tests/cloud_functions/ingest_filename_normalization_test.py
  recidiviz/tools/deploy/terraform/cloud-functions.tf
Due: generate_docs_for_endpoint

[US_PA] Added almost eligible feature for Admin Supervision (Recidiviz/recidiviz-data#31636)
  recidiviz/calculator/query/state/views/workflows/firestore/us_pa_transfer_to_administrative_supervision_form_record.py
Due: generate_docs_for_endpoint

[Justice Counts] Write path for new MetricSetting configuration fields (Recidiviz/recidiviz-data#32117)
  recidiviz/justice_counts/control_panel/README.md
  recidiviz/justice_counts/metrics/metric_definition.py
  recidiviz/justice_counts/metrics/metric_disaggregation_data.py
  recidiviz/justice_counts/metrics/metric_interface.py
  recidiviz/tests/justice_counts/control_panel/server_test.py
  recidiviz/tests/justice_counts/metric_interface_test.py
  recidiviz/tests/justice_counts/utils/utils.py
Due: generate_docs_for_endpoint

[Justice Counts] Update prod deploy and other scripts to support array and string tags (Recidiviz/recidiviz-data#32206)
  recidiviz/tools/deploy/justice_counts/deploy_for_playtesting.sh
  recidiviz/tools/deploy/justice_counts/deploy_to_prod.sh
  recidiviz/tools/deploy/justice_counts/deploy_to_staging.sh
  recidiviz/tools/deploy/justice_counts/version_of_latest_staging_deploy.sh
Due: generate_docs_for_endpoint

[US_ND][Outliers] Remove officers who supervise themselves (Recidiviz/recidiviz-data#32225)
  recidiviz/outliers/outliers_configs.py
Due: generate_docs_for_endpoint

Replace flask-sqlalchemy-session and unpin werkzeug. (Recidiviz/recidiviz-data#32209)
  Pipfile
  Pipfile.lock
  recidiviz/auth/auth_users_endpoint.py
  recidiviz/case_triage/outliers/outliers_routes.py
  recidiviz/justice_counts/control_panel/routes/admin.py
  recidiviz/justice_counts/control_panel/routes/api.py
  recidiviz/justice_counts/control_panel/server.py
  recidiviz/persistence/database/sqlalchemy_flask_utils.py
  recidiviz/tests/auth/auth_endpoint_test.py
  recidiviz/tests/case_triage/outliers/outliers_routes_test.py
  recidiviz/tests/justice_counts/control_panel/admin_test.py
  recidiviz/tests/justice_counts/control_panel/server_test.py
  stubs/greenlet.pyi
Due: generate_docs_for_endpoint

[US_MI] Ingest COMS probation violation types, COMS parole violation responses, and update supervision_client_events (Recidiviz/recidiviz-data#32034)
  recidiviz/calculator/query/state/views/outliers/supervision_client_events.py
  recidiviz/calculator/query/state/views/workflows/firestore/us_mi_complete_classification_review_form_record.py
  recidiviz/ingest/direct/regions/us_mi/ingest_mappings/us_mi_supervision_violations.yaml
  recidiviz/ingest/direct/regions/us_mi/ingest_mappings/us_mi_supervision_violations_coms.yaml
  recidiviz/ingest/direct/regions/us_mi/ingest_views/view_supervision_violations.py
  recidiviz/ingest/direct/regions/us_mi/ingest_views/view_supervision_violations_coms.py
  recidiviz/tests/ingest/direct/regions/ingest_view_cte_comment_exemptions.py
  recidiviz/tests/view_registry/deployed_views_test.py
  recidiviz/validation/views/state/stable_counts/stable_counts.py
  recidiviz/view_registry/raw_data_reference_reasons.yaml
Due: generate_docs_for_region, generate_docs_for_endpoint

[Justice Counts] Migrate Invalid Sheet Error to WorkbookStandardizer (Recidiviz/recidiviz-data#31491)
  recidiviz/justice_counts/bulk_upload/spreadsheet_uploader.py
  recidiviz/justice_counts/bulk_upload/workbook_standardizer.py
  recidiviz/justice_counts/bulk_upload/workbook_uploader.py
  recidiviz/justice_counts/spreadsheet.py
  recidiviz/tests/justice_counts/bulk_upload/bulk_upload_fixtures/law_enforcement/arrests.csv
  recidiviz/tests/justice_counts/bulk_upload/bulk_upload_fixtures/law_enforcement/law_enforcement_metrics.xlsx
  recidiviz/tests/justice_counts/bulk_upload/bulk_upload_test.py
  recidiviz/tests/justice_counts/bulk_upload/workbook_standarizer_test.py
  recidiviz/tests/justice_counts/control_panel/server_test.py
  recidiviz/tests/justice_counts/spreadsheet_test.py
Due: generate_docs_for_endpoint

[Insights] only return outliers data for the configured category type (Recidiviz/recidiviz-data#32106)
  recidiviz/case_triage/outliers/outliers_routes.py
  recidiviz/outliers/querier/querier.py
  recidiviz/outliers/types.py
  recidiviz/tests/case_triage/outliers/outliers_routes_test.py
  recidiviz/tests/case_triage/outliers/snapshots/snap_outliers_routes_test.py
  recidiviz/tests/outliers/querier_test.py
  recidiviz/tests/outliers/snapshots/snap_querier_test.py
  recidiviz/tools/insights/fixtures/supervision_officer_outlier_status.json
Due: generate_docs_for_endpoint

[Insights] add ability to configure available category types + category copy (Recidiviz/recidiviz-data#32212)
  recidiviz/outliers/outliers_configs.py
  recidiviz/outliers/querier/querier.py
  recidiviz/outliers/types.py
  recidiviz/tests/case_triage/outliers/outliers_routes_test.py
  recidiviz/tests/case_triage/outliers/snapshots/snap_outliers_routes_test.py
  recidiviz/tests/outliers/querier_test.py
  recidiviz/tests/outliers/snapshots/snap_querier_test.py
Due: generate_docs_for_endpoint

[US_PA][Workflows] Add firearm offenses to ineligible offense list (Recidiviz/recidiviz-data#31719)
  recidiviz/task_eligibility/criteria/state_specific/us_pa/not_serving_ineligible_offense_for_admin_supervision.py
Due: generate_docs_for_endpoint

Add outdated bash warning (Recidiviz/recidiviz-data#32250)
  recidiviz/tools/ingest/development/full_sandbox_pipeline.sh
Due: generate_docs_for_endpoint

[Cleanup] Narrow some types in entity_utils.py to use Entity over CoreEntity (Recidiviz/recidiviz-data#32226)
  recidiviz/persistence/entity/entity_utils.py
  recidiviz/tests/ingest/direct/regions/state_specific_ingest_pipeline_integration_test_case.py
  recidiviz/tests/persistence/entity/entity_utils_test.py
  recidiviz/tests/persistence/entity/state/entities_test_utils.py
Due: generate_docs_for_endpoint

Optimize functions for successive TES criteria funnel analysis (Recidiviz/recidiviz-data#31708)
  recidiviz/tools/analyst/tes_utils.py
Due: generate_docs_for_endpoint

[US_AZ] Replace source of officer info in supervision periods (Recidiviz/recidiviz-data#32138)
  recidiviz/ingest/direct/regions/us_az/ingest_views/view_supervision_periods.py
Due: generate_docs_for_region, generate_docs_for_endpoint

[Cleanup] Better typing for CreatePersonIdToStaffIdMapping (Recidiviz/recidiviz-data#32207)
  recidiviz/pipelines/ingest/state/create_person_id_to_staff_id_mapping.py
  recidiviz/tests/pipelines/ingest/state/create_person_id_to_staff_id_mapping_test.py
Due: generate_docs_for_endpoint

[Workflows] Admin panel backend: return unprovisioned opportunities (Recidiviz/recidiviz-data#32156)
  frontends/admin-panel/src/WorkflowsStore/models/Opportunity.ts
  frontends/admin-panel/src/WorkflowsStore/models/OpportunityConfiguration.ts
  frontends/admin-panel/src/components/Workflows/OpportunitiesTable.tsx
  frontends/admin-panel/src/components/Workflows/OpportunityView.tsx
  recidiviz/admin_panel/line_staff_tools/workflows_api_schemas.py
  recidiviz/tests/admin_panel/routes/workflows_test.py
  recidiviz/tests/workflows/querier/querier_test.py
  recidiviz/workflows/querier/querier.py
  recidiviz/workflows/types.py
  recidiviz/workflows/utils/utils.py
Due: generate_docs_for_endpoint

[Deploy] Verify status of Github check runs before deploy (Recidiviz/recidiviz-data#32230)
  recidiviz/tools/deploy/base_deploy_to_staging.sh
  recidiviz/tools/deploy/deploy_helpers.sh
  recidiviz/tools/deploy/deploy_production.sh
  recidiviz/tools/deploy/verify_github_check_statuses.py
  recidiviz/tools/utils/script_helpers.py
Due: generate_docs_for_endpoint

[Cleanup] Remove support for indirect backedge hydration from BaseSchemaEntityConverter (Recidiviz/recidiviz-data#32229)
  recidiviz/ingest/direct/metadata/direct_ingest_instance_status_manager.py
  recidiviz/ingest/direct/metadata/direct_ingest_raw_data_flash_status_manager.py
  recidiviz/ingest/direct/metadata/direct_ingest_raw_data_import_session_manager.py
  recidiviz/ingest/direct/metadata/direct_ingest_raw_data_resource_lock_manager.py
  recidiviz/ingest/direct/metadata/direct_ingest_raw_file_metadata_manager.py
  recidiviz/ingest/direct/metadata/direct_ingest_raw_file_metadata_manager_v2.py
  recidiviz/ingest/direct/metadata/direct_ingest_sftp_ingest_ready_file_metadata_manager.py
  recidiviz/ingest/direct/metadata/direct_ingest_sftp_remote_file_metadata_manager.py
  recidiviz/persistence/database/schema_entity_converter/base_schema_entity_converter.py
  recidiviz/persistence/database/schema_entity_converter/schema_entity_converter.py
  recidiviz/persistence/entity/entity_utils.py
  recidiviz/tests/ingest/direct/controllers/ingest_raw_file_import_controller_test.py
  recidiviz/tests/ingest/direct/metadata/direct_ingest_raw_file_metadata_manager_test.py
  recidiviz/tests/ingest/direct/metadata/direct_ingest_raw_file_metadata_manager_v2_test.py
  recidiviz/tests/persistence/database/schema_entity_converter/base_schema_entity_converter_test.py
  recidiviz/tests/persistence/database/schema_entity_converter/state/schema_entity_converter_test.py
  recidiviz/tests/persistence/entity/core_entity_test.py
  recidiviz/tests/pipelines/utils/beam_utils/extractor_utils_test.py
Due: generate_docs_for_endpoint

[Cleanup] Remove DatabaseEntity support from CoreEntityFieldIndex (Recidiviz/recidiviz-data#32231)
  recidiviz/persistence/entity/entity_utils.py
  recidiviz/pipelines/normalization/utils/normalized_entity_conversion_utils.py
  recidiviz/tests/persistence/entity/entity_utils_test.py
Due: generate_docs_for_endpoint

Change release_to_parole completion events to general incarceration (Recidiviz/recidiviz-data#32045)
  recidiviz/task_eligibility/completion_events/general/release_to_community_confinement_supervision.py
  recidiviz/task_eligibility/completion_events/general/release_to_parole.py
Due: generate_docs_for_endpoint

[US_MO] MO Assessment with Schema Change (Recidiviz/recidiviz-data#31359)
  recidiviz/ingest/direct/regions/us_mo/ingest_mappings/us_mo_classification_assessments.yaml
  recidiviz/ingest/direct/regions/us_mo/ingest_views/view_classification_assessments.py
  recidiviz/tests/source_tables/snapshots/__init__.py
  recidiviz/tests/source_tables/snapshots/snap_update_big_query_table_schemas_test.py
  recidiviz/tests/workflows/querier/snapshots/snap_querier_test.py
Due: generate_docs_for_region, generate_docs_for_endpoint

[Insights] set primary category type as SEX_OFFENSE_BINARY in ID (Recidiviz/recidiviz-data#32251)
  recidiviz/case_triage/outliers/outliers_authorization.py
  recidiviz/outliers/outliers_configs.py
  recidiviz/outliers/querier/querier.py
  recidiviz/tests/outliers/querier_test.py
Due: generate_docs_for_endpoint

[US ME] ingest OUTCOME for incident outcome (Recidiviz/recidiviz-data#31914)
  recidiviz/ingest/direct/regions/us_me/ingest_mappings/us_me_incarceration_incident.yaml
  recidiviz/ingest/direct/regions/us_me/ingest_views/view_incarceration_incident.py
Due: generate_docs_for_region, generate_docs_for_endpoint

[Flask] Remove setup method after Blueprint has been registered (Recidiviz/recidiviz-data#32261)
  recidiviz/admin_panel/server.py
  recidiviz/auth/auth_endpoint.py
  recidiviz/auth/auth_users_endpoint.py
  recidiviz/server.py
  recidiviz/server_blueprint_registry.py
  recidiviz/tests/auth/auth_endpoint_test.py
  recidiviz/tests/auth/auth_users_endpoint_test.py
Due: generate_docs_for_endpoint

[import blocking validations] Add column-level import-blocking validation classes (Recidiviz/recidiviz-data#32151)
  recidiviz/ingest/direct/raw_data/validations/__init__.py
  recidiviz/ingest/direct/raw_data/validations/datetime_parsers_column_validation.py
  recidiviz/ingest/direct/raw_data/validations/expected_type_column_validation.py
  recidiviz/ingest/direct/raw_data/validations/known_values_column_validation.py
  recidiviz/ingest/direct/raw_data/validations/nonnull_values_column_validation.py
  recidiviz/ingest/direct/types/raw_data_import_blocking_validation_types.py
  recidiviz/tests/ingest/direct/raw_data/validations/__init__.py
  recidiviz/tests/ingest/direct/raw_data/validations/column_validation_test_case.py
  recidiviz/tests/ingest/direct/raw_data/validations/datetime_parsers_column_validation_test.py
  recidiviz/tests/ingest/direct/raw_data/validations/expected_type_column_validation_test.py
  recidiviz/tests/ingest/direct/raw_data/validations/known_values_column_validation_test.py
  recidiviz/tests/ingest/direct/raw_data/validations/nonnull_values_column_validation_test.py
Due: generate_docs_for_endpoint
