Repository Recidiviz/pulse-data: changes, and which pre-commit hooks are due for each by the changed paths.
All: generate_docs_for_region, generate_docs_for_endpoint, generate_entity_documentation, generate_calc_documentation, generate_ingest_mappings_schema_documentation, update_terraform_lock_file, terraform_fmt, alphabetize_yaml

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.3.0
    hooks:
      - id: check-yaml
  - repo: https://github.com/psf/black
    rev: 22.3.0
    hooks:
      # This runs on py, pyi, and ipynb files.
      - id: black-jupyter
        language_version: python3
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v2.5.1
    hooks:
      - id: prettier
        types_or: [yaml]
  - repo: https://github.com/pycqa/isort
    rev: 5.12.0
    hooks:
      - id: isort
        name: isort (python)
      - id: isort
        name: isort (pyi)
        types: [pyi]
  - repo: https://github.com/shellcheck-py/shellcheck-py
    rev: v0.8.0.4
    hooks:
      - id: shellcheck
        # Also validate any `source`d files
        args: [-x]
  - repo: local
    hooks:
      - id: generate_docs_for_region
        name: generate_docs_for_region
        entry: pipenv run python -m
          recidiviz.tools.docs.region_documentation_generator
        language: system
        files: ^recidiviz/ingest/direct/regions/|^recidiviz/view_registry/raw_data_reference_reasons.yaml
        require_serial: true
      - id: generate_docs_for_endpoint
        name: generate_docs_for_endpoint
        entry: pipenv run python -m
          recidiviz.tools.docs.endpoint_documentation_generator
        language: system
        files: (?x)(^recidiviz/tools/docs/endpoint_documentation_generator.py|^recidiviz/server_blueprint_registry.py|.*/routes/|.*routes.py|.*/server.py|.*control.py|.*endpoint.py|.*endpoints.py|^recidiviz/backup/backup_manager.py|^recidiviz/pipelines/calculation_data_storage_manager.py)$
        exclude: ^recidiviz/tests
        require_serial: true
      - id: generate_entity_documentation
        name: generate_entity_documentation
        entry: pipenv run python -m
          recidiviz.tools.docs.entity_documentation_generator
        language: system
        files: >
          (?x)(^recidiviz/persistence/database/schema/state/schema.py|^recidiviz/persistence/entity/state/normalized_entities.py|^recidiviz/persistence/entity/state/entities.py|^recidiviz/common/constants/state/)$
        require_serial: true
      - id: generate_calc_documentation
        name: generate_calc_documentation
        entry: pipenv run python -m
          recidiviz.calculator.calculation_documentation_generator
        language: system
        files: ^recidiviz/calculator/|^recidiviz/pipelines/|^recidiviz/metrics/|^recidiviz/.*/views/|^recidiviz/big_query/|^recidiviz/persistence/database/schema/|^recidiviz/persistence/entity/|^recidiviz/task_eligibility/|^recidiviz/monitoring/platform_kpis/
        exclude: ^recidiviz/tests/|^recidiviz/calculator/modeling/
        require_serial: true
      - id: generate_ingest_mappings_schema_documentation
        name: generate_ingest_mappings_schema_documentation
        entry: pipenv run python -m
          recidiviz.tools.docs.ingest_mappings_schema_documentation_generator
        language: system
        files: ^recidiviz/ingest/direct/ingest_mappings/yaml_schema/|^docs/engineering/ingest_mapping_schema/
        require_serial: true
      - id: update_terraform_lock_file
        name: update_terraform_lock_file
        entry: recidiviz/tools/deploy/update_terraform_lock.sh
        language: script
        files: ^recidiviz/tools/deploy/terraform/
        require_serial: true
      - id: terraform_fmt
        name: terraform_fmt
        entry: recidiviz/tools/deploy/format_terraform.sh
        language: script
        files: ^recidiviz/tools/deploy/terraform/
      - id: alphabetize_yaml
        name: alphabetize_yaml
        entry: pipenv run python -m
          recidiviz.tools.alphabetize_raw_data_reference_reasons
        language: system
        files: recidiviz/view_registry/raw_data_reference_reasons.yaml

[Resource Search] Update Resource Source DB to Postgres13 (Recidiviz/recidiviz-data#43045)
  recidiviz/tools/deploy/atmos/components/terraform/apps/resource-search/main.tf
Due: none

[Resource Search] Add Missing Quotation to Terraform File (Recidiviz/recidiviz-data#43077)
  recidiviz/tools/deploy/atmos/components/terraform/apps/resource-search/main.tf
Due: none

Revert "[bigquery] remove row level permissions application from view… (Recidiviz/recidiviz-data#43074)
  recidiviz/big_query/big_query_client.py
Due: generate_calc_documentation

[US_AZ] Added Maybe Eligible logic into Admin Supervision (Recidiviz/recidiviz-data#43016)
  recidiviz/task_eligibility/eligibility_spans/us_az/overdue_for_recidiviz_dtp_request.py
  recidiviz/task_eligibility/eligibility_spans/us_az/overdue_for_recidiviz_tpr_request.py
  recidiviz/task_eligibility/eligibility_spans/us_az/transfer_to_administrative_supervision.py
Due: generate_calc_documentation

Configures new tasks impact explore (Recidiviz/recidiviz-data#42991)
  recidiviz/aggregated_metrics/models/aggregated_metric_configurations.py
  recidiviz/tools/looker/aggregated_metrics/custom_metrics_lookml_generator.py
  recidiviz/tools/looker/aggregated_metrics/custom_tasks_metrics_configurations.py
Due: none

[raw data] tiny updates to `compare_raw_data` (Recidiviz/recidiviz-data#43051)
  recidiviz/tests/tools/ingest/operations/helpers/raw_table_data_diff_query_generator_test.py
  recidiviz/tests/tools/ingest/operations/helpers/raw_table_file_counts_diff_query_generator_test.py
  recidiviz/tools/ingest/operations/compare_raw_data.py
  recidiviz/tools/ingest/operations/helpers/raw_data_region_diff_query_executor.py
  recidiviz/tools/ingest/operations/helpers/raw_table_data_diff_query_generator.py
  recidiviz/tools/ingest/operations/helpers/raw_table_file_counts_diff_query_generator.py
Due: none

[Testing] Allow ingest test fixture generation to skip pruning (Recidiviz/recidiviz-data#43081)
  recidiviz/tools/ingest/testing/ingest_fixture_creation/generate_ingest_view_fixtures_for_test.py
Due: none

[Dataflow] Put ingest view processing in its own PTransform (Recidiviz/recidiviz-data#43079)
  recidiviz/pipelines/ingest/pipeline_parameters.py
  recidiviz/pipelines/ingest/state/pipeline.py
  recidiviz/pipelines/ingest/state/process_all_ingest_views.py
  recidiviz/pipelines/ingest/state/process_ingest_view.py
  recidiviz/tests/ingest/direct/regions/state_specific_ingest_pipeline_integration_test_case.py
  recidiviz/tests/pipelines/ingest/state/generate_entities_test.py
  recidiviz/tests/pipelines/ingest/state/generate_ingest_view_results_test.py
  recidiviz/tests/pipelines/ingest/state/merge_ingest_view_root_entity_trees_test.py
  recidiviz/tests/pipelines/utils/run_pipeline_test_utils.py
Due: generate_calc_documentation

add enabled feature variants to product_roster_archive_sessions (Recidiviz/recidiviz-data#43060)
  recidiviz/source_tables/externally_managed/export_archives/product_roster_archive.yaml
Due: none

[US_AR] Fix unreasonable / clearly incorrect birthdates (Recidiviz/recidiviz-data#42598)
  recidiviz/ingest/direct/gating.py
  recidiviz/persistence/entity/state/entities.py
  recidiviz/persistence/entity/state/normalized_entities.py
  recidiviz/tools/ingest/testing/validate_state_dataset.py
Due: generate_entity_documentation, generate_calc_documentation

[tools] `data_retention` -> `data_retention_config` (Recidiviz/recidiviz-data#43091)
  recidiviz/tools/airflow/environment_control.py
Due: generate_docs_for_endpoint

[Insights] only deduplicate import tasks against others loading data from the same bucket (Recidiviz/recidiviz-data#43092)
  recidiviz/application_data_import/server.py
  recidiviz/tests/application_data_import/server_test.py
Due: generate_docs_for_endpoint

[tools] fix quoting bug (Recidiviz/recidiviz-data#43088)
  recidiviz/tests/tools/ingest/operations/helpers/invalidate_operations_db_files_controller_test.py
  recidiviz/tools/ingest/operations/helpers/invalidate_operations_db_files_controller.py
Due: none

[Email reminders] Update email text for linestaff to show opportunity-specific numbers (Recidiviz/recidiviz-data#41916)
  recidiviz/appsscript/login_reminders/EmailReminderHelpers.js
  recidiviz/appsscript/login_reminders/SendSupervisionLinestaffEmailReminders.js
  recidiviz/appsscript/login_reminders/TestEmailReminders.js
Due: none

[US_NE] Add Nebraska to the workflows tasks ETL map (Recidiviz/recidiviz-data#43068)
  recidiviz/workflows/etl/workflows_tasks_etl_delegate.py
Due: none

[Admin Panel] update permission name to supervisor homepage (insights) instead of outliers (Recidiviz/recidiviz-data#43135)
  frontends/admin-panel/src/components/StateUserPermissions/CustomPermissionsPanel.tsx
  frontends/admin-panel/src/components/constants.ts
Due: none

[Insights] update return status code for import server for pentest (Recidiviz/recidiviz-data#43140)
  recidiviz/application_data_import/server.py
  recidiviz/tests/application_data_import/server_test.py
Due: generate_docs_for_endpoint

[Autogenerated] Update Pipfile.lock (Recidiviz/recidiviz-data#43131)
  Pipfile.lock
  recidiviz/justice_counts/control_panel/routes/api.py
  recidiviz/justice_counts/control_panel/server.py
  recidiviz/pipelines/dataflow_flex_setup.py
  recidiviz/tests/justice_counts/control_panel/server_test.py
  recidiviz/tests/utils/immutable_key_dict_test.py
  recidiviz/tools/validate_source_visibility.py
  recidiviz/utils/immutable_key_dict.py
Due: generate_docs_for_endpoint, generate_calc_documentation

[BigQuery] Re-create materialized views only when necessary (Recidiviz/recidiviz-data#43186)
  recidiviz/big_query/big_query_client.py
  recidiviz/big_query/view_update_manager.py
  recidiviz/tests/big_query/big_query_client_test.py
  recidiviz/tests/big_query/view_update_manager_test.py
  recidiviz/tests/persistence/database/bq_refresh/federated_cloud_sql_to_bq_refresh_test.py
  recidiviz/tests/validation/checks/sameness_check_test.py
Due: generate_calc_documentation

[Source tables] Define Google Sheets backed table for feature variants (Recidiviz/recidiviz-data#42973)
  recidiviz/source_tables/yaml_managed/google_sheet_backed_tables/feature_variants.yaml
  recidiviz/tests/source_tables/source_tables_test.py
Due: none

[Dataflow] Move all metric pipelines to c4a-highcpu-32 (Recidiviz/recidiviz-data#43257)
  recidiviz/pipelines/calculation_pipeline_templates.yaml
Due: generate_calc_documentation

[Dataflow] Use same region in each state for metric pipelines as ingest pipeline (Recidiviz/recidiviz-data#43258)
  recidiviz/airflow/dags/calculation/dataflow/metrics_pipeline_task_group_delegate.py
  recidiviz/airflow/dags/calculation/dataflow/supplemental_pipeline_task_group_delegate.py
  recidiviz/airflow/dags/calculation_dag.py
  recidiviz/pipelines/calculation_pipeline_templates.yaml
  recidiviz/tests/pipelines/calculation_pipeline_templates_yaml_test.py
  recidiviz/tests/pipelines/fake_calculation_pipeline_templates.yaml
  recidiviz/tests/pipelines/pipeline_parameters_test.py
  recidiviz/tests/tools/load_end_to_end_sandbox_test.py
  recidiviz/tools/load_end_to_end_data_sandbox.py
Due: generate_calc_documentation

[Build] Upgrade apache-beam to 2.65.0 (Recidiviz/recidiviz-data#43269)
  Pipfile
  Pipfile.lock
  recidiviz/pipelines/Dockerfile.pipelines
Due: generate_calc_documentation

[Email reminders] Update text for users who haven't logged in and have urgent clients (Recidiviz/recidiviz-data#43254)
  recidiviz/appsscript/login_reminders/EmailReminderHelpers.js
  recidiviz/appsscript/login_reminders/SendSupervisionLinestaffEmailReminders.js
  recidiviz/appsscript/login_reminders/TestEmailReminders.js
Due: none

[CI] Remove some unnecessary validate_source_modifications checks (Recidiviz/recidiviz-data#43094)
  recidiviz/tests/tools/validate_source_modifications_test.py
  recidiviz/tools/validate_source_modifications.py
Due: none

[Dataflow] Update ingest pipelines to overwrite all output tables, even if no results are produced (Recidiviz/recidiviz-data#43093)
  recidiviz/pipelines/ingest/state/expected_output_helpers.py
  recidiviz/pipelines/ingest/state/pipeline.py
  recidiviz/pipelines/ingest/state/process_all_ingest_views.py
  recidiviz/pipelines/utils/beam_utils/clear_bq_table.py
  recidiviz/tests/pipelines/fake_bigquery.py
  recidiviz/tests/pipelines/ingest/state/expected_output_helpers_test.py
  recidiviz/tests/pipelines/ingest/state/pipeline_test.py
  recidiviz/tests/pipelines/utils/run_pipeline_test_utils.py
Due: generate_calc_documentation

[Airflow] Disallow non-default state_code, ingest_instance, sandbox_prefix args in calc DAG (Recidiviz/recidiviz-data#43095)
  recidiviz/airflow/dags/calculation/initialize_calculation_dag_group.py
  recidiviz/airflow/tests/calculation/initialize_calculation_dag_group_test.py
  recidiviz/airflow/tests/calculation_dag_test.py
  recidiviz/utils/trigger_dag_helpers.py
Due: none

[Airflow] Remove instance / sandbox prefix args from BigQueryRefreshEntrypoint (Recidiviz/recidiviz-data#43096)
  recidiviz/airflow/dags/calculation_dag.py
  recidiviz/airflow/tests/calculation_dag_test.py
  recidiviz/airflow/tests/fixtures/entrypoints_args.yaml
  recidiviz/entrypoints/bigquery/cloud_sql_to_bq_refresh.py
  recidiviz/persistence/database/bq_refresh/cloud_sql_to_bq_refresh_control.py
  recidiviz/tests/persistence/database/bq_refresh/cloud_sql_to_bq_refresh_control_test.py
Due: generate_docs_for_endpoint

[Cleanup] Remove instance / sandbox prefix args from ValidationEntrypoint (Recidiviz/recidiviz-data#43097)
  recidiviz/airflow/dags/calculation_dag.py
  recidiviz/airflow/tests/calculation_dag_test.py
  recidiviz/airflow/tests/fixtures/entrypoints_args.yaml
  recidiviz/entrypoints/validation/validate.py
  recidiviz/tests/validation/validation_manager_test.py
  recidiviz/tests/validation/validation_result_for_storage_test.py
  recidiviz/tools/run_validations.py
  recidiviz/validation/validation_manager.py
  recidiviz/validation/validation_models.py
  recidiviz/validation/validation_outputs.py
  recidiviz/validation/validation_result_for_storage.py
Due: none

[Airflow] Remove sandbox_prefix arg from MetricViewExportEntrypoint and UpdateAllManagedViewsEntrypoint (Recidiviz/recidiviz-data#43275)
  recidiviz/airflow/dags/calculation_dag.py
  recidiviz/airflow/tests/calculation_dag_test.py
  recidiviz/airflow/tests/fixtures/entrypoints_args.yaml
  recidiviz/entrypoints/metric_export/metric_view_export.py
  recidiviz/entrypoints/view_update/update_all_managed_views.py
  recidiviz/metrics/export/view_export_manager.py
  recidiviz/tests/metrics/export/view_export_manager_test.py
  recidiviz/tests/view_registry/execute_update_all_managed_views_test.py
  recidiviz/view_registry/execute_update_all_managed_views.py
Due: generate_calc_documentation

[Airflow] Remove remainder of references to ingest_instance/sandbox/state_code args in calc DAG (Recidiviz/recidiviz-data#43271)
  recidiviz/airflow/dags/calculation/dataflow/ingest_pipeline_task_group_delegate.py
  recidiviz/airflow/dags/calculation/ingest/add_ingest_job_completion_sql_query_generator.py
  recidiviz/airflow/dags/calculation/ingest/get_max_update_datetime_sql_query_generator.py
  recidiviz/airflow/dags/calculation/ingest/get_watermark_sql_query_generator.py
  recidiviz/airflow/dags/calculation/initialize_calculation_dag_group.py
  recidiviz/airflow/dags/calculation_dag.py
  recidiviz/airflow/dags/utils/branching_by_key.py
  recidiviz/airflow/dags/utils/config_utils.py
  recidiviz/airflow/dags/utils/dataflow_pipeline_group.py
  recidiviz/airflow/dags/utils/wait_until_can_continue_or_cancel_delegates.py
  recidiviz/airflow/tests/utils/branching_by_key_test.py
  recidiviz/airflow/tests/utils/wait_until_can_continue_or_cancel_delegates_test.py
Due: none

[BigQuery] Apply admin row-level access policy first (Recidiviz/recidiviz-data#43313)
  recidiviz/big_query/row_access_policy_query_builder.py
  recidiviz/tests/big_query/row_access_policy_query_builder_test.py
Due: generate_calc_documentation

[Resource Search] Turn On Enable Point In Time Recovery When Backups Are Enabled (Recidiviz/recidiviz-data#43283)
  recidiviz/tools/deploy/atmos/components/terraform/apps/resource-search/main.tf
Due: none

[Resource Search] [1/2] Add Docker Compose Setup and Schema for Resou… (Recidiviz/recidiviz-data#42997)
  Dockerfile.resource-search
  Pipfile
  Pipfile.lock
  docker-compose.yaml
  recidiviz/persistence/database/base_engine_manager.py
  recidiviz/persistence/database/base_schema.py
  recidiviz/persistence/database/bq_refresh/cloud_sql_to_bq_refresh_config.py
  recidiviz/persistence/database/schema/resource_search/__init__.py
  recidiviz/persistence/database/schema/resource_search/schema.py
  recidiviz/persistence/database/schema_type.py
  recidiviz/persistence/database/schema_utils.py
  recidiviz/resource_search/README.md
  recidiviz/tests/persistence/database/migrations_test.py
  recidiviz/tests/persistence/database/schema_utils_test.py
  recidiviz/tests/persistence/database/sqlalchemy_engine_manager_test.py
  recidiviz/tests/server_config_test.py
  recidiviz/tools/migrations/run_migrations_docker.py
  recidiviz/tools/postgres/local_persistence_helpers.py
  recidiviz/tools/resource_search/initialize_development_environment.sh
Due: generate_calc_documentation

[Raw data] Make datetime_sql_parsers exemptions much more granular (Recidiviz/recidiviz-data#43318)
  CODEOWNERS
  recidiviz/ingest/direct/raw_data/datetime_sql_parser_exemptions.py
  recidiviz/ingest/direct/raw_data/raw_file_configs.py
  recidiviz/tests/ingest/direct/raw_data/datetime_sql_parser_exemptions_test.py
  recidiviz/tools/validate_source_visibility.py
Due: none

[Security] Disable `owasp-crs-v030301-id941120-xss` (Recidiviz/recidiviz-data#43331)
  recidiviz/tools/deploy/terraform/cloud-armor.tf
Due: update_terraform_lock_file, terraform_fmt

[Autogenerated] Update Pipfile.lock (Recidiviz/recidiviz-data#43346)
  Pipfile.lock
Due: none

[US_MI] Bump threshold for officer_monthly_usage_report_actions_without_logins (Recidiviz/recidiviz-data#43281)
  recidiviz/validation/config/regions/us_mi/us_mi_validation_config.yaml
Due: none

[Security] Ignore Recidiviz staff in PII check (Recidiviz/recidiviz-data#43345)
  recidiviz/tools/pii_detection/pii_check.py
Due: none

[US_IX][Workflows] Exclude residents from crc opps who have a crc denied case note (Recidiviz/recidiviz-data#38290)
  recidiviz/task_eligibility/eligibility_spans/us_ix/transfer_to_crc_resident_worker_request.py
  recidiviz/task_eligibility/eligibility_spans/us_ix/transfer_to_crc_work_release_request.py
Due: generate_calc_documentation
