Repository Recidiviz/pulse-data: changes, and which pre-commit hooks are due for each by the changed paths.
All: generate_docs_for_region, generate_docs_for_endpoint, generate_entity_documentation, generate_calc_documentation, generate_ingest_mappings_schema_documentation, update_terraform_lock_file

generate_docs_for_region:
  name: generate_docs_for_region
  entry: pipenv run python -m recidiviz.tools.docs.region_documentation_generator
  language: system
  require_serial: true

generate_docs_for_endpoint:
  name: generate_docs_for_endpoint
  entry: pipenv run python -m recidiviz.tools.docs.endpoint_documentation_generator
  language: system
  require_serial: true

generate_entity_documentation:
  name: generate_entity_documentation
  entry: pipenv run python -m recidiviz.tools.docs.entity_documentation_generator
  language: system
  require_serial: true

generate_calc_documentation:
  name: generate_calc_documentation
  entry: pipenv run python -m recidiviz.calculator.calculation_documentation_generator
  language: system
  require_serial: true

generate_ingest_mappings_schema_documentation:
  name: generate_ingest_mappings_schema_documentation
  entry: pipenv run python -m recidiviz.tools.docs.ingest_mappings_schema_documentation_generator
  language: system
  require_serial: true

update_terraform_lock_file:
  name: update_terraform_lock_file
  entry: recidiviz/tools/deploy/update_terraform_lock.sh
  language: script
  require_serial: true

delete supervising_officer_external_id from dataflow metrics (Recidiviz/recidiviz-data#22348)
  recidiviz/ingest/direct/regions/us_ca/ingest_mappings/us_ca_supervision_period.yaml
  recidiviz/pipelines/metrics/incarceration/events.py
  recidiviz/pipelines/metrics/incarceration/identifier.py
  recidiviz/pipelines/metrics/incarceration/metrics.py
  recidiviz/pipelines/metrics/population_spans/identifier.py
  recidiviz/pipelines/metrics/population_spans/metrics.py
  recidiviz/pipelines/metrics/population_spans/spans.py
  recidiviz/pipelines/metrics/program/events.py
  recidiviz/pipelines/metrics/program/identifier.py
  recidiviz/pipelines/metrics/program/metrics.py
  recidiviz/pipelines/metrics/supervision/events.py
  recidiviz/pipelines/metrics/supervision/identifier.py
  recidiviz/pipelines/metrics/supervision/metrics.py
  recidiviz/tests/pipelines/metrics/incarceration/identifier_test.py
  recidiviz/tests/pipelines/metrics/incarceration/pipeline_test.py
  recidiviz/tests/pipelines/metrics/population_spans/identifier_test.py
  recidiviz/tests/pipelines/metrics/population_spans/metric_producer_test.py
  recidiviz/tests/pipelines/metrics/population_spans/pipeline_test.py
  recidiviz/tests/pipelines/metrics/program/identifier_test.py
  recidiviz/tests/pipelines/metrics/program/metric_producer_test.py
  recidiviz/tests/pipelines/metrics/program/pipeline_test.py
  recidiviz/tests/pipelines/metrics/program/program_event_test.py
  recidiviz/tests/pipelines/metrics/supervision/identifier_test.py
  recidiviz/tests/pipelines/metrics/supervision/metric_producer_test.py
  recidiviz/tests/pipelines/metrics/supervision/pipeline_test.py
Due: generate_docs_for_region, generate_docs_for_endpoint

remove supervising officer external id usages (Recidiviz/recidiviz-data#22559)
  recidiviz/pipelines/metrics/population_spans/identifier.py
  recidiviz/pipelines/metrics/program/identifier.py
  recidiviz/pipelines/metrics/supervision/identifier.py
  recidiviz/pipelines/metrics/utils/commitment_from_supervision_utils.py
  recidiviz/pipelines/utils/state_utils/state_calculation_config_manager.py
  recidiviz/pipelines/utils/state_utils/state_specific_supervision_delegate.py
  recidiviz/pipelines/utils/state_utils/us_mo/us_mo_supervision_delegate.py
  recidiviz/pipelines/utils/state_utils/us_pa/us_pa_supervision_delegate.py
  recidiviz/pipelines/utils/supervision_period_utils.py
  recidiviz/tests/pipelines/metrics/incarceration/identifier_test.py
  recidiviz/tests/pipelines/metrics/population_spans/identifier_test.py
  recidiviz/tests/pipelines/metrics/program/identifier_test.py
  recidiviz/tests/pipelines/metrics/supervision/identifier_test.py
  recidiviz/tests/pipelines/metrics/supervision/metric_producer_test.py
  recidiviz/tests/pipelines/metrics/supervision/pipeline_test.py
  recidiviz/tests/pipelines/metrics/utils/commitment_from_supervision_utils_test.py
  recidiviz/tests/pipelines/metrics/utils/supervision_case_compliance_manager_test.py
  recidiviz/tests/pipelines/utils/assessment_utils_test.py
  recidiviz/tests/pipelines/utils/state_utils/state_calculation_config_manager_test.py
  recidiviz/tests/pipelines/utils/state_utils/state_specific_supervision_delegate_test.py
  recidiviz/tests/pipelines/utils/state_utils/templates/us_xx/us_xx_supervision_delegate_test.py
  recidiviz/tests/pipelines/utils/state_utils/us_ar/us_ar_supervision_delegate_test.py
  recidiviz/tests/pipelines/utils/state_utils/us_ca/us_ca_supervision_delegate_test.py
  recidiviz/tests/pipelines/utils/state_utils/us_co/us_co_supervision_delegate_test.py
  recidiviz/tests/pipelines/utils/state_utils/us_ia/us_ia_supervision_delegate_test.py
  recidiviz/tests/pipelines/utils/state_utils/us_id/us_id_supervision_compliance_test.py
  recidiviz/tests/pipelines/utils/state_utils/us_id/us_id_supervision_delegate_test.py
  recidiviz/tests/pipelines/utils/state_utils/us_ix/us_ix_supervision_compliance_test.py
  recidiviz/tests/pipelines/utils/state_utils/us_ix/us_ix_supervision_delegate_test.py
  recidiviz/tests/pipelines/utils/state_utils/us_me/us_me_supervision_delegate_test.py
  recidiviz/tests/pipelines/utils/state_utils/us_mo/us_mo_supervision_delegate_test.py
  recidiviz/tests/pipelines/utils/state_utils/us_nc/us_nc_supervision_delegate_test.py
  recidiviz/tests/pipelines/utils/state_utils/us_nd/us_nd_supervision_compliance_test.py
  recidiviz/tests/pipelines/utils/state_utils/us_nd/us_nd_supervision_delegate_test.py
  recidiviz/tests/pipelines/utils/state_utils/us_or/us_or_supervision_delegate_test.py
  recidiviz/tests/pipelines/utils/state_utils/us_oz/us_oz_supervision_delegate_test.py
  recidiviz/tests/pipelines/utils/state_utils/us_pa/us_pa_commitment_from_supervision_delegate_test.py
  recidiviz/tests/pipelines/utils/state_utils/us_pa/us_pa_supervision_delegate_test.py
  recidiviz/tests/pipelines/utils/state_utils/us_tn/us_tn_supervision_delegate_test.py
  recidiviz/tests/pipelines/utils/supervision_period_utils_test.py
Due: generate_docs_for_endpoint

[asset generation] limit height of swarm plot (Recidiviz/recidiviz-data#22961)
  nodejs/asset-generation/.storybook/preview.tsx
  nodejs/asset-generation/src/components/OutliersSupervisorChart/OutliersSupervisorChart.stories.tsx
  nodejs/asset-generation/src/components/OutliersSupervisorChart/OutliersSupervisorChart.test.tsx
  nodejs/asset-generation/src/components/OutliersSupervisorChart/OutliersSupervisorChart.tsx
  nodejs/asset-generation/src/components/OutliersSupervisorChart/__image_snapshots__/outliers-supervisor-chart-test-tsx-src-components-outliers-supervisor-chart-outliers-supervisor-chart-test-tsx-data-with-swarm-overflowing-max-height-render-to-image-1-snap.png
  nodejs/asset-generation/src/components/OutliersSupervisorChart/fixtures.ts
  nodejs/asset-generation/src/components/SwarmedCircleGroup/__image_snapshots__/swarmed-circle-group-test-tsx-src-components-swarmed-circle-group-swarmed-circle-group-test-tsx-auto-spread-nonzero-modal-distribution-1-snap.png
  nodejs/asset-generation/src/components/SwarmedCircleGroup/__image_snapshots__/swarmed-circle-group-test-tsx-src-components-swarmed-circle-group-swarmed-circle-group-test-tsx-fixed-spread-1-snap.png
  nodejs/asset-generation/src/components/SwarmedCircleGroup/__image_snapshots__/swarmed-circle-group-test-tsx-src-components-swarmed-circle-group-swarmed-circle-group-test-tsx-minimum-spread-1-snap.png
  nodejs/asset-generation/src/components/SwarmedCircleGroup/calculateSwarm.ts
  nodejs/asset-generation/src/components/SwarmedCircleGroup/fixtures.ts
Due: none

[Schema] Enforce that external_ids are non-empty strings in state/entities.py (Recidiviz/recidiviz-data#22701)
  recidiviz/persistence/entity/base_entity.py
  recidiviz/persistence/entity/state/entities.py
  recidiviz/tests/persistence/entity_matching/root_entity_update_merger_test.py
Due: generate_docs_for_endpoint, generate_calc_documentation

[Airflow] script to run calculation DAG in secondary. (Recidiviz/recidiviz-data#22547)
  recidiviz/airflow/dags/calculation/initialize_calculation_dag_group.py
  recidiviz/airflow/dags/calculation_dag.py
  recidiviz/airflow/tests/calculation/initialize_calculation_dag_group_test.py
  recidiviz/tools/deploy/trigger_dag_helpers.py
  recidiviz/tools/deploy/trigger_post_deploy_tasks.py
  recidiviz/tools/run_state_specific_calculation_dag.py
Due: generate_docs_for_endpoint

[US_IX] Revise facilities reference used for determining INCARCERATION_OUT_OF_STATE (Recidiviz/recidiviz-data#22954)
  recidiviz/calculator/query/state/views/sessions/us_id/us_id_incarceration_population_metrics_preprocessed.py
Due: generate_docs_for_endpoint, generate_calc_documentation

[Justice Counts] Capacity and cost -> capacity and costs (Recidiviz/recidiviz-data#22971)
  recidiviz/justice_counts/metrics/metric_definition.py
  recidiviz/tests/justice_counts/metric_interface_test.py
Due: generate_docs_for_endpoint

[Outliers] Remove references to supervision unit (Recidiviz/recidiviz-data#22975)
  recidiviz/calculator/query/state/views/outliers/outliers_views.py
  recidiviz/calculator/query/state/views/outliers/staff_query_template.py
  recidiviz/calculator/query/state/views/outliers/supervision_officer_supervisors.py
  recidiviz/calculator/query/state/views/outliers/supervision_officers.py
  recidiviz/calculator/query/state/views/outliers/supervision_units.py
  recidiviz/persistence/database/schema/outliers/schema.py
  recidiviz/tests/application_data_import/server_test.py
  recidiviz/tests/outliers/querier_test.py
  recidiviz/tests/persistence/database/schema_utils_test.py
  recidiviz/tests/tools/outliers/load_local_db.py
  recidiviz/tools/outliers/fixtures/supervision_officer_supervisors.csv
  recidiviz/tools/outliers/fixtures/supervision_officers.csv
  recidiviz/tools/outliers/fixtures/supervision_units.csv
Due: generate_docs_for_endpoint, generate_calc_documentation

[Airflow] Fix issue where consecutive failures were reported as separate incidents if `upstream_failed` in between (Recidiviz/recidiviz-data#22967)
  recidiviz/airflow/dags/monitoring/task_failure_alerts.py
  recidiviz/airflow/tests/fixtures/monitoring/test_graph_config_idempotency.txt
  recidiviz/airflow/tests/fixtures/monitoring/test_graph_map_index.txt
  recidiviz/airflow/tests/fixtures/monitoring/test_graph_never_succeeded_most_recent_success.txt
  recidiviz/airflow/tests/fixtures/monitoring/test_graph_task_up_for_retry.txt
  recidiviz/airflow/tests/fixtures/monitoring/test_graph_task_upstream_failed.txt
  recidiviz/airflow/tests/monitoring_dag_test.py
Due: generate_docs_for_endpoint

Removing INVESTIGATION period exclusion from Dataflow supervision pipeline (Recidiviz/recidiviz-data#22964)
  recidiviz/calculator/query/state/views/shared_metric/supervision_terminations_for_spotlight.py
  recidiviz/pipelines/metrics/supervision/identifier.py
  recidiviz/pipelines/utils/supervision_period_utils.py
  recidiviz/tests/pipelines/metrics/supervision/identifier_test.py
  recidiviz/validation/views/state/supervision_termination_person_level_external_comparison.py
Due: generate_docs_for_endpoint, generate_calc_documentation

[US_MO] Deduped hearing dates in incarceration incident view (Recidiviz/recidiviz-data#22984)
  recidiviz/ingest/direct/regions/us_mo/ingest_mappings/us_mo_incarceration_incident.yaml
  recidiviz/ingest/direct/regions/us_mo/ingest_views/view_incarceration_incident.py
Due: generate_docs_for_region, generate_docs_for_endpoint

[Airflow] Remove `task_instance` from arguments (Recidiviz/recidiviz-data#22988)
  recidiviz/airflow/dags/calculation_dag.py
  recidiviz/airflow/dags/operators/recidiviz_kubernetes_pod_operator.py
  recidiviz/airflow/tests/calculation_dag_test.py
Due: generate_docs_for_endpoint

[Airflow] Fix state code filter without sandbox prefix error for `update_normalized_state` (Recidiviz/recidiviz-data#22965)
  recidiviz/airflow/dags/calculation_dag.py
Due: generate_docs_for_endpoint

[Bugfix] Remove erroneous print statement (Recidiviz/recidiviz-data#22983)
  recidiviz/task_eligibility/utils/us_ix_query_fragments.py
Due: generate_docs_for_endpoint, generate_calc_documentation

[Outliers] Configure exponential backoff and shorten duration of Outliers storage notification (Recidiviz/recidiviz-data#22982)
  recidiviz/tools/deploy/terraform/cloud-storage-notifications.tf
  recidiviz/tools/deploy/terraform/modules/cloud-storage-notification/main.tf
Due: generate_docs_for_endpoint, update_terraform_lock_file

fixing sessions typo from deploy (Recidiviz/recidiviz-data#22997)
  recidiviz/calculator/query/state/views/sessions/us_id/us_id_incarceration_population_metrics_preprocessed.py
Due: generate_docs_for_endpoint, generate_calc_documentation

Adds lookml autogen support for custom denominator metric (Recidiviz/recidiviz-data#22779)
  recidiviz/tests/tools/looker/aggregated_metrics/__init__.py
  recidiviz/tests/tools/looker/aggregated_metrics/aggregated_metrics_lookml_generator_test.py
  recidiviz/tests/tools/looker/aggregated_metrics/aggregated_metrics_lookml_utils_test.py
  recidiviz/tools/looker/aggregated_metrics/aggregated_metrics_lookml_generator.py
  recidiviz/tools/looker/aggregated_metrics/aggregated_metrics_lookml_utils.py
  recidiviz/tools/looker/aggregated_metrics/custom_aggregated_metrics_lookml_generator.py
Due: generate_docs_for_endpoint

fixing sessions again (Recidiviz/recidiviz-data#23000)
  recidiviz/calculator/query/state/views/sessions/us_id/us_id_incarceration_population_metrics_preprocessed.py
Due: generate_docs_for_endpoint, generate_calc_documentation

[Cleanup] Delete now unused supervision_period_to_agent_association view (Recidiviz/recidiviz-data#22987)
  recidiviz/calculator/query/state/views/reference/reference_views.py
  recidiviz/calculator/query/state/views/reference/supervision_period_to_agent_association.py
  recidiviz/pipelines/metrics/incarceration/pipeline.py
  recidiviz/pipelines/metrics/population_spans/pipeline.py
  recidiviz/pipelines/metrics/program/pipeline.py
  recidiviz/pipelines/metrics/supervision/pipeline.py
  recidiviz/pipelines/utils/execution_utils.py
  recidiviz/tests/pipelines/fake_bigquery.py
  recidiviz/tests/pipelines/metrics/incarceration/identifier_test.py
  recidiviz/tests/pipelines/metrics/incarceration/pipeline_test.py
  recidiviz/tests/pipelines/metrics/population_spans/identifier_test.py
  recidiviz/tests/pipelines/metrics/population_spans/pipeline_test.py
  recidiviz/tests/pipelines/metrics/program/identifier_test.py
  recidiviz/tests/pipelines/metrics/program/pipeline_test.py
  recidiviz/tests/pipelines/metrics/supervision/identifier_test.py
  recidiviz/tests/pipelines/metrics/supervision/pipeline_test.py
  recidiviz/tests/pipelines/metrics/utils/commitment_from_supervision_utils_test.py
  recidiviz/tests/pipelines/utils/state_utils/state_calculation_config_manager_test.py
  recidiviz/tests/pipelines/utils/state_utils/state_specific_supervision_delegate_test.py
  recidiviz/tests/pipelines/utils/state_utils/us_pa/us_pa_commitment_from_supervision_delegate_test.py
  recidiviz/tests/pipelines/utils/supervision_period_utils_test.py
Due: generate_docs_for_endpoint, generate_calc_documentation

[US_ND] Update normalization to reference flat supervision officer external_id instead of StateAgent (Recidiviz/recidiviz-data#22985)
  recidiviz/pipelines/utils/state_utils/us_nd/us_nd_supervision_period_normalization_delegate.py
  recidiviz/tests/pipelines/utils/state_utils/us_nd/us_nd_supervision_period_normalization_delegate_test.py
Due: generate_docs_for_endpoint

[Schema] Enforce that external_ids are nonnull in state/schema.py (Recidiviz/recidiviz-data#22795)
  recidiviz/persistence/database/migrations/state/versions/2023_08_04_1354_4c1b99806c43_nonnull_external_ids.py
  recidiviz/persistence/database/schema/state/schema.py
  recidiviz/tests/persistence/database/schema/state/schema_test.py
  recidiviz/tests/persistence/database/schema/state/schema_test_utils.py
  recidiviz/tests/persistence/entity_matching/legacy/state/state_entity_matcher_test.py
Due: generate_docs_for_endpoint, generate_entity_documentation, generate_calc_documentation

[US_ME] Helper functions file refactor (Recidiviz/recidiviz-data#23005)
  recidiviz/calculator/query/state/views/workflows/firestore/us_me_complete_early_termination_record.py
  recidiviz/calculator/query/state/views/workflows/firestore/us_me_complete_transfer_to_sccp_form_record.py
  recidiviz/calculator/query/state/views/workflows/firestore/us_me_furlough_release_form_record.py
  recidiviz/calculator/query/state/views/workflows/firestore/us_me_work_release_form_record.py
  recidiviz/task_eligibility/criteria/state_specific/us_me/custody_level_is_community.py
  recidiviz/task_eligibility/criteria/state_specific/us_me/custody_level_is_minimum_or_community.py
  recidiviz/task_eligibility/criteria/state_specific/us_me/served_half_of_sentence.py
  recidiviz/task_eligibility/criteria/state_specific/us_me/served_x_portion_of_sentence.py
  recidiviz/task_eligibility/criteria/state_specific/us_me/three_years_remaining_on_sentence.py
  recidiviz/task_eligibility/criteria/state_specific/us_me/x_months_remaining_on_sentence.py
  recidiviz/task_eligibility/utils/us_me_query_fragments.py
Due: generate_docs_for_endpoint, generate_calc_documentation

[US_MI][Workflows] Add excluded offenses under MI OP 06.05.135 Section I4 for early discharge from parole (Recidiviz/recidiviz-data#22865)
  recidiviz/task_eligibility/criteria/state_specific/us_mi/not_serving_ineligible_offenses_for_early_discharge_from_parole_dual_supervision.py
Due: generate_docs_for_endpoint, generate_calc_documentation

[US_MI][Workflows] Refactor assessment score sessions to remove preprocessed view (Recidiviz/recidiviz-data#22771)
  recidiviz/calculator/query/state/views/sessions/assessment_score_sessions.py
  recidiviz/calculator/query/state/views/sessions/sessions_views.py
  recidiviz/calculator/query/state/views/sessions/us_mi/us_mi_state_assessment_preprocessed.py
  recidiviz/calculator/query/state/views/workflows/firestore/us_mi_complete_classification_review_form_record.py
  recidiviz/calculator/query/state/views/workflows/firestore/us_mi_supervision_level_downgrade_record.py
  recidiviz/task_eligibility/criteria/state_specific/us_mi/past_initial_classification_review_date.py
  recidiviz/task_eligibility/criteria/state_specific/us_mi/supervision_and_assessment_level_eligible_for_telephone_reporting.py
  recidiviz/task_eligibility/criteria/state_specific/us_mi/supervision_level_higher_than_assessment_level.py
Due: generate_docs_for_endpoint, generate_calc_documentation

[Airflow] Fix handle params always short-circuiting (Recidiviz/recidiviz-data#23002)
  recidiviz/airflow/dags/calculation/initialize_calculation_dag_group.py
Due: generate_docs_for_endpoint

[US_TN] TEPE Form and Sidebar updates for DRUNs, DRUPs and NCAC/NCAF (Recidiviz/recidiviz-data#22994)
  recidiviz/calculator/query/state/views/workflows/firestore/us_tn_full_term_supervision_discharge_record.py
Due: generate_docs_for_endpoint, generate_calc_documentation

Create new `custody level raw text sessions` view (Recidiviz/recidiviz-data#22911)
  recidiviz/calculator/query/state/views/sessions/custody_level_raw_text_sessions.py
  recidiviz/calculator/query/state/views/sessions/sessions_views.py
Due: generate_docs_for_endpoint, generate_calc_documentation

[US_ME] Hydrate nulls on task deadlines attached to incarceration and supervision sentences (Recidiviz/recidiviz-data#22820)
  recidiviz/ingest/direct/regions/us_me/ingest_mappings/us_me_incarceration_sentences.yaml
  recidiviz/ingest/direct/regions/us_me/ingest_mappings/us_me_supervision_sentences.yaml
  recidiviz/tests/ingest/direct/regions/utils.py
Due: generate_docs_for_region, generate_docs_for_endpoint

[US_ME] Bump threshold for admission_pfi_pop_pfi_mismatch (Recidiviz/recidiviz-data#23007)
  recidiviz/validation/config/regions/us_me/us_me_validation_config.yaml
Due: generate_docs_for_endpoint

[Justice Counts] Refactoring get_bulk_upload_template endpoint for 'system' parameter (Recidiviz/recidiviz-data#22966)
  recidiviz/justice_counts/control_panel/routes/api.py
  recidiviz/tests/justice_counts/control_panel/server_test.py
Due: generate_docs_for_endpoint

[Autogenerated] Update Pipfile.lock (Recidiviz/recidiviz-data#23013)
  Pipfile.lock
Due: none

[Justice Counts] Speed up Agency Dashboard home page [BE] (Recidiviz/recidiviz-data#23030)
  recidiviz/justice_counts/control_panel/routes/api.py
  recidiviz/tests/justice_counts/control_panel/server_test.py
Due: generate_docs_for_endpoint

[US_TN] Compliant reporting refactor to TES Opp Record Query (Recidiviz/recidiviz-data#21457)
  recidiviz/calculator/query/state/views/analyst_data/us_tn/us_tn_exemptions_preprocessed.py
  recidiviz/calculator/query/state/views/workflows/firestore/firestore_views.py
  recidiviz/calculator/query/state/views/workflows/firestore/us_tn_full_term_supervision_discharge_record.py
  recidiviz/calculator/query/state/views/workflows/firestore/us_tn_transfer_to_compliant_reporting_record.py
  recidiviz/calculator/query/state/views/workflows/us_tn/shared_ctes.py
  recidiviz/task_eligibility/criteria/state_specific/us_tn/ineligible_for_compliant_reporting_no_further_requirement.py
  recidiviz/task_eligibility/criteria/state_specific/us_tn/no_high_sanctions_in_past_year.py
  recidiviz/task_eligibility/criteria/state_specific/us_tn/not_serving_ineligible_cr_offense.py
  recidiviz/task_eligibility/criteria/state_specific/us_tn/not_serving_unknown_cr_offense.py
  recidiviz/task_eligibility/utils/almost_eligible_query_fragments.py
  recidiviz/task_eligibility/utils/preprocessed_views_query_fragments.py
  recidiviz/task_eligibility/utils/state_dataset_query_fragments.py
Due: generate_docs_for_endpoint, generate_calc_documentation

Add sandbox dataset creation to calculation dag script (Recidiviz/recidiviz-data#23048)
  recidiviz/tools/calculator/create_or_update_dataflow_sandbox.py
  recidiviz/tools/run_state_specific_calculation_dag.py
Due: generate_docs_for_endpoint

[US_TN] Compliant Reporting `client_record` and `staff_record` refactor (Recidiviz/recidiviz-data#22035)
  recidiviz/calculator/query/state/views/reference/workflows_opportunity_configs.py
  recidiviz/calculator/query/state/views/workflows/firestore/client_record.py
  recidiviz/calculator/query/state/views/workflows/firestore/client_record_ctes.py
  recidiviz/calculator/query/state/views/workflows/firestore/compliant_reporting_referral_record.py
  recidiviz/calculator/query/state/views/workflows/us_tn/shared_ctes.py
  recidiviz/calculator/query/state/views/workflows/us_tn/supervision_clients_template.py
  recidiviz/calculator/query/state/views/workflows/us_tn/supervision_staff_template.py
  recidiviz/workflows/etl/workflows_opportunity_etl_delegate.py
Due: generate_docs_for_endpoint, generate_calc_documentation

[Workflows] Add display_id to JII records (Recidiviz/recidiviz-data#23031)
  recidiviz/calculator/query/state/views/workflows/firestore/client_record.py
  recidiviz/calculator/query/state/views/workflows/firestore/client_record_ctes.py
  recidiviz/calculator/query/state/views/workflows/firestore/resident_record_ctes.py
  recidiviz/calculator/query/state/views/workflows/us_tn/supervision_clients_template.py
  recidiviz/tests/workflows/etl/fixtures/client_record.json
  recidiviz/tests/workflows/etl/fixtures/resident_record.json
  recidiviz/tests/workflows/etl/workflows_client_etl_delegate_test.py
  recidiviz/tests/workflows/etl/workflows_resident_etl_delegate_test.py
  recidiviz/workflows/etl/workflows_resident_etl_delegate.py
Due: generate_docs_for_endpoint, generate_calc_documentation

[Justice Counts] Turning Sentry profiling back on for 10% of transactions (Recidiviz/recidiviz-data#23015)
  recidiviz/justice_counts/control_panel/server.py
Due: generate_docs_for_endpoint

AR configs (Recidiviz/recidiviz-data#22806)
  recidiviz/ingest/direct/regions/us_ar/raw_data/us_ar_ADDRESS.yaml
  recidiviz/ingest/direct/regions/us_ar/raw_data/us_ar_CLIENTPROFILE.yaml
  recidiviz/ingest/direct/regions/us_ar/raw_data/us_ar_INTERVENTOFFENSE.yaml
  recidiviz/ingest/direct/regions/us_ar/raw_data/us_ar_INTERVENTSANCTION.yaml
  recidiviz/ingest/direct/regions/us_ar/raw_data/us_ar_INTERVENTTYPE.yaml
  recidiviz/ingest/direct/regions/us_ar/raw_data/us_ar_OFFENDERNAMEALIAS.yaml
  recidiviz/ingest/direct/regions/us_ar/raw_data/us_ar_OFFENDERPROFILE.yaml
  recidiviz/ingest/direct/regions/us_ar/raw_data/us_ar_OFNRELATEDADDRESS.yaml
  recidiviz/ingest/direct/regions/us_ar/raw_data/us_ar_PAROLERISKASMNT.yaml
  recidiviz/ingest/direct/regions/us_ar/raw_data/us_ar_PAROLERISKASMTTOOL.yaml
  recidiviz/ingest/direct/regions/us_ar/raw_data/us_ar_PERSONPROFILE.yaml
  recidiviz/ingest/direct/regions/us_ar/raw_data/us_ar_RELATEDPARTY.yaml
  recidiviz/ingest/direct/regions/us_ar/raw_data/us_ar_SENTENCECOMPONENT.yaml
  recidiviz/ingest/direct/regions/us_ar/raw_data/us_ar_SUPERVISIONEVENT.yaml
  recidiviz/ingest/direct/regions/us_ar/raw_data/us_ar_SUPVINTERVENTION.yaml
  recidiviz/view_registry/deployed_views.py
Due: generate_docs_for_region, generate_docs_for_endpoint

[US_OR] Adding solution for overlapping periods (Recidiviz/recidiviz-data#22968)
  recidiviz/ingest/direct/regions/us_or/ingest_views/view_Incarceration_Period.py
Due: generate_docs_for_region, generate_docs_for_endpoint

[Justice Counts] Add subscribed column to user_account table (Recidiviz/recidiviz-data#22974)
  recidiviz/persistence/database/migrations/justice_counts/versions/2023_08_04_1000_d77dcb2be80d_add_subscribed_column.py
  recidiviz/persistence/database/schema/justice_counts/schema.py
Due: generate_docs_for_endpoint, generate_calc_documentation

Path conditions:
  generate_docs_for_region: any of: ^recidiviz/ingest/direct/regions/
  generate_docs_for_endpoint: any of: ^recidiviz/, but not: (?x)(^recidiviz/tests/|^recidiviz/tools/|^recidiviz/ingest/direct/regions/)$

  generate_entity_documentation: any of: (?x)(^recidiviz/persistence/database/schema/state/schema.py|^recidiviz/persistence/database/schema/history_table_shared_columns_mixin.py|^recidiviz/common/constants/state/)$

  generate_calc_documentation: any of: ^recidiviz/calculator/|^recidiviz/metrics/|^recidiviz/.*/views/|^recidiviz/big_query/|^recidiviz/persistence/database/schema/|^recidiviz/persistence/entity/|^recidiviz/task_eligibility/, but not: ^recidiviz/tests/|^recidiviz/calculator/modeling/
  generate_ingest_mappings_schema_documentation: any of: ^recidiviz/ingest/direct/ingest_mappings/yaml_schema/|^docs/engineering/ingest_mapping_schema/
  update_terraform_lock_file: any of: ^recidiviz/tools/deploy/terraform/
