Repository Recidiviz/pulse-data: changes, and which pre-commit hooks are due for each by the changed paths.
All: generate_docs_for_region, generate_docs_for_endpoint, generate_entity_documentation, generate_calc_documentation, generate_ingest_mappings_schema_documentation, update_terraform_lock_file

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.3.0
    hooks:
      - id: check-yaml
  - repo: https://github.com/psf/black
    rev: 22.3.0
    hooks:
      # This runs on py, pyi, and ipynb files.
      - id: black-jupyter
        language_version: python3
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v2.5.1
    hooks:
      - id: prettier
        types_or: [yaml]
  - repo: https://github.com/pycqa/isort
    rev: 5.6.4
    hooks:
      - id: isort
        name: isort (python)
      - id: isort
        name: isort (pyi)
        types: [pyi]
  - repo: local
    hooks:
      - id: generate_docs_for_region
        name: generate_docs_for_region
        entry: pipenv run python -m recidiviz.tools.docs.region_documentation_generator
        language: system
        files: ^recidiviz/ingest/direct/regions/
        require_serial: true
      - id: generate_docs_for_endpoint
        name: generate_docs_for_endpoint
        entry: pipenv run python -m recidiviz.tools.docs.endpoint_documentation_generator
        language: system
        files: ^recidiviz/
        exclude: >
          (?x)(^recidiviz/tests/|^recidiviz/tools/|^recidiviz/ingest/direct/regions/)$
        require_serial: true
      - id: generate_entity_documentation
        name: generate_entity_documentation
        entry: pipenv run python -m recidiviz.tools.docs.entity_documentation_generator
        language: system
        files: >
          (?x)(^recidiviz/persistence/database/schema/state/schema.py|^recidiviz/persistence/database/schema/history_table_shared_columns_mixin.py|^recidiviz/common/constants/state/)$
        require_serial: true
      - id: generate_calc_documentation
        name: generate_calc_documentation
        entry: pipenv run python -m recidiviz.calculator.calculation_documentation_generator
        language: system
        files: ^recidiviz/calculator/|^recidiviz/metrics/|^recidiviz/.*/views/|^recidiviz/big_query/|^recidiviz/persistence/database/schema/|^recidiviz/persistence/entity/|^recidiviz/task_eligibility/
        exclude: ^recidiviz/tests/|^recidiviz/calculator/modeling/
        require_serial: true
      - id: generate_ingest_mappings_schema_documentation
        name: generate_ingest_mappings_schema_documentation
        entry: pipenv run python -m recidiviz.tools.docs.ingest_mappings_schema_documentation_generator
        language: system
        files: ^recidiviz/ingest/direct/ingest_mappings/yaml_schema/|^docs/engineering/ingest_mapping_schema/
        require_serial: true
      - id: update_terraform_lock_file
        name: update_terraform_lock_file
        entry: recidiviz/tools/deploy/update_terraform_lock.sh
        language: script
        files: ^recidiviz/tools/deploy/terraform/
        require_serial: true

[US_MO] Add back warrant/absconsion sentence statuses (Recidiviz/recidiviz-data#31873)
  recidiviz/ingest/direct/regions/us_mo/ingest_views/templates_sentences.py
Due: generate_docs_for_region, generate_docs_for_endpoint

Adds new view for live workflows by state (Recidiviz/recidiviz-data#31866)
  recidiviz/calculator/query/state/views/analyst_data/analyst_data_views.py
  recidiviz/calculator/query/state/views/analyst_data/models/event_type.py
  recidiviz/calculator/query/state/views/analyst_data/workflows_live_completion_event_types_by_state.py
  recidiviz/tools/find_unused_bq_views.py
Due: generate_docs_for_endpoint, generate_calc_documentation

[Schema Change] adding supervision contact metadata (Recidiviz/recidiviz-data#31840)
  recidiviz/persistence/database/schema/state/schema.py
  recidiviz/persistence/entity/state/entities.py
  recidiviz/persistence/entity/state/normalized_entities.py
  recidiviz/tests/persistence/entity/state/deserialize_entity_factories_test.py
Due: generate_docs_for_endpoint, generate_entity_documentation, generate_calc_documentation

[TES] Fix criteria groups with array reason types (Recidiviz/recidiviz-data#31858)
  recidiviz/task_eligibility/task_criteria_group_big_query_view_builder.py
  recidiviz/task_eligibility/utils/state_dataset_query_fragments.py
  recidiviz/tests/task_eligibility/task_criteria_group_big_query_view_builder_test.py
Due: generate_docs_for_endpoint, generate_calc_documentation

[US_AZ] Added the AZ specific violent crime criteria .py file + Updated the TPR Task Query (Recidiviz/recidiviz-data#31725)
  recidiviz/task_eligibility/criteria/state_specific/us_az/__init__.py
  recidiviz/task_eligibility/criteria/state_specific/us_az/serving_assault_or_aggravated_assault_or_robbery.py
  recidiviz/task_eligibility/eligibility_spans/us_az/release_to_tpr_request.py
  recidiviz/task_eligibility/utils/general_criteria_builders.py
  recidiviz/tests/task_eligibility/task_eligibility_spans_test.py
Due: generate_docs_for_endpoint, generate_calc_documentation

[Bugfix] Improvements to region_files_generator script (Recidiviz/recidiviz-data#31864)
  recidiviz/tests/tools/utils/script_helpers_test.py
  recidiviz/tools/ingest/development/region_files_generator.py
  recidiviz/tools/utils/script_helpers.py
Due: generate_docs_for_endpoint

[Ingest] Add source tables for us_xx_normalized_state output from ingest pipelines (Recidiviz/recidiviz-data#31783)
  recidiviz/pipelines/calculation_data_storage_manager.py
  recidiviz/pipelines/ingest/normalization_in_ingest_gating.py
  recidiviz/pipelines/ingest/pipeline_parameters.py
  recidiviz/pipelines/normalization/dataset_config.py
  recidiviz/pipelines/normalization/pipeline_parameters.py
  recidiviz/source_tables/ingest_pipeline_output_table_collector.py
  recidiviz/source_tables/normalization_pipeline_output_table_collector.py
  recidiviz/tests/persistence/entity/entities_bq_schema_test.py
  recidiviz/tests/pipelines/ingest/normalization_in_ingest_gating_test.py
  recidiviz/tests/pipelines/ingest/pipeline_parameters_test.py
  recidiviz/tests/source_tables/update_big_query_table_schemas_test.py
  recidiviz/tools/calculator/update_sandbox_normalized_state_dataset.py
  recidiviz/tools/validate_source_visibility.py
  recidiviz/view_registry/datasets.py
Due: generate_docs_for_endpoint

[US_OR] Add reason-field descriptions for OR-specific criteria (Recidiviz/recidiviz-data#31884)
  recidiviz/task_eligibility/criteria/state_specific/us_or/sentence_eligible.py
  recidiviz/task_eligibility/criteria/state_specific/us_or/supervision_type_eligible.py
Due: generate_docs_for_endpoint, generate_calc_documentation

[Cleanup] Delete some unused schema building helpers (Recidiviz/recidiviz-data#31760)
  recidiviz/persistence/database/bq_refresh/big_query_table_manager.py
Due: generate_docs_for_endpoint

[US_PA][Workflows] Create criteria logic for special circumstances workflow (Recidiviz/recidiviz-data#30732)
  recidiviz/task_eligibility/completion_events/state_specific/us_pa/transfer_to_special_circumstances_supervision.py
  recidiviz/task_eligibility/criteria/state_specific/us_pa/marked_ineligible_for_admin_supervision.py
  recidiviz/task_eligibility/criteria/state_specific/us_pa/meets_one_of_special_circumstances_criteria.py
  recidiviz/task_eligibility/criteria/state_specific/us_pa/meets_special_circumstances_criteria_for_special_cases.py
  recidiviz/task_eligibility/criteria/state_specific/us_pa/meets_special_circumstances_criteria_for_time_served.py
  recidiviz/task_eligibility/criteria/state_specific/us_pa/no_medium_sanctions_in_past_year.py
  recidiviz/task_eligibility/criteria/state_specific/us_pa/not_eligible_for_admin_supervision.py
  recidiviz/task_eligibility/criteria/state_specific/us_pa/serving_special_case.py
  recidiviz/task_eligibility/criteria/state_specific/us_pa/supervision_level_is_not_special_circumstances.py
  recidiviz/task_eligibility/eligibility_spans/us_pa/complete_transfer_to_special_circumstances_supervision_request.py
  recidiviz/task_eligibility/utils/us_pa_query_fragments.py
Due: generate_docs_for_endpoint, generate_calc_documentation

[Orchestration] Update update_state_dataset step to use source tables collection (Recidiviz/recidiviz-data#31786)
  recidiviz/entrypoints/ingest/update_state_dataset.py
  recidiviz/persistence/database/bq_refresh/update_state_dataset.py
  recidiviz/tests/persistence/database/bq_refresh/update_state_dataset_test.py
Due: generate_docs_for_endpoint

[Case Note Search] Add field for case note title. (Recidiviz/recidiviz-data#31881)
  recidiviz/prototypes/case_note_search/case_note_search.py
  recidiviz/tests/prototypes/case_note_search_test.py
Due: generate_docs_for_endpoint

[Orchestration] Update update_normalized_state_dataset step to pull from datasource based on combined pipelines gating (Recidiviz/recidiviz-data#31805)
  recidiviz/airflow/dags/calculation_dag.py
  recidiviz/airflow/tests/calculation_dag_test.py
  recidiviz/calculator/query/state/dataset_config.py
  recidiviz/entrypoints/normalization/update_normalized_state_dataset.py
  recidiviz/persistence/database/bq_refresh/update_normalized_state_dataset.py
  recidiviz/persistence/database/bq_refresh/update_state_dataset.py
  recidiviz/pipelines/calculation_data_storage_manager.py
  recidiviz/pipelines/normalization/dataset_config.py
  recidiviz/source_tables/collect_all_source_table_configs.py
  recidiviz/source_tables/source_table_config.py
  recidiviz/source_tables/union_tables_output_table_collector.py
  recidiviz/tests/persistence/database/bq_refresh/update_normalized_state_dataset_test.py
  recidiviz/tests/persistence/entity/entities_bq_schema_test.py
  recidiviz/tests/persistence/entity/fake_normalized_entities.py
  recidiviz/tests/pipelines/calculation_data_storage_manager_test.py
  recidiviz/tests/source_tables/collect_all_source_table_configs_test.py
  recidiviz/tests/source_tables/update_big_query_table_schemas_test.py
  recidiviz/tools/calculator/update_sandbox_normalized_state_dataset.py
  recidiviz/tools/ingest/testing/validate_state_dataset.py
  recidiviz/view_registry/datasets.py
Due: generate_docs_for_endpoint, generate_calc_documentation

[Lint] Fix pylint on main (Recidiviz/recidiviz-data#31888)
  recidiviz/pipelines/utils/state_utils/state_specific_incarceration_metrics_producer_delegate.py
  recidiviz/pipelines/utils/state_utils/state_specific_recidivism_metrics_producer_delegate.py
  recidiviz/pipelines/utils/state_utils/state_specific_supervision_metrics_producer_delegate.py
Due: generate_docs_for_endpoint

Add CL1 value to supervision legal authority sessions (Recidiviz/recidiviz-data#31390)
  recidiviz/calculator/query/state/views/sessions/compartment_sub_sessions.py
  recidiviz/calculator/query/state/views/sessions/compartment_sub_sessions_preprocessed.py
  recidiviz/calculator/query/state/views/sessions/supervision_legal_authority_sessions.py
Due: generate_docs_for_endpoint, generate_calc_documentation

Rename supervision legal authority sessions (Recidiviz/recidiviz-data#31800)
  recidiviz/calculator/query/state/views/analyst_data/fines_fees_sessions.py
  recidiviz/calculator/query/state/views/analyst_data/us_tn/us_tn_fines_fees_sessions_preprocessed.py
  recidiviz/calculator/query/state/views/sessions/prioritized_supervision_sessions.py
  recidiviz/calculator/query/state/views/sessions/sessions_views.py
  recidiviz/calculator/query/state/views/sessions/supervision_officer_transitional_caseload_type_sessions.py
  recidiviz/task_eligibility/utils/us_pa_query_fragments.py
Due: generate_docs_for_endpoint, generate_calc_documentation

[US_IX][PSI] Fixing criteria and needsAddressed columns for community opportunities (Recidiviz/recidiviz-data#31803)
  recidiviz/calculator/query/state/views/sentencing/us_ix/sentencing_community_opportunity_template.py
Due: generate_docs_for_endpoint, generate_calc_documentation

Implement PSI Case Insights recidivism calculation rollup (Recidiviz/recidiviz-data#31655)
  recidiviz/calculator/query/state/views/sentencing/sentence_cohort.py
  recidiviz/entrypoints/sentencing/write_case_insights_data_to_bq.py
  recidiviz/tests/entrypoints/sentencing/write_case_insights_data_to_bq_test.py
Due: generate_docs_for_endpoint, generate_calc_documentation

Change CI calculation method for Case Insights to 'beta' (Recidiviz/recidiviz-data#31771)
  recidiviz/entrypoints/sentencing/write_case_insights_data_to_bq.py
  recidiviz/tests/entrypoints/sentencing/write_case_insights_data_to_bq_test.py
Due: generate_docs_for_endpoint

Add roll-up levels based on offense categories for Case Insights recidivism calculations (Recidiviz/recidiviz-data#31869)
  recidiviz/entrypoints/sentencing/write_case_insights_data_to_bq.py
  recidiviz/tests/entrypoints/sentencing/write_case_insights_data_to_bq_test.py
Due: generate_docs_for_endpoint

[US_MO] Deprecate us_mo_mosop_prio_eligibility analyst view (Recidiviz/recidiviz-data#31761)
  recidiviz/calculator/query/state/views/analyst_data/analyst_data_views.py
  recidiviz/calculator/query/state/views/analyst_data/us_mo/us_mo_mosop_prio_eligibility.py
  recidiviz/tools/find_unused_bq_views.py
Due: generate_docs_for_endpoint, generate_calc_documentation

Incorporates completion event type metadata into spans and events (Recidiviz/recidiviz-data#31692)
  recidiviz/calculator/query/state/views/analyst_data/models/events.py
  recidiviz/calculator/query/state/views/analyst_data/models/spans.py
  recidiviz/tools/find_unused_bq_views.py
Due: generate_docs_for_endpoint, generate_calc_documentation

[raw data import dag] integration tests for resource locking & step 2 (Recidiviz/recidiviz-data#31767)
  recidiviz/airflow/dags/raw_data/release_resource_lock_sql_query_generator.py
  recidiviz/airflow/tests/raw_data_import_dag_test.py
  recidiviz/airflow/tests/test_utils.py
  recidiviz/airflow/tests/utils/dag_helper_functions.py
  recidiviz/tools/validate_source_visibility.py
Due: generate_docs_for_endpoint

[US_MO] Add reason descriptions for MO criteria (Recidiviz/recidiviz-data#31910)
  recidiviz/task_eligibility/criteria/state_specific/us_mo/d1_sanction_after_most_recent_hearing.py
  recidiviz/task_eligibility/criteria/state_specific/us_mo/d1_sanction_after_restrictive_housing_start.py
  recidiviz/task_eligibility/criteria/state_specific/us_mo/hearing_after_restrictive_housing_start.py
  recidiviz/task_eligibility/criteria/state_specific/us_mo/in_restrictive_housing.py
  recidiviz/task_eligibility/criteria/state_specific/us_mo/initial_hearing_past_due_date.py
  recidiviz/task_eligibility/criteria/state_specific/us_mo/no_active_d1_sanctions.py
  recidiviz/task_eligibility/criteria/state_specific/us_mo/no_d1_sanction_after_most_recent_hearing.py
  recidiviz/task_eligibility/criteria/state_specific/us_mo/no_d1_sanction_after_restrictive_housing_start.py
  recidiviz/task_eligibility/criteria/state_specific/us_mo/no_hearing_after_restrictive_housing_start.py
  recidiviz/task_eligibility/criteria/state_specific/us_mo/overdue_for_hearing.py
  recidiviz/task_eligibility/criteria/state_specific/us_mo/past_latest_scheduled_review_date.py
  recidiviz/task_eligibility/task_criteria_group_big_query_view_builder.py
Due: generate_docs_for_endpoint, generate_calc_documentation

[Justice Counts] Automate user permissions check (Recidiviz/recidiviz-data#31852)
  recidiviz/justice_counts/control_panel/utils.py
  recidiviz/justice_counts/jobs/data_pull_job.py
  recidiviz/justice_counts/jobs/user_permissions_check.py
Due: generate_docs_for_endpoint

[Spotlight] Fix racial disparities (Recidiviz/recidiviz-data#31912)
  recidiviz/calculator/query/state/views/public_dashboard/racial_disparity/racial_disparities.py
Due: generate_docs_for_endpoint, generate_calc_documentation

[Testing] DirectIngestRawDataFixtureDelegate (Recidiviz/recidiviz-data#31886)
  recidiviz/tests/ingest/direct/regions/ingest_view_query_test_case.py
Due: generate_docs_for_endpoint

[US_OR] Tidy up query for `sentence_eligible` criterion (Recidiviz/recidiviz-data#31917)
  recidiviz/task_eligibility/criteria/state_specific/us_or/sentence_eligible.py
Due: generate_docs_for_endpoint, generate_calc_documentation

[Cleanup] Small refactor to BigQueryViewSubDagCollector (Recidiviz/recidiviz-data#31899)
  recidiviz/big_query/big_query_view_sub_dag_collector.py
  recidiviz/tests/big_query/big_query_view_sub_dag_collector_test.py
  recidiviz/tools/load_views_to_sandbox.py
Due: generate_docs_for_endpoint, generate_calc_documentation

[airflow] re-add cloud composer env vars (Recidiviz/recidiviz-data#31911)
  recidiviz/tools/deploy/terraform/cloud-composer.tf
Due: generate_docs_for_endpoint, update_terraform_lock_file

[raw data import dag] bug fixes & integration tests for step 3 (Recidiviz/recidiviz-data#31816)
  recidiviz/airflow/dags/raw_data/gcs_file_processing_tasks.py
  recidiviz/airflow/tests/raw_data_import_dag_test.py
  recidiviz/airflow/tests/test_utils.py
  recidiviz/airflow/tests/utils/dag_helper_functions.py
Due: generate_docs_for_endpoint

[US_AR] Add reason descriptions for AR criteria (Recidiviz/recidiviz-data#31921)
  recidiviz/task_eligibility/criteria/state_specific/us_ar/no_incarceration_sanctions_within_12_months.py
  recidiviz/task_eligibility/criteria/state_specific/us_ar/no_incarceration_sanctions_within_6_months.py
Due: generate_docs_for_endpoint, generate_calc_documentation

sort inputs of `itertools.groupby` (Recidiviz/recidiviz-data#31880)
  recidiviz/justice_counts/spreadsheet.py
  recidiviz/validation/validation_manager.py
Due: generate_docs_for_endpoint

Fixes yaml file name in tf job for `workflows_launch_metadata_materialized` (Recidiviz/recidiviz-data#31934)
  recidiviz/tools/deploy/terraform/bigquery.tf
Due: generate_docs_for_endpoint, update_terraform_lock_file

[Tools] Add --load_up_to_addresses and --load_up_to_datasets args to load_views_to_sandbox (Recidiviz/recidiviz-data#31905)
  recidiviz/big_query/big_query_view_dag_walker.py
  recidiviz/tests/big_query/big_query_view_dag_walker_test.py
  recidiviz/tools/load_views_to_sandbox.py
  recidiviz/tools/utils/arg_parsers.py
Due: generate_docs_for_endpoint, generate_calc_documentation
