Repository Recidiviz/pulse-data: changes, and which pre-commit hooks are due for each by the changed paths.
All: generate_docs_for_region, generate_docs_for_endpoint, generate_entity_documentation

generate_docs_for_region:
  name: generate_docs_for_region
  entry: pipenv run python -m recidiviz.tools.docs.region_documentation_generator
  language: system
  require_serial: true

generate_docs_for_endpoint:
  name: generate_docs_for_endpoint
  entry: pipenv run python -m recidiviz.tools.docs.endpoint_documentation_generator
  language: system
  require_serial: true

generate_entity_documentation:
  name: generate_entity_documentation
  entry: pipenv run python -m recidiviz.tools.docs.entity_documentation_generator
  language: system
  require_serial: true

Simplify calculation pipeline args (Recidiviz/recidiviz-data#3005)
  recidiviz/calculator/pipeline/incarceration/pipeline.py
  recidiviz/calculator/pipeline/program/pipeline.py
  recidiviz/calculator/pipeline/recidivism/pipeline.py
  recidiviz/calculator/pipeline/supervision/pipeline.py
  recidiviz/calculator/pipeline/utils/pipeline_args_utils.py
  recidiviz/tests/calculator/pipeline/utils/pipeline_args_utils_test.py
  recidiviz/tools/deploy/deploy_pipeline_to_template.sh
  recidiviz/tools/run_calculation_pipelines.py
Due: generate_docs_for_endpoint

Allow for running of pipelines only on a certain person (or people) (Recidiviz/recidiviz-data#2996)
  recidiviz/calculator/pipeline/incarceration/identifier.py
  recidiviz/calculator/pipeline/incarceration/pipeline.py
  recidiviz/calculator/pipeline/program/pipeline.py
  recidiviz/calculator/pipeline/recidivism/pipeline.py
  recidiviz/calculator/pipeline/supervision/pipeline.py
  recidiviz/calculator/pipeline/utils/extractor_utils.py
  recidiviz/calculator/pipeline/utils/pipeline_args_utils.py
  recidiviz/persistence/database/schema_utils.py
  recidiviz/persistence/entity/core_entity.py
  recidiviz/tests/calculator/pipeline/incarceration/pipeline_test.py
  recidiviz/tests/calculator/pipeline/program/pipeline_test.py
  recidiviz/tests/calculator/pipeline/recidivism/pipeline_test.py
  recidiviz/tests/calculator/pipeline/supervision/pipeline_test.py
  recidiviz/tests/calculator/pipeline/utils/extractor_utils_test.py
  recidiviz/tests/calculator/pipeline/utils/pipeline_args_utils_test.py
  recidiviz/tests/persistence/database/database_test_utils.py
Due: generate_docs_for_endpoint

Using date of revocation admission instead of board hold (Recidiviz/recidiviz-data#3015)
  recidiviz/calculator/pipeline/supervision/identifier.py
  recidiviz/tests/calculator/pipeline/supervision/identifier_test.py
Due: generate_docs_for_endpoint

close open bookings if multiple (Recidiviz/recidiviz-data#2433)
  recidiviz/persistence/entity_matching/county/county_entity_matcher.py
  recidiviz/persistence/entity_matching/county/county_matching_utils.py
  recidiviz/persistence/ingest_info_converter/county/county_converter.py
  recidiviz/tests/persistence/entity_matching/county/county_entity_matcher_test.py
  recidiviz/tests/persistence/entity_matching/county/county_matching_utils_test.py
  recidiviz/tests/persistence/ingest_info_converter/county/county_converter_test.py
  recidiviz/tests/persistence/persistence_test.py
  recidiviz/tests/utils/common_scraper_test.py
Due: generate_docs_for_endpoint

Update most serious offense to use sentence start date and add NCIC code to metric (Recidiviz/recidiviz-data#3016)
  recidiviz/calculator/pipeline/incarceration/calculator.py
  recidiviz/calculator/pipeline/incarceration/identifier.py
  recidiviz/calculator/pipeline/incarceration/incarceration_event.py
  recidiviz/calculator/pipeline/incarceration/metrics.py
  recidiviz/calculator/query/state/views/admissions/admissions_versus_releases_by_month.py
  recidiviz/calculator/query/state/views/admissions/admissions_versus_releases_by_period.py
  recidiviz/tests/calculator/pipeline/incarceration/calculator_test.py
  recidiviz/tests/calculator/pipeline/incarceration/identifier_test.py
  recidiviz/tests/calculator/pipeline/incarceration/pipeline_test.py
Due: generate_docs_for_endpoint

parse LSIR assessments for US_ID (Recidiviz/recidiviz-data#3018)
  recidiviz/common/str_field_utils.py
  recidiviz/ingest/direct/query_utils.py
  recidiviz/ingest/direct/regions/us_id/us_id_controller.py
  recidiviz/ingest/direct/regions/us_id/us_id_ofndr_tst_ofndr_tst_cert.yaml
  recidiviz/ingest/direct/regions/us_id/us_id_sql_queries.py
  recidiviz/ingest/direct/regions/us_mo/us_mo_sql_queries.py
  recidiviz/tests/common/str_field_utils_test.py
Due: generate_docs_for_region, generate_docs_for_endpoint

Update pipeline tests to validate BigQuery SQL queries (Recidiviz/recidiviz-data#3021)
  recidiviz/calculator/pipeline/incarceration/pipeline.py
  recidiviz/calculator/pipeline/program/pipeline.py
  recidiviz/calculator/pipeline/recidivism/pipeline.py
  recidiviz/calculator/pipeline/supervision/pipeline.py
  recidiviz/calculator/pipeline/utils/extractor_utils.py
  recidiviz/tests/calculator/calculator_test_utils.py
  recidiviz/tests/calculator/pipeline/fake_bigquery.py
  recidiviz/tests/calculator/pipeline/incarceration/pipeline_test.py
  recidiviz/tests/calculator/pipeline/program/pipeline_test.py
  recidiviz/tests/calculator/pipeline/recidivism/pipeline_test.py
  recidiviz/tests/calculator/pipeline/supervision/pipeline_test.py
  recidiviz/tests/calculator/pipeline/utils/extractor_utils_test.py
Due: generate_docs_for_endpoint

Ingest SupervisionSentence and IncarcerationSentence info (Recidiviz/recidiviz-data#3025)
  recidiviz/ingest/direct/regions/us_id/us_id_controller.py
  recidiviz/ingest/direct/regions/us_id/us_id_mittimus_judge_sentence_offense_sentprob_incarceration_sentences.yaml
  recidiviz/ingest/direct/regions/us_id/us_id_mittimus_judge_sentence_offense_sentprob_supervision_sentences.yaml
  recidiviz/ingest/direct/regions/us_id/us_id_sql_queries.py
Due: generate_docs_for_region, generate_docs_for_endpoint

Adds initial Pennsylvania ingest infrastructure and files. (Recidiviz/recidiviz-data#3027)
  recidiviz/common/constants/state/external_id_types.py
  recidiviz/ingest/direct/regions/us_id/us_id_controller.py
  recidiviz/ingest/direct/regions/us_pa/__init__.py
  recidiviz/ingest/direct/regions/us_pa/manifest.yaml
  recidiviz/ingest/direct/regions/us_pa/us_pa_controller.py
  recidiviz/ingest/direct/regions/us_pa/us_pa_dbo_IcsDoc.yaml
  recidiviz/ingest/direct/regions/us_pa/us_pa_dbo_Offender.yaml
  recidiviz/ingest/direct/state_shared_row_posthooks.py
  recidiviz/persistence/entity_matching/state/state_matching_delegate_factory.py
  recidiviz/persistence/entity_matching/state/us_pa/__init__.py
  recidiviz/persistence/entity_matching/state/us_pa/us_pa_matching_delegate.py
  recidiviz/persistence/ingest_info_converter/state/entity_helpers/state_person_external_id.py
  recidiviz/tests/persistence/ingest_info_converter/state/entity_helpers/state_person_external_id_test.py
Due: generate_docs_for_region, generate_docs_for_endpoint

Include supervision_type ALL/DUAL in MO matrix views (Recidiviz/recidiviz-data#3013)
  recidiviz/calculator/query/state/views/revocation_analysis/revocations_matrix_by_month.py
  recidiviz/calculator/query/state/views/revocation_analysis/revocations_matrix_cells.py
  recidiviz/calculator/query/state/views/revocation_analysis/revocations_matrix_distribution_by_district.py
  recidiviz/calculator/query/state/views/revocation_analysis/revocations_matrix_distribution_by_gender.py
  recidiviz/calculator/query/state/views/revocation_analysis/revocations_matrix_distribution_by_race.py
  recidiviz/calculator/query/state/views/revocation_analysis/revocations_matrix_distribution_by_risk_level.py
  recidiviz/calculator/query/state/views/revocation_analysis/revocations_matrix_distribution_by_violation.py
  recidiviz/calculator/query/state/views/revocation_analysis/revocations_matrix_filtered_caseload.py
  recidiviz/calculator/query/state/views/revocation_analysis/revocations_matrix_supervision_distribution_by_district.py
Due: generate_docs_for_endpoint

State-specific Dataflow runs (Recidiviz/recidiviz-data#3022)
  recidiviz/calculator/pipeline/incarceration/pipeline.py
  recidiviz/calculator/pipeline/prod_calculation_pipeline_templates.yaml
  recidiviz/calculator/pipeline/program/pipeline.py
  recidiviz/calculator/pipeline/recidivism/pipeline.py
  recidiviz/calculator/pipeline/staging_only_calculation_pipeline_templates.yaml
  recidiviz/calculator/pipeline/supervision/identifier.py
  recidiviz/calculator/pipeline/supervision/pipeline.py
  recidiviz/calculator/pipeline/utils/extractor_utils.py
  recidiviz/calculator/pipeline/utils/pipeline_args_utils.py
  recidiviz/tests/calculator/pipeline/fake_bigquery.py
  recidiviz/tests/calculator/pipeline/supervision/identifier_test.py
  recidiviz/tests/calculator/pipeline/supervision/pipeline_test.py
  recidiviz/tests/calculator/pipeline/utils/extractor_utils_test.py
  recidiviz/tests/calculator/pipeline/utils/pipeline_args_utils_test.py
  recidiviz/tools/deploy/deploy_pipeline_helpers.sh
  recidiviz/tools/deploy/deploy_pipeline_to_template.sh
Due: generate_docs_for_endpoint

add DOB info to person query for ID (Recidiviz/recidiviz-data#3029)
  recidiviz/ingest/direct/regions/us_id/us_id_controller.py
  recidiviz/ingest/direct/regions/us_id/us_id_mittimus_judge_sentence_offense_sentprob_incarceration_sentences.yaml
  recidiviz/ingest/direct/regions/us_id/us_id_mittimus_judge_sentence_offense_sentprob_supervision_sentences.yaml
  recidiviz/ingest/direct/regions/us_id/us_id_offender_ofndr_dob.yaml
  recidiviz/ingest/direct/regions/us_id/us_id_sql_queries.py
Due: generate_docs_for_region, generate_docs_for_endpoint

Handle typo in KY aggregate site (Recidiviz/recidiviz-data#3028)
  recidiviz/ingest/aggregate/regions/ky/ky_aggregate_site_scraper.py
Due: generate_docs_for_endpoint

[MO ingest] Fix botched date join in supervision periods query (Recidiviz/recidiviz-data#3038)
  recidiviz/ingest/direct/regions/us_mo/us_mo_sql_queries.py
Due: generate_docs_for_region, generate_docs_for_endpoint

Updates for DUAL supervision type and person-level output (Recidiviz/recidiviz-data#3035)
  recidiviz/calculator/pipeline/supervision/calculator.py
  recidiviz/calculator/pipeline/supervision/identifier.py
  recidiviz/calculator/pipeline/supervision/supervision_time_bucket.py
  recidiviz/calculator/pipeline/utils/incarceration_period_utils.py
  recidiviz/calculator/pipeline/utils/state_calculation_config_manager.py
  recidiviz/calculator/pipeline/utils/supervision_type_identification.py
  recidiviz/calculator/query/state/views/revocation_analysis/revocations_matrix_filtered_caseload.py
  recidiviz/tests/calculator/pipeline/supervision/calculator_test.py
  recidiviz/tests/calculator/pipeline/supervision/identifier_test.py
  recidiviz/tests/calculator/pipeline/supervision/pipeline_test.py
  recidiviz/tests/calculator/pipeline/utils/supervision_type_identification_test.py
Due: generate_docs_for_endpoint

implemented blount county scraper (Recidiviz/recidiviz-data#3040)
  recidiviz/tests/utils/common_scraper_test.py
Due: generate_docs_for_endpoint

Ese/us tn knox (Recidiviz/recidiviz-data#3033)
  recidiviz/common/constants/bond.py
  recidiviz/common/constants/county/charge.py
Due: generate_docs_for_endpoint

Pull in MO sentence statuses as supervision calcs side input (Recidiviz/recidiviz-data#3042)
  recidiviz/calculator/pipeline/supervision/pipeline.py
  recidiviz/calculator/pipeline/utils/entity_hydration_utils.py
  recidiviz/calculator/pipeline/utils/supervision_type_identification.py
  recidiviz/calculator/pipeline/utils/us_mo_sentence_classification.py
  recidiviz/calculator/query/state/views/reference/reference_views.py
  recidiviz/calculator/query/state/views/reference/us_mo_sentence_statuses.py
  recidiviz/common/attr_mixins.py
  recidiviz/common/str_field_utils.py
  recidiviz/tests/calculator/pipeline/supervision/pipeline_test.py
  recidiviz/tests/calculator/pipeline/utils/entity_hydration_utils_test.py
  recidiviz/tests/calculator/pipeline/utils/us_mo_sentence_classification_test.py
Due: generate_docs_for_endpoint

Update the upload_local_file_to_bq script to have a UTF8 encoding default (Recidiviz/recidiviz-data#3050)
  recidiviz/tools/upload_local_file_to_bq.py
Due: generate_docs_for_endpoint

[MO calculate] New helpers for determining sentence supervision type from status codes (Recidiviz/recidiviz-data#3046)
  recidiviz/calculator/pipeline/utils/supervision_type_identification.py
  recidiviz/calculator/pipeline/utils/us_mo_sentence_classification.py
  recidiviz/tests/calculator/pipeline/utils/us_mo_sentence_classification_test.py
Due: generate_docs_for_endpoint

[MO calculate] New helper for MO supervision period supervision type determination (Recidiviz/recidiviz-data#3048)
  recidiviz/calculator/pipeline/incarceration/identifier.py
  recidiviz/calculator/pipeline/supervision/identifier.py
  recidiviz/calculator/pipeline/utils/state_calculation_config_manager.py
  recidiviz/calculator/pipeline/utils/supervision_type_identification.py
  recidiviz/calculator/pipeline/utils/us_mo_sentence_classification.py
  recidiviz/calculator/pipeline/utils/us_mo_supervision_type_identification.py
  recidiviz/tests/calculator/pipeline/incarceration/identifier_test.py
  recidiviz/tests/calculator/pipeline/supervision/identifier_test.py
  recidiviz/tests/calculator/pipeline/supervision/pipeline_test.py
  recidiviz/tests/calculator/pipeline/utils/supervision_type_identification_test.py
  recidiviz/tests/calculator/pipeline/utils/us_mo_fakes.py
  recidiviz/tests/calculator/pipeline/utils/us_mo_supervision_type_identification_test.py
Due: generate_docs_for_endpoint

[Calculate] Incarceration / supervision pipeline date off by one adjustments (Recidiviz/recidiviz-data#3051)
  recidiviz/calculator/pipeline/incarceration/identifier.py
  recidiviz/calculator/pipeline/supervision/identifier.py
  recidiviz/tests/calculator/pipeline/incarceration/identifier_test.py
  recidiviz/tests/calculator/pipeline/supervision/identifier_test.py
Due: generate_docs_for_endpoint

Updates US_ND termination reason enum mapping (Recidiviz/recidiviz-data#3049)
  recidiviz/ingest/direct/regions/us_nd/us_nd_controller.py
Due: generate_docs_for_region, generate_docs_for_endpoint

[MO calculate] Fix tiny edge case with sentence type classification (Recidiviz/recidiviz-data#3054)
  recidiviz/calculator/pipeline/utils/us_mo_sentence_classification.py
  recidiviz/tests/calculator/pipeline/utils/us_mo_sentence_classification_test.py
Due: generate_docs_for_endpoint

[MO calculate] Update incarceration pipeline to actually convert to MO sentences (Recidiviz/recidiviz-data#3055)
  recidiviz/calculator/pipeline/incarceration/pipeline.py
  recidiviz/calculator/pipeline/utils/us_mo_supervision_type_identification.py
  recidiviz/tests/calculator/pipeline/incarceration/pipeline_test.py
Due: generate_docs_for_endpoint

Defaulting recidivism pipeline args to True (Recidiviz/recidiviz-data#3052)
  recidiviz/calculator/pipeline/recidivism/pipeline.py
Due: generate_docs_for_endpoint

Updating state export cron timing (Recidiviz/recidiviz-data#3060)
  cron.yaml
Due: none

[MO validation] Court Parole is PROBATION (Recidiviz/recidiviz-data#3061)
  recidiviz/calculator/pipeline/utils/us_mo_sentence_classification.py
  recidiviz/tests/calculator/pipeline/utils/us_mo_sentence_classification_test.py
Due: generate_docs_for_endpoint

[US_ID] Ingest SupervisionPeriod/IncarcerationPeriods (Recidiviz/recidiviz-data#3037)
  recidiviz/ingest/direct/regions/us_id/us_id_constants.py
  recidiviz/ingest/direct/regions/us_id/us_id_controller.py
  recidiviz/ingest/direct/regions/us_id/us_id_enum_helpers.py
  recidiviz/ingest/direct/regions/us_id/us_id_movement_facility_offstat_incarceration_periods.yaml
  recidiviz/ingest/direct/regions/us_id/us_id_movement_facility_supervision_periods.yaml
  recidiviz/ingest/direct/regions/us_id/us_id_sql_queries.py
  recidiviz/persistence/ingest_info_converter/state/entity_helpers/state_incarceration_period.py
  recidiviz/persistence/ingest_info_converter/state/entity_helpers/state_supervision_period.py
  recidiviz/tests/persistence/ingest_info_converter/state/entity_helpers/state_incarceration_period_test.py
  recidiviz/tests/persistence/ingest_info_converter/state/entity_helpers/state_supervision_period_test.py
Due: generate_docs_for_region, generate_docs_for_endpoint

Upload to BQ script: do not convert string NA to NULL (Recidiviz/recidiviz-data#3068)
  recidiviz/tools/upload_local_file_to_bq.py
Due: generate_docs_for_endpoint

[Calculate] Add is_on_supervision_last_day_of_month flag to SupervisionPopulation metric (Recidiviz/recidiviz-data#3053)
  recidiviz/calculator/pipeline/supervision/calculator.py
  recidiviz/calculator/pipeline/supervision/identifier.py
  recidiviz/calculator/pipeline/supervision/metrics.py
  recidiviz/calculator/pipeline/supervision/supervision_time_bucket.py
  recidiviz/calculator/pipeline/utils/state_calculation_config_manager.py
  recidiviz/calculator/pipeline/utils/supervision_type_identification.py
  recidiviz/calculator/pipeline/utils/us_mo_sentence_classification.py
  recidiviz/calculator/pipeline/utils/us_mo_supervision_type_identification.py
  recidiviz/tests/calculator/pipeline/supervision/calculator_test.py
  recidiviz/tests/calculator/pipeline/supervision/identifier_test.py
  recidiviz/tests/calculator/pipeline/supervision/pipeline_test.py
  recidiviz/tests/calculator/pipeline/supervision/supervision_time_bucket_test.py
  recidiviz/tests/calculator/pipeline/utils/supervision_type_identification_test.py
  recidiviz/tests/calculator/pipeline/utils/us_mo_fakes.py
  recidiviz/tests/calculator/pipeline/utils/us_mo_sentence_classification_test.py
  recidiviz/tests/calculator/pipeline/utils/us_mo_supervision_type_identification_test.py
  recidiviz/tests/persistence/database/database_test_utils.py
Due: generate_docs_for_endpoint

[Calculate] Do not drop incarceraton periods with null release_reason but valid release_date (Recidiviz/recidiviz-data#3069)
  recidiviz/calculator/pipeline/recidivism/identifier.py
  recidiviz/calculator/pipeline/utils/incarceration_period_utils.py
  recidiviz/common/constants/state/state_incarceration_period.py
  recidiviz/ingest/direct/regions/us_mo/us_mo_controller.py
  recidiviz/persistence/database/migrations/state/versions/2020_04_10_1245_0ce7d5d336ff_ip_release_reason_internal_unknown.py
  recidiviz/persistence/database/schema/state/schema.py
  recidiviz/tests/calculator/pipeline/incarceration/identifier_test.py
  recidiviz/tests/calculator/pipeline/recidivism/identifier_test.py
  recidiviz/tests/calculator/pipeline/utils/incarceration_period_utils_test.py
Due: generate_docs_for_region, generate_docs_for_endpoint, generate_entity_documentation

[MO ingest] Do not drop incarceration periods when they are attached to an investigative supervision sentence (Recidiviz/recidiviz-data#3071)
  recidiviz/ingest/direct/regions/us_mo/us_mo_controller.py
  recidiviz/ingest/direct/regions/us_mo/us_mo_sql_queries.py
Due: generate_docs_for_region, generate_docs_for_endpoint

[US_ID] Adds violation report parsing (Recidiviz/recidiviz-data#3056)
  recidiviz/calculator/pipeline/utils/calculator_utils.py
  recidiviz/common/constants/state/enum_canonical_strings.py
  recidiviz/common/constants/state/state_supervision_violation_response.py
  recidiviz/ingest/direct/regions/us_id/us_id_constants.py
  recidiviz/ingest/direct/regions/us_id/us_id_controller.py
  recidiviz/ingest/direct/regions/us_id/us_id_ofndr_tst_tst_qstn_rspns_violation_reports.yaml
  recidiviz/ingest/direct/regions/us_id/us_id_ofndr_tst_tst_qstn_rspns_violation_reports_old.yaml
  recidiviz/ingest/direct/regions/us_id/us_id_sql_queries.py
  recidiviz/ingest/models/ingest_info.proto
  recidiviz/ingest/models/ingest_info.py
  recidiviz/ingest/models/ingest_info_pb2.py
  recidiviz/ingest/models/ingest_info_pb2.pyi
  recidiviz/persistence/database/migrations/state/versions/2020_04_10_1717_fe0a2a58f82f_add_is_sex_offense_to_violations.py
  recidiviz/persistence/database/migrations/state/versions/2020_04_10_1722_cc51102fcaba_add_id_decisions_to_violation_response_.py
  recidiviz/persistence/database/schema/state/schema.py
  recidiviz/persistence/entity/state/entities.py
  recidiviz/persistence/ingest_info_converter/state/entity_helpers/state_supervision_violation.py
  recidiviz/tests/ingest/direct/regions/base_direct_ingest_controller_tests.py
  recidiviz/tests/ingest/direct/regions/base_state_direct_ingest_controller_tests.py
  recidiviz/tests/persistence/ingest_info_converter/state/entity_helpers/state_supervision_violation_test.py
Due: generate_docs_for_region, generate_docs_for_endpoint, generate_entity_documentation

parse current po information from US_ID (Recidiviz/recidiviz-data#3072)
  recidiviz/common/constants/state/state_agent.py
  recidiviz/ingest/direct/regions/us_id/us_id_controller.py
  recidiviz/ingest/direct/regions/us_id/us_id_ofndr_agnt_applc_usr_body_loc_cd_current_pos.yaml
  recidiviz/ingest/direct/regions/us_id/us_id_sql_queries.py
  recidiviz/persistence/entity_matching/state/state_matching_utils.py
  recidiviz/persistence/entity_matching/state/us_id/us_id_matching_delegate.py
Due: generate_docs_for_region, generate_docs_for_endpoint

clear fake max dates from periods (Recidiviz/recidiviz-data#3070)
  recidiviz/ingest/direct/regions/us_id/us_id_constants.py
  recidiviz/ingest/direct/regions/us_id/us_id_controller.py
Due: generate_docs_for_region, generate_docs_for_endpoint

Makes MO file query name consistent with the file tag itself. (Recidiviz/recidiviz-data#3076)
  recidiviz/ingest/direct/regions/us_mo/us_mo_sql_queries.py
Due: generate_docs_for_region, generate_docs_for_endpoint

promote US_MO to prod (Recidiviz/recidiviz-data#3080)
  recidiviz/ingest/direct/regions/us_mo/manifest.yaml
Due: generate_docs_for_region, generate_docs_for_endpoint

Upgrade opencensus and utilize new features (Recidiviz/recidiviz-data#1648)
  Pipfile
  Pipfile.lock
  gunicorn.conf.py
  recidiviz/ingest/scrape/scraper_control.py
  recidiviz/ingest/scrape/scraper_status.py
  recidiviz/server.py
  recidiviz/tests/utils/monitoring_test.py
  recidiviz/utils/monitoring.py
  recidiviz/utils/structured_logging.py
  setup.py
Due: generate_docs_for_endpoint

Oras assessments fix given that they updated their columns (Recidiviz/recidiviz-data#3082)
  recidiviz/ingest/direct/regions/us_mo/us_mo_oras_assessments_weekly.yaml
  recidiviz/ingest/direct/regions/us_mo/us_mo_sql_queries.py
Due: generate_docs_for_region, generate_docs_for_endpoint

Path conditions:
  generate_docs_for_region: any of: ^recidiviz/ingest/direct/regions/
  generate_docs_for_endpoint: any of: ^recidiviz/, but not: (?x)(^recidiviz/tests/|^recidiviz/tools/|^recidiviz/ingest/direct/regions/)$

  generate_entity_documentation: any of: (?x)(^recidiviz/persistence/database/schema/state/schema.py|^recidiviz/persistence/database/schema/history_table_shared_columns_mixin.py)$

