Repository Recidiviz/pulse-data: changes, and which pre-commit hooks are due for each by the changed paths.
All: generate_docs_for_region, generate_docs_for_endpoint, generate_entity_documentation, generate_calc_documentation, generate_ingest_mappings_schema_documentation, update_terraform_lock_file

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.3.0
    hooks:
      - id: check-yaml
  - repo: https://github.com/psf/black
    rev: 22.3.0
    hooks:
      # This runs on py, pyi, and ipynb files.
      - id: black-jupyter
        language_version: python3
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v2.5.1
    hooks:
      - id: prettier
        types_or: [yaml]
  - repo: https://github.com/pycqa/isort
    rev: 5.6.4
    hooks:
      - id: isort
        name: isort (python)
      - id: isort
        name: isort (pyi)
        types: [pyi]
  - repo: local
    hooks:
      - id: generate_docs_for_region
        name: generate_docs_for_region
        entry: pipenv run python -m recidiviz.tools.docs.region_documentation_generator
        language: system
        files: ^recidiviz/ingest/direct/regions/
        require_serial: true
      - id: generate_docs_for_endpoint
        name: generate_docs_for_endpoint
        entry: pipenv run python -m recidiviz.tools.docs.endpoint_documentation_generator
        language: system
        files: ^recidiviz/
        exclude: >
          (?x)(^recidiviz/tests/|^recidiviz/tools/|^recidiviz/ingest/direct/regions/)$
        require_serial: true
      - id: generate_entity_documentation
        name: generate_entity_documentation
        entry: pipenv run python -m recidiviz.tools.docs.entity_documentation_generator
        language: system
        files: >
          (?x)(^recidiviz/persistence/database/schema/state/schema.py|^recidiviz/persistence/database/schema/history_table_shared_columns_mixin.py|^recidiviz/common/constants/state/)$
        require_serial: true
      - id: generate_calc_documentation
        name: generate_calc_documentation
        entry: pipenv run python -m recidiviz.calculator.calculation_documentation_generator
        language: system
        files: ^recidiviz/calculator/|^recidiviz/metrics/|^recidiviz/.*/views/|^recidiviz/big_query/|^recidiviz/persistence/database/schema/|^recidiviz/persistence/entity/|^recidiviz/task_eligibility/
        exclude: ^recidiviz/tests/|^recidiviz/calculator/modeling/
        require_serial: true
      - id: generate_ingest_mappings_schema_documentation
        name: generate_ingest_mappings_schema_documentation
        entry: pipenv run python -m recidiviz.tools.docs.ingest_mappings_schema_documentation_generator
        language: system
        files: ^recidiviz/ingest/direct/ingest_mappings/yaml_schema/|^docs/engineering/ingest_mapping_schema/
        require_serial: true
      - id: update_terraform_lock_file
        name: update_terraform_lock_file
        entry: recidiviz/tools/deploy/update_terraform_lock.sh
        language: script
        files: ^recidiviz/tools/deploy/terraform/
        require_serial: true

[US_MI] Bump validation threshold (Recidiviz/recidiviz-data#29699)
  recidiviz/validation/config/regions/us_mi/us_mi_validation_config.yaml
  recidiviz/validation/config/regions/us_pa/us_pa_validation_config.yaml
Due: generate_docs_for_endpoint

[US_TN] Add two new fields to standards sheet (Recidiviz/recidiviz-data#29687)
  recidiviz/admin_panel/line_staff_tools/raw_data.py
  recidiviz/tests/admin_panel/routes/fixtures/file_upload.xlsx
Due: generate_docs_for_endpoint

add new dataset and log sink for permissions reasons logs (Recidiviz/recidiviz-data#29597)
  recidiviz/tools/deploy/terraform/cloud-logging.tf
Due: generate_docs_for_endpoint, update_terraform_lock_file

[Bugfix] Revert PagerDuty service email filtering (Recidiviz/recidiviz-data#29707)
  recidiviz/tools/deploy/terraform/modules/pagerduty-service-airflow/main.tf
  recidiviz/tools/deploy/terraform/modules/pagerduty-service-airflow/variables.tf
  recidiviz/tools/deploy/terraform/modules/state-direct-ingest-resources/pagerduty-service.tf
  recidiviz/tools/deploy/terraform/pagerduty.tf
Due: generate_docs_for_endpoint, update_terraform_lock_file

delete user_admin_logs_dataset_special_group_access resource (Recidiviz/recidiviz-data#29716)
  recidiviz/tools/deploy/terraform/cloud-logging.tf
Due: generate_docs_for_endpoint, update_terraform_lock_file

Reverts PagerDuty in Terraform changes (Recidiviz/recidiviz-data#29702)
  recidiviz/airflow/dags/utils/recidiviz_pagerduty_service.py
  recidiviz/airflow/tests/utils/recidiviz_pagerduty_service_test.py
  recidiviz/tools/deploy/deploy_helpers.sh
  recidiviz/tools/deploy/oneoffs/terraform_oneoffs.sh
  recidiviz/tools/deploy/terraform/.terraform.lock.hcl
  recidiviz/tools/deploy/terraform/cloud-run-jobs.tf
  recidiviz/tools/deploy/terraform/modules/pagerduty-service-airflow/main.tf
  recidiviz/tools/deploy/terraform/modules/pagerduty-service-airflow/variables.tf
  recidiviz/tools/deploy/terraform/modules/state-direct-ingest-resources/pagerduty-service.tf
  recidiviz/tools/deploy/terraform/modules/state-direct-ingest-resources/variables.tf
  recidiviz/tools/deploy/terraform/pagerduty.tf
  recidiviz/tools/deploy/terraform/providers.tf
  recidiviz/tools/deploy/terraform/variables.tf
  recidiviz/tools/deploy/terraform_helpers.py
  recidiviz/tools/deploy/terraform_plan.sh
Due: generate_docs_for_endpoint, update_terraform_lock_file

Revert logging changes (Recidiviz/recidiviz-data#29718)
  recidiviz/tools/deploy/terraform/cloud-logging.tf
Due: generate_docs_for_endpoint, update_terraform_lock_file

[US_ND] Added assignments to opportunity record (Recidiviz/recidiviz-data#29167)
  recidiviz/calculator/query/state/views/workflows/firestore/us_nd_work_release_form_record.py
Due: generate_docs_for_endpoint, generate_calc_documentation

[raw data import dag] adds new raw file metadata tables (Recidiviz/recidiviz-data#29525)
  recidiviz/persistence/database/migrations/operations/versions/2024_04_30_1833_1e39422d6310_add_direct_ingest_raw_gcs_big_query.py
  recidiviz/persistence/database/schema/operations/schema.py
  recidiviz/persistence/entity/operations/entities.py
  recidiviz/tests/persistence/database/schema/operations/schema_test.py
  recidiviz/tests/persistence/database/schema_utils_test.py
  recidiviz/tools/admin_panel/fixtures/operations_db/direct_ingest_raw_big_query_file_metadata.csv
  recidiviz/tools/admin_panel/fixtures/operations_db/direct_ingest_raw_gcs_file_metadata.csv
Due: generate_docs_for_endpoint, generate_calc_documentation

[raw data import dag] add raw file metadata manager v2 (Recidiviz/recidiviz-data#29526)
  recidiviz/airflow/dags/ingest/get_max_update_datetime_sql_query_generator.py
  recidiviz/ingest/direct/metadata/direct_ingest_raw_file_metadata_manager.py
  recidiviz/ingest/direct/metadata/direct_ingest_raw_file_metadata_manager_v2.py
  recidiviz/persistence/database/schema_entity_converter/operations/schema_entity_converter.py
  recidiviz/persistence/database/schema_entity_converter/schema_entity_converter.py
  recidiviz/persistence/entity/entity_utils.py
  recidiviz/persistence/entity/operations/entities.py
  recidiviz/tests/ingest/direct/metadata/direct_ingest_raw_file_metadata_manager_v2_test.py
Due: generate_docs_for_endpoint, generate_calc_documentation

[raw data import dag] add import sessions (Recidiviz/recidiviz-data#29527)
  recidiviz/admin_panel/routes/ingest_ops.py
  recidiviz/common/constants/operations/direct_ingest_raw_data_import_session.py
  recidiviz/common/constants/operations/enum_canonical_strings.py
  recidiviz/ingest/direct/metadata/direct_ingest_raw_data_import_session_manager.py
  recidiviz/ingest/direct/metadata/direct_ingest_raw_file_metadata_manager_v2.py
  recidiviz/persistence/database/migrations/operations/versions/2024_05_01_1603_dc46a194788e_add_direct_ingest_import_sessions.py
  recidiviz/persistence/database/schema/operations/schema.py
  recidiviz/persistence/entity/entity_utils.py
  recidiviz/persistence/entity/operations/entities.py
  recidiviz/tests/ingest/direct/metadata/direct_ingest_raw_data_import_session_manager_test.py
  recidiviz/tests/ingest/direct/metadata/direct_ingest_raw_file_metadata_manager_v2_test.py
  recidiviz/tests/persistence/database/schema_utils_test.py
  recidiviz/tools/admin_panel/fixtures/operations_db/direct_ingest_raw_data_import_session.csv
Due: generate_docs_for_endpoint, generate_calc_documentation

[US_IX] Adding custom parser to ensure SegmentStartDate is valid (Recidiviz/recidiviz-data#29700)
  recidiviz/ingest/direct/regions/us_ix/ingest_mappings/us_ix_supervision_sentence_v2.yaml
  recidiviz/ingest/direct/regions/us_ix/us_ix_custom_parsers.py
Due: generate_docs_for_region, generate_docs_for_endpoint

[US_AZ] Exclude april from stable counts validations (Recidiviz/recidiviz-data#29738)
  recidiviz/validation/views/state/stable_counts/stable_counts.py
Due: generate_docs_for_endpoint, generate_calc_documentation

[US_ND] Create a criteria to exclude ineligible offenses for ATP (Recidiviz/recidiviz-data#29569)
  recidiviz/task_eligibility/criteria/state_specific/us_nd/not_serving_ineligible_offense_for_atp_work_release.py
  recidiviz/task_eligibility/eligibility_spans/us_nd/work_release_form.py
Due: generate_docs_for_endpoint, generate_calc_documentation

[Build] Fix some pylint errors and pin to 3.1.1 (Recidiviz/recidiviz-data#29736)
  .github/workflows/ci.yml
  initial_pipenv_setup_mac.sh
  recidiviz/calculator/modeling/population_projection/transition_table.py
  recidiviz/case_triage/jii/id_lsu_message_analytics.py
  recidiviz/case_triage/jii/send_id_lsu_texts.py
  recidiviz/cloud_storage/gcs_file_system_impl.py
  recidiviz/ingest/direct/regions/us_mi/us_mi_sftp_download_delegate.py
  recidiviz/justice_counts/bulk_upload/spreadsheet_uploader.py
  recidiviz/task_eligibility/utils/general_criteria_builders.py
  recidiviz/task_eligibility/utils/us_me_query_fragments.py
  recidiviz/tests/justice_counts/control_panel/server_test.py
  recidiviz/tools/upload_sendgrid_csv_to_gcs_and_bq.py
Due: generate_docs_for_region, generate_docs_for_endpoint, generate_calc_documentation

add new dataset and log sink for permissions reasons logs (revert of revert) (Recidiviz/recidiviz-data#29740)
  recidiviz/tools/deploy/terraform/cloud-logging.tf
Due: generate_docs_for_endpoint, update_terraform_lock_file

[US_IX][Insights] Add new incarceration metric which excludes incarcerations with most severe violation type = absconsion (Recidiviz/recidiviz-data#29711)
  recidiviz/aggregated_metrics/aggregated_metric_view_collector.py
  recidiviz/aggregated_metrics/models/aggregated_metric_configurations.py
Due: generate_docs_for_endpoint

[US_IX][Insights] Update outliers configs (Recidiviz/recidiviz-data#29713)
  recidiviz/outliers/constants.py
  recidiviz/outliers/outliers_configs.py
Due: generate_docs_for_endpoint

Create cloud sql instance for Sentencing (Recidiviz/recidiviz-data#29747)
  recidiviz/tools/deploy/terraform/cloud-sql.tf
Due: generate_docs_for_endpoint, update_terraform_lock_file

[US_ID] Delete all US_ID Workflows views (Recidiviz/recidiviz-data#29753)
  recidiviz/calculator/query/state/views/workflows/firestore/firestore_views.py
  recidiviz/calculator/query/state/views/workflows/firestore/us_id_complete_discharge_early_from_supervision_request_record.py
  recidiviz/calculator/query/state/views/workflows/firestore/us_id_complete_full_term_early_from_supervision_request_record.py
  recidiviz/calculator/query/state/views/workflows/firestore/us_id_complete_transfer_to_limited_supervision_form_record.py
  recidiviz/task_eligibility/criteria/general/no_violent_misdemeanor_within_12_months.py
  recidiviz/task_eligibility/criteria/state_specific/us_id/__init__.py
  recidiviz/task_eligibility/criteria/state_specific/us_id/income_verified_within_3_months.py
  recidiviz/task_eligibility/criteria/state_specific/us_id/lsir_level_low_for_90_days.py
  recidiviz/task_eligibility/criteria/state_specific/us_id/lsir_level_low_moderate_for_x_days.py
  recidiviz/task_eligibility/criteria/state_specific/us_id/no_active_nco.py
  recidiviz/task_eligibility/criteria/state_specific/us_id/not_at_liberty.py
  recidiviz/task_eligibility/criteria/state_specific/us_id/parole_dual_supervision_past_early_discharge_date.py
  recidiviz/task_eligibility/eligibility_spans/us_id/__init__.py
  recidiviz/task_eligibility/eligibility_spans/us_id/complete_discharge_early_from_parole_dual_supervision_request.py
  recidiviz/task_eligibility/eligibility_spans/us_id/complete_discharge_early_from_probation_supervision_request.py
  recidiviz/task_eligibility/eligibility_spans/us_id/complete_full_term_discharge_from_supervision.py
  recidiviz/task_eligibility/eligibility_spans/us_id/complete_transfer_to_limited_supervision_form.py
  recidiviz/tests/task_eligibility/task_eligibility_spans_test.py
  recidiviz/view_registry/raw_data_reference_reasons.yaml
Due: generate_docs_for_endpoint, generate_calc_documentation

[Emulator] Bump to `v0.4.4-recidiviz.9` (Recidiviz/recidiviz-data#29635)
  .github/workflows/ci.yml
  Pipfile
Due: none

[US_OZ] Disable some old ingest views that no longer have data (Recidiviz/recidiviz-data#29765)
  recidiviz/ingest/direct/regions/us_oz/ingest_mappings/us_oz_eg_person.yaml
  recidiviz/ingest/direct/regions/us_oz/ingest_mappings/us_oz_gloFS_periods.yaml
  recidiviz/ingest/direct/regions/us_oz/ingest_mappings/us_oz_internDS_initialtable.yaml
  recidiviz/ingest/direct/regions/us_oz/ingest_mappings/us_oz_internDS_table.yaml
  recidiviz/ingest/direct/regions/us_oz/ingest_mappings/us_oz_nd_periods.yaml
  recidiviz/ingest/direct/regions/us_oz/ingest_mappings/us_oz_nd_person_details.yaml
  recidiviz/ingest/direct/regions/us_oz/ingest_mappings/us_oz_vfds_periods.yaml
  recidiviz/ingest/direct/regions/us_oz/ingest_mappings/us_oz_vfds_person.yaml
Due: generate_docs_for_region, generate_docs_for_endpoint

[airflow] upgrade to composer-2.7.1-airflow-2.7.3, python 3.11 (Recidiviz/recidiviz-data#29712)
  .github/actions/airflow-python-setup/action.yml
  recidiviz/airflow/Pipfile
  recidiviz/airflow/Pipfile.lock
  recidiviz/airflow/dags/monitoring/task_failure_alerts.py
  recidiviz/airflow/tests/test_utils.py
  recidiviz/tools/deploy/terraform/cloud-composer.tf
Due: generate_docs_for_endpoint, update_terraform_lock_file

[US_ME] Simple county jail fix (Recidiviz/recidiviz-data#29617)
  recidiviz/ingest/direct/regions/us_me/ingest_mappings/us_me_CURRENT_STATUS_incarceration_periods_v2.yaml
  recidiviz/ingest/direct/regions/us_me/ingest_views/view_CURRENT_STATUS_incarceration_periods_v2.py
Due: generate_docs_for_region, generate_docs_for_endpoint

[DAG Walker] Add back `test_log_processing_stats` (Recidiviz/recidiviz-data#29770)
  recidiviz/tests/big_query/big_query_view_dag_walker_test.py
Due: generate_docs_for_endpoint

add ME portion needed date to resident export (Recidiviz/recidiviz-data#29767)
  recidiviz/calculator/query/state/views/workflows/firestore/resident_record_ctes.py
  recidiviz/tests/workflows/etl/fixtures/resident_record.json
  recidiviz/tests/workflows/etl/workflows_resident_etl_delegate_test.py
  recidiviz/workflows/etl/workflows_resident_etl_delegate.py
Due: generate_docs_for_endpoint, generate_calc_documentation

[Performance] Disallow direct queries of the all_tasks views and other UNION ALL views (Recidiviz/recidiviz-data#29755)
  recidiviz/calculator/query/state/views/workflows/firestore/us_ix_complete_discharge_early_from_supervision_request_record.py
  recidiviz/calculator/query/state/views/workflows/firestore/us_mi_complete_classification_review_form_record.py
  recidiviz/calculator/query/state/views/workflows/firestore/us_mi_complete_discharge_early_from_supervision_request_record.py
  recidiviz/tests/view_registry/deployed_views_test.py
Due: generate_docs_for_endpoint, generate_calc_documentation

Add roles field to db tables and update endpoints with BQ array column fix (Recidiviz/recidiviz-data#29743)
  recidiviz/auth/auth_api_schemas.py
  recidiviz/auth/auth_endpoint.py
  recidiviz/auth/auth_users_endpoint.py
  recidiviz/auth/helpers.py
  recidiviz/big_query/big_query_utils.py
  recidiviz/persistence/database/migrations/case_triage/versions/2024_04_07_0810_fb34705fd055_add_backfill_roles_column.py
  recidiviz/persistence/database/schema/case_triage/schema.py
  recidiviz/tests/auth/auth_endpoint_test.py
  recidiviz/tests/auth/auth_users_endpoint_test.py
  recidiviz/tests/auth/helpers.py
  recidiviz/tests/auth/helpers_test.py
  recidiviz/tests/auth/snapshots/snap_auth_users_endpoint_test.py
  recidiviz/tests/cloud_sql/gcs_import_to_cloud_sql_test.py
  recidiviz/tests/tools/auth/cleanup_user_overrides_test.py
Due: generate_docs_for_endpoint, generate_calc_documentation

[tf] raw data import dag trigger infrastructure (Recidiviz/recidiviz-data#29694)
  recidiviz/cloud_functions/main.py
  recidiviz/tools/deploy/terraform/cloud-functions.tf
  recidiviz/tools/deploy/terraform/cloud-scheduler.tf
  recidiviz/tools/deploy/terraform/pubsub.tf
Due: generate_docs_for_endpoint, update_terraform_lock_file

Implements TaskCriteriaGroup and InvertedTaskCriteria classes (Recidiviz/recidiviz-data#29357)
  recidiviz/task_eligibility/task_criteria_big_query_view_builder.py
  recidiviz/task_eligibility/task_criteria_group_big_query_view_builder.py
  recidiviz/tests/task_eligibility/task_criteria_group_big_query_view_builder_test.py
Due: generate_docs_for_endpoint, generate_calc_documentation

[US_ID][JII] ID LSU D3 Follow Ups (Recidiviz/recidiviz-data#29004)
  recidiviz/case_triage/jii/id_lsu_message_analytics.py
  recidiviz/case_triage/jii/send_id_lsu_texts.py
Due: generate_docs_for_endpoint

[US_AZ] Ingest state staff periods entities (Recidiviz/recidiviz-data#29271)
  recidiviz/ingest/direct/regions/us_az/ingest_mappings/us_az_state_staff_periods.yaml
  recidiviz/ingest/direct/regions/us_az/ingest_views/view_state_staff_periods.py
  recidiviz/ingest/direct/regions/us_az/raw_data/us_az_PERSON.yaml
  recidiviz/ingest/direct/regions/us_az/us_az_custom_enum_parsers.py
Due: generate_docs_for_region, generate_docs_for_endpoint

[US_ID][JII] JII Text Analytics Script Opt Out Logic Fix (Recidiviz/recidiviz-data#29752)
  recidiviz/case_triage/jii/id_lsu_message_analytics.py
Due: generate_docs_for_endpoint

[Justice Counts] Add "common issues and solutions" section to README (Recidiviz/recidiviz-data#29744)
  recidiviz/justice_counts/control_panel/README.md
Due: generate_docs_for_endpoint

[Insights] Handle no client name on client event (Recidiviz/recidiviz-data#29789)
  recidiviz/case_triage/outliers/outliers_routes.py
  recidiviz/tests/case_triage/outliers/outliers_routes_test.py
  recidiviz/tests/case_triage/outliers/snapshots/snap_outliers_routes_test.py
  recidiviz/tests/outliers/querier_test.py
  recidiviz/tools/outliers/fixtures/supervision_client_events.csv
Due: generate_docs_for_endpoint

use bq module for user_mgmt_logs_dataset (Recidiviz/recidiviz-data#29801)
  recidiviz/tools/deploy/terraform/cloud-logging.tf
Due: generate_docs_for_endpoint, update_terraform_lock_file

[US_CA] Add IDs to location_metadata (Recidiviz/recidiviz-data#29577)
  recidiviz/calculator/query/state/views/reference/location_metadata/us_ca_location_metadata.py
Due: generate_docs_for_endpoint, generate_calc_documentation

Regenerate external reference source table yaml (Recidiviz/recidiviz-data#29804)
  recidiviz/source_tables/schema/external_reference/county_fips.yaml
  recidiviz/source_tables/schema/external_reference/county_resident_adult_populations.yaml
  recidiviz/source_tables/schema/external_reference/county_resident_populations.yaml
  recidiviz/source_tables/schema/external_reference/us_tn_incarceration_facility_names.yaml
  recidiviz/source_tables/schema/external_reference/us_tn_supervision_facility_names.yaml
  recidiviz/tests/source_tables/source_tables_test.py
Due: generate_docs_for_endpoint
