Repository Recidiviz/pulse-data: changes, and which pre-commit hooks are due for each by the changed paths.
All: generate_docs_for_region, generate_docs_for_endpoint, generate_entity_documentation

generate_docs_for_region:
  name: generate_docs_for_region
  entry: pipenv run python -m recidiviz.tools.docs.region_documentation_generator
  language: system
  require_serial: true

generate_docs_for_endpoint:
  name: generate_docs_for_endpoint
  entry: pipenv run python -m recidiviz.tools.docs.endpoint_documentation_generator
  language: system
  require_serial: true

generate_entity_documentation:
  name: generate_entity_documentation
  entry: pipenv run python -m recidiviz.tools.docs.entity_documentation_generator
  language: system
  require_serial: true

Migrate three more views to MASTER_STATE_IDS_FRAGMENT_V2 (Recidiviz/recidiviz-data#5386)
  recidiviz/ingest/direct/regions/us_pa/ingest_views/view_dbo_Offender.py
  recidiviz/ingest/direct/regions/us_pa/ingest_views/view_doc_person_info_v2.py
  recidiviz/ingest/direct/regions/us_pa/ingest_views/view_incarceration_period.py
  recidiviz/ingest/direct/regions/us_pa/ingest_views/view_person_external_ids.py
  recidiviz/ingest/direct/regions/us_pa/us_pa_controller.py
  recidiviz/ingest/direct/regions/us_pa/us_pa_doc_person_info_v2.yaml
Due: generate_docs_for_region, generate_docs_for_endpoint

Spark policy function tests (Recidiviz/recidiviz-data#5309)
  recidiviz/calculator/modeling/population_projection/compartment_transitions.py
  recidiviz/calculator/modeling/population_projection/incarceration_transitions.py
  recidiviz/tests/calculator/modeling/population_projection/model/compartment_transitions_test.py
Due: generate_docs_for_endpoint

Allow invalid input in `script_prompt` (Recidiviz/recidiviz-data#5388)
  recidiviz/tools/script_base.sh
Due: generate_docs_for_endpoint

Update Sessions Start Reason Methodology (Recidiviz/recidiviz-data#5232)
  recidiviz/calculator/query/state/views/analyst_data/admission_start_reason_dedup_priority.py
  recidiviz/calculator/query/state/views/analyst_data/analyst_data_views.py
  recidiviz/calculator/query/state/views/analyst_data/compartment_session_end_reasons.py
  recidiviz/calculator/query/state/views/analyst_data/compartment_session_start_reasons.py
  recidiviz/calculator/query/state/views/analyst_data/compartment_sessions.py
  recidiviz/calculator/query/state/views/analyst_data/compartment_sub_sessions.py
  recidiviz/calculator/query/state/views/analyst_data/release_termination_reason_dedup_priority.py
  recidiviz/tests/big_query/big_query_view_dag_walker_test.py
Due: generate_docs_for_endpoint

Add Case Triage SQLAlchemy / Alembic classes (Recidiviz/recidiviz-data#5400)
  prod.yaml
  recidiviz/persistence/database/base_schema.py
  recidiviz/persistence/database/bq_refresh/cloud_sql_to_bq_refresh_config.py
  recidiviz/persistence/database/migrations/case_triage/env.py
  recidiviz/persistence/database/migrations/case_triage/script.py.mako
  recidiviz/persistence/database/migrations/case_triage/versions/2021_01_19_1538_5206e2efa320_add_etl_clients_table.py
  recidiviz/persistence/database/migrations/case_triage/versions/__init__.py
  recidiviz/persistence/database/migrations/case_triage_alembic.ini
  recidiviz/persistence/database/schema/case_triage/__init__.py
  recidiviz/persistence/database/schema/case_triage/schema.py
  recidiviz/persistence/database/sqlalchemy_engine_manager.py
  recidiviz/tests/persistence/database/bq_refresh/cloud_sql_to_bq_refresh_config_test.py
  recidiviz/tests/persistence/database/migrations_test.py
  recidiviz/tests/persistence/database/sqlalchemy_engine_manager_test.py
  recidiviz/tests/test_deploy_yamls.py
  recidiviz/tools/postgres/local_postgres_helpers.py
  staging.yaml
  stubs/alembic/autogenerate.pyi
Due: generate_docs_for_endpoint

Fix github ref (Recidiviz/recidiviz-data#5418)
  .github/workflows/ci.yml
Due: none

Add file_description argument to raw file config yamls (Recidiviz/recidiviz-data#5381)
  recidiviz/common/attr_validators.py
  recidiviz/ingest/direct/controllers/direct_ingest_raw_file_import_manager.py
  recidiviz/ingest/direct/regions/us_mo/raw_data/us_mo_foctest_oras_assessments_weekly.yaml
  recidiviz/ingest/direct/regions/us_mo/raw_data/us_mo_lantern_da_ra_list.yaml
  recidiviz/ingest/direct/regions/us_mo/raw_data/us_mo_lbakrcod_tak146.yaml
  recidiviz/ingest/direct/regions/us_mo/raw_data/us_mo_lbakrdta_tak001.yaml
  recidiviz/ingest/direct/regions/us_mo/raw_data/us_mo_lbakrdta_tak022.yaml
  recidiviz/ingest/direct/regions/us_mo/raw_data/us_mo_lbakrdta_tak023.yaml
  recidiviz/ingest/direct/regions/us_mo/raw_data/us_mo_lbakrdta_tak024.yaml
  recidiviz/ingest/direct/regions/us_mo/raw_data/us_mo_lbakrdta_tak025.yaml
  recidiviz/ingest/direct/regions/us_mo/raw_data/us_mo_lbakrdta_tak026.yaml
  recidiviz/ingest/direct/regions/us_mo/raw_data/us_mo_lbakrdta_tak028.yaml
  recidiviz/ingest/direct/regions/us_mo/raw_data/us_mo_lbakrdta_tak034.yaml
  recidiviz/ingest/direct/regions/us_mo/raw_data/us_mo_lbakrdta_tak039.yaml
  recidiviz/ingest/direct/regions/us_mo/raw_data/us_mo_lbakrdta_tak040.yaml
  recidiviz/ingest/direct/regions/us_mo/raw_data/us_mo_lbakrdta_tak042.yaml
  recidiviz/ingest/direct/regions/us_mo/raw_data/us_mo_lbakrdta_tak076.yaml
  recidiviz/ingest/direct/regions/us_mo/raw_data/us_mo_lbakrdta_tak142.yaml
  recidiviz/ingest/direct/regions/us_mo/raw_data/us_mo_lbakrdta_tak158.yaml
  recidiviz/ingest/direct/regions/us_mo/raw_data/us_mo_lbakrdta_tak291.yaml
  recidiviz/ingest/direct/regions/us_mo/raw_data/us_mo_lbakrdta_tak292.yaml
  recidiviz/ingest/direct/regions/us_mo/raw_data/us_mo_lbakrdta_vak003.yaml
  recidiviz/ingest/direct/regions/us_mo/raw_data/us_mo_lbcmdata_apfx90.yaml
  recidiviz/ingest/direct/regions/us_mo/raw_data/us_mo_lbcmdata_apfx91.yaml
  recidiviz/ingest/direct/regions/us_mo/raw_data/us_mo_ofndr_pdb_foc_supervision_enhancements_vw.yaml
  recidiviz/ingest/direct/regions/us_mo/raw_data/us_mo_recidiviz_reference_supervision_district_to_name.yaml
  recidiviz/ingest/direct/regions/us_mo/raw_data/us_mo_recidiviz_reference_supervision_district_to_region.yaml
  recidiviz/ingest/direct/regions/us_nd/raw_data/us_nd_docstars_contacts.yaml
  recidiviz/tests/ingest/direct/controllers/direct_ingest_big_query_view_types_test.py
  recidiviz/tests/ingest/direct/controllers/direct_ingest_raw_file_import_manager_test.py
  recidiviz/tests/ingest/direct/controllers/fixtures/us_yy/us_yy_file_tag_first.yaml
  recidiviz/tests/ingest/direct/controllers/fixtures/us_yy/us_yy_file_tag_second.yaml
  recidiviz/tests/ingest/direct/controllers/fixtures/us_yy/us_yy_tagC.yaml
  recidiviz/tests/ingest/direct/direct_ingest_util.py
Due: generate_docs_for_region, generate_docs_for_endpoint

Add columns argument to raw file config yamls (Recidiviz/recidiviz-data#5387)
  recidiviz/ingest/direct/controllers/direct_ingest_raw_file_import_manager.py
  recidiviz/ingest/direct/regions/us_mo/raw_data/us_mo_lbakrdta_tak142.yaml
  recidiviz/ingest/direct/regions/us_nd/raw_data/us_nd_docstars_contacts.yaml
  recidiviz/tests/ingest/direct/controllers/direct_ingest_big_query_view_types_test.py
  recidiviz/tests/ingest/direct/controllers/direct_ingest_raw_file_import_manager_test.py
  recidiviz/tests/ingest/direct/controllers/fixtures/us_yy/us_yy_file_tag_first.yaml
  recidiviz/tests/ingest/direct/controllers/fixtures/us_yy/us_yy_file_tag_second.yaml
  recidiviz/tests/ingest/direct/controllers/fixtures/us_yy/us_yy_tagC.yaml
  recidiviz/tests/ingest/direct/direct_ingest_util.py
Due: generate_docs_for_region, generate_docs_for_endpoint

[PA ingest] Update violations/violation responses queries to deduplicate condition and sanction codes (Recidiviz/recidiviz-data#5404)
  recidiviz/ingest/direct/regions/us_pa/ingest_views/templates_violations.py
  recidiviz/ingest/direct/regions/us_pa/ingest_views/view_supervision_violation.py
  recidiviz/ingest/direct/regions/us_pa/ingest_views/view_supervision_violation_response.py
Due: generate_docs_for_region, generate_docs_for_endpoint

Specify `Job.result`'s `timeout` kwarg (Recidiviz/recidiviz-data#5424)
  recidiviz/persistence/database/bq_refresh/bq_refresh.py
Due: generate_docs_for_endpoint

Try to fix emulator tests (Recidiviz/recidiviz-data#5427)
  conftest.py
Due: none

Make Case Triage export not state-specific (Recidiviz/recidiviz-data#5417)
  recidiviz/airflow/dag/calculation_pipeline_dag.py
  recidiviz/case_triage/views/client_list_view.py
  recidiviz/metrics/export/export_config.py
Due: generate_docs_for_endpoint

Waits for env files to exist to verify that emulators have started up (Recidiviz/recidiviz-data#5434)
  conftest.py
Due: none

Create process for importing CSV to Cloud SQL (Recidiviz/recidiviz-data#5402)
  frontends/admin-panel/package.json
  frontends/admin-panel/src/AdminPanelAPI.ts
  frontends/admin-panel/src/components/App.tsx
  frontends/admin-panel/src/components/CloudSQLImportView.tsx
  frontends/admin-panel/src/components/MetadataTable.tsx
  frontends/admin-panel/src/navigation/CaseTriage.ts
  frontends/admin-panel/src/navigation/IngestMetadata.ts
  frontends/admin-panel/src/style/App.css
  frontends/admin-panel/yarn.lock
  recidiviz/admin_panel/gcs_import_to_cloud_sql.py
  recidiviz/admin_panel/routes.py
  recidiviz/cloud_sql/__init__.py
  recidiviz/cloud_sql/cloud_sql_client.py
  recidiviz/persistence/database/sqlalchemy_engine_manager.py
  recidiviz/tests/persistence/database/sqlalchemy_engine_manager_test.py
Due: generate_docs_for_endpoint

Check for cache hit (Recidiviz/recidiviz-data#5435)
  .github/workflows/ci.yml
Due: none

Check docker daemon before starting deploy (Recidiviz/recidiviz-data#5436)
  recidiviz/tools/deploy/deploy_helpers.sh
Due: generate_docs_for_endpoint

Report NULL when no dates have all files processed (Recidiviz/recidiviz-data#5440)
  recidiviz/ingest/views/latest_ingest_upper_bounds.py
Due: generate_docs_for_endpoint

Add yarn check (Recidiviz/recidiviz-data#5441)
  .github/workflows/ci.yml
Due: none

[Justice Counts] deletes db report and related entities when re-ingesting the same report (Recidiviz/recidiviz-data#5350)
  recidiviz/persistence/database/migrations/justice_counts/versions/2021_01_21_1615_7709d42d2d74_add_on_delete_cascade.py
  recidiviz/persistence/database/schema/justice_counts/schema.py
  recidiviz/tests/tools/justice_counts/fixtures/report_reingest/original/manifest.yaml
  recidiviz/tests/tools/justice_counts/fixtures/report_reingest/original/table.csv
  recidiviz/tests/tools/justice_counts/fixtures/report_reingest/updated/manifest.yaml
  recidiviz/tests/tools/justice_counts/fixtures/report_reingest/updated/table.csv
  recidiviz/tests/tools/justice_counts/manual_upload_test.py
  recidiviz/tools/justice_counts/manual_upload.py
Due: generate_docs_for_endpoint

Run migrations on docker-compose up (Recidiviz/recidiviz-data#5450)
  docker-compose.case-triage.yaml
Due: none

Run migrations for CASE_TRIAGE (Recidiviz/recidiviz-data#5433)
  recidiviz/tools/migrations/run_all_prod_migrations.sh
Due: generate_docs_for_endpoint

Fixing violation lookback for non-revocations (Recidiviz/recidiviz-data#5448)
  recidiviz/calculator/pipeline/supervision/identifier.py
  recidiviz/tests/calculator/pipeline/supervision/identifier_test.py
Due: generate_docs_for_endpoint

Add last face-to-face contact and last assessment metrics (Recidiviz/recidiviz-data#5453)
  recidiviz/calculator/pipeline/supervision/calculator.py
  recidiviz/calculator/pipeline/supervision/identifier.py
  recidiviz/calculator/pipeline/supervision/metrics.py
  recidiviz/calculator/pipeline/supervision/pipeline.py
  recidiviz/calculator/pipeline/supervision/supervision_case_compliance.py
  recidiviz/calculator/pipeline/supervision/supervision_time_bucket.py
  recidiviz/calculator/pipeline/utils/calculator_utils.py
  recidiviz/calculator/pipeline/utils/state_utils/us_id/us_id_supervision_compliance.py
  recidiviz/calculator/pipeline/utils/supervision_case_compliance_manager.py
  recidiviz/tests/calculator/pipeline/supervision/identifier_test.py
  recidiviz/tests/calculator/pipeline/utils/supervision_case_compliance_manager_test.py
  setup.cfg
Due: generate_docs_for_endpoint

[PA ingest] Link control numbers based on matching inmate numbers (Recidiviz/recidiviz-data#5451)
  recidiviz/ingest/direct/regions/us_pa/ingest_views/templates_person_external_ids.py
  recidiviz/ingest/direct/regions/us_pa/ingest_views/view_person_external_ids.py
Due: generate_docs_for_region, generate_docs_for_endpoint

Add ETL Officers export (Recidiviz/recidiviz-data#5447)
  recidiviz/case_triage/views/officer_list_view.py
  recidiviz/case_triage/views/view_config.py
  recidiviz/persistence/database/migrations/case_triage/env.py
  recidiviz/persistence/database/migrations/case_triage/versions/2021_01_22_1655_e18e0b9a035c_add_etl_officers.py
  recidiviz/persistence/database/schema/case_triage/schema.py
Due: generate_docs_for_endpoint

Remove legacy config attribute and update legacy tests (Recidiviz/recidiviz-data#5452)
  recidiviz/ingest/direct/controllers/direct_ingest_raw_file_import_manager.py
  recidiviz/ingest/direct/regions/us_ma_middlesex/raw_data/us_ma_middlesex_default.yaml
  recidiviz/ingest/direct/regions/us_ma_middlesex/us_ma_middlesex_raw_data_files.yaml
  recidiviz/ingest/direct/regions/us_nm_bernalillo/raw_data/us_nm_bernalillo_default.yaml
  recidiviz/ingest/direct/regions/us_nm_bernalillo/us_nm_bernalillo_raw_data_files.yaml
  recidiviz/ingest/direct/regions/us_tx_brazos/raw_data/us_tx_brazos_default.yaml
  recidiviz/ingest/direct/regions/us_tx_brazos/us_tx_brazos_raw_data_files.yaml
  recidiviz/tests/big_query/test_views/good_view_2.py
  recidiviz/tests/ingest/direct/controllers/direct_ingest_big_query_view_types_test.py
  recidiviz/tests/ingest/direct/controllers/direct_ingest_ingest_view_export_manager_test.py
  recidiviz/tests/ingest/direct/controllers/direct_ingest_raw_file_import_manager_test.py
  recidiviz/tests/ingest/direct/controllers/fixtures/empty_raw_data_files.yaml
  recidiviz/tests/ingest/direct/controllers/fixtures/us_xx/us_xx_default.yaml
  recidiviz/tests/ingest/direct/controllers/fixtures/us_xx/us_xx_file_tag_first.yaml
  recidiviz/tests/ingest/direct/controllers/fixtures/us_xx/us_xx_file_tag_second.yaml
  recidiviz/tests/ingest/direct/controllers/fixtures/us_xx/us_xx_tagC.yaml
  recidiviz/tests/ingest/direct/controllers/fixtures/us_xx/us_xx_tagFullHistoricalExport.yaml
  recidiviz/tests/ingest/direct/controllers/fixtures/us_xx/us_xx_tagInvalidCharacters.yaml
  recidiviz/tests/ingest/direct/controllers/fixtures/us_xx/us_xx_tagNormalizationConflict.yaml
  recidiviz/tests/ingest/direct/controllers/fixtures/us_xx/us_xx_tagPipeSeparatedNonUTF8.yaml
  recidiviz/tests/ingest/direct/controllers/fixtures/us_xx_raw_data_files.yaml
Due: generate_docs_for_region, generate_docs_for_endpoint

Connect Cloud Run to Cloud SQL (Recidiviz/recidiviz-data#5467)
  recidiviz/tools/deploy/terraform/cloud-run.tf
  recidiviz/tools/deploy/terraform/cloud-sql.tf
  recidiviz/tools/deploy/terraform/modules/cloud-sql/outputs.tf
Due: generate_docs_for_endpoint

Add employment view (Recidiviz/recidiviz-data#5464)
  recidiviz/calculator/query/state/dataset_config.py
  recidiviz/case_triage/views/client_list_view.py
  recidiviz/case_triage/views/employment_periods.py
  recidiviz/case_triage/views/view_config.py
  recidiviz/persistence/database/migrations/case_triage/versions/2021_01_25_0834_d75894b38f4f_add_employment.py
  recidiviz/persistence/database/schema/case_triage/schema.py
Due: generate_docs_for_endpoint

Add caching to postgres apt-get install (Recidiviz/recidiviz-data#5465)
  .github/workflows/ci.yml
Due: none

GitBook: [master] 2 pages modified
  README.md
  SUMMARY.md
Due: none

PopulationSimulation tests (Recidiviz/recidiviz-data#5414)
  recidiviz/calculator/modeling/population_projection/population_simulation.py
  recidiviz/calculator/modeling/population_projection/sub_simulation.py
  recidiviz/tests/calculator/modeling/population_projection/simulation_objects/population_simulation_test.py
  recidiviz/tests/calculator/modeling/population_projection/simulation_objects/sub_simulation_test.py
Due: generate_docs_for_endpoint

Revives our README, accidentally consumed by Gitbook. (Recidiviz/recidiviz-data#5503)
  README.md
Due: none

Match Case Triage revision name to our release version (Recidiviz/recidiviz-data#5507)
  recidiviz/tools/deploy/terraform/cloud-run.tf
Due: generate_docs_for_endpoint

Spark Tech Debt (Recidiviz/recidiviz-data#5458)
  recidiviz/calculator/modeling/population_projection/compartment_transitions.py
  recidiviz/calculator/modeling/population_projection/full_compartment.py
  recidiviz/calculator/modeling/population_projection/population_simulation.py
  recidiviz/calculator/modeling/population_projection/sub_simulation.py
  recidiviz/calculator/modeling/population_projection/super_simulation.py
  recidiviz/calculator/modeling/population_projection/super_simulation_macrosim.py
Due: generate_docs_for_endpoint

Use a valid naming identifier (Recidiviz/recidiviz-data#5511)
  recidiviz/tools/deploy/terraform/cloud-run.tf
Due: generate_docs_for_endpoint

[Case Triage] Add assessment and contact dates to etl_clients (Recidiviz/recidiviz-data#5513)
  recidiviz/case_triage/views/client_list_view.py
  recidiviz/persistence/database/migrations/case_triage/versions/2021_01_26_1138_6be45427233e_add_interaction_dates.py
  recidiviz/persistence/database/schema/case_triage/schema.py
Due: generate_docs_for_endpoint

Stop ingesting case types in PA (Recidiviz/recidiviz-data#5506)
  recidiviz/ingest/direct/regions/us_pa/ingest_views/view_supervision_period.py
  recidiviz/ingest/direct/regions/us_pa/us_pa_controller.py
Due: generate_docs_for_region, generate_docs_for_endpoint

Path conditions:
  generate_docs_for_region: any of: ^recidiviz/ingest/direct/regions/
  generate_docs_for_endpoint: any of: ^recidiviz/, but not: (?x)(^recidiviz/tests/|^recidiviz/tools/|^recidiviz/ingest/direct/regions/)$

  generate_entity_documentation: any of: (?x)(^recidiviz/persistence/database/schema/state/schema.py|^recidiviz/persistence/database/schema/history_table_shared_columns_mixin.py)$

