Repository Recidiviz/pulse-data: changes, and which pre-commit hooks are due for each by the changed paths.
All: generate_docs_for_region, generate_docs_for_endpoint, generate_entity_documentation, generate_calc_documentation, generate_ingest_mappings_schema_documentation, update_terraform_lock_file

generate_docs_for_region:
  name: generate_docs_for_region
  entry: pipenv run python -m recidiviz.tools.docs.region_documentation_generator
  language: system
  require_serial: true

generate_docs_for_endpoint:
  name: generate_docs_for_endpoint
  entry: pipenv run python -m recidiviz.tools.docs.endpoint_documentation_generator
  language: system
  require_serial: true

generate_entity_documentation:
  name: generate_entity_documentation
  entry: pipenv run python -m recidiviz.tools.docs.entity_documentation_generator
  language: system
  require_serial: true

generate_calc_documentation:
  name: generate_calc_documentation
  entry: pipenv run python -m recidiviz.calculator.calculation_documentation_generator
  language: system
  require_serial: true

generate_ingest_mappings_schema_documentation:
  name: generate_ingest_mappings_schema_documentation
  entry: pipenv run python -m recidiviz.tools.docs.ingest_mappings_schema_documentation_generator
  language: system
  require_serial: true

update_terraform_lock_file:
  name: update_terraform_lock_file
  entry: recidiviz/tools/deploy/update_terraform_lock.sh
  language: script
  require_serial: true

[US_IX] Revise incarceration periods to ingest more detailed custody level information and add housing unit info (Recidiviz/recidiviz-data#22970)
  recidiviz/ingest/direct/regions/us_ix/ingest_mappings/us_ix_incarceration_period.yaml
  recidiviz/ingest/direct/regions/us_ix/ingest_views/query_fragments.py
  recidiviz/ingest/direct/regions/us_ix/ingest_views/view_incarceration_period.py
Due: generate_docs_for_region, generate_docs_for_endpoint

[US_MI] Hydrate barebones violations responses from COMS (Recidiviz/recidiviz-data#23564)
  recidiviz/ingest/direct/regions/us_mi/ingest_mappings/us_mi_supervision_violations_coms.yaml
  recidiviz/ingest/direct/regions/us_mi/ingest_views/view_supervision_violations_coms.py
Due: generate_docs_for_region, generate_docs_for_endpoint

[US_TN] Adding Inferred Violations view to account for violations not documented clearly in TN raw data (Recidiviz/recidiviz-data#23344)
  recidiviz/ingest/direct/regions/us_tn/ingest_mappings/us_tn_InferredViolations.yaml
  recidiviz/ingest/direct/regions/us_tn/ingest_views/view_InferredViolations.py
  recidiviz/ingest/direct/regions/us_tn/us_tn_controller.py
  recidiviz/tests/big_query/fakes/big_query_query_rewriter.py
Due: generate_docs_for_region, generate_docs_for_endpoint

Rename fields in TN CLD opportunity record Recidiviz/recidiviz-data#21658 (Recidiviz/recidiviz-data#23612)
  recidiviz/calculator/query/state/views/workflows/firestore/us_tn_custody_level_downgrade_record.py
Due: generate_docs_for_endpoint, generate_calc_documentation

Unpin `opencensus-ext-flask` as it now supports Flask 2 (Recidiviz/recidiviz-data#23618)
  .github/actions/python-setup/action.yml
  Pipfile
  Pipfile.lock
Due: none

[US_CA] Add TES views for employment milestones (Recidiviz/recidiviz-data#23276)
  recidiviz/task_eligibility/criteria/general/has_employment.py
  recidiviz/task_eligibility/criteria/state_specific/us_ca/employment_for_0_to_2_months.py
  recidiviz/task_eligibility/criteria/state_specific/us_ca/employment_for_12_to_14_months.py
  recidiviz/task_eligibility/criteria/state_specific/us_ca/employment_for_6_to_8_months.py
  recidiviz/task_eligibility/eligibility_spans/us_ca/kudos_employment_0_to_2_months.py
  recidiviz/task_eligibility/eligibility_spans/us_ca/kudos_employment_12_to_14_months.py
  recidiviz/task_eligibility/eligibility_spans/us_ca/kudos_employment_6_to_8_months.py
  recidiviz/task_eligibility/utils/us_ca_query_fragments.py
Due: generate_docs_for_endpoint, generate_calc_documentation

[US_MO] Missouri Restrictive Housing workflow - updates to criteria (Recidiviz/recidiviz-data#23023)
  recidiviz/calculator/query/state/views/workflows/firestore/us_mo_overdue_restrictive_housing_hearing.py
  recidiviz/task_eligibility/criteria/state_specific/us_mo/overdue_for_hearing.py
  recidiviz/task_eligibility/criteria/state_specific/us_mo/overdue_for_release.py
  recidiviz/task_eligibility/eligibility_spans/us_mo/overdue_restrictive_housing_hearing.py
Due: generate_docs_for_endpoint, generate_calc_documentation

[US_CO] Adding newly seen value for StateGender (Recidiviz/recidiviz-data#23632)
  recidiviz/ingest/direct/regions/us_co/ingest_mappings/us_co_StatePerson.yaml
Due: generate_docs_for_region, generate_docs_for_endpoint

[US_TN] Classification: Downgrades + Annual Criteria Queries and Completion Event (Recidiviz/recidiviz-data#23508)
  recidiviz/calculator/query/state/views/analyst_data/recommended_custody_level_spans.py
  recidiviz/calculator/query/state/views/analyst_data/us_tn/us_tn_caf_q1.py
  recidiviz/calculator/query/state/views/analyst_data/us_tn/us_tn_caf_q2.py
  recidiviz/calculator/query/state/views/analyst_data/us_tn/us_tn_caf_q6.py
  recidiviz/calculator/query/state/views/analyst_data/us_tn/us_tn_caf_q7.py
  recidiviz/calculator/query/state/views/analyst_data/us_tn/us_tn_caf_q8.py
  recidiviz/calculator/query/state/views/analyst_data/us_tn/us_tn_recommended_custody_level_spans.py
  recidiviz/calculator/query/state/views/workflows/firestore/us_tn_custody_level_downgrade_record.py
  recidiviz/task_eligibility/completion_events/state_specific/us_tn/__init__.py
  recidiviz/task_eligibility/completion_events/state_specific/us_tn/annual_assessment_completed.py
  recidiviz/task_eligibility/criteria/general/custody_level_compared_to_recommended.py
  recidiviz/task_eligibility/criteria/general/custody_level_higher_than_recommended.py
  recidiviz/task_eligibility/criteria/state_specific/us_tn/at_least_12_months_since_latest_assessment.py
  recidiviz/task_eligibility/criteria/state_specific/us_tn/ineligible_for_annual_reclassification.py
  recidiviz/task_eligibility/criteria/state_specific/us_tn/latest_assessment_not_override.py
  recidiviz/task_eligibility/criteria/state_specific/us_tn/latest_caf_assessment_not_override.py
  recidiviz/task_eligibility/eligibility_spans/us_tn/annual_reclassification_review.py
  recidiviz/task_eligibility/eligibility_spans/us_tn/custody_level_downgrade.py
  recidiviz/task_eligibility/task_completion_event_big_query_view_builder.py
  recidiviz/task_eligibility/utils/general_criteria_builders.py
  recidiviz/task_eligibility/utils/us_tn_query_fragments.py
  recidiviz/tests/task_eligibility/task_eligibility_spans_test.py
  recidiviz/view_registry/deployed_views.py
Due: generate_docs_for_endpoint, generate_calc_documentation

[US_TN] Deterministically choose SPET note when there are both SPET and SPEC (Recidiviz/recidiviz-data#23638)
  recidiviz/calculator/query/state/views/workflows/firestore/us_tn_transfer_to_compliant_reporting_record.py
Due: generate_docs_for_endpoint, generate_calc_documentation

[US_PA] Clean up location reference files & metadata (Recidiviz/recidiviz-data#23635)
  recidiviz/calculator/query/state/views/outliers/supervision_district_managers.py
  recidiviz/calculator/query/state/views/outliers/supervision_officer_supervisors.py
  recidiviz/calculator/query/state/views/outliers/supervision_officers.py
  recidiviz/calculator/query/state/views/reference/location_metadata/us_pa_location_metadata.py
  recidiviz/ingest/direct/regions/us_pa/ingest_views/view_supervision_staff_location_period.py
  recidiviz/ingest/direct/regions/us_pa/raw_data/us_pa_RECIDIVIZ_REFERENCE_locations_from_supervision_contacts.yaml
  recidiviz/ingest/direct/regions/us_pa/raw_data/us_pa_RECIDIVIZ_REFERENCE_supervision_location_ids.yaml
  recidiviz/ingest/direct/regions/us_pa/us_pa_custom_parsers.py
Due: generate_docs_for_region, generate_docs_for_endpoint, generate_calc_documentation

[Workflows][US_IX] Add configs for CRC opportunities (Recidiviz/recidiviz-data#23637)
  recidiviz/calculator/query/state/views/reference/workflows_opportunity_configs.py
Due: generate_docs_for_endpoint, generate_calc_documentation

[US_CA] only exclude January 2023 for CA (Recidiviz/recidiviz-data#23639)
  recidiviz/validation/views/state/stable_counts/stable_counts.py
Due: generate_docs_for_endpoint, generate_calc_documentation

[Airflow] Simplify Kubernetes tasks (redux) (Recidiviz/recidiviz-data#23643)
  recidiviz/airflow/dags/calculation/initialize_calculation_dag_group.py
  recidiviz/airflow/dags/calculation_dag.py
  recidiviz/airflow/dags/monitoring_dag.py
  recidiviz/airflow/dags/operators/recidiviz_kubernetes_pod_operator.py
  recidiviz/airflow/dags/operators/recidiviz_kubernetes_resources.yaml
  recidiviz/airflow/tests/calculation_dag_test.py
  recidiviz/airflow/tests/operators/entrypoints_resources_test.py
  recidiviz/airflow/tests/test_utils.py
  recidiviz/entrypoints/entrypoint_resources.py
  recidiviz/tools/deploy/terraform/config/cloud_composer_source_files_to_copy.yaml
  stubs/kubernetes/client/models.pyi
Due: generate_docs_for_endpoint, update_terraform_lock_file

[US_MI][Workflows] Remove employment info from case notes (Recidiviz/recidiviz-data#23528)
  recidiviz/calculator/query/state/views/workflows/firestore/us_mi_complete_classification_review_form_record.py
Due: generate_docs_for_endpoint, generate_calc_documentation

[US_MI][Workflows] Update opportunity record query and criteria to pull from new COMS tables (Recidiviz/recidiviz-data#23073)
  recidiviz/calculator/query/state/views/analyst_data/us_mi/us_mi_supervision_level_raw_text_mappings.py
  recidiviz/task_eligibility/completion_events/state_specific/us_mi/supervision_classification_review.py
  recidiviz/task_eligibility/criteria/state_specific/us_mi/no_active_ppo.py
  recidiviz/task_eligibility/criteria/state_specific/us_mi/not_on_electronic_monitoring.py
  recidiviz/task_eligibility/criteria/state_specific/us_mi/supervision_and_assessment_level_eligible_for_telephone_reporting.py
  recidiviz/task_eligibility/criteria/state_specific/us_mi/supervision_level_is_not_minimum_low.py
  recidiviz/task_eligibility/criteria/state_specific/us_mi/supervision_or_supervision_out_of_state_level_is_sai.py
  recidiviz/validation/views/task_eligibility/us_mi_ineligible_clients_surfaced_for_telephone_reporting.py
Due: generate_docs_for_endpoint, generate_calc_documentation

[US_TN] adding new yamls for HealthExam and IncompatiblePair (Recidiviz/recidiviz-data#23660)
  recidiviz/ingest/direct/regions/us_tn/raw_data/us_tn_HealthExam.yaml
  recidiviz/ingest/direct/regions/us_tn/raw_data/us_tn_IncompatiblePair.yaml
Due: generate_docs_for_region, generate_docs_for_endpoint

[US_ND] map indecent exposure (Recidiviz/recidiviz-data#23691)
  recidiviz/ingest/direct/regions/us_nd/ingest_mappings/us_nd_elite_offense_in_custody_and_pos_report_data.yaml
Due: generate_docs_for_region, generate_docs_for_endpoint

[US_ME] WR completion event builder (Recidiviz/recidiviz-data#23347)
  recidiviz/task_eligibility/completion_events/state_specific/us_me/granted_furlough.py
  recidiviz/task_eligibility/completion_events/state_specific/us_me/granted_work_release.py
  recidiviz/task_eligibility/eligibility_spans/us_me/furlough_release_form.py
  recidiviz/task_eligibility/eligibility_spans/us_me/work_release_form.py
  recidiviz/task_eligibility/task_completion_event_big_query_view_builder.py
Due: generate_docs_for_endpoint, generate_calc_documentation

[US_IX] Additional details for CRC/XCRC TES (Recidiviz/recidiviz-data#23552)
  recidiviz/calculator/query/state/views/workflows/firestore/opportunity_record_query_fragments.py
  recidiviz/calculator/query/state/views/workflows/firestore/us_ix_transfer_to_crc_resident_worker_request_record.py
  recidiviz/calculator/query/state/views/workflows/firestore/us_ix_transfer_to_crc_work_release_request_record.py
  recidiviz/calculator/query/state/views/workflows/firestore/us_ix_transfer_to_xcrc_request_record.py
  recidiviz/task_eligibility/criteria/state_specific/us_ix/crc_resident_worker_time_based_criteria.py
  recidiviz/task_eligibility/criteria/state_specific/us_ix/crc_work_release_time_based_criteria.py
  recidiviz/task_eligibility/criteria/state_specific/us_ix/incarceration_within_18_months_of_eprd_and_15_years_of_ftcd.py
  recidiviz/task_eligibility/criteria/state_specific/us_ix/incarceration_within_18_months_of_ftcd_or_tpd.py
  recidiviz/task_eligibility/criteria/state_specific/us_ix/incarceration_within_1_year_of_tpd_and_life_sentence.py
  recidiviz/task_eligibility/criteria/state_specific/us_ix/incarceration_within_3_years_of_tpd_and_life_sentence.py
  recidiviz/task_eligibility/criteria/state_specific/us_ix/incarceration_within_7_years_of_ftcd_or_tpd.py
  recidiviz/task_eligibility/criteria/state_specific/us_ix/incarceration_within_7_years_of_ped_and_phd_and_20_years_of_ftcd.py
  recidiviz/task_eligibility/criteria/state_specific/us_ix/no_absconsion_escape_and_eluding_police_offenses_within_10_years.py
  recidiviz/task_eligibility/criteria/state_specific/us_ix/tentative_parole_date_within_3_years.py
  recidiviz/task_eligibility/eligibility_spans/us_ix/transfer_to_crc_resident_worker_request.py
  recidiviz/task_eligibility/eligibility_spans/us_ix/transfer_to_crc_work_release_request.py
  recidiviz/task_eligibility/eligibility_spans/us_ix/transfer_to_xcrc_request.py
  recidiviz/task_eligibility/utils/us_ix_query_fragments.py
Due: generate_docs_for_endpoint, generate_calc_documentation

[US_OR] Adding supervision pipelines (Recidiviz/recidiviz-data#23640)
  recidiviz/pipelines/calculation_pipeline_templates.yaml
Due: generate_docs_for_endpoint

[Workflows] lowercase staff emails in CA (Recidiviz/recidiviz-data#23702)
  recidiviz/calculator/query/state/views/workflows/us_ca/supervision_staff_template.py
  recidiviz/tests/workflows/etl/fixtures/staff_record.json
  recidiviz/workflows/etl/workflows_staff_etl_delegate.py
Due: generate_docs_for_endpoint, generate_calc_documentation

[US_MI] Set always_historical to False for employee table (Recidiviz/recidiviz-data#23697)
  recidiviz/ingest/direct/regions/us_mi/raw_data/us_mi_ADH_EMPLOYEE.yaml
Due: generate_docs_for_region, generate_docs_for_endpoint

[US_MI][Workflows] Add recommended supervision level to metadata (Recidiviz/recidiviz-data#23647)
  recidiviz/calculator/query/state/views/workflows/firestore/us_mi_complete_classification_review_form_record.py
Due: generate_docs_for_endpoint, generate_calc_documentation

[Justice Counts] Move New Mexico Courts jobs to justice_counts directory (Recidiviz/recidiviz-data#23703)
  recidiviz/justice_counts/jobs/new_mexico_dataxchange.py
  recidiviz/justice_counts/jobs/new_mexico_dataxchange_historical.py
Due: generate_docs_for_endpoint

[US_TN] Adding datetime to sort for same day groupings in InferredViolations (Recidiviz/recidiviz-data#23713)
  recidiviz/ingest/direct/regions/us_tn/ingest_views/view_InferredViolations.py
Due: generate_docs_for_region, generate_docs_for_endpoint

[US_ME] Quick fix to furlough completion event builder (Recidiviz/recidiviz-data#23717)
  recidiviz/task_eligibility/completion_events/state_specific/us_me/granted_furlough.py
Due: generate_docs_for_endpoint, generate_calc_documentation

[Autogenerated] Update Pipfile.lock (Recidiviz/recidiviz-data#23725)
  Pipfile.lock
Due: none

[Airflow] Filter out empty `dag_run.conf` parameters (Recidiviz/recidiviz-data#23723)
  recidiviz/airflow/dags/calculation/initialize_calculation_dag_group.py
  recidiviz/airflow/tests/calculation_dag_test.py
Due: generate_docs_for_endpoint

[Justice Counts] BE for custom single page templates (Recidiviz/recidiviz-data#23606)
  recidiviz/justice_counts/bulk_upload/template_generator.py
  recidiviz/justice_counts/control_panel/routes/api.py
  recidiviz/tests/justice_counts/spreadsheet_test.py
  recidiviz/tools/justice_counts/control_panel/create_single_page_upload_template.py
Due: generate_docs_for_endpoint

[Dataflow] Enable dynamic thread scaling (Recidiviz/recidiviz-data#22916)
  recidiviz/pipelines/pipeline_parameters.py
Due: generate_docs_for_endpoint

[Tools] Remove `--project-id` option from `autogenerate_migration` (Recidiviz/recidiviz-data#23734)
  recidiviz/tools/migrations/autogenerate_migration.py
Due: generate_docs_for_endpoint

[deploy] Do not fail if non-infra tags point to current branch (Recidiviz/recidiviz-data#23739)
  recidiviz/tools/script_base.sh
Due: generate_docs_for_endpoint

[US_IX] fix meets_criteria_default (Recidiviz/recidiviz-data#23741)
  recidiviz/task_eligibility/criteria/state_specific/us_ix/no_absconsion_escape_and_eluding_police_offenses_within_10_years.py
Due: generate_docs_for_endpoint, generate_calc_documentation

[US_CA] Employment criteria fix (Recidiviz/recidiviz-data#23744)
  recidiviz/task_eligibility/criteria/general/has_employment.py
Due: generate_docs_for_endpoint, generate_calc_documentation

[US_TN] Editing external ID for inferred violations (Recidiviz/recidiviz-data#23742)
  recidiviz/ingest/direct/regions/us_tn/ingest_mappings/us_tn_InferredViolations.yaml
Due: generate_docs_for_region, generate_docs_for_endpoint

[US_TN] Pull existing opportunity record into query fragment to reuse for Annual and CLD (Recidiviz/recidiviz-data#23623)
  recidiviz/calculator/query/state/views/workflows/firestore/firestore_views.py
  recidiviz/calculator/query/state/views/workflows/firestore/us_tn_annual_reclassification_review_record.py
  recidiviz/task_eligibility/utils/us_tn_query_fragments.py
Due: generate_docs_for_endpoint, generate_calc_documentation

Added TES utils to recidiviz-data (Recidiviz/recidiviz-data#23659)
  recidiviz/calculator/query/state/views/workflows/firestore/us_ix_transfer_to_crc_resident_worker_request_record.py
  recidiviz/calculator/query/state/views/workflows/firestore/us_ix_transfer_to_crc_work_release_request_record.py
  recidiviz/calculator/query/state/views/workflows/firestore/us_ix_transfer_to_xcrc_request_record.py
  recidiviz/tools/analyst/tes_utils.py
Due: generate_docs_for_endpoint, generate_calc_documentation

tes_utils: Additional comments to code and better docstring explanations (Recidiviz/recidiviz-data#23752)
  recidiviz/tools/analyst/tes_utils.py
Due: generate_docs_for_endpoint

[Airflow] Add regional dataset creation to `run_state_specific_calculation_dag.py` (Recidiviz/recidiviz-data#23284)
  recidiviz/persistence/database/bq_refresh/big_query_table_manager.py
  recidiviz/pipelines/dataflow_output_table_manager.py
  recidiviz/tests/pipelines/dataflow_output_table_manager_test.py
  recidiviz/tools/calculator/create_or_update_dataflow_sandbox.py
  recidiviz/tools/deploy/update_big_query_table_schemas.py
  recidiviz/tools/run_state_specific_calculation_dag.py
Due: generate_docs_for_endpoint

Path conditions:
  generate_docs_for_region: any of: ^recidiviz/ingest/direct/regions/
  generate_docs_for_endpoint: any of: ^recidiviz/, but not: (?x)(^recidiviz/tests/|^recidiviz/tools/|^recidiviz/ingest/direct/regions/)$

  generate_entity_documentation: any of: (?x)(^recidiviz/persistence/database/schema/state/schema.py|^recidiviz/persistence/database/schema/history_table_shared_columns_mixin.py|^recidiviz/common/constants/state/)$

  generate_calc_documentation: any of: ^recidiviz/calculator/|^recidiviz/metrics/|^recidiviz/.*/views/|^recidiviz/big_query/|^recidiviz/persistence/database/schema/|^recidiviz/persistence/entity/|^recidiviz/task_eligibility/, but not: ^recidiviz/tests/|^recidiviz/calculator/modeling/
  generate_ingest_mappings_schema_documentation: any of: ^recidiviz/ingest/direct/ingest_mappings/yaml_schema/|^docs/engineering/ingest_mapping_schema/
  update_terraform_lock_file: any of: ^recidiviz/tools/deploy/terraform/
