Repository Recidiviz/pulse-data: changes, and which pre-commit hooks are due for each by the changed paths.
All: generate_docs_for_region, generate_docs_for_endpoint, generate_entity_documentation, generate_calc_documentation, generate_ingest_mappings_schema_documentation, update_terraform_lock_file

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.3.0
    hooks:
      - id: check-yaml
  - repo: https://github.com/psf/black
    rev: 22.3.0
    hooks:
      # This runs on py, pyi, and ipynb files.
      - id: black-jupyter
        language_version: python3
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v2.5.1
    hooks:
      - id: prettier
        types_or: [yaml]
  - repo: https://github.com/pycqa/isort
    rev: 5.6.4
    hooks:
      - id: isort
        name: isort (python)
      - id: isort
        name: isort (pyi)
        types: [pyi]
  - repo: local
    hooks:
      - id: generate_docs_for_region
        name: generate_docs_for_region
        entry: pipenv run python -m recidiviz.tools.docs.region_documentation_generator
        language: system
        files: ^recidiviz/ingest/direct/regions/
        require_serial: true
      - id: generate_docs_for_endpoint
        name: generate_docs_for_endpoint
        entry: pipenv run python -m recidiviz.tools.docs.endpoint_documentation_generator
        language: system
        files: ^recidiviz/
        exclude: >
          (?x)(^recidiviz/tests/|^recidiviz/tools/|^recidiviz/ingest/direct/regions/)$
        require_serial: true
      - id: generate_entity_documentation
        name: generate_entity_documentation
        entry: pipenv run python -m recidiviz.tools.docs.entity_documentation_generator
        language: system
        files: >
          (?x)(^recidiviz/persistence/database/schema/state/schema.py|^recidiviz/persistence/database/schema/history_table_shared_columns_mixin.py|^recidiviz/common/constants/state/)$
        require_serial: true
      - id: generate_calc_documentation
        name: generate_calc_documentation
        entry: pipenv run python -m recidiviz.calculator.calculation_documentation_generator
        language: system
        files: ^recidiviz/calculator/|^recidiviz/metrics/|^recidiviz/.*/views/|^recidiviz/big_query/|^recidiviz/persistence/database/schema/|^recidiviz/persistence/entity/|^recidiviz/task_eligibility/
        exclude: ^recidiviz/tests/|^recidiviz/calculator/modeling/
        require_serial: true
      - id: generate_ingest_mappings_schema_documentation
        name: generate_ingest_mappings_schema_documentation
        entry: pipenv run python -m recidiviz.tools.docs.ingest_mappings_schema_documentation_generator
        language: system
        files: ^recidiviz/ingest/direct/ingest_mappings/yaml_schema/|^docs/engineering/ingest_mapping_schema/
        require_serial: true
      - id: update_terraform_lock_file
        name: update_terraform_lock_file
        entry: recidiviz/tools/deploy/update_terraform_lock.sh
        language: script
        files: ^recidiviz/tools/deploy/terraform/
        require_serial: true

[US_AR] Helper script for processing eOMIS .txt files (Recidiviz/recidiviz-data#23039)
  recidiviz/tools/ingest/regions/us_ar/__init__.py
  recidiviz/tools/ingest/regions/us_ar/process_eomis_txt_files.py
Due: generate_docs_for_endpoint

[Bug Fix] Fix missing Ingest DAG yaml files (Recidiviz/recidiviz-data#25324)
  recidiviz/tools/deploy/terraform/config/cloud_composer_source_files_to_copy.yaml
Due: generate_docs_for_endpoint, update_terraform_lock_file

[Justice Counts] script to migrate agencies (Recidiviz/recidiviz-data#25090)
  recidiviz/justice_counts/report.py
  recidiviz/persistence/database/schema/justice_counts/schema.py
  recidiviz/tools/justice_counts/migrate_agency.py
Due: generate_docs_for_endpoint, generate_calc_documentation

[Bug Fix] Fix yaml files not being imported for Ingest DAG (Recidiviz/recidiviz-data#25326)
  recidiviz/tests/tools/airflow/copy_source_files_to_experimental_composer_test.py
  recidiviz/tools/airflow/copy_source_files_to_experiment_composer.py
  recidiviz/tools/deploy/terraform/config/cloud_composer_source_files_to_copy.yaml
Due: generate_docs_for_endpoint, update_terraform_lock_file

[Justice Counts] Add CSG as Agency Admins automatically to new demo agencies (Recidiviz/recidiviz-data#25265)
  recidiviz/admin_panel/routes/justice_counts_tools.py
  recidiviz/tools/justice_counts/add_csg_older_agencies.py
Due: generate_docs_for_endpoint

[Airflow] Move monitoring DAG to Cloud Scheduler (Recidiviz/recidiviz-data#25347)
  recidiviz/airflow/dags/monitoring_dag.py
  recidiviz/cloud_functions/main.py
  recidiviz/tools/deploy/terraform/cloud-functions.tf
  recidiviz/tools/deploy/terraform/cloud-scheduler.tf
  recidiviz/tools/deploy/terraform/pubsub.tf
Due: generate_docs_for_endpoint, update_terraform_lock_file

Revert "[Ingest] Run CA, NC and OR in ingest DAG daily" (Recidiviz/recidiviz-data#25349)
  recidiviz/ingest/direct/gating.py
  recidiviz/pipelines/ingest/pipeline_utils.py
Due: generate_docs_for_endpoint

[US_TN] Update resident record to pull TN facilities from raw data (Recidiviz/recidiviz-data#25253)
  recidiviz/calculator/query/state/views/workflows/firestore/resident_record_ctes.py
Due: generate_docs_for_endpoint, generate_calc_documentation

Reverts changes to `cloud_composer_source_files_to_copy.yaml` (Recidiviz/recidiviz-data#25350)
  recidiviz/tools/deploy/terraform/config/cloud_composer_source_files_to_copy.yaml
Due: generate_docs_for_endpoint, update_terraform_lock_file

[Bugfix] Fix small arg parsing bug in copy_source_files_to_experiment_composer (Recidiviz/recidiviz-data#25331)
  recidiviz/tools/airflow/copy_source_files_to_experiment_composer.py
Due: generate_docs_for_endpoint

[Outliers] add structure for lantern events in supervision_client_events and event config to outliers config (Recidiviz/recidiviz-data#24995)
  recidiviz/calculator/query/state/views/outliers/supervision_client_events.py
  recidiviz/calculator/query/state/views/outliers/utils.py
  recidiviz/outliers/constants.py
  recidiviz/outliers/outliers_configs.py
  recidiviz/outliers/types.py
  recidiviz/tests/case_triage/outliers/outliers_routes_test.py
Due: generate_docs_for_endpoint, generate_calc_documentation

[Ingest on Dataflow] Combine postgres and dataflow output during BQ refresh (Recidiviz/recidiviz-data#24830)
  recidiviz/big_query/big_query_view.py
  recidiviz/calculator/query/state/dataset_config.py
  recidiviz/persistence/database/bq_refresh/cloud_sql_to_bq_refresh_config.py
  recidiviz/persistence/database/bq_refresh/cloud_sql_to_bq_refresh_control.py
  recidiviz/persistence/database/bq_refresh/federated_cloud_sql_to_bq_refresh.py
  recidiviz/persistence/database/bq_refresh/union_dataflow_ingest.py
  recidiviz/persistence/database/schema_table_region_filtered_query_builder.py
  recidiviz/tests/persistence/database/bq_refresh/cloud_sql_to_bq_refresh_config_test.py
  recidiviz/tests/persistence/database/bq_refresh/cloud_sql_to_bq_refresh_control_test.py
  recidiviz/tests/persistence/database/bq_refresh/union_dataflow_ingest_test.py
  recidiviz/tools/deploy/update_big_query_table_schemas.py
  recidiviz/view_registry/datasets.py
Due: generate_docs_for_endpoint, generate_calc_documentation

[Bugfix] Update copy_least_and_most_recent_files_from_primary_storage_to_secondary_ingest_bucket to handle ContactNoteComment (Recidiviz/recidiviz-data#24970)
  recidiviz/tools/ingest/one_offs/copy_least_and_most_recent_files_from_primary_storage_to_secondary_ingest_bucket.py
Due: generate_docs_for_endpoint

[US_MI] COMS telephone reporting updates (Recidiviz/recidiviz-data#24973)
  recidiviz/ingest/direct/regions/us_mi/us_mi_custom_enum_parsers.py
  recidiviz/persistence/database/migrations/state/versions/2023_11_07_1241_24b7a376a14b_us_mi_redo_coms_sup_levels.py
Due: generate_docs_for_region, generate_docs_for_endpoint

[US_ND] Fix parsing custodial authority and pfi from facility and dates (Recidiviz/recidiviz-data#25364)
  recidiviz/ingest/direct/regions/us_nd/us_nd_custom_enum_parsers.py
Due: generate_docs_for_region, generate_docs_for_endpoint

[US_MI][Workflows] Add supervision level modifier criteria (Recidiviz/recidiviz-data#25327)
  recidiviz/task_eligibility/criteria/state_specific/us_mi/supervision_level_is_not_modified.py
  recidiviz/task_eligibility/eligibility_spans/us_mi/complete_discharge_early_from_parole_dual_supervision_request.py
  recidiviz/task_eligibility/eligibility_spans/us_mi/complete_discharge_early_from_probation_supervision_request.py
  recidiviz/task_eligibility/eligibility_spans/us_mi/complete_initial_classification_review_form.py
  recidiviz/task_eligibility/eligibility_spans/us_mi/complete_subsequent_classification_review_form.py
  recidiviz/task_eligibility/eligibility_spans/us_mi/complete_transfer_to_telephone_reporting_request.py
  recidiviz/task_eligibility/eligibility_spans/us_mi/supervision_level_downgrade.py
Due: generate_docs_for_endpoint, generate_calc_documentation

[Outliers] Add more fields on OutliersConfig to allow state-specific copy (Recidiviz/recidiviz-data#25313)
  recidiviz/outliers/outliers_configs.py
  recidiviz/outliers/types.py
  recidiviz/tests/case_triage/outliers/outliers_routes_test.py
Due: generate_docs_for_endpoint

[US_TN] Add WEEKEND_CONFINEMENT enums to TN mappings and migrate old raw text to new mappings (Recidiviz/recidiviz-data#25378)
  recidiviz/ingest/direct/regions/us_tn/ingest_mappings/us_tn_OffenderMovementIncarcerationPeriod_v3.yaml
  recidiviz/persistence/database/migrations/state/versions/2023_11_09_1501_f537606bf82f_add_tn_weekend_confinement_enums.py
Due: generate_docs_for_region, generate_docs_for_endpoint

[Outliers] Add pseudonymized client id to events endpoint response (Recidiviz/recidiviz-data#25322)
  recidiviz/case_triage/outliers/outliers_routes.py
  recidiviz/tests/case_triage/outliers/outliers_routes_test.py
Due: generate_docs_for_endpoint

[US_OR] Earned Discharge TES stubs (Recidiviz/recidiviz-data#25275)
  recidiviz/task_eligibility/criteria/state_specific/us_or/__init__.py
  recidiviz/task_eligibility/criteria/state_specific/us_or/no_supervision_sanctions_within_6_months.py
  recidiviz/task_eligibility/criteria/state_specific/us_or/sentence_eligible.py
  recidiviz/task_eligibility/eligibility_spans/us_or/__init__.py
  recidiviz/task_eligibility/eligibility_spans/us_or/earned_discharge.py
  recidiviz/tests/task_eligibility/task_eligibility_spans_test.py
  recidiviz/view_registry/deployed_views.py
Due: generate_docs_for_endpoint, generate_calc_documentation

[US_AR] Configure supervision metrics (Recidiviz/recidiviz-data#25355)
  recidiviz/pipelines/calculation_pipeline_templates.yaml
Due: generate_docs_for_endpoint

[US_IX] Add new columns into existing tables (Recidiviz/recidiviz-data#25339)
  recidiviz/ingest/direct/regions/us_ix/raw_data/us_ix_ref_Location.yaml
  recidiviz/ingest/direct/regions/us_ix/raw_data/us_ix_scl_Sentence.yaml
Due: generate_docs_for_region, generate_docs_for_endpoint

[US_TN] Ungating IP_V3 view in prod in TN (Recidiviz/recidiviz-data#25362)
  recidiviz/ingest/direct/regions/us_tn/ingest_mappings/us_tn_OffenderMovementIncarcerationPeriod_v2.yaml
  recidiviz/ingest/direct/regions/us_tn/ingest_mappings/us_tn_OffenderMovementIncarcerationPeriod_v3.yaml
  recidiviz/ingest/direct/regions/us_tn/ingest_views/view_OffenderMovementIncarcerationPeriod_v2.py
  recidiviz/ingest/direct/regions/us_tn/us_tn_controller.py
Due: generate_docs_for_region, generate_docs_for_endpoint

[Outliers] Implement /user-info endpoint (Recidiviz/recidiviz-data#25283)
  recidiviz/case_triage/outliers/outliers_authorization.py
  recidiviz/case_triage/outliers/outliers_routes.py
  recidiviz/case_triage/outliers/user_context.py
  recidiviz/outliers/querier/querier.py
  recidiviz/tests/case_triage/outliers/outliers_authorization_test.py
  recidiviz/tests/case_triage/outliers/outliers_routes_test.py
  recidiviz/tests/outliers/querier_test.py
Due: generate_docs_for_endpoint

[Outliers] Gate access to /supervisors by role (Recidiviz/recidiviz-data#25391)
  recidiviz/case_triage/outliers/outliers_routes.py
  recidiviz/tests/case_triage/outliers/outliers_routes_test.py
Due: generate_docs_for_endpoint

add supervision_leadership role to workflows staff queries (Recidiviz/recidiviz-data#25392)
  recidiviz/calculator/query/state/views/workflows/us_nd/supervision_staff_template.py
  recidiviz/calculator/query/state/views/workflows/us_tn/supervision_staff_template.py
Due: generate_docs_for_endpoint, generate_calc_documentation

[Airflow] Move ingest pipeline branching logic out of Airflow (Recidiviz/recidiviz-data#25358)
  recidiviz/airflow/dags/ingest/single_ingest_pipeline_group.py
  recidiviz/airflow/dags/utils/ingest_dag_orchestration_utils.py
  recidiviz/airflow/tests/ingest/single_ingest_pipeline_group_test.py
  recidiviz/airflow/tests/ingest_dag_test.py
  recidiviz/airflow/tests/utils/ingest_dag_orchestration_utils_test.py
  recidiviz/entrypoints/entrypoint_executor.py
  recidiviz/entrypoints/ingest/ingest_pipeline_should_run_in_dag.py
  recidiviz/tests/entrypoints/ingest/__init__.py
  recidiviz/tests/entrypoints/ingest/ingest_pipeline_run_in_dag_test.py
Due: generate_docs_for_endpoint

[Ingest] Enable OZ ingest pipeline in airflow (Recidiviz/recidiviz-data#25361)
  recidiviz/ingest/direct/gating.py
  recidiviz/pipelines/ingest/pipeline_utils.py
Due: generate_docs_for_endpoint

[Airflow] Add required parameter for triggering ingest dag in calculation dag (Recidiviz/recidiviz-data#25397)
  recidiviz/admin_panel/routes/ingest_ops.py
  recidiviz/airflow/dags/calculation_dag.py
  recidiviz/cloud_functions/main.py
  recidiviz/tools/airflow/trigger_state_specific_calculation_dag.py
  recidiviz/tools/deploy/terraform/cloud-scheduler.tf
  recidiviz/tools/deploy/trigger_post_deploy_tasks.py
  recidiviz/utils/trigger_dag_helpers.py
Due: generate_docs_for_endpoint, update_terraform_lock_file

[US_MI] Raw data configs for sentence modifiers and treatment referral COMS data (Recidiviz/recidiviz-data#24929)
  recidiviz/ingest/direct/regions/us_mi/raw_data/us_mi_COMS_Intervention_Referrals.yaml
  recidiviz/ingest/direct/regions/us_mi/raw_data/us_mi_COMS_Modifiers.yaml
Due: generate_docs_for_region, generate_docs_for_endpoint

[Outliers] Fix route name for outliers auth (Recidiviz/recidiviz-data#25411)
  recidiviz/case_triage/outliers/outliers_authorization.py
  recidiviz/tests/case_triage/outliers/outliers_authorization_test.py
  recidiviz/tests/case_triage/outliers/outliers_routes_test.py
Due: generate_docs_for_endpoint

[Outliers] split supervision_officer_attribute_sessions.supervision_district into id/name to use in product views (Recidiviz/recidiviz-data#25388)
  recidiviz/aggregated_metrics/misc_aggregated_metrics.py
  recidiviz/calculator/query/state/views/outliers/staff_query_template.py
  recidiviz/calculator/query/state/views/sessions/supervision_officer_attribute_sessions.py
  recidiviz/calculator/query/state/views/sessions/supervision_officer_inferred_location_sessions.py
  recidiviz/calculator/query/state/views/sessions/supervision_unit_sessions.py
  recidiviz/outliers/outliers_configs.py
  recidiviz/validation/views/state/outliers/unidentified_supervision_districts_for_staff.py
Due: generate_docs_for_endpoint, generate_calc_documentation

IE Raw Data Description Onboarding Task for Nick Tallant (Recidiviz/recidiviz-data#25353)
  recidiviz/common/constants/state/external_id_types.py
  recidiviz/ingest/direct/regions/us_oz/raw_data/us_oz_lotr_demographics.yaml
  recidiviz/ingest/direct/regions/us_oz/raw_data/us_oz_lotr_fellowship.yaml
  recidiviz/ingest/direct/regions/us_oz/raw_data/us_oz_lotr_roles.yaml
Due: generate_docs_for_region, generate_docs_for_endpoint

[Justice Counts] Update delete agency script to fix bugs (Recidiviz/recidiviz-data#25413)
  recidiviz/tools/justice_counts/delete_agency.py
Due: generate_docs_for_endpoint

[Autogenerated] Update Pipfile.lock (Recidiviz/recidiviz-data#25405)
  Pipfile.lock
Due: none

[Justice Counts] Data Pull filter out demo agencies (Recidiviz/recidiviz-data#25393)
  recidiviz/justice_counts/jobs/csg_data_pull.py
  recidiviz/justice_counts/utils/constants.py
  recidiviz/persistence/database/migrations/justice_counts/versions/2023_11_13_1415_6909495c4b03_backfill_demo_source_id.py
Due: generate_docs_for_endpoint

[Justice Counts] Add Auth0 configuration doc to README (Recidiviz/recidiviz-data#25417)
  recidiviz/justice_counts/control_panel/README.md
Due: generate_docs_for_endpoint

[Airflow] Add `trigger_ingest_dag_post_bq_refresh` to known conf parameter for Calculation DAG (Recidiviz/recidiviz-data#25434)
  recidiviz/airflow/dags/monitoring/task_failure_alerts.py
Due: generate_docs_for_endpoint

[Validation] Run validations for a state as soon as normalization pipelines are turned on (Recidiviz/recidiviz-data#25384)
  recidiviz/airflow/dags/calculation_dag.py
Due: generate_docs_for_endpoint

[App Engine] Cap maximum number of instances to 10 (Recidiviz/recidiviz-data#25428)
  prod.yaml
  staging.yaml
Due: none
