Repository Recidiviz/pulse-data: changes, and which pre-commit hooks are due for each by the changed paths.
All: generate_docs_for_region, generate_docs_for_endpoint, generate_entity_documentation

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.3.0
    hooks:
      - id: check-yaml
  - repo: https://github.com/psf/black
    rev: 20.8b1
    hooks:
      - id: black
        language_version: python3
  - repo: local
    hooks:
      - id: generate_docs_for_region
        name: generate_docs_for_region
        entry: pipenv run python -m recidiviz.tools.docs.region_documentation_generator
        language: system
        files: ^recidiviz/ingest/direct/regions/
        require_serial: true
      - id: generate_docs_for_endpoint
        name: generate_docs_for_endpoint
        entry: pipenv run python -m recidiviz.tools.docs.endpoint_documentation_generator
        language: system
        files: ^recidiviz/
        exclude: >
          (?x)(^recidiviz/tests/|^recidiviz/tools/|^recidiviz/ingest/direct/regions/)$
        require_serial: true
      - id: generate_entity_documentation
        name: generate_entity_documentation
        entry: pipenv run python -m recidiviz.tools.docs.entity_documentation_generator
        language: system
        files: >
           (?x)(^recidiviz/persistence/database/schema/state/schema.py|^recidiviz/persistence/database/schema/history_table_shared_columns_mixin.py)$
        require_serial: true

[US_TN] Removing secondary gating for DisciplinaryIncarcerationIncident (Recidiviz/recidiviz-data#21237)
  recidiviz/ingest/direct/regions/us_tn/us_tn_controller.py
Due: generate_docs_for_region, generate_docs_for_endpoint

[Outliers] Implement data retrieval for supervision officer supervisor emails (Recidiviz/recidiviz-data#21216)
  recidiviz/outliers/querier/querier.py
  recidiviz/reporting/context/available_context.py
  recidiviz/reporting/context/outliers_supervision_officer_supervisor/__init__.py
  recidiviz/reporting/context/outliers_supervision_officer_supervisor/context.py
  recidiviz/reporting/context/po_monthly_report/constants.py
  recidiviz/reporting/data_retrieval.py
  recidiviz/reporting/email_reporting_utils.py
  recidiviz/reporting/recipient.py
  recidiviz/tests/outliers/querier_test.py
  recidiviz/tools/validate_source_visibility.py
Due: generate_docs_for_endpoint

[US_MO] Final ORAS table config (Recidiviz/recidiviz-data#21243)
  recidiviz/ingest/direct/regions/us_mo/raw_data/us_mo_ORAS_MO_ASSESSMENT_SECTIONS_DB2.yaml
Due: generate_docs_for_region, generate_docs_for_endpoint

[US_MI/US_IX] Adjust validation thresholds (Recidiviz/recidiviz-data#21252)
  recidiviz/validation/config/regions/us_ix/us_ix_validation_config.yaml
  recidiviz/validation/config/regions/us_mi/us_mi_validation_config.yaml
Due: generate_docs_for_endpoint

[Justice Counts] send `agency_name` with datapoints response (Recidiviz/recidiviz-data#20618)
  recidiviz/justice_counts/bulk_upload/spreadsheet_uploader.py
  recidiviz/justice_counts/bulk_upload/time_range_uploader.py
  recidiviz/justice_counts/bulk_upload/workbook_uploader.py
  recidiviz/justice_counts/control_panel/routes/api.py
  recidiviz/justice_counts/datapoint.py
  recidiviz/justice_counts/report.py
  recidiviz/justice_counts/spreadsheet.py
  recidiviz/justice_counts/types.py
  recidiviz/tests/justice_counts/bulk_upload/bulk_upload_test.py
  recidiviz/tests/justice_counts/datapoint_test.py
  recidiviz/tests/justice_counts/metric_interface_test.py
  recidiviz/tests/justice_counts/spreadsheet_test.py
Due: generate_docs_for_endpoint

[US_CA] Ingest state assessment (Recidiviz/recidiviz-data#21129)
  recidiviz/common/constants/state/enum_canonical_strings.py
  recidiviz/common/constants/state/state_assessment.py
  recidiviz/ingest/direct/regions/us_ca/ingest_mappings/us_ca_assessments.yaml
  recidiviz/ingest/direct/regions/us_ca/ingest_views/view_assessments.py
  recidiviz/ingest/direct/regions/us_ca/raw_data/us_ca_AssessmentInCustody.yaml
  recidiviz/ingest/direct/regions/us_ca/raw_data/us_ca_AssessmentParole.yaml
  recidiviz/ingest/direct/regions/us_ca/us_ca_controller.py
  recidiviz/persistence/database/migrations/state/versions/2023_05_25_1423_1d9471924ec6_add_csra.py
  recidiviz/persistence/database/schema/state/schema.py
  recidiviz/pipelines/normalization/utils/normalization_managers/assessment_normalization_manager.py
Due: generate_docs_for_region, generate_docs_for_endpoint, generate_entity_documentation

[DAG] Update `cloud_sql_to_bq_refresh_control.py` to handle direct ingest instances (Recidiviz/recidiviz-data#21050)
  recidiviz/airflow/dags/calculation_dag.py
  recidiviz/airflow/dags/operators/iap_httprequest_sensor.py
  recidiviz/airflow/tests/calculation_dag_test.py
  recidiviz/big_query/success_persister.py
  recidiviz/persistence/database/bq_refresh/cloud_sql_to_bq_refresh_control.py
  recidiviz/tests/persistence/database/bq_refresh/cloud_sql_to_bq_refresh_control_test.py
Due: generate_docs_for_endpoint

[Justice Counts] Update Datapoint source_id and is_report_datapoint logic (Recidiviz/recidiviz-data#21270)
  recidiviz/justice_counts/datapoint.py
Due: generate_docs_for_endpoint

[US_TN] Adding filter to DisciplinaryIncarcerationIncident (Recidiviz/recidiviz-data#21271)
  recidiviz/ingest/direct/regions/us_tn/ingest_views/view_DisciplinaryIncarcerationIncident.py
Due: generate_docs_for_region, generate_docs_for_endpoint

[SFTP] Add mechanism for ignoring specific remote files (Recidiviz/recidiviz-data#21157)
  recidiviz/airflow/README.md
  recidiviz/airflow/dags/operators/sftp/find_sftp_files_operator.py
  recidiviz/airflow/dags/sftp_dag.py
  recidiviz/airflow/dags/utils/gcsfs_utils.py
  recidiviz/airflow/tests/operators/sftp/find_sftp_files_to_download_operator_test.py
  recidiviz/airflow/tests/operators/sftp/fixtures/__init__.py
  recidiviz/airflow/tests/operators/sftp/fixtures/sftp_excluded_remote_file_paths_default.yaml
  recidiviz/airflow/tests/operators/sftp/fixtures/sftp_excluded_remote_file_paths_with_exclusions.yaml
  recidiviz/utils/yaml_dict.py
Due: generate_docs_for_endpoint

Add assessment type test for normalization manager (Recidiviz/recidiviz-data#21276)
  recidiviz/tests/pipelines/normalization/utils/normalization_managers/assessment_normalization_manager_test.py
Due: generate_docs_for_endpoint

[US_IX] Add raw data config for employee (Recidiviz/recidiviz-data#21275)
  recidiviz/ingest/direct/regions/us_ix/raw_data/us_ix_employee.yaml
Due: generate_docs_for_region, generate_docs_for_endpoint

Casts attribute columns as string before inclusion in partition in `aggregate_adjacent_spans` (Recidiviz/recidiviz-data#21283)
  recidiviz/calculator/query/sessions_query_fragments.py
Due: generate_docs_for_endpoint

[Workflows] Enable US_MI milestones in client record (Recidiviz/recidiviz-data#21081)
  recidiviz/calculator/query/state/views/workflows/firestore/client_record_ctes.py
Due: generate_docs_for_endpoint

Update `build_state_person_entity` test function (Recidiviz/recidiviz-data#21282)
  recidiviz/tests/ingest/direct/regions/utils.py
Due: generate_docs_for_endpoint

[Ingest] Use milliseconds in bounds when generating ingest view results (Recidiviz/recidiviz-data#21232)
  recidiviz/big_query/big_query_utils.py
  recidiviz/ingest/direct/ingest_view_materialization/ingest_view_materializer.py
  recidiviz/ingest/direct/ingest_view_materialization/instance_ingest_view_contents.py
  recidiviz/ingest/direct/types/cloud_task_args.py
  recidiviz/ingest/direct/views/direct_ingest_view_query_builder.py
  recidiviz/ingest/direct/views/raw_table_query_builder.py
  recidiviz/tests/big_query/fakes/big_query_query_rewriter.py
  recidiviz/tests/ingest/direct/ingest_view_materialization/ingest_view_materializer_test.py
  recidiviz/tests/ingest/direct/views/direct_ingest_view_query_builder_test.py
  recidiviz/tests/ingest/direct/views/raw_table_query_builder_test.py
Due: generate_docs_for_endpoint

[US_TN] Add start and end dates to resident record (Recidiviz/recidiviz-data#21272)
  recidiviz/calculator/query/state/views/workflows/firestore/resident_record_ctes.py
Due: generate_docs_for_endpoint

Adds any incarceration within 1 year metric (Recidiviz/recidiviz-data#21134)
  recidiviz/aggregated_metrics/aggregated_metric_view_collector.py
  recidiviz/aggregated_metrics/models/aggregated_metric.py
  recidiviz/aggregated_metrics/models/aggregated_metric_configurations.py
Due: generate_docs_for_endpoint

[US_PA] Fix state staff caseload type period view (Recidiviz/recidiviz-data#21277)
  recidiviz/ingest/direct/regions/us_pa/ingest_views/view_supervision_staff_caseload_type_period.py
Due: generate_docs_for_region, generate_docs_for_endpoint

[US_MI][Workflows] Coalesce end date to magic end date for null values (Recidiviz/recidiviz-data#21322)
  recidiviz/task_eligibility/criteria/general/custodial_authority_is_supervision_authority_or_other_state.py
Due: generate_docs_for_endpoint

[Recidiviz/recidiviz-data#20839][Justice Counts] Add (and start populating) created_at column to Datapoint table (Recidiviz/recidiviz-data#21253)
  recidiviz/justice_counts/datapoint.py
  recidiviz/justice_counts/utils/persistence_utils.py
  recidiviz/persistence/database/migrations/justice_counts/versions/2023_06_01_1346_c8688b68b149_datapoint_created_at_column_update.py
  recidiviz/persistence/database/schema/justice_counts/schema.py
  recidiviz/tests/justice_counts/datapoint_test.py
Due: generate_docs_for_endpoint

log request to TOMIS (Recidiviz/recidiviz-data#21329)
  recidiviz/case_triage/workflows/interface.py
Due: generate_docs_for_endpoint

add an initial devcontainer.json for use with GitHub codespaces or VSCode (Recidiviz/recidiviz-data#21325)
  .devcontainer/devcontainer.json
  .devcontainer/postCreate.sh
Due: none

[US_MI][Workflows] For PastFTRD move eligible span out by one day (Recidiviz/recidiviz-data#21331)
  recidiviz/task_eligibility/criteria/general/supervision_one_day_past_full_term_completion_date.py
  recidiviz/task_eligibility/eligibility_spans/us_mi/complete_full_term_discharge_from_supervision.py
  recidiviz/task_eligibility/utils/critical_date_query_fragments.py
Due: generate_docs_for_endpoint

[US_CA] Ingest StateStaff, StateStaffExternalId (Recidiviz/recidiviz-data#21220)
  recidiviz/common/constants/state/external_id_types.py
  recidiviz/ingest/direct/regions/us_ca/ingest_mappings/us_ca_staff.yaml
  recidiviz/ingest/direct/regions/us_ca/ingest_views/view_staff.py
  recidiviz/ingest/direct/regions/us_ca/us_ca_controller.py
Due: generate_docs_for_region, generate_docs_for_endpoint

Give TN CLD form information the prefix that etl expects (Recidiviz/recidiviz-data#21333)
  recidiviz/calculator/query/state/views/workflows/firestore/us_tn_custody_level_downgrade_record.py
Due: generate_docs_for_endpoint

Migrates r-research dependencies to r-data (Recidiviz/recidiviz-data#20869)
  Pipfile
  Pipfile.lock
  recidiviz/tools/analyst/notebook_utils.py
  recidiviz/tools/analyst/recidiviz.mplstyle
  stubs/fuzzywuzzy/fuzz.pyi
  stubs/fuzzywuzzy/process.pyi
  stubs/fuzzywuzzy/utils.pyi
  stubs/tqdm/__init__.pyi
  stubs/tqdm/notebook.pyi
Due: generate_docs_for_endpoint

[DAG][BUG] Fix acquire lock endpoint in calculation DAG (Recidiviz/recidiviz-data#21336)
  recidiviz/airflow/dags/calculation_dag.py
Due: generate_docs_for_endpoint

[Outliers] Update supervision officer supervisor query (Recidiviz/recidiviz-data#21301)
  recidiviz/outliers/querier/querier.py
  recidiviz/reporting/context/outliers_supervision_officer_supervisor/context.py
  recidiviz/tests/outliers/querier_test.py
  recidiviz/tools/outliers/fixtures/supervision_officer_metrics.csv
  recidiviz/tools/outliers/fixtures/supervision_officers.csv
Due: generate_docs_for_endpoint

[Outliers] Archive supervisor report data (Recidiviz/recidiviz-data#21238)
  recidiviz/outliers/querier/querier.py
  recidiviz/reporting/data_retrieval.py
  recidiviz/tests/outliers/querier_test.py
Due: generate_docs_for_endpoint

[BUG]fix for IAPHTTPRequestOperator (Recidiviz/recidiviz-data#21344)
  recidiviz/airflow/dags/operators/iap_httprequest_sensor.py
Due: generate_docs_for_endpoint

[Justice Counts] Some admin panel updates (Recidiviz/recidiviz-data#21317)
  frontends/admin-panel/src/components/JusticeCountsTools/AgencyDetailsView.tsx
  frontends/admin-panel/src/components/JusticeCountsTools/AgencyProvisioningView.tsx
  frontends/admin-panel/src/components/JusticeCountsTools/constants.ts
  recidiviz/admin_panel/routes/justice_counts_tools.py
Due: generate_docs_for_endpoint

[Docker] Add target `platform` to build commands. Add `recidiviz-base` build alias (Recidiviz/recidiviz-data#21337)
  Pipfile
  README.md
Due: none

[Workflows][US_TN] Add location query (Recidiviz/recidiviz-data#21281)
  recidiviz/calculator/query/state/state_specific_query_strings.py
  recidiviz/calculator/query/state/views/workflows/firestore/location_record.py
  recidiviz/calculator/query/state/views/workflows/firestore/resident_record.py
  recidiviz/calculator/query/state/views/workflows/firestore/resident_record_ctes.py
Due: generate_docs_for_endpoint

[Alerting] Add export timeliness alerting (Recidiviz/recidiviz-data#20584)
  Pipfile.lock
  frontends/admin-panel/src/components/IngestOperationsView/IngestOperationsComponents/RawDataLatestProcessedDateCellContents.tsx
  recidiviz/airflow/Pipfile
  recidiviz/airflow/Pipfile.lock
  recidiviz/airflow/dags/monitoring_dag.py
  recidiviz/airflow/dags/operators/recidiviz_kubernetes_pod_operator.py
  recidiviz/airflow/tests/dag_integrity_test.py
  recidiviz/big_query/export/export_query_config.py
  recidiviz/cloud_storage/gcsfs_path.py
  recidiviz/metrics/export/export_config.py
  recidiviz/metrics/export/view_export_manager.py
  recidiviz/monitoring/__init__.py
  recidiviz/monitoring/export_timeliness.py
  recidiviz/tests/big_query/export/export_query_config_test.py
  recidiviz/tests/ingest/direct/gcs/directory_path_utils_test.py
  recidiviz/tests/metrics/export/export_config_test.py
  recidiviz/tests/metrics/export/view_export_manager_test.py
  recidiviz/tests/monitoring/__init__.py
  recidiviz/tests/monitoring/export_timeliness_test.py
  recidiviz/tools/deploy/terraform/cloud-composer.tf
  recidiviz/tools/export_metrics_from_dataset_to_gcs.py
  recidiviz/tools/generate_optimized_format_metric_files_from_json.py
  recidiviz/tools/monitoring/__init__.py
  recidiviz/tools/monitoring/report_metric_export_timeliness.py
  recidiviz/tools/validate_source_visibility.py
  recidiviz/utils/monitoring.py
  stubs/opencensus/metrics/transport.pyi
  stubs/opencensus/stats/aggregation.pyi
Due: generate_docs_for_endpoint

[Bug] Fix passing `ingest_instance` to `bq_refesh` for none `STATE` schema types (Recidiviz/recidiviz-data#21356)
  recidiviz/persistence/database/bq_refresh/cloud_sql_to_bq_refresh_control.py
  recidiviz/tests/persistence/database/bq_refresh/cloud_sql_to_bq_refresh_control_test.py
Due: generate_docs_for_endpoint

Handle null case_notes in workflows_opportunity_etl_delegate (Recidiviz/recidiviz-data#21361)
  recidiviz/tests/workflows/etl/workflows_opportunity_etl_delegate_test.py
  recidiviz/workflows/etl/workflows_opportunity_etl_delegate.py
Due: generate_docs_for_endpoint

[US_OR] Adding flags for insufficient PKs (Recidiviz/recidiviz-data#21367)
  recidiviz/ingest/direct/regions/us_or/raw_data/us_or_RCDVZ_CISPRDDTA_MTRLMS.yaml
  recidiviz/ingest/direct/regions/us_or/raw_data/us_or_RCDVZ_CISPRDDTA_PBRLPH.yaml
  recidiviz/ingest/direct/regions/us_or/raw_data/us_or_RCDVZ_CISPRDDT_CLCLHD.yaml
  recidiviz/ingest/direct/regions/us_or/raw_data/us_or_RCDVZ_CISUIR_INCIDENT_TYPE.yaml
  recidiviz/ingest/direct/regions/us_or/raw_data/us_or_RCDVZ_DOCDTA_TBCELL.yaml
  recidiviz/ingest/direct/regions/us_or/raw_data/us_or_RCDVZ_PRDDTA_OPCOUR.yaml
  recidiviz/ingest/direct/regions/us_or/raw_data/us_or_default.yaml
Due: generate_docs_for_region, generate_docs_for_endpoint

[US_MI] Ingest probation violations and fill violation type in normalization (Recidiviz/recidiviz-data#20673)
  recidiviz/ingest/direct/regions/us_mi/ingest_mappings/us_mi_supervision_violations_probation.yaml
  recidiviz/ingest/direct/regions/us_mi/ingest_views/view_supervision_violations_probation.py
  recidiviz/ingest/direct/regions/us_mi/us_mi_controller.py
  recidiviz/pipelines/normalization/utils/normalization_managers/supervision_violation_responses_normalization_manager.py
  recidiviz/pipelines/utils/state_utils/state_calculation_config_manager.py
  recidiviz/pipelines/utils/state_utils/us_mi/us_mi_violation_response_normalization_delegate.py
  recidiviz/pipelines/utils/state_utils/us_mo/us_mo_violation_response_normalization_delegate.py
  recidiviz/tests/pipelines/utils/state_utils/state_calculation_config_manager_test.py
  recidiviz/tests/pipelines/utils/state_utils/us_mi/us_mi_violation_response_normalization_delegate_test.py
Due: generate_docs_for_region, generate_docs_for_endpoint

add primary keys to SupervisionSentence (Recidiviz/recidiviz-data#21369)
  recidiviz/ingest/direct/regions/us_ca/raw_data/us_ca_SupervisionSentence.yaml
Due: generate_docs_for_region, generate_docs_for_endpoint
