Repository Recidiviz/pulse-data: changes, and which pre-commit hooks are due for each by the changed paths.
All: generate_docs_for_region, generate_docs_for_endpoint, generate_entity_documentation

generate_docs_for_region:
  name: generate_docs_for_region
  entry: pipenv run python -m recidiviz.tools.docs.region_documentation_generator
  language: system
  require_serial: true

generate_docs_for_endpoint:
  name: generate_docs_for_endpoint
  entry: pipenv run python -m recidiviz.tools.docs.endpoint_documentation_generator
  language: system
  require_serial: true

generate_entity_documentation:
  name: generate_entity_documentation
  entry: pipenv run python -m recidiviz.tools.docs.entity_documentation_generator
  language: system
  require_serial: true

[US_ND] Finalizing migration of ND ingest views to v2 mappings (Recidiviz/recidiviz-data#17451)
  recidiviz/ingest/direct/regions/us_nd/ingest_mappings/us_nd_elite_offense_in_custody_and_pos_report_data.yaml
  recidiviz/ingest/direct/regions/us_nd/us_nd_controller.py
  recidiviz/ingest/direct/regions/us_nd/us_nd_custom_parsers.py
  recidiviz/ingest/direct/regions/us_nd/us_nd_legacy_enum_helpers.py
Due: generate_docs_for_region, generate_docs_for_endpoint

[US_PA] Turn off unused supervision compliance metrics (Recidiviz/recidiviz-data#17455)
  recidiviz/calculator/pipeline/calculation_pipeline_templates.yaml
  recidiviz/calculator/pipeline/utils/state_utils/state_calculation_config_manager.py
  recidiviz/calculator/pipeline/utils/state_utils/us_pa/us_pa_supervision_compliance.py
  recidiviz/case_triage/state_utils/us_pa.py
  recidiviz/tests/calculator/pipeline/utils/state_utils/us_pa/us_pa_supervision_compliance_test.py
Due: generate_docs_for_endpoint

[US_ME] Added almost eligible functionality for served_x_portion criteria (Recidiviz/recidiviz-data#17407)
  recidiviz/calculator/query/state/views/workflows/firestore/us_me_complete_transfer_to_sccp_form_record.py
  recidiviz/task_eligibility/criteria/state_specific/us_me/no_class_a_or_b_violation_for_90_days.py
  recidiviz/task_eligibility/utils/almost_eligible_query_fragments.py
Due: generate_docs_for_endpoint

Adding temporary custody starts to the incarceration metrics dataflow pipeline (Recidiviz/recidiviz-data#17434)
  recidiviz/calculator/pipeline/metrics/incarceration/identifier.py
  recidiviz/calculator/pipeline/metrics/utils/commitment_from_supervision_utils.py
  recidiviz/calculator/pipeline/utils/state_utils/us_nd/us_nd_commitment_from_supervision_delegate.py
  recidiviz/calculator/pipeline/utils/state_utils/us_pa/us_pa_commitment_from_supervision_delegate.py
  recidiviz/tests/calculator/pipeline/metrics/incarceration/identifier_test.py
  recidiviz/tests/calculator/pipeline/utils/state_utils/us_nd/us_nd_commitment_from_supervision_delegate_test.py
  recidiviz/tests/calculator/pipeline/utils/state_utils/us_pa/us_pa_commitment_from_supervision_delegate_test.py
Due: generate_docs_for_endpoint

[SFTP] Adding a FindSftpFilesToDownloadOperator and a custom SFTPHook (Recidiviz/recidiviz-data#17346)
  recidiviz/airflow/Pipfile
  recidiviz/airflow/Pipfile.lock
  recidiviz/airflow/airflow.cfg
  recidiviz/airflow/dags/hooks/__init__.py
  recidiviz/airflow/dags/hooks/sftp_hook.py
  recidiviz/airflow/dags/operators/find_sftp_files_operator.py
  recidiviz/airflow/dags/sftp_dag.py
  recidiviz/airflow/tests/operators/bq_result_sensor_test.py
  recidiviz/airflow/tests/operators/find_sftp_files_to_download_operator_test.py
  recidiviz/airflow/tests/test_utils.py
  recidiviz/tools/deploy/terraform/cloud-composer.tf
  recidiviz/tools/deploy/terraform/config/cloud_composer_airflow_files_to_copy.yaml
Due: generate_docs_for_endpoint

[US_IX][Workflows] Migrate criteria, spans, and tasks to Atlas data (Recidiviz/recidiviz-data#17006)
  recidiviz/calculator/query/state/views/sessions/sessions_views.py
  recidiviz/calculator/query/state/views/sessions/us_id/us_id_supervision_projected_completion_date_spans.py
  recidiviz/calculator/query/state/views/sessions/us_ix/us_ix_supervision_projected_completion_date_spans.py
  recidiviz/calculator/query/state/views/workflows/firestore/firestore_views.py
  recidiviz/calculator/query/state/views/workflows/firestore/us_ix_complete_discharge_early_from_supervision_request_record.py
  recidiviz/calculator/query/state/views/workflows/firestore/us_ix_complete_full_term_early_from_supervision_request_record.py
  recidiviz/calculator/query/state/views/workflows/firestore/us_ix_complete_transfer_to_limited_supervision_form_record.py
  recidiviz/task_eligibility/criteria/general/negative_ua_within_90_days.py
  recidiviz/task_eligibility/criteria/state_specific/us_ix/__init__.py
  recidiviz/task_eligibility/criteria/state_specific/us_ix/income_verified_within_3_months.py
  recidiviz/task_eligibility/criteria/state_specific/us_ix/lsir_level_low_for_90_days.py
  recidiviz/task_eligibility/criteria/state_specific/us_ix/lsir_level_low_moderate_for_x_days.py
  recidiviz/task_eligibility/criteria/state_specific/us_ix/no_active_nco.py
  recidiviz/task_eligibility/criteria/state_specific/us_ix/parole_dual_supervision_past_early_discharge_date.py
  recidiviz/task_eligibility/eligibility_spans/us_ix/__init__.py
  recidiviz/task_eligibility/eligibility_spans/us_ix/complete_discharge_early_from_parole_dual_supervision_request.py
  recidiviz/task_eligibility/eligibility_spans/us_ix/complete_discharge_early_from_probation_supervision_request.py
  recidiviz/task_eligibility/eligibility_spans/us_ix/complete_full_term_discharge_from_supervision.py
  recidiviz/task_eligibility/eligibility_spans/us_ix/complete_transfer_to_limited_supervision_form.py
  recidiviz/tests/task_eligibility/task_eligibility_spans_test.py
  recidiviz/view_registry/deployed_views.py
Due: generate_docs_for_endpoint

[Workflows][US_ND] Fix bug preventing some leadership from accessing workflows (Recidiviz/recidiviz-data#17459)
  recidiviz/calculator/query/state/views/workflows/us_nd/supervision_staff_template.py
Due: generate_docs_for_endpoint

[Schema Change] Add task_metadata field to state_task_deadline (Recidiviz/recidiviz-data#17456)
  recidiviz/persistence/database/migrations/state/versions/2022_12_22_1209_e5a993e5515b_add_task_metadata_col.py
  recidiviz/persistence/database/schema/state/schema.py
  recidiviz/persistence/entity/state/deserialize_entity_factories.py
  recidiviz/persistence/entity/state/entities.py
  recidiviz/tests/persistence/entity/state/deserialize_entity_factories_test.py
Due: generate_docs_for_endpoint, generate_entity_documentation

Adding postgres managers for the two SFTP operations tables (Recidiviz/recidiviz-data#17444)
  recidiviz/ingest/direct/metadata/direct_ingest_sftp_ingest_ready_file_metadata_manager.py
  recidiviz/ingest/direct/metadata/direct_ingest_sftp_remote_file_metadata_manager.py
  recidiviz/persistence/database/migrations/operations/versions/2022_12_22_1418_741b41909611_add_sftp_time.py
  recidiviz/persistence/database/schema/operations/schema.py
  recidiviz/persistence/entity/operations/entities.py
  recidiviz/tests/ingest/direct/metadata/direct_ingest_sftp_ingest_ready_file_metadata_manager_test.py
  recidiviz/tests/ingest/direct/metadata/direct_ingest_sftp_remote_file_metadata_manager_test.py
Due: generate_docs_for_endpoint

TES Queries for TN Discharge Opportunity (Recidiviz/recidiviz-data#16781)
  recidiviz/calculator/query/state/views/sessions/sentences_preprocessed.py
  recidiviz/calculator/query/state/views/sessions/sessions_views.py
  recidiviz/calculator/query/state/views/sessions/supervision_projected_completion_date_spans.py
  recidiviz/calculator/query/state/views/sessions/us_tn/us_tn_sentences_preprocessed.py
  recidiviz/calculator/query/state/views/sessions/us_tn/us_tn_supervision_projected_completion_date_spans.py
  recidiviz/task_eligibility/criteria/general/supervision_past_full_term_completion_date_or_upcoming_60_day.py
  recidiviz/task_eligibility/criteria/state_specific/us_tn/no_zero_tolerance_codes_spans.py
  recidiviz/task_eligibility/criteria/state_specific/us_tn/not_on_life_sentence_or_lifetime_supervision.py
  recidiviz/task_eligibility/eligibility_spans/us_tn/complete_full_term_discharge_from_supervision.py
  recidiviz/task_eligibility/utils/critical_date_query_fragments.py
Due: generate_docs_for_endpoint

[Justice Counts] Update backfill script to backfill email (Recidiviz/recidiviz-data#17295)
  recidiviz/tools/justice_counts/backfill_users_from_auth0.py
Due: generate_docs_for_endpoint

[US_PA] adding raw text value to enum mappings in supervision_period_v4 to unblock rerun (Recidiviz/recidiviz-data#17486)
  recidiviz/ingest/direct/regions/us_pa/ingest_mappings/us_pa_supervision_period_v4.yaml
Due: generate_docs_for_region, generate_docs_for_endpoint

[Bug] Use Local Blueprint in adminpanel Test (Recidiviz/recidiviz-data#17479)
  recidiviz/tests/admin_panel/routes/ingest_ops_test.py
Due: generate_docs_for_endpoint

Change WAF to enforcement mode in staging
  recidiviz/tools/deploy/terraform/cloud-armor.tf
Due: generate_docs_for_endpoint

Revert "Change WAF to enforcement mode in staging"
  recidiviz/tools/deploy/terraform/cloud-armor.tf
Due: generate_docs_for_endpoint

[Workflows][US_ME] Handle NULL case notes in me sccp (Recidiviz/recidiviz-data#17500)
  recidiviz/calculator/query/state/views/workflows/firestore/us_me_complete_transfer_to_sccp_form_record.py
Due: generate_docs_for_endpoint

[US_ME] Added descriptions for CIS_130 (Recidiviz/recidiviz-data#17506)
  recidiviz/ingest/direct/regions/us_me/raw_data/us_me_CIS_130_INVESTIGATION.yaml
Due: generate_docs_for_region, generate_docs_for_endpoint

[US_ND] Add INTERNAL_UNKNOWN supervision_type when admission reason is temp custody for commitments from supervision (Recidiviz/recidiviz-data#17507)
  recidiviz/calculator/pipeline/utils/state_utils/us_nd/us_nd_commitment_from_supervision_delegate.py
  recidiviz/tests/calculator/pipeline/metrics/utils/commitment_from_supervision_utils_test.py
  recidiviz/tests/calculator/pipeline/utils/state_utils/us_nd/us_nd_commitment_from_supervision_delegate_test.py
Due: generate_docs_for_endpoint

[US_OR] Adding field descriptions (Recidiviz/recidiviz-data#17509)
  recidiviz/ingest/direct/regions/us_or/raw_data/us_or_RCDVZ_PRDDTA_OP010P.yaml
  recidiviz/ingest/direct/regions/us_or/raw_data/us_or_RCDVZ_PRDDTA_OP013P.yaml
  recidiviz/ingest/direct/regions/us_or/raw_data/us_or_RCDVZ_PRDDTA_OP970P.yaml
Due: generate_docs_for_region, generate_docs_for_endpoint

[Schema] Remove supervising_officer_id from StatePerson (Recidiviz/recidiviz-data#17502)
  recidiviz/ingest/direct/regions/us_nd/ingest_mappings/us_nd_docstars_offenders.yaml
  recidiviz/ingest/models/ingest_info.proto
  recidiviz/ingest/models/ingest_info.py
  recidiviz/ingest/models/ingest_info_pb2.py
  recidiviz/ingest/models/ingest_info_pb2.pyi
  recidiviz/ingest/models/serialization.py
  recidiviz/persistence/database/migrations/state/versions/2022_12_27_1154_d8cb1c9dad04_remove_person_supervising_officer.py
  recidiviz/persistence/database/schema/state/schema.py
  recidiviz/persistence/entity/state/entities.py
  recidiviz/persistence/ingest_info_converter/state/state_converter.py
  recidiviz/tests/ingest/models/ingest_info_test.py
  recidiviz/tests/persistence/entity/state/entities_test_utils.py
  recidiviz/tests/persistence/entity_matching/state/state_entity_matcher_test.py
  recidiviz/tests/persistence/ingest_info_converter/state/state_converter_test.py
Due: generate_docs_for_region, generate_docs_for_endpoint, generate_entity_documentation

[Schema] Remove responding_officer from StateIncarcerationIncident (Recidiviz/recidiviz-data#17504)
  recidiviz/ingest/models/ingest_info.proto
  recidiviz/ingest/models/ingest_info.py
  recidiviz/ingest/models/ingest_info_pb2.py
  recidiviz/ingest/models/ingest_info_pb2.pyi
  recidiviz/ingest/models/serialization.py
  recidiviz/persistence/database/migrations/state/versions/2022_12_27_1222_6417fa9398fd_remove_responding_officer.py
  recidiviz/persistence/database/schema/state/schema.py
  recidiviz/persistence/entity/state/entities.py
  recidiviz/persistence/ingest_info_converter/state/state_converter.py
  recidiviz/tests/ingest/models/ingest_info_test.py
  recidiviz/tests/persistence/entity_matching/state/state_entity_matcher_test.py
  recidiviz/tests/persistence/ingest_info_converter/state/state_converter_test.py
Due: generate_docs_for_endpoint, generate_entity_documentation

[Pip] Lock google api core so that it won't upgrade beyond 2.10.* (Recidiviz/recidiviz-data#17501)
  Pipfile
  Pipfile.lock
Due: none

[Justice Counts] move global definitions for offense types to shared file (Recidiviz/recidiviz-data#17478)
  recidiviz/justice_counts/includes_excludes/offense.py
  recidiviz/justice_counts/includes_excludes/prisons.py
  recidiviz/justice_counts/metrics/prisons.py
Due: generate_docs_for_endpoint

[Justice Counts] update supervision staff according to new tig (Recidiviz/recidiviz-data#17428)
  recidiviz/justice_counts/dimensions/supervision.py
  recidiviz/justice_counts/includes_excludes/supervision.py
  recidiviz/justice_counts/metrics/supervision.py
  recidiviz/tests/justice_counts/bulk_upload/bulk_upload_fixtures/supervision/supervision_metrics.xlsx
  recidiviz/tests/justice_counts/bulk_upload/bulk_upload_test.py
Due: generate_docs_for_endpoint

[Security] Enable WAF enforcement in staging (Recidiviz/recidiviz-data#17497)
  recidiviz/tools/deploy/terraform/cloud-armor.tf
Due: generate_docs_for_endpoint

[Justice Counts] update supervision types according to new tig (Recidiviz/recidiviz-data#17446)
  recidiviz/justice_counts/includes_excludes/supervision.py
Due: generate_docs_for_endpoint

[Justice Counts] update supervision global definitions according to new tig (Recidiviz/recidiviz-data#17448)
  recidiviz/justice_counts/includes_excludes/supervision.py
Due: generate_docs_for_endpoint

[Justice Counts] Law enforcement funding metric (Recidiviz/recidiviz-data#17490)
  recidiviz/justice_counts/dimensions/dimension_registry.py
  recidiviz/justice_counts/dimensions/law_enforcement.py
  recidiviz/justice_counts/includes_excludes/law_enforcement.py
  recidiviz/justice_counts/metricfiles/law_enforcement.py
  recidiviz/justice_counts/metrics/law_enforcement.py
  recidiviz/justice_counts/metrics/metric_registry.py
  recidiviz/justice_counts/metrics/prisons.py
  recidiviz/persistence/database/schema/justice_counts/schema.py
  recidiviz/tests/justice_counts/bulk_upload/bulk_upload_fixtures/law_enforcement/annual_budget_metric.xlsx
  recidiviz/tests/justice_counts/bulk_upload/bulk_upload_fixtures/law_enforcement/annual_budget_metric_update.xlsx
  recidiviz/tests/justice_counts/bulk_upload/bulk_upload_fixtures/law_enforcement/breakdown_errors.xlsx
  recidiviz/tests/justice_counts/bulk_upload/bulk_upload_fixtures/law_enforcement/funding_metric.xlsx
  recidiviz/tests/justice_counts/bulk_upload/bulk_upload_fixtures/law_enforcement/funding_metric_update.xlsx
  recidiviz/tests/justice_counts/bulk_upload/bulk_upload_fixtures/law_enforcement/law_enforcement_empty_template.xlsx
  recidiviz/tests/justice_counts/bulk_upload/bulk_upload_fixtures/law_enforcement/law_enforcement_metrics.xlsx
  recidiviz/tests/justice_counts/bulk_upload/bulk_upload_fixtures/law_enforcement/law_enforcement_missing_metrics.xlsx
  recidiviz/tests/justice_counts/bulk_upload/bulk_upload_fixtures/law_enforcement/law_enforcement_success.xlsx
  recidiviz/tests/justice_counts/bulk_upload/bulk_upload_test.py
  recidiviz/tests/justice_counts/control_panel/server_test.py
  recidiviz/tests/justice_counts/datapoint_test.py
  recidiviz/tests/justice_counts/feed_test.py
  recidiviz/tests/justice_counts/metric_definition_test.py
  recidiviz/tests/justice_counts/metric_interface_test.py
  recidiviz/tests/justice_counts/report_test.py
  recidiviz/tests/justice_counts/spreadsheet_test.py
  recidiviz/tests/justice_counts/utils.py
Due: generate_docs_for_endpoint

[Efficiency] Use PYYAML CSafeLoader Where Available (Recidiviz/recidiviz-data#17499)
  recidiviz/utils/yaml_dict.py
Due: generate_docs_for_endpoint

clean up - remove exclude list (Recidiviz/recidiviz-data#17513)
  recidiviz/ingest/direct/ingest_mappings/ingest_view_manifest.py
Due: generate_docs_for_endpoint

[Admin Panel] Add ability to unblock state user (Recidiviz/recidiviz-data#17503)
  frontends/admin-panel/src/AdminPanelAPI/LineStaffTools.ts
  frontends/admin-panel/src/components/StateUserPermissions/StateUserPermissionsView.tsx
Due: none

[Efficiency] Mark Nodes as Visited in Cycle Check (Recidiviz/recidiviz-data#17516)
  recidiviz/big_query/big_query_view_dag_walker.py
  recidiviz/tests/big_query/big_query_view_dag_walker_test.py
Due: generate_docs_for_endpoint

[Justice Counts ] update supervision daily population according to new tig (Recidiviz/recidiviz-data#17453)
  recidiviz/justice_counts/dimensions/dimension_registry.py
  recidiviz/justice_counts/dimensions/supervision.py
  recidiviz/justice_counts/includes_excludes/supervision.py
  recidiviz/justice_counts/metricfiles/supervision.py
  recidiviz/justice_counts/metrics/metric_registry.py
  recidiviz/justice_counts/metrics/supervision.py
Due: generate_docs_for_endpoint

[Admin Panel] add button to add a set of default permissions for a state/role (Recidiviz/recidiviz-data#17438)
  frontends/admin-panel/src/AdminPanelAPI/LineStaffTools.ts
  frontends/admin-panel/src/components/StateUserPermissions/AddStateRoleForm.tsx
  frontends/admin-panel/src/components/StateUserPermissions/CustomPermissionsPanel.tsx
  frontends/admin-panel/src/components/StateUserPermissions/EditUsersForm.tsx
  frontends/admin-panel/src/components/StateUserPermissions/PermissionSelect.tsx
  frontends/admin-panel/src/components/StateUserPermissions/StateRolePermissionsView.tsx
  frontends/admin-panel/src/components/StateUserPermissions/StateUserPermissionsView.tsx
  frontends/admin-panel/src/components/StateUserPermissions/utils.ts
  frontends/admin-panel/src/misc.d.ts
  recidiviz/auth/auth_endpoint.py
  recidiviz/tests/auth/auth_endpoint_test.py
Due: generate_docs_for_endpoint

[US_TN] Selecting first CountNumber for ISC Consecutive sentences associated with multiple counts in same case to unblock rerun (Recidiviz/recidiviz-data#17531)
  recidiviz/ingest/direct/regions/us_tn/ingest_views/view_SentencesChargesAndCourtCases_v2.py
Due: generate_docs_for_region, generate_docs_for_endpoint

[US_MO] Adding more fields that error in SFTP import (Recidiviz/recidiviz-data#17511)
  recidiviz/ingest/direct/regions/us_mo/us_mo_raw_data_sql_queries.py
Due: generate_docs_for_region, generate_docs_for_endpoint

[US_PA] Bumping threshold failing validations related to known supervision period issue (Recidiviz/recidiviz-data#17538)
  recidiviz/validation/config/regions/us_pa/us_pa_validation_config.yaml
Due: generate_docs_for_endpoint

Update `discovery_time` to be Timestamp Aware in `direct_ingest_raw_file_metadata` (Recidiviz/recidiviz-data#17223)
  recidiviz/admin_panel/ingest_operations/ingest_utils.py
  recidiviz/ingest/direct/metadata/postgres_direct_ingest_file_metadata_manager.py
  recidiviz/persistence/database/migrations/operations/versions/2022_12_29_1412_2dbffd5fff56_discovery_tz_migration.py
  recidiviz/persistence/database/schema/operations/dao.py
  recidiviz/persistence/database/schema/operations/schema.py
  recidiviz/persistence/entity/operations/entities.py
  recidiviz/tests/ingest/direct/ingest_view_materialization/ingest_view_materialization_args_generator_test.py
  recidiviz/tests/ingest/direct/metadata/postgres_direct_ingest_file_metadata_manager_test.py
  recidiviz/tests/persistence/database/schema/operations/dao_test.py
  recidiviz/tests/persistence/database/schema/operations/schema_test.py
  recidiviz/tools/admin_panel/fixtures/operations_db/direct_ingest_raw_file_metadata.csv
Due: generate_docs_for_endpoint

[US_IA] Adds yaml for additional Iowa raw data files (Recidiviz/recidiviz-data#17526)
  recidiviz/ingest/direct/regions/us_ia/raw_data/us_ia_Base_Pop_T_DeID.yaml
  recidiviz/ingest/direct/regions/us_ia/raw_data/us_ia_Base_Population_Demographics_T_DeID.yaml
  recidiviz/ingest/direct/regions/us_ia/raw_data/us_ia_Case_Managers_T_DeID.yaml
  recidiviz/ingest/direct/regions/us_ia/raw_data/us_ia_Current_Iowa_Correctional_System_CBC_Field_Population.yaml
  recidiviz/ingest/direct/regions/us_ia/raw_data/us_ia_Current_Iowa_Correctional_System_CBC_Residential_Population.yaml
  recidiviz/ingest/direct/regions/us_ia/raw_data/us_ia_Current_Iowa_Correctional_System_Prison_Population.yaml
  recidiviz/ingest/direct/regions/us_ia/raw_data/us_ia_DRAOR_CBC_Revised_T_DeID.yaml
  recidiviz/ingest/direct/regions/us_ia/raw_data/us_ia_DRAOR_CBC_T_DeID.yaml
  recidiviz/ingest/direct/regions/us_ia/raw_data/us_ia_Intervention_Program_T_DeID.yaml
  recidiviz/ingest/direct/regions/us_ia/raw_data/us_ia_Interventions_T_DeID.yaml
  recidiviz/ingest/direct/regions/us_ia/raw_data/us_ia_Iowa_Correctional_Institutions.yaml
  recidiviz/ingest/direct/regions/us_ia/raw_data/us_ia_Iowa_Judicial_Districts.yaml
  recidiviz/ingest/direct/regions/us_ia/raw_data/us_ia_Iowa_Judicial_Districts_Offices_and_Facilities.yaml
  recidiviz/ingest/direct/regions/us_ia/raw_data/us_ia_Iowa_Parole_Revocations.yaml
  recidiviz/ingest/direct/regions/us_ia/raw_data/us_ia_Iowa_Prison_Admissions.yaml
  recidiviz/ingest/direct/regions/us_ia/raw_data/us_ia_Iowa_Probation_Admissions.yaml
  recidiviz/ingest/direct/regions/us_ia/raw_data/us_ia_Iowa_Probation_Revocations.yaml
  recidiviz/ingest/direct/regions/us_ia/raw_data/us_ia_Iowa_Risk_Revised_T_DeID.yaml
  recidiviz/ingest/direct/regions/us_ia/raw_data/us_ia_Level_of_Supervision_T_DeID.yaml
  recidiviz/ingest/direct/regions/us_ia/raw_data/us_ia_Modifier_T_DeID.yaml
  recidiviz/ingest/direct/regions/us_ia/raw_data/us_ia_Offenders_Released_from_Iowa_Prisons.yaml
  recidiviz/ingest/direct/regions/us_ia/raw_data/us_ia_Prison_Charges_T_DeID.yaml
  recidiviz/ingest/direct/regions/us_ia/raw_data/us_ia_Prison_Status_T_DeID.yaml
  recidiviz/ingest/direct/regions/us_ia/raw_data/us_ia_ROV_Ticket18447_Parole_SS_DeID.yaml
  recidiviz/ingest/direct/regions/us_ia/raw_data/us_ia_ROV_Ticket18447_Probation_DeID.yaml
  recidiviz/ingest/direct/regions/us_ia/raw_data/us_ia_ROV_Ticket18447_WR_OWI_DeID.yaml
  recidiviz/ingest/direct/regions/us_ia/raw_data/us_ia_Region_and_Work_Unit_T_DeID.yaml
  recidiviz/ingest/direct/regions/us_ia/raw_data/us_ia_Specialty_T_DeID.yaml
  recidiviz/ingest/direct/regions/us_ia/raw_data/us_ia_Sup_Status_Charge_Penalties_T_DeID.yaml
  recidiviz/ingest/direct/regions/us_ia/raw_data/us_ia_Sup_Status_Charge_Sentence_T_DeID.yaml
  recidiviz/ingest/direct/regions/us_ia/raw_data/us_ia_Sup_Status_Charges_T_DeID.yaml
  recidiviz/ingest/direct/regions/us_ia/raw_data/us_ia_Supervision_Level_T_DeID.yaml
Due: generate_docs_for_region, generate_docs_for_endpoint

Update Remaining Timestamps in `direct_ingest_raw_file_metadata` to Be Timezone Aware (Recidiviz/recidiviz-data#17315)
  frontends/admin-panel/src/components/IngestOperationsView/IngestOperationsComponents/RawDataLatestProcessedDateCellContents.tsx
  frontends/admin-panel/src/components/IngestOperationsView/constants.ts
  recidiviz/admin_panel/ingest_operations/ingest_utils.py
  recidiviz/admin_panel/ingest_operations_store.py
  recidiviz/common/attr_validators.py
  recidiviz/ingest/direct/controllers/base_direct_ingest_controller.py
  recidiviz/ingest/direct/controllers/extract_and_merge_job_prioritizer.py
  recidiviz/ingest/direct/gcs/filename_parts.py
  recidiviz/ingest/direct/ingest_view_materialization/ingest_view_materialization_args_generator.py
  recidiviz/ingest/direct/metadata/direct_ingest_file_metadata_manager.py
  recidiviz/ingest/direct/metadata/postgres_direct_ingest_file_metadata_manager.py
  recidiviz/ingest/direct/raw_data/direct_ingest_raw_file_import_manager.py
  recidiviz/persistence/database/migrations/operations/versions/2022_12_29_1434_b058f8ad693a_raw_tz_migration.py
  recidiviz/persistence/database/schema/operations/dao.py
  recidiviz/persistence/database/schema/operations/schema.py
  recidiviz/persistence/entity/operations/entities.py
  recidiviz/tests/admin_panel/ingest_operations_store_test.py
  recidiviz/tests/ingest/direct/controllers/extract_and_merge_job_prioritizer_test.py
  recidiviz/tests/ingest/direct/fakes/fake_instance_ingest_view_contents.py
  recidiviz/tests/ingest/direct/gcs/filename_parts_test.py
  recidiviz/tests/ingest/direct/ingest_view_materialization/ingest_view_materialization_args_generator_test.py
  recidiviz/tests/ingest/direct/metadata/postgres_direct_ingest_file_metadata_manager_test.py
  recidiviz/tests/ingest/direct/regions/ingest_view_query_test_case.py
  recidiviz/tests/persistence/database/schema/operations/dao_test.py
  recidiviz/tests/persistence/database/schema/operations/schema_test.py
  recidiviz/tools/admin_panel/fixtures/operations_db/direct_ingest_raw_file_metadata.csv
  recidiviz/tools/ingest/one_offs/clear_redundant_raw_data_on_bq.py
Due: generate_docs_for_endpoint

Path conditions:
  generate_docs_for_region: any of: ^recidiviz/ingest/direct/regions/
  generate_docs_for_endpoint: any of: ^recidiviz/, but not: (?x)(^recidiviz/tests/|^recidiviz/tools/|^recidiviz/ingest/direct/regions/)$

  generate_entity_documentation: any of: (?x)(^recidiviz/persistence/database/schema/state/schema.py|^recidiviz/persistence/database/schema/history_table_shared_columns_mixin.py)$

