Repository Recidiviz/pulse-data: changes, and which pre-commit hooks are due for each by the changed paths.
All: generate_docs_for_region, generate_docs_for_endpoint, generate_entity_documentation, generate_calc_documentation, generate_ingest_mappings_schema_documentation, update_terraform_lock_file, terraform_fmt, alphabetize_yaml

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.3.0
    hooks:
      - id: check-yaml
  - repo: https://github.com/psf/black
    rev: 22.3.0
    hooks:
      # This runs on py, pyi, and ipynb files.
      - id: black-jupyter
        language_version: python3
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v2.5.1
    hooks:
      - id: prettier
        types_or: [yaml]
  - repo: https://github.com/pycqa/isort
    rev: 5.12.0
    hooks:
      - id: isort
        name: isort (python)
      - id: isort
        name: isort (pyi)
        types: [pyi]
  - repo: https://github.com/shellcheck-py/shellcheck-py
    rev: v0.8.0.4
    hooks:
      - id: shellcheck
        # Also validate any `source`d files
        args: [-x]
  - repo: local
    hooks:
      - id: generate_docs_for_region
        name: generate_docs_for_region
        entry: pipenv run python -m
          recidiviz.tools.docs.region_documentation_generator
        language: system
        files: ^recidiviz/ingest/direct/regions/|^recidiviz/view_registry/raw_data_reference_reasons.yaml
        require_serial: true
      - id: generate_docs_for_endpoint
        name: generate_docs_for_endpoint
        entry: pipenv run python -m
          recidiviz.tools.docs.endpoint_documentation_generator
        language: system
        files: (?x)(^recidiviz/tools/docs/endpoint_documentation_generator.py|^recidiviz/server_blueprint_registry.py|.*/routes/|.*routes.py|.*/server.py|.*control.py|.*endpoint.py|.*endpoints.py|^recidiviz/backup/backup_manager.py|^recidiviz/pipelines/calculation_data_storage_manager.py)$
        exclude: ^recidiviz/tests
        require_serial: true
      - id: generate_entity_documentation
        name: generate_entity_documentation
        entry: pipenv run python -m
          recidiviz.tools.docs.entity_documentation_generator
        language: system
        files: >
          (?x)(^recidiviz/persistence/database/schema/state/schema.py|^recidiviz/persistence/entity/state/normalized_entities.py|^recidiviz/persistence/entity/state/entities.py|^recidiviz/common/constants/state/)$
        require_serial: true
      - id: generate_calc_documentation
        name: generate_calc_documentation
        entry: pipenv run python -m
          recidiviz.calculator.calculation_documentation_generator
        language: system
        files: ^recidiviz/calculator/|^recidiviz/pipelines/|^recidiviz/metrics/|^recidiviz/.*/views/|^recidiviz/big_query/|^recidiviz/persistence/database/schema/|^recidiviz/persistence/entity/|^recidiviz/task_eligibility/|^recidiviz/monitoring/platform_kpis/
        exclude: ^recidiviz/tests/|^recidiviz/calculator/modeling/
        require_serial: true
      - id: generate_ingest_mappings_schema_documentation
        name: generate_ingest_mappings_schema_documentation
        entry: pipenv run python -m
          recidiviz.tools.docs.ingest_mappings_schema_documentation_generator
        language: system
        files: ^recidiviz/ingest/direct/ingest_mappings/yaml_schema/|^docs/engineering/ingest_mapping_schema/
        require_serial: true
      - id: update_terraform_lock_file
        name: update_terraform_lock_file
        entry: recidiviz/tools/deploy/update_terraform_lock.sh
        language: script
        files: ^recidiviz/tools/deploy/terraform/
        require_serial: true
      - id: terraform_fmt
        name: terraform_fmt
        entry: recidiviz/tools/deploy/format_terraform.sh
        language: script
        files: ^recidiviz/tools/deploy/terraform/
      - id: alphabetize_yaml
        name: alphabetize_yaml
        entry: pipenv run python -m
          recidiviz.tools.alphabetize_raw_data_reference_reasons
        language: system
        files: recidiviz/view_registry/raw_data_reference_reasons.yaml

[kpis] add column-level hydration counts (Recidiviz/recidiviz-data#38798)
  recidiviz/monitoring/platform_kpis/velocity/normalized_state_column_hydration.py
  recidiviz/monitoring/platform_kpis/velocity/velocity_views.py
Due: generate_calc_documentation

[Build] Adjust timeouts for CreateTerraformPlan build configuration (retry) (Recidiviz/recidiviz-data#38958)
  recidiviz/tools/deploy/cloud_build/build_configuration.py
  recidiviz/tools/deploy/cloud_build/stages/create_terraform_plan.py
Due: none

[Admin Panel] Fix ingest pipeline dataset go links (Recidiviz/recidiviz-data#38965)
  frontends/admin-panel/src/components/IngestStatus/IngestDataflowInstanceCard.tsx
  recidiviz/tools/admin_panel/fixtures/operations_db/direct_ingest_dataflow_job.csv
  recidiviz/tools/admin_panel/fixtures/operations_db/direct_ingest_dataflow_raw_table_upper_bounds.csv
Due: none

[US_UT] Temporarily remove half time criteria (Recidiviz/recidiviz-data#38966)
  recidiviz/task_eligibility/eligibility_spans/us_ut/early_termination_from_supervision_request.py
Due: generate_calc_documentation

Non-determinism in `sentence_status_raw_text_sessions` (Recidiviz/recidiviz-data#38924)
  recidiviz/calculator/query/state/views/sentence_sessions/sentence_status_raw_text_sessions.py
Due: generate_calc_documentation

[US_TN] SDS - work around backdating for completion event (Recidiviz/recidiviz-data#38726)
  recidiviz/task_eligibility/completion_events/state_specific/us_tn/supervision_level_downgrade.py
  recidiviz/task_eligibility/completion_events/state_specific/us_tn/transfer_to_limited_supervision.py
  recidiviz/task_eligibility/completion_events/state_specific/us_tn/transfer_to_no_contact_parole.py
  recidiviz/view_registry/raw_data_reference_reasons.yaml
Due: generate_docs_for_region, generate_calc_documentation, alphabetize_yaml

[Build] Upgrade Cloud Composer to composer-2.11.3-airflow-2.10.2 (Recidiviz/recidiviz-data#38756)
  recidiviz/airflow/Pipfile
  recidiviz/airflow/Pipfile.lock
  recidiviz/tools/deploy/terraform/cloud-composer.tf
Due: update_terraform_lock_file, terraform_fmt

[Justice Counts] Add State Codes for U.S Territories (Recidiviz/recidiviz-data#38912)
  recidiviz/common/constants/states.py
  recidiviz/tests/common/constants/states_test.py
Due: none

[Admin Panel] Always show validation error rows select query (Recidiviz/recidiviz-data#38969)
  frontends/admin-panel/src/components/Validation/ValidationErrorTable.tsx
Due: none

Revert "[Build] Upgrade Cloud Composer to composer-2.11.3-airflow-2.10.2 (Recidiviz/recidiviz-data#38756)" (Recidiviz/recidiviz-data#38978)
  recidiviz/airflow/Pipfile
  recidiviz/airflow/Pipfile.lock
  recidiviz/tools/deploy/terraform/cloud-composer.tf
Due: update_terraform_lock_file, terraform_fmt

[US_ME] Snooze Pipeline (Recidiviz/recidiviz-data#38910)
  recidiviz/common/attr_validators.py
  recidiviz/pipelines/calculation_pipeline_templates.yaml
  recidiviz/pipelines/dataflow_config.py
  recidiviz/pipelines/supplemental/us_me_snoozed_opportunities/__init__.py
  recidiviz/pipelines/supplemental/us_me_snoozed_opportunities/pipeline.py
  recidiviz/pipelines/supplemental/us_me_snoozed_opportunities/us_me_snoozed_opportunity_notes_query_provider.py
  recidiviz/tests/pipelines/all_pipelines_test.py
  recidiviz/tests/pipelines/fake_bigquery.py
  recidiviz/tests/pipelines/supplemental/us_me_snoozed_opportunities/__init__.py
  recidiviz/tests/pipelines/supplemental/us_me_snoozed_opportunities/pipeline_test.py
  recidiviz/tests/pipelines/supplemental/us_me_snoozed_opportunities/us_me_snoozed_opportunity_notes_query_provider_test.py
  recidiviz/tests/source_tables/dataflow_output_table_collector_test.py
  recidiviz/tests/source_tables/update_big_query_table_schemas_test.py
  recidiviz/tools/validate_source_visibility.py
Due: generate_calc_documentation

[RIR][Insights] Implement the RosterClass (Recidiviz/recidiviz-data#38375)
  recidiviz/case_triage/outliers/outliers_authorization.py
  recidiviz/case_triage/outliers/user_context.py
  recidiviz/outliers/roster_ticket_service.py
  recidiviz/outliers/types.py
  recidiviz/tests/case_triage/outliers/outliers_authorization_test.py
  recidiviz/tests/case_triage/outliers/outliers_routes_test.py
  recidiviz/tests/case_triage/outliers/roster_ticket_service_test.py
  recidiviz/tests/case_triage/outliers/snapshots/snap_roster_ticket_service_test.py
  recidiviz/tests/outliers/querier_test.py
Due: none

[CI] Upgrade runners to ubuntu-latest (Recidiviz/recidiviz-data#38985)
  .github/workflows/ci.yml
  .github/workflows/codeql.yml
  .github/workflows/docker-image-scan.yml
Due: none

[Composer] Set default compute engine service account as service account when spinning up new envs (Recidiviz/recidiviz-data#38976)
  recidiviz/tools/airflow/environment_control.py
  recidiviz/tools/deploy/terraform/cloud-composer.tf
  recidiviz/utils/service_accounts.py
Due: generate_docs_for_endpoint, update_terraform_lock_file, terraform_fmt

[Build] Upgrade Cloud Composer to composer-2.9.7-airflow-2.7.3 (Recidiviz/recidiviz-data#38979)
  recidiviz/airflow/Pipfile
  recidiviz/airflow/Pipfile.lock
  recidiviz/tools/deploy/terraform/cloud-composer.tf
Due: update_terraform_lock_file, terraform_fmt

[Sentences V2] Add date bound validators to all date fields (Recidiviz/recidiviz-data#38809)
  recidiviz/persistence/entity/state/entities.py
  recidiviz/persistence/entity/state/normalized_entities.py
  recidiviz/tests/calculator/query/state/views/sentence_sessions/inferred_group_aggregated_sentence_projected_dates_test.py
  recidiviz/tests/persistence/entity/state/ledger_entities_test.py
  recidiviz/tests/persistence/entity_matching/root_entity_update_merger_test.py
  recidiviz/tests/pipelines/ingest/state/normalization/normalize_sentences_test.py
Due: generate_entity_documentation, generate_calc_documentation

[tf] add `state_code` labels to state-specific gcs buckets (Recidiviz/recidiviz-data#38987)
  recidiviz/tools/deploy/terraform/modules/cloud-storage-bucket/main.tf
  recidiviz/tools/deploy/terraform/modules/state-direct-ingest-resources/buckets.tf
  recidiviz/tools/deploy/terraform/modules/state-sftp-download-resources/main.tf
Due: update_terraform_lock_file, terraform_fmt

rewrite vitals_summaries view to read from aggregated metrics (Recidiviz/recidiviz-data#36752)
  recidiviz/calculator/query/state/views/dashboard/vitals_summaries/vitals_summaries.py
  recidiviz/calculator/query/state/views/dashboard/vitals_summaries/vitals_views.py
  recidiviz/calculator/query/state/views/reference/product_staff.py
  recidiviz/tools/find_unused_bq_views.py
Due: generate_calc_documentation

[Sentencing][US_ID] Correct Idaho sentencing counties (Recidiviz/recidiviz-data#38996)
  recidiviz/calculator/query/state/views/sentencing/us_ix/sentencing_case_template.py
  recidiviz/calculator/query/state/views/sentencing/us_ix/sentencing_client_template.py
Due: generate_calc_documentation

[oops] fix dataset mismatch for `ingest_timeline_tracker` (Recidiviz/recidiviz-data#39000)
  recidiviz/source_tables/externally_managed/google_sheet_backed_tables/ingest_timeline_tracker.yaml
  recidiviz/tests/source_tables/source_tables_test.py
  recidiviz/tools/deploy/terraform/bigquery.tf
Due: update_terraform_lock_file, terraform_fmt

[US_ND] Use incarceration super sessions in detainer criteria (Recidiviz/recidiviz-data#38981)
  recidiviz/task_eligibility/criteria/state_specific/us_nd/no_detainers_or_warrants.py
Due: generate_calc_documentation

[Autogenerated] Update Pipfile.lock (Recidiviz/recidiviz-data#38945)
  Pipfile.lock
  recidiviz/tests/big_query/big_query_client_test.py
Due: none

[US_ME] adding query for snooze case notes (Recidiviz/recidiviz-data#38596)
  recidiviz/calculator/query/state/views/workflows/firestore/opportunity_record_query_fragments.py
  recidiviz/calculator/query/state/views/workflows/firestore/us_me_complete_early_termination_record.py
  recidiviz/calculator/query/state/views/workflows/firestore/us_me_complete_transfer_to_sccp_form_record.py
  recidiviz/calculator/query/state/views/workflows/firestore/us_me_custody_level_downgrade_to_medium_trustee_request_record.py
  recidiviz/calculator/query/state/views/workflows/firestore/us_me_custody_reclassification_review_form_record.py
  recidiviz/calculator/query/state/views/workflows/firestore/us_me_furlough_release_form_record.py
  recidiviz/calculator/query/state/views/workflows/firestore/us_me_work_release_form_record.py
Due: generate_calc_documentation

[JII Texts][US_IX] Include new logic to select phone numbers (Recidiviz/recidiviz-data#39003)
  recidiviz/calculator/query/state/views/jii_texting/us_ix_lsu.py
  recidiviz/view_registry/raw_data_reference_reasons.yaml
Due: generate_docs_for_region, generate_calc_documentation, alphabetize_yaml

[JII] Adjust JII send text script logic to match new BigQuery view columns (Recidiviz/recidiviz-data#38955)
  recidiviz/case_triage/jii/helpers.py
  recidiviz/case_triage/jii/send_jii_texts.py
  recidiviz/tests/case_triage/jii/helpers_test.py
  recidiviz/tests/case_triage/jii/send_jii_texts_test.py
Due: none

Add views to Looker for breadth and depth metrics calculations (Recidiviz/recidiviz-data#38060)
  recidiviz/looker/lookml_view.py
  recidiviz/looker/lookml_view_field_parameter.py
  recidiviz/tools/looker/breadth_and_depth/__init__.py
  recidiviz/tools/looker/breadth_and_depth/breadth_and_depth_lookml_generator.py
Due: none

[Schema] Enforce reasonable date bounds on StatePersonStaffRelationshipPeriod (Recidiviz/recidiviz-data#39012)
  recidiviz/persistence/entity/state/entities.py
  recidiviz/persistence/entity/state/normalized_entities.py
Due: generate_entity_documentation, generate_calc_documentation

[Bugfix] Add actual query back to validation details message (Recidiviz/recidiviz-data#39014)
  frontends/admin-panel/src/components/Validation/ValidationErrorTable.tsx
Due: none

[raw data] add raw data import delegate scaffolding (Recidiviz/recidiviz-data#38993)
  recidiviz/ingest/direct/raw_data/base_raw_data_import_delegate.py
  recidiviz/ingest/direct/raw_data/raw_data_import_delegate_factory.py
Due: none

[Workflows][US_TX] Make task view managed (Recidiviz/recidiviz-data#38975)
  recidiviz/calculator/query/state/views/workflows/firestore/firestore_views.py
  recidiviz/calculator/query/state/views/workflows/firestore/us_tx_supervision_tasks_record.py
  recidiviz/tools/find_unused_bq_views.py
  recidiviz/view_registry/query_complexity_score_2025.py
Due: generate_calc_documentation

[Justice Counts] Fix ValueError when row["value"] is None during bulk upload standardization (Recidiviz/recidiviz-data#38973)
  recidiviz/justice_counts/bulk_upload/workbook_standardizer.py
Due: none

[Bug] Delete the `user_name` from context (Recidiviz/recidiviz-data#39023)
  recidiviz/case_triage/outliers/outliers_authorization.py
  recidiviz/case_triage/outliers/user_context.py
  recidiviz/tests/case_triage/outliers/outliers_authorization_test.py
  recidiviz/tests/case_triage/outliers/outliers_routes_test.py
  recidiviz/tests/outliers/querier_test.py
Due: none

Update Airflow Pipfile (Recidiviz/recidiviz-data#39031)
  recidiviz/airflow/Pipfile
  recidiviz/airflow/Pipfile.lock
Due: none

[US_AZ] Filter invalid sentence dates (Recidiviz/recidiviz-data#39027)
  recidiviz/ingest/direct/regions/us_az/ingest_views/view_state_sentence.py
Due: generate_docs_for_region

[Build] Increase Cloud Build timeout for TF plan (Recidiviz/recidiviz-data#39033)
  recidiviz/tools/deploy/cloud_build/stages/create_terraform_plan.py
Due: none

[Schema] Fix NormalizedStateChargeV2 offense_date validator (Recidiviz/recidiviz-data#39034)
  recidiviz/persistence/entity/state/normalized_entities.py
Due: generate_entity_documentation, generate_calc_documentation

Cleaning up old readmes mirrored to `pulse-data` (Recidiviz/recidiviz-data#39030)
  Dockerfile.case-triage-pathways.dockerignore
  Dockerfile.justice-counts.dockerignore
  README.md
Due: none

[US_AZ] Properly track when a person never had a CSED (Recidiviz/recidiviz-data#39021)
  recidiviz/ingest/direct/regions/us_az/ingest_views/view_state_task_deadline_csed.py
Due: generate_docs_for_region

Revert "[tf] add `state_code` labels to state-specific gcs buckets (Recidiviz/recidiviz-data#38987)" (Recidiviz/recidiviz-data#39057)
  recidiviz/tools/deploy/terraform/modules/cloud-storage-bucket/main.tf
  recidiviz/tools/deploy/terraform/modules/state-direct-ingest-resources/buckets.tf
  recidiviz/tools/deploy/terraform/modules/state-sftp-download-resources/main.tf
Due: update_terraform_lock_file, terraform_fmt

Add field with metric month as string to breadth and depth LookML generator to facilitate intuitive dashboard filtering by month (Recidiviz/recidiviz-data#38701)
  recidiviz/tools/looker/breadth_and_depth/breadth_and_depth_lookml_generator.py
Due: none
