Repository Recidiviz/pulse-data: changes, and which pre-commit hooks are due for each by the changed paths.
All: generate_docs_for_region, generate_docs_for_endpoint, generate_entity_documentation, generate_calc_documentation, generate_ingest_mappings_schema_documentation, update_terraform_lock_file

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.3.0
    hooks:
      - id: check-yaml
  - repo: https://github.com/psf/black
    rev: 22.3.0
    hooks:
      # This runs on py, pyi, and ipynb files.
      - id: black-jupyter
        language_version: python3
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v2.5.1
    hooks:
      - id: prettier
        types_or: [yaml]
  - repo: https://github.com/pycqa/isort
    rev: 5.6.4
    hooks:
      - id: isort
        name: isort (python)
      - id: isort
        name: isort (pyi)
        types: [pyi]
  - repo: local
    hooks:
      - id: generate_docs_for_region
        name: generate_docs_for_region
        entry: pipenv run python -m recidiviz.tools.docs.region_documentation_generator
        language: system
        files: ^recidiviz/ingest/direct/regions/
        require_serial: true
      - id: generate_docs_for_endpoint
        name: generate_docs_for_endpoint
        entry: pipenv run python -m recidiviz.tools.docs.endpoint_documentation_generator
        language: system
        files: ^recidiviz/
        exclude: >
          (?x)(^recidiviz/tests/|^recidiviz/tools/|^recidiviz/ingest/direct/regions/)$
        require_serial: true
      - id: generate_entity_documentation
        name: generate_entity_documentation
        entry: pipenv run python -m recidiviz.tools.docs.entity_documentation_generator
        language: system
        files: >
          (?x)(^recidiviz/persistence/database/schema/state/schema.py|^recidiviz/persistence/database/schema/history_table_shared_columns_mixin.py|^recidiviz/common/constants/state/)$
        require_serial: true
      - id: generate_calc_documentation
        name: generate_calc_documentation
        entry: pipenv run python -m recidiviz.calculator.calculation_documentation_generator
        language: system
        files: ^recidiviz/calculator/|^recidiviz/metrics/|^recidiviz/.*/views/|^recidiviz/big_query/|^recidiviz/persistence/database/schema/|^recidiviz/persistence/entity/|^recidiviz/task_eligibility/
        exclude: ^recidiviz/tests/|^recidiviz/calculator/modeling/
        require_serial: true
      - id: generate_ingest_mappings_schema_documentation
        name: generate_ingest_mappings_schema_documentation
        entry: pipenv run python -m recidiviz.tools.docs.ingest_mappings_schema_documentation_generator
        language: system
        files: ^recidiviz/ingest/direct/ingest_mappings/yaml_schema/|^docs/engineering/ingest_mapping_schema/
        require_serial: true
      - id: update_terraform_lock_file
        name: update_terraform_lock_file
        entry: recidiviz/tools/deploy/update_terraform_lock.sh
        language: script
        files: ^recidiviz/tools/deploy/terraform/
        require_serial: true

Add google-cloud-discoveryengine to Pipenv (Recidiviz/recidiviz-data#30972)
  Pipfile
  Pipfile.lock
Due: none

Add vertexai to Pipenv (Recidiviz/recidiviz-data#30974)
  Pipfile
  Pipfile.lock
Due: none

[BigQuery] Update ingest view schemas after raw data table schemas (Recidiviz/recidiviz-data#30962)
  recidiviz/tests/tools/deploy/snapshots/snap_update_big_query_table_schemas_test.py
  recidiviz/tests/tools/deploy/update_big_query_table_schemas_test.py
  recidiviz/tools/deploy/update_big_query_table_schemas.py
Due: generate_docs_for_endpoint

[raw data][airflow] Add checksum verification task (Recidiviz/recidiviz-data#30790)
  recidiviz/airflow/dags/raw_data/gcs_file_processing_tasks.py
  recidiviz/airflow/tests/raw_data/gcs_file_processing_tasks_test.py
  recidiviz/cloud_storage/gcs_file_system.py
  recidiviz/cloud_storage/gcs_file_system_impl.py
  recidiviz/cloud_storage/gcsfs_csv_chunk_boundary_finder.py
  recidiviz/cloud_storage/verifiable_bytes_reader.py
  recidiviz/fakes/fake_gcs_file_system.py
  recidiviz/ingest/direct/gcs/direct_ingest_gcs_file_system.py
  recidiviz/ingest/direct/raw_data/direct_ingest_raw_file_pre_import_normalizer.py
  recidiviz/ingest/direct/types/raw_data_import_types.py
  recidiviz/tests/cloud_storage/gcsfs_csv_chunk_boundary_finder_test.py
  recidiviz/tests/ingest/direct/raw_data/direct_ingest_raw_file_pre_import_normalizer_test.py
  recidiviz/tests/ingest/direct/types/raw_data_import_types_test.py
Due: generate_docs_for_endpoint

Add solitary confinement metrics (Recidiviz/recidiviz-data#30098)
  recidiviz/aggregated_metrics/aggregated_metric_view_collector.py
  recidiviz/aggregated_metrics/models/aggregated_metric_configurations.py
  recidiviz/calculator/query/state/views/analyst_data/models/event_type.py
  recidiviz/calculator/query/state/views/analyst_data/models/events.py
Due: generate_docs_for_endpoint, generate_calc_documentation

[US_ND] Expand select statement in ingest view (Recidiviz/recidiviz-data#30989)
  recidiviz/ingest/direct/regions/us_nd/ingest_mappings/us_nd_docstars_ftr_episode.yaml
  recidiviz/ingest/direct/regions/us_nd/ingest_views/view_docstars_ftr_episode.py
Due: generate_docs_for_region, generate_docs_for_endpoint

Fix pylint error (Recidiviz/recidiviz-data#30978)
  recidiviz/fakes/fake_gcs_file_system.py
Due: generate_docs_for_endpoint

[Cleanup] Remove unused projected_end_date field from legacy SupervisionPopulationMetric (Recidiviz/recidiviz-data#30975)
  recidiviz/pipelines/metrics/supervision/events.py
  recidiviz/pipelines/metrics/supervision/identifier.py
  recidiviz/pipelines/metrics/supervision/metrics.py
  recidiviz/pipelines/utils/state_utils/state_specific_supervision_delegate.py
  recidiviz/pipelines/utils/state_utils/us_pa/us_pa_supervision_delegate.py
  recidiviz/tests/pipelines/metrics/supervision/identifier_test.py
  recidiviz/tests/pipelines/metrics/supervision/metric_producer_test.py
  recidiviz/tests/pipelines/metrics/supervision/pipeline_test.py
  recidiviz/tests/pipelines/utils/state_utils/state_specific_supervision_delegate_test.py
  recidiviz/tests/pipelines/utils/state_utils/us_pa/us_pa_supervision_delegate_test.py
Due: generate_docs_for_endpoint

Create an avg_daily_population in state prison using `location_type_sessions` (Recidiviz/recidiviz-data#30903)
  recidiviz/aggregated_metrics/aggregated_metric_view_collector.py
  recidiviz/aggregated_metrics/models/aggregated_metric_configurations.py
  recidiviz/calculator/query/state/views/analyst_data/models/span_type.py
  recidiviz/calculator/query/state/views/analyst_data/models/spans.py
Due: generate_docs_for_endpoint, generate_calc_documentation

Refactor time period aggregation for year/quarter metrics, and remove weekly metrics (Recidiviz/recidiviz-data#30949)
  recidiviz/aggregated_metrics/aggregated_metrics_utils.py
  recidiviz/aggregated_metrics/assignment_event_aggregated_metrics.py
  recidiviz/aggregated_metrics/assignment_span_aggregated_metrics.py
  recidiviz/aggregated_metrics/period_event_aggregated_metrics.py
  recidiviz/aggregated_metrics/period_span_aggregated_metrics.py
Due: generate_docs_for_endpoint

[BigQuery] update insert_into_table_from_table to use insert into (Recidiviz/recidiviz-data#30970)
  recidiviz/big_query/big_query_client.py
  recidiviz/tests/big_query/big_query_client_test.py
Due: generate_docs_for_endpoint, generate_calc_documentation

[US_OR] Adding exemption and lowering validation thresholds (Recidiviz/recidiviz-data#30977)
  recidiviz/validation/config/regions/us_or/us_or_validation_config.yaml
  recidiviz/validation/views/state/raw_data/configs/stable_historical_raw_data_counts_validation_config.yaml
Due: generate_docs_for_endpoint, generate_calc_documentation

[Supervisor homepage] Add querier method to pull in excluded officers for a supervisor (Recidiviz/recidiviz-data#30831)
  recidiviz/case_triage/outliers/outliers_routes.py
  recidiviz/outliers/querier/querier.py
  recidiviz/outliers/types.py
  recidiviz/tests/case_triage/outliers/outliers_routes_test.py
  recidiviz/tests/case_triage/outliers/snapshots/snap_outliers_routes_test.py
  recidiviz/tests/outliers/querier_test.py
  recidiviz/tests/outliers/snapshots/snap_querier_test.py
  recidiviz/tools/insights/fixtures/supervision_officers.json
Due: generate_docs_for_endpoint

[Justice Counts] Fix IncludesExcludesSetting parsing error. (Recidiviz/recidiviz-data#30983)
  recidiviz/justice_counts/metrics/metric_definition.py
Due: generate_docs_for_endpoint

[US_AR] OVG query bug fix to include open super sessions (Recidiviz/recidiviz-data#30783)
  recidiviz/calculator/query/state/views/analyst_data/us_ar/us_ar_ovg_timeline.py
Due: generate_docs_for_endpoint, generate_calc_documentation

[US_AR] Add supervision office ID and name metadata for supervision locations (Recidiviz/recidiviz-data#31006)
  recidiviz/calculator/query/state/views/reference/location_metadata/us_ar_location_metadata.py
  recidiviz/view_registry/raw_data_reference_reasons.yaml
Due: generate_docs_for_endpoint, generate_calc_documentation

Adds workflows signups view (Recidiviz/recidiviz-data#30896)
  recidiviz/calculator/query/state/dataset_config.py
  recidiviz/calculator/query/state/views/analyst_data/analyst_data_views.py
  recidiviz/calculator/query/state/views/analyst_data/workflows_user_signups.py
  recidiviz/source_tables/schema/auth0_events/success_login.yaml
  recidiviz/source_tables/schema/auth0_events/success_signup.yaml
  recidiviz/source_tables/schema/auth0_prod_action_logs/success_signup.yaml
  recidiviz/tools/find_unused_bq_views.py
  recidiviz/view_registry/datasets.py
Due: generate_docs_for_endpoint, generate_calc_documentation

Revert "[BigQuery] update insert_into_table_from_table to use insert into (Recidiviz/recidiviz-data#30970)" (Recidiviz/recidiviz-data#31014)
  recidiviz/big_query/big_query_client.py
  recidiviz/tests/big_query/big_query_client_test.py
Due: generate_docs_for_endpoint, generate_calc_documentation

[Justice Counts] Introduce `WorkbookStandardizer` Class and Refactor `convert_file_to_excel` Method (Recidiviz/recidiviz-data#30799)
  recidiviz/justice_counts/bulk_upload/bulk_upload_helpers.py
  recidiviz/justice_counts/bulk_upload/workbook_standardizer.py
  recidiviz/justice_counts/bulk_upload/workbook_uploader.py
  recidiviz/justice_counts/control_panel/routes/api.py
  recidiviz/justice_counts/spreadsheet.py
  recidiviz/tests/justice_counts/bulk_upload/workbook_standarizer_test.py
  recidiviz/tests/justice_counts/spreadsheet_test.py
Due: generate_docs_for_endpoint

Allow viewing multiple task types at once in workflows impact explore (Recidiviz/recidiviz-data#30743)
  recidiviz/looker/lookml_view_field_parameter.py
  recidiviz/tests/looker/lookml_view_field_test.py
  recidiviz/tools/looker/aggregated_metrics/custom_aggregated_metrics_lookml_generator.py
  recidiviz/tools/looker/aggregated_metrics/custom_metrics_lookml_utils.py
  recidiviz/tools/looker/aggregated_metrics/custom_workflows_metrics_configurations.py
  recidiviz/tools/looker/aggregated_metrics/custom_workflows_metrics_lookml_generator.py
Due: generate_docs_for_endpoint

[US_AR] OVG events span metrics (Recidiviz/recidiviz-data#30798)
  recidiviz/calculator/query/state/views/analyst_data/models/event_type.py
  recidiviz/calculator/query/state/views/analyst_data/models/events.py
  recidiviz/calculator/query/state/views/analyst_data/models/span_type.py
  recidiviz/calculator/query/state/views/analyst_data/models/spans.py
  recidiviz/calculator/query/state/views/analyst_data/us_ar/us_ar_ovg_events_preprocessed.py
  recidiviz/calculator/query/state/views/analyst_data/us_ar/us_ar_ovg_timeline.py
  recidiviz/tools/find_unused_bq_views.py
Due: generate_docs_for_endpoint, generate_calc_documentation

[US_IX] Sentencing Refactor (Recidiviz/recidiviz-data#29032)
  recidiviz/ingest/direct/regions/us_ix/ingest_mappings/us_ix_state_sentence.yaml
  recidiviz/ingest/direct/regions/us_ix/ingest_views/template_sentence.py
  recidiviz/ingest/direct/regions/us_ix/ingest_views/view_state_sentence.py
  recidiviz/ingest/direct/regions/us_ix/us_ix_custom_enum_parsers.py
  recidiviz/pipelines/ingest/state/validator.py
Due: generate_docs_for_region, generate_docs_for_endpoint

[Justice Counts] move `update_custom_child_agency_name` method out of admin panel to regular API (Recidiviz/recidiviz-data#31023)
  recidiviz/justice_counts/control_panel/routes/admin.py
  recidiviz/justice_counts/control_panel/routes/api.py
  recidiviz/tests/justice_counts/control_panel/admin_test.py
  recidiviz/tests/justice_counts/control_panel/server_test.py
Due: generate_docs_for_endpoint

[Deploy] Validate BigQuery source table schemata match our YAML definitions (Recidiviz/recidiviz-data#30737)
  .dockerignore
  .gcloudignore
  .gitignore
  recidiviz/source_tables/collect_all_source_table_configs.py
  recidiviz/source_tables/dataflow_output_table_collector.py
  recidiviz/source_tables/ingest_pipeline_output_table_collector.py
  recidiviz/source_tables/normalization_pipeline_output_table_collector.py
  recidiviz/source_tables/schema/auth0_prod_action_logs/failed_login.yaml
  recidiviz/source_tables/schema/auth0_prod_action_logs/success_login.yaml
  recidiviz/source_tables/schema/auth0_prod_action_logs/success_signup.yaml
  recidiviz/source_tables/schema/pulse_dashboard_segment_metrics/frontend_milestones_congratulated_another_way.yaml
  recidiviz/source_tables/schema/spark_public_output_data/cost_avoidance_estimate_raw.yaml
  recidiviz/source_tables/schema/spark_public_output_data/cost_avoidance_non_cumulative_estimate_raw.yaml
  recidiviz/source_tables/schema/spark_public_output_data/life_years_estimate_raw.yaml
  recidiviz/source_tables/schema/spark_public_output_data/population_estimate_raw.yaml
  recidiviz/source_tables/schema/static_reference_tables/us_tn_standards_due.yaml
  recidiviz/source_tables/source_table_config.py
  recidiviz/source_tables/source_table_update_manager.py
  recidiviz/source_tables/union_tables_output_table_collector.py
  recidiviz/source_tables/us_mi_validation_oneoffs.py
  recidiviz/tests/big_query/big_query_emulator_input_schema_json.py
  recidiviz/tests/big_query/view_graph_validation_test.py
  recidiviz/tests/source_tables/collect_all_source_table_configs_test.py
  recidiviz/tests/source_tables/source_table_update_manager_test.py
  recidiviz/tests/source_tables/source_tables_test.py
  recidiviz/tests/tools/deploy/update_big_query_table_schemas_test.py
  recidiviz/tests/view_registry/deployed_views_test.py
  recidiviz/tools/calculator/create_or_update_dataflow_sandbox.py
  recidiviz/tools/deploy/update_big_query_table_schemas.py
  recidiviz/tools/update_source_table_yaml.py
  recidiviz/validation/views/external_data/regions/us_mi/cb_971_report_unified.py
  recidiviz/validation/views/external_data/regions/us_mi/schema/cb_971_v1.yaml
  recidiviz/validation/views/external_data/regions/us_mi/schema/cb_971_v2.yaml
  recidiviz/validation/views/external_data/regions/us_mi/schema/orc_report_v1.yaml
  recidiviz/validation/views/external_data/regions/us_mi/schema/orc_report_v2.yaml
Due: generate_docs_for_endpoint, generate_calc_documentation

[raw data] Refactor raw data import types and add better error handling in checksum verification (Recidiviz/recidiviz-data#30880)
  recidiviz/airflow/dags/raw_data/gcs_file_processing_tasks.py
  recidiviz/airflow/tests/raw_data/gcs_file_processing_tasks_test.py
  recidiviz/entrypoints/raw_data/normalize_raw_file_chunks.py
  recidiviz/ingest/direct/raw_data/direct_ingest_raw_file_pre_import_normalizer.py
  recidiviz/ingest/direct/types/raw_data_import_types.py
  recidiviz/tests/entrypoints/raw_data/normalize_raw_file_chunks_test.py
  recidiviz/tests/ingest/direct/raw_data/direct_ingest_raw_file_pre_import_normalizer_test.py
  recidiviz/tests/ingest/direct/types/raw_data_import_types_test.py
Due: generate_docs_for_endpoint

[BigQuery] Change `auth0_prod_action_logs` YAML to use a subset of columns (Recidiviz/recidiviz-data#31033)
  recidiviz/source_tables/collect_all_source_table_configs.py
  recidiviz/source_tables/schema/auth0_prod_action_logs/failed_login.yaml
  recidiviz/source_tables/schema/auth0_prod_action_logs/success_login.yaml
  recidiviz/source_tables/schema/auth0_prod_action_logs/success_signup.yaml
  recidiviz/tests/big_query/view_graph_validation_test.py
Due: generate_docs_for_endpoint

[US_ND] Add not_in_btc_wtru criteria (Recidiviz/recidiviz-data#30284)
  recidiviz/task_eligibility/criteria/state_specific/us_nd/not_in_wtru_btc.py
  recidiviz/task_eligibility/eligibility_spans/us_nd/transfer_to_minimum_facility_form.py
Due: generate_docs_for_endpoint, generate_calc_documentation

Set up cloud sql notifications for `sentencing-etl-data` (Recidiviz/recidiviz-data#30986)
  recidiviz/tools/deploy/terraform/cloud-storage-notifications.tf
Due: generate_docs_for_endpoint, update_terraform_lock_file

[JII] Create a Quart/Hyper endpoint that runs on a Docker image on a local machine. (Recidiviz/recidiviz-data#31009)
  Dockerfile.prototypes
  Dockerfile.prototypes.dockerignore
  Pipfile
  docker-compose.prototypes.yaml
  recidiviz/prototypes/__init__.py
  recidiviz/prototypes/app.py
Due: generate_docs_for_endpoint

[US_ND] Update raw data update cadence (Recidiviz/recidiviz-data#31047)
  recidiviz/ingest/direct/regions/us_nd/raw_data/us_nd_recidiviz_elite_assessment_results.yaml
Due: generate_docs_for_region, generate_docs_for_endpoint

[raw data][airflow] Add raw data file chunking entrypoint (Recidiviz/recidiviz-data#30884)
  recidiviz/airflow/dags/operators/recidiviz_kubernetes_resources.yaml
  recidiviz/airflow/dags/raw_data/gcs_file_processing_tasks.py
  recidiviz/airflow/tests/raw_data/gcs_file_processing_tasks_test.py
  recidiviz/entrypoints/entrypoint_executor.py
  recidiviz/entrypoints/raw_data/divide_raw_file_into_chunks.py
  recidiviz/ingest/direct/types/raw_data_import_types.py
  recidiviz/tests/entrypoints/raw_data/divide_raw_file_into_chunks_test.py
  recidiviz/tests/ingest/direct/types/raw_data_import_types_test.py
Due: generate_docs_for_endpoint

[raw data][airflow] Add pre import normalization tasks to raw data import dag (Recidiviz/recidiviz-data#31018)
  recidiviz/airflow/dags/operators/recidiviz_kubernetes_pod_operator.py
  recidiviz/airflow/dags/raw_data/gcs_file_processing_tasks.py
  recidiviz/airflow/dags/raw_data_import_dag.py
  recidiviz/airflow/tests/raw_data_import_dag_test.py
  recidiviz/ingest/direct/types/raw_data_import_types.py
  recidiviz/tools/validate_source_visibility.py
Due: generate_docs_for_endpoint

Update `supervision_legal_authority_sessions` to sessionize based on supervision type (Recidiviz/recidiviz-data#30779)
  recidiviz/calculator/query/state/views/analyst_data/us_tn/us_tn_fines_fees_sessions_preprocessed.py
  recidiviz/calculator/query/state/views/sessions/compartment_sub_sessions.py
  recidiviz/calculator/query/state/views/sessions/compartment_sub_sessions_preprocessed.py
  recidiviz/calculator/query/state/views/sessions/supervision_legal_authority_sessions.py
Due: generate_docs_for_endpoint, generate_calc_documentation

[Autogenerated] Update Pipfile.lock (Recidiviz/recidiviz-data#31044)
  Pipfile.lock
Due: none

[US_ND] Add SA name to us_nd_complete_discharge_early_from_supervision_record.py (Recidiviz/recidiviz-data#31074)
  recidiviz/calculator/query/state/views/workflows/firestore/us_nd_complete_discharge_early_from_supervision_record.py
Due: generate_docs_for_endpoint, generate_calc_documentation

[BigQuery] Do not enable table clustering if the clustering fields set is empty (Recidiviz/recidiviz-data#31075)
  recidiviz/big_query/big_query_client.py
  recidiviz/tests/big_query/big_query_client_test.py
Due: generate_docs_for_endpoint, generate_calc_documentation

[US_CA] update ethnicities (Recidiviz/recidiviz-data#31088)
  recidiviz/ingest/direct/regions/us_ca/ingest_mappings/us_ca_person.yaml
Due: generate_docs_for_region, generate_docs_for_endpoint

[JII] Deploy the prototypes server to Cloud Run. (Recidiviz/recidiviz-data#31054)
  recidiviz/tools/deploy/prototypes/__init__.py
  recidiviz/tools/deploy/prototypes/build-prototypes-server.yml
  recidiviz/tools/deploy/prototypes/run_build_prototypes_server.py
Due: generate_docs_for_endpoint

[Workflows] Convert opp config fields from JSONB to JSON (Recidiviz/recidiviz-data#31076)
  recidiviz/persistence/database/migrations/workflows/versions/2024_06_25_1036_d340fe447e62_alter_jsonb_to_json.py
  recidiviz/persistence/database/schema/workflows/schema.py
  recidiviz/tests/workflows/querier/snapshots/snap_querier_test.py
Due: generate_docs_for_endpoint, generate_calc_documentation

[Insights] Add email field to `SupervisionOfficerEntity` (Recidiviz/recidiviz-data#30993)
  recidiviz/calculator/query/state/views/outliers/supervision_officers.py
  recidiviz/outliers/querier/querier.py
  recidiviz/outliers/types.py
  recidiviz/persistence/database/schema/insights/schema.py
  recidiviz/tests/case_triage/outliers/outliers_routes_test.py
  recidiviz/tests/case_triage/outliers/snapshots/snap_outliers_routes_test.py
  recidiviz/tests/outliers/snapshots/snap_querier_test.py
  recidiviz/tools/insights/fixtures/supervision_client_events.json
  recidiviz/tools/insights/fixtures/supervision_officers.json
Due: generate_docs_for_endpoint, generate_calc_documentation
