Repository Recidiviz/pulse-data: changes, and which pre-commit hooks are due for each by the changed paths.
All: generate_docs_for_region, generate_docs_for_endpoint, generate_entity_documentation

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.3.0
    hooks:
      - id: check-yaml
  - repo: https://github.com/psf/black
    rev: 20.8b1
    hooks:
      - id: black
        language_version: python3
  - repo: local
    hooks:
      - id: generate_docs_for_region
        name: generate_docs_for_region
        entry: pipenv run python -m recidiviz.tools.docs.region_documentation_generator
        language: system
        files: ^recidiviz/ingest/direct/regions/
        require_serial: true
      - id: generate_docs_for_endpoint
        name: generate_docs_for_endpoint
        entry: pipenv run python -m recidiviz.tools.docs.endpoint_documentation_generator
        language: system
        files: ^recidiviz/
        exclude: >
          (?x)(^recidiviz/tests/|^recidiviz/tools/|^recidiviz/ingest/direct/regions/)$
        require_serial: true
      - id: generate_entity_documentation
        name: generate_entity_documentation
        entry: pipenv run python -m recidiviz.tools.docs.entity_documentation_generator
        language: system
        files: >
           (?x)(^recidiviz/persistence/database/schema/state/schema.py|^recidiviz/persistence/database/schema/history_table_shared_columns_mixin.py)$
        require_serial: true

Associating primary keys with the merged entities from ingest view tree merger (Recidiviz/recidiviz-data#23081)
  recidiviz/pipelines/ingest/state/associate_with_primary_keys.py
  recidiviz/pipelines/ingest/state/merge_ingest_view_root_entity_trees.py
  recidiviz/pipelines/ingest/state/pipeline.py
  recidiviz/tests/ingest/direct/fake_regions/us_dd/ingest_mappings/us_dd_ingestMultipleChildren.yaml
  recidiviz/tests/ingest/direct/fake_regions/us_dd/ingest_views/view_ingestMultipleChildren.py
  recidiviz/tests/ingest/direct/fake_regions/us_dd/raw_data/us_dd_table4.yaml
  recidiviz/tests/pipelines/ingest/state/associate_with_primary_keys_test.py
  recidiviz/tests/pipelines/ingest/state/merge_ingest_view_root_entity_trees_test.py
  recidiviz/tests/pipelines/ingest/state/test_case.py
  recidiviz/utils/types.py
Due: generate_docs_for_endpoint

[Justice Counts] Move session.commit in upload_spreadsheet to improve performance (Recidiviz/recidiviz-data#23221)
  recidiviz/justice_counts/control_panel/routes/api.py
Due: generate_docs_for_endpoint

[US_TN] Adding in functionality to location_metadata and porting over functionality from incarceration_location_ids_to_names and supervision_location_ids_to_names (Recidiviz/recidiviz-data#23168)
  recidiviz/calculator/query/state/views/reference/incarceration_location_ids_to_names.py
  recidiviz/calculator/query/state/views/reference/location_metadata/location_metadata.py
  recidiviz/calculator/query/state/views/reference/location_metadata/us_tn_location_metadata.py
  recidiviz/calculator/query/state/views/reference/reference_views.py
  recidiviz/calculator/query/state/views/reference/supervision_location_ids_to_names.py
  recidiviz/datasets/static_data/us_tn_incarceration_facility_map.csv
Due: generate_docs_for_endpoint

[US_CO] [US_TN] Validation bumps (Recidiviz/recidiviz-data#23227)
  recidiviz/validation/config/regions/us_co/us_co_validation_config.yaml
  recidiviz/validation/config/regions/us_tn/us_tn_validation_config.yaml
Due: generate_docs_for_endpoint

[Justice Counts] Create New Mexico Courts child agencies (Recidiviz/recidiviz-data#23181)
  recidiviz/tools/justice_counts/create_nm_child_agencies.py
Due: generate_docs_for_endpoint

[US_IX] Bump validation thresholds (Recidiviz/recidiviz-data#23213)
  recidiviz/validation/config/regions/us_ix/us_ix_validation_config.yaml
Due: generate_docs_for_endpoint

[US_ME] add basic configs (Recidiviz/recidiviz-data#23237)
  recidiviz/ingest/direct/regions/us_me/raw_data/us_me_CIS_2083_JOB_SYS.yaml
  recidiviz/ingest/direct/regions/us_me/raw_data/us_me_CIS_210_JOB_ASSIGN.yaml
  recidiviz/ingest/direct/regions/us_me/raw_data/us_me_CIS_300_Personal_Property.yaml
  recidiviz/ingest/direct/regions/us_me/raw_data/us_me_CIS_3030_PP_Item_Type.yaml
  recidiviz/ingest/direct/regions/us_me/raw_data/us_me_CIS_5003_TRANSACTION_TYPE.yaml
  recidiviz/ingest/direct/regions/us_me/raw_data/us_me_CIS_503_TRUST_TRANSACTION.yaml
Due: generate_docs_for_region, generate_docs_for_endpoint

[US_ND] Add supervision site ID 21 to normalization delegate (Recidiviz/recidiviz-data#23249)
  recidiviz/pipelines/utils/state_utils/us_nd/us_nd_supervision_delegate.py
Due: generate_docs_for_endpoint

[Justice Counts] change reports to draft mode if they are created during bulk upload (Recidiviz/recidiviz-data#23232)
  recidiviz/justice_counts/bulk_upload/time_range_uploader.py
Due: generate_docs_for_endpoint

[US_CA] Change column name to unblock ingest (Recidiviz/recidiviz-data#23190)
  recidiviz/ingest/direct/regions/us_ca/raw_data/us_ca_PersonParole.yaml
Due: generate_docs_for_region, generate_docs_for_endpoint

Generate LookML Dashboards for state raw data (Recidiviz/recidiviz-data#22869)
  recidiviz/ingest/direct/raw_data/raw_file_configs.py
  recidiviz/ingest/direct/raw_data/raw_table_relationship_info.py
  recidiviz/looker/lookml_explore.py
  recidiviz/looker/lookml_explore_parameter.py
  recidiviz/looker/lookml_view.py
  recidiviz/looker/lookml_view_field_parameter.py
  recidiviz/tests/ingest/direct/fake_regions/us_ll/raw_data/us_ll_basicData.yaml
  recidiviz/tests/looker/lookml_explore_test.py
  recidiviz/tests/tools/looker/raw_data/fixtures/dashboards/raw_data/us_ll/us_ll_raw_data_person_details_prod.dashboard.lookml
  recidiviz/tests/tools/looker/raw_data/fixtures/dashboards/raw_data/us_ll/us_ll_raw_data_person_details_staging.dashboard.lookml
  recidiviz/tests/tools/looker/raw_data/fixtures/dashboards/raw_data/us_ll/us_ll_raw_data_person_details_template.dashboard.lookml
  recidiviz/tests/tools/looker/raw_data/fixtures/explores/raw_data/us_ll/us_ll_raw_data_template.explore.lkml
  recidiviz/tests/tools/looker/raw_data/fixtures/views/raw_data/state_raw_data_shared_fields.view.lkml
  recidiviz/tests/tools/looker/raw_data/fixtures/views/raw_data/us_ll/basicData.view.lkml
  recidiviz/tests/tools/looker/raw_data/fixtures/views/raw_data/us_ll/us_ll_basicData.view.lkml
  recidiviz/tests/tools/looker/raw_data/fixtures/views/raw_data/us_ll/us_ll_customDatetimeSql.view.lkml
  recidiviz/tests/tools/looker/raw_data/fixtures/views/raw_data/us_ll/us_ll_datetimeNoParsers.view.lkml
  recidiviz/tests/tools/looker/raw_data/fixtures/views/raw_data/us_ll/us_ll_manyPrimaryKeys.view.lkml
  recidiviz/tests/tools/looker/raw_data/fixtures/views/raw_data/us_ll/us_ll_noPrimaryKeys.view.lkml
  recidiviz/tests/tools/looker/raw_data/fixtures/views/raw_data/us_ll/us_ll_raw_data_shared_fields.view.lkml
  recidiviz/tests/tools/looker/raw_data/person_details_dashboard_generator_test.py
  recidiviz/tests/tools/looker/raw_data/person_details_explore_generator_test.py
  recidiviz/tests/tools/looker/raw_data/person_details_generator_test_utils.py
  recidiviz/tests/tools/looker/raw_data/person_details_lookml_writer_test.py
  recidiviz/tools/looker/raw_data/person_details_dashboard_generator.py
  recidiviz/tools/looker/raw_data/person_details_explore_generator.py
  recidiviz/tools/looker/raw_data/person_details_lookml_writer.py
  recidiviz/tools/looker/raw_data/person_details_view_generator.py
  recidiviz/tools/looker/script_helpers.py
Due: generate_docs_for_endpoint

[US_PA][Outliers] Pad district external IDs with zeros (Recidiviz/recidiviz-data#23266)
  recidiviz/calculator/query/state/views/outliers/supervision_officer_supervisors.py
  recidiviz/calculator/query/state/views/outliers/supervision_officers.py
  recidiviz/calculator/query/state/views/reference/us_pa_officer_supervisors.py
Due: generate_docs_for_endpoint

[US_CO] Enum mapping for PFI "A6" (Recidiviz/recidiviz-data#23269)
  recidiviz/ingest/direct/regions/us_co/ingest_mappings/us_co_IncarcerationPeriod.yaml
Due: generate_docs_for_region, generate_docs_for_endpoint

[US_ND] Add supervision site 20 to list of unknown sites (Recidiviz/recidiviz-data#23267)
  recidiviz/pipelines/utils/state_utils/us_nd/us_nd_supervision_delegate.py
Due: generate_docs_for_endpoint

[Cleanup] Remove case_triage.etl_officers view (Recidiviz/recidiviz-data#23270)
  recidiviz/auth/auth_endpoint.py
  recidiviz/case_triage/ops_routes.py
  recidiviz/case_triage/views/etl_officers.py
  recidiviz/case_triage/views/view_config.py
  recidiviz/metrics/export/export_config.py
  recidiviz/server_blueprint_registry.py
  recidiviz/tools/deploy/terraform/cloud-storage-notifications.tf
  recidiviz/validation/views/case_triage/etl_freshness_validation.py
Due: generate_docs_for_endpoint

[US_MI] Add in mystery columns (Recidiviz/recidiviz-data#23273)
  recidiviz/ingest/direct/regions/us_mi/raw_data/us_mi_COMS_Parole_Violation_Summary_Decisions.yaml
Due: generate_docs_for_region, generate_docs_for_endpoint

[US_MI] Revise sp normalization to drop bad open periods likely produced from lack of entity deletion (Recidiviz/recidiviz-data#23160)
  recidiviz/pipelines/normalization/utils/normalization_managers/supervision_period_normalization_manager.py
  recidiviz/pipelines/utils/state_utils/us_mi/us_mi_supervision_period_normalization_delegate.py
  recidiviz/pipelines/utils/state_utils/us_tn/us_tn_supervision_period_normalization_delegate.py
  recidiviz/tests/pipelines/utils/state_utils/us_mi/us_mi_supervision_period_normalization_delegate_test.py
  recidiviz/tests/pipelines/utils/state_utils/us_tn/us_tn_supervision_period_normalization_delegate_test.py
Due: generate_docs_for_endpoint

[US_CA] Add `SUPVEVNTDATE` column back to config (Recidiviz/recidiviz-data#23280)
  recidiviz/ingest/direct/regions/us_ca/raw_data/us_ca_PersonParole.yaml
Due: generate_docs_for_region, generate_docs_for_endpoint

[US_ME] Add case notes to furlough and work-release opportunities (Recidiviz/recidiviz-data#23077)
  recidiviz/calculator/query/bq_utils.py
  recidiviz/calculator/query/state/views/workflows/firestore/us_me_furlough_release_form_record.py
  recidiviz/calculator/query/state/views/workflows/firestore/us_me_work_release_form_record.py
  recidiviz/task_eligibility/utils/almost_eligible_query_fragments.py
  recidiviz/task_eligibility/utils/us_me_query_fragments.py
Due: generate_docs_for_endpoint

[US_ME] Add completion event for furloughs (Recidiviz/recidiviz-data#23185)
  recidiviz/task_eligibility/completion_events/state_specific/us_me/__init__.py
  recidiviz/task_eligibility/completion_events/state_specific/us_me/release_to_furlough.py
  recidiviz/task_eligibility/eligibility_spans/us_me/furlough_release_form.py
  recidiviz/task_eligibility/task_completion_event_big_query_view_builder.py
  recidiviz/tests/task_eligibility/task_eligibility_spans_test.py
  recidiviz/view_registry/deployed_views.py
Due: generate_docs_for_endpoint

[US_MI] Do not group officers with unknown emails (Recidiviz/recidiviz-data#23281)
  recidiviz/ingest/direct/regions/us_mi/ingest_views/view_state_staff.py
Due: generate_docs_for_region, generate_docs_for_endpoint

New cohort method to calculate number of days at a status (Recidiviz/recidiviz-data#23125)
  recidiviz/tools/analyst/cohort_methods.py
Due: generate_docs_for_endpoint

Refactor CoreEntityFieldIndex to operate on types instead of instances (Recidiviz/recidiviz-data#23252)
  recidiviz/persistence/database/schema_entity_converter/base_schema_entity_converter.py
  recidiviz/persistence/entity/entity_utils.py
  recidiviz/persistence/entity_matching/entity_merger_utils.py
  recidiviz/persistence/entity_matching/legacy/state/state_entity_matcher.py
  recidiviz/persistence/entity_matching/legacy/state/state_matching_utils.py
  recidiviz/persistence/entity_matching/root_entity_update_merger.py
  recidiviz/pipelines/normalization/utils/normalized_entity_conversion_utils.py
Due: generate_docs_for_endpoint

[Admin Panel] fix issue with setting route placeholder when routes are null (Recidiviz/recidiviz-data#23283)
  .github/workflows/ci.yml
  frontends/admin-panel/package.json
  frontends/admin-panel/src/components/StateUserPermissions/CustomPermissionsPanel.tsx
  frontends/admin-panel/src/components/StateUserPermissions/StateUserPermissionsView.tsx
  frontends/admin-panel/src/components/StateUserPermissions/__tests__/CustomPermissionsPanel.test.ts
  frontends/admin-panel/src/types.ts
  frontends/admin-panel/yarn.lock
Due: none

[US_ME] Remove almost eligible feature for furloughs and work release (Recidiviz/recidiviz-data#23294)
  recidiviz/calculator/query/state/views/workflows/firestore/us_me_furlough_release_form_record.py
  recidiviz/calculator/query/state/views/workflows/firestore/us_me_work_release_form_record.py
Due: generate_docs_for_endpoint

Fixing operations refresh to not block on raw data import lock (Recidiviz/recidiviz-data#23288)
  recidiviz/ingest/direct/controllers/direct_ingest_region_lock_manager.py
  recidiviz/persistence/database/bq_refresh/cloud_sql_to_bq_lock_manager.py
  recidiviz/tests/persistence/database/bq_refresh/cloud_sql_to_bq_lock_manager_test.py
Due: generate_docs_for_endpoint

[Justice Counts] Migrate JC Database to our new GCP projects (Recidiviz/recidiviz-data#23214)
  recidiviz/justice_counts/control_panel/config.py
  recidiviz/justice_counts/control_panel/server.py
  recidiviz/persistence/database/constants.py
  recidiviz/persistence/database/sqlalchemy_engine_manager.py
  recidiviz/persistence/database/sqlalchemy_flask_utils.py
  recidiviz/tests/persistence/database/bq_refresh/federated_cloud_sql_table_big_query_view_collector_test.py
  recidiviz/tests/persistence/database/bq_refresh/federated_cloud_sql_to_bq_refresh_test.py
  recidiviz/tests/persistence/database/sqlalchemy_engine_manager_test.py
  recidiviz/tools/deploy/justice_counts/deploy_for_playtesting.sh
  recidiviz/tools/deploy/justice_counts/deploy_to_prod.sh
  recidiviz/tools/deploy/justice_counts/deploy_to_staging.sh
  recidiviz/tools/justice_counts/control_panel/initialize_development_environment.sh
  recidiviz/tools/migrations/migration_helpers.py
  recidiviz/tools/migrations/run_migrations_to_head.py
  recidiviz/tools/postgres/cloudsql_proxy_control.py
  recidiviz/utils/environment.py
Due: generate_docs_for_endpoint

Add # nosec to fix Bandit (Recidiviz/recidiviz-data#23301)
  recidiviz/persistence/database/constants.py
Due: generate_docs_for_endpoint

[US_MI] Disaggregate officers with missing emails in role periods view (Recidiviz/recidiviz-data#23287)
  recidiviz/ingest/direct/regions/us_mi/ingest_views/view_state_staff_role_period.py
Due: generate_docs_for_region, generate_docs_for_endpoint

[US_MI] Revise raw data config for COMS parole violation incidents table (Recidiviz/recidiviz-data#23296)
  recidiviz/ingest/direct/regions/us_mi/raw_data/us_mi_COMS_Parole_Violation_Violation_Incidents.yaml
Due: generate_docs_for_region, generate_docs_for_endpoint

[US_ME] Added primary_key_cols to YAML files (Recidiviz/recidiviz-data#23300)
  recidiviz/ingest/direct/regions/us_me/raw_data/us_me_CIS_2083_JOB_SYS.yaml
  recidiviz/ingest/direct/regions/us_me/raw_data/us_me_CIS_210_JOB_ASSIGN.yaml
  recidiviz/ingest/direct/regions/us_me/raw_data/us_me_CIS_300_Personal_Property.yaml
  recidiviz/ingest/direct/regions/us_me/raw_data/us_me_CIS_3030_PP_Item_Type.yaml
Due: generate_docs_for_region, generate_docs_for_endpoint

[StateStaff] Add new states_staff_with_names_view (Recidiviz/recidiviz-data#23308)
  recidiviz/calculator/query/state/views/reference/reference_views.py
  recidiviz/calculator/query/state/views/reference/state_staff_with_names.py
Due: generate_docs_for_endpoint

update UniqueConstraint check error message for clarity (Recidiviz/recidiviz-data#23245)
  recidiviz/persistence/entity/core_entity.py
  recidiviz/pipelines/ingest/state/run_validations.py
  recidiviz/tests/persistence/entity/core_entity_test.py
  recidiviz/tests/pipelines/ingest/state/run_validations_test.py
Due: generate_docs_for_endpoint

Create Postgres table for raw data upper bound dates (Recidiviz/recidiviz-data#23275)
  recidiviz/persistence/database/migrations/operations/versions/2023_08_16_1331_8c56cccfd7d3_add_direct_ingest_dataflow_raw_table_.py
  recidiviz/persistence/database/schema/operations/schema.py
  recidiviz/persistence/entity/operations/entities.py
  recidiviz/tests/persistence/database/schema_utils_test.py
  recidiviz/tests/tools/admin_panel/load_operations_db_fixtures_test.py
  recidiviz/tools/admin_panel/fixtures/operations_db/direct_ingest_dataflow_raw_table_upper_bounds.csv
Due: generate_docs_for_endpoint

[US_PA] Remove "vacant position" staff (Recidiviz/recidiviz-data#23177)
  recidiviz/ingest/direct/regions/us_pa/ingest_mappings/us_pa_supervision_staff_role_period.yaml
  recidiviz/ingest/direct/regions/us_pa/ingest_views/view_supervision_staff.py
  recidiviz/ingest/direct/regions/us_pa/ingest_views/view_supervision_staff_location_period.py
  recidiviz/ingest/direct/regions/us_pa/ingest_views/view_supervision_staff_role_period.py
Due: generate_docs_for_region, generate_docs_for_endpoint

Structured logging fix (Recidiviz/recidiviz-data#23331)
  recidiviz/utils/structured_logging.py
Due: generate_docs_for_endpoint

[Dataflow] `apache-beam` 2.49.0 followups (Recidiviz/recidiviz-data#23327)
  recidiviz/big_query/big_query_client.py
  recidiviz/pipelines/dataflow_flex_setup.py
Due: generate_docs_for_endpoint

Adds IX data to parole_board_hearing_sessions (Recidiviz/recidiviz-data#22947)
  recidiviz/calculator/query/state/views/sessions/parole_board_hearing_sessions.py
  recidiviz/calculator/query/state/views/sessions/sessions_views.py
  recidiviz/calculator/query/state/views/sessions/us_ix/us_ix_parole_board_hearing_sessions.py
  recidiviz/calculator/query/state/views/sessions/us_tn/us_tn_parole_board_hearing_sessions.py
Due: generate_docs_for_endpoint

[US_IX] Added hash for supervisor staff IDs (Recidiviz/recidiviz-data#23043)
  recidiviz/calculator/query/state/views/reference/us_ix_leadership_supervisors.py
Due: generate_docs_for_endpoint
