Repository Recidiviz/pulse-data: changes, and which pre-commit hooks are due for each by the changed paths.
All: generate_docs_for_region, generate_docs_for_endpoint, generate_entity_documentation

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.3.0
    hooks:
      - id: check-yaml
  - repo: https://github.com/psf/black
    rev: 20.8b1
    hooks:
      - id: black
        language_version: python3
  - repo: local
    hooks:
      - id: generate_docs_for_region
        name: generate_docs_for_region
        entry: pipenv run python -m recidiviz.tools.docs.region_documentation_generator
        language: system
        files: ^recidiviz/ingest/direct/regions/
        require_serial: true
      - id: generate_docs_for_endpoint
        name: generate_docs_for_endpoint
        entry: pipenv run python -m recidiviz.tools.docs.endpoint_documentation_generator
        language: system
        files: ^recidiviz/
        exclude: >
          (?x)(^recidiviz/tests/|^recidiviz/tools/|^recidiviz/ingest/direct/regions/)$
        require_serial: true
      - id: generate_entity_documentation
        name: generate_entity_documentation
        entry: pipenv run python -m recidiviz.tools.docs.entity_documentation_generator
        language: system
        files: >
           (?x)(^recidiviz/persistence/database/schema/state/schema.py|^recidiviz/persistence/database/schema/history_table_shared_columns_mixin.py)$
        require_serial: true

[US_CA] State Person (Recidiviz/recidiviz-data#19426)
  recidiviz/common/constants/state/external_id_types.py
  recidiviz/ingest/direct/regions/us_ca/ingest_mappings/us_ca_person.yaml
  recidiviz/ingest/direct/regions/us_ca/ingest_views/view_person.py
  recidiviz/ingest/direct/regions/us_ca/raw_data/us_ca_AgentParole.yaml
  recidiviz/ingest/direct/regions/us_ca/raw_data/us_ca_CDCNOParole.yaml
  recidiviz/ingest/direct/regions/us_ca/raw_data/us_ca_PersonParole.yaml
  recidiviz/ingest/direct/regions/us_ca/us_ca_controller.py
  recidiviz/tests/ingest/direct/regions/ingest_view_query_test_case.py
  recidiviz/tests/ingest/direct/regions/region_direct_ingest_controller_test_case.py
  recidiviz/tools/ingest/testing/raw_data_fixtures_generator.py
Due: generate_docs_for_region, generate_docs_for_endpoint

[US_PA] Hydrate state_staff_location_period (Recidiviz/recidiviz-data#19397)
  recidiviz/ingest/direct/regions/us_pa/ingest_mappings/us_pa_supervision_staff_location_period.yaml
  recidiviz/ingest/direct/regions/us_pa/ingest_views/view_supervision_staff_location_period.py
  recidiviz/ingest/direct/regions/us_pa/us_pa_controller.py
  recidiviz/persistence/database/schema/state/schema.py
  recidiviz/persistence/entity/state/entities.py
Due: generate_docs_for_region, generate_docs_for_endpoint, generate_entity_documentation

Fix `populate_is_deleted_column_in_raw_data_tables` to add `is_deleted` to tmp schema (Recidiviz/recidiviz-data#19521)
  recidiviz/tools/ingest/one_offs/populate_is_deleted_column_in_raw_data_tables.py
Due: generate_docs_for_endpoint

add -flex suffix to dataflow job name for clarity during migration (Recidiviz/recidiviz-data#19520)
  recidiviz/airflow/dags/utils/pipeline_parameters.py
Due: generate_docs_for_endpoint

[Workflows] add resident_record_archive view and use it in user_event_template (Recidiviz/recidiviz-data#19515)
  recidiviz/calculator/query/state/views/workflows/resident_record_archive.py
  recidiviz/calculator/query/state/views/workflows/user_event_template.py
  recidiviz/calculator/query/state/views/workflows/workflows_views.py
Due: generate_docs_for_endpoint

[US_ME] [Workflows] Restitution data to BQ (Recidiviz/recidiviz-data#19510)
  recidiviz/ingest/direct/regions/us_me/raw_data/us_me_CIS_5001_FIN_SYSTEM.yaml
  recidiviz/ingest/direct/regions/us_me/raw_data/us_me_CIS_571_REST_CASE_STATUS.yaml
  recidiviz/ingest/direct/regions/us_me/raw_data/us_me_CIS_573_CLIENT_CASE_DETAIL.yaml
  recidiviz/ingest/direct/regions/us_me/raw_data/us_me_CIS_574_CLIENT_CASE_STATUS.yaml
  recidiviz/ingest/direct/regions/us_me/raw_data/us_me_CIS_580_REST_TRANSACTION.yaml
Due: generate_docs_for_region, generate_docs_for_endpoint

[US_IX] Add enum value for supervision period admission reason (Recidiviz/recidiviz-data#19509)
  recidiviz/ingest/direct/regions/us_ix/ingest_mappings/us_ix_supervision_period.yaml
Due: generate_docs_for_region, generate_docs_for_endpoint

Adds MiscAggregatedMetric and configured metrics (Recidiviz/recidiviz-data#19320)
  recidiviz/aggregated_metrics/aggregated_metric_view_collector.py
  recidiviz/aggregated_metrics/aggregated_metrics.py
  recidiviz/aggregated_metrics/misc_aggregated_metrics.py
  recidiviz/aggregated_metrics/models/aggregated_metric.py
  recidiviz/aggregated_metrics/models/aggregated_metric_configurations.py
  recidiviz/tools/looker/aggregated_metrics/aggregated_metrics_lookml_generator.py
Due: generate_docs_for_endpoint

remove calculation pipeline deploy from deploy script 🎉 [a] (Recidiviz/recidiviz-data#19431)
  recidiviz/tools/deploy/deploy_helpers.sh
Due: generate_docs_for_endpoint

add retries to update_normalized_state (Recidiviz/recidiviz-data#19525)
  recidiviz/airflow/dags/calculation_dag.py
Due: generate_docs_for_endpoint

[Workflows] Add workflows_usage view to workflows_views (Recidiviz/recidiviz-data#19362)
  recidiviz/calculator/query/state/views/reference/reference_views.py
  recidiviz/calculator/query/state/views/reference/workflows_opportunity_configs.py
  recidiviz/calculator/query/state/views/workflows/workflows_usage.py
  recidiviz/calculator/query/state/views/workflows/workflows_views.py
  recidiviz/tests/big_query/big_query_view_dag_walker_test.py
Due: generate_docs_for_endpoint

[Docker] Update Kaniko Build to Skip Unused Stages (Recidiviz/recidiviz-data#19526)
  recidiviz/tools/deploy/terraform/build-trigger.tf
Due: generate_docs_for_endpoint

[Docs] Remove 'Last updated' columns from raw data docs (Recidiviz/recidiviz-data#19541)
  recidiviz/ingest/direct/direct_ingest_documentation_generator.py
  recidiviz/tests/ingest/direct/direct_ingest_documentation_generator_test.py
Due: generate_docs_for_endpoint

Fix bug and refactor `supervision_level_raw_text_sessions` (Recidiviz/recidiviz-data#19523)
  recidiviz/calculator/query/state/views/sessions/supervision_level_raw_text_sessions.py
Due: generate_docs_for_endpoint

Fixing SFTP queue pause logic handling for secondary queues (Recidiviz/recidiviz-data#19549)
  recidiviz/airflow/dags/sftp_dag.py
Due: generate_docs_for_endpoint

increase pip install timeout to 150s (Recidiviz/recidiviz-data#19556)
  recidiviz/calculator/pipeline/Dockerfile.pipelines
Due: generate_docs_for_endpoint

[Justice Counts] add warning if disaggregation column does not sum to total (Recidiviz/recidiviz-data#19289)
  recidiviz/justice_counts/bulk_upload/spreadsheet_uploader.py
  recidiviz/justice_counts/bulk_upload/time_range_uploader.py
  recidiviz/justice_counts/bulk_upload/workbook_uploader.py
  recidiviz/tests/justice_counts/bulk_upload/bulk_upload_test.py
Due: generate_docs_for_endpoint

Removing the view rematerialization branch in favor of view update (Recidiviz/recidiviz-data#19557)
  recidiviz/airflow/dags/calculation_dag.py
  recidiviz/airflow/tests/calculation_dag_test.py
Due: generate_docs_for_endpoint

[US_TN] Bumping threshold for known issue with edge cases (Recidiviz/recidiviz-data#19568)
  recidiviz/validation/config/regions/us_tn/us_tn_validation_config.yaml
Due: generate_docs_for_endpoint

[Workflows] Add first WF event date to workflows_usage (Recidiviz/recidiviz-data#19560)
  recidiviz/calculator/query/state/views/workflows/workflows_usage.py
Due: generate_docs_for_endpoint

Updating the BQ refresh completion node to a failure-sensitive operator (Recidiviz/recidiviz-data#19559)
  recidiviz/airflow/dags/calculation_dag.py
  recidiviz/airflow/tests/calculation_dag_test.py
Due: generate_docs_for_endpoint

[Security] Require TLS 1.2 for all production traffic (Recidiviz/recidiviz-data#19305)
  recidiviz/tools/deploy/terraform/cloud-run.tf
  recidiviz/tools/deploy/terraform/loadbalancer.tf
Due: generate_docs_for_endpoint

[Workflows] Add clients_ view for new form_edited event and to workflows_officer_events (Recidiviz/recidiviz-data#19569)
  recidiviz/calculator/query/state/views/analyst_data/workflows_officer_events.py
  recidiviz/calculator/query/state/views/workflows/clients_referral_form_edited.py
  recidiviz/calculator/query/state/views/workflows/workflows_views.py
Due: generate_docs_for_endpoint

[US_MI] Use regions for level 2 counties and drop regions (Recidiviz/recidiviz-data#19572)
  recidiviz/calculator/query/state/views/reference/supervision_location_ids_to_names.py
Due: generate_docs_for_endpoint

Add MO config and TN experiment_id (Recidiviz/recidiviz-data#19573)
  recidiviz/calculator/query/state/views/reference/workflows_opportunity_configs.py
Due: generate_docs_for_endpoint

[Ingest] Add ability to query all raw data rows in an ingest view (Recidiviz/recidiviz-data#19291)
  recidiviz/ingest/direct/regions/us_oz/ingest_mappings/us_oz_ageid_staff_supervisor.yaml
  recidiviz/ingest/direct/regions/us_oz/ingest_views/view_ageid_staff_supervisor.py
  recidiviz/ingest/direct/regions/us_oz/raw_data/us_oz_ageid_StaffRecord.yaml
  recidiviz/ingest/direct/regions/us_oz/us_oz_controller.py
  recidiviz/ingest/direct/views/direct_ingest_view_query_builder.py
  recidiviz/tests/ingest/direct/fixture_util.py
  recidiviz/tests/ingest/direct/regions/ingest_view_query_test_case.py
  recidiviz/tests/ingest/direct/regions/utils.py
  recidiviz/tests/ingest/direct/views/direct_ingest_view_query_builder_test.py
  recidiviz/tests/tools/ingest/testing/raw_data_fixtures_generator_test.py
  recidiviz/tools/ingest/testing/generate_raw_data_fixtures_from_bq.py
  recidiviz/tools/ingest/testing/raw_data_fixtures_generator.py
  recidiviz/tools/ingest/testing/regenerate_raw_data_fixtures_from_sheet.py
Due: generate_docs_for_region, generate_docs_for_endpoint

Extending the lock timeout for export to one hour and five minutes (Recidiviz/recidiviz-data#19580)
  recidiviz/persistence/database/bq_refresh/cloud_sql_to_bq_lock_manager.py
Due: generate_docs_for_endpoint

[Bugfix] Fix issues with empty dataset deletion (Recidiviz/recidiviz-data#19578)
  recidiviz/big_query/big_query_client.py
  recidiviz/calculator/calculation_data_storage_manager.py
  recidiviz/tests/calculator/calculation_data_storage_manager_test.py
Due: generate_docs_for_endpoint

[US_TN] Adding documentation to Hearing raw data known values (Recidiviz/recidiviz-data#19576)
  recidiviz/ingest/direct/regions/us_tn/raw_data/us_tn_Hearing.yaml
Due: generate_docs_for_region, generate_docs_for_endpoint

[BigQuery] Enforce length limits on deployed view/table descriptions (Recidiviz/recidiviz-data#19565)
  recidiviz/big_query/big_query_client.py
  recidiviz/big_query/big_query_view.py
  recidiviz/big_query/selected_columns_big_query_view.py
  recidiviz/big_query/union_all_big_query_view_builder.py
  recidiviz/big_query/with_metadata_query_big_query_view.py
  recidiviz/ingest/direct/views/direct_ingest_latest_view_collector.py
  recidiviz/metrics/metric_big_query_view.py
  recidiviz/persistence/database/bq_refresh/federated_cloud_sql_table_big_query_view.py
  recidiviz/persistence/database/bq_refresh/federated_cloud_sql_to_bq_refresh.py
  recidiviz/tests/big_query/big_query_client_test.py
  recidiviz/tests/big_query/big_query_view_test.py
  recidiviz/tests/big_query/test_views/good_view_1.py
  recidiviz/tests/big_query/test_views/view_builder_alternate_name.py
  recidiviz/tests/big_query/test_views/views_subdirectory/good_view_3.py
  recidiviz/tests/big_query/view_update_manager_test.py
  recidiviz/tests/big_query/view_update_manager_utils_test.py
  recidiviz/tests/persistence/database/bq_refresh/federated_cloud_sql_table_big_query_view_test.py
  recidiviz/tests/view_registry/deployed_views_test.py
  recidiviz/tools/copy_bq_views.py
Due: generate_docs_for_endpoint

Unrevert Recidiviz/recidiviz-data#19351 using `bq_description` (Recidiviz/recidiviz-data#19590)
  recidiviz/aggregated_metrics/aggregated_metrics.py
  recidiviz/aggregated_metrics/models/aggregated_metric.py
Due: generate_docs_for_endpoint

[US_MI] Fix offender_number joining for assessments (Recidiviz/recidiviz-data#19563)
  recidiviz/ingest/direct/regions/us_mi/ingest_views/view_assessments_v2.py
Due: generate_docs_for_region, generate_docs_for_endpoint

[US_ND] Add ingest view test for `elite_externalmovements_incarceration_periods` (Recidiviz/recidiviz-data#19592)
  recidiviz/ingest/direct/regions/us_nd/ingest_views/view_elite_externalmovements_incarceration_periods.py
Due: generate_docs_for_region, generate_docs_for_endpoint

[Autogenerated] Update Pipfile.lock (Recidiviz/recidiviz-data#19588)
  Pipfile.lock
  recidiviz/calculator/pipeline/dataflow_flex_setup.py
Due: generate_docs_for_endpoint

[US_ND] Hydrate client email in StatePerson (Recidiviz/recidiviz-data#19591)
  recidiviz/ingest/direct/regions/us_nd/ingest_mappings/us_nd_docstars_offenders.yaml
  recidiviz/ingest/direct/regions/us_nd/ingest_views/view_docstars_offenders.py
  recidiviz/ingest/direct/regions/us_nd/raw_data/us_nd_docstars_offenders.yaml
Due: generate_docs_for_region, generate_docs_for_endpoint

[US_ND] Remove PII from fixture files and tests (Recidiviz/recidiviz-data#19524)
  recidiviz/ingest/direct/regions/us_nd/raw_data/us_nd_docstars_contacts.yaml
  recidiviz/ingest/direct/regions/us_nd/raw_data/us_nd_docstars_offendercasestable.yaml
  recidiviz/ingest/direct/regions/us_nd/raw_data/us_nd_docstars_officers.yaml
Due: generate_docs_for_region, generate_docs_for_endpoint

[SFTP] Fix some branching logic (Recidiviz/recidiviz-data#19620)
  recidiviz/airflow/dags/sftp_dag.py
  recidiviz/tools/airflow/copy_source_files_to_experiment_composer.py
Due: generate_docs_for_endpoint

Upgrade google-cloud-storage to >2.0.0 (Recidiviz/recidiviz-data#19601)
  Pipfile
  Pipfile.lock
Due: none

[Justice Counts] Bulk Publishing: create new endpoint to update multiple reports' statuses (Recidiviz/recidiviz-data#19480)
  recidiviz/justice_counts/control_panel/routes/api.py
  recidiviz/justice_counts/report.py
  recidiviz/tests/justice_counts/control_panel/server_test.py
  recidiviz/tests/justice_counts/utils.py
Due: generate_docs_for_endpoint

Add `internal_role` to `dashboard_user_restrictions` endpoint (Recidiviz/recidiviz-data#19623)
  recidiviz/auth/auth0_client.py
  recidiviz/auth/auth_endpoint.py
  recidiviz/tests/auth/auth0_client_test.py
  recidiviz/tests/auth/auth_endpoint_test.py
  recidiviz/tests/auth/helpers.py
Due: generate_docs_for_endpoint
