Repository Recidiviz/pulse-data: changes, and which pre-commit hooks are due for each by the changed paths.
All: generate_docs_for_region, generate_docs_for_endpoint, generate_entity_documentation

generate_docs_for_region:
  name: generate_docs_for_region
  entry: pipenv run python -m recidiviz.tools.docs.region_documentation_generator
  language: system
  require_serial: true

generate_docs_for_endpoint:
  name: generate_docs_for_endpoint
  entry: pipenv run python -m recidiviz.tools.docs.endpoint_documentation_generator
  language: system
  require_serial: true

generate_entity_documentation:
  name: generate_entity_documentation
  entry: pipenv run python -m recidiviz.tools.docs.entity_documentation_generator
  language: system
  require_serial: true

dont throw when duplicates found (Recidiviz/recidiviz-data#2120)
  recidiviz/persistence/entity_matching/entity_matching_utils.py
  recidiviz/tests/persistence/entity_matching/entity_matching_utils_test.py
Due: generate_docs_for_endpoint

dedup incarcerationIncidents w same external id in py -> proto converter (Recidiviz/recidiviz-data#2139)
  recidiviz/ingest/scrape/ingest_utils.py
  recidiviz/tests/ingest/scrape/ingest_utils_test.py
Due: generate_docs_for_endpoint

allow for multiple races/ethnicities/aliases (Recidiviz/recidiviz-data#2137)
  recidiviz/persistence/entity_matching/state/state_matching_utils.py
  recidiviz/tests/persistence/entity_matching/state/state_entity_matcher_test.py
  recidiviz/tests/persistence/entity_matching/state/state_matching_utils_test.py
Due: generate_docs_for_endpoint

Adds PRESENT_WITHOUT_INFO handling to two StateCourtCase enum types [skip validation]. (Recidiviz/recidiviz-data#2138)
  recidiviz/common/constants/state/state_court_case.py
  recidiviz/persistence/database/schema/state/schema.py
  recidiviz/persistence/ingest_info_converter/state/entity_helpers/state_court_case.py
  recidiviz/tests/persistence/ingest_info_converter/state/entity_helpers/state_court_case_test.py
  recidiviz/tests/persistence/ingest_info_converter/state/state_converter_test.py
Due: generate_docs_for_endpoint, generate_entity_documentation

Fix court case judge bug (Recidiviz/recidiviz-data#2142)
  recidiviz/ingest/scrape/ingest_utils.py
  recidiviz/tests/ingest/scrape/ingest_utils_test.py
Due: generate_docs_for_endpoint

Allows db entity to match multiple placeholder entities (Recidiviz/recidiviz-data#2145)
  recidiviz/persistence/entity_matching/state/state_entity_matcher.py
  recidiviz/tests/persistence/entity_matching/state/state_entity_matcher_test.py
Due: generate_docs_for_endpoint

fix create_scraper (Recidiviz/recidiviz-data#2146)
  recidiviz/tools/create_scraper.py
Due: generate_docs_for_endpoint

Small fixes so out of order file processing during integration tests doesn't crash (Recidiviz/recidiviz-data#2154)
  recidiviz/persistence/entity_matching/state/state_matching_utils.py
  recidiviz/tests/persistence/entity_matching/state/state_matching_utils_test.py
Due: generate_docs_for_endpoint

Adds stray fixes for parsing the ND dataset. (Recidiviz/recidiviz-data#2161)
  recidiviz/ingest/direct/regions/us_nd/us_nd_controller.py
Due: generate_docs_for_region, generate_docs_for_endpoint

integration testing for US_ND controller (Recidiviz/recidiviz-data#2159)
  recidiviz/tests/ingest/direct/regions/us_nd/fixtures/elite_offense_in_custody_and_pos_report_data.csv
  recidiviz/tests/ingest/direct/regions/us_nd/us_nd_controller_test.py
Due: generate_docs_for_endpoint

Calculating revocation by violation type (Recidiviz/recidiviz-data#2151)
  recidiviz/calculator/recidivism/calculator.py
  recidiviz/tests/calculator/recidivism/calculator_test.py
  recidiviz/tests/calculator/recidivism/pipeline_test.py
Due: generate_docs_for_endpoint

Handle errors on a root entity level during entity matching (instead of always at a StatePerson level) (Recidiviz/recidiviz-data#2162)
  recidiviz/persistence/entity/entity_utils.py
  recidiviz/persistence/entity_matching/base_entity_matcher.py
  recidiviz/persistence/entity_matching/entity_matching.py
  recidiviz/persistence/entity_matching/entity_matching_utils.py
  recidiviz/persistence/entity_matching/state/state_entity_matcher.py
  recidiviz/persistence/entity_matching/state/state_matching_utils.py
  recidiviz/persistence/persistence.py
  recidiviz/tests/persistence/database/schema_entity_converter/state/schema_entity_converter_test.py
  recidiviz/tests/persistence/entity/entity_utils_test.py
  recidiviz/tests/persistence/entity_matching/state/state_entity_matcher_test.py
  recidiviz/tests/persistence/entity_matching/state/state_matching_utils_test.py
  recidiviz/tests/persistence/state_persistence_test.py
Due: generate_docs_for_endpoint

Add id_type to state_person_external_id.external_id when converting to/from ingest_info proto (Recidiviz/recidiviz-data#2164)
  recidiviz/common/common_utils.py
  recidiviz/ingest/scrape/ingest_utils.py
  recidiviz/persistence/ingest_info_converter/state/entity_helpers/state_person_external_id.py
  recidiviz/tests/common/common_utils_test.py
  recidiviz/tests/ingest/direct/regions/us_nd/fixtures/elite_offender_identifiers.csv
  recidiviz/tests/ingest/direct/regions/us_nd/us_nd_controller_test.py
  recidiviz/tests/ingest/scrape/ingest_utils_test.py
  recidiviz/tests/persistence/ingest_info_converter/state/entity_helpers/state_person_external_id_test.py
  recidiviz/tests/persistence/ingest_info_converter/state/state_converter_test.py
Due: generate_docs_for_endpoint

small ingest fixes
  recidiviz/ingest/direct/regions/us_nd/us_nd_controller.py
Due: generate_docs_for_region, generate_docs_for_endpoint

Revert "small ingest fixes"
  recidiviz/ingest/direct/regions/us_nd/us_nd_controller.py
Due: generate_docs_for_region, generate_docs_for_endpoint

Small fixes to ND controller processing of SupervisionViolation and SupervisionViolationResponses
  recidiviz/ingest/direct/regions/us_nd/us_nd_controller.py
Due: generate_docs_for_region, generate_docs_for_endpoint

Associate revocation SupervisionViolationResponses to their corresponding IncarcerationPeriods (Recidiviz/recidiviz-data#2166)
  recidiviz/persistence/entity_matching/state/state_entity_matcher.py
  recidiviz/persistence/entity_matching/state/state_matching_utils.py
  recidiviz/tests/ingest/direct/regions/us_nd/us_nd_controller_test.py
  recidiviz/tests/persistence/entity_matching/state/state_entity_matcher_test.py
  recidiviz/tests/persistence/entity_matching/state/state_matching_utils_test.py
Due: generate_docs_for_endpoint

tn aggregate ingest, handle new facility (Recidiviz/recidiviz-data#2147)
  recidiviz/ingest/aggregate/regions/tn/tn_aggregate_ingest.py
Due: generate_docs_for_endpoint

fix get_ingestor_name titlecase (Recidiviz/recidiviz-data#2148)
  recidiviz/utils/regions.py
Due: generate_docs_for_endpoint

don't promote locally deployed versions (Recidiviz/recidiviz-data#2160)
  deploy_local_to_staging.sh
Due: none

Placeholder logic added to calculations (Recidiviz/recidiviz-data#2176)
  recidiviz/calculator/recidivism/identifier.py
  recidiviz/persistence/entity/entity_utils.py
  recidiviz/persistence/entity_matching/state/state_entity_matcher.py
  recidiviz/persistence/entity_matching/state/state_matching_utils.py
  recidiviz/tests/calculator/recidivism/identifier_test.py
  recidiviz/tests/persistence/entity/entity_utils_test.py
  recidiviz/tests/persistence/entity_matching/state/state_matching_utils_test.py
Due: generate_docs_for_endpoint

Mapping NPRB and NPROB to the correct enum (Recidiviz/recidiviz-data#2182)
  recidiviz/ingest/direct/regions/us_nd/us_nd_controller.py
Due: generate_docs_for_region, generate_docs_for_endpoint

Applies further North Dakota ingest fixes after a complete historical end-to-end run. (Recidiviz/recidiviz-data#2180)
  recidiviz/common/constants/state/state_supervision_violation.py
  recidiviz/common/constants/state/state_supervision_violation_response.py
  recidiviz/common/date.py
  recidiviz/common/str_field_utils.py
  recidiviz/ingest/direct/regions/us_nd/us_nd_controller.py
  recidiviz/ingest/direct/regions/us_nd/us_nd_docstars_cases.yaml
  recidiviz/tests/common/date_test.py
  recidiviz/tests/common/str_field_utils_test.py
  recidiviz/tests/ingest/direct/regions/us_nd/fixtures/docstars_cases.csv
  recidiviz/tests/ingest/direct/regions/us_nd/us_nd_controller_test.py
Due: generate_docs_for_region, generate_docs_for_endpoint

Async Direct Ingest in Cloud Tasks with file ordering - partial support (Recidiviz/recidiviz-data#2136)
  cron.yaml
  recidiviz/cloud_functions/cloud_functions.py
  recidiviz/cloud_functions/main.py
  recidiviz/common/cloud_task_factory.py
  recidiviz/common/queues.py
  recidiviz/common/serialization.py
  recidiviz/ingest/direct/controllers/base_direct_ingest_controller.py
  recidiviz/ingest/direct/controllers/direct_ingest_types.py
  recidiviz/ingest/direct/controllers/gcsfs_direct_ingest_controller.py
  recidiviz/ingest/direct/controllers/gcsfs_factory.py
  recidiviz/ingest/direct/direct_ingest_control.py
  recidiviz/ingest/direct/regions/us_ma_middlesex/manifest.yaml
  recidiviz/ingest/direct/regions/us_ma_middlesex/us_ma_middlesex_controller.py
  recidiviz/ingest/direct/regions/us_nd/manifest.yaml
  recidiviz/ingest/direct/regions/us_nd/us_nd_controller.py
  recidiviz/ingest/direct/regions/us_tx_brazos/manifest.yaml
  recidiviz/ingest/direct/regions/us_tx_brazos/us_tx_brazos_controller.py
  recidiviz/ingest/scrape/ingest_utils.py
  recidiviz/tests/ingest/direct/controllers/gcsfs_direct_ingest_controller_test.py
  recidiviz/tests/ingest/direct/direct_control_test.py
  recidiviz/tests/ingest/direct/regions/direct_ingest_util.py
  recidiviz/tests/ingest/direct/regions/us_ma_middlesex/us_ma_middlesex_direct_ingest_test.py
  recidiviz/tests/ingest/direct/regions/us_nd/us_nd_controller_test.py
  recidiviz/tests/ingest/direct/regions/us_tx_brazos/fixtures/daily_data.csv
  recidiviz/tests/ingest/direct/regions/us_tx_brazos/us_tx_brazos_controller_test.py
  recidiviz/tests/ingest/scrape/scraper_control_test.py
  recidiviz/tests/utils/regions_test.py
  recidiviz/tools/build_queue_config.py
  recidiviz/utils/regions.py
Due: generate_docs_for_region, generate_docs_for_endpoint

add state-data cloudsql instance to prod.yaml (Recidiviz/recidiviz-data#2185)
  prod.yaml
Due: none

Make the brazos region a module. (Recidiviz/recidiviz-data#2187)
  recidiviz/ingest/direct/regions/us_tx_brazos/__init__.py
  recidiviz/ingest/direct/regions/us_tx_brazos/us_tx_brazos_controller.py
  recidiviz/tests/ingest/direct/regions/us_tx_brazos/us_tx_brazos_controller_test.py
Due: generate_docs_for_region, generate_docs_for_endpoint

promote middlesex (Recidiviz/recidiviz-data#2195)
  recidiviz/ingest/direct/regions/us_ma_middlesex/manifest.yaml
Due: generate_docs_for_region, generate_docs_for_endpoint

Adds scraper for us_co_adams, fixing &nbsp; support in the html extractor. (Recidiviz/recidiviz-data#1991)
  recidiviz/ingest/extractor/html_data_extractor.py
  recidiviz/ingest/scrape/base_scraper.py
Due: generate_docs_for_endpoint

small fixes for gcsfs controller (Recidiviz/recidiviz-data#2194)
  recidiviz/common/queues.py
  recidiviz/ingest/direct/controllers/gcsfs_direct_ingest_controller.py
  recidiviz/ingest/direct/direct_ingest_control.py
  recidiviz/tests/common/queues_test.py
Due: generate_docs_for_endpoint

BQ export from CloudSQL for state schema (Recidiviz/recidiviz-data#2193)
  cron.yaml
  recidiviz/calculator/bq/bq_load.py
  recidiviz/calculator/bq/cloudsql_export.py
  recidiviz/calculator/bq/dashboard/views/admissions/admissions_by_type_60_days.py
  recidiviz/calculator/bq/dashboard/views/admissions/admissions_by_type_by_month.py
  recidiviz/calculator/bq/dashboard/views/admissions/admissions_versus_releases_by_month.py
  recidiviz/calculator/bq/dashboard/views/reference/incarceration_admissions_60_days.py
  recidiviz/calculator/bq/dashboard/views/revocations/revocations_by_month.py
  recidiviz/calculator/bq/dashboard/views/revocations/revocations_by_race_60_days.py
  recidiviz/calculator/bq/dashboard/views/revocations/revocations_by_supervision_type_by_month.py
  recidiviz/calculator/bq/dashboard/views/revocations/revocations_by_violation_type_by_month.py
  recidiviz/calculator/bq/dashboard/views/view_config.py
  recidiviz/calculator/bq/export_config.py
  recidiviz/calculator/bq/export_manager.py
  recidiviz/calculator/bq/views/bonds/bond_amounts_all_bookings.py
  recidiviz/calculator/bq/views/bonds/bond_amounts_unknown_denied.py
  recidiviz/calculator/bq/views/charges/charge_severity_all_bookings.py
  recidiviz/calculator/bq/views/charges/charge_severity_counts_all_bookings.py
  recidiviz/calculator/bq/views/charges/charge_text_counts.py
  recidiviz/calculator/bq/views/charges/charges_and_severity.py
  recidiviz/calculator/bq/views/population/population_admissions_releases_race_gender.py
  recidiviz/calculator/bq/views/state_aggregates/combined_state_aggregate.py
  recidiviz/common/queues.py
  recidiviz/persistence/database/schema_utils.py
  recidiviz/tests/calculator/bq/bq_load_test.py
  recidiviz/tests/calculator/bq/cloudsql_export_test.py
  recidiviz/tests/calculator/bq/export_config_test.py
  recidiviz/tests/calculator/bq/export_manager_test.py
  recidiviz/tests/common/queues_test.py
Due: generate_docs_for_endpoint

Us or deschutes (Recidiviz/recidiviz-data#2207)
  recidiviz/common/constants/bond.py
  recidiviz/common/constants/charge.py
Due: generate_docs_for_endpoint

Us sc sumter (Recidiviz/recidiviz-data#2210)
  recidiviz/common/constants/bond.py
Due: generate_docs_for_endpoint

continue instead of return (Recidiviz/recidiviz-data#2209)
  recidiviz/persistence/entity_matching/state/state_matching_utils.py
  recidiviz/tests/persistence/entity_matching/state/state_matching_utils_test.py
Due: generate_docs_for_endpoint

Us sc florence (Recidiviz/recidiviz-data#2214)
  recidiviz/common/constants/bond.py
Due: generate_docs_for_endpoint

UsOrWasco (NORCOR: Wasco, Hood River, Sherman, Gilliam) (Recidiviz/recidiviz-data#2215)
  recidiviz/tests/ingest/fixtures.py
Due: generate_docs_for_endpoint

Adding state code to all metrics (Recidiviz/recidiviz-data#2213)
  recidiviz/calculator/recidivism/calculator.py
  recidiviz/calculator/recidivism/identifier.py
  recidiviz/calculator/recidivism/metrics.py
  recidiviz/calculator/recidivism/release_event.py
  recidiviz/tests/calculator/recidivism/calculator_test.py
  recidiviz/tests/calculator/recidivism/identifier_test.py
  recidiviz/tests/calculator/recidivism/pipeline_test.py
  recidiviz/tests/calculator/recidivism/release_event_test.py
Due: generate_docs_for_endpoint

Cleans up most of the outstanding enum value TODOs for North Dakota [skip validation]. (Recidiviz/recidiviz-data#2201)
  recidiviz/common/constants/state/enum_canonical_strings.py
  recidiviz/common/constants/state/state_incarceration.py
  recidiviz/common/constants/state/state_incarceration_period.py
  recidiviz/common/constants/state/state_supervision.py
  recidiviz/common/constants/state/state_supervision_period.py
  recidiviz/ingest/direct/regions/us_nd/us_nd_controller.py
  recidiviz/ingest/direct/regions/us_nd/us_nd_docstars_offenders.yaml
  recidiviz/ingest/direct/regions/us_nd/us_nd_elite_offense_in_custody_and_pos_report_data.yaml
  recidiviz/persistence/database/schema/state/schema.py
  recidiviz/persistence/entity/entity_utils.py
  recidiviz/persistence/ingest_info_converter/state/entity_helpers/state_incarceration_period.py
  recidiviz/persistence/ingest_info_converter/state/entity_helpers/state_incarceration_sentence.py
  recidiviz/tests/ingest/direct/regions/us_nd/us_nd_controller_test.py
  recidiviz/tests/persistence/entity/entity_utils_test.py
  recidiviz/tests/persistence/ingest_info_converter/state/state_converter_test.py
Due: generate_docs_for_region, generate_docs_for_endpoint, generate_entity_documentation

UsOrJackson (Recidiviz/recidiviz-data#2242)
  recidiviz/ingest/extractor/html_data_extractor.py
Due: generate_docs_for_endpoint

promotions (Recidiviz/recidiviz-data#2186)
  recidiviz/ingest/scrape/worker.py
Due: generate_docs_for_endpoint

Path conditions:
  generate_docs_for_region: any of: ^recidiviz/ingest/direct/regions/
  generate_docs_for_endpoint: any of: ^recidiviz/, but not: (?x)(^recidiviz/tests/|^recidiviz/tools/|^recidiviz/ingest/direct/regions/)$

  generate_entity_documentation: any of: (?x)(^recidiviz/persistence/database/schema/state/schema.py|^recidiviz/persistence/database/schema/history_table_shared_columns_mixin.py)$

