Repository Recidiviz/pulse-data: changes, and which pre-commit hooks are due for each by the changed paths.
All: clear_notebook_files, validate_scripts_and_notebooks_are_changed_together, generate_docs_for_region, generate_docs_for_endpoint, generate_entity_documentation, generate_calc_documentation, generate_ingest_mappings_schema_documentation, update_terraform_lock_file, terraform_fmt, alphabetize_yaml, generate_lookml

clear_notebook_files:
  name: Clear Output of Jupyter Notebook
  description: Clears output of Jupyter Notebooks
  stages:
  - pre-commit
  language: system
  entry: jupyter nbconvert --ClearOutputPreprocessor.enabled=True --inplace

validate_scripts_and_notebooks_are_changed_together:
  name: validate_scripts_and_notebooks_are_changed_together
  entry: pipenv run python -m recidiviz.research.validate_script_changes_pre_commit
  language: system
  require_serial: true

generate_docs_for_region:
  name: generate_docs_for_region
  entry: pipenv run python -m recidiviz.tools.docs.region_documentation_generator
  language: system
  require_serial: true

generate_docs_for_endpoint:
  name: generate_docs_for_endpoint
  entry: pipenv run python -m recidiviz.tools.docs.endpoint_documentation_generator
  language: system
  require_serial: true

generate_entity_documentation:
  name: generate_entity_documentation
  entry: pipenv run python -m recidiviz.tools.docs.entity_documentation_generator
  language: system
  require_serial: true

generate_calc_documentation:
  name: generate_calc_documentation
  entry: pipenv run python -m recidiviz.calculator.calculation_documentation_generator
  language: system
  require_serial: true

generate_ingest_mappings_schema_documentation:
  name: generate_ingest_mappings_schema_documentation
  entry: pipenv run python -m recidiviz.tools.docs.ingest_mappings_schema_documentation_generator
  language: system
  require_serial: true

update_terraform_lock_file:
  name: update_terraform_lock_file
  entry: recidiviz/tools/deploy/update_terraform_lock.sh
  language: script
  require_serial: true

terraform_fmt:
  name: terraform_fmt
  entry: recidiviz/tools/deploy/format_terraform.sh
  language: script

alphabetize_yaml:
  name: alphabetize_yaml
  entry: pipenv run python -m recidiviz.tools.alphabetize_raw_data_reference_reasons
  language: system

generate_lookml:
  name: generate_lookml
  entry: pipenv run python -m recidiviz.tools.looker.generate_all_lookml
  language: system
  pass_filenames: false

Upgrade to `pandas` 2.x (Recidiviz/recidiviz-data#51864)
  Pipfile
  Pipfile.lock
  recidiviz/entrypoints/sentencing/write_case_insights_data_to_bq.py
  recidiviz/justice_counts/bulk_upload/workbook_standardizer.py
  recidiviz/tests/big_query/big_query_emulator_test.py
  recidiviz/tests/calculator/modeling/population_projection/population_simulation/population_simulation_test.py
  recidiviz/tests/ingest/direct/raw_data/validations/stable_historical_raw_data_counts_validation_test.py
  recidiviz/tests/tools/ingest/operations/helpers/raw_table_data_diff_query_generator_test.py
  recidiviz/tests/tools/ingest/operations/helpers/raw_table_file_counts_diff_query_generator_test.py
  recidiviz/tests/validation/checks/sameness_check_test.py
  recidiviz/tools/analyst/cohort_methods.py
  recidiviz/tools/analyst/estimate_effects.py
  recidiviz/tools/analyst/power_calculations/simulation_power_calculations.py
  recidiviz/tools/datasets/refresh_county_fips.py
  stubs/pandas_gbq/__init__.pyi
Due: none

[Roster sync][US_MI] Add ingested_incarceration_and_supervision_product_users view (Recidiviz/recidiviz-data#53484)
  recidiviz/tools/find_unused_bq_views.py
Due: none

[US_TX] Adds another race enum to `State Person` (Recidiviz/recidiviz-data#53539)
  recidiviz/ingest/direct/regions/us_tx/ingest_mappings/us_tx_state_person.yaml
Due: generate_docs_for_region

[Insights][US_IA] Add US_IA to relevant insights configs (Recidiviz/recidiviz-data#53557)
  recidiviz/metrics/export/products/products.yaml
  recidiviz/outliers/outliers_configs.py
  recidiviz/tests/view_registry/sentences_v1_migration_burndown/us_ia_sentences_v1_burndown.py
  recidiviz/tools/deploy/terraform/config/outliers_enabled_states.yaml
Due: update_terraform_lock_file, terraform_fmt

[US_TN] Configure SFTP server for raw data transfer (Recidiviz/recidiviz-data#53438)
  .sops.yaml
  atmos.yaml
  recidiviz/tools/deploy/atmos/catalogs/terraform-backend.yaml
  recidiviz/tools/deploy/atmos/components/terraform/isolated-direct-ingest-bucket-with-replication/README.md
  recidiviz/tools/deploy/atmos/components/terraform/sftpgo-kubernetes-resources/ARCHITECTURE.md
  recidiviz/tools/deploy/atmos/components/terraform/sftpgo-kubernetes-resources/README.md
  recidiviz/tools/deploy/atmos/components/terraform/sftpgo-kubernetes-resources/configs/sftpgo-us-tn.enc.yaml
  recidiviz/tools/deploy/atmos/components/terraform/sftpgo-kubernetes-resources/configs/sftpgo-us-xx.enc.yaml.example
  recidiviz/tools/deploy/atmos/components/terraform/sftpgo-kubernetes-resources/iap.tf
  recidiviz/tools/deploy/atmos/components/terraform/sftpgo-kubernetes-resources/load-balancer.tf
  recidiviz/tools/deploy/atmos/components/terraform/sftpgo-kubernetes-resources/main.tf
  recidiviz/tools/deploy/atmos/components/terraform/sftpgo-kubernetes-resources/secrets.tf
  recidiviz/tools/deploy/atmos/components/terraform/sftpgo-kubernetes-resources/security.tf
  recidiviz/tools/deploy/atmos/components/terraform/sftpgo-kubernetes-resources/ssl.tf
  recidiviz/tools/deploy/atmos/components/terraform/sftpgo-kubernetes-resources/variables.tf
  recidiviz/tools/deploy/atmos/components/terraform/sftpgo-kubernetes-resources/versions.tf
  recidiviz/tools/deploy/atmos/stacks/recidiviz-ingest-us-tn.yaml
Due: none

[Config]: Add gcloud login check to deploy-helpers + use it in cherry-pick script (Recidiviz/recidiviz-data#53558)
  recidiviz/tools/cherry-pick.sh
  recidiviz/tools/deploy/deploy_helpers.sh
Due: none

[Ingest] Refactor reasonable date validators (Recidiviz/recidiviz-data#53560)
  recidiviz/common/constants/reasonable_dates.py
  recidiviz/persistence/entity/state/entities.py
  recidiviz/persistence/entity/state/normalized_entities.py
  recidiviz/persistence/entity/state/reasonable_date_validators.py
Due: generate_entity_documentation, generate_lookml

[Monitoring] Move most alert policies into Terraform (Recidiviz/recidiviz-data#51442)
  .sops.yaml
  recidiviz/tools/deploy/atmos/components/terraform/data-platform-alerting/README.md
  recidiviz/tools/deploy/atmos/components/terraform/data-platform-alerting/config.production.enc.yaml
  recidiviz/tools/deploy/atmos/components/terraform/data-platform-alerting/monitoring_alert_policy.tf
  recidiviz/tools/deploy/atmos/components/terraform/data-platform-alerting/monitoring_notification_channel.tf
  recidiviz/tools/deploy/atmos/components/terraform/data-platform-alerting/providers.tf
  recidiviz/tools/deploy/atmos/stacks/recidiviz-123.yaml
Due: none

[US_NE] Task eligibility spans for good time restoration (Recidiviz/recidiviz-data#51518)
  recidiviz/task_eligibility/completion_events/general/good_time_reinstated.py
  recidiviz/task_eligibility/criteria/general/incarcerated_in_state_prison_at_least_1_year.py
  recidiviz/task_eligibility/criteria/general/no_highest_severity_incarceration_sanctions_within_1_year.py
  recidiviz/task_eligibility/eligibility_spans/us_ne/good_time_restoration_30_days.py
  recidiviz/task_eligibility/eligibility_spans/us_ne/good_time_restoration_more_than_30_days.py
  recidiviz/task_eligibility/task_completion_event_big_query_view_builder.py
  recidiviz/task_eligibility/utils/general_criteria_builders.py
Due: generate_calc_documentation

[Ingest] Add reasonable_projected_sentence_date_validator() (Recidiviz/recidiviz-data#53583)
  recidiviz/common/attr_validators.py
  recidiviz/common/constants/reasonable_dates.py
  recidiviz/persistence/entity/state/entities.py
  recidiviz/persistence/entity/state/normalized_entities.py
  recidiviz/persistence/entity/state/reasonable_date_validators.py
  recidiviz/tests/persistence/entity/state/reasonable_date_validators_test.py
Due: generate_entity_documentation, generate_lookml

[US_CO] Fix case for `eomis_riskasmttool` raw data table (Recidiviz/recidiviz-data#53605)
  recidiviz/ingest/direct/gating.py
Due: none

[Workflows] Update client_record_supervision_sessions to only have current sessions (Recidiviz/recidiviz-data#53513)
  recidiviz/task_eligibility/candidate_populations/general/prioritized_supervision_population_with_officer.py
  recidiviz/task_eligibility/utils/us_mi_query_fragments.py
Due: generate_calc_documentation

[US_MI] add new view that collapses 1-day temp seg stays to ad seg (Recidiviz/recidiviz-data#53452)
  recidiviz/task_eligibility/utils/us_mi_query_fragments.py
Due: generate_calc_documentation

[Bugfix] Actually detect when clustering on a materialized view has changed (Recidiviz/recidiviz-data#53615)
  recidiviz/big_query/view_update_manager.py
  recidiviz/tests/big_query/view_update_manager_test.py
Due: none

[Alerting] Make error message expandable (Recidiviz/recidiviz-data#53635)
  recidiviz/airflow/dags/monitoring/recidiviz_github_alerting_service.py
  recidiviz/airflow/tests/monitoring/recidiviz_github_alerting_service_test.py
Due: none

[sftp] Add ability to define state-specific file stabilization criteria (Recidiviz/recidiviz-data#53596)
  recidiviz/airflow/dags/operators/sftp/filter_invalid_gcs_files.py
  recidiviz/airflow/dags/operators/sftp/find_sftp_files_operator.py
  recidiviz/airflow/dags/operators/sftp/gcs_to_gcs_operator.py
  recidiviz/airflow/dags/operators/sftp/gcs_transform_file_operator.py
  recidiviz/airflow/dags/operators/sftp/sftp_to_gcs_operator.py
  recidiviz/airflow/dags/sftp/filter_downloaded_files_sql_query_generator.py
  recidiviz/airflow/dags/sftp/gather_discovered_ingest_ready_files_sql_query_generator.py
  recidiviz/airflow/dags/sftp/gather_discovered_remote_files_sql_query_generator.py
  recidiviz/airflow/dags/sftp/mark_ingest_ready_files_discovered_sql_query_generator.py
  recidiviz/airflow/dags/sftp/mark_ingest_ready_files_uploaded_sql_query_generator.py
  recidiviz/airflow/dags/sftp/mark_remote_files_discovered_sql_query_generator.py
  recidiviz/airflow/dags/sftp/mark_remote_files_downloaded_sql_query_generator.py
  recidiviz/airflow/dags/sftp_dag.py
  recidiviz/airflow/tests/operators/sftp/sftp_test_utils.py
  recidiviz/ingest/direct/regions/us_ca/us_ca_sftp_download_delegate.py
  recidiviz/ingest/direct/regions/us_ix/us_ix_sftp_download_delegate.py
  recidiviz/ingest/direct/regions/us_me/us_me_sftp_download_delegate.py
  recidiviz/ingest/direct/regions/us_mi/us_mi_sftp_download_delegate.py
  recidiviz/ingest/direct/regions/us_mo/us_mo_sftp_download_delegate.py
  recidiviz/ingest/direct/regions/us_pa/us_pa_sftp_download_delegate.py
  recidiviz/ingest/direct/regions/us_tx/us_tx_sftp_download_delegate.py
  recidiviz/ingest/direct/sftp/base_sftp_download_delegate.py
Due: generate_docs_for_region

[US_MO][Tasks] Add SMI clients to tool (Recidiviz/recidiviz-data#53602)
  recidiviz/task_eligibility/candidate_populations/state_specific/us_mo/supervision_tasks_eligible_population.py
Due: generate_calc_documentation

Revert "[US_ND] Use SENTENCE_EXPIRY_DATE for projected_max_release_date (Recidiviz/recidiviz-data#51896)" (Recidiviz/recidiviz-data#53646)
  recidiviz/ingest/direct/regions/us_nd/ingest_mappings/us_nd_elite_incarceration_sentences.yaml
Due: generate_docs_for_region

[US_IX] Map residents to CRC facilities based on legal sex (Recidiviz/recidiviz-data#53641)
  recidiviz/ingest/direct/gating.py
Due: none

[Tools] Filter load_views_to_sandbox DOWNSTREAM views by state_code_filter (Recidiviz/recidiviz-data#53638)
  recidiviz/tools/load_views_to_sandbox.py
Due: none

[Tools] Add --changed_addresses_to_include and --changed_addresses_to_ignore flags to load_views_to_sandbox auto mode (Recidiviz/recidiviz-data#53618)
  recidiviz/tests/tools/load_views_to_sandbox_test.py
  recidiviz/tools/load_end_to_end_data_sandbox.py
  recidiviz/tools/load_views_to_sandbox.py
Due: none

[Claude] Add BQ-specific CLAUDE.md (plus other CLAUDE.md edits) (Recidiviz/recidiviz-data#53659)
  CLAUDE.md
  recidiviz/big_query/CLAUDE.md
  recidiviz/tools/lint/run_pylint.sh
Due: none

[Claude] Default allow some read-only / safe commands (Recidiviz/recidiviz-data#53660)
  .claude/settings.json
Due: none

[Auth] Add jii_pages and jii_permissions to roster/auth tables and endpoints (Recidiviz/recidiviz-data#53439)
  recidiviz/auth/auth_endpoint.py
  recidiviz/auth/auth_users_endpoint.py
  recidiviz/persistence/database/migrations/case_triage/versions/2025_11_18_1712_e0bd113a2724_add_allowed_apps_and_jii_permissions_.py
  recidiviz/persistence/database/schema/case_triage/schema.py
  recidiviz/tests/auth/auth_endpoint_test.py
  recidiviz/tests/auth/helpers.py
  recidiviz/tools/case_triage/fixtures/permissions_override.csv
  recidiviz/tools/case_triage/fixtures/roster.csv
  recidiviz/tools/case_triage/fixtures/state_role_permissions.csv
Due: generate_docs_for_endpoint

Bump `bigquery-emulator` to `v0.6.6-recidiviz.2.1` (Recidiviz/recidiviz-data#53534)
  Pipfile
  Pipfile.lock
  recidiviz/tests/big_query/big_query_emulator_test.py
  recidiviz/tests/big_query/big_query_emulator_test_case.py
  recidiviz/tests/ingest/direct/regions/ingest_view_query_test_case.py
  recidiviz/tests/test_setup_utils.py
  recidiviz/tests/utils/big_query_emulator_control.py
Due: none

[US_CO] Ingest Supervision Periods in CO (Recidiviz/recidiviz-data#51960)
  recidiviz/ingest/direct/regions/us_co/ingest_mappings/us_co_SupervisionPeriod.yaml
  recidiviz/tests/source_tables/update_big_query_table_schemas_test.py
Due: generate_docs_for_region

[US_AZ] State sentence group length & incarceration period improvements (Recidiviz/recidiviz-data#53531)
  recidiviz/ingest/direct/regions/us_az/ingest_mappings/us_az_incarceration_periods.yaml
Due: generate_docs_for_region

[US_AR] Migrate to sentences v2 (Recidiviz/recidiviz-data#53473)
  recidiviz/tests/view_registry/sentences_v1_migration_burndown/us_ar_sentences_v1_burndown.py
  recidiviz/view_registry/deprecated_view_reference_exemptions.py
Due: none

[tools] Add more helpful message when tables don't exist in `compare_views` script (Recidiviz/recidiviz-data#53476)
  recidiviz/tools/utils/compare_tables_helper.py
Due: none

[Autogenerated] Update Pipfile.lock (Recidiviz/recidiviz-data#53801)
  Pipfile.lock
Due: none

[Claude] Add new skill for filing Github issues (Recidiviz/recidiviz-data#53672)
  .claude/settings.json
  .claude/skills/create_recidiviz_data_github_tasks/SKILL.md
  CLAUDE.md
  recidiviz/tools/deploy/verify_github_check_statuses.py
  recidiviz/tools/lint/run_pylint.sh
Due: none

[Claude] Add a new skill for maintaining skills (Recidiviz/recidiviz-data#53679)
  .claude/skills/maintain_skill_files/SKILL.md
  CLAUDE.md
  recidiviz/tools/lint/run_pylint.sh
Due: none

[Claude] Add skill for maintaining CLAUDE.md files (Recidiviz/recidiviz-data#53681)
  .claude/skills/maintain_claude_md/SKILL.md
  CLAUDE.md
  CODEOWNERS
Due: none

[Roster sync] Update import_ingested_users to ingest both facilities and supervision users (Recidiviz/recidiviz-data#53576)
  recidiviz/auth/auth_endpoint.py
  recidiviz/auth/auth_users_endpoint.py
  recidiviz/tests/auth/auth_endpoint_test.py
  recidiviz/tests/auth/auth_users_endpoint_test.py
  recidiviz/tests/auth/fixtures/us_xx_ingested_incarceration_and_supervision_product_users.csv
Due: generate_docs_for_endpoint

[US_AR] Delete sentences v1 ingest views (Recidiviz/recidiviz-data#53803)
  recidiviz/ingest/direct/regions/us_ar/ingest_mappings/us_ar_incarceration_sentence.yaml
  recidiviz/ingest/direct/regions/us_ar/ingest_mappings/us_ar_supervision_sentence.yaml
  recidiviz/tests/source_tables/update_big_query_table_schemas_test.py
Due: generate_docs_for_region

[US_NC] Script to remove EOF from files (Recidiviz/recidiviz-data#53680)
  recidiviz/tools/ingest/regions/us_nc/__init__.py
  recidiviz/tools/ingest/regions/us_nc/strip_eof_characters.py
Due: none

Implement new data platform on-call alerting scheme (Recidiviz/recidiviz-data#53612)
  recidiviz/monitoring/pagerduty_alert_forwarder/README.md
  recidiviz/monitoring/pagerduty_alert_forwarder/config.yaml
  recidiviz/monitoring/pagerduty_alert_forwarder/config_loader.py
  recidiviz/monitoring/pagerduty_alert_forwarder/rule_engine.py
  recidiviz/tests/monitoring/pagerduty_alert_forwarder/rule_engine_test.py
  recidiviz/tools/deploy/atmos/components/terraform/data-platform-alerting/monitoring_alert_policy.tf
  recidiviz/tools/deploy/atmos/components/terraform/data-platform-alerting/monitoring_notification_channel.tf
Due: none

[US_PA][Workflows] move Not Admin Eligible in OMS from criteria to eligibility unclear reason (Recidiviz/recidiviz-data#51136)
  recidiviz/task_eligibility/eligibility_spans/us_pa/complete_transfer_to_administrative_supervision_request.py
  recidiviz/task_eligibility/utils/us_pa_query_fragments.py
  recidiviz/view_registry/raw_data_table_reference_exemptions.py
Due: generate_calc_documentation

[US_TN] fixes to roster views (Recidiviz/recidiviz-data#53666)
  recidiviz/ingest/direct/regions/us_tn/us_tn_custom_enum_parsers.py
Due: generate_docs_for_region

Add script to make copying data from staging to prod easier (Recidiviz/recidiviz-data#47693)
  recidiviz/cloud_storage/gcsfs_path.py
  recidiviz/tests/cloud_storage/gcsfs_path_test.py
  recidiviz/tools/ingest/operations/copy_data_from_prod_to_staging.py
  recidiviz/tools/ingest/operations/copy_raw_state_files_between_projects.py
  recidiviz/tools/ingest/operations/get_last_stored_date_for_states.py
  recidiviz/tools/ingest/operations/helpers/operate_on_raw_storage_directories_controller.py
  recidiviz/tools/ingest/operations/move_raw_state_files_from_storage.py
  recidiviz/tools/utils/script_helpers.py
Due: none

Path conditions:
  clear_notebook_files: any of: \.ipynb$
  validate_scripts_and_notebooks_are_changed_together: any of: ^recidiviz/research/.*notebooks/.*/nbautoexport-scripts/.*\.py$
  generate_docs_for_region: any of: ^recidiviz/ingest/direct/regions/|^recidiviz/view_registry/raw_data_reference_reasons.yaml
  generate_docs_for_endpoint: any of: (?x)(^recidiviz/tools/docs/endpoint_documentation_generator.py|^recidiviz/server_blueprint_registry.py|.*/routes/|.*routes.py|.*/server.py|.*control.py|.*endpoint.py|.*endpoints.py|^recidiviz/backup/backup_manager.py|^recidiviz/pipelines/calculation_data_storage_manager.py)$, but not: ^recidiviz/tests
  generate_entity_documentation: any of: (?x)(^recidiviz/persistence/database/schema/state/schema.py|^recidiviz/persistence/entity/state/normalized_entities.py|^recidiviz/persistence/entity/state/entities.py|^recidiviz/common/constants/state/)$

  generate_calc_documentation: any of: ^recidiviz/calculator/query/|^recidiviz/.*/views/|^recidiviz/task_eligibility/|^recidiviz/monitoring/platform_kpis/, but not: ^recidiviz/tests/|^recidiviz/calculator/modeling/
  generate_ingest_mappings_schema_documentation: any of: ^recidiviz/ingest/direct/ingest_mappings/yaml_schema/|^docs/engineering/ingest_mapping_schema/
  update_terraform_lock_file: any of: ^recidiviz/tools/deploy/terraform/
  terraform_fmt: any of: ^recidiviz/tools/deploy/terraform/
  alphabetize_yaml: any of: recidiviz/view_registry/raw_data_reference_reasons.yaml
  generate_lookml: any of: ^recidiviz/persistence/entity/state/|^recidiviz/tools/looker/|^recidiviz/aggregated_metrics/| ^recidiviz/observations/views/|^recidiviz/ingest/direct/regions/.*/raw_data/
