Repository Recidiviz/pulse-data: changes, and which pre-commit hooks are due for each by the changed paths.
All: generate_docs_for_region, generate_docs_for_endpoint, generate_entity_documentation

generate_docs_for_region:
  name: generate_docs_for_region
  entry: pipenv run python -m recidiviz.tools.docs.region_documentation_generator
  language: system
  require_serial: true

generate_docs_for_endpoint:
  name: generate_docs_for_endpoint
  entry: pipenv run python -m recidiviz.tools.docs.endpoint_documentation_generator
  language: system
  require_serial: true

generate_entity_documentation:
  name: generate_entity_documentation
  entry: pipenv run python -m recidiviz.tools.docs.entity_documentation_generator
  language: system
  require_serial: true

Specify external id type in incarceration validation data (Recidiviz/recidiviz-data#15292)
  recidiviz/validation/views/external_data/incarceration_population_person_level.py
  recidiviz/validation/views/external_data/regions/us_co/incarceration_population_person_level.py
  recidiviz/validation/views/external_data/regions/us_mi/incarceration_population_person_level.py
  recidiviz/validation/views/state/incarceration_population_person_level_template.py
Due: generate_docs_for_endpoint

initial (Recidiviz/recidiviz-data#15451)
  frontends/admin-panel/src/components/IngestOperationsView/ingestStatusUtils.ts
Due: none

Starts the proxy for `STATE` instead of `OPERATIONS` in `purge_state_db` (Recidiviz/recidiviz-data#15452)
  recidiviz/tools/migrations/purge_state_db.py
Due: generate_docs_for_endpoint

[Workflows] Add staff record for US_ID (Recidiviz/recidiviz-data#15441)
  recidiviz/calculator/query/state/views/workflows/firestore/staff_record.py
  recidiviz/calculator/query/state/views/workflows/us_id/supervision_staff_template.py
Due: generate_docs_for_endpoint

[Justice Counts] update template script for supervision (Recidiviz/recidiviz-data#15401)
  frontends/justice-counts/control-panel/public/assets/SUPERVISION.xlsx
  recidiviz/tools/justice_counts/control_panel/create_upload_template.py
Due: generate_docs_for_endpoint

[US_CO] Adding normalization logic to handle fugitive inmate case (Recidiviz/recidiviz-data#15362)
  recidiviz/calculator/pipeline/normalization/utils/normalization_managers/incarceration_period_normalization_manager.py
  recidiviz/calculator/pipeline/utils/state_utils/us_co/us_co_incarceration_period_normalization_delegate.py
  recidiviz/common/date.py
  recidiviz/ingest/direct/regions/us_co/ingest_mappings/us_co_IncarcerationPeriod.yaml
  recidiviz/tests/calculator/pipeline/utils/state_utils/us_co/us_co_incarceration_period_normalization_delegate_test.py
Due: generate_docs_for_region, generate_docs_for_endpoint

Increase Error Message Duration for Start Ingest Run (Recidiviz/recidiviz-data#15460)
  frontends/admin-panel/src/components/IngestOperationsView/IngestActionButton.tsx
Due: none

Adds task eligibility spans to `person_spans` (Recidiviz/recidiviz-data#15408)
  recidiviz/calculator/query/state/views/analyst_data/person_spans.py
  recidiviz/calculator/query/state/views/analyst_data/supervision_aggregated_metrics.py
  recidiviz/calculator/query/state/views/analyst_data/supervision_unnested_metrics.py
Due: generate_docs_for_endpoint

[US_ND][Workflows] Filter out inactive staff in ND (Recidiviz/recidiviz-data#15391)
  recidiviz/calculator/query/state/views/workflows/firestore/staff_record.py
  recidiviz/calculator/query/state/views/workflows/us_nd/supervision_staff_template.py
Due: generate_docs_for_endpoint

[BigQuery] Show which view failed on exceptions while creating/updating views (Recidiviz/recidiviz-data#15459)
  recidiviz/big_query/view_update_manager.py
Due: generate_docs_for_endpoint

[Workflows] Align column types in client_record (Recidiviz/recidiviz-data#15464)
  recidiviz/calculator/query/state/views/workflows/us_nd/supervision_clients_template.py
Due: generate_docs_for_endpoint

Switch Flash Checklist Instructions for Setting Status (Recidiviz/recidiviz-data#15449)
  frontends/admin-panel/src/components/FlashDatabaseChecklist.tsx
Due: none

Add `NO_RERUN_IN_PROGRESS` to Flashing Checklists on Admin Panel (Recidiviz/recidiviz-data#15457)
  frontends/admin-panel/src/components/FlashDatabaseChecklist.tsx
Due: none

[Deploy] Fix creation of log directory (Recidiviz/recidiviz-data#15465)
  recidiviz/tools/deploy/deploy_helpers.sh
Due: generate_docs_for_endpoint

Adds treatment referral event and metrics to aggregated metrics pipeline (Recidiviz/recidiviz-data#15463)
  recidiviz/calculator/query/state/views/analyst_data/person_events.py
  recidiviz/calculator/query/state/views/analyst_data/supervision_aggregated_metrics.py
  recidiviz/calculator/query/state/views/analyst_data/supervision_unnested_metrics.py
Due: generate_docs_for_endpoint

Fill in criteria for supervision past min sentence (Recidiviz/recidiviz-data#15350)
  recidiviz/task_eligibility/criteria/general/supervision_past_minimum_sentence_date.py
  recidiviz/task_eligibility/criteria/state_specific/us_id/parole_dual_supervision_past_early_discharge_date.py
  recidiviz/task_eligibility/eligibility_spans/us_id/complete_discharge_early_from_parole_dual_supervision_request.py
  recidiviz/task_eligibility/eligibility_spans/us_id/complete_discharge_early_from_probation_supervision_request.py
Due: generate_docs_for_endpoint

Standardizes compartment_level_2 for supervision population metrics (Recidiviz/recidiviz-data#15447)
  recidiviz/calculator/query/state/views/analyst_data/person_events.py
  recidiviz/calculator/query/state/views/analyst_data/supervision_aggregated_metrics.py
  recidiviz/calculator/query/state/views/analyst_data/supervision_unnested_metrics.py
Due: generate_docs_for_endpoint

Dropping StateCourtCase entities from the schema (Recidiviz/recidiviz-data#15474)
  recidiviz/common/constants/state/state_court_case.py
  recidiviz/ingest/models/ingest_info.proto
  recidiviz/ingest/models/ingest_info.py
  recidiviz/ingest/models/ingest_info_pb2.py
  recidiviz/ingest/models/ingest_info_pb2.pyi
  recidiviz/ingest/models/serialization.py
  recidiviz/persistence/database/migrations/state/versions/2022_09_20_1221_960e9d6a449f_drop_court_case.py
  recidiviz/persistence/database/schema/state/schema.py
  recidiviz/persistence/entity/entity_utils.py
  recidiviz/persistence/entity/state/deserialize_entity_factories.py
  recidiviz/persistence/entity/state/entities.py
  recidiviz/persistence/entity_matching/state/state_ingested_tree_merger.py
  recidiviz/persistence/entity_matching/state/state_matching_utils.py
  recidiviz/persistence/ingest_info_converter/state/entity_helpers/state_court_case.py
  recidiviz/persistence/ingest_info_converter/state/state_converter.py
  recidiviz/tests/admin_panel/dataset_metadata_store_test.py
  recidiviz/tests/admin_panel/fixtures/ingest_state_metadata__state_court_case__court_case_id.json
  recidiviz/tests/calculator/pipeline/metrics/supervision/pipeline_test.py
  recidiviz/tests/calculator/pipeline/normalization/utils/normalized_entities_test.py
  recidiviz/tests/calculator/pipeline/normalization/utils/normalized_entities_utils_test.py
  recidiviz/tests/calculator/pipeline/normalization/utils/normalized_entity_conversion_utils_test.py
  recidiviz/tests/ingest/models/ingest_info_test.py
  recidiviz/tests/persistence/database/database_test_utils.py
  recidiviz/tests/persistence/database/schema/state/schema_test.py
  recidiviz/tests/persistence/database/schema/state/schema_test_utils.py
  recidiviz/tests/persistence/database/schema_utils_test.py
  recidiviz/tests/persistence/entity/core_entity_test.py
  recidiviz/tests/persistence/entity/entity_utils_test.py
  recidiviz/tests/persistence/entity/state/deserialize_entity_factories_test.py
  recidiviz/tests/persistence/entity/state/entities_test_utils.py
  recidiviz/tests/persistence/entity_matching/state/state_entity_matcher_test.py
  recidiviz/tests/persistence/entity_matching/state/state_ingested_tree_merger_test.py
  recidiviz/tests/persistence/entity_matching/state/state_matching_utils_test.py
  recidiviz/tests/persistence/ingest_info_converter/state/entity_helpers/state_court_case_test.py
  recidiviz/tests/persistence/ingest_info_converter/state/state_converter_test.py
Due: generate_docs_for_endpoint, generate_entity_documentation

Fix null completion date comparison in sentence spans (Recidiviz/recidiviz-data#15468)
  recidiviz/calculator/query/state/views/sessions/sentence_spans.py
Due: generate_docs_for_endpoint

initial yaml (Recidiviz/recidiviz-data#15467)
  recidiviz/ingest/direct/regions/us_oz/raw_data/us_oz_internDS_table.yaml
Due: generate_docs_for_region, generate_docs_for_endpoint

[US_CO] DB migration for changes in incarceration period admission reasons (Recidiviz/recidiviz-data#15476)
  recidiviz/persistence/database/migrations/state/versions/2022_09_20_1454_4cfe5e4cf0d5_change_admissionreason.py
Due: generate_docs_for_endpoint

[Sessions] Remove expensive ORDER BY in location_sessions and district_sessions (Recidiviz/recidiviz-data#15480)
  recidiviz/calculator/query/state/views/sessions/district_sessions.py
  recidiviz/calculator/query/state/views/sessions/location_sessions.py
Due: generate_docs_for_endpoint

[BigQuery] Even better tracking of failed views during updates (Recidiviz/recidiviz-data#15481)
  recidiviz/big_query/big_query_view_dag_walker.py
  recidiviz/big_query/view_update_manager.py
Due: generate_docs_for_endpoint

pin terraform version in CI (Recidiviz/recidiviz-data#15492)
  .github/workflows/ci.yml
Due: none

Reduce files that are copied into docker images (Recidiviz/recidiviz-data#15477)
  .dockerignore
  .gcloudignore
  .gitignore
  recidiviz/tools/validate_source_modifications.py
Due: generate_docs_for_endpoint

[View update] Log 25 most expensive views (Recidiviz/recidiviz-data#15485)
  recidiviz/big_query/big_query_view_dag_walker.py
  recidiviz/big_query/view_update_manager.py
  recidiviz/tests/big_query/big_query_view_dag_walker_test.py
  recidiviz/tools/load_views_to_sandbox.py
Due: generate_docs_for_endpoint

[Security] Ignore unfixed CVEs in Docker image (Recidiviz/recidiviz-data#15491)
  .github/workflows/docker-image-scan.yml
Due: none

[US_OZ] Include incarceration validation data in external data (Recidiviz/recidiviz-data#15293)
  recidiviz/tools/deploy/terraform/modules/state-direct-ingest-resources/bigquery.tf
  recidiviz/validation/views/external_data/regions/us_oz/__init__.py
  recidiviz/validation/views/external_data/regions/us_oz/incarceration_population_person_level.py
  recidiviz/validation/views/view_config.py
  recidiviz/view_registry/datasets.py
  recidiviz/view_registry/deployed_views.py
Due: generate_docs_for_endpoint

[Justice Counts] Turn off WTF_CSRF's same origin policy in staging to make it possible to run frontend locally against staging backend (Recidiviz/recidiviz-data#15455)
  recidiviz/justice_counts/control_panel/config.py
Due: generate_docs_for_endpoint

Adds the ability to remove a cleaning step for TextAnalyzer (Recidiviz/recidiviz-data#15439)
  recidiviz/calculator/pipeline/supplemental/us_id_case_note_extracted_entities/us_id_text_analysis_configuration.py
  recidiviz/common/text_analysis.py
  recidiviz/tests/common/text_analysis_test.py
Due: generate_docs_for_endpoint

Converting several validation views to use population spans directly (Recidiviz/recidiviz-data#15496)
  recidiviz/validation/views/state/active_in_population_after_death_date.py
  recidiviz/validation/views/state/sessions_validation/session_supervision_population_to_dataflow_disaggregated.py
Due: generate_docs_for_endpoint

[BigQuery] Increase BigQueryDagWalker parallelism (Recidiviz/recidiviz-data#15495)
  recidiviz/big_query/big_query_client.py
  recidiviz/big_query/big_query_view_dag_walker.py
Due: generate_docs_for_endpoint

Moving supervision_officers_and_districts view to population spans (Recidiviz/recidiviz-data#15500)
  recidiviz/calculator/query/state/views/vitals_report/supervision_officers_and_districts.py
Due: generate_docs_for_endpoint

[Workflows] Enable ETL for ID Earned Discharge (Recidiviz/recidiviz-data#15435)
  recidiviz/tests/workflows/etl/workflows_opportunity_etl_delegate_test.py
  recidiviz/workflows/etl/workflows_opportunity_etl_delegate.py
  recidiviz/workflows/etl/workflows_staff_etl_delegate.py
Due: generate_docs_for_endpoint

[Deploy] Allow deployers to retry migrations when transient network errors occur (Recidiviz/recidiviz-data#15253)
  recidiviz/tools/deploy/deploy_helpers.sh
Due: generate_docs_for_endpoint

[CA] added columns from newest dumps (Recidiviz/recidiviz-data#15501)
  recidiviz/ingest/direct/regions/us_ca/raw_data/us_ca_AssessmentParole.yaml
  recidiviz/ingest/direct/regions/us_ca/raw_data/us_ca_IncarcerationInCustody.yaml
  recidiviz/ingest/direct/regions/us_ca/raw_data/us_ca_IncarcerationParole.yaml
Due: generate_docs_for_region, generate_docs_for_endpoint

[US_ID] Update mappings for SupervisionLevel (Recidiviz/recidiviz-data#15505)
  recidiviz/ingest/direct/regions/us_id/us_id_controller.py
Due: generate_docs_for_region, generate_docs_for_endpoint

[US_MI] Revise incarceration periods to exclude movements with movement_reason_id 105 (Recidiviz/recidiviz-data#15504)
  recidiviz/ingest/direct/regions/us_mi/ingest_views/view_incarceration_periods.py
Due: generate_docs_for_region, generate_docs_for_endpoint

[Deploy] Add slack channel to deployment bot messages in `deploy_migrations` (Recidiviz/recidiviz-data#15507)
  recidiviz/tools/deploy/deploy_helpers.sh
Due: generate_docs_for_endpoint

Deprecate TN weekend confinement preprocessing (Recidiviz/recidiviz-data#15494)
  recidiviz/calculator/query/state/views/sessions/dataflow_sessions.py
  recidiviz/calculator/query/state/views/sessions/sessions_views.py
  recidiviz/calculator/query/state/views/sessions/us_tn/us_tn_incarceration_population_metrics_preprocessed.py
Due: generate_docs_for_endpoint

Path conditions:
  generate_docs_for_region: any of: ^recidiviz/ingest/direct/regions/
  generate_docs_for_endpoint: any of: ^recidiviz/, but not: (?x)(^recidiviz/tests/|^recidiviz/tools/|^recidiviz/ingest/direct/regions/)$

  generate_entity_documentation: any of: (?x)(^recidiviz/persistence/database/schema/state/schema.py|^recidiviz/persistence/database/schema/history_table_shared_columns_mixin.py)$

