Repository Recidiviz/pulse-data: changes, and which pre-commit hooks are due for each by the changed paths.
All: generate_docs_for_region, generate_docs_for_endpoint, generate_entity_documentation

generate_docs_for_region:
  name: generate_docs_for_region
  entry: pipenv run python -m recidiviz.tools.docs.region_documentation_generator
  language: system
  require_serial: true

generate_docs_for_endpoint:
  name: generate_docs_for_endpoint
  entry: pipenv run python -m recidiviz.tools.docs.endpoint_documentation_generator
  language: system
  require_serial: true

generate_entity_documentation:
  name: generate_entity_documentation
  entry: pipenv run python -m recidiviz.tools.docs.entity_documentation_generator
  language: system
  require_serial: true

[Justice Counts][1/n] Removing backend validation (Recidiviz/recidiviz-data#16514)
  recidiviz/justice_counts/datapoint.py
  recidiviz/justice_counts/metrics/metric_interface.py
  recidiviz/justice_counts/metrics/supervision.py
  recidiviz/persistence/database/schema/justice_counts/schema.py
  recidiviz/tests/justice_counts/metric_interface_test.py
Due: generate_docs_for_endpoint

Fixing normalization bugs from the recent deploy (Recidiviz/recidiviz-data#16521)
  recidiviz/calculator/pipeline/normalization/utils/normalization_managers/assessment_normalization_manager.py
  recidiviz/calculator/pipeline/utils/state_utils/us_ix/us_ix_incarceration_period_normalization_delegate.py
Due: generate_docs_for_endpoint

[Autogenerated] Update Pipfile.lock (Recidiviz/recidiviz-data#16487)
  Pipfile.lock
Due: none

[Workflows][Bug] add email address to caseload staff in staff_record (Recidiviz/recidiviz-data#16529)
  recidiviz/calculator/query/state/views/workflows/us_nd/supervision_staff_template.py
Due: generate_docs_for_endpoint

Revert "[US_ND] Migrate legacy episodes view to new mapping structure" (Recidiviz/recidiviz-data#16519)
  recidiviz/persistence/entity/entity_utils.py
  recidiviz/tools/ingest/development/run_mappings_against_ingest_view_results.py
Due: generate_docs_for_endpoint

[Justice Counts] Justice Counts-specific `deploy_to_prod` script (Recidiviz/recidiviz-data#16443)
  recidiviz/tools/deploy/justice_counts/deploy_to_prod.sh
  recidiviz/tools/deploy/justice_counts/deploy_to_staging.sh
Due: generate_docs_for_endpoint

[Justice Counts] Justice Counts `deploy_for_playtesting` script (Recidiviz/recidiviz-data#16445)
  recidiviz/tools/deploy/justice_counts/deploy_for_playtesting.sh
Due: generate_docs_for_endpoint

[Justice Counts][2/n] Refactor of `add_or_update_agency_datapoints` (Recidiviz/recidiviz-data#16515)
  recidiviz/justice_counts/datapoint.py
  recidiviz/tests/justice_counts/control_panel/server_test.py
  recidiviz/tests/justice_counts/datapoint_test.py
Due: generate_docs_for_endpoint

Drop most recent single day from span metrics views (Recidiviz/recidiviz-data#16550)
  recidiviz/calculator/query/state/views/dashboard/vitals_summaries/vitals_summaries.py
  recidiviz/calculator/query/state/views/dataflow_metrics_materialized/most_recent_single_day_dataflow_metrics.py
  recidiviz/calculator/query/state/views/shared_metric/single_day_supervision_population_for_spotlight.py
  recidiviz/calculator/query/state/views/workflows/firestore/us_nd_complete_discharge_early_from_supervision_record.py
  recidiviz/calculator/query/state/views/workflows/us_id/supervision_clients_template.py
  recidiviz/calculator/query/state/views/workflows/us_nd/supervision_clients_template.py
  recidiviz/case_triage/views/etl_clients.py
Due: generate_docs_for_endpoint

[DAG] Add refresh bq dataset endpoint for new DAG node (Recidiviz/recidiviz-data#16469)
  recidiviz/big_query/rematerialization_success_persister.py
  recidiviz/persistence/database/bq_refresh/cloud_sql_to_bq_refresh_control.py
  recidiviz/tests/persistence/database/bq_refresh/cloud_sql_to_bq_refresh_control_test.py
Due: generate_docs_for_endpoint

[US_IX] add raw data configs (Recidiviz/recidiviz-data#16475)
  recidiviz/ingest/direct/regions/us_ix/raw_data/us_ix_ref_EmailAddressType.yaml
  recidiviz/ingest/direct/regions/us_ix/raw_data/us_ix_scl_ConditionType.yaml
  recidiviz/ingest/direct/regions/us_ix/raw_data/us_ix_scl_Detainer.yaml
  recidiviz/ingest/direct/regions/us_ix/raw_data/us_ix_scl_DetainerCloseReason.yaml
  recidiviz/ingest/direct/regions/us_ix/raw_data/us_ix_scl_DetainerStatus.yaml
  recidiviz/ingest/direct/regions/us_ix/raw_data/us_ix_scl_DetainerType.yaml
  recidiviz/ingest/direct/regions/us_ix/raw_data/us_ix_scl_Judge.yaml
  recidiviz/ingest/direct/regions/us_ix/raw_data/us_ix_scl_RiderStatus.yaml
  recidiviz/ingest/direct/regions/us_ix/raw_data/us_ix_scl_SupervisionCondition.yaml
  recidiviz/ingest/direct/regions/us_ix/raw_data/us_ix_scl_ViolatedSupervisionCondition.yaml
  recidiviz/ingest/direct/regions/us_ix/raw_data/us_ix_scl_Violation.yaml
  recidiviz/ingest/direct/regions/us_ix/raw_data/us_ix_scl_ViolationOutcome.yaml
  recidiviz/ingest/direct/regions/us_ix/raw_data/us_ix_scl_ViolationReportStatus.yaml
  recidiviz/ingest/direct/regions/us_ix/raw_data/us_ix_scl_ViolationType.yaml
  recidiviz/ingest/direct/regions/us_ix/raw_data/us_ix_trf_Intake.yaml
  recidiviz/ingest/direct/regions/us_ix/raw_data/us_ix_trf_IntakeStatus.yaml
  recidiviz/ingest/direct/regions/us_ix/raw_data/us_ix_trf_IntakeStatusReason.yaml
  recidiviz/ingest/direct/regions/us_ix/raw_data/us_ix_trf_IntakeType.yaml
  recidiviz/ingest/direct/regions/us_ix/raw_data/us_ix_trf_TransferResponsibility.yaml
Due: generate_docs_for_region, generate_docs_for_endpoint

[US_IX] Add descriptions for columns used in validation views (Recidiviz/recidiviz-data#16559)
  recidiviz/ingest/direct/regions/us_id/raw_data/us_id_current_day_daily_summary.yaml
  recidiviz/ingest/direct/regions/us_ix/raw_data/us_ix_current_day_daily_summary.yaml
Due: generate_docs_for_region, generate_docs_for_endpoint

[Justice Counts] Put datapoints in agency dashboard metrics config response (Recidiviz/recidiviz-data#16480)
  recidiviz/justice_counts/bulk_upload/bulk_upload.py
  recidiviz/justice_counts/control_panel/routes/api.py
  recidiviz/justice_counts/datapoint.py
  recidiviz/justice_counts/metrics/metric_disaggregation_data.py
  recidiviz/justice_counts/metrics/metric_interface.py
  recidiviz/justice_counts/report.py
  recidiviz/justice_counts/spreadsheet.py
  recidiviz/justice_counts/types.py
  recidiviz/tests/justice_counts/control_panel/server_test.py
  recidiviz/tests/justice_counts/metric_interface_test.py
  recidiviz/tests/justice_counts/utils.py
Due: generate_docs_for_endpoint

[US_ND] Migrate legacy offender bookings view to new mapping structure (Recidiviz/recidiviz-data#16479)
  recidiviz/ingest/direct/regions/us_nd/ingest_mappings/us_nd_elite_offenderbookingstable.yaml
  recidiviz/ingest/direct/regions/us_nd/raw_data/us_nd_elite_offenderbookingstable.yaml
Due: generate_docs_for_region, generate_docs_for_endpoint

[Justice Counts] change values of Race/Ethnicity enum to display race first (Recidiviz/recidiviz-data#16557)
  recidiviz/justice_counts/dimensions/person.py
  recidiviz/tests/justice_counts/control_panel/server_test.py
Due: generate_docs_for_endpoint

Migrate some state_person_external_id references to normalized_state (Recidiviz/recidiviz-data#16577)
  recidiviz/calculator/query/experiments/views/case_triage_feedback_actions.py
  recidiviz/calculator/query/experiments/views/case_triage_metrics.py
  recidiviz/calculator/query/experiments/views/person_assignments.py
  recidiviz/calculator/query/externally_shared_views/views/state_person_external_id.py
  recidiviz/calculator/query/state/views/workflows/clients_referral_implemented.py
  recidiviz/calculator/query/state/views/workflows/person_id_to_external_id.py
  recidiviz/task_eligibility/criteria/state_specific/us_id/not_at_liberty.py
Due: generate_docs_for_endpoint

Reference normalized_state in ingest_metadata views (Recidiviz/recidiviz-data#16578)
  recidiviz/ingest/views/enum_counter.py
  recidiviz/ingest/views/non_enum_counter.py
  recidiviz/ingest/views/state_person_counter.py
Due: generate_docs_for_endpoint

Migrate supervision population validation to auto collect (Recidiviz/recidiviz-data#16560)
  recidiviz/validation/views/external_data/supervision_population_person_level.py
  recidiviz/validation/views/metadata/config/validation_external_accuracy_schema.yaml
  recidiviz/validation/views/state/supervision_population_person_level_template.py
  recidiviz/validation/views/view_config.py
Due: generate_docs_for_endpoint

[US_IX] Add person level population validation data (Recidiviz/recidiviz-data#16561)
  recidiviz/validation/views/external_data/regions/us_ix/__init__.py
  recidiviz/validation/views/external_data/regions/us_ix/incarceration_population_person_level.py
  recidiviz/validation/views/external_data/regions/us_ix/supervision_population_person_level.py
  recidiviz/validation/views/view_config.py
  recidiviz/view_registry/deployed_views.py
Due: generate_docs_for_endpoint

[US_PA] Migrate dbo_tblInmTestScore and dbo_LSIHistory ingest views to new mappings structure (NEW) (Recidiviz/recidiviz-data#16500)
  recidiviz/ingest/direct/regions/us_pa/ingest_mappings/us_pa_dbo_LSIHistory.yaml
  recidiviz/ingest/direct/regions/us_pa/ingest_mappings/us_pa_dbo_tblInmTestScore.yaml
  recidiviz/ingest/direct/regions/us_pa/us_pa_controller.py
  recidiviz/ingest/direct/regions/us_pa/us_pa_custom_enum_parsers.py
  recidiviz/ingest/direct/regions/us_pa/us_pa_legacy_enum_helpers.py
  recidiviz/tests/big_query/fakes/big_query_query_rewriter.py
Due: generate_docs_for_region, generate_docs_for_endpoint

[US_ND] Migrate legacy episodes view to new mapping structure (Recidiviz/recidiviz-data#16555)
  recidiviz/ingest/direct/regions/us_nd/ingest_mappings/us_nd_docstars_ftr_episode.yaml
Due: generate_docs_for_region, generate_docs_for_endpoint

[US_IX] Adding `supervision_contacts` view to US_IX views (Recidiviz/recidiviz-data#16353)
  recidiviz/ingest/direct/regions/us_ix/ingest_mappings/us_ix_supervision_contacts.yaml
  recidiviz/ingest/direct/regions/us_ix/ingest_views/view_supervision_contacts.py
  recidiviz/ingest/direct/regions/us_ix/us_ix_controller.py
  recidiviz/ingest/direct/regions/us_ix/us_ix_custom_enum_parsers.py
Due: generate_docs_for_region, generate_docs_for_endpoint

[1/n] [Justice Counts] ]Add custom reporting frequency to metric interface (Recidiviz/recidiviz-data#16562)
  recidiviz/justice_counts/metrics/custom_reporting_frequency.py
  recidiviz/justice_counts/metrics/metric_interface.py
  recidiviz/justice_counts/utils/constants.py
  recidiviz/tests/justice_counts/bulk_upload/bulk_upload_test.py
  recidiviz/tests/justice_counts/metric_interface_test.py
Due: generate_docs_for_endpoint

[US_ID] Atlas Incarceration Period enum fix (Recidiviz/recidiviz-data#16587)
  recidiviz/ingest/direct/regions/us_ix/ingest_mappings/us_ix_incarceration_period.yaml
Due: generate_docs_for_region, generate_docs_for_endpoint

[BigQuery] Remove last reference to analyst_data_scratch_space in deployed views (Recidiviz/recidiviz-data#16594)
  recidiviz/calculator/query/state/dataset_config.py
  recidiviz/calculator/query/state/views/overdue_discharge_alert/overdue_discharge_alert_data_views.py
  recidiviz/calculator/query/state/views/shared_metric/overdue_discharge_alert_exclusions.py
  recidiviz/calculator/query/state/views/shared_metric/shared_metric_views.py
  recidiviz/view_registry/datasets.py
Due: generate_docs_for_endpoint

[US_ID][Workflows] Fix null end date matching for ftrd (Recidiviz/recidiviz-data#16599)
  recidiviz/calculator/query/state/views/sessions/supervision_projected_completion_date_spans.py
Due: generate_docs_for_endpoint

[US_ID][Workflows] Use nonnull end date clause (Recidiviz/recidiviz-data#16600)
  recidiviz/calculator/query/state/views/sessions/supervision_projected_completion_date_spans.py
Due: generate_docs_for_endpoint

ATLAS landing page & `@recidiviz/design-system` upgrade (Recidiviz/recidiviz-data#16598)
  frontends/case-triage/package.json
  frontends/case-triage/src/assets/atlas.png
  frontends/case-triage/src/components/CaseCard/ClientProfileCard.styles.tsx
  frontends/case-triage/src/components/CaseCard/Notes/Notes.styles.ts
  frontends/case-triage/src/components/ClientList/ClientList.styles.tsx
  frontends/case-triage/src/components/FeedbackFormModal/BaseForm.tsx
  frontends/case-triage/src/components/FeedbackFormModal/FeedbackForm.styles.tsx
  frontends/case-triage/src/components/OnboardingCarousel/OnboardingCarousel.styles.tsx
  frontends/case-triage/src/components/UserSection/UserSection.styles.tsx
  frontends/case-triage/src/index.tsx
  frontends/case-triage/src/routes/HangTight.tsx
  frontends/case-triage/yarn.lock
Due: none

refactor supervision identifier tests to use create methods for constructing SupervisionPopulationEvents (Recidiviz/recidiviz-data#16586)
  recidiviz/tests/calculator/pipeline/metrics/supervision/identifier_test.py
Due: generate_docs_for_endpoint

fix --headers arg in demo data script (Recidiviz/recidiviz-data#16603)
  recidiviz/tools/pathways/generate_demo_data.py
Due: generate_docs_for_endpoint

add ability to configure validators per metric export plus new validators (Recidiviz/recidiviz-data#15984)
  recidiviz/big_query/export/big_query_view_export_validator.py
  recidiviz/big_query/export/big_query_view_exporter.py
  recidiviz/big_query/export/export_query_config.py
  recidiviz/metrics/export/export_config.py
  recidiviz/metrics/export/optimized_metric_big_query_view_export_validator.py
  recidiviz/metrics/export/optimized_metric_big_query_view_exporter.py
  recidiviz/metrics/export/view_export_manager.py
  recidiviz/metrics/export/with_metadata_query_big_query_view_exporter.py
  recidiviz/tests/big_query/export/big_query_view_export_validator_test.py
  recidiviz/tests/cloud_storage/fake_gcs_file_system.py
  recidiviz/tests/metrics/export/big_query_view_exporter_test.py
  recidiviz/tests/metrics/export/export_config_test.py
  recidiviz/tests/metrics/export/view_export_manager_test.py
  recidiviz/tests/metrics/export/with_metadata_query_big_query_view_exporter_test.py
Due: generate_docs_for_endpoint

[Justice Counts] Backend should stop sending contexts for data entry (Recidiviz/recidiviz-data#16551)
  recidiviz/justice_counts/datapoint.py
  recidiviz/justice_counts/datapoints_for_metric.py
  recidiviz/justice_counts/report.py
  recidiviz/tests/justice_counts/report_test.py
Due: generate_docs_for_endpoint

Reverting population pipelines deletion (Recidiviz/recidiviz-data#16615)
  recidiviz/calculator/pipeline/calculation_pipeline_templates.yaml
Due: generate_docs_for_endpoint

[US_ID][Workflows] Add raw data FTRD for most recent sentence span (Recidiviz/recidiviz-data#16618)
  recidiviz/calculator/query/state/views/sessions/sessions_views.py
  recidiviz/calculator/query/state/views/sessions/supervision_projected_completion_date_spans.py
  recidiviz/calculator/query/state/views/sessions/us_id/us_id_supervision_projected_completion_date_spans.py
Due: generate_docs_for_endpoint

change ingest timestamps to be in UTC (Recidiviz/recidiviz-data#16383)
  recidiviz/ingest/direct/metadata/postgres_direct_ingest_instance_status_manager.py
  recidiviz/persistence/database/migrations/operations/versions/2022_11_11_1346_bc4309eb8002_migrate_to_utc.py
  recidiviz/persistence/database/schema/operations/session_listener.py
Due: generate_docs_for_endpoint

[Pathways] ensure the order of pathways columns matches in views and schema (Recidiviz/recidiviz-data#16601)
  recidiviz/calculator/query/state/views/dashboard/pathways/event_level/prison_population_by_dimension.py
  recidiviz/calculator/query/state/views/dashboard/pathways/event_level/prison_population_over_time.py
  recidiviz/calculator/query/state/views/dashboard/pathways/event_level/prison_population_person_level.py
  recidiviz/calculator/query/state/views/dashboard/pathways/event_level/supervision_population_over_time.py
  recidiviz/calculator/query/state/views/dashboard/pathways/event_level/supervision_to_liberty_transitions.py
  recidiviz/calculator/query/state/views/dashboard/pathways/event_level/supervision_to_prison_transitions.py
  recidiviz/calculator/query/state/views/dashboard/pathways/pathways_views.py
  recidiviz/tests/persistence/database/schema/pathways/__init__.py
  recidiviz/tests/persistence/database/schema/pathways/schema_test.py
  recidiviz/tests/tools/pathways/load_fixtures_test.py
Due: generate_docs_for_endpoint

Path conditions:
  generate_docs_for_region: any of: ^recidiviz/ingest/direct/regions/
  generate_docs_for_endpoint: any of: ^recidiviz/, but not: (?x)(^recidiviz/tests/|^recidiviz/tools/|^recidiviz/ingest/direct/regions/)$

  generate_entity_documentation: any of: (?x)(^recidiviz/persistence/database/schema/state/schema.py|^recidiviz/persistence/database/schema/history_table_shared_columns_mixin.py)$

