Repository Recidiviz/pulse-data: changes, and which pre-commit hooks are due for each by the changed paths.
All: generate_docs_for_region, generate_docs_for_endpoint, generate_entity_documentation

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.3.0
    hooks:
      - id: check-yaml
  - repo: https://github.com/psf/black
    rev: 20.8b1
    hooks:
      - id: black
        language_version: python3
  - repo: local
    hooks:
      - id: generate_docs_for_region
        name: generate_docs_for_region
        entry: pipenv run python -m recidiviz.tools.docs.region_documentation_generator
        language: system
        files: ^recidiviz/ingest/direct/regions/
        require_serial: true
      - id: generate_docs_for_endpoint
        name: generate_docs_for_endpoint
        entry: pipenv run python -m recidiviz.tools.docs.endpoint_documentation_generator
        language: system
        files: ^recidiviz/
        exclude: >
          (?x)(^recidiviz/tests/|^recidiviz/tools/|^recidiviz/ingest/direct/regions/)$
        require_serial: true
      - id: generate_entity_documentation
        name: generate_entity_documentation
        entry: pipenv run python -m recidiviz.tools.docs.entity_documentation_generator
        language: system
        files: >
           (?x)(^recidiviz/persistence/database/schema/state/schema.py|^recidiviz/persistence/database/schema/history_table_shared_columns_mixin.py)$
        require_serial: true

Fixes migration dev scripts; uses the on disk postgres port (Recidiviz/recidiviz-data#10694)
  recidiviz/persistence/database/migrations/base_env.py
Due: generate_docs_for_endpoint

Add TN CCs to sessions <> justice counts comparison (Recidiviz/recidiviz-data#10655)
  recidiviz/validation/views/state/prod_staging_comparison/sessions_justice_counts_comparison.py
Due: generate_docs_for_endpoint

[US_TN] Update name of `OffenseStatute` --> `OffenderStatute` (Recidiviz/recidiviz-data#10697)
  recidiviz/ingest/direct/regions/us_tn/raw_data/us_tn_OffenderStatute.yaml
Due: generate_docs_for_region, generate_docs_for_endpoint

Pathways incarceration location ID-to-name map (Recidiviz/recidiviz-data#10698)
  recidiviz/calculator/query/state/views/dashboard/pathways/pathways_incarceration_location_name_map.py
  recidiviz/calculator/query/state/views/dashboard/pathways/pathways_views.py
Due: generate_docs_for_endpoint

Adding a TF dataset for the fuzzy matching flags (Recidiviz/recidiviz-data#10668)
  recidiviz/calculator/query/state/views/reference/us_id_case_update_info.py
  recidiviz/tools/deploy/terraform/bigquery.tf
Due: generate_docs_for_endpoint

Incorporate not-included incarceration population into dataflow sessions (Recidiviz/recidiviz-data#10637)
  recidiviz/calculator/query/state/views/sessions/compartment_sessions.py
  recidiviz/calculator/query/state/views/sessions/dataflow_sessions.py
  recidiviz/calculator/query/state/views/sessions/district_sessions.py
  recidiviz/calculator/query/state/views/sessions/location_sessions.py
Due: generate_docs_for_endpoint

Pathways supervision snapshot view (Recidiviz/recidiviz-data#10633)
  recidiviz/calculator/query/state/state_specific_query_strings.py
  recidiviz/calculator/query/state/views/dashboard/pathways/pathways_enabled_states.py
  recidiviz/calculator/query/state/views/dashboard/pathways/pathways_views.py
  recidiviz/calculator/query/state/views/dashboard/pathways/supervision_population_snapshot_by_dimension.py
Due: generate_docs_for_endpoint

[US_ND] Add reference table with ND facility names (Recidiviz/recidiviz-data#10708)
  recidiviz/calculator/query/state/views/dashboard/pathways/pathways_incarceration_location_name_map.py
  recidiviz/calculator/query/state/views/reference/incarceration_location_ids_to_names.py
  recidiviz/datasets/static_data/us_nd_incarceration_facility_names.csv
  recidiviz/tools/deploy/terraform/reference-tables.tf
Due: generate_docs_for_endpoint

Update reference-tables.tf (Recidiviz/recidiviz-data#10711)
  recidiviz/tools/deploy/terraform/reference-tables.tf
Due: generate_docs_for_endpoint

[US_TN] Add Primary Key Documentation For Missing Tables (Recidiviz/recidiviz-data#10712)
  recidiviz/ingest/direct/regions/us_tn/raw_data/us_tn_BoardAction.yaml
  recidiviz/ingest/direct/regions/us_tn/raw_data/us_tn_OffenderFinding.yaml
  recidiviz/ingest/direct/regions/us_tn/raw_data/us_tn_OffenderStatute.yaml
Due: generate_docs_for_region, generate_docs_for_endpoint

[Schema Cleanup] Deleting unused StateParoleDecision entity (Recidiviz/recidiviz-data#10693)
  recidiviz/common/constants/state/enum_canonical_strings.py
  recidiviz/common/constants/state/state_parole_decision.py
  recidiviz/ingest/models/ingest_info.proto
  recidiviz/ingest/models/ingest_info.py
  recidiviz/ingest/models/ingest_info_pb2.py
  recidiviz/ingest/models/ingest_info_pb2.pyi
  recidiviz/ingest/models/serialization.py
  recidiviz/persistence/database/migrations/state/versions/2022_01_14_1503_11cc8fb6f6a2_delete_parole_decision.py
  recidiviz/persistence/database/schema/state/schema.py
  recidiviz/persistence/entity/entity_utils.py
  recidiviz/persistence/entity/state/deserialize_entity_factories.py
  recidiviz/persistence/entity/state/entities.py
  recidiviz/persistence/entity_matching/state/state_matching_utils.py
  recidiviz/persistence/ingest_info_converter/state/entity_helpers/state_parole_decision.py
  recidiviz/persistence/ingest_info_converter/state/state_converter.py
  recidiviz/tests/ingest/models/ingest_info_test.py
  recidiviz/tests/persistence/database/database_test_utils.py
  recidiviz/tests/persistence/database/schema/state/schema_test.py
  recidiviz/tests/persistence/database/schema/state/schema_test_utils.py
  recidiviz/tests/persistence/database/schema_utils_test.py
  recidiviz/tests/persistence/entity/entity_utils_test.py
  recidiviz/tests/persistence/entity/state/deserialize_entity_factories_test.py
  recidiviz/tests/persistence/entity/state/entities_test_utils.py
  recidiviz/tests/persistence/entity/state/entity_deprecation_utils_test.py
  recidiviz/tests/persistence/entity_matching/state/state_entity_matcher_test.py
  recidiviz/tests/persistence/ingest_info_converter/state/entity_helpers/state_parole_decision_test.py
  recidiviz/tests/persistence/ingest_info_converter/state/state_converter_test.py
Due: generate_docs_for_endpoint, generate_entity_documentation

[US_ND] Fix "Central Office Office" in pathways_supervision_location_name_map (Recidiviz/recidiviz-data#10714)
  recidiviz/calculator/query/state/views/dashboard/pathways/pathways_supervision_location_name_map.py
Due: generate_docs_for_endpoint

Offense Type Categorization (Recidiviz/recidiviz-data#10621)
  recidiviz/calculator/query/state/views/analyst_data/analyst_data_views.py
  recidiviz/calculator/query/state/views/analyst_data/offense_type_mapping.py
  recidiviz/calculator/query/state/views/sessions/compartment_sentences.py
Due: generate_docs_for_endpoint

Pathways supervision population time series view (Recidiviz/recidiviz-data#10710)
  recidiviz/calculator/query/state/views/dashboard/pathways/pathways_views.py
  recidiviz/calculator/query/state/views/dashboard/pathways/supervision_population_time_series.py
Due: generate_docs_for_endpoint

[Pathways] Enable ND exports in staging (Recidiviz/recidiviz-data#10720)
  recidiviz/metrics/export/products.yaml
Due: generate_docs_for_endpoint

[US_ND] Add additional facilities to us_nd_incarceration_facility_names (Recidiviz/recidiviz-data#10718)
  recidiviz/datasets/static_data/us_nd_incarceration_facility_names.csv
Due: generate_docs_for_endpoint

update us_pa supervision period logic to fill in null agent ids (Recidiviz/recidiviz-data#10578)
  recidiviz/ingest/direct/regions/us_pa/ingest_views/view_supervision_period_v4.py
  recidiviz/ingest/direct/regions/us_pa/raw_data/us_pa_dbo_Hist_Release.yaml
  recidiviz/tests/big_query/view_test_util.py
Due: generate_docs_for_region, generate_docs_for_endpoint

[Github] Update PR template to reflect reality of development (Recidiviz/recidiviz-data#10642)
  .github/pull_request_template.md
Due: none

[Pathways] Enable all pathways states for supervison transition tables (Recidiviz/recidiviz-data#10726)
  recidiviz/calculator/query/state/views/reference/supervision_transition_template.py
Due: generate_docs_for_endpoint

Add early discharge sessions view (Recidiviz/recidiviz-data#9761)
  recidiviz/calculator/query/state/views/analyst_data/analyst_data_views.py
  recidiviz/calculator/query/state/views/analyst_data/early_discharge_sessions.py
  recidiviz/calculator/query/state/views/analyst_data/us_id/us_id_early_discharge_sessions_preprocessing.py
  recidiviz/calculator/query/state/views/analyst_data/us_nd/us_nd_early_discharge_sessions_preprocessing.py
Due: generate_docs_for_endpoint

fix quotes in early discharge view (Recidiviz/recidiviz-data#10739)
  recidiviz/calculator/query/state/views/analyst_data/early_discharge_sessions.py
Due: generate_docs_for_endpoint

[US_TN] Gate ingest views to only be in staging (Recidiviz/recidiviz-data#10741)
  recidiviz/ingest/direct/regions/us_tn/manifest.yaml
  recidiviz/ingest/direct/regions/us_tn/us_tn_controller.py
Due: generate_docs_for_region, generate_docs_for_endpoint

add CountNumber as PK (Recidiviz/recidiviz-data#10745)
  recidiviz/ingest/direct/regions/us_tn/raw_data/us_tn_JOCharge.yaml
Due: generate_docs_for_region, generate_docs_for_endpoint

[Terraform] Add oneoffs script to import us-tn-scraper-v2 to prod (Recidiviz/recidiviz-data#10753)
  recidiviz/tools/deploy/oneoffs/import_tn_scraper_queue.sh
Due: generate_docs_for_endpoint

Replace "user inputs" and "data inputs" dicts with dataclasses. (Recidiviz/recidiviz-data#10405)
  recidiviz/calculator/modeling/population_projection/population_projector.py
  recidiviz/calculator/modeling/population_projection/population_simulation/population_simulation_factory.py
  recidiviz/calculator/modeling/population_projection/spark_policy.py
  recidiviz/calculator/modeling/population_projection/sub_simulation/sub_simulation_factory.py
  recidiviz/calculator/modeling/population_projection/super_simulation/initializer.py
  recidiviz/calculator/modeling/population_projection/super_simulation/simulator.py
  recidiviz/calculator/modeling/population_projection/super_simulation/super_simulation.py
  recidiviz/calculator/modeling/population_projection/super_simulation/super_simulation_factory.py
  recidiviz/tests/calculator/modeling/population_projection/model_inputs_test.py
  recidiviz/tests/calculator/modeling/population_projection/population_simulation/population_simulation_test.py
  recidiviz/tests/calculator/modeling/population_projection/sub_simulation/sub_simulation_test.py
  recidiviz/tests/calculator/modeling/population_projection/super_simulation/initializer_test.py
  recidiviz/tests/calculator/modeling/population_projection/super_simulation/super_simulation_factory_test.py
  recidiviz/tests/calculator/modeling/population_projection/super_simulation/super_simulation_test.py
Due: generate_docs_for_endpoint

Add Issue Template for State Data Asks (Recidiviz/recidiviz-data#10705)
  .github/ISSUE_TEMPLATE/state_data_ask.md
Due: none

nit fixes (Recidiviz/recidiviz-data#10762)
  .github/ISSUE_TEMPLATE/state_data_ask.md
Due: none

More nit fixes for `State Data Ask` Github Template (Recidiviz/recidiviz-data#10768)
  .github/ISSUE_TEMPLATE/state_data_ask.md
Due: none

[skip validation ingest_docs] Gate incarceration period ingest view from running in staging (Recidiviz/recidiviz-data#10749)
  recidiviz/ingest/direct/regions/us_me/us_me_controller.py
Due: generate_docs_for_region, generate_docs_for_endpoint

[GCS] Use rewrite instead of copy_blob for file copies (Recidiviz/recidiviz-data#10751)
  recidiviz/cloud_storage/gcs_file_system.py
Due: generate_docs_for_endpoint

Add file_tag and sandbox_dataset_prefix options to fetch_column_values_for_state script (Recidiviz/recidiviz-data#10719)
  recidiviz/tools/ingest/development/fetch_column_values_for_state.py
Due: generate_docs_for_endpoint

Update existing Pathways prison views for ND (Recidiviz/recidiviz-data#10715)
  recidiviz/calculator/query/state/state_specific_query_strings.py
  recidiviz/calculator/query/state/views/dashboard/pathways/pathways_views.py
  recidiviz/calculator/query/state/views/dashboard/pathways/prison_population_snapshot_by_dimension.py
  recidiviz/calculator/query/state/views/dashboard/pathways/prison_population_snapshot_person_level.py
  recidiviz/calculator/query/state/views/dashboard/pathways/prison_population_time_series.py
Due: generate_docs_for_endpoint

clean up sprvsn_cntc_v2 (Recidiviz/recidiviz-data#10787)
  recidiviz/ingest/direct/regions/us_id/ingest_mappings/us_id_sprvsn_cntc_v2.yaml
  recidiviz/ingest/direct/regions/us_id/ingest_views/view_sprvsn_cntc_v2.py
  recidiviz/ingest/direct/regions/us_id/us_id_custom_enum_parsers.py
Due: generate_docs_for_region, generate_docs_for_endpoint

more edits (Recidiviz/recidiviz-data#10786)
  .github/ISSUE_TEMPLATE/state_data_ask.md
Due: none

Updating mypy config (Recidiviz/recidiviz-data#10788)
  recidiviz/calculator/pipeline/utils/entity_normalization/incarceration_period_normalization_manager.py
  recidiviz/calculator/pipeline/utils/entity_normalization/normalized_incarceration_period_index.py
  setup.cfg
Due: generate_docs_for_endpoint

Archive applied terraform plans to GCS (Recidiviz/recidiviz-data#10755)
  recidiviz/tools/deploy/deploy_helpers.sh
Due: generate_docs_for_endpoint

[Bandit] Disable test B608 (Recidiviz/recidiviz-data#10806)
  .bandit
Due: none

[Bugfix] Do not inifinite loop on GCS file copy (Recidiviz/recidiviz-data#10808)
  recidiviz/cloud_storage/gcs_file_system.py
Due: generate_docs_for_endpoint
