Repository Recidiviz/pulse-data: changes, and which pre-commit hooks are due for each by the changed paths.
All: generate_docs_for_region, generate_docs_for_endpoint, generate_entity_documentation, generate_calc_documentation, generate_ingest_mappings_schema_documentation, update_terraform_lock_file, terraform_fmt, alphabetize_yaml

generate_docs_for_region:
  name: generate_docs_for_region
  entry: pipenv run python -m recidiviz.tools.docs.region_documentation_generator
  language: system
  require_serial: true

generate_docs_for_endpoint:
  name: generate_docs_for_endpoint
  entry: pipenv run python -m recidiviz.tools.docs.endpoint_documentation_generator
  language: system
  require_serial: true

generate_entity_documentation:
  name: generate_entity_documentation
  entry: pipenv run python -m recidiviz.tools.docs.entity_documentation_generator
  language: system
  require_serial: true

generate_calc_documentation:
  name: generate_calc_documentation
  entry: pipenv run python -m recidiviz.calculator.calculation_documentation_generator
  language: system
  require_serial: true

generate_ingest_mappings_schema_documentation:
  name: generate_ingest_mappings_schema_documentation
  entry: pipenv run python -m recidiviz.tools.docs.ingest_mappings_schema_documentation_generator
  language: system
  require_serial: true

update_terraform_lock_file:
  name: update_terraform_lock_file
  entry: recidiviz/tools/deploy/update_terraform_lock.sh
  language: script
  require_serial: true

terraform_fmt:
  name: terraform_fmt
  entry: recidiviz/tools/deploy/format_terraform.sh
  language: script

alphabetize_yaml:
  name: alphabetize_yaml
  entry: pipenv run python -m recidiviz.tools.alphabetize_raw_data_reference_reasons
  language: system

[JII Texts] Filter out null phone numbers in jii_to_text (Recidiviz/recidiviz-data#40119)
  recidiviz/calculator/query/state/views/jii_texting/jii_to_text.py
Due: generate_calc_documentation

[Impact Tracking] Hack in more location names (Recidiviz/recidiviz-data#40121)
  recidiviz/calculator/query/state/views/analyst_data/product_roster_archive_sessions_utils.py
Due: generate_calc_documentation

[Sentences] Update most severe charge classification logic (Recidiviz/recidiviz-data#38717)
  recidiviz/pipelines/ingest/state/normalization/normalization_managers/sentence_normalization_manager.py
  recidiviz/tests/calculator/query/state/views/sentence_sessions/sentence_imposed_group_summary_test.py
  recidiviz/tests/pipelines/ingest/state/normalization/infer_sentence_groups_test.py
Due: generate_calc_documentation

[US_IA] Ingest interventions (Recidiviz/recidiviz-data#39109)
  recidiviz/ingest/direct/regions/us_ia/ingest_mappings/us_ia_program_assignment.yaml
  recidiviz/ingest/direct/regions/us_ia/ingest_views/view_program_assignment.py
  recidiviz/ingest/direct/regions/us_ia/ingest_views/view_state_staff.py
  recidiviz/tests/source_tables/update_big_query_table_schemas_test.py
Due: generate_docs_for_region

[US_AZ] Fix determinism issue with case_manager_relationship_periods (Recidiviz/recidiviz-data#40135)
  recidiviz/calculator/query/state/views/sessions/us_az/us_az_incarceration_staff_assignment_sessions_preprocessed.py
  recidiviz/ingest/direct/regions/us_az/ingest_views/view_case_manager_relationship_periods.py
Due: generate_docs_for_region, generate_calc_documentation

[US_UT] Incorporate nonstandard employment into periods (Recidiviz/recidiviz-data#39941)
  recidiviz/ingest/direct/regions/us_ut/ingest_mappings/us_ut_employment_period.yaml
  recidiviz/ingest/direct/regions/us_ut/ingest_views/view_employment_period.py
  recidiviz/ingest/direct/regions/us_ut/us_ut_custom_enum_parsers.py
Due: generate_docs_for_region

[Tools] Update raw fixture writing and generation structure (Recidiviz/recidiviz-data#40164)
  recidiviz/ingest/direct/types/direct_ingest_constants.py
  recidiviz/tests/ingest/direct/direct_ingest_raw_fixture_loader.py
  recidiviz/tests/ingest/direct/fixture_util.py
  recidiviz/tests/tools/ingest/testing/pull_root_entity_filtered_raw_data_for_ingest_view_test.py
  recidiviz/tools/ingest/testing/ingest_fixture_creation/__init__.py
  recidiviz/tools/ingest/testing/ingest_fixture_creation/encrypt_fixture_data.py
  recidiviz/tools/ingest/testing/ingest_fixture_creation/pull_root_entity_filtered_raw_data_for_ingest_view.py
  recidiviz/tools/ingest/testing/ingest_fixture_creation/randomize_fixture_data.py
  recidiviz/tools/ingest/testing/raw_data_fixtures_generator.py
Due: none

[monitoring] only generate history for `PRIMARY`, remove unused code (Recidiviz/recidiviz-data#40118)
  recidiviz/airflow/dags/monitoring/incident_trigger_gating.py
  recidiviz/airflow/dags/monitoring/raw_data_file_tag_import_runs_sql_query_generator.py
  recidiviz/airflow/tests/monitoring/alerting_trigger_predicates_test.py
  recidiviz/common/google_cloud/google_cloud_tasks_shared_queues.py
  recidiviz/ingest/direct/types/cloud_task_args.py
Due: none

Update V1 states in V2 infra to use state_task_deadline as source for sentence length (Recidiviz/recidiviz-data#39848)
  recidiviz/calculator/query/state/views/sentence_sessions/inferred_group_aggregated_sentence_projected_dates_v1_states.py
  recidiviz/calculator/query/state/views/sentence_sessions/person_projected_date_sessions.py
  recidiviz/calculator/query/state/views/sentence_sessions/person_projected_date_sessions_v1_states.py
  recidiviz/calculator/query/state/views/sentence_sessions/sentence_projected_date_sessions_v1_states.py
  recidiviz/calculator/query/state/views/sentence_sessions/sentence_sessions_views.py
  recidiviz/task_eligibility/criteria/state_specific/us_tn/no_zero_tolerance_codes_spans.py
  recidiviz/tests/calculator/query/state/views/sentence_sessions/inferred_group_aggregated_sentence_projected_dates_test.py
  recidiviz/tests/calculator/query/state/views/sentence_sessions/person_projected_date_sessions_test.py
  recidiviz/tests/calculator/query/state/views/sentence_sessions/sentence_projected_date_sessions_test.py
Due: generate_calc_documentation

[db] update sqlachemy settings (Recidiviz/recidiviz-data#40123)
  recidiviz/persistence/database/sqlalchemy_async_engine_manager.py
  recidiviz/persistence/database/sqlalchemy_database_key.py
  recidiviz/persistence/database/sqlalchemy_engine_manager.py
  recidiviz/tests/persistence/database/sqlalchemy_engine_manager_test.py
Due: none

[raw data] remove legacy metadata manger, rename v2 (Recidiviz/recidiviz-data#40145)
  recidiviz/admin_panel/ingest_dataflow_operations.py
  recidiviz/admin_panel/ingest_operations_store.py
  recidiviz/admin_panel/routes/ingest_ops.py
  recidiviz/ingest/direct/metadata/direct_ingest_raw_file_metadata_manager.py
  recidiviz/ingest/direct/metadata/legacy_direct_ingest_raw_file_metadata_manager.py
  recidiviz/tests/admin_panel/ingest_dataflow_operations_test.py
  recidiviz/tests/admin_panel/ingest_operations_store_test.py
  recidiviz/tests/admin_panel/routes/ingest_ops_test.py
  recidiviz/tests/ingest/direct/metadata/direct_ingest_raw_file_import_manager_test.py
  recidiviz/tests/ingest/direct/metadata/direct_ingest_raw_file_metadata_manager_test.py
  recidiviz/tests/ingest/direct/metadata/legacy_direct_ingest_raw_file_metadata_manager_test.py
  recidiviz/tools/ingest/development/run_sandbox_ingest_pipeline.py
  recidiviz/tools/ingest/one_offs/clear_redundant_raw_data_on_bq.py
Due: none

[docker] remove container `CMD`, docker test (Recidiviz/recidiviz-data#40178)
  Dockerfile
Due: none

[US_IX][Workflows] Fix validation error (Recidiviz/recidiviz-data#40122)
  recidiviz/task_eligibility/criteria/state_specific/us_ix/no_recent_marked_ineligible_unless_ffr.py
Due: generate_calc_documentation

Add transitions view builders for supervisor opportunities module; modify baseline calculation to accommodate opportunities module launches (Recidiviz/recidiviz-data#39172)
  recidiviz/observations/views/events/person/impact_transition.py
  recidiviz/outcome_metrics/impact_transitions_view_builder.py
  recidiviz/outcome_metrics/product_transition_type.py
  recidiviz/outcome_metrics/views/transitions_breadth_metric.py
  recidiviz/outcome_metrics/views/transitions_depth_metric.py
  recidiviz/outcome_metrics/views/transitions_metric_utils.py
  recidiviz/outcome_metrics/views/transitions_view_builders/supervisor_opportunities_module_discretionary.py
  recidiviz/outcome_metrics/views/transitions_view_builders/supervisor_opportunities_module_mandatory.py
  recidiviz/tests/outcome_metrics/transitions_breadth_metric_test.py
  recidiviz/tests/outcome_metrics/transitions_depth_metric_test.py
Due: generate_calc_documentation

[Insights] Update `_supervision_vitals_metric_query_template` to default to `0` when `SAFEDIVIDE(...,...) is null` for vitals calculations (Recidiviz/recidiviz-data#40181)
  recidiviz/calculator/query/state/views/outliers/supervision_officer_metrics.py
Due: generate_calc_documentation

[US_PA][Workflows] Update to admin ineligible offense logic (Recidiviz/recidiviz-data#39376)
  recidiviz/task_eligibility/criteria/state_specific/us_pa/not_serving_ineligible_offense_for_admin_supervision.py
  recidiviz/task_eligibility/utils/us_pa_query_fragments.py
Due: generate_calc_documentation

[raw data] add lock acquisition to `move_raw_state_files_from_storage` (Recidiviz/recidiviz-data#40146)
  recidiviz/tools/ingest/operations/move_raw_state_files_from_storage.py
Due: none

[US_PA][Workflows] Update admin supervision criteria to account for delinquent adjudications (Recidiviz/recidiviz-data#40156)
  recidiviz/task_eligibility/criteria/state_specific/us_pa/not_serving_ineligible_offense_for_admin_supervision.py
  recidiviz/task_eligibility/utils/us_pa_query_fragments.py
Due: generate_calc_documentation

[Tasks][US_TX] Update end-of-span date for assessments (Recidiviz/recidiviz-data#40187)
  recidiviz/calculator/query/state/views/workflows/firestore/us_tx_supervision_tasks_record.py
Due: generate_calc_documentation

Only show assessment due dates for active parole sessions (Recidiviz/recidiviz-data#40179)
  recidiviz/task_eligibility/criteria/state_specific/us_tx/meets_risk_assessment_standards.py
Due: generate_calc_documentation

[US_TX] Fix how we're handing NULLed out max_termination_dates (Recidiviz/recidiviz-data#40190)
  recidiviz/ingest/direct/regions/us_tx/ingest_views/view_supervision_period.py
Due: generate_docs_for_region

[deploy] allow retry statuses for current commit (Recidiviz/recidiviz-data#40186)
  recidiviz/tools/deploy/verify_github_check_statuses.py
  recidiviz/tools/utils/script_helpers.py
Due: none

[raw data] update TODOs (Recidiviz/recidiviz-data#40155)
  frontends/admin-panel/src/components/IngestStatus/RawDataFileTagRecentRunsTable.tsx
  frontends/admin-panel/src/components/IngestStatus/constants.ts
  recidiviz/airflow/dags/calculation/dataflow/single_ingest_pipeline_group.py
  recidiviz/airflow/dags/raw_data/acquire_resource_lock_sql_query_generator.py
  recidiviz/airflow/dags/raw_data/get_all_unprocessed_gcs_file_metadata_sql_query_generator.py
  recidiviz/airflow/dags/raw_data/write_file_import_start_sql_query_generator.py
  recidiviz/airflow/dags/raw_data/write_import_completions_query_generator.py
  recidiviz/ingest/direct/raw_data/direct_ingest_raw_file_load_manager.py
  recidiviz/ingest/direct/raw_data/direct_ingest_raw_table_transformation_query_builder.py
  recidiviz/validation/views/state/raw_data/stale_raw_data_validation.py
Due: generate_calc_documentation

[US_TN] SDS - add 'LATEST' to case-note headers (Recidiviz/recidiviz-data#40176)
  recidiviz/calculator/query/state/views/workflows/firestore/us_tn_suspension_of_direct_supervision_record.py
Due: generate_calc_documentation

[US_AZ] Display dates only for active sentence (Recidiviz/recidiviz-data#39738)
  recidiviz/calculator/query/state/views/analyst_data/us_az/us_az_projected_dates.py
  recidiviz/calculator/query/state/views/workflows/us_az/resident_metadata.py
Due: generate_calc_documentation

[US_CA] Bump product_roster_upcoming_blocks (Recidiviz/recidiviz-data#39651)
  recidiviz/validation/config/regions/us_ca/us_ca_validation_config.yaml
Due: none

[Testing] Consolidate fixture operations around RawDataFixture (Recidiviz/recidiviz-data#40208)
  recidiviz/tests/ingest/direct/direct_ingest_raw_fixture_loader.py
  recidiviz/tests/ingest/direct/fixture_util.py
  recidiviz/tests/ingest/direct/raw_data_fixture.py
Due: none

[looker] remove options field from color application (Recidiviz/recidiviz-data#40160)
  recidiviz/looker/lookml_dashboard_element.py
  recidiviz/tools/looker/entity/entity_dashboard_element_factory.py
Due: none

[US_TX] Remove periods when supervision status is no longer supervision (Recidiviz/recidiviz-data#40211)
  recidiviz/ingest/direct/regions/us_tx/ingest_views/view_supervision_period.py
Due: generate_docs_for_region

[Insights] Add metric for clients eligible and unviewed for >30 days (Recidiviz/recidiviz-data#40027)
  recidiviz/aggregated_metrics/configuration/collections/impact_reports.py
  recidiviz/aggregated_metrics/models/aggregated_metric_configurations.py
  recidiviz/calculator/query/state/views/analyst_data/workflows_person_impact_funnel_status_sessions.py
  recidiviz/observations/views/spans/person/workflows_person_impact_funnel_status_session.py
Due: generate_calc_documentation

[US_TN] Further changes to follow up T/P flags added to raw text fields (Recidiviz/recidiviz-data#40132)
  recidiviz/pipelines/utils/state_utils/us_tn/us_tn_incarceration_period_normalization_delegate.py
  recidiviz/tests/pipelines/utils/state_utils/us_tn/us_tn_incarceration_period_normalization_delegate_test.py
Due: generate_calc_documentation

[US_NE] Conditional Low Risk overrides TES (Recidiviz/recidiviz-data#39905)
  recidiviz/task_eligibility/criteria/general/on_parole_at_least_one_year.py
  recidiviz/task_eligibility/criteria/general/supervision_level_is_minimum.py
  recidiviz/task_eligibility/criteria/state_specific/us_ne/__init__.py
  recidiviz/task_eligibility/criteria/state_specific/us_ne/compliant_with_special_conditions.py
  recidiviz/task_eligibility/eligibility_spans/us_ne/__init__.py
  recidiviz/task_eligibility/eligibility_spans/us_ne/conditional_low_risk_supervision_override.py
  recidiviz/tests/task_eligibility/task_eligibility_spans_test.py
Due: generate_calc_documentation

[US_TX] Add expiration date to client record for tx (Recidiviz/recidiviz-data#40216)
  recidiviz/calculator/query/state/views/workflows/firestore/client_record.py
  recidiviz/calculator/query/state/views/workflows/firestore/client_record_ctes.py
  recidiviz/calculator/query/state/views/workflows/us_tx/__init__.py
  recidiviz/calculator/query/state/views/workflows/us_tx/shared_ctes.py
  recidiviz/view_registry/raw_data_reference_reasons.yaml
Due: generate_docs_for_region, generate_calc_documentation, alphabetize_yaml

[US_AZ] Remove unused enums (Recidiviz/recidiviz-data#40162)
  recidiviz/ingest/direct/regions/us_ut/ingest_mappings/us_ut_assessment.yaml
Due: generate_docs_for_region

[bq] increase timeout threshold for `supervision_officer_eligibility_sessions` (Recidiviz/recidiviz-data#40219)
  recidiviz/big_query/view_update_config.py
Due: generate_calc_documentation

[deploy] improve logging (Recidiviz/recidiviz-data#40217)
  recidiviz/tools/deploy/verify_github_check_statuses.py
  recidiviz/tools/utils/script_helpers.py
Due: none

[US_TN] Use new analyst view for completion events (Recidiviz/recidiviz-data#39850)
  recidiviz/calculator/query/state/views/analyst_data/us_tn/us_tn_supervision_level_raw_text_sessions_inferred.py
  recidiviz/task_eligibility/completion_events/state_specific/us_tn/supervision_level_downgrade.py
  recidiviz/task_eligibility/completion_events/state_specific/us_tn/transfer_to_limited_supervision.py
  recidiviz/task_eligibility/completion_events/state_specific/us_tn/transfer_to_no_contact_parole.py
  recidiviz/task_eligibility/criteria/state_specific/us_tn/not_on_suspension_of_direct_supervision.py
  recidiviz/view_registry/raw_data_reference_reasons.yaml
Due: generate_docs_for_region, generate_calc_documentation, alphabetize_yaml

[Workflows] Add raw case type string to client record (Recidiviz/recidiviz-data#40212)
  recidiviz/calculator/query/state/views/workflows/firestore/client_record_ctes.py
Due: generate_calc_documentation

[US_UT] fix bug in sync script (Recidiviz/recidiviz-data#40221)
  recidiviz/tools/ingest/regions/us_ut/sync_bq_mirror_to_ingest_bucket.py
Due: none

[US_TX][Tasks] Add type-agnostic contacts to task record (Recidiviz/recidiviz-data#40205)
  recidiviz/calculator/query/state/views/workflows/firestore/us_tx_supervision_tasks_record.py
  recidiviz/tools/find_unused_bq_views.py
Due: generate_calc_documentation

Path conditions:
  generate_docs_for_region: any of: ^recidiviz/ingest/direct/regions/|^recidiviz/view_registry/raw_data_reference_reasons.yaml
  generate_docs_for_endpoint: any of: (?x)(^recidiviz/tools/docs/endpoint_documentation_generator.py|^recidiviz/server_blueprint_registry.py|.*/routes/|.*routes.py|.*/server.py|.*control.py|.*endpoint.py|.*endpoints.py|^recidiviz/backup/backup_manager.py|^recidiviz/pipelines/calculation_data_storage_manager.py)$, but not: ^recidiviz/tests
  generate_entity_documentation: any of: (?x)(^recidiviz/persistence/database/schema/state/schema.py|^recidiviz/persistence/entity/state/normalized_entities.py|^recidiviz/persistence/entity/state/entities.py|^recidiviz/common/constants/state/)$

  generate_calc_documentation: any of: ^recidiviz/calculator/|^recidiviz/pipelines/|^recidiviz/metrics/|^recidiviz/.*/views/|^recidiviz/big_query/|^recidiviz/persistence/database/schema/|^recidiviz/persistence/entity/|^recidiviz/task_eligibility/|^recidiviz/monitoring/platform_kpis/, but not: ^recidiviz/tests/|^recidiviz/calculator/modeling/
  generate_ingest_mappings_schema_documentation: any of: ^recidiviz/ingest/direct/ingest_mappings/yaml_schema/|^docs/engineering/ingest_mapping_schema/
  update_terraform_lock_file: any of: ^recidiviz/tools/deploy/terraform/
  terraform_fmt: any of: ^recidiviz/tools/deploy/terraform/
  alphabetize_yaml: any of: recidiviz/view_registry/raw_data_reference_reasons.yaml
