Repository Recidiviz/pulse-data: changes, and which pre-commit hooks are due for each by the changed paths.
All: generate_docs_for_region, generate_docs_for_endpoint, generate_entity_documentation

generate_docs_for_region:
  name: generate_docs_for_region
  entry: pipenv run python -m recidiviz.tools.docs.region_documentation_generator
  language: system
  require_serial: true

generate_docs_for_endpoint:
  name: generate_docs_for_endpoint
  entry: pipenv run python -m recidiviz.tools.docs.endpoint_documentation_generator
  language: system
  require_serial: true

generate_entity_documentation:
  name: generate_entity_documentation
  entry: pipenv run python -m recidiviz.tools.docs.entity_documentation_generator
  language: system
  require_serial: true

[raw data] add `dag_run_id` to temp table addresses to avoid expiration race condition (Recidiviz/recidiviz-data#37935)
  recidiviz/airflow/dags/raw_data/bq_load_tasks.py
  recidiviz/airflow/dags/raw_data_import_dag.py
  recidiviz/airflow/tests/raw_data/bq_load_tasks_test.py
  recidiviz/airflow/tests/raw_data_import_dag_test.py
  recidiviz/ingest/direct/raw_data/direct_ingest_raw_file_load_manager.py
  recidiviz/ingest/direct/raw_data/direct_ingest_raw_file_sandbox_import.py
  recidiviz/ingest/direct/types/direct_ingest_constants.py
  recidiviz/tests/ingest/direct/raw_data/direct_ingest_raw_file_load_manager_test.py
  recidiviz/tests/ingest/direct/raw_data/direct_ingest_raw_file_sandbox_import_test.py
Due: generate_docs_for_endpoint

[Spotlight] Refresh `state_resident_populations` CSV with 2022 data (Recidiviz/recidiviz-data#38073)
  recidiviz/datasets/static_data/state_resident_populations.csv
  recidiviz/tools/datasets/refresh_state_resident_populations.py
Due: generate_docs_for_endpoint

[Cleanup] Remove more usages of STATE SQLAlchemy schema (Recidiviz/recidiviz-data#38083)
  recidiviz/airflow/tests/calculation_dag_test.py
  recidiviz/airflow/tests/fixtures/entrypoints_args.yaml
  recidiviz/persistence/database/schema_type.py
  recidiviz/persistence/database/schema_utils.py
  recidiviz/persistence/entity/entity_utils.py
  recidiviz/persistence/entity/root_entity_utils.py
  recidiviz/tests/persistence/database/schema/state/schema_test.py
  recidiviz/tests/persistence/database/schema_utils_test.py
  recidiviz/tests/persistence/entity/entity_utils_test.py
  recidiviz/tests/persistence/entity/state/entities_test.py
  recidiviz/tests/pipelines/fake_bigquery.py
  recidiviz/tests/validation/stable_counts_validations_test.py
Due: generate_docs_for_endpoint

[looker] Add helper classes for entity view generation (Recidiviz/recidiviz-data#38005)
  recidiviz/looker/lookml_bq_utils.py
  recidiviz/persistence/entity/entity_metadata_helper.py
  recidiviz/tests/looker/lookml_bq_utils_test.py
  recidiviz/tests/persistence/entity/entity_metadata_helper_test.py
  recidiviz/tests/tools/looker/entity/__init__.py
  recidiviz/tests/tools/looker/entity/entity_field_builders_test.py
  recidiviz/tools/looker/entity/__init__.py
  recidiviz/tools/looker/entity/entity_field_builders.py
Due: generate_docs_for_endpoint

[looker] Generate state views using entity classes (Recidiviz/recidiviz-data#38017)
  recidiviz/looker/lookml_view_field.py
  recidiviz/tests/tools/looker/state/state_dataset_view_generator_test.py
  recidiviz/tools/looker/state/state_dataset_lookml_writer.py
  recidiviz/tools/looker/state/state_dataset_view_generator.py
Due: generate_docs_for_endpoint

rename SUPERVISION_OFFICER unit of analysis type to SUPERVISION_OFFICER_OR_PREVIOUS_IF_TRANSITIONAL (Recidiviz/recidiviz-data#38061)
  recidiviz/aggregated_metrics/assignment_sessions_view_builder.py
  recidiviz/aggregated_metrics/assignment_sessions_view_collector.py
  recidiviz/aggregated_metrics/configuration/collections/standard.py
  recidiviz/aggregated_metrics/configuration/collections/vitals.py
  recidiviz/aggregated_metrics/legacy/misc_aggregated_metrics.py
  recidiviz/aggregated_metrics/models/aggregated_metric_configurations.py
  recidiviz/aggregated_metrics/models/metric_unit_of_analysis_type.py
  recidiviz/aggregated_metrics/supervision_officer_caseload_count_spans.py
  recidiviz/calculator/query/state/views/analyst_data/early_discharge_reports_per_officer.py
  recidiviz/calculator/query/state/views/analyst_data/us_mi/us_mi_insights_workflows_details_for_leadership.py
  recidiviz/calculator/query/state/views/outliers/supervision_client_events.py
  recidiviz/calculator/query/state/views/outliers/supervision_metrics_helpers.py
  recidiviz/calculator/query/state/views/outliers/supervision_officer_metrics.py
  recidiviz/calculator/query/state/views/outliers/supervision_officers.py
  recidiviz/calculator/query/state/views/outliers/utils.py
  recidiviz/tests/aggregated_metrics/aggregated_metrics_view_builder_test.py
  recidiviz/tests/aggregated_metrics/models/metric_unit_of_analysis_type_test.py
  recidiviz/tests/aggregated_metrics/query_building/build_aggregated_metric_query_test.py
  recidiviz/tests/aggregated_metrics/query_building/build_single_observation_type_aggregated_metric_query_test.py
  recidiviz/tools/analyst/aggregated_metrics_utils.py
  recidiviz/tools/insights/performance_review_spreadsheets/officer_aggregated_metrics.py
  recidiviz/tools/insights/performance_review_spreadsheets/officer_aggregated_metrics_from_sandbox.py
  recidiviz/tools/looker/aggregated_metrics/custom_insights_metrics_lookml_generator.py
  recidiviz/tools/looker/aggregated_metrics/custom_workflows_metrics_lookml_generator.py
  recidiviz/validation/views/state/outliers/unidentified_supervision_officer_supervisors.py
Due: generate_docs_for_endpoint

add SUPERVISION_OFFICER unit of analysis that uses supervision_officer_sessions for person assignment (Recidiviz/recidiviz-data#38076)
  recidiviz/aggregated_metrics/assignment_sessions_view_builder.py
  recidiviz/aggregated_metrics/assignment_sessions_view_collector.py
  recidiviz/aggregated_metrics/configuration/collections/standard.py
  recidiviz/aggregated_metrics/models/metric_unit_of_analysis_type.py
Due: generate_docs_for_endpoint

[US_UT] Add LS/RNR and use it in Utah (Recidiviz/recidiviz-data#38091)
  recidiviz/common/constants/state/enum_canonical_strings.py
  recidiviz/common/constants/state/state_assessment.py
  recidiviz/ingest/direct/regions/us_ut/ingest_mappings/us_ut_assessment.yaml
  recidiviz/persistence/database/schema/state/schema.py
  recidiviz/pipelines/ingest/state/normalization/normalization_managers/assessment_normalization_manager.py
  recidiviz/task_eligibility/criteria/state_specific/us_ut/risk_level_reduction_of_one_or_more.py
  recidiviz/task_eligibility/criteria/state_specific/us_ut/risk_level_stayed_moderate_or_low.py
  recidiviz/task_eligibility/criteria/state_specific/us_ut/risk_score_reduction_5_percent_or_more.py
Due: generate_docs_for_region, generate_docs_for_endpoint, generate_entity_documentation

[US_OR] EDIS - fix exclusion for felony DUI (Recidiviz/recidiviz-data#38075)
  recidiviz/task_eligibility/utils/us_or_query_fragments.py
Due: generate_docs_for_endpoint

[kpis][velocity] add average dag run time (Recidiviz/recidiviz-data#38078)
  recidiviz/monitoring/platform_kpis/velocity/dag_runtimes.py
  recidiviz/monitoring/platform_kpis/velocity/velocity_views.py
  recidiviz/tests/source_tables/source_tables_test.py
  recidiviz/view_registry/deployed_address_schema_utils.py
Due: generate_docs_for_endpoint

[Terraform] Update scheduled query for hydration archive to match schema (Recidiviz/recidiviz-data#38099)
  recidiviz/tools/deploy/terraform/bigquery-scheduled-queries.tf
Due: generate_docs_for_endpoint

[Sessions] Create sentence_sessions query for sentence_imposed_group_summary (Recidiviz/recidiviz-data#37896)
  recidiviz/calculator/query/state/views/sentence_sessions/sentence_imposed_group_summary.py
  recidiviz/calculator/query/state/views/sentence_sessions/sentence_sessions_views.py
  recidiviz/tests/calculator/query/state/views/sentence_sessions/sentence_imposed_group_summary_test.py
  recidiviz/tools/find_unused_bq_views.py
Due: generate_docs_for_endpoint

[Cleanup] Remove comments from state/schema.py (Recidiviz/recidiviz-data#38092)
  recidiviz/persistence/database/schema/state/schema.py
  recidiviz/tests/pipelines/ingest/state/validator_test.py
Due: generate_docs_for_endpoint, generate_entity_documentation

[Cleanup] Remove stale schema_hydration_doc_generator script (Recidiviz/recidiviz-data#38093)
  recidiviz/persistence/database/schema_utils.py
  recidiviz/tools/docs/schema_hydration_doc_generator.py
Due: generate_docs_for_endpoint

[US_IX][Workflows] Update supervision start date to be based on custodial authority (Recidiviz/recidiviz-data#38051)
  recidiviz/task_eligibility/criteria/general/under_supervision_custodial_authority_at_least_one_year.py
  recidiviz/task_eligibility/eligibility_spans/us_ix/complete_transfer_to_limited_supervision_form.py
  recidiviz/task_eligibility/eligibility_spans/us_ix/complete_transfer_to_limited_supervision_jii_form.py
  recidiviz/task_eligibility/utils/general_criteria_builders.py
Due: generate_docs_for_endpoint

[US_MI] Add known value for ADH_EMPLOYEE (Recidiviz/recidiviz-data#38085)
  recidiviz/ingest/direct/regions/us_mi/raw_data/us_mi_ADH_EMPLOYEE.yaml
Due: generate_docs_for_region, generate_docs_for_endpoint

separate the query for zero grants out of supervision_metrics_helpers (Recidiviz/recidiviz-data#38095)
  recidiviz/calculator/query/state/views/outliers/supervision_metrics_helpers.py
  recidiviz/calculator/query/state/views/outliers/supervision_officer_metrics.py
Due: generate_docs_for_endpoint

[US_AR] Classify disposition judgements as "CONVICTED" charges (Recidiviz/recidiviz-data#38106)
  recidiviz/ingest/direct/regions/us_ar/ingest_mappings/us_ar_incarceration_sentence.yaml
  recidiviz/ingest/direct/regions/us_ar/ingest_mappings/us_ar_sentence.yaml
  recidiviz/ingest/direct/regions/us_ar/ingest_views/us_ar_view_query_fragments.py
  recidiviz/ingest/direct/regions/us_ar/ingest_views/view_incarceration_sentence.py
Due: generate_docs_for_region, generate_docs_for_endpoint

[US_MO] Validation bumps for active_in_population_after_death_date and in_custody_sps_have_associated_ip (Recidiviz/recidiviz-data#38127)
  recidiviz/validation/config/regions/us_mo/us_mo_validation_config.yaml
Due: generate_docs_for_endpoint

[ID Perf][Insights] Remove rows from the sheet in preparation for sending (Recidiviz/recidiviz-data#37487)
  recidiviz/tools/insights/performance_review_spreadsheets/generate.py
Due: generate_docs_for_endpoint

[US_ND] Add raw data reference file for ND counties and districts (Recidiviz/recidiviz-data#38108)
  recidiviz/datasets/static_data/counties_and_districts.csv
  recidiviz/ingest/direct/regions/us_nd/raw_data/us_nd_RECIDIVIZ_REFERENCE_county_to_district_mapping.yaml
Due: generate_docs_for_region, generate_docs_for_endpoint

[ID Perf][Insights] Reorder and rename rows and sections (Recidiviz/recidiviz-data#37489)
  recidiviz/tools/insights/performance_review_spreadsheets/generate.py
Due: generate_docs_for_endpoint

[ID Perf][Insights] Add officer header section to sheet (Recidiviz/recidiviz-data#37490)
  recidiviz/tools/insights/performance_review_spreadsheets/generate.py
  recidiviz/tools/insights/performance_review_spreadsheets/supervisors_and_officers.py
Due: generate_docs_for_endpoint

[US_CA] Add known values (Recidiviz/recidiviz-data#38136)
  recidiviz/ingest/direct/regions/us_ca/raw_data/us_ca_IncarcerationParole.yaml
Due: generate_docs_for_region, generate_docs_for_endpoint

[raw data] update DAG to run at 5 am EST instead of 3 AM (Recidiviz/recidiviz-data#38126)
  recidiviz/tools/deploy/terraform/cloud-scheduler.tf
Due: generate_docs_for_endpoint

[US_OR] adding documentation for known values in FELONY IS MISDEMEANOR (Recidiviz/recidiviz-data#38146)
  recidiviz/ingest/direct/regions/us_or/raw_data/us_or_RCDVZ_PRDDTA_OP053P.yaml
Due: generate_docs_for_region, generate_docs_for_endpoint

[Normalization] Conditionally create inferred and imposed groups based on StateSentenceStatusSnapshot ingestion (Recidiviz/recidiviz-data#37806)
  recidiviz/persistence/entity/state/normalized_entities.py
  recidiviz/pipelines/ingest/state/expected_output_helpers.py
  recidiviz/pipelines/ingest/state/normalization/infer_sentence_groups.py
  recidiviz/pipelines/ingest/state/normalization/normalization_managers/sentence_normalization_manager.py
  recidiviz/pipelines/ingest/state/normalization/normalize_sentences.py
  recidiviz/pipelines/ingest/state/normalization/normalize_state_person.py
  recidiviz/pipelines/ingest/state/normalize_root_entities.py
  recidiviz/tests/calculator/query/state/views/sentence_sessions/sentence_imposed_group_summary_test.py
  recidiviz/tests/persistence/entity/state/normalized_entities_test.py
  recidiviz/tests/pipelines/ingest/state/expected_output_helpers_test.py
  recidiviz/tests/pipelines/ingest/state/normalization/infer_sentence_groups_test.py
  recidiviz/tests/pipelines/ingest/state/normalization/normalize_state_person_test.py
  recidiviz/tests/pipelines/ingest/state/normalization/regions/us_az/us_az_normalize_sentences_test.py
  recidiviz/tests/pipelines/ingest/state/normalization/regions/us_mo/us_mo_normalize_sentences_test.py
Due: generate_docs_for_endpoint

[Reference Data] Map 'Not Available' race to EXTERNAL_UNKNOWN (Recidiviz/recidiviz-data#38144)
  recidiviz/calculator/query/state/views/external_reference/state_resident_population.py
  recidiviz/source_tables/externally_managed/external_reference/state_resident_populations.yaml
Due: generate_docs_for_endpoint

[Normalization] Allow completion dates to arise from sentence length in days (Recidiviz/recidiviz-data#37922)
  recidiviz/persistence/entity/state/normalized_entities.py
  recidiviz/pipelines/ingest/state/normalization/normalization_managers/sentence_normalization_manager.py
  recidiviz/pipelines/ingest/state/normalization/normalize_sentences.py
  recidiviz/tests/pipelines/ingest/state/normalization/normalize_sentences_test.py
Due: generate_docs_for_endpoint

[ID Perf][Insights] Add cell formatting tweaks (Recidiviz/recidiviz-data#37491)
  recidiviz/tools/insights/performance_review_spreadsheets/generate.py
Due: generate_docs_for_endpoint

[US_IX][Workflows] Update state_task_deadline with parole hearing date logic (Recidiviz/recidiviz-data#37901)
  recidiviz/ingest/direct/regions/us_ix/ingest_mappings/us_ix_parole_hearing_deadline.yaml
  recidiviz/ingest/direct/regions/us_ix/ingest_views/view_parole_hearing_deadline.py
Due: generate_docs_for_region, generate_docs_for_endpoint

remove caseload_type from insights schema (Recidiviz/recidiviz-data#38133)
  recidiviz/persistence/database/schema/insights/schema.py
  recidiviz/tests/outliers/querier_test.py
Due: generate_docs_for_endpoint

[Sentencing][US_IX] Create a counties + districts view for metric export (Recidiviz/recidiviz-data#38132)
  recidiviz/calculator/query/state/views/sentencing/counties_and_districts.py
  recidiviz/calculator/query/state/views/sentencing/sentencing_views.py
  recidiviz/calculator/query/state/views/sentencing/us_ix/sentencing_counties_and_districts_template.py
Due: generate_docs_for_endpoint

[ID Perf][Insights] Add officers from 6 months ago who aren't current officers (Recidiviz/recidiviz-data#37550)
  recidiviz/tools/insights/performance_review_spreadsheets/generate.py
  recidiviz/tools/insights/performance_review_spreadsheets/supervisors_and_officers.py
Due: generate_docs_for_endpoint

[US_TX] Charges raw data config (Recidiviz/recidiviz-data#38166)
  recidiviz/ingest/direct/regions/us_tx/raw_data/us_tx_Charges.yaml
Due: generate_docs_for_region, generate_docs_for_endpoint

[US_NE] Adding correct column name for PIMSParoleeInformation_Aud (Recidiviz/recidiviz-data#38143)
  recidiviz/ingest/direct/regions/us_ne/raw_data/us_ne_PIMSParoleeInformation_Aud.yaml
Due: generate_docs_for_region, generate_docs_for_endpoint

[Impact Metrics] Calculates breadth and depth metrics (Recidiviz/recidiviz-data#37657)
  recidiviz/observations/views/events/person/impact_transition.py
  recidiviz/outcome_metrics/dataset_config.py
  recidiviz/outcome_metrics/impact_transitions_view_builder.py
  recidiviz/outcome_metrics/view_config.py
  recidiviz/outcome_metrics/views/transitions_breadth_metric.py
  recidiviz/outcome_metrics/views/transitions_depth_metric.py
  recidiviz/outcome_metrics/views/transitions_metric_utils.py
  recidiviz/outcome_metrics/views/transitions_view_builders/supervisor_outcomes_module.py
  recidiviz/tests/outcome_metrics/__init__.py
  recidiviz/tests/outcome_metrics/transitions_breadth_metric_test.py
  recidiviz/tests/outcome_metrics/transitions_depth_metric_test.py
  recidiviz/tools/find_unused_bq_views.py
  recidiviz/view_registry/deployed_address_schema_utils.py
Due: generate_docs_for_endpoint

[US_MO] Fix initial hearing criterion (Recidiviz/recidiviz-data#37932)
  recidiviz/task_eligibility/criteria/state_specific/us_mo/initial_hearing_past_due_date.py
Due: generate_docs_for_endpoint

[US_PA] Add known values for Role from staff roster, add quoting to error message (Recidiviz/recidiviz-data#38164)
  recidiviz/ingest/direct/raw_data/validations/known_values_column_validation.py
  recidiviz/ingest/direct/regions/us_pa/raw_data/us_pa_RECIDIVIZ_REFERENCE_staff_roster.yaml
  recidiviz/tests/ingest/direct/raw_data/validations/known_values_column_validation_test.py
Due: generate_docs_for_region, generate_docs_for_endpoint

[US_UT] python version of bash script (Recidiviz/recidiviz-data#37924)
  recidiviz/tools/ingest/regions/us_ut/__init__.py
  recidiviz/tools/ingest/regions/us_ut/export_bq_mirror_to_ingest_bucket.py
Due: generate_docs_for_endpoint

Path conditions:
  generate_docs_for_region: any of: ^recidiviz/ingest/direct/regions/
  generate_docs_for_endpoint: any of: ^recidiviz/, but not: (?x)(^recidiviz/tests/|^recidiviz/tools/|^recidiviz/ingest/direct/regions/)$

  generate_entity_documentation: any of: (?x)(^recidiviz/persistence/database/schema/state/schema.py|^recidiviz/persistence/database/schema/history_table_shared_columns_mixin.py)$

