Repository Recidiviz/pulse-data: changes, and which pre-commit hooks are due for each by the changed paths.
All: generate_docs_for_region, generate_docs_for_endpoint, generate_entity_documentation

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.3.0
    hooks:
      - id: check-yaml
  - repo: https://github.com/psf/black
    rev: 20.8b1
    hooks:
      - id: black
        language_version: python3
  - repo: local
    hooks:
      - id: generate_docs_for_region
        name: generate_docs_for_region
        entry: pipenv run python -m recidiviz.tools.docs.region_documentation_generator
        language: system
        files: ^recidiviz/ingest/direct/regions/
        require_serial: true
      - id: generate_docs_for_endpoint
        name: generate_docs_for_endpoint
        entry: pipenv run python -m recidiviz.tools.docs.endpoint_documentation_generator
        language: system
        files: ^recidiviz/
        exclude: >
          (?x)(^recidiviz/tests/|^recidiviz/tools/|^recidiviz/ingest/direct/regions/)$
        require_serial: true
      - id: generate_entity_documentation
        name: generate_entity_documentation
        entry: pipenv run python -m recidiviz.tools.docs.entity_documentation_generator
        language: system
        files: >
           (?x)(^recidiviz/persistence/database/schema/state/schema.py|^recidiviz/persistence/database/schema/history_table_shared_columns_mixin.py)$
        require_serial: true

[Outliers] Use state code as external_id for CSG (Recidiviz/recidiviz-data#25961)
  recidiviz/case_triage/authorization_utils.py
  recidiviz/case_triage/outliers/outliers_authorization.py
  recidiviz/case_triage/pathways/pathways_authorization.py
  recidiviz/tests/case_triage/outliers/outliers_authorization_test.py
  recidiviz/tests/case_triage/outliers/outliers_routes_test.py
Due: generate_docs_for_endpoint

Launching US_AR to staging for ingest in Dataflow (Recidiviz/recidiviz-data#26003)
  recidiviz/ingest/direct/gating.py
Due: generate_docs_for_endpoint

[Ingest] Add $not expression to view mappings language (Recidiviz/recidiviz-data#25878)
  recidiviz/ingest/direct/ingest_mappings/ingest_view_manifest.py
  recidiviz/ingest/direct/ingest_mappings/yaml_schema/1.0.0/boolean_expressions/index.json
  recidiviz/ingest/direct/ingest_mappings/yaml_schema/1.0.0/boolean_expressions/not.json
  recidiviz/tests/ingest/direct/ingest_mappings/fixtures/ingest_view_file_parser/ingest_view_files/should_launch_inverse.csv
  recidiviz/tests/ingest/direct/ingest_mappings/fixtures/ingest_view_file_parser/manifests/boolean_condition_complex_null.yaml
  recidiviz/tests/ingest/direct/ingest_mappings/fixtures/ingest_view_file_parser/manifests/should_launch_inverse.yaml
  recidiviz/tests/ingest/direct/ingest_mappings/ingest_view_manifest_compiler_test.py
  recidiviz/tests/ingest/direct/regions/state_ingest_view_parser_test_base.py
Due: generate_docs_for_endpoint

Validation bumps (Recidiviz/recidiviz-data#25995)
  recidiviz/validation/config/regions/us_ca/us_ca_validation_config.yaml
  recidiviz/validation/config/regions/us_ix/us_ix_validation_config.yaml
  recidiviz/validation/config/regions/us_me/us_me_validation_config.yaml
  recidiviz/validation/config/regions/us_mi/us_mi_validation_config.yaml
  recidiviz/validation/config/regions/us_nd/us_nd_validation_config.yaml
  recidiviz/validation/config/regions/us_pa/us_pa_validation_config.yaml
Due: generate_docs_for_endpoint

[Justice Counts] Update README with DB migration instructions (Recidiviz/recidiviz-data#26005)
  recidiviz/justice_counts/control_panel/README.md
Due: generate_docs_for_endpoint

[TES] Modify critical_date_has_passed utils function (Recidiviz/recidiviz-data#25971)
  recidiviz/task_eligibility/criteria/general/supervision_past_early_discharge_date.py
  recidiviz/task_eligibility/criteria/state_specific/us_ix/parole_hearing_date_within_7_years.py
  recidiviz/task_eligibility/criteria/state_specific/us_ix/tentative_parole_date_within_18_months.py
  recidiviz/task_eligibility/criteria/state_specific/us_ix/tentative_parole_date_within_1_year.py
  recidiviz/task_eligibility/criteria/state_specific/us_ix/tentative_parole_date_within_3_years.py
  recidiviz/task_eligibility/criteria/state_specific/us_ix/tentative_parole_date_within_6_months.py
  recidiviz/task_eligibility/criteria/state_specific/us_ix/tentative_parole_date_within_7_years.py
  recidiviz/task_eligibility/criteria/state_specific/us_mo/overdue_for_hearing.py
  recidiviz/task_eligibility/utils/critical_date_query_fragments.py
  recidiviz/task_eligibility/utils/us_ix_query_fragments.py
Due: generate_docs_for_endpoint

[Ingest] Add is_dataflow_enabled property for gating views (Recidiviz/recidiviz-data#25877)
  recidiviz/entrypoints/ingest/ingest_pipeline_should_run_in_dag.py
  recidiviz/ingest/direct/controllers/ingest_view_processor.py
  recidiviz/ingest/direct/ingest_mappings/ingest_view_contents_context.py
  recidiviz/ingest/direct/ingest_mappings/ingest_view_manifest_collector.py
  recidiviz/ingest/direct/ingest_mappings/ingest_view_manifest_compiler_delegate.py
  recidiviz/pipelines/dataflow_output_table_manager.py
  recidiviz/pipelines/ingest/state/generate_entities.py
  recidiviz/pipelines/ingest/state/pipeline.py
  recidiviz/tests/ingest/direct/fake_regions/us_dd/ingest_mappings/us_dd_ingestTaskDeadline.yaml
  recidiviz/tests/ingest/direct/fake_regions/us_xx/ingest_mappings/us_xx_tagMoreBasicData_legacy.yaml
  recidiviz/tests/ingest/direct/fake_regions/us_xx/ingest_views/view_tagMoreBasicData_legacy.py
  recidiviz/tests/ingest/direct/fakes/fake_direct_ingest_controller.py
  recidiviz/tests/ingest/direct/ingest_mappings/ingest_view_manifest_collector_test.py
  recidiviz/tests/ingest/direct/regions/direct_ingest_region_structure_test.py
  recidiviz/tests/ingest/direct/regions/region_direct_ingest_controller_test_case.py
  recidiviz/tests/ingest/direct/regions/state_ingest_view_parser_test_base.py
  recidiviz/tests/ingest/direct/views/direct_ingest_latest_view_collector_test.py
  recidiviz/tests/pipelines/ingest/state/exemptions_test.py
  recidiviz/tests/pipelines/ingest/state/merge_ingest_view_root_entity_trees_test.py
  recidiviz/tests/pipelines/ingest/state/pipeline_test.py
  recidiviz/tests/pipelines/ingest/state/test_case.py
  recidiviz/tools/ingest/development/run_mappings_against_ingest_view_results.py
  recidiviz/tools/ingest/development/run_sandbox_ingest_pipeline.py
  recidiviz/tools/ingest/operations/ingest_stability_check.py
Due: generate_docs_for_endpoint

Update IX copy to include bench warrants (Recidiviz/recidiviz-data#26011)
  recidiviz/outliers/outliers_configs.py
Due: generate_docs_for_endpoint

[Bugfix] Add state_code col back to association tables in BQ (Recidiviz/recidiviz-data#25982)
  recidiviz/persistence/database/bq_refresh/big_query_table_manager.py
  recidiviz/persistence/database/bq_refresh/union_dataflow_ingest.py
  recidiviz/tests/persistence/database/bq_refresh/union_dataflow_ingest_test.py
Due: generate_docs_for_endpoint

[US_OZ] Added SM_ID to OZ Validation (Recidiviz/recidiviz-data#25981)
  recidiviz/validation/views/external_data/regions/us_oz/incarceration_population_person_level.py
Due: generate_docs_for_endpoint

[US_IX] Add two exception months for stable counts (Recidiviz/recidiviz-data#26016)
  recidiviz/validation/views/state/stable_counts/stable_counts.py
Due: generate_docs_for_endpoint

[Outliers] Create views in BQ for archived exports with export date (Recidiviz/recidiviz-data#25998)
  recidiviz/calculator/query/state/views/outliers/outliers_views.py
  recidiviz/calculator/query/state/views/outliers/supervision_officer_outlier_status_archive.py
  recidiviz/calculator/query/state/views/outliers/supervision_officer_supervisors_archive.py
  recidiviz/calculator/query/state/views/outliers/supervision_officers_archive.py
  recidiviz/tools/outliers/load_local_db.py
Due: generate_docs_for_endpoint

[ETL] Update Firestore ETL to skip files exported via sandbox DAG runs (Recidiviz/recidiviz-data#26021)
  recidiviz/tests/workflows/etl/routes_test.py
  recidiviz/workflows/etl/routes.py
Due: generate_docs_for_endpoint

[US_TN] Add enum mapping for FAPA-MEDFU to incarceration period release reason (Recidiviz/recidiviz-data#26026)
  recidiviz/ingest/direct/regions/us_tn/ingest_mappings/us_tn_OffenderMovementIncarcerationPeriod_v3.yaml
Due: generate_docs_for_region, generate_docs_for_endpoint

[Bugfix] Properly skip raw data pruning datasets in empty dataset cleanup (Recidiviz/recidiviz-data#26017)
  recidiviz/pipelines/calculation_data_storage_manager.py
  recidiviz/tests/pipelines/calculation_data_storage_manager_test.py
Due: generate_docs_for_endpoint

Revert "[Outliers] Create views in BQ for archived exports with export date" (Recidiviz/recidiviz-data#26030)
  recidiviz/calculator/query/state/views/outliers/outliers_views.py
  recidiviz/calculator/query/state/views/outliers/supervision_officer_outlier_status_archive.py
  recidiviz/calculator/query/state/views/outliers/supervision_officer_supervisors_archive.py
  recidiviz/calculator/query/state/views/outliers/supervision_officers_archive.py
  recidiviz/tools/outliers/load_local_db.py
Due: generate_docs_for_endpoint

Launching US_IX to staging for ingest in Dataflow (Recidiviz/recidiviz-data#26018)
  recidiviz/ingest/direct/gating.py
Due: generate_docs_for_endpoint

[Tools] Add script for detecting unused views (Recidiviz/recidiviz-data#25784)
  recidiviz/pipelines/base_pipeline.py
  recidiviz/pipelines/ingest/state/pipeline.py
  recidiviz/pipelines/metrics/base_metric_pipeline.py
  recidiviz/pipelines/normalization/comprehensive/pipeline.py
  recidiviz/pipelines/supplemental/base_supplemental_dataset_pipeline.py
  recidiviz/tests/tools/find_unused_bq_views_test.py
  recidiviz/tools/display_bq_dag_for_view.py
  recidiviz/tools/find_unused_bq_views.py
  recidiviz/view_registry/deployed_views.py
Due: generate_docs_for_endpoint

fix to compare_tables_helper to include rows in the differences view that are in original or new only (Recidiviz/recidiviz-data#26038)
  recidiviz/tools/utils/compare_tables_helper.py
Due: generate_docs_for_endpoint

[TES] Rename criteria to supervision_level_is_medium_or_lower (Recidiviz/recidiviz-data#25999)
  recidiviz/task_eligibility/criteria/general/supervision_level_is_medium_or_lower.py
  recidiviz/task_eligibility/eligibility_spans/us_me/early_termination_from_probation_request.py
Due: generate_docs_for_endpoint

[US_PA] Renamed US_PA_CONTROL variable to US_PA_CONT (Recidiviz/recidiviz-data#26001)
  recidiviz/common/constants/state/external_id_types.py
  recidiviz/pipelines/utils/state_utils/us_pa/us_pa_incarceration_metrics_producer_delegate.py
  recidiviz/tests/common/constants/state/external_id_types_test.py
Due: generate_docs_for_endpoint

[Justice Counts] Do not return Missing Sheet warnings when uploading CSV files. (Recidiviz/recidiviz-data#25921)
  recidiviz/justice_counts/bulk_upload/workbook_uploader.py
  recidiviz/justice_counts/control_panel/routes/api.py
  recidiviz/justice_counts/spreadsheet.py
  recidiviz/justice_counts/types.py
  recidiviz/tests/justice_counts/bulk_upload/bulk_upload_test.py
  recidiviz/tests/justice_counts/control_panel/server_test.py
  recidiviz/tests/justice_counts/spreadsheet_test.py
Due: generate_docs_for_endpoint

[Justice Counts] Add last_visit column to AgencyUserAccountAssociation table (Recidiviz/recidiviz-data#25801)
  recidiviz/justice_counts/agency_user_account_association.py
  recidiviz/justice_counts/control_panel/routes/api.py
  recidiviz/persistence/database/migrations/justice_counts/versions/2023_11_30_1202_d51d80b1ef6d_add_last_visit_column.py
  recidiviz/persistence/database/schema/justice_counts/schema.py
  recidiviz/tests/justice_counts/control_panel/server_test.py
Due: generate_docs_for_endpoint

[US_ME] Bump validation threshold (Recidiviz/recidiviz-data#26053)
  recidiviz/validation/config/regions/us_me/us_me_validation_config.yaml
Due: generate_docs_for_endpoint

[US_OR] Adding missing Sentence type enum (Recidiviz/recidiviz-data#26029)
  recidiviz/ingest/direct/regions/us_or/ingest_mappings/us_or_Sentences.yaml
Due: generate_docs_for_region, generate_docs_for_endpoint

[US_OZ] Ingest period from SM (Recidiviz/recidiviz-data#25931)
  recidiviz/ingest/direct/regions/us_oz/ingest_mappings/us_oz_sm_periods.yaml
  recidiviz/ingest/direct/regions/us_oz/ingest_views/view_sm_periods.py
  recidiviz/ingest/direct/regions/us_oz/us_oz_controller.py
Due: generate_docs_for_region, generate_docs_for_endpoint

[US_AR] YAML for employment history table (Recidiviz/recidiviz-data#26031)
  recidiviz/ingest/direct/regions/us_ar/raw_data/us_ar_EMPLOYMENTHISTORY.yaml
Due: generate_docs_for_region, generate_docs_for_endpoint

[Admin Panel] separate workflows route into supervision and facilities (Recidiviz/recidiviz-data#25985)
  frontends/admin-panel/src/components/StateUserPermissions/CustomPermissionsPanel.tsx
  frontends/admin-panel/src/components/StateUserPermissions/PermissionSelect.tsx
  frontends/admin-panel/src/components/StateUserPermissions/__tests__/CustomPermissionsPanel.test.ts
  frontends/admin-panel/src/components/constants.ts
Due: none

[Airflow] Add Cloud NAT to GKE pods (Recidiviz/recidiviz-data#26086)
  recidiviz/tools/deploy/terraform/cloud-composer.tf
Due: generate_docs_for_endpoint

Revert "[Airflow] Add Cloud NAT to GKE pods" (Recidiviz/recidiviz-data#26089)
  recidiviz/tools/deploy/terraform/cloud-composer.tf
Due: generate_docs_for_endpoint

[US_MO] Restrictive Housing - Criteria Stubs and Opportunity Record Query for Pilot (Recidiviz/recidiviz-data#25389)
  recidiviz/aggregated_metrics/models/aggregated_metric_configurations.py
  recidiviz/calculator/query/state/views/analyst_data/analyst_data_views.py
  recidiviz/calculator/query/state/views/analyst_data/us_mo/us_mo_restrictive_housing_record.py
  recidiviz/calculator/query/state/views/reference/workflows_opportunity_configs.py
  recidiviz/calculator/query/state/views/workflows/firestore/firestore_views.py
  recidiviz/calculator/query/state/views/workflows/firestore/us_mo_overdue_restrictive_housing_initial_hearing.py
  recidiviz/calculator/query/state/views/workflows/firestore/us_mo_overdue_restrictive_housing_release.py
  recidiviz/calculator/query/state/views/workflows/firestore/us_mo_overdue_restrictive_housing_review_hearing.py
  recidiviz/task_eligibility/completion_events/state_specific/us_mo/initial_hearing_occurred.py
  recidiviz/task_eligibility/completion_events/state_specific/us_mo/release_from_restrictive_housing.py
  recidiviz/task_eligibility/completion_events/state_specific/us_mo/review_hearing_occurred.py
  recidiviz/task_eligibility/criteria/state_specific/us_mo/d1_sanction_after_most_recent_hearing.py
  recidiviz/task_eligibility/criteria/state_specific/us_mo/d1_sanction_after_restrictive_housing_start.py
  recidiviz/task_eligibility/criteria/state_specific/us_mo/hearing_or_next_review_since_restrictive_housing_start.py
  recidiviz/task_eligibility/criteria/state_specific/us_mo/initial_hearing_past_due_date.py
  recidiviz/task_eligibility/criteria/state_specific/us_mo/no_active_d1_sanctions.py
  recidiviz/task_eligibility/criteria/state_specific/us_mo/no_hearing_or_next_review_since_restrictive_housing_start.py
  recidiviz/task_eligibility/criteria/state_specific/us_mo/overdue_for_release.py
  recidiviz/task_eligibility/criteria/state_specific/us_mo/past_latest_scheduled_review_date.py
  recidiviz/task_eligibility/eligibility_spans/us_mo/overdue_restrictive_housing_initial_hearing.py
  recidiviz/task_eligibility/eligibility_spans/us_mo/overdue_restrictive_housing_release.py
  recidiviz/task_eligibility/eligibility_spans/us_mo/overdue_restrictive_housing_review_hearing.py
  recidiviz/task_eligibility/task_completion_event_big_query_view_builder.py
  recidiviz/task_eligibility/utils/us_mo_query_fragments.py
Due: generate_docs_for_endpoint

[US_ME] Add raw data YAML (Recidiviz/recidiviz-data#26094)
  recidiviz/ingest/direct/regions/us_me/raw_data/us_me_CIS_1401_CLASSIFICATION_CD.yaml
  recidiviz/ingest/direct/regions/us_me/raw_data/us_me_CIS_140_CLASSIFICATION_REVIEW.yaml
Due: generate_docs_for_region, generate_docs_for_endpoint

[Outliers] Filter for officers who currently have open person assignment periods (Recidiviz/recidiviz-data#25993)
  recidiviz/calculator/query/state/views/outliers/staff_query_template.py
  recidiviz/calculator/query/state/views/outliers/supervision_officers.py
Due: generate_docs_for_endpoint

[US_PA] Update PA SFTP root to use an absolute path (Recidiviz/recidiviz-data#26097)
  recidiviz/ingest/direct/regions/us_pa/us_pa_sftp_download_delegate.py
Due: generate_docs_for_region, generate_docs_for_endpoint

[Workflows][US_ND] DOCSTARS write bugfix (Recidiviz/recidiviz-data#26052)
  recidiviz/case_triage/workflows/interface.py
  recidiviz/case_triage/workflows/workflows_routes.py
  recidiviz/tests/case_triage/workflows/workflows_routes_test.py
Due: generate_docs_for_endpoint

[Address Spans Schema Change Request][Part 1] StatePersonAddressPeriod table + StatePersonAddressType enum (Recidiviz/recidiviz-data#25922)
  recidiviz/common/constants/state/enum_canonical_strings.py
  recidiviz/common/constants/state/state_person_address_period.py
  recidiviz/persistence/database/migrations/state/versions/2023_12_08_1348_7f28f8767137_address_periods.py
  recidiviz/persistence/database/schema/state/schema.py
  recidiviz/persistence/entity/entity_utils.py
  recidiviz/persistence/entity/state/deserialize_entity_factories.py
  recidiviz/persistence/entity/state/entities.py
  recidiviz/tests/persistence/database/schema/state/schema_test.py
  recidiviz/tests/persistence/database/schema_utils_test.py
  recidiviz/tests/persistence/entity/entity_utils_test.py
  recidiviz/tests/persistence/entity/state/deserialize_entity_factories_test.py
Due: generate_docs_for_endpoint, generate_entity_documentation

[Refactor] Remove deprecated placeholder entity checks (Recidiviz/recidiviz-data#25947)
  recidiviz/admin_panel/dataset_metadata_store.py
  recidiviz/ingest/views/enum_counter.py
  recidiviz/ingest/views/non_enum_counter.py
  recidiviz/ingest/views/state_person_counter.py
  recidiviz/persistence/entity/entity_utils.py
  recidiviz/persistence/entity_matching/ingest_view_tree_merger.py
  recidiviz/persistence/entity_matching/legacy/state/state_entity_matcher.py
  recidiviz/persistence/entity_matching/legacy/state/state_matching_utils.py
  recidiviz/pipelines/normalization/utils/normalization_managers/incarceration_period_normalization_manager.py
  recidiviz/pipelines/normalization/utils/normalization_managers/supervision_period_normalization_manager.py
  recidiviz/tests/admin_panel/dataset_metadata_store_test.py
  recidiviz/tests/persistence/entity/entity_utils_test.py
  recidiviz/tests/persistence/entity_matching/ingest_view_tree_merger_test.py
  recidiviz/tests/persistence/entity_matching/legacy/state/state_matching_utils_test.py
  recidiviz/tests/persistence/persistence_test.py
  recidiviz/tests/pipelines/metrics/supervision/identifier_test.py
  recidiviz/tests/pipelines/normalization/utils/normalization_managers/supervision_period_normalization_manager_test.py
Due: generate_docs_for_endpoint

[US_ND] Include non-person staff entities in state staff (Recidiviz/recidiviz-data#26111)
  recidiviz/ingest/direct/regions/us_nd/ingest_views/view_docstars_staff.py
Due: generate_docs_for_region, generate_docs_for_endpoint

[Autogenerated] Update Pipfile.lock (Recidiviz/recidiviz-data#26104)
  Pipfile.lock
Due: none

[US_IX] Add new version of migration that properly executes (Recidiviz/recidiviz-data#26114)
  recidiviz/persistence/database/migrations/state/versions/2023_12_11_1018_ac7c4dcfa0a8_us_ix_redo_violators_migration.py
Due: generate_docs_for_endpoint
