Repository Recidiviz/pulse-data: changes, and which pre-commit hooks are due for each by the changed paths.
All: generate_docs_for_region, generate_docs_for_endpoint, generate_entity_documentation, generate_calc_documentation, generate_ingest_mappings_schema_documentation, update_terraform_lock_file

generate_docs_for_region:
  name: generate_docs_for_region
  entry: pipenv run python -m recidiviz.tools.docs.region_documentation_generator
  language: system
  require_serial: true

generate_docs_for_endpoint:
  name: generate_docs_for_endpoint
  entry: pipenv run python -m recidiviz.tools.docs.endpoint_documentation_generator
  language: system
  require_serial: true

generate_entity_documentation:
  name: generate_entity_documentation
  entry: pipenv run python -m recidiviz.tools.docs.entity_documentation_generator
  language: system
  require_serial: true

generate_calc_documentation:
  name: generate_calc_documentation
  entry: pipenv run python -m recidiviz.calculator.calculation_documentation_generator
  language: system
  require_serial: true

generate_ingest_mappings_schema_documentation:
  name: generate_ingest_mappings_schema_documentation
  entry: pipenv run python -m recidiviz.tools.docs.ingest_mappings_schema_documentation_generator
  language: system
  require_serial: true

update_terraform_lock_file:
  name: update_terraform_lock_file
  entry: recidiviz/tools/deploy/update_terraform_lock.sh
  language: script
  require_serial: true

Update Raw Data Migrations so that They Display `SECONDARY` and `PRIMARY` Queries (Recidiviz/recidiviz-data#16926)
  recidiviz/ingest/direct/raw_data/direct_ingest_raw_file_import_manager.py
  recidiviz/ingest/direct/raw_data/direct_ingest_raw_table_migration.py
  recidiviz/ingest/direct/raw_data/direct_ingest_raw_table_migration_collector.py
  recidiviz/ingest/direct/raw_data/direct_ingest_raw_table_migration_generator.py
  recidiviz/tests/ingest/direct/raw_data/direct_ingest_raw_table_migration_collector_test.py
  recidiviz/tests/ingest/direct/raw_data/direct_ingest_raw_table_migration_generator_test.py
  recidiviz/tests/ingest/direct/raw_data/direct_ingest_raw_table_migration_test.py
  recidiviz/tests/ingest/direct/regions/direct_ingest_region_structure_test.py
Due: generate_docs_for_endpoint

[Justice Counts] filter out datapoints for metrics that have been deprecated (Recidiviz/recidiviz-data#16987)
  recidiviz/justice_counts/utils/datapoint_utils.py
Due: generate_docs_for_endpoint

[US_MI] Add descriptions for designation date variables in YAML and add date casting to IP view (Recidiviz/recidiviz-data#17020)
  recidiviz/ingest/direct/regions/us_mi/ingest_views/view_incarceration_periods_v2.py
  recidiviz/ingest/direct/regions/us_mi/raw_data/us_mi_ADH_OFFENDER_DESIGNATION.yaml
Due: generate_docs_for_region, generate_docs_for_endpoint

[Workflows] Add SCCP opportunity to workflows_opportunity_etl_delgate (Recidiviz/recidiviz-data#17023)
  recidiviz/workflows/etl/workflows_opportunity_etl_delegate.py
Due: generate_docs_for_endpoint

[US_ME] Create opportunity/form query for SCCP Workflows (Recidiviz/recidiviz-data#16934)
  recidiviz/calculator/query/state/views/workflows/firestore/firestore_views.py
  recidiviz/calculator/query/state/views/workflows/firestore/us_me_complete_transfer_to_sccp_form_record.py
Due: generate_docs_for_endpoint, generate_calc_documentation

[US_PA] Clean up all V1 Mappings code from files once V2 mappings are complete (Recidiviz/recidiviz-data#16839)
  recidiviz/ingest/direct/regions/us_pa/ingest_mappings/us_pa_dbo_LSIHistory.yaml
  recidiviz/ingest/direct/regions/us_pa/ingest_mappings/us_pa_dbo_tblInmTestScore.yaml
  recidiviz/ingest/direct/regions/us_pa/ingest_mappings/us_pa_sci_incarceration_period.yaml
  recidiviz/ingest/direct/regions/us_pa/ingest_mappings/us_pa_supervision_contacts.yaml
  recidiviz/ingest/direct/regions/us_pa/ingest_mappings/us_pa_supervision_period_v4.yaml
  recidiviz/ingest/direct/regions/us_pa/us_pa_assessment_level_reference.py
  recidiviz/ingest/direct/regions/us_pa/us_pa_controller.py
  recidiviz/ingest/direct/regions/us_pa/us_pa_custom_enum_parsers.py
  recidiviz/ingest/direct/regions/us_pa/us_pa_legacy_enum_helpers.py
Due: generate_docs_for_region, generate_docs_for_endpoint

[Workflows][Bug] Change workflows_keys from module to table in terraform (Recidiviz/recidiviz-data#17028)
  recidiviz/tools/deploy/terraform/reference-tables.tf
Due: generate_docs_for_endpoint, update_terraform_lock_file

[Workflows][Bug] Remove workflows_keys from terraform (Recidiviz/recidiviz-data#17031)
  recidiviz/tools/deploy/terraform/reference-tables.tf
Due: generate_docs_for_endpoint, update_terraform_lock_file

[Workflows] US_ME staff record query (Recidiviz/recidiviz-data#16768)
  recidiviz/calculator/query/state/views/workflows/firestore/staff_record.py
  recidiviz/calculator/query/state/views/workflows/us_id/supervision_staff_template.py
  recidiviz/calculator/query/state/views/workflows/us_me/incarceration_staff_template.py
  recidiviz/calculator/query/state/views/workflows/us_nd/supervision_staff_template.py
  recidiviz/calculator/query/state/views/workflows/us_tn/supervision_staff_template.py
Due: generate_docs_for_endpoint, generate_calc_documentation

[BigQuery] Add smart UnionAllBigQueryViewBuilder (Recidiviz/recidiviz-data#15294)
  recidiviz/big_query/union_all_big_query_view_builder.py
  recidiviz/task_eligibility/task_eligiblity_spans.py
  recidiviz/tests/big_query/union_all_big_query_view_builder_test.py
  recidiviz/tools/calculator/compare_metric_view_output_to_sandbox.py
  recidiviz/tools/load_views_to_sandbox.py
Due: generate_docs_for_endpoint, generate_calc_documentation

[TES] Add new TaskCompletionEventBigQueryViewBuilder (Recidiviz/recidiviz-data#16936)
  recidiviz/calculator/query/state/views/analyst_data/task_events.py
  recidiviz/task_eligibility/completion_events/__init__.py
  recidiviz/task_eligibility/completion_events/early_discharge.py
  recidiviz/task_eligibility/completion_events/full_term_discharge.py
  recidiviz/task_eligibility/completion_events/supervision_level_downgrade.py
  recidiviz/task_eligibility/completion_events/transfer_to_limited_supervision.py
  recidiviz/task_eligibility/task_completion_event_big_query_view_builder.py
  recidiviz/task_eligibility/task_completion_event_big_query_view_collector.py
  recidiviz/task_eligibility/task_eligiblity_spans.py
  recidiviz/task_eligibility/view_config.py
  recidiviz/tests/task_eligibility/task_candidate_population_big_query_view_collector_test.py
  recidiviz/tests/task_eligibility/task_completion_event_big_query_view_collector_test.py
  recidiviz/tests/task_eligibility/task_eligibility_spans_test.py
  recidiviz/view_registry/deployed_views.py
Due: generate_docs_for_endpoint, generate_calc_documentation

[TES] Add completion event view for SCCP (Recidiviz/recidiviz-data#17035)
  recidiviz/task_eligibility/completion_events/release_to_community_confinement_supervision.py
Due: generate_docs_for_endpoint, generate_calc_documentation

[Build] Fix lint on main (Recidiviz/recidiviz-data#17038)
  recidiviz/justice_counts/metrics/prisons.py
Due: generate_docs_for_endpoint

[Workflows] Update ETL to support ME SCCP, enable production export (Recidiviz/recidiviz-data#16777)
  recidiviz/metrics/export/products.yaml
  recidiviz/tests/workflows/etl/fixtures/staff_record.json
  recidiviz/tests/workflows/etl/workflows_staff_etl_delegate_test.py
  recidiviz/tools/workflows/run_etl_from_local_branch.py
  recidiviz/workflows/etl/demo_fixtures/staff_record.json
  recidiviz/workflows/etl/routes.py
  recidiviz/workflows/etl/workflows_resident_etl_delegate.py
  recidiviz/workflows/etl/workflows_staff_etl_delegate.py
Due: generate_docs_for_endpoint, generate_calc_documentation

[DAG] cleanup of files after dataset refresh OPERATIONS move to DAG (Recidiviz/recidiviz-data#17036)
  cron.yaml
  recidiviz/airflow/dags/calculation_pipeline_dags.py
Due: generate_docs_for_endpoint

[TES] Add completion event builder as arg to single task spans view builder (Recidiviz/recidiviz-data#16937)
  recidiviz/task_eligibility/eligibility_spans/us_id/complete_discharge_early_from_parole_dual_supervision_request.py
  recidiviz/task_eligibility/eligibility_spans/us_id/complete_discharge_early_from_probation_supervision_request.py
  recidiviz/task_eligibility/eligibility_spans/us_id/complete_full_term_discharge_from_supervision.py
  recidiviz/task_eligibility/eligibility_spans/us_id/complete_transfer_to_limited_supervision_form.py
  recidiviz/task_eligibility/eligibility_spans/us_me/transfer_to_sccp.py
  recidiviz/task_eligibility/eligibility_spans/us_nd/complete_discharge_early_from_supervision_form.py
  recidiviz/task_eligibility/eligibility_spans/us_tn/supervision_level_downgrade.py
  recidiviz/task_eligibility/single_task_eligiblity_spans_view_builder.py
Due: generate_docs_for_endpoint, generate_calc_documentation

[TES] Make criteria/population queries tolerant of different column orders (Recidiviz/recidiviz-data#17021)
  recidiviz/task_eligibility/task_eligiblity_spans.py
Due: generate_docs_for_endpoint, generate_calc_documentation

[US_IX] Temporarily revert case compliance delegate (Recidiviz/recidiviz-data#17039)
  recidiviz/calculator/pipeline/utils/state_utils/state_calculation_config_manager.py
  recidiviz/calculator/pipeline/utils/state_utils/us_ix/us_ix_supervision_compliance.py
  recidiviz/tests/calculator/pipeline/utils/state_utils/us_ix/us_ix_supervision_compliance_test.py
Due: generate_docs_for_endpoint, generate_calc_documentation

[US_MI] Fix query typo (Recidiviz/recidiviz-data#17041)
  recidiviz/ingest/direct/regions/us_mi/ingest_views/view_incarceration_periods_v2.py
Due: generate_docs_for_region, generate_docs_for_endpoint

[Justice Counts] Updated average_daily_population to reflect new tig definitions (Recidiviz/recidiviz-data#16969)
  recidiviz/justice_counts/dimensions/dimension_registry.py
  recidiviz/justice_counts/dimensions/person.py
  recidiviz/justice_counts/includes_excludes/person.py
  recidiviz/justice_counts/includes_excludes/prisons.py
  recidiviz/justice_counts/metricfiles/prisons.py
  recidiviz/justice_counts/metrics/metric_registry.py
  recidiviz/justice_counts/metrics/prisons.py
  recidiviz/tests/justice_counts/control_panel/server_test.py
Due: generate_docs_for_endpoint

[Justice Counts] Update `agency.to_json()` to include state name (Recidiviz/recidiviz-data#16903)
  recidiviz/persistence/database/schema/justice_counts/schema.py
  recidiviz/tests/justice_counts/agency_test.py
  recidiviz/tests/justice_counts/control_panel/server_test.py
Due: generate_docs_for_endpoint, generate_calc_documentation

[Justice Counts] Small fix in prisons metric file (Recidiviz/recidiviz-data#17044)
  recidiviz/justice_counts/metricfiles/prisons.py
Due: generate_docs_for_endpoint

Revert "[Justice Counts] Update `agency.to_json()` to include state n… (Recidiviz/recidiviz-data#17047)
  recidiviz/persistence/database/schema/justice_counts/schema.py
  recidiviz/tests/justice_counts/agency_test.py
  recidiviz/tests/justice_counts/control_panel/server_test.py
Due: generate_docs_for_endpoint, generate_calc_documentation

[US_ME] added description to YAML files for Workflows. (Recidiviz/recidiviz-data#17034)
  recidiviz/ingest/direct/regions/us_me/raw_data/us_me_CIS_180_DISCIPLINARY_CASE.yaml
  recidiviz/ingest/direct/regions/us_me/raw_data/us_me_CIS_1810_VIOLATION_DISPOSITION_CLASS.yaml
  recidiviz/ingest/direct/regions/us_me/raw_data/us_me_CIS_1811_VIOLATION_DISPOSITION_TYPE.yaml
  recidiviz/ingest/direct/regions/us_me/raw_data/us_me_CIS_181_VIOLATION_DISPOSITION.yaml
  recidiviz/ingest/direct/regions/us_me/raw_data/us_me_CIS_204_GEN_NOTE.yaml
Due: generate_docs_for_region, generate_docs_for_endpoint

[US_IX] Add raw data configs for alerts (Recidiviz/recidiviz-data#17050)
  recidiviz/ingest/direct/regions/us_ix/raw_data/us_ix_ind_Alert.yaml
  recidiviz/ingest/direct/regions/us_ix/raw_data/us_ix_ind_AlertType.yaml
  recidiviz/ingest/direct/regions/us_ix/raw_data/us_ix_ind_AlertVisibilityType.yaml
  recidiviz/ingest/direct/regions/us_ix/raw_data/us_ix_ind_Offender_Alert.yaml
Due: generate_docs_for_region, generate_docs_for_endpoint

[Workflows][US_ME] Update sccp eligibility (Recidiviz/recidiviz-data#17058)
  recidiviz/calculator/query/state/views/workflows/firestore/resident_record.py
  recidiviz/calculator/query/state/views/workflows/us_me/incarceration_residents_template.py
Due: generate_docs_for_endpoint, generate_calc_documentation

[Justice Counts] Remove published datapoints endpoint (Recidiviz/recidiviz-data#17026)
  recidiviz/justice_counts/control_panel/routes/api.py
  recidiviz/tests/justice_counts/control_panel/server_test.py
Due: generate_docs_for_endpoint

[Justice Counts] Fix AttributeError, check state_code exists (Recidiviz/recidiviz-data#17049)
  recidiviz/persistence/database/schema/justice_counts/schema.py
  recidiviz/tests/justice_counts/agency_test.py
  recidiviz/tests/justice_counts/control_panel/server_test.py
Due: generate_docs_for_endpoint, generate_calc_documentation

updated served_x_portion[...] so that it includes the x_served_portion in reason (Recidiviz/recidiviz-data#17062)
  recidiviz/task_eligibility/criteria/state_specific/us_me/served_x_portion_of_sentence.py
Due: generate_docs_for_endpoint, generate_calc_documentation

[US_CO] Adding description field for risk related fields (Recidiviz/recidiviz-data#16985)
  recidiviz/ingest/direct/regions/us_co/raw_data/us_co_Base_Curr_Off_Pop.yaml
Due: generate_docs_for_region, generate_docs_for_endpoint

add StateSupervisionViolatedConditionType enum + add condition field as enum + set condition to INTERNAL_UNKNOWN (Recidiviz/recidiviz-data#16846)
  recidiviz/common/constants/state/enum_canonical_strings.py
  recidiviz/common/constants/state/state_supervision_violated_condition.py
  recidiviz/ingest/direct/ingest_mappings/yaml_schema/1.0.0/entity_expressions/expandable_entity_list.json
  recidiviz/ingest/direct/ingest_mappings/yaml_schema/1.0.0/generic_expressions/custom_function.json
  recidiviz/ingest/direct/ingest_mappings/yaml_schema/1.0.0/string_expressions/json_extract.json
  recidiviz/ingest/direct/ingest_mappings/yaml_schema/1.0.0/string_list_expressions/split_json.json
  recidiviz/ingest/direct/regions/us_mo/ingest_mappings/us_mo_tak028_tak042_tak076_tak024_violation_reports.yaml
  recidiviz/ingest/direct/regions/us_mo/ingest_mappings/us_mo_tak291_tak292_tak024_citations.yaml
  recidiviz/ingest/direct/regions/us_pa/ingest_mappings/us_pa_supervision_violation.yaml
  recidiviz/persistence/database/migrations/state/versions/2022_11_29_1655_6530bcb6cb62_add_condition_field_as_enum.py
  recidiviz/persistence/database/migrations/state/versions/2022_12_05_1637_7e70b52d2720_set_condition_to_internal_unknown.py
  recidiviz/persistence/database/schema/state/schema.py
  recidiviz/persistence/entity/state/entities.py
  recidiviz/tests/calculator/pipeline/normalization/utils/normalized_entities_utils_test.py
  recidiviz/tests/calculator/pipeline/normalization/utils/normalized_entity_conversion_utils_test.py
  recidiviz/tests/calculator/pipeline/utils/violation_utils_test.py
  recidiviz/tests/persistence/database/schema/state/schema_test.py
  recidiviz/tests/persistence/entity/state/deserialize_entity_factories_test.py
  recidiviz/tests/persistence/ingest_info_converter/state/state_converter_test.py
Due: generate_docs_for_region, generate_docs_for_endpoint, generate_entity_documentation, generate_calc_documentation, generate_ingest_mappings_schema_documentation

[Tools] add view comparison script (Recidiviz/recidiviz-data#17024)
  recidiviz/tools/calculator/compare_views.py
Due: generate_docs_for_endpoint

[Justice Counts] Fix: create monthly and annual reports for most recent previous month/year (not current) (Recidiviz/recidiviz-data#17065)
  recidiviz/justice_counts/jobs/create_new_reports.py
  recidiviz/justice_counts/report.py
  recidiviz/tests/justice_counts/report_test.py
Due: generate_docs_for_endpoint

[US_IX] Supervision level enum fix (Recidiviz/recidiviz-data#17001)
  recidiviz/ingest/direct/regions/us_ix/ingest_mappings/us_ix_supervision_period.yaml
Due: generate_docs_for_region, generate_docs_for_endpoint

[US_PA] Fix periods with release reasons but no release dates (Recidiviz/recidiviz-data#17071)
  recidiviz/ingest/direct/regions/us_pa/ingest_mappings/us_pa_ccis_incarceration_period.yaml
  recidiviz/ingest/direct/regions/us_pa/ingest_mappings/us_pa_sci_incarceration_period.yaml
Due: generate_docs_for_region, generate_docs_for_endpoint

[US_IX] Stop setting termination reason on open periods (Recidiviz/recidiviz-data#17080)
  recidiviz/ingest/direct/regions/us_ix/ingest_mappings/us_ix_supervision_period.yaml
Due: generate_docs_for_region, generate_docs_for_endpoint

Refactor population validation views to use spans over single day (Recidiviz/recidiviz-data#17046)
  recidiviz/validation/views/state/incarceration_population_person_level_template.py
  recidiviz/validation/views/state/supervision_population_person_level_template.py
Due: generate_docs_for_endpoint, generate_calc_documentation

[US_MI] Add raw data configs for supervision violation and drug screens data (Recidiviz/recidiviz-data#17070)
  recidiviz/ingest/direct/regions/us_mi/raw_data/us_mi_ADH_DRUG_PANEL.yaml
  recidiviz/ingest/direct/regions/us_mi/raw_data/us_mi_ADH_DRUG_TESTED.yaml
  recidiviz/ingest/direct/regions/us_mi/raw_data/us_mi_ADH_LEGAL_ORD_SUP_VIOLATION_REPORT.yaml
  recidiviz/ingest/direct/regions/us_mi/raw_data/us_mi_ADH_MANAGEMENT_DECISION.yaml
  recidiviz/ingest/direct/regions/us_mi/raw_data/us_mi_ADH_SUBSTANCE_ABUSE_TEST.yaml
  recidiviz/ingest/direct/regions/us_mi/raw_data/us_mi_ADH_SUPERVISION_VIOLATION.yaml
  recidiviz/ingest/direct/regions/us_mi/raw_data/us_mi_ADH_SUPERVISION_VIOLATION_NOTES.yaml
  recidiviz/ingest/direct/regions/us_mi/raw_data/us_mi_ADH_SUPER_COND_VIOLATION.yaml
  recidiviz/ingest/direct/regions/us_mi/raw_data/us_mi_ADH_SUPV_VIOLATION_INCIDENT.yaml
  recidiviz/ingest/direct/regions/us_mi/raw_data/us_mi_ADH_VIOL_AGENT_RECOMMENDATION.yaml
Due: generate_docs_for_region, generate_docs_for_endpoint

[Justice Counts] Add metric breakdown descriptions to data model and API (Recidiviz/recidiviz-data#17032)
  recidiviz/justice_counts/metrics/metric_definition.py
  recidiviz/justice_counts/metrics/metric_disaggregation_data.py
  recidiviz/justice_counts/metrics/prisons.py
  recidiviz/tests/justice_counts/metric_interface_test.py
Due: generate_docs_for_endpoint

Path conditions:
  generate_docs_for_region: any of: ^recidiviz/ingest/direct/regions/
  generate_docs_for_endpoint: any of: ^recidiviz/, but not: (?x)(^recidiviz/tests/|^recidiviz/tools/|^recidiviz/ingest/direct/regions/)$

  generate_entity_documentation: any of: (?x)(^recidiviz/persistence/database/schema/state/schema.py|^recidiviz/persistence/database/schema/history_table_shared_columns_mixin.py|^recidiviz/common/constants/state/)$

  generate_calc_documentation: any of: ^recidiviz/calculator/|^recidiviz/metrics/|^recidiviz/.*/views/|^recidiviz/big_query/|^recidiviz/persistence/database/schema/|^recidiviz/persistence/entity/|^recidiviz/task_eligibility/, but not: ^recidiviz/tests/|^recidiviz/calculator/modeling/
  generate_ingest_mappings_schema_documentation: any of: ^recidiviz/ingest/direct/ingest_mappings/yaml_schema/|^docs/engineering/ingest_mapping_schema/
  update_terraform_lock_file: any of: ^recidiviz/tools/deploy/terraform/
