Repository Recidiviz/pulse-data: changes, and which pre-commit hooks are due for each by the changed paths.
All: generate_docs_for_region, generate_docs_for_endpoint, generate_entity_documentation

generate_docs_for_region:
  name: generate_docs_for_region
  entry: pipenv run python -m recidiviz.tools.docs.region_documentation_generator
  language: system
  require_serial: true

generate_docs_for_endpoint:
  name: generate_docs_for_endpoint
  entry: pipenv run python -m recidiviz.tools.docs.endpoint_documentation_generator
  language: system
  require_serial: true

generate_entity_documentation:
  name: generate_entity_documentation
  entry: pipenv run python -m recidiviz.tools.docs.entity_documentation_generator
  language: system
  require_serial: true

[US_ND] Add RecDate to two raw data files (Recidiviz/recidiviz-data#30530) (Recidiviz/recidiviz-data#30685)
  recidiviz/ingest/direct/regions/us_nd/raw_data/us_nd_docstars_contacts.yaml
  recidiviz/ingest/direct/regions/us_nd/raw_data/us_nd_docstars_ftr_plan_objective.yaml
  recidiviz/ingest/direct/regions/us_nd/raw_data/us_nd_docstars_officers.yaml
  recidiviz/ingest/direct/regions/us_nd/raw_data/us_nd_elite_grievances.yaml
  recidiviz/ingest/direct/regions/us_nd/raw_data/us_nd_recidiviz_docstars_LSI_SUPERPLAN.yaml
Due: generate_docs_for_region, generate_docs_for_endpoint

[US_MI] update validation dates (Recidiviz/recidiviz-data#30676)
  recidiviz/validation/views/external_data/regions/us_mi/incarceration_population_person_level.py
Due: generate_docs_for_endpoint

[Workflows] Add a missing fields to opportunity configs (Recidiviz/recidiviz-data#30679)
  frontends/admin-panel/src/WorkflowsStore/models/OpportunityConfiguration.ts
  frontends/admin-panel/src/components/Workflows/OpportunityConfigurationForm/CriteriaCopy.tsx
  frontends/admin-panel/src/components/Workflows/OpportunityConfigurationForm/OpportunityConfigurationForm.tsx
  frontends/admin-panel/src/components/Workflows/OpportunityConfigurationView.tsx
  recidiviz/admin_panel/routes/workflows.py
  recidiviz/case_triage/workflows/api_schemas.py
  recidiviz/persistence/database/migrations/workflows/versions/2024_06_13_1639_867461cedcda_add_missing_config_fields.py
  recidiviz/persistence/database/schema/workflows/schema.py
  recidiviz/tests/admin_panel/routes/snapshots/snap_workflows_test.py
  recidiviz/tests/admin_panel/routes/workflows_test.py
  recidiviz/tests/case_triage/workflows/workflows_routes_test.py
  recidiviz/tests/workflows/querier/querier_test.py
  recidiviz/tests/workflows/querier/snapshots/snap_querier_test.py
  recidiviz/tools/workflows/fixtures/opportunity_configuration.csv
  recidiviz/workflows/querier/querier.py
  recidiviz/workflows/types.py
Due: generate_docs_for_endpoint

[US_MI] Add reference file to historical raw data counts validation exclusions (Recidiviz/recidiviz-data#30686)
  recidiviz/validation/views/state/raw_data/configs/stable_historical_raw_data_counts_validation_config.yaml
Due: generate_docs_for_endpoint

[US_TN] reworking `us_tn_segregation_stays` (Recidiviz/recidiviz-data#30057)
  recidiviz/calculator/query/state/views/analyst_data/analyst_data_views.py
  recidiviz/calculator/query/state/views/analyst_data/us_tn/us_tn_segregation_lists.py
  recidiviz/calculator/query/state/views/analyst_data/us_tn/us_tn_segregation_stays_v2.py
  recidiviz/calculator/query/state/views/sessions/housing_unit_type_sessions.py
  recidiviz/tools/find_unused_bq_views.py
  recidiviz/view_registry/raw_data_reference_reasons.yaml
Due: generate_docs_for_endpoint

[US_TN] raw data looker tables pre work (Recidiviz/recidiviz-data#30484)
  recidiviz/ingest/direct/regions/us_tn/raw_data/us_tn_Address.yaml
  recidiviz/ingest/direct/regions/us_tn/raw_data/us_tn_AssignedStaff.yaml
  recidiviz/ingest/direct/regions/us_tn/raw_data/us_tn_CAFScore.yaml
  recidiviz/ingest/direct/regions/us_tn/raw_data/us_tn_CellBedAssignment.yaml
  recidiviz/ingest/direct/regions/us_tn/raw_data/us_tn_Classification.yaml
  recidiviz/ingest/direct/regions/us_tn/raw_data/us_tn_ContactNoteType.yaml
  recidiviz/ingest/direct/regions/us_tn/raw_data/us_tn_Disciplinary.yaml
  recidiviz/ingest/direct/regions/us_tn/raw_data/us_tn_DisciplinarySentence.yaml
  recidiviz/ingest/direct/regions/us_tn/raw_data/us_tn_Diversion.yaml
  recidiviz/ingest/direct/regions/us_tn/raw_data/us_tn_ISCRelatedSentence.yaml
  recidiviz/ingest/direct/regions/us_tn/raw_data/us_tn_ISCSentence.yaml
  recidiviz/ingest/direct/regions/us_tn/raw_data/us_tn_JOCharge.yaml
  recidiviz/ingest/direct/regions/us_tn/raw_data/us_tn_JOIdentification.yaml
  recidiviz/ingest/direct/regions/us_tn/raw_data/us_tn_JOIllegalReasons.yaml
  recidiviz/ingest/direct/regions/us_tn/raw_data/us_tn_JOMiscellaneous.yaml
  recidiviz/ingest/direct/regions/us_tn/raw_data/us_tn_JOSentence.yaml
  recidiviz/ingest/direct/regions/us_tn/raw_data/us_tn_JOSpecialConditions.yaml
  recidiviz/ingest/direct/regions/us_tn/raw_data/us_tn_OffenderAttributes.yaml
  recidiviz/ingest/direct/regions/us_tn/raw_data/us_tn_OffenderMovement.yaml
  recidiviz/ingest/direct/regions/us_tn/raw_data/us_tn_OffenderName.yaml
  recidiviz/ingest/direct/regions/us_tn/raw_data/us_tn_Sentence.yaml
  recidiviz/ingest/direct/regions/us_tn/raw_data/us_tn_SentenceMiscellaneous.yaml
  recidiviz/ingest/direct/regions/us_tn/raw_data/us_tn_Staff.yaml
  recidiviz/ingest/direct/regions/us_tn/raw_data/us_tn_StaffEmailByAlias.yaml
  recidiviz/ingest/direct/regions/us_tn/raw_data/us_tn_Violations.yaml
Due: generate_docs_for_region, generate_docs_for_endpoint

[bug] update location of big query constants to not get pulled in by cloud functions (Recidiviz/recidiviz-data#30691)
  recidiviz/ingest/direct/raw_data/direct_ingest_raw_table_schema_builder.py
  recidiviz/ingest/direct/types/direct_ingest_constants.py
Due: generate_docs_for_endpoint

[US_MI] Update always_historical to False for ADH_OFFENDER_PROFILE_SUMMARY_WRK (Recidiviz/recidiviz-data#30688)
  recidiviz/ingest/direct/regions/us_mi/raw_data/us_mi_ADH_OFFENDER_PROFILE_SUMMARY_WRK.yaml
Due: generate_docs_for_region, generate_docs_for_endpoint

Disallow simultaneous editing of users across multiple states (Recidiviz/recidiviz-data#30442)
  frontends/admin-panel/src/components/StateUserPermissions/StateUserPermissionsView.tsx
Due: none

[US_OR] Keeping absc as admission/release reasons for caseload changes (Recidiviz/recidiviz-data#30639)
  recidiviz/ingest/direct/regions/us_or/ingest_views/view_Supervision_Period.py
Due: generate_docs_for_region, generate_docs_for_endpoint

[airflow] default operations connection to use namedtuple cursor (Recidiviz/recidiviz-data#30379)
  recidiviz/airflow/dags/operators/cloud_sql_query_operator.py
  recidiviz/airflow/dags/raw_data/acquire_resource_lock_sql_query_generator.py
  recidiviz/airflow/dags/raw_data/get_all_unprocessed_bq_file_metadata_sql_query_generator.py
  recidiviz/airflow/dags/raw_data/get_all_unprocessed_gcs_file_metadata_sql_query_generator.py
  recidiviz/airflow/dags/raw_data/metadata.py
  recidiviz/airflow/dags/raw_data/release_resource_lock_sql_query_generator.py
  recidiviz/airflow/dags/raw_data/types.py
  recidiviz/airflow/dags/utils/cloud_sql.py
  recidiviz/airflow/tests/raw_data/get_all_unprocessed_bq_file_metadata_sql_query_generator_test.py
  recidiviz/airflow/tests/raw_data/get_all_unprocessed_gcs_file_metadata_sql_query_generator_test.py
  recidiviz/airflow/tests/test_utils.py
Due: generate_docs_for_endpoint

Configure reasons fields for placeholder criteria (Recidiviz/recidiviz-data#30545)
  recidiviz/task_eligibility/criteria/general/no_violent_sexual_offenses.py
  recidiviz/task_eligibility/criteria/general/serving_first_prison_sentence.py
  recidiviz/task_eligibility/criteria/state_specific/us_ar/no_incarceration_sanctions_within_12_months.py
  recidiviz/task_eligibility/criteria/state_specific/us_ar/no_incarceration_sanctions_within_6_months.py
  recidiviz/task_eligibility/criteria/state_specific/us_mi/minimum_sentence_length_eligible_for_sai.py
  recidiviz/task_eligibility/criteria/state_specific/us_mi/no_pending_felony_or_immigration_detainer.py
  recidiviz/task_eligibility/criteria/state_specific/us_mi/not_serving_ineligible_offenses_for_sai.py
  recidiviz/task_eligibility/criteria/state_specific/us_mi/screening_not_high_assault_risk.py
  recidiviz/task_eligibility/criteria/state_specific/us_mi/served_minimum_sentence_for_controlled_substances.py
  recidiviz/task_eligibility/criteria/state_specific/us_mi/served_minimum_sentence_for_firearm_felony.py
  recidiviz/task_eligibility/criteria/state_specific/us_mi/true_security_level_not_iv_or_v.py
  recidiviz/task_eligibility/criteria/state_specific/us_nd/has_an_aomms_sentence.py
  recidiviz/task_eligibility/criteria/state_specific/us_pa/fulfilled_requirements.py
  recidiviz/task_eligibility/criteria/state_specific/us_pa/meets_one_of_special_circumstances_criteria.py
  recidiviz/task_eligibility/criteria/state_specific/us_pa/meets_special_circumstances_criteria_for_special_cases.py
  recidiviz/task_eligibility/criteria/state_specific/us_pa/meets_special_circumstances_criteria_for_time_served.py
  recidiviz/task_eligibility/criteria/state_specific/us_pa/supervision_level_is_not_special_circumstances.py
  recidiviz/task_eligibility/utils/placeholder_criteria_builders.py
  recidiviz/task_eligibility/utils/us_ar_query_fragments.py
Due: generate_docs_for_endpoint

[US_TN] adding PhotoIDRequest to exceptions list (Recidiviz/recidiviz-data#30713)
  recidiviz/validation/views/state/raw_data/configs/stable_historical_raw_data_counts_validation_config.yaml
Due: generate_docs_for_endpoint

[US_ND] Adjust update cadence of raw data YAML (Recidiviz/recidiviz-data#30712)
  recidiviz/ingest/direct/regions/us_nd/raw_data/us_nd_docstars_REF_SPECIAL_CONDITION.yaml
Due: generate_docs_for_region, generate_docs_for_endpoint

[Validations] Taking zero day sps out of val for `in_custody_sps_have_associated_ip` (Recidiviz/recidiviz-data#30711)
  recidiviz/validation/views/state/in_custody_sps_have_associated_ip.py
Due: generate_docs_for_endpoint

[US ME] More column descriptions for incarceration incident view (Recidiviz/recidiviz-data#30714)
  recidiviz/ingest/direct/regions/us_me/raw_data/us_me_CIS_460_INCIDENTS.yaml
  recidiviz/ingest/direct/regions/us_me/raw_data/us_me_CIS_465_INCIDENT_REASON.yaml
Due: generate_docs_for_region, generate_docs_for_endpoint

[Airflow] Fail ingest pipelines branch when watermarks check fails (Recidiviz/recidiviz-data#30690)
  recidiviz/airflow/dags/calculation/dataflow/single_ingest_pipeline_group.py
  recidiviz/airflow/dags/monitoring/incident_alert_routing.py
  recidiviz/airflow/dags/utils/constants.py
  recidiviz/airflow/tests/calculation/dataflow/single_ingest_pipeline_group_test.py
  recidiviz/airflow/tests/monitoring/incident_alert_routing_test.py
Due: generate_docs_for_endpoint

[Ingest] Rename ingest pipeline ingest_instance argument to raw_data_source_instance (Recidiviz/recidiviz-data#30680)
  recidiviz/airflow/dags/calculation/dataflow/ingest_pipeline_task_group_delegate.py
  recidiviz/airflow/dags/calculation/dataflow/single_ingest_pipeline_group.py
  recidiviz/airflow/tests/calculation/dataflow/single_ingest_pipeline_group_test.py
  recidiviz/airflow/tests/calculation_dag_test.py
  recidiviz/pipelines/ingest/pipeline_parameters.py
  recidiviz/pipelines/ingest/state/pipeline.py
  recidiviz/pipelines/ingest/template_metadata.json
  recidiviz/pipelines/pipeline_parameters.py
  recidiviz/tests/admin_panel/ingest_dataflow_operations_test.py
  recidiviz/tests/admin_panel/ingest_operations_store_test.py
  recidiviz/tests/admin_panel/routes/ingest_ops_test.py
  recidiviz/tests/pipelines/ingest/pipeline_parameters_test.py
  recidiviz/tests/pipelines/ingest/state/generate_ingest_view_results_test.py
  recidiviz/tests/pipelines/ingest/state/test_case.py
  recidiviz/tests/pipelines/utils/run_pipeline_test_utils.py
  recidiviz/tools/ingest/development/run_sandbox_ingest_pipeline.py
Due: generate_docs_for_endpoint

Move `state_community_correction_facilities` to a managed reference view (Recidiviz/recidiviz-data#30731)
  recidiviz/calculator/query/state/views/sessions/us_co/us_co_incarceration_population_metrics_preprocessed.py
  recidiviz/source_tables/schema/static_reference_tables/state_community_correction_facilities.yaml
Due: generate_docs_for_endpoint

[US_IX] Adding bench warrant PO to `TRANSITIONAL` caseload type (Recidiviz/recidiviz-data#30656)
  recidiviz/ingest/direct/regions/us_ix/ingest_views/query_fragments.py
  recidiviz/ingest/direct/regions/us_ix/ingest_views/view_state_staff_caseload_type_periods.py
Due: generate_docs_for_region, generate_docs_for_endpoint

[Autogenerated] Update Pipfile.lock (Recidiviz/recidiviz-data#30705)
  Pipfile
  Pipfile.lock
Due: none

[US_ND] Change PK on state attorney reference table (Recidiviz/recidiviz-data#30710)
  recidiviz/ingest/direct/regions/us_nd/raw_data/us_nd_RECIDIVIZ_REFERENCE_state_attorney.yaml
Due: generate_docs_for_region, generate_docs_for_endpoint

[US_MI] Revise primary key for the ADH_OFFENDER_PROFILE_SUMMARY_WRK (Recidiviz/recidiviz-data#30742)
  recidiviz/ingest/direct/regions/us_mi/raw_data/us_mi_ADH_OFFENDER_PROFILE_SUMMARY_WRK.yaml
Due: generate_docs_for_region, generate_docs_for_endpoint

[US_MI] Add in new columns to COMPAS tables (Recidiviz/recidiviz-data#30729)
  recidiviz/ingest/direct/regions/us_mi/raw_data/us_mi_ADH_COALTERNATIVESCREENING.yaml
  recidiviz/ingest/direct/regions/us_mi/raw_data/us_mi_ADH_CORFSCALESET.yaml
  recidiviz/ingest/direct/regions/us_mi/raw_data/us_mi_ADH_SHUSER.yaml
Due: generate_docs_for_region, generate_docs_for_endpoint

Appears_with Validator (Recidiviz/recidiviz-data#30667)
  recidiviz/common/attr_validators.py
  recidiviz/tests/common/attr_validators_test.py
Due: generate_docs_for_endpoint

[US TN] Add joins for raw data looker dashboard (Recidiviz/recidiviz-data#30753)
  recidiviz/ingest/direct/regions/us_tn/raw_data/us_tn_AssignedStaff.yaml
  recidiviz/ingest/direct/regions/us_tn/raw_data/us_tn_CAFScore.yaml
  recidiviz/ingest/direct/regions/us_tn/raw_data/us_tn_Disciplinary.yaml
  recidiviz/ingest/direct/regions/us_tn/raw_data/us_tn_OffenderMovement.yaml
  recidiviz/ingest/direct/regions/us_tn/raw_data/us_tn_Sentence.yaml
Due: generate_docs_for_region, generate_docs_for_endpoint

[Bug fix] Fixes aggregation syntax for EventDistinctUnitCount (Recidiviz/recidiviz-data#30740)
  recidiviz/aggregated_metrics/models/aggregated_metric.py
Due: generate_docs_for_endpoint

[Utils] Refactor / bugfixes for attr_utils.py (Recidiviz/recidiviz-data#30738)
  recidiviz/common/attr_mixins.py
  recidiviz/common/attr_utils.py
  recidiviz/tests/common/attr_mixins_test.py
  recidiviz/tests/common/attr_utils_test.py
Due: generate_docs_for_endpoint

[BigQuery] Update ingest pipeline output dataset names (Recidiviz/recidiviz-data#30694)
  recidiviz/admin_panel/ingest_dataflow_operations.py
  recidiviz/admin_panel/routes/ingest_ops.py
  recidiviz/airflow/dags/calculation_dag.py
  recidiviz/airflow/tests/calculation_dag_test.py
  recidiviz/calculator/query/state/views/reference/us_mo_sentence_statuses.py
  recidiviz/entrypoints/ingest/update_state_dataset.py
  recidiviz/ingest/direct/dataset_config.py
  recidiviz/persistence/database/bq_refresh/union_dataflow_ingest.py
  recidiviz/pipelines/ingest/dataset_config.py
  recidiviz/pipelines/ingest/pipeline_parameters.py
  recidiviz/pipelines/ingest/state/gating.py
  recidiviz/pipelines/normalization/pipeline_parameters.py
  recidiviz/source_tables/ingest_pipeline_output_table_collector.py
  recidiviz/source_tables/source_table_config.py
  recidiviz/tests/entrypoints/ingest/update_state_dataset_test.py
  recidiviz/tests/ingest/direct/dataset_config_test.py
  recidiviz/tests/persistence/database/bq_refresh/union_dataflow_ingest_test.py
  recidiviz/tests/pipelines/calculation_pipeline_templates_yaml_test.py
  recidiviz/tests/pipelines/ingest/pipeline_parameters_test.py
  recidiviz/tests/pipelines/ingest/state/gating_test.py
  recidiviz/tests/pipelines/ingest/state/generate_ingest_view_results_test.py
  recidiviz/tests/pipelines/ingest/state/test_case.py
  recidiviz/tests/pipelines/normalization/pipeline_parameters_test.py
  recidiviz/tests/tools/calculator/create_or_update_dataflow_sandbox_test.py
  recidiviz/tests/tools/deploy/snapshots/snap_update_big_query_table_schemas_test.py
  recidiviz/tools/calculator/create_or_update_dataflow_sandbox.py
  recidiviz/tools/calculator/run_sandbox_calculation_pipeline.py
  recidiviz/tools/calculator/update_sandbox_normalized_state_dataset.py
  recidiviz/tools/deploy/update_big_query_table_schemas.py
  recidiviz/tools/ingest/development/full_sandbox_pipeline.sh
  recidiviz/tools/ingest/development/run_sandbox_ingest_pipeline.py
  recidiviz/tools/ingest/operations/ingest_stability_check.py
  recidiviz/tools/ingest/testing/validate_state_dataset.py
Due: generate_docs_for_endpoint

[Cleanup] Increase pipeline validate_source_visibilty strictness (Recidiviz/recidiviz-data#30715)
  recidiviz/ingest/direct/raw_data/direct_ingest_raw_file_import_manager.py
  recidiviz/ingest/direct/raw_data/direct_ingest_raw_file_pre_import_normalizer.py
  recidiviz/ingest/direct/raw_data/raw_file_configs.py
  recidiviz/ingest/direct/raw_data_table_schema_utils.py
  recidiviz/ingest/direct/views/direct_ingest_view_query_builder.py
  recidiviz/source_tables/collect_all_source_table_configs.py
  recidiviz/tests/ingest/direct/regions/ingest_view_query_test_case.py
  recidiviz/tests/ingest/direct/views/raw_data_diff_query_test_case.py
  recidiviz/tools/ingest/development/fetch_column_values_for_state.py
  recidiviz/tools/ingest/development/hydrate_datetime_sql_parsers.py
  recidiviz/tools/ingest/regions/us_ar/process_eomis_txt_files.py
  recidiviz/tools/validate_source_visibility.py
  recidiviz/validation/views/state/raw_data/stable_historical_raw_data_counts_validation.py
  recidiviz/validation/views/state/raw_data/stale_raw_data_validation.py
Due: generate_docs_for_endpoint

[US_AR] Sessionized OVG view (Recidiviz/recidiviz-data#30407)
  recidiviz/calculator/query/state/views/analyst_data/analyst_data_views.py
  recidiviz/calculator/query/state/views/analyst_data/us_ar/us_ar_ovg_events_preprocessed.py
  recidiviz/calculator/query/state/views/analyst_data/us_ar/us_ar_ovg_timeline.py
  recidiviz/tools/find_unused_bq_views.py
  recidiviz/view_registry/raw_data_reference_reasons.yaml
Due: generate_docs_for_endpoint

Change names to workflows_caseload and workflows_location (Recidiviz/recidiviz-data#30720)
  recidiviz/tools/looker/aggregated_metrics/custom_workflows_metrics_lookml_generator.py
Due: generate_docs_for_endpoint

insert json rows in one statement when importing to cloud sql (Recidiviz/recidiviz-data#30747)
  recidiviz/cloud_sql/gcs_import_to_cloud_sql.py
  recidiviz/tests/insights/utils.py
  recidiviz/tools/insights/load_local_db.py
Due: generate_docs_for_endpoint

[BigQuery] Allow field deletions for dataflow pipeline outputs and unioned normalized state collection (Recidiviz/recidiviz-data#30766)
  recidiviz/tools/deploy/update_big_query_table_schemas.py
Due: generate_docs_for_endpoint

[Deploy] Handle source table update case where clustering fields are both unset but of different empty values (Recidiviz/recidiviz-data#30765)
  recidiviz/source_tables/source_table_update_manager.py
  recidiviz/tests/source_tables/source_table_update_manager_test.py
Due: generate_docs_for_endpoint

[US_ID][JII] Convert analytics script into notebook (Recidiviz/recidiviz-data#30529)
  recidiviz/case_triage/jii/id_lsu_message_analytics_notebook.ipynb
Due: generate_docs_for_endpoint

Collapsed solitary confinement sessions (Recidiviz/recidiviz-data#30682)
  recidiviz/calculator/query/state/views/analyst_data/models/spans.py
  recidiviz/calculator/query/state/views/analyst_data/us_tn/us_tn_segregation_lists.py
  recidiviz/calculator/query/state/views/sessions/housing_unit_type_non_protective_custody_solitary_sessions.py
  recidiviz/calculator/query/state/views/sessions/sessions_views.py
  recidiviz/task_eligibility/completion_events/general/transfer_out_of_solitary_confinement.py
  recidiviz/task_eligibility/criteria/general/housing_unit_type_is_solitary_confinement.py
  recidiviz/task_eligibility/utils/us_mi_query_fragments.py
Due: generate_docs_for_endpoint

move product_roster_archive into export_archives dataset (Recidiviz/recidiviz-data#30768)
  recidiviz/tools/deploy/terraform/bigquery-scheduled-queries.tf
Due: generate_docs_for_endpoint

Migrate more criteria to groups (Recidiviz/recidiviz-data#30751)
  recidiviz/task_eligibility/criteria/state_specific/us_ix/incarceration_within_6_months_of_ftcd_or_ped_or_tpd.py
  recidiviz/task_eligibility/criteria/state_specific/us_ix/no_sex_offender_alert.py
  recidiviz/task_eligibility/criteria/state_specific/us_ix/not_in_crc_facility.py
  recidiviz/task_eligibility/eligibility_spans/us_ix/transfer_to_crc_resident_worker_request.py
  recidiviz/task_eligibility/eligibility_spans/us_ix/transfer_to_crc_work_release_request.py
  recidiviz/task_eligibility/eligibility_spans/us_ix/transfer_to_xcrc_request.py
  recidiviz/task_eligibility/task_criteria_big_query_view_collector.py
  recidiviz/task_eligibility/task_criteria_group_big_query_view_builder.py
  recidiviz/tests/task_eligibility/task_criteria_group_big_query_view_builder_test.py
Due: generate_docs_for_endpoint

[US_CA] Infer IPs for in_custody SPs (Recidiviz/recidiviz-data#30696)
  recidiviz/pipelines/utils/incarceration_period_utils.py
  recidiviz/pipelines/utils/state_utils/us_ca/us_ca_incarceration_period_normalization_delegate.py
  recidiviz/tests/pipelines/utils/state_utils/us_ca/us_ca_incarceration_period_normalization_delegate_test.py
Due: generate_docs_for_endpoint

Path conditions:
  generate_docs_for_region: any of: ^recidiviz/ingest/direct/regions/
  generate_docs_for_endpoint: any of: ^recidiviz/, but not: (?x)(^recidiviz/tests/|^recidiviz/tools/|^recidiviz/ingest/direct/regions/)$

  generate_entity_documentation: any of: (?x)(^recidiviz/persistence/database/schema/state/schema.py|^recidiviz/persistence/database/schema/history_table_shared_columns_mixin.py)$

