Repository Recidiviz/pulse-data: changes, and which pre-commit hooks are due for each by the changed paths.
All: generate_docs_for_region, generate_docs_for_endpoint, generate_entity_documentation

generate_docs_for_region:
  name: generate_docs_for_region
  entry: pipenv run python -m recidiviz.tools.docs.region_documentation_generator
  language: system
  require_serial: true

generate_docs_for_endpoint:
  name: generate_docs_for_endpoint
  entry: pipenv run python -m recidiviz.tools.docs.endpoint_documentation_generator
  language: system
  require_serial: true

generate_entity_documentation:
  name: generate_entity_documentation
  entry: pipenv run python -m recidiviz.tools.docs.entity_documentation_generator
  language: system
  require_serial: true

[Schema] Rename StateEmploymentPeriodEmploymentStatus.EMPLOYED to EMPLOYED_UNKNOWN_AMOUNT (Recidiviz/recidiviz-data#35065)
  recidiviz/common/constants/state/enum_canonical_strings.py
  recidiviz/common/constants/state/state_employment_period.py
  recidiviz/ingest/direct/regions/us_ar/ingest_mappings/us_ar_employment_period.yaml
  recidiviz/ingest/direct/regions/us_ca/ingest_mappings/us_ca_employment_period.yaml
  recidiviz/ingest/direct/regions/us_ca/us_ca_custom_enum_parsers.py
  recidiviz/ingest/direct/regions/us_ca/us_ca_custom_parsers.py
  recidiviz/ingest/direct/regions/us_ix/ingest_mappings/us_ix_employment_periods.yaml
  recidiviz/persistence/database/schema/state/schema.py
  recidiviz/task_eligibility/criteria/general/has_employment.py
Due: generate_docs_for_region, generate_docs_for_endpoint, generate_entity_documentation

[US_AZ] Add AZ's mental health assessment to assessment_score_sessions (Recidiviz/recidiviz-data#35271)
  recidiviz/calculator/query/state/views/sessions/assessment_score_sessions.py
Due: generate_docs_for_endpoint

[US_ME] Correct how calculate county jail start dates (Recidiviz/recidiviz-data#35275)
  recidiviz/calculator/query/state/views/analyst_data/us_me/us_me_sentence_term.py
  recidiviz/view_registry/raw_data_reference_reasons.yaml
Due: generate_docs_for_endpoint

[US_AZ] Added mental health score to criteria for Admin Supervision (Recidiviz/recidiviz-data#35178)
  recidiviz/task_eligibility/criteria/state_specific/us_az/mental_health_score_3_or_below.py
  recidiviz/task_eligibility/eligibility_spans/us_az/transfer_to_administrative_supervision.py
Due: generate_docs_for_endpoint

[Airflow] Use Workload separation for Kubernetes pod tasks (Recidiviz/recidiviz-data#35233)
  recidiviz/airflow/dags/operators/cloud_sql_proxy_sidecar.py
  recidiviz/airflow/dags/operators/recidiviz_kubernetes_pod_operator.py
  recidiviz/airflow/dags/operators/recidiviz_kubernetes_resources.yaml
  recidiviz/airflow/tests/operators/entrypoints_resources_test.py
  recidiviz/tools/postgres/cloudsql_proxy_control.sh
  recidiviz/tools/postgres/script_helpers.sh
  stubs/kubernetes/client/models.pyi
Due: generate_docs_for_endpoint

[raw data import] Fix separator arg on bq load (Recidiviz/recidiviz-data#35305)
  recidiviz/ingest/direct/raw_data/direct_ingest_raw_file_load_manager.py
  recidiviz/tests/ingest/direct/fake_regions/us_xx/raw_data/us_xx_tagPipeSeparatedWindows.yaml
  recidiviz/tests/ingest/direct/raw_data/direct_ingest_raw_file_load_manager_test.py
  recidiviz/tests/ingest/direct/raw_data/load_manager_fixtures/no_migrations_windows_file/__init__.py
  recidiviz/tests/ingest/direct/raw_data/load_manager_fixtures/no_migrations_windows_file/tagPipeSeparatedWindows_append_table_output.csv
  recidiviz/tests/ingest/direct/raw_data/load_manager_fixtures/no_migrations_windows_file/tagPipeSeparatedWindows_append_table_seed.csv
  recidiviz/tests/ingest/direct/raw_data/load_manager_fixtures/no_migrations_windows_file/tagPipeSeparatedWindows_load_input.csv
  recidiviz/tests/ingest/direct/raw_data/load_manager_fixtures/no_migrations_windows_file/tagPipeSeparatedWindows_load_output.csv
  recidiviz/tests/ingest/direct/raw_data/raw_file_configs_test.py
  recidiviz/tests/ingest/direct/views/direct_ingest_latest_view_collector_test.py
Due: generate_docs_for_endpoint

[Vitals] exclude pretrial offices from vitals in ND (Recidiviz/recidiviz-data#35269)
  recidiviz/calculator/query/state/views/vitals_report/supervision_officers_and_districts.py
Due: generate_docs_for_endpoint

[Bug][Insights] Allow nullable metric value (Recidiviz/recidiviz-data#35311)
  recidiviz/persistence/database/schema/insights/schema.py
Due: generate_docs_for_endpoint

[Doppler] Optimize ingestion query times and add column type schema (Recidiviz/recidiviz-data#35134)
  recidiviz/ingest/direct/ingest_mappings/ingest_view_manifest_collector.py
  recidiviz/tools/ingest/one_offs/schema_updater.py
Due: generate_docs_for_endpoint

Autogenerate dataset that mirrors `sentence_sessions` without non-migrated state exclusion (Recidiviz/recidiviz-data#35251)
  recidiviz/calculator/query/sessions_query_fragments.py
  recidiviz/calculator/query/state/dataset_config.py
  recidiviz/calculator/query/state/view_config.py
  recidiviz/calculator/query/state/views/sentence_sessions/overlapping_sentence_serving_periods.py
  recidiviz/calculator/query/state/views/sentence_sessions/sentence_serving_period.py
  recidiviz/calculator/query/state/views/sentence_sessions_v2_all/__init__.py
  recidiviz/calculator/query/state/views/sentence_sessions_v2_all/sentence_sessions_v2_all_views.py
  recidiviz/calculator/query/state/views/workflows/us_ar/resident_metadata.py
  recidiviz/task_eligibility/criteria/general/serving_incarceration_sentence_of_less_than_6_years.py
  recidiviz/task_eligibility/criteria/state_specific/us_ar/sentence_statute_eligible_for_admin_transfer.py
  recidiviz/task_eligibility/criteria/state_specific/us_mi/not_serving_ineligible_offenses_for_downgrade_from_supervision_level.py
  recidiviz/task_eligibility/criteria/state_specific/us_mi/not_serving_ineligible_offenses_for_early_discharge_from_parole_dual_supervision.py
  recidiviz/task_eligibility/criteria/state_specific/us_mi/not_serving_ineligible_offenses_for_early_discharge_from_probation_supervision.py
  recidiviz/task_eligibility/criteria/state_specific/us_mi/not_serving_ineligible_offenses_for_telephone_reporting.py
  recidiviz/task_eligibility/criteria/state_specific/us_nd/not_serving_ineligible_offense_for_atp_work_release.py
  recidiviz/task_eligibility/utils/general_criteria_builders.py
  recidiviz/tools/find_unused_bq_views.py
  recidiviz/view_registry/deployed_views.py
Due: generate_docs_for_endpoint

[KPIs] Build function for computing 2025 query complexity score (Recidiviz/recidiviz-data#34438)
  recidiviz/source_tables/source_table_repository.py
  recidiviz/tests/big_query/sqlglot_helpers.py
  recidiviz/tests/view_registry/address_to_complexity_score_mapping_test.py
  recidiviz/tests/view_registry/deployed_views_test.py
  recidiviz/tests/view_registry/query_complexity_score_2025_test.py
  recidiviz/validation/views/state/raw_data/stable_historical_raw_data_counts_validation.py
  recidiviz/validation/views/state/raw_data/stale_raw_data_validation.py
  recidiviz/view_registry/address_to_complexity_score_mapping.py
  recidiviz/view_registry/query_complexity_score_2025.py
Due: generate_docs_for_endpoint

[KPIs] Add table for tracking per-view stats (Recidiviz/recidiviz-data#35272)
  recidiviz/source_tables/externally_managed/view_update_metadata/per_view_update_stats.yaml
  recidiviz/source_tables/source_table_config.py
  recidiviz/tests/source_tables/source_tables_test.py
  recidiviz/view_registry/execute_update_all_managed_views.py
Due: generate_docs_for_endpoint

[US_AR] Add remaining nonnull exemptions to unblock import in new infra (Recidiviz/recidiviz-data#35323)
  recidiviz/ingest/direct/regions/us_ar/raw_data/us_ar_BEDASSIGNMENT.yaml
  recidiviz/ingest/direct/regions/us_ar/raw_data/us_ar_DISCIPLINARYVIOLAT.yaml
  recidiviz/ingest/direct/regions/us_ar/raw_data/us_ar_EXTERNALMOVEMENT.yaml
  recidiviz/ingest/direct/regions/us_ar/raw_data/us_ar_JOBPROGRAMASGMT.yaml
  recidiviz/ingest/direct/regions/us_ar/raw_data/us_ar_OFFENDERNAMEALIAS.yaml
  recidiviz/ingest/direct/regions/us_ar/raw_data/us_ar_OFFENDERPROFILE.yaml
  recidiviz/ingest/direct/regions/us_ar/raw_data/us_ar_ORGANIZATIONPROF.yaml
  recidiviz/ingest/direct/regions/us_ar/raw_data/us_ar_PERSONPROFILE.yaml
  recidiviz/ingest/direct/regions/us_ar/raw_data/us_ar_SENTENCECOMPONENT.yaml
  recidiviz/ingest/direct/regions/us_ar/raw_data/us_ar_SUPERVISIONEVENT.yaml
Due: generate_docs_for_region, generate_docs_for_endpoint

[US_CA] Add column update history (Recidiviz/recidiviz-data#35312)
  recidiviz/ingest/direct/regions/us_ca/raw_data/us_ca_ChargeParole.yaml
  recidiviz/ingest/direct/regions/us_ca/raw_data/us_ca_PersonParole.yaml
  recidiviz/ingest/direct/regions/us_ca/raw_data/us_ca_SupervisionContact.yaml
Due: generate_docs_for_region, generate_docs_for_endpoint

[Aggregated Metrics] Add MetricTimePeriodConfig for generating metric time period queries (Recidiviz/recidiviz-data#35076)
  recidiviz/aggregated_metrics/aggregated_metrics_utils.py
  recidiviz/aggregated_metrics/assignment_event_aggregated_metrics.py
  recidiviz/aggregated_metrics/assignment_span_aggregated_metrics.py
  recidiviz/aggregated_metrics/impact_reports_aggregated_metrics_view_collector.py
  recidiviz/aggregated_metrics/metric_time_period_config.py
  recidiviz/aggregated_metrics/metric_time_periods.py
  recidiviz/aggregated_metrics/period_event_aggregated_metrics.py
  recidiviz/aggregated_metrics/period_span_aggregated_metrics.py
  recidiviz/calculator/query/state/views/vitals_report/day_aggregated_metrics.py
  recidiviz/outliers/querier/querier.py
  recidiviz/tests/aggregated_metrics/metric_time_period_config_test.py
  recidiviz/tests/tools/analyst/aggregated_metrics_utils_test.py
  recidiviz/tools/analyst/aggregated_metrics_utils.py
  recidiviz/tools/looker/aggregated_metrics/custom_metrics_lookml_utils.py
Due: generate_docs_for_endpoint

[US_AR] Update known vals to unblock import in the new infra (Recidiviz/recidiviz-data#35327)
  recidiviz/ingest/direct/regions/us_ar/raw_data/us_ar_PERSONPROFILE.yaml
Due: generate_docs_for_region, generate_docs_for_endpoint

[US_IX] Adding marked ineligible criteria for LSU JII TES form (Recidiviz/recidiviz-data#35307)
  recidiviz/task_eligibility/criteria/state_specific/us_ix/no_recent_marked_ineligible_unless_ffr.py
  recidiviz/task_eligibility/eligibility_spans/us_ix/complete_transfer_to_limited_supervision_jii_form.py
Due: generate_docs_for_endpoint

[US_IX] Adding gender column into the `RECIDIVIZ_REFERENCE_release_to_crc_facility_mappings` file (Recidiviz/recidiviz-data#35362)
  recidiviz/ingest/direct/regions/us_ix/raw_data/us_ix_RECIDIVIZ_REFERENCE_release_to_crc_facility_mappings.yaml
Due: generate_docs_for_region, generate_docs_for_endpoint

[Workflows] Convert opportunity config field objects to lists (Recidiviz/recidiviz-data#35215)
  frontends/admin-panel/src/WorkflowsStore/models/OpportunityConfiguration.ts
  frontends/admin-panel/src/components/Workflows/OpportunityConfigurationForm/CriteriaCopy.tsx
  frontends/admin-panel/src/components/Workflows/OpportunityConfigurationForm/MultiEntry.tsx
  frontends/admin-panel/src/components/Workflows/OpportunityConfigurationForm/OpportunityConfigurationForm.tsx
  recidiviz/admin_panel/server.py
  recidiviz/case_triage/server.py
  recidiviz/case_triage/workflows/api_schemas.py
  recidiviz/persistence/database/migrations/workflows/versions/2024_11_18_0932_e1fbccd5c951_convert_configuration_objects_to_arrays.py
  recidiviz/tests/admin_panel/routes/snapshots/snap_workflows_test.py
  recidiviz/tests/admin_panel/routes/workflows_test.py
  recidiviz/tests/case_triage/workflows/workflows_api_schemas_test.py
  recidiviz/tests/case_triage/workflows/workflows_routes_test.py
  recidiviz/tests/workflows/querier/snapshots/snap_querier_test.py
  recidiviz/tools/workflows/fixtures/opportunity_configuration.csv
  recidiviz/workflows/querier/querier.py
  recidiviz/workflows/types.py
Due: generate_docs_for_endpoint

[US_TX] Add datetime parser (Recidiviz/recidiviz-data#35318)
  recidiviz/ingest/direct/regions/us_tx/raw_data/us_tx_SupervisionContact.yaml
Due: generate_docs_for_region, generate_docs_for_endpoint

[Workflows] Opportunity Admin Panel Improvements (Recidiviz/recidiviz-data#35218)
  frontends/admin-panel/src/WorkflowsStore/models/Opportunity.ts
  frontends/admin-panel/src/WorkflowsStore/models/OpportunityConfiguration.ts
  frontends/admin-panel/src/WorkflowsStore/presenters/OpportunityConfigurationPresenter.ts
  frontends/admin-panel/src/components/Workflows/OpportunitiesHeader.tsx
  frontends/admin-panel/src/components/Workflows/OpportunitiesTable.tsx
  frontends/admin-panel/src/components/Workflows/OpportunityConfigurationForm/CompareBy.tsx
  frontends/admin-panel/src/components/Workflows/OpportunityConfigurationForm/DenialReasons.tsx
  frontends/admin-panel/src/components/Workflows/OpportunityConfigurationForm/MultiEntry.tsx
  frontends/admin-panel/src/components/Workflows/OpportunityConfigurationForm/Notifications.tsx
  frontends/admin-panel/src/components/Workflows/OpportunityConfigurationForm/OpportunityConfigurationForm.tsx
  frontends/admin-panel/src/components/Workflows/OpportunityConfigurationForm/SidebarComponents.tsx
  frontends/admin-panel/src/components/Workflows/OpportunityConfigurationForm/SnoozeInput.tsx
  frontends/admin-panel/src/components/Workflows/OpportunityConfigurationForm/TabGroups.tsx
  frontends/admin-panel/src/components/Workflows/OpportunityConfigurationForm/formSpec.tsx
  frontends/admin-panel/src/components/Workflows/OpportunityConfigurationView.tsx
  frontends/admin-panel/src/components/Workflows/OpportunityConfigurationsTable.tsx
  frontends/admin-panel/src/components/Workflows/OpportunitySettings.tsx
  frontends/admin-panel/src/components/Workflows/OpportunityView.tsx
  frontends/admin-panel/src/components/Workflows/utils.ts
  recidiviz/admin_panel/line_staff_tools/workflows_api_schemas.py
  recidiviz/admin_panel/routes/workflows.py
  recidiviz/persistence/database/migrations/workflows/versions/2024_11_18_1032_cdf27a78bda6_separate_variant_and_revision_.py
  recidiviz/persistence/database/schema/workflows/schema.py
  recidiviz/tests/admin_panel/routes/snapshots/snap_workflows_test.py
  recidiviz/tests/admin_panel/routes/workflows_test.py
  recidiviz/tests/workflows/querier/querier_test.py
  recidiviz/tests/workflows/querier/snapshots/snap_querier_test.py
  recidiviz/tools/workflows/fixtures/opportunity_configuration.csv
  recidiviz/workflows/querier/querier.py
  recidiviz/workflows/types.py
Due: generate_docs_for_endpoint

[US_IX] Adding filter to `state_sentence_group` to prevent creation of groups with no sentences (Recidiviz/recidiviz-data#35358)
  recidiviz/ingest/direct/regions/us_ix/ingest_views/view_state_sentence_group.py
Due: generate_docs_for_region, generate_docs_for_endpoint

[Insights] add new location fields on supervisor product view (Recidiviz/recidiviz-data#35331)
  recidiviz/calculator/query/state/views/outliers/supervision_officer_supervisors.py
Due: generate_docs_for_endpoint

[monitoring] refactor `build_incident_history` (Recidiviz/recidiviz-data#35322)
  recidiviz/airflow/dags/monitoring/airflow_alerting_incident.py
  recidiviz/airflow/dags/monitoring/airflow_task_run_history_delegate.py
  recidiviz/airflow/dags/monitoring/dag_registry.py
  recidiviz/airflow/dags/monitoring/incident_alert_routing.py
  recidiviz/airflow/dags/monitoring/incident_history_builder.py
  recidiviz/airflow/dags/monitoring/incident_trigger_gating.py
  recidiviz/airflow/dags/monitoring/job_run.py
  recidiviz/airflow/dags/monitoring/job_run_history_delegate.py
  recidiviz/airflow/dags/monitoring/job_run_history_delegate_factory.py
  recidiviz/airflow/dags/monitoring/task_failure_alerts.py
  recidiviz/airflow/dags/monitoring/utils.py
  recidiviz/airflow/tests/dag_integrity_test.py
  recidiviz/airflow/tests/fixtures/monitoring/test_exactly_one_success.csv
  recidiviz/airflow/tests/fixtures/monitoring/test_graph_config_idempotency.csv
  recidiviz/airflow/tests/fixtures/monitoring/test_graph_config_idempotency.txt
  recidiviz/airflow/tests/fixtures/monitoring/test_graph_map_index.csv
  recidiviz/airflow/tests/fixtures/monitoring/test_graph_map_index.txt
  recidiviz/airflow/tests/fixtures/monitoring/test_graph_never_succeeded_most_recent_success.csv
  recidiviz/airflow/tests/fixtures/monitoring/test_graph_never_succeeded_most_recent_success.txt
  recidiviz/airflow/tests/fixtures/monitoring/test_graph_task_up_for_retry.csv
  recidiviz/airflow/tests/fixtures/monitoring/test_graph_task_up_for_retry.txt
  recidiviz/airflow/tests/fixtures/monitoring/test_graph_task_upstream_failed.csv
  recidiviz/airflow/tests/fixtures/monitoring/test_graph_task_upstream_failed.txt
  recidiviz/airflow/tests/fixtures/monitoring/test_no_terminated_tasks.csv
  recidiviz/airflow/tests/monitoring/airflow_task_run_history_delegate_test.py
  recidiviz/airflow/tests/monitoring/alerting_trigger_predicates_test.py
  recidiviz/airflow/tests/monitoring/incident_alert_routing_test.py
  recidiviz/airflow/tests/monitoring/incident_history_builder_test.py
  recidiviz/airflow/tests/monitoring_dag_test.py
Due: generate_docs_for_endpoint

[Tools] Update --state_code_filter to ignore changes to non-matching state-specific views (Recidiviz/recidiviz-data#35319)
  recidiviz/tests/tools/load_views_to_sandbox_test.py
  recidiviz/tools/load_end_to_end_data_sandbox.py
  recidiviz/tools/load_views_to_sandbox.py
Due: generate_docs_for_endpoint

[US_AZ] 1 Admin Supervision Criteria + fixing helper function (Recidiviz/recidiviz-data#35081)
  recidiviz/task_eligibility/criteria/state_specific/us_az/no_arson_conviction.py
  recidiviz/task_eligibility/criteria/state_specific/us_az/no_dangerous_crimes_against_children_conviction.py
  recidiviz/task_eligibility/criteria/state_specific/us_az/no_domestic_violence_conviction.py
  recidiviz/task_eligibility/criteria/state_specific/us_az/no_sexual_exploitation_of_children_conviction.py
  recidiviz/task_eligibility/criteria/state_specific/us_az/no_violent_conviction.py
  recidiviz/task_eligibility/criteria/state_specific/us_az/no_violent_conviction_unless_assault_or_aggravated_assault_or_robbery_conviction.py
  recidiviz/task_eligibility/criteria/state_specific/us_az/not_serving_ineligible_offense_for_admin_supervision.py
  recidiviz/task_eligibility/eligibility_spans/us_az/transfer_to_administrative_supervision.py
  recidiviz/task_eligibility/utils/us_az_query_fragments.py
Due: generate_docs_for_endpoint

Drop zero days, agg overlapping sentences (Recidiviz/recidiviz-data#35276)
  recidiviz/calculator/query/state/views/sentence_sessions/sentence_status_raw_text_sessions.py
  recidiviz/task_eligibility/criteria/state_specific/us_mi/not_serving_ineligible_offenses_for_downgrade_from_supervision_level.py
  recidiviz/task_eligibility/criteria/state_specific/us_mi/not_serving_ineligible_offenses_for_telephone_reporting.py
Due: generate_docs_for_endpoint

[US_OR] Add OR deleted columns to unblock import in the new infra (Recidiviz/recidiviz-data#35365)
  recidiviz/ingest/direct/regions/us_or/raw_data/us_or_RCDVZ_CISPRDDTA_CLOFPD.yaml
  recidiviz/ingest/direct/regions/us_or/raw_data/us_or_RCDVZ_CISPRDDTA_CLOVER.yaml
  recidiviz/ingest/direct/regions/us_or/raw_data/us_or_RCDVZ_CISPRDDTA_MTOFDR.yaml
  recidiviz/ingest/direct/regions/us_or/raw_data/us_or_RCDVZ_CISPRDDTA_PBCASE.yaml
  recidiviz/ingest/direct/regions/us_or/raw_data/us_or_RCDVZ_CISPRDDTA_PBREVO.yaml
  recidiviz/ingest/direct/regions/us_or/raw_data/us_or_RCDVZ_CISPRDDTA_SRAT.yaml
  recidiviz/ingest/direct/regions/us_or/raw_data/us_or_RCDVZ_PBMIS_RELESE_PLN_DT_CALC.yaml
  recidiviz/ingest/direct/regions/us_or/raw_data/us_or_RCDVZ_PRDDTA_OP970P.yaml
Due: generate_docs_for_region, generate_docs_for_endpoint

[US_MI] Hard code KENT OBS cells as MENTAL_HEALTH_SOLITARY (Recidiviz/recidiviz-data#35370)
  recidiviz/ingest/direct/regions/us_mi/ingest_mappings/us_mi_incarceration_periods_v3.yaml
Due: generate_docs_for_region, generate_docs_for_endpoint

[KPIs] Small refactor to _create_or_update_view_and_materialize_if_necessary (Recidiviz/recidiviz-data#35334)
  recidiviz/big_query/big_query_client.py
  recidiviz/big_query/view_update_manager.py
  recidiviz/persistence/database/bq_refresh/federated_cloud_sql_to_bq_refresh.py
  recidiviz/tests/big_query/view_graph_validation_test.py
  recidiviz/tests/big_query/view_update_manager_test.py
  recidiviz/tools/calculator/compare_metric_view_output_to_sandbox.py
  recidiviz/tools/load_end_to_end_data_sandbox.py
  recidiviz/tools/load_raw_data_latest_views_to_sandbox.py
  recidiviz/tools/load_views_to_sandbox.py
  recidiviz/view_registry/execute_update_all_managed_views.py
Due: generate_docs_for_endpoint

[Docker] Upgrade to Ubuntu Noble (Recidiviz/recidiviz-data#35379)
  Dockerfile
Due: none

[Deploy] Fix permissions issues related to non-root users (Recidiviz/recidiviz-data#35385)
  Dockerfile
  recidiviz/tools/deploy/cloud_build/build_configuration.py
  recidiviz/tools/deploy/cloud_build/deployment_stage_runner.py
Due: generate_docs_for_endpoint

[Deploy] Set HOME when running steps in Cloud Build (Recidiviz/recidiviz-data#35392)
  Dockerfile
  recidiviz/tools/deploy/cloud_build/stages/create_terraform_plan.py
  recidiviz/tools/deploy/cloud_build/stages/run_migrations_from_cloud_build.py
Due: generate_docs_for_endpoint

[Docker] Assign ownership of source files to `recidiviz` user (Recidiviz/recidiviz-data#35395)
  Dockerfile
Due: none

[Justice Counts] [1/2] Script To Ingest Included Jurisdictions (Recidiviz/recidiviz-data#35288)
  recidiviz/tools/justice_counts/backfill_geoids.py
  recidiviz/tools/justice_counts/upload_included_jurisdictions.py
Due: generate_docs_for_endpoint

[raw data import] Ignore exceptions when trying to normalize header names if infer_columns_from_config=True (Recidiviz/recidiviz-data#35377)
  recidiviz/big_query/big_query_utils.py
  recidiviz/ingest/direct/raw_data/read_raw_file_column_headers.py
  recidiviz/tests/big_query/big_query_utils_test.py
  recidiviz/tests/ingest/direct/raw_data/read_raw_file_column_headers_test.py
Due: generate_docs_for_endpoint

[raw data import] Scrub out newlines for files that use custom line terminators (Recidiviz/recidiviz-data#35384)
  recidiviz/ingest/direct/raw_data/read_raw_file_column_headers.py
  recidiviz/tests/ingest/direct/raw_data/read_raw_file_column_headers_test.py
Due: generate_docs_for_endpoint

[US_ME] Add almost eligible criteria to work release (Recidiviz/recidiviz-data#35373)
  recidiviz/task_eligibility/eligibility_spans/us_me/work_release_form.py
Due: generate_docs_for_endpoint

Path conditions:
  generate_docs_for_region: any of: ^recidiviz/ingest/direct/regions/
  generate_docs_for_endpoint: any of: ^recidiviz/, but not: (?x)(^recidiviz/tests/|^recidiviz/tools/|^recidiviz/ingest/direct/regions/)$

  generate_entity_documentation: any of: (?x)(^recidiviz/persistence/database/schema/state/schema.py|^recidiviz/persistence/database/schema/history_table_shared_columns_mixin.py)$

