Repository Recidiviz/pulse-data: changes, and which pre-commit hooks are due for each by the changed paths.
All: generate_docs_for_region, generate_docs_for_endpoint, generate_entity_documentation

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.3.0
    hooks:
      - id: check-yaml
  - repo: https://github.com/psf/black
    rev: 20.8b1
    hooks:
      - id: black
        language_version: python3
  - repo: local
    hooks:
      - id: generate_docs_for_region
        name: generate_docs_for_region
        entry: pipenv run python -m recidiviz.tools.docs.region_documentation_generator
        language: system
        files: ^recidiviz/ingest/direct/regions/
        require_serial: true
      - id: generate_docs_for_endpoint
        name: generate_docs_for_endpoint
        entry: pipenv run python -m recidiviz.tools.docs.endpoint_documentation_generator
        language: system
        files: ^recidiviz/
        exclude: >
          (?x)(^recidiviz/tests/|^recidiviz/tools/|^recidiviz/ingest/direct/regions/)$
        require_serial: true
      - id: generate_entity_documentation
        name: generate_entity_documentation
        entry: pipenv run python -m recidiviz.tools.docs.entity_documentation_generator
        language: system
        files: >
           (?x)(^recidiviz/persistence/database/schema/state/schema.py|^recidiviz/persistence/database/schema/history_table_shared_columns_mixin.py)$
        require_serial: true

Add More Table Definitions and PKs (Recidiviz/recidiviz-data#11466)
  recidiviz/ingest/direct/regions/us_tn/raw_data/us_tn_ClassSection.yaml
  recidiviz/ingest/direct/regions/us_tn/raw_data/us_tn_CodesDescription.yaml
  recidiviz/ingest/direct/regions/us_tn/raw_data/us_tn_DrugTest.yaml
  recidiviz/ingest/direct/regions/us_tn/raw_data/us_tn_DrugTestAdulterant.yaml
  recidiviz/ingest/direct/regions/us_tn/raw_data/us_tn_PriorRecord.yaml
  recidiviz/ingest/direct/regions/us_tn/raw_data/us_tn_VantagePointPathways.yaml
  recidiviz/ingest/direct/regions/us_tn/raw_data/us_tn_VantagePointRecommendations.yaml
Due: generate_docs_for_region, generate_docs_for_endpoint

Adding initial descriptions to columns for MI tables (Recidiviz/recidiviz-data#11307)
  recidiviz/ingest/direct/regions/us_mi/raw_data/us_mi_ADH_LOCATION.yaml
  recidiviz/ingest/direct/regions/us_mi/raw_data/us_mi_ADH_MOVEMENT_REASON.yaml
  recidiviz/ingest/direct/regions/us_mi/raw_data/us_mi_ADH_OFFENDER.yaml
  recidiviz/ingest/direct/regions/us_mi/raw_data/us_mi_ADH_OFFENDER_BOOKING.yaml
  recidiviz/ingest/direct/regions/us_mi/raw_data/us_mi_ADH_OFFENDER_BOOKING_PROFILE.yaml
  recidiviz/ingest/direct/regions/us_mi/raw_data/us_mi_ADH_OFFENDER_EXTERNAL_MOVEMENT.yaml
  recidiviz/ingest/direct/regions/us_mi/raw_data/us_mi_ADH_OFFENDER_NAME.yaml
  recidiviz/ingest/direct/regions/us_mi/raw_data/us_mi_ADH_OFFENDER_PROFILE_SUMMARY_WRK.yaml
  recidiviz/ingest/direct/regions/us_mi/raw_data/us_mi_ADH_REFERENCE_CODE.yaml
  recidiviz/ingest/direct/regions/us_mi/raw_data/us_mi_ADH__LOCATION.yaml
  recidiviz/ingest/direct/regions/us_mi/raw_data/us_mi_ADH__MOVEMENT_REASON.yaml
  recidiviz/ingest/direct/regions/us_mi/raw_data/us_mi_ADH__OFFENDER.yaml
  recidiviz/ingest/direct/regions/us_mi/raw_data/us_mi_ADH__OFFENDER_BOOKING.yaml
  recidiviz/ingest/direct/regions/us_mi/raw_data/us_mi_ADH__OFFENDER_EXTERNAL_MOVEMENT.yaml
  recidiviz/ingest/direct/regions/us_mi/raw_data/us_mi_ADH__REFERENCE_CODE.yaml
  recidiviz/ingest/direct/regions/us_mi/raw_data/us_mi_default.yaml
  recidiviz/view_registry/deployed_views.py
Due: generate_docs_for_region, generate_docs_for_endpoint

[Clean up] Delete unused job-monitor-v2 queue (Recidiviz/recidiviz-data#11397)
  recidiviz/tools/deploy/terraform/cloud-task-queues.tf
Due: generate_docs_for_endpoint

[US_ME] Adds additional raw data descriptions necessary for the sentence mappings (Recidiviz/recidiviz-data#11485)
  recidiviz/ingest/direct/regions/us_me/raw_data/us_me_CIS_4000_CHARGE_STATUS.yaml
  recidiviz/ingest/direct/regions/us_me/raw_data/us_me_CIS_4010_CRT_ORDER_STATUS.yaml
  recidiviz/ingest/direct/regions/us_me/raw_data/us_me_CIS_401_CRT_ORDER_HDR.yaml
Due: generate_docs_for_region, generate_docs_for_endpoint

[Pathways][US)ID] Incarceration location id to name mappings (Recidiviz/recidiviz-data#11473)
  recidiviz/calculator/query/state/state_specific_query_strings.py
  recidiviz/calculator/query/state/views/dashboard/pathways/pathways_incarceration_location_name_map.py
  recidiviz/calculator/query/state/views/reference/incarceration_location_ids_to_names.py
  recidiviz/datasets/static_data/us_id_incarceration_facility_map.csv
  recidiviz/datasets/static_data/us_id_incarceration_facility_names.csv
  recidiviz/tools/deploy/terraform/reference-tables.tf
Due: generate_docs_for_endpoint

[Bug Fix] Fixing dataset expiration bug (Recidiviz/recidiviz-data#11495)
  recidiviz/tools/deploy/deploy_views.py
Due: generate_docs_for_endpoint

add PKs (Recidiviz/recidiviz-data#11493)
  recidiviz/ingest/direct/regions/us_tn/raw_data/us_tn_ClassSection.yaml
  recidiviz/ingest/direct/regions/us_tn/raw_data/us_tn_PriorRecord.yaml
Due: generate_docs_for_region, generate_docs_for_endpoint

Add `projects` field to Justice Counts `report` model (Recidiviz/recidiviz-data#11462)
  recidiviz/persistence/database/migrations/justice_counts/versions/2022_03_07_1254_541502e401ed_add_project.py
  recidiviz/persistence/database/schema/justice_counts/schema.py
  recidiviz/tests/persistence/database/schema/justice_counts/schema_test.py
  recidiviz/tests/tools/justice_counts/manual_upload_test.py
  recidiviz/tools/justice_counts/manual_upload.py
Due: generate_docs_for_endpoint

adding more descriptions to MI raw data (Recidiviz/recidiviz-data#11502)
  recidiviz/ingest/direct/regions/us_mi/raw_data/us_mi_ADH_MOVEMENT_REASON.yaml
  recidiviz/ingest/direct/regions/us_mi/raw_data/us_mi_ADH_OFFENDER_BOOKING_PROFILE.yaml
  recidiviz/ingest/direct/regions/us_mi/raw_data/us_mi_ADH_OFFENDER_NAME.yaml
  recidiviz/ingest/direct/regions/us_mi/raw_data/us_mi_ADH_OFFENDER_PROFILE_SUMMARY_WRK.yaml
Due: generate_docs_for_region, generate_docs_for_endpoint

[US_ME] Adds ingest views for incarceration and supervision sentences (Recidiviz/recidiviz-data#11385)
  recidiviz/ingest/direct/regions/us_me/ingest_views/us_me_view_query_fragments.py
  recidiviz/ingest/direct/regions/us_me/ingest_views/view_incarceration_sentences.py
  recidiviz/ingest/direct/regions/us_me/ingest_views/view_supervision_sentences.py
  recidiviz/tests/big_query/view_test_util.py
  recidiviz/tools/ingest/testing/generate_raw_data_fixtures_from_bq.py
Due: generate_docs_for_region, generate_docs_for_endpoint

Fix PA supervision validation (Recidiviz/recidiviz-data#11499)
  recidiviz/validation/config/regions/us_pa/us_pa_validation_config.yaml
  recidiviz/validation/views/state/supervision_population_person_level_template.py
Due: generate_docs_for_endpoint

[Admin Panel] add broken validation to hard failure list (Recidiviz/recidiviz-data#11476)
  frontends/admin-panel/src/components/Validation/ValidationStatusView.tsx
Due: none

[Ingest] Clean up handling of reverse_date_diff view exports (part 2) (Recidiviz/recidiviz-data#11362)
  recidiviz/ingest/views/latest_ingest_upper_bounds.py
Due: generate_docs_for_endpoint

[Justice Counts] Migration to backfill new `project` column (Recidiviz/recidiviz-data#11487)
  recidiviz/persistence/database/migrations/justice_counts/versions/2022_03_09_1017_7a12c8a72f3c_backfill_project_column.py
Due: generate_docs_for_endpoint

Adds the entity extraction pipeline for US_ID case notes (Recidiviz/recidiviz-data#11474)
  recidiviz/calculator/pipeline/pipeline_type.py
  recidiviz/calculator/pipeline/supplemental/__init__.py
  recidiviz/calculator/pipeline/supplemental/base_supplemental_dataset_pipeline.py
  recidiviz/calculator/pipeline/supplemental/dataset_config.py
  recidiviz/calculator/pipeline/supplemental/us_id_case_note_extracted_entities/__init__.py
  recidiviz/calculator/pipeline/supplemental/us_id_case_note_extracted_entities/pipeline.py
  recidiviz/calculator/pipeline/supplemental/us_id_case_note_extracted_entities/us_id_text_analysis_configuration.py
  recidiviz/calculator/query/state/views/reference/us_id_case_update_info.py
  recidiviz/calculator/supplemental/regions/us_id/us_id_case_note_matched_entities.py
  recidiviz/calculator/supplemental/regions/us_id/us_id_supplemental_dataset_generator.py
  recidiviz/calculator/supplemental/supplemental_dataset.py
  recidiviz/calculator/supplemental/supplemental_dataset_generator_factory.py
  recidiviz/calculator/supplemental/supplemental_dataset_manager.py
  recidiviz/tests/calculator/pipeline/fake_bigquery.py
  recidiviz/tests/calculator/pipeline/supplemental/__init__.py
  recidiviz/tests/calculator/pipeline/supplemental/us_id_case_note_extracted_entities/__init__.py
  recidiviz/tests/calculator/pipeline/supplemental/us_id_case_note_extracted_entities/pipeline_test.py
  recidiviz/tests/calculator/pipeline/utils/run_pipeline_test_utils.py
  recidiviz/tools/deploy/dataflow_setup.py
  recidiviz/tools/pipeline_launch_util.py
  recidiviz/tools/validate_source_visibility.py
Due: generate_docs_for_endpoint

Update val replacement and datatype conversion for CA ingestion (Recidiviz/recidiviz-data#11488)
  recidiviz/ingest/aggregate/aggregate_ingest_utils.py
  recidiviz/ingest/aggregate/regions/ca/ca_aggregate_ingest.py
Due: generate_docs_for_endpoint

TN ingestion scraper: Allow handling of filenames/paths with slashes and underscores (Recidiviz/recidiviz-data#11491)
  recidiviz/ingest/aggregate/regions/tn/tn_aggregate_ingest.py
Due: generate_docs_for_endpoint

Adding ability to deploy the fuzzy matching entity pipeline (Recidiviz/recidiviz-data#11486)
  recidiviz/big_query/big_query_utils.py
  recidiviz/calculator/dataflow_output_table_manager.py
  recidiviz/calculator/pipeline/supplemental/base_supplemental_dataset_pipeline.py
  recidiviz/calculator/pipeline/supplemental/us_id_case_note_extracted_entities/pipeline.py
  recidiviz/tests/calculator/dataflow_output_table_manager_test.py
  recidiviz/tests/calculator/pipeline/supplemental/us_id_case_note_extracted_entities/pipeline_test.py
  recidiviz/tools/calculator/create_or_update_supplemental_datasets_sandbox.py
  recidiviz/tools/validate_source_visibility.py
Due: generate_docs_for_endpoint

[US_ME] Adds ingest mappings for sentences, charges, and court cases. (Recidiviz/recidiviz-data#11447)
  recidiviz/common/constants/enum_canonical_strings.py
  recidiviz/common/constants/shared_enums/charge.py
  recidiviz/common/constants/state/enum_canonical_strings.py
  recidiviz/common/constants/state/state_agent.py
  recidiviz/common/constants/state/state_sentence.py
  recidiviz/ingest/direct/regions/us_me/ingest_mappings/us_me_incarceration_sentences.yaml
  recidiviz/ingest/direct/regions/us_me/ingest_mappings/us_me_supervision_sentences.yaml
  recidiviz/ingest/direct/regions/us_me/us_me_controller.py
  recidiviz/ingest/direct/regions/us_me/us_me_custom_enum_parsers.py
  recidiviz/ingest/direct/regions/us_me/us_me_custom_parsers.py
  recidiviz/persistence/database/migrations/jails/versions/2022_03_04_1400_546f7d58f00c_add_charge_statuses_jails.py
  recidiviz/persistence/database/migrations/state/versions/2022_03_04_1104_0da6ee9769e1_add_agent_type_justice.py
  recidiviz/persistence/database/migrations/state/versions/2022_03_04_1359_5437c8cb45dc_add_charge_statuses_state.py
  recidiviz/persistence/database/migrations/state/versions/2022_03_04_2233_ca7c10134ded_add_sentence_statuses.py
  recidiviz/persistence/database/schema/shared_enums.py
  recidiviz/persistence/database/schema/state/schema.py
  recidiviz/tests/ingest/direct/regions/utils.py
Due: generate_docs_for_region, generate_docs_for_endpoint, generate_entity_documentation

[Pathways] [US_ID] Update supervision location unit map and names (Recidiviz/recidiviz-data#11496)
  recidiviz/datasets/static_data/us_id_supervision_district_names.csv
  recidiviz/datasets/static_data/us_id_supervision_unit_to_district_map.csv
Due: generate_docs_for_endpoint

[Pathways] add should_see_beta_charts column to dashboard_user_restrictions (Recidiviz/recidiviz-data#11484)
  recidiviz/auth/auth0_client.py
  recidiviz/auth/auth_endpoint.py
  recidiviz/calculator/query/state/views/reference/dashboard_user_restrictions.py
  recidiviz/persistence/database/migrations/case_triage/versions/2022_03_09_1037_ee74760a4a57_update_dashboard_user_restrictions.py
  recidiviz/persistence/database/schema/case_triage/schema.py
  recidiviz/tests/auth/auth0_client_test.py
  recidiviz/tests/auth/auth_endpoint_test.py
  recidiviz/tests/auth/helpers.py
  recidiviz/tests/cloud_sql/gcs_import_to_cloud_sql_test.py
  recidiviz/tools/case_triage/fixtures/dashboard_user_restrictions.csv
Due: generate_docs_for_endpoint

[Justice Counts] Skeleton Control Panel backend API (Recidiviz/recidiviz-data#11480)
  recidiviz/case_triage/server.py
  recidiviz/justice_counts/__init__.py
  recidiviz/justice_counts/control_panel/__init__.py
  recidiviz/justice_counts/control_panel/server.py
  recidiviz/persistence/database/sqlalchemy_flask_utils.py
  recidiviz/tests/admin_panel/routes/email_reporting_integration_test.py
  recidiviz/tests/admin_panel/routes/email_reporting_test.py
  recidiviz/tests/case_triage/demo_user_test.py
  recidiviz/tests/case_triage/server_test.py
  recidiviz/tests/justice_counts/__init__.py
  recidiviz/tests/justice_counts/control_panel/__init__.py
  recidiviz/tests/justice_counts/control_panel/server_test.py
  recidiviz/tools/postgres/__init__.py
Due: generate_docs_for_endpoint

allow should_see_beta_charts to be nullable (Recidiviz/recidiviz-data#11508)
  recidiviz/persistence/database/migrations/case_triage/versions/2022_03_09_1037_ee74760a4a57_update_dashboard_user_restrictions.py
  recidiviz/persistence/database/schema/case_triage/schema.py
Due: generate_docs_for_endpoint

[BQ materialization] Refactor export manager to isolate file-based materialization logic (Recidiviz/recidiviz-data#11367)
  recidiviz/ingest/direct/controllers/base_direct_ingest_controller.py
  recidiviz/ingest/direct/controllers/direct_ingest_ingest_view_export_manager.py
  recidiviz/ingest/direct/ingest_view_materialization/__init__.py
  recidiviz/ingest/direct/ingest_view_materialization/file_based_materialization_args_generator_delegate.py
  recidiviz/ingest/direct/ingest_view_materialization/file_based_materializer_delegate.py
  recidiviz/ingest/direct/ingest_view_materialization/ingest_view_materialization_args_generator.py
  recidiviz/ingest/direct/ingest_view_materialization/ingest_view_materialization_args_generator_delegate.py
  recidiviz/ingest/direct/ingest_view_materialization/ingest_view_materializer_delegate.py
  recidiviz/ingest/direct/metadata/direct_ingest_file_metadata_manager.py
  recidiviz/ingest/direct/metadata/postgres_direct_ingest_file_metadata_manager.py
  recidiviz/tests/ingest/direct/controllers/direct_ingest_ingest_view_export_manager_test.py
  recidiviz/tests/ingest/direct/fakes/fake_single_ingest_view_collector.py
  recidiviz/tests/ingest/direct/ingest_view_materialization/__init__.py
  recidiviz/tests/ingest/direct/ingest_view_materialization/ingest_view_materialization_args_generator_test.py
Due: generate_docs_for_endpoint

Updated Bug Report Issue Template (Recidiviz/recidiviz-data#11156)
  .github/ISSUE_TEMPLATE/bug_report.md
Due: none

update validation views (Recidiviz/recidiviz-data#11511)
  recidiviz/validation/checks/existence_check.py
  recidiviz/validation/checks/sameness_check.py
  recidiviz/validation/validation_models.py
  recidiviz/validation/views/state/population_projection_data_validation/population_projection_data_validation_view_config.py
  recidiviz/validation/views/validation_views.py
  recidiviz/validation/views/view_config.py
Due: generate_docs_for_endpoint

[Entity Normalization] Recursive normalized entity output (Recidiviz/recidiviz-data#11284)
  recidiviz/calculator/pipeline/normalization/base_normalization_pipeline.py
  recidiviz/calculator/pipeline/utils/entity_normalization/normalized_entities_utils.py
  recidiviz/tests/calculator/pipeline/normalization/comprehensive/entity_normalizer_test.py
  recidiviz/tests/calculator/pipeline/normalization/comprehensive/pipeline_test.py
  recidiviz/tests/calculator/pipeline/utils/entity_normalization/normalized_entities_utils_test.py
Due: generate_docs_for_endpoint

Adding the US_ID entity extraction pipeline to the Airflow DAG (Recidiviz/recidiviz-data#11505)
  recidiviz/airflow/dag/calculation_pipeline_dag.py
  recidiviz/calculator/pipeline/calculation_pipeline_templates.yaml
  recidiviz/tests/calculator/fake_calculation_pipeline_templates.yaml
  recidiviz/tools/calculator/trigger_deployed_pipeline_template.py
  recidiviz/tools/deploy/dataflow_template_helpers.py
Due: generate_docs_for_endpoint

Validation checks for negative numbers or numbers that are too large in JC manual upload (Recidiviz/recidiviz-data#11497)
  recidiviz/tests/tools/justice_counts/fixtures/report10_malformed/manifest - ManualData-Prison_US_CO_DashboardMeasures_Jun20.csv
  recidiviz/tests/tools/justice_counts/fixtures/report10_malformed/manifest.yaml
  recidiviz/tests/tools/justice_counts/fixtures/report11_malformed/manifest - ManualData-Prison_US_CO_DashboardMeasures_Jun20.csv
  recidiviz/tests/tools/justice_counts/fixtures/report11_malformed/manifest.yaml
  recidiviz/tests/tools/justice_counts/manual_upload_test.py
  recidiviz/tools/justice_counts/manual_upload.py
Due: generate_docs_for_endpoint

[US_TN] Adding in OFS table yamls (Recidiviz/recidiviz-data#11525)
  recidiviz/ingest/direct/regions/us_tn/raw_data/us_tn_OffenderAccounts.yaml
  recidiviz/ingest/direct/regions/us_tn/raw_data/us_tn_OffenderExemptions.yaml
  recidiviz/ingest/direct/regions/us_tn/raw_data/us_tn_OffenderFees.yaml
  recidiviz/ingest/direct/regions/us_tn/raw_data/us_tn_OffenderInvoices.yaml
  recidiviz/ingest/direct/regions/us_tn/raw_data/us_tn_OffenderPayments.yaml
Due: generate_docs_for_region, generate_docs_for_endpoint

add US_ME to product export list for dashboard_user_restrictions (Recidiviz/recidiviz-data#11531)
  recidiviz/metrics/export/products.yaml
Due: generate_docs_for_endpoint

[BQ materialization] Rename DirectIngestIngestViewExportManager to IngestViewMaterializer (Recidiviz/recidiviz-data#11510)
  recidiviz/ingest/direct/controllers/base_direct_ingest_controller.py
  recidiviz/ingest/direct/controllers/gcsfs_direct_ingest_job_prioritizer.py
  recidiviz/ingest/direct/gcs/file_type.py
  recidiviz/ingest/direct/ingest_view_materialization/file_based_materialization_args_generator_delegate.py
  recidiviz/ingest/direct/ingest_view_materialization/file_based_materializer_delegate.py
  recidiviz/ingest/direct/ingest_view_materialization/ingest_view_materialization_args_generator_delegate.py
  recidiviz/ingest/direct/ingest_view_materialization/ingest_view_materializer.py
  recidiviz/ingest/direct/ingest_view_materialization/ingest_view_materializer_delegate.py
  recidiviz/ingest/direct/metadata/direct_ingest_file_metadata_manager.py
  recidiviz/ingest/direct/metadata/postgres_direct_ingest_file_metadata_manager.py
  recidiviz/ingest/direct/types/cloud_task_args.py
  recidiviz/tests/ingest/direct/ingest_view_materialization/ingest_view_materializer_test.py
  recidiviz/tests/validation/checks/check_resolver_test.py
Due: generate_docs_for_endpoint

Add Skeleton YAMLs for New `Sanctions` tables (Recidiviz/recidiviz-data#11529)
  recidiviz/ingest/direct/regions/us_tn/raw_data/us_tn_EndReasonUnsuccessfulList.yaml
  recidiviz/ingest/direct/regions/us_tn/raw_data/us_tn_SanctionLevelLookUp.yaml
  recidiviz/ingest/direct/regions/us_tn/raw_data/us_tn_SanctionStatus.yaml
  recidiviz/ingest/direct/regions/us_tn/raw_data/us_tn_Sanctions.yaml
  recidiviz/ingest/direct/regions/us_tn/raw_data/us_tn_SupervisionLevelLookup.yaml
  recidiviz/ingest/direct/regions/us_tn/raw_data/us_tn_SupervisonGroupLookUp.yaml
  recidiviz/ingest/direct/regions/us_tn/raw_data/us_tn_ViolationLookUp.yaml
  recidiviz/ingest/direct/regions/us_tn/raw_data/us_tn_ViolationSupervisionSanctionLookUp.yaml
  recidiviz/ingest/direct/regions/us_tn/raw_data/us_tn_Violations.yaml
Due: generate_docs_for_region, generate_docs_for_endpoint

Merging all sandbox dataset generations to one script (Recidiviz/recidiviz-data#11513)
  recidiviz/calculator/dataflow_output_table_manager.py
  recidiviz/tests/calculator/dataflow_output_table_manager_test.py
  recidiviz/tools/calculator/compare_dataflow_output_to_sandbox.py
  recidiviz/tools/calculator/create_or_update_dataflow_metrics_sandbox.py
  recidiviz/tools/calculator/create_or_update_dataflow_sandbox.py
  recidiviz/tools/calculator/create_or_update_normalized_state_sandbox.py
  recidiviz/tools/calculator/create_or_update_supplemental_datasets_sandbox.py
  recidiviz/tools/calculator/run_sandbox_calculation_pipeline.py
Due: generate_docs_for_endpoint

[US_ME] Remove reference to named CTE in order by for sentences queries (Recidiviz/recidiviz-data#11533)
  recidiviz/ingest/direct/regions/us_me/ingest_views/view_incarceration_sentences.py
  recidiviz/ingest/direct/regions/us_me/ingest_views/view_supervision_sentences.py
Due: generate_docs_for_region, generate_docs_for_endpoint

[Pathways][US_ID] Update facility mapping and supervision_level filtering (Recidiviz/recidiviz-data#11514)
  recidiviz/calculator/query/state/views/dashboard/pathways/supervision_population_snapshot_by_dimension.py
  recidiviz/datasets/static_data/us_id_incarceration_facility_map.csv
  recidiviz/datasets/static_data/us_id_incarceration_facility_names.csv
Due: generate_docs_for_endpoint

[BQ materialization] Add gating mechanism for determining if a state/instance has been migrated (Recidiviz/recidiviz-data#11512)
  recidiviz/ingest/direct/ingest_view_materialization/ingest_view_materialization_gating_context.py
  recidiviz/persistence/database/bq_refresh/cloud_sql_to_bq_refresh_config.py
  recidiviz/tests/ingest/direct/ingest_view_materialization/ingest_view_materialization_gating_context_test.py
Due: generate_docs_for_endpoint

Add more supervision compartments to pop proj output (Recidiviz/recidiviz-data#11536)
  recidiviz/calculator/modeling/population_projection/population_projector.py
  recidiviz/calculator/query/state/views/population_projection/microsim_projection.py
Due: generate_docs_for_endpoint

[BQ materialization] Hook IngestViewMaterializationGatingContext into controller (Recidiviz/recidiviz-data#11515)
  recidiviz/ingest/direct/controllers/base_direct_ingest_controller.py
  recidiviz/tests/ingest/direct/controllers/direct_ingest_controller_factory_test.py
  recidiviz/tests/ingest/direct/direct_ingest_control_test.py
  recidiviz/tests/ingest/direct/fakes/fake_direct_ingest_controller.py
  recidiviz/tests/ingest/direct/regions/direct_ingest_region_structure_test.py
Due: generate_docs_for_endpoint

Travis cleanup (Recidiviz/recidiviz-data#11542)
  .github/workflows/ci.yml
  README.md
  recidiviz/tools/lint/run_pylint.sh
  recidiviz/tools/scraper_template/README.md
  recidiviz/tools/travis/__init__.py
  travis/export_commits.sh
Due: generate_docs_for_endpoint
