Repository Recidiviz/pulse-data: changes, and which pre-commit hooks are due for each by the changed paths.
All: generate_docs_for_region, generate_docs_for_endpoint, generate_entity_documentation

generate_docs_for_region:
  name: generate_docs_for_region
  entry: pipenv run python -m recidiviz.tools.docs.region_documentation_generator
  language: system
  require_serial: true

generate_docs_for_endpoint:
  name: generate_docs_for_endpoint
  entry: pipenv run python -m recidiviz.tools.docs.endpoint_documentation_generator
  language: system
  require_serial: true

generate_entity_documentation:
  name: generate_entity_documentation
  entry: pipenv run python -m recidiviz.tools.docs.entity_documentation_generator
  language: system
  require_serial: true

[VITALS US_ND] Include admission_reason is null to latest periods (recidiviz/recidiviz-data#8872)
  recidiviz/calculator/query/bq_utils.py
Due: generate_docs_for_endpoint

Catch TypeErrors too when name is None and return partial response (recidiviz/recidiviz-data#8892)
  frontends/case-triage/src/stores/ClientsStore/Client.ts
  recidiviz/case_triage/querier/case_presenter.py
Due: generate_docs_for_endpoint

Attempt running the MO migration in a transaction (recidiviz/recidiviz-data#8896)
  recidiviz/persistence/database/migrations/state/versions/2021_08_17_1747_190df7ac651c_delete_us_mo_permanent_decision_ssvrs.py
Due: generate_docs_for_endpoint

Updating migration (recidiviz/recidiviz-data#8898)
  recidiviz/persistence/database/migrations/state/versions/2021_08_17_1747_190df7ac651c_delete_us_mo_permanent_decision_ssvrs.py
Due: generate_docs_for_endpoint

Revert "[Teraform] Rename resource (recidiviz/recidiviz-data#8884)" (recidiviz/recidiviz-data#8906)
  recidiviz/tools/deploy/terraform/cloud-run.tf
Due: generate_docs_for_endpoint

[Entity matching] Add log for each multi-parent merge class (recidiviz/recidiviz-data#8912)
  recidiviz/persistence/entity_matching/state/state_entity_matcher.py
Due: generate_docs_for_endpoint

[Terraform] Create and use less-poorly-named SSL policy (recidiviz/recidiviz-data#8920)
  recidiviz/tools/deploy/terraform/cloud-run.tf
Due: generate_docs_for_endpoint

Add standardized LSI-R assessment questions and subscale components to analyst_data (recidiviz/recidiviz-data#8535)
  recidiviz/calculator/query/state/views/analyst_data/analyst_data_views.py
  recidiviz/calculator/query/state/views/analyst_data/assessment_lsir_responses.py
  recidiviz/calculator/query/state/views/analyst_data/assessment_lsir_scoring_key.py
  recidiviz/calculator/query/state/views/analyst_data/us_id/us_id_raw_lsir_assessments.py
  recidiviz/calculator/query/state/views/analyst_data/us_nd/__init__.py
  recidiviz/calculator/query/state/views/analyst_data/us_nd/us_nd_raw_lsir_assessments.py
  recidiviz/tests/big_query/big_query_view_dag_walker_test.py
Due: generate_docs_for_endpoint

Fix script behaviors for flashing database (recidiviz/recidiviz-data#8911)
  frontends/admin-panel/src/components/FlashDatabaseChecklist.tsx
  recidiviz/persistence/database/session_factory.py
  recidiviz/persistence/database/sqlalchemy_engine_manager.py
  recidiviz/tests/persistence/database/sqlalchemy_engine_manager_test.py
  recidiviz/tools/gsutil_shell_helpers.py
  recidiviz/tools/migrations/purge_state_db.py
  recidiviz/tools/migrations/purge_state_db_remote_helper.py
  recidiviz/tools/migrations/run_migrations_to_head.py
Due: generate_docs_for_endpoint

Raw data import cleanup- bq side (recidiviz/recidiviz-data#8822)
  recidiviz/ingest/direct/controllers/direct_ingest_raw_file_import_manager.py
  recidiviz/tests/ingest/direct/controllers/direct_ingest_raw_file_import_manager_test.py
Due: generate_docs_for_endpoint

[Admin Panel] Put scrollbar on right of page (recidiviz/recidiviz-data#8921)
  frontends/admin-panel/src/style/App.css
Due: none

add state specific entity filter to vitals metrics (recidiviz/recidiviz-data#8875)
  recidiviz/calculator/query/state/views/dashboard/vitals_summaries/vitals_view_helpers.py
  recidiviz/calculator/query/state/views/vitals_report/supervision_population_by_po_by_day.py
Due: generate_docs_for_endpoint

[Direct ingest] Merge CsvGcsfsDirectIngestController functionality in to BaseDirectIngestController (recidiviz/recidiviz-data#8852)
  recidiviz/ingest/direct/controllers/base_direct_ingest_controller.py
  recidiviz/ingest/direct/controllers/csv_gcsfs_direct_ingest_controller.py
  recidiviz/ingest/direct/controllers/direct_ingest_controller_factory.py
  recidiviz/ingest/direct/regions/us_id/us_id_controller.py
  recidiviz/ingest/direct/regions/us_mi/us_mi_controller.py
  recidiviz/ingest/direct/regions/us_mo/us_mo_controller.py
  recidiviz/ingest/direct/regions/us_nd/us_nd_controller.py
  recidiviz/ingest/direct/regions/us_pa/us_pa_controller.py
  recidiviz/ingest/direct/regions/us_tn/us_tn_controller.py
  recidiviz/ingest/direct/regions/us_tx_brazos/us_tx_brazos_controller.py
  recidiviz/ingest/direct/templates/us_xx/us_xx_controller.py
  recidiviz/tests/ingest/direct/controllers/base_direct_ingest_controller_test.py
  recidiviz/tests/ingest/direct/direct_ingest_util.py
Due: generate_docs_for_region, generate_docs_for_endpoint

[Direct Ingest] Some renames to prepare for ingest mappings revamp (recidiviz/recidiviz-data#8869)
  recidiviz/ingest/direct/controllers/base_direct_ingest_controller.py
  recidiviz/ingest/scrape/base_scraper.py
  recidiviz/persistence/batch_persistence.py
  recidiviz/persistence/ingest_info_converter/base_converter.py
  recidiviz/persistence/ingest_info_converter/ingest_info_converter.py
  recidiviz/persistence/persistence.py
  recidiviz/tests/ingest/scrape/base_scraper_test.py
  recidiviz/tests/persistence/batch_persistence_test.py
  recidiviz/tests/persistence/ingest_info_converter/county/county_converter_test.py
  recidiviz/tests/persistence/ingest_info_converter/state/state_converter_test.py
  recidiviz/tests/persistence/persistence_test.py
  recidiviz/tests/persistence/state_persistence_test.py
Due: generate_docs_for_endpoint

Add YAML documentation for Idaho validation data (recidiviz/recidiviz-data#8933)
  recidiviz/ingest/direct/regions/us_id/raw_data/us_id_current_day_daily_summary.yaml
Due: generate_docs_for_region, generate_docs_for_endpoint

Optionally don't rename temp files (recidiviz/recidiviz-data#8889)
  recidiviz/cloud_storage/gcs_file_system.py
  recidiviz/ingest/aggregate/parse.py
  recidiviz/ingest/direct/controllers/direct_ingest_gcs_file_system.py
  recidiviz/tests/cloud_storage/fake_gcs_file_system.py
Due: generate_docs_for_endpoint

Add charge views charge_info_by_booking and charge_info_all_bookings (recidiviz/recidiviz-data#8927)
  recidiviz/calculator/query/county/views/charges/charge_info_all_bookings.py
  recidiviz/calculator/query/county/views/charges/charge_info_by_booking.py
  recidiviz/calculator/query/county/views/charges/charge_views.py
Due: generate_docs_for_endpoint

Adding a new column `contact_method` to `state_supervision_contact` (recidiviz/recidiviz-data#8846)
  recidiviz/common/constants/state/enum_canonical_strings.py
  recidiviz/common/constants/state/state_supervision_contact.py
  recidiviz/ingest/models/ingest_info.proto
  recidiviz/ingest/models/ingest_info.py
  recidiviz/ingest/models/ingest_info_pb2.py
  recidiviz/ingest/models/ingest_info_pb2.pyi
  recidiviz/persistence/database/migrations/state/versions/2021_08_23_1001_7cbf1ade1343_add_contact_method.py
  recidiviz/persistence/database/schema/state/schema.py
  recidiviz/persistence/entity/state/entities.py
  recidiviz/persistence/ingest_info_converter/state/entity_helpers/state_supervision_contact.py
  recidiviz/tests/ingest/models/serialization_test.py
  recidiviz/tests/persistence/database/schema/state/schema_test.py
Due: generate_docs_for_endpoint, generate_entity_documentation

Change GcsFileSystem.upload_from_contents_handle_stream to read files as binary (recidiviz/recidiviz-data#8918)
  recidiviz/cloud_storage/content_types.py
  recidiviz/cloud_storage/gcs_file_system.py
  recidiviz/ingest/direct/controllers/download_files_from_sftp.py
Due: generate_docs_for_endpoint

[US_ID] Add date to validation primary key (recidiviz/recidiviz-data#8946)
  recidiviz/ingest/direct/regions/us_id/raw_data/us_id_current_day_daily_summary.yaml
Due: generate_docs_for_region, generate_docs_for_endpoint

adding additional enums for the contact_type field (recidiviz/recidiviz-data#8942)
  recidiviz/common/constants/state/enum_canonical_strings.py
  recidiviz/common/constants/state/state_supervision_contact.py
  recidiviz/persistence/database/migrations/state/versions/2021_08_23_1623_3433a0b16898_add_contact_types.py
  recidiviz/persistence/database/schema/state/schema.py
Due: generate_docs_for_endpoint, generate_entity_documentation

[US_PA] Add descriptions that are easy to infer for dbo_Treatment (recidiviz/recidiviz-data#8948)
  recidiviz/ingest/direct/regions/us_pa/raw_data/us_pa_dbo_Treatment.yaml
Due: generate_docs_for_region, generate_docs_for_endpoint

[Mypy] Add some types to `recidiviz/tests/calculator/pipeline/` (recidiviz/recidiviz-data#8944)
  recidiviz/calculator/pipeline/incarceration/metric_producer.py
  recidiviz/calculator/pipeline/recidivism/events.py
  recidiviz/tests/calculator/pipeline/fake_bigquery.py
  recidiviz/tests/calculator/pipeline/incarceration/identifier_test.py
  recidiviz/tests/calculator/pipeline/incarceration/metric_producer_test.py
  recidiviz/tests/calculator/pipeline/incarceration/pipeline_test.py
  recidiviz/tests/calculator/pipeline/program/identifier_test.py
  recidiviz/tests/calculator/pipeline/program/pipeline_test.py
  recidiviz/tests/calculator/pipeline/program/program_event_test.py
  recidiviz/tests/calculator/pipeline/recidivism/identifier_test.py
  recidiviz/tests/calculator/pipeline/recidivism/metric_producer_test.py
  recidiviz/tests/calculator/pipeline/recidivism/pipeline_test.py
  recidiviz/tests/calculator/pipeline/utils/commitment_from_supervision_utils_test.py
  recidiviz/tests/calculator/pipeline/utils/entity_pre_processing_utils_test.py
  recidiviz/tests/calculator/pipeline/utils/pipeline_args_utils_test.py
  recidiviz/tests/calculator/pipeline/utils/violation_response_utils_test.py
  setup.cfg
Due: generate_docs_for_endpoint

Adding additional enums to `contact_location` (recidiviz/recidiviz-data#8949)
  recidiviz/common/constants/state/enum_canonical_strings.py
  recidiviz/common/constants/state/state_supervision_contact.py
  recidiviz/persistence/database/migrations/state/versions/2021_08_24_1302_6178a06afa16_add_contact_locations.py
  recidiviz/persistence/database/schema/state/schema.py
Due: generate_docs_for_endpoint, generate_entity_documentation

[Terraform] Switch default network tier to PREMIUM (recidiviz/recidiviz-data#8952)
  recidiviz/tools/deploy/terraform/networks.tf
Due: generate_docs_for_endpoint

Update scraper yaml to connect to v2 databases (recidiviz/recidiviz-data#8954)
  prod-scrapers.yaml
  prod.yaml
  staging-scrapers.yaml
  staging.yaml
Due: none

Fix raw data import for new file tags (recidiviz/recidiviz-data#8953)
  recidiviz/ingest/direct/controllers/direct_ingest_raw_file_import_manager.py
  recidiviz/tests/ingest/direct/controllers/direct_ingest_raw_file_import_manager_test.py
Due: generate_docs_for_endpoint

[Terraform] Remove deprecated resource (recidiviz/recidiviz-data#8985)
  recidiviz/tools/deploy/terraform/cloud-run.tf
Due: generate_docs_for_endpoint

[Postgres] Migrate prod to point at v2 database (recidiviz/recidiviz-data#8983)
  recidiviz/persistence/database/sqlalchemy_engine_manager.py
  recidiviz/tests/persistence/database/sqlalchemy_engine_manager_test.py
  recidiviz/tools/copy_certificates_to_prod_data_client.sh
Due: generate_docs_for_endpoint

[Case Triage] Onboarding (recidiviz/recidiviz-data#8914)
  frontends/case-triage/package.json
  frontends/case-triage/src/assets/onboarding/1.png
  frontends/case-triage/src/assets/onboarding/2.png
  frontends/case-triage/src/assets/onboarding/3.png
  frontends/case-triage/src/assets/onboarding/4.png
  frontends/case-triage/src/assets/onboarding/index.tsx
  frontends/case-triage/src/components/Carousel/Carousel.styles.tsx
  frontends/case-triage/src/components/Carousel/Carousel.tsx
  frontends/case-triage/src/components/Carousel/index.tsx
  frontends/case-triage/src/components/CaseCard/PreferredNameInput.tsx
  frontends/case-triage/src/components/OnboardingCarousel/OnboardingCarousel.styles.tsx
  frontends/case-triage/src/components/OnboardingCarousel/OnboardingCarousel.tsx
  frontends/case-triage/src/index.tsx
  frontends/case-triage/src/routes/Onboarding.tsx
  frontends/case-triage/src/stores/API.ts
  frontends/case-triage/src/stores/OfficerMetadataStore.ts
  frontends/case-triage/src/stores/RootStore.ts
  frontends/case-triage/src/stores/UserStore.ts
  frontends/case-triage/yarn.lock
  recidiviz/case_triage/api_routes.py
  recidiviz/case_triage/api_schemas.py
  recidiviz/case_triage/error_handlers.py
  recidiviz/case_triage/officer_metadata/__init__.py
  recidiviz/case_triage/officer_metadata/interface.py
  recidiviz/case_triage/server.py
  recidiviz/case_triage/user_context.py
  recidiviz/persistence/database/schema/case_triage/schema.py
  recidiviz/tests/case_triage/api_test_helpers.py
  recidiviz/tests/case_triage/server_test.py
Due: generate_docs_for_endpoint

[US_ID] Lower validation thresholds to current staging levels (recidiviz/recidiviz-data#8976)
  recidiviz/validation/config/regions/us_id/us_id_validation_config.yaml
Due: generate_docs_for_endpoint

[Ingest mappings] Add deserializing factories for StateAssessment, StatePersonAlias, and StateAgent (recidiviz/recidiviz-data#8988)
  recidiviz/persistence/entity/entity_deserialize.py
  recidiviz/persistence/entity/state/deserialize_entity_factories.py
  recidiviz/persistence/ingest_info_converter/state/entity_helpers/state_agent.py
  recidiviz/persistence/ingest_info_converter/state/entity_helpers/state_alias.py
  recidiviz/persistence/ingest_info_converter/state/entity_helpers/state_assessment.py
  recidiviz/persistence/ingest_info_converter/state/state_converter.py
  recidiviz/tests/persistence/ingest_info_converter/state/entity_helpers/state_assessment_test.py
Due: generate_docs_for_endpoint

Moving the supervision officer location function to delegates (recidiviz/recidiviz-data#8922)
  recidiviz/calculator/pipeline/incarceration/identifier.py
  recidiviz/calculator/pipeline/program/identifier.py
  recidiviz/calculator/pipeline/supervision/identifier.py
  recidiviz/calculator/pipeline/utils/commitment_from_supervision_utils.py
  recidiviz/calculator/pipeline/utils/state_utils/state_calculation_config_manager.py
  recidiviz/calculator/pipeline/utils/state_utils/state_specific_supervision_delegate.py
  recidiviz/calculator/pipeline/utils/state_utils/us_id/us_id_supervision_delegate.py
  recidiviz/calculator/pipeline/utils/state_utils/us_id/us_id_supervision_utils.py
  recidiviz/calculator/pipeline/utils/state_utils/us_pa/us_pa_supervision_delegate.py
  recidiviz/calculator/pipeline/utils/state_utils/us_pa/us_pa_supervision_utils.py
  recidiviz/calculator/pipeline/utils/supervision_period_utils.py
  recidiviz/tests/calculator/pipeline/incarceration/identifier_test.py
  recidiviz/tests/calculator/pipeline/incarceration/pipeline_test.py
  recidiviz/tests/calculator/pipeline/program/identifier_test.py
  recidiviz/tests/calculator/pipeline/program/pipeline_test.py
  recidiviz/tests/calculator/pipeline/supervision/identifier_test.py
  recidiviz/tests/calculator/pipeline/utils/commitment_from_supervision_utils_test.py
  recidiviz/tests/calculator/pipeline/utils/state_utils/state_calculation_config_manager_test.py
  recidiviz/tests/calculator/pipeline/utils/state_utils/state_specific_supervision_delegate_test.py
  recidiviz/tests/calculator/pipeline/utils/state_utils/us_id/us_id_supervision_delegate_test.py
  recidiviz/tests/calculator/pipeline/utils/state_utils/us_pa/us_pa_supervision_delegate_test.py
  recidiviz/tests/calculator/pipeline/utils/supervision_period_utils_test.py
Due: generate_docs_for_endpoint

Removes prod-only project reference to Segment datasets (recidiviz/recidiviz-data#8994)
  recidiviz/calculator/query/experiments/views/case_triage_metrics.py
Due: generate_docs_for_endpoint

Deleting SuccessfulSupervisionSentenceDaysServedMetric (recidiviz/recidiviz-data#8990)
  recidiviz/calculator/dataflow_config.py
  recidiviz/calculator/pipeline/supervision/identifier.py
  recidiviz/calculator/pipeline/supervision/metric_producer.py
  recidiviz/calculator/pipeline/supervision/metrics.py
  recidiviz/tests/calculator/pipeline/supervision/metric_producer_test.py
  recidiviz/tests/calculator/pipeline/supervision/pipeline_test.py
  recidiviz/tests/calculator/pipeline/utils/metric_utils_test.py
Due: generate_docs_for_endpoint

Add forgotten migration changes (recidiviz/recidiviz-data#9003)
  recidiviz/persistence/database/bq_refresh/federated_cloud_sql_table_big_query_view.py
  recidiviz/tests/persistence/database/bq_refresh/federated_cloud_sql_table_big_query_view_collector_test.py
  recidiviz/tests/persistence/database/bq_refresh/federated_cloud_sql_table_big_query_view_test.py
  recidiviz/tests/persistence/database/bq_refresh/federated_cloud_sql_to_bq_refresh_test.py
Due: generate_docs_for_endpoint

[auth] Add retry logic to the auth0 client for updating users (recidiviz/recidiviz-data#8993)
  recidiviz/auth/auth0_client.py
  recidiviz/tests/auth/auth0_client_test.py
  stubs/auth0/v3/exceptions.pyi
Due: generate_docs_for_endpoint

Add raw data mapping for us_nd_recidiviz_docstars_ftrproviders (recidiviz/recidiviz-data#6409)
  recidiviz/ingest/direct/regions/us_nd/raw_data/us_nd_docstars_REF_PROVIDER_LOCATION.yaml
  recidiviz/ingest/direct/regions/us_nd/raw_data/us_nd_docstars_ref_ftr_providers.yaml
Due: generate_docs_for_region, generate_docs_for_endpoint

[Ingest mappings] Add deserializing factory for StateCharge (recidiviz/recidiviz-data#8995)
  recidiviz/persistence/database/migrations/state/versions/2021_08_24_1822_4e3749fd0305_clear_bad_charge_classifications.py
  recidiviz/persistence/entity/state/deserialize_entity_factories.py
  recidiviz/persistence/ingest_info_converter/state/entity_helpers/state_charge.py
  recidiviz/persistence/ingest_info_converter/state/state_converter.py
  recidiviz/tests/persistence/ingest_info_converter/state/entity_helpers/state_charge_test.py
  recidiviz/tests/persistence/ingest_info_converter/state/state_converter_test.py
Due: generate_docs_for_endpoint

Path conditions:
  generate_docs_for_region: any of: ^recidiviz/ingest/direct/regions/
  generate_docs_for_endpoint: any of: ^recidiviz/, but not: (?x)(^recidiviz/tests/|^recidiviz/tools/|^recidiviz/ingest/direct/regions/)$

  generate_entity_documentation: any of: (?x)(^recidiviz/persistence/database/schema/state/schema.py|^recidiviz/persistence/database/schema/history_table_shared_columns_mixin.py)$

