Repository Recidiviz/pulse-data: changes, and which pre-commit hooks are due for each by the changed paths.
All: generate_docs_for_region, generate_docs_for_endpoint, generate_entity_documentation

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.3.0
    hooks:
      - id: check-yaml
  - repo: https://github.com/psf/black
    rev: 20.8b1
    hooks:
      - id: black
        language_version: python3
  - repo: local
    hooks:
      - id: generate_docs_for_region
        name: generate_docs_for_region
        entry: pipenv run python -m recidiviz.tools.docs.region_documentation_generator
        language: system
        files: ^recidiviz/ingest/direct/regions/
        require_serial: true
      - id: generate_docs_for_endpoint
        name: generate_docs_for_endpoint
        entry: pipenv run python -m recidiviz.tools.docs.endpoint_documentation_generator
        language: system
        files: ^recidiviz/
        exclude: >
          (?x)(^recidiviz/tests/|^recidiviz/tools/|^recidiviz/ingest/direct/regions/)$
        require_serial: true
      - id: generate_entity_documentation
        name: generate_entity_documentation
        entry: pipenv run python -m recidiviz.tools.docs.entity_documentation_generator
        language: system
        files: >
           (?x)(^recidiviz/persistence/database/schema/state/schema.py|^recidiviz/persistence/database/schema/history_table_shared_columns_mixin.py)$
        require_serial: true

Fetch a new CSRF token when the previous token expires (recidiviz/recidiviz-data#7989)
  frontends/case-triage/src/stores/API.ts
Due: none

[Case Triage] alert priority and default client list sorting (recidiviz/recidiviz-data#7974)
  frontends/case-triage/src/components/ClientList/ClientStatusList.tsx
  frontends/case-triage/src/stores/ClientsStore/Client.test.ts
  frontends/case-triage/src/stores/ClientsStore/Client.ts
  frontends/case-triage/src/stores/ClientsStore/ClientListBuilder.ts
  frontends/case-triage/src/stores/ClientsStore/ClientsStore.ts
  frontends/case-triage/src/stores/ClientsStore/__fixtures__.ts
  frontends/case-triage/src/stores/OpportunityStore/OpportunityStore.ts
  frontends/case-triage/src/stores/RootStore.ts
Due: none

Merge run_datetime (recidiviz/recidiviz-data#7993)
  recidiviz/tests/validation/validation_result_storage_test.py
  recidiviz/validation/validation_manager.py
  recidiviz/validation/validation_result_storage.py
Due: generate_docs_for_endpoint

V1 Officer caseload health metrics (recidiviz/recidiviz-data#7960)
  recidiviz/calculator/query/state/views/analyst_data/analyst_data_views.py
  recidiviz/calculator/query/state/views/analyst_data/supervision_level_compliance_requirements.py
  recidiviz/calculator/query/state/views/analyst_data/supervision_officer_caseload_health_metrics.py
  recidiviz/tests/big_query/big_query_view_dag_walker_test.py
Due: generate_docs_for_endpoint

[Case Triage] Adds `<PreferredContactMethodSelector/>` (recidiviz/recidiviz-data#7991)
  frontends/case-triage/package.json
  frontends/case-triage/src/components/CaseCard/PreferredContactMethodSelector.tsx
  frontends/case-triage/src/index.tsx
  frontends/case-triage/src/stores/API.ts
  frontends/case-triage/src/stores/ClientsStore/ClientsStore.ts
  frontends/case-triage/yarn.lock
Due: none

Script for running CloudSQL -> BQ refresh to sandbox (recidiviz/recidiviz-data#7982)
  recidiviz/persistence/database/bq_refresh/cloud_sql_to_bq_refresh_config.py
  recidiviz/tools/postgres/load_postgres_to_bq_sandbox.py
Due: generate_docs_for_endpoint

Handling non-board hold temporary custody periods (recidiviz/recidiviz-data#7811)
  recidiviz/calculator/pipeline/utils/incarceration_period_pre_processing_manager.py
  recidiviz/calculator/pipeline/utils/state_utils/us_id/us_id_incarceration_period_pre_processing_delegate.py
  recidiviz/calculator/pipeline/utils/state_utils/us_mo/us_mo_incarceration_period_pre_processing_delegate.py
  recidiviz/calculator/pipeline/utils/state_utils/us_nd/us_nd_incarceration_period_pre_processing_delegate.py
  recidiviz/calculator/pipeline/utils/state_utils/us_pa/us_pa_incarceration_period_pre_processing_delegate.py
  recidiviz/common/constants/state/state_incarceration_period.py
  recidiviz/ingest/direct/regions/us_mo/us_mo_controller.py
  recidiviz/ingest/direct/regions/us_mo/us_mo_enum_helpers.py
  recidiviz/persistence/ingest_info_converter/state/entity_helpers/state_incarceration_period.py
  recidiviz/tests/calculator/pipeline/incarceration/identifier_test.py
  recidiviz/tests/calculator/pipeline/utils/incarceration_period_pre_processing_manager_test.py
  recidiviz/tests/calculator/pipeline/utils/state_utils/us_mo/us_mo_incarceration_period_pre_processing_delegate_test.py
  recidiviz/tests/calculator/pipeline/utils/state_utils/us_nd/us_nd_incarceration_period_pre_processing_delegate_test.py
  recidiviz/tests/calculator/pipeline/utils/state_utils/us_xx/us_xx_incarceration_period_pre_processing_delegate.py
  recidiviz/tests/common/constants/state/state_incarceration_period_test.py
  recidiviz/tests/ingest/direct/direct_ingest_fixtures/us_mo/tak158_tak023_tak026_incarceration_period_from_incarceration_sentence.csv
  recidiviz/tests/ingest/direct/regions/us_mo/us_mo_controller_test.py
  recidiviz/tests/persistence/ingest_info_converter/state/entity_helpers/state_incarceration_period_test.py
  recidiviz/tools/validate_source_visibility.py
Due: generate_docs_for_region, generate_docs_for_endpoint

Setting `GENERAL` pfi for 'S' raw text in US_MO (recidiviz/recidiviz-data#7914)
  recidiviz/calculator/pipeline/utils/state_utils/us_mo/us_mo_incarceration_period_pre_processing_delegate.py
  recidiviz/ingest/direct/regions/us_mo/us_mo_controller.py
  recidiviz/persistence/database/migrations/state/versions/2021_06_17_1153_8a77e86728e9_mo_pfi_update.py
  recidiviz/tests/calculator/pipeline/incarceration/identifier_test.py
  recidiviz/tests/calculator/pipeline/utils/state_utils/us_mo/us_mo_incarceration_period_pre_processing_delegate_test.py
  recidiviz/tests/ingest/direct/regions/us_mo/us_mo_controller_test.py
Due: generate_docs_for_region, generate_docs_for_endpoint

[Multi-DB] Apply mask to STATE primary/foreign keys in CloudSQL -> BQ refresh (recidiviz/recidiviz-data#7981)
  recidiviz/calculator/query/justice_counts/views/cloudsql.py
  recidiviz/common/constants/states.py
  recidiviz/export/state/state_bq_table_export_utils.py
  recidiviz/persistence/database/bq_refresh/cloud_sql_to_bq_refresh_config.py
  recidiviz/persistence/database/schema_table_region_filtered_query_builder.py
  recidiviz/persistence/database/schema_utils.py
  recidiviz/persistence/database/sqlalchemy_database_key.py
  recidiviz/tests/persistence/database/schema_table_region_filtered_query_builder_test.py
Due: generate_docs_for_endpoint

[Multi-DB] Allow for gating Multi-DB rollout per-state (recidiviz/recidiviz-data#7985)
  recidiviz/admin_panel/ingest_operations_store.py
  recidiviz/common/constants/states.py
  recidiviz/ingest/direct/controllers/base_direct_ingest_controller.py
  recidiviz/ingest/direct/controllers/base_upload_state_files_to_ingest_bucket_controller.py
  recidiviz/ingest/direct/controllers/direct_ingest_instance.py
  recidiviz/ingest/direct/controllers/download_files_from_sftp.py
  recidiviz/ingest/direct/direct_ingest_cloud_task_manager.py
  recidiviz/persistence/database/bq_refresh/cloud_sql_to_bq_refresh_config.py
  recidiviz/persistence/database/sqlalchemy_database_key.py
  recidiviz/persistence/database/sqlalchemy_engine_manager.py
  recidiviz/tests/common/constants/states_test.py
  recidiviz/tests/ingest/direct/controllers/base_upload_state_files_to_ingest_bucket_controller_test.py
  recidiviz/tests/ingest/direct/controllers/direct_ingest_instance_test.py
  recidiviz/tests/ingest/direct/controllers/download_files_from_sftp_test.py
  recidiviz/tests/persistence/database/sqlalchemy_database_key_test.py
  recidiviz/tools/migrations/purge_state_db.py
Due: generate_docs_for_endpoint

Full start reason coverage in sessions admission dedup view (recidiviz/recidiviz-data#7913)
  recidiviz/calculator/query/state/views/analyst_data/admission_start_reason_dedup_priority.py
  recidiviz/tests/calculator/query/state/views/analyst_data/__init__.py
  recidiviz/tests/calculator/query/state/views/analyst_data/dedup_priority_test.py
Due: generate_docs_for_endpoint

First step towards applying commitment from supervision overrides (recidiviz/recidiviz-data#7917)
  recidiviz/calculator/pipeline/utils/incarceration_period_pre_processing_manager.py
  recidiviz/calculator/pipeline/utils/state_utils/state_calculation_config_manager.py
  recidiviz/calculator/pipeline/utils/state_utils/us_id/us_id_incarceration_period_pre_processing_delegate.py
  recidiviz/calculator/pipeline/utils/state_utils/us_mo/us_mo_incarceration_period_pre_processing_delegate.py
  recidiviz/calculator/pipeline/utils/state_utils/us_nd/us_nd_incarceration_period_pre_processing_delegate.py
  recidiviz/calculator/pipeline/utils/state_utils/us_pa/us_pa_incarceration_period_pre_processing_delegate.py
  recidiviz/tests/calculator/pipeline/incarceration/identifier_test.py
  recidiviz/tests/calculator/pipeline/utils/incarceration_period_pre_processing_manager_test.py
  recidiviz/tests/calculator/pipeline/utils/state_utils/us_xx/us_xx_incarceration_period_pre_processing_delegate.py
Due: generate_docs_for_endpoint

Delete old SQL preprocessing TODOs from ingest code (recidiviz/recidiviz-data#7945)
  recidiviz/ingest/direct/controllers/base_direct_ingest_controller.py
  recidiviz/ingest/direct/controllers/direct_ingest_ingest_view_export_manager.py
  recidiviz/ingest/direct/controllers/direct_ingest_raw_file_import_manager.py
  recidiviz/ingest/direct/controllers/postgres_direct_ingest_file_metadata_manager.py
  recidiviz/ingest/direct/regions/us_pa/us_pa_controller.py
  recidiviz/tests/ingest/direct/direct_ingest_fixtures/us_pa/dbo_Senrec.csv
Due: generate_docs_for_region, generate_docs_for_endpoint

Naming cleanup for views (recidiviz/recidiviz-data#7972)
  recidiviz/big_query/view_update_manager.py
  recidiviz/metrics/export/view_export_manager.py
  recidiviz/persistence/database/bq_refresh/federated_cloud_sql_to_bq_refresh.py
  recidiviz/tests/big_query/view_update_manager_test.py
  recidiviz/tests/metrics/export/view_export_manager_test.py
  recidiviz/tools/deploy/deploy_views.py
  recidiviz/tools/load_views_to_sandbox.py
Due: generate_docs_for_endpoint

Pause all relevant queues when moving raw state files (recidiviz/recidiviz-data#7996)
  recidiviz/admin_panel/ingest_operations_store.py
  recidiviz/ingest/direct/direct_ingest_cloud_task_manager.py
  recidiviz/tools/ingest/operations/move_raw_state_files_from_storage.py
Due: generate_docs_for_endpoint

Check `direct_ingest_instance_status` for paused status (recidiviz/recidiviz-data#7969)
  recidiviz/ingest/direct/controllers/base_direct_ingest_controller.py
  recidiviz/ingest/direct/controllers/direct_ingest_instance_status_manager.py
  recidiviz/ingest/direct/controllers/gcsfs_direct_ingest_utils.py
  recidiviz/persistence/database/migrations/operations/versions/2021_06_22_1509_28878e457c4f_add_us_tx_brazos.py
  recidiviz/tests/ingest/direct/controllers/base_direct_ingest_controller_test.py
  recidiviz/tests/ingest/direct/controllers/direct_ingest_instance_status_manager_test.py
  recidiviz/tests/ingest/direct/regions/base_direct_ingest_controller_tests.py
  recidiviz/tests/persistence/database/migrations_test.py
  recidiviz/tools/postgres/local_postgres_helpers.py
Due: generate_docs_for_endpoint

Add mypy typing for recidiviz/tests/calculator/pipeline/supervision (recidiviz/recidiviz-data#7999)
  recidiviz/tests/calculator/pipeline/fake_bigquery.py
  recidiviz/tests/calculator/pipeline/program/metric_producer_test.py
  recidiviz/tests/calculator/pipeline/supervision/identifier_test.py
  recidiviz/tests/calculator/pipeline/supervision/metric_producer_test.py
  recidiviz/tests/calculator/pipeline/supervision/pipeline_test.py
  setup.cfg
Due: generate_docs_for_endpoint

Add route to pause secondary ingest to admin panel (recidiviz/recidiviz-data#8000)
  frontends/admin-panel/src/AdminPanelAPI/IngestOperations.ts
  frontends/admin-panel/src/AdminPanelAPI/index.ts
  frontends/admin-panel/src/components/FlashDatabaseChecklist.tsx
  recidiviz/admin_panel/routes/ingest_ops.py
Due: generate_docs_for_endpoint

Added run datetime to admin panel (recidiviz/recidiviz-data#8003)
  frontends/admin-panel/src/components/ValidationStatusView.tsx
  frontends/admin-panel/src/misc.d.ts
  recidiviz/admin_panel/validation_metadata_store.py
  recidiviz/tests/admin_panel/validation_metadata_store_test.py
Due: generate_docs_for_endpoint

Add mypy for state_utils/ (recidiviz/recidiviz-data#8005)
  recidiviz/common/attr_mixins.py
  recidiviz/tests/calculator/pipeline/utils/state_utils/state_calculation_config_manager_test.py
  recidiviz/tests/calculator/pipeline/utils/state_utils/us_id/us_id_commitment_from_supervision_utils_test.py
  recidiviz/tests/calculator/pipeline/utils/state_utils/us_id/us_id_incarceration_period_pre_processing_delegate_test.py
  recidiviz/tests/calculator/pipeline/utils/state_utils/us_id/us_id_supervision_compliance_test.py
  recidiviz/tests/calculator/pipeline/utils/state_utils/us_id/us_id_supervision_type_identification_test.py
  recidiviz/tests/calculator/pipeline/utils/state_utils/us_mo/us_mo_incarceration_period_pre_processing_delegate_test.py
  recidiviz/tests/calculator/pipeline/utils/state_utils/us_mo/us_mo_sentence_classification_test.py
  recidiviz/tests/calculator/pipeline/utils/state_utils/us_mo/us_mo_supervision_type_identification_test.py
  recidiviz/tests/calculator/pipeline/utils/state_utils/us_nd/us_nd_commitment_from_supervision_utils_test.py
  recidiviz/tests/calculator/pipeline/utils/state_utils/us_nd/us_nd_incarceration_period_pre_processing_delegate_test.py
  recidiviz/tests/calculator/pipeline/utils/state_utils/us_nd/us_nd_supervision_compliance_test.py
  recidiviz/tests/calculator/pipeline/utils/state_utils/us_nd/us_nd_supervision_type_identification_test.py
  recidiviz/tests/calculator/pipeline/utils/state_utils/us_nd/us_nd_violation_utils_test.py
  recidiviz/tests/calculator/pipeline/utils/state_utils/us_pa/us_pa_commitment_from_supervision_utils_test.py
  recidiviz/tests/calculator/pipeline/utils/state_utils/us_pa/us_pa_supervision_compliance_test.py
  recidiviz/tests/calculator/pipeline/utils/state_utils/us_xx/us_xx_incarceration_period_pre_processing_delegate.py
  setup.cfg
Due: generate_docs_for_endpoint

[Cloud Functions] Add required second argument (recidiviz/recidiviz-data#8006)
  recidiviz/cloud_functions/main.py
  recidiviz/tools/deploy/terraform/modules/state-direct-ingest-resources/cloud-functions.tf
Due: generate_docs_for_endpoint

Add `default_ignore_quotes` to default yaml files (recidiviz/recidiviz-data#8017)
  recidiviz/ingest/direct/controllers/direct_ingest_raw_file_import_manager.py
  recidiviz/ingest/direct/regions/us_id/raw_data/us_id_default.yaml
  recidiviz/ingest/direct/regions/us_mi/raw_data/us_mi_default.yaml
  recidiviz/ingest/direct/regions/us_mo/raw_data/us_mo_default.yaml
  recidiviz/ingest/direct/regions/us_nd/raw_data/us_nd_default.yaml
  recidiviz/ingest/direct/regions/us_pa/raw_data/us_pa_default.yaml
  recidiviz/ingest/direct/regions/us_tn/raw_data/us_tn_default.yaml
  recidiviz/ingest/direct/regions/us_tx_brazos/raw_data/us_tx_brazos_default.yaml
  recidiviz/ingest/direct/templates/us_xx/raw_data/us_xx_default.yaml
  recidiviz/tests/ingest/direct/fake_regions/us_ww/raw_data/us_ww_default.yaml
  recidiviz/tests/ingest/direct/fake_regions/us_xx/raw_data/us_xx_default.yaml
  recidiviz/tests/ingest/direct/fake_regions/us_xx/raw_data/us_xx_tagCustomLineTerminatorNonUTF8.yaml
  recidiviz/tests/ingest/direct/fake_regions/us_xx/raw_data/us_xx_tagDoubleDaggerWINDOWS1252.yaml
  recidiviz/tests/ingest/direct/fake_regions/us_xx/raw_data/us_xx_tagPipeSeparatedNonUTF8.yaml
  recidiviz/tests/ingest/direct/fake_regions/us_zz/raw_data/us_zz_default.yaml
  recidiviz/tests/tools/ingest/development/raw_data_config_writer_test.py
  recidiviz/tools/ingest/development/create_ingest_config_skeleton.py
  recidiviz/tools/ingest/development/fetch_column_values_for_state.py
  recidiviz/tools/ingest/development/raw_data_config_writer.py
Due: generate_docs_for_region, generate_docs_for_endpoint

Revert "First step towards applying commitment from supervision overrides (recidiviz/recidiviz-data#7917)" (recidiviz/recidiviz-data#8018)
  recidiviz/calculator/pipeline/utils/incarceration_period_pre_processing_manager.py
  recidiviz/calculator/pipeline/utils/state_utils/state_calculation_config_manager.py
  recidiviz/calculator/pipeline/utils/state_utils/us_id/us_id_incarceration_period_pre_processing_delegate.py
  recidiviz/calculator/pipeline/utils/state_utils/us_mo/us_mo_incarceration_period_pre_processing_delegate.py
  recidiviz/calculator/pipeline/utils/state_utils/us_nd/us_nd_incarceration_period_pre_processing_delegate.py
  recidiviz/calculator/pipeline/utils/state_utils/us_pa/us_pa_incarceration_period_pre_processing_delegate.py
  recidiviz/tests/calculator/pipeline/incarceration/identifier_test.py
  recidiviz/tests/calculator/pipeline/utils/incarceration_period_pre_processing_manager_test.py
  recidiviz/tests/calculator/pipeline/utils/state_utils/us_xx/us_xx_incarceration_period_pre_processing_delegate.py
Due: generate_docs_for_endpoint

[US_MO] Fix IP release reason enum mapping error (recidiviz/recidiviz-data#8026)
  recidiviz/ingest/direct/regions/us_mo/us_mo_controller.py
  recidiviz/ingest/direct/regions/us_mo/us_mo_enum_helpers.py
  recidiviz/tests/ingest/direct/direct_ingest_fixtures/us_mo/incarceration_period_release_reason_raw_text.csv
  recidiviz/tests/ingest/direct/regions/us_mo/us_mo_enum_helpers_test.py
Due: generate_docs_for_region, generate_docs_for_endpoint

Pipeline calculating violation metrics (recidiviz/recidiviz-data#7891)
  recidiviz/calculator/pipeline/production_calculation_pipeline_templates.yaml
  recidiviz/calculator/pipeline/utils/entity_hydration_utils.py
  recidiviz/calculator/pipeline/utils/state_utils/state_calculation_config_manager.py
  recidiviz/calculator/pipeline/utils/state_utils/us_mo/us_mo_violation_utils.py
  recidiviz/calculator/pipeline/utils/state_utils/us_pa/us_pa_violation_utils.py
  recidiviz/calculator/pipeline/violation/identifier.py
  recidiviz/calculator/pipeline/violation/pipeline.py
  recidiviz/tests/calculator/pipeline/utils/entity_hydration_utils_test.py
  recidiviz/tests/calculator/pipeline/violation/identifier_test.py
  recidiviz/tests/calculator/pipeline/violation/pipeline_test.py
Due: generate_docs_for_endpoint

Updated recidiviz/recidiviz-data#7917: First step towards applying commitment from supervision overrides (recidiviz/recidiviz-data#8030)
  recidiviz/calculator/pipeline/utils/incarceration_period_pre_processing_manager.py
  recidiviz/calculator/pipeline/utils/state_utils/state_calculation_config_manager.py
  recidiviz/calculator/pipeline/utils/state_utils/us_id/us_id_incarceration_period_pre_processing_delegate.py
  recidiviz/calculator/pipeline/utils/state_utils/us_mo/us_mo_incarceration_period_pre_processing_delegate.py
  recidiviz/calculator/pipeline/utils/state_utils/us_nd/us_nd_incarceration_period_pre_processing_delegate.py
  recidiviz/calculator/pipeline/utils/state_utils/us_pa/us_pa_commitment_from_supervision_utils.py
  recidiviz/calculator/pipeline/utils/state_utils/us_pa/us_pa_incarceration_period_pre_processing_delegate.py
  recidiviz/calculator/pipeline/utils/supervision_type_identification.py
  recidiviz/tests/calculator/pipeline/incarceration/identifier_test.py
  recidiviz/tests/calculator/pipeline/supervision/identifier_test.py
  recidiviz/tests/calculator/pipeline/utils/incarceration_period_pre_processing_manager_test.py
  recidiviz/tests/calculator/pipeline/utils/state_utils/us_pa/us_pa_commitment_from_supervision_utils_test.py
  recidiviz/tests/calculator/pipeline/utils/state_utils/us_pa/us_pa_incarceration_period_pre_processing_delegate_test.py
  recidiviz/tests/calculator/pipeline/utils/state_utils/us_xx/us_xx_incarceration_period_pre_processing_delegate.py
Due: generate_docs_for_endpoint

Commitment from supervision overrides for US_ID (recidiviz/recidiviz-data#7948)
  recidiviz/calculator/pipeline/incarceration/identifier.py
  recidiviz/calculator/pipeline/supervision/identifier.py
  recidiviz/calculator/pipeline/utils/commitment_from_supervision_utils.py
  recidiviz/calculator/pipeline/utils/incarceration_period_pre_processing_manager.py
  recidiviz/calculator/pipeline/utils/incarceration_period_utils.py
  recidiviz/calculator/pipeline/utils/pre_processed_incarceration_period_index.py
  recidiviz/calculator/pipeline/utils/state_utils/state_calculation_config_manager.py
  recidiviz/calculator/pipeline/utils/state_utils/us_id/us_id_commitment_from_supervision_utils.py
  recidiviz/calculator/pipeline/utils/state_utils/us_id/us_id_incarceration_period_pre_processing_delegate.py
  recidiviz/calculator/pipeline/utils/state_utils/us_mo/us_mo_incarceration_period_pre_processing_delegate.py
  recidiviz/calculator/pipeline/utils/state_utils/us_nd/us_nd_commitment_from_supervision_utils.py
  recidiviz/calculator/pipeline/utils/state_utils/us_nd/us_nd_incarceration_period_pre_processing_delegate.py
  recidiviz/calculator/pipeline/utils/state_utils/us_pa/us_pa_commitment_from_supervision_utils.py
  recidiviz/calculator/pipeline/utils/state_utils/us_pa/us_pa_incarceration_period_pre_processing_delegate.py
  recidiviz/calculator/pipeline/utils/supervision_period_utils.py
  recidiviz/calculator/pipeline/utils/supervision_type_identification.py
  recidiviz/common/constants/state/state_incarceration_period.py
  recidiviz/tests/calculator/pipeline/incarceration/identifier_test.py
  recidiviz/tests/calculator/pipeline/supervision/identifier_test.py
  recidiviz/tests/calculator/pipeline/utils/incarceration_period_index_test.py
  recidiviz/tests/calculator/pipeline/utils/incarceration_period_pre_processing_manager_test.py
  recidiviz/tests/calculator/pipeline/utils/incarceration_period_utils_test.py
  recidiviz/tests/calculator/pipeline/utils/state_utils/state_calculation_config_manager_test.py
  recidiviz/tests/calculator/pipeline/utils/state_utils/us_id/us_id_commitment_from_supervision_utils_test.py
  recidiviz/tests/calculator/pipeline/utils/state_utils/us_id/us_id_incarceration_period_pre_processing_delegate_test.py
  recidiviz/tests/calculator/pipeline/utils/state_utils/us_nd/us_nd_commitment_from_supervision_utils_test.py
  recidiviz/tests/calculator/pipeline/utils/state_utils/us_pa/us_pa_commitment_from_supervision_utils_test.py
  recidiviz/tests/calculator/pipeline/utils/state_utils/us_xx/us_xx_incarceration_period_pre_processing_delegate.py
Due: generate_docs_for_endpoint

StateSpecificCommitmentFromSupervisionDelegate (recidiviz/recidiviz-data#7986)
  recidiviz/calculator/pipeline/incarceration/identifier.py
  recidiviz/calculator/pipeline/program/identifier.py
  recidiviz/calculator/pipeline/supervision/identifier.py
  recidiviz/calculator/pipeline/utils/commitment_from_supervision_utils.py
  recidiviz/calculator/pipeline/utils/incarceration_period_utils.py
  recidiviz/calculator/pipeline/utils/pre_processed_incarceration_period_index.py
  recidiviz/calculator/pipeline/utils/state_utils/state_calculation_config_manager.py
  recidiviz/calculator/pipeline/utils/state_utils/us_id/us_id_commitment_from_supervision_utils.py
  recidiviz/calculator/pipeline/utils/state_utils/us_id/us_id_supervision_utils.py
  recidiviz/calculator/pipeline/utils/state_utils/us_mo/us_mo_commitment_from_supervision_utils.py
  recidiviz/calculator/pipeline/utils/state_utils/us_mo/us_mo_supervision_utils.py
  recidiviz/calculator/pipeline/utils/state_utils/us_nd/us_nd_commitment_from_supervision_utils.py
  recidiviz/calculator/pipeline/utils/state_utils/us_nd/us_nd_supervision_utils.py
  recidiviz/calculator/pipeline/utils/state_utils/us_pa/us_pa_commitment_from_supervision_utils.py
  recidiviz/calculator/pipeline/utils/state_utils/us_pa/us_pa_supervision_utils.py
  recidiviz/calculator/pipeline/utils/supervision_period_utils.py
  recidiviz/calculator/pipeline/utils/supervision_type_identification.py
  recidiviz/tests/calculator/pipeline/incarceration/identifier_test.py
  recidiviz/tests/calculator/pipeline/incarceration/pipeline_test.py
  recidiviz/tests/calculator/pipeline/supervision/identifier_test.py
  recidiviz/tests/calculator/pipeline/supervision/pipeline_test.py
  recidiviz/tests/calculator/pipeline/utils/commitment_from_supervision_utils_test.py
  recidiviz/tests/calculator/pipeline/utils/incarceration_period_utils_test.py
  recidiviz/tests/calculator/pipeline/utils/period_utils_test.py
  recidiviz/tests/calculator/pipeline/utils/state_utils/state_calculation_config_manager_test.py
  recidiviz/tests/calculator/pipeline/utils/state_utils/us_id/us_id_commitment_from_supervision_utils_test.py
  recidiviz/tests/calculator/pipeline/utils/state_utils/us_id/us_id_supervision_utils_test.py
  recidiviz/tests/calculator/pipeline/utils/state_utils/us_mo/us_mo_supervision_utils_test.py
  recidiviz/tests/calculator/pipeline/utils/state_utils/us_nd/us_nd_commitment_from_supervision_utils_test.py
  recidiviz/tests/calculator/pipeline/utils/state_utils/us_nd/us_nd_supervision_utils.py
  recidiviz/tests/calculator/pipeline/utils/state_utils/us_pa/us_pa_commitment_from_supervision_utils_test.py
  recidiviz/tests/calculator/pipeline/utils/state_utils/us_xx/us_xx_commitment_from_supervision_utils.py
  recidiviz/tests/calculator/pipeline/utils/supervision_type_identification_test.py
Due: generate_docs_for_endpoint

StateSupervisionPeriod entities in recidivism pipeline for IP pre-processing (recidiviz/recidiviz-data#7951)
  recidiviz/calculator/pipeline/recidivism/identifier.py
  recidiviz/calculator/pipeline/recidivism/pipeline.py
  recidiviz/tests/calculator/pipeline/recidivism/identifier_test.py
  recidiviz/tests/calculator/pipeline/recidivism/pipeline_test.py
Due: generate_docs_for_endpoint

[Sessions] Remove several expensive, unnecessary ORDER BY clauses (recidiviz/recidiviz-data#8038)
  recidiviz/calculator/query/state/views/analyst_data/compartment_sentences.py
  recidiviz/calculator/query/state/views/analyst_data/compartment_sessions.py
  recidiviz/calculator/query/state/views/analyst_data/dataflow_sessions.py
  recidiviz/calculator/query/state/views/analyst_data/incarceration_super_sessions.py
  recidiviz/calculator/query/state/views/analyst_data/reincarceration_sessions_from_sessions.py
  recidiviz/calculator/query/state/views/analyst_data/supervision_super_sessions.py
Due: generate_docs_for_endpoint

Commitment from supervision overrides for US_ND (recidiviz/recidiviz-data#7954)
  recidiviz/calculator/pipeline/incarceration/identifier.py
  recidiviz/calculator/pipeline/supervision/identifier.py
  recidiviz/calculator/pipeline/utils/commitment_from_supervision_utils.py
  recidiviz/calculator/pipeline/utils/incarceration_period_utils.py
  recidiviz/calculator/pipeline/utils/pre_processed_incarceration_period_index.py
  recidiviz/calculator/pipeline/utils/state_utils/state_calculation_config_manager.py
  recidiviz/calculator/pipeline/utils/state_utils/state_specific_commitment_from_supervision_delegate.py
  recidiviz/calculator/pipeline/utils/state_utils/us_id/us_id_commitment_from_supervision_delegate.py
  recidiviz/calculator/pipeline/utils/state_utils/us_id/us_id_commitment_from_supervision_utils.py
  recidiviz/calculator/pipeline/utils/state_utils/us_id/us_id_incarceration_period_pre_processing_delegate.py
  recidiviz/calculator/pipeline/utils/state_utils/us_mo/us_mo_commitment_from_supervision_delegate.py
  recidiviz/calculator/pipeline/utils/state_utils/us_nd/us_nd_commitment_from_supervision_delegate.py
  recidiviz/calculator/pipeline/utils/state_utils/us_nd/us_nd_commitment_from_supervision_utils.py
  recidiviz/calculator/pipeline/utils/state_utils/us_nd/us_nd_incarceration_period_pre_processing_delegate.py
  recidiviz/calculator/pipeline/utils/state_utils/us_nd/us_nd_supervision_utils.py
  recidiviz/calculator/pipeline/utils/state_utils/us_pa/us_pa_commitment_from_supervision_utils.py
  recidiviz/tests/calculator/pipeline/incarceration/identifier_test.py
  recidiviz/tests/calculator/pipeline/supervision/identifier_test.py
  recidiviz/tests/calculator/pipeline/utils/commitment_from_supervision_utils_test.py
  recidiviz/tests/calculator/pipeline/utils/state_utils/state_calculation_config_manager_test.py
  recidiviz/tests/calculator/pipeline/utils/state_utils/us_id/us_id_commitment_from_supervision_delegate_test.py
  recidiviz/tests/calculator/pipeline/utils/state_utils/us_id/us_id_commitment_from_supervision_utils_test.py
  recidiviz/tests/calculator/pipeline/utils/state_utils/us_id/us_id_incarceration_period_pre_processing_delegate_test.py
  recidiviz/tests/calculator/pipeline/utils/state_utils/us_nd/us_nd_commitment_from_supervision_delegate_test.py
  recidiviz/tests/calculator/pipeline/utils/state_utils/us_nd/us_nd_incarceration_period_pre_processing_delegate_test.py
  recidiviz/tests/calculator/pipeline/utils/state_utils/us_pa/us_pa_commitment_from_supervision_utils_test.py
Due: generate_docs_for_endpoint

[Sessions] Remove more expensive ORDER BY clauses (recidiviz/recidiviz-data#8041)
  recidiviz/calculator/query/state/views/analyst_data/compartment_session_end_reasons.py
  recidiviz/calculator/query/state/views/analyst_data/compartment_session_start_reasons.py
  recidiviz/calculator/query/state/views/analyst_data/compartment_sessions.py
  recidiviz/calculator/query/state/views/analyst_data/incarceration_super_sessions.py
  recidiviz/calculator/query/state/views/analyst_data/person_demographics.py
  recidiviz/calculator/query/state/views/analyst_data/reincarceration_sessions_from_dataflow.py
  recidiviz/calculator/query/state/views/analyst_data/reincarceration_sessions_from_sessions.py
  recidiviz/calculator/query/state/views/analyst_data/revocation_sessions.py
  recidiviz/calculator/query/state/views/analyst_data/supervision_super_sessions.py
  recidiviz/calculator/query/state/views/analyst_data/system_sessions.py
Due: generate_docs_for_endpoint

Add OTHER violation type to support Louisiana (recidiviz/recidiviz-data#8043)
  recidiviz/tools/justice_counts/manual_upload.py
Due: generate_docs_for_endpoint

Creates `externally_shared_views`, adds external_id to analyst_data.person_demographics (recidiviz/recidiviz-data#7955)
  recidiviz/calculator/query/externally_shared_views/README.md
  recidiviz/calculator/query/externally_shared_views/__init__.py
  recidiviz/calculator/query/externally_shared_views/dataset_config.py
  recidiviz/calculator/query/externally_shared_views/view_config.py
  recidiviz/calculator/query/externally_shared_views/views/__init__.py
  recidiviz/calculator/query/externally_shared_views/views/most_recent_program_participation_metrics_materialized.py
  recidiviz/calculator/query/externally_shared_views/views/most_recent_program_referral_metrics_materialized.py
  recidiviz/calculator/query/externally_shared_views/views/state_person_external_id.py
  recidiviz/calculator/query/state/views/analyst_data/person_demographics.py
  recidiviz/view_registry/deployed_views.py
Due: generate_docs_for_endpoint

send emails form, admin panel (recidiviz/recidiviz-data#7947)
  frontends/admin-panel/src/AdminPanelAPI/LineStaffTools.ts
  frontends/admin-panel/src/components/POEmails/GenerateEmails.tsx
  frontends/admin-panel/src/components/POEmails/SendEmails.tsx
  frontends/admin-panel/src/components/POEmails/constants.ts
  frontends/admin-panel/src/components/POEmailsView.tsx
  recidiviz/admin_panel/admin_stores.py
  recidiviz/admin_panel/routes/case_triage.py
  recidiviz/reporting/data_retrieval.py
  recidiviz/reporting/email_reporting_utils.py
  recidiviz/reporting/reporting_endpoint.py
Due: generate_docs_for_endpoint

[Pseduo locks] Update no_active_locks_with_prefix check to ingore expired locks (recidiviz/recidiviz-data#8049)
  recidiviz/cloud_storage/gcs_pseudo_lock_manager.py
  recidiviz/persistence/database/bq_refresh/cloud_sql_to_bq_lock_manager.py
  recidiviz/tests/cloud_storage/gcs_pseudo_lock_manager_test.py
Due: generate_docs_for_endpoint

show link to recently generated email batch (recidiviz/recidiviz-data#8048)
  frontends/admin-panel/src/components/POEmails/GenerateEmails.tsx
  recidiviz/admin_panel/routes/case_triage.py
Due: generate_docs_for_endpoint

[Case Triage] Adds `<PreferredNameInput/>` (recidiviz/recidiviz-data#7998)
  frontends/case-triage/src/components/CaseCard/PreferredContactMethodSelector.tsx
  frontends/case-triage/src/components/CaseCard/PreferredNameInput.styles.tsx
  frontends/case-triage/src/components/CaseCard/PreferredNameInput.tsx
  frontends/case-triage/src/components/CaseCard/useToggleFocus.ts
  frontends/case-triage/src/stores/API.ts
  frontends/case-triage/src/stores/ClientsStore/Client.test.ts
  frontends/case-triage/src/stores/ClientsStore/Client.ts
  frontends/case-triage/src/stores/ClientsStore/ClientsStore.ts
  frontends/case-triage/src/stores/PolicyStore/PolicyStore.ts
Due: none

Add UNASSIGNED supervision level (recidiviz/recidiviz-data#8050)
  recidiviz/calculator/pipeline/supervision/identifier.py
  recidiviz/common/constants/state/enum_canonical_strings.py
  recidiviz/common/constants/state/state_supervision_period.py
  recidiviz/persistence/database/migrations/state/versions/2021_06_30_1132_bb9fd77aa9cb_add_unassigned_supervision_level.py
  recidiviz/persistence/database/schema/state/schema.py
  recidiviz/tests/persistence/database/migrations_test.py
Due: generate_docs_for_endpoint, generate_entity_documentation

[Multi-DB] Migrate PA and TN PRIMARY DBs in staging (recidiviz/recidiviz-data#8031)
  recidiviz/ingest/direct/controllers/direct_ingest_instance.py
  recidiviz/tests/ingest/direct/regions/base_direct_ingest_controller_tests.py
Due: generate_docs_for_endpoint
