Repository Recidiviz/pulse-data: changes, and which pre-commit hooks are due for each by the changed paths.
All: generate_docs_for_region, generate_docs_for_endpoint, generate_entity_documentation, generate_calc_documentation, generate_ingest_mappings_schema_documentation, update_terraform_lock_file

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.3.0
    hooks:
      - id: check-yaml
  - repo: https://github.com/psf/black
    rev: 22.3.0
    hooks:
      # This runs on py, pyi, and ipynb files.
      - id: black-jupyter
        language_version: python3
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v2.5.1
    hooks:
      - id: prettier
        types_or: [yaml]
  - repo: https://github.com/pycqa/isort
    rev: 5.6.4
    hooks:
      - id: isort
        name: isort (python)
      - id: isort
        name: isort (pyi)
        types: [pyi]
  - repo: local
    hooks:
      - id: generate_docs_for_region
        name: generate_docs_for_region
        entry: pipenv run python -m recidiviz.tools.docs.region_documentation_generator
        language: system
        files: ^recidiviz/ingest/direct/regions/
        require_serial: true
      - id: generate_docs_for_endpoint
        name: generate_docs_for_endpoint
        entry: pipenv run python -m recidiviz.tools.docs.endpoint_documentation_generator
        language: system
        files: ^recidiviz/
        exclude: >
          (?x)(^recidiviz/tests/|^recidiviz/tools/|^recidiviz/ingest/direct/regions/)$
        require_serial: true
      - id: generate_entity_documentation
        name: generate_entity_documentation
        entry: pipenv run python -m recidiviz.tools.docs.entity_documentation_generator
        language: system
        files: >
          (?x)(^recidiviz/persistence/database/schema/state/schema.py|^recidiviz/persistence/database/schema/history_table_shared_columns_mixin.py|^recidiviz/common/constants/state/)$
        require_serial: true
      - id: generate_calc_documentation
        name: generate_calc_documentation
        entry: pipenv run python -m recidiviz.calculator.calculation_documentation_generator
        language: system
        files: ^recidiviz/calculator/|^recidiviz/metrics/|^recidiviz/.*/views/|^recidiviz/big_query/|^recidiviz/persistence/database/schema/|^recidiviz/persistence/entity/|^recidiviz/task_eligibility/
        exclude: ^recidiviz/tests/|^recidiviz/calculator/modeling/
        require_serial: true
      - id: generate_ingest_mappings_schema_documentation
        name: generate_ingest_mappings_schema_documentation
        entry: pipenv run python -m recidiviz.tools.docs.ingest_mappings_schema_documentation_generator
        language: system
        files: ^recidiviz/ingest/direct/ingest_mappings/yaml_schema/|^docs/engineering/ingest_mapping_schema/
        require_serial: true
      - id: update_terraform_lock_file
        name: update_terraform_lock_file
        entry: recidiviz/tools/deploy/update_terraform_lock.sh
        language: script
        files: ^recidiviz/tools/deploy/terraform/
        require_serial: true

Adds insights caseload category sessions and assignment view (Recidiviz/recidiviz-data#30997)
  recidiviz/aggregated_metrics/aggregated_metric_view_collector.py
  recidiviz/aggregated_metrics/view_config.py
  recidiviz/calculator/query/state/views/analyst_data/analyst_data_views.py
  recidiviz/calculator/query/state/views/analyst_data/insights_caseload_category_sessions.py
  recidiviz/calculator/query/state/views/analyst_data/models/metric_unit_of_analysis_type.py
Due: generate_docs_for_endpoint, generate_calc_documentation

Clean up write_case_insights_data_to_bq (Recidiviz/recidiviz-data#31226)
  recidiviz/entrypoints/sentencing/write_case_insights_data_to_bq.py
  recidiviz/entrypoints/sentencing/write_case_insights_data_to_bq_main.py
Due: generate_docs_for_endpoint

[US_OR] Exclude incoming interstate-compact cases from EDIS eligibility (Recidiviz/recidiviz-data#31130)
  recidiviz/calculator/query/state/views/analyst_data/analyst_data_views.py
  recidiviz/calculator/query/state/views/analyst_data/us_or/us_or_earned_discharge_sentence_eligibility_spans.py
  recidiviz/calculator/query/state/views/analyst_data/us_or/us_or_in_state_sentence.py
  recidiviz/task_eligibility/utils/state_dataset_query_fragments.py
Due: generate_docs_for_endpoint, generate_calc_documentation

[US_TN] Identify facility location type and exclude from "high confidence" category (Recidiviz/recidiviz-data#31238)
  recidiviz/calculator/query/state/views/analyst_data/us_tn/us_tn_segregation_lists.py
  recidiviz/calculator/query/state/views/analyst_data/us_tn/us_tn_segregation_stays_v2.py
Due: generate_docs_for_endpoint, generate_calc_documentation

[US MI] Raw data looker dashboard (Recidiviz/recidiviz-data#31245)
  recidiviz/ingest/direct/regions/us_mi/raw_data/us_mi_ADH_SHOFFENDER.yaml
  recidiviz/ingest/direct/regions/us_mi/raw_data/us_mi_COMS_Case_Managers.yaml
  recidiviz/ingest/direct/regions/us_mi/raw_data/us_mi_COMS_Employment.yaml
  recidiviz/ingest/direct/regions/us_mi/raw_data/us_mi_COMS_Modifiers.yaml
  recidiviz/ingest/direct/regions/us_mi/raw_data/us_mi_COMS_Parole_Violation_Violation_Incidents.yaml
  recidiviz/ingest/direct/regions/us_mi/raw_data/us_mi_COMS_Parole_Violations.yaml
  recidiviz/ingest/direct/regions/us_mi/raw_data/us_mi_COMS_Probation_Violation_Violation_Incidents.yaml
  recidiviz/ingest/direct/regions/us_mi/raw_data/us_mi_COMS_Probation_Violations.yaml
  recidiviz/ingest/direct/regions/us_mi/raw_data/us_mi_COMS_Security_Standards_Toxin.yaml
  recidiviz/ingest/direct/regions/us_mi/raw_data/us_mi_COMS_Specialties.yaml
  recidiviz/ingest/direct/regions/us_mi/raw_data/us_mi_COMS_Supervision_Levels.yaml
  recidiviz/ingest/direct/regions/us_mi/raw_data/us_mi_COMS_Supervision_Schedules.yaml
  recidiviz/ingest/direct/regions/us_mi/raw_data/us_mi_COMS_Violation_Incidents.yaml
Due: generate_docs_for_region, generate_docs_for_endpoint

Add new metric for distinct registered workflows users (Recidiviz/recidiviz-data#30990)
  recidiviz/aggregated_metrics/models/aggregated_metric.py
  recidiviz/tools/looker/aggregated_metrics/aggregated_metrics_lookml_utils.py
  recidiviz/tools/looker/aggregated_metrics/custom_workflows_metrics_configurations.py
  recidiviz/tools/looker/aggregated_metrics/custom_workflows_metrics_lookml_generator.py
Due: generate_docs_for_endpoint

[US_AR] Add BACKUP subtype to location metadata (Recidiviz/recidiviz-data#31257)
  recidiviz/calculator/query/state/views/reference/location_metadata/us_ar_location_metadata.py
Due: generate_docs_for_endpoint, generate_calc_documentation

[US_IX][PSI] Changing types of columns (Recidiviz/recidiviz-data#31260)
  recidiviz/calculator/query/state/views/sentencing/case_record.py
  recidiviz/calculator/query/state/views/sentencing/client_record.py
  recidiviz/calculator/query/state/views/sentencing/staff_record.py
  recidiviz/calculator/query/state/views/sentencing/us_ix/sentencing_case_template.py
  recidiviz/calculator/query/state/views/sentencing/us_ix/sentencing_client_template.py
  recidiviz/calculator/query/state/views/sentencing/us_ix/sentencing_staff_template.py
Due: generate_docs_for_endpoint, generate_calc_documentation

[US_TN] removing usage of raw data in TN resident record (Recidiviz/recidiviz-data#31052)
  recidiviz/calculator/query/state/views/analyst_data/us_tn/us_tn_cellbed_assignment_raw.py
  recidiviz/calculator/query/state/views/workflows/firestore/resident_record_ctes.py
Due: generate_docs_for_endpoint, generate_calc_documentation

[Justice Counts] Read metric settings from the MetricSetting table instead of agency datapoints table. (Recidiviz/recidiviz-data#31118)
  recidiviz/justice_counts/control_panel/routes/api.py
  recidiviz/justice_counts/jobs/metric_settings_parity_test.py
  recidiviz/justice_counts/metric_setting.py
  recidiviz/justice_counts/report.py
  recidiviz/justice_counts/utils/email.py
  recidiviz/tests/justice_counts/metric_setting_test.py
Due: generate_docs_for_endpoint

[US_AR] Address EXTERNAL_UNKNOWN supervision districts (Recidiviz/recidiviz-data#31247)
  recidiviz/calculator/query/state/views/reference/location_metadata/us_ar_location_metadata.py
  recidiviz/ingest/direct/regions/us_ar/ingest_mappings/us_ar_supervision_period.yaml
Due: generate_docs_for_region, generate_docs_for_endpoint, generate_calc_documentation

[US_IX] Exclude inferred periods from prison counts (Recidiviz/recidiviz-data#30716)
  recidiviz/calculator/query/state/state_specific_query_strings.py
  recidiviz/calculator/query/state/views/dashboard/pathways/event_level/prison_population_by_dimension.py
  recidiviz/calculator/query/state/views/dashboard/pathways/event_level/prison_population_over_time.py
  recidiviz/calculator/query/state/views/dashboard/pathways/event_level/prison_population_person_level.py
  recidiviz/calculator/query/state/views/dashboard/pathways/event_level/prison_to_supervision_transitions.py
Due: generate_docs_for_endpoint, generate_calc_documentation

[US_AR] fixing date parsing issue (Recidiviz/recidiviz-data#31211)
  recidiviz/ingest/direct/regions/us_ar/ingest_views/view_incarceration_sentence.py
Due: generate_docs_for_region, generate_docs_for_endpoint

[US_TN] Adding new enum (Recidiviz/recidiviz-data#31259)
  recidiviz/ingest/direct/regions/us_tn/ingest_mappings/us_tn_OffenderMovementIncarcerationPeriod_v3.yaml
Due: generate_docs_for_region, generate_docs_for_endpoint

[Airflow] Update source table schemata on every calculation DAG run (Recidiviz/recidiviz-data#31231)
  recidiviz/airflow/dags/calculation_dag.py
  recidiviz/airflow/dags/operators/recidiviz_kubernetes_resources.yaml
  recidiviz/airflow/tests/calculation_dag_test.py
  recidiviz/airflow/tests/fixtures/entrypoints_args.yaml
  recidiviz/entrypoints/entrypoint_executor.py
  recidiviz/entrypoints/view_update/update_big_query_source_table_schemata_entrypoint.py
  recidiviz/pipelines/dataflow_config.py
  recidiviz/pipelines/supplemental/us_ix_case_note_extracted_entities/pipeline.py
  recidiviz/source_tables/dataflow_output_table_collector.py
  recidiviz/source_tables/source_table_update_manager.py
  recidiviz/tests/tools/deploy/update_big_query_table_schemas_test.py
  recidiviz/tools/calculator/create_or_update_dataflow_sandbox.py
  recidiviz/tools/deploy/update_big_query_table_schemas.py
  recidiviz/tools/validate_source_visibility.py
Due: generate_docs_for_endpoint

[US_ME] gwyntangog: Squashed commit to add incarceration incident view! (Recidiviz/recidiviz-data#31230)
  recidiviz/ingest/direct/regions/us_me/ingest_mappings/us_me_incarceration_incident.yaml
  recidiviz/ingest/direct/regions/us_me/ingest_views/view_incarceration_incident.py
Due: generate_docs_for_region, generate_docs_for_endpoint

[Deploy] Remove `deploy_test_empty_views` and `update_big_query_table_schemas` steps (Recidiviz/recidiviz-data#31269)
  recidiviz/entrypoints/view_update/update_big_query_source_table_schemata_entrypoint.py
  recidiviz/source_tables/update_big_query_table_schemas.py
  recidiviz/tests/big_query/view_graph_validation_test.py
  recidiviz/tests/source_tables/snapshots/snap_update_big_query_table_schemas_test.py
  recidiviz/tests/source_tables/update_big_query_table_schemas_test.py
  recidiviz/tools/deploy/deploy_helpers.sh
  recidiviz/tools/deploy/deploy_test_empty_views.py
Due: generate_docs_for_endpoint

[US_PA] Supervision Periods Refactor (Recidiviz/recidiviz-data#31025)
  recidiviz/ingest/direct/regions/us_pa/ingest_mappings/us_pa_supervision_period_v4.yaml
  recidiviz/ingest/direct/regions/us_pa/ingest_mappings/us_pa_supervision_period_v5.yaml
  recidiviz/ingest/direct/regions/us_pa/ingest_views/view_supervision_period_v5.py
  recidiviz/pipelines/cloudbuild.pipelines.dev.yaml
Due: generate_docs_for_region, generate_docs_for_endpoint

[US IX] Join Relationships for Raw Data Looker (Recidiviz/recidiviz-data#31256)
  recidiviz/ingest/direct/regions/us_ix/raw_data/us_ix_asm_Assessment.yaml
  recidiviz/ingest/direct/regions/us_ix/raw_data/us_ix_com_CommunityServiceRecord.yaml
  recidiviz/ingest/direct/regions/us_ix/raw_data/us_ix_com_PSIReport.yaml
  recidiviz/ingest/direct/regions/us_ix/raw_data/us_ix_com_PhysicalLocation.yaml
  recidiviz/ingest/direct/regions/us_ix/raw_data/us_ix_com_Transfer.yaml
  recidiviz/ingest/direct/regions/us_ix/raw_data/us_ix_crs_OfdCourseEnrollment.yaml
  recidiviz/ingest/direct/regions/us_ix/raw_data/us_ix_drg_DrugTestResult.yaml
  recidiviz/ingest/direct/regions/us_ix/raw_data/us_ix_dsc_DACase.yaml
  recidiviz/ingest/direct/regions/us_ix/raw_data/us_ix_dsc_DAProcedure.yaml
  recidiviz/ingest/direct/regions/us_ix/raw_data/us_ix_hsn_BedAssignment.yaml
  recidiviz/ingest/direct/regions/us_ix/raw_data/us_ix_ind_AliasName.yaml
  recidiviz/ingest/direct/regions/us_ix/raw_data/us_ix_ind_EmploymentHistory.yaml
  recidiviz/ingest/direct/regions/us_ix/raw_data/us_ix_ind_Offender.yaml
  recidiviz/ingest/direct/regions/us_ix/raw_data/us_ix_ind_OffenderLocationHistory.yaml
  recidiviz/ingest/direct/regions/us_ix/raw_data/us_ix_ind_OffenderNoteInfo.yaml
  recidiviz/ingest/direct/regions/us_ix/raw_data/us_ix_ind_OffenderSecurityLevel.yaml
  recidiviz/ingest/direct/regions/us_ix/raw_data/us_ix_ind_Offender_Address.yaml
  recidiviz/ingest/direct/regions/us_ix/raw_data/us_ix_ind_Offender_Alert.yaml
  recidiviz/ingest/direct/regions/us_ix/raw_data/us_ix_ind_Offender_EmailAddress.yaml
  recidiviz/ingest/direct/regions/us_ix/raw_data/us_ix_ind_Offender_Phone.yaml
  recidiviz/ingest/direct/regions/us_ix/raw_data/us_ix_ind_Offender_QuestionnaireTemplate.yaml
  recidiviz/ingest/direct/regions/us_ix/raw_data/us_ix_prb_PBCase.yaml
  recidiviz/ingest/direct/regions/us_ix/raw_data/us_ix_scl_Charge.yaml
  recidiviz/ingest/direct/regions/us_ix/raw_data/us_ix_scl_Detainer.yaml
  recidiviz/ingest/direct/regions/us_ix/raw_data/us_ix_scl_DiscOffenseRpt.yaml
  recidiviz/ingest/direct/regions/us_ix/raw_data/us_ix_scl_Escape.yaml
  recidiviz/ingest/direct/regions/us_ix/raw_data/us_ix_scl_MasterTerm.yaml
  recidiviz/ingest/direct/regions/us_ix/raw_data/us_ix_scl_Parole.yaml
  recidiviz/ingest/direct/regions/us_ix/raw_data/us_ix_scl_Sentence.yaml
  recidiviz/ingest/direct/regions/us_ix/raw_data/us_ix_scl_SentenceOrder.yaml
  recidiviz/ingest/direct/regions/us_ix/raw_data/us_ix_scl_Supervision.yaml
  recidiviz/ingest/direct/regions/us_ix/raw_data/us_ix_scl_Term.yaml
  recidiviz/ingest/direct/regions/us_ix/raw_data/us_ix_scl_Violation.yaml
  recidiviz/ingest/direct/regions/us_ix/raw_data/us_ix_scl_Warrant.yaml
  recidiviz/ingest/direct/regions/us_ix/raw_data/us_ix_trf_Intake.yaml
Due: generate_docs_for_region, generate_docs_for_endpoint

[US ME] add join relationships for raw data looker (Recidiviz/recidiviz-data#31263)
  recidiviz/ingest/direct/regions/us_me/raw_data/us_me_CIS_100_CLIENT.yaml
  recidiviz/ingest/direct/regions/us_me/raw_data/us_me_CIS_102_ALERT_HISTORY.yaml
  recidiviz/ingest/direct/regions/us_me/raw_data/us_me_CIS_106_ADDRESS.yaml
  recidiviz/ingest/direct/regions/us_me/raw_data/us_me_CIS_112_CUSTODY_LEVEL.yaml
  recidiviz/ingest/direct/regions/us_me/raw_data/us_me_CIS_116_LSI_HISTORY.yaml
  recidiviz/ingest/direct/regions/us_me/raw_data/us_me_CIS_124_SUPERVISION_HISTORY.yaml
  recidiviz/ingest/direct/regions/us_me/raw_data/us_me_CIS_125_CURRENT_STATUS_HIST.yaml
  recidiviz/ingest/direct/regions/us_me/raw_data/us_me_CIS_128_EMPLOYMENT_HISTORY.yaml
  recidiviz/ingest/direct/regions/us_me/raw_data/us_me_CIS_130_INVESTIGATION.yaml
  recidiviz/ingest/direct/regions/us_me/raw_data/us_me_CIS_140_CLASSIFICATION_REVIEW.yaml
  recidiviz/ingest/direct/regions/us_me/raw_data/us_me_CIS_160_DRUG_SCREENING.yaml
  recidiviz/ingest/direct/regions/us_me/raw_data/us_me_CIS_200_CASE_PLAN.yaml
  recidiviz/ingest/direct/regions/us_me/raw_data/us_me_CIS_201_GOALS.yaml
  recidiviz/ingest/direct/regions/us_me/raw_data/us_me_CIS_204_GEN_NOTE.yaml
  recidiviz/ingest/direct/regions/us_me/raw_data/us_me_CIS_210_JOB_ASSIGN.yaml
  recidiviz/ingest/direct/regions/us_me/raw_data/us_me_CIS_215_SEX_OFFENDER_ASSESS.yaml
  recidiviz/ingest/direct/regions/us_me/raw_data/us_me_CIS_300_Personal_Property.yaml
  recidiviz/ingest/direct/regions/us_me/raw_data/us_me_CIS_309_MOVEMENT.yaml
  recidiviz/ingest/direct/regions/us_me/raw_data/us_me_CIS_314_TRANSFER.yaml
  recidiviz/ingest/direct/regions/us_me/raw_data/us_me_CIS_319_TERM.yaml
  recidiviz/ingest/direct/regions/us_me/raw_data/us_me_CIS_324_AWOL.yaml
  recidiviz/ingest/direct/regions/us_me/raw_data/us_me_CIS_400_CHARGE.yaml
  recidiviz/ingest/direct/regions/us_me/raw_data/us_me_CIS_401_CRT_ORDER_HDR.yaml
  recidiviz/ingest/direct/regions/us_me/raw_data/us_me_CIS_425_MAIN_PROG.yaml
  recidiviz/ingest/direct/regions/us_me/raw_data/us_me_CIS_430_ASSESSMENT.yaml
  recidiviz/ingest/direct/regions/us_me/raw_data/us_me_CIS_462_CLIENTS_INVOLVED.yaml
  recidiviz/ingest/direct/regions/us_me/raw_data/us_me_CIS_480_VIOLATION.yaml
  recidiviz/ingest/direct/regions/us_me/raw_data/us_me_CIS_503_TRUST_TRANSACTION.yaml
  recidiviz/ingest/direct/regions/us_me/raw_data/us_me_CIS_573_CLIENT_CASE_DETAIL.yaml
  recidiviz/ingest/direct/regions/us_me/raw_data/us_me_CIS_916_ASSIGN_BED.yaml
Due: generate_docs_for_region, generate_docs_for_endpoint

[SCHEMA CHANGE] Schema change for AssessmentType (Recidiviz/recidiviz-data#31201)
  recidiviz/common/constants/state/enum_canonical_strings.py
  recidiviz/common/constants/state/state_assessment.py
  recidiviz/persistence/database/schema/state/schema.py
  recidiviz/pipelines/normalization/utils/normalization_managers/assessment_normalization_manager.py
Due: generate_docs_for_endpoint, generate_entity_documentation, generate_calc_documentation

[US_ND] Change FALSE to TRUE (Recidiviz/recidiviz-data#31289)
  recidiviz/task_eligibility/criteria/state_specific/us_nd/has_an_aomms_sentence.py
  recidiviz/task_eligibility/criteria/state_specific/us_nd/work_release_committee_requirements.py
Due: generate_docs_for_endpoint, generate_calc_documentation

[Prototypes] Add snippet and summary generation options to the DiscoveryEngineInterface. (Recidiviz/recidiviz-data#31283)
  recidiviz/tests/prototypes/discovery_engine_test.py
  recidiviz/tools/prototypes/discovery_engine.py
Due: generate_docs_for_endpoint

[US_IX][PSI] Casting NeedsAddressed as a JSON column (Recidiviz/recidiviz-data#31279)
  recidiviz/calculator/query/state/views/sentencing/community_opportunity_record.py
  recidiviz/calculator/query/state/views/sentencing/us_ix/sentencing_community_opportunity_template.py
Due: generate_docs_for_endpoint, generate_calc_documentation

Move to single instance of ingest_zipfile_handler cloud function (Recidiviz/recidiviz-data#31114)
  recidiviz/cloud_functions/ingest_filename_normalization.py
  recidiviz/tests/cloud_functions/ingest_filename_normalization_test.py
  recidiviz/tools/deploy/terraform/cloud-functions.tf
  recidiviz/tools/deploy/terraform/modules/state-direct-ingest-resources/cloud-function/main.tf
Due: generate_docs_for_endpoint, update_terraform_lock_file

[BQ Emulator] Add load and parse JSON test (Recidiviz/recidiviz-data#31321)
  recidiviz/tests/big_query/big_query_emulator_test.py
  recidiviz/tests/utils/big_query_emulator_control.py
Due: generate_docs_for_endpoint

[US_IX] Adding view for charge info (Recidiviz/recidiviz-data#31205)
  recidiviz/calculator/query/state/views/sentencing/charge_record.py
  recidiviz/calculator/query/state/views/sentencing/sentencing_views.py
  recidiviz/calculator/query/state/views/sentencing/us_ix/sentencing_charge_template.py
Due: generate_docs_for_endpoint, generate_calc_documentation

[US_MO] Sort sentence status sequence_nums numerically instead of alphabetically (Recidiviz/recidiviz-data#31285)
  recidiviz/pipelines/utils/state_utils/us_mo/us_mo_sentence_classification.py
  recidiviz/pipelines/utils/state_utils/us_mo/us_mo_supervision_period_normalization_delegate.py
Due: generate_docs_for_endpoint

Add airflowignore file (Recidiviz/recidiviz-data#31152)
  recidiviz/airflow/.airflowignore
Due: generate_docs_for_endpoint

[US_AZ] Raw data YAML updates (Recidiviz/recidiviz-data#31331)
  recidiviz/ingest/direct/regions/us_az/raw_data/us_az_AZ_CS_OMS_INT_SANC.yaml
  recidiviz/ingest/direct/regions/us_az/raw_data/us_az_AZ_DOC_DSC_PENALTY.yaml
  recidiviz/ingest/direct/regions/us_az/raw_data/us_az_DPP_EPISODE.yaml
Due: generate_docs_for_region, generate_docs_for_endpoint

[RawTableMigrations] add data_update_datetime (Recidiviz/recidiviz-data#31246)
  recidiviz/ingest/direct/raw_data/direct_ingest_raw_file_import_manager.py
  recidiviz/ingest/direct/raw_data/direct_ingest_raw_file_load_manager.py
  recidiviz/ingest/direct/raw_data/direct_ingest_raw_table_migration_collector.py
  recidiviz/ingest/direct/raw_data/direct_ingest_raw_table_migration_generator.py
  recidiviz/tests/ingest/direct/raw_data/direct_ingest_raw_table_migration_collector_test.py
  recidiviz/tests/ingest/direct/raw_data/direct_ingest_raw_table_migration_generator_test.py
  recidiviz/tests/ingest/direct/regions/direct_ingest_region_structure_test.py
Due: generate_docs_for_endpoint

[US_MO] Filter out all warrant and absconsion statuses from sentence statuses (Recidiviz/recidiviz-data#31302)
  recidiviz/ingest/direct/regions/us_mo/ingest_views/templates_sentences.py
  recidiviz/pipelines/ingest/state/validator.py
Due: generate_docs_for_region, generate_docs_for_endpoint

[Justice Counts] Remove `Missing Total Sheet` and `Missing Breakdown Sheet` warnings (Recidiviz/recidiviz-data#31271)
  recidiviz/justice_counts/bulk_upload/workbook_uploader.py
  recidiviz/justice_counts/control_panel/routes/api.py
  recidiviz/justice_counts/spreadsheet.py
  recidiviz/tests/justice_counts/bulk_upload/bulk_upload_test.py
  recidiviz/tests/justice_counts/control_panel/server_test.py
  recidiviz/tests/justice_counts/spreadsheet_test.py
Due: generate_docs_for_endpoint

[Justice Counts] Automatically Synchronize User Access Between Super Agency and Child Agencies (Recidiviz/recidiviz-data#31147)
  recidiviz/justice_counts/agency.py
  recidiviz/justice_counts/agency_user_account_association.py
  recidiviz/justice_counts/control_panel/routes/admin.py
Due: generate_docs_for_endpoint

[Normalization] More typing cleanup to prep for v2 normalization entities (Recidiviz/recidiviz-data#31010)
  recidiviz/persistence/entity/state/entities.py
  recidiviz/pipelines/utils/incarceration_period_utils.py
  recidiviz/pipelines/utils/period_utils.py
  recidiviz/pipelines/utils/supervision_period_utils.py
  recidiviz/tests/persistence/entity/entity_utils_test.py
  recidiviz/tests/persistence/entity/normalized_entities_utils_test.py
  recidiviz/tests/persistence/entity/state/entities_test.py
  recidiviz/tests/persistence/entity/state/entity_deprecation_utils_test.py
  recidiviz/tests/persistence/entity/state/normalized_entities_test.py
  recidiviz/tests/pipelines/ingest/state/validator_test.py
  recidiviz/tests/pipelines/metrics/incarceration/pipeline_test.py
  recidiviz/tests/pipelines/metrics/population_spans/pipeline_test.py
  recidiviz/tests/pipelines/metrics/supervision/identifier_test.py
  recidiviz/tests/pipelines/metrics/supervision/pipeline_test.py
  recidiviz/tests/pipelines/normalization/comprehensive/entity_normalizer_test.py
  recidiviz/tests/pipelines/normalization/utils/normalization_managers/supervision_period_normalization_manager_test.py
  recidiviz/tests/pipelines/utils/state_utils/state_calculation_config_manager_test.py
  recidiviz/tests/pipelines/utils/supervision_period_utils_test.py
Due: generate_docs_for_endpoint, generate_calc_documentation

[US_MO] Include sentence statuses with no descriptions (Recidiviz/recidiviz-data#31335)
  recidiviz/ingest/direct/regions/us_mo/ingest_views/templates_sentences.py
Due: generate_docs_for_region, generate_docs_for_endpoint

[Normalization] Updates to NormalizedStateEntity for v2 entities compatibilty (Recidiviz/recidiviz-data#31235)
  recidiviz/persistence/entity/state/normalized_state_entity.py
  recidiviz/pipelines/normalization/utils/normalized_entity_conversion_utils.py
  recidiviz/tests/persistence/entity/normalized_entities_utils_test.py
  recidiviz/tests/persistence/entity/state/normalized_entities_test.py
  recidiviz/tests/pipelines/normalization/utils/normalized_entity_conversion_utils_test.py
  recidiviz/utils/types.py
Due: generate_docs_for_endpoint, generate_calc_documentation

[US_AR] Surface external sentence ID in Resident Record (Recidiviz/recidiviz-data#31334)
  recidiviz/calculator/query/state/views/workflows/us_ar/resident_metadata.py
Due: generate_docs_for_endpoint, generate_calc_documentation

[Normalization] Update entity conversion utils for v2 normalized entities (Recidiviz/recidiviz-data#31240)
  recidiviz/pipelines/normalization/utils/normalized_entity_conversion_utils.py
Due: generate_docs_for_endpoint
