Repository Recidiviz/pulse-data: changes, and which pre-commit hooks are due for each by the changed paths.
All: generate_docs_for_region, generate_docs_for_endpoint, generate_entity_documentation, generate_calc_documentation, generate_ingest_mappings_schema_documentation, update_terraform_lock_file

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.3.0
    hooks:
      - id: check-yaml
  - repo: https://github.com/psf/black
    rev: 22.3.0
    hooks:
      # This runs on py, pyi, and ipynb files.
      - id: black-jupyter
        language_version: python3
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v2.5.1
    hooks:
      - id: prettier
        types_or: [yaml]
  - repo: https://github.com/pycqa/isort
    rev: 5.6.4
    hooks:
      - id: isort
        name: isort (python)
      - id: isort
        name: isort (pyi)
        types: [pyi]
  - repo: local
    hooks:
      - id: generate_docs_for_region
        name: generate_docs_for_region
        entry: pipenv run python -m recidiviz.tools.docs.region_documentation_generator
        language: system
        files: ^recidiviz/ingest/direct/regions/
        require_serial: true
      - id: generate_docs_for_endpoint
        name: generate_docs_for_endpoint
        entry: pipenv run python -m recidiviz.tools.docs.endpoint_documentation_generator
        language: system
        files: ^recidiviz/
        exclude: >
          (?x)(^recidiviz/tests/|^recidiviz/tools/|^recidiviz/ingest/direct/regions/)$
        require_serial: true
      - id: generate_entity_documentation
        name: generate_entity_documentation
        entry: pipenv run python -m recidiviz.tools.docs.entity_documentation_generator
        language: system
        files: >
          (?x)(^recidiviz/persistence/database/schema/state/schema.py|^recidiviz/persistence/database/schema/history_table_shared_columns_mixin.py|^recidiviz/common/constants/state/)$
        require_serial: true
      - id: generate_calc_documentation
        name: generate_calc_documentation
        entry: pipenv run python -m recidiviz.calculator.calculation_documentation_generator
        language: system
        files: ^recidiviz/calculator/|^recidiviz/metrics/|^recidiviz/.*/views/|^recidiviz/big_query/|^recidiviz/persistence/database/schema/|^recidiviz/persistence/entity/|^recidiviz/task_eligibility/
        exclude: ^recidiviz/tests/|^recidiviz/calculator/modeling/
        require_serial: true
      - id: generate_ingest_mappings_schema_documentation
        name: generate_ingest_mappings_schema_documentation
        entry: pipenv run python -m recidiviz.tools.docs.ingest_mappings_schema_documentation_generator
        language: system
        files: ^recidiviz/ingest/direct/ingest_mappings/yaml_schema/|^docs/engineering/ingest_mapping_schema/
        require_serial: true
      - id: update_terraform_lock_file
        name: update_terraform_lock_file
        entry: recidiviz/tools/deploy/update_terraform_lock.sh
        language: script
        files: ^recidiviz/tools/deploy/terraform/
        require_serial: true

[Justice Counts] Add `Total Releases`, `Total Daily Population` and `Total Admissions` Jails Metrics (Recidiviz/recidiviz-data#35522)
  recidiviz/justice_counts/includes_excludes/jails.py
  recidiviz/justice_counts/metricfiles/jails.py
  recidiviz/justice_counts/metrics/jails.py
  recidiviz/justice_counts/metrics/metric_definition.py
  recidiviz/justice_counts/metrics/metric_registry.py
Due: generate_docs_for_endpoint

[Aggregated Metrics] Cluster assignment views on unit of observation PKs (Recidiviz/recidiviz-data#35517)
  recidiviz/aggregated_metrics/assignment_sessions_view_builder.py
Due: generate_docs_for_endpoint

[US_NE] Adding new tables about Misconduct Reports and Parole Board Hearings (Recidiviz/recidiviz-data#35478)
  recidiviz/ingest/direct/regions/us_ne/raw_data/us_ne_CTS_Inmate.yaml
  recidiviz/ingest/direct/regions/us_ne/raw_data/us_ne_MRRSAppealBoard.yaml
  recidiviz/ingest/direct/regions/us_ne/raw_data/us_ne_MRRSAppealCharge.yaml
  recidiviz/ingest/direct/regions/us_ne/raw_data/us_ne_MRRSAttorney.yaml
  recidiviz/ingest/direct/regions/us_ne/raw_data/us_ne_MRRSBoardMember.yaml
  recidiviz/ingest/direct/regions/us_ne/raw_data/us_ne_MRRS_MisconductDisciplinaryCommittee.yaml
  recidiviz/ingest/direct/regions/us_ne/raw_data/us_ne_MRRS_SendToUDCIDC.yaml
  recidiviz/ingest/direct/regions/us_ne/raw_data/us_ne_MRRS_Warden.yaml
  recidiviz/ingest/direct/regions/us_ne/raw_data/us_ne_MRRS_investigationOfficer.yaml
  recidiviz/ingest/direct/regions/us_ne/raw_data/us_ne_MRRS_misconductReport.yaml
  recidiviz/ingest/direct/regions/us_ne/raw_data/us_ne_PBABoardMember.yaml
  recidiviz/ingest/direct/regions/us_ne/raw_data/us_ne_PBABoardMemberAttendance.yaml
  recidiviz/ingest/direct/regions/us_ne/raw_data/us_ne_PBABoardMemberVote.yaml
  recidiviz/ingest/direct/regions/us_ne/raw_data/us_ne_PBAHearingAttendance.yaml
  recidiviz/ingest/direct/regions/us_ne/raw_data/us_ne_PBAHearingMemberAttendance.yaml
  recidiviz/ingest/direct/regions/us_ne/raw_data/us_ne_PBAHearingReviewSummary.yaml
  recidiviz/ingest/direct/regions/us_ne/raw_data/us_ne_PBAOffenderBoardReview.yaml
Due: generate_docs_for_region, generate_docs_for_endpoint

[KPIs] Reintroduce per_view_update_stats and yaml_managed source tables (Recidiviz/recidiviz-data#35407)
  recidiviz/calculator/query/state/dataset_config.py
  recidiviz/calculator/query/state/views/analyst_data/population_density_by_supervision_office.py
  recidiviz/entrypoints/sentencing/datasets.py
  recidiviz/metrics/export/view_export_manager.py
  recidiviz/persistence/database/bq_refresh/cloud_sql_to_bq_refresh_control.py
  recidiviz/source_tables/collect_all_source_table_configs.py
  recidiviz/source_tables/collect_source_tables_from_yamls.py
  recidiviz/source_tables/externally_managed/datasets.py
  recidiviz/source_tables/source_table_config.py
  recidiviz/source_tables/yaml_managed/__init__.py
  recidiviz/source_tables/yaml_managed/collect_yaml_managed_source_table_configs.py
  recidiviz/source_tables/yaml_managed/datasets.py
  recidiviz/source_tables/yaml_managed/population_projection_output_data/cost_avoidance_estimate_raw.yaml
  recidiviz/source_tables/yaml_managed/population_projection_output_data/cost_avoidance_non_cumulative_estimate_raw.yaml
  recidiviz/source_tables/yaml_managed/population_projection_output_data/life_years_estimate_raw.yaml
  recidiviz/source_tables/yaml_managed/population_projection_output_data/microsim_projected_outflows_raw.yaml
  recidiviz/source_tables/yaml_managed/population_projection_output_data/microsim_projection_raw.yaml
  recidiviz/source_tables/yaml_managed/population_projection_output_data/population_estimate_raw.yaml
  recidiviz/source_tables/yaml_managed/spark_public_output_data/cost_avoidance_estimate_raw.yaml
  recidiviz/source_tables/yaml_managed/spark_public_output_data/cost_avoidance_non_cumulative_estimate_raw.yaml
  recidiviz/source_tables/yaml_managed/spark_public_output_data/life_years_estimate_raw.yaml
  recidiviz/source_tables/yaml_managed/spark_public_output_data/population_estimate_raw.yaml
  recidiviz/source_tables/yaml_managed/vera_data/incarceration_trends.yaml
  recidiviz/source_tables/yaml_managed/view_update_metadata/metric_view_data_export_tracker.yaml
  recidiviz/source_tables/yaml_managed/view_update_metadata/per_view_update_stats.yaml
  recidiviz/source_tables/yaml_managed/view_update_metadata/refresh_bq_dataset_tracker.yaml
  recidiviz/source_tables/yaml_managed/view_update_metadata/rematerialization_tracker.yaml
  recidiviz/source_tables/yaml_managed/view_update_metadata/view_update_tracker.yaml
  recidiviz/tests/source_tables/source_tables_test.py
  recidiviz/tests/source_tables/yaml_managed/__init__.py
  recidiviz/tests/source_tables/yaml_managed/datasets_test.py
  recidiviz/tools/analyst/randomization.py
  recidiviz/view_registry/execute_update_all_managed_views.py
Due: generate_docs_for_endpoint, generate_calc_documentation

Add missing endpoint doc (Recidiviz/recidiviz-data#35168)
  .dockerignore
  .gcloudignore
  .gitignore
Due: none

Update Dockerfile to fix package installation issues (Recidiviz/recidiviz-data#35507)
  Dockerfile.recidiviz-base
Due: none

[US_NE] Yamls for additional PIMS tables (Recidiviz/recidiviz-data#35497)
  recidiviz/ingest/direct/regions/us_ne/raw_data/us_ne_PIMSEducation.yaml
  recidiviz/ingest/direct/regions/us_ne/raw_data/us_ne_PIMSElectronicMonitoring.yaml
  recidiviz/ingest/direct/regions/us_ne/raw_data/us_ne_PIMSEmployment.yaml
  recidiviz/ingest/direct/regions/us_ne/raw_data/us_ne_PIMSLSOAssessment.yaml
  recidiviz/ingest/direct/regions/us_ne/raw_data/us_ne_PIMSLSOReviewAnswer.yaml
  recidiviz/ingest/direct/regions/us_ne/raw_data/us_ne_PIMSLSOStatic99Ans.yaml
  recidiviz/ingest/direct/regions/us_ne/raw_data/us_ne_PIMSLsoStatic99RA.yaml
  recidiviz/ingest/direct/regions/us_ne/raw_data/us_ne_PIMSParoleOfficer.yaml
  recidiviz/ingest/direct/regions/us_ne/raw_data/us_ne_PIMSParoleeInformation.yaml
  recidiviz/ingest/direct/regions/us_ne/raw_data/us_ne_SecurityThreatGroup.yaml
Due: generate_docs_for_region, generate_docs_for_endpoint

[PSI][US_IX] Fixing filter to exclude clients who have case completed for more than 3 months (Recidiviz/recidiviz-data#35542)
  recidiviz/calculator/query/state/views/sentencing/us_ix/sentencing_client_template.py
Due: generate_docs_for_endpoint, generate_calc_documentation

[US_MI] Add nonnull values exemptions to unblock import in new infra (Recidiviz/recidiviz-data#35539)
  recidiviz/ingest/direct/regions/us_mi/raw_data/us_mi_ADH_COASSESSMENT.yaml
  recidiviz/ingest/direct/regions/us_mi/raw_data/us_mi_ADH_EMC_WARRANT.yaml
  recidiviz/ingest/direct/regions/us_mi/raw_data/us_mi_ADH_EMPLOYEE_ADDITIONAL_INFO.yaml
  recidiviz/ingest/direct/regions/us_mi/raw_data/us_mi_ADH_LEGAL_ORDER.yaml
  recidiviz/ingest/direct/regions/us_mi/raw_data/us_mi_ADH_MISCONDUCT_CHARGE.yaml
  recidiviz/ingest/direct/regions/us_mi/raw_data/us_mi_ADH_MISCONDUCT_INCIDENT.yaml
  recidiviz/ingest/direct/regions/us_mi/raw_data/us_mi_ADH_OFFENDER_BASIC_INFO_104A.yaml
  recidiviz/ingest/direct/regions/us_mi/raw_data/us_mi_ADH_OFFENDER_BOOKING_PROFILE.yaml
  recidiviz/ingest/direct/regions/us_mi/raw_data/us_mi_ADH_OFFENDER_DETAINER.yaml
  recidiviz/ingest/direct/regions/us_mi/raw_data/us_mi_ADH_OFFENDER_FEE_PROFILE.yaml
  recidiviz/ingest/direct/regions/us_mi/raw_data/us_mi_ADH_PLAN_PROGRESS.yaml
  recidiviz/ingest/direct/regions/us_mi/raw_data/us_mi_ADH_SHPERSON.yaml
  recidiviz/ingest/direct/regions/us_mi/raw_data/us_mi_ADH_SUBSTANCE_ABUSE_TEST.yaml
  recidiviz/ingest/direct/regions/us_mi/raw_data/us_mi_ADH_SUPERVISION_CONDITION.yaml
  recidiviz/ingest/direct/regions/us_mi/raw_data/us_mi_ADH_SUPER_COND_VIOLATION.yaml
Due: generate_docs_for_region, generate_docs_for_endpoint

[Observations] Correct clustering for all_* observations views (Recidiviz/recidiviz-data#35518)
  recidiviz/aggregated_metrics/assignment_sessions_view_builder.py
  recidiviz/aggregated_metrics/legacy/assignment_event_aggregated_metrics.py
  recidiviz/aggregated_metrics/legacy/assignment_span_aggregated_metrics.py
  recidiviz/aggregated_metrics/legacy/period_event_aggregated_metrics.py
  recidiviz/aggregated_metrics/legacy/period_span_aggregated_metrics.py
  recidiviz/observations/metric_unit_of_observation.py
  recidiviz/observations/view_config.py
  recidiviz/tests/observations/event_observation_big_query_view_builder_test.py
  recidiviz/tests/observations/metric_unit_of_observation_test.py
  recidiviz/tests/observations/observation_selector_test.py
  recidiviz/tests/observations/span_observation_big_query_view_builder_test.py
  recidiviz/tests/observations/span_selector_test.py
  recidiviz/tools/looker/aggregated_metrics/custom_metrics_lookml_utils.py
Due: generate_docs_for_endpoint

[monitoring] refactor alert backend management (Recidiviz/recidiviz-data#35431)
  recidiviz/airflow/dags/monitoring/incident_alert_routing.py
  recidiviz/airflow/dags/monitoring/recidiviz_alerting_service.py
  recidiviz/airflow/dags/monitoring/task_failure_alerts.py
  recidiviz/airflow/dags/utils/recidiviz_pagerduty_service.py
  recidiviz/airflow/tests/dag_integrity_test.py
  recidiviz/airflow/tests/monitoring/incident_alert_routing_test.py
Due: generate_docs_for_endpoint

[BigQuery] Add support for time-partitioning materialized tables (Recidiviz/recidiviz-data#35525)
  recidiviz/big_query/big_query_client.py
  recidiviz/big_query/big_query_view.py
  recidiviz/big_query/selected_columns_big_query_view.py
  recidiviz/big_query/union_all_big_query_view_builder.py
  recidiviz/big_query/view_update_manager.py
  recidiviz/metrics/metric_big_query_view.py
  recidiviz/task_eligibility/single_task_eligiblity_spans_view_builder.py
  recidiviz/task_eligibility/task_candidate_population_big_query_view_builder.py
  recidiviz/task_eligibility/task_completion_event_big_query_view_builder.py
  recidiviz/task_eligibility/task_criteria_big_query_view_builder.py
  recidiviz/tests/big_query/view_update_manager_test.py
  recidiviz/tests/big_query/view_update_manager_utils_test.py
  recidiviz/tools/load_views_to_sandbox.py
Due: generate_docs_for_endpoint, generate_calc_documentation

[US_OR] Update datetime parsers to unblock import in new infra (Recidiviz/recidiviz-data#35549)
  recidiviz/ingest/direct/regions/us_or/raw_data/us_or_RCDVZ_CISPRDDTA_CMOFPSC.yaml
  recidiviz/ingest/direct/regions/us_or/raw_data/us_or_RCDVZ_CISPRDDTA_OPSNTE.yaml
  recidiviz/ingest/direct/regions/us_or/raw_data/us_or_RCDVZ_CISPRDDTA_PBACTN.yaml
  recidiviz/ingest/direct/regions/us_or/raw_data/us_or_RCDVZ_CISPRDDTA_PBREVO.yaml
Due: generate_docs_for_region, generate_docs_for_endpoint

[raw data][monitoring] small update to file tag run import summary (Recidiviz/recidiviz-data#35513)
  recidiviz/airflow/dags/monitoring/file_tag_import_run_summary.py
  recidiviz/airflow/tests/monitoring/incident_history_builder_test.py
Due: generate_docs_for_endpoint

[monitoring] add `RecidivizGitHubService` (Recidiviz/recidiviz-data#35432)
  recidiviz/airflow/Pipfile
  recidiviz/airflow/Pipfile.lock
  recidiviz/airflow/dags/monitoring/recidiviz_github_alerting_service.py
  recidiviz/airflow/tests/monitoring/recidiviz_github_alerting_service_test.py
  recidiviz/tools/deploy/terraform/cloud-composer.tf
Due: generate_docs_for_endpoint, update_terraform_lock_file

[Insights] add new location fields in supervisor schema / endpoints (Recidiviz/recidiviz-data#35546)
  recidiviz/outliers/querier/querier.py
  recidiviz/outliers/types.py
  recidiviz/persistence/database/schema/insights/schema.py
  recidiviz/tests/case_triage/outliers/outliers_routes_test.py
  recidiviz/tests/case_triage/outliers/snapshots/snap_outliers_routes_test.py
  recidiviz/tests/outliers/snapshots/snap_querier_test.py
  recidiviz/tools/insights/fixtures/supervision_officer_supervisors.json
Due: generate_docs_for_endpoint, generate_calc_documentation

Create view with snooze-level details for marked ineligible funnel status sessions for Looker dashboard drill-down view (Recidiviz/recidiviz-data#35253)
  recidiviz/calculator/query/state/views/analyst_data/analyst_data_views.py
  recidiviz/calculator/query/state/views/analyst_data/workflows_person_marked_ineligible_status_session_details.py
  recidiviz/tools/find_unused_bq_views.py
Due: generate_docs_for_endpoint, generate_calc_documentation

[raw data][monitoring] add github service for raw data import file-tag and registration errors, update silence condition (Recidiviz/recidiviz-data#35520)
  recidiviz/airflow/dags/monitoring/incident_alert_routing.py
  recidiviz/airflow/dags/monitoring/incident_trigger_gating.py
  recidiviz/airflow/dags/raw_data/file_metadata_tasks.py
  recidiviz/airflow/dags/utils/constants.py
  recidiviz/airflow/tests/monitoring/incident_alert_routing_test.py
  recidiviz/airflow/tests/raw_data_import_dag_test.py
Due: generate_docs_for_endpoint

[US_OR] Update known values to unblock import in new infra (Recidiviz/recidiviz-data#35555)
  recidiviz/ingest/direct/regions/us_or/raw_data/us_or_RCDVZ_CISPRDDTA_CMSAIM.yaml
  recidiviz/ingest/direct/regions/us_or/raw_data/us_or_RCDVZ_PRDDTA_OP009P.yaml
Due: generate_docs_for_region, generate_docs_for_endpoint

[US_IX][Workflows] Update detainer_spans to include historical detainers (Recidiviz/recidiviz-data#35559)
  recidiviz/calculator/query/state/views/analyst_data/us_ix/us_ix_detainer_spans.py
Due: generate_docs_for_endpoint, generate_calc_documentation

[tf] all lowercase pygithub (Recidiviz/recidiviz-data#35567)
  recidiviz/tools/deploy/terraform/cloud-composer.tf
  recidiviz/tools/deploy/terraform/cloud-run-jobs.tf
Due: generate_docs_for_endpoint, update_terraform_lock_file

[TES][US_AZ] Aggregate disqualifying sentences into single criterion for TPR and DTP (Recidiviz/recidiviz-data#35371)
  recidiviz/task_eligibility/criteria/state_specific/us_az/no_arson_conviction.py
  recidiviz/task_eligibility/criteria/state_specific/us_az/no_dangerous_crimes_against_children_conviction.py
  recidiviz/task_eligibility/criteria/state_specific/us_az/no_ineligible_dtp_offense_convictions.py
  recidiviz/task_eligibility/criteria/state_specific/us_az/no_ineligible_tpr_offense_convictions.py
  recidiviz/task_eligibility/criteria/state_specific/us_az/no_sexual_offense_conviction.py
  recidiviz/task_eligibility/eligibility_spans/us_az/overdue_for_recidiviz_dtp_request.py
  recidiviz/task_eligibility/eligibility_spans/us_az/overdue_for_recidiviz_tpr_request.py
  recidiviz/task_eligibility/task_criteria_group_big_query_view_builder.py
  recidiviz/tests/task_eligibility/task_criteria_group_big_query_view_builder_test.py
  recidiviz/view_registry/query_complexity_score_2025.py
Due: generate_docs_for_endpoint, generate_calc_documentation

[Justice Counts] Add script for combining race/ethnicity and biological sex CSVs into a single CSV (Recidiviz/recidiviz-data#35524)
  recidiviz/tools/justice_counts/create_csv_file.py
Due: generate_docs_for_endpoint

[Justice Counts][Database Migration] Update Metric Keys for New Jails Metrics (Recidiviz/recidiviz-data#35561)
  recidiviz/justice_counts/metrics/jails.py
  recidiviz/persistence/database/migrations/justice_counts/versions/2024_11_26_1609_4a8434e4ba9e_update_metric_types.py
  recidiviz/persistence/database/migrations/justice_counts/versions/2024_11_26_1616_043f3abdbcdd_update_metric_types.py
  recidiviz/persistence/database/schema/justice_counts/schema.py
Due: generate_docs_for_endpoint, generate_calc_documentation

[Deploy] Fix small bug in prod deploy script (Recidiviz/recidiviz-data#35565)
  recidiviz/tools/deploy/deploy_production.sh
Due: generate_docs_for_endpoint

Revert "[Insights] add new location fields in supervisor schema / endpoints" (Recidiviz/recidiviz-data#35578)
  recidiviz/outliers/querier/querier.py
  recidiviz/outliers/types.py
  recidiviz/persistence/database/schema/insights/schema.py
  recidiviz/tests/case_triage/outliers/outliers_routes_test.py
  recidiviz/tests/case_triage/outliers/snapshots/snap_outliers_routes_test.py
  recidiviz/tests/outliers/snapshots/snap_querier_test.py
  recidiviz/tools/insights/fixtures/supervision_officer_supervisors.json
Due: generate_docs_for_endpoint, generate_calc_documentation

[US_IX] Revise incarceration periods ingest to only pull in primary addresses and create new periods for legal status changes (Recidiviz/recidiviz-data#35205)
  recidiviz/ingest/direct/regions/us_ix/ingest_mappings/us_ix_incarceration_period.yaml
  recidiviz/ingest/direct/regions/us_ix/ingest_views/query_fragments.py
  recidiviz/ingest/direct/regions/us_ix/ingest_views/view_incarceration_period.py
Due: generate_docs_for_region, generate_docs_for_endpoint

[monitoring] small log readability updates (Recidiviz/recidiviz-data#35576)
  recidiviz/airflow/dags/monitoring/airflow_alerting_incident.py
  recidiviz/airflow/dags/monitoring/recidiviz_alerting_service.py
  recidiviz/airflow/dags/monitoring/recidiviz_github_alerting_service.py
  recidiviz/airflow/dags/monitoring/task_failure_alerts.py
  recidiviz/airflow/dags/utils/recidiviz_pagerduty_service.py
Due: generate_docs_for_endpoint

[monitoring][raw data] update trigger rules for raw data tasks to exclude `raise_.*_errors` (Recidiviz/recidiviz-data#35582)
  recidiviz/airflow/dags/monitoring/incident_trigger_gating.py
  recidiviz/airflow/dags/raw_data/bq_load_tasks.py
  recidiviz/airflow/dags/raw_data/file_metadata_tasks.py
  recidiviz/airflow/dags/raw_data/gcs_file_processing_tasks.py
  recidiviz/airflow/dags/raw_data_import_dag.py
  recidiviz/airflow/dags/utils/constants.py
  recidiviz/airflow/tests/monitoring/alerting_trigger_predicates_test.py
Due: generate_docs_for_endpoint

Revert "[JII] Update JII GCP Job Docker Image URLs on Staging Deploy … (Recidiviz/recidiviz-data#35568)
  recidiviz/tools/deploy/terraform/cloud-run-jobs.tf
Due: generate_docs_for_endpoint, update_terraform_lock_file

[Justice Counts] Use DB Jurisdictions to Return Census Populations (Recidiviz/recidiviz-data#35556)
  recidiviz/justice_counts/agency_jurisdictions.py
  recidiviz/justice_counts/control_panel/routes/api.py
  recidiviz/justice_counts/data_sets/state_adult_pop_by_race_eth.csv
  recidiviz/justice_counts/data_sets/state_adult_pop_by_sex.csv
  recidiviz/tests/justice_counts/jurisdictions_test.py
Due: generate_docs_for_endpoint

[US_OR] Add nonnull values pre import validation exemptions to unblock import in new infra (Recidiviz/recidiviz-data#35563)
  recidiviz/ingest/direct/regions/us_or/raw_data/us_or_RCDVZ_CISPRDDTA_CMSACN.yaml
  recidiviz/ingest/direct/regions/us_or/raw_data/us_or_RCDVZ_CISPRDDTA_MTSANC.yaml
  recidiviz/ingest/direct/regions/us_or/raw_data/us_or_RCDVZ_CISUIR_INCIDENT.yaml
  recidiviz/ingest/direct/regions/us_or/raw_data/us_or_RCDVZ_DOCDTA_TBANUD.yaml
  recidiviz/ingest/direct/regions/us_or/raw_data/us_or_RCDVZ_DOCDTA_TBBHVR.yaml
  recidiviz/ingest/direct/regions/us_or/raw_data/us_or_RCDVZ_PBMIS_COMMON_INOP.yaml
  recidiviz/ingest/direct/regions/us_or/raw_data/us_or_RCDVZ_PBMIS_RELESE_PLN_DT_CALC.yaml
  recidiviz/ingest/direct/regions/us_or/raw_data/us_or_RCDVZ_PRDDTA_OP053P.yaml
  recidiviz/ingest/direct/regions/us_or/raw_data/us_or_RCDVZ_PRDDTA_OP054P.yaml
  recidiviz/ingest/direct/regions/us_or/raw_data/us_or_RCDVZ_PRDDTA_OPCOUR.yaml
Due: generate_docs_for_region, generate_docs_for_endpoint

[US_AZ] Add AZ to incarceration_population_person_level validation (Recidiviz/recidiviz-data#35033)
  recidiviz/validation/views/external_data/regions/us_az/incarceration_population_person_level.py
  recidiviz/view_registry/raw_data_reference_reasons.yaml
Due: generate_docs_for_endpoint, generate_calc_documentation

[JII] Update JII GCP Job Docker Image URLs on Staging Deploy (Recidiviz/recidiviz-data#35593)
  recidiviz/tools/deploy/terraform/cloud-run-jobs.tf
Due: generate_docs_for_endpoint, update_terraform_lock_file

[Justice Counts] Add Additional Descriptions for Metrics (Recidiviz/recidiviz-data#35590)
  recidiviz/justice_counts/metrics/courts.py
  recidiviz/justice_counts/metrics/defense.py
  recidiviz/justice_counts/metrics/jails.py
  recidiviz/justice_counts/metrics/law_enforcement.py
  recidiviz/justice_counts/metrics/metric_interface.py
  recidiviz/justice_counts/metrics/prisons.py
  recidiviz/justice_counts/metrics/prosecution.py
  recidiviz/justice_counts/metrics/supervision.py
  recidiviz/tests/justice_counts/metric_interface_test.py
Due: generate_docs_for_endpoint

[US_PA] Update column names (Recidiviz/recidiviz-data#35595)
  recidiviz/ingest/direct/regions/us_pa/raw_data/us_pa_dbo_Controlling_Sentence.yaml
Due: generate_docs_for_region, generate_docs_for_endpoint

[db] remove deprecated context-less session (Recidiviz/recidiviz-data#35592)
  recidiviz/persistence/database/session_factory.py
Due: generate_docs_for_endpoint

[US_PA] Add new data configs (Recidiviz/recidiviz-data#35410)
  recidiviz/ingest/direct/regions/us_pa/raw_data/us_pa_dbo_Offender_MHT.yaml
  recidiviz/ingest/direct/regions/us_pa/raw_data/us_pa_dbo_Senrec_extended.yaml
Due: generate_docs_for_region, generate_docs_for_endpoint

[Observations] Remove JSON attributes column from single-observation views (Recidiviz/recidiviz-data#35591)
  recidiviz/calculator/query/state/views/analyst_data/workflows_person_events.py
  recidiviz/observations/event_observation_big_query_view_builder.py
  recidiviz/observations/observation_selector.py
  recidiviz/observations/observation_type_utils.py
  recidiviz/observations/span_observation_big_query_view_builder.py
  recidiviz/observations/span_selector.py
  recidiviz/observations/view_config.py
  recidiviz/observations/views/events/person/incarceration_start_and_inferred_start.py
  recidiviz/observations/views/events/person/transitions_to_liberty_from_in_state.py
  recidiviz/observations/views/events/workflows_primary_user/workflows_active_usage_event.py
  recidiviz/outliers/types.py
  recidiviz/tests/observations/event_observation_big_query_view_builder_test.py
  recidiviz/tests/observations/observation_selector_test.py
  recidiviz/tests/observations/span_observation_big_query_view_builder_test.py
  recidiviz/tests/observations/span_selector_test.py
Due: generate_docs_for_endpoint, generate_calc_documentation

[US_AZ] Add classification score to custody level raw text (Recidiviz/recidiviz-data#35543)
  recidiviz/ingest/direct/regions/us_az/ingest_mappings/us_az_incarceration_periods.yaml
  recidiviz/ingest/direct/regions/us_az/ingest_views/view_incarceration_periods.py
  recidiviz/ingest/direct/regions/us_az/us_az_custom_enum_parsers.py
Due: generate_docs_for_region, generate_docs_for_endpoint
