Repository Recidiviz/pulse-data: changes, and which pre-commit hooks are due for each by the changed paths.
All: generate_docs_for_region, generate_docs_for_endpoint, generate_entity_documentation, generate_calc_documentation, generate_ingest_mappings_schema_documentation, update_terraform_lock_file

generate_docs_for_region:
  name: generate_docs_for_region
  entry: pipenv run python -m recidiviz.tools.docs.region_documentation_generator
  language: system
  require_serial: true

generate_docs_for_endpoint:
  name: generate_docs_for_endpoint
  entry: pipenv run python -m recidiviz.tools.docs.endpoint_documentation_generator
  language: system
  require_serial: true

generate_entity_documentation:
  name: generate_entity_documentation
  entry: pipenv run python -m recidiviz.tools.docs.entity_documentation_generator
  language: system
  require_serial: true

generate_calc_documentation:
  name: generate_calc_documentation
  entry: pipenv run python -m recidiviz.calculator.calculation_documentation_generator
  language: system
  require_serial: true

generate_ingest_mappings_schema_documentation:
  name: generate_ingest_mappings_schema_documentation
  entry: pipenv run python -m recidiviz.tools.docs.ingest_mappings_schema_documentation_generator
  language: system
  require_serial: true

update_terraform_lock_file:
  name: update_terraform_lock_file
  entry: recidiviz/tools/deploy/update_terraform_lock.sh
  language: script
  require_serial: true

[raw data] Add raw data csv file header reader + validator (Recidiviz/recidiviz-data#30438)
  recidiviz/ingest/direct/raw_data/read_raw_file_column_headers.py
  recidiviz/tests/ingest/direct/raw_data/read_raw_file_column_headers_test.py
Due: generate_docs_for_endpoint

[Autogenerated] Update Pipfile.lock (Recidiviz/recidiviz-data#30497)
  Pipfile.lock
Due: none

[Validation] Add mechanism for making attrs validators exempt on a per-state basis (Recidiviz/recidiviz-data#30488)
  recidiviz/common/attr_validators.py
  recidiviz/tests/common/attr_validators_test.py
Due: generate_docs_for_endpoint

[SCHEMA CHANGE] Adding `transitional` to state_staff_caseload_type (Recidiviz/recidiviz-data#30343)
  recidiviz/common/constants/state/enum_canonical_strings.py
  recidiviz/common/constants/state/state_staff_caseload_type.py
  recidiviz/ingest/direct/regions/us_ix/ingest_views/view_state_staff_caseload_type_periods.py
  recidiviz/ingest/direct/regions/us_ix/us_ix_custom_enum_parsers.py
  recidiviz/persistence/database/schema/state/schema.py
Due: generate_docs_for_region, generate_docs_for_endpoint, generate_entity_documentation, generate_calc_documentation

Email-validators (Recidiviz/recidiviz-data#30385)
  recidiviz/common/attr_validators.py
  recidiviz/tests/common/attr_validators_test.py
Due: generate_docs_for_endpoint

[US_MI][Workflows] Update completion events for scc opps (Recidiviz/recidiviz-data#30527)
  recidiviz/task_eligibility/eligibility_spans/us_mi/complete_add_in_person_security_classification_committee_review_form.py
  recidiviz/task_eligibility/eligibility_spans/us_mi/complete_security_classification_committee_review_form.py
  recidiviz/task_eligibility/eligibility_spans/us_mi/complete_warden_in_person_security_classification_committee_review_form.py
Due: generate_docs_for_endpoint, generate_calc_documentation

[BigQuery] Check that regex-identified parent tables match sqlglot (Recidiviz/recidiviz-data#30405)
  recidiviz/tests/view_registry/deployed_views_test.py
Due: generate_docs_for_endpoint

[Bugfix] Remove StateCode dependency from cloud functions (Recidiviz/recidiviz-data#30534)
  recidiviz/common/attr_validators.py
  recidiviz/common/state_exempted_attrs_validator.py
  recidiviz/tests/common/attr_validators_test.py
  recidiviz/tests/common/state_exempted_attrs_validator_test.py
Due: generate_docs_for_endpoint

add scheduled query for product roster archive (Recidiviz/recidiviz-data#29972)
  recidiviz/tools/deploy/terraform/bigquery-scheduled-queries.tf
  recidiviz/tools/deploy/terraform/monitoring.tf
Due: generate_docs_for_endpoint, update_terraform_lock_file

[source visibility] add ingest_filename_normalization entrypoint (Recidiviz/recidiviz-data#30533)
  recidiviz/tools/validate_source_visibility.py
Due: generate_docs_for_endpoint

[US_ND] Add ORDER_TYPE column & reconfigure offenses table (Recidiviz/recidiviz-data#30297)
  recidiviz/ingest/direct/regions/us_nd/raw_data/us_nd_elite_offender_offences.yaml
  recidiviz/ingest/direct/regions/us_nd/raw_data/us_nd_recidiviz_elite_offences.yaml
Due: generate_docs_for_region, generate_docs_for_endpoint

[US_ND] Adjust cadence for two raw data tables (Recidiviz/recidiviz-data#30515)
  recidiviz/ingest/direct/regions/us_nd/raw_data/us_nd_recidiviz_elite_AssessmentSupervisors.yaml
  recidiviz/ingest/direct/regions/us_nd/raw_data/us_nd_recidiviz_elite_Assessments.yaml
Due: generate_docs_for_region, generate_docs_for_endpoint

Configures reason_v2 fields for OR task criteria view builders (Recidiviz/recidiviz-data#30208)
  recidiviz/task_eligibility/criteria/general/not_in_work_release.py
  recidiviz/task_eligibility/criteria/state_specific/us_or/sentence_eligible.py
  recidiviz/task_eligibility/criteria/state_specific/us_or/supervision_type_eligible.py
Due: generate_docs_for_endpoint, generate_calc_documentation

[US ME] Add descriptions for ingest views (Recidiviz/recidiviz-data#30526)
  recidiviz/ingest/direct/regions/us_me/raw_data/us_me_CIS_1800_DISCIPLINARY_DECISION.yaml
  recidiviz/ingest/direct/regions/us_me/raw_data/us_me_CIS_180_DISCIPLINARY_CASE.yaml
  recidiviz/ingest/direct/regions/us_me/raw_data/us_me_CIS_1810_VIOLATION_DISPOSITION_CLASS.yaml
  recidiviz/ingest/direct/regions/us_me/raw_data/us_me_CIS_1811_VIOLATION_DISPOSITION_TYPE.yaml
  recidiviz/ingest/direct/regions/us_me/raw_data/us_me_CIS_181_VIOLATION_DISPOSITION.yaml
Due: generate_docs_for_region, generate_docs_for_endpoint

[Justice Counts] Remove superagency data pull from weekly data pull (Recidiviz/recidiviz-data#30547)
  recidiviz/justice_counts/jobs/data_pull_job.py
  recidiviz/justice_counts/jobs/super_agency_data_pull.py
Due: generate_docs_for_endpoint

[US_ME] add description to CIS_404_Docket_Id (Recidiviz/recidiviz-data#30504)
  recidiviz/ingest/direct/regions/us_me/raw_data/us_me_CIS_401_CRT_ORDER_HDR.yaml
Due: generate_docs_for_region, generate_docs_for_endpoint

Configures reason_v2 fields for PA task criteria view builders (Recidiviz/recidiviz-data#30023)
  recidiviz/task_eligibility/criteria/state_specific/us_pa/no_high_sanctions_in_past_year.py
  recidiviz/task_eligibility/criteria/state_specific/us_pa/not_eligible_for_admin_supervision.py
  recidiviz/task_eligibility/criteria/state_specific/us_pa/not_serving_ineligible_offense_for_admin_supervision.py
  recidiviz/task_eligibility/criteria/state_specific/us_pa/served_half_minimum_or_25_years.py
Due: generate_docs_for_endpoint, generate_calc_documentation

Migrate ME custody reclassification review to Task Criteria Groups (Recidiviz/recidiviz-data#30350)
  recidiviz/task_eligibility/criteria/state_specific/us_me/incarceration_past_annual_classification_date.py
  recidiviz/task_eligibility/criteria/state_specific/us_me/incarceration_past_relevant_classification_date.py
  recidiviz/task_eligibility/criteria/state_specific/us_me/incarceration_past_semi_annual_classification_date.py
  recidiviz/task_eligibility/eligibility_spans/us_me/custody_reclassification_review_form.py
  recidiviz/task_eligibility/reasons_field.py
  recidiviz/task_eligibility/single_task_eligiblity_spans_view_builder.py
  recidiviz/task_eligibility/task_criteria_big_query_view_collector.py
  recidiviz/task_eligibility/task_criteria_group_big_query_view_builder.py
  recidiviz/tests/task_eligibility/task_criteria_group_big_query_view_builder_test.py
Due: generate_docs_for_endpoint, generate_calc_documentation

Remove Sentencing sql instance (Recidiviz/recidiviz-data#30557)
  recidiviz/tools/deploy/terraform/cloud-sql.tf
Due: generate_docs_for_endpoint, update_terraform_lock_file

[Normalization] Remove dependency on state_charge_offense_description_to_labels (Recidiviz/recidiviz-data#30475)
  recidiviz/calculator/query/state/views/reference/cleaned_offense_description_to_labels.py
  recidiviz/calculator/query/state/views/reference/reference_views.py
  recidiviz/calculator/query/state/views/reference/state_charge_offense_description_to_labels.py
  recidiviz/calculator/query/state/views/sessions/charges_preprocessed.py
  recidiviz/calculator/query/state/views/sessions/us_mo/us_mo_charges_preprocessed.py
  recidiviz/calculator/query/state/views/sessions/us_tn/us_tn_sentences_preprocessed.py
  recidiviz/persistence/entity/state/normalized_entities.py
  recidiviz/pipelines/normalization/comprehensive/entity_normalizer.py
  recidiviz/pipelines/normalization/comprehensive/pipeline.py
  recidiviz/pipelines/normalization/utils/normalization_managers/sentence_normalization_manager.py
  recidiviz/pipelines/utils/execution_utils.py
  recidiviz/tests/pipelines/fake_bigquery.py
  recidiviz/tests/pipelines/normalization/comprehensive/entity_normalizer_test.py
  recidiviz/tests/pipelines/normalization/comprehensive/pipeline_test.py
  recidiviz/tests/pipelines/normalization/pipeline_parameters_test.py
  recidiviz/tests/pipelines/normalization/utils/normalization_managers/sentence_normalization_manager_test.py
  recidiviz/tests/view_registry/deployed_views_test.py
  recidiviz/tools/validate_source_visibility.py
  recidiviz/validation/views/state/sentences/normalized_state_charge_missing_uniform_offense_labels.py
Due: generate_docs_for_endpoint, generate_calc_documentation

[Workflows] Add avg daily pop for solitary confinement agg metrics (Recidiviz/recidiviz-data#30256)
  recidiviz/aggregated_metrics/aggregated_metric_view_collector.py
  recidiviz/aggregated_metrics/models/aggregated_metric_configurations.py
  recidiviz/calculator/query/state/views/analyst_data/models/span_type.py
  recidiviz/calculator/query/state/views/analyst_data/models/spans.py
Due: generate_docs_for_endpoint, generate_calc_documentation

[Build] Pin google-cloud-bigquery (Recidiviz/recidiviz-data#30566)
  Pipfile
  Pipfile.lock
Due: none

add notification_rate_limit to scheduled query monitoring (Recidiviz/recidiviz-data#30568)
  recidiviz/tools/deploy/terraform/bigquery-scheduled-queries.tf
Due: generate_docs_for_endpoint, update_terraform_lock_file

[US_ID] Reset us_id_validation_config.yaml (Recidiviz/recidiviz-data#30525)
  recidiviz/validation/config/regions/us_id/us_id_validation_config.yaml
Due: generate_docs_for_endpoint

[Workflows] Fix timezone handling for featureVariants (Recidiviz/recidiviz-data#30581)
  recidiviz/case_triage/workflows/workflows_authorization.py
  recidiviz/tests/case_triage/workflows/workflows_authorization_test.py
Due: generate_docs_for_endpoint

Add serialize/deserialize methods for types passed between preimport normalization airflow tasks (Recidiviz/recidiviz-data#30444)
  recidiviz/cloud_storage/gcsfs_csv_chunk_boundary_finder.py
  recidiviz/ingest/direct/types/raw_data_import_types.py
  recidiviz/tests/cloud_storage/gcsfs_csv_chunk_boundary_finder_test.py
  recidiviz/tests/ingest/direct/types/raw_data_import_types_test.py
Due: generate_docs_for_endpoint

[Security] Pin GH Actions to particular checksum (Recidiviz/recidiviz-data#30291)
  .github/workflows/ci.yml
  .github/workflows/codeql.yml
  .github/workflows/docker-image-scan.yml
Due: none

[Sessions] Refactor supervision officer sessions to aggregate adjacent spans (Recidiviz/recidiviz-data#30567)
  recidiviz/calculator/query/state/views/sessions/supervision_officer_sessions.py
Due: generate_docs_for_endpoint, generate_calc_documentation

[Dataflow] Delete unused county_of_residence column from metrics (Recidiviz/recidiviz-data#30603)
  recidiviz/calculator/query/state/views/reference/persons_to_recent_county_of_residence.py
  recidiviz/calculator/query/state/views/reference/reference_views.py
  recidiviz/pipelines/metrics/incarceration/events.py
  recidiviz/pipelines/metrics/incarceration/identifier.py
  recidiviz/pipelines/metrics/incarceration/metrics.py
  recidiviz/pipelines/metrics/incarceration/pipeline.py
  recidiviz/pipelines/metrics/recidivism/events.py
  recidiviz/pipelines/metrics/recidivism/identifier.py
  recidiviz/pipelines/metrics/recidivism/metrics.py
  recidiviz/pipelines/metrics/recidivism/pipeline.py
  recidiviz/pipelines/utils/execution_utils.py
  recidiviz/tests/pipelines/fake_bigquery.py
  recidiviz/tests/pipelines/metrics/incarceration/identifier_test.py
  recidiviz/tests/pipelines/metrics/incarceration/metric_producer_test.py
  recidiviz/tests/pipelines/metrics/incarceration/pipeline_test.py
  recidiviz/tests/pipelines/metrics/recidivism/identifier_test.py
  recidiviz/tests/pipelines/metrics/recidivism/metric_producer_test.py
  recidiviz/tests/pipelines/metrics/recidivism/pipeline_test.py
  recidiviz/tests/pipelines/metrics/utils/metric_utils_test.py
  recidiviz/tests/pipelines/utils/beam_utils/extractor_utils_test.py
  recidiviz/tests/pipelines/utils/execution_utils_test.py
  recidiviz/tests/source_tables/source_tables_test.py
Due: generate_docs_for_endpoint, generate_calc_documentation

[US_AZ] Bump validation threshold (Recidiviz/recidiviz-data#30583)
  recidiviz/validation/config/regions/us_az/us_az_validation_config.yaml
Due: generate_docs_for_endpoint

[US_ND] Add RecDate to two raw data files (Recidiviz/recidiviz-data#30530)
  recidiviz/ingest/direct/regions/us_nd/raw_data/us_nd_docstars_contacts.yaml
  recidiviz/ingest/direct/regions/us_nd/raw_data/us_nd_docstars_ftr_plan_objective.yaml
  recidiviz/ingest/direct/regions/us_nd/raw_data/us_nd_docstars_officers.yaml
  recidiviz/ingest/direct/regions/us_nd/raw_data/us_nd_elite_grievances.yaml
  recidiviz/ingest/direct/regions/us_nd/raw_data/us_nd_recidiviz_docstars_LSI_SUPERPLAN.yaml
Due: generate_docs_for_region, generate_docs_for_endpoint

Enable MAU/WAU metric for state-level analyses in lookml workflows impact explore (Recidiviz/recidiviz-data#30094)
  recidiviz/aggregated_metrics/models/aggregated_metric.py
  recidiviz/tools/looker/aggregated_metrics/aggregated_metrics_lookml_utils.py
  recidiviz/tools/looker/aggregated_metrics/custom_aggregated_metrics_lookml_generator.py
  recidiviz/tools/looker/aggregated_metrics/custom_metrics_lookml_utils.py
  recidiviz/tools/looker/aggregated_metrics/custom_workflows_metrics_configurations.py
  recidiviz/tools/looker/aggregated_metrics/custom_workflows_metrics_lookml_generator.py
Due: generate_docs_for_endpoint

[US_AZ] Add state-specific validation view (Recidiviz/recidiviz-data#30226)
  recidiviz/validation/views/external_data/regions/us_az/supervision_population_by_type.py
  recidiviz/validation/views/view_config.py
  recidiviz/view_registry/raw_data_reference_reasons.yaml
Due: generate_docs_for_endpoint, generate_calc_documentation

[Insights] Increase instance timeout for import requests (Recidiviz/recidiviz-data#30606)
  recidiviz/tools/deploy/terraform/cloud-run.tf
Due: generate_docs_for_endpoint, update_terraform_lock_file

[Workflows][US_ME] Move resident record fields to state-specific metadata (Recidiviz/recidiviz-data#30587)
  recidiviz/calculator/query/state/views/workflows/firestore/resident_record_ctes.py
  recidiviz/calculator/query/state/views/workflows/us_me/resident_metadata.py
  recidiviz/calculator/query/state/views/workflows/workflows_views.py
Due: generate_docs_for_endpoint, generate_calc_documentation

Revert "[US_ND] Add RecDate to two raw data files" (Recidiviz/recidiviz-data#30609)
  recidiviz/ingest/direct/regions/us_nd/raw_data/us_nd_docstars_contacts.yaml
  recidiviz/ingest/direct/regions/us_nd/raw_data/us_nd_docstars_ftr_plan_objective.yaml
  recidiviz/ingest/direct/regions/us_nd/raw_data/us_nd_docstars_officers.yaml
  recidiviz/ingest/direct/regions/us_nd/raw_data/us_nd_elite_grievances.yaml
  recidiviz/ingest/direct/regions/us_nd/raw_data/us_nd_recidiviz_docstars_LSI_SUPERPLAN.yaml
Due: generate_docs_for_region, generate_docs_for_endpoint

[US_ID] Change in completion event type for CRC work-release (Recidiviz/recidiviz-data#30443)
  recidiviz/calculator/query/state/views/reference/workflows_opportunity_configs.py
Due: generate_docs_for_endpoint, generate_calc_documentation

[Bugfix] Fix query generation for raw data tables with only documented datetime columns (Recidiviz/recidiviz-data#30610)
  recidiviz/ingest/direct/views/raw_table_query_builder.py
  recidiviz/tests/ingest/direct/views/raw_table_query_builder_test.py
Due: generate_docs_for_endpoint, generate_calc_documentation

Configures reason_v2 fields for IX task criteria view builders (Recidiviz/recidiviz-data#30036)
  recidiviz/task_eligibility/criteria/general/not_serving_a_life_sentence.py
  recidiviz/task_eligibility/criteria/state_specific/us_ix/crc_resident_worker_time_based_criteria.py
  recidiviz/task_eligibility/criteria/state_specific/us_ix/crc_work_release_time_based_criteria.py
  recidiviz/task_eligibility/criteria/state_specific/us_ix/in_crc_facility.py
  recidiviz/task_eligibility/criteria/state_specific/us_ix/in_crc_facility_or_pwcc_unit_1.py
  recidiviz/task_eligibility/criteria/state_specific/us_ix/in_crc_facility_or_pwcc_unit_1_for_60_days.py
  recidiviz/task_eligibility/criteria/state_specific/us_ix/incarceration_within_18_months_of_eprd_and_15_years_of_ftcd.py
  recidiviz/task_eligibility/criteria/state_specific/us_ix/incarceration_within_18_months_of_ftcd_or_tpd.py
  recidiviz/task_eligibility/criteria/state_specific/us_ix/incarceration_within_1_year_of_tpd_and_life_sentence.py
  recidiviz/task_eligibility/criteria/state_specific/us_ix/incarceration_within_3_years_of_tpd_and_life_sentence.py
  recidiviz/task_eligibility/criteria/state_specific/us_ix/incarceration_within_6_months_of_ftcd_or_ped_or_tpd.py
  recidiviz/task_eligibility/criteria/state_specific/us_ix/incarceration_within_7_years_of_ftcd_or_tpd.py
  recidiviz/task_eligibility/criteria/state_specific/us_ix/incarceration_within_7_years_of_ped_and_phd_and_20_years_of_ftcd.py
  recidiviz/task_eligibility/criteria/state_specific/us_ix/income_verified_within_3_months.py
  recidiviz/task_eligibility/criteria/state_specific/us_ix/lsir_level_low_for_90_days.py
  recidiviz/task_eligibility/criteria/state_specific/us_ix/lsir_level_low_moderate_for_x_days.py
  recidiviz/task_eligibility/criteria/state_specific/us_ix/no_absconsion_escape_and_eluding_police_offenses_within_10_years.py
  recidiviz/task_eligibility/criteria/state_specific/us_ix/no_active_nco.py
  recidiviz/task_eligibility/criteria/state_specific/us_ix/no_class_a_or_b_dor_for_6_months.py
  recidiviz/task_eligibility/criteria/state_specific/us_ix/no_detainers_for_xcrc_and_crc.py
  recidiviz/task_eligibility/criteria/state_specific/us_ix/no_eluding_police_offense_within_10_years.py
  recidiviz/task_eligibility/criteria/state_specific/us_ix/no_escape_offense_within_10_years.py
  recidiviz/task_eligibility/criteria/state_specific/us_ix/no_sex_offender_alert.py
  recidiviz/task_eligibility/criteria/state_specific/us_ix/not_in_crc_facility.py
  recidiviz/task_eligibility/criteria/state_specific/us_ix/parole_dual_supervision_past_early_discharge_date.py
  recidiviz/task_eligibility/criteria/state_specific/us_ix/parole_hearing_date_within_7_years.py
  recidiviz/task_eligibility/criteria/state_specific/us_ix/served_at_least_one_year_for_dui_if_lsir_level_low.py
  recidiviz/task_eligibility/criteria/state_specific/us_ix/supervision_level_higher_than_assessment_level.py
  recidiviz/task_eligibility/criteria/state_specific/us_ix/supervision_level_raw_text_is_not_so.py
  recidiviz/task_eligibility/criteria/state_specific/us_ix/tentative_parole_date_within_18_months.py
  recidiviz/task_eligibility/criteria/state_specific/us_ix/tentative_parole_date_within_1_year.py
  recidiviz/task_eligibility/criteria/state_specific/us_ix/tentative_parole_date_within_3_years.py
  recidiviz/task_eligibility/criteria/state_specific/us_ix/tentative_parole_date_within_6_months.py
  recidiviz/task_eligibility/criteria/state_specific/us_ix/tentative_parole_date_within_7_years.py
  recidiviz/task_eligibility/utils/general_criteria_builders.py
  recidiviz/task_eligibility/utils/state_dataset_query_fragments.py
  recidiviz/task_eligibility/utils/us_ix_query_fragments.py
Due: generate_docs_for_endpoint, generate_calc_documentation

[US_AZ] Add ADC_NUMBER to person_external_id (Recidiviz/recidiviz-data#30456)
  recidiviz/common/constants/state/external_id_types.py
  recidiviz/ingest/direct/regions/us_az/ingest_mappings/us_az_incarceration_incidents.yaml
  recidiviz/ingest/direct/regions/us_az/ingest_mappings/us_az_incarceration_periods.yaml
  recidiviz/ingest/direct/regions/us_az/ingest_mappings/us_az_state_charge.yaml
  recidiviz/ingest/direct/regions/us_az/ingest_mappings/us_az_state_person.yaml
  recidiviz/ingest/direct/regions/us_az/ingest_mappings/us_az_state_sentence.yaml
  recidiviz/ingest/direct/regions/us_az/ingest_mappings/us_az_state_sentence_group.yaml
  recidiviz/ingest/direct/regions/us_az/ingest_mappings/us_az_state_task_deadline.yaml
  recidiviz/ingest/direct/regions/us_az/ingest_mappings/us_az_supervision_periods.yaml
  recidiviz/ingest/direct/regions/us_az/ingest_views/query_fragments.py
  recidiviz/ingest/direct/regions/us_az/ingest_views/view_incarceration_incidents.py
  recidiviz/ingest/direct/regions/us_az/ingest_views/view_incarceration_periods.py
  recidiviz/ingest/direct/regions/us_az/ingest_views/view_state_charge.py
  recidiviz/ingest/direct/regions/us_az/ingest_views/view_state_person.py
  recidiviz/ingest/direct/regions/us_az/ingest_views/view_state_sentence.py
  recidiviz/ingest/direct/regions/us_az/ingest_views/view_state_sentence_group.py
  recidiviz/ingest/direct/regions/us_az/ingest_views/view_state_task_deadline.py
  recidiviz/ingest/direct/regions/us_az/ingest_views/view_supervision_periods.py
Due: generate_docs_for_region, generate_docs_for_endpoint

Path conditions:
  generate_docs_for_region: any of: ^recidiviz/ingest/direct/regions/
  generate_docs_for_endpoint: any of: ^recidiviz/, but not: (?x)(^recidiviz/tests/|^recidiviz/tools/|^recidiviz/ingest/direct/regions/)$

  generate_entity_documentation: any of: (?x)(^recidiviz/persistence/database/schema/state/schema.py|^recidiviz/persistence/database/schema/history_table_shared_columns_mixin.py|^recidiviz/common/constants/state/)$

  generate_calc_documentation: any of: ^recidiviz/calculator/|^recidiviz/metrics/|^recidiviz/.*/views/|^recidiviz/big_query/|^recidiviz/persistence/database/schema/|^recidiviz/persistence/entity/|^recidiviz/task_eligibility/, but not: ^recidiviz/tests/|^recidiviz/calculator/modeling/
  generate_ingest_mappings_schema_documentation: any of: ^recidiviz/ingest/direct/ingest_mappings/yaml_schema/|^docs/engineering/ingest_mapping_schema/
  update_terraform_lock_file: any of: ^recidiviz/tools/deploy/terraform/
