Repository Recidiviz/pulse-data: changes, and which pre-commit hooks are due for each by the changed paths.
All: generate_docs_for_region, generate_docs_for_endpoint, generate_entity_documentation, generate_calc_documentation, generate_ingest_mappings_schema_documentation, update_terraform_lock_file

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.3.0
    hooks:
      - id: check-yaml
  - repo: https://github.com/psf/black
    rev: 22.3.0
    hooks:
      # This runs on py, pyi, and ipynb files.
      - id: black-jupyter
        language_version: python3
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v2.5.1
    hooks:
      - id: prettier
        types_or: [yaml]
  - repo: https://github.com/pycqa/isort
    rev: 5.6.4
    hooks:
      - id: isort
        name: isort (python)
      - id: isort
        name: isort (pyi)
        types: [pyi]
  - repo: local
    hooks:
      - id: generate_docs_for_region
        name: generate_docs_for_region
        entry: pipenv run python -m recidiviz.tools.docs.region_documentation_generator
        language: system
        files: ^recidiviz/ingest/direct/regions/
        require_serial: true
      - id: generate_docs_for_endpoint
        name: generate_docs_for_endpoint
        entry: pipenv run python -m recidiviz.tools.docs.endpoint_documentation_generator
        language: system
        files: ^recidiviz/
        exclude: >
          (?x)(^recidiviz/tests/|^recidiviz/tools/|^recidiviz/ingest/direct/regions/)$
        require_serial: true
      - id: generate_entity_documentation
        name: generate_entity_documentation
        entry: pipenv run python -m recidiviz.tools.docs.entity_documentation_generator
        language: system
        files: >
          (?x)(^recidiviz/persistence/database/schema/state/schema.py|^recidiviz/persistence/database/schema/history_table_shared_columns_mixin.py|^recidiviz/common/constants/state/)$
        require_serial: true
      - id: generate_calc_documentation
        name: generate_calc_documentation
        entry: pipenv run python -m recidiviz.calculator.calculation_documentation_generator
        language: system
        files: ^recidiviz/calculator/|^recidiviz/metrics/|^recidiviz/.*/views/|^recidiviz/big_query/|^recidiviz/persistence/database/schema/|^recidiviz/persistence/entity/|^recidiviz/task_eligibility/
        exclude: ^recidiviz/tests/|^recidiviz/calculator/modeling/
        require_serial: true
      - id: generate_ingest_mappings_schema_documentation
        name: generate_ingest_mappings_schema_documentation
        entry: pipenv run python -m recidiviz.tools.docs.ingest_mappings_schema_documentation_generator
        language: system
        files: ^recidiviz/ingest/direct/ingest_mappings/yaml_schema/|^docs/engineering/ingest_mapping_schema/
        require_serial: true
      - id: update_terraform_lock_file
        name: update_terraform_lock_file
        entry: recidiviz/tools/deploy/update_terraform_lock.sh
        language: script
        files: ^recidiviz/tools/deploy/terraform/
        require_serial: true

[Justice Counts] move global definitions for offense types to shared file (Recidiviz/recidiviz-data#17478)
  recidiviz/justice_counts/includes_excludes/offense.py
  recidiviz/justice_counts/includes_excludes/prisons.py
  recidiviz/justice_counts/metrics/prisons.py
Due: generate_docs_for_endpoint

[Justice Counts] update supervision staff according to new tig (Recidiviz/recidiviz-data#17428)
  recidiviz/justice_counts/dimensions/supervision.py
  recidiviz/justice_counts/includes_excludes/supervision.py
  recidiviz/justice_counts/metrics/supervision.py
  recidiviz/tests/justice_counts/bulk_upload/bulk_upload_fixtures/supervision/supervision_metrics.xlsx
  recidiviz/tests/justice_counts/bulk_upload/bulk_upload_test.py
Due: generate_docs_for_endpoint

[Security] Enable WAF enforcement in staging (Recidiviz/recidiviz-data#17497)
  recidiviz/tools/deploy/terraform/cloud-armor.tf
Due: generate_docs_for_endpoint, update_terraform_lock_file

[Justice Counts] update supervision types according to new tig (Recidiviz/recidiviz-data#17446)
  recidiviz/justice_counts/includes_excludes/supervision.py
Due: generate_docs_for_endpoint

[Justice Counts] update supervision global definitions according to new tig (Recidiviz/recidiviz-data#17448)
  recidiviz/justice_counts/includes_excludes/supervision.py
Due: generate_docs_for_endpoint

[Justice Counts] Law enforcement funding metric (Recidiviz/recidiviz-data#17490)
  recidiviz/justice_counts/dimensions/dimension_registry.py
  recidiviz/justice_counts/dimensions/law_enforcement.py
  recidiviz/justice_counts/includes_excludes/law_enforcement.py
  recidiviz/justice_counts/metricfiles/law_enforcement.py
  recidiviz/justice_counts/metrics/law_enforcement.py
  recidiviz/justice_counts/metrics/metric_registry.py
  recidiviz/justice_counts/metrics/prisons.py
  recidiviz/persistence/database/schema/justice_counts/schema.py
  recidiviz/tests/justice_counts/bulk_upload/bulk_upload_fixtures/law_enforcement/annual_budget_metric.xlsx
  recidiviz/tests/justice_counts/bulk_upload/bulk_upload_fixtures/law_enforcement/annual_budget_metric_update.xlsx
  recidiviz/tests/justice_counts/bulk_upload/bulk_upload_fixtures/law_enforcement/breakdown_errors.xlsx
  recidiviz/tests/justice_counts/bulk_upload/bulk_upload_fixtures/law_enforcement/funding_metric.xlsx
  recidiviz/tests/justice_counts/bulk_upload/bulk_upload_fixtures/law_enforcement/funding_metric_update.xlsx
  recidiviz/tests/justice_counts/bulk_upload/bulk_upload_fixtures/law_enforcement/law_enforcement_empty_template.xlsx
  recidiviz/tests/justice_counts/bulk_upload/bulk_upload_fixtures/law_enforcement/law_enforcement_metrics.xlsx
  recidiviz/tests/justice_counts/bulk_upload/bulk_upload_fixtures/law_enforcement/law_enforcement_missing_metrics.xlsx
  recidiviz/tests/justice_counts/bulk_upload/bulk_upload_fixtures/law_enforcement/law_enforcement_success.xlsx
  recidiviz/tests/justice_counts/bulk_upload/bulk_upload_test.py
  recidiviz/tests/justice_counts/control_panel/server_test.py
  recidiviz/tests/justice_counts/datapoint_test.py
  recidiviz/tests/justice_counts/feed_test.py
  recidiviz/tests/justice_counts/metric_definition_test.py
  recidiviz/tests/justice_counts/metric_interface_test.py
  recidiviz/tests/justice_counts/report_test.py
  recidiviz/tests/justice_counts/spreadsheet_test.py
  recidiviz/tests/justice_counts/utils.py
Due: generate_docs_for_endpoint, generate_calc_documentation

[Efficiency] Use PYYAML CSafeLoader Where Available (Recidiviz/recidiviz-data#17499)
  recidiviz/utils/yaml_dict.py
Due: generate_docs_for_endpoint

clean up - remove exclude list (Recidiviz/recidiviz-data#17513)
  recidiviz/ingest/direct/ingest_mappings/ingest_view_manifest.py
Due: generate_docs_for_endpoint

[Admin Panel] Add ability to unblock state user (Recidiviz/recidiviz-data#17503)
  frontends/admin-panel/src/AdminPanelAPI/LineStaffTools.ts
  frontends/admin-panel/src/components/StateUserPermissions/StateUserPermissionsView.tsx
Due: none

[Efficiency] Mark Nodes as Visited in Cycle Check (Recidiviz/recidiviz-data#17516)
  recidiviz/big_query/big_query_view_dag_walker.py
  recidiviz/tests/big_query/big_query_view_dag_walker_test.py
Due: generate_docs_for_endpoint, generate_calc_documentation

[Justice Counts ] update supervision daily population according to new tig (Recidiviz/recidiviz-data#17453)
  recidiviz/justice_counts/dimensions/dimension_registry.py
  recidiviz/justice_counts/dimensions/supervision.py
  recidiviz/justice_counts/includes_excludes/supervision.py
  recidiviz/justice_counts/metricfiles/supervision.py
  recidiviz/justice_counts/metrics/metric_registry.py
  recidiviz/justice_counts/metrics/supervision.py
Due: generate_docs_for_endpoint

[Admin Panel] add button to add a set of default permissions for a state/role (Recidiviz/recidiviz-data#17438)
  frontends/admin-panel/src/AdminPanelAPI/LineStaffTools.ts
  frontends/admin-panel/src/components/StateUserPermissions/AddStateRoleForm.tsx
  frontends/admin-panel/src/components/StateUserPermissions/CustomPermissionsPanel.tsx
  frontends/admin-panel/src/components/StateUserPermissions/EditUsersForm.tsx
  frontends/admin-panel/src/components/StateUserPermissions/PermissionSelect.tsx
  frontends/admin-panel/src/components/StateUserPermissions/StateRolePermissionsView.tsx
  frontends/admin-panel/src/components/StateUserPermissions/StateUserPermissionsView.tsx
  frontends/admin-panel/src/components/StateUserPermissions/utils.ts
  frontends/admin-panel/src/misc.d.ts
  recidiviz/auth/auth_endpoint.py
  recidiviz/tests/auth/auth_endpoint_test.py
Due: generate_docs_for_endpoint

[US_TN] Selecting first CountNumber for ISC Consecutive sentences associated with multiple counts in same case to unblock rerun (Recidiviz/recidiviz-data#17531)
  recidiviz/ingest/direct/regions/us_tn/ingest_views/view_SentencesChargesAndCourtCases_v2.py
Due: generate_docs_for_region, generate_docs_for_endpoint

[US_MO] Adding more fields that error in SFTP import (Recidiviz/recidiviz-data#17511)
  recidiviz/ingest/direct/regions/us_mo/us_mo_raw_data_sql_queries.py
Due: generate_docs_for_region, generate_docs_for_endpoint

[US_PA] Bumping threshold failing validations related to known supervision period issue (Recidiviz/recidiviz-data#17538)
  recidiviz/validation/config/regions/us_pa/us_pa_validation_config.yaml
Due: generate_docs_for_endpoint

Update `discovery_time` to be Timestamp Aware in `direct_ingest_raw_file_metadata` (Recidiviz/recidiviz-data#17223)
  recidiviz/admin_panel/ingest_operations/ingest_utils.py
  recidiviz/ingest/direct/metadata/postgres_direct_ingest_file_metadata_manager.py
  recidiviz/persistence/database/migrations/operations/versions/2022_12_29_1412_2dbffd5fff56_discovery_tz_migration.py
  recidiviz/persistence/database/schema/operations/dao.py
  recidiviz/persistence/database/schema/operations/schema.py
  recidiviz/persistence/entity/operations/entities.py
  recidiviz/tests/ingest/direct/ingest_view_materialization/ingest_view_materialization_args_generator_test.py
  recidiviz/tests/ingest/direct/metadata/postgres_direct_ingest_file_metadata_manager_test.py
  recidiviz/tests/persistence/database/schema/operations/dao_test.py
  recidiviz/tests/persistence/database/schema/operations/schema_test.py
  recidiviz/tools/admin_panel/fixtures/operations_db/direct_ingest_raw_file_metadata.csv
Due: generate_docs_for_endpoint, generate_calc_documentation

[US_IA] Adds yaml for additional Iowa raw data files (Recidiviz/recidiviz-data#17526)
  recidiviz/ingest/direct/regions/us_ia/raw_data/us_ia_Base_Pop_T_DeID.yaml
  recidiviz/ingest/direct/regions/us_ia/raw_data/us_ia_Base_Population_Demographics_T_DeID.yaml
  recidiviz/ingest/direct/regions/us_ia/raw_data/us_ia_Case_Managers_T_DeID.yaml
  recidiviz/ingest/direct/regions/us_ia/raw_data/us_ia_Current_Iowa_Correctional_System_CBC_Field_Population.yaml
  recidiviz/ingest/direct/regions/us_ia/raw_data/us_ia_Current_Iowa_Correctional_System_CBC_Residential_Population.yaml
  recidiviz/ingest/direct/regions/us_ia/raw_data/us_ia_Current_Iowa_Correctional_System_Prison_Population.yaml
  recidiviz/ingest/direct/regions/us_ia/raw_data/us_ia_DRAOR_CBC_Revised_T_DeID.yaml
  recidiviz/ingest/direct/regions/us_ia/raw_data/us_ia_DRAOR_CBC_T_DeID.yaml
  recidiviz/ingest/direct/regions/us_ia/raw_data/us_ia_Intervention_Program_T_DeID.yaml
  recidiviz/ingest/direct/regions/us_ia/raw_data/us_ia_Interventions_T_DeID.yaml
  recidiviz/ingest/direct/regions/us_ia/raw_data/us_ia_Iowa_Correctional_Institutions.yaml
  recidiviz/ingest/direct/regions/us_ia/raw_data/us_ia_Iowa_Judicial_Districts.yaml
  recidiviz/ingest/direct/regions/us_ia/raw_data/us_ia_Iowa_Judicial_Districts_Offices_and_Facilities.yaml
  recidiviz/ingest/direct/regions/us_ia/raw_data/us_ia_Iowa_Parole_Revocations.yaml
  recidiviz/ingest/direct/regions/us_ia/raw_data/us_ia_Iowa_Prison_Admissions.yaml
  recidiviz/ingest/direct/regions/us_ia/raw_data/us_ia_Iowa_Probation_Admissions.yaml
  recidiviz/ingest/direct/regions/us_ia/raw_data/us_ia_Iowa_Probation_Revocations.yaml
  recidiviz/ingest/direct/regions/us_ia/raw_data/us_ia_Iowa_Risk_Revised_T_DeID.yaml
  recidiviz/ingest/direct/regions/us_ia/raw_data/us_ia_Level_of_Supervision_T_DeID.yaml
  recidiviz/ingest/direct/regions/us_ia/raw_data/us_ia_Modifier_T_DeID.yaml
  recidiviz/ingest/direct/regions/us_ia/raw_data/us_ia_Offenders_Released_from_Iowa_Prisons.yaml
  recidiviz/ingest/direct/regions/us_ia/raw_data/us_ia_Prison_Charges_T_DeID.yaml
  recidiviz/ingest/direct/regions/us_ia/raw_data/us_ia_Prison_Status_T_DeID.yaml
  recidiviz/ingest/direct/regions/us_ia/raw_data/us_ia_ROV_Ticket18447_Parole_SS_DeID.yaml
  recidiviz/ingest/direct/regions/us_ia/raw_data/us_ia_ROV_Ticket18447_Probation_DeID.yaml
  recidiviz/ingest/direct/regions/us_ia/raw_data/us_ia_ROV_Ticket18447_WR_OWI_DeID.yaml
  recidiviz/ingest/direct/regions/us_ia/raw_data/us_ia_Region_and_Work_Unit_T_DeID.yaml
  recidiviz/ingest/direct/regions/us_ia/raw_data/us_ia_Specialty_T_DeID.yaml
  recidiviz/ingest/direct/regions/us_ia/raw_data/us_ia_Sup_Status_Charge_Penalties_T_DeID.yaml
  recidiviz/ingest/direct/regions/us_ia/raw_data/us_ia_Sup_Status_Charge_Sentence_T_DeID.yaml
  recidiviz/ingest/direct/regions/us_ia/raw_data/us_ia_Sup_Status_Charges_T_DeID.yaml
  recidiviz/ingest/direct/regions/us_ia/raw_data/us_ia_Supervision_Level_T_DeID.yaml
Due: generate_docs_for_region, generate_docs_for_endpoint

Update Remaining Timestamps in `direct_ingest_raw_file_metadata` to Be Timezone Aware (Recidiviz/recidiviz-data#17315)
  frontends/admin-panel/src/components/IngestOperationsView/IngestOperationsComponents/RawDataLatestProcessedDateCellContents.tsx
  frontends/admin-panel/src/components/IngestOperationsView/constants.ts
  recidiviz/admin_panel/ingest_operations/ingest_utils.py
  recidiviz/admin_panel/ingest_operations_store.py
  recidiviz/common/attr_validators.py
  recidiviz/ingest/direct/controllers/base_direct_ingest_controller.py
  recidiviz/ingest/direct/controllers/extract_and_merge_job_prioritizer.py
  recidiviz/ingest/direct/gcs/filename_parts.py
  recidiviz/ingest/direct/ingest_view_materialization/ingest_view_materialization_args_generator.py
  recidiviz/ingest/direct/metadata/direct_ingest_file_metadata_manager.py
  recidiviz/ingest/direct/metadata/postgres_direct_ingest_file_metadata_manager.py
  recidiviz/ingest/direct/raw_data/direct_ingest_raw_file_import_manager.py
  recidiviz/persistence/database/migrations/operations/versions/2022_12_29_1434_b058f8ad693a_raw_tz_migration.py
  recidiviz/persistence/database/schema/operations/dao.py
  recidiviz/persistence/database/schema/operations/schema.py
  recidiviz/persistence/entity/operations/entities.py
  recidiviz/tests/admin_panel/ingest_operations_store_test.py
  recidiviz/tests/ingest/direct/controllers/extract_and_merge_job_prioritizer_test.py
  recidiviz/tests/ingest/direct/fakes/fake_instance_ingest_view_contents.py
  recidiviz/tests/ingest/direct/gcs/filename_parts_test.py
  recidiviz/tests/ingest/direct/ingest_view_materialization/ingest_view_materialization_args_generator_test.py
  recidiviz/tests/ingest/direct/metadata/postgres_direct_ingest_file_metadata_manager_test.py
  recidiviz/tests/ingest/direct/regions/ingest_view_query_test_case.py
  recidiviz/tests/persistence/database/schema/operations/dao_test.py
  recidiviz/tests/persistence/database/schema/operations/schema_test.py
  recidiviz/tools/admin_panel/fixtures/operations_db/direct_ingest_raw_file_metadata.csv
  recidiviz/tools/ingest/one_offs/clear_redundant_raw_data_on_bq.py
Due: generate_docs_for_endpoint, generate_calc_documentation

Fix Instance Status Checks in Flashing Checklist (Recidiviz/recidiviz-data#17431)
  frontends/admin-panel/src/components/FlashDatabaseChecklist.tsx
Due: none

Adds misc level-specific metrics to view builder (Recidiviz/recidiviz-data#17417)
  recidiviz/aggregated_metrics/aggregated_metric_view_collector.py
  recidiviz/aggregated_metrics/aggregated_metrics.py
  recidiviz/aggregated_metrics/misc_aggregated_metrics.py
Due: generate_docs_for_endpoint

[Justice Counts] add test for `get_metric_definitions_for_report` (Recidiviz/recidiviz-data#17518)
  recidiviz/tests/justice_counts/metric_interface_test.py
Due: generate_docs_for_endpoint

[Justice Counts] update law enforcement staff metric (Recidiviz/recidiviz-data#17512)
  recidiviz/justice_counts/dimensions/law_enforcement.py
  recidiviz/justice_counts/includes_excludes/law_enforcement.py
  recidiviz/justice_counts/metricfiles/law_enforcement.py
  recidiviz/justice_counts/metrics/law_enforcement.py
  recidiviz/justice_counts/metrics/metric_registry.py
  recidiviz/tests/justice_counts/bulk_upload/bulk_upload_fixtures/law_enforcement/breakdown_errors.xlsx
  recidiviz/tests/justice_counts/bulk_upload/bulk_upload_fixtures/law_enforcement/law_enforcement_empty_template.xlsx
  recidiviz/tests/justice_counts/bulk_upload/bulk_upload_fixtures/law_enforcement/law_enforcement_metrics.xlsx
  recidiviz/tests/justice_counts/bulk_upload/bulk_upload_fixtures/law_enforcement/law_enforcement_missing_metrics.xlsx
  recidiviz/tests/justice_counts/bulk_upload/bulk_upload_fixtures/law_enforcement/law_enforcement_success.xlsx
  recidiviz/tests/justice_counts/bulk_upload/bulk_upload_test.py
  recidiviz/tests/justice_counts/control_panel/server_test.py
  recidiviz/tests/justice_counts/metric_definition_test.py
  recidiviz/tests/justice_counts/metric_interface_test.py
  recidiviz/tests/justice_counts/report_test.py
Due: generate_docs_for_endpoint

[Admin panel] Add feature variants to State User Permissions page (Recidiviz/recidiviz-data#17524)
  frontends/admin-panel/src/AdminPanelAPI/LineStaffTools.ts
  frontends/admin-panel/src/components/StateUserPermissions/CustomPermissionsPanel.tsx
  frontends/admin-panel/src/components/StateUserPermissions/EditUsersForm.tsx
  frontends/admin-panel/src/components/StateUserPermissions/PermissionSelect.tsx
  frontends/admin-panel/src/components/StateUserPermissions/StateRolePermissionsView.tsx
  frontends/admin-panel/src/components/StateUserPermissions/StateUserPermissionsView.tsx
  frontends/admin-panel/src/components/StateUserPermissions/types.ts
  frontends/admin-panel/src/components/StateUserPermissions/utils.ts
  frontends/admin-panel/src/misc.d.ts
  recidiviz/auth/auth_endpoint.py
  recidiviz/persistence/database/migrations/case_triage/versions/2022_12_27_1512_95d215df0d17_add_field_feature_variants.py
  recidiviz/persistence/database/schema/case_triage/schema.py
  recidiviz/tests/auth/auth_endpoint_test.py
  recidiviz/tests/auth/helpers.py
  recidiviz/tools/case_triage/fixtures/permissions_override.csv
  recidiviz/tools/case_triage/fixtures/state_role_permissions.csv
Due: generate_docs_for_endpoint, generate_calc_documentation

[Workflows] fix ETL error message (Recidiviz/recidiviz-data#17551)
  recidiviz/workflows/etl/workflows_etl_delegate.py
Due: generate_docs_for_endpoint

Add `STALE_RAW_DATA` Logic to Direct Ingest Scheduler (Recidiviz/recidiviz-data#16986)
  recidiviz/ingest/direct/controllers/base_direct_ingest_controller.py
  recidiviz/ingest/direct/metadata/direct_ingest_instance_status_manager.py
  recidiviz/ingest/direct/metadata/postgres_direct_ingest_instance_status_manager.py
  recidiviz/persistence/database/schema/operations/dao.py
  recidiviz/tests/big_query/fakes/fake_direct_ingest_instance_status_manager.py
  recidiviz/tests/ingest/direct/metadata/postgres_direct_ingest_instance_status_manager_test.py
  recidiviz/tests/persistence/database/schema/operations/dao_test.py
Due: generate_docs_for_endpoint, generate_calc_documentation

[Justice Counts] update supervision funding according to new tig (Recidiviz/recidiviz-data#17474)
  recidiviz/justice_counts/dimensions/dimension_registry.py
  recidiviz/justice_counts/dimensions/supervision.py
  recidiviz/justice_counts/includes_excludes/supervision.py
  recidiviz/justice_counts/metricfiles/supervision.py
  recidiviz/justice_counts/metrics/metric_registry.py
  recidiviz/justice_counts/metrics/supervision.py
  recidiviz/tests/justice_counts/bulk_upload/bulk_upload_fixtures/supervision/supervision_metrics.xlsx
  recidiviz/tests/justice_counts/datapoint_test.py
Due: generate_docs_for_endpoint

Fix Migration for Timestamps in `direct_ingest_raw_file_metadata` (Recidiviz/recidiviz-data#17556)
  recidiviz/persistence/database/migrations/operations/versions/2022_12_29_1434_b058f8ad693a_raw_tz_migration.py
Due: generate_docs_for_endpoint

[Admin Panel] State user permissions - upload roster (Recidiviz/recidiviz-data#17460)
  frontends/admin-panel/src/AdminPanelAPI/utils.ts
  frontends/admin-panel/src/components/App.tsx
  frontends/admin-panel/src/components/StateUserPermissions/CustomPermissionsPanel.tsx
  frontends/admin-panel/src/components/StateUserPermissions/StateRolePermissionsView.tsx
  frontends/admin-panel/src/components/StateUserPermissions/StateUserPermissionsView.tsx
  frontends/admin-panel/src/components/StateUserPermissions/UploadStateUserRosterModal.tsx
  frontends/admin-panel/src/components/StateUserPermissions/types.ts
  frontends/admin-panel/src/components/StateUserPermissions/utils.ts
  frontends/admin-panel/src/components/UploadRostersView/UploadLineStaffRostersView.tsx
  frontends/admin-panel/src/components/UploadRostersView/UploadRoster.tsx
  frontends/admin-panel/src/components/constants.ts
  recidiviz/auth/auth_endpoint.py
  recidiviz/tests/auth/auth_endpoint_test.py
  recidiviz/tests/auth/fixtures/us_xx_roster.csv
  recidiviz/tests/auth/fixtures/us_xx_roster_leadership_only.csv
  recidiviz/tests/auth/fixtures/us_xx_roster_missing_email.csv
  recidiviz/tests/auth/fixtures/us_xx_roster_missing_external_id.csv
Due: generate_docs_for_endpoint

[Justice Counts] update supervision expenses according to new tig (Recidiviz/recidiviz-data#17475)
  recidiviz/justice_counts/dimensions/dimension_registry.py
  recidiviz/justice_counts/dimensions/supervision.py
  recidiviz/justice_counts/includes_excludes/supervision.py
  recidiviz/justice_counts/metricfiles/supervision.py
  recidiviz/justice_counts/metrics/metric_registry.py
  recidiviz/justice_counts/metrics/prisons.py
  recidiviz/justice_counts/metrics/supervision.py
  recidiviz/tests/justice_counts/bulk_upload/bulk_upload_fixtures/supervision/supervision_metrics.xlsx
  recidiviz/tests/justice_counts/bulk_upload/bulk_upload_test.py
Due: generate_docs_for_endpoint

Deprecate Offense Type Short (Recidiviz/recidiviz-data#17416)
  recidiviz/calculator/query/state/views/analyst_data/analyst_data_views.py
  recidiviz/calculator/query/state/views/analyst_data/offense_type_mapping.py
  recidiviz/calculator/query/state/views/sessions/sentence_imposed_group_summary.py
  recidiviz/calculator/query/state/views/sessions/sentences_preprocessed.py
  recidiviz/calculator/query/state/views/sessions/us_tn/us_tn_sentences_preprocessed.py
  recidiviz/task_eligibility/criteria/general/negative_ua_within_90_days.py
Due: generate_docs_for_endpoint, generate_calc_documentation

[Justice Counts] update supervision violations according to new tig (Recidiviz/recidiviz-data#17485)
  recidiviz/justice_counts/dimensions/supervision.py
  recidiviz/justice_counts/includes_excludes/supervision.py
  recidiviz/justice_counts/metricfiles/supervision.py
  recidiviz/justice_counts/metrics/metric_registry.py
  recidiviz/justice_counts/metrics/supervision.py
Due: generate_docs_for_endpoint

[US_IX] Map misdemeanor/felony supervision violation types (Recidiviz/recidiviz-data#17440)
  recidiviz/ingest/direct/regions/us_ix/ingest_mappings/us_ix_supervision_violation.yaml
  recidiviz/ingest/direct/regions/us_ix/ingest_views/view_supervision_violation.py
Due: generate_docs_for_region, generate_docs_for_endpoint

Adds task completion metrics to aggregated metrics (Recidiviz/recidiviz-data#17445)
  recidiviz/aggregated_metrics/aggregated_metric_view_collector.py
  recidiviz/aggregated_metrics/models/aggregated_metric_configurations.py
  recidiviz/calculator/query/state/views/analyst_data/person_events.py
  recidiviz/calculator/query/state/views/reference/task_to_completion_event.py
  recidiviz/task_eligibility/task_completion_event_big_query_view_builder.py
Due: generate_docs_for_endpoint, generate_calc_documentation

Fixes employed population metric configuration (Recidiviz/recidiviz-data#17575)
  recidiviz/aggregated_metrics/models/aggregated_metric_configurations.py
Due: generate_docs_for_endpoint

[Justice Counts] Law enforcement expenses metric (Recidiviz/recidiviz-data#17505)
  recidiviz/justice_counts/dimensions/dimension_registry.py
  recidiviz/justice_counts/dimensions/law_enforcement.py
  recidiviz/justice_counts/includes_excludes/law_enforcement.py
  recidiviz/justice_counts/metricfiles/law_enforcement.py
  recidiviz/justice_counts/metrics/law_enforcement.py
  recidiviz/justice_counts/metrics/metric_registry.py
  recidiviz/tests/justice_counts/bulk_upload/bulk_upload_fixtures/law_enforcement/law_enforcement_empty_template.xlsx
  recidiviz/tests/justice_counts/bulk_upload/bulk_upload_fixtures/law_enforcement/law_enforcement_metrics.xlsx
  recidiviz/tests/justice_counts/bulk_upload/bulk_upload_fixtures/law_enforcement/law_enforcement_missing_metrics.xlsx
  recidiviz/tests/justice_counts/bulk_upload/bulk_upload_fixtures/law_enforcement/law_enforcement_success.xlsx
  recidiviz/tests/justice_counts/bulk_upload/bulk_upload_test.py
  recidiviz/tests/justice_counts/control_panel/server_test.py
  recidiviz/tests/justice_counts/report_test.py
  recidiviz/tests/justice_counts/spreadsheet_test.py
Due: generate_docs_for_endpoint

[US_TN] Adding additional ISC logic to select ISC cases consecutive to multiple distinct cases (Recidiviz/recidiviz-data#17571)
  recidiviz/ingest/direct/regions/us_tn/ingest_views/view_SentencesChargesAndCourtCases_v2.py
Due: generate_docs_for_region, generate_docs_for_endpoint

[Justice Counts] add biological sex and race/ethnicity breakdowns to law enforcement staff metric (Recidiviz/recidiviz-data#17559)
  recidiviz/justice_counts/dimensions/law_enforcement.py
  recidiviz/justice_counts/metricfiles/law_enforcement.py
  recidiviz/justice_counts/metrics/law_enforcement.py
  recidiviz/tests/justice_counts/bulk_upload/bulk_upload_test.py
  recidiviz/tests/justice_counts/control_panel/server_test.py
Due: generate_docs_for_endpoint

[Admin Panel] add button to edit state/role default permissions (Recidiviz/recidiviz-data#17541)
  frontends/admin-panel/src/AdminPanelAPI/LineStaffTools.ts
  frontends/admin-panel/src/components/StateUserPermissions/EditStateRoleForm.tsx
  frontends/admin-panel/src/components/StateUserPermissions/StateRolePermissionsView.tsx
  recidiviz/auth/auth_endpoint.py
  recidiviz/tests/auth/auth_endpoint_test.py
Due: generate_docs_for_endpoint

[Migration] Update `nonnull_raw_file_discovery_time` Check Constraint (Recidiviz/recidiviz-data#17592)
  recidiviz/persistence/database/migrations/operations/versions/2023_01_04_1057_3b6259ffb36d_recreate_constraint.py
Due: generate_docs_for_endpoint

[Ingest] Refactor EntityDeserializationResult to prepare for non-StatePerson ingest (Recidiviz/recidiviz-data#17536)
  recidiviz/ingest/direct/controllers/ingest_view_processor.py
  recidiviz/persistence/ingest_info_converter/base_converter.py
  recidiviz/persistence/ingest_info_converter/ingest_info_converter.py
  recidiviz/persistence/persistence.py
  recidiviz/persistence/persistence_utils.py
  recidiviz/tests/persistence/ingest_info_converter/state/state_converter_test.py
  recidiviz/tests/persistence/persistence_test.py
  recidiviz/tests/persistence/state_persistence_test.py
Due: generate_docs_for_endpoint
