Repository Recidiviz/pulse-data: changes, and which pre-commit hooks are due for each by the changed paths.
All: generate_docs_for_region, generate_docs_for_endpoint, generate_entity_documentation, generate_calc_documentation, generate_ingest_mappings_schema_documentation, update_terraform_lock_file

generate_docs_for_region:
  name: generate_docs_for_region
  entry: pipenv run python -m recidiviz.tools.docs.region_documentation_generator
  language: system
  require_serial: true

generate_docs_for_endpoint:
  name: generate_docs_for_endpoint
  entry: pipenv run python -m recidiviz.tools.docs.endpoint_documentation_generator
  language: system
  require_serial: true

generate_entity_documentation:
  name: generate_entity_documentation
  entry: pipenv run python -m recidiviz.tools.docs.entity_documentation_generator
  language: system
  require_serial: true

generate_calc_documentation:
  name: generate_calc_documentation
  entry: pipenv run python -m recidiviz.calculator.calculation_documentation_generator
  language: system
  require_serial: true

generate_ingest_mappings_schema_documentation:
  name: generate_ingest_mappings_schema_documentation
  entry: pipenv run python -m recidiviz.tools.docs.ingest_mappings_schema_documentation_generator
  language: system
  require_serial: true

update_terraform_lock_file:
  name: update_terraform_lock_file
  entry: recidiviz/tools/deploy/update_terraform_lock.sh
  language: script
  require_serial: true

[US_OR] Adding descriptions for potential Incarceration Period fields (Recidiviz/recidiviz-data#17329)
  recidiviz/ingest/direct/regions/us_or/raw_data/us_or_RCDVZ_DOCDTA_TBLOCA.yaml
  recidiviz/ingest/direct/regions/us_or/raw_data/us_or_RCDVZ_PRDDTA_OP008P.yaml
  recidiviz/ingest/direct/regions/us_or/raw_data/us_or_RCDVZ_PRDDTA_OP009P.yaml
  recidiviz/ingest/direct/regions/us_or/raw_data/us_or_RCDVZ_PRDDTA_OP010P.yaml
  recidiviz/ingest/direct/regions/us_or/raw_data/us_or_RCDVZ_PRDDTA_OP011P.yaml
Due: generate_docs_for_region, generate_docs_for_endpoint

[Ingest] Remove regex formatting from query fragment literals (Recidiviz/recidiviz-data#17203)
  recidiviz/ingest/direct/regions/us_ix/ingest_views/query_fragments.py
Due: generate_docs_for_region, generate_docs_for_endpoint

[US_IX] Adds ATLAS ID raw LSIR components (Recidiviz/recidiviz-data#17165)
  recidiviz/calculator/query/state/views/sessions/assessment_lsir_responses.py
  recidiviz/calculator/query/state/views/sessions/sessions_views.py
  recidiviz/calculator/query/state/views/sessions/us_ix/__init__.py
  recidiviz/calculator/query/state/views/sessions/us_ix/us_ix_raw_lsir_assessments.py
Due: generate_docs_for_endpoint, generate_calc_documentation

[DAG] Update cloud functions to point to new calculation DAG (Recidiviz/recidiviz-data#17330)
  recidiviz/cloud_functions/main.py
  recidiviz/tools/deploy/terraform/cloud-functions.tf
  recidiviz/tools/deploy/terraform/cloud-scheduler.tf
  recidiviz/tools/deploy/trigger_post_deploy_tasks.py
Due: generate_docs_for_endpoint, update_terraform_lock_file

[Workflows] Add views for additional workflows events (Recidiviz/recidiviz-data#17307)
  recidiviz/calculator/query/state/views/workflows/clients_profile_viewed.py
  recidiviz/calculator/query/state/views/workflows/clients_referral_form_copied.py
  recidiviz/calculator/query/state/views/workflows/clients_referral_form_first_edited.py
  recidiviz/calculator/query/state/views/workflows/clients_referral_form_printed.py
  recidiviz/calculator/query/state/views/workflows/clients_referral_status_updated.py
  recidiviz/calculator/query/state/views/workflows/user_event_template.py
  recidiviz/calculator/query/state/views/workflows/workflows_views.py
Due: generate_docs_for_endpoint, generate_calc_documentation

Add system key to show with system display name in metric json (Recidiviz/recidiviz-data#17347)
  recidiviz/justice_counts/metrics/metric_interface.py
  recidiviz/tests/justice_counts/metric_interface_test.py
Due: generate_docs_for_endpoint

[DAG] Cleanup and rename files after new calculation DAG move (Recidiviz/recidiviz-data#17353)
  frontends/admin-panel/src/components/FlashDatabaseChecklist.tsx
  recidiviz/airflow/dags/calculation_dag.py
  recidiviz/airflow/tests/calculation_dag_test.py
  recidiviz/airflow/tests/dag_integrity_test.py
  recidiviz/cloud_functions/main.py
  recidiviz/tools/deploy/terraform/cloud-functions.tf
  recidiviz/tools/validate_source_visibility.py
Due: generate_docs_for_endpoint, update_terraform_lock_file

[US_Mo] Adding quoting test to TAK294 for SFTP transfer enabling (Recidiviz/recidiviz-data#17325)
  recidiviz/ingest/direct/regions/us_mo/us_mo_raw_data_sql_queries.py
Due: generate_docs_for_region, generate_docs_for_endpoint

[Workflows] consolidate client record query instead of UNIONing different states (Recidiviz/recidiviz-data#17185)
  recidiviz/calculator/query/state/views/workflows/firestore/client_record.py
  recidiviz/calculator/query/state/views/workflows/firestore/client_record_ctes.py
  recidiviz/calculator/query/state/views/workflows/us_id/shared_ctes.py
  recidiviz/calculator/query/state/views/workflows/us_id/supervision_clients_template.py
  recidiviz/calculator/query/state/views/workflows/us_nd/supervision_clients_template.py
Due: generate_docs_for_endpoint, generate_calc_documentation

[US_ME] added description for DISCIPLINARY_ACTION_FORMAL_IND (Recidiviz/recidiviz-data#17291)
  recidiviz/ingest/direct/regions/us_me/raw_data/us_me_CIS_180_DISCIPLINARY_CASE.yaml
  recidiviz/ingest/direct/regions/us_me/raw_data/us_me_CIS_4009_SENT_CALC_SYS.yaml
  recidiviz/ingest/direct/regions/us_me/raw_data/us_me_CIS_403_CONDITION.yaml
  recidiviz/ingest/direct/regions/us_me/raw_data/us_me_CIS_425_MAIN_PROG.yaml
Due: generate_docs_for_region, generate_docs_for_endpoint

[Security] Restrict Case Triage Ingress Traffic to the LB (Recidiviz/recidiviz-data#17362)
  recidiviz/tools/deploy/terraform/cloud-run.tf
Due: generate_docs_for_endpoint, update_terraform_lock_file

[Workflows] add US_IX to client record query (Recidiviz/recidiviz-data#17359)
  recidiviz/calculator/query/state/views/workflows/firestore/client_record.py
  recidiviz/calculator/query/state/views/workflows/firestore/client_record_ctes.py
Due: generate_docs_for_endpoint, generate_calc_documentation

[Terraform] Run `terraform fmt` (Recidiviz/recidiviz-data#17374)
  recidiviz/tools/deploy/terraform/bigquery-scheduled-queries.tf
  recidiviz/tools/deploy/terraform/cloud-functions.tf
  recidiviz/tools/deploy/terraform/cloud-run.tf
  recidiviz/tools/deploy/terraform/cloud-scheduler.tf
  recidiviz/tools/deploy/terraform/cloud-task-queues.tf
Due: generate_docs_for_endpoint, update_terraform_lock_file

[US_IX] Update supervision levels to match old ID (Recidiviz/recidiviz-data#17310)
  recidiviz/ingest/direct/regions/us_ix/ingest_mappings/us_ix_supervision_period.yaml
  recidiviz/tests/ingest/direct/regions/utils.py
Due: generate_docs_for_region, generate_docs_for_endpoint

[US_PA] Adding state migration for PA release reasons (Recidiviz/recidiviz-data#17375)
  recidiviz/persistence/database/migrations/state/versions/2022_12_19_1341_b2a714862a82_correct_mo_ccis_inc_releases.py
Due: generate_docs_for_endpoint

Fixes event attribute naming bug in person_events (Recidiviz/recidiviz-data#17381)
  recidiviz/calculator/query/state/views/analyst_data/person_events.py
Due: generate_docs_for_endpoint, generate_calc_documentation

[US_ME] Removed cases where the action taken was informal (Recidiviz/recidiviz-data#17380)
  recidiviz/task_eligibility/criteria/state_specific/us_me/no_class_a_or_b_violation_for_90_days.py
Due: generate_docs_for_endpoint, generate_calc_documentation

[Airflow] Decrease Celery `max_concurrency` to decrease memory load on the worker pods. (Recidiviz/recidiviz-data#17372)
  recidiviz/tools/deploy/terraform/cloud-composer.tf
Due: generate_docs_for_endpoint, update_terraform_lock_file

Add end_reason column to task eligibility spans (Recidiviz/recidiviz-data#17235)
  recidiviz/task_eligibility/single_task_eligiblity_spans_view_builder.py
Due: generate_docs_for_endpoint, generate_calc_documentation

[Workflows] Append workflows events to officer_events view (Recidiviz/recidiviz-data#17037)
  recidiviz/calculator/query/state/views/analyst_data/officer_events.py
  recidiviz/calculator/query/state/views/workflows/reidentified_dashboard_users.py
  recidiviz/calculator/query/state/views/workflows/user_event_template.py
Due: generate_docs_for_endpoint, generate_calc_documentation

Deprecate task_events table (Recidiviz/recidiviz-data#17236)
  recidiviz/calculator/query/state/views/analyst_data/analyst_data_views.py
  recidiviz/calculator/query/state/views/analyst_data/person_events.py
  recidiviz/calculator/query/state/views/analyst_data/task_events.py
  recidiviz/calculator/query/state/views/reference/reference_views.py
  recidiviz/calculator/query/state/views/reference/task_to_completion_event.py
  recidiviz/tests/big_query/big_query_view_dag_walker_test.py
Due: generate_docs_for_endpoint, generate_calc_documentation

[US_IX] Hydrate names for supervising officers (Recidiviz/recidiviz-data#17391)
  recidiviz/ingest/direct/regions/us_ix/ingest_mappings/us_ix_supervision_period.yaml
  recidiviz/ingest/direct/regions/us_ix/ingest_views/query_fragments.py
  recidiviz/ingest/direct/regions/us_ix/ingest_views/view_supervision_period.py
Due: generate_docs_for_region, generate_docs_for_endpoint

[US_IX] Missed mapping :( (Recidiviz/recidiviz-data#17388)
  recidiviz/ingest/direct/regions/us_ix/ingest_mappings/us_ix_supervision_period.yaml
Due: generate_docs_for_region, generate_docs_for_endpoint

[Admin Panel] add endpoint to read state role default permissions + admin panel page to display them (Recidiviz/recidiviz-data#17351)
  frontends/admin-panel/src/AdminPanelAPI/LineStaffTools.ts
  frontends/admin-panel/src/components/App.tsx
  frontends/admin-panel/src/components/StateUserPermissions/StateRolePermissionsView.tsx
  frontends/admin-panel/src/misc.d.ts
  frontends/admin-panel/src/navigation/LineStaffTools.ts
  recidiviz/auth/auth_endpoint.py
  recidiviz/tests/auth/auth_endpoint_test.py
Due: generate_docs_for_endpoint

[Workflows] add US_IX to staff record query (Recidiviz/recidiviz-data#17377)
  recidiviz/calculator/query/state/views/workflows/firestore/staff_record.py
  recidiviz/calculator/query/state/views/workflows/us_ix/__init__.py
  recidiviz/calculator/query/state/views/workflows/us_ix/supervision_staff_template.py
Due: generate_docs_for_endpoint, generate_calc_documentation

Adds supervision period span and event metrics (Recidiviz/recidiviz-data#17320)
  recidiviz/aggregated_metrics/aggregated_metric_view_collector.py
  recidiviz/aggregated_metrics/metrics_assignment_sessions.py
  recidiviz/aggregated_metrics/models/aggregated_metric_configurations.py
  recidiviz/aggregated_metrics/models/metric_aggregation_level_type.py
  recidiviz/calculator/query/state/views/analyst_data/person_events.py
Due: generate_docs_for_endpoint, generate_calc_documentation

[Justice Counts] Fix bug with disaggregated supervision systems (Recidiviz/recidiviz-data#17396)
  recidiviz/justice_counts/datapoints_for_metric.py
Due: generate_docs_for_endpoint

[Airflow] Fix `worker_concurrency` naming (Recidiviz/recidiviz-data#17400)
  recidiviz/tools/deploy/terraform/cloud-composer.tf
Due: generate_docs_for_endpoint, update_terraform_lock_file

[US_ND] Migrate legacy sentence aggs view to new mapping structure (Recidiviz/recidiviz-data#16596)
  recidiviz/ingest/direct/regions/us_nd/ingest_mappings/us_nd_elite_offendersentenceaggs.yaml
  recidiviz/ingest/direct/regions/us_nd/ingest_views/view_elite_offendersentenceaggs.py
  recidiviz/ingest/direct/regions/us_nd/raw_data/us_nd_elite_offendersentenceaggs.yaml
Due: generate_docs_for_region, generate_docs_for_endpoint

[Deploy] Fix ANSI code removal on some machines (Recidiviz/recidiviz-data#17308)
  recidiviz/tools/deploy/deploy_helpers.sh
Due: generate_docs_for_endpoint

[US_ND] Migrate legacy offender identifier view to new mapping structure (Recidiviz/recidiviz-data#16509)
  recidiviz/ingest/direct/regions/us_nd/ingest_mappings/us_nd_elite_offenderidentifier.yaml
  recidiviz/ingest/direct/regions/us_nd/ingest_views/view_elite_offenderidentifier.py
Due: generate_docs_for_region, generate_docs_for_endpoint

[Workflows] Respond to remaining nits (Recidiviz/recidiviz-data#17393)
  recidiviz/calculator/query/state/views/analyst_data/officer_events.py
Due: generate_docs_for_endpoint, generate_calc_documentation

[US_IX] Revise state charge to link correctly to sentences (Recidiviz/recidiviz-data#17403)
  recidiviz/ingest/direct/regions/us_ix/ingest_mappings/us_ix_charges.yaml
  recidiviz/ingest/direct/regions/us_ix/ingest_views/view_charges.py
Due: generate_docs_for_region, generate_docs_for_endpoint

[US_IX] Fill in missing agents for some converted contacts (Recidiviz/recidiviz-data#17413)
  recidiviz/ingest/direct/regions/us_ix/ingest_views/view_supervision_contacts.py
Due: generate_docs_for_region, generate_docs_for_endpoint

Hydrate start/end reasons for investigation sessions (Recidiviz/recidiviz-data#17411)
  recidiviz/calculator/query/state/views/sessions/compartment_sub_sessions_preprocessed.py
Due: generate_docs_for_endpoint, generate_calc_documentation

[Bugfix] Fix spelling error in state charge uniform hydration (Recidiviz/recidiviz-data#17412)
  recidiviz/calculator/query/state/views/reference/state_charge_offense_description_to_labels.py
Due: generate_docs_for_endpoint, generate_calc_documentation

Update views referencing ingested sentencing data to be backwards compatible to adding additional sources of TN sentencing data (Recidiviz/recidiviz-data#16711)
  recidiviz/calculator/query/state/views/analyst_data/us_tn/us_tn_compliant_reporting_c4_isc_eligiblility_sessions.py
  recidiviz/calculator/query/state/views/analyst_data/us_tn/us_tn_compliant_reporting_logic.py
  recidiviz/calculator/query/state/views/sessions/us_tn/us_tn_sentences_preprocessed.py
Due: generate_docs_for_endpoint, generate_calc_documentation

[US_MI] Ungate v2 views for staging (Recidiviz/recidiviz-data#17394)
  recidiviz/ingest/direct/regions/us_mi/us_mi_controller.py
Due: generate_docs_for_region, generate_docs_for_endpoint

[SFTP] Adds steps for each state to check config and also set ingest lock (Recidiviz/recidiviz-data#17331)
  recidiviz/airflow/Pipfile
  recidiviz/airflow/Pipfile.lock
  recidiviz/airflow/README.md
  recidiviz/airflow/dags/sftp_dag.py
  recidiviz/airflow/tests/sftp_dag_test.py
  recidiviz/cloud_storage/gcs_file_system.py
  recidiviz/cloud_storage/gcs_file_system_impl.py
  recidiviz/cloud_storage/gcsfs_factory.py
  recidiviz/ingest/direct/regions/us_id/us_id_sftp_download_delegate.py
  recidiviz/ingest/direct/regions/us_me/us_me_sftp_download_delegate.py
  recidiviz/ingest/direct/regions/us_mi/us_mi_sftp_download_delegate.py
  recidiviz/ingest/direct/regions/us_mo/us_mo_sftp_download_delegate.py
  recidiviz/ingest/direct/regions/us_pa/us_pa_sftp_download_delegate.py
  recidiviz/ingest/direct/sftp/base_sftp_download_delegate.py
  recidiviz/tests/cloud_storage/fake_gcs_file_system.py
  recidiviz/tests/cloud_storage/gcs_file_system_test.py
  recidiviz/tests/ingest/direct/fakes/fake_instance_ingest_view_contents.py
  recidiviz/tests/ingest/direct/sftp/download_files_from_sftp_test.py
  recidiviz/tools/airflow/__init__.py
  recidiviz/tools/airflow/copy_source_files_to_experiment_composer.py
  recidiviz/tools/deploy/terraform/cloud-composer.tf
  recidiviz/tools/deploy/terraform/config/cloud_composer_airflow_files_to_copy.yaml
  recidiviz/tools/deploy/terraform/config/cloud_composer_source_files_to_copy.yaml
  recidiviz/utils/yaml_dict.py
Due: generate_docs_for_region, generate_docs_for_endpoint, update_terraform_lock_file

[US_ME] Added description for MODIFIED_ON_DATE on CIS_425 (Recidiviz/recidiviz-data#17415)
  recidiviz/ingest/direct/regions/us_me/raw_data/us_me_CIS_425_MAIN_PROG.yaml
Due: generate_docs_for_region, generate_docs_for_endpoint

Path conditions:
  generate_docs_for_region: any of: ^recidiviz/ingest/direct/regions/
  generate_docs_for_endpoint: any of: ^recidiviz/, but not: (?x)(^recidiviz/tests/|^recidiviz/tools/|^recidiviz/ingest/direct/regions/)$

  generate_entity_documentation: any of: (?x)(^recidiviz/persistence/database/schema/state/schema.py|^recidiviz/persistence/database/schema/history_table_shared_columns_mixin.py|^recidiviz/common/constants/state/)$

  generate_calc_documentation: any of: ^recidiviz/calculator/|^recidiviz/metrics/|^recidiviz/.*/views/|^recidiviz/big_query/|^recidiviz/persistence/database/schema/|^recidiviz/persistence/entity/|^recidiviz/task_eligibility/, but not: ^recidiviz/tests/|^recidiviz/calculator/modeling/
  generate_ingest_mappings_schema_documentation: any of: ^recidiviz/ingest/direct/ingest_mappings/yaml_schema/|^docs/engineering/ingest_mapping_schema/
  update_terraform_lock_file: any of: ^recidiviz/tools/deploy/terraform/
