Repository Recidiviz/pulse-data: changes, and which pre-commit hooks are due for each by the changed paths.
All: clear_notebook_files, validate_scripts_and_notebooks_are_changed_together, generate_docs_for_region, generate_docs_for_endpoint, generate_entity_documentation, generate_calc_documentation, generate_ingest_mappings_schema_documentation, update_terraform_lock_file, terraform_fmt, alphabetize_yaml, generate_lookml

Path conditions:
  clear_notebook_files: any of: \.ipynb$
  validate_scripts_and_notebooks_are_changed_together: any of: ^recidiviz/research/.*notebooks/.*/nbautoexport-scripts/.*\.py$
  generate_docs_for_region: any of: ^recidiviz/ingest/direct/regions/|^recidiviz/view_registry/raw_data_reference_reasons.yaml
  generate_docs_for_endpoint: any of: (?x)(^recidiviz/tools/docs/endpoint_documentation_generator.py|^recidiviz/server_blueprint_registry.py|.*/routes/|.*routes.py|.*/server.py|.*control.py|.*endpoint.py|.*endpoints.py|^recidiviz/backup/backup_manager.py|^recidiviz/pipelines/calculation_data_storage_manager.py)$, but not: ^recidiviz/tests
  generate_entity_documentation: any of: (?x)(^recidiviz/persistence/database/schema/state/schema.py|^recidiviz/persistence/entity/state/normalized_entities.py|^recidiviz/persistence/entity/state/entities.py|^recidiviz/common/constants/state/)$

  generate_calc_documentation: any of: ^recidiviz/calculator/query/|^recidiviz/.*/views/|^recidiviz/task_eligibility/|^recidiviz/monitoring/platform_kpis/|^recidiviz/ingest/direct/regions/.*/raw_data/, but not: ^recidiviz/tests/|^recidiviz/calculator/modeling/
  generate_ingest_mappings_schema_documentation: any of: ^recidiviz/ingest/direct/ingest_mappings/yaml_schema/|^docs/engineering/ingest_mapping_schema/
  update_terraform_lock_file: any of: ^recidiviz/tools/deploy/terraform/
  terraform_fmt: any of: ^recidiviz/tools/deploy/terraform/
  alphabetize_yaml: any of: recidiviz/view_registry/raw_data_reference_reasons.yaml
  generate_lookml: any of: ^recidiviz/persistence/entity/state/|^recidiviz/tools/looker/|^recidiviz/aggregated_metrics/|^recidiviz/observations/views/|^recidiviz/ingest/direct/regions/.*/raw_data/|^recidiviz/segment/product_type/|^recidiviz/calculator/query/state/views/analyst_data/global_provisioned_user_sessions, but not: ^recidiviz/tools/looker/__generated__/

Capture LLM token usage (input, output, thinking) in extraction results (Recidiviz/recidiviz-data#76820)
  recidiviz/NOT_FOR_PRODUCTION_USE/documents/extraction/document_extraction_job.py
  recidiviz/NOT_FOR_PRODUCTION_USE/documents/extraction/litellm_batch_client.py
  recidiviz/NOT_FOR_PRODUCTION_USE/documents/extraction/litellm_client.py
  recidiviz/NOT_FOR_PRODUCTION_USE/documents/extraction/llm_client.py
  recidiviz/NOT_FOR_PRODUCTION_USE/documents/extraction/llm_provider_delegate.py
  recidiviz/NOT_FOR_PRODUCTION_USE/documents/extraction/persisted_models/document_extraction_result_metadata.py
  recidiviz/NOT_FOR_PRODUCTION_USE/documents/extraction/persisted_models/llm_prompt_extractor_metadata.py
  recidiviz/NOT_FOR_PRODUCTION_USE/source_tables/document_extraction_raw_source_table_collector.py
  recidiviz/NOT_FOR_PRODUCTION_USE/source_tables/yaml_managed/document_extraction_metadata/llm_prompt_extractors.yaml
  recidiviz/tests/NOT_FOR_PRODUCTION_USE/document_extraction_raw_source_table_collector_test.py
Due: none

[Documents] Prune supervision doc stores: exclude boilerplate note types pre-LLM (Recidiviz/recidiviz-data#75641)
  recidiviz/NOT_FOR_PRODUCTION_USE/documents/store/config/document_collections/us_co/supervision_contact_notes.yaml
  recidiviz/NOT_FOR_PRODUCTION_USE/documents/store/config/document_collections/us_ix/supervision_case_notes.yaml
  recidiviz/NOT_FOR_PRODUCTION_USE/documents/store/config/document_collections/us_ne/supervision_contact_notes.yaml
  recidiviz/NOT_FOR_PRODUCTION_USE/documents/store/config/document_collections/us_tn/supervision_contact_notes.yaml
Due: none

[Doc Extraction] Add per-state known entities YAML for housing/employment extraction in Idaho and Tennessee (Recidiviz/recidiviz-data#73957)
  recidiviz/NOT_FOR_PRODUCTION_USE/documents/extraction/config/collections/llm_prompt/case_note_employer_entity_resolution/prompt_template.txt
  recidiviz/NOT_FOR_PRODUCTION_USE/documents/extraction/config/collections/llm_prompt/case_note_employment_info/prompt_template.txt
  recidiviz/NOT_FOR_PRODUCTION_USE/documents/extraction/config/collections/llm_prompt/case_note_housing_entity_resolution/prompt_template.txt
  recidiviz/NOT_FOR_PRODUCTION_USE/documents/extraction/config/collections/llm_prompt/case_note_housing_info/prompt_template.txt
  recidiviz/NOT_FOR_PRODUCTION_USE/documents/extraction/config/known_entities/us_ix.yaml
  recidiviz/NOT_FOR_PRODUCTION_USE/documents/extraction/config/known_entities/us_tn.yaml
  recidiviz/NOT_FOR_PRODUCTION_USE/documents/extraction/known_entities_loader.py
  recidiviz/NOT_FOR_PRODUCTION_USE/documents/extraction/persisted_models/llm_prompt_extractor_metadata.py
  recidiviz/tests/NOT_FOR_PRODUCTION_USE/documents/extraction/known_entities_loader_test.py
Due: none

[Terraform] Add CMEK to SFTP and document store GCS buckets (Recidiviz/recidiviz-data#76985)
  recidiviz/tools/deploy/terraform/modules/state-document-store-resources/buckets.tf
  recidiviz/tools/deploy/terraform/modules/state-sftp-download-resources/main.tf
Due: update_terraform_lock_file, terraform_fmt

[Monitoring] TF fixes to ingest.unmapped_enum_value alert policy (Recidiviz/recidiviz-data#77098)
  recidiviz/tools/deploy/atmos/components/terraform/data-platform-alerting/monitoring_alert_policy.tf
Due: none

[Emulator] Strip pseudocolumns from emulator schemas and restore _FILE_NAME view schemas (Recidiviz/recidiviz-data#76130)
  recidiviz/big_query/big_query_schema_utils.py
  recidiviz/source_tables/source_table_config.py
  recidiviz/tests/big_query/big_query_emulator_test_case.py
  recidiviz/tests/big_query/big_query_schema_utils_test.py
Due: none

[US_MI] Fix supervisor periods to close when either supervisor or supervisee is an inactive staff member (Recidiviz/recidiviz-data#73989)
  recidiviz/ingest/direct/regions/us_mi/ingest_mappings/us_mi_state_staff_supervisor_period.yaml
Due: generate_docs_for_region

[US_MI] Hydrate current_state_provided_start_date from effective_date (Recidiviz/recidiviz-data#70207)
  recidiviz/ingest/direct/regions/us_mi/ingest_mappings/us_mi_sentences.yaml
Due: generate_docs_for_region

Add stale raw data validation based on sentinel dates (Recidiviz/recidiviz-data#70773)
  recidiviz/ingest/direct/raw_data/datetime_sql_parser_exemptions.py
  recidiviz/validation/configured_validations.py
Due: none

[Terraform] Import pre-existing CMEK keys for SFTP and document store buckets (Recidiviz/recidiviz-data#77105)
  recidiviz/tools/deploy/terraform/state-document-store.tf
  recidiviz/tools/deploy/terraform/state-sftp-download.tf
Due: update_terraform_lock_file, terraform_fmt

[Monitoring] Fix unmapped enum alert policy resource type and metric descriptor labels (Recidiviz/recidiviz-data#77110)
  recidiviz/tools/deploy/atmos/components/terraform/data-platform-alerting/monitoring_alert_policy.tf
Due: none

[Doc Extraction] Add Vertex AI billing labels to LLM extraction jobs (Recidiviz/recidiviz-data#77083)
  recidiviz/NOT_FOR_PRODUCTION_USE/documents/extraction/litellm_batch_client.py
  recidiviz/NOT_FOR_PRODUCTION_USE/documents/extraction/litellm_client.py
  recidiviz/NOT_FOR_PRODUCTION_USE/tools/document_extraction/run_sandbox_collection_extraction_job.py
  recidiviz/NOT_FOR_PRODUCTION_USE/tools/document_extraction/run_sandbox_document_extraction_job.py
Due: none

Creating new agg metric - time spent incarcerated (Recidiviz/recidiviz-data#75648)
  recidiviz/aggregated_metrics/configuration/collections/standard.py
  recidiviz/aggregated_metrics/models/aggregated_metric_configurations.py
  recidiviz/observations/event_type.py
  recidiviz/tools/looker/aggregated_metrics/custom_jii_tablet_app_metrics_configurations.py
Due: generate_lookml

[US_PA] Fix PosNoId construction + add missing enum (Recidiviz/recidiviz-data#77089)
  recidiviz/ingest/direct/regions/us_pa/ingest_mappings/us_pa_supervision_staff_periods_v2.yaml
Due: generate_docs_for_region

[preimport validations] Add non-blocking validation failures (Recidiviz/recidiviz-data#76982)
  recidiviz/ingest/direct/raw_data/direct_ingest_raw_table_pre_import_validator.py
  recidiviz/ingest/direct/types/raw_data_pre_import_validation.py
  recidiviz/tests/ingest/direct/raw_data/direct_ingest_raw_file_load_manager_test.py
  recidiviz/tests/ingest/direct/raw_data/direct_ingest_raw_table_pre_import_validator_test.py
  recidiviz/tests/ingest/direct/types/raw_data_pre_import_validation_test.py
Due: none

[US_NE] fixing enum parsing error in IP (Recidiviz/recidiviz-data#77249)
  recidiviz/ingest/direct/regions/us_ne/ingest_mappings/us_ne_incarceration_periods.yaml
Due: generate_docs_for_region

[US_TN] improving join logic for RCAF and DCAF (Recidiviz/recidiviz-data#75607)
  recidiviz/ingest/direct/regions/us_tn/ingest_mappings/us_tn_RCAFandDCAFAssessments.yaml
Due: generate_docs_for_region

[Monitoring] Default to real metric providers unless explicitly in dev/test (Recidiviz/recidiviz-data#77150)
  recidiviz/monitoring/providers.py
  recidiviz/tests/tools/file_dependencies_test.py
  recidiviz/utils/environment.py
Due: none

[Dataflow] Properly initialize MeterProvider on Dataflow workers (Recidiviz/recidiviz-data#77093)
  recidiviz/monitoring/providers.py
  recidiviz/pipelines/flex_pipeline_runner.py
  recidiviz/tests/monitoring/providers_test.py
Due: none

[US_NE] Refactor STABLE and ORAS assessments to two-criteria pattern with shared helper (Recidiviz/recidiviz-data#76132)
  recidiviz/task_eligibility/candidate_populations/state_specific/us_ne/__init__.py
  recidiviz/task_eligibility/candidate_populations/state_specific/us_ne/active_male_sex_offender_supervision_population_for_tasks.py
  recidiviz/task_eligibility/compliance_task_eligibility_spans/us_ne/needs_oras_assessment.py
  recidiviz/task_eligibility/compliance_task_eligibility_spans/us_ne/needs_stable_assessment.py
  recidiviz/task_eligibility/utils/us_ne_query_fragments.py
  recidiviz/tests/task_eligibility/task_eligibility_spans_test.py
  recidiviz/view_registry/deployed_views.py
Due: generate_calc_documentation

[Monitoring] Add in_ci() guard to monitoring providers (Recidiviz/recidiviz-data#77279)
  recidiviz/monitoring/providers.py
Due: none

[Airflow] Update some ingest pipeline GCP regions (Recidiviz/recidiviz-data#77281)
  recidiviz/pipelines/ingest/pipeline_utils.py
Due: none

[US_CO] Migrate us_co_resident_metadata to ingested projected dates (Recidiviz/recidiviz-data#76146)
  recidiviz/ingest/direct/regions/us_co/ingest_mappings/us_co_SentencesAndCharges.yaml
  recidiviz/task_eligibility/utils/us_az_query_fragments.py
Due: generate_docs_for_region, generate_calc_documentation

[Claude] Python style updates to CLAUDE.md (Recidiviz/recidiviz-data#77254)
  CLAUDE.md
Due: none

[US_CA] Fix Person ingest (for future) and raw data import (for present) (Recidiviz/recidiviz-data#77319)
  recidiviz/ingest/direct/regions/us_ca/ingest_mappings/us_ca_person.yaml
Due: generate_docs_for_region

[US_ND] Include past initial & parole review dates in resident metadata (Recidiviz/recidiviz-data#77275)
  recidiviz/task_eligibility/utils/us_nd_query_fragments.py
Due: generate_calc_documentation

Integrate prior work to prevent prod unknown enum failures (Recidiviz/recidiviz-data#76984)
  recidiviz/airflow/dags/calculation/dataflow/single_ingest_pipeline_group.py
  recidiviz/airflow/setup.cfg
  recidiviz/common/constants/enum_parser.py
  recidiviz/ingest/direct/ingest_mappings/ingest_view_contents_context.py
  recidiviz/ingest/direct/ingest_mappings/ingest_view_manifest.py
  recidiviz/ingest/direct/ingest_mappings/ingest_view_manifest_compiler.py
  recidiviz/ingest/direct/ingest_mappings/ingest_view_manifest_compiler_delegate.py
  recidiviz/monitoring/ingest_enum_counter.py
  recidiviz/pipelines/dataflow_flex_setup.py
  recidiviz/pipelines/ingest/state/pipeline.py
  recidiviz/pipelines/ingest/state/process_all_ingest_views.py
  recidiviz/tests/ingest/direct/ingest_mappings/ingest_view_manifest_collector_test.py
  recidiviz/tests/ingest/direct/ingest_mappings/ingest_view_manifest_compiler_test.py
  recidiviz/tests/ingest/direct/regions/direct_ingest_region_structure_test.py
  recidiviz/tests/monitoring/ingest_enum_counter_test.py
  recidiviz/tests/pipelines/ingest/state/exemptions_test.py
  recidiviz/tests/pipelines/ingest/state/normalization/state_specific_normalization_delegate_test.py
  recidiviz/tests/pipelines/transforms/generate_entities_test.py
  recidiviz/tools/ingest/development/run_mappings_against_ingest_view_results.py
  recidiviz/tools/ingest/development/run_sandbox_ingest_pipeline.py
  recidiviz/tools/ingest/operations/ingest_stability_check.py
  recidiviz/tools/validate_source_visibility.py
Due: none

[US_IX] Map 'Limited Supervision - Est' supervision level and case type (Recidiviz/recidiviz-data#77501)
  recidiviz/ingest/direct/regions/us_ix/ingest_mappings/us_ix_supervision_period.yaml
Due: generate_docs_for_region

Add stable counts claude skill (Recidiviz/recidiviz-data#77445)
  .claude/skills/investigate-stable-counts-failure/SKILL.md
Due: none

[Monitoring] Stop hitting monitoring code path in local scripts (Recidiviz/recidiviz-data#77519)
  recidiviz/monitoring/providers.py
Due: none

[Workflows] Add all_ineligible_opportunities field to resident and client records (Recidiviz/recidiviz-data#77511)
  recidiviz/tests/workflows/etl/fixtures/client_record.json
  recidiviz/tests/workflows/etl/fixtures/resident_record.json
  recidiviz/tests/workflows/etl/workflows_client_etl_delegate_test.py
  recidiviz/tests/workflows/etl/workflows_resident_etl_delegate_test.py
  recidiviz/workflows/etl/workflows_resident_etl_delegate.py
Due: none

Make state_code and ingest_view_name non-optional on IngestViewConten… (Recidiviz/recidiviz-data#77270)
  recidiviz/airflow/dags/calculation/dataflow/single_ingest_pipeline_group.py
  recidiviz/ingest/direct/ingest_mappings/ingest_view_contents_context.py
  recidiviz/ingest/direct/ingest_mappings/ingest_view_manifest.py
  recidiviz/ingest/direct/ingest_mappings/ingest_view_manifest_compiler.py
  recidiviz/ingest/direct/ingest_mappings/ingest_view_manifest_compiler_delegate.py
  recidiviz/pipelines/ingest/state/pipeline.py
  recidiviz/pipelines/ingest/state/process_all_ingest_views.py
  recidiviz/tests/ingest/direct/ingest_mappings/ingest_view_manifest_collector_test.py
  recidiviz/tests/ingest/direct/ingest_mappings/ingest_view_manifest_compiler_test.py
  recidiviz/tests/ingest/direct/regions/base_ingest_test_cases.py
  recidiviz/tests/ingest/direct/regions/direct_ingest_region_structure_test.py
  recidiviz/tests/ingest/direct/regions/ingest_view_query_test_case.py
  recidiviz/tests/ingest/direct/regions/state_specific_ingest_pipeline_integration_test_case.py
  recidiviz/tests/pipelines/ingest/state/exemptions_test.py
  recidiviz/tests/pipelines/ingest/state/generate_entities_test.py
  recidiviz/tests/pipelines/ingest/state/get_root_external_ids_test.py
  recidiviz/tests/pipelines/ingest/state/ingest_region_test_mixin.py
  recidiviz/tests/pipelines/ingest/state/merge_ingest_view_root_entity_trees_test.py
  recidiviz/tests/pipelines/ingest/state/normalization/state_specific_normalization_delegate_test.py
  recidiviz/tests/pipelines/transforms/generate_entities_test.py
  recidiviz/tools/ingest/development/run_mappings_against_ingest_view_results.py
  recidiviz/tools/ingest/development/run_sandbox_ingest_pipeline.py
  recidiviz/tools/ingest/operations/ingest_stability_check.py
Due: none

Decouple Airflow DAG from IngestViewManifestCollector (Recidiviz/recidiviz-data#77517)
  recidiviz/airflow/dags/calculation/dataflow/single_ingest_pipeline_group.py
  recidiviz/airflow/setup.cfg
  recidiviz/airflow/tests/calculation/dataflow/single_ingest_pipeline_group_test.py
  recidiviz/airflow/tests/calculation_dag_test.py
  recidiviz/ingest/direct/direct_ingest_regions.py
  recidiviz/ingest/direct/ingest_mappings/ingest_view_manifest.py
  recidiviz/ingest/direct/regions/us_ar/manifest.yaml
  recidiviz/ingest/direct/regions/us_az/manifest.yaml
  recidiviz/ingest/direct/regions/us_ca/manifest.yaml
  recidiviz/ingest/direct/regions/us_co/manifest.yaml
  recidiviz/ingest/direct/regions/us_ia/manifest.yaml
  recidiviz/ingest/direct/regions/us_id/manifest.yaml
  recidiviz/ingest/direct/regions/us_ix/manifest.yaml
  recidiviz/ingest/direct/regions/us_ma/manifest.yaml
  recidiviz/ingest/direct/regions/us_me/manifest.yaml
  recidiviz/ingest/direct/regions/us_mi/manifest.yaml
  recidiviz/ingest/direct/regions/us_mo/manifest.yaml
  recidiviz/ingest/direct/regions/us_nc/manifest.yaml
  recidiviz/ingest/direct/regions/us_nd/manifest.yaml
  recidiviz/ingest/direct/regions/us_ne/manifest.yaml
  recidiviz/ingest/direct/regions/us_ny/manifest.yaml
  recidiviz/ingest/direct/regions/us_or/manifest.yaml
  recidiviz/ingest/direct/regions/us_oz/manifest.yaml
  recidiviz/ingest/direct/regions/us_pa/manifest.yaml
  recidiviz/ingest/direct/regions/us_tn/manifest.yaml
  recidiviz/ingest/direct/regions/us_tx/manifest.yaml
  recidiviz/ingest/direct/regions/us_ut/manifest.yaml
  recidiviz/ingest/direct/templates/us_xx/manifest.yaml
  recidiviz/tests/ingest/direct/direct_ingest_regions_launchable_views_test.py
  recidiviz/tests/ingest/direct/direct_ingest_regions_test.py
  recidiviz/tests/ingest/direct/fake_regions/us_dd/manifest.yaml
  recidiviz/tests/ingest/direct/fake_regions/us_ll/manifest.yaml
  recidiviz/tests/ingest/direct/fake_regions/us_ww/manifest.yaml
  recidiviz/tests/ingest/direct/fake_regions/us_xx/manifest.yaml
  recidiviz/tests/ingest/direct/fake_regions/us_yy/manifest.yaml
  recidiviz/tests/ingest/direct/ingest_mappings/ingest_view_manifest_compiler_test.py
  recidiviz/tests/persistence/database/sqlalchemy_engine_manager_test.py
  recidiviz/tests/utils/fake_region.py
  recidiviz/tools/validate_source_visibility.py
Due: generate_docs_for_region

[US_MI] Add new known value description + enum mapping for cultural affiliation (Recidiviz/recidiviz-data#78177)
  recidiviz/ingest/direct/regions/us_mi/ingest_mappings/us_mi_state_persons_v2.yaml
Due: generate_docs_for_region

[US_TN] CR (2025 policy) - exclude misdemeanor-probationer clients already on CR (Recidiviz/recidiviz-data#78184)
  recidiviz/task_eligibility/eligibility_spans/us_tn/transfer_misdemeanor_probationer_group_to_compliant_reporting_2025_policy.py
Due: generate_calc_documentation

[Autogenerated] Update runner AMIs (Recidiviz/recidiviz-data#78174)
  .github/runs-on.yml
Due: none

[US_NC] Add if drug test was within / outside of timeline specified in the "days since drug screen" criteria (Recidiviz/recidiviz-data#77762)
  recidiviz/task_eligibility/eligibility_spans/us_nc/credit_reduction_review.py
  recidiviz/task_eligibility/utils/general_criteria_builders.py
Due: generate_calc_documentation

[Segment] Add Segment SAR event and infra YAMLs/views (Recidiviz/recidiviz-data#77535)
  recidiviz/source_tables/externally_managed/jii_backend_production_segment_metrics/identifies.yaml
  recidiviz/source_tables/externally_managed/jii_backend_production_segment_metrics/users.yaml
  recidiviz/source_tables/externally_managed/pulse_dashboard_segment_metrics/frontend_sentencing_sar_case_details_page_viewed.yaml
  recidiviz/source_tables/externally_managed/pulse_dashboard_segment_metrics/frontend_sentencing_sar_dashboard_page_viewed.yaml
  recidiviz/source_tables/externally_managed/pulse_dashboard_segment_metrics/frontend_sentencing_sar_download_report_clicked.yaml
  recidiviz/tests/source_tables/source_tables_test.py
Due: none

[US_ND] Add last_updated_date to resident metadata view (Recidiviz/recidiviz-data#78190)
  recidiviz/task_eligibility/utils/us_nd_query_fragments.py
Due: generate_calc_documentation

[US_NC] Add validation override (Recidiviz/recidiviz-data#77537)
  recidiviz/validation/config/regions/us_nc/us_nc_validation_config.yaml
Due: none
