Repository Recidiviz/pulse-data: changes, and which pre-commit hooks are due for each by the changed paths.
All: generate_docs_for_region, generate_docs_for_endpoint, generate_entity_documentation

generate_docs_for_region:
  name: generate_docs_for_region
  entry: pipenv run python -m recidiviz.tools.docs.region_documentation_generator
  language: system
  require_serial: true

generate_docs_for_endpoint:
  name: generate_docs_for_endpoint
  entry: pipenv run python -m recidiviz.tools.docs.endpoint_documentation_generator
  language: system
  require_serial: true

generate_entity_documentation:
  name: generate_entity_documentation
  entry: pipenv run python -m recidiviz.tools.docs.entity_documentation_generator
  language: system
  require_serial: true

[US_IX] Temporarily bump threshold for validation (Recidiviz/recidiviz-data#19937)
  recidiviz/validation/config/regions/us_ix/us_ix_validation_config.yaml
Due: generate_docs_for_endpoint

[Justice Counts] query and output for Douglas County datapoints (Recidiviz/recidiviz-data#19796)
  recidiviz/justice_counts/control_panel/README.md
Due: generate_docs_for_endpoint

[Justice Counts] Update JC Readme (Recidiviz/recidiviz-data#19904)
  recidiviz/justice_counts/control_panel/README.md
Due: generate_docs_for_endpoint

[US_TN] Ungating OffenderMovementIncarceration Period changes to secondary (Recidiviz/recidiviz-data#19932)
  recidiviz/ingest/direct/regions/us_tn/us_tn_controller.py
Due: generate_docs_for_region, generate_docs_for_endpoint

[Justice Counts] update Unexpected Column warning description (Recidiviz/recidiviz-data#19943)
  recidiviz/justice_counts/bulk_upload/spreadsheet_uploader.py
Due: generate_docs_for_endpoint

[US_MO] Warehouse Query Edits and Additions for 3-27-23 transfer (Recidiviz/recidiviz-data#19693)
  recidiviz/ingest/direct/regions/us_mo/raw_data/us_mo_LBAKRDTA_TAK032.yaml
  recidiviz/ingest/direct/regions/us_mo/raw_data/us_mo_LBAKRDTA_TAK033.yaml
  recidiviz/ingest/direct/regions/us_mo/raw_data/us_mo_LBAKRDTA_TAK130.yaml
  recidiviz/ingest/direct/regions/us_mo/raw_data/us_mo_LBAKRDTA_TAK194.yaml
  recidiviz/ingest/direct/regions/us_mo/raw_data/us_mo_LBAKRDTA_TAK216.yaml
  recidiviz/ingest/direct/regions/us_mo/raw_data/us_mo_LBAKRDTA_TAK217.yaml
  recidiviz/ingest/direct/regions/us_mo/raw_data/us_mo_OFNDR_PDB_RESIDENCES.yaml
  recidiviz/ingest/direct/regions/us_mo/us_mo_raw_data_sql_queries.py
Due: generate_docs_for_region, generate_docs_for_endpoint

[Justice Counts] save annual data when uploaded for monthly metrics (Recidiviz/recidiviz-data#19936)
  recidiviz/justice_counts/bulk_upload/spreadsheet_uploader.py
Due: generate_docs_for_endpoint

[Justice Counts] Update get_reports_by_id endpoint to return datapoints instead of metrics (Recidiviz/recidiviz-data#19822)
  recidiviz/justice_counts/control_panel/routes/api.py
  recidiviz/tests/justice_counts/control_panel/server_test.py
Due: generate_docs_for_endpoint

[2] Add Raw Data Table Query Diff Template and Builder (Recidiviz/recidiviz-data#18945)
  recidiviz/ingest/direct/views/raw_data_diff_query_builder.py
Due: generate_docs_for_endpoint

Fixing the associations not being written for many-to-many relationships (Recidiviz/recidiviz-data#19963)
  recidiviz/calculator/pipeline/normalization/utils/normalized_entity_conversion_utils.py
  recidiviz/tests/calculator/pipeline/normalization/utils/normalized_entity_conversion_utils_test.py
Due: generate_docs_for_endpoint

Adds index_columns parameter to `create_sub_sessions_with_attributes` function (Recidiviz/recidiviz-data#19955)
  recidiviz/aggregated_metrics/metrics_assignment_sessions.py
  recidiviz/calculator/query/sessions_query_fragments.py
Due: generate_docs_for_endpoint

[Justice Counts] Send a list of existing reports that were modified and newly created reports after spreadsheet ingest (Recidiviz/recidiviz-data#19689)
  recidiviz/justice_counts/bulk_upload/workbook_uploader.py
  recidiviz/justice_counts/control_panel/routes/api.py
  recidiviz/justice_counts/report.py
  recidiviz/justice_counts/spreadsheet.py
  recidiviz/tests/justice_counts/bulk_upload/bulk_upload_test.py
  recidiviz/tests/justice_counts/control_panel/server_test.py
  recidiviz/tests/justice_counts/spreadsheet_test.py
Due: generate_docs_for_endpoint

[Justice Counts] Delete manual_upload.py (Recidiviz/recidiviz-data#19946)
  recidiviz/ingest/justice_counts/__init__.py
  recidiviz/ingest/justice_counts/control.py
  recidiviz/server_blueprint_registry.py
  recidiviz/tests/ingest/justice_counts/control_test.py
  recidiviz/tests/tools/development_scripts/justice_counts.py
  recidiviz/tests/tools/justice_counts/manual_upload_test.py
  recidiviz/tools/justice_counts/data/us_de.py
  recidiviz/tools/justice_counts/google_drive.py
  recidiviz/tools/justice_counts/manual_upload.py
  recidiviz/tools/justice_counts/multi_upload.py
  recidiviz/tools/validate_source_visibility.py
Due: generate_docs_for_endpoint

[US_MI][Workflows] Change supervision level reasons reasons blob from ARRAY to STRING (Recidiviz/recidiviz-data#19992)
  recidiviz/task_eligibility/criteria/state_specific/us_mi/not_already_on_lowest_eligible_supervision_level.py
Due: generate_docs_for_endpoint

[Security] Disable Protocol Attack Rule `id921120` for JC (Recidiviz/recidiviz-data#19998)
  recidiviz/tools/deploy/terraform/cloud-armor.tf
Due: generate_docs_for_endpoint

pin pandas to <2.0.0 (Recidiviz/recidiviz-data#19996)
  Pipfile
  Pipfile.lock
Due: none

[Admin Panel] Fix looker person details links (Recidiviz/recidiviz-data#19969)
  frontends/admin-panel/src/navigation/looker.ts
Due: none

[Schema Change] Add employer_address to StateEmploymentPeriod (Recidiviz/recidiviz-data#19980)
  recidiviz/persistence/database/migrations/state/versions/2023_04_04_1630_84b3f4639723_add_employer_address.py
  recidiviz/persistence/database/schema/state/schema.py
  recidiviz/persistence/entity/state/entities.py
  recidiviz/tests/ingest/direct/regions/utils.py
  recidiviz/tests/persistence/entity/entity_utils_test.py
  recidiviz/tests/persistence/entity/state/deserialize_entity_factories_test.py
Due: generate_docs_for_endpoint, generate_entity_documentation

[Justice Counts] Remove JC usages of EntityEnum (Recidiviz/recidiviz-data#19947)
  recidiviz/calculator/query/justice_counts/views/metric_calculator.py
  recidiviz/justice_counts/dimensions/base.py
  recidiviz/justice_counts/dimensions/corrections.py
  recidiviz/justice_counts/dimensions/helpers.py
  recidiviz/justice_counts/dimensions/location.py
  recidiviz/justice_counts/dimensions/person.py
  recidiviz/tests/calculator/query/justice_counts/views/metric_calculator_test.py
  recidiviz/tests/justice_counts/dimensions/helpers_test.py
Due: generate_docs_for_endpoint

Use federated product_roster instead of *_leadership_users and *_roster (Recidiviz/recidiviz-data#19846)
  recidiviz/calculator/query/state/views/overdue_discharge_alert/overdue_discharge_alert_data_views.py
  recidiviz/calculator/query/state/views/reference/ingested_product_users.py
  recidiviz/calculator/query/state/views/reference/product_roster.py
  recidiviz/calculator/query/state/views/vitals_report/supervision_officers_and_districts.py
  recidiviz/calculator/query/state/views/workflows/us_id/supervision_staff_template.py
  recidiviz/calculator/query/state/views/workflows/us_ix/supervision_staff_template.py
  recidiviz/calculator/query/state/views/workflows/us_nd/supervision_staff_template.py
  recidiviz/calculator/query/state/views/workflows/us_tn/supervision_staff_template.py
  recidiviz/case_triage/views/etl_officers.py
Due: generate_docs_for_endpoint

[US_IX] Revise supervision contacts to account for Atlas contact modes, contact status, and mobile entries (Recidiviz/recidiviz-data#19811)
  recidiviz/ingest/direct/regions/us_ix/ingest_mappings/us_ix_supervision_contacts.yaml
  recidiviz/ingest/direct/regions/us_ix/ingest_views/view_supervision_contacts.py
  recidiviz/ingest/direct/regions/us_ix/us_ix_custom_enum_parsers.py
Due: generate_docs_for_region, generate_docs_for_endpoint

[Justice Counts] endpoint to ingest spreadsheet via SFTP (Recidiviz/recidiviz-data#19698)
  recidiviz/justice_counts/agency_user_account_association.py
  recidiviz/justice_counts/bulk_upload/spreadsheet_uploader.py
  recidiviz/justice_counts/bulk_upload/time_range_uploader.py
  recidiviz/justice_counts/bulk_upload/workbook_uploader.py
  recidiviz/justice_counts/control_panel/routes/api.py
  recidiviz/justice_counts/control_panel/server.py
  recidiviz/justice_counts/datapoint.py
  recidiviz/justice_counts/report.py
  recidiviz/justice_counts/spreadsheet.py
  recidiviz/justice_counts/utils/constants.py
  recidiviz/tests/justice_counts/spreadsheet_test.py
Due: generate_docs_for_endpoint

[US_ME] [Workflows] Half-time calculation fix (Recidiviz/recidiviz-data#19959)
  recidiviz/task_eligibility/criteria/general/supervision_past_half_full_term_release_date_from_supervision_start.py
  recidiviz/task_eligibility/eligibility_spans/us_me/early_termination_from_probation.py
Due: generate_docs_for_endpoint

[US_TN] Correcting yaml spelling for Escape (Recidiviz/recidiviz-data#20002)
  recidiviz/ingest/direct/regions/us_tn/raw_data/us_tn_Escape.yaml
Due: generate_docs_for_region, generate_docs_for_endpoint

[Ingest] Enforce all StatePerson have a StatePersonExternalId (Recidiviz/recidiviz-data#19983)
  recidiviz/persistence/database_invariant_validator/state/state_person_invariant_validators.py
  recidiviz/tests/persistence/database_invariant_validator/state/state_person_invariant_validators_test.py
  recidiviz/tests/persistence/persistence_test.py
Due: generate_docs_for_endpoint

[Ingest] Enforce all StateStaff have a StateStaffExternalId (Recidiviz/recidiviz-data#19982)
  recidiviz/persistence/database_invariant_validator/state/state_staff_invariant_validators.py
  recidiviz/tests/persistence/database_invariant_validator/state/state_staff_invariant_validators_test.py
Due: generate_docs_for_endpoint

[Cleanup] Delete EntityEnumMeta (Recidiviz/recidiviz-data#19949)
  recidiviz/calculator/query/state/views/sessions/supervision_level_dedup_priority.py
  recidiviz/common/constants/defaulting_and_normalizing_enum_parser.py
  recidiviz/common/constants/entity_enum.py
  recidiviz/common/constants/entity_enum.pyi
  recidiviz/common/constants/state/state_entity_enum.py
  recidiviz/ingest/direct/regions/us_mo/us_mo_custom_enum_parsers.py
  recidiviz/ingest/direct/regions/us_nd/us_nd_custom_enum_parsers.py
  recidiviz/persistence/entity/entity_utils.py
  recidiviz/tests/calculator/calculator_test_utils.py
  recidiviz/tests/common/constants/defaulting_and_normalizing_enum_parser_test.py
  recidiviz/tests/common/constants/entity_enum_test.py
  recidiviz/tests/common/constants/strict_enum_parser_test.py
  recidiviz/tests/persistence/database/schema_entity_converter/fake_entities.py
  recidiviz/tests/persistence/entity/entity_deserialize_test.py
  recidiviz/tests/persistence/entity/state/deserialize_entity_factories_test.py
  recidiviz/tests/persistence/entity_matching/state/state_matching_utils_test.py
  recidiviz/validation/views/utils/dataflow_metric_validation_utils.py
Due: generate_docs_for_region, generate_docs_for_endpoint

[Cleanup] Remove _get_default_map() from StateEntityEnum (Recidiviz/recidiviz-data#19948)
  recidiviz/common/constants/state/standard_enum_overrides.py
  recidiviz/common/constants/state/state_agent.py
  recidiviz/common/constants/state/state_assessment.py
  recidiviz/common/constants/state/state_case_type.py
  recidiviz/common/constants/state/state_charge.py
  recidiviz/common/constants/state/state_drug_screen.py
  recidiviz/common/constants/state/state_early_discharge.py
  recidiviz/common/constants/state/state_employment_period.py
  recidiviz/common/constants/state/state_incarceration.py
  recidiviz/common/constants/state/state_incarceration_incident.py
  recidiviz/common/constants/state/state_incarceration_period.py
  recidiviz/common/constants/state/state_person.py
  recidiviz/common/constants/state/state_person_alias.py
  recidiviz/common/constants/state/state_program_assignment.py
  recidiviz/common/constants/state/state_sentence.py
  recidiviz/common/constants/state/state_shared_enums.py
  recidiviz/common/constants/state/state_staff_role_period.py
  recidiviz/common/constants/state/state_supervision_contact.py
  recidiviz/common/constants/state/state_supervision_period.py
  recidiviz/common/constants/state/state_supervision_sentence.py
  recidiviz/common/constants/state/state_supervision_violated_condition.py
  recidiviz/common/constants/state/state_supervision_violation.py
  recidiviz/common/constants/state/state_supervision_violation_response.py
  recidiviz/common/constants/state/state_task_deadline.py
  recidiviz/tests/common/constants/state/state_enums_test.py
  recidiviz/tests/persistence/database/schema_entity_converter/fake_entities.py
Due: generate_docs_for_endpoint

[US_ME] [Workflows] Remove 'Not completed' from supervision conditions. (Recidiviz/recidiviz-data#20004)
  recidiviz/calculator/query/state/views/workflows/firestore/us_me_complete_early_termination_record.py
Due: generate_docs_for_endpoint

[US_IX] Bump more validation thresholds (Recidiviz/recidiviz-data#19942)
  recidiviz/validation/config/regions/us_ix/us_ix_validation_config.yaml
  recidiviz/validation/views/state/incarceration_admission_person_level_external_comparison.py
  recidiviz/validation/views/state/incarceration_release_person_level_external_comparison.py
  recidiviz/validation/views/state/supervision_population_person_level_template.py
  recidiviz/validation/views/utils/state_specific_query_strings.py
Due: generate_docs_for_endpoint

[US_ND] Bump validation for client_record_duplicate_person_external_ids (Recidiviz/recidiviz-data#20005)
  recidiviz/validation/config/regions/us_nd/us_nd_validation_config.yaml
Due: generate_docs_for_endpoint

add StateSupervisionContact as a normalized entity (Recidiviz/recidiviz-data#19891)
  recidiviz/calculator/pipeline/metrics/supervision/pipeline.py
  recidiviz/calculator/pipeline/normalization/comprehensive/entity_normalizer.py
  recidiviz/calculator/pipeline/normalization/comprehensive/pipeline.py
  recidiviz/calculator/pipeline/normalization/utils/entity_normalization_manager_utils.py
  recidiviz/calculator/pipeline/normalization/utils/normalization_managers/supervision_contact_normalization_manager.py
  recidiviz/calculator/pipeline/normalization/utils/normalized_entities.py
  recidiviz/calculator/pipeline/normalization/utils/normalized_entities_utils.py
  recidiviz/tests/calculator/pipeline/normalization/comprehensive/entity_normalizer_test.py
  recidiviz/tests/calculator/pipeline/normalization/comprehensive/pipeline_test.py
  recidiviz/tests/calculator/pipeline/normalization/utils/normalization_managers/supervision_contact_normalization_manager_test.py
Due: generate_docs_for_endpoint

[CSG][US_MO][US_PA] Removing judicial_district_code from dataflow query in export (Recidiviz/recidiviz-data#19954)
  recidiviz/tools/export_csg_files.py
Due: generate_docs_for_endpoint

[3] Add BQ Emulator Test Setup for Raw Data Diff Query Setup (Recidiviz/recidiviz-data#19800)
  recidiviz/tests/big_query/big_query_test_helper.py
  recidiviz/tests/ingest/direct/fake_regions/us_xx/raw_data/us_xx_singlePrimaryKey.yaml
  recidiviz/tests/ingest/direct/fixture_util.py
  recidiviz/tests/ingest/direct/raw_data/raw_data_diff_fixtures/__init__.py
  recidiviz/tests/ingest/direct/raw_data/raw_data_diff_fixtures/singlePrimaryKey/__init__.py
  recidiviz/tests/ingest/direct/raw_data/raw_data_diff_fixtures/singlePrimaryKey/existing_raw_data.csv
  recidiviz/tests/ingest/direct/raw_data/raw_data_diff_fixtures/singlePrimaryKey/expected_diff.csv
  recidiviz/tests/ingest/direct/raw_data/raw_data_diff_fixtures/singlePrimaryKey/new_raw_data.csv
  recidiviz/tests/ingest/direct/regions/ingest_view_query_test_case.py
  recidiviz/tests/ingest/direct/views/raw_data_diff_query_test.py
  recidiviz/tests/ingest/direct/views/raw_data_diff_query_test_case.py
Due: generate_docs_for_endpoint

[US_ND] Add ingest view test (Recidiviz/recidiviz-data#19940)
  recidiviz/ingest/direct/regions/us_nd/ingest_views/view_docstars_offendercasestable_with_officers.py
  recidiviz/ingest/direct/regions/us_nd/raw_data/us_nd_docstars_offendercasestable.yaml
Due: generate_docs_for_region, generate_docs_for_endpoint

Replace commas with periods in validation view (Recidiviz/recidiviz-data#20014)
  recidiviz/validation/views/state/incarceration_release_person_level_external_comparison.py
Due: generate_docs_for_endpoint

[US_MI][Workflows] Fix end date bugs for classification review (Recidiviz/recidiviz-data#20022)
  recidiviz/task_eligibility/criteria/state_specific/us_mi/past_initial_classification_review_date.py
  recidiviz/task_eligibility/criteria/state_specific/us_mi/six_months_past_last_classification_review_date.py
Due: generate_docs_for_endpoint

[US_IX] Fix supervision contacts duplicate external IDs (Recidiviz/recidiviz-data#20020)
  recidiviz/ingest/direct/regions/us_ix/ingest_views/view_supervision_contacts.py
Due: generate_docs_for_region, generate_docs_for_endpoint

Adds param for index columns to `aggregate_adjacent_spans` function (Recidiviz/recidiviz-data#19953)
  recidiviz/calculator/query/sessions_query_fragments.py
Due: generate_docs_for_endpoint

add session listener for state schema (Recidiviz/recidiviz-data#19960)
  recidiviz/persistence/database/schema/state/session_listener.py
  recidiviz/persistence/database/session_factory.py
  recidiviz/tests/persistence/database/schema/state/schema_test.py
  recidiviz/tests/persistence/entity_matching/state/state_entity_matcher_test.py
Due: generate_docs_for_endpoint

Path conditions:
  generate_docs_for_region: any of: ^recidiviz/ingest/direct/regions/
  generate_docs_for_endpoint: any of: ^recidiviz/, but not: (?x)(^recidiviz/tests/|^recidiviz/tools/|^recidiviz/ingest/direct/regions/)$

  generate_entity_documentation: any of: (?x)(^recidiviz/persistence/database/schema/state/schema.py|^recidiviz/persistence/database/schema/history_table_shared_columns_mixin.py)$

