Repository Recidiviz/pulse-data: changes, and which pre-commit hooks are due for each by the changed paths.
All: generate_docs_for_region, generate_docs_for_endpoint, generate_entity_documentation, generate_calc_documentation, generate_ingest_mappings_schema_documentation, update_terraform_lock_file

generate_docs_for_region:
  name: generate_docs_for_region
  entry: pipenv run python -m recidiviz.tools.docs.region_documentation_generator
  language: system
  require_serial: true

generate_docs_for_endpoint:
  name: generate_docs_for_endpoint
  entry: pipenv run python -m recidiviz.tools.docs.endpoint_documentation_generator
  language: system
  require_serial: true

generate_entity_documentation:
  name: generate_entity_documentation
  entry: pipenv run python -m recidiviz.tools.docs.entity_documentation_generator
  language: system
  require_serial: true

generate_calc_documentation:
  name: generate_calc_documentation
  entry: pipenv run python -m recidiviz.calculator.calculation_documentation_generator
  language: system
  require_serial: true

generate_ingest_mappings_schema_documentation:
  name: generate_ingest_mappings_schema_documentation
  entry: pipenv run python -m recidiviz.tools.docs.ingest_mappings_schema_documentation_generator
  language: system
  require_serial: true

update_terraform_lock_file:
  name: update_terraform_lock_file
  entry: recidiviz/tools/deploy/update_terraform_lock.sh
  language: script
  require_serial: true

[US_ME] Hydrate state_incarceration_sentence.projected_max_release_date with CIS_401_CRT_ORDER_HDR.Curr_Cust_Rel_Date (Recidiviz/recidiviz-data#26821)
  recidiviz/ingest/direct/regions/us_me/ingest_mappings/us_me_incarceration_sentences_v2.yaml
  recidiviz/ingest/direct/regions/us_me/ingest_views/view_incarceration_sentences_v2.py
Due: generate_docs_for_region, generate_docs_for_endpoint

ungate ME to run in staging in shadow for ingest in Dataflow (Recidiviz/recidiviz-data#26835)
  recidiviz/ingest/direct/gating.py
Due: generate_docs_for_endpoint

Ungate US_CO for prod for ingest in Dataflow (Recidiviz/recidiviz-data#26837)
  recidiviz/ingest/direct/gating.py
Due: generate_docs_for_endpoint

[US_TN] Max and Segregation stays views (Recidiviz/recidiviz-data#26732)
  recidiviz/calculator/query/state/views/analyst_data/analyst_data_views.py
  recidiviz/calculator/query/state/views/analyst_data/us_tn/us_tn_max_stays.py
  recidiviz/calculator/query/state/views/analyst_data/us_tn/us_tn_segregation_stays.py
Due: generate_docs_for_endpoint, generate_calc_documentation

[Justice Counts] add dry run prefix on email templates created during a dry run email cloud run job (Recidiviz/recidiviz-data#26820)
  recidiviz/justice_counts/utils/email.py
Due: generate_docs_for_endpoint

[Justice Counts] Add Admin API endpoint to delete users. (Recidiviz/recidiviz-data#26773)
  recidiviz/auth/auth0_client.py
  recidiviz/justice_counts/agency_user_account_association.py
  recidiviz/justice_counts/control_panel/routes/admin.py
  recidiviz/persistence/database/schema/justice_counts/schema.py
  recidiviz/tests/justice_counts/control_panel/admin_test.py
  stubs/auth0/management/auth0.pyi
Due: generate_docs_for_endpoint, generate_calc_documentation

[US_AR] Add US_AR to SFTP state alpha codes config (Recidiviz/recidiviz-data#26859)
  recidiviz/tools/deploy/terraform/config/sftp_state_alpha_codes.yaml
Due: generate_docs_for_endpoint, update_terraform_lock_file

[US_MO] Restrictive Housing - implement pilot criteria (Recidiviz/recidiviz-data#26425)
  recidiviz/calculator/query/state/views/workflows/firestore/us_mo_overdue_restrictive_housing_hearing.py
  recidiviz/calculator/query/state/views/workflows/firestore/us_mo_overdue_restrictive_housing_initial_hearing.py
  recidiviz/calculator/query/state/views/workflows/firestore/us_mo_overdue_restrictive_housing_review_hearing.py
  recidiviz/task_eligibility/completion_events/state_specific/us_mo/scheduled_hearing_occurred.py
  recidiviz/task_eligibility/criteria/state_specific/us_mo/d1_sanction_after_restrictive_housing_start.py
  recidiviz/task_eligibility/criteria/state_specific/us_mo/hearing_after_restrictive_housing_start.py
  recidiviz/task_eligibility/criteria/state_specific/us_mo/initial_hearing_past_due_date.py
  recidiviz/task_eligibility/criteria/state_specific/us_mo/no_active_d1_sanctions.py
  recidiviz/task_eligibility/criteria/state_specific/us_mo/no_d1_sanction_after_most_recent_hearing.py
  recidiviz/task_eligibility/criteria/state_specific/us_mo/no_d1_sanction_after_restrictive_housing_start.py
  recidiviz/task_eligibility/criteria/state_specific/us_mo/no_hearing_after_restrictive_housing_start.py
  recidiviz/task_eligibility/criteria/state_specific/us_mo/overdue_for_hearing.py
  recidiviz/task_eligibility/eligibility_spans/us_mo/overdue_restrictive_housing_hearing.py
  recidiviz/task_eligibility/eligibility_spans/us_mo/overdue_restrictive_housing_initial_hearing.py
  recidiviz/task_eligibility/eligibility_spans/us_mo/overdue_restrictive_housing_review_hearing.py
Due: generate_docs_for_endpoint, generate_calc_documentation

Bump `bigquery-emulator` version (Recidiviz/recidiviz-data#26869)
  Pipfile
Due: none

[Outliers] Revise outliers validation to only check missing information for the relevant outliers staff population (Recidiviz/recidiviz-data#26678)
  recidiviz/validation/config/regions/us_ix/us_ix_validation_config.yaml
  recidiviz/validation/config/regions/us_mi/us_mi_validation_config.yaml
  recidiviz/validation/views/state/outliers/configured_validations.py
  recidiviz/validation/views/state/outliers/current_supervision_staff_missing_district.py
  recidiviz/validation/views/state/outliers/current_supervision_staff_missing_email.py
  recidiviz/validation/views/state/outliers/current_supervision_staff_missing_name.py
Due: generate_docs_for_endpoint, generate_calc_documentation

[US_OR] supervision violations criteria (Recidiviz/recidiviz-data#26355)
  recidiviz/task_eligibility/criteria/general/no_conviction_within_6_months.py
  recidiviz/task_eligibility/criteria/general/no_felony_within_24_months.py
  recidiviz/task_eligibility/criteria/general/no_supervision_violation_within_6_months.py
  recidiviz/task_eligibility/criteria/general/no_violent_misdemeanor_within_12_months.py
  recidiviz/task_eligibility/criteria/state_specific/us_or/no_supervision_sanctions_within_6_months.py
  recidiviz/task_eligibility/utils/general_criteria_builders.py
Due: generate_docs_for_endpoint, generate_calc_documentation

Add migration to get rid of leading relative paths for SFTP (Recidiviz/recidiviz-data#26888)
  recidiviz/persistence/database/migrations/operations/versions/2024_01_17_1048_ccaa3fa0bbb2_fix_abs_sftp.py
Due: generate_docs_for_endpoint

[US_IX] Ingest linked event incarceration sentences (Recidiviz/recidiviz-data#26819)
  recidiviz/ingest/direct/regions/us_ix/ingest_views/view_incarceration_sentence.py
Due: generate_docs_for_region, generate_docs_for_endpoint

[US_OR] Remapping some supervision types (Recidiviz/recidiviz-data#26390)
  recidiviz/ingest/direct/regions/us_or/ingest_mappings/us_or_Supervision_Period.yaml
Due: generate_docs_for_region, generate_docs_for_endpoint

[US_OR] Hydrate TES criterion query for eligible sentences (Recidiviz/recidiviz-data#26652)
  recidiviz/calculator/query/state/views/analyst_data/us_or/us_or_earned_discharge_sentence_eligibility_spans.py
  recidiviz/calculator/query/state/views/analyst_data/us_or/us_or_no_convictions_since_sentence_start.py
  recidiviz/calculator/query/state/views/analyst_data/us_or/us_or_sentenced_after_august_2013.py
  recidiviz/calculator/query/state/views/analyst_data/us_or/us_or_served_6_months_supervision.py
  recidiviz/calculator/query/state/views/analyst_data/us_or/us_or_served_half_sentence.py
  recidiviz/calculator/query/state/views/analyst_data/us_or/us_or_statute_eligible.py
  recidiviz/task_eligibility/criteria/state_specific/us_or/sentence_eligible.py
  recidiviz/task_eligibility/eligibility_spans/us_or/earned_discharge.py
  recidiviz/tools/find_unused_bq_views.py
Due: generate_docs_for_endpoint, generate_calc_documentation

Revise automated validations issue title matching (Recidiviz/recidiviz-data#26804)
  recidiviz/validation/validation_manager.py
Due: generate_docs_for_endpoint

[US_MI][Workflows] Set look forward window for violation inference to 14 days (Recidiviz/recidiviz-data#26890)
  recidiviz/pipelines/utils/state_utils/us_mi/us_mi_violations_delegate.py
  recidiviz/tests/pipelines/utils/state_utils/us_mi/us_mi_violations_delegate_test.py
Due: generate_docs_for_endpoint

[Justice Counts] Fixing request api script (Recidiviz/recidiviz-data#26852)
  recidiviz/common/google_cloud/google_cloud_tasks_client_wrapper.py
  recidiviz/justice_counts/control_panel/config.py
  recidiviz/tools/justice_counts/control_panel/initialize_development_environment.sh
  recidiviz/tools/justice_counts/control_panel/request_api.py
Due: generate_docs_for_endpoint

[US_MO] migrate validation to be source-controlled (Recidiviz/recidiviz-data#26814)
  recidiviz/tools/deploy/terraform/modules/state-direct-ingest-resources/bigquery.tf
  recidiviz/validation/views/external_data/incarceration_population_by_facility.py
  recidiviz/validation/views/external_data/regions/us_mo/__init__.py
  recidiviz/validation/views/external_data/regions/us_mo/incarceration_population_by_facility.py
  recidiviz/validation/views/external_data/regions/us_mo/supervision_population_person_level.py
  recidiviz/validation/views/external_data/supervision_population_person_level.py
  recidiviz/validation/views/view_config.py
  recidiviz/view_registry/datasets.py
  recidiviz/view_registry/deployed_views.py
Due: generate_docs_for_endpoint, generate_calc_documentation, update_terraform_lock_file

[US_TN] migrate validation to be source-controlled (Recidiviz/recidiviz-data#26816)
  recidiviz/tools/deploy/terraform/modules/state-direct-ingest-resources/bigquery.tf
  recidiviz/validation/views/external_data/incarceration_population_by_facility.py
  recidiviz/validation/views/external_data/incarceration_population_person_level.py
  recidiviz/validation/views/external_data/regions/us_tn/__init__.py
  recidiviz/validation/views/external_data/regions/us_tn/incarceration_population_by_facility.py
  recidiviz/validation/views/external_data/regions/us_tn/incarceration_population_person_level.py
  recidiviz/validation/views/view_config.py
  recidiviz/view_registry/datasets.py
  recidiviz/view_registry/deployed_views.py
Due: generate_docs_for_endpoint, generate_calc_documentation, update_terraform_lock_file

[US_ND] migrate validation to be source-controlled (Recidiviz/recidiviz-data#26845)
  recidiviz/tools/deploy/terraform/modules/state-direct-ingest-resources/bigquery.tf
  recidiviz/validation/views/external_data/incarceration_population_by_facility.py
  recidiviz/validation/views/external_data/incarceration_population_person_level.py
  recidiviz/validation/views/external_data/regions/us_nd/__init__.py
  recidiviz/validation/views/external_data/regions/us_nd/incarceration_population_by_facility.py
  recidiviz/validation/views/external_data/regions/us_nd/incarceration_population_person_level.py
  recidiviz/validation/views/external_data/regions/us_nd/recidivism_person_level.py
  recidiviz/validation/views/external_data/regions/us_nd/supervision_population_person_level.py
  recidiviz/validation/views/external_data/supervision_population_person_level.py
  recidiviz/validation/views/view_config.py
  recidiviz/view_registry/datasets.py
  recidiviz/view_registry/deployed_views.py
Due: generate_docs_for_endpoint, generate_calc_documentation, update_terraform_lock_file

[Autogenerated] Update Pipfile.lock (Recidiviz/recidiviz-data#26844)
  Pipfile.lock
  recidiviz/pipelines/dataflow_flex_setup.py
  recidiviz/tests/big_query/big_query_emulator_test.py
Due: generate_docs_for_endpoint

Update validation script for workflows and outliers with some minor fixes (Recidiviz/recidiviz-data#26909)
  recidiviz/tools/ingest/testing/validate_workflows_outliers.py
Due: generate_docs_for_endpoint

[US_TN] addressing custodial_authority issues in TN (Recidiviz/recidiviz-data#26908)
  recidiviz/ingest/direct/regions/us_tn/ingest_mappings/us_tn_AssignedStaffSupervisionPeriod_v2.yaml
  recidiviz/pipelines/utils/state_utils/us_tn/us_tn_incarceration_period_normalization_delegate.py
  recidiviz/tests/pipelines/utils/state_utils/us_tn/us_tn_incarceration_period_normalization_delegate_test.py
Due: generate_docs_for_region, generate_docs_for_endpoint

[US_PA] Add raw text values to state staff role subtype mapping (Recidiviz/recidiviz-data#26923)
  recidiviz/ingest/direct/regions/us_pa/us_pa_custom_enum_parsers.py
Due: generate_docs_for_region, generate_docs_for_endpoint

Launching US_ME to staging for ingest in Dataflow (Recidiviz/recidiviz-data#26926)
  recidiviz/ingest/direct/gating.py
Due: generate_docs_for_endpoint

[Ingest] Hydrate StateSentence and StateChargeV2 in US_MO (Recidiviz/recidiviz-data#26782)
  recidiviz/ingest/direct/ingest_mappings/yaml_schema/1.0.0/entity_expressions/entity_tree.json
  recidiviz/ingest/direct/ingest_mappings/yaml_schema/1.0.0/schema.json
  recidiviz/ingest/direct/regions/us_mo/ingest_mappings/us_mo_sentence.yaml
  recidiviz/ingest/direct/regions/us_mo/ingest_views/view_sentence.py
Due: generate_docs_for_region, generate_docs_for_endpoint, generate_ingest_mappings_schema_documentation

[US_TN] Refactor state_task_deadline to use @ALL (Recidiviz/recidiviz-data#26470)
  recidiviz/entrypoints/ingest/ingest_lock_management.py
  recidiviz/ingest/direct/regions/us_tn/ingest_mappings/us_tn_SentencesChargesAndCourtCases_v4.yaml
  recidiviz/ingest/direct/regions/us_tn/ingest_views/view_SentencesChargesAndCourtCases_v4.py
  recidiviz/ingest/direct/regions/us_tn/raw_data/us_tn_OffenderStatute.yaml
  recidiviz/tests/pipelines/ingest/state/exemptions_test.py
Due: generate_docs_for_region, generate_docs_for_endpoint

Revert "Add migration to get rid of leading relative paths for SFTP (Recidiviz/recidiviz-data#26888)" (Recidiviz/recidiviz-data#26929)
  recidiviz/persistence/database/migrations/operations/versions/2024_01_17_1048_ccaa3fa0bbb2_fix_abs_sftp.py
Due: generate_docs_for_endpoint

Ungating TN for prod and also removing feature flag for shadow (Recidiviz/recidiviz-data#26927)
  recidiviz/airflow/dags/utils/ingest_dag_orchestration_utils.py
  recidiviz/airflow/tests/utils/ingest_dag_orchestration_utils_test.py
  recidiviz/entrypoints/ingest/ingest_pipeline_should_run_in_dag.py
  recidiviz/ingest/direct/gating.py
  recidiviz/tests/entrypoints/ingest/ingest_pipeline_should_run_in_dag_test.py
  recidiviz/tests/ingest/direct/gating_test.py
Due: generate_docs_for_endpoint

[US_PA] migrate validation to be source-controlled (Recidiviz/recidiviz-data#26867)
  recidiviz/tools/deploy/terraform/modules/state-direct-ingest-resources/bigquery.tf
  recidiviz/validation/views/external_data/incarceration_admission_person_level.py
  recidiviz/validation/views/external_data/incarceration_population_person_level.py
  recidiviz/validation/views/external_data/incarceration_release_person_level.py
  recidiviz/validation/views/external_data/regions/us_pa/__init__.py
  recidiviz/validation/views/external_data/regions/us_pa/incarceration_admission_person_level.py
  recidiviz/validation/views/external_data/regions/us_pa/incarceration_population_person_level.py
  recidiviz/validation/views/external_data/regions/us_pa/incarceration_release_person_level.py
  recidiviz/validation/views/external_data/regions/us_pa/supervision_population_person_level.py
  recidiviz/validation/views/external_data/regions/us_pa/supervision_termination_person_level.py
  recidiviz/validation/views/external_data/supervision_population_person_level.py
  recidiviz/validation/views/view_config.py
  recidiviz/view_registry/datasets.py
  recidiviz/view_registry/deployed_views.py
Due: generate_docs_for_endpoint, generate_calc_documentation, update_terraform_lock_file

[US_OZ] add hunger games external validation (Recidiviz/recidiviz-data#26896)
  recidiviz/validation/views/external_data/regions/us_oz/incarceration_population_person_level.py
Due: generate_docs_for_endpoint, generate_calc_documentation

upgrade terraform to 1.7.0 (Recidiviz/recidiviz-data#26841)
  .devcontainer/devcontainer.json
  .github/workflows/ci.yml
  Dockerfile
  recidiviz/tools/deploy/deploy_helpers.sh
  recidiviz/tools/deploy/terraform/modules/cloud-sql-instance/main.tf
  recidiviz/tools/deploy/terraform/modules/cloud-storage-bucket/main.tf
  recidiviz/tools/deploy/terraform/terraform.tf
Due: generate_docs_for_endpoint, update_terraform_lock_file

[US_MI][Workflows] Add eligible date to opportunity record queries (Recidiviz/recidiviz-data#26771)
  recidiviz/calculator/query/state/views/workflows/firestore/us_mi_complete_discharge_early_from_supervision_request_record.py
  recidiviz/calculator/query/state/views/workflows/firestore/us_mi_complete_transfer_to_telephone_reporting_request_record.py
  recidiviz/calculator/query/state/views/workflows/firestore/us_mi_supervision_level_downgrade_record.py
Due: generate_docs_for_endpoint, generate_calc_documentation

[Justice Counts] Write GH Action to test JC Docker Image creation. (Recidiviz/recidiviz-data#26547)
  recidiviz/tools/justice_counts/control_panel/initialize_development_environment.sh
Due: generate_docs_for_endpoint

Fixing US_MI root directory (Recidiviz/recidiviz-data#26935)
  recidiviz/ingest/direct/regions/us_mi/us_mi_sftp_download_delegate.py
Due: generate_docs_for_region, generate_docs_for_endpoint

[US_MI] Revise how we infer TEMPORARY_CUSTODY periods for missing supervision level (Recidiviz/recidiviz-data#26933)
  recidiviz/pipelines/metrics/supervision/identifier.py
  recidiviz/pipelines/utils/state_utils/us_mi/us_mi_incarceration_period_normalization_delegate.py
  recidiviz/pipelines/utils/supervision_period_utils.py
  recidiviz/tests/pipelines/utils/state_utils/us_mi/us_mi_incarceration_period_normalization_delegate_test.py
Due: generate_docs_for_endpoint

Cleaning up some states that are already launched to Ingest in Dataflow (Recidiviz/recidiviz-data#26925)
  recidiviz/tests/ingest/direct/regions/region_direct_ingest_controller_test_case.py
  recidiviz/tests/ingest/direct/templates/us_xx/us_xx_controller_test.py
Due: generate_docs_for_endpoint

[US_TN] add supervision_population_person_level validation to source control (Recidiviz/recidiviz-data#26921)
  recidiviz/validation/views/external_data/regions/us_tn/supervision_population_person_level.py
  recidiviz/validation/views/external_data/supervision_population_by_type.py
  recidiviz/validation/views/external_data/supervision_population_person_level.py
  recidiviz/validation/views/view_config.py
Due: generate_docs_for_endpoint, generate_calc_documentation

[US_MI] [US_IX] [US_ME] [US_CA] Bump thresholds (Recidiviz/recidiviz-data#26907)
  recidiviz/validation/config/regions/us_ca/us_ca_validation_config.yaml
  recidiviz/validation/config/regions/us_ix/us_ix_validation_config.yaml
  recidiviz/validation/config/regions/us_me/us_me_validation_config.yaml
  recidiviz/validation/config/regions/us_mi/us_mi_validation_config.yaml
  recidiviz/validation/views/state/stable_counts/stable_counts.py
Due: generate_docs_for_endpoint, generate_calc_documentation

Path conditions:
  generate_docs_for_region: any of: ^recidiviz/ingest/direct/regions/
  generate_docs_for_endpoint: any of: ^recidiviz/, but not: (?x)(^recidiviz/tests/|^recidiviz/tools/|^recidiviz/ingest/direct/regions/)$

  generate_entity_documentation: any of: (?x)(^recidiviz/persistence/database/schema/state/schema.py|^recidiviz/persistence/database/schema/history_table_shared_columns_mixin.py|^recidiviz/common/constants/state/)$

  generate_calc_documentation: any of: ^recidiviz/calculator/|^recidiviz/metrics/|^recidiviz/.*/views/|^recidiviz/big_query/|^recidiviz/persistence/database/schema/|^recidiviz/persistence/entity/|^recidiviz/task_eligibility/, but not: ^recidiviz/tests/|^recidiviz/calculator/modeling/
  generate_ingest_mappings_schema_documentation: any of: ^recidiviz/ingest/direct/ingest_mappings/yaml_schema/|^docs/engineering/ingest_mapping_schema/
  update_terraform_lock_file: any of: ^recidiviz/tools/deploy/terraform/
