Repository Recidiviz/pulse-data: changes, and which pre-commit hooks are due for each by the changed paths.
All: generate_docs_for_region, generate_docs_for_endpoint, generate_entity_documentation

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.3.0
    hooks:
      - id: check-yaml
  - repo: https://github.com/psf/black
    rev: 20.8b1
    hooks:
      - id: black
        language_version: python3
  - repo: local
    hooks:
      - id: generate_docs_for_region
        name: generate_docs_for_region
        entry: pipenv run python -m recidiviz.tools.docs.region_documentation_generator
        language: system
        files: ^recidiviz/ingest/direct/regions/
        require_serial: true
      - id: generate_docs_for_endpoint
        name: generate_docs_for_endpoint
        entry: pipenv run python -m recidiviz.tools.docs.endpoint_documentation_generator
        language: system
        files: ^recidiviz/
        exclude: >
          (?x)(^recidiviz/tests/|^recidiviz/tools/|^recidiviz/ingest/direct/regions/)$
        require_serial: true
      - id: generate_entity_documentation
        name: generate_entity_documentation
        entry: pipenv run python -m recidiviz.tools.docs.entity_documentation_generator
        language: system
        files: >
           (?x)(^recidiviz/persistence/database/schema/state/schema.py|^recidiviz/persistence/database/schema/history_table_shared_columns_mixin.py)$
        require_serial: true

[Schema] Migrating all the rest of the calculations over to RELEASE_FROM_INCARCERATION (Recidiviz/recidiviz-data#14070)
  recidiviz/calculator/pipeline/utils/state_utils/us_nd/us_nd_supervision_period_normalization_delegate.py
  recidiviz/common/constants/state/state_supervision_period.py
  recidiviz/tests/calculator/pipeline/normalization/comprehensive/pipeline_test.py
  recidiviz/tests/calculator/pipeline/normalization/utils/entity_normalization_manager_utils_test.py
  recidiviz/tests/calculator/pipeline/normalization/utils/normalization_managers/supervision_period_normalization_manager_test.py
  recidiviz/tests/calculator/pipeline/utils/entity_normalization/normalized_supervision_period_index_test.py
  recidiviz/tests/calculator/pipeline/utils/state_utils/us_nd/us_nd_supervision_period_normalization_delegate_test.py
  recidiviz/tests/persistence/entity/state/deserialize_entity_factories_test.py
  recidiviz/tests/persistence/entity/state/entities_test_utils.py
  recidiviz/tests/persistence/ingest_info_converter/state/entity_helpers/state_supervision_period_test.py
Due: generate_docs_for_endpoint

[Testing] Delete emulators infrastructure (Recidiviz/recidiviz-data#14076)
  .github/workflows/ci.yml
  Dockerfile
  README.md
  conftest.py
  recidiviz/tests/fixtures/__init__.py
  recidiviz/tests/fixtures/emulator.py
  recidiviz/tests/fixtures/google_auth_patcher.py
  recidiviz/utils/environment.py
  recidiviz/utils/pubsub_helper.py
Due: generate_docs_for_endpoint

[import service] update memory to match other cloud run services (Recidiviz/recidiviz-data#14077)
  recidiviz/tools/deploy/terraform/cloud-run.tf
Due: generate_docs_for_endpoint

Add query for Idaho recidivism rates to recidivism_rates_by_cohort_by_year (Recidiviz/recidiviz-data#14060)
  recidiviz/calculator/query/state/views/analyst_data/analyst_data_views.py
  recidiviz/calculator/query/state/views/analyst_data/session_cohort_reincarceration.py
  recidiviz/calculator/query/state/views/public_dashboard/incarceration/recidivism_rates_by_cohort_by_year.py
Due: generate_docs_for_endpoint

Saving date fix (Recidiviz/recidiviz-data#14084)
  recidiviz/validation/views/external_data/regions/us_co/incarceration_population_person_level.py
Due: generate_docs_for_endpoint

Create four new auth tables in case triage database (Recidiviz/recidiviz-data#14090)
  recidiviz/persistence/database/migrations/case_triage/versions/2022_07_20_1304_7670e37f7497_create_auth_tables.py
  recidiviz/persistence/database/schema/case_triage/schema.py
  recidiviz/tests/persistence/database/schema_utils_test.py
Due: generate_docs_for_endpoint

Adding raw data table management to the deploy script (Recidiviz/recidiviz-data#14096)
  recidiviz/big_query/big_query_client.py
  recidiviz/ingest/direct/raw_data/direct_ingest_raw_data_table_manager.py
  recidiviz/ingest/direct/raw_data/direct_ingest_raw_file_import_manager.py
  recidiviz/tests/big_query/big_query_client_test.py
  recidiviz/tests/big_query/fakes/fake_big_query_client.py
  recidiviz/tests/ingest/direct/raw_data/direct_ingest_raw_data_table_manager_test.py
  recidiviz/tools/deploy/deploy_helpers.sh
Due: generate_docs_for_endpoint

Removing cron job that creates the raw data latest tables (Recidiviz/recidiviz-data#14100)
  cron.yaml
  recidiviz/big_query/big_query_table_checker.py
  recidiviz/common/google_cloud/google_cloud_tasks_shared_queues.py
  recidiviz/ingest/direct/direct_ingest_control.py
  recidiviz/ingest/direct/raw_data/direct_ingest_raw_update_cloud_task_manager.py
  recidiviz/ingest/direct/views/direct_ingest_latest_view_collector.py
  recidiviz/tests/ingest/direct/direct_ingest_control_test.py
  recidiviz/tests/ingest/direct/raw_data/direct_ingest_raw_update_cloud_task_manager_test.py
  recidiviz/tools/deploy/terraform/cloud-task-queues.tf
Due: generate_docs_for_endpoint

removing closed facilities (Recidiviz/recidiviz-data#14108)
  recidiviz/datasets/static_data/us_co_incarceration_facility_map.csv
Due: generate_docs_for_endpoint

Populate State User Permissions admin panel page with entries from DashboardUserRestrictions (Recidiviz/recidiviz-data#14021)
  frontends/admin-panel/src/AdminPanelAPI/LineStaffTools.ts
  frontends/admin-panel/src/AdminPanelAPI/index.ts
  frontends/admin-panel/src/AdminPanelAPI/utils.ts
  frontends/admin-panel/src/components/StateUserPermissionsView.tsx
  frontends/admin-panel/src/misc.d.ts
  recidiviz/auth/auth_endpoint.py
  recidiviz/tests/auth/auth_endpoint_test.py
Due: generate_docs_for_endpoint

add raw data configs (Recidiviz/recidiviz-data#14107)
  recidiviz/ingest/direct/regions/us_id/raw_data/us_id_cis_codelawenforcementcontacttype.yaml
  recidiviz/ingest/direct/regions/us_id/raw_data/us_id_cis_lawenforcementcontact.yaml
  recidiviz/ingest/direct/regions/us_id/raw_data/us_id_summary_ofndr_ftrd_dt.yaml
Due: generate_docs_for_region, generate_docs_for_endpoint

Minor fixes to raw file tools (Recidiviz/recidiviz-data#14104)
  recidiviz/tests/tools/ingest/development/create_ingest_config_skeleton_test.py
  recidiviz/tools/ingest/development/create_ingest_config_skeleton.py
  recidiviz/tools/ingest/operations/import_raw_files_to_sandbox.py
Due: generate_docs_for_endpoint

[Justice Counts][4/n] Bulk upload: Allow uploading of an Excel spreadsheet (Recidiviz/recidiviz-data#14026)
  recidiviz/justice_counts/bulk_upload/bulk_upload.py
  recidiviz/tests/justice_counts/bulk_upload/bulk_upload_fixtures/prosecution/prosecution_metrics.xlsx
  recidiviz/tests/justice_counts/bulk_upload/bulk_upload_test.py
Due: generate_docs_for_endpoint

[Justice Counts][5/n] Bulk upload: Add bulk upload to Admin Panel (Recidiviz/recidiviz-data#14027)
  frontends/admin-panel/src/AdminPanelAPI/JusticeCountsTools.ts
  frontends/admin-panel/src/components/App.tsx
  frontends/admin-panel/src/components/JusticeCountsTools/BulkUpload.tsx
  frontends/admin-panel/src/navigation/JusticeCountsTools.ts
  recidiviz/admin_panel/routes/justice_counts_tools.py
  recidiviz/justice_counts/bulk_upload/bulk_upload.py
  recidiviz/tests/justice_counts/bulk_upload/bulk_upload_test.py
Due: generate_docs_for_endpoint

Write ingest tools logs to logs/ directory (Recidiviz/recidiviz-data#14116)
  .gitignore
  recidiviz/tools/ingest/operations/log_helpers.py
  recidiviz/tools/ingest/operations/move_raw_state_files_from_storage.py
  recidiviz/tools/ingest/operations/operate_on_storage_raw_files_controller.py
  recidiviz/tools/ingest/operations/upload_raw_state_files_to_ingest_bucket_with_date.py
Due: generate_docs_for_endpoint

Refactor UI components (Recidiviz/recidiviz-data#13982)
  frontends/admin-panel/src/components/IngestOperationsView/StateSpecificIngestOperationsMetadata.tsx
  frontends/admin-panel/src/components/IngestOperationsView/index.tsx
Due: none

[Pathways] Add `PrisonPopulationOverTimeCount` / `PrisonPopulationByDimensionCount` (Recidiviz/recidiviz-data#14093)
  recidiviz/calculator/query/state/views/dashboard/pathways/event_level/prison_population_by_dimension.py
  recidiviz/calculator/query/state/views/dashboard/pathways/event_level/prison_population_over_time.py
  recidiviz/calculator/query/state/views/dashboard/pathways/pathways_views.py
  recidiviz/case_triage/pathways/dimensions/dimension.py
  recidiviz/case_triage/pathways/metric_queries.py
  recidiviz/case_triage/pathways/metrics.py
  recidiviz/persistence/database/schema/pathways/schema.py
  recidiviz/tests/case_triage/pathways/fixtures/prison_population_by_dimension.csv
  recidiviz/tests/case_triage/pathways/fixtures/prison_population_over_time.csv
  recidiviz/tests/case_triage/pathways/metrics_test.py
  recidiviz/tests/persistence/database/schema_utils_test.py
Due: generate_docs_for_endpoint

[Pathways] Add projection metrics (Recidiviz/recidiviz-data#14101)
  recidiviz/calculator/query/state/views/dashboard/pathways/event_level/prison_population_projection.py
  recidiviz/calculator/query/state/views/dashboard/pathways/event_level/supervision_population_projection.py
  recidiviz/calculator/query/state/views/dashboard/pathways/pathways_views.py
  recidiviz/case_triage/pathways/metric_queries.py
  recidiviz/case_triage/pathways/metrics.py
  recidiviz/case_triage/pathways/pathways_api_schemas.py
  recidiviz/persistence/database/schema/pathways/schema.py
  recidiviz/tests/case_triage/pathways/fixtures/prison_population_projection.csv
  recidiviz/tests/case_triage/pathways/fixtures/supervision_population_projection.csv
  recidiviz/tests/case_triage/pathways/metrics_test.py
  recidiviz/tests/persistence/database/schema_utils_test.py
Due: generate_docs_for_endpoint

[Pathways] Add prison person level metric (Recidiviz/recidiviz-data#14111)
  recidiviz/calculator/query/state/views/dashboard/pathways/event_level/prison_population_person_level.py
  recidiviz/calculator/query/state/views/dashboard/pathways/pathways_views.py
  recidiviz/case_triage/pathways/metric_queries.py
  recidiviz/case_triage/pathways/metrics.py
  recidiviz/persistence/database/schema/pathways/schema.py
  recidiviz/tests/case_triage/pathways/fixtures/prison_population_person_level.csv
  recidiviz/tests/case_triage/pathways/metrics_test.py
  recidiviz/tests/persistence/database/schema_utils_test.py
Due: generate_docs_for_endpoint

[Pathways] Increase DB resources (Recidiviz/recidiviz-data#14128)
  recidiviz/tools/deploy/terraform/cloud-sql.tf
Due: generate_docs_for_endpoint

setting the SFTP timestamp to be at the day-level granularity (Recidiviz/recidiviz-data#14122)
  recidiviz/ingest/direct/sftp/download_files_from_sftp.py
  recidiviz/tests/ingest/direct/sftp/download_files_from_sftp_test.py
Due: generate_docs_for_endpoint

Add state_code to pei `WHERE` clause (Recidiviz/recidiviz-data#13757)
  recidiviz/calculator/query/state/views/analyst_data/us_tn/us_tn_compliant_reporting_logic.py
  recidiviz/calculator/query/state/views/analyst_data/us_tn/us_tn_sentence_logic.py
Due: generate_docs_for_endpoint

[Schema] Deleting DISMISSED from the schema (Recidiviz/recidiviz-data#13972)
  recidiviz/calculator/pipeline/metrics/supervision/identifier.py
  recidiviz/calculator/query/state/views/sessions/release_termination_reason_dedup_priority.py
  recidiviz/common/constants/state/enum_canonical_strings.py
  recidiviz/common/constants/state/state_supervision_period.py
  recidiviz/persistence/database/migrations/state/versions/2022_07_22_1508_cacf6a2cb22b_delete_dismissed.py
  recidiviz/persistence/database/schema/state/schema.py
  recidiviz/persistence/entity/state/entities.py
Due: generate_docs_for_endpoint, generate_entity_documentation

[Schema] Deleting CONDITIONAL_RELEASE from the schema (Recidiviz/recidiviz-data#14071)
  recidiviz/calculator/query/state/views/sessions/admission_start_reason_dedup_priority.py
  recidiviz/common/constants/state/enum_canonical_strings.py
  recidiviz/common/constants/state/state_supervision_period.py
  recidiviz/persistence/database/migrations/state/versions/2022_07_22_1521_3b57e736afe9_delete_cond_rel.py
  recidiviz/persistence/database/schema/state/schema.py
  recidiviz/persistence/entity/state/entities.py
Due: generate_docs_for_endpoint, generate_entity_documentation

[Schema] Deleting RETURN_TO_INCARCERATION from schema (Recidiviz/recidiviz-data#13989)
  recidiviz/calculator/pipeline/metrics/supervision/identifier.py
  recidiviz/calculator/query/state/views/sessions/release_termination_reason_dedup_priority.py
  recidiviz/common/constants/state/enum_canonical_strings.py
  recidiviz/common/constants/state/state_supervision_period.py
  recidiviz/persistence/database/migrations/state/versions/2022_07_22_1537_f304039e3c04_delete_return_to_inc.py
  recidiviz/persistence/database/schema/state/schema.py
  recidiviz/persistence/entity/state/entities.py
Due: generate_docs_for_endpoint, generate_entity_documentation

[US_MO] Cleanup custom absconsion period CTE (Recidiviz/recidiviz-data#14057)
  recidiviz/calculator/query/state/views/sessions/us_mo/us_mo_supervision_population_metrics_preprocessed.py
Due: generate_docs_for_endpoint

Add remaining sentences to sentences_preprocessed (Recidiviz/recidiviz-data#14094)
  recidiviz/calculator/query/state/views/sessions/sentences_preprocessed.py
  recidiviz/calculator/query/state/views/sessions/us_tn/us_tn_sentences_preprocessed.py
Due: generate_docs_for_endpoint

[Pathways] Fix import of tables with custom named indexes; add integration test (Recidiviz/recidiviz-data#14155)
  recidiviz/cloud_sql/gcs_import_to_cloud_sql.py
  recidiviz/tests/cloud_sql/gcs_import_to_cloud_sql_test.py
Due: generate_docs_for_endpoint

Add date of most recent report upload (Recidiviz/recidiviz-data#14154)
  recidiviz/validation/views/external_data/regions/us_mi/oor_report_unified.py
Due: generate_docs_for_endpoint

Add raw data config yaml for ref_NameSuffixType (Recidiviz/recidiviz-data#13980)
  recidiviz/ingest/direct/regions/us_id/raw_data/us_id_ref_NameSuffixType.yaml
Due: generate_docs_for_region, generate_docs_for_endpoint

[Pathways] Fix import of `PrisonPopulationByDimension` (Recidiviz/recidiviz-data#14159)
  recidiviz/case_triage/pathways/metric_queries.py
  recidiviz/cloud_sql/gcs_import_to_cloud_sql.py
  recidiviz/persistence/database/schema/pathways/schema.py
  recidiviz/tests/case_triage/pathways/fixtures/prison_population_by_dimension.csv
  recidiviz/tests/case_triage/pathways/metrics_test.py
  recidiviz/tests/cloud_sql/gcs_import_to_cloud_sql_test.py
Due: generate_docs_for_endpoint

[US_ID] Add raw data configs for StatePerson (Recidiviz/recidiviz-data#13736)
  recidiviz/ingest/direct/regions/us_id/raw_data/us_id_ind_AliasName.yaml
  recidiviz/ingest/direct/regions/us_id/raw_data/us_id_ind_AliasNameType.yaml
  recidiviz/ingest/direct/regions/us_id/raw_data/us_id_ind_EthnicOrigin.yaml
  recidiviz/ingest/direct/regions/us_id/raw_data/us_id_ind_Gender.yaml
  recidiviz/ingest/direct/regions/us_id/raw_data/us_id_ind_HomelessType.yaml
  recidiviz/ingest/direct/regions/us_id/raw_data/us_id_ind_Offender.yaml
  recidiviz/ingest/direct/regions/us_id/raw_data/us_id_ind_Offender_Address.yaml
  recidiviz/ingest/direct/regions/us_id/raw_data/us_id_ind_Race.yaml
  recidiviz/ingest/direct/regions/us_id/raw_data/us_id_ref_Address.yaml
  recidiviz/ingest/direct/regions/us_id/raw_data/us_id_ref_AddressType.yaml
  recidiviz/ingest/direct/regions/us_id/raw_data/us_id_ref_Location.yaml
  recidiviz/ingest/direct/regions/us_id/raw_data/us_id_ref_LocationType.yaml
Due: generate_docs_for_region, generate_docs_for_endpoint

Add latest upload date for cb 971 report (Recidiviz/recidiviz-data#14158)
  recidiviz/validation/views/external_data/regions/us_mi/cb_971_report_unified.py
Due: generate_docs_for_endpoint

[US_CO] Updating IPs view to incorporate open periods (Recidiviz/recidiviz-data#14133)
  recidiviz/ingest/direct/regions/us_co/ingest_mappings/us_co_IncarcerationPeriod.yaml
  recidiviz/ingest/direct/regions/us_co/ingest_views/view_IncarcerationPeriod.py
  recidiviz/ingest/direct/regions/us_co/raw_data/us_co_Base_Curr_Off_Pop.yaml
  recidiviz/validation/config/regions/us_co/us_co_validation_config.yaml
  recidiviz/validation/views/external_data/regions/us_co/incarceration_population_person_level.py
  recidiviz/validation/views/view_config.py
Due: generate_docs_for_region, generate_docs_for_endpoint

[Pathways] fix typo in metric (Recidiviz/recidiviz-data#14162)
  recidiviz/case_triage/pathways/metric_queries.py
Due: generate_docs_for_endpoint

enable PATHWAYS_PRISON export in production for US_CO (Recidiviz/recidiviz-data#14161)
  recidiviz/metrics/export/products.yaml
Due: generate_docs_for_endpoint

Calculates avg_daily_caseload_officer for primary offices only (Recidiviz/recidiviz-data#14011)
  recidiviz/calculator/query/state/views/analyst_data/supervision_aggregated_metrics.py
Due: generate_docs_for_endpoint

[Workflows] Update ETL import to allow for more than one state (Recidiviz/recidiviz-data#14115)
  recidiviz/firestore/firestore_client.py
  recidiviz/tests/firestore/__init__.py
  recidiviz/tests/firestore/firestore_client_test.py
  recidiviz/tests/workflows/etl/fixtures/compliant_reporting_referral_record.json
  recidiviz/tests/workflows/etl/regions/__init__.py
  recidiviz/tests/workflows/etl/regions/us_tn/__init__.py
  recidiviz/tests/workflows/etl/regions/us_tn/client_record_etl_delegate_test.py
  recidiviz/tests/workflows/etl/regions/us_tn/compliant_reporting_referral_record_etl_delegate_test.py
  recidiviz/tests/workflows/etl/regions/us_tn/fixtures/client_record.json
  recidiviz/tests/workflows/etl/regions/us_tn/fixtures/compliant_reporting_referral_record.json
  recidiviz/tests/workflows/etl/regions/us_tn/fixtures/staff_record.json
  recidiviz/tests/workflows/etl/regions/us_tn/staff_record_etl_delegate_test.py
  recidiviz/tests/workflows/etl/workflows_firestore_etl_delegate_test.py
  recidiviz/workflows/etl/regions/__init__.py
  recidiviz/workflows/etl/regions/us_tn/__init__.py
  recidiviz/workflows/etl/regions/us_tn/client_record_etl_delegate.py
  recidiviz/workflows/etl/regions/us_tn/compliant_reporting_referral_record_etl_delegate.py
  recidiviz/workflows/etl/regions/us_tn/staff_record_etl_delegate.py
  recidiviz/workflows/etl/workflows_demo_etl_delegate.py
  recidiviz/workflows/etl/workflows_etl_delegate.py
Due: generate_docs_for_endpoint

[Pathways] Remove `length_of_stay` from `PrisonPopulationByDimension` PK (Recidiviz/recidiviz-data#14170)
  recidiviz/persistence/database/schema/pathways/schema.py
Due: generate_docs_for_endpoint
