Repository Recidiviz/pulse-data: changes, and which pre-commit hooks are due for each by the changed paths.
All: generate_docs_for_region, generate_docs_for_endpoint, generate_entity_documentation

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.3.0
    hooks:
      - id: check-yaml
  - repo: https://github.com/psf/black
    rev: 20.8b1
    hooks:
      - id: black
        language_version: python3
  - repo: local
    hooks:
      - id: generate_docs_for_region
        name: generate_docs_for_region
        entry: pipenv run python -m recidiviz.tools.docs.region_documentation_generator
        language: system
        files: ^recidiviz/ingest/direct/regions/
        require_serial: true
      - id: generate_docs_for_endpoint
        name: generate_docs_for_endpoint
        entry: pipenv run python -m recidiviz.tools.docs.endpoint_documentation_generator
        language: system
        files: ^recidiviz/
        exclude: >
          (?x)(^recidiviz/tests/|^recidiviz/tools/|^recidiviz/ingest/direct/regions/)$
        require_serial: true
      - id: generate_entity_documentation
        name: generate_entity_documentation
        entry: pipenv run python -m recidiviz.tools.docs.entity_documentation_generator
        language: system
        files: >
           (?x)(^recidiviz/persistence/database/schema/state/schema.py|^recidiviz/persistence/database/schema/history_table_shared_columns_mixin.py)$
        require_serial: true

Catch error for people with non-standard supervision level (Recidiviz/recidiviz-data#6375)
  frontends/case-triage/src/components/CaseCard/NeedsRiskAssessment.tsx
Due: none

Actually add timeouts (Recidiviz/recidiviz-data#6377)
  recidiviz/tools/deploy/terraform/cloud-functions.tf
  recidiviz/tools/deploy/terraform/modules/state-direct-ingest-resources/cloud-functions.tf
Due: generate_docs_for_endpoint

[Case Triage] Minor polish (Recidiviz/recidiviz-data#6350)
  frontends/case-triage/package.json
  frontends/case-triage/src/components/CaseCard/CaseCard.tsx
  frontends/case-triage/src/components/CaseCard/NeedsRiskAssessment.tsx
  frontends/case-triage/src/components/ClientList/ClientList.styles.tsx
  frontends/case-triage/src/components/ClientList/ClientList.tsx
  frontends/case-triage/yarn.lock
Due: none

Disable SSL for KY PDF URL scraper (Recidiviz/recidiviz-data#6376)
  recidiviz/ingest/aggregate/regions/ky/ky_aggregate_site_scraper.py
Due: generate_docs_for_endpoint

Use pre-commit library to manage pre commits (Recidiviz/recidiviz-data#6323)
  .github/workflows/ci.yml
  .pre-commit-config.yaml
  Pipfile
  Pipfile.lock
  githooks/pre-commit
  initial_pipenv_setup_mac.sh
  recidiviz/tools/docs/documentation_generation.sh
  recidiviz/tools/docs/documentation_generator.py
Due: generate_docs_for_endpoint

Make PA district validation threshold stricter (Recidiviz/recidiviz-data#6366)
  recidiviz/validation/config/regions/us_pa/us_pa_validation_config.yaml
Due: generate_docs_for_endpoint

Fix TN report parsing for December 2020, January 2021 (Recidiviz/recidiviz-data#6380)
  recidiviz/ingest/aggregate/regions/tn/tn_aggregate_ingest.py
Due: generate_docs_for_endpoint

Update raw file configs to handle enums (Recidiviz/recidiviz-data#6359)
  recidiviz/ingest/direct/controllers/direct_ingest_raw_file_import_manager.py
  recidiviz/tests/ingest/direct/controllers/direct_ingest_raw_file_import_manager_test.py
  recidiviz/tests/ingest/direct/controllers/fixtures/us_xx/us_xx_file_tag_first.yaml
Due: generate_docs_for_endpoint

Remove ingest_view_exports_enabled attribute (Recidiviz/recidiviz-data#6349)
  recidiviz/ingest/direct/controllers/direct_ingest_ingest_view_export_manager.py
  recidiviz/ingest/direct/controllers/direct_ingest_view_collector.py
  recidiviz/ingest/direct/controllers/gcsfs_direct_ingest_controller.py
  recidiviz/ingest/direct/regions/us_id/manifest.yaml
  recidiviz/ingest/direct/regions/us_mi/manifest.yaml
  recidiviz/ingest/direct/regions/us_mo/manifest.yaml
  recidiviz/ingest/direct/regions/us_nd/manifest.yaml
  recidiviz/ingest/direct/regions/us_pa/manifest.yaml
  recidiviz/ingest/direct/regions/us_tn/manifest.yaml
  recidiviz/ingest/direct/regions/us_tx_brazos/manifest.yaml
  recidiviz/ingest/direct/templates/us_xx/manifest.yaml
  recidiviz/tests/ingest/direct/controllers/gcsfs_direct_ingest_controller_test.py
  recidiviz/tests/ingest/direct/controllers/normalized_direct_ingest_ingest_view_export_manager_test.py
  recidiviz/tests/ingest/direct/controllers/unnormalized_direct_ingest_ingest_view_export_manager_test.py
  recidiviz/tests/ingest/direct/regions/base_direct_ingest_controller_tests.py
  recidiviz/tests/utils/fake_region.py
  recidiviz/tests/utils/regions_test.py
  recidiviz/utils/regions.py
Due: generate_docs_for_region, generate_docs_for_endpoint

Verify commit hash before tagging release (Recidiviz/recidiviz-data#6364)
  recidiviz/tools/deploy/base_deploy_to_staging.sh
  recidiviz/tools/deploy/cut_release_candidate.sh
  recidiviz/tools/deploy/deploy_alpha_to_staging.sh
  recidiviz/tools/deploy/deploy_helpers.sh
  recidiviz/tools/deploy/deploy_production.sh
  recidiviz/tools/script_base.sh
Due: generate_docs_for_endpoint

[Case Triage] Add initial engagement metrics (Recidiviz/recidiviz-data#6378)
  frontends/case-triage/package.json
  frontends/case-triage/src/analytics.ts
  frontends/case-triage/src/index.tsx
  frontends/case-triage/src/stores/CaseUpdatesStore/CaseUpdatesStore.ts
  frontends/case-triage/src/stores/ClientsStore/ClientsStore.ts
  frontends/case-triage/src/stores/UserStore.ts
  frontends/case-triage/src/window.d.ts
  frontends/case-triage/yarn.lock
Due: none

Add process and gce labels to app logs (Recidiviz/recidiviz-data#6391)
  recidiviz/utils/metadata.py
  recidiviz/utils/monitoring.py
  recidiviz/utils/structured_logging.py
  setup.cfg
Due: generate_docs_for_endpoint

[Database] Don't autogenerate schema tables when creating database connections (Recidiviz/recidiviz-data#6388)
  recidiviz/case_triage/scoped_sessions.py
  recidiviz/persistence/database/sqlalchemy_engine_manager.py
  recidiviz/tests/case_triage/server_test.py
  recidiviz/tests/utils/fakes.py
  recidiviz/tools/postgres/local_postgres_helpers.py
Due: generate_docs_for_endpoint

expanding connection pool limits (Recidiviz/recidiviz-data#6398)
  recidiviz/cloud_storage/gcsfs_factory.py
Due: generate_docs_for_endpoint

Push Idaho SFTP back to 6am ET (Recidiviz/recidiviz-data#6394)
  cron.yaml
Due: none

Improve undo functionality (Recidiviz/recidiviz-data#6396)
  frontends/case-triage/src/analytics.ts
  frontends/case-triage/src/components/ClientList/ClientList.tsx
  frontends/case-triage/src/components/ClientList/ClientListCard.tsx
  frontends/case-triage/src/stores/API.ts
  frontends/case-triage/src/stores/CaseUpdatesStore/CaseUpdatesStore.ts
  frontends/case-triage/src/stores/ClientsStore/Client.ts
  frontends/case-triage/src/stores/ClientsStore/ClientsStore.ts
  recidiviz/case_triage/api_routes.py
  recidiviz/tests/case_triage/server_test.py
Due: generate_docs_for_endpoint

Fix documentation generator (Recidiviz/recidiviz-data#6387)
  .github/workflows/ci.yml
  recidiviz/tools/docs/documentation_generator.py
Due: generate_docs_for_endpoint

Doc generation checks if current committer is the most recent updater (Recidiviz/recidiviz-data#6390)
  recidiviz/ingest/direct/direct_ingest_documentation_generator.py
Due: generate_docs_for_endpoint

Align needs to start instead of center (Recidiviz/recidiviz-data#6400)
  frontends/case-triage/src/components/CaseCard/CaseCard.styles.tsx
Due: none

Adding a description to judge_nam (Recidiviz/recidiviz-data#6404)
  recidiviz/ingest/direct/regions/us_id/raw_data/us_id_judge.yaml
Due: generate_docs_for_region, generate_docs_for_endpoint

Refactor to remove unneeded function (Recidiviz/recidiviz-data#6392)
  recidiviz/calculator/pipeline/utils/state_utils/us_id/us_id_supervision_compliance.py
  recidiviz/calculator/pipeline/utils/state_utils/us_nd/us_nd_supervision_compliance.py
  recidiviz/calculator/pipeline/utils/supervision_case_compliance_manager.py
Due: generate_docs_for_endpoint

Added markdown generation for enum values (Recidiviz/recidiviz-data#6403)
  recidiviz/ingest/direct/direct_ingest_documentation_generator.py
  recidiviz/ingest/direct/regions/us_id/raw_data/us_id_facility.yaml
  recidiviz/ingest/direct/regions/us_id/raw_data/us_id_offstat.yaml
  recidiviz/tests/ingest/direct/direct_ingest_documentation_generator_test.py
  recidiviz/tests/ingest/direct/fixtures/us_xx/us_xx_multiLineDescription.yaml
Due: generate_docs_for_region, generate_docs_for_endpoint

Fix arg parsing for base deploy to staging (Recidiviz/recidiviz-data#6410)
  recidiviz/tools/deploy/base_deploy_to_staging.sh
Due: generate_docs_for_endpoint

Fixing matrix states included (Recidiviz/recidiviz-data#6397)
  recidiviz/calculator/query/state/state_specific_query_strings.py
  recidiviz/calculator/query/state/views/dashboard/revocation_analysis/revocations_matrix_distribution_by_district.py
  recidiviz/calculator/query/state/views/dashboard/revocation_analysis/revocations_matrix_distribution_by_gender.py
  recidiviz/calculator/query/state/views/dashboard/revocation_analysis/revocations_matrix_distribution_by_race.py
  recidiviz/calculator/query/state/views/dashboard/revocation_analysis/revocations_matrix_distribution_by_risk_level.py
Due: generate_docs_for_endpoint

Guard against missing supervision start date (Recidiviz/recidiviz-data#6420)
  recidiviz/case_triage/querier/case_presenter.py
Due: generate_docs_for_endpoint

State database migration for duplicate external_ids for US_ID (Recidiviz/recidiviz-data#6399)
  recidiviz/persistence/database/migrations/state/versions/2021_03_11_1523_9980028da635_duplicate_external_ids.py
  recidiviz/persistence/database/migrations/state/versions/2021_03_12_0925_340cec024bbd_inc_sent_unique.py
  recidiviz/persistence/database/schema/state/schema.py
  recidiviz/tools/migrations/autogenerate_migration.py
Due: generate_docs_for_endpoint, generate_entity_documentation

Turn on normalized direct ingest in staging (Recidiviz/recidiviz-data#6414)
  recidiviz/ingest/direct/views/direct_ingest_big_query_view_types.py
Due: generate_docs_for_endpoint

Updating US_ID to use mittimus ID in several external ids related to sentences (Recidiviz/recidiviz-data#6381)
  recidiviz/ingest/direct/regions/us_id/ingest_views/templates_early_discharge.py
  recidiviz/ingest/direct/regions/us_id/ingest_views/view_early_discharge_incarceration_sentence_deleted_rows_v2.py
  recidiviz/ingest/direct/regions/us_id/ingest_views/view_early_discharge_supervision_sentence_deleted_rows_v2.py
  recidiviz/ingest/direct/regions/us_id/us_id_controller.py
  recidiviz/ingest/direct/regions/us_id/us_id_early_discharge_incarceration_sentence_deleted_rows_v2.yaml
  recidiviz/ingest/direct/regions/us_id/us_id_early_discharge_supervision_sentence_deleted_rows_v2.yaml
Due: generate_docs_for_region, generate_docs_for_endpoint

Only comparing applicable columns in script (Recidiviz/recidiviz-data#6220)
  recidiviz/tools/compare_dataflow_output_to_sandbox.py
Due: generate_docs_for_endpoint

Use assgn_rsn_cd in ofndr_loc_history to track AWOL status (Recidiviz/recidiviz-data#5989)
  .github/workflows/ci.yml
  recidiviz/ingest/direct/regions/us_id/ingest_views/templates_periods.py
  recidiviz/ingest/direct/regions/us_id/raw_data/us_id_ofndr_loc_hist.yaml
Due: generate_docs_for_region, generate_docs_for_endpoint

[Raw migration] Wait for raw data migration query jobs to complete (Recidiviz/recidiviz-data#6429)
  recidiviz/ingest/direct/controllers/direct_ingest_raw_file_import_manager.py
  recidiviz/tests/ingest/direct/controllers/direct_ingest_raw_file_import_manager_test.py
Due: generate_docs_for_endpoint

[Raw migration] Clean up 'run for all dates' notation (Recidiviz/recidiviz-data#6430)
  recidiviz/ingest/direct/controllers/direct_ingest_raw_file_import_manager.py
  recidiviz/ingest/direct/controllers/direct_ingest_raw_table_migration.py
  recidiviz/ingest/direct/controllers/direct_ingest_raw_table_migration_collector.py
  recidiviz/tests/ingest/direct/controllers/direct_ingest_raw_table_migration_collector_test.py
  recidiviz/tests/ingest/direct/controllers/direct_ingest_raw_table_migration_test.py
Due: generate_docs_for_endpoint

Loop over all DatabaseKeys when migrating (Recidiviz/recidiviz-data#6415)
  recidiviz/tools/migrations/run_migrations_to_head.py
Due: generate_docs_for_endpoint

Update downgrade migration (Recidiviz/recidiviz-data#6435)
  recidiviz/tools/migrations/run_downgrade_migration.py
Due: generate_docs_for_endpoint

Materializing raw table views for id sp view (Recidiviz/recidiviz-data#6443)
  recidiviz/ingest/direct/regions/us_id/ingest_views/view_movement_facility_location_offstat_supervision_periods.py
Due: generate_docs_for_region, generate_docs_for_endpoint

Updating terraform version requirements for deploy (Recidiviz/recidiviz-data#6440)
  recidiviz/tools/deploy/deploy_helpers.sh
Due: generate_docs_for_endpoint

Fix infinite loop in ingest due to mismatch state (Recidiviz/recidiviz-data#6416)
  recidiviz/ingest/direct/controllers/direct_ingest_file_metadata_manager.py
  recidiviz/ingest/direct/controllers/gcsfs_direct_ingest_controller.py
  recidiviz/ingest/direct/controllers/postgres_direct_ingest_file_metadata_manager.py
  recidiviz/ingest/direct/controllers/upload_state_files_to_ingest_bucket_with_date.py
  recidiviz/tests/ingest/direct/controllers/gcsfs_direct_ingest_controller_test.py
  recidiviz/tests/ingest/direct/controllers/upload_state_files_to_ingest_bucket_with_date_test.py
Due: generate_docs_for_endpoint

Fixing is_running_in_ci for Travis builds (Recidiviz/recidiviz-data#6441)
  recidiviz/tests/utils/test_utils.py
Due: generate_docs_for_endpoint

Use rev-list instead of rev-parse for tags (Recidiviz/recidiviz-data#6450)
  recidiviz/tools/deploy/deploy_production.sh
Due: generate_docs_for_endpoint

Set CI and TRAVIS env vars in Travis Docker image (Recidiviz/recidiviz-data#6454)
  .travis.yml
  recidiviz/tests/utils/test_utils.py
Due: generate_docs_for_endpoint
