Repository Recidiviz/pulse-data: changes, and which pre-commit hooks are due for each by the changed paths.
All: generate_docs_for_region, generate_docs_for_endpoint, generate_entity_documentation, generate_calc_documentation, generate_ingest_mappings_schema_documentation, update_terraform_lock_file

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.3.0
    hooks:
      - id: check-yaml
  - repo: https://github.com/psf/black
    rev: 22.3.0
    hooks:
      # This runs on py, pyi, and ipynb files.
      - id: black-jupyter
        language_version: python3
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v2.5.1
    hooks:
      - id: prettier
        types_or: [yaml]
  - repo: https://github.com/pycqa/isort
    rev: 5.6.4
    hooks:
      - id: isort
        name: isort (python)
      - id: isort
        name: isort (pyi)
        types: [pyi]
  - repo: local
    hooks:
      - id: generate_docs_for_region
        name: generate_docs_for_region
        entry: pipenv run python -m recidiviz.tools.docs.region_documentation_generator
        language: system
        files: ^recidiviz/ingest/direct/regions/
        require_serial: true
      - id: generate_docs_for_endpoint
        name: generate_docs_for_endpoint
        entry: pipenv run python -m recidiviz.tools.docs.endpoint_documentation_generator
        language: system
        files: ^recidiviz/
        exclude: >
          (?x)(^recidiviz/tests/|^recidiviz/tools/|^recidiviz/ingest/direct/regions/)$
        require_serial: true
      - id: generate_entity_documentation
        name: generate_entity_documentation
        entry: pipenv run python -m recidiviz.tools.docs.entity_documentation_generator
        language: system
        files: >
          (?x)(^recidiviz/persistence/database/schema/state/schema.py|^recidiviz/persistence/database/schema/history_table_shared_columns_mixin.py|^recidiviz/common/constants/state/)$
        require_serial: true
      - id: generate_calc_documentation
        name: generate_calc_documentation
        entry: pipenv run python -m recidiviz.calculator.calculation_documentation_generator
        language: system
        files: ^recidiviz/calculator/|^recidiviz/metrics/|^recidiviz/.*/views/|^recidiviz/big_query/|^recidiviz/persistence/database/schema/|^recidiviz/persistence/entity/|^recidiviz/task_eligibility/
        exclude: ^recidiviz/tests/|^recidiviz/calculator/modeling/
        require_serial: true
      - id: generate_ingest_mappings_schema_documentation
        name: generate_ingest_mappings_schema_documentation
        entry: pipenv run python -m recidiviz.tools.docs.ingest_mappings_schema_documentation_generator
        language: system
        files: ^recidiviz/ingest/direct/ingest_mappings/yaml_schema/|^docs/engineering/ingest_mapping_schema/
        require_serial: true
      - id: update_terraform_lock_file
        name: update_terraform_lock_file
        entry: recidiviz/tools/deploy/update_terraform_lock.sh
        language: script
        files: ^recidiviz/tools/deploy/terraform/
        require_serial: true

[US_ND] Remap StateIncarcerationType and StateCustodialAuthority (Recidiviz/recidiviz-data#32096)
  recidiviz/ingest/direct/regions/us_nd/us_nd_custom_enum_parsers.py
Due: generate_docs_for_region, generate_docs_for_endpoint

Create ActionStrategySurfacedEvents (Recidiviz/recidiviz-data#31896)
  recidiviz/persistence/database/migrations/insights/versions/2024_08_06_2339_1b4c27ac5549_create_table_action_strategy_surfaced_.py
  recidiviz/persistence/database/schema/insights/schema.py
  recidiviz/tests/case_triage/outliers/snapshots/snap_outliers_routes_test.py
  recidiviz/tests/persistence/database/schema_utils_test.py
  recidiviz/tools/insights/fixtures/action_strategy_surfaced_events.json
  recidiviz/tools/insights/fixtures/configurations.json
Due: generate_docs_for_endpoint, generate_calc_documentation

[US_ND] Add datetime parser to raw data YAML (Recidiviz/recidiviz-data#32126)
  recidiviz/ingest/direct/regions/us_nd/raw_data/us_nd_elite_OffenderAssessmentItems.yaml
Due: generate_docs_for_region, generate_docs_for_endpoint

Adds TES specific information to markdown files (Recidiviz/recidiviz-data#31952)
  recidiviz/calculator/calculation_documentation_generator.py
  recidiviz/calculator/view_type_specific_documentation.py
  recidiviz/task_eligibility/criteria_condition.py
  recidiviz/tests/task_eligibility/criteria_condition_test.py
Due: generate_docs_for_endpoint, generate_calc_documentation

[Justice Counts] Fix version script to handle JSON array input. (Recidiviz/recidiviz-data#32142)
  recidiviz/tools/deploy/justice_counts/version_of_latest_staging_deploy.sh
Due: generate_docs_for_endpoint

[SentencesV2] Update MO consecutive sentences and exclude consecutive sentence check in IX (Recidiviz/recidiviz-data#32143)
  recidiviz/ingest/direct/regions/us_mo/ingest_views/view_sentence.py
  recidiviz/pipelines/ingest/state/validator.py
Due: generate_docs_for_region, generate_docs_for_endpoint

Fix Insights/Workflows configuration pages in Admin Panel (Recidiviz/recidiviz-data#32160)
  recidiviz/persistence/database/sqlalchemy_engine_manager.py
Due: generate_docs_for_endpoint

Fixes non-deterministic query templates (Recidiviz/recidiviz-data#32164)
  recidiviz/aggregated_metrics/aggregated_metrics_utils.py
  recidiviz/aggregated_metrics/period_span_aggregated_metrics.py
  recidiviz/calculator/query/state/views/analyst_data/models/metric_unit_of_analysis_type.py
  recidiviz/calculator/query/state/views/analyst_data/workflows_primary_user_registration_sessions.py
  recidiviz/calculator/query/state/views/outliers/supervision_officer_outlier_status.py
Due: generate_docs_for_endpoint, generate_calc_documentation

[SCHEMA CHANGE] Add column incarceration_incident_severity (Recidiviz/recidiviz-data#32125)
  recidiviz/common/constants/state/enum_canonical_strings.py
  recidiviz/common/constants/state/state_incarceration_incident.py
  recidiviz/persistence/database/schema/state/schema.py
  recidiviz/persistence/entity/state/entities.py
  recidiviz/persistence/entity/state/normalized_entities.py
  recidiviz/tests/persistence/database/schema/state/schema_test.py
Due: generate_docs_for_endpoint, generate_entity_documentation, generate_calc_documentation

[US MA] Ingest view for MA State Person (Recidiviz/recidiviz-data#32100)
  recidiviz/ingest/direct/regions/us_ma/ingest_mappings/us_ma_state_person.yaml
  recidiviz/ingest/direct/regions/us_ma/ingest_views/view_state_person.py
Due: generate_docs_for_region, generate_docs_for_endpoint

[US_IX][PSI] Fixed bug that filtered out PSIs with Due_date in future (Recidiviz/recidiviz-data#32180)
  recidiviz/calculator/query/state/views/sentencing/us_ix/sentencing_case_template.py
Due: generate_docs_for_endpoint, generate_calc_documentation

Fixes bug in custom agg metrics util functions for ambiguous period column (Recidiviz/recidiviz-data#32181)
  recidiviz/tools/analyst/aggregated_metrics_utils.py
Due: generate_docs_for_endpoint

[US_ME] Reclass Logic Changes (Recidiviz/recidiviz-data#31874)
  recidiviz/task_eligibility/criteria/state_specific/us_me/incarceration_past_annual_classification_date.py
  recidiviz/task_eligibility/criteria/state_specific/us_me/incarceration_past_semi_annual_classification_date.py
  recidiviz/task_eligibility/utils/us_me_query_fragments.py
Due: generate_docs_for_endpoint, generate_calc_documentation

[raw data import dag] e2e testing, more bug fixes (Recidiviz/recidiviz-data#32131)
  recidiviz/airflow/dags/raw_data/file_metadata_tasks.py
  recidiviz/airflow/dags/raw_data/write_import_session_query_generator.py
  recidiviz/airflow/dags/raw_data_import_dag.py
  recidiviz/airflow/tests/fixtures/raw_data/__init__.py
  recidiviz/airflow/tests/fixtures/raw_data/unprocessed_2024-01-25T16:35:33:617135_raw_singlePrimaryKey.csv
  recidiviz/airflow/tests/fixtures/raw_data/unprocessed_2024-01-25T16:35:33:617135_raw_tagBasicData.csv
  recidiviz/airflow/tests/raw_data/file_metadata_tasks_test.py
  recidiviz/airflow/tests/raw_data_import_dag_test.py
  recidiviz/airflow/tests/test_utils.py
  recidiviz/airflow/tests/utils/dag_helper_functions.py
  recidiviz/fakes/fake_gcs_file_system.py
  recidiviz/tests/ingest/direct/fake_regions/us_xx/raw_data/us_xx_singlePrimaryKey.yaml
  recidiviz/tools/validate_source_visibility.py
Due: generate_docs_for_endpoint

[US OR] Add incident severity field. (Recidiviz/recidiviz-data#32139)
  recidiviz/ingest/direct/regions/us_or/ingest_mappings/us_or_Incarceration_Incident.yaml
Due: generate_docs_for_region, generate_docs_for_endpoint

[raw data import dag] more tests, more bug fixes (Recidiviz/recidiviz-data#32177)
  recidiviz/airflow/dags/raw_data/file_metadata_tasks.py
  recidiviz/airflow/dags/raw_data/gcs_file_processing_tasks.py
  recidiviz/airflow/dags/raw_data_import_dag.py
  recidiviz/airflow/tests/fixtures/raw_data/unprocessed_2024-01-25T16:35:33:617135_raw_customDatetimeSql.csv
  recidiviz/airflow/tests/fixtures/raw_data/unprocessed_2024-01-25T16:35:33:617135_raw_tagChunkedFile-0.csv
  recidiviz/airflow/tests/fixtures/raw_data/unprocessed_2024-01-25T16:35:33:617135_raw_tagChunkedFile-1.csv
  recidiviz/airflow/tests/fixtures/raw_data/unprocessed_2024-01-25T16:35:33:617135_raw_tagChunkedFile-2.csv
  recidiviz/airflow/tests/fixtures/raw_data/unprocessed_2024-01-25T16:35:33:617135_raw_tagCustomLineTerminatorNonUTF8.csv
  recidiviz/airflow/tests/raw_data_import_dag_test.py
  recidiviz/airflow/tests/test_utils.py
  recidiviz/tests/ingest/direct/fake_regions/us_ll/raw_data/migrations/__init__.py
  recidiviz/tests/ingest/direct/fake_regions/us_xx/raw_data/us_xx_tagChunkedFile.yaml
  recidiviz/tests/ingest/direct/fake_regions/us_yy/raw_data/__init__.py
Due: generate_docs_for_endpoint

[US_IX][PSI] Bug fixes and adding a minAge & maxAge fields to community opportunity table (Recidiviz/recidiviz-data#32084)
  recidiviz/calculator/query/state/views/sentencing/community_opportunity_record.py
  recidiviz/calculator/query/state/views/sentencing/us_ix/sentencing_community_opportunity_template.py
Due: generate_docs_for_endpoint, generate_calc_documentation

[Pipfile] Import asyncpg (Recidiviz/recidiviz-data#32158)
  Pipfile
  Pipfile.lock
  recidiviz/pipelines/dataflow_flex_setup.py
Due: generate_docs_for_endpoint

[Workflows] Add ID parole date sidebar component option (Recidiviz/recidiviz-data#32157)
  frontends/admin-panel/src/components/Workflows/OpportunityConfigurationForm/SidebarComponents.tsx
Due: none

[US_MI] Revise hydration of housing_unit to match SCC form and add security classification data from COMS to scc form (Recidiviz/recidiviz-data#32148)
  recidiviz/ingest/direct/regions/us_mi/ingest_mappings/us_mi_incarceration_periods_v3.yaml
  recidiviz/ingest/direct/regions/us_mi/ingest_views/view_incarceration_periods_v3.py
  recidiviz/task_eligibility/utils/us_mi_query_fragments.py
  recidiviz/view_registry/raw_data_reference_reasons.yaml
Due: generate_docs_for_region, generate_docs_for_endpoint, generate_calc_documentation

[Insights] Add automated validations for percent changes to statewide targets and number of outliers (Recidiviz/recidiviz-data#31979)
  recidiviz/calculator/query/state/views/outliers/supervision_officer_outlier_status_archive.py
  recidiviz/validation/views/state/outliers/configured_validations.py
  recidiviz/validation/views/state/outliers/outlier_status_percent_change_exceeded.py
  recidiviz/validation/views/state/outliers/statewide_target_percent_change_exceeded.py
Due: generate_docs_for_endpoint, generate_calc_documentation

[Workflows] Update nested US_IX in ETL delegates (Recidiviz/recidiviz-data#32135)
  recidiviz/tests/workflows/etl/fixtures/client_record.json
  recidiviz/tests/workflows/etl/fixtures/resident_record.json
  recidiviz/tests/workflows/etl/workflows_client_etl_delegate_test.py
  recidiviz/tests/workflows/etl/workflows_resident_etl_delegate_test.py
  recidiviz/workflows/etl/workflows_client_etl_delegate.py
  recidiviz/workflows/etl/workflows_resident_etl_delegate.py
Due: generate_docs_for_endpoint

[US_MO] MOSOP groups update to not count missing life_flag as an exclusion (Recidiviz/recidiviz-data#31981)
  recidiviz/calculator/query/state/views/analyst_data/us_mo/us_mo_mosop_prio_groups.py
Due: generate_docs_for_endpoint, generate_calc_documentation

[Normalization] Add CreatePersonIdToStaffIdMapping for normalization in ingest pipelines (Recidiviz/recidiviz-data#32169)
  recidiviz/pipelines/ingest/state/create_person_id_to_staff_id_mapping.py
  recidiviz/tests/pipelines/ingest/state/create_person_id_to_staff_id_mapping_test.py
Due: generate_docs_for_endpoint

[raw data import dag] remove `region_module_override` from tasks/operators (Recidiviz/recidiviz-data#32201)
  recidiviz/airflow/dags/raw_data/bq_load_tasks.py
  recidiviz/airflow/dags/raw_data/file_metadata_tasks.py
  recidiviz/airflow/dags/raw_data/get_all_unprocessed_bq_file_metadata_sql_query_generator.py
  recidiviz/airflow/tests/raw_data/bq_load_tasks_test.py
  recidiviz/airflow/tests/raw_data/file_metadata_tasks_test.py
  recidiviz/airflow/tests/raw_data/get_all_unprocessed_bq_file_metadata_sql_query_generator_test.py
Due: generate_docs_for_endpoint

[admin panel] home page redirection (Recidiviz/recidiviz-data#32200)
  frontends/admin-panel/src/components/App.tsx
Due: none

[admin panel] fix latest pipeline run endpoint (Recidiviz/recidiviz-data#32195)
  frontends/admin-panel/src/AdminPanelAPI/IngestOperations.ts
Due: none

[Justice Counts] Update commits_to_be_deployed script to support array and string tags (Recidiviz/recidiviz-data#32146)
  recidiviz/tools/deploy/justice_counts/commits_to_be_deployed.sh
Due: generate_docs_for_endpoint

[Insights] Add ND to insights product exports (Recidiviz/recidiviz-data#32188)
  recidiviz/metrics/export/products/products.yaml
Due: generate_docs_for_endpoint, generate_calc_documentation

[Justice Counts] Update Child Agency Script to Take County Column (Recidiviz/recidiviz-data#32150)
  recidiviz/tools/justice_counts/add_child_agencies.py
Due: generate_docs_for_endpoint

[US_ND] Exclude certain caseload types for outliers (Recidiviz/recidiviz-data#32202)
  recidiviz/outliers/outliers_configs.py
Due: generate_docs_for_endpoint

A few ingest_filename_normalization cloud function fixes (Recidiviz/recidiviz-data#32203)
  recidiviz/cloud_functions/ingest_filename_normalization.py
  recidiviz/tests/cloud_functions/ingest_filename_normalization_test.py
  recidiviz/tools/deploy/terraform/cloud-functions.tf
Due: generate_docs_for_endpoint, update_terraform_lock_file

[US_PA] Added almost eligible feature for Admin Supervision (Recidiviz/recidiviz-data#31636)
  recidiviz/calculator/query/state/views/workflows/firestore/us_pa_transfer_to_administrative_supervision_form_record.py
Due: generate_docs_for_endpoint, generate_calc_documentation

[Justice Counts] Write path for new MetricSetting configuration fields (Recidiviz/recidiviz-data#32117)
  recidiviz/justice_counts/control_panel/README.md
  recidiviz/justice_counts/metrics/metric_definition.py
  recidiviz/justice_counts/metrics/metric_disaggregation_data.py
  recidiviz/justice_counts/metrics/metric_interface.py
  recidiviz/tests/justice_counts/control_panel/server_test.py
  recidiviz/tests/justice_counts/metric_interface_test.py
  recidiviz/tests/justice_counts/utils/utils.py
Due: generate_docs_for_endpoint

[Justice Counts] Update prod deploy and other scripts to support array and string tags (Recidiviz/recidiviz-data#32206)
  recidiviz/tools/deploy/justice_counts/deploy_for_playtesting.sh
  recidiviz/tools/deploy/justice_counts/deploy_to_prod.sh
  recidiviz/tools/deploy/justice_counts/deploy_to_staging.sh
  recidiviz/tools/deploy/justice_counts/version_of_latest_staging_deploy.sh
Due: generate_docs_for_endpoint

[US_ND][Outliers] Remove officers who supervise themselves (Recidiviz/recidiviz-data#32225)
  recidiviz/outliers/outliers_configs.py
Due: generate_docs_for_endpoint

Replace flask-sqlalchemy-session and unpin werkzeug. (Recidiviz/recidiviz-data#32209)
  Pipfile
  Pipfile.lock
  recidiviz/auth/auth_users_endpoint.py
  recidiviz/case_triage/outliers/outliers_routes.py
  recidiviz/justice_counts/control_panel/routes/admin.py
  recidiviz/justice_counts/control_panel/routes/api.py
  recidiviz/justice_counts/control_panel/server.py
  recidiviz/persistence/database/sqlalchemy_flask_utils.py
  recidiviz/tests/auth/auth_endpoint_test.py
  recidiviz/tests/case_triage/outliers/outliers_routes_test.py
  recidiviz/tests/justice_counts/control_panel/admin_test.py
  recidiviz/tests/justice_counts/control_panel/server_test.py
  stubs/greenlet.pyi
Due: generate_docs_for_endpoint

[US_MI] Ingest COMS probation violation types, COMS parole violation responses, and update supervision_client_events (Recidiviz/recidiviz-data#32034)
  recidiviz/calculator/query/state/views/outliers/supervision_client_events.py
  recidiviz/calculator/query/state/views/workflows/firestore/us_mi_complete_classification_review_form_record.py
  recidiviz/ingest/direct/regions/us_mi/ingest_mappings/us_mi_supervision_violations.yaml
  recidiviz/ingest/direct/regions/us_mi/ingest_mappings/us_mi_supervision_violations_coms.yaml
  recidiviz/ingest/direct/regions/us_mi/ingest_views/view_supervision_violations.py
  recidiviz/ingest/direct/regions/us_mi/ingest_views/view_supervision_violations_coms.py
  recidiviz/tests/ingest/direct/regions/ingest_view_cte_comment_exemptions.py
  recidiviz/tests/view_registry/deployed_views_test.py
  recidiviz/validation/views/state/stable_counts/stable_counts.py
  recidiviz/view_registry/raw_data_reference_reasons.yaml
Due: generate_docs_for_region, generate_docs_for_endpoint, generate_calc_documentation

[Justice Counts] Migrate Invalid Sheet Error to WorkbookStandardizer (Recidiviz/recidiviz-data#31491)
  recidiviz/justice_counts/bulk_upload/spreadsheet_uploader.py
  recidiviz/justice_counts/bulk_upload/workbook_standardizer.py
  recidiviz/justice_counts/bulk_upload/workbook_uploader.py
  recidiviz/justice_counts/spreadsheet.py
  recidiviz/tests/justice_counts/bulk_upload/bulk_upload_fixtures/law_enforcement/arrests.csv
  recidiviz/tests/justice_counts/bulk_upload/bulk_upload_fixtures/law_enforcement/law_enforcement_metrics.xlsx
  recidiviz/tests/justice_counts/bulk_upload/bulk_upload_test.py
  recidiviz/tests/justice_counts/bulk_upload/workbook_standarizer_test.py
  recidiviz/tests/justice_counts/control_panel/server_test.py
  recidiviz/tests/justice_counts/spreadsheet_test.py
Due: generate_docs_for_endpoint

[Insights] only return outliers data for the configured category type (Recidiviz/recidiviz-data#32106)
  recidiviz/case_triage/outliers/outliers_routes.py
  recidiviz/outliers/querier/querier.py
  recidiviz/outliers/types.py
  recidiviz/tests/case_triage/outliers/outliers_routes_test.py
  recidiviz/tests/case_triage/outliers/snapshots/snap_outliers_routes_test.py
  recidiviz/tests/outliers/querier_test.py
  recidiviz/tests/outliers/snapshots/snap_querier_test.py
  recidiviz/tools/insights/fixtures/supervision_officer_outlier_status.json
Due: generate_docs_for_endpoint
