Repository Recidiviz/pulse-data: changes, and which pre-commit hooks are due for each by the changed paths.
All: generate_docs_for_region, generate_docs_for_endpoint, generate_entity_documentation

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.3.0
    hooks:
      - id: check-yaml
  - repo: https://github.com/psf/black
    rev: 20.8b1
    hooks:
      - id: black
        language_version: python3
  - repo: local
    hooks:
      - id: generate_docs_for_region
        name: generate_docs_for_region
        entry: pipenv run python -m recidiviz.tools.docs.region_documentation_generator
        language: system
        files: ^recidiviz/ingest/direct/regions/
        require_serial: true
      - id: generate_docs_for_endpoint
        name: generate_docs_for_endpoint
        entry: pipenv run python -m recidiviz.tools.docs.endpoint_documentation_generator
        language: system
        files: ^recidiviz/
        exclude: >
          (?x)(^recidiviz/tests/|^recidiviz/tools/|^recidiviz/ingest/direct/regions/)$
        require_serial: true
      - id: generate_entity_documentation
        name: generate_entity_documentation
        entry: pipenv run python -m recidiviz.tools.docs.entity_documentation_generator
        language: system
        files: >
           (?x)(^recidiviz/persistence/database/schema/state/schema.py|^recidiviz/persistence/database/schema/history_table_shared_columns_mixin.py)$
        require_serial: true

US_ID Supervision Bench Warrant and Absconsion Compartments (recidiviz/recidiviz-data#7496)
  recidiviz/calculator/query/state/views/analyst_data/analyst_data_views.py
  recidiviz/calculator/query/state/views/analyst_data/compartment_level_2_dedup_priority.py
  recidiviz/calculator/query/state/views/analyst_data/compartment_sessions.py
  recidiviz/calculator/query/state/views/analyst_data/dataflow_sessions.py
  recidiviz/calculator/query/state/views/analyst_data/us_id_supervision_out_of_state_population_metrics_preprocessed.py
  recidiviz/calculator/query/state/views/analyst_data/us_id_supervision_population_metrics_preprocessed.py
Due: generate_docs_for_endpoint

[Case Triage] Adds backend components for our end-to-end suite (recidiviz/recidiviz-data#7541)
  docker-compose.case-triage.test.yaml
  frontends/case-triage/README.md
  frontends/case-triage/e2e/features/login.feature
  frontends/case-triage/e2e/features/needs.feature
  frontends/case-triage/e2e/pages/HomePage.ts
  frontends/case-triage/e2e/pages/LoginPage.ts
  frontends/case-triage/e2e/pages/Page.ts
  frontends/case-triage/e2e/steps/helpers.ts
  frontends/case-triage/e2e/steps/scaffold.ts
  frontends/case-triage/e2e/steps/then.ts
  frontends/case-triage/e2e/steps/when.ts
  frontends/case-triage/e2e/testing-library-webdriver-io.d.ts
  frontends/case-triage/package.json
  frontends/case-triage/src/components/CaseCard/CaseCard.tsx
  frontends/case-triage/src/components/CaseCard/CaseCardButtons.tsx
  frontends/case-triage/src/components/CaseCard/NeedsEmployment.tsx
  frontends/case-triage/src/components/CaseCard/NeedsFaceToFaceContact.tsx
  frontends/case-triage/src/components/CaseCard/NeedsRiskAssessment.tsx
  frontends/case-triage/src/components/ClientList/ClientList.styles.tsx
  frontends/case-triage/src/components/ClientList/ClientList.tsx
  frontends/case-triage/src/components/ClientList/ClientListCard.tsx
  frontends/case-triage/src/components/ClientList/EmptyStateCard.tsx
  frontends/case-triage/src/components/FeedbackFormModal/BaseForm.tsx
  frontends/case-triage/src/components/FeedbackFormModal/FeedbackForm.styles.tsx
  frontends/case-triage/src/components/TestIDs.ts
  frontends/case-triage/wdio.conf.js
  frontends/case-triage/yarn.lock
  recidiviz/case_triage/e2e_routes.py
  recidiviz/case_triage/server.py
  recidiviz/tools/case_triage/load_fixtures.py
  recidiviz/tools/case_triage/load_fixtures.sh
  stubs/flask_wtf/csrf.pyi
  stubs/psycopg2/extensions.pyi
Due: generate_docs_for_endpoint

fixing validations (recidiviz/recidiviz-data#7615)
  recidiviz/validation/config/regions/us_nd/us_nd_validation_config.yaml
  recidiviz/validation/config/regions/us_pa/us_pa_validation_config.yaml
Due: generate_docs_for_endpoint

Always trigger COVID export immediately (recidiviz/recidiviz-data#7614)
  recidiviz/airflow/dag/calculation_pipeline_dag.py
Due: generate_docs_for_endpoint

Add pytest_alembic stubs (recidiviz/recidiviz-data#7605)
  recidiviz/tests/persistence/database/migrations_test.py
  recidiviz/tools/create_enum_migration.py
  stubs/pytest_alembic/__init__.pyi
  stubs/pytest_alembic/history.pyi
Due: generate_docs_for_endpoint

Add a series of mypy types (recidiviz/recidiviz-data#7612)
  recidiviz/ingest/scrape/scraper.py
  recidiviz/ingest/scrape/sessions.py
  recidiviz/tests/ingest/scrape/base_scraper_test.py
  recidiviz/tests/ingest/scrape/docket_test.py
  recidiviz/tests/ingest/scrape/infer_release_test.py
  recidiviz/tests/ingest/scrape/ingest_utils_test.py
  recidiviz/tests/ingest/scrape/manifest_validation_test.py
  recidiviz/tests/ingest/scrape/scrape_key_test.py
  recidiviz/tests/ingest/scrape/scraper_cloud_task_manager_test.py
  recidiviz/tests/ingest/scrape/scraper_control_test.py
  recidiviz/tests/ingest/scrape/scraper_status_test.py
  recidiviz/tests/ingest/scrape/scraper_success_test.py
  recidiviz/tests/ingest/scrape/scraper_test.py
  recidiviz/tests/ingest/scrape/scraper_utils_test.py
  recidiviz/tests/ingest/scrape/sessions_test.py
  recidiviz/tests/ingest/scrape/tracker_test.py
  recidiviz/tests/ingest/scrape/worker_test.py
  recidiviz/tests/utils/fake_region.py
  recidiviz/utils/regions.py
  setup.cfg
Due: generate_docs_for_endpoint

Adjust the PO Monthly report template to allow for metric optionality (recidiviz/recidiviz-data#7578)
  recidiviz/calculator/query/state/views/po_report/po_monthly_report_data.py
  recidiviz/reporting/context/context_utils.py
  recidiviz/reporting/context/po_monthly_report/attachment.txt.jinja2
  recidiviz/reporting/context/po_monthly_report/constants.py
  recidiviz/reporting/context/po_monthly_report/context.py
  recidiviz/reporting/context/po_monthly_report/state_utils/__init__.py
  recidiviz/reporting/context/po_monthly_report/state_utils/po_monthly_report_metrics_delegate.py
  recidiviz/reporting/context/po_monthly_report/state_utils/po_monthly_report_metrics_delegate_factory.py
  recidiviz/reporting/context/po_monthly_report/state_utils/us_id/__init__.py
  recidiviz/reporting/context/po_monthly_report/state_utils/us_id/us_id_metrics_delegate.py
  recidiviz/reporting/context/po_monthly_report/state_utils/us_pa/__init__.py
  recidiviz/reporting/context/po_monthly_report/state_utils/us_pa/us_pa_metrics_delegate.py
  recidiviz/reporting/context/po_monthly_report/template.html
  recidiviz/reporting/context/po_monthly_report/template.html.jinja2
  recidiviz/reporting/context/report_context.py
  recidiviz/reporting/reporting_endpoint.py
  recidiviz/tests/reporting/context/context_utils_test.py
  recidiviz/tests/reporting/context/po_monthly_report/po_monthly_report_data_fixture.json
  recidiviz/tests/reporting/context/po_monthly_report/po_monthly_report_test.py
  recidiviz/tests/reporting/email_generation_test.py
  recidiviz/validation/views/state/po_report_missing_fields.py
Due: generate_docs_for_endpoint

Added completion date being non null as a condition (recidiviz/recidiviz-data#7602)
  recidiviz/calculator/query/state/views/analyst_data/compartment_sentences.py
Due: generate_docs_for_endpoint

[US_PA] Properly classify administrative releases as STATUS_CHANGE (recidiviz/recidiviz-data#7243)
  recidiviz/ingest/direct/regions/us_pa/ingest_views/view_sci_incarceration_period_v2.py
  recidiviz/ingest/direct/regions/us_pa/us_pa_controller.py
  recidiviz/ingest/direct/regions/us_pa/us_pa_enum_helpers.py
  recidiviz/ingest/direct/regions/us_pa/us_pa_sci_incarceration_period_v2.yaml
  recidiviz/tests/ingest/direct/direct_ingest_fixtures/us_pa/admission_reason_raw_text.csv
  recidiviz/tests/ingest/direct/direct_ingest_fixtures/us_pa/release_reason_raw_text.csv
  recidiviz/tests/ingest/direct/direct_ingest_fixtures/us_pa/sci_incarceration_period.csv
  recidiviz/tests/ingest/direct/direct_ingest_fixtures/us_pa/sci_incarceration_period_v2.csv
  recidiviz/tests/ingest/direct/regions/us_pa/us_pa_controller_test.py
Due: generate_docs_for_region, generate_docs_for_endpoint

Split out AdminPanelAPI and set target _blank (recidiviz/recidiviz-data#7617)
  frontends/admin-panel/src/AdminPanelAPI.ts
  frontends/admin-panel/src/AdminPanelAPI/CaseTriage.ts
  frontends/admin-panel/src/AdminPanelAPI/DataDiscovery.ts
  frontends/admin-panel/src/AdminPanelAPI/IngestOperations.ts
  frontends/admin-panel/src/AdminPanelAPI/index.ts
  frontends/admin-panel/src/AdminPanelAPI/utils.ts
  frontends/admin-panel/src/components/App.tsx
  frontends/admin-panel/src/components/CloudSQLExportView.tsx
  frontends/admin-panel/src/components/CloudSQLImportView.tsx
  frontends/admin-panel/src/components/ColumnView.tsx
  frontends/admin-panel/src/components/DataDiscoveryView.tsx
  frontends/admin-panel/src/components/DataFreshnessView.tsx
  frontends/admin-panel/src/components/DatasetView.tsx
  frontends/admin-panel/src/components/IngestOperationsView/IngestInstanceCard.tsx
  frontends/admin-panel/src/components/IngestOperationsView/IngestLogsCard.tsx
  frontends/admin-panel/src/components/IngestOperationsView/IngestQueuesTable.tsx
  frontends/admin-panel/src/components/IngestOperationsView/index.tsx
  frontends/admin-panel/src/components/IngestStateSelector.tsx
  frontends/admin-panel/src/components/NewTabLink.tsx
  frontends/admin-panel/src/components/POFeedbackView.tsx
  frontends/admin-panel/src/components/TableView.tsx
Due: none

Final handling of selecting one SP (recidiviz/recidiviz-data#7439)
  recidiviz/calculator/pipeline/incarceration/identifier.py
  recidiviz/calculator/pipeline/supervision/identifier.py
  recidiviz/calculator/pipeline/utils/state_utils/state_calculation_config_manager.py
  recidiviz/calculator/pipeline/utils/state_utils/us_id/us_id_commitment_from_supervision_utils.py
  recidiviz/calculator/pipeline/utils/state_utils/us_nd/us_nd_commitment_from_supervision_utils.py
  recidiviz/calculator/pipeline/utils/supervision_period_utils.py
  recidiviz/tests/calculator/pipeline/incarceration/identifier_test.py
  recidiviz/tests/calculator/pipeline/utils/state_utils/state_calculation_config_manager_test.py
  recidiviz/tests/calculator/pipeline/utils/state_utils/us_id/us_id_commitment_from_supervision_utils_test.py
  recidiviz/tests/calculator/pipeline/utils/state_utils/us_nd/us_nd_commitment_from_supervision_utils_test.py
Due: generate_docs_for_endpoint

Set supervision level on either current or most recent supervision period in ND (recidiviz/recidiviz-data#7611)
  recidiviz/ingest/direct/regions/us_nd/ingest_views/view_docstars_offendercasestable_with_officers.py
Due: generate_docs_for_region, generate_docs_for_endpoint

Ignore stray character in KY May 6, 2021 report (recidiviz/recidiviz-data#7610)
  recidiviz/ingest/aggregate/regions/ky/ky_aggregate_ingest.py
Due: generate_docs_for_endpoint

Break up metric export (recidiviz/recidiviz-data#7522)
  recidiviz/calculator/calculation_documentation_generator.py
  recidiviz/cloud_functions/cloud_function_utils.py
  recidiviz/metrics/export/export_config.py
  recidiviz/metrics/export/products.yaml
  recidiviz/metrics/export/view_export_cloud_task_manager.py
  recidiviz/metrics/export/view_export_manager.py
  recidiviz/tests/calculator/calculation_documentation_generator_test.py
  recidiviz/tests/cloud_functions/cloud_function_utils_test.py
  recidiviz/tests/metrics/export/export_config_test.py
  recidiviz/tests/metrics/export/fixtures/fixture_products.yaml
  recidiviz/tests/metrics/export/view_export_cloud_task_manager_test.py
  recidiviz/tests/metrics/export/view_export_manager_test.py
  recidiviz/tools/export_metrics_from_dataset_to_gcs.py
Due: generate_docs_for_endpoint

[Case Triage] Add experiment for profile v2 (recidiviz/recidiviz-data#7620)
  frontends/case-triage/src/components/CaseCard/CaseCard.tsx
  frontends/case-triage/src/components/CaseCard/CaseCard.types.tsx
  frontends/case-triage/src/components/CaseCard/ClientProfileCard.tsx
  frontends/case-triage/src/components/CaseCard/ExperimentWrapper.tsx
  frontends/case-triage/src/components/TestIDs.ts
  frontends/case-triage/src/stores/UserStore.ts
  recidiviz/case_triage/authorization.py
Due: generate_docs_for_endpoint

Adjust dependency trees for gitbook sync (recidiviz/recidiviz-data#7600)
  recidiviz/calculator/calculation_documentation_generator.py
Due: generate_docs_for_endpoint

fix typo (recidiviz/recidiviz-data#7624)
  recidiviz/ingest/direct/regions/us_tn/raw_data/us_tn_ISCRelatedSentence.yaml
Due: generate_docs_for_region, generate_docs_for_endpoint

Internal links for metrics section of Calc Catalog (recidiviz/recidiviz-data#7570)
  recidiviz/calculator/calculation_documentation_generator.py
  recidiviz/tests/calculator/calculation_documentation_generator_test.py
Due: generate_docs_for_endpoint

[US_ND] Probation revocation calculation followup (recidiviz/recidiviz-data#7411)
  recidiviz/calculator/pipeline/incarceration/identifier.py
  recidiviz/calculator/pipeline/supervision/identifier.py
  recidiviz/calculator/pipeline/utils/incarceration_period_index.py
  recidiviz/calculator/pipeline/utils/state_utils/state_calculation_config_manager.py
  recidiviz/calculator/pipeline/utils/state_utils/us_id/us_id_commitment_from_supervision_utils.py
  recidiviz/calculator/pipeline/utils/state_utils/us_nd/us_nd_commitment_from_supervision_utils.py
  recidiviz/tests/calculator/pipeline/utils/incarceration_period_index_test.py
  recidiviz/tests/calculator/pipeline/utils/state_utils/state_calculation_config_manager_test.py
  recidiviz/tests/calculator/pipeline/utils/state_utils/us_id/us_id_commitment_from_supervision_utils_test.py
  recidiviz/tests/calculator/pipeline/utils/state_utils/us_nd/us_nd_commitment_from_supervision_utils_test.py
Due: generate_docs_for_endpoint

Upgrades database IAM role to GCS objectAdmin (recidiviz/recidiviz-data#7625)
  recidiviz/tools/deploy/terraform/modules/cloud-sql-instance/main.tf
Due: generate_docs_for_endpoint

[skip validations] Split out routes in backend (recidiviz/recidiviz-data#7621)
  recidiviz/admin_panel/all_routes.py
  recidiviz/admin_panel/routes/ingest_ops.py
Due: generate_docs_for_endpoint

Revert "Break up metric export (recidiviz/recidiviz-data#7522)" (recidiviz/recidiviz-data#7630)
  recidiviz/calculator/calculation_documentation_generator.py
  recidiviz/cloud_functions/cloud_function_utils.py
  recidiviz/metrics/export/export_config.py
  recidiviz/metrics/export/products.yaml
  recidiviz/metrics/export/view_export_cloud_task_manager.py
  recidiviz/metrics/export/view_export_manager.py
  recidiviz/tests/calculator/calculation_documentation_generator_test.py
  recidiviz/tests/cloud_functions/cloud_function_utils_test.py
  recidiviz/tests/metrics/export/export_config_test.py
  recidiviz/tests/metrics/export/fixtures/fixture_products.yaml
  recidiviz/tests/metrics/export/view_export_cloud_task_manager_test.py
  recidiviz/tests/metrics/export/view_export_manager_test.py
  recidiviz/tools/export_metrics_from_dataset_to_gcs.py
Due: generate_docs_for_endpoint

Adding an event and metric for the violations pipeline (recidiviz/recidiviz-data#7517)
  recidiviz/calculator/pipeline/utils/event_utils.py
  recidiviz/calculator/pipeline/violation/__init__.py
  recidiviz/calculator/pipeline/violation/identifier.py
  recidiviz/calculator/pipeline/violation/metric_producer.py
  recidiviz/calculator/pipeline/violation/metrics.py
  recidiviz/calculator/pipeline/violation/pipeline.py
  recidiviz/calculator/pipeline/violation/violation_event.py
Due: generate_docs_for_endpoint

[Multi-DB] Hook new federated export functionality into existing orchestration (recidiviz/recidiviz-data#7626)
  recidiviz/persistence/database/bq_refresh/bq_refresh.py
  recidiviz/persistence/database/bq_refresh/bq_refresh_cloud_task_manager.py
  recidiviz/persistence/database/bq_refresh/cloud_sql_to_bq_refresh_config.py
  recidiviz/persistence/database/bq_refresh/cloud_sql_to_bq_refresh_control.py
  recidiviz/persistence/database/bq_refresh/cloud_sql_to_bq_refresh_runner.py
  recidiviz/persistence/database/bq_refresh/cloud_sql_to_gcs_export.py
  recidiviz/persistence/database/bq_refresh/federated_cloud_sql_to_bq_refresh.py
  recidiviz/tests/big_query/view_update_manager_test.py
  recidiviz/tests/persistence/database/bq_refresh/bq_refresh_cloud_task_manager_test.py
  recidiviz/tests/persistence/database/bq_refresh/cloud_sql_to_bq_refresh_control_test.py
  recidiviz/tests/persistence/database/bq_refresh/federated_cloud_sql_table_big_query_view_test.py
  recidiviz/tests/tools/utils/dataset_overrides_test.py
  recidiviz/tools/export_metrics_from_dataset_to_gcs.py
  recidiviz/tools/load_views_to_sandbox.py
  recidiviz/view_registry/dataset_overrides.py
Due: generate_docs_for_endpoint

[US_TN] Add Table + Column Descriptions for New `Offender` Tables (recidiviz/recidiviz-data#7609)
  recidiviz/ingest/direct/regions/us_tn/raw_data/us_tn_Offender.yaml
  recidiviz/ingest/direct/regions/us_tn/raw_data/us_tn_OffenderAttributes.yaml
  recidiviz/ingest/direct/regions/us_tn/raw_data/us_tn_OffenderName.yaml
  recidiviz/ingest/direct/regions/us_tn/raw_data/us_tn_OtherID.yaml
Due: generate_docs_for_region, generate_docs_for_endpoint

[Case Triage] De-demoify person ids for /opportunities (recidiviz/recidiviz-data#7640)
  recidiviz/case_triage/querier/opportunity_presenter.py
Due: generate_docs_for_endpoint

Incorporate in super sessions logic for supervision LOS (recidiviz/recidiviz-data#7521)
  recidiviz/calculator/query/state/views/analyst_data/compartment_sessions_unnested.py
Due: generate_docs_for_endpoint

Add SHOCK_INCARCERATION to supervision_super_sessions (recidiviz/recidiviz-data#7622)
  recidiviz/calculator/query/state/views/analyst_data/reincarceration_sessions_from_dataflow.py
  recidiviz/calculator/query/state/views/analyst_data/reincarceration_sessions_from_sessions.py
  recidiviz/calculator/query/state/views/analyst_data/supervision_super_sessions.py
Due: generate_docs_for_endpoint

populate with todos/known values (recidiviz/recidiviz-data#7636)
  recidiviz/ingest/direct/regions/us_tn/raw_data/us_tn_Diversion.yaml
  recidiviz/ingest/direct/regions/us_tn/raw_data/us_tn_Hearing.yaml
  recidiviz/ingest/direct/regions/us_tn/raw_data/us_tn_ISCRelatedSentence.yaml
  recidiviz/ingest/direct/regions/us_tn/raw_data/us_tn_ISCSentence.yaml
  recidiviz/ingest/direct/regions/us_tn/raw_data/us_tn_InterestedPartyComment.yaml
  recidiviz/ingest/direct/regions/us_tn/raw_data/us_tn_JOCharge.yaml
  recidiviz/ingest/direct/regions/us_tn/raw_data/us_tn_JOIdentification.yaml
  recidiviz/ingest/direct/regions/us_tn/raw_data/us_tn_JOIllegalReasons.yaml
  recidiviz/ingest/direct/regions/us_tn/raw_data/us_tn_JOMiscellaneous.yaml
  recidiviz/ingest/direct/regions/us_tn/raw_data/us_tn_JOSentence.yaml
  recidiviz/ingest/direct/regions/us_tn/raw_data/us_tn_OffenderContact.yaml
  recidiviz/ingest/direct/regions/us_tn/raw_data/us_tn_OffenderFinding.yaml
  recidiviz/ingest/direct/regions/us_tn/raw_data/us_tn_OffenderMovement.yaml
  recidiviz/ingest/direct/regions/us_tn/raw_data/us_tn_OffenderSentenceSummary.yaml
  recidiviz/ingest/direct/regions/us_tn/raw_data/us_tn_OffenseStatute.yaml
  recidiviz/ingest/direct/regions/us_tn/raw_data/us_tn_PardonCommutation.yaml
  recidiviz/ingest/direct/regions/us_tn/raw_data/us_tn_PardonCommutationRecommendation.yaml
  recidiviz/ingest/direct/regions/us_tn/raw_data/us_tn_PhotoIDRequest.yaml
  recidiviz/ingest/direct/regions/us_tn/raw_data/us_tn_PretrialJailCredits.yaml
  recidiviz/ingest/direct/regions/us_tn/raw_data/us_tn_Referral.yaml
  recidiviz/ingest/direct/regions/us_tn/raw_data/us_tn_RelatedSentence.yaml
  recidiviz/ingest/direct/regions/us_tn/raw_data/us_tn_ReleasePlan.yaml
  recidiviz/ingest/direct/regions/us_tn/raw_data/us_tn_SAIUFinding.yaml
  recidiviz/ingest/direct/regions/us_tn/raw_data/us_tn_Sentence.yaml
  recidiviz/ingest/direct/regions/us_tn/raw_data/us_tn_SentenceAction.yaml
  recidiviz/ingest/direct/regions/us_tn/raw_data/us_tn_SentenceMiscellaneous.yaml
  recidiviz/ingest/direct/regions/us_tn/raw_data/us_tn_SentenceTimeAdjustment.yaml
  recidiviz/ingest/direct/regions/us_tn/raw_data/us_tn_Site.yaml
  recidiviz/ingest/direct/regions/us_tn/raw_data/us_tn_Staff.yaml
  recidiviz/ingest/direct/regions/us_tn/raw_data/us_tn_StaffAction.yaml
  recidiviz/ingest/direct/regions/us_tn/raw_data/us_tn_SupervisionPlan.yaml
  recidiviz/ingest/direct/regions/us_tn/raw_data/us_tn_SupervisionStandard.yaml
  recidiviz/ingest/direct/regions/us_tn/raw_data/us_tn_SupervisionStandardType.yaml
  recidiviz/ingest/direct/regions/us_tn/raw_data/us_tn_Warrant.yaml
Due: generate_docs_for_region, generate_docs_for_endpoint

Add PA recidivism data to public dashboard query (recidiviz/recidiviz-data#7591)
  recidiviz/calculator/query/state/views/public_dashboard/incarceration/recidivism_rates_by_cohort_by_year.py
  recidiviz/view_registry/datasets.py
Due: generate_docs_for_endpoint

Set US_ID daily pipeline calculation_month_count to 36 (recidiviz/recidiviz-data#7638)
  recidiviz/calculator/pipeline/production_calculation_pipeline_templates.yaml
Due: generate_docs_for_endpoint

[Case Triage] Fixes migrations in local development (recidiviz/recidiviz-data#7639)
  recidiviz/persistence/database/migrations/case_triage/versions/2021_05_24_0821_a3e3c788c6e6_fix_indexes.py
Due: generate_docs_for_endpoint

Add incarceration calculations to daily pipeline for US_MO (recidiviz/recidiviz-data#7641)
  recidiviz/calculator/pipeline/production_calculation_pipeline_templates.yaml
Due: generate_docs_for_endpoint

[Case Triage] Add responsive client list card layout (recidiviz/recidiviz-data#7592)
  frontends/case-triage/src/components/CaseCard/CaseCard.styles.tsx
  frontends/case-triage/src/components/ClientList/ClientList.styles.tsx
  frontends/case-triage/src/components/ClientList/ClientListCard.tsx
  frontends/case-triage/src/components/styles.ts
  frontends/case-triage/src/routes/Home.tsx
Due: none

Render case card in modal on smaller screens (recidiviz/recidiviz-data#7603)
  frontends/case-triage/package.json
  frontends/case-triage/public/index.html
  frontends/case-triage/src/components/CaseCard/CaseCard.styles.tsx
  frontends/case-triage/src/components/CaseCard/CaseCard.tsx
  frontends/case-triage/src/components/CaseCard/CaseCardContainers.tsx
  frontends/case-triage/src/components/CaseCard/index.ts
  frontends/case-triage/src/components/ClientList/ClientList.styles.tsx
  frontends/case-triage/src/components/styles.ts
  frontends/case-triage/src/index.tsx
  frontends/case-triage/src/routes/Home.tsx
  frontends/case-triage/yarn.lock
Due: none

Add test that view addresses are unique (recidiviz/recidiviz-data#7648)
  recidiviz/calculator/query/justice_counts/views/metric_calculator.py
  recidiviz/tests/view_registry/deployed_views_test.py
Due: generate_docs_for_endpoint

IncarcerationPreProcessingManager for IP pre-processing (recidiviz/recidiviz-data#7524)
  recidiviz/calculator/pipeline/incarceration/identifier.py
  recidiviz/calculator/pipeline/recidivism/identifier.py
  recidiviz/calculator/pipeline/supervision/identifier.py
  recidiviz/calculator/pipeline/utils/incarceration_period_pre_processing_manager.py
  recidiviz/calculator/pipeline/utils/incarceration_period_utils.py
  recidiviz/calculator/pipeline/utils/pre_processed_incarceration_period_index.py
  recidiviz/calculator/pipeline/utils/pre_processed_supervision_period_index.py
  recidiviz/calculator/pipeline/utils/state_utils/state_calculation_config_manager.py
  recidiviz/calculator/pipeline/utils/state_utils/us_id/us_id_commitment_from_supervision_utils.py
  recidiviz/calculator/pipeline/utils/state_utils/us_id/us_id_incarceration_period_pre_processing_delegate.py
  recidiviz/calculator/pipeline/utils/state_utils/us_id/us_id_supervision_type_identification.py
  recidiviz/calculator/pipeline/utils/state_utils/us_mo/us_mo_incarceration_period_pre_processing_delegate.py
  recidiviz/calculator/pipeline/utils/state_utils/us_nd/us_nd_commitment_from_supervision_utils.py
  recidiviz/calculator/pipeline/utils/state_utils/us_nd/us_nd_incarceration_period_pre_processing_delegate.py
  recidiviz/calculator/pipeline/utils/state_utils/us_nd/us_nd_supervision_type_identification.py
  recidiviz/calculator/pipeline/utils/state_utils/us_pa/us_pa_incarceration_period_pre_processing_delegate.py
  recidiviz/tests/calculator/pipeline/incarceration/identifier_test.py
  recidiviz/tests/calculator/pipeline/incarceration/pipeline_test.py
  recidiviz/tests/calculator/pipeline/recidivism/identifier_test.py
  recidiviz/tests/calculator/pipeline/recidivism/pipeline_test.py
  recidiviz/tests/calculator/pipeline/supervision/identifier_test.py
  recidiviz/tests/calculator/pipeline/supervision/pipeline_test.py
  recidiviz/tests/calculator/pipeline/utils/incarceration_period_index_test.py
  recidiviz/tests/calculator/pipeline/utils/incarceration_period_pre_processing_manager_test.py
  recidiviz/tests/calculator/pipeline/utils/incarceration_period_utils_test.py
  recidiviz/tests/calculator/pipeline/utils/state_utils/state_calculation_config_manager_test.py
  recidiviz/tests/calculator/pipeline/utils/state_utils/us_id/us_id_commitment_from_supervision_utils_test.py
  recidiviz/tests/calculator/pipeline/utils/state_utils/us_id/us_id_incarceration_period_pre_processing_delegate_test.py
  recidiviz/tests/calculator/pipeline/utils/state_utils/us_id/us_id_supervision_type_identification_test.py
  recidiviz/tests/calculator/pipeline/utils/state_utils/us_mo/us_mo_incarceration_period_pre_processing_delegate_test.py
  recidiviz/tests/calculator/pipeline/utils/state_utils/us_nd/us_nd_commitment_from_supervision_utils_test.py
  recidiviz/tests/calculator/pipeline/utils/state_utils/us_nd/us_nd_incarceration_period_pre_processing_delegate_test.py
  recidiviz/tests/calculator/pipeline/utils/state_utils/us_nd/us_nd_supervision_type_identification_test.py
  recidiviz/tests/calculator/pipeline/utils/state_utils/us_xx/__init__.py
  recidiviz/tests/calculator/pipeline/utils/state_utils/us_xx/us_xx_incarceration_period_pre_processing_delegate.py
  recidiviz/tests/calculator/pipeline/utils/supervision_period_index_test.py
Due: generate_docs_for_endpoint

[Multi-DB] Ship federated BQ refresh to prod (recidiviz/recidiviz-data#7646)
  recidiviz/persistence/database/bq_refresh/cloud_sql_to_bq_refresh_control.py
  recidiviz/tests/persistence/database/bq_refresh/cloud_sql_to_bq_refresh_control_test.py
Due: generate_docs_for_endpoint

[Multi-DB] Make get_file_tag_rank_list() an instance method (recidiviz/recidiviz-data#7659)
  recidiviz/ingest/direct/controllers/base_direct_ingest_controller.py
  recidiviz/ingest/direct/controllers/csv_gcsfs_direct_ingest_controller.py
  recidiviz/ingest/direct/regions/us_id/us_id_controller.py
  recidiviz/ingest/direct/regions/us_mi/us_mi_controller.py
  recidiviz/ingest/direct/regions/us_mo/us_mo_controller.py
  recidiviz/ingest/direct/regions/us_nd/us_nd_controller.py
  recidiviz/ingest/direct/regions/us_pa/us_pa_controller.py
  recidiviz/ingest/direct/regions/us_tn/us_tn_controller.py
  recidiviz/ingest/direct/regions/us_tx_brazos/us_tx_brazos_controller.py
  recidiviz/ingest/direct/templates/us_xx/us_xx_controller.py
  recidiviz/tests/ingest/direct/controllers/base_direct_ingest_controller_test.py
  recidiviz/tests/ingest/direct/regions/direct_ingest_region_structure_test.py
  recidiviz/tools/docs/region_documentation_generator.py
  recidiviz/tools/ingest/operations/move_raw_state_files_from_storage.py
Due: generate_docs_for_region, generate_docs_for_endpoint

Added in offense type to final view (recidiviz/recidiviz-data#7662)
  recidiviz/calculator/query/state/views/analyst_data/compartment_sentences.py
Due: generate_docs_for_endpoint
