Repository Recidiviz/pulse-data: changes, and which pre-commit hooks are due for each by the changed paths.
All: generate_docs_for_region, generate_docs_for_endpoint, generate_entity_documentation, generate_calc_documentation, generate_ingest_mappings_schema_documentation, update_terraform_lock_file

generate_docs_for_region:
  name: generate_docs_for_region
  entry: pipenv run python -m recidiviz.tools.docs.region_documentation_generator
  language: system
  require_serial: true

generate_docs_for_endpoint:
  name: generate_docs_for_endpoint
  entry: pipenv run python -m recidiviz.tools.docs.endpoint_documentation_generator
  language: system
  require_serial: true

generate_entity_documentation:
  name: generate_entity_documentation
  entry: pipenv run python -m recidiviz.tools.docs.entity_documentation_generator
  language: system
  require_serial: true

generate_calc_documentation:
  name: generate_calc_documentation
  entry: pipenv run python -m recidiviz.calculator.calculation_documentation_generator
  language: system
  require_serial: true

generate_ingest_mappings_schema_documentation:
  name: generate_ingest_mappings_schema_documentation
  entry: pipenv run python -m recidiviz.tools.docs.ingest_mappings_schema_documentation_generator
  language: system
  require_serial: true

update_terraform_lock_file:
  name: update_terraform_lock_file
  entry: recidiviz/tools/deploy/update_terraform_lock.sh
  language: script
  require_serial: true

[US_ME] Bug in ME opps - we should be using disposition classes (Recidiviz/recidiviz-data#36114)
  recidiviz/task_eligibility/utils/us_me_query_fragments.py
Due: generate_docs_for_endpoint, generate_calc_documentation

[BUG] Fix column order error (Recidiviz/recidiviz-data#36118)
  recidiviz/calculator/query/state/views/analyst_data/incarceration_incidents_preprocessed.py
Due: generate_docs_for_endpoint, generate_calc_documentation

[Vitals] add supervision_*_30_day_aggregated_metrics (Recidiviz/recidiviz-data#36020)
  recidiviz/calculator/query/state/views/vitals_report/vitals_aggregated_metrics.py
  recidiviz/calculator/query/state/views/vitals_report/vitals_report_views.py
  recidiviz/tools/find_unused_bq_views.py
Due: generate_docs_for_endpoint, generate_calc_documentation

[Validation] Flag primary users not in state_staff (Recidiviz/recidiviz-data#36092)
  recidiviz/validation/configured_validations.py
  recidiviz/validation/views/state/insights_primary_users_not_in_state_staff.py
  recidiviz/validation/views/state/workflows_primary_users_not_in_state_staff.py
Due: generate_docs_for_endpoint, generate_calc_documentation

[raw data] ungate a few states for prod (Recidiviz/recidiviz-data#36083)
  recidiviz/ingest/direct/gating.py
Due: generate_docs_for_endpoint

Adds `ALL_STATES` unit of analysis (Recidiviz/recidiviz-data#35995)
  recidiviz/aggregated_metrics/assignment_sessions_view_builder.py
  recidiviz/aggregated_metrics/assignment_sessions_view_collector.py
  recidiviz/aggregated_metrics/models/metric_unit_of_analysis_type.py
Due: generate_docs_for_endpoint

[Usage Tracking] Count signup event as a login (Recidiviz/recidiviz-data#36136)
  recidiviz/calculator/query/state/views/analyst_data/all_auth0_login_events.py
  recidiviz/calculator/query/state/views/analyst_data/all_auth0_signup_events.py
  recidiviz/calculator/query/state/views/analyst_data/analyst_data_views.py
  recidiviz/calculator/query/state/views/analyst_data/insights_user_auth0_registrations.py
  recidiviz/calculator/query/state/views/analyst_data/workflows_user_auth0_registrations.py
Due: generate_docs_for_endpoint, generate_calc_documentation

[Aggregated Metrics] Move all metrics view builder collection out of legacy function (Recidiviz/recidiviz-data#36029)
  recidiviz/aggregated_metrics/aggregated_metrics_view_collector.py
  recidiviz/aggregated_metrics/all_aggregated_metrics_view_builder.py
  recidiviz/aggregated_metrics/legacy/aggregated_metric_view_collector.py
  recidiviz/aggregated_metrics/query_building/aggregated_metric_query_utils.py
  recidiviz/calculator/query/state/views/outliers/outliers_views.py
  recidiviz/tests/aggregated_metrics/all_aggregated_metrics_view_builder_test.py
Due: generate_docs_for_endpoint, generate_calc_documentation

[US_MI][US_ME][US_PA] Add raw data fixes/exemptions to unblock import in new infra (Recidiviz/recidiviz-data#36119)
  recidiviz/ingest/direct/regions/us_me/raw_data/us_me_Furloughs.yaml
  recidiviz/ingest/direct/regions/us_mi/raw_data/us_mi_ADH_DRUG_TESTED.yaml
  recidiviz/ingest/direct/regions/us_pa/raw_data/us_pa_dbo_Controlling_Sentence.yaml
Due: generate_docs_for_region, generate_docs_for_endpoint

Adds login event observation join to live task types via registration sessions (Recidiviz/recidiviz-data#36131)
  recidiviz/observations/views/events/workflows_primary_user/workflows_user_login.py
Due: generate_docs_for_endpoint, generate_calc_documentation

[raw data] Add option to invalidate based on filename (Recidiviz/recidiviz-data#36093)
  recidiviz/tests/tools/ingest/operations/invalidate_operations_db_files_controller_test.py
  recidiviz/tools/ingest/operations/invalidate_operations_db_files_controller.py
  recidiviz/tools/ingest/operations/move_storage_raw_files_to_deprecated.py
Due: generate_docs_for_endpoint

[Aggregated Metrics] Override CA/ND officer district assignments (Recidiviz/recidiviz-data#36134)
  recidiviz/calculator/query/state/views/analyst_data/product_roster_archive_sessions_utils.py
Due: generate_docs_for_endpoint, generate_calc_documentation

Add option to only return files when running gsutil_ls (Recidiviz/recidiviz-data#36091)
  recidiviz/tests/tools/gsutil_shell_helpers_test.py
  recidiviz/tools/gsutil_shell_helpers.py
Due: generate_docs_for_endpoint

[Documentation] Remove 'SchemaType' and SQLAlchemy dependencies from documentation generation. (Recidiviz/recidiviz-data#36075)
  .pre-commit-config.yaml
  recidiviz/persistence/entity/state/entities.py
  recidiviz/repo/issue_references.py
  recidiviz/tools/docs/entity_documentation_generator.py
  recidiviz/tools/docs/utils.py
Due: generate_docs_for_endpoint, generate_calc_documentation

[US_ME] Bug in ME opps - we should be using disposition classes if available (try 2) (Recidiviz/recidiviz-data#36142)
  recidiviz/task_eligibility/utils/us_me_query_fragments.py
Due: generate_docs_for_endpoint, generate_calc_documentation

[Aggregated Metrics] Reframe MetricTimePeriodJoinType (Recidiviz/recidiviz-data#36030)
  recidiviz/aggregated_metrics/aggregated_metrics_view_collector.py
  recidiviz/aggregated_metrics/assignments_by_time_period_view_builder.py
  recidiviz/aggregated_metrics/models/aggregated_metric.py
  recidiviz/aggregated_metrics/query_building/build_aggregated_metric_query.py
  recidiviz/aggregated_metrics/query_building/build_single_observation_type_aggregated_metric_query.py
  recidiviz/tests/aggregated_metrics/assignments_by_time_period_view_builder_test.py
  recidiviz/tests/aggregated_metrics/query_building/build_aggregated_metric_query_test.py
  recidiviz/tests/aggregated_metrics/query_building/build_single_observation_type_aggregated_metric_query_test.py
Due: generate_docs_for_endpoint

[US_ME] Add another column to try and get the right emp ids (Recidiviz/recidiviz-data#36144)
  recidiviz/ingest/direct/regions/us_me/raw_data/us_me_CIS_204_GEN_NOTE.yaml
Due: generate_docs_for_region, generate_docs_for_endpoint

[Aggregated Metrics] Replace all deployed PeriodSpanAggregatedMetric with optimized format (Recidiviz/recidiviz-data#36031)
  recidiviz/aggregated_metrics/aggregated_metrics_view_builder.py
  recidiviz/aggregated_metrics/assignments_by_time_period_view_builder.py
  recidiviz/aggregated_metrics/legacy/aggregated_metric_view_collector.py
  recidiviz/aggregated_metrics/legacy/period_span_aggregated_metrics.py
  recidiviz/aggregated_metrics/models/aggregated_metric.py
  recidiviz/aggregated_metrics/query_building/aggregated_metric_query_utils.py
  recidiviz/aggregated_metrics/query_building/build_aggregated_metric_query.py
  recidiviz/aggregated_metrics/query_building/build_single_observation_type_aggregated_metric_query.py
  recidiviz/aggregated_metrics/view_config.py
  recidiviz/big_query/view_update_config.py
  recidiviz/calculator/query/state/views/outliers/outliers_views.py
  recidiviz/tests/aggregated_metrics/aggregated_metrics_view_builder_test.py
  recidiviz/tests/aggregated_metrics/assignments_by_time_period_view_builder_test.py
  recidiviz/tests/aggregated_metrics/fixture_aggregated_metrics.py
  recidiviz/tests/aggregated_metrics/query_building/build_aggregated_metric_query_test.py
  recidiviz/tests/aggregated_metrics/query_building/build_single_observation_type_aggregated_metric_query_test.py
  recidiviz/tests/view_registry/deployed_views_test.py
  recidiviz/tools/find_unused_bq_views.py
  recidiviz/tools/load_views_to_sandbox.py
Due: generate_docs_for_endpoint, generate_calc_documentation

[Cleanup] Delete BigQueryTestHelper (Recidiviz/recidiviz-data#36151)
  recidiviz/tests/big_query/big_query_emulator_test_case.py
  recidiviz/tests/big_query/big_query_test_helper.py
  recidiviz/tests/ingest/direct/regions/ingest_view_query_test_case.py
  recidiviz/tests/ingest/direct/views/raw_data_diff_query_test_case.py
Due: generate_docs_for_endpoint

[US_IX] Add known values to unblock raw data import (Recidiviz/recidiviz-data#36139)
  recidiviz/ingest/direct/regions/us_ix/raw_data/us_ix_ref_Location_Address.yaml
Due: generate_docs_for_region, generate_docs_for_endpoint

[US_PA] Add new enum values and revise mappings (Recidiviz/recidiviz-data#36115)
  recidiviz/ingest/direct/regions/us_pa/ingest_mappings/us_pa_employment_periods.yaml
  recidiviz/ingest/direct/regions/us_pa/ingest_mappings/us_pa_supervision_staff_periods_v2.yaml
Due: generate_docs_for_region, generate_docs_for_endpoint

[Autogenerated] Update Pipfile.lock (Recidiviz/recidiviz-data#36129)
  Pipfile.lock
  recidiviz/pipelines/dataflow_flex_setup.py
Due: generate_docs_for_endpoint

[Roster sync] give MO lantern users supervision_leadership role (Recidiviz/recidiviz-data#36121)
  recidiviz/calculator/query/state/views/reference/ingested_product_users.py
  recidiviz/common/constants/auth.py
Due: generate_docs_for_endpoint, generate_calc_documentation

Restrict primary user state staff validation to prod (Recidiviz/recidiviz-data#36145)
  recidiviz/validation/configured_validations.py
  recidiviz/validation/views/state/insights_primary_users_not_in_state_staff.py
  recidiviz/validation/views/state/workflows_primary_users_not_in_state_staff.py
Due: generate_docs_for_endpoint, generate_calc_documentation

[raw data] Add move_ingest_bucket_raw_files_to_deprecated_controller (Recidiviz/recidiviz-data#36090)
  recidiviz/tests/tools/ingest/operations/move_ingest_bucket_raw_files_to_deprecated_controller_test.py
  recidiviz/tools/ingest/operations/move_ingest_bucket_raw_files_to_deprecated_controller.py
Due: generate_docs_for_endpoint

[Sentencing] Mostly finalize ND sentencing views + add export to bucket (Recidiviz/recidiviz-data#35526)
  recidiviz/calculator/query/state/views/sentencing/case_record.py
  recidiviz/calculator/query/state/views/sentencing/charge_record.py
  recidiviz/calculator/query/state/views/sentencing/client_record.py
  recidiviz/calculator/query/state/views/sentencing/staff_record.py
  recidiviz/calculator/query/state/views/sentencing/us_ix/sentencing_case_template.py
  recidiviz/calculator/query/state/views/sentencing/us_ix/sentencing_charge_template.py
  recidiviz/calculator/query/state/views/sentencing/us_ix/sentencing_client_template.py
  recidiviz/calculator/query/state/views/sentencing/us_ix/sentencing_staff_template.py
  recidiviz/calculator/query/state/views/sentencing/us_nd/sentencing_case_template.py
  recidiviz/calculator/query/state/views/sentencing/us_nd/sentencing_charge_template.py
  recidiviz/calculator/query/state/views/sentencing/us_nd/sentencing_client_template.py
  recidiviz/calculator/query/state/views/sentencing/us_nd/sentencing_staff_template.py
  recidiviz/metrics/export/products/products.yaml
  recidiviz/view_registry/raw_data_reference_reasons.yaml
Due: generate_docs_for_endpoint, generate_calc_documentation

[raw data import dag] update pre-import normalization batching logic (Recidiviz/recidiviz-data#36074)
  recidiviz/airflow/dags/operators/recidiviz_kubernetes_pod_operator.py
  recidiviz/airflow/dags/raw_data/bq_load_tasks.py
  recidiviz/airflow/dags/raw_data/concurrency_utils.py
  recidiviz/airflow/dags/raw_data/file_metadata_tasks.py
  recidiviz/airflow/dags/raw_data/gcs_file_processing_tasks.py
  recidiviz/airflow/dags/raw_data/utils.py
  recidiviz/airflow/dags/raw_data_import_dag.py
  recidiviz/airflow/dags/utils/kubernetes_pod_operator_task_groups.py
  recidiviz/airflow/tests/raw_data/file_metadata_tasks_test.py
  recidiviz/airflow/tests/raw_data/gcs_file_processing_tasks_test.py
  recidiviz/airflow/tests/raw_data/utils_test.py
  recidiviz/airflow/tests/raw_data_import_dag_test.py
  recidiviz/airflow/tests/utils/utils_test.py
  recidiviz/entrypoints/raw_data/divide_raw_file_into_chunks.py
  recidiviz/ingest/direct/types/direct_ingest_constants.py
Due: generate_docs_for_endpoint

[US_IX] Add in all known values for ref_Location_Address (Recidiviz/recidiviz-data#36188)
  recidiviz/ingest/direct/regions/us_ix/raw_data/us_ix_ref_Location_Address.yaml
Due: generate_docs_for_region, generate_docs_for_endpoint

Update case triage db fixture data (Recidiviz/recidiviz-data#36088)
  recidiviz/tools/case_triage/fixtures/permissions_override.csv
  recidiviz/tools/case_triage/fixtures/roster.csv
  recidiviz/tools/case_triage/fixtures/state_role_permissions.csv
  recidiviz/tools/case_triage/fixtures/user_override.csv
  recidiviz/tools/case_triage/load_fixtures.py
Due: generate_docs_for_endpoint

[raw data] rolls `US_CA`, `US_MO`, `US_IX` out to prod (Recidiviz/recidiviz-data#36183)
  recidiviz/ingest/direct/gating.py
Due: generate_docs_for_endpoint

[ID perf] add task completion metrics to generated spreadsheets (Recidiviz/recidiviz-data#36172)
  recidiviz/tools/insights/performance_review_spreadsheets/generate.py
  recidiviz/tools/insights/performance_review_spreadsheets/officer_aggregated_metrics.py
Due: generate_docs_for_endpoint

[raw data] Add script to deprecate files in the ingest bucket (Recidiviz/recidiviz-data#36089)
  recidiviz/tools/ingest/operations/deprecate_ingest_bucket_raw_files.py
  recidiviz/tools/ingest/operations/invalidate_operations_db_files_controller.py
Due: generate_docs_for_endpoint

[US_AZ] Modification to Projected Dates view for accuracy (Recidiviz/recidiviz-data#36059)
  recidiviz/calculator/query/state/views/analyst_data/us_az/us_az_projected_dates.py
Due: generate_docs_for_endpoint, generate_calc_documentation

[US_AZ] Hydrate client_record for AZ (Recidiviz/recidiviz-data#36170)
  recidiviz/calculator/query/state/state_specific_query_strings.py
  recidiviz/calculator/query/state/views/reference/workflows_opportunity_configs.py
  recidiviz/calculator/query/state/views/workflows/firestore/firestore_views.py
  recidiviz/calculator/query/state/views/workflows/firestore/us_az_transfer_to_administrative_supervision_record.py
Due: generate_docs_for_endpoint, generate_calc_documentation

[Tools] Make sandbox pipeline script prompting easier on the eyes (Recidiviz/recidiviz-data#36213)
  recidiviz/tools/ingest/development/run_sandbox_ingest_pipeline.py
Due: generate_docs_for_endpoint

[scripts] add `.strip()` to `prompt_for_confirmation` (Recidiviz/recidiviz-data#36215)
  recidiviz/tests/tools/utils/script_helpers_test.py
  recidiviz/tools/utils/script_helpers.py
Due: generate_docs_for_endpoint

[Documentation] Document normalized entities in GitBook (Recidiviz/recidiviz-data#36195)
  .pre-commit-config.yaml
  recidiviz/persistence/entity/state/normalized_entities.py
  recidiviz/tools/docs/entity_documentation_generator.py
Due: generate_docs_for_endpoint, generate_calc_documentation

[raw data] Remove unused raw file config properties (Recidiviz/recidiviz-data#36202)
  recidiviz/ingest/direct/raw_data/raw_file_configs.py
  recidiviz/tests/ingest/direct/raw_data/raw_file_configs_test.py
Due: generate_docs_for_endpoint

[Supervision Reports] Fit x-axis labels to the x-axis (Recidiviz/recidiviz-data#36216)
  recidiviz/appsscript/Helpers.js
Due: generate_docs_for_endpoint

[Insights][Vitals] Implement `querier.py` methods and tests to query vitals metrics for officers and supervisors (Recidiviz/recidiviz-data#35760)
  recidiviz/outliers/querier/querier.py
  recidiviz/outliers/types.py
  recidiviz/tests/outliers/querier_test.py
  recidiviz/tests/outliers/snapshots/snap_querier_test.py
  recidiviz/tools/insights/fixtures/supervision_officer_metrics.json
Due: generate_docs_for_endpoint

Path conditions:
  generate_docs_for_region: any of: ^recidiviz/ingest/direct/regions/
  generate_docs_for_endpoint: any of: ^recidiviz/, but not: (?x)(^recidiviz/tests/|^recidiviz/tools/|^recidiviz/ingest/direct/regions/)$

  generate_entity_documentation: any of: (?x)(^recidiviz/persistence/database/schema/state/schema.py|^recidiviz/persistence/database/schema/history_table_shared_columns_mixin.py|^recidiviz/common/constants/state/)$

  generate_calc_documentation: any of: ^recidiviz/calculator/|^recidiviz/metrics/|^recidiviz/.*/views/|^recidiviz/big_query/|^recidiviz/persistence/database/schema/|^recidiviz/persistence/entity/|^recidiviz/task_eligibility/, but not: ^recidiviz/tests/|^recidiviz/calculator/modeling/
  generate_ingest_mappings_schema_documentation: any of: ^recidiviz/ingest/direct/ingest_mappings/yaml_schema/|^docs/engineering/ingest_mapping_schema/
  update_terraform_lock_file: any of: ^recidiviz/tools/deploy/terraform/
