Repository Recidiviz/pulse-data: changes, and which pre-commit hooks are due for each by the changed paths.
All: generate_docs_for_region, generate_docs_for_endpoint, generate_entity_documentation

generate_docs_for_region:
  name: generate_docs_for_region
  entry: pipenv run python -m recidiviz.tools.docs.region_documentation_generator
  language: system
  require_serial: true

generate_docs_for_endpoint:
  name: generate_docs_for_endpoint
  entry: pipenv run python -m recidiviz.tools.docs.endpoint_documentation_generator
  language: system
  require_serial: true

generate_entity_documentation:
  name: generate_entity_documentation
  entry: pipenv run python -m recidiviz.tools.docs.entity_documentation_generator
  language: system
  require_serial: true

[US_TN] Add protective custody designation for summary sheet (Recidiviz/recidiviz-data#23811)
  recidiviz/task_eligibility/utils/us_tn_query_fragments.py
Due: generate_docs_for_endpoint

Remove supervision officer look-back for MI (Recidiviz/recidiviz-data#23944)
  recidiviz/calculator/query/state/views/workflows/firestore/client_record_ctes.py
Due: generate_docs_for_endpoint

[US_OR] Adding restrictive housing types and housing category (Recidiviz/recidiviz-data#23929)
  recidiviz/ingest/direct/regions/us_or/ingest_mappings/us_or_Incarceration_Period.yaml
  recidiviz/ingest/direct/regions/us_or/us_or_custom_enum_parsers.py
  recidiviz/persistence/database/migrations/state/versions/2023_09_13_1052_ecf3f286ba25_update_rh_enums.py
Due: generate_docs_for_region, generate_docs_for_endpoint

[Ingest in Dataflow] Limit scope of ingest_view_rank_list() (Recidiviz/recidiviz-data#23812)
  recidiviz/ingest/direct/views/direct_ingest_view_query_builder_collector.py
  recidiviz/tests/ingest/direct/direct_ingest_documentation_generator_test.py
  recidiviz/tests/ingest/direct/fakes/fake_direct_ingest_controller.py
  recidiviz/tests/ingest/direct/regions/direct_ingest_region_structure_test.py
  recidiviz/tools/ingest/operations/ingest_stability_check.py
Due: generate_docs_for_endpoint

[Ingest] Add helper for traversing any entity tree/DAG (Recidiviz/recidiviz-data#23845)
  recidiviz/persistence/entity/entity_utils.py
  recidiviz/persistence/entity/walk_entity_dag.py
  recidiviz/tests/persistence/database/schema_entity_converter/base_schema_entity_converter_test.py
  recidiviz/tests/persistence/database/schema_entity_converter/fake_schema_direction_checker.py
  recidiviz/tests/persistence/walk_entity_dag_test.py
Due: generate_docs_for_endpoint

[US_IX] Hydrate admission/release reasons for housing unit changes (Recidiviz/recidiviz-data#23874)
  recidiviz/ingest/direct/regions/us_ix/ingest_mappings/us_ix_incarceration_period.yaml
  recidiviz/ingest/direct/regions/us_ix/ingest_views/view_incarceration_period.py
Due: generate_docs_for_region, generate_docs_for_endpoint

[Ingest in Dataflow] Add new ingest statuses (Recidiviz/recidiviz-data#23817)
  recidiviz/common/constants/operations/direct_ingest_instance_status.py
  recidiviz/common/constants/operations/enum_canonical_strings.py
  recidiviz/persistence/database/migrations/operations/versions/2023_09_07_2143_0696e582f5aa_add_new_ingest_statuses.py
  recidiviz/persistence/database/schema/operations/schema.py
  recidiviz/tests/ingest/direct/metadata/postgres_direct_ingest_instance_status_manager_test.py
Due: generate_docs_for_endpoint

[US_OR] Adding exceptions for stable counts (Recidiviz/recidiviz-data#23919)
  recidiviz/validation/views/state/stable_counts/stable_counts.py
Due: generate_docs_for_endpoint

[Justice Counts] automatically add csg users to all agencies (Recidiviz/recidiviz-data#23829)
  recidiviz/admin_panel/routes/justice_counts_tools.py
  recidiviz/justice_counts/agency_user_account_association.py
  recidiviz/justice_counts/user_account.py
Due: generate_docs_for_endpoint

[Justice Counts] Fix recurring report script to talk to new DB and also skip child agencies (Recidiviz/recidiviz-data#23951)
  recidiviz/justice_counts/jobs/create_new_reports.py
Due: generate_docs_for_endpoint

initial tests for calculation_dag.py (Recidiviz/recidiviz-data#23452)
  recidiviz/airflow/dags/calculation_dag.py
  recidiviz/airflow/dags/monitoring_dag.py
  recidiviz/airflow/dags/operators/recidiviz_kubernetes_pod_operator.py
  recidiviz/airflow/dags/sftp_dag.py
  recidiviz/airflow/dags/utils/environment.py
  recidiviz/airflow/tests/calculation/initialize_calculation_dag_group_test.py
  recidiviz/airflow/tests/calculation_dag_test.py
  recidiviz/airflow/tests/dag_integrity_test.py
  recidiviz/airflow/tests/test_utils.py
  recidiviz/tests/pipelines/fake_calculation_pipeline_templates.yaml
  recidiviz/tools/deploy/terraform/cloud-composer.tf
  recidiviz/tools/validate_source_visibility.py
Due: generate_docs_for_endpoint

Removes supervision-level-based absconsion/bw sessions (Recidiviz/recidiviz-data#23938)
  recidiviz/calculator/query/state/views/sessions/absconsion_bench_warrant_sessions.py
Due: generate_docs_for_endpoint

[US_MI] Bump validation threshold (Recidiviz/recidiviz-data#23967)
  recidiviz/validation/config/regions/us_mi/us_mi_validation_config.yaml
Due: generate_docs_for_endpoint

[US_IX] Bump validations (Recidiviz/recidiviz-data#23966)
  recidiviz/validation/config/regions/us_ix/us_ix_validation_config.yaml
Due: generate_docs_for_endpoint

[US_ME] Changed wording for furlough policy case notes (Recidiviz/recidiviz-data#23969)
  recidiviz/calculator/query/state/views/workflows/firestore/us_me_furlough_release_form_record.py
Due: generate_docs_for_endpoint

[US_TN] Classification opp record query updates (Recidiviz/recidiviz-data#23860)
  recidiviz/calculator/query/state/views/analyst_data/us_tn/us_tn_incarceration_incidents_preprocessed.py
  recidiviz/task_eligibility/utils/us_tn_query_fragments.py
Due: generate_docs_for_endpoint

[Admin Panel] add bulk update user endpoint (Recidiviz/recidiviz-data#19566)
  frontends/admin-panel/src/AdminPanelAPI/LineStaffTools.ts
  frontends/admin-panel/src/AdminPanelAPI/utils.ts
  frontends/admin-panel/src/components/StateUserPermissions/StateUserPermissionsView.tsx
  recidiviz/auth/auth_api_schemas.py
  recidiviz/auth/auth_endpoint.py
  recidiviz/auth/auth_users_endpoint.py
  recidiviz/tests/auth/auth_users_endpoint_test.py
  stubs/flask_smorest/__init__.pyi
Due: generate_docs_for_endpoint

remove dashboard_user_restrictions view and endpoints (Recidiviz/recidiviz-data#23620)
  recidiviz/auth/auth_endpoint.py
  recidiviz/calculator/query/state/views/reference/dashboard_user_restrictions.py
  recidiviz/calculator/query/state/views/reference/ingested_product_users.py
  recidiviz/calculator/query/state/views/reference/reference_views.py
  recidiviz/case_triage/views/view_config.py
  recidiviz/metrics/export/export_config.py
  recidiviz/tests/auth/auth_endpoint_test.py
  recidiviz/tests/auth/helpers.py
  recidiviz/tests/cloud_sql/gcs_import_to_cloud_sql_test.py
  recidiviz/tools/deploy/terraform/cloud-storage-notifications.tf
  recidiviz/validation/views/case_triage/etl_freshness_validation.py
Due: generate_docs_for_endpoint

[US_TN] Deprecate `us_tn_supervision_projected_completion_date_spans` (Recidiviz/recidiviz-data#23123)
  recidiviz/calculator/query/state/views/sessions/sessions_views.py
  recidiviz/calculator/query/state/views/sessions/state_sentence_configurations.py
  recidiviz/calculator/query/state/views/sessions/supervision_projected_completion_date_spans.py
  recidiviz/calculator/query/state/views/sessions/us_tn/us_tn_supervision_projected_completion_date_spans.py
  recidiviz/task_eligibility/criteria/general/has_active_sentence.py
Due: generate_docs_for_endpoint

[US_ND] Normalize Elite booking IDs in ingest view (Recidiviz/recidiviz-data#23991)
  recidiviz/ingest/direct/regions/us_nd/ingest_mappings/us_nd_elite_externalmovements_incarceration_periods.yaml
  recidiviz/ingest/direct/regions/us_nd/ingest_views/view_elite_externalmovements_incarceration_periods.py
Due: generate_docs_for_region, generate_docs_for_endpoint

[US_MI] [US_IX] Add stable count exceptions (Recidiviz/recidiviz-data#23961)
  recidiviz/validation/views/state/stable_counts/stable_counts.py
Due: generate_docs_for_endpoint

[US_MI][Workflows] Add SAI and EM data from COMS (Recidiviz/recidiviz-data#23953)
  recidiviz/task_eligibility/criteria/state_specific/us_mi/not_on_electronic_monitoring.py
  recidiviz/task_eligibility/criteria/state_specific/us_mi/not_on_lifetime_electronic_monitoring.py
  recidiviz/task_eligibility/criteria/state_specific/us_mi/supervision_or_supervision_out_of_state_level_is_sai.py
Due: generate_docs_for_endpoint

[Schema Change] Add deciding_staff_external_id to SVRs (Recidiviz/recidiviz-data#23958)
  recidiviz/calculator/query/state/views/reference/state_person_to_state_staff.py
  recidiviz/persistence/database/migrations/state/versions/2023_09_14_1533_2bfa9cac7e15_add_deciding_staff_external_id.py
  recidiviz/persistence/database/schema/state/schema.py
  recidiviz/persistence/entity/state/entities.py
  recidiviz/tests/persistence/entity/state/deserialize_entity_factories_test.py
  recidiviz/tests/pipelines/normalization/utils/normalized_entity_conversion_utils_test.py
Due: generate_docs_for_endpoint, generate_entity_documentation

[Justice Counts] Remove local_project_override from New Mexico script (Recidiviz/recidiviz-data#23777)
  recidiviz/justice_counts/control_panel/routes/api.py
  recidiviz/justice_counts/jobs/new_mexico_dataxchange.py
  recidiviz/justice_counts/jobs/new_mexico_dataxchange_historical.py
Due: generate_docs_for_endpoint

gating on single status page (Recidiviz/recidiviz-data#23565)
  frontends/admin-panel/src/components/IngestOperationsView/IngestInstanceCard.tsx
  frontends/admin-panel/src/components/IngestOperationsView/IngestInstanceCurrentStatusSummary.tsx
  frontends/admin-panel/src/components/IngestOperationsView/IngestOperationsComponents/IngestInstanceActionsPageHeader.tsx
  frontends/admin-panel/src/components/IngestOperationsView/IngestStateSpecificInstanceMetadata.tsx
  frontends/admin-panel/src/components/IngestOperationsView/IngestStateSpecificMetadata.tsx
Due: none

[Airflow] Automate uploading required file dependencies (Recidiviz/recidiviz-data#23957)
  recidiviz/tests/tools/airflow/__init__.py
  recidiviz/tests/tools/airflow/copy_source_files_to_experimental_composer_test.py
  recidiviz/tests/tools/airflow/fixtures/__init__.py
  recidiviz/tests/tools/airflow/fixtures/a/__init__.py
  recidiviz/tests/tools/airflow/fixtures/a/b/__init__.py
  recidiviz/tests/tools/airflow/fixtures/a/b/b.py
  recidiviz/tests/tools/airflow/fixtures/a/b/d.py
  recidiviz/tests/tools/airflow/fixtures/a/b/e.py
  recidiviz/tests/tools/airflow/fixtures/a/c.py
  recidiviz/tests/tools/airflow/fixtures/a/c.txt
  recidiviz/tests/tools/airflow/fixtures/test_importing.py
  recidiviz/tools/airflow/copy_source_files_to_experiment_composer.py
  recidiviz/tools/airflow/get_airflow_source_files.py
  recidiviz/tools/deploy/terraform/.terraform.lock.hcl
  recidiviz/tools/deploy/terraform/cloud-composer.tf
  recidiviz/tools/deploy/terraform/config/cloud_composer_source_files_to_copy.yaml
Due: generate_docs_for_endpoint

[Ingest in Dataflow] Add support for new statuses to PostgresDirectIngestInstanceStatusManager (Recidiviz/recidiviz-data#23842)
  recidiviz/admin_panel/ingest_operations_store.py
  recidiviz/admin_panel/routes/ingest_ops.py
  recidiviz/ingest/direct/controllers/base_direct_ingest_controller.py
  recidiviz/ingest/direct/metadata/direct_ingest_instance_status_manager.py
  recidiviz/ingest/direct/metadata/postgres_direct_ingest_instance_status_manager.py
  recidiviz/persistence/database/schema/operations/dao.py
  recidiviz/tests/admin_panel/ingest_operations_store_test.py
  recidiviz/tests/ingest/direct/controllers/direct_ingest_controller_factory_test.py
  recidiviz/tests/ingest/direct/fakes/fake_direct_ingest_controller.py
  recidiviz/tests/ingest/direct/metadata/postgres_direct_ingest_instance_status_manager_test.py
  recidiviz/tests/ingest/direct/regions/direct_ingest_region_structure_test.py
  recidiviz/tests/persistence/database/schema/operations/dao_test.py
  recidiviz/tools/ingest/operations/move_raw_state_files_from_storage.py
Due: generate_docs_for_endpoint

[US_MO] Hydrate deciding_staff_external_id on SVRs (Recidiviz/recidiviz-data#23981)
  recidiviz/ingest/direct/regions/us_mo/ingest_mappings/us_mo_tak028_tak042_tak076_tak024_violation_reports.yaml
Due: generate_docs_for_region, generate_docs_for_endpoint

[Ingest in Dataflow] Add new /start_raw_data_reimport endpoint (Recidiviz/recidiviz-data#23952)
  recidiviz/admin_panel/ingest_operations_store.py
  recidiviz/admin_panel/routes/ingest_ops.py
Due: generate_docs_for_endpoint

[US_MI] Hydrate deciding_staff_external_id on SVRs (Recidiviz/recidiviz-data#23982)
  recidiviz/ingest/direct/regions/us_mi/ingest_mappings/us_mi_supervision_violations.yaml
Due: generate_docs_for_region, generate_docs_for_endpoint

[US_ND] Hydrate deciding_staff_external_id on SVRs (Recidiviz/recidiviz-data#23983)
  recidiviz/ingest/direct/regions/us_nd/ingest_mappings/us_nd_docstars_offendercasestable_with_officers.yaml
Due: generate_docs_for_region, generate_docs_for_endpoint

Adds task completion while eligible metrics (Recidiviz/recidiviz-data#23964)
  recidiviz/aggregated_metrics/aggregated_metric_view_collector.py
  recidiviz/aggregated_metrics/models/aggregated_metric_configurations.py
  recidiviz/calculator/query/state/views/analyst_data/models/events.py
Due: generate_docs_for_endpoint

[US_IX] Correct leading_window_days (Recidiviz/recidiviz-data#24021)
  recidiviz/task_eligibility/criteria/general/incarceration_within_7_years_of_full_term_completion_date.py
  recidiviz/task_eligibility/criteria/general/incarceration_within_7_years_of_parole_eligibility_date.py
Due: generate_docs_for_endpoint

[Monitoring] Fix uptime check content matchers (Recidiviz/recidiviz-data#24000)
  recidiviz/tools/deploy/terraform/uptime-checks.tf
Due: generate_docs_for_endpoint

Adding in steps to entity match the root entities, insert primary keys and validate (Recidiviz/recidiviz-data#23298)
  recidiviz/persistence/entity/entity_utils.py
  recidiviz/pipelines/ingest/state/associate_with_primary_keys.py
  recidiviz/pipelines/ingest/state/generate_primary_keys.py
  recidiviz/pipelines/ingest/state/merge_ingest_view_root_entity_trees.py
  recidiviz/pipelines/ingest/state/merge_root_entities_across_dates.py
  recidiviz/pipelines/ingest/state/pipeline.py
  recidiviz/pipelines/ingest/state/run_validations.py
  recidiviz/pipelines/ingest/state/validator.py
  recidiviz/pipelines/utils/beam_utils/bigquery_io_utils.py
  recidiviz/tests/persistence/entity/entity_utils_test.py
  recidiviz/tests/pipelines/ingest/state/generate_primary_keys_test.py
  recidiviz/tests/pipelines/ingest/state/merge_root_entities_across_dates_test.py
Due: generate_docs_for_endpoint

[US_MI] Switch PKs for violation incident record association tables (Recidiviz/recidiviz-data#24031)
  recidiviz/ingest/direct/regions/us_mi/raw_data/us_mi_COMS_Parole_Violation_Violation_Incidents.yaml
  recidiviz/ingest/direct/regions/us_mi/raw_data/us_mi_COMS_Probation_Violation_Violation_Incidents.yaml
Due: generate_docs_for_region, generate_docs_for_endpoint

(Repeat PR) [US_ID] Create config for `US_TN_ANNUAL_RECLASSIFICATION` (Recidiviz/recidiviz-data#24013)
  recidiviz/calculator/query/state/views/reference/workflows_opportunity_configs.py
Due: generate_docs_for_endpoint

[Outliers] Validate continuity across state staff supervisor & role periods (Recidiviz/recidiviz-data#23711)
  recidiviz/validation/views/state/outliers/configured_validations.py
  recidiviz/validation/views/state/outliers/supervision_staff_wrong_role.py
Due: generate_docs_for_endpoint

Export failed logins (Recidiviz/recidiviz-data#23922)
  recidiviz/calculator/query/state/dataset_config.py
  recidiviz/calculator/query/state/views/reference/product_failed_logins_monthly.py
  recidiviz/calculator/query/state/views/reference/reference_views.py
  recidiviz/metrics/export/export_config.py
  recidiviz/metrics/export/products/products.yaml
  recidiviz/view_registry/datasets.py
Due: generate_docs_for_endpoint

[bug] Use project_id in product_failed_logins (Recidiviz/recidiviz-data#24050)
  recidiviz/calculator/query/state/views/reference/product_failed_logins_monthly.py
Due: generate_docs_for_endpoint

Path conditions:
  generate_docs_for_region: any of: ^recidiviz/ingest/direct/regions/
  generate_docs_for_endpoint: any of: ^recidiviz/, but not: (?x)(^recidiviz/tests/|^recidiviz/tools/|^recidiviz/ingest/direct/regions/)$

  generate_entity_documentation: any of: (?x)(^recidiviz/persistence/database/schema/state/schema.py|^recidiviz/persistence/database/schema/history_table_shared_columns_mixin.py)$

