Repository Recidiviz/pulse-data: changes, and which pre-commit hooks are due for each by the changed paths.
All: generate_docs_for_region, generate_docs_for_endpoint, generate_entity_documentation

generate_docs_for_region:
  name: generate_docs_for_region
  entry: pipenv run python -m recidiviz.tools.docs.region_documentation_generator
  language: system
  require_serial: true

generate_docs_for_endpoint:
  name: generate_docs_for_endpoint
  entry: pipenv run python -m recidiviz.tools.docs.endpoint_documentation_generator
  language: system
  require_serial: true

generate_entity_documentation:
  name: generate_entity_documentation
  entry: pipenv run python -m recidiviz.tools.docs.entity_documentation_generator
  language: system
  require_serial: true

Create task_events view (Recidiviz/recidiviz-data#15858)
  recidiviz/calculator/query/state/views/analyst_data/analyst_data_views.py
  recidiviz/calculator/query/state/views/analyst_data/person_events.py
  recidiviz/calculator/query/state/views/analyst_data/task_events.py
Due: generate_docs_for_endpoint

[US_ND][Workflows] Add state attorney info to auto fill form (Recidiviz/recidiviz-data#15868)
  recidiviz/calculator/query/state/views/workflows/firestore/us_nd_complete_discharge_early_from_supervision_record.py
Due: generate_docs_for_endpoint

Fix CSG export script to use level 1 location (Recidiviz/recidiviz-data#15886)
  recidiviz/tools/export_csg_files.py
Due: generate_docs_for_endpoint

[US_MI] Set up MI supervision location ids (Recidiviz/recidiviz-data#15885)
  recidiviz/calculator/query/state/views/reference/supervision_location_ids_to_names.py
  recidiviz/ingest/direct/regions/us_mi/raw_data/us_mi_RECIDIVIZ_REFERENCE_supervision_location_ids.yaml
Due: generate_docs_for_region, generate_docs_for_endpoint

Fixing calculation_month_count bug that is causing metrics to disappear (Recidiviz/recidiviz-data#15887)
  recidiviz/calculator/pipeline/metrics/base_metric_pipeline.py
  recidiviz/tests/calculator/pipeline/utils/beam_utils/pipeline_args_utils_test.py
Due: generate_docs_for_endpoint

add a button to switch between prod and staging (Recidiviz/recidiviz-data#15697)
  frontends/admin-panel/src/components/App.tsx
  frontends/admin-panel/src/style/App.css
Due: none

[US_PA] Adding more conditions to program assignment view to handle * (Recidiviz/recidiviz-data#15888)
  recidiviz/ingest/direct/regions/us_pa/ingest_views/view_program_assignment.py
Due: generate_docs_for_region, generate_docs_for_endpoint

[US_MO] Bump thresholds and include todos for final rework on incarceration periods migrations (Recidiviz/recidiviz-data#15907)
  recidiviz/validation/config/regions/us_mo/us_mo_validation_config.yaml
Due: generate_docs_for_endpoint

[Admin Panel] Added Timestamp to Popup Message in Ingest Instance Status Page tag (Recidiviz/recidiviz-data#15869)
  frontends/admin-panel/src/AdminPanelAPI/IngestOperations.ts
  frontends/admin-panel/src/AdminPanelAPI/index.ts
  frontends/admin-panel/src/components/IngestOperationsView/IngestOperationsComponents/IngestInstanceActionsPageHeader.tsx
  frontends/admin-panel/src/components/IngestOperationsView/ingestStatusUtils.ts
  recidiviz/admin_panel/routes/ingest_ops.py
  recidiviz/ingest/direct/metadata/direct_ingest_instance_status_manager.py
Due: generate_docs_for_endpoint

[Case Triage] use max(date_of_evaluation) instead of current_date, update time zones (Recidiviz/recidiviz-data#15906)
  recidiviz/case_triage/views/etl_clients.py
  recidiviz/case_triage/views/etl_opportunities.py
Due: generate_docs_for_endpoint

[US_MI] Revise ADH_OFFENDER to be inner joined on in the sentences view (Recidiviz/recidiviz-data#15911)
  recidiviz/ingest/direct/regions/us_mi/ingest_views/view_sentences.py
Due: generate_docs_for_region, generate_docs_for_endpoint

[US_ID][Workflows] Default to Idaho raw data value for max completion date in supervision_projected_completion_date_spans (Recidiviz/recidiviz-data#15902)
  recidiviz/calculator/query/state/views/sessions/supervision_projected_completion_date_spans.py
Due: generate_docs_for_endpoint

Moving supervision_period_to_agent_association to delegate instantiation (Recidiviz/recidiviz-data#15910)
  recidiviz/calculator/pipeline/metrics/incarceration/identifier.py
  recidiviz/calculator/pipeline/metrics/population_spans/identifier.py
  recidiviz/calculator/pipeline/metrics/program/identifier.py
  recidiviz/calculator/pipeline/metrics/supervision/identifier.py
  recidiviz/calculator/pipeline/metrics/supervision/metric_producer.py
  recidiviz/calculator/pipeline/metrics/utils/commitment_from_supervision_utils.py
  recidiviz/calculator/pipeline/utils/state_utils/state_calculation_config_manager.py
  recidiviz/calculator/pipeline/utils/state_utils/state_specific_supervision_delegate.py
  recidiviz/calculator/pipeline/utils/state_utils/us_mo/us_mo_supervision_delegate.py
  recidiviz/calculator/pipeline/utils/supervision_period_utils.py
  recidiviz/tests/calculator/pipeline/metrics/incarceration/identifier_test.py
  recidiviz/tests/calculator/pipeline/metrics/incarceration/pipeline_test.py
  recidiviz/tests/calculator/pipeline/metrics/population_spans/identifier_test.py
  recidiviz/tests/calculator/pipeline/metrics/program/identifier_test.py
  recidiviz/tests/calculator/pipeline/metrics/supervision/identifier_test.py
  recidiviz/tests/calculator/pipeline/metrics/supervision/metric_producer_test.py
  recidiviz/tests/calculator/pipeline/metrics/supervision/pipeline_test.py
  recidiviz/tests/calculator/pipeline/metrics/utils/commitment_from_supervision_utils_test.py
  recidiviz/tests/calculator/pipeline/metrics/utils/supervision_case_compliance_manager_test.py
  recidiviz/tests/calculator/pipeline/utils/assessment_utils_test.py
  recidiviz/tests/calculator/pipeline/utils/state_utils/state_calculation_config_manager_test.py
  recidiviz/tests/calculator/pipeline/utils/state_utils/state_specific_supervision_delegate_test.py
  recidiviz/tests/calculator/pipeline/utils/state_utils/templates/us_xx/us_xx_supervision_delegate_test.py
  recidiviz/tests/calculator/pipeline/utils/state_utils/us_ca/us_ca_supervision_delegate_test.py
  recidiviz/tests/calculator/pipeline/utils/state_utils/us_co/us_co_supervision_delegate_test.py
  recidiviz/tests/calculator/pipeline/utils/state_utils/us_id/us_id_supervision_compliance_test.py
  recidiviz/tests/calculator/pipeline/utils/state_utils/us_id/us_id_supervision_delegate_test.py
  recidiviz/tests/calculator/pipeline/utils/state_utils/us_ix/us_ix_supervision_delegate_test.py
  recidiviz/tests/calculator/pipeline/utils/state_utils/us_me/us_me_supervision_delegate_test.py
  recidiviz/tests/calculator/pipeline/utils/state_utils/us_mo/us_mo_supervision_delegate_test.py
  recidiviz/tests/calculator/pipeline/utils/state_utils/us_nd/us_nd_supervision_compliance_test.py
  recidiviz/tests/calculator/pipeline/utils/state_utils/us_nd/us_nd_supervision_delegate_test.py
  recidiviz/tests/calculator/pipeline/utils/state_utils/us_or/us_or_supervision_delegate_test.py
  recidiviz/tests/calculator/pipeline/utils/state_utils/us_oz/us_oz_supervision_delegate_test.py
  recidiviz/tests/calculator/pipeline/utils/state_utils/us_pa/us_pa_commitment_from_supervision_delegate_test.py
  recidiviz/tests/calculator/pipeline/utils/state_utils/us_pa/us_pa_supervision_compliance_test.py
  recidiviz/tests/calculator/pipeline/utils/state_utils/us_pa/us_pa_supervision_delegate_test.py
  recidiviz/tests/calculator/pipeline/utils/state_utils/us_tn/us_tn_supervision_delegate_test.py
  recidiviz/tests/calculator/pipeline/utils/supervision_period_utils_test.py
Due: generate_docs_for_endpoint

[US_MO] Ungating incarceration periods fully in prod (Recidiviz/recidiviz-data#15918)
  recidiviz/ingest/direct/regions/us_mo/us_mo_controller.py
Due: generate_docs_for_region, generate_docs_for_endpoint

[US_ID][Workflows] Add UA waiver to case notes, restrict negative ua results <90 days (Recidiviz/recidiviz-data#15833)
  recidiviz/calculator/query/state/views/workflows/firestore/us_id_complete_discharge_early_from_supervision_request_record.py
  recidiviz/calculator/query/state/views/workflows/firestore/us_id_complete_transfer_to_limited_supervision_form_record.py
Due: generate_docs_for_endpoint

Fix Abstract Class DirectIngestInstanceManager Error on `main` (Recidiviz/recidiviz-data#15922)
  recidiviz/ingest/direct/metadata/direct_ingest_instance_status_manager.py
  recidiviz/tests/big_query/fakes/fake_direct_ingest_instance_status_manager.py
Due: generate_docs_for_endpoint

Continuation of Mypy Fixes for DirectIngestInstanceStatusManager (Recidiviz/recidiviz-data#15932)
  recidiviz/ingest/direct/metadata/direct_ingest_instance_status_manager.py
Due: generate_docs_for_endpoint

[Admin Panel] tags colors match summary colors (Recidiviz/recidiviz-data#15842)
  frontends/admin-panel/src/components/IngestOperationsView/IngestInstanceCurrentStatusSummary.tsx
  frontends/admin-panel/src/components/IngestOperationsView/IngestOperationsComponents/IngestInstanceActionsPageHeader.tsx
  frontends/admin-panel/src/components/IngestOperationsView/IngestOperationsComponents/IngestQueuesActionsPageHeader.tsx
  frontends/admin-panel/src/style/App.css
Due: none

[Autogenerated] Update Pipfile.lock (Recidiviz/recidiviz-data#15767)
  Pipfile.lock
  recidiviz/calculator/modeling/population_projection/predicted_admissions.py
  recidiviz/calculator/modeling/population_projection/super_simulation/initializer.py
  recidiviz/tests/big_query/fake_big_query_view_builder.py
  recidiviz/tests/tools/deploy/dataflow_setup_test.py
  recidiviz/tests/utils/with_secrets.py
  recidiviz/tools/deploy/dataflow_setup.py
  recidiviz/tools/diff_pipenv.sh
Due: generate_docs_for_endpoint

[Tools] Add linter and syntax validator `shellcheck` to pre-commit (Recidiviz/recidiviz-data#15312)
  .pre-commit-config.yaml
  Pipfile
  Pipfile.lock
  recidiviz/tools/admin_panel/initialize_development_environment.sh
  recidiviz/tools/case_triage/initialize_development_environment.sh
  recidiviz/tools/copy_certificates_to_prod_data_client.sh
  recidiviz/tools/deploy/base_deploy_to_staging.sh
  recidiviz/tools/deploy/cut_release_candidate.sh
  recidiviz/tools/deploy/deploy_alpha_to_staging.sh
  recidiviz/tools/deploy/deploy_helpers.sh
  recidiviz/tools/deploy/deploy_local_to_staging.sh
  recidiviz/tools/deploy/deploy_production.sh
  recidiviz/tools/deploy/github/self_hosted_build_agent/deploy_build_agent.sh
  recidiviz/tools/deploy/github/self_hosted_build_agent/entrypoint.sh
  recidiviz/tools/deploy/oneoffs/import_gcs_1.sh
  recidiviz/tools/deploy/oneoffs/import_gcs_2.sh
  recidiviz/tools/deploy/oneoffs/import_state_validation_datasets.sh
  recidiviz/tools/deploy/oneoffs/import_tn_scraper_queue.sh
  recidiviz/tools/deploy/oneoffs/terraform_oneoffs.sh
  recidiviz/tools/deploy/terraform_plan.sh
  recidiviz/tools/deploy/update_terraform_lock.sh
  recidiviz/tools/diff_pipenv.sh
  recidiviz/tools/justice_counts/control_panel/initialize_development_environment.sh
  recidiviz/tools/lint/run_pylint.sh
  recidiviz/tools/migrations/run_all_migrations.sh
  recidiviz/tools/migrations/run_all_migrations_using_proxy.sh
  recidiviz/tools/postgres/cloudsql_proxy_control.sh
  recidiviz/tools/postgres/pg_init_scripts/create_multiple_postgresql_databases.sh
  recidiviz/tools/postgres/script_helpers.sh
  recidiviz/tools/script_base.sh
  recidiviz/tools/untilfail.sh
Due: generate_docs_for_endpoint

[Admin Panel] Re-work of code in preparation for single column state data (Recidiviz/recidiviz-data#15939)
  frontends/admin-panel/src/components/App.tsx
  frontends/admin-panel/src/components/Datasets/ColumnView.tsx
  frontends/admin-panel/src/components/Datasets/DatasetOverviewView.tsx
  frontends/admin-panel/src/components/Datasets/DatasetView.tsx
  frontends/admin-panel/src/components/Datasets/TableView.tsx
  frontends/admin-panel/src/components/IngestOperationsView/IngestInstanceCurrentStatusSummary.tsx
  frontends/admin-panel/src/components/IngestOperationsView/IngestStateSpecificInstanceMetadata.tsx
  frontends/admin-panel/src/components/IngestOperationsView/IngestStateSpecificMetadata.tsx
  frontends/admin-panel/src/components/IngestOperationsView/StateSpecificIngestIngestQueues.tsx
  frontends/admin-panel/src/components/Validation/ValidationStatusView.tsx
  frontends/admin-panel/src/components/general/StateSelectorPageHeader.tsx
  frontends/admin-panel/src/style/App.css
Due: none

Adding a StateCharge reference view for the offense descriptions (Recidiviz/recidiviz-data#15914)
  recidiviz/calculator/query/state/views/reference/reference_views.py
  recidiviz/calculator/query/state/views/reference/state_charge_offense_description_to_labels.py
Due: generate_docs_for_endpoint

[Tools] Fix file expansion in `run_pylint.sh` (Recidiviz/recidiviz-data#15945)
  recidiviz/tools/lint/run_pylint.sh
Due: generate_docs_for_endpoint

[Justice Counts] Do not raise missing metric / breakdown errors when metric is disabled. (Recidiviz/recidiviz-data#15694)
  recidiviz/justice_counts/bulk_upload/bulk_upload.py
  recidiviz/justice_counts/control_panel/routes/api.py
  recidiviz/justice_counts/control_panel/server.py
  recidiviz/justice_counts/datapoint.py
  recidiviz/justice_counts/spreadsheet.py
  recidiviz/tests/justice_counts/bulk_upload/bulk_upload_fixtures/law_enforcement/law_enforcement_empty_template.xlsx
  recidiviz/tests/justice_counts/bulk_upload/bulk_upload_test.py
  recidiviz/tests/justice_counts/control_panel/server_test.py
  recidiviz/tests/justice_counts/spreadsheet_test.py
Due: generate_docs_for_endpoint

Add bash script that runs raw data pruning for multiple states/projects (Recidiviz/recidiviz-data#15946)
  recidiviz/tools/multi_state_raw_data_pruning.sh
Due: generate_docs_for_endpoint

Sessionization query fragment method (Recidiviz/recidiviz-data#15831)
  recidiviz/calculator/query/sessions_query_fragments.py
  recidiviz/calculator/query/state/views/sessions/dataflow_sessions.py
  recidiviz/calculator/query/state/views/sessions/us_mo/us_mo_confinement_type_sessions.py
  recidiviz/calculator/query/state/views/sessions/us_mo/us_mo_housing_stay_sessions.py
Due: generate_docs_for_endpoint

[US_ID] Update Atlas raw data config defaults (Recidiviz/recidiviz-data#15951)
  recidiviz/ingest/direct/regions/us_ix/raw_data/us_ix_default.yaml
Due: generate_docs_for_region, generate_docs_for_endpoint

Create absconsion/warrant sessions (Recidiviz/recidiviz-data#15854)
  recidiviz/calculator/query/state/views/analyst_data/person_events.py
  recidiviz/calculator/query/state/views/sessions/absconsion_bench_warrant_sessions.py
  recidiviz/calculator/query/state/views/sessions/sessions_views.py
Due: generate_docs_for_endpoint

[Deploy] Fix return code when version is greater than min required version (Recidiviz/recidiviz-data#15955)
  recidiviz/tools/script_base.sh
Due: generate_docs_for_endpoint

[US_PA] remove safe_cast in supervision period (Recidiviz/recidiviz-data#15645)
  recidiviz/ingest/direct/regions/us_pa/ingest_views/view_supervision_period_v4.py
Due: generate_docs_for_region, generate_docs_for_endpoint

Recategorizes FAST as absconsion compartment_level_2 (Recidiviz/recidiviz-data#15948)
  recidiviz/calculator/query/state/views/sessions/us_pa/us_pa_supervision_population_metrics_preprocessed.py
Due: generate_docs_for_endpoint

Update run_pylint.sh (Recidiviz/recidiviz-data#15956)
  recidiviz/tools/lint/run_pylint.sh
Due: generate_docs_for_endpoint

[Deploy] Fix `run_cmd` options for git tag creation (Recidiviz/recidiviz-data#15958)
  recidiviz/tools/deploy/cut_release_candidate.sh
Due: generate_docs_for_endpoint

use single day population spans for vitals (Recidiviz/recidiviz-data#15962)
  recidiviz/calculator/query/state/views/dashboard/vitals_summaries/vitals_summaries.py
Due: generate_docs_for_endpoint

[US_PA] remove safe_cast in supervision contacts (Recidiviz/recidiviz-data#15644)
  recidiviz/ingest/direct/regions/us_pa/ingest_views/view_supervision_contacts.py
Due: generate_docs_for_region, generate_docs_for_endpoint

[US_PA] remove safe_cast in incarceration period (Recidiviz/recidiviz-data#15641)
  recidiviz/ingest/direct/regions/us_pa/ingest_views/view_ccis_incarceration_period.py
Due: generate_docs_for_region, generate_docs_for_endpoint

[Justice Counts] Various fixes for NCDPS (Recidiviz/recidiviz-data#15867)
  recidiviz/justice_counts/bulk_upload/bulk_upload.py
  recidiviz/justice_counts/control_panel/routes/api.py
  recidiviz/justice_counts/spreadsheet.py
Due: generate_docs_for_endpoint

Recategorize investigation compartment level 1 (Recidiviz/recidiviz-data#15971)
  recidiviz/calculator/query/state/views/dashboard/pathways/event_level/liberty_to_prison_transitions.py
  recidiviz/calculator/query/state/views/sessions/compartment_level_1_dedup_priority.py
  recidiviz/calculator/query/state/views/sessions/dataflow_sessions.py
Due: generate_docs_for_endpoint

[US_MI] Database migration to re-map from termination reason admitted_to_incarceration to revocation (Recidiviz/recidiviz-data#15881)
  recidiviz/ingest/direct/regions/us_mi/ingest_mappings/us_mi_supervision_periods.yaml
  recidiviz/persistence/database/migrations/state/versions/2022_10_06_1024_8c74c471901a_us_mi_supervision_termination_reason.py
Due: generate_docs_for_region, generate_docs_for_endpoint

Path conditions:
  generate_docs_for_region: any of: ^recidiviz/ingest/direct/regions/
  generate_docs_for_endpoint: any of: ^recidiviz/, but not: (?x)(^recidiviz/tests/|^recidiviz/tools/|^recidiviz/ingest/direct/regions/)$

  generate_entity_documentation: any of: (?x)(^recidiviz/persistence/database/schema/state/schema.py|^recidiviz/persistence/database/schema/history_table_shared_columns_mixin.py)$

