Repository Recidiviz/pulse-data: changes, and which pre-commit hooks are due for each by the changed paths.
All: generate_docs_for_region, generate_docs_for_endpoint, generate_entity_documentation, generate_calc_documentation, generate_ingest_mappings_schema_documentation, update_terraform_lock_file, terraform_fmt, alphabetize_yaml

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.3.0
    hooks:
      - id: check-yaml
  - repo: https://github.com/psf/black
    rev: 22.3.0
    hooks:
      # This runs on py, pyi, and ipynb files.
      - id: black-jupyter
        language_version: python3
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v2.5.1
    hooks:
      - id: prettier
        types_or: [yaml]
  - repo: https://github.com/pycqa/isort
    rev: 5.12.0
    hooks:
      - id: isort
        name: isort (python)
      - id: isort
        name: isort (pyi)
        types: [pyi]
  - repo: https://github.com/shellcheck-py/shellcheck-py
    rev: v0.8.0.4
    hooks:
      - id: shellcheck
        # Also validate any `source`d files
        args: [-x]
  - repo: local
    hooks:
      - id: generate_docs_for_region
        name: generate_docs_for_region
        entry: pipenv run python -m
          recidiviz.tools.docs.region_documentation_generator
        language: system
        files: ^recidiviz/ingest/direct/regions/|^recidiviz/view_registry/raw_data_reference_reasons.yaml
        require_serial: true
      - id: generate_docs_for_endpoint
        name: generate_docs_for_endpoint
        entry: pipenv run python -m
          recidiviz.tools.docs.endpoint_documentation_generator
        language: system
        files: (?x)(^recidiviz/tools/docs/endpoint_documentation_generator.py|^recidiviz/server_blueprint_registry.py|.*/routes/|.*routes.py|.*/server.py|.*control.py|.*endpoint.py|.*endpoints.py|^recidiviz/backup/backup_manager.py|^recidiviz/pipelines/calculation_data_storage_manager.py)$
        exclude: ^recidiviz/tests
        require_serial: true
      - id: generate_entity_documentation
        name: generate_entity_documentation
        entry: pipenv run python -m
          recidiviz.tools.docs.entity_documentation_generator
        language: system
        files: >
          (?x)(^recidiviz/persistence/database/schema/state/schema.py|^recidiviz/persistence/entity/state/normalized_entities.py|^recidiviz/persistence/entity/state/entities.py|^recidiviz/common/constants/state/)$
        require_serial: true
      - id: generate_calc_documentation
        name: generate_calc_documentation
        entry: pipenv run python -m
          recidiviz.calculator.calculation_documentation_generator
        language: system
        files: ^recidiviz/calculator/|^recidiviz/pipelines/|^recidiviz/metrics/|^recidiviz/.*/views/|^recidiviz/big_query/|^recidiviz/persistence/database/schema/|^recidiviz/persistence/entity/|^recidiviz/task_eligibility/|^recidiviz/monitoring/platform_kpis/
        exclude: ^recidiviz/tests/|^recidiviz/calculator/modeling/
        require_serial: true
      - id: generate_ingest_mappings_schema_documentation
        name: generate_ingest_mappings_schema_documentation
        entry: pipenv run python -m
          recidiviz.tools.docs.ingest_mappings_schema_documentation_generator
        language: system
        files: ^recidiviz/ingest/direct/ingest_mappings/yaml_schema/|^docs/engineering/ingest_mapping_schema/
        require_serial: true
      - id: update_terraform_lock_file
        name: update_terraform_lock_file
        entry: recidiviz/tools/deploy/update_terraform_lock.sh
        language: script
        files: ^recidiviz/tools/deploy/terraform/
        require_serial: true
      - id: terraform_fmt
        name: terraform_fmt
        entry: recidiviz/tools/deploy/format_terraform.sh
        language: script
        files: ^recidiviz/tools/deploy/terraform/
      - id: alphabetize_yaml
        name: alphabetize_yaml
        entry: pipenv run python -m
          recidiviz.tools.alphabetize_raw_data_reference_reasons
        language: system
        files: recidiviz/view_registry/raw_data_reference_reasons.yaml

[US_TN] adding enum for new risk level value (Recidiviz/recidiviz-data#40519)
  recidiviz/ingest/direct/regions/us_tn/ingest_mappings/us_tn_VantagePointAssessments.yaml
Due: generate_docs_for_region

[US_NE] Conditional Low Risk overrides - special conditions criterion (Recidiviz/recidiviz-data#40454)
  recidiviz/calculator/query/state/views/sessions/sessions_views.py
  recidiviz/calculator/query/state/views/sessions/us_ne/__init__.py
  recidiviz/calculator/query/state/views/sessions/us_ne/us_ne_special_condition_compliance_sessions.py
  recidiviz/task_eligibility/criteria/state_specific/us_ne/compliant_with_special_conditions.py
  recidiviz/task_eligibility/eligibility_spans/us_ne/conditional_low_risk_supervision_override.py
  recidiviz/view_registry/raw_data_reference_reasons.yaml
Due: generate_docs_for_region, generate_calc_documentation, alphabetize_yaml

[Schema] Enforce reasonable date bounds on staff entities (Recidiviz/recidiviz-data#40468)
  recidiviz/persistence/entity/state/entities.py
  recidiviz/persistence/entity/state/normalized_entities.py
Due: generate_entity_documentation, generate_calc_documentation

[Schema] Enforce reasonable person birthdate values (Recidiviz/recidiviz-data#40481)
  recidiviz/persistence/entity/state/entities.py
  recidiviz/persistence/entity/state/normalized_entities.py
Due: generate_entity_documentation, generate_calc_documentation

[US_TN] Update `workflows_state_specific_supervision_level` to accommodate new TN supervision levels (Recidiviz/recidiviz-data#40452)
  recidiviz/calculator/query/state/state_specific_query_strings.py
Due: generate_calc_documentation

[US_TN] Update references from Low-Medium to Low (Minimum) and add new strong r keys (Recidiviz/recidiviz-data#40443)
  recidiviz/calculator/query/state/views/workflows/firestore/us_tn_transfer_to_compliant_reporting_2025_policy_record.py
  recidiviz/task_eligibility/criteria/general/on_minimum_after_unassigned.py
  recidiviz/task_eligibility/criteria/general/on_minimum_or_low_medium_supervision_at_least_six_months.py
  recidiviz/task_eligibility/eligibility_spans/us_tn/transfer_minimum_group_to_compliant_reporting_2025_policy.py
  recidiviz/task_eligibility/eligibility_spans/us_tn/transfer_unassigned_group_to_compliant_reporting_2025_policy.py
  recidiviz/task_eligibility/utils/us_tn_query_fragments.py
Due: generate_calc_documentation

[Insights][US_MI] Add new aggregated metrics for parole and probation outcomes (Recidiviz/recidiviz-data#40453)
  recidiviz/aggregated_metrics/configuration/collections/standard.py
  recidiviz/aggregated_metrics/models/aggregated_metric_configurations.py
Due: none

[LoginEmails] Migrate login reminder queries to agg metrics (Recidiviz/recidiviz-data#40357)
  recidiviz/aggregated_metrics/assignment_sessions_view_builder.py
  recidiviz/aggregated_metrics/configuration/collections/user_metrics.py
  recidiviz/aggregated_metrics/models/aggregated_metric_configurations.py
  recidiviz/calculator/query/state/views/user_metrics/insights_user_available_actions.py
  recidiviz/calculator/query/state/views/user_metrics/officer_monthly_usage_report.py
  recidiviz/calculator/query/state/views/user_metrics/user_metrics_views.py
  recidiviz/calculator/query/state/views/user_metrics/workflows_user_available_actions.py
  recidiviz/tools/find_unused_bq_views.py
Due: generate_calc_documentation

[Insights] Add include_in_outcomes metric rows to SOM view (Recidiviz/recidiviz-data#40494)
  recidiviz/calculator/query/state/views/outliers/metric_benchmarks.py
  recidiviz/calculator/query/state/views/outliers/supervision_officer_metrics.py
  recidiviz/calculator/query/state/views/outliers/supervision_officer_outlier_status.py
  recidiviz/calculator/query/state/views/outliers/utils.py
  recidiviz/outliers/types.py
  recidiviz/tools/insights/fixtures/supervision_officer_metrics.json
Due: generate_calc_documentation

[US_AZ] Migrate raw data fixtures in AZ (Recidiviz/recidiviz-data#40526)
  recidiviz/ingest/direct/raw_data/documentation_exemptions.py
  recidiviz/tests/ingest/direct/fixture_util.py
Due: none

[US_IA][Workflows] Change supervision level criterion to include level 0 (Recidiviz/recidiviz-data#40461)
  recidiviz/calculator/query/state/state_specific_query_strings.py
  recidiviz/task_eligibility/criteria/state_specific/us_ia/supervision_level_is_0_not_available_1_2_or_3.py
  recidiviz/task_eligibility/eligibility_spans/us_ia/complete_early_discharge_form.py
Due: generate_calc_documentation

[Testing] Have all raw data fixtures be @ALL raw data fixtures (Recidiviz/recidiviz-data#40534)
  recidiviz/tests/ingest/direct/direct_ingest_raw_fixture_loader.py
  recidiviz/tests/ingest/direct/fixture_util.py
  recidiviz/tests/ingest/direct/raw_data_fixture.py
Due: none

[US_ND][US_UT] Adjust validation thresholds (Recidiviz/recidiviz-data#40535)
  recidiviz/validation/config/regions/us_nd/us_nd_validation_config.yaml
  recidiviz/validation/config/regions/us_ut/us_ut_validation_config.yaml
Due: none

[US_IX] Map retired and homemaker to unable to work (Recidiviz/recidiviz-data#40538)
  recidiviz/ingest/direct/regions/us_ix/ingest_mappings/us_ix_employment_periods.yaml
Due: generate_docs_for_region

[Schema] Enforce reasonable dates on StatePersonAddressPeriod (Recidiviz/recidiviz-data#40530)
  recidiviz/persistence/entity/state/entities.py
  recidiviz/persistence/entity/state/normalized_entities.py
Due: generate_entity_documentation, generate_calc_documentation

[US_IX][Workflows] Add `eligible_date` field to Idaho opp records (Recidiviz/recidiviz-data#40188)
  recidiviz/calculator/query/state/views/workflows/firestore/firestore_views.py
  recidiviz/calculator/query/state/views/workflows/firestore/us_ix_complete_discharge_early_from_supervision_request_record.py
  recidiviz/calculator/query/state/views/workflows/firestore/us_ix_complete_full_term_discharge_from_supervision_request_record.py
  recidiviz/calculator/query/state/views/workflows/firestore/us_ix_complete_transfer_to_limited_supervision_form_record.py
  recidiviz/calculator/query/state/views/workflows/firestore/us_ix_custody_level_downgrade_record.py
  recidiviz/calculator/query/state/views/workflows/firestore/us_ix_supervision_level_downgrade_record.py
  recidiviz/calculator/query/state/views/workflows/firestore/us_ix_transfer_to_crc_resident_worker_request_record.py
  recidiviz/calculator/query/state/views/workflows/firestore/us_ix_transfer_to_crc_work_release_request_record.py
  recidiviz/calculator/query/state/views/workflows/firestore/us_ix_transfer_to_xcrc_request_record.py
Due: generate_calc_documentation

[Insights] Add rate_denominator to OutliersMetricConfig and view helper fn (Recidiviz/recidiviz-data#40503)
  recidiviz/calculator/query/state/views/outliers/supervision_metrics_helpers.py
  recidiviz/outliers/types.py
  recidiviz/tests/outliers/querier_test.py
  recidiviz/tests/outliers/snapshots/snap_querier_test.py
Due: generate_calc_documentation

[Schema] Enforce reasonable dates on StateAssessment (Recidiviz/recidiviz-data#40497)
  recidiviz/persistence/entity/state/entities.py
  recidiviz/persistence/entity/state/normalized_entities.py
  recidiviz/tests/persistence/entity/state/deserialize_entity_factories_test.py
  recidiviz/tests/pipelines/metrics/incarceration/pipeline_test.py
Due: generate_entity_documentation, generate_calc_documentation

[Schema] Enforce reasonable dates on StateDrugScreen (Recidiviz/recidiviz-data#40502)
  recidiviz/persistence/entity/state/entities.py
  recidiviz/persistence/entity/state/normalized_entities.py
Due: generate_entity_documentation, generate_calc_documentation

[Schema] Enforce reasonable dates on StateEarlyDischarge (Recidiviz/recidiviz-data#40508)
  recidiviz/persistence/entity/state/entities.py
  recidiviz/persistence/entity/state/normalized_entities.py
Due: generate_entity_documentation, generate_calc_documentation

[Admin Panel] Fix custom permissions highlighting (Recidiviz/recidiviz-data#40165)
  frontends/admin-panel/src/components/StateUserPermissions/StateUserPermissionsView.tsx
  frontends/admin-panel/src/components/StateUserPermissions/__tests__/utils.test.ts
  frontends/admin-panel/src/components/StateUserPermissions/utils.tsx
  frontends/admin-panel/src/types.ts
  recidiviz/auth/auth_endpoint.py
  recidiviz/tests/auth/auth_endpoint_test.py
Due: generate_docs_for_endpoint

[Sentencing] Add new PSI route permission for supervisors in Admin Panel (Recidiviz/recidiviz-data#40545)
  frontends/admin-panel/src/components/constants.ts
Due: none

[Application Data Import] Bump memory & concurrency. Add missing roles to service account (Recidiviz/recidiviz-data#40537)
  recidiviz/tools/deploy/terraform/cloud-run.tf
Due: update_terraform_lock_file, terraform_fmt

Turn off product roster validations in staging (Recidiviz/recidiviz-data#40544)
  recidiviz/validation/configured_validations.py
Due: none

[Justice Counts] Update Dockerfile to use Node v.20-alpine (Recidiviz/recidiviz-data#40564)
  Dockerfile.justice-counts
Due: none

Impact Report Metrics: Add "Marked Submitted" and Split By System (Recidiviz/recidiviz-data#40536)
  recidiviz/aggregated_metrics/aggregated_metric_collection_config.py
  recidiviz/aggregated_metrics/configuration/collections/impact_reports.py
  recidiviz/aggregated_metrics/models/aggregated_metric_configurations.py
  recidiviz/appsscript/automated_leadership_reports/CreateReport.js
  recidiviz/appsscript/automated_leadership_reports/QueryFunctions.js
Due: none

[Ingest] Add UsXxRawDataImportDelegate to the template region (Recidiviz/recidiviz-data#40548)
  recidiviz/ingest/direct/templates/us_xx/us_xx_raw_data_import_delegate.py
Due: none

[JII] Add group_name and workflow_execution_id to new docs to help migration (Recidiviz/recidiviz-data#40567)
  recidiviz/case_triage/jii/send_jii_texts.py
Due: none

[US_TN] Add in "intake" group into Compliant Reporting Policy B opportunity record (Recidiviz/recidiviz-data#40550)
  recidiviz/calculator/query/state/views/workflows/firestore/us_tn_transfer_to_compliant_reporting_2025_policy_record.py
  recidiviz/tools/find_unused_bq_views.py
Due: generate_calc_documentation

[Justice Counts] [1/n] Replace `dimension_to_other_sub_dimensions` with `dimension_to_other_sub_dimension_to_enabled_status` enable/disable functionality (Recidiviz/recidiviz-data#40527)
  recidiviz/justice_counts/control_panel/routes/admin.py
  recidiviz/justice_counts/metric_setting.py
  recidiviz/justice_counts/metrics/metric_disaggregation_data.py
  recidiviz/tests/justice_counts/control_panel/admin_test.py
  recidiviz/tests/justice_counts/metric_interface_test.py
Due: none

[Justice Counts] Add Stepping Up Breakdowns To Jails Total Admissions, al Releases, and Total Daily Population (Recidiviz/recidiviz-data#40573)
  recidiviz/justice_counts/metrics/jails.py
Due: none

[US_AZ] Change supervision level source (Recidiviz/recidiviz-data#40540)
  recidiviz/ingest/direct/regions/us_az/ingest_views/view_supervision_periods.py
Due: generate_docs_for_region

[Justice Counts] [2/n] Add endpoint to retrieve 'other sub-dimensions' for metric settings in admin panel (Recidiviz/recidiviz-data#40446)
  recidiviz/justice_counts/control_panel/routes/admin.py
  recidiviz/tests/justice_counts/control_panel/admin_test.py
Due: none

PSI case disposition view (Recidiviz/recidiviz-data#37718)
  recidiviz/calculator/query/state/view_config.py
  recidiviz/calculator/query/state/views/sentencing/case_disposition.py
  recidiviz/calculator/query/state/views/sentencing/case_record.py
  recidiviz/calculator/query/state/views/sentencing/case_record_historical.py
  recidiviz/calculator/query/state/views/sentencing/client_record.py
  recidiviz/calculator/query/state/views/sentencing/client_record_historical.py
  recidiviz/calculator/query/state/views/sentencing/sentencing_views.py
  recidiviz/calculator/query/state/views/sentencing/us_ix/sentencing_case_disposition_template.py
  recidiviz/calculator/query/state/views/sentencing/us_ix/sentencing_case_template.py
  recidiviz/calculator/query/state/views/sentencing/us_ix/sentencing_client_template.py
  recidiviz/calculator/query/state/views/sentencing/us_nd/sentencing_case_template.py
  recidiviz/calculator/query/state/views/sentencing/us_nd/sentencing_client_template.py
  recidiviz/calculator/query/state/views/sentencing/us_nd/sentencing_staff_template.py
  recidiviz/view_registry/raw_data_reference_reasons.yaml
Due: generate_docs_for_region, generate_calc_documentation, alphabetize_yaml

Update null handling logic for projected dates (Recidiviz/recidiviz-data#40529)
  recidiviz/calculator/query/state/views/sentence_sessions/inferred_group_aggregated_sentence_group_projected_dates.py
  recidiviz/calculator/query/state/views/sentence_sessions/inferred_group_aggregated_sentence_projected_dates.py
  recidiviz/calculator/query/state/views/sentence_sessions/inferred_group_aggregated_sentence_projected_dates_v1_states.py
  recidiviz/calculator/query/state/views/sentence_sessions/sentence_sessions_views.py
  recidiviz/tests/calculator/query/state/views/sentence_sessions/inferred_group_aggregated_sentence_group_projected_dates_test.py
  recidiviz/tests/calculator/query/state/views/sentence_sessions/inferred_group_aggregated_sentence_projected_dates_test.py
Due: generate_calc_documentation

[US_UT] Hydrate `projected_parole_release_date_external` (Recidiviz/recidiviz-data#40522)
  recidiviz/ingest/direct/regions/us_ut/ingest_mappings/us_ut_sentence_length.yaml
  recidiviz/ingest/direct/regions/us_ut/ingest_views/view_sentence_length.py
Due: generate_docs_for_region

[US_IX][Workflows] Remove UA criteria from lsu (Recidiviz/recidiviz-data#40587)
  recidiviz/task_eligibility/criteria/state_specific/us_ix/lsir_level_low_for_90_days.py
  recidiviz/task_eligibility/eligibility_spans/us_ix/complete_transfer_to_limited_supervision_form.py
Due: generate_calc_documentation

Adds PSI sentence starts to impact transitions (Recidiviz/recidiviz-data#40093)
  recidiviz/common/decarceral_impact_type.py
  recidiviz/outcome_metrics/product_transition_type.py
  recidiviz/outcome_metrics/views/transitions_view_builders/psi_case_insights.py
Due: generate_calc_documentation

[US_AZ] Ingest charges from county (Recidiviz/recidiviz-data#40193)
  recidiviz/ingest/direct/regions/us_az/ingest_mappings/us_az_nonstate_sentence.yaml
  recidiviz/ingest/direct/regions/us_az/ingest_views/view_nonstate_sentence.py
  recidiviz/tests/source_tables/update_big_query_table_schemas_test.py
Due: generate_docs_for_region

[Autogenerated] Update Pipfile.lock (Recidiviz/recidiviz-data#40613)
  Pipfile.lock
Due: none
