Repository Recidiviz/pulse-data: changes, and which pre-commit hooks are due for each by the changed paths.
All: generate_docs_for_region, generate_docs_for_endpoint, generate_entity_documentation

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.3.0
    hooks:
      - id: check-yaml
  - repo: https://github.com/psf/black
    rev: 20.8b1
    hooks:
      - id: black
        language_version: python3
  - repo: local
    hooks:
      - id: generate_docs_for_region
        name: generate_docs_for_region
        entry: pipenv run python -m recidiviz.tools.docs.region_documentation_generator
        language: system
        files: ^recidiviz/ingest/direct/regions/
        require_serial: true
      - id: generate_docs_for_endpoint
        name: generate_docs_for_endpoint
        entry: pipenv run python -m recidiviz.tools.docs.endpoint_documentation_generator
        language: system
        files: ^recidiviz/
        exclude: >
          (?x)(^recidiviz/tests/|^recidiviz/tools/|^recidiviz/ingest/direct/regions/)$
        require_serial: true
      - id: generate_entity_documentation
        name: generate_entity_documentation
        entry: pipenv run python -m recidiviz.tools.docs.entity_documentation_generator
        language: system
        files: >
           (?x)(^recidiviz/persistence/database/schema/state/schema.py|^recidiviz/persistence/database/schema/history_table_shared_columns_mixin.py)$
        require_serial: true

Handle new number of rows for GA reports (Recidiviz/recidiviz-data#6038)
  recidiviz/ingest/aggregate/regions/ga/ga_aggregate_ingest.py
Due: generate_docs_for_endpoint

Fix incorrect employment data in Case Triage (Recidiviz/recidiviz-data#6041)
  recidiviz/case_triage/views/client_list_view.py
  recidiviz/case_triage/views/employment_periods.py
Due: generate_docs_for_endpoint

Adds Black dependency to Pipfile. (Recidiviz/recidiviz-data#6045)
  Pipfile
  Pipfile.lock
  setup.py
Due: none

More reliably assesses whether the employment field indicates unemployment (Recidiviz/recidiviz-data#6049)
  recidiviz/case_triage/querier/case_presenter.py
Due: generate_docs_for_endpoint

A couple small Case Triage front-end tweaks (Recidiviz/recidiviz-data#6051)
  frontends/case-triage/src/components/ClientMarkedInProgressOverlay/ClientMarkedInProgressOverlay.tsx
  frontends/case-triage/src/components/FeedbackForm/FeedbackForm.tsx
Due: none

Fixing export unlocking issues (Recidiviz/recidiviz-data#6046)
  recidiviz/ingest/direct/controllers/base_direct_ingest_controller.py
  recidiviz/persistence/database/bq_refresh/bq_refresh_utils.py
  recidiviz/persistence/database/bq_refresh/cloud_sql_to_bq_refresh_manager.py
  recidiviz/persistence/database/schema_utils.py
  recidiviz/tests/ingest/direct/controllers/gcsfs_direct_ingest_controller_test.py
  recidiviz/tests/persistence/database/bq_refresh/cloud_sql_to_bq_refresh_manager_test.py
Due: generate_docs_for_endpoint

Make downgrade docstring copy-pastable (Recidiviz/recidiviz-data#6053)
  recidiviz/tools/migrations/downgrade_one_migration.py
Due: generate_docs_for_endpoint

[Justice Counts] Setup automatic export of calculated data to GCS bucket (Recidiviz/recidiviz-data#6027)
  recidiviz/airflow/dag/calculation_pipeline_dag.py
  recidiviz/calculator/query/justice_counts/views/corrections_metrics_by_month.py
  recidiviz/metrics/export/export_config.py
  recidiviz/tools/deploy/terraform/modules/cloud-storage-bucket/main.tf
  recidiviz/tools/deploy/terraform/modules/cloud-storage-bucket/outputs.tf
  recidiviz/tools/deploy/terraform/modules/state-direct-ingest-bucket/main.tf
Due: generate_docs_for_endpoint

[Ingest mappings] Add validators to StateIncarcerationPeriod, StateSupervisionPeriod (Recidiviz/recidiviz-data#6055)
  recidiviz/persistence/entity/state/entities.py
  recidiviz/tests/calculator/pipeline/incarceration/identifier_test.py
  recidiviz/tests/calculator/pipeline/program/pipeline_test.py
  recidiviz/tests/calculator/pipeline/recidivism/identifier_test.py
  recidiviz/tests/calculator/pipeline/supervision/identifier_test.py
  recidiviz/tests/calculator/pipeline/supervision/pipeline_test.py
  recidiviz/tests/calculator/pipeline/utils/entity_hydration_utils_test.py
  recidiviz/tests/calculator/pipeline/utils/incarceration_period_index_test.py
  recidiviz/tests/calculator/pipeline/utils/incarceration_period_utils_test.py
  recidiviz/tests/calculator/pipeline/utils/state_utils/state_calculation_config_manager_test.py
  recidiviz/tests/calculator/pipeline/utils/state_utils/us_id/us_id_revocation_utils_test.py
  recidiviz/tests/calculator/pipeline/utils/state_utils/us_id/us_id_supervision_compliance_test.py
  recidiviz/tests/calculator/pipeline/utils/state_utils/us_id/us_id_supervision_type_identification_test.py
  recidiviz/tests/calculator/pipeline/utils/state_utils/us_mo/us_mo_supervision_type_identification_test.py
  recidiviz/tests/calculator/pipeline/utils/state_utils/us_nd/us_nd_supervision_compliance_test.py
  recidiviz/tests/calculator/pipeline/utils/state_utils/us_pa/us_pa_revocation_utils_test.py
  recidiviz/tests/calculator/pipeline/utils/supervision_case_compliance_manager_test.py
  recidiviz/tests/calculator/pipeline/utils/supervision_period_index_test.py
  recidiviz/tests/calculator/pipeline/utils/supervision_period_utils_test.py
  recidiviz/tests/calculator/pipeline/utils/supervision_type_identification_test.py
  recidiviz/tests/persistence/entity_matching/state/state_date_based_matching_utils_test.py
  recidiviz/tests/persistence/entity_matching/state/state_incarceration_incident_matching_utils_test.py
  recidiviz/tests/persistence/entity_matching/state/us_mo/us_mo_entity_matcher_test.py
  recidiviz/tests/persistence/entity_matching/state/us_mo/us_mo_matching_utils_test.py
  recidiviz/tests/persistence/entity_matching/state/us_nd/us_nd_entity_matcher_test.py
  recidiviz/tests/persistence/entity_matching/state/us_nd/us_nd_matching_utils_test.py
Due: generate_docs_for_endpoint

Pre-commit documentation generation githook (Recidiviz/recidiviz-data#6000)
  githooks/pre-commit
  recidiviz/ingest/direct/direct_ingest_documentation_generator.py
  recidiviz/tests/ingest/direct/direct_ingest_documentation_generator_test.py
  recidiviz/tools/docs/documentation_generation.sh
  recidiviz/tools/docs/documentation_generator.py
  recidiviz/tools/docs/ingest_spec_raw_data_generator.py
Due: generate_docs_for_endpoint

Reduces noisy outputs for google storage buckets (Recidiviz/recidiviz-data#6056)
  recidiviz/tools/deploy/terraform/modules/state-direct-ingest-bucket/main.tf
Due: generate_docs_for_endpoint

Sync up cron timing (Recidiviz/recidiviz-data#6063)
  cron.yaml
Due: none

change the character that joins districts in officer view officer_label (Recidiviz/recidiviz-data#6050)
  recidiviz/calculator/query/state/views/dashboard/revocation_analysis/revocations_matrix_distribution_by_officer.py
Due: generate_docs_for_endpoint

Update githook to use set for touched regions (Recidiviz/recidiviz-data#6065)
  recidiviz/tools/docs/documentation_generator.py
Due: generate_docs_for_endpoint

Add logging and fix `is not` vs `!=` (Recidiviz/recidiviz-data#6071)
  recidiviz/persistence/database/bq_refresh/cloud_sql_to_bq_refresh_manager.py
Due: generate_docs_for_endpoint

Adds newly required dependency to calculation pipelines. (Recidiviz/recidiviz-data#6082)
  setup.py
Due: none

[Database] Add 3 more external_id uniqueness constraints (Recidiviz/recidiviz-data#5871)
  recidiviz/persistence/database/migrations/state/versions/2021_02_19_1813_c0aa7ce19f4c_duplicate_id_migrations.py
  recidiviz/persistence/database/migrations/state/versions/2021_02_19_1814_a1f5a6bb514b_more_external_id_unique_constraints.py
  recidiviz/persistence/database/schema/state/schema.py
  recidiviz/tests/persistence/database/schema/state/dao_test.py
  recidiviz/tests/persistence/entity_matching/state/state_entity_matcher_test.py
  recidiviz/tests/persistence/entity_matching/state/state_matching_utils_test.py
  recidiviz/tests/persistence/state_persistence_test.py
Due: generate_docs_for_endpoint, generate_entity_documentation

[Ingest mappings] Adding more validators (Recidiviz/recidiviz-data#6084)
  recidiviz/persistence/database/migrations/state/versions/2021_02_26_1558_826ccffeb6b8_make_participation_status_not_nullable.py
  recidiviz/persistence/database/schema/state/schema.py
  recidiviz/persistence/entity/state/entities.py
  recidiviz/tests/calculator/pipeline/incarceration/identifier_test.py
  recidiviz/tests/calculator/pipeline/incarceration/pipeline_test.py
  recidiviz/tests/calculator/pipeline/program/identifier_test.py
  recidiviz/tests/calculator/pipeline/program/pipeline_test.py
  recidiviz/tests/calculator/pipeline/supervision/identifier_test.py
  recidiviz/tests/calculator/pipeline/supervision/pipeline_test.py
  recidiviz/tests/calculator/pipeline/utils/entity_hydration_utils_test.py
  recidiviz/tests/calculator/pipeline/utils/revocation_utils_test.py
  recidiviz/tests/calculator/pipeline/utils/state_utils/us_id/us_id_supervision_type_identification_test.py
  recidiviz/tests/calculator/pipeline/utils/state_utils/us_mo/us_mo_sentence_classification_test.py
  recidiviz/tests/calculator/pipeline/utils/state_utils/us_mo/us_mo_supervision_type_identification_test.py
  recidiviz/tests/calculator/pipeline/utils/state_utils/us_mo/us_mo_violation_utils_test.py
  recidiviz/tests/calculator/pipeline/utils/state_utils/us_pa/us_pa_violation_utils_test.py
  recidiviz/tests/calculator/pipeline/utils/supervision_type_identification_test.py
  recidiviz/tests/calculator/pipeline/utils/violation_utils_test.py
  recidiviz/tests/persistence/database/schema/state/schema_test_utils.py
  recidiviz/tests/persistence/entity/state/entities_test_utils.py
  recidiviz/tests/persistence/entity_matching/state/state_date_based_matching_utils_test.py
  recidiviz/tests/persistence/entity_matching/state/state_entity_matcher_test.py
  recidiviz/tests/persistence/entity_matching/state/us_mo/us_mo_entity_matcher_test.py
  recidiviz/tests/persistence/entity_matching/state/us_mo/us_mo_matching_utils_test.py
  recidiviz/tests/persistence/entity_matching/state/us_nd/us_nd_matching_utils_test.py
Due: generate_docs_for_endpoint, generate_entity_documentation

Resolves missing clients from caseload [Recidiviz/recidiviz-data#6061] (Recidiviz/recidiviz-data#6066)
  recidiviz/case_triage/views/client_list_view.py
Due: generate_docs_for_endpoint

Spark SuperSimulation composition (Recidiviz/recidiviz-data#5950)
  recidiviz/calculator/modeling/population_projection/simulations/compartment_transitions.py
  recidiviz/calculator/modeling/population_projection/simulations/population_simulation/population_simulation.py
  recidiviz/calculator/modeling/population_projection/simulations/population_simulation/population_simulation_factory.py
  recidiviz/calculator/modeling/population_projection/simulations/super_simulation/exporter.py
  recidiviz/calculator/modeling/population_projection/simulations/super_simulation/initializer.py
  recidiviz/calculator/modeling/population_projection/simulations/super_simulation/simulator.py
  recidiviz/calculator/modeling/population_projection/simulations/super_simulation/super_simulation.py
  recidiviz/calculator/modeling/population_projection/simulations/super_simulation/super_simulation_factory.py
  recidiviz/calculator/modeling/population_projection/simulations/super_simulation/validator.py
  recidiviz/calculator/modeling/population_projection/super_simulation.py
  recidiviz/calculator/modeling/population_projection/super_simulation_macrosim.py
  recidiviz/calculator/modeling/population_projection/super_simulation_microsim.py
  recidiviz/tests/calculator/modeling/population_projection/model_inputs_test.py
  recidiviz/tests/calculator/modeling/population_projection/simulation_objects/population_simulation_test.py
  recidiviz/tests/calculator/modeling/population_projection/simulation_objects/simulations/super_simulation_factory_test.py
  recidiviz/tests/calculator/modeling/population_projection/simulation_objects/super_simulation_macrosim_test.py
  recidiviz/tests/calculator/modeling/population_projection/simulation_objects/super_simulation_microsim_test.py
  recidiviz/tests/calculator/modeling/population_projection/simulation_objects/super_simulation_test.py
Due: generate_docs_for_endpoint

Add mapping from SupervisionLevel to state-specific name (Recidiviz/recidiviz-data#6089)
  frontends/case-triage/src/components/CaseCard/CaseCard.tsx
  frontends/case-triage/src/components/CaseCard/NeedsRiskAssessment.tsx
  frontends/case-triage/src/components/ClientList/ClientListCard.tsx
  frontends/case-triage/src/stores/ClientsStore/Client.ts
  frontends/case-triage/src/stores/ClientsStore/ClientsStore.ts
  frontends/case-triage/src/stores/ClientsStore/index.ts
  frontends/case-triage/src/stores/PolicyStore/Policy.ts
  frontends/case-triage/src/stores/PolicyStore/PolicyStore.ts
  frontends/case-triage/src/stores/PolicyStore/index.ts
  frontends/case-triage/src/stores/RootStore.ts
  recidiviz/case_triage/state_utils/types.py
  recidiviz/case_triage/state_utils/us_id.py
Due: generate_docs_for_endpoint

Handle instance where lock unexpectedly already exists (Recidiviz/recidiviz-data#6111)
  recidiviz/ingest/direct/controllers/base_direct_ingest_controller.py
Due: generate_docs_for_endpoint

Filter out NC and IC Supervision Levels for ND Compliance Calculations (Recidiviz/recidiviz-data#6104)
  recidiviz/calculator/pipeline/utils/state_utils/us_nd/us_nd_supervision_compliance.py
  recidiviz/tests/calculator/pipeline/utils/state_utils/us_nd/us_nd_supervision_compliance_test.py
Due: generate_docs_for_endpoint

KY state report SSL error (Recidiviz/recidiviz-data#6042)
  recidiviz/ingest/aggregate/scrape_aggregate_reports.py
  recidiviz/tests/ingest/aggregate/scraper_aggregate_reports_test.py
Due: generate_docs_for_endpoint

[PA ingest] Release all v2 views to prod, delete references to unused views (Recidiviz/recidiviz-data#6120)
  recidiviz/ingest/direct/regions/us_pa/ingest_views/templates_person_external_ids.py
  recidiviz/ingest/direct/regions/us_pa/ingest_views/view_dbo_Miscon.py
  recidiviz/ingest/direct/regions/us_pa/ingest_views/view_dbo_Offender.py
  recidiviz/ingest/direct/regions/us_pa/ingest_views/view_doc_person_info.py
  recidiviz/ingest/direct/regions/us_pa/ingest_views/view_doc_person_info_v2.py
  recidiviz/ingest/direct/regions/us_pa/ingest_views/view_incarceration_period.py
  recidiviz/ingest/direct/regions/us_pa/ingest_views/view_person_external_ids.py
  recidiviz/ingest/direct/regions/us_pa/ingest_views/view_sci_incarceration_period.py
  recidiviz/ingest/direct/regions/us_pa/ingest_views/view_supervision_period.py
  recidiviz/ingest/direct/regions/us_pa/us_pa_controller.py
  recidiviz/ingest/direct/regions/us_pa/us_pa_dbo_Miscon.yaml
  recidiviz/ingest/direct/regions/us_pa/us_pa_doc_person_info.yaml
  recidiviz/ingest/direct/regions/us_pa/us_pa_incarceration_period.yaml
  recidiviz/ingest/direct/regions/us_pa/us_pa_supervision_period.yaml
  recidiviz/persistence/persistence.py
Due: generate_docs_for_region, generate_docs_for_endpoint

Doc generator fix for pulse-data import error and extra console output (Recidiviz/recidiviz-data#6114)
  recidiviz/ingest/direct/direct_ingest_documentation_generator.py
  recidiviz/tests/ingest/direct/direct_ingest_documentation_generator_test.py
  recidiviz/tools/docs/documentation_generator.py
Due: generate_docs_for_endpoint

Fixes incorrect address information in US_ID `state_person` records (Recidiviz/recidiviz-data#6060)
  recidiviz/ingest/direct/regions/us_id/ingest_views/view_offender_ofndr_dob_address.py
Due: generate_docs_for_region, generate_docs_for_endpoint

Check that end date is enforced (Recidiviz/recidiviz-data#6124)
  recidiviz/case_triage/views/client_list_view.py
  recidiviz/case_triage/views/employment_periods.py
  recidiviz/case_triage/views/view_config.py
Due: generate_docs_for_endpoint

Adding new enum D7 DUI COURT to INTERNAL_UNKNOWN StateSupervisionLevel (Recidiviz/recidiviz-data#6129)
  recidiviz/ingest/direct/regions/us_id/us_id_controller.py
Due: generate_docs_for_region, generate_docs_for_endpoint

Dsharm/add mo pa to sessions (Recidiviz/recidiviz-data#6092)
  recidiviz/calculator/query/state/views/analyst_data/compartment_sub_sessions.py
Due: generate_docs_for_endpoint

Dropping commas in officer names (Recidiviz/recidiviz-data#6127)
  recidiviz/calculator/query/state/views/dashboard/revocation_analysis/revocations_matrix_distribution_by_officer.py
  recidiviz/calculator/query/state/views/reference/event_based_revocations_for_matrix.py
  recidiviz/calculator/query/state/views/reference/supervision_matrix_by_person.py
  recidiviz/calculator/query/state/views/reference/supervision_termination_matrix_by_person.py
Due: generate_docs_for_endpoint

Move flaky test to non-parallel execution set (Recidiviz/recidiviz-data#6107)
  conftest.py
  recidiviz/tests/ingest/direct/direct_ingest_files_generator_test.py
Due: generate_docs_for_endpoint

[Lantern] Supervision to location names reference table for only valid locations (Recidiviz/recidiviz-data#6048)
  recidiviz/calculator/query/state/views/dashboard/revocation_analysis/revocation_analysis_views.py
  recidiviz/calculator/query/state/views/dashboard/revocation_analysis/revocations_matrix_supervision_location_ids_to_names.py
Due: generate_docs_for_endpoint

Add helper to convert dates to strings (Recidiviz/recidiviz-data#6131)
  recidiviz/case_triage/querier/case_presenter.py
  recidiviz/tests/case_triage/case_presenter_test.py
Due: generate_docs_for_endpoint

Add CSRF protection to Case Triage; Extract API client (Recidiviz/recidiviz-data#6024)
  Pipfile
  Pipfile.lock
  frontends/case-triage/src/stores/API.ts
  frontends/case-triage/src/stores/CaseUpdatesStore/CaseUpdatesStore.ts
  frontends/case-triage/src/stores/ClientsStore/ClientsStore.ts
  frontends/case-triage/src/stores/PolicyStore/PolicyStore.ts
  frontends/case-triage/src/stores/RootStore.ts
  recidiviz/case_triage/api_routes.py
  recidiviz/case_triage/server.py
  stubs/flask_wtf/csrf.pyi
Due: generate_docs_for_endpoint

When the next contact is less than a day away, display that the contact is in 1 day (Recidiviz/recidiviz-data#6099)
  .github/workflows/ci.yml
  frontends/case-triage/package.json
  frontends/case-triage/src/components/DueDate/DueDate.test.tsx
  frontends/case-triage/src/components/DueDate/DueDate.tsx
  frontends/case-triage/yarn.lock
Due: none

[Validations] Make sure sums_and_totals_consistency_query validations have region_code field (Recidiviz/recidiviz-data#6138)
  recidiviz/validation/views/utils/internal_consistency_templates.py
Due: generate_docs_for_endpoint

Fix spacing nit (Recidiviz/recidiviz-data#6151)
  frontends/case-triage/src/components/UserSection/UserSection.tsx
Due: none
