Repository Recidiviz/pulse-data: changes, and which pre-commit hooks are due for each by the changed paths.
All: generate_docs_for_region, generate_docs_for_endpoint, generate_entity_documentation

generate_docs_for_region:
  name: generate_docs_for_region
  entry: pipenv run python -m recidiviz.tools.docs.region_documentation_generator
  language: system
  require_serial: true

generate_docs_for_endpoint:
  name: generate_docs_for_endpoint
  entry: pipenv run python -m recidiviz.tools.docs.endpoint_documentation_generator
  language: system
  require_serial: true

generate_entity_documentation:
  name: generate_entity_documentation
  entry: pipenv run python -m recidiviz.tools.docs.entity_documentation_generator
  language: system
  require_serial: true

[US_TN] Sentence Calc and Mapping Bug Fixes (Recidiviz/recidiviz-data#11011)
  recidiviz/calculator/pipeline/utils/supervision_type_identification.py
  recidiviz/ingest/direct/regions/us_tn/ingest_mappings/us_tn_SentencesChargesAndCourtCases.yaml
Due: generate_docs_for_region, generate_docs_for_endpoint

Retry redis commands when we encounter connection errors (Recidiviz/recidiviz-data#11013)
  recidiviz/case_triage/util.py
  stubs/redis/backoff.pyi
Due: generate_docs_for_endpoint

Add CIS_916_ASSIGN_BED (Recidiviz/recidiviz-data#11016)
  recidiviz/ingest/direct/regions/us_me/raw_data/us_me_CIS_916_ASSIGN_BED.yaml
Due: generate_docs_for_region, generate_docs_for_endpoint

add us-east1 (Recidiviz/recidiviz-data#10958)
  recidiviz/tools/ingest/operations/move_raw_state_files_from_storage.py
Due: generate_docs_for_endpoint

Update raw data docs for Idaho class completion codes (Recidiviz/recidiviz-data#11012)
  recidiviz/ingest/direct/regions/us_id/raw_data/us_id_ofndr_cls_sctn.yaml
Due: generate_docs_for_region, generate_docs_for_endpoint

[Data Platform] Remove staging_only_calculation_pipeline_templates.yaml (Recidiviz/recidiviz-data#10938)
  recidiviz/airflow/dag/calculation_pipeline_dag.py
  recidiviz/calculator/calculation_data_storage_manager.py
  recidiviz/calculator/calculation_documentation_generator.py
  recidiviz/calculator/dataflow_config.py
  recidiviz/calculator/dataflow_output_table_manager.py
  recidiviz/calculator/pipeline/calculation_pipeline_templates.yaml
  recidiviz/calculator/pipeline/staging_only_calculation_pipeline_templates.yaml
  recidiviz/tests/airflow/calculation_pipeline_dag_test.py
  recidiviz/tests/calculator/calculation_data_storage_manager_test.py
  recidiviz/tests/calculator/calculation_documentation_generator_test.py
  recidiviz/tests/calculator/dataflow_output_table_manager_test.py
  recidiviz/tests/calculator/fake_calculation_pipeline_templates.yaml
  recidiviz/tests/metrics/export/export_config_test.py
  recidiviz/tests/tools/deploy/dataflow_setup_test.py
  recidiviz/tests/tools/deploy/deploy_all_pipeline_templates_test.py
  recidiviz/tools/calculator/compare_dataflow_output_to_sandbox.py
  recidiviz/tools/calculator/trigger_deployed_pipeline_template.py
  recidiviz/tools/deploy/dataflow_template_helpers.py
  recidiviz/tools/deploy/deploy_all_pipeline_templates.py
  recidiviz/tools/deploy/deploy_helpers.sh
  recidiviz/tools/deploy/deploy_single_pipeline_template.py
  recidiviz/tools/deploy/terraform/cloud-composer.tf
Due: generate_docs_for_endpoint

[Pathways] set supervision_level to ALL in supervision transition over time views (Recidiviz/recidiviz-data#11021)
  recidiviz/calculator/query/state/views/dashboard/pathways/pathways_supervision_dimension_combinations.py
  recidiviz/calculator/query/state/views/dashboard/pathways/supervision_to_liberty_count_by_month.py
  recidiviz/calculator/query/state/views/dashboard/pathways/supervision_to_prison_count_by_month.py
Due: generate_docs_for_endpoint

✨ New CI with more aggressively parallelized actions ✨ (Recidiviz/recidiviz-data#10418)
  .travis.yml
  conftest.py
  recidiviz/tests/calculator/modeling/population_projection/population_simulation/population_simulation_test.py
  recidiviz/tests/fixtures/emulator.py
  recidiviz/tests/fixtures/google_auth_patcher.py
  recidiviz/tests/ingest/scrape/docket_test.py
  recidiviz/tools/postgres/local_postgres_helpers.py
  stubs/_pytest/config/__init__.py
  stubs/_pytest/config/argparsing.py
  stubs/_pytest/fixtures.pyi
  stubs/_pytest/mark.pyi
  stubs/pytest/__init__.pyi
Due: generate_docs_for_endpoint

Fix pylint issues found during complete pylint run (Recidiviz/recidiviz-data#11042)
  recidiviz/tests/calculator/modeling/population_projection/population_simulation/population_simulation_test.py
  recidiviz/tests/fixtures/google_auth_patcher.py
Due: generate_docs_for_endpoint

[Pathways] Filter out metric aggregates containing null dimensions (Recidiviz/recidiviz-data#11032)
  recidiviz/calculator/query/state/views/dashboard/dashboard_views.py
  recidiviz/calculator/query/state/views/dashboard/pathways/liberty_to_prison_count_by_month.py
  recidiviz/calculator/query/state/views/dashboard/pathways/liberty_to_prison_population_snapshot_by_dimension.py
  recidiviz/calculator/query/state/views/dashboard/pathways/pathways_incarceration_location_name_map.py
  recidiviz/calculator/query/state/views/dashboard/pathways/pathways_metric_big_query_view.py
  recidiviz/calculator/query/state/views/dashboard/pathways/pathways_supervision_location_name_map.py
  recidiviz/calculator/query/state/views/dashboard/pathways/pathways_views.py
  recidiviz/calculator/query/state/views/dashboard/pathways/prison_population_snapshot_by_dimension.py
  recidiviz/calculator/query/state/views/dashboard/pathways/prison_population_snapshot_person_level.py
  recidiviz/calculator/query/state/views/dashboard/pathways/prison_population_time_series.py
  recidiviz/calculator/query/state/views/dashboard/pathways/prison_to_supervision_count_by_month.py
  recidiviz/calculator/query/state/views/dashboard/pathways/prison_to_supervision_population_snapshot_by_dimension.py
  recidiviz/calculator/query/state/views/dashboard/pathways/prison_to_supervision_population_snapshot_person_level.py
  recidiviz/calculator/query/state/views/dashboard/pathways/supervision_population_snapshot_by_dimension.py
  recidiviz/calculator/query/state/views/dashboard/pathways/supervision_population_time_series.py
  recidiviz/calculator/query/state/views/dashboard/pathways/supervision_to_liberty_count_by_month.py
  recidiviz/calculator/query/state/views/dashboard/pathways/supervision_to_liberty_population_snapshot_by_dimension.py
  recidiviz/calculator/query/state/views/dashboard/pathways/supervision_to_prison_count_by_month.py
  recidiviz/calculator/query/state/views/dashboard/pathways/supervision_to_prison_population_snapshot_by_dimension.py
  recidiviz/metrics/export/export_config.py
Due: generate_docs_for_endpoint

Add validation configs for ME and TN in dry run mode (Recidiviz/recidiviz-data#10943)
  recidiviz/tests/tools/ingest/development/region_files_generator_test.py
  recidiviz/tests/validation/validation_config_test.py
  recidiviz/tests/validation/validation_manager_test.py
  recidiviz/tools/ingest/development/ingest_files_generator.py
  recidiviz/tools/ingest/development/region_files_generator.py
  recidiviz/tools/travis/run_pylint.sh
  recidiviz/validation/config/regions/us_me/__init__.py
  recidiviz/validation/config/regions/us_me/us_me_validation_config.yaml
  recidiviz/validation/config/regions/us_tn/__init__.py
  recidiviz/validation/config/regions/us_tn/us_tn_validation_config.yaml
  recidiviz/validation/config/templates/__init__.py
  recidiviz/validation/config/templates/us_xx/__init__.py
  recidiviz/validation/config/templates/us_xx/us_xx_validation_config.yaml
  recidiviz/validation/validation_config.py
Due: generate_docs_for_endpoint

Don't report dry run validation failures as errors (Recidiviz/recidiviz-data#10944)
  frontends/admin-panel/src/recidiviz/admin_panel/models/validation_pb.d.ts
  frontends/admin-panel/src/recidiviz/admin_panel/models/validation_pb.js
  recidiviz/admin_panel/models/validation.proto
  recidiviz/admin_panel/models/validation_pb2.py
  recidiviz/admin_panel/models/validation_pb2.pyi
  recidiviz/admin_panel/validation_metadata_store.py
  recidiviz/tests/admin_panel/validation_metadata_store_test.py
  recidiviz/tests/validation/validation_manager_test.py
  recidiviz/tests/validation/validation_result_storage_test.py
  recidiviz/validation/checks/existence_check.py
  recidiviz/validation/checks/sameness_check.py
  recidiviz/validation/validation_manager.py
  recidiviz/validation/validation_models.py
Due: generate_docs_for_endpoint

Add support for dry run validations to admin panel (Recidiviz/recidiviz-data#10945)
  frontends/admin-panel/package.json
  frontends/admin-panel/src/components/Validation/ValidationStatusView.tsx
  frontends/admin-panel/src/components/Validation/utils.ts
  frontends/admin-panel/src/style/Validation.css
  frontends/admin-panel/yarn.lock
Due: none

[csg] Update list of fields to collapse from arrays (Recidiviz/recidiviz-data#10996)
  recidiviz/tools/export_csg_files.py
Due: generate_docs_for_endpoint

Add Confirmation For `run_sandbox_calculation_pipeline` (Recidiviz/recidiviz-data#11031)
  recidiviz/tools/calculator/run_sandbox_calculation_pipeline.py
Due: generate_docs_for_endpoint

[Pathways] Enable TN exports in staging (Recidiviz/recidiviz-data#11049)
  recidiviz/metrics/export/products.yaml
Due: generate_docs_for_endpoint

[Pathways] Add TN supervision code lookup table (Recidiviz/recidiviz-data#11053)
  recidiviz/calculator/query/state/views/reference/supervision_location_ids_to_names.py
  recidiviz/datasets/static_data/us_tn_supervision_facility_names.csv
  recidiviz/tools/deploy/terraform/reference-tables.tf
Due: generate_docs_for_endpoint

Ignore pylint false positives for Flask 2 (Recidiviz/recidiviz-data#11060)
  recidiviz/case_triage/api_schemas.py
  recidiviz/case_triage/server.py
  recidiviz/tests/case_triage/api_test_helpers.py
  recidiviz/tests/case_triage/server_test.py
Due: generate_docs_for_endpoint

Included editable packages in diff_pipenv (Recidiviz/recidiviz-data#11061)
  recidiviz/tools/diff_pipenv.sh
Due: generate_docs_for_endpoint

[US_ND] Add ACC StateCourtCase enum mappings (Recidiviz/recidiviz-data#11040)
  recidiviz/ingest/direct/regions/us_nd/raw_data/us_nd_elite_orderstable.yaml
  recidiviz/ingest/direct/regions/us_nd/us_nd_legacy_enum_helpers.py
Due: generate_docs_for_region, generate_docs_for_endpoint

[Data platform] Disallow current_date in ingest views and reformat @update_timestamp (Recidiviz/recidiviz-data#11047)
  recidiviz/ingest/direct/regions/us_nd/ingest_views/view_docstars_offendercasestable_with_officers.py
  recidiviz/ingest/direct/views/direct_ingest_big_query_view_types.py
  recidiviz/tests/ingest/direct/controllers/direct_ingest_big_query_view_types_test.py
Due: generate_docs_for_region, generate_docs_for_endpoint

[US_ME] Add US_ME dataflow pipelines for incarceration and PATHWAYS export to staging (Recidiviz/recidiviz-data#11017)
  recidiviz/calculator/pipeline/calculation_pipeline_templates.yaml
Due: generate_docs_for_endpoint

[US_TN] Add `conditions` to `StateIncarcerationSentence` and `StateSupervisionSentence` Schema (Recidiviz/recidiviz-data#11044)
  recidiviz/persistence/database/migrations/state/versions/2022_02_09_1026_0310a66bac82_add_conditions_field_to_sentences.py
  recidiviz/persistence/database/schema/state/schema.py
  recidiviz/persistence/entity/state/entities.py
Due: generate_docs_for_endpoint, generate_entity_documentation

[US_TN] Change `is_period_included_in_state_population` to Include Jails (Recidiviz/recidiviz-data#11055)
  recidiviz/calculator/pipeline/utils/state_utils/us_tn/us_tn_incarceration_delegate.py
  recidiviz/tests/calculator/pipeline/utils/state_utils/us_tn/us_tn_incarceration_delegate_test.py
Due: generate_docs_for_endpoint

Fix pylint whitespace errors (Recidiviz/recidiviz-data#11077)
  recidiviz/tests/ingest/direct/controllers/direct_ingest_big_query_view_types_test.py
Due: generate_docs_for_endpoint

Fix admin panel dry run (Recidiviz/recidiviz-data#11076)
  frontends/admin-panel/src/components/Validation/ValidationStatusView.tsx
Due: none

Export ingest views to separate datasets per ingest instance (Recidiviz/recidiviz-data#11073)
  recidiviz/ingest/direct/controllers/base_direct_ingest_controller.py
  recidiviz/ingest/direct/controllers/direct_ingest_ingest_view_export_manager.py
  recidiviz/tests/ingest/direct/controllers/direct_ingest_ingest_view_export_manager_test.py
Due: generate_docs_for_endpoint

Increase timeout for tests on Travis (Recidiviz/recidiviz-data#11082)
  .travis.yml
Due: none

adding a way to distinguish between primary and secondary logs (Recidiviz/recidiviz-data#11080)
  frontends/admin-panel/src/components/IngestOperationsView/IngestInstanceCard.tsx
  frontends/admin-panel/src/components/IngestOperationsView/IngestLogsCard.tsx
  frontends/admin-panel/src/components/IngestOperationsView/index.tsx
Due: none

Add `custodial_authority` to `IncarcerationPopulationMetric` (Recidiviz/recidiviz-data#11068)
  recidiviz/calculator/pipeline/metrics/incarceration/events.py
  recidiviz/calculator/pipeline/metrics/incarceration/identifier.py
  recidiviz/calculator/pipeline/metrics/incarceration/metrics.py
  recidiviz/tests/calculator/pipeline/metrics/incarceration/identifier_test.py
Due: generate_docs_for_endpoint

[Schema Mapping Docs] Add example conditional enum_mapping with custom parser (Recidiviz/recidiviz-data#10862)
  recidiviz/ingest/direct/ingest_mappings/yaml_schema/1.0.0/enum_expressions/enum_mapping.json
  recidiviz/ingest/direct/ingest_mappings/yaml_schema/1.0.0/generic_expressions/conditional.json
Due: generate_docs_for_endpoint

[Documentation] Some small docstring additions for operations DB cols (Recidiviz/recidiviz-data#11100)
  recidiviz/persistence/database/schema/operations/schema.py
Due: generate_docs_for_endpoint

Skip staging_only in deploy args (Recidiviz/recidiviz-data#11103)
  recidiviz/tools/deploy/deploy_single_pipeline_template.py
Due: generate_docs_for_endpoint

[US_ME] Add PATHWAYS_PRISON product for US_ME (Recidiviz/recidiviz-data#11070)
  recidiviz/calculator/query/state/views/dashboard/dashboard_views.py
  recidiviz/calculator/query/state/views/dashboard/pathways/pathways_views.py
  recidiviz/metrics/export/export_config.py
  recidiviz/metrics/export/products.yaml
Due: generate_docs_for_endpoint

Ensure all ingest view export callsites use new dataset (Recidiviz/recidiviz-data#11105)
  recidiviz/ingest/direct/controllers/direct_ingest_ingest_view_export_manager.py
  recidiviz/tests/ingest/direct/controllers/direct_ingest_ingest_view_export_manager_test.py
Due: generate_docs_for_endpoint

[US_TN] Updated raw data yaml for ContactNoteType table for contacts ingest (Recidiviz/recidiviz-data#11028)
  recidiviz/ingest/direct/regions/us_tn/raw_data/us_tn_ContactNoteType.yaml
Due: generate_docs_for_region, generate_docs_for_endpoint

Fix broken validations (Recidiviz/recidiviz-data#11116)
  recidiviz/validation/views/state/incarceration_commitments_subset_of_admissions.py
  recidiviz/validation/views/state/liberty_to_prison_population_snapshot_by_dimension_internal_consistency.py
  recidiviz/validation/views/state/multiple_supervision_info_for_commitment_admission.py
  recidiviz/validation/views/state/supervision_to_liberty_population_snapshot_by_dimension_internal_consistency.py
Due: generate_docs_for_endpoint

[Validation] Add TODOs to validation configs for ND and ID (Recidiviz/recidiviz-data#11101)
  recidiviz/validation/config/regions/us_id/us_id_validation_config.yaml
  recidiviz/validation/config/regions/us_nd/us_nd_validation_config.yaml
Due: generate_docs_for_endpoint

Path conditions:
  generate_docs_for_region: any of: ^recidiviz/ingest/direct/regions/
  generate_docs_for_endpoint: any of: ^recidiviz/, but not: (?x)(^recidiviz/tests/|^recidiviz/tools/|^recidiviz/ingest/direct/regions/)$

  generate_entity_documentation: any of: (?x)(^recidiviz/persistence/database/schema/state/schema.py|^recidiviz/persistence/database/schema/history_table_shared_columns_mixin.py)$

