Repository Recidiviz/pulse-data: changes, and which pre-commit hooks are due for each by the changed paths.
All: generate_docs_for_region, generate_docs_for_endpoint, generate_entity_documentation

generate_docs_for_region:
  name: generate_docs_for_region
  entry: pipenv run python -m recidiviz.tools.docs.region_documentation_generator
  language: system
  require_serial: true

generate_docs_for_endpoint:
  name: generate_docs_for_endpoint
  entry: pipenv run python -m recidiviz.tools.docs.endpoint_documentation_generator
  language: system
  require_serial: true

generate_entity_documentation:
  name: generate_entity_documentation
  entry: pipenv run python -m recidiviz.tools.docs.entity_documentation_generator
  language: system
  require_serial: true

[Workflows] [US_MI] Hydrate staff records [closes Recidiviz/recidiviz-data#16638] (Recidiviz/recidiviz-data#18163)
  recidiviz/calculator/query/state/views/workflows/firestore/staff_record.py
  recidiviz/calculator/query/state/views/workflows/us_mi/__init__.py
  recidiviz/calculator/query/state/views/workflows/us_mi/supervision_staff_template.py
  recidiviz/calculator/query/state/views/workflows/us_mi/us_mi_counties_by_district.yaml
Due: generate_docs_for_endpoint

[Admin Panel] Add environment to confirmation prompt (Recidiviz/recidiviz-data#19804)
  frontends/admin-panel/src/components/Utilities/ActionRegionConfirmationForm.tsx
Due: none

Updates assessment_score_sessions (Recidiviz/recidiviz-data#19815)
  recidiviz/calculator/query/state/views/sessions/assessment_score_sessions.py
Due: generate_docs_for_endpoint

Adjusts person_spans and person_events (Recidiviz/recidiviz-data#19723)
  recidiviz/calculator/query/experiments/views/person_assignments.py
  recidiviz/calculator/query/state/views/analyst_data/person_events.py
  recidiviz/calculator/query/state/views/analyst_data/person_spans.py
Due: generate_docs_for_endpoint

Add session length to sub sessions (Recidiviz/recidiviz-data#19802)
  recidiviz/calculator/query/state/views/sessions/compartment_sub_sessions.py
Due: generate_docs_for_endpoint

add database constraints for new external_id/type pairs (Recidiviz/recidiviz-data#19793)
  recidiviz/persistence/database/migrations/state/versions/2023_03_28_1518_c667f2de36f2_add_external_id_fields_check_constraints.py
  recidiviz/persistence/database/schema/state/schema.py
  recidiviz/tests/persistence/database/schema/state/schema_test.py
Due: generate_docs_for_endpoint, generate_entity_documentation

[US_TN] Adding yamls for housing and custody level raw data tables (Recidiviz/recidiviz-data#19838)
  recidiviz/ingest/direct/regions/us_tn/raw_data/us_tn_CAFScore.yaml
  recidiviz/ingest/direct/regions/us_tn/raw_data/us_tn_CellBed.yaml
  recidiviz/ingest/direct/regions/us_tn/raw_data/us_tn_Escape.yaml
  recidiviz/ingest/direct/regions/us_tn/raw_data/us_tn_SiteUnit.yaml
Due: generate_docs_for_region, generate_docs_for_endpoint

Adding additional logging and error handling for files downloaded (Recidiviz/recidiviz-data#19789)
  recidiviz/airflow/dags/operators/sftp/gcs_transform_file_operator.py
  recidiviz/airflow/dags/operators/sftp/sftp_to_gcs_operator.py
  recidiviz/airflow/tests/operators/sftp/gcs_transform_file_operator_test.py
  recidiviz/ingest/direct/regions/us_mi/us_mi_sftp_download_delegate.py
Due: generate_docs_for_region, generate_docs_for_endpoint

[Workflows Remove all staff from staff_record that do not have caseloads (Recidiviz/recidiviz-data#19773)
  recidiviz/calculator/query/state/views/workflows/us_id/supervision_staff_template.py
  recidiviz/calculator/query/state/views/workflows/us_ix/supervision_staff_template.py
  recidiviz/calculator/query/state/views/workflows/us_me/staff_template.py
  recidiviz/calculator/query/state/views/workflows/us_mo/incarceration_staff_template.py
  recidiviz/calculator/query/state/views/workflows/us_nd/supervision_staff_template.py
  recidiviz/calculator/query/state/views/workflows/us_tn/supervision_staff_template.py
Due: generate_docs_for_endpoint

[Workflows] Add look-back for populated officer id for US_MI in client_record (Recidiviz/recidiviz-data#19842)
  recidiviz/calculator/query/state/views/workflows/firestore/client_record_ctes.py
Due: generate_docs_for_endpoint

[Workflows][US_MI] Add config for US_MI SLD/classification review (Recidiviz/recidiviz-data#19710)
  recidiviz/calculator/query/state/views/reference/workflows_opportunity_configs.py
Due: generate_docs_for_endpoint

Make uploaded_by column nullable in `Spreadsheet` table (Recidiviz/recidiviz-data#19850)
  recidiviz/persistence/database/migrations/justice_counts/versions/2023_03_29_1451_6958399783b5_make_uploaded_by_nullable.py
  recidiviz/persistence/database/schema/justice_counts/schema.py
  recidiviz/tools/deploy/justice_counts/deploy_for_playtesting.sh
Due: generate_docs_for_endpoint

[US_ME] Fix payments and invoices preprocessed views (Recidiviz/recidiviz-data#19844)
  recidiviz/calculator/query/state/views/analyst_data/us_me/us_me_invoices_preprocessed.py
  recidiviz/calculator/query/state/views/analyst_data/us_me/us_me_payments_preprocessed.py
Due: generate_docs_for_endpoint

Removing dry_run from the calculation DAG (Recidiviz/recidiviz-data#19799)
  recidiviz/airflow/dags/calculation_dag.py
  recidiviz/persistence/database/bq_refresh/cloud_sql_to_bq_refresh_control.py
  recidiviz/tests/persistence/database/bq_refresh/cloud_sql_to_bq_refresh_control_test.py
Due: generate_docs_for_endpoint

Removing the need to use import error for all within airflow packages (Recidiviz/recidiviz-data#19803)
  recidiviz/airflow/dags/calculation/finished_cloud_task_query_generator.py
  recidiviz/airflow/dags/calculation_dag.py
  recidiviz/airflow/dags/operators/sftp/filter_invalid_gcs_files.py
  recidiviz/airflow/dags/operators/sftp/find_sftp_files_operator.py
  recidiviz/airflow/dags/operators/sftp/gcs_to_gcs_operator.py
  recidiviz/airflow/dags/operators/sftp/gcs_transform_file_operator.py
  recidiviz/airflow/dags/operators/sftp/sftp_to_gcs_operator.py
  recidiviz/airflow/dags/sftp/filter_downloaded_files_sql_query_generator.py
  recidiviz/airflow/dags/sftp/gather_discovered_ingest_ready_files_sql_query_generator.py
  recidiviz/airflow/dags/sftp/gather_discovered_remote_files_sql_query_generator.py
  recidiviz/airflow/dags/sftp/mark_ingest_ready_files_discovered_sql_query_generator.py
  recidiviz/airflow/dags/sftp/mark_ingest_ready_files_uploaded_sql_query_generator.py
  recidiviz/airflow/dags/sftp/mark_remote_files_discovered_sql_query_generator.py
  recidiviz/airflow/dags/sftp/mark_remote_files_downloaded_sql_query_generator.py
  recidiviz/airflow/dags/sftp_dag.py
  recidiviz/tools/airflow/copy_source_files_to_experiment_composer.py
  recidiviz/tools/deploy/terraform/cloud-composer.tf
  recidiviz/tools/deploy/terraform/config/cloud_composer_airflow_files_to_copy.yaml
  recidiviz/tools/deploy/terraform/config/cloud_composer_source_files_to_copy.yaml
Due: generate_docs_for_endpoint

[Workflows] Exclude CR from delegate logic (Recidiviz/recidiviz-data#19853)
  recidiviz/workflows/etl/workflows_opportunity_etl_delegate.py
Due: generate_docs_for_endpoint

[US_ND] Add parse_date logic to raw data configs (Recidiviz/recidiviz-data#19816)
  recidiviz/ingest/direct/regions/us_nd/raw_data/us_nd_docstars_offendercasestable.yaml
  recidiviz/ingest/direct/regions/us_nd/raw_data/us_nd_docstars_offenders.yaml
  recidiviz/ingest/direct/regions/us_nd/raw_data/us_nd_docstars_officers.yaml
Due: generate_docs_for_region, generate_docs_for_endpoint

double write contacting officer staff fields in StateSupervisionContact [fixed migration join query] (Recidiviz/recidiviz-data#19760)
  recidiviz/common/constants/state/external_id_types.py
  recidiviz/ingest/direct/regions/us_ix/ingest_mappings/us_ix_supervision_contacts.yaml
  recidiviz/ingest/direct/regions/us_nd/ingest_mappings/us_nd_docstars_contacts_v2.yaml
  recidiviz/ingest/direct/regions/us_pa/ingest_mappings/us_pa_supervision_contacts.yaml
  recidiviz/ingest/direct/regions/us_tn/ingest_mappings/us_tn_SupervisionContacts.yaml
  recidiviz/persistence/database/migrations/state/versions/2023_03_30_1044_228b7f58a338_add_contacting_staff_id_fields.py
  recidiviz/persistence/entity/state/entities.py
  recidiviz/tests/ingest/direct/regions/utils.py
Due: generate_docs_for_region, generate_docs_for_endpoint

[Cleanup] Remove legacy map_fn_with_progress_bar (Recidiviz/recidiviz-data#19782)
  recidiviz/tests/utils/future_executor_test.py
  recidiviz/utils/future_executor.py
Due: generate_docs_for_endpoint

Fixing terraform paths for dags (Recidiviz/recidiviz-data#19865)
  recidiviz/tools/deploy/terraform/cloud-composer.tf
Due: generate_docs_for_endpoint

[Justice Counts][Bulk Upload] remove 'Missing Metric' warning (Recidiviz/recidiviz-data#19774)
  recidiviz/justice_counts/bulk_upload/workbook_uploader.py
  recidiviz/tests/justice_counts/bulk_upload/bulk_upload_test.py
Due: generate_docs_for_endpoint

Moving all of the rest of the cron jobs to Terraform (Recidiviz/recidiviz-data#19854)
  cron.yaml
  recidiviz/tests/test_deploy_yamls.py
  recidiviz/tools/deploy/terraform/cloud-scheduler.tf
Due: generate_docs_for_endpoint

[US_MI][Workflows] Update classification review date calculation to exclude inactive supervision sub sessions (Recidiviz/recidiviz-data#19848)
  recidiviz/calculator/query/state/views/workflows/firestore/us_mi_complete_classification_review_form_record.py
  recidiviz/task_eligibility/criteria/state_specific/us_mi/completed_electronic_monitoring.py
  recidiviz/task_eligibility/criteria/state_specific/us_mi/past_initial_classification_review_date.py
Due: generate_docs_for_endpoint

[US_ME] Added 'other' description to yaml (Recidiviz/recidiviz-data#19882)
  recidiviz/ingest/direct/regions/us_me/raw_data/us_me_CIS_201_GOALS.yaml
Due: generate_docs_for_region, generate_docs_for_endpoint

[US_ME] [Workflows] Update resident_record_ctes.py (Recidiviz/recidiviz-data#19885)
  recidiviz/calculator/query/state/views/workflows/firestore/resident_record_ctes.py
Due: generate_docs_for_endpoint

[US_MI] Revise supervision periods construction (Recidiviz/recidiviz-data#19672)
  recidiviz/common/constants/state/external_id_types.py
  recidiviz/ingest/direct/regions/us_mi/ingest_mappings/us_mi_supervision_periods_v2.yaml
  recidiviz/ingest/direct/regions/us_mi/ingest_views/view_supervision_periods_v2.py
  recidiviz/ingest/direct/regions/us_mi/us_mi_custom_enum_parsers.py
  recidiviz/ingest/direct/regions/us_mi/us_mi_custom_parsers.py
Due: generate_docs_for_region, generate_docs_for_endpoint

[Admin Panel] Add external_id to ingested_product_users for US_MO (Recidiviz/recidiviz-data#19886)
  recidiviz/calculator/query/state/views/reference/ingested_product_users.py
Due: generate_docs_for_endpoint

[US_TN] Adding Custody Level to incarceration periods (Recidiviz/recidiviz-data#19173)
  recidiviz/ingest/direct/regions/us_tn/ingest_mappings/us_tn_OffenderMovementIncarcerationPeriod_v2.yaml
  recidiviz/ingest/direct/regions/us_tn/ingest_views/view_OffenderMovementIncarcerationPeriod_v2.py
  recidiviz/ingest/direct/regions/us_tn/us_tn_controller.py
Due: generate_docs_for_region, generate_docs_for_endpoint

[Bugfix] Remove cron.yaml step from the deploy (Recidiviz/recidiviz-data#19900)
  recidiviz/tools/deploy/deploy_helpers.sh
Due: generate_docs_for_endpoint

[US_ND] Hydrate state_staff_role_period (Recidiviz/recidiviz-data#19809)
  recidiviz/ingest/direct/regions/us_nd/ingest_mappings/us_nd_docstars_staff_role_periods.yaml
  recidiviz/ingest/direct/regions/us_nd/ingest_views/view_docstars_staff_role_periods.py
  recidiviz/ingest/direct/regions/us_nd/us_nd_controller.py
Due: generate_docs_for_region, generate_docs_for_endpoint

[US_ME] [Workflows] Remove zero day sessions in restitution criteria (Recidiviz/recidiviz-data#19898)
  recidiviz/task_eligibility/criteria/state_specific/us_me/paid_all_owed_restitution.py
Due: generate_docs_for_endpoint

[0] Refactor Raw Data Configs out of `direct_ingest_raw_file_import_manager` (Recidiviz/recidiviz-data#19869)
  recidiviz/admin_panel/ingest_operations/ingest_utils.py
  recidiviz/admin_panel/ingest_operations_store.py
  recidiviz/admin_panel/routes/ingest_ops.py
  recidiviz/ingest/direct/direct_ingest_documentation_generator.py
  recidiviz/ingest/direct/raw_data/direct_ingest_raw_file_import_manager.py
  recidiviz/ingest/direct/raw_data/raw_file_configs.py
  recidiviz/ingest/direct/views/direct_ingest_latest_view_collector.py
  recidiviz/ingest/direct/views/direct_ingest_view_query_builder.py
  recidiviz/ingest/direct/views/raw_table_query_builder.py
  recidiviz/tests/admin_panel/ingest_operations_store_test.py
  recidiviz/tests/big_query/big_query_view_dag_walker_test.py
  recidiviz/tests/ingest/direct/direct_ingest_documentation_generator_test.py
  recidiviz/tests/ingest/direct/fakes/fake_direct_ingest_controller.py
  recidiviz/tests/ingest/direct/raw_data_table_schema_utils_test.py
  recidiviz/tests/ingest/direct/regions/direct_ingest_region_structure_test.py
  recidiviz/tests/ingest/direct/views/direct_ingest_latest_view_collector_test.py
  recidiviz/tests/ingest/direct/views/raw_table_query_builder_test.py
  recidiviz/tests/tools/ingest/development/create_ingest_config_skeleton_test.py
  recidiviz/tests/tools/ingest/development/raw_data_config_writer_test.py
  recidiviz/tests/tools/ingest/testing/raw_data_fixtures_generator_test.py
  recidiviz/tools/ingest/development/backport_raw_config_columns.py
  recidiviz/tools/ingest/development/create_ingest_config_skeleton.py
  recidiviz/tools/ingest/development/fetch_column_values_for_state.py
  recidiviz/tools/ingest/development/raw_data_config_writer.py
  recidiviz/tools/ingest/one_offs/clear_redundant_raw_data_on_bq.py
  recidiviz/tools/ingest/one_offs/find_unlabeled_raw_data_pii.py
  recidiviz/tools/ingest/operations/compare_raw_data_between_projects.py
  recidiviz/tools/ingest/operations/import_raw_files_to_sandbox.py
  recidiviz/tools/ingest/operations/ingest_stability_check.py
  recidiviz/tools/ingest/operations/parse_raw_file.py
  recidiviz/tools/ingest/regions/us_tn/convert_tdpop_to_csv_and_push_to_bucket.py
  recidiviz/tools/ingest/testing/raw_data_fixtures_generator.py
Due: generate_docs_for_endpoint

[1] Add `is_exempt_from_raw_data_pruning` to `DirectIngestRawFileConfig` (Recidiviz/recidiviz-data#19540)
  recidiviz/ingest/direct/raw_data/raw_file_configs.py
  recidiviz/tests/ingest/direct/fake_regions/us_xx/raw_data/us_xx_noValidPrimaryKeysAlwaysHistorical.yaml
  recidiviz/tests/ingest/direct/fake_regions/us_xx/raw_data/us_xx_validPrimaryKeysAlwaysHistorical.yaml
  recidiviz/tests/ingest/direct/fake_regions/us_xx/raw_data/us_xx_validPrimaryKeysNotHistorical.yaml
  recidiviz/tools/ingest/development/raw_data_config_writer.py
Due: generate_docs_for_endpoint

[US_ME] Change goal and case plan dataset references from static to _latest (Recidiviz/recidiviz-data#19871)
  recidiviz/calculator/query/state/views/workflows/firestore/us_me_complete_transfer_to_sccp_form_record.py
Due: generate_docs_for_endpoint

[US_MI][Workflows] Fix validation errors (Recidiviz/recidiviz-data#19905)
  recidiviz/calculator/query/state/views/analyst_data/us_mi/supervision_classification_review_dates.py
  recidiviz/task_eligibility/criteria/state_specific/us_mi/not_on_lifetime_electronic_monitoring.py
  recidiviz/task_eligibility/criteria/state_specific/us_mi/past_initial_classification_review_date.py
Due: generate_docs_for_endpoint

Some quick mypy fixes due to removal of ingest info (Recidiviz/recidiviz-data#19899)
  setup.cfg
Due: none

[Workflows][US_MI] Make case_notes an array for CR record (Recidiviz/recidiviz-data#19926)
  recidiviz/calculator/query/state/views/workflows/firestore/us_mi_complete_classification_review_form_record.py
Due: generate_docs_for_endpoint

[Dataflow] Add option to create single-state dataflow sandbox (Recidiviz/recidiviz-data#19913)
  recidiviz/tools/calculator/create_or_update_dataflow_sandbox.py
Due: generate_docs_for_endpoint

[Dataflow] Bugfixes / improvements related to running sandbox with person_filter_ids (Recidiviz/recidiviz-data#19915)
  recidiviz/calculator/pipeline/base_pipeline.py
  recidiviz/tools/calculator/run_sandbox_calculation_pipeline.py
Due: generate_docs_for_endpoint

Path conditions:
  generate_docs_for_region: any of: ^recidiviz/ingest/direct/regions/
  generate_docs_for_endpoint: any of: ^recidiviz/, but not: (?x)(^recidiviz/tests/|^recidiviz/tools/|^recidiviz/ingest/direct/regions/)$

  generate_entity_documentation: any of: (?x)(^recidiviz/persistence/database/schema/state/schema.py|^recidiviz/persistence/database/schema/history_table_shared_columns_mixin.py)$

