Repository Recidiviz/pulse-data: changes, and which pre-commit hooks are due for each by the changed paths.
All: generate_docs_for_region, generate_docs_for_endpoint, generate_entity_documentation, generate_calc_documentation, generate_ingest_mappings_schema_documentation, update_terraform_lock_file

generate_docs_for_region:
  name: generate_docs_for_region
  entry: pipenv run python -m recidiviz.tools.docs.region_documentation_generator
  language: system
  require_serial: true

generate_docs_for_endpoint:
  name: generate_docs_for_endpoint
  entry: pipenv run python -m recidiviz.tools.docs.endpoint_documentation_generator
  language: system
  require_serial: true

generate_entity_documentation:
  name: generate_entity_documentation
  entry: pipenv run python -m recidiviz.tools.docs.entity_documentation_generator
  language: system
  require_serial: true

generate_calc_documentation:
  name: generate_calc_documentation
  entry: pipenv run python -m recidiviz.calculator.calculation_documentation_generator
  language: system
  require_serial: true

generate_ingest_mappings_schema_documentation:
  name: generate_ingest_mappings_schema_documentation
  entry: pipenv run python -m recidiviz.tools.docs.ingest_mappings_schema_documentation_generator
  language: system
  require_serial: true

update_terraform_lock_file:
  name: update_terraform_lock_file
  entry: recidiviz/tools/deploy/update_terraform_lock.sh
  language: script
  require_serial: true

[BigQuery] Even better tracking of failed views during updates (Recidiviz/recidiviz-data#15481)
  recidiviz/big_query/big_query_view_dag_walker.py
  recidiviz/big_query/view_update_manager.py
Due: generate_docs_for_endpoint, generate_calc_documentation

pin terraform version in CI (Recidiviz/recidiviz-data#15492)
  .github/workflows/ci.yml
Due: none

Reduce files that are copied into docker images (Recidiviz/recidiviz-data#15477)
  .dockerignore
  .gcloudignore
  .gitignore
  recidiviz/tools/validate_source_modifications.py
Due: generate_docs_for_endpoint

[View update] Log 25 most expensive views (Recidiviz/recidiviz-data#15485)
  recidiviz/big_query/big_query_view_dag_walker.py
  recidiviz/big_query/view_update_manager.py
  recidiviz/tests/big_query/big_query_view_dag_walker_test.py
  recidiviz/tools/load_views_to_sandbox.py
Due: generate_docs_for_endpoint, generate_calc_documentation

[Security] Ignore unfixed CVEs in Docker image (Recidiviz/recidiviz-data#15491)
  .github/workflows/docker-image-scan.yml
Due: none

[US_OZ] Include incarceration validation data in external data (Recidiviz/recidiviz-data#15293)
  recidiviz/tools/deploy/terraform/modules/state-direct-ingest-resources/bigquery.tf
  recidiviz/validation/views/external_data/regions/us_oz/__init__.py
  recidiviz/validation/views/external_data/regions/us_oz/incarceration_population_person_level.py
  recidiviz/validation/views/view_config.py
  recidiviz/view_registry/datasets.py
  recidiviz/view_registry/deployed_views.py
Due: generate_docs_for_endpoint, generate_calc_documentation, update_terraform_lock_file

[Justice Counts] Turn off WTF_CSRF's same origin policy in staging to make it possible to run frontend locally against staging backend (Recidiviz/recidiviz-data#15455)
  recidiviz/justice_counts/control_panel/config.py
Due: generate_docs_for_endpoint

Adds the ability to remove a cleaning step for TextAnalyzer (Recidiviz/recidiviz-data#15439)
  recidiviz/calculator/pipeline/supplemental/us_id_case_note_extracted_entities/us_id_text_analysis_configuration.py
  recidiviz/common/text_analysis.py
  recidiviz/tests/common/text_analysis_test.py
Due: generate_docs_for_endpoint, generate_calc_documentation

Converting several validation views to use population spans directly (Recidiviz/recidiviz-data#15496)
  recidiviz/validation/views/state/active_in_population_after_death_date.py
  recidiviz/validation/views/state/sessions_validation/session_supervision_population_to_dataflow_disaggregated.py
Due: generate_docs_for_endpoint, generate_calc_documentation

[BigQuery] Increase BigQueryDagWalker parallelism (Recidiviz/recidiviz-data#15495)
  recidiviz/big_query/big_query_client.py
  recidiviz/big_query/big_query_view_dag_walker.py
Due: generate_docs_for_endpoint, generate_calc_documentation

Moving supervision_officers_and_districts view to population spans (Recidiviz/recidiviz-data#15500)
  recidiviz/calculator/query/state/views/vitals_report/supervision_officers_and_districts.py
Due: generate_docs_for_endpoint, generate_calc_documentation

[Workflows] Enable ETL for ID Earned Discharge (Recidiviz/recidiviz-data#15435)
  recidiviz/tests/workflows/etl/workflows_opportunity_etl_delegate_test.py
  recidiviz/workflows/etl/workflows_opportunity_etl_delegate.py
  recidiviz/workflows/etl/workflows_staff_etl_delegate.py
Due: generate_docs_for_endpoint

[Deploy] Allow deployers to retry migrations when transient network errors occur (Recidiviz/recidiviz-data#15253)
  recidiviz/tools/deploy/deploy_helpers.sh
Due: generate_docs_for_endpoint

[CA] added columns from newest dumps (Recidiviz/recidiviz-data#15501)
  recidiviz/ingest/direct/regions/us_ca/raw_data/us_ca_AssessmentParole.yaml
  recidiviz/ingest/direct/regions/us_ca/raw_data/us_ca_IncarcerationInCustody.yaml
  recidiviz/ingest/direct/regions/us_ca/raw_data/us_ca_IncarcerationParole.yaml
Due: generate_docs_for_region, generate_docs_for_endpoint

[US_ID] Update mappings for SupervisionLevel (Recidiviz/recidiviz-data#15505)
  recidiviz/ingest/direct/regions/us_id/us_id_controller.py
Due: generate_docs_for_region, generate_docs_for_endpoint

[US_MI] Revise incarceration periods to exclude movements with movement_reason_id 105 (Recidiviz/recidiviz-data#15504)
  recidiviz/ingest/direct/regions/us_mi/ingest_views/view_incarceration_periods.py
Due: generate_docs_for_region, generate_docs_for_endpoint

[Deploy] Add slack channel to deployment bot messages in `deploy_migrations` (Recidiviz/recidiviz-data#15507)
  recidiviz/tools/deploy/deploy_helpers.sh
Due: generate_docs_for_endpoint

Deprecate TN weekend confinement preprocessing (Recidiviz/recidiviz-data#15494)
  recidiviz/calculator/query/state/views/sessions/dataflow_sessions.py
  recidiviz/calculator/query/state/views/sessions/sessions_views.py
  recidiviz/calculator/query/state/views/sessions/us_tn/us_tn_incarceration_population_metrics_preprocessed.py
Due: generate_docs_for_endpoint, generate_calc_documentation

[US_ID][Workflows] Add LSU task (Recidiviz/recidiviz-data#15512)
  recidiviz/task_eligibility/criteria/general/supervision_not_past_full_term_completion_date.py
  recidiviz/task_eligibility/criteria/general/supervision_past_full_term_completion_date.py
  recidiviz/task_eligibility/eligibility_spans/us_id/complete_transfer_to_limited_supervision_form.py
Due: generate_docs_for_endpoint, generate_calc_documentation

[US_ID][Workflows] Add LSU form (Recidiviz/recidiviz-data#15335)
  recidiviz/calculator/query/state/views/workflows/firestore/firestore_views.py
  recidiviz/calculator/query/state/views/workflows/firestore/us_id_complete_discharge_early_from_supervision_request_record.py
  recidiviz/calculator/query/state/views/workflows/firestore/us_id_complete_transfer_to_limited_supervision_form_record.py
Due: generate_docs_for_endpoint, generate_calc_documentation

[US_ID][Workflows] Add requested fields to opportunity record for ED (Recidiviz/recidiviz-data#15458)
  recidiviz/calculator/query/state/views/workflows/firestore/us_id_complete_discharge_early_from_supervision_request_record.py
Due: generate_docs_for_endpoint, generate_calc_documentation

Adding violation_subtype_raw_text to violations pipeline (Recidiviz/recidiviz-data#15483)
  recidiviz/calculator/pipeline/metrics/utils/violation_utils.py
  recidiviz/calculator/pipeline/metrics/violation/identifier.py
  recidiviz/calculator/pipeline/utils/identifier_models.py
  recidiviz/calculator/pipeline/utils/state_utils/state_specific_violations_delegate.py
  recidiviz/calculator/pipeline/utils/state_utils/us_mo/us_mo_violations_delegate.py
  recidiviz/calculator/pipeline/utils/state_utils/us_pa/us_pa_violations_delegate.py
  recidiviz/tests/calculator/pipeline/metrics/violation/identifier_test.py
  recidiviz/tests/calculator/pipeline/utils/state_utils/us_mo/us_mo_violations_delegate_test.py
  recidiviz/tests/calculator/pipeline/utils/state_utils/us_pa/us_pa_violations_delegate_test.py
Due: generate_docs_for_endpoint, generate_calc_documentation

Changing disaggregated incarceration view to population spans (Recidiviz/recidiviz-data#15520)
  recidiviz/validation/views/state/sessions_validation/session_incarceration_population_to_dataflow_disaggregated.py
Due: generate_docs_for_endpoint, generate_calc_documentation

[BigQuery] Allow dataflow sandbox dataset to match standard sandbox dataset name (Recidiviz/recidiviz-data#15523)
  recidiviz/view_registry/address_overrides_factory.py
Due: generate_docs_for_endpoint

[View update] Increase sampling ratio for /view_update endpoints (Recidiviz/recidiviz-data#15524)
  recidiviz/server.py
Due: generate_docs_for_endpoint

Adds response_date and is_inferred flags to violation event in person_events (Recidiviz/recidiviz-data#15489)
  recidiviz/calculator/query/state/views/analyst_data/person_events.py
Due: generate_docs_for_endpoint, generate_calc_documentation

update ingest status table design (Recidiviz/recidiviz-data#15531)
  frontends/admin-panel/src/style/App.css
Due: none

Moving several Pathways views to incarceration population span metrics (Recidiviz/recidiviz-data#15525)
  recidiviz/calculator/query/state/views/dashboard/pathways/event_level/prison_population_over_time.py
  recidiviz/calculator/query/state/views/dashboard/pathways/prison_population_time_series.py
Due: generate_docs_for_endpoint, generate_calc_documentation

[Justice Counts] Fix: only show overwrites if new value, don't rely on datapoint histories (Recidiviz/recidiviz-data#15461)
  recidiviz/justice_counts/bulk_upload/bulk_upload.py
  recidiviz/justice_counts/control_panel/routes/api.py
  recidiviz/justice_counts/datapoint.py
  recidiviz/justice_counts/report.py
  recidiviz/justice_counts/spreadsheet.py
  recidiviz/tests/justice_counts/bulk_upload/bulk_upload_fixtures/law_enforcement/annual_budget_metric_update.xlsx
  recidiviz/tests/justice_counts/datapoint_test.py
  recidiviz/tests/justice_counts/spreadsheet_test.py
Due: generate_docs_for_endpoint

[Justice Counts] strip whitespace from sheet name before checking if it is valid (Recidiviz/recidiviz-data#15522)
  recidiviz/justice_counts/bulk_upload/bulk_upload.py
  recidiviz/tests/justice_counts/bulk_upload/bulk_upload_fixtures/law_enforcement/arrests_metric_errors.xlsx
  recidiviz/tests/justice_counts/spreadsheet_test.py
Due: generate_docs_for_endpoint

[Airflow] Increase wait for view rematerialization timeout (Recidiviz/recidiviz-data#15535)
  recidiviz/airflow/dags/calculation_pipeline_dags.py
Due: generate_docs_for_endpoint

[BigQuery] Limit time to two decimal places in log_processing_stats (Recidiviz/recidiviz-data#15529)
  recidiviz/big_query/big_query_view_dag_walker.py
Due: generate_docs_for_endpoint, generate_calc_documentation

[US_MO] Updating incarceration periods view to correctly filter for only "I" status (Recidiviz/recidiviz-data#15540)
  recidiviz/ingest/direct/regions/us_mo/ingest_views/view_tak158_tak026_incarceration_periods.py
Due: generate_docs_for_region, generate_docs_for_endpoint

Adding population spans to the single day metrics generator (Recidiviz/recidiviz-data#15536)
  recidiviz/calculator/query/state/views/dataflow_metrics_materialized/most_recent_single_day_dataflow_metrics.py
Due: generate_docs_for_endpoint, generate_calc_documentation

[US_OZ] ingest person information from internDS_initialtable (Recidiviz/recidiviz-data#15538)
  recidiviz/common/constants/state/external_id_types.py
  recidiviz/ingest/direct/regions/us_oz/ingest_mappings/us_oz_internDS_initialtable.yaml
  recidiviz/ingest/direct/regions/us_oz/ingest_views/view_internDS_initialtable.py
  recidiviz/ingest/direct/regions/us_oz/us_oz_controller.py
Due: generate_docs_for_region, generate_docs_for_endpoint

[BigQuery] Fix some more non-deterministic views (Recidiviz/recidiviz-data#15546)
  recidiviz/calculator/query/bq_utils.py
Due: generate_docs_for_endpoint, generate_calc_documentation

[BigQuery] Consolidate sub-DAG generation logic (Recidiviz/recidiviz-data#15322)
  recidiviz/big_query/big_query_view_dag_walker.py
  recidiviz/big_query/big_query_view_sub_dag_collector.py
  recidiviz/big_query/view_update_manager.py
  recidiviz/tests/big_query/big_query_view_dag_walker_test.py
  recidiviz/tests/big_query/view_update_manager_test.py
  recidiviz/tools/deploy/deploy_views.py
Due: generate_docs_for_endpoint, generate_calc_documentation

Add new fields introduced to standards sheet (Recidiviz/recidiviz-data#15454)
  recidiviz/admin_panel/line_staff_tools/raw_data.py
  recidiviz/tests/admin_panel/routes/fixtures/file_upload.xlsx
Due: generate_docs_for_endpoint

Updating all historical pipelines to generate metrics across all time, except for population metrics (Recidiviz/recidiviz-data#15543)
  recidiviz/calculator/calculation_documentation_generator.py
  recidiviz/calculator/pipeline/calculation_pipeline_templates.yaml
  recidiviz/calculator/pipeline/metrics/incarceration/metric_producer.py
  recidiviz/calculator/pipeline/metrics/supervision/metric_producer.py
  recidiviz/tests/calculator/pipeline/metrics/incarceration/metric_producer_test.py
  recidiviz/tests/calculator/pipeline/metrics/supervision/metric_producer_test.py
Due: generate_docs_for_endpoint, generate_calc_documentation

[Justice Counts] Reducing the number of `session.commits` to improve performance (Recidiviz/recidiviz-data#15514)
  recidiviz/justice_counts/bulk_upload/bulk_upload.py
  recidiviz/justice_counts/control_panel/README.md
  recidiviz/justice_counts/control_panel/routes/api.py
  recidiviz/justice_counts/datapoint.py
  recidiviz/justice_counts/report.py
  recidiviz/justice_counts/spreadsheet.py
  recidiviz/justice_counts/user_account.py
  recidiviz/tests/justice_counts/control_panel/server_test.py
  recidiviz/tests/justice_counts/datapoint_test.py
  recidiviz/tests/justice_counts/report_test.py
Due: generate_docs_for_endpoint

Path conditions:
  generate_docs_for_region: any of: ^recidiviz/ingest/direct/regions/
  generate_docs_for_endpoint: any of: ^recidiviz/, but not: (?x)(^recidiviz/tests/|^recidiviz/tools/|^recidiviz/ingest/direct/regions/)$

  generate_entity_documentation: any of: (?x)(^recidiviz/persistence/database/schema/state/schema.py|^recidiviz/persistence/database/schema/history_table_shared_columns_mixin.py|^recidiviz/common/constants/state/)$

  generate_calc_documentation: any of: ^recidiviz/calculator/|^recidiviz/metrics/|^recidiviz/.*/views/|^recidiviz/big_query/|^recidiviz/persistence/database/schema/|^recidiviz/persistence/entity/|^recidiviz/task_eligibility/, but not: ^recidiviz/tests/|^recidiviz/calculator/modeling/
  generate_ingest_mappings_schema_documentation: any of: ^recidiviz/ingest/direct/ingest_mappings/yaml_schema/|^docs/engineering/ingest_mapping_schema/
  update_terraform_lock_file: any of: ^recidiviz/tools/deploy/terraform/
