Repository Recidiviz/pulse-data: changes, and which pre-commit hooks are due for each by the changed paths.
All: generate_docs_for_region, generate_docs_for_endpoint, generate_entity_documentation

generate_docs_for_region:
  name: generate_docs_for_region
  entry: pipenv run python -m recidiviz.tools.docs.region_documentation_generator
  language: system
  require_serial: true

generate_docs_for_endpoint:
  name: generate_docs_for_endpoint
  entry: pipenv run python -m recidiviz.tools.docs.endpoint_documentation_generator
  language: system
  require_serial: true

generate_entity_documentation:
  name: generate_entity_documentation
  entry: pipenv run python -m recidiviz.tools.docs.entity_documentation_generator
  language: system
  require_serial: true

[PA ingest] Gate ingest views that need changes / are blocked on other views before running in stage (Recidiviz/recidiviz-data#3485)
  recidiviz/ingest/direct/regions/us_pa/us_pa_controller.py
Due: generate_docs_for_region, generate_docs_for_endpoint

[SQL pre-processing] Fix issue with string formatting when using reference tables in queries (Recidiviz/recidiviz-data#3491)
  recidiviz/ingest/direct/controllers/direct_ingest_big_query_view_types.py
  recidiviz/tests/ingest/direct/controllers/direct_ingest_big_query_view_types_test.py
Due: generate_docs_for_endpoint

one value error -> entity matching error (Recidiviz/recidiviz-data#3492)
  recidiviz/persistence/entity_matching/state/us_nd/us_nd_matching_utils.py
Due: generate_docs_for_endpoint

Adding WARRANT_ISSUED to StateSupervisionViolationResponseDecision (Recidiviz/recidiviz-data#3487)
  recidiviz/calculator/pipeline/utils/calculator_utils.py
  recidiviz/common/constants/state/enum_canonical_strings.py
  recidiviz/common/constants/state/state_supervision_violation_response.py
  recidiviz/ingest/direct/regions/us_mo/us_mo_controller.py
  recidiviz/persistence/database/migrations/state/versions/2020_06_30_1708_57a4819a429c_add_issue_warrant_to_violation_response_.py
  recidiviz/persistence/database/schema/state/schema.py
Due: generate_docs_for_region, generate_docs_for_endpoint, generate_entity_documentation

Use the most severe violation on each report (Recidiviz/recidiviz-data#3486)
  recidiviz/calculator/pipeline/supervision/identifier.py
  recidiviz/calculator/pipeline/utils/state_utils/us_mo/us_mo_violation_utils.py
  recidiviz/tests/calculator/pipeline/supervision/identifier_test.py
  recidiviz/tests/calculator/pipeline/utils/state_utils/us_mo/us_mo_violation_utils_test.py
Due: generate_docs_for_endpoint

Update COVID aggregator to support calculation overrides (Recidiviz/recidiviz-data#3426)
  recidiviz/cloud_functions/covid/covid_aggregator.py
Due: generate_docs_for_endpoint

Change StateSupervisionViolationResponseDecision mapping for US_MO (Recidiviz/recidiviz-data#3488)
  recidiviz/calculator/query/state/views/dashboard/revocation_analysis/revocations_matrix_filtered_caseload.py
  recidiviz/ingest/direct/regions/us_mo/us_mo_controller.py
  recidiviz/persistence/database/migrations/state/versions/2020_06_30_1758_dfcb0a5afd65_update_response_decision_mapping.py
  recidiviz/tests/ingest/direct/regions/us_mo/us_mo_controller_test.py
Due: generate_docs_for_region, generate_docs_for_endpoint

[PA ingest] Bugfixes in test score ingest views (Recidiviz/recidiviz-data#3495)
  recidiviz/calculator/pipeline/utils/calculator_utils.py
  recidiviz/ingest/direct/regions/us_pa/ingest_views/view_dbo_LSIR.py
  recidiviz/ingest/direct/regions/us_pa/ingest_views/view_dbo_tblInmTestScore.py
  recidiviz/ingest/direct/regions/us_pa/us_pa_controller.py
  recidiviz/tests/ingest/direct/regions/us_pa/fixtures/dbo_tblInmTestScore.csv
  recidiviz/tests/ingest/direct/regions/us_pa/fixtures/doc_person_info.csv
  recidiviz/tests/ingest/direct/regions/us_pa/us_pa_controller_test.py
Due: generate_docs_for_region, generate_docs_for_endpoint

[PA Ingest] Adds incarceration period ingest for Pennsylvania (Recidiviz/recidiviz-data#3336)
  recidiviz/calculator/pipeline/recidivism/identifier.py
  recidiviz/common/constants/state/enum_canonical_strings.py
  recidiviz/common/constants/state/state_incarceration_period.py
  recidiviz/ingest/direct/regions/us_pa/ingest_views/view_incarceration_period.py
  recidiviz/ingest/direct/regions/us_pa/us_pa_controller.py
  recidiviz/ingest/direct/regions/us_pa/us_pa_enum_helpers.py
  recidiviz/ingest/direct/regions/us_pa/us_pa_incarceration_period.yaml
  recidiviz/persistence/database/migrations/state/versions/2020_07_01_1643_c7cc7e007e2f_add_new_release_reasons.py
  recidiviz/persistence/database/schema/state/schema.py
  recidiviz/tests/calculator/pipeline/recidivism/identifier_test.py
  recidiviz/tests/ingest/direct/regions/us_pa/fixtures/incarceration_period.csv
  recidiviz/tests/ingest/direct/regions/us_pa/us_pa_controller_test.py
Due: generate_docs_for_region, generate_docs_for_endpoint, generate_entity_documentation

[PA Ingest] Incarceration Incidents (Recidiviz/recidiviz-data#3343)
  recidiviz/common/constants/state/enum_canonical_strings.py
  recidiviz/common/constants/state/state_incarceration_incident.py
  recidiviz/ingest/direct/regions/us_pa/ingest_views/view_dbo_Miscon.py
  recidiviz/ingest/direct/regions/us_pa/us_pa_controller.py
  recidiviz/ingest/direct/regions/us_pa/us_pa_dbo_Miscon.yaml
  recidiviz/ingest/models/ingest_info.proto
  recidiviz/ingest/models/ingest_info.py
  recidiviz/ingest/models/ingest_info_pb2.py
  recidiviz/ingest/models/ingest_info_pb2.pyi
  recidiviz/persistence/database/migrations/state/versions/2020_07_02_0118_42c3e60d0887_new_incident_outcome_fields.py
  recidiviz/persistence/database/schema/state/schema.py
  recidiviz/persistence/entity/state/entities.py
  recidiviz/persistence/entity_matching/state/state_incarceration_incident_matching_utils.py
  recidiviz/persistence/entity_matching/state/us_nd/us_nd_matching_delegate.py
  recidiviz/persistence/entity_matching/state/us_nd/us_nd_matching_utils.py
  recidiviz/persistence/entity_matching/state/us_pa/us_pa_matching_delegate.py
  recidiviz/persistence/ingest_info_converter/state/entity_helpers/state_incarceration_incident_outcome.py
  recidiviz/tests/ingest/direct/regions/us_pa/fixtures/dbo_Miscon.csv
  recidiviz/tests/ingest/direct/regions/us_pa/us_pa_controller_test.py
  recidiviz/tests/persistence/entity_matching/state/state_incarceration_incident_matching_utils_test.py
  recidiviz/tests/persistence/entity_matching/state/us_nd/us_nd_matching_utils_test.py
  recidiviz/tests/persistence/ingest_info_converter/state/entity_helpers/state_incarceration_incident_outcome_test.py
  recidiviz/tests/persistence/ingest_info_converter/state/state_converter_test.py
Due: generate_docs_for_region, generate_docs_for_endpoint, generate_entity_documentation

Add parsing for enum SEX OFFENSE (Recidiviz/recidiviz-data#3493)
  recidiviz/ingest/direct/regions/us_id/us_id_controller.py
  recidiviz/tests/ingest/direct/regions/us_id/fixtures/movement_facility_location_offstat_supervision_periods.csv
  recidiviz/tests/ingest/direct/regions/us_id/us_id_controller_test.py
Due: generate_docs_for_region, generate_docs_for_endpoint

Add raw file configs for remaining files in the US ID ingest bucket (Recidiviz/recidiviz-data#3497)
  recidiviz/ingest/direct/regions/us_id/us_id_raw_data_files.yaml
Due: generate_docs_for_region, generate_docs_for_endpoint

[PA ingest] Fix crash when ingest views are unlaunched (Recidiviz/recidiviz-data#3496)
  recidiviz/ingest/direct/controllers/gcsfs_direct_ingest_controller.py
Due: generate_docs_for_endpoint

[SQL pre-processing] Mark split files as discovered inline in handle_new_files (Recidiviz/recidiviz-data#3499)
  recidiviz/ingest/direct/controllers/gcsfs_direct_ingest_controller.py
  recidiviz/tests/ingest/direct/controllers/gcsfs_direct_ingest_controller_test.py
Due: generate_docs_for_endpoint

Final pre-launch PO Monthly Report email updates (Recidiviz/recidiviz-data#3490)
  recidiviz/cloud_functions/email_reporting/data_retrieval.py
  recidiviz/cloud_functions/email_reporting/main.py
  recidiviz/cloud_functions/email_reporting/po_monthly_report/context.py
  recidiviz/cloud_functions/email_reporting/po_monthly_report/po_monthly_report_data.json
  recidiviz/cloud_functions/email_reporting/po_monthly_report/properties.json
  recidiviz/cloud_functions/email_reporting/po_monthly_report/template.html
Due: generate_docs_for_endpoint

[PA ingest] Add person external ids to dbo_Senrec ingest (Recidiviz/recidiviz-data#3501)
  recidiviz/ingest/direct/regions/us_pa/ingest_views/view_dbo_Senrec.py
  recidiviz/ingest/direct/regions/us_pa/us_pa_controller.py
  recidiviz/ingest/direct/regions/us_pa/us_pa_dbo_Senrec.yaml
  recidiviz/tests/ingest/direct/regions/us_pa/fixtures/dbo_Senrec.csv
  recidiviz/tests/ingest/direct/regions/us_pa/us_pa_controller_test.py
Due: generate_docs_for_region, generate_docs_for_endpoint

[skip validation] Migration (Recidiviz/recidiviz-data#3500)
  recidiviz/persistence/database/migrations/state/versions/2020_07_02_1510_e5949964b987_update_revocation_type.py
Due: generate_docs_for_endpoint

[PA ingest] Add sentence group ids to dbo_Miscon ingest (Recidiviz/recidiviz-data#3504)
  recidiviz/ingest/direct/regions/us_pa/ingest_views/view_dbo_Miscon.py
  recidiviz/ingest/direct/regions/us_pa/us_pa_dbo_Miscon.yaml
  recidiviz/ingest/direct/regions/us_pa/us_pa_raw_data_files.yaml
  recidiviz/persistence/entity_matching/state/state_incarceration_incident_matching_utils.py
  recidiviz/persistence/entity_matching/state/us_pa/us_pa_matching_delegate.py
  recidiviz/tests/ingest/direct/regions/us_pa/fixtures/dbo_Miscon.csv
  recidiviz/tests/ingest/direct/regions/us_pa/us_pa_controller_test.py
Due: generate_docs_for_region, generate_docs_for_endpoint

[US_ID] Update codeaddresstyle and x_body_loc_cd filetags and primary keys (Recidiviz/recidiviz-data#3505)
  recidiviz/ingest/direct/regions/us_id/us_id_raw_data_files.yaml
Due: generate_docs_for_region, generate_docs_for_endpoint

Break up ID monolith issue into smaller ingest related tasks (Recidiviz/recidiviz-data#3520)
  recidiviz/ingest/direct/regions/us_id/ingest_views/view_movement_facility_location_offstat_incarceration_periods.py
  recidiviz/ingest/direct/regions/us_id/ingest_views/view_ofndr_agnt_applc_usr_body_loc_cd_current_pos.py
  recidiviz/ingest/direct/regions/us_id/us_id_controller.py
  recidiviz/ingest/direct/regions/us_id/us_id_early_discharge_incarceration_sentence.yaml
  recidiviz/ingest/direct/regions/us_id/us_id_early_discharge_supervision_sentence.yaml
  recidiviz/ingest/direct/regions/us_id/us_id_enum_helpers.py
  recidiviz/ingest/direct/regions/us_id/us_id_mittimus_judge_sentence_offense_sentprob_incarceration_sentences.yaml
  recidiviz/ingest/direct/regions/us_id/us_id_mittimus_judge_sentence_offense_sentprob_supervision_sentences.yaml
  recidiviz/ingest/direct/regions/us_id/us_id_offender_ofndr_dob_address.yaml
  recidiviz/ingest/direct/regions/us_id/us_id_ofndr_agnt_applc_usr_body_loc_cd_current_pos.yaml
  recidiviz/ingest/direct/regions/us_id/us_id_ofndr_tst_ofndr_tst_cert.yaml
  recidiviz/ingest/direct/regions/us_id/us_id_sprvsn_cntc.yaml
Due: generate_docs_for_region, generate_docs_for_endpoint

Limit PO report views to only count people on supervision (Recidiviz/recidiviz-data#3503)
  recidiviz/calculator/query/state/views/po_report/po_monthly_report_data.py
  recidiviz/calculator/query/state/views/po_report/revocations_by_officer_by_month.py
  recidiviz/calculator/query/state/views/po_report/supervision_absconsion_terminations_by_officer_by_month.py
  recidiviz/calculator/query/state/views/po_report/supervision_discharges_by_officer_by_month.py
  recidiviz/calculator/query/state/views/po_report/supervision_early_discharge_requests_by_officer_by_month.py
Due: generate_docs_for_endpoint

Mapping for new North Dakota supervision type enum PRE-TRIAL (Recidiviz/recidiviz-data#3512)
  recidiviz/calculator/pipeline/utils/state_utils/state_calculation_config_manager.py
  recidiviz/ingest/direct/regions/us_nd/us_nd_controller.py
  recidiviz/tests/calculator/pipeline/supervision/identifier_test.py
  recidiviz/tests/ingest/direct/regions/us_nd/fixtures/docstars_offendercasestable.csv
  recidiviz/tests/ingest/direct/regions/us_nd/us_nd_controller_test.py
Due: generate_docs_for_region, generate_docs_for_endpoint

[PA ingest] Several reliability fixes to unblock dbo_Senrec ingest (Recidiviz/recidiviz-data#3526)
  recidiviz/ingest/direct/controllers/direct_ingest_big_query_view_types.py
  recidiviz/ingest/direct/controllers/direct_ingest_gcs_file_system.py
  recidiviz/ingest/direct/controllers/direct_ingest_ingest_view_export_manager.py
  recidiviz/ingest/direct/controllers/gcsfs_direct_ingest_controller.py
  recidiviz/ingest/direct/regions/us_pa/ingest_views/view_dbo_Senrec.py
  recidiviz/tests/ingest/direct/controllers/direct_ingest_gcs_file_system_test.py
Due: generate_docs_for_region, generate_docs_for_endpoint

Compliance task counts (Recidiviz/recidiviz-data#3525)
  recidiviz/calculator/pipeline/supervision/calculator.py
  recidiviz/calculator/pipeline/supervision/identifier.py
  recidiviz/calculator/pipeline/supervision/metrics.py
  recidiviz/calculator/pipeline/supervision/supervision_case_compliance.py
  recidiviz/calculator/pipeline/utils/state_utils/state_calculation_config_manager.py
  recidiviz/calculator/pipeline/utils/state_utils/us_id/us_id_supervision_compliance.py
  recidiviz/calculator/query/state/views/po_report/po_monthly_report_data.py
  recidiviz/calculator/query/state/views/po_report/supervision_compliance_by_officer_by_month.py
  recidiviz/tests/calculator/pipeline/supervision/identifier_test.py
  recidiviz/tests/calculator/pipeline/utils/state_utils/us_id/us_id_supervision_compliance_test.py
Due: generate_docs_for_endpoint

Join early discharges directly to supervision periods (Recidiviz/recidiviz-data#3528)
  recidiviz/calculator/query/state/views/po_report/supervision_early_discharge_requests_by_officer_by_month.py
Due: generate_docs_for_endpoint

Update COVID aggregation data amendment logic (Recidiviz/recidiviz-data#3530)
  recidiviz/cloud_functions/covid/covid_aggregator.py
Due: generate_docs_for_endpoint

[PA ingest] Some incarceration period enum mapping fixes (Recidiviz/recidiviz-data#3529)
  recidiviz/ingest/direct/regions/us_pa/us_pa_controller.py
  recidiviz/ingest/direct/regions/us_pa/us_pa_enum_helpers.py
Due: generate_docs_for_region, generate_docs_for_endpoint

Promote us_nm_bernalillo. Working well. (Recidiviz/recidiviz-data#3533)
  recidiviz/ingest/direct/regions/us_nm_bernalillo/manifest.yaml
Due: generate_docs_for_region, generate_docs_for_endpoint

[PA ingest] Fix crash on '0 0 0' date values (Recidiviz/recidiviz-data#3534)
  recidiviz/common/str_field_utils.py
  recidiviz/tests/common/str_field_utils_test.py
  recidiviz/tests/ingest/direct/regions/us_pa/fixtures/dbo_Miscon.csv
  recidiviz/tests/ingest/direct/regions/us_pa/us_pa_controller_test.py
Due: generate_docs_for_endpoint

[PA Ingest] Supervision sentences + sentence groups (Recidiviz/recidiviz-data#3397)
  recidiviz/common/str_field_utils.py
  recidiviz/ingest/direct/regions/us_pa/ingest_views/view_supervision_sentence.py
  recidiviz/ingest/direct/regions/us_pa/us_pa_controller.py
  recidiviz/ingest/direct/regions/us_pa/us_pa_raw_data_files.yaml
  recidiviz/ingest/direct/regions/us_pa/us_pa_supervision_sentence.yaml
  recidiviz/persistence/entity_matching/state/us_pa/us_pa_matching_delegate.py
  recidiviz/tests/common/str_field_utils_test.py
  recidiviz/tests/ingest/direct/regions/us_pa/fixtures/supervision_sentence.csv
  recidiviz/tests/ingest/direct/regions/us_pa/us_pa_controller_test.py
Due: generate_docs_for_region, generate_docs_for_endpoint

[CSV extractor] Don't crash when an ancestor coordinate is null (Recidiviz/recidiviz-data#3537)
  recidiviz/ingest/extractor/csv_data_extractor.py
Due: generate_docs_for_endpoint

[PA ingest] Update dbo_Offender query to group by master id (Recidiviz/recidiviz-data#3536)
  recidiviz/ingest/direct/regions/us_pa/ingest_views/view_dbo_Offender.py
  recidiviz/ingest/direct/regions/us_pa/us_pa_controller.py
  recidiviz/ingest/direct/regions/us_pa/us_pa_dbo_Offender.yaml
  recidiviz/tests/ingest/direct/regions/us_pa/fixtures/dbo_Offender.csv
  recidiviz/tests/ingest/direct/regions/us_pa/us_pa_controller_test.py
Due: generate_docs_for_region, generate_docs_for_endpoint

Break up queries for direct ingest and commit sub parts to temp table (Recidiviz/recidiviz-data#3502)
  recidiviz/big_query/big_query_client.py
  recidiviz/ingest/direct/controllers/direct_ingest_big_query_view_types.py
  recidiviz/ingest/direct/controllers/direct_ingest_ingest_view_export_manager.py
  recidiviz/ingest/direct/controllers/gcsfs_direct_ingest_controller.py
  recidiviz/persistence/database/schema/operations/dao.py
  recidiviz/tests/big_query/big_query_client_test.py
  recidiviz/tests/ingest/direct/controllers/direct_ingest_ingest_view_export_manager_test.py
  recidiviz/tests/ingest/direct/controllers/gcsfs_direct_ingest_controller_test.py
  recidiviz/tests/ingest/direct/fake_direct_ingest_big_query_client.py
Due: generate_docs_for_endpoint

Program participation metrics (Recidiviz/recidiviz-data#3535)
  recidiviz/calculator/calculation_data_storage_config.py
  recidiviz/calculator/pipeline/program/calculator.py
  recidiviz/calculator/pipeline/program/identifier.py
  recidiviz/calculator/pipeline/program/metrics.py
  recidiviz/calculator/pipeline/program/pipeline.py
  recidiviz/calculator/pipeline/program/program_event.py
  recidiviz/calculator/query/state/views/reference/most_recent_job_id_by_metric_and_state_code.py
  recidiviz/tests/calculator/pipeline/program/calculator_test.py
  recidiviz/tests/calculator/pipeline/program/identifier_test.py
  recidiviz/tests/calculator/pipeline/program/pipeline_test.py
  recidiviz/tests/calculator/pipeline/utils/metric_utils_test.py
Due: generate_docs_for_endpoint

[US_ID Ingest] Ingest historical POs (Recidiviz/recidiviz-data#3555)
  recidiviz/ingest/direct/regions/us_id/ingest_views/templates_periods.py
  recidiviz/ingest/direct/regions/us_id/ingest_views/view_movement_facility_location_offstat_incarceration_periods.py
  recidiviz/ingest/direct/regions/us_id/ingest_views/view_ofndr_agnt_applc_usr_body_loc_cd_current_pos.py
  recidiviz/ingest/direct/regions/us_id/us_id_controller.py
  recidiviz/ingest/direct/regions/us_id/us_id_movement_facility_location_offstat_supervision_periods.yaml
  recidiviz/ingest/direct/regions/us_id/us_id_ofndr_agnt_applc_usr_body_loc_cd_current_pos.yaml
  recidiviz/ingest/direct/regions/us_id/us_id_raw_data_files.yaml
  recidiviz/persistence/entity_matching/state/us_id/us_id_matching_delegate.py
  recidiviz/tests/ingest/direct/regions/us_id/fixtures/movement_facility_location_offstat_supervision_periods.csv
  recidiviz/tests/ingest/direct/regions/us_id/fixtures/ofndr_agnt_applc_usr_body_loc_cd_current_pos.csv
  recidiviz/tests/ingest/direct/regions/us_id/us_id_controller_test.py
Due: generate_docs_for_region, generate_docs_for_endpoint

rcarroll901/log scraper start date as ScraperSuccess date (Recidiviz/recidiviz-data#3577)
  recidiviz/ingest/scrape/sessions.py
  recidiviz/tests/ingest/scrape/scraper_success_test.py
Due: generate_docs_for_endpoint

Views for probation and parole pages of public dashboard (Recidiviz/recidiviz-data#3538)
  recidiviz/calculator/query/bq_utils.py
  recidiviz/calculator/query/state/view_config.py
  recidiviz/calculator/query/state/views/dashboard/program_evaluation/us_nd/ftr_referrals_by_race_and_ethnicity_by_period.py
  recidiviz/calculator/query/state/views/dashboard/revocation_analysis/revocations_matrix_distribution_by_race.py
  recidiviz/calculator/query/state/views/dashboard/revocations/revocations_by_race_and_ethnicity_by_period.py
  recidiviz/calculator/query/state/views/public_dashboard/__init__.py
  recidiviz/calculator/query/state/views/public_dashboard/public_dashboard_views.py
  recidiviz/calculator/query/state/views/public_dashboard/supervision/__init__.py
  recidiviz/calculator/query/state/views/public_dashboard/supervision/active_program_participation_by_region.py
  recidiviz/calculator/query/state/views/public_dashboard/supervision/supervision_population_by_district_by_demographics.py
  recidiviz/calculator/query/state/views/public_dashboard/supervision/supervision_revocations_by_month_by_type_by_demographics.py
  recidiviz/calculator/query/state/views/public_dashboard/supervision/supervision_success_by_month.py
  recidiviz/calculator/query/state/views/public_dashboard/supervision/supervision_success_by_period_by_demographics.py
  recidiviz/calculator/query/state/views/public_dashboard/supervision/supervision_views.py
  recidiviz/calculator/query/state/views/reference/event_based_revocations.py
  recidiviz/validation/configured_validations.py
  recidiviz/validation/views/state/po_report_avgs_per_district_state.py
  recidiviz/validation/views/state/po_report_distinct_by_officer_month.py
  recidiviz/validation/views/state/po_report_missing_fields.py
  recidiviz/validation/views/state/revocations_by_violation_type_dashboard_comparison.py
  recidiviz/validation/views/state/supervision_population_by_district_dashboard_comparison.py
  recidiviz/validation/views/state/supervision_success_by_month_dashboard_comparison.py
  recidiviz/validation/views/state/supervision_success_by_period_dashboard_comparison.py
  recidiviz/validation/views/view_config.py
Due: generate_docs_for_endpoint

[US_ND] Move ND files to proper location for SQL preprocessing (Recidiviz/recidiviz-data#3552)
  recidiviz/ingest/direct/controllers/direct_ingest_gcs_file_system.py
  recidiviz/ingest/direct/controllers/gcsfs_direct_ingest_utils.py
  recidiviz/tests/ingest/direct/controllers/direct_ingest_gcs_file_system_test.py
  recidiviz/tests/ingest/direct/controllers/gcsfs_direct_ingest_utils_test.py
  recidiviz/tools/copy_state_files_from_prod_to_staging_storage.py
  recidiviz/tools/move_storage_files_from_unspecified_to_raw.py
Due: generate_docs_for_endpoint

State-wide population counts (Recidiviz/recidiviz-data#3583)
  recidiviz/calculator/query/state/views/public_dashboard/supervision/supervision_population_by_district_by_demographics.py
Due: generate_docs_for_endpoint

Judicial district incarceration population (Recidiviz/recidiviz-data#3587)
  recidiviz/calculator/pipeline/incarceration/calculator.py
  recidiviz/calculator/pipeline/incarceration/identifier.py
  recidiviz/calculator/pipeline/incarceration/incarceration_event.py
  recidiviz/calculator/pipeline/incarceration/metrics.py
  recidiviz/calculator/pipeline/incarceration/pipeline.py
  recidiviz/calculator/pipeline/program/pipeline.py
  recidiviz/calculator/pipeline/recidivism/pipeline.py
  recidiviz/calculator/pipeline/supervision/pipeline.py
  recidiviz/calculator/pipeline/utils/execution_utils.py
  recidiviz/calculator/pipeline/utils/extractor_utils.py
  recidiviz/calculator/query/state/views/reference/incarceration_period_judicial_district_association.py
  recidiviz/calculator/query/state/views/reference/reference_views.py
  recidiviz/calculator/query/state/views/reference/sentence_group_judicial_district_association.py
  recidiviz/tests/calculator/pipeline/incarceration/calculator_test.py
  recidiviz/tests/calculator/pipeline/incarceration/identifier_test.py
  recidiviz/tests/calculator/pipeline/incarceration/pipeline_test.py
Due: generate_docs_for_endpoint

Path conditions:
  generate_docs_for_region: any of: ^recidiviz/ingest/direct/regions/
  generate_docs_for_endpoint: any of: ^recidiviz/, but not: (?x)(^recidiviz/tests/|^recidiviz/tools/|^recidiviz/ingest/direct/regions/)$

  generate_entity_documentation: any of: (?x)(^recidiviz/persistence/database/schema/state/schema.py|^recidiviz/persistence/database/schema/history_table_shared_columns_mixin.py)$

