Repository Recidiviz/pulse-data: changes, and which pre-commit hooks are due for each by the changed paths.
All: generate_docs_for_region, generate_docs_for_endpoint, generate_entity_documentation

generate_docs_for_region:
  name: generate_docs_for_region
  entry: pipenv run python -m recidiviz.tools.docs.region_documentation_generator
  language: system
  require_serial: true

generate_docs_for_endpoint:
  name: generate_docs_for_endpoint
  entry: pipenv run python -m recidiviz.tools.docs.endpoint_documentation_generator
  language: system
  require_serial: true

generate_entity_documentation:
  name: generate_entity_documentation
  entry: pipenv run python -m recidiviz.tools.docs.entity_documentation_generator
  language: system
  require_serial: true

Fix for person-level metrics being mistakenly included (Recidiviz/recidiviz-data#2949)
  recidiviz/calculator/pipeline/supervision/calculator.py
  recidiviz/tests/calculator/pipeline/supervision/calculator_test.py
Due: generate_docs_for_endpoint

Updating supervision type identification for supervision success metrics (Recidiviz/recidiviz-data#2946)
  recidiviz/calculator/pipeline/supervision/identifier.py
  recidiviz/calculator/pipeline/supervision/metrics.py
  recidiviz/calculator/pipeline/supervision/supervision_time_bucket.py
  recidiviz/calculator/pipeline/utils/supervision_type_identification.py
  recidiviz/tests/calculator/pipeline/supervision/identifier_test.py
  recidiviz/tests/calculator/pipeline/utils/supervision_type_identification_test.py
Due: generate_docs_for_endpoint

add start/end date bounds to both scripts necessary for reruns (Recidiviz/recidiviz-data#2950)
  recidiviz/tools/copy_state_files_from_prod_to_staging_storage.py
  recidiviz/tools/move_state_files_from_storage.py
  recidiviz/tools/utils.py
Due: generate_docs_for_endpoint

New logic for identifying revocation officer (Recidiviz/recidiviz-data#2947)
  recidiviz/calculator/pipeline/supervision/identifier.py
  recidiviz/tests/calculator/pipeline/supervision/identifier_test.py
Due: generate_docs_for_endpoint

admission_date on IncarcerationAdmissionMetric (Recidiviz/recidiviz-data#2957)
  recidiviz/calculator/pipeline/incarceration/calculator.py
  recidiviz/calculator/pipeline/incarceration/metrics.py
  recidiviz/tests/calculator/pipeline/incarceration/calculator_test.py
  recidiviz/tests/calculator/pipeline/incarceration/pipeline_test.py
Due: generate_docs_for_endpoint

Add the whole dictionary of bond type possibilities from Bernco IT. (Recidiviz/recidiviz-data#2953)
  recidiviz/ingest/direct/regions/us_nm_bernalillo/us_nm_bernalillo_controller.py
Due: generate_docs_for_region, generate_docs_for_endpoint

Handling new metric fields (Recidiviz/recidiviz-data#2967)
  recidiviz/calculator/query/state/views/admissions/admissions_by_type_by_month.py
  recidiviz/calculator/query/state/views/admissions/admissions_by_type_by_period.py
  recidiviz/calculator/query/state/views/admissions/admissions_versus_releases_by_month.py
  recidiviz/calculator/query/state/views/admissions/admissions_versus_releases_by_period.py
  recidiviz/calculator/query/state/views/reincarcerations/reincarcerations_by_month.py
  recidiviz/calculator/query/state/views/reincarcerations/reincarcerations_by_period.py
Due: generate_docs_for_endpoint

Alter supervision distribution view to exclude negative pop totals (Recidiviz/recidiviz-data#2910)
  recidiviz/calculator/query/state/views/revocation_analysis/revocations_matrix_by_month.py
  recidiviz/calculator/query/state/views/revocation_analysis/revocations_matrix_cells.py
  recidiviz/calculator/query/state/views/revocation_analysis/revocations_matrix_distribution_by_district.py
  recidiviz/calculator/query/state/views/revocation_analysis/revocations_matrix_distribution_by_gender.py
  recidiviz/calculator/query/state/views/revocation_analysis/revocations_matrix_distribution_by_race.py
  recidiviz/calculator/query/state/views/revocation_analysis/revocations_matrix_distribution_by_risk_level.py
  recidiviz/calculator/query/state/views/revocation_analysis/revocations_matrix_supervision_distribution_by_district.py
Due: generate_docs_for_endpoint

Add case termination views (Recidiviz/recidiviz-data#2955)
  recidiviz/calculator/query/state/views/admissions/admissions_versus_releases_by_month.py
  recidiviz/calculator/query/state/views/admissions/admissions_versus_releases_by_period.py
  recidiviz/calculator/query/state/views/supervision/supervision_views.py
  recidiviz/calculator/query/state/views/supervision/us_nd/case_terminations_by_type_by_month.py
  recidiviz/calculator/query/state/views/supervision/us_nd/case_terminations_by_type_by_officer_by_period.py
Due: generate_docs_for_endpoint

Add two more bond types not in dictionary? (Recidiviz/recidiviz-data#2971)
  recidiviz/ingest/direct/regions/us_nm_bernalillo/us_nm_bernalillo_controller.py
Due: generate_docs_for_region, generate_docs_for_endpoint

Temporary fix for breaking Dataflow pipelines (Recidiviz/recidiviz-data#2974)
  setup.py
Due: none

Updating supervision success metric logic (Recidiviz/recidiviz-data#2968)
  recidiviz/calculator/pipeline/supervision/identifier.py
  recidiviz/tests/calculator/pipeline/supervision/identifier_test.py
  recidiviz/tests/calculator/pipeline/supervision/pipeline_test.py
Due: generate_docs_for_endpoint

Re-organizing supervision metric inheritance (Recidiviz/recidiviz-data#2977)
  recidiviz/calculator/pipeline/supervision/metrics.py
  recidiviz/tests/calculator/pipeline/supervision/calculator_test.py
Due: generate_docs_for_endpoint

re-add migration from Recidiviz/recidiviz-data#2934 [skip validation] (Recidiviz/recidiviz-data#2978)
  recidiviz/persistence/database/migrations/state/versions/2020_03_06_1936_752b09fcd8a5_add_supervision_case_type_external_id.py
Due: generate_docs_for_endpoint

[MO validation] Do not count incarceration periods with null release date and nonnull release reason in calcs (Recidiviz/recidiviz-data#2982)
  recidiviz/calculator/pipeline/utils/incarceration_period_utils.py
  recidiviz/tests/calculator/pipeline/utils/incarceration_period_utils_test.py
Due: generate_docs_for_endpoint

Map 'Initiated' bond to BondStatus.PENDING (Recidiviz/recidiviz-data#2984)
  recidiviz/ingest/direct/regions/us_nm_bernalillo/us_nm_bernalillo_controller.py
Due: generate_docs_for_region, generate_docs_for_endpoint

Average successful supervision sentence length metric (Recidiviz/recidiviz-data#2983)
  recidiviz/calculator/pipeline/recidivism/pipeline.py
  recidiviz/calculator/pipeline/supervision/calculator.py
  recidiviz/calculator/pipeline/supervision/identifier.py
  recidiviz/calculator/pipeline/supervision/metrics.py
  recidiviz/calculator/pipeline/supervision/pipeline.py
  recidiviz/calculator/pipeline/supervision/supervision_time_bucket.py
  recidiviz/calculator/pipeline/utils/beam_utils.py
  recidiviz/calculator/query/state/views/reference/most_recent_job_id_by_metric_and_state_code.py
  recidiviz/tests/calculator/pipeline/recidivism/pipeline_test.py
  recidiviz/tests/calculator/pipeline/supervision/calculator_test.py
  recidiviz/tests/calculator/pipeline/supervision/identifier_test.py
  recidiviz/tests/calculator/pipeline/supervision/pipeline_test.py
  recidiviz/tests/calculator/pipeline/utils/beam_utils_test.py
Due: generate_docs_for_endpoint

Handling US_MO citations for the dashboard (Recidiviz/recidiviz-data#2988)
  recidiviz/calculator/pipeline/supervision/identifier.py
  recidiviz/calculator/pipeline/utils/incarceration_period_utils.py
  recidiviz/calculator/pipeline/utils/supervision_type_identification.py
  recidiviz/calculator/pipeline/utils/us_mo_utils.py
  recidiviz/tests/calculator/pipeline/supervision/identifier_test.py
  recidiviz/tests/calculator/pipeline/utils/us_mo_utils_test.py
Due: generate_docs_for_endpoint

Change window of time for violation history supervision pipeline (Recidiviz/recidiviz-data#2997)
  recidiviz/calculator/pipeline/supervision/identifier.py
  recidiviz/tests/calculator/pipeline/supervision/identifier_test.py
Due: generate_docs_for_endpoint

basic files for idaho ingestion plus controller logic for offenders file (Recidiviz/recidiviz-data#3000)
  recidiviz/ingest/direct/regions/us_id/__init__.py
  recidiviz/ingest/direct/regions/us_id/manifest.yaml
  recidiviz/ingest/direct/regions/us_id/us_id_controller.py
  recidiviz/ingest/direct/regions/us_id/us_id_offender.yaml
  recidiviz/ingest/direct/state_shared_row_posthooks.py
  recidiviz/persistence/entity_matching/state/state_matching_delegate_factory.py
  recidiviz/persistence/entity_matching/state/us_id/__init__.py
  recidiviz/persistence/entity_matching/state/us_id/us_id_matching_delegate.py
  recidiviz/tests/ingest/direct/regions/utils.py
Due: generate_docs_for_region, generate_docs_for_endpoint

update ID query in matching delegate (Recidiviz/recidiviz-data#3001)
  recidiviz/persistence/entity_matching/state/base_state_matching_delegate.py
  recidiviz/persistence/entity_matching/state/us_id/us_id_matching_delegate.py
  recidiviz/persistence/entity_matching/state/us_mo/us_mo_matching_delegate.py
  recidiviz/tests/persistence/entity_matching/state/state_entity_matcher_test.py
Due: generate_docs_for_endpoint

script to upload csv -> bq (Recidiviz/recidiviz-data#2969)
  Pipfile
  Pipfile.lock
  recidiviz/persistence/entity/entities.py
  recidiviz/persistence/entity_matching/entity_matching_utils.py
  recidiviz/persistence/entity_validator/county/county_validator.py
  recidiviz/persistence/entity_validator/entity_validator.py
  recidiviz/tools/upload_local_file_to_bq.py
Due: generate_docs_for_endpoint

Simplify calculation pipeline args (Recidiviz/recidiviz-data#3005)
  recidiviz/calculator/pipeline/incarceration/pipeline.py
  recidiviz/calculator/pipeline/program/pipeline.py
  recidiviz/calculator/pipeline/recidivism/pipeline.py
  recidiviz/calculator/pipeline/supervision/pipeline.py
  recidiviz/calculator/pipeline/utils/pipeline_args_utils.py
  recidiviz/tests/calculator/pipeline/utils/pipeline_args_utils_test.py
  recidiviz/tools/deploy/deploy_pipeline_to_template.sh
  recidiviz/tools/run_calculation_pipelines.py
Due: generate_docs_for_endpoint

Allow for running of pipelines only on a certain person (or people) (Recidiviz/recidiviz-data#2996)
  recidiviz/calculator/pipeline/incarceration/identifier.py
  recidiviz/calculator/pipeline/incarceration/pipeline.py
  recidiviz/calculator/pipeline/program/pipeline.py
  recidiviz/calculator/pipeline/recidivism/pipeline.py
  recidiviz/calculator/pipeline/supervision/pipeline.py
  recidiviz/calculator/pipeline/utils/extractor_utils.py
  recidiviz/calculator/pipeline/utils/pipeline_args_utils.py
  recidiviz/persistence/database/schema_utils.py
  recidiviz/persistence/entity/core_entity.py
  recidiviz/tests/calculator/pipeline/incarceration/pipeline_test.py
  recidiviz/tests/calculator/pipeline/program/pipeline_test.py
  recidiviz/tests/calculator/pipeline/recidivism/pipeline_test.py
  recidiviz/tests/calculator/pipeline/supervision/pipeline_test.py
  recidiviz/tests/calculator/pipeline/utils/extractor_utils_test.py
  recidiviz/tests/calculator/pipeline/utils/pipeline_args_utils_test.py
  recidiviz/tests/persistence/database/database_test_utils.py
Due: generate_docs_for_endpoint

Using date of revocation admission instead of board hold (Recidiviz/recidiviz-data#3015)
  recidiviz/calculator/pipeline/supervision/identifier.py
  recidiviz/tests/calculator/pipeline/supervision/identifier_test.py
Due: generate_docs_for_endpoint

close open bookings if multiple (Recidiviz/recidiviz-data#2433)
  recidiviz/persistence/entity_matching/county/county_entity_matcher.py
  recidiviz/persistence/entity_matching/county/county_matching_utils.py
  recidiviz/persistence/ingest_info_converter/county/county_converter.py
  recidiviz/tests/persistence/entity_matching/county/county_entity_matcher_test.py
  recidiviz/tests/persistence/entity_matching/county/county_matching_utils_test.py
  recidiviz/tests/persistence/ingest_info_converter/county/county_converter_test.py
  recidiviz/tests/persistence/persistence_test.py
  recidiviz/tests/utils/common_scraper_test.py
Due: generate_docs_for_endpoint

Update most serious offense to use sentence start date and add NCIC code to metric (Recidiviz/recidiviz-data#3016)
  recidiviz/calculator/pipeline/incarceration/calculator.py
  recidiviz/calculator/pipeline/incarceration/identifier.py
  recidiviz/calculator/pipeline/incarceration/incarceration_event.py
  recidiviz/calculator/pipeline/incarceration/metrics.py
  recidiviz/calculator/query/state/views/admissions/admissions_versus_releases_by_month.py
  recidiviz/calculator/query/state/views/admissions/admissions_versus_releases_by_period.py
  recidiviz/tests/calculator/pipeline/incarceration/calculator_test.py
  recidiviz/tests/calculator/pipeline/incarceration/identifier_test.py
  recidiviz/tests/calculator/pipeline/incarceration/pipeline_test.py
Due: generate_docs_for_endpoint

parse LSIR assessments for US_ID (Recidiviz/recidiviz-data#3018)
  recidiviz/common/str_field_utils.py
  recidiviz/ingest/direct/query_utils.py
  recidiviz/ingest/direct/regions/us_id/us_id_controller.py
  recidiviz/ingest/direct/regions/us_id/us_id_ofndr_tst_ofndr_tst_cert.yaml
  recidiviz/ingest/direct/regions/us_id/us_id_sql_queries.py
  recidiviz/ingest/direct/regions/us_mo/us_mo_sql_queries.py
  recidiviz/tests/common/str_field_utils_test.py
Due: generate_docs_for_region, generate_docs_for_endpoint

Update pipeline tests to validate BigQuery SQL queries (Recidiviz/recidiviz-data#3021)
  recidiviz/calculator/pipeline/incarceration/pipeline.py
  recidiviz/calculator/pipeline/program/pipeline.py
  recidiviz/calculator/pipeline/recidivism/pipeline.py
  recidiviz/calculator/pipeline/supervision/pipeline.py
  recidiviz/calculator/pipeline/utils/extractor_utils.py
  recidiviz/tests/calculator/calculator_test_utils.py
  recidiviz/tests/calculator/pipeline/fake_bigquery.py
  recidiviz/tests/calculator/pipeline/incarceration/pipeline_test.py
  recidiviz/tests/calculator/pipeline/program/pipeline_test.py
  recidiviz/tests/calculator/pipeline/recidivism/pipeline_test.py
  recidiviz/tests/calculator/pipeline/supervision/pipeline_test.py
  recidiviz/tests/calculator/pipeline/utils/extractor_utils_test.py
Due: generate_docs_for_endpoint

Ingest SupervisionSentence and IncarcerationSentence info (Recidiviz/recidiviz-data#3025)
  recidiviz/ingest/direct/regions/us_id/us_id_controller.py
  recidiviz/ingest/direct/regions/us_id/us_id_mittimus_judge_sentence_offense_sentprob_incarceration_sentences.yaml
  recidiviz/ingest/direct/regions/us_id/us_id_mittimus_judge_sentence_offense_sentprob_supervision_sentences.yaml
  recidiviz/ingest/direct/regions/us_id/us_id_sql_queries.py
Due: generate_docs_for_region, generate_docs_for_endpoint

Adds initial Pennsylvania ingest infrastructure and files. (Recidiviz/recidiviz-data#3027)
  recidiviz/common/constants/state/external_id_types.py
  recidiviz/ingest/direct/regions/us_id/us_id_controller.py
  recidiviz/ingest/direct/regions/us_pa/__init__.py
  recidiviz/ingest/direct/regions/us_pa/manifest.yaml
  recidiviz/ingest/direct/regions/us_pa/us_pa_controller.py
  recidiviz/ingest/direct/regions/us_pa/us_pa_dbo_IcsDoc.yaml
  recidiviz/ingest/direct/regions/us_pa/us_pa_dbo_Offender.yaml
  recidiviz/ingest/direct/state_shared_row_posthooks.py
  recidiviz/persistence/entity_matching/state/state_matching_delegate_factory.py
  recidiviz/persistence/entity_matching/state/us_pa/__init__.py
  recidiviz/persistence/entity_matching/state/us_pa/us_pa_matching_delegate.py
  recidiviz/persistence/ingest_info_converter/state/entity_helpers/state_person_external_id.py
  recidiviz/tests/persistence/ingest_info_converter/state/entity_helpers/state_person_external_id_test.py
Due: generate_docs_for_region, generate_docs_for_endpoint

Include supervision_type ALL/DUAL in MO matrix views (Recidiviz/recidiviz-data#3013)
  recidiviz/calculator/query/state/views/revocation_analysis/revocations_matrix_by_month.py
  recidiviz/calculator/query/state/views/revocation_analysis/revocations_matrix_cells.py
  recidiviz/calculator/query/state/views/revocation_analysis/revocations_matrix_distribution_by_district.py
  recidiviz/calculator/query/state/views/revocation_analysis/revocations_matrix_distribution_by_gender.py
  recidiviz/calculator/query/state/views/revocation_analysis/revocations_matrix_distribution_by_race.py
  recidiviz/calculator/query/state/views/revocation_analysis/revocations_matrix_distribution_by_risk_level.py
  recidiviz/calculator/query/state/views/revocation_analysis/revocations_matrix_distribution_by_violation.py
  recidiviz/calculator/query/state/views/revocation_analysis/revocations_matrix_filtered_caseload.py
  recidiviz/calculator/query/state/views/revocation_analysis/revocations_matrix_supervision_distribution_by_district.py
Due: generate_docs_for_endpoint

State-specific Dataflow runs (Recidiviz/recidiviz-data#3022)
  recidiviz/calculator/pipeline/incarceration/pipeline.py
  recidiviz/calculator/pipeline/prod_calculation_pipeline_templates.yaml
  recidiviz/calculator/pipeline/program/pipeline.py
  recidiviz/calculator/pipeline/recidivism/pipeline.py
  recidiviz/calculator/pipeline/staging_only_calculation_pipeline_templates.yaml
  recidiviz/calculator/pipeline/supervision/identifier.py
  recidiviz/calculator/pipeline/supervision/pipeline.py
  recidiviz/calculator/pipeline/utils/extractor_utils.py
  recidiviz/calculator/pipeline/utils/pipeline_args_utils.py
  recidiviz/tests/calculator/pipeline/fake_bigquery.py
  recidiviz/tests/calculator/pipeline/supervision/identifier_test.py
  recidiviz/tests/calculator/pipeline/supervision/pipeline_test.py
  recidiviz/tests/calculator/pipeline/utils/extractor_utils_test.py
  recidiviz/tests/calculator/pipeline/utils/pipeline_args_utils_test.py
  recidiviz/tools/deploy/deploy_pipeline_helpers.sh
  recidiviz/tools/deploy/deploy_pipeline_to_template.sh
Due: generate_docs_for_endpoint

add DOB info to person query for ID (Recidiviz/recidiviz-data#3029)
  recidiviz/ingest/direct/regions/us_id/us_id_controller.py
  recidiviz/ingest/direct/regions/us_id/us_id_mittimus_judge_sentence_offense_sentprob_incarceration_sentences.yaml
  recidiviz/ingest/direct/regions/us_id/us_id_mittimus_judge_sentence_offense_sentprob_supervision_sentences.yaml
  recidiviz/ingest/direct/regions/us_id/us_id_offender_ofndr_dob.yaml
  recidiviz/ingest/direct/regions/us_id/us_id_sql_queries.py
Due: generate_docs_for_region, generate_docs_for_endpoint

Handle typo in KY aggregate site (Recidiviz/recidiviz-data#3028)
  recidiviz/ingest/aggregate/regions/ky/ky_aggregate_site_scraper.py
Due: generate_docs_for_endpoint

[MO ingest] Fix botched date join in supervision periods query (Recidiviz/recidiviz-data#3038)
  recidiviz/ingest/direct/regions/us_mo/us_mo_sql_queries.py
Due: generate_docs_for_region, generate_docs_for_endpoint

Updates for DUAL supervision type and person-level output (Recidiviz/recidiviz-data#3035)
  recidiviz/calculator/pipeline/supervision/calculator.py
  recidiviz/calculator/pipeline/supervision/identifier.py
  recidiviz/calculator/pipeline/supervision/supervision_time_bucket.py
  recidiviz/calculator/pipeline/utils/incarceration_period_utils.py
  recidiviz/calculator/pipeline/utils/state_calculation_config_manager.py
  recidiviz/calculator/pipeline/utils/supervision_type_identification.py
  recidiviz/calculator/query/state/views/revocation_analysis/revocations_matrix_filtered_caseload.py
  recidiviz/tests/calculator/pipeline/supervision/calculator_test.py
  recidiviz/tests/calculator/pipeline/supervision/identifier_test.py
  recidiviz/tests/calculator/pipeline/supervision/pipeline_test.py
  recidiviz/tests/calculator/pipeline/utils/supervision_type_identification_test.py
Due: generate_docs_for_endpoint

implemented blount county scraper (Recidiviz/recidiviz-data#3040)
  recidiviz/tests/utils/common_scraper_test.py
Due: generate_docs_for_endpoint

Ese/us tn knox (Recidiviz/recidiviz-data#3033)
  recidiviz/common/constants/bond.py
  recidiviz/common/constants/county/charge.py
Due: generate_docs_for_endpoint

Pull in MO sentence statuses as supervision calcs side input (Recidiviz/recidiviz-data#3042)
  recidiviz/calculator/pipeline/supervision/pipeline.py
  recidiviz/calculator/pipeline/utils/entity_hydration_utils.py
  recidiviz/calculator/pipeline/utils/supervision_type_identification.py
  recidiviz/calculator/pipeline/utils/us_mo_sentence_classification.py
  recidiviz/calculator/query/state/views/reference/reference_views.py
  recidiviz/calculator/query/state/views/reference/us_mo_sentence_statuses.py
  recidiviz/common/attr_mixins.py
  recidiviz/common/str_field_utils.py
  recidiviz/tests/calculator/pipeline/supervision/pipeline_test.py
  recidiviz/tests/calculator/pipeline/utils/entity_hydration_utils_test.py
  recidiviz/tests/calculator/pipeline/utils/us_mo_sentence_classification_test.py
Due: generate_docs_for_endpoint

Path conditions:
  generate_docs_for_region: any of: ^recidiviz/ingest/direct/regions/
  generate_docs_for_endpoint: any of: ^recidiviz/, but not: (?x)(^recidiviz/tests/|^recidiviz/tools/|^recidiviz/ingest/direct/regions/)$

  generate_entity_documentation: any of: (?x)(^recidiviz/persistence/database/schema/state/schema.py|^recidiviz/persistence/database/schema/history_table_shared_columns_mixin.py)$

