Repository Recidiviz/pulse-data: changes, and which pre-commit hooks are due for each by the changed paths.
All: generate_docs_for_region, generate_docs_for_endpoint, generate_entity_documentation, generate_calc_documentation, generate_ingest_mappings_schema_documentation, update_terraform_lock_file

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.3.0
    hooks:
      - id: check-yaml
  - repo: https://github.com/psf/black
    rev: 22.3.0
    hooks:
      # This runs on py, pyi, and ipynb files.
      - id: black-jupyter
        language_version: python3
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v2.5.1
    hooks:
      - id: prettier
        types_or: [yaml]
  - repo: https://github.com/pycqa/isort
    rev: 5.6.4
    hooks:
      - id: isort
        name: isort (python)
      - id: isort
        name: isort (pyi)
        types: [pyi]
  - repo: local
    hooks:
      - id: generate_docs_for_region
        name: generate_docs_for_region
        entry: pipenv run python -m recidiviz.tools.docs.region_documentation_generator
        language: system
        files: ^recidiviz/ingest/direct/regions/
        require_serial: true
      - id: generate_docs_for_endpoint
        name: generate_docs_for_endpoint
        entry: pipenv run python -m recidiviz.tools.docs.endpoint_documentation_generator
        language: system
        files: ^recidiviz/
        exclude: >
          (?x)(^recidiviz/tests/|^recidiviz/tools/|^recidiviz/ingest/direct/regions/)$
        require_serial: true
      - id: generate_entity_documentation
        name: generate_entity_documentation
        entry: pipenv run python -m recidiviz.tools.docs.entity_documentation_generator
        language: system
        files: >
          (?x)(^recidiviz/persistence/database/schema/state/schema.py|^recidiviz/persistence/database/schema/history_table_shared_columns_mixin.py|^recidiviz/common/constants/state/)$
        require_serial: true
      - id: generate_calc_documentation
        name: generate_calc_documentation
        entry: pipenv run python -m recidiviz.calculator.calculation_documentation_generator
        language: system
        files: ^recidiviz/calculator/|^recidiviz/metrics/|^recidiviz/.*/views/|^recidiviz/big_query/|^recidiviz/persistence/database/schema/|^recidiviz/persistence/entity/|^recidiviz/task_eligibility/
        exclude: ^recidiviz/tests/|^recidiviz/calculator/modeling/
        require_serial: true
      - id: generate_ingest_mappings_schema_documentation
        name: generate_ingest_mappings_schema_documentation
        entry: pipenv run python -m recidiviz.tools.docs.ingest_mappings_schema_documentation_generator
        language: system
        files: ^recidiviz/ingest/direct/ingest_mappings/yaml_schema/|^docs/engineering/ingest_mapping_schema/
        require_serial: true
      - id: update_terraform_lock_file
        name: update_terraform_lock_file
        entry: recidiviz/tools/deploy/update_terraform_lock.sh
        language: script
        files: ^recidiviz/tools/deploy/terraform/
        require_serial: true

[US_ND] Make three table YAMLs always historical (Recidiviz/recidiviz-data#32415)
  recidiviz/ingest/direct/regions/us_nd/raw_data/us_nd_docstars_offendercasestable.yaml
  recidiviz/ingest/direct/regions/us_nd/raw_data/us_nd_docstars_offenders.yaml
  recidiviz/ingest/direct/regions/us_nd/raw_data/us_nd_elite_externalmovements.yaml
Due: generate_docs_for_region, generate_docs_for_endpoint

[Workflows] Fix schema mismatch in config promotion endpoint (Recidiviz/recidiviz-data#32572)
  recidiviz/admin_panel/line_staff_tools/workflows_api_schemas.py
  recidiviz/admin_panel/routes/workflows.py
  recidiviz/tests/admin_panel/routes/snapshots/snap_workflows_test.py
  recidiviz/tests/admin_panel/routes/workflows_test.py
Due: generate_docs_for_endpoint

[US_AZ] Make district comparisons more accurate (Recidiviz/recidiviz-data#32337)
  recidiviz/calculator/query/state/views/reference/location_metadata/us_az_location_metadata.py
Due: generate_docs_for_endpoint, generate_calc_documentation

[US_OR] adding risk assessment (Recidiviz/recidiviz-data#32435)
  recidiviz/ingest/direct/regions/us_or/ingest_mappings/us_or_Risk_Assessment.yaml
  recidiviz/ingest/direct/regions/us_or/ingest_views/view_Risk_Assessment.py
Due: generate_docs_for_region, generate_docs_for_endpoint

[US_OR] Adding new program status enum to mapping (Recidiviz/recidiviz-data#32577)
  recidiviz/ingest/direct/regions/us_or/ingest_mappings/us_or_Program_Assignment.yaml
Due: generate_docs_for_region, generate_docs_for_endpoint

[US_MO] Update screeners view to handle newly ingested classification assessments (Recidiviz/recidiviz-data#31032)
  recidiviz/calculator/query/state/views/analyst_data/us_mo/us_mo_screeners_preprocessed.py
  recidiviz/ingest/direct/regions/us_mo/ingest_mappings/us_mo_oras_assessments_weekly_v2.yaml
Due: generate_docs_for_region, generate_docs_for_endpoint, generate_calc_documentation

[US_AZ] Add validation exclusion (Recidiviz/recidiviz-data#32579)
  recidiviz/validation/config/regions/us_az/us_az_validation_config.yaml
Due: generate_docs_for_endpoint

[US_PA] Migrate to fixture-based integration test (Recidiviz/recidiviz-data#32537)
  recidiviz/tests/ingest/direct/regions/direct_ingest_region_structure_test.py
Due: generate_docs_for_endpoint

[US_IX] Changing name of column in `RECIDIVIZ_REFERENCE_release_to_crc_facility_mappings_latest` & edit resident metadata to have CRC release facility (Recidiviz/recidiviz-data#32551)
  recidiviz/calculator/query/state/views/workflows/us_ix/resident_metadata.py
  recidiviz/ingest/direct/regions/us_ix/raw_data/us_ix_RECIDIVIZ_REFERENCE_release_to_crc_facility_mappings.yaml
Due: generate_docs_for_region, generate_docs_for_endpoint, generate_calc_documentation

[Deploy] Add CloudBuild integration with steps for building/tagging images, running migrations, deploying app engine (Recidiviz/recidiviz-data#32341)
  recidiviz/tests/tools/deploy/cloud_build/__init__.py
  recidiviz/tests/tools/deploy/cloud_build/artifact_registry_repository_test.py
  recidiviz/tests/tools/deploy/cloud_build/cloud_build_client_test.py
  recidiviz/tests/tools/deploy/cloud_build/deployment_stage_runner_test.py
  recidiviz/tools/deploy/cloud_build/__init__.py
  recidiviz/tools/deploy/cloud_build/artifact_registry_repository.py
  recidiviz/tools/deploy/cloud_build/build_configuration.py
  recidiviz/tools/deploy/cloud_build/cloud_build_client.py
  recidiviz/tools/deploy/cloud_build/constants.py
  recidiviz/tools/deploy/cloud_build/deployment_stage_interface.py
  recidiviz/tools/deploy/cloud_build/deployment_stage_runner.py
  recidiviz/tools/deploy/cloud_build/stages/__init__.py
  recidiviz/tools/deploy/cloud_build/stages/build_images.py
  recidiviz/tools/deploy/cloud_build/stages/deploy_app_engine.py
  recidiviz/tools/deploy/cloud_build/stages/run_migrations_from_cloud_build.py
  recidiviz/tools/deploy/cloud_build/stages/tag_images.py
Due: generate_docs_for_endpoint

[US_ND] Additional criteria for ATP (Recidiviz/recidiviz-data#32547)
  recidiviz/task_eligibility/criteria/general/no_escape_in_current_incarceration.py
  recidiviz/task_eligibility/eligibility_spans/us_nd/transfer_to_atp_form.py
Due: generate_docs_for_endpoint, generate_calc_documentation

[US_NE] Migrate to fixture-based integration test (Recidiviz/recidiviz-data#32535)
  recidiviz/tests/pipelines/ingest/state/pipeline_test_case.py
Due: generate_docs_for_endpoint

[US_ME] Add column to CIS_100 (Recidiviz/recidiviz-data#32562)
  recidiviz/ingest/direct/regions/us_me/raw_data/us_me_CIS_100_CLIENT.yaml
Due: generate_docs_for_region, generate_docs_for_endpoint

[Normalization] Read directly from us_xx_state_primary datasets in normalization pipelines (Recidiviz/recidiviz-data#30592)
  recidiviz/calculator/query/state/views/reference/reference_views.py
  recidiviz/pipelines/normalization/comprehensive/entity_normalizer.py
  recidiviz/pipelines/normalization/comprehensive/pipeline.py
  recidiviz/pipelines/normalization/comprehensive/query_providers/__init__.py
  recidiviz/pipelines/normalization/comprehensive/state_person_to_state_staff_query_provider.py
  recidiviz/pipelines/normalization/pipeline_parameters.py
  recidiviz/tests/pipelines/all_pipelines_test.py
  recidiviz/tests/pipelines/normalization/comprehensive/entity_normalizer_test.py
  recidiviz/tests/pipelines/normalization/comprehensive/pipeline_test.py
  recidiviz/tests/pipelines/normalization/comprehensive/state_person_to_state_staff_query_provider_test.py
  recidiviz/tests/pipelines/normalization/pipeline_parameters_test.py
  recidiviz/tests/view_registry/deployed_views_test.py
  recidiviz/tools/find_unused_bq_views.py
  recidiviz/tools/ingest/development/full_sandbox_pipeline.sh
  recidiviz/tools/validate_source_visibility.py
Due: generate_docs_for_endpoint, generate_calc_documentation

[Insights][Actions] Add patch action_strategies endpoint (Recidiviz/recidiviz-data#32553)
  recidiviz/case_triage/outliers/outliers_routes.py
  recidiviz/outliers/querier/querier.py
  recidiviz/outliers/types.py
  recidiviz/tests/case_triage/outliers/outliers_routes_test.py
  recidiviz/tests/case_triage/outliers/snapshots/snap_outliers_routes_test.py
  recidiviz/tests/outliers/querier_test.py
  recidiviz/tests/outliers/snapshots/snap_querier_test.py
Due: generate_docs_for_endpoint

Created separate function to sort criteria in gen_tes_spans_by_adding_each_criteria_one_by_one() (Recidiviz/recidiviz-data#32392)
  recidiviz/tools/analyst/tes_utils.py
Due: generate_docs_for_endpoint

[US_ND] Include all officers in `ingested_product_users` (Recidiviz/recidiviz-data#32592)
  recidiviz/calculator/query/state/views/reference/ingested_product_users.py
Due: generate_docs_for_endpoint, generate_calc_documentation

[Sentencing] Send cloud storage notifications to prod Sentencing Server (Recidiviz/recidiviz-data#32569)
  recidiviz/tools/deploy/terraform/cloud-storage-notifications.tf
Due: generate_docs_for_endpoint, update_terraform_lock_file

[US_ME] Update default update cadence to daily (Recidiviz/recidiviz-data#32593)
  recidiviz/ingest/direct/regions/us_me/raw_data/us_me_default.yaml
Due: generate_docs_for_region, generate_docs_for_endpoint

[Workflows] Apps Script bug fix when maxRegion is null (Recidiviz/recidiviz-data#32424)
  recidiviz/appsscript/CreateReport.js
Due: generate_docs_for_endpoint

[US_TN] Removing function referencing PERMANENT_SOLITARY_CONFINEMENT (Recidiviz/recidiviz-data#32602)
  recidiviz/ingest/direct/regions/us_tn/us_tn_custom_parsers.py
Due: generate_docs_for_region, generate_docs_for_endpoint

[US_OR] removing caseload from risk assessment (Recidiviz/recidiviz-data#32609)
  recidiviz/ingest/direct/regions/us_or/ingest_mappings/us_or_Risk_Assessment.yaml
Due: generate_docs_for_region, generate_docs_for_endpoint

[Case Note Search] Remove summary-related fields and turn results field into a JSON for the CaseNoteSearchRecord table. (Recidiviz/recidiviz-data#32604)
  recidiviz/persistence/database/migrations/workflows/versions/2024_08_21_1350_86cdd33c2c58_request_json.py
  recidiviz/persistence/database/schema/workflows/schema.py
  recidiviz/prototypes/case_note_search/case_note_search_record.py
  recidiviz/tests/prototypes/case_note_search_record_test.py
Due: generate_docs_for_endpoint, generate_calc_documentation

[Terraform][Workflows] Fix WAF exception url (Recidiviz/recidiviz-data#32636)
  recidiviz/tools/deploy/terraform/cloud-armor.tf
Due: generate_docs_for_endpoint, update_terraform_lock_file

eligibility logic for 3+ months outliers (Recidiviz/recidiviz-data#32552)
  recidiviz/outliers/types.py
  recidiviz/tests/case_triage/outliers/outliers_routes_test.py
  recidiviz/tests/case_triage/outliers/snapshots/snap_outliers_routes_test.py
Due: generate_docs_for_endpoint

add script to prep a state for roster sync (Recidiviz/recidiviz-data#32589)
  recidiviz/auth/auth0_client.py
  recidiviz/persistence/database/schema/case_triage/schema.py
  recidiviz/tests/auth/auth0_client_test.py
  recidiviz/tests/auth/helpers.py
  recidiviz/tests/justice_counts/utils/utils.py
  recidiviz/tests/tools/auth/prep_roster_sync_test.py
  recidiviz/tests/tools/auth/snapshots/__init__.py
  recidiviz/tests/tools/auth/snapshots/snap_prep_roster_sync_test.py
  recidiviz/tools/auth/prep_roster_sync.py
Due: generate_docs_for_endpoint, generate_calc_documentation

[US_IX] Adding new employee type to `TRANSITIONAL` to state staff caseload type (Recidiviz/recidiviz-data#32631)
  recidiviz/ingest/direct/regions/us_ix/ingest_views/view_state_staff_caseload_type_periods.py
Due: generate_docs_for_region, generate_docs_for_endpoint

Revert "Fixes buggy join to location names in dataflow_sessions (Recidiviz/recidiviz-data#32539)" (Recidiviz/recidiviz-data#32645)
  recidiviz/calculator/query/state/views/sessions/dataflow_sessions.py
Due: generate_docs_for_endpoint, generate_calc_documentation

[raw data pruning] bump timeout (Recidiviz/recidiviz-data#32643)
  recidiviz/tools/ingest/one_offs/clear_redundant_raw_data_on_bq.py
Due: generate_docs_for_endpoint

[US_TN] Add cleaning to raw data in roster to properly construct supervisor periods due to manual entry differences (Recidiviz/recidiviz-data#32639)
  recidiviz/ingest/direct/regions/us_tn/ingest_views/view_StaffSupervisorPeriods.py
Due: generate_docs_for_region, generate_docs_for_endpoint

[docker] updates workflows migration image (Recidiviz/recidiviz-data#32657)
  docker-compose.yaml
Due: none

[admin panel] validation query background color (Recidiviz/recidiviz-data#32656)
  frontends/admin-panel/src/style/Validation.css
Due: none

Fixes buggy location names join in dataflow_sessions (Recidiviz/recidiviz-data#32666)
  recidiviz/calculator/query/state/views/sessions/dataflow_sessions.py
Due: generate_docs_for_endpoint, generate_calc_documentation

[Justice Counts] Include Clackamas County Jail in CSG Data Pull (Recidiviz/recidiviz-data#32644)
  recidiviz/justice_counts/utils/constants.py
Due: generate_docs_for_endpoint

[entities] add comment, todo for `convert_schema_object_to_entity` and update usages (Recidiviz/recidiviz-data#32637)
  recidiviz/ingest/direct/metadata/direct_ingest_instance_status_manager.py
  recidiviz/ingest/direct/metadata/direct_ingest_raw_data_flash_status_manager.py
  recidiviz/ingest/direct/metadata/direct_ingest_raw_data_import_session_manager.py
  recidiviz/ingest/direct/metadata/direct_ingest_raw_data_resource_lock_manager.py
  recidiviz/ingest/direct/metadata/direct_ingest_raw_file_metadata_manager.py
  recidiviz/ingest/direct/metadata/direct_ingest_raw_file_metadata_manager_v2.py
  recidiviz/ingest/direct/metadata/direct_ingest_sftp_ingest_ready_file_metadata_manager.py
  recidiviz/ingest/direct/metadata/direct_ingest_sftp_remote_file_metadata_manager.py
  recidiviz/persistence/database/schema_entity_converter/schema_entity_converter.py
  recidiviz/tests/ingest/direct/controllers/ingest_raw_file_import_controller_test.py
  recidiviz/tests/ingest/direct/metadata/direct_ingest_raw_file_metadata_manager_test.py
  recidiviz/tests/ingest/direct/metadata/direct_ingest_raw_file_metadata_manager_v2_test.py
Due: generate_docs_for_endpoint

[Cleanup] Delete legacy ingest pipeline TestCase classes (Recidiviz/recidiviz-data#32614)
  recidiviz/tests/ingest/direct/regions/legacy_state_specific_ingest_pipeline_integration_test_case.py
  recidiviz/tests/ingest/direct/regions/state_specific_ingest_pipeline_integration_test_case.py
  recidiviz/tests/persistence/entity_matching/root_entity_update_merger_test.py
  recidiviz/tests/pipelines/ingest/state/legacy_pipeline_test_case.py
Due: generate_docs_for_endpoint

[Justice Counts] Update created_at and last_updated when writing to the MetricSetting table. (Recidiviz/recidiviz-data#32669)
  recidiviz/justice_counts/metric_setting.py
Due: generate_docs_for_endpoint

Add full_observability option for cohort methods (Recidiviz/recidiviz-data#32581)
  recidiviz/tests/tools/analyst/cohort_methods_test.py
  recidiviz/tools/analyst/cohort_methods.py
Due: generate_docs_for_endpoint

[US_ME] Add columns for sorting staff (Recidiviz/recidiviz-data#32660)
  recidiviz/ingest/direct/regions/us_me/raw_data/us_me_CIS_900_EMPLOYEE.yaml
Due: generate_docs_for_region, generate_docs_for_endpoint

[US_ND] Reformat case notes in side panel v2 (Recidiviz/recidiviz-data#32689)
  recidiviz/calculator/query/state/views/workflows/firestore/us_nd_transfer_to_atp_form_record.py
  recidiviz/calculator/query/state/views/workflows/firestore/us_nd_transfer_to_minimum_facility_form_record.py
  recidiviz/task_eligibility/utils/us_nd_query_fragments.py
Due: generate_docs_for_endpoint, generate_calc_documentation
