Repository Recidiviz/pulse-data: changes, and which pre-commit hooks are due for each by the changed paths.
All: generate_docs_for_region, generate_docs_for_endpoint, generate_entity_documentation, generate_calc_documentation, generate_ingest_mappings_schema_documentation, update_terraform_lock_file

generate_docs_for_region:
  name: generate_docs_for_region
  entry: pipenv run python -m recidiviz.tools.docs.region_documentation_generator
  language: system
  require_serial: true

generate_docs_for_endpoint:
  name: generate_docs_for_endpoint
  entry: pipenv run python -m recidiviz.tools.docs.endpoint_documentation_generator
  language: system
  require_serial: true

generate_entity_documentation:
  name: generate_entity_documentation
  entry: pipenv run python -m recidiviz.tools.docs.entity_documentation_generator
  language: system
  require_serial: true

generate_calc_documentation:
  name: generate_calc_documentation
  entry: pipenv run python -m recidiviz.calculator.calculation_documentation_generator
  language: system
  require_serial: true

generate_ingest_mappings_schema_documentation:
  name: generate_ingest_mappings_schema_documentation
  entry: pipenv run python -m recidiviz.tools.docs.ingest_mappings_schema_documentation_generator
  language: system
  require_serial: true

update_terraform_lock_file:
  name: update_terraform_lock_file
  entry: recidiviz/tools/deploy/update_terraform_lock.sh
  language: script
  require_serial: true

[Workflows] Add clients_ view for new form_edited event and to workflows_officer_events (Recidiviz/recidiviz-data#19569)
  recidiviz/calculator/query/state/views/analyst_data/workflows_officer_events.py
  recidiviz/calculator/query/state/views/workflows/clients_referral_form_edited.py
  recidiviz/calculator/query/state/views/workflows/workflows_views.py
Due: generate_docs_for_endpoint, generate_calc_documentation

[US_MI] Use regions for level 2 counties and drop regions (Recidiviz/recidiviz-data#19572)
  recidiviz/calculator/query/state/views/reference/supervision_location_ids_to_names.py
Due: generate_docs_for_endpoint, generate_calc_documentation

Add MO config and TN experiment_id (Recidiviz/recidiviz-data#19573)
  recidiviz/calculator/query/state/views/reference/workflows_opportunity_configs.py
Due: generate_docs_for_endpoint, generate_calc_documentation

[Ingest] Add ability to query all raw data rows in an ingest view (Recidiviz/recidiviz-data#19291)
  recidiviz/ingest/direct/regions/us_oz/ingest_mappings/us_oz_ageid_staff_supervisor.yaml
  recidiviz/ingest/direct/regions/us_oz/ingest_views/view_ageid_staff_supervisor.py
  recidiviz/ingest/direct/regions/us_oz/raw_data/us_oz_ageid_StaffRecord.yaml
  recidiviz/ingest/direct/regions/us_oz/us_oz_controller.py
  recidiviz/ingest/direct/views/direct_ingest_view_query_builder.py
  recidiviz/tests/ingest/direct/fixture_util.py
  recidiviz/tests/ingest/direct/regions/ingest_view_query_test_case.py
  recidiviz/tests/ingest/direct/regions/utils.py
  recidiviz/tests/ingest/direct/views/direct_ingest_view_query_builder_test.py
  recidiviz/tests/tools/ingest/testing/raw_data_fixtures_generator_test.py
  recidiviz/tools/ingest/testing/generate_raw_data_fixtures_from_bq.py
  recidiviz/tools/ingest/testing/raw_data_fixtures_generator.py
  recidiviz/tools/ingest/testing/regenerate_raw_data_fixtures_from_sheet.py
Due: generate_docs_for_region, generate_docs_for_endpoint, generate_calc_documentation

Extending the lock timeout for export to one hour and five minutes (Recidiviz/recidiviz-data#19580)
  recidiviz/persistence/database/bq_refresh/cloud_sql_to_bq_lock_manager.py
Due: generate_docs_for_endpoint

[Bugfix] Fix issues with empty dataset deletion (Recidiviz/recidiviz-data#19578)
  recidiviz/big_query/big_query_client.py
  recidiviz/calculator/calculation_data_storage_manager.py
  recidiviz/tests/calculator/calculation_data_storage_manager_test.py
Due: generate_docs_for_endpoint, generate_calc_documentation

[US_TN] Adding documentation to Hearing raw data known values (Recidiviz/recidiviz-data#19576)
  recidiviz/ingest/direct/regions/us_tn/raw_data/us_tn_Hearing.yaml
Due: generate_docs_for_region, generate_docs_for_endpoint

[BigQuery] Enforce length limits on deployed view/table descriptions (Recidiviz/recidiviz-data#19565)
  recidiviz/big_query/big_query_client.py
  recidiviz/big_query/big_query_view.py
  recidiviz/big_query/selected_columns_big_query_view.py
  recidiviz/big_query/union_all_big_query_view_builder.py
  recidiviz/big_query/with_metadata_query_big_query_view.py
  recidiviz/ingest/direct/views/direct_ingest_latest_view_collector.py
  recidiviz/metrics/metric_big_query_view.py
  recidiviz/persistence/database/bq_refresh/federated_cloud_sql_table_big_query_view.py
  recidiviz/persistence/database/bq_refresh/federated_cloud_sql_to_bq_refresh.py
  recidiviz/tests/big_query/big_query_client_test.py
  recidiviz/tests/big_query/big_query_view_test.py
  recidiviz/tests/big_query/test_views/good_view_1.py
  recidiviz/tests/big_query/test_views/view_builder_alternate_name.py
  recidiviz/tests/big_query/test_views/views_subdirectory/good_view_3.py
  recidiviz/tests/big_query/view_update_manager_test.py
  recidiviz/tests/big_query/view_update_manager_utils_test.py
  recidiviz/tests/persistence/database/bq_refresh/federated_cloud_sql_table_big_query_view_test.py
  recidiviz/tests/view_registry/deployed_views_test.py
  recidiviz/tools/copy_bq_views.py
Due: generate_docs_for_endpoint, generate_calc_documentation

Unrevert Recidiviz/recidiviz-data#19351 using `bq_description` (Recidiviz/recidiviz-data#19590)
  recidiviz/aggregated_metrics/aggregated_metrics.py
  recidiviz/aggregated_metrics/models/aggregated_metric.py
Due: generate_docs_for_endpoint

[US_MI] Fix offender_number joining for assessments (Recidiviz/recidiviz-data#19563)
  recidiviz/ingest/direct/regions/us_mi/ingest_views/view_assessments_v2.py
Due: generate_docs_for_region, generate_docs_for_endpoint

[US_ND] Add ingest view test for `elite_externalmovements_incarceration_periods` (Recidiviz/recidiviz-data#19592)
  recidiviz/ingest/direct/regions/us_nd/ingest_views/view_elite_externalmovements_incarceration_periods.py
Due: generate_docs_for_region, generate_docs_for_endpoint

[Autogenerated] Update Pipfile.lock (Recidiviz/recidiviz-data#19588)
  Pipfile.lock
  recidiviz/calculator/pipeline/dataflow_flex_setup.py
Due: generate_docs_for_endpoint, generate_calc_documentation

[US_ND] Hydrate client email in StatePerson (Recidiviz/recidiviz-data#19591)
  recidiviz/ingest/direct/regions/us_nd/ingest_mappings/us_nd_docstars_offenders.yaml
  recidiviz/ingest/direct/regions/us_nd/ingest_views/view_docstars_offenders.py
  recidiviz/ingest/direct/regions/us_nd/raw_data/us_nd_docstars_offenders.yaml
Due: generate_docs_for_region, generate_docs_for_endpoint

[US_ND] Remove PII from fixture files and tests (Recidiviz/recidiviz-data#19524)
  recidiviz/ingest/direct/regions/us_nd/raw_data/us_nd_docstars_contacts.yaml
  recidiviz/ingest/direct/regions/us_nd/raw_data/us_nd_docstars_offendercasestable.yaml
  recidiviz/ingest/direct/regions/us_nd/raw_data/us_nd_docstars_officers.yaml
Due: generate_docs_for_region, generate_docs_for_endpoint

[SFTP] Fix some branching logic (Recidiviz/recidiviz-data#19620)
  recidiviz/airflow/dags/sftp_dag.py
  recidiviz/tools/airflow/copy_source_files_to_experiment_composer.py
Due: generate_docs_for_endpoint

Upgrade google-cloud-storage to >2.0.0 (Recidiviz/recidiviz-data#19601)
  Pipfile
  Pipfile.lock
Due: none

[Justice Counts] Bulk Publishing: create new endpoint to update multiple reports' statuses (Recidiviz/recidiviz-data#19480)
  recidiviz/justice_counts/control_panel/routes/api.py
  recidiviz/justice_counts/report.py
  recidiviz/tests/justice_counts/control_panel/server_test.py
  recidiviz/tests/justice_counts/utils.py
Due: generate_docs_for_endpoint

Add `internal_role` to `dashboard_user_restrictions` endpoint (Recidiviz/recidiviz-data#19623)
  recidiviz/auth/auth0_client.py
  recidiviz/auth/auth_endpoint.py
  recidiviz/tests/auth/auth0_client_test.py
  recidiviz/tests/auth/auth_endpoint_test.py
  recidiviz/tests/auth/helpers.py
Due: generate_docs_for_endpoint

Update references for the role line_staff_user to supervision_staff (Recidiviz/recidiviz-data#19621)
  frontends/admin-panel/src/components/constants.ts
  recidiviz/calculator/query/state/views/reference/dashboard_user_restrictions.py
  recidiviz/calculator/query/state/views/reference/ingested_product_users.py
  recidiviz/tests/auth/auth_endpoint_test.py
  recidiviz/tests/auth/fixtures/us_xx_roster.csv
  recidiviz/tools/case_triage/fixtures/roster.csv
  recidiviz/tools/case_triage/fixtures/state_role_permissions.csv
  recidiviz/tools/case_triage/fixtures/user_override.csv
Due: generate_docs_for_endpoint, generate_calc_documentation

Remove judicial_district_code dataflow dependency (Recidiviz/recidiviz-data#19491)
  recidiviz/calculator/query/state/views/dashboard/pathways/event_level/liberty_to_prison_transitions.py
  recidiviz/calculator/query/state/views/dashboard/pathways/pathways_deduped_supervision_sessions.py
  recidiviz/calculator/query/state/views/dashboard/pathways/pathways_views.py
  recidiviz/calculator/query/state/views/dashboard/pathways/supervision_population_snapshot_by_dimension.py
  recidiviz/calculator/query/state/views/public_dashboard/supervision/supervision_success_by_month.py
  recidiviz/calculator/query/state/views/public_dashboard/supervision/supervision_success_by_period_by_demographics.py
  recidiviz/calculator/query/state/views/public_dashboard/supervision/supervision_terminations_by_month.py
  recidiviz/calculator/query/state/views/public_dashboard/supervision/supervision_terminations_by_period_by_demographics.py
  recidiviz/calculator/query/state/views/sessions/charges_preprocessed.py
  recidiviz/calculator/query/state/views/sessions/compartment_sessions.py
  recidiviz/calculator/query/state/views/sessions/compartment_sessions_closest_sentence_imposed_group.py
  recidiviz/calculator/query/state/views/sessions/compartment_sub_sessions.py
  recidiviz/calculator/query/state/views/sessions/compartment_sub_sessions_preprocessed.py
  recidiviz/calculator/query/state/views/sessions/dataflow_sessions.py
  recidiviz/calculator/query/state/views/sessions/sessions_views.py
  recidiviz/calculator/query/state/views/sessions/us_co/us_co_incarceration_population_metrics_preprocessed.py
  recidiviz/calculator/query/state/views/sessions/us_id/us_id_incarceration_population_metrics_preprocessed.py
  recidiviz/calculator/query/state/views/sessions/us_mo/us_mo_charges_preprocessed.py
  recidiviz/calculator/query/state/views/sessions/us_pa/us_pa_supervision_population_metrics_preprocessed.py
  recidiviz/calculator/query/state/views/sessions/us_tn/us_tn_incarceration_population_metrics_preprocessed.py
  recidiviz/calculator/query/state/views/sessions/us_tn/us_tn_supervision_population_metrics_preprocessed.py
  recidiviz/calculator/query/state/views/shared_metric/event_based_supervision_populations.py
  recidiviz/calculator/query/state/views/shared_metric/shared_metric_views.py
  recidiviz/calculator/query/state/views/shared_metric/single_day_incarceration_population_for_spotlight.py
  recidiviz/calculator/query/state/views/shared_metric/single_day_supervision_population_for_spotlight.py
  recidiviz/calculator/query/state/views/shared_metric/supervision_success_for_spotlight.py
  recidiviz/calculator/query/state/views/shared_metric/supervision_terminations_for_spotlight.py
  recidiviz/tools/load_views_to_sandbox.py
Due: generate_docs_for_endpoint, generate_calc_documentation

[US_ME] [Workflows] Add supervision staff to US_ME staff query (Recidiviz/recidiviz-data#19564)
  recidiviz/calculator/query/state/views/workflows/firestore/staff_record.py
  recidiviz/calculator/query/state/views/workflows/us_me/staff_template.py
Due: generate_docs_for_endpoint, generate_calc_documentation

add conducting staff id fields to StateAssessment (Recidiviz/recidiviz-data#19618)
  recidiviz/persistence/database/migrations/state/versions/2023_03_21_1144_7265620b4316_add_conducting_staff_id_fields.py
  recidiviz/persistence/database/schema/state/schema.py
Due: generate_docs_for_endpoint, generate_entity_documentation, generate_calc_documentation

[SFTP] Unpause queues that were running, not those that were paused (Recidiviz/recidiviz-data#19637)
  recidiviz/airflow/dags/sftp_dag.py
  recidiviz/airflow/tests/sftp_dag_test.py
  recidiviz/tools/validate_source_visibility.py
Due: generate_docs_for_endpoint

[US_ME] [Workflows] added dates to YAML file cis_573 (Recidiviz/recidiviz-data#19642)
  recidiviz/ingest/direct/regions/us_me/raw_data/us_me_CIS_573_CLIENT_CASE_DETAIL.yaml
Due: generate_docs_for_region, generate_docs_for_endpoint

[US_ME] add Logical_delete_ind to CIS_900_Employee (Recidiviz/recidiviz-data#19608)
  recidiviz/ingest/direct/regions/us_me/raw_data/us_me_CIS_900_EMPLOYEE.yaml
Due: generate_docs_for_region, generate_docs_for_endpoint

add supervising officer staff id fields to StateSupervisionPeriod (Recidiviz/recidiviz-data#19639)
  recidiviz/persistence/database/migrations/state/versions/2023_03_21_1251_ef74efae91ad_add_supervising_officer_staff_id_fields.py
  recidiviz/persistence/database/schema/state/schema.py
Due: generate_docs_for_endpoint, generate_entity_documentation, generate_calc_documentation

[Justice Counts] script to create spreadsheets for playtesting (Recidiviz/recidiviz-data#19570)
  recidiviz/justice_counts/bulk_upload/spreadsheet_uploader.py
  recidiviz/justice_counts/metricfiles/metricfile_registry.py
  recidiviz/tests/justice_counts/bulk_upload/bulk_upload_test.py
  recidiviz/tests/justice_counts/spreadsheet_helpers.py
  recidiviz/tests/justice_counts/spreadsheet_test.py
  recidiviz/tools/justice_counts/create_test_spreadsheet.py
Due: generate_docs_for_endpoint

[US_MI][Workflows] Add opportunity record query for early discharge from parole and probation (Recidiviz/recidiviz-data#19656)
  recidiviz/calculator/query/state/views/workflows/firestore/firestore_views.py
  recidiviz/calculator/query/state/views/workflows/firestore/us_mi_complete_discharge_early_from_supervision_request_record.py
Due: generate_docs_for_endpoint, generate_calc_documentation

[Workflows] Base candidate population queries off of compartment sub sessions (Recidiviz/recidiviz-data#19508)
  recidiviz/task_eligibility/candidate_populations/general/general_incarceration_population.py
  recidiviz/task_eligibility/candidate_populations/general/parole_dual_supervision_population.py
  recidiviz/task_eligibility/candidate_populations/general/parole_dual_supervision_population_not_unsupervised.py
  recidiviz/task_eligibility/candidate_populations/general/probation_supervision_population.py
  recidiviz/task_eligibility/candidate_populations/general/probation_supervision_population_not_unsupervised.py
  recidiviz/task_eligibility/candidate_populations/general/supervision_population_no_absconsion_bench_warrant.py
  recidiviz/task_eligibility/candidate_populations/general/supervision_population_not_limited_or_unsupervised.py
  recidiviz/task_eligibility/candidate_populations/general/supervision_population_not_unsupervised.py
  recidiviz/task_eligibility/utils/candidate_population_builders.py
  recidiviz/task_eligibility/utils/candidate_population_query_fragments.py
Due: generate_docs_for_endpoint, generate_calc_documentation

[Pathways] add supervision levels to ND supervision charts (Recidiviz/recidiviz-data#19581)
  recidiviz/calculator/query/state/views/dashboard/pathways/event_level/supervision_population.py
Due: generate_docs_for_endpoint, generate_calc_documentation

[Workflows] add SLD and expiration opportunities to demo data (Recidiviz/recidiviz-data#18939)
  recidiviz/tests/workflows/etl/demo_data_test.py
  recidiviz/workflows/etl/demo_data.py
  recidiviz/workflows/etl/demo_fixtures/client_record.json
  recidiviz/workflows/etl/demo_fixtures/us_tn_full_term_supervision_discharge_record.json
  recidiviz/workflows/etl/demo_fixtures/us_tn_supervision_level_downgrade_record.json
Due: generate_docs_for_endpoint

add referring staff external id fields to StateProgramAssignment (Recidiviz/recidiviz-data#19644)
  recidiviz/persistence/database/migrations/state/versions/2023_03_21_1432_fca4f7f9b740_add_referring_staff_id_fields.py
  recidiviz/persistence/database/schema/state/schema.py
Due: generate_docs_for_endpoint, generate_entity_documentation, generate_calc_documentation

[US_ND] Hydrate StateStaff (Recidiviz/recidiviz-data#19629)
  recidiviz/common/constants/state/external_id_types.py
  recidiviz/ingest/direct/regions/us_nd/ingest_mappings/us_nd_docstars_staff.yaml
  recidiviz/ingest/direct/regions/us_nd/ingest_views/view_docstars_staff.py
  recidiviz/ingest/direct/regions/us_nd/us_nd_controller.py
Due: generate_docs_for_region, generate_docs_for_endpoint

add conducting staff id fields to StateSupervisionContact (Recidiviz/recidiviz-data#19645)
  recidiviz/persistence/database/migrations/state/versions/2023_03_21_1451_71d81c77ea70_add_contacting_staff_id_fields.py
  recidiviz/persistence/database/schema/state/schema.py
Due: generate_docs_for_endpoint, generate_entity_documentation, generate_calc_documentation

Delete `populate_is_deleted_column_in_raw_data_tables` (Recidiviz/recidiviz-data#19649)
  recidiviz/tools/ingest/one_offs/populate_is_deleted_column_in_raw_data_tables.py
Due: generate_docs_for_endpoint

[US_ND] Clarify docstars_officers raw data descriptions (Recidiviz/recidiviz-data#19668)
  recidiviz/ingest/direct/regions/us_nd/raw_data/us_nd_docstars_officers.yaml
Due: generate_docs_for_region, generate_docs_for_endpoint

delete legacy pipeline deploy scripts [b] (Recidiviz/recidiviz-data#19450)
  recidiviz/tests/tools/deploy/deploy_all_pipeline_templates_test.py
  recidiviz/tools/deploy/deploy_all_pipeline_templates.py
  recidiviz/tools/deploy/deploy_single_pipeline_template.py
Due: generate_docs_for_endpoint

[Justice Counts][Bulk Upload] Only set reports to draft if changes were actually made (Recidiviz/recidiviz-data#19615)
  recidiviz/justice_counts/bulk_upload/time_range_uploader.py
  recidiviz/justice_counts/bulk_upload/workbook_uploader.py
  recidiviz/tests/justice_counts/bulk_upload/bulk_upload_test.py
  recidiviz/tests/justice_counts/spreadsheet_helpers.py
Due: generate_docs_for_endpoint

[Justice Counts] Bulk Publishing: create endpoint to retrieve multiple reports (Recidiviz/recidiviz-data#19514)
  recidiviz/justice_counts/control_panel/routes/api.py
  recidiviz/justice_counts/report.py
  recidiviz/tests/justice_counts/control_panel/server_test.py
Due: generate_docs_for_endpoint

delete legacy sandbox script [c] (Recidiviz/recidiviz-data#19669)
  recidiviz/tests/calculator/run_pipeline_sandbox_script_test.py
  recidiviz/tests/tools/deploy/dataflow_setup_test.py
  recidiviz/tools/calculator/run_sandbox_calculation_pipeline.py
  recidiviz/tools/calculator/run_sandbox_flex_calculation_pipeline.py
  recidiviz/tools/deploy/build_dataflow_source_distribution.py
  recidiviz/tools/deploy/dataflow_template_helpers.py
Due: generate_docs_for_endpoint

Path conditions:
  generate_docs_for_region: any of: ^recidiviz/ingest/direct/regions/
  generate_docs_for_endpoint: any of: ^recidiviz/, but not: (?x)(^recidiviz/tests/|^recidiviz/tools/|^recidiviz/ingest/direct/regions/)$

  generate_entity_documentation: any of: (?x)(^recidiviz/persistence/database/schema/state/schema.py|^recidiviz/persistence/database/schema/history_table_shared_columns_mixin.py|^recidiviz/common/constants/state/)$

  generate_calc_documentation: any of: ^recidiviz/calculator/|^recidiviz/metrics/|^recidiviz/.*/views/|^recidiviz/big_query/|^recidiviz/persistence/database/schema/|^recidiviz/persistence/entity/|^recidiviz/task_eligibility/, but not: ^recidiviz/tests/|^recidiviz/calculator/modeling/
  generate_ingest_mappings_schema_documentation: any of: ^recidiviz/ingest/direct/ingest_mappings/yaml_schema/|^docs/engineering/ingest_mapping_schema/
  update_terraform_lock_file: any of: ^recidiviz/tools/deploy/terraform/
