Repository Recidiviz/pulse-data: changes, and which pre-commit hooks are due for each by the changed paths.
All: generate_docs_for_region, generate_docs_for_endpoint, generate_entity_documentation

generate_docs_for_region:
  name: generate_docs_for_region
  entry: pipenv run python -m recidiviz.tools.docs.region_documentation_generator
  language: system
  require_serial: true

generate_docs_for_endpoint:
  name: generate_docs_for_endpoint
  entry: pipenv run python -m recidiviz.tools.docs.endpoint_documentation_generator
  language: system
  require_serial: true

generate_entity_documentation:
  name: generate_entity_documentation
  entry: pipenv run python -m recidiviz.tools.docs.entity_documentation_generator
  language: system
  require_serial: true

Add verify route (Recidiviz/recidiviz-data#5985)
  frontends/case-triage/src/index.tsx
  frontends/case-triage/src/routes/Verify.tsx
Due: none

Removing deprecated columns, handling zero rows (Recidiviz/recidiviz-data#5978)
  recidiviz/calculator/query/state/views/dashboard/revocation_analysis/revocations_matrix_by_month.py
  recidiviz/calculator/query/state/views/dashboard/revocation_analysis/revocations_matrix_cells.py
  recidiviz/calculator/query/state/views/dashboard/revocation_analysis/revocations_matrix_distribution_by_district.py
  recidiviz/calculator/query/state/views/dashboard/revocation_analysis/revocations_matrix_distribution_by_gender.py
  recidiviz/calculator/query/state/views/dashboard/revocation_analysis/revocations_matrix_distribution_by_officer.py
  recidiviz/calculator/query/state/views/dashboard/revocation_analysis/revocations_matrix_distribution_by_race.py
  recidiviz/calculator/query/state/views/dashboard/revocation_analysis/revocations_matrix_distribution_by_risk_level.py
  recidiviz/calculator/query/state/views/dashboard/revocation_analysis/revocations_matrix_distribution_by_violation.py
Due: generate_docs_for_endpoint

Updating pipeline yaml and script (Recidiviz/recidiviz-data#5977)
  recidiviz/calculator/pipeline/production_calculation_pipeline_templates.yaml
  recidiviz/tools/compare_dataflow_output_to_sandbox.py
Due: generate_docs_for_endpoint

Adding most severe is_violent and classification_type fields to compartment_sentences (Recidiviz/recidiviz-data#5972)
  recidiviz/calculator/query/state/views/analyst_data/compartment_sentences.py
Due: generate_docs_for_endpoint

[skip validation case_triage_fixtures] Post-rebase fixture fixes (Recidiviz/recidiviz-data#5992)
  recidiviz/case_triage/fixtures/dummy_clients.json
Due: generate_docs_for_endpoint

Put Verify in front of auth wall to stop infinite loop (Recidiviz/recidiviz-data#5991)
  frontends/case-triage/src/index.tsx
  frontends/case-triage/src/routes/Home.tsx
Due: none

Add small usability tweaks (Recidiviz/recidiviz-data#5995)
  frontends/admin-panel/src/components/DataFreshnessView.tsx
  frontends/admin-panel/src/components/MetadataTable.tsx
Due: none

Add security headers (Recidiviz/recidiviz-data#5997)
  recidiviz/case_triage/server.py
Due: generate_docs_for_endpoint

Set flask cookie storage flags (Recidiviz/recidiviz-data#5994)
  recidiviz/case_triage/server.py
Due: generate_docs_for_endpoint

Add FAQ link (Recidiviz/recidiviz-data#6001)
  frontends/case-triage/src/components/UserSection/UserSection.tsx
Due: none

Case Triage MVP finishing touches (Recidiviz/recidiviz-data#5984)
  frontends/case-triage/package.json
  frontends/case-triage/src/components/CaseCard/CaseCard.styles.tsx
  frontends/case-triage/src/components/CaseCard/CaseCard.tsx
  frontends/case-triage/src/components/ClientList/ClientList.styles.tsx
  frontends/case-triage/src/components/ClientList/ClientList.tsx
  frontends/case-triage/src/components/ClientList/ClientListCard.tsx
  frontends/case-triage/src/components/ClientMarkedInProgressOverlay/ClientMarkedInProgressOverlay.tsx
  frontends/case-triage/src/components/Tooltip/Tooltip.styles.tsx
  frontends/case-triage/src/components/Tooltip/Tooltip.tsx
  frontends/case-triage/src/components/Tooltip/index.ts
  frontends/case-triage/src/components/UserSection/UserSection.tsx
  frontends/case-triage/src/index.tsx
  frontends/case-triage/src/stores/CaseUpdatesStore/CaseUpdatesStore.ts
  frontends/case-triage/src/stores/ClientsStore/ClientsStore.ts
  frontends/case-triage/src/stores/RootStore.ts
  frontends/case-triage/yarn.lock
Due: none

Adds newly required dependency, progress, to our calculation pipeline deploys. (Recidiviz/recidiviz-data#6003)
  setup.py
Due: none

Fix officer validation (Recidiviz/recidiviz-data#6002)
  recidiviz/validation/views/state/revocation_matrix_comparison_revocations_by_officer.py
Due: generate_docs_for_endpoint

Support for revocation recommendation rates in Lantern dash (Recidiviz/recidiviz-data#5913)
  recidiviz/calculator/pipeline/supervision/identifier.py
  recidiviz/calculator/pipeline/supervision/metrics.py
  recidiviz/calculator/pipeline/supervision/supervision_time_bucket.py
  recidiviz/calculator/query/state/state_specific_query_strings.py
  recidiviz/calculator/query/state/views/dashboard/revocation_analysis/revocations_matrix_distribution_by_gender.py
  recidiviz/calculator/query/state/views/dashboard/revocation_analysis/revocations_matrix_distribution_by_race.py
  recidiviz/calculator/query/state/views/dashboard/revocation_analysis/revocations_matrix_filtered_caseload.py
  recidiviz/calculator/query/state/views/reference/event_based_revocations_for_matrix.py
  recidiviz/calculator/query/state/views/reference/supervision_matrix_by_person.py
  recidiviz/tests/calculator/pipeline/supervision/identifier_test.py
  recidiviz/validation/configured_validations.py
  recidiviz/validation/views/state/revocation_matrix_distribution_by_gender_comparison.py
  recidiviz/validation/views/state/revocation_matrix_distribution_by_race_comparison.py
  recidiviz/validation/views/utils/internal_consistency_templates.py
  recidiviz/validation/views/view_config.py
Due: generate_docs_for_endpoint

IA, OK x 2, VA, AZ modeling (Recidiviz/recidiviz-data#5988)
  recidiviz/calculator/modeling/population_projection/simulations/compartment_transitions.py
  recidiviz/calculator/modeling/population_projection/state/AZ/financial_incentives/AZ_supervision_model_inputs.yaml
  recidiviz/calculator/modeling/population_projection/state/AZ/financial_incentives/__init__.py
  recidiviz/calculator/modeling/population_projection/state/AZ/financial_incentives/historical_data_AZ_financialincentives.py
  recidiviz/calculator/modeling/population_projection/state/AZ/historical_data_az_state_prizon_2808.py
  recidiviz/calculator/modeling/population_projection/state/AZ/historical_data_az_state_prizon_HB_2376.py
  recidiviz/calculator/modeling/population_projection/state/CA/historical_data_CA_probation.py
  recidiviz/calculator/modeling/population_projection/state/FL/historical_data_FL_prison.py
  recidiviz/calculator/modeling/population_projection/state/GA/historical_data_GA_prison_revocations.py
  recidiviz/calculator/modeling/population_projection/state/IA/historical_data_IA_HSB6.py
  recidiviz/calculator/modeling/population_projection/state/IL/historical_data_IL_prison_EMPS.py
  recidiviz/calculator/modeling/population_projection/state/IL/historical_data_IL_prison_RAE.py
  recidiviz/calculator/modeling/population_projection/state/IL/historical_data_IL_prison_RMM.py
  recidiviz/calculator/modeling/population_projection/state/IL/historical_data_IL_prison_TIS.py
  recidiviz/calculator/modeling/population_projection/state/IL/historical_data_IL_prison_three_strikes.py
  recidiviz/calculator/modeling/population_projection/state/LA/historical_data_LA_prison_habitual.py
  recidiviz/calculator/modeling/population_projection/state/MS/SB_2123_Parole_Eligibility/historical_data_MS_prison.py
  recidiviz/calculator/modeling/population_projection/state/MS/habitual_sentencing/historical_data_MS_prison_habitual_A.py
  recidiviz/calculator/modeling/population_projection/state/MS/habitual_sentencing/historical_data_MS_prison_habitual_B.py
  recidiviz/calculator/modeling/population_projection/state/NJ/historical_data_NJ_prison.py
  recidiviz/calculator/modeling/population_projection/state/OH/Prong1/historical_data_OH_prison_p1.py
  recidiviz/calculator/modeling/population_projection/state/OH/Prong2/historical_data_OH_prison_p2.py
  recidiviz/calculator/modeling/population_projection/state/OK/OK_earned_credits/historical_data_OK_probation.py
  recidiviz/calculator/modeling/population_projection/state/OK/OK_habitual_sentencing/historical_data_OK_prison.py
  recidiviz/calculator/modeling/population_projection/state/OK/OK_resentencing/OK_prison_model_inputs.yaml
  recidiviz/calculator/modeling/population_projection/state/OK/OK_resentencing/__init__.py
  recidiviz/calculator/modeling/population_projection/state/OK/OK_resentencing/historical_data_prison_OK.py
  recidiviz/calculator/modeling/population_projection/state/RI/historical_data_RI_parole.py
  recidiviz/calculator/modeling/population_projection/state/RI/historical_data_RI_probation.py
  recidiviz/calculator/modeling/population_projection/state/TN/historical_data_TN_prison_revocations.py
  recidiviz/calculator/modeling/population_projection/state/TX/historical_data_TX_prison_revocations.py
  recidiviz/calculator/modeling/population_projection/state/VA/HB_2038/VAHB2038_model_inputs.yaml
  recidiviz/calculator/modeling/population_projection/state/VA/HB_2038/__init__.py
  recidiviz/calculator/modeling/population_projection/state/VA/HB_2038/historical_data_VA_HB2038.py
  recidiviz/calculator/modeling/population_projection/state/VA/historical_data_VA_parole.py
  recidiviz/calculator/modeling/population_projection/state/VA/historical_data_VA_prison.py
Due: generate_docs_for_endpoint

Revert parallelized calculation deploys (Recidiviz/recidiviz-data#6009)
  recidiviz/tools/deploy/deploy_pipeline_templates.py
  setup.py
Due: generate_docs_for_endpoint

PopulationSimulationFactory (Recidiviz/recidiviz-data#5843)
  recidiviz/calculator/modeling/population_projection/simulations/population_simulation/population_simulation.py
  recidiviz/calculator/modeling/population_projection/simulations/population_simulation/population_simulation_factory.py
  recidiviz/calculator/modeling/population_projection/simulations/population_simulation/population_simulation_initializer.py
  recidiviz/calculator/modeling/population_projection/simulations/population_simulation/population_simulation_macro_initializer.py
  recidiviz/calculator/modeling/population_projection/simulations/population_simulation/population_simulation_micro_initializer.py
  recidiviz/calculator/modeling/population_projection/simulations/sub_simulation/sub_simulation_factory.py
  recidiviz/calculator/modeling/population_projection/simulations/super_simulation/super_simulation_initializer.py
  recidiviz/calculator/modeling/population_projection/super_simulation.py
  recidiviz/calculator/modeling/population_projection/super_simulation_macrosim.py
  recidiviz/calculator/modeling/population_projection/super_simulation_microsim.py
  recidiviz/tests/calculator/modeling/population_projection/simulation_objects/population_simulation_test.py
  recidiviz/tests/calculator/modeling/population_projection/simulation_objects/super_simulation_microsim_test.py
Due: generate_docs_for_endpoint

Make source validation optionally unidirectional (Recidiviz/recidiviz-data#6005)
  recidiviz/tests/tools/validate_source_modifications_test.py
  recidiviz/tools/validate_source_modifications.py
Due: generate_docs_for_endpoint

Endpoint for SFTP downloads and uploads to GCS (Recidiviz/recidiviz-data#5888)
  recidiviz/cloud_storage/content_types.py
  recidiviz/cloud_storage/gcs_file_system.py
  recidiviz/ingest/direct/base_sftp_download_delegate.py
  recidiviz/ingest/direct/controllers/direct_ingest_gcs_file_system.py
  recidiviz/ingest/direct/controllers/download_files_from_sftp.py
  recidiviz/ingest/direct/controllers/upload_state_files_to_ingest_bucket_with_date.py
  recidiviz/ingest/direct/direct_ingest_cloud_task_manager.py
  recidiviz/ingest/direct/direct_ingest_control.py
  recidiviz/ingest/direct/regions/us_id/us_id_sftp_download_delegate.py
  recidiviz/ingest/direct/sftp_download_delegate_factory.py
  recidiviz/tests/cloud_storage/fake_gcs_file_system.py
  recidiviz/tests/ingest/direct/controllers/download_files_from_sftp_test.py
  recidiviz/tests/ingest/direct/controllers/upload_state_files_to_ingest_bucket_with_date_test.py
  recidiviz/tests/ingest/direct/direct_ingest_cloud_task_manager_impl_test.py
  recidiviz/tests/ingest/direct/direct_ingest_control_test.py
  recidiviz/tests/ingest/direct/fake_async_direct_ingest_cloud_task_manager.py
  recidiviz/tests/ingest/direct/fake_direct_ingest_cloud_task_manager.py
  recidiviz/tests/ingest/direct/fake_synchronous_direct_ingest_cloud_task_manager.py
  recidiviz/tools/justice_counts/manual_upload.py
  stubs/paramiko/__init__.pyi
  stubs/pysftp/__init__.pyi
Due: generate_docs_for_region, generate_docs_for_endpoint

Add validation views for ID county jail paid pop and population proje… (Recidiviz/recidiviz-data#5986)
  recidiviz/validation/config/regions/us_id/us_id_validation_config.yaml
  recidiviz/validation/configured_validations.py
  recidiviz/validation/views/state/population_projection_data_validation/__init__.py
  recidiviz/validation/views/state/population_projection_data_validation/county_jail_population_person_level_external_comparison.py
  recidiviz/validation/views/state/population_projection_data_validation/population_projection_data_validation_view_config.py
  recidiviz/validation/views/state/population_projection_data_validation/population_projection_monthly_population_external_comparison.py
  recidiviz/validation/views/view_config.py
Due: generate_docs_for_endpoint

[US_ID] Classify transfer from board hold to treatment as revocation (Recidiviz/recidiviz-data#5980)
  recidiviz/calculator/pipeline/utils/state_utils/us_id/us_id_revocation_utils.py
  recidiviz/tests/calculator/pipeline/supervision/identifier_test.py
  recidiviz/tests/calculator/pipeline/utils/state_utils/us_id/us_id_revocation_utils_test.py
Due: generate_docs_for_endpoint

Don't assume value is string when checking for concatenated columns (Recidiviz/recidiviz-data#6037)
  recidiviz/ingest/aggregate/regions/tx/tx_aggregate_ingest.py
Due: generate_docs_for_endpoint

Handle new number of rows for GA reports (Recidiviz/recidiviz-data#6038)
  recidiviz/ingest/aggregate/regions/ga/ga_aggregate_ingest.py
Due: generate_docs_for_endpoint

Fix incorrect employment data in Case Triage (Recidiviz/recidiviz-data#6041)
  recidiviz/case_triage/views/client_list_view.py
  recidiviz/case_triage/views/employment_periods.py
Due: generate_docs_for_endpoint

Adds Black dependency to Pipfile. (Recidiviz/recidiviz-data#6045)
  Pipfile
  Pipfile.lock
  setup.py
Due: none

More reliably assesses whether the employment field indicates unemployment (Recidiviz/recidiviz-data#6049)
  recidiviz/case_triage/querier/case_presenter.py
Due: generate_docs_for_endpoint

A couple small Case Triage front-end tweaks (Recidiviz/recidiviz-data#6051)
  frontends/case-triage/src/components/ClientMarkedInProgressOverlay/ClientMarkedInProgressOverlay.tsx
  frontends/case-triage/src/components/FeedbackForm/FeedbackForm.tsx
Due: none

Fixing export unlocking issues (Recidiviz/recidiviz-data#6046)
  recidiviz/ingest/direct/controllers/base_direct_ingest_controller.py
  recidiviz/persistence/database/bq_refresh/bq_refresh_utils.py
  recidiviz/persistence/database/bq_refresh/cloud_sql_to_bq_refresh_manager.py
  recidiviz/persistence/database/schema_utils.py
  recidiviz/tests/ingest/direct/controllers/gcsfs_direct_ingest_controller_test.py
  recidiviz/tests/persistence/database/bq_refresh/cloud_sql_to_bq_refresh_manager_test.py
Due: generate_docs_for_endpoint

Make downgrade docstring copy-pastable (Recidiviz/recidiviz-data#6053)
  recidiviz/tools/migrations/downgrade_one_migration.py
Due: generate_docs_for_endpoint

[Justice Counts] Setup automatic export of calculated data to GCS bucket (Recidiviz/recidiviz-data#6027)
  recidiviz/airflow/dag/calculation_pipeline_dag.py
  recidiviz/calculator/query/justice_counts/views/corrections_metrics_by_month.py
  recidiviz/metrics/export/export_config.py
  recidiviz/tools/deploy/terraform/modules/cloud-storage-bucket/main.tf
  recidiviz/tools/deploy/terraform/modules/cloud-storage-bucket/outputs.tf
  recidiviz/tools/deploy/terraform/modules/state-direct-ingest-bucket/main.tf
Due: generate_docs_for_endpoint

[Ingest mappings] Add validators to StateIncarcerationPeriod, StateSupervisionPeriod (Recidiviz/recidiviz-data#6055)
  recidiviz/persistence/entity/state/entities.py
  recidiviz/tests/calculator/pipeline/incarceration/identifier_test.py
  recidiviz/tests/calculator/pipeline/program/pipeline_test.py
  recidiviz/tests/calculator/pipeline/recidivism/identifier_test.py
  recidiviz/tests/calculator/pipeline/supervision/identifier_test.py
  recidiviz/tests/calculator/pipeline/supervision/pipeline_test.py
  recidiviz/tests/calculator/pipeline/utils/entity_hydration_utils_test.py
  recidiviz/tests/calculator/pipeline/utils/incarceration_period_index_test.py
  recidiviz/tests/calculator/pipeline/utils/incarceration_period_utils_test.py
  recidiviz/tests/calculator/pipeline/utils/state_utils/state_calculation_config_manager_test.py
  recidiviz/tests/calculator/pipeline/utils/state_utils/us_id/us_id_revocation_utils_test.py
  recidiviz/tests/calculator/pipeline/utils/state_utils/us_id/us_id_supervision_compliance_test.py
  recidiviz/tests/calculator/pipeline/utils/state_utils/us_id/us_id_supervision_type_identification_test.py
  recidiviz/tests/calculator/pipeline/utils/state_utils/us_mo/us_mo_supervision_type_identification_test.py
  recidiviz/tests/calculator/pipeline/utils/state_utils/us_nd/us_nd_supervision_compliance_test.py
  recidiviz/tests/calculator/pipeline/utils/state_utils/us_pa/us_pa_revocation_utils_test.py
  recidiviz/tests/calculator/pipeline/utils/supervision_case_compliance_manager_test.py
  recidiviz/tests/calculator/pipeline/utils/supervision_period_index_test.py
  recidiviz/tests/calculator/pipeline/utils/supervision_period_utils_test.py
  recidiviz/tests/calculator/pipeline/utils/supervision_type_identification_test.py
  recidiviz/tests/persistence/entity_matching/state/state_date_based_matching_utils_test.py
  recidiviz/tests/persistence/entity_matching/state/state_incarceration_incident_matching_utils_test.py
  recidiviz/tests/persistence/entity_matching/state/us_mo/us_mo_entity_matcher_test.py
  recidiviz/tests/persistence/entity_matching/state/us_mo/us_mo_matching_utils_test.py
  recidiviz/tests/persistence/entity_matching/state/us_nd/us_nd_entity_matcher_test.py
  recidiviz/tests/persistence/entity_matching/state/us_nd/us_nd_matching_utils_test.py
Due: generate_docs_for_endpoint

Pre-commit documentation generation githook (Recidiviz/recidiviz-data#6000)
  githooks/pre-commit
  recidiviz/ingest/direct/direct_ingest_documentation_generator.py
  recidiviz/tests/ingest/direct/direct_ingest_documentation_generator_test.py
  recidiviz/tools/docs/documentation_generation.sh
  recidiviz/tools/docs/documentation_generator.py
  recidiviz/tools/docs/ingest_spec_raw_data_generator.py
Due: generate_docs_for_endpoint

Reduces noisy outputs for google storage buckets (Recidiviz/recidiviz-data#6056)
  recidiviz/tools/deploy/terraform/modules/state-direct-ingest-bucket/main.tf
Due: generate_docs_for_endpoint

Sync up cron timing (Recidiviz/recidiviz-data#6063)
  cron.yaml
Due: none

change the character that joins districts in officer view officer_label (Recidiviz/recidiviz-data#6050)
  recidiviz/calculator/query/state/views/dashboard/revocation_analysis/revocations_matrix_distribution_by_officer.py
Due: generate_docs_for_endpoint

Update githook to use set for touched regions (Recidiviz/recidiviz-data#6065)
  recidiviz/tools/docs/documentation_generator.py
Due: generate_docs_for_endpoint

Add logging and fix `is not` vs `!=` (Recidiviz/recidiviz-data#6071)
  recidiviz/persistence/database/bq_refresh/cloud_sql_to_bq_refresh_manager.py
Due: generate_docs_for_endpoint

Adds newly required dependency to calculation pipelines. (Recidiviz/recidiviz-data#6082)
  setup.py
Due: none

[Database] Add 3 more external_id uniqueness constraints (Recidiviz/recidiviz-data#5871)
  recidiviz/persistence/database/migrations/state/versions/2021_02_19_1813_c0aa7ce19f4c_duplicate_id_migrations.py
  recidiviz/persistence/database/migrations/state/versions/2021_02_19_1814_a1f5a6bb514b_more_external_id_unique_constraints.py
  recidiviz/persistence/database/schema/state/schema.py
  recidiviz/tests/persistence/database/schema/state/dao_test.py
  recidiviz/tests/persistence/entity_matching/state/state_entity_matcher_test.py
  recidiviz/tests/persistence/entity_matching/state/state_matching_utils_test.py
  recidiviz/tests/persistence/state_persistence_test.py
Due: generate_docs_for_endpoint, generate_entity_documentation

Path conditions:
  generate_docs_for_region: any of: ^recidiviz/ingest/direct/regions/
  generate_docs_for_endpoint: any of: ^recidiviz/, but not: (?x)(^recidiviz/tests/|^recidiviz/tools/|^recidiviz/ingest/direct/regions/)$

  generate_entity_documentation: any of: (?x)(^recidiviz/persistence/database/schema/state/schema.py|^recidiviz/persistence/database/schema/history_table_shared_columns_mixin.py)$

