Repository Recidiviz/pulse-data: changes, and which pre-commit hooks are due for each by the changed paths.
All: generate_docs_for_region, generate_docs_for_endpoint, generate_entity_documentation, generate_calc_documentation, generate_ingest_mappings_schema_documentation, update_terraform_lock_file

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.3.0
    hooks:
      - id: check-yaml
  - repo: https://github.com/psf/black
    rev: 22.3.0
    hooks:
      # This runs on py, pyi, and ipynb files.
      - id: black-jupyter
        language_version: python3
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v2.5.1
    hooks:
      - id: prettier
        types_or: [yaml]
  - repo: https://github.com/pycqa/isort
    rev: 5.6.4
    hooks:
      - id: isort
        name: isort (python)
      - id: isort
        name: isort (pyi)
        types: [pyi]
  - repo: local
    hooks:
      - id: generate_docs_for_region
        name: generate_docs_for_region
        entry: pipenv run python -m recidiviz.tools.docs.region_documentation_generator
        language: system
        files: ^recidiviz/ingest/direct/regions/
        require_serial: true
      - id: generate_docs_for_endpoint
        name: generate_docs_for_endpoint
        entry: pipenv run python -m recidiviz.tools.docs.endpoint_documentation_generator
        language: system
        files: ^recidiviz/
        exclude: >
          (?x)(^recidiviz/tests/|^recidiviz/tools/|^recidiviz/ingest/direct/regions/)$
        require_serial: true
      - id: generate_entity_documentation
        name: generate_entity_documentation
        entry: pipenv run python -m recidiviz.tools.docs.entity_documentation_generator
        language: system
        files: >
          (?x)(^recidiviz/persistence/database/schema/state/schema.py|^recidiviz/persistence/database/schema/history_table_shared_columns_mixin.py|^recidiviz/common/constants/state/)$
        require_serial: true
      - id: generate_calc_documentation
        name: generate_calc_documentation
        entry: pipenv run python -m recidiviz.calculator.calculation_documentation_generator
        language: system
        files: ^recidiviz/calculator/|^recidiviz/metrics/|^recidiviz/.*/views/|^recidiviz/big_query/|^recidiviz/persistence/database/schema/|^recidiviz/persistence/entity/|^recidiviz/task_eligibility/
        exclude: ^recidiviz/tests/|^recidiviz/calculator/modeling/
        require_serial: true
      - id: generate_ingest_mappings_schema_documentation
        name: generate_ingest_mappings_schema_documentation
        entry: pipenv run python -m recidiviz.tools.docs.ingest_mappings_schema_documentation_generator
        language: system
        files: ^recidiviz/ingest/direct/ingest_mappings/yaml_schema/|^docs/engineering/ingest_mapping_schema/
        require_serial: true
      - id: update_terraform_lock_file
        name: update_terraform_lock_file
        entry: recidiviz/tools/deploy/update_terraform_lock.sh
        language: script
        files: ^recidiviz/tools/deploy/terraform/
        require_serial: true

[Monitoring] Throw exception ViewExportValidationErrors thrown in metric export (Recidiviz/recidiviz-data#22709)
  recidiviz/metrics/export/view_export_manager.py
  recidiviz/tests/metrics/export/view_export_manager_test.py
Due: generate_docs_for_endpoint, generate_calc_documentation

Add dashboards to LookML generation library (Recidiviz/recidiviz-data#22676)
  recidiviz/looker/lookml_dashboard.py
  recidiviz/looker/lookml_dashboard_parameter.py
  recidiviz/tests/looker/lookml_dashboard_parameter_test.py
  recidiviz/tests/looker/lookml_dashboard_test.py
Due: generate_docs_for_endpoint

[US_OR] Returning OR to dev mode to handle errors (Recidiviz/recidiviz-data#22727)
  recidiviz/validation/config/regions/us_or/us_or_validation_config.yaml
Due: generate_docs_for_endpoint

Removes ND `date_imposed` hack, adds coalesces for null effective dates (Recidiviz/recidiviz-data#22728)
  recidiviz/calculator/query/state/views/sessions/compartment_sessions_closest_sentence_imposed_group.py
  recidiviz/calculator/query/state/views/sessions/sentences_preprocessed.py
  recidiviz/calculator/query/state/views/sessions/us_nd/us_nd_incarceration_sentences_preprocessed.py
Due: generate_docs_for_endpoint, generate_calc_documentation

[Outliers] normalize district IDs in district manager view (Recidiviz/recidiviz-data#22719)
  recidiviz/calculator/query/state/views/outliers/supervision_district_managers.py
Due: generate_docs_for_endpoint, generate_calc_documentation

[US_CA] Staff record fixes (Recidiviz/recidiviz-data#22724)
  recidiviz/calculator/query/state/views/workflows/us_ca/supervision_staff_template.py
Due: generate_docs_for_endpoint, generate_calc_documentation

[Dataflow] Include environment metadata variables in launcher image, add `in_dataflow_worker` (Recidiviz/recidiviz-data#22428)
  recidiviz/pipelines/Dockerfile.pipelines
  recidiviz/pipelines/cloudbuild.pipelines.dev.yaml
  recidiviz/pipelines/cloudbuild.pipelines.yaml
  recidiviz/pipelines/dataflow_flex_setup.py
  recidiviz/pipelines/flex_pipeline_runner.py
  recidiviz/pipelines/ingest/state/generate_ingest_view_results.py
  recidiviz/tools/calculator/run_sandbox_calculation_pipeline.py
  recidiviz/tools/deploy/deploy_production.sh
  recidiviz/tools/deploy/terraform/config/artifact_registry_repositories.yaml
  recidiviz/tools/deploy/terraform/dataflow-flex.tf
  recidiviz/utils/environment.py
Due: generate_docs_for_endpoint, update_terraform_lock_file

[Airflow] Alter incident unique id; add more conditions for skipping triggering incidents (Recidiviz/recidiviz-data#22710)
  recidiviz/airflow/dags/monitoring/airflow_alerting_incident.py
  recidiviz/airflow/dags/monitoring/alerting_trigger_predicates.py
  recidiviz/airflow/dags/monitoring/task_failure_alerts.py
  recidiviz/airflow/tests/fixtures/monitoring/test_graph_config_idempotency.txt
  recidiviz/airflow/tests/fixtures/monitoring/test_graph_map_index.txt
  recidiviz/airflow/tests/fixtures/monitoring/test_graph_never_succeeded_most_recent_success.txt
  recidiviz/airflow/tests/fixtures/monitoring/test_graph_task_up_for_retry.txt
  recidiviz/airflow/tests/monitoring/__init__.py
  recidiviz/airflow/tests/monitoring/alerting_trigger_predicates_test.py
  recidiviz/airflow/tests/monitoring_dag_test.py
Due: generate_docs_for_endpoint

[US_MI] Add new columns to raw data YAML (Recidiviz/recidiviz-data#22706)
  recidiviz/ingest/direct/regions/us_mi/raw_data/us_mi_ADH_COALTERNATIVESCREENING.yaml
  recidiviz/ingest/direct/regions/us_mi/raw_data/us_mi_ADH_SHUSER.yaml
Due: generate_docs_for_region, generate_docs_for_endpoint

Make dataflow changes to support `housing_unit_category` (Recidiviz/recidiviz-data#22733)
  recidiviz/calculator/query/state/views/sessions/justice_impact_sessions.py
  recidiviz/pipelines/metrics/population_spans/identifier.py
  recidiviz/pipelines/metrics/population_spans/metrics.py
  recidiviz/pipelines/metrics/population_spans/spans.py
Due: generate_docs_for_endpoint, generate_calc_documentation

[Airflow] Add common entrypoint runtime; enable stackdriver exporter (Recidiviz/recidiviz-data#22604)
  recidiviz/airflow/dags/calculation_dag.py
  recidiviz/airflow/dags/monitoring_dag.py
  recidiviz/airflow/dags/operators/recidiviz_kubernetes_pod_operator.py
  recidiviz/airflow/tests/calculation_dag_test.py
  recidiviz/airflow/tests/fixtures/entrypoints_args.yaml
  recidiviz/airflow/tests/monitoring_dag_test.py
  recidiviz/entrypoints/bq_refresh/cloud_sql_to_bq_refresh.py
  recidiviz/entrypoints/entrypoint_executor.py
  recidiviz/entrypoints/entrypoint_interface.py
  recidiviz/entrypoints/metric_export/metric_view_export.py
  recidiviz/entrypoints/normalization/update_normalized_state_dataset.py
  recidiviz/entrypoints/validation/validate.py
  recidiviz/entrypoints/view_update/update_all_managed_views.py
  recidiviz/monitoring/export_timeliness.py
  recidiviz/tests/entrypoints/__init__.py
  recidiviz/tests/entrypoints/entrypoints_test.py
  recidiviz/tools/validate_source_visibility.py
  recidiviz/utils/monitoring.py
Due: generate_docs_for_endpoint

[Deploy] Send proper version in Slack for debug deploys (Recidiviz/recidiviz-data#22708)
  recidiviz/tools/deploy/base_deploy_to_staging.sh
Due: generate_docs_for_endpoint

[US_OR] Adding projected end date to incident outcome (Recidiviz/recidiviz-data#22712)
  recidiviz/ingest/direct/regions/us_or/ingest_mappings/us_or_Incarceration_Incident.yaml
  recidiviz/ingest/direct/regions/us_or/ingest_views/view_Incarceration_Incident.py
Due: generate_docs_for_region, generate_docs_for_endpoint

[US_MI][Workflows] Adding Exclusion Criteria to US_MI_NOT_SERVING_INELIGIBLE_OFFENSES_FOR_EARLY_DISCHARGE_FROM_PROBATION_SUPERVISION (Recidiviz/recidiviz-data#22737)
  recidiviz/task_eligibility/criteria/state_specific/us_mi/not_serving_ineligible_offenses_for_early_discharge_from_probation_supervision.py
Due: generate_docs_for_endpoint, generate_calc_documentation

[US_PA] Update `state_staff_role_period` logic to include currently missing officers (Recidiviz/recidiviz-data#22739)
  recidiviz/ingest/direct/regions/us_pa/ingest_mappings/us_pa_supervision_staff_role_period.yaml
  recidiviz/ingest/direct/regions/us_pa/ingest_views/view_supervision_staff_role_period.py
Due: generate_docs_for_region, generate_docs_for_endpoint

Adds pairwise stratification to analyst tools (Recidiviz/recidiviz-data#22665)
  recidiviz/tests/tools/analyst/estimate_effects_test.py
  recidiviz/tools/analyst/estimate_effects.py
Due: generate_docs_for_endpoint

[Bugfix] Fix justice_impact_sessions (Recidiviz/recidiviz-data#22755)
  recidiviz/calculator/query/state/views/sessions/justice_impact_sessions.py
Due: generate_docs_for_endpoint, generate_calc_documentation

[US_PA] Properly set external_id for inferred absconsion SPs (Recidiviz/recidiviz-data#22698)
  recidiviz/pipelines/utils/state_utils/us_pa/us_pa_supervision_period_normalization_delegate.py
  recidiviz/tests/pipelines/utils/state_utils/us_pa/us_pa_supervision_period_normalization_delegate_test.py
Due: generate_docs_for_endpoint

[StateStaff] re run migrations and add parity checks in validations (Recidiviz/recidiviz-data#22704)
  recidiviz/persistence/database/migrations/state/versions/2023_07_27_1454_d0868b07c36e_fill_supervising_officer_staff_fields_.py
  recidiviz/persistence/database/migrations/state/versions/2023_07_27_1457_f311098d4624_fill_referring_staff_id_fields_redo.py
  recidiviz/persistence/database/migrations/state/versions/2023_07_27_1522_a7198e4860ae_fill_contacting_staff_id_fields_redo.py
  recidiviz/persistence/database/migrations/state/versions/2023_07_27_1529_134c7438fa7c_fill_conducting_staff_id_fields_redo.py
  recidiviz/persistence/database_invariant_validator/state/state_staff_invariant_validators.py
Due: generate_docs_for_endpoint

[US_CA] Add primary keys for `ParoleHousing` raw data table (Recidiviz/recidiviz-data#22787)
  recidiviz/ingest/direct/regions/us_ca/raw_data/us_ca_ParoleHousing.yaml
Due: generate_docs_for_region, generate_docs_for_endpoint

[Justice Counts] Add back sorting to new Agency Dashboard endpoint (Recidiviz/recidiviz-data#22778)
  recidiviz/justice_counts/datapoint.py
Due: generate_docs_for_endpoint

[US_MI] Properly set external_id for inferred temp release IPs (Recidiviz/recidiviz-data#22699)
  recidiviz/pipelines/utils/state_utils/us_mi/us_mi_incarceration_period_normalization_delegate.py
  recidiviz/tests/pipelines/utils/state_utils/us_mi/us_mi_incarceration_period_normalization_delegate_test.py
Due: generate_docs_for_endpoint

[Outliers] Ensure None does not get included in additional recipients (Recidiviz/recidiviz-data#22777)
  recidiviz/outliers/querier/querier.py
  recidiviz/tests/outliers/querier_test.py
  recidiviz/tools/outliers/fixtures/supervision_officer_supervisors.csv
Due: generate_docs_for_endpoint

[US_ND] Properly set external_id on supervision violations generated in normalization (Recidiviz/recidiviz-data#22700)
  recidiviz/pipelines/normalization/utils/normalization_managers/supervision_violation_responses_normalization_manager.py
  recidiviz/tests/pipelines/utils/state_utils/us_nd/us_nd_violation_response_normalization_delegate_test.py
Due: generate_docs_for_endpoint

[US_MO] Set nonnull external_id for SPs rebuilt at normalization time (Recidiviz/recidiviz-data#22721)
  recidiviz/pipelines/utils/state_utils/us_mo/us_mo_supervision_period_normalization_delegate.py
  recidiviz/tests/pipelines/utils/state_utils/us_mo/us_mo_supervision_period_normalization_delegate_test.py
Due: generate_docs_for_endpoint

[Milestones] Add tracking for twilio status changes (Recidiviz/recidiviz-data#22690)
  recidiviz/case_triage/workflows/workflows_analytics.py
  recidiviz/case_triage/workflows/workflows_routes.py
  recidiviz/tests/case_triage/workflows/workflows_analytics_test.py
  recidiviz/tests/case_triage/workflows/workflows_routes_test.py
Due: generate_docs_for_endpoint

relax rate limit for asset retrieval (Recidiviz/recidiviz-data#22790)
  nodejs/asset-generation/src/server.tsx
Due: none

[US_PA] Prioritize `StateStaffRoleSubtype.SUPERVISION_OFFICER_SUPERVISOR` for all officers who supervise others (Recidiviz/recidiviz-data#22786)
  recidiviz/calculator/query/state/views/outliers/supervision_district_managers.py
  recidiviz/calculator/query/state/views/reference/reference_views.py
  recidiviz/calculator/query/state/views/reference/us_pa_leadership_supervisors.py
  recidiviz/ingest/direct/regions/us_pa/ingest_views/view_supervision_staff_role_period.py
Due: generate_docs_for_region, generate_docs_for_endpoint, generate_calc_documentation

[US_IX] Additional officers that should be included for Idaho (Recidiviz/recidiviz-data#22754)
  recidiviz/calculator/query/state/views/outliers/supervision_officers.py
  recidiviz/calculator/query/state/views/reference/reference_views.py
  recidiviz/calculator/query/state/views/reference/us_ix_dual_supervisors_officers.py
Due: generate_docs_for_endpoint, generate_calc_documentation

[outliers] update ID FAQ url (Recidiviz/recidiviz-data#22813)
  recidiviz/outliers/outliers_configs.py
Due: generate_docs_for_endpoint

pass description to __init__ in FlaskException (Recidiviz/recidiviz-data#22814)
  recidiviz/utils/flask_exception.py
Due: generate_docs_for_endpoint

Updating migration to not handle michigan (Recidiviz/recidiviz-data#22816)
  recidiviz/persistence/database/migrations/state/versions/2023_07_27_1529_134c7438fa7c_fill_conducting_staff_id_fields_redo.py
Due: generate_docs_for_endpoint

[Autogenerated] Update Pipfile.lock (Recidiviz/recidiviz-data#22773)
  Pipfile.lock
  recidiviz/auth/auth0_client.py
  recidiviz/tests/auth/auth0_client_test.py
  stubs/auth0/management/auth0.pyi
Due: generate_docs_for_endpoint

Add dashboard filters to LookML generation library (Recidiviz/recidiviz-data#22678)
  recidiviz/looker/lookml_dashboard.py
  recidiviz/looker/lookml_dashboard_filter.py
  recidiviz/tests/looker/lookml_dashboard_filter_test.py
  recidiviz/tests/looker/lookml_dashboard_test.py
Due: generate_docs_for_endpoint

Add dashboard elements to LookML generation library (Recidiviz/recidiviz-data#22761)
  recidiviz/looker/lookml_dashboard.py
  recidiviz/looker/lookml_dashboard_element.py
  recidiviz/tests/looker/lookml_dashboard_element_test.py
  recidiviz/tests/looker/lookml_dashboard_test.py
Due: generate_docs_for_endpoint

fix table name for PA roster reference view (Recidiviz/recidiviz-data#22819)
  recidiviz/calculator/query/state/views/outliers/supervision_district_managers.py
  recidiviz/calculator/query/state/views/reference/us_pa_leadership_supervisors.py
Due: generate_docs_for_endpoint, generate_calc_documentation

[outliers] update feedback form URL (Recidiviz/recidiviz-data#22847)
  recidiviz/reporting/context/outliers_supervision_officer_supervisor/context.py
  recidiviz/tests/reporting/context/outliers_supervision_officer_supervisor/outliers_supervision_officer_supervisor_test.py
Due: generate_docs_for_endpoint

[Airflow] Fix entrypoint logging, implement abc (Recidiviz/recidiviz-data#22845)
  recidiviz/entrypoints/entrypoint_executor.py
  recidiviz/entrypoints/entrypoint_interface.py
  recidiviz/entrypoints/monitoring/report_metric_export_timeliness.py
Due: generate_docs_for_endpoint

[US_IX] Fix some more state staff things (Recidiviz/recidiviz-data#22815)
  recidiviz/calculator/query/state/views/reference/us_ix_dual_supervisors_officers.py
  recidiviz/ingest/direct/regions/us_ix/ingest_views/view_state_staff.py
Due: generate_docs_for_region, generate_docs_for_endpoint, generate_calc_documentation

[US_CA] Refactor sustainable housing view (Recidiviz/recidiviz-data#22802)
  recidiviz/calculator/query/state/views/analyst_data/us_ca/us_ca_sustainable_housing_status_periods.py
  recidiviz/task_eligibility/criteria/state_specific/us_ca/housing_type_is_not_transient.py
  recidiviz/task_eligibility/criteria/state_specific/us_ca/sustainable_housing_for_0_to_2_months.py
  recidiviz/task_eligibility/criteria/state_specific/us_ca/sustainable_housing_for_12_to_14_months.py
  recidiviz/task_eligibility/criteria/state_specific/us_ca/sustainable_housing_for_6_to_8_months.py
Due: generate_docs_for_endpoint, generate_calc_documentation
