Repository Recidiviz/pulse-data: changes, and which pre-commit hooks are due for each by the changed paths.
All: generate_docs_for_region, generate_docs_for_endpoint, generate_entity_documentation, generate_calc_documentation, generate_ingest_mappings_schema_documentation, update_terraform_lock_file, terraform_fmt, alphabetize_yaml

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.3.0
    hooks:
      - id: check-yaml
  - repo: https://github.com/psf/black
    rev: 22.3.0
    hooks:
      # This runs on py, pyi, and ipynb files.
      - id: black-jupyter
        language_version: python3
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v2.5.1
    hooks:
      - id: prettier
        types_or: [yaml]
  - repo: https://github.com/pycqa/isort
    rev: 5.12.0
    hooks:
      - id: isort
        name: isort (python)
      - id: isort
        name: isort (pyi)
        types: [pyi]
  - repo: https://github.com/shellcheck-py/shellcheck-py
    rev: v0.8.0.4
    hooks:
      - id: shellcheck
        # Also validate any `source`d files
        args: [-x]
  - repo: local
    hooks:
      - id: generate_docs_for_region
        name: generate_docs_for_region
        entry: pipenv run python -m
          recidiviz.tools.docs.region_documentation_generator
        language: system
        files: ^recidiviz/ingest/direct/regions/|^recidiviz/view_registry/raw_data_reference_reasons.yaml
        require_serial: true
      - id: generate_docs_for_endpoint
        name: generate_docs_for_endpoint
        entry: pipenv run python -m
          recidiviz.tools.docs.endpoint_documentation_generator
        language: system
        files: (?x)(^recidiviz/tools/docs/endpoint_documentation_generator.py|^recidiviz/server_blueprint_registry.py|.*/routes/|.*routes.py|.*/server.py|.*control.py|.*endpoint.py|.*endpoints.py|^recidiviz/backup/backup_manager.py|^recidiviz/pipelines/calculation_data_storage_manager.py)$
        exclude: ^recidiviz/tests
        require_serial: true
      - id: generate_entity_documentation
        name: generate_entity_documentation
        entry: pipenv run python -m
          recidiviz.tools.docs.entity_documentation_generator
        language: system
        files: >
          (?x)(^recidiviz/persistence/database/schema/state/schema.py|^recidiviz/persistence/entity/state/normalized_entities.py|^recidiviz/persistence/entity/state/entities.py|^recidiviz/common/constants/state/)$
        require_serial: true
      - id: generate_calc_documentation
        name: generate_calc_documentation
        entry: pipenv run python -m
          recidiviz.calculator.calculation_documentation_generator
        language: system
        files: ^recidiviz/calculator/|^recidiviz/pipelines/|^recidiviz/metrics/|^recidiviz/.*/views/|^recidiviz/big_query/|^recidiviz/persistence/database/schema/|^recidiviz/persistence/entity/|^recidiviz/task_eligibility/|^recidiviz/monitoring/platform_kpis/
        exclude: ^recidiviz/tests/|^recidiviz/calculator/modeling/
        require_serial: true
      - id: generate_ingest_mappings_schema_documentation
        name: generate_ingest_mappings_schema_documentation
        entry: pipenv run python -m
          recidiviz.tools.docs.ingest_mappings_schema_documentation_generator
        language: system
        files: ^recidiviz/ingest/direct/ingest_mappings/yaml_schema/|^docs/engineering/ingest_mapping_schema/
        require_serial: true
      - id: update_terraform_lock_file
        name: update_terraform_lock_file
        entry: recidiviz/tools/deploy/update_terraform_lock.sh
        language: script
        files: ^recidiviz/tools/deploy/terraform/
        require_serial: true
      - id: terraform_fmt
        name: terraform_fmt
        entry: recidiviz/tools/deploy/format_terraform.sh
        language: script
        files: ^recidiviz/tools/deploy/terraform/
      - id: alphabetize_yaml
        name: alphabetize_yaml
        entry: pipenv run python -m
          recidiviz.tools.alphabetize_raw_data_reference_reasons
        language: system
        files: recidiviz/view_registry/raw_data_reference_reasons.yaml

[US_CA] Make SFTP case insensitive (Recidiviz/recidiviz-data#43368)
  recidiviz/ingest/direct/regions/us_ca/us_ca_sftp_download_delegate.py
Due: generate_docs_for_region

[US_TN] Update custodial authority override to only look at adjacent periods (Recidiviz/recidiviz-data#42830)
  recidiviz/ingest/direct/regions/us_tn/ingest_mappings/us_tn_OffenderMovementIncarcerationPeriod_v3.yaml
  recidiviz/pipelines/utils/state_utils/us_tn/us_tn_incarceration_period_normalization_delegate.py
  recidiviz/tests/pipelines/utils/state_utils/us_tn/us_tn_incarceration_period_normalization_delegate_test.py
Due: generate_docs_for_region, generate_calc_documentation

[US_UT] Adjust staff location external IDs, add source to location metadata (Recidiviz/recidiviz-data#43341)
  recidiviz/ingest/direct/regions/us_ut/ingest_mappings/us_ut_state_staff_location_period.yaml
Due: generate_docs_for_region

[US_MI] Remap Released to Court on Writ (Recidiviz/recidiviz-data#43379)
  recidiviz/ingest/direct/regions/us_mi/ingest_mappings/us_mi_incarceration_periods_v3.yaml
  recidiviz/ingest/direct/regions/us_mi/ingest_mappings/us_mi_supervision_periods_v2.yaml
Due: generate_docs_for_region

Adjusts order of operations of DailyAvgSpanCount metric to avoid rounding error (Recidiviz/recidiviz-data#42327)
  recidiviz/aggregated_metrics/models/aggregated_metric.py
  recidiviz/tests/aggregated_metrics/query_building/build_aggregated_metric_query_test.py
  recidiviz/tests/aggregated_metrics/query_building/build_single_observation_type_aggregated_metric_query_test.py
Due: none

[Resource Search] Initial Migration for DBs (Recidiviz/recidiviz-data#43374)
  Dockerfile.resource-search
  Pipfile
  docker-compose.yaml
  recidiviz/persistence/database/migrations/resource_search/__init__.py
  recidiviz/persistence/database/migrations/resource_search/env.py
  recidiviz/persistence/database/migrations/resource_search/script.py.mako
  recidiviz/persistence/database/migrations/resource_search/versions/2025_06_09_2155_f29f006fc963_init_dbs.py
  recidiviz/persistence/database/migrations/resource_search/versions/__init__.py
  recidiviz/persistence/database/migrations/resource_search_alembic.ini
Due: none

[US_AZ] Reenable criteria for AZ Admin Supervision (Recidiviz/recidiviz-data#43400)
  recidiviz/task_eligibility/eligibility_spans/us_az/transfer_to_administrative_supervision.py
  recidiviz/tools/load_end_to_end_data_sandbox.py
Due: generate_calc_documentation

[BigQuery] Move all Lantern views to a lantern_revocations_matrix dataset (Recidiviz/recidiviz-data#43377)
  recidiviz/metrics/export/export_config.py
  recidiviz/tests/view_registry/deployed_views_test.py
  recidiviz/view_registry/deployed_views.py
Due: generate_calc_documentation

[Terraform] Upgrade Google provider to latest version (Recidiviz/recidiviz-data#43347)
  recidiviz/tools/deploy/terraform/.terraform.lock.hcl
  recidiviz/tools/deploy/terraform/cloud-run-admin-panel.tf
  recidiviz/tools/deploy/terraform/cloud-run.tf
  recidiviz/tools/deploy/terraform/modules/cloud-sql-instance/main.tf
  recidiviz/tools/deploy/terraform/providers.tf
Due: update_terraform_lock_file, terraform_fmt

[US_IX][Workflows] Remove ua criteria for ed and lsu (Recidiviz/recidiviz-data#42194)
  recidiviz/task_eligibility/criteria/general/negative_da_within_90_days.py
  recidiviz/task_eligibility/eligibility_spans/us_ix/complete_discharge_early_from_parole_dual_supervision_request.py
  recidiviz/task_eligibility/eligibility_spans/us_ix/complete_discharge_early_from_probation_supervision_request.py
  recidiviz/task_eligibility/eligibility_spans/us_ix/complete_transfer_to_limited_supervision_form.py
  recidiviz/task_eligibility/eligibility_spans/us_ix/complete_transfer_to_limited_supervision_jii_form.py
Due: generate_calc_documentation

[US_IA] Pull supervision status into supervision periods metadata (Recidiviz/recidiviz-data#43381)
  recidiviz/ingest/direct/regions/us_ia/ingest_mappings/us_ia_supervision_periods.yaml
Due: generate_docs_for_region

[preimport validations] update stable historical counts query to read from postgres (Recidiviz/recidiviz-data#42992)
  recidiviz/airflow/tests/raw_data_import_dag_test.py
  recidiviz/ingest/direct/raw_data/direct_ingest_raw_file_load_manager.py
  recidiviz/ingest/direct/raw_data/direct_ingest_raw_table_pre_import_validator.py
  recidiviz/ingest/direct/raw_data/validations/stable_historical_raw_data_counts_table_validation.py
  recidiviz/tests/ingest/direct/raw_data/direct_ingest_raw_table_pre_import_validator_test.py
  recidiviz/tests/ingest/direct/raw_data/validations/stable_historical_raw_data_counts_table_validation_test.py
Due: none

[US_NE] small tf + dry run fixes for raw data export script (Recidiviz/recidiviz-data#43034)
  recidiviz/tests/tools/ingest/regions/us_ne/export_sql_to_gcs_test.py
  recidiviz/tools/deploy/atmos/components/terraform/us-ne-cloudrun-sql-export/main.tf
  recidiviz/tools/deploy/atmos/stacks/recidiviz-ingest-us-ne.yaml
  recidiviz/tools/ingest/regions/us_ne/export_sql_to_gcs.py
Due: none

[US_IA] Add current_address into StatePerson (Recidiviz/recidiviz-data#43397)
  recidiviz/ingest/direct/regions/us_ia/ingest_mappings/us_ia_state_person.yaml
Due: generate_docs_for_region

[US_AZ] Removing Misconduct Involving Weapons from Disqualifying Charges (Recidiviz/recidiviz-data#43017)
  recidiviz/task_eligibility/utils/us_az_query_fragments.py
Due: generate_calc_documentation

[US_UT] Hydrate some datetime_sql_parsers (Recidiviz/recidiviz-data#43398)
  recidiviz/ingest/direct/raw_data/datetime_sql_parser_exemptions.py
Due: none

[Tools] Improvements to hydrate_datetime_sql_parsers script (Recidiviz/recidiviz-data#43399)
  recidiviz/tests/ingest/direct/fake_regions/us_ll/raw_data/us_ll_customDatetimeSql.yaml
  recidiviz/tests/ingest/direct/fake_regions/us_xx/raw_data/us_xx_file_tag_first.yaml
  recidiviz/tests/ingest/direct/fake_regions/us_xx/raw_data/us_xx_tagColumnRenamed.yaml
  recidiviz/tests/ingest/direct/raw_data/datetime_sql_parser_exemptions_test.py
  recidiviz/tests/tools/ingest/development/hydrate_datetime_sql_parsers_test.py
  recidiviz/tests/utils/yaml_test.py
  recidiviz/tools/ingest/development/hydrate_datetime_sql_parsers.py
  recidiviz/tools/ingest/development/raw_data_config_writer.py
  recidiviz/utils/yaml.py
Due: none

[US_TX] Add Outliers config for Operations module (Recidiviz/recidiviz-data#43405)
  recidiviz/metrics/export/products/products.yaml
  recidiviz/outliers/outliers_configs.py
  recidiviz/tools/deploy/terraform/config/outliers_enabled_states.yaml
Due: generate_calc_documentation, update_terraform_lock_file, terraform_fmt

[US_TN] switching office P89F from District 30 to district 31 (Recidiviz/recidiviz-data#43348)
  recidiviz/datasets/static_data/us_tn_supervision_facility_names.csv
  recidiviz/datasets/static_data/us_tn_supervision_locations.csv
Due: none

[Resource Search] Run Migrations When Running Resource Source DB Locally (Recidiviz/recidiviz-data#43409)
  Pipfile
Due: none

[Schema] Add IMPOSED_PENDING_SERVING to StateSentenceStatus (Recidiviz/recidiviz-data#43394)
  recidiviz/common/constants/state/enum_canonical_strings.py
  recidiviz/common/constants/state/state_sentence.py
  recidiviz/persistence/database/schema/state/schema.py
Due: generate_entity_documentation, generate_calc_documentation

[US_NE] adding case type sup level spans view + Tasks dataset (Recidiviz/recidiviz-data#43340)
  recidiviz/tools/find_unused_bq_views.py
  recidiviz/view_registry/deployed_views.py
Due: none

[US_UT] Remap TEMPORARY_CUSTODY values (Recidiviz/recidiviz-data#43449)
  recidiviz/ingest/direct/regions/us_ut/ingest_mappings/us_ut_incarceration_period.yaml
Due: generate_docs_for_region

Adds new SegmentEvent view builder and collector, and configures Tasks events (Recidiviz/recidiviz-data#42836)
  recidiviz/segment/__init__.py
  recidiviz/segment/product_type.py
  recidiviz/segment/segment_event_big_query_view_builder.py
  recidiviz/segment/segment_event_big_query_view_collector.py
  recidiviz/segment/view_config.py
  recidiviz/source_tables/externally_managed/pulse_dashboard_segment_metrics/frontend_tasks_filter_changed.yaml
  recidiviz/source_tables/externally_managed/pulse_dashboard_segment_metrics/frontend_tasks_filters_cleared.yaml
  recidiviz/source_tables/externally_managed/pulse_dashboard_segment_metrics/frontend_tasks_filters_reset.yaml
  recidiviz/source_tables/externally_managed/pulse_dashboard_segment_metrics/frontend_tasks_previewed.yaml
  recidiviz/source_tables/externally_managed/pulse_dashboard_segment_metrics/frontend_tasks_view_changed.yaml
  recidiviz/tests/segment/__init__.py
  recidiviz/tests/segment/product_type_test.py
  recidiviz/tests/segment/segment_event_big_query_view_builder_test.py
  recidiviz/tools/find_unused_bq_views.py
  recidiviz/tools/validate_source_visibility.py
  recidiviz/view_registry/deployed_views.py
Due: none

[US_PA] Add new role types found in latest roster (Recidiviz/recidiviz-data#43460)
  recidiviz/ingest/direct/regions/us_pa/ingest_mappings/us_pa_supervision_staff_periods_v2.yaml
Due: generate_docs_for_region

Revert "[preimport validations] update stable historical counts query… (Recidiviz/recidiviz-data#44044)
  recidiviz/airflow/tests/raw_data_import_dag_test.py
  recidiviz/ingest/direct/raw_data/direct_ingest_raw_file_load_manager.py
  recidiviz/ingest/direct/raw_data/direct_ingest_raw_table_pre_import_validator.py
  recidiviz/ingest/direct/raw_data/validations/stable_historical_raw_data_counts_table_validation.py
  recidiviz/tests/ingest/direct/raw_data/direct_ingest_raw_table_pre_import_validator_test.py
  recidiviz/tests/ingest/direct/raw_data/validations/stable_historical_raw_data_counts_table_validation_test.py
Due: none

Adds Tasks active usage event observations and MAU metric config (Recidiviz/recidiviz-data#43462)
  recidiviz/aggregated_metrics/models/aggregated_metric_configurations.py
  recidiviz/observations/event_type.py
  recidiviz/tests/view_registry/deployed_views_test.py
Due: none

Adds compliance metrics to Tasks looker config (Recidiviz/recidiviz-data#43433)
  recidiviz/tools/looker/aggregated_metrics/custom_tasks_metrics_configurations.py
Due: none

[US_MI][Workflows] Update ADD and Warden SCC review opps to reset eligibility once a review has occurred (Recidiviz/recidiviz-data#43444)
  recidiviz/task_eligibility/eligibility_spans/us_mi/complete_add_in_person_security_classification_committee_review_form.py
  recidiviz/task_eligibility/eligibility_spans/us_mi/complete_warden_in_person_security_classification_committee_review_form.py
  recidiviz/tools/find_unused_bq_views.py
Due: generate_calc_documentation

[TES][US_IA] Implement early discharge completion event (Recidiviz/recidiviz-data#42996)
  recidiviz/task_eligibility/completion_events/general/early_discharge.py
  recidiviz/task_eligibility/completion_events/state_specific/us_ia/__init__.py
  recidiviz/task_eligibility/completion_events/state_specific/us_ia/early_discharge.py
  recidiviz/task_eligibility/eligibility_spans/us_ia/complete_early_discharge_form.py
  recidiviz/tests/task_eligibility/task_eligibility_spans_test.py
  recidiviz/view_registry/deployed_views.py
Due: generate_calc_documentation

[US_NE] Fix csv write + db transaction level (Recidiviz/recidiviz-data#43402)
  recidiviz/tests/tools/ingest/regions/us_ne/export_sql_to_gcs_test.py
  recidiviz/tools/ingest/regions/us_ne/export_sql_to_gcs.py
  recidiviz/tools/ingest/regions/us_ne/sql_to_gcs_export_tasks.py
Due: none

[Airflow] Use `gsutil rsync` for syncing Airflow files - ignore mtime and only use checksums (Recidiviz/recidiviz-data#44085)
  recidiviz/tests/tools/deploy/cloud_build/stages/create_terraform_plan_test.py
  recidiviz/tools/airflow/copy_source_files_to_experiment_composer.py
  recidiviz/tools/deploy/cloud_build/stages/create_terraform_plan.py
  recidiviz/tools/gsutil_shell_helpers.py
Due: none

[Vitals] [Aggregated Metrics] use a supervision-specific agg metric for vitals timely_discharge (Recidiviz/recidiviz-data#44051)
  recidiviz/aggregated_metrics/configuration/collections/vitals.py
  recidiviz/aggregated_metrics/models/aggregated_metric_configurations.py
Due: none

[US_MI][Workflows] Update scc opp to reset eligibility once a review has occurred (Recidiviz/recidiviz-data#44087)
  recidiviz/task_eligibility/eligibility_spans/us_mi/complete_security_classification_committee_review_form.py
  recidiviz/tools/find_unused_bq_views.py
Due: generate_calc_documentation

[US_IA][Workflows] Exclude unfounded violations (Recidiviz/recidiviz-data#43456)
  recidiviz/ingest/direct/regions/us_ia/ingest_mappings/us_ia_supervision_violations_parole.yaml
  recidiviz/task_eligibility/criteria/general/no_supervision_violation_report_within_6_months_using_response_date.py
  recidiviz/task_eligibility/utils/state_dataset_query_fragments.py
Due: generate_docs_for_region, generate_calc_documentation

[Email reminders] Send emails with updated text to supervision line staff who have logged in and have urgent clients (Recidiviz/recidiviz-data#43411)
  recidiviz/appsscript/login_reminders/EmailReminderHelpers.js
  recidiviz/appsscript/login_reminders/TestEmailReminders.js
Due: none

[US_TN] Ingest ISC sentences (Recidiviz/recidiviz-data#44049)
  recidiviz/ingest/direct/regions/us_tn/ingest_mappings/us_tn_isc_sentence.yaml
  recidiviz/tests/source_tables/update_big_query_table_schemas_test.py
Due: generate_docs_for_region

[looker] Add script to generate all lookml for which we have generators (Recidiviz/recidiviz-data#43447)
  recidiviz/tests/tools/looker/aggregated_metrics/aggregated_metrics_lookml_generator_test.py
  recidiviz/tests/tools/looker/raw_data/person_details_lookml_writer_test.py
  recidiviz/tools/looker/constants.py
  recidiviz/tools/looker/generate_all_lookml.py
  recidiviz/tools/looker/generated/dashboards/normalized_state/normalized_state_person.dashboard.lookml
  recidiviz/tools/looker/generated/dashboards/normalized_state/normalized_state_staff.dashboard.lookml
  recidiviz/tools/looker/generated/dashboards/state/state_person.dashboard.lookml
  recidiviz/tools/looker/generated/dashboards/state/state_staff.dashboard.lookml
  recidiviz/tools/looker/generated/explores/normalized_state/normalized_state_person.explore.lkml
  recidiviz/tools/looker/generated/explores/normalized_state/normalized_state_staff.explore.lkml
  recidiviz/tools/looker/generated/explores/state/state_person.explore.lkml
  recidiviz/tools/looker/generated/explores/state/state_staff.explore.lkml
  recidiviz/tools/looker/script_helpers.py
  recidiviz/tools/looker/top_level_generators/__init__.py
  recidiviz/tools/looker/top_level_generators/aggregated_metrics_lookml_generator.py
  recidiviz/tools/looker/top_level_generators/base_lookml_generator.py
  recidiviz/tools/looker/top_level_generators/breadth_and_depth_lookml_generator.py
  recidiviz/tools/looker/top_level_generators/custom_metrics_lookml_generator.py
  recidiviz/tools/looker/top_level_generators/observations_lookml_generator.py
  recidiviz/tools/looker/top_level_generators/person_details_lookml_generator.py
  recidiviz/tools/looker/top_level_generators/state_dataset_lookml_generator.py
Due: none

[MO] Work release mental health score surfacing query (Recidiviz/recidiviz-data#42986)
  recidiviz/task_eligibility/eligibility_spans/us_mo/work_release.py
Due: generate_calc_documentation

[US_UT] Refactor supervision periods (Recidiviz/recidiviz-data#43404)
  recidiviz/ingest/direct/regions/us_ut/ingest_mappings/us_ut_supervision_period.yaml
Due: generate_docs_for_region
