Repository Recidiviz/pulse-data: changes, and which pre-commit hooks are due for each by the changed paths.
All: generate_docs_for_region, generate_docs_for_endpoint, generate_entity_documentation, generate_calc_documentation, generate_ingest_mappings_schema_documentation, update_terraform_lock_file

generate_docs_for_region:
  name: generate_docs_for_region
  entry: pipenv run python -m recidiviz.tools.docs.region_documentation_generator
  language: system
  require_serial: true

generate_docs_for_endpoint:
  name: generate_docs_for_endpoint
  entry: pipenv run python -m recidiviz.tools.docs.endpoint_documentation_generator
  language: system
  require_serial: true

generate_entity_documentation:
  name: generate_entity_documentation
  entry: pipenv run python -m recidiviz.tools.docs.entity_documentation_generator
  language: system
  require_serial: true

generate_calc_documentation:
  name: generate_calc_documentation
  entry: pipenv run python -m recidiviz.calculator.calculation_documentation_generator
  language: system
  require_serial: true

generate_ingest_mappings_schema_documentation:
  name: generate_ingest_mappings_schema_documentation
  entry: pipenv run python -m recidiviz.tools.docs.ingest_mappings_schema_documentation_generator
  language: system
  require_serial: true

update_terraform_lock_file:
  name: update_terraform_lock_file
  entry: recidiviz/tools/deploy/update_terraform_lock.sh
  language: script
  require_serial: true

[US_MI] Add movement reason id 151 as a value to be mapped for StateIncarcerationPeriodReleaseReason (Recidiviz/recidiviz-data#14253)
  recidiviz/ingest/direct/regions/us_mi/ingest_mappings/us_mi_incarceration_periods.yaml
Due: generate_docs_for_region, generate_docs_for_endpoint

[Justice Counts][Frontend][2/n] Metrics View UI State (Recidiviz/recidiviz-data#14147)
  frontends/justice-counts/control-panel/src/components/MetricsView/MetricsView.tsx
  frontends/justice-counts/control-panel/src/components/MetricsView/MetricsViewMocks.ts
Due: none

Refactor: adjust the states and stateful components to new structure (Recidiviz/recidiviz-data#14149)
  frontends/justice-counts/control-panel/src/components/MetricsView/MetricsView.tsx
  frontends/justice-counts/control-panel/src/stores/ReportStore.ts
Due: none

[Schema] Add StateTaskDeadline entity (Recidiviz/recidiviz-data#14137)
  recidiviz/common/attr_utils.py
  recidiviz/common/attr_validators.py
  recidiviz/common/constants/state/enum_canonical_strings.py
  recidiviz/common/constants/state/state_task_deadline.py
  recidiviz/persistence/database/migrations/state/versions/2022_07_27_1737_a9ba60da38a6_add_state_task_deadline.py
  recidiviz/persistence/database/schema/state/schema.py
  recidiviz/persistence/entity/entity_deserialize.py
  recidiviz/persistence/entity/entity_utils.py
  recidiviz/persistence/entity/state/deserialize_entity_factories.py
  recidiviz/persistence/entity/state/entities.py
  recidiviz/persistence/entity_matching/state/state_matching_utils.py
  recidiviz/tests/persistence/database/schema/state/schema_test.py
  recidiviz/tests/persistence/database/schema_utils_test.py
  recidiviz/tests/persistence/entity/entity_utils_test.py
  recidiviz/tests/persistence/entity/state/deserialize_entity_factories_test.py
  recidiviz/tests/persistence/entity_matching/state/state_matching_utils_test.py
Due: generate_docs_for_endpoint, generate_entity_documentation, generate_calc_documentation

[Ingest] Update controller tests to use timezone unaware upper_bound_datetime_inclusive (Recidiviz/recidiviz-data#14226)
  recidiviz/ingest/direct/controllers/base_direct_ingest_controller.py
  recidiviz/ingest/direct/direct_ingest_control.py
  recidiviz/tests/ingest/direct/fakes/fake_direct_ingest_controller.py
  recidiviz/tests/ingest/direct/regions/region_direct_ingest_controller_test_case.py
Due: generate_docs_for_endpoint

[Ingest mappings] Expose ingest view results datetime in mappings language (Recidiviz/recidiviz-data#14227)
  recidiviz/ingest/direct/controllers/base_direct_ingest_controller.py
  recidiviz/ingest/direct/ingest_mappings/ingest_view_manifest.py
  recidiviz/ingest/direct/ingest_mappings/ingest_view_results_parser_delegate.py
  recidiviz/tests/ingest/direct/ingest_mappings/fixtures/ingest_view_file_parser/fake_schema/entities.py
  recidiviz/tests/ingest/direct/ingest_mappings/fixtures/ingest_view_file_parser/ingest_view_files/string_datetime_env_property.csv
  recidiviz/tests/ingest/direct/ingest_mappings/fixtures/ingest_view_file_parser/manifests/string_datetime_env_property.yaml
  recidiviz/tests/ingest/direct/ingest_mappings/ingest_view_results_parser_test.py
  recidiviz/tests/ingest/direct/regions/state_ingest_view_parser_test_base.py
Due: generate_docs_for_endpoint

[US_ND] Ingest EARLY_TERMINATION date into StateTaskDeadline (Recidiviz/recidiviz-data#14229)
  recidiviz/ingest/direct/regions/us_nd/ingest_mappings/us_nd_docstars_offenders_early_term.yaml
  recidiviz/ingest/direct/regions/us_nd/ingest_views/view_docstars_offenders_early_term.py
  recidiviz/ingest/direct/regions/us_nd/raw_data/us_nd_docstars_offenders.yaml
  recidiviz/ingest/direct/regions/us_nd/us_nd_controller.py
Due: generate_docs_for_region, generate_docs_for_endpoint

[US_ND] Hydrate level_2_supervision_location in Dataflow metrics (Recidiviz/recidiviz-data#14237)
  recidiviz/calculator/pipeline/metrics/incarceration/identifier.py
  recidiviz/calculator/pipeline/metrics/program/identifier.py
  recidiviz/calculator/pipeline/metrics/supervision/identifier.py
  recidiviz/calculator/pipeline/utils/state_utils/state_specific_supervision_delegate.py
  recidiviz/calculator/pipeline/utils/state_utils/us_id/us_id_supervision_delegate.py
  recidiviz/calculator/pipeline/utils/state_utils/us_nd/us_nd_supervision_delegate.py
  recidiviz/calculator/pipeline/utils/state_utils/us_pa/us_pa_supervision_delegate.py
  recidiviz/tests/calculator/pipeline/metrics/incarceration/identifier_test.py
  recidiviz/tests/calculator/pipeline/metrics/supervision/identifier_test.py
  recidiviz/tests/calculator/pipeline/utils/state_utils/us_nd/us_nd_supervision_delegate_test.py
  recidiviz/tests/calculator/pipeline/utils/supervision_period_utils_test.py
Due: generate_docs_for_endpoint, generate_calc_documentation

add historical export (Recidiviz/recidiviz-data#14252)
  recidiviz/ingest/direct/regions/us_tn/raw_data/us_tn_DailyCommunitySupervisionForRecidiviz.yaml
Due: generate_docs_for_region, generate_docs_for_endpoint

[Justice Counts][Frontend] Metrics View: Follow Ups (Recidiviz/recidiviz-data#14260)
  frontends/justice-counts/control-panel/src/components/MetricsView/MetricsView.styles.tsx
  frontends/justice-counts/control-panel/src/components/MetricsView/MetricsView.tsx
Due: none

Add breakdowns to average jail population, update law enforcement metrics (Recidiviz/recidiviz-data#14231)
  recidiviz/justice_counts/datapoint.py
  recidiviz/justice_counts/dimensions/dimension_registry.py
  recidiviz/justice_counts/dimensions/law_enforcement.py
  recidiviz/justice_counts/metrics/jails.py
  recidiviz/justice_counts/metrics/law_enforcement.py
  recidiviz/justice_counts/metrics/metric_definition.py
  recidiviz/tests/justice_counts/control_panel/server_test.py
  recidiviz/tests/justice_counts/datapoint_test.py
  recidiviz/tests/justice_counts/metric_definition_test.py
  recidiviz/tests/justice_counts/metric_interface_test.py
  recidiviz/tests/justice_counts/report_test.py
  recidiviz/tests/justice_counts/utils.py
Due: generate_docs_for_endpoint

Migrate US_ND to use StateChargeStatus.CONVICTED (Recidiviz/recidiviz-data#14240)
  recidiviz/ingest/direct/regions/us_nd/us_nd_controller.py
  recidiviz/persistence/database/migrations/state/versions/2022_07_27_2035_d6fed693b593_nd_sent_conv.py
  recidiviz/persistence/entity/state/entities.py
Due: generate_docs_for_region, generate_docs_for_endpoint, generate_calc_documentation

Removing StateChargeStatus.SENTENCED from schema (Recidiviz/recidiviz-data#14241)
  recidiviz/common/constants/state/enum_canonical_strings.py
  recidiviz/common/constants/state/state_charge.py
  recidiviz/persistence/database/migrations/state/versions/2022_07_27_2100_ddaf417ade56_delete_sentenced_status.py
  recidiviz/persistence/database/schema/state/schema.py
  recidiviz/persistence/entity/state/entities.py
Due: generate_docs_for_endpoint, generate_entity_documentation, generate_calc_documentation

[Justice Counts][Frontend] Metrics View - GET (Recidiviz/recidiviz-data#14262)
  frontends/justice-counts/control-panel/src/components/MetricsView/MetricsView.styles.tsx
  frontends/justice-counts/control-panel/src/components/MetricsView/MetricsView.tsx
  frontends/justice-counts/control-panel/src/components/MetricsView/MetricsViewMocks.ts
  frontends/justice-counts/control-panel/src/stores/ReportStore.ts
Due: none

add column names to raw data config (Recidiviz/recidiviz-data#14263)
  recidiviz/ingest/direct/regions/us_id/raw_data/us_id_cis_codelawenforcementcontacttype_recidiviz.yaml
  recidiviz/ingest/direct/regions/us_id/raw_data/us_id_cis_lawenforcementcontact_recidiviz.yaml
  recidiviz/ingest/direct/regions/us_id/raw_data/us_id_summary_ofndr_ftrd_dt_recidiviz.yaml
Due: generate_docs_for_region, generate_docs_for_endpoint

[Justice Counts] Don't allow one editor to overwrite another who had page open first (Recidiviz/recidiviz-data#14112)
  frontends/justice-counts/control-panel/src/components/Reports/CreateReport.test.tsx
  frontends/justice-counts/control-panel/src/components/Reports/DataEntryForm.test.tsx
  frontends/justice-counts/control-panel/src/components/Reports/DataEntryForm.tsx
  frontends/justice-counts/control-panel/src/shared/types.ts
  frontends/justice-counts/control-panel/src/stores/FormStore.test.tsx
  frontends/justice-counts/control-panel/src/stores/ReportStore.ts
  recidiviz/justice_counts/control_panel/routes/api.py
  recidiviz/justice_counts/report.py
  recidiviz/tests/justice_counts/control_panel/server_test.py
Due: generate_docs_for_endpoint

Readd scrolling behavior when moving to another metric (Recidiviz/recidiviz-data#14264)
  frontends/justice-counts/control-panel/src/components/MetricsView/MetricsView.tsx
Due: none

Implement metric filtering (Recidiviz/recidiviz-data#14266)
  frontends/justice-counts/control-panel/src/components/MetricsView/MetricsView.tsx
Due: none

dedupe MO users in `dashboard_user_restrictions` (Recidiviz/recidiviz-data#14272)
  recidiviz/calculator/query/state/views/reference/dashboard_user_restrictions.py
Due: generate_docs_for_endpoint, generate_calc_documentation

ignore empty(ish) state directories when figuring which states are valid (Recidiviz/recidiviz-data#14121)
  recidiviz/calculator/pipeline/utils/state_utils/state_calculation_config_manager.py
  recidiviz/ingest/direct/regions/direct_ingest_region_utils.py
  recidiviz/utils/regions.py
Due: generate_docs_for_region, generate_docs_for_endpoint, generate_calc_documentation

temp to compare ids (Recidiviz/recidiviz-data#14238)
  recidiviz/tools/ingest/one_offs/clear_redundant_raw_data_on_bq_remote_helper.py
Due: generate_docs_for_endpoint

Migrating US_ME from INFRACTION to CIVIL (Recidiviz/recidiviz-data#14269)
  recidiviz/ingest/direct/regions/us_me/ingest_mappings/us_me_incarceration_sentences.yaml
  recidiviz/ingest/direct/regions/us_me/ingest_mappings/us_me_supervision_sentences.yaml
  recidiviz/persistence/database/migrations/state/versions/2022_07_28_0912_444c770673fd_me_civil_conv.py
  recidiviz/persistence/entity/state/entities.py
Due: generate_docs_for_region, generate_docs_for_endpoint, generate_calc_documentation

[Justice Counts] API method to get agency metrics (Recidiviz/recidiviz-data#14258)
  recidiviz/justice_counts/control_panel/routes/api.py
  recidiviz/justice_counts/datapoint.py
  recidiviz/justice_counts/metrics/metric_interface.py
  recidiviz/justice_counts/report.py
  recidiviz/persistence/database/schema/justice_counts/schema.py
  recidiviz/tests/justice_counts/control_panel/server_test.py
  recidiviz/tests/justice_counts/metric_interface_test.py
  recidiviz/tests/justice_counts/utils.py
  recidiviz/tools/justice_counts/control_panel/generate_fixtures.py
Due: generate_docs_for_endpoint, generate_calc_documentation

Migrating US_MO from INFRACTION to CIVIL (Recidiviz/recidiviz-data#14270)
  recidiviz/ingest/direct/regions/us_mo/ingest_mappings/us_mo_tak022_tak023_tak025_tak026_offender_sentence_institution.yaml
  recidiviz/ingest/direct/regions/us_mo/ingest_mappings/us_mo_tak022_tak024_tak025_tak026_offender_sentence_supervision.yaml
  recidiviz/ingest/direct/regions/us_mo/us_mo_controller.py
  recidiviz/persistence/database/migrations/state/versions/2022_07_28_0923_3c725da8f8cf_mo_civil_conv.py
  recidiviz/persistence/entity/state/entities.py
Due: generate_docs_for_region, generate_docs_for_endpoint, generate_calc_documentation

Removing INFRACTION in favor of CIVIL (Recidiviz/recidiviz-data#14271)
  recidiviz/common/constants/state/enum_canonical_strings.py
  recidiviz/common/constants/state/state_charge.py
  recidiviz/persistence/database/migrations/state/versions/2022_07_28_0929_8830f60d82a6_delete_infraction.py
  recidiviz/persistence/database/schema/state/schema.py
  recidiviz/persistence/entity/state/entities.py
Due: generate_docs_for_endpoint, generate_entity_documentation, generate_calc_documentation

[Aurora][CIS-DI-0009] Enhancing minor configurations in Dockerfile (Recidiviz/recidiviz-data#14257)
  Dockerfile
Due: none

[Justice Counts][Fix] Refresh Metric Settings & Breakdown UI Updates (Recidiviz/recidiviz-data#14276)
  frontends/justice-counts/control-panel/src/components/MetricsView/MetricsView.tsx
Due: none

Update description fields of necessary columns for supervision periods (Recidiviz/recidiviz-data#14273)
  recidiviz/ingest/direct/regions/us_mi/raw_data/us_mi_ADH_EMPLOYEE.yaml
  recidiviz/ingest/direct/regions/us_mi/raw_data/us_mi_ADH_EMPLOYEE_BOOKING_ASSIGNMENT.yaml
  recidiviz/ingest/direct/regions/us_mi/raw_data/us_mi_ADH_LEGAL_ORDER.yaml
  recidiviz/ingest/direct/regions/us_mi/raw_data/us_mi_ADH_OFFENDER_SUPERVISION.yaml
  recidiviz/ingest/direct/regions/us_mi/raw_data/us_mi_ADH_SPECIAL_CONDITION.yaml
  recidiviz/ingest/direct/regions/us_mi/raw_data/us_mi_ADH_SUPERVISION_CONDITION.yaml
Due: generate_docs_for_region, generate_docs_for_endpoint

Adds `days to first absconsion violation` metric (Recidiviz/recidiviz-data#14123)
  recidiviz/calculator/query/state/views/analyst_data/person_events.py
  recidiviz/calculator/query/state/views/analyst_data/supervision_aggregated_metrics.py
  recidiviz/calculator/query/state/views/analyst_data/supervision_officer_office_metrics.py
Due: generate_docs_for_endpoint, generate_calc_documentation

add us_id specific race groups (Recidiviz/recidiviz-data#14289)
  recidiviz/calculator/query/state/state_specific_query_strings.py
Due: generate_docs_for_endpoint, generate_calc_documentation

[import server][Pathways] fix two issues with import server (Recidiviz/recidiviz-data#14246)
  recidiviz/calculator/query/state/views/dashboard/pathways/pathways_views.py
  recidiviz/cloud_sql/gcs_import_to_cloud_sql.py
  recidiviz/tests/cloud_sql/gcs_import_to_cloud_sql_test.py
Due: generate_docs_for_endpoint, generate_calc_documentation

Fix all lint warnings (Recidiviz/recidiviz-data#14235)
  frontends/justice-counts/control-panel/src/components/Forms/TextInput.tsx
  frontends/justice-counts/control-panel/src/index.tsx
Due: none

[US_MO] Updating primary keys for case plans raw data tables in MO (Recidiviz/recidiviz-data#14254)
  recidiviz/ingest/direct/regions/us_mo/raw_data/us_mo_LBAKRDTA_TAK017.yaml
  recidiviz/ingest/direct/regions/us_mo/raw_data/us_mo_MO_CASEPLANS_DB2.yaml
  recidiviz/ingest/direct/regions/us_mo/raw_data/us_mo_MO_CASEPLAN_GOALS_DB2.yaml
  recidiviz/ingest/direct/regions/us_mo/raw_data/us_mo_MO_CASEPLAN_OBJECTIVES_DB2.yaml
  recidiviz/ingest/direct/regions/us_mo/raw_data/us_mo_MO_CASEPLAN_TARGETS_DB2.yaml
  recidiviz/ingest/direct/regions/us_mo/raw_data/us_mo_MO_CASEPLAN_TECHNIQUES_DB2.yaml
Due: generate_docs_for_region, generate_docs_for_endpoint

filter out unknown revocations for Idaho (Recidiviz/recidiviz-data#14295)
  recidiviz/calculator/query/state/views/public_dashboard/supervision/supervision_revocations_by_period_by_type_by_demographics.py
Due: generate_docs_for_endpoint, generate_calc_documentation

fix dimension bugs metric configuration (Recidiviz/recidiviz-data#14279)
  recidiviz/justice_counts/datapoint.py
  recidiviz/justice_counts/metrics/metric_interface.py
  recidiviz/tests/justice_counts/metric_interface_test.py
Due: generate_docs_for_endpoint

count dual under parole for idaho (Recidiviz/recidiviz-data#14290)
  recidiviz/calculator/query/state/state_specific_query_strings.py
  recidiviz/calculator/query/state/views/shared_metric/single_day_supervision_population_for_spotlight.py
Due: generate_docs_for_endpoint, generate_calc_documentation

[Pathways] check app metadata routes in backend (Recidiviz/recidiviz-data#14298)
  recidiviz/case_triage/pathways/pathways_authorization.py
  recidiviz/common/str_field_utils.py
  recidiviz/tests/case_triage/pathways/pathways_authorization_test.py
Due: generate_docs_for_endpoint

Adding is_pii flag for MO legacy tables (Recidiviz/recidiviz-data#14303)
  recidiviz/ingest/direct/regions/us_mo/raw_data/us_mo_FOCTEST_ORAS_ASSESSMENTS_WEEKLY.yaml
  recidiviz/ingest/direct/regions/us_mo/raw_data/us_mo_LANTERN_DA_RA_LIST.yaml
  recidiviz/ingest/direct/regions/us_mo/raw_data/us_mo_LBAKRCOD_TAK146.yaml
  recidiviz/ingest/direct/regions/us_mo/raw_data/us_mo_LBAKRDTA_TAK001.yaml
  recidiviz/ingest/direct/regions/us_mo/raw_data/us_mo_LBAKRDTA_TAK022.yaml
  recidiviz/ingest/direct/regions/us_mo/raw_data/us_mo_LBAKRDTA_TAK023.yaml
  recidiviz/ingest/direct/regions/us_mo/raw_data/us_mo_LBAKRDTA_TAK024.yaml
  recidiviz/ingest/direct/regions/us_mo/raw_data/us_mo_LBAKRDTA_TAK025.yaml
  recidiviz/ingest/direct/regions/us_mo/raw_data/us_mo_LBAKRDTA_TAK026.yaml
  recidiviz/ingest/direct/regions/us_mo/raw_data/us_mo_LBAKRDTA_TAK028.yaml
  recidiviz/ingest/direct/regions/us_mo/raw_data/us_mo_LBAKRDTA_TAK034.yaml
  recidiviz/ingest/direct/regions/us_mo/raw_data/us_mo_LBAKRDTA_TAK039.yaml
  recidiviz/ingest/direct/regions/us_mo/raw_data/us_mo_LBAKRDTA_TAK040.yaml
  recidiviz/ingest/direct/regions/us_mo/raw_data/us_mo_LBAKRDTA_TAK042.yaml
  recidiviz/ingest/direct/regions/us_mo/raw_data/us_mo_LBAKRDTA_TAK065.yaml
  recidiviz/ingest/direct/regions/us_mo/raw_data/us_mo_LBAKRDTA_TAK076.yaml
  recidiviz/ingest/direct/regions/us_mo/raw_data/us_mo_LBAKRDTA_TAK142.yaml
  recidiviz/ingest/direct/regions/us_mo/raw_data/us_mo_LBAKRDTA_TAK158.yaml
  recidiviz/ingest/direct/regions/us_mo/raw_data/us_mo_LBAKRDTA_TAK291.yaml
  recidiviz/ingest/direct/regions/us_mo/raw_data/us_mo_LBAKRDTA_TAK292.yaml
  recidiviz/ingest/direct/regions/us_mo/raw_data/us_mo_LBAKRDTA_VAK003.yaml
  recidiviz/ingest/direct/regions/us_mo/raw_data/us_mo_LBCMDATA_APFX90.yaml
  recidiviz/ingest/direct/regions/us_mo/raw_data/us_mo_LBCMDATA_APFX91.yaml
  recidiviz/ingest/direct/regions/us_mo/raw_data/us_mo_OFNDR_PDB_FOC_SUPERVISION_ENHANCEMENTS_VW.yaml
Due: generate_docs_for_region, generate_docs_for_endpoint

Path conditions:
  generate_docs_for_region: any of: ^recidiviz/ingest/direct/regions/
  generate_docs_for_endpoint: any of: ^recidiviz/, but not: (?x)(^recidiviz/tests/|^recidiviz/tools/|^recidiviz/ingest/direct/regions/)$

  generate_entity_documentation: any of: (?x)(^recidiviz/persistence/database/schema/state/schema.py|^recidiviz/persistence/database/schema/history_table_shared_columns_mixin.py|^recidiviz/common/constants/state/)$

  generate_calc_documentation: any of: ^recidiviz/calculator/|^recidiviz/metrics/|^recidiviz/.*/views/|^recidiviz/big_query/|^recidiviz/persistence/database/schema/|^recidiviz/persistence/entity/, but not: ^recidiviz/tests/|^recidiviz/calculator/modeling/
  generate_ingest_mappings_schema_documentation: any of: ^recidiviz/ingest/direct/ingest_mappings/yaml_schema/|^docs/engineering/ingest_mapping_schema/
  update_terraform_lock_file: any of: ^recidiviz/tools/deploy/terraform/
