Repository Recidiviz/pulse-data: changes, and which pre-commit hooks are due for each by the changed paths.
All: generate_docs_for_region, generate_docs_for_endpoint, generate_entity_documentation

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.3.0
    hooks:
      - id: check-yaml
  - repo: https://github.com/psf/black
    rev: 20.8b1
    hooks:
      - id: black
        language_version: python3
  - repo: local
    hooks:
      - id: generate_docs_for_region
        name: generate_docs_for_region
        entry: pipenv run python -m recidiviz.tools.docs.region_documentation_generator
        language: system
        files: ^recidiviz/ingest/direct/regions/
        require_serial: true
      - id: generate_docs_for_endpoint
        name: generate_docs_for_endpoint
        entry: pipenv run python -m recidiviz.tools.docs.endpoint_documentation_generator
        language: system
        files: ^recidiviz/
        exclude: >
          (?x)(^recidiviz/tests/|^recidiviz/tools/|^recidiviz/ingest/direct/regions/)$
        require_serial: true
      - id: generate_entity_documentation
        name: generate_entity_documentation
        entry: pipenv run python -m recidiviz.tools.docs.entity_documentation_generator
        language: system
        files: >
           (?x)(^recidiviz/persistence/database/schema/state/schema.py|^recidiviz/persistence/database/schema/history_table_shared_columns_mixin.py)$
        require_serial: true

Pause cron job and add yaml parsing tests (Recidiviz/recidiviz-data#2538)
  cron.yaml
  recidiviz/tests/test_deploy_yamls.py
Due: generate_docs_for_endpoint

Update CsvDataExtractor to handle duplicate rows (Recidiviz/recidiviz-data#2533)
  recidiviz/ingest/direct/controllers/csv_gcsfs_direct_ingest_controller.py
  recidiviz/ingest/direct/regions/us_nd/us_nd_controller.py
  recidiviz/ingest/direct/regions/us_nd/us_nd_county_code_reference.py
  recidiviz/ingest/direct/regions/us_nd/us_nd_elite_alias.yaml
  recidiviz/ingest/direct/regions/us_tx_brazos/us_tx_brazos_controller.py
  recidiviz/ingest/direct/regions/us_tx_brazos/us_tx_brazos_daily_data.yaml
  recidiviz/ingest/extractor/README.md
  recidiviz/ingest/extractor/csv_data_extractor.py
  recidiviz/ingest/extractor/data_extractor.py
  recidiviz/ingest/models/ingest_info.py
  recidiviz/tests/ingest/extractor/csv_data_extractor_test.py
  recidiviz/tests/utils/common_scraper_test.py
Due: generate_docs_for_region, generate_docs_for_endpoint

Dont try to store single counts when running locally. (Recidiviz/recidiviz-data#2531)
  recidiviz/persistence/persistence.py
  recidiviz/persistence/persistence_utils.py
  recidiviz/persistence/single_count.py
  recidiviz/tests/ingest/aggregate/single_count_test.py
  recidiviz/tests/persistence/single_count_test.py
Due: generate_docs_for_endpoint

update supervision population by race/ethnicity query to correctly handle multiple races/ethnicities (Recidiviz/recidiviz-data#2532)
  recidiviz/calculator/bq/dashboard/views/supervision/supervision_population_by_race_and_ethnicity_60_days.py
Due: generate_docs_for_endpoint

Add ingest file info to monitoring tags (Recidiviz/recidiviz-data#2540)
  recidiviz/ingest/direct/direct_ingest_control.py
  recidiviz/utils/monitoring.py
Due: generate_docs_for_endpoint

Weekly manual backups for State CloudSQL (plus some cleanup) (Recidiviz/recidiviz-data#2546)
  recidiviz/backup/backup_manager.py
  recidiviz/calculator/bq/bq_export_cloud_task_manager.py
  recidiviz/calculator/bq/bq_load.py
  recidiviz/calculator/bq/cloudsql_export.py
  recidiviz/calculator/bq/export_config.py
  recidiviz/calculator/bq/export_manager.py
  recidiviz/persistence/database/sqladmin_client.py
  recidiviz/persistence/database/sqlalchemy_engine_manager.py
  recidiviz/tests/calculator/bq/bq_export_cloud_task_manager_test.py
  recidiviz/tests/calculator/bq/bq_load_test.py
  recidiviz/tests/calculator/bq/cloudsql_export_test.py
  recidiviz/tests/calculator/bq/export_manager_test.py
Due: generate_docs_for_endpoint

Reenable state export cron job (Recidiviz/recidiviz-data#2548)
  cron.yaml
Due: none

Queries necessary for FTR descriptive stats (Recidiviz/recidiviz-data#2544)
  recidiviz/calculator/bq/dashboard/views/program_evaluation/__init__.py
  recidiviz/calculator/bq/dashboard/views/program_evaluation/program_evaluation_views.py
  recidiviz/calculator/bq/dashboard/views/program_evaluation/us_nd/__init__.py
  recidiviz/calculator/bq/dashboard/views/program_evaluation/us_nd/ftr_referrals_by_age_60_days.py
  recidiviz/calculator/bq/dashboard/views/program_evaluation/us_nd/ftr_referrals_by_gender_60_days.py
  recidiviz/calculator/bq/dashboard/views/program_evaluation/us_nd/ftr_referrals_by_lsir_60_days.py
  recidiviz/calculator/bq/dashboard/views/program_evaluation/us_nd/ftr_referrals_by_month.py
  recidiviz/calculator/bq/dashboard/views/program_evaluation/us_nd/ftr_referrals_by_race_and_ethnicity_60_days.py
  recidiviz/calculator/bq/dashboard/views/reference/persons_on_supervision_60_days.py
  recidiviz/calculator/bq/dashboard/views/reference/persons_with_age.py
  recidiviz/calculator/bq/dashboard/views/reference/persons_with_most_recent_lsir.py
  recidiviz/calculator/bq/dashboard/views/reference/reference_views.py
  recidiviz/calculator/bq/dashboard/views/reference/us_nd/__init__.py
  recidiviz/calculator/bq/dashboard/views/reference/us_nd/ftr_referrals_60_days.py
  recidiviz/calculator/bq/dashboard/views/supervision/supervision_population_by_age_60_days.py
  recidiviz/calculator/bq/dashboard/views/supervision/supervision_population_by_gender_60_days.py
  recidiviz/calculator/bq/dashboard/views/supervision/supervision_population_by_lsir_60_days.py
  recidiviz/calculator/bq/dashboard/views/supervision/supervision_views.py
  recidiviz/calculator/bq/dashboard/views/view_manager.py
Due: generate_docs_for_endpoint

Updating supervision success to be person-based (Recidiviz/recidiviz-data#2551)
  recidiviz/calculator/bq/dashboard/views/reference/reference_views.py
  recidiviz/calculator/bq/dashboard/views/reference/supervision_success_by_person.py
  recidiviz/calculator/bq/dashboard/views/supervision/supervision_termination_by_type_by_month.py
Due: generate_docs_for_endpoint

Fix populate_data return type in scraper_template (Recidiviz/recidiviz-data#2514)
  recidiviz/tools/scraper_template/region_scraper.txt
Due: generate_docs_for_endpoint

Parse supervising officer from docstars_offendercases and add it to all open supervision periods (Recidiviz/recidiviz-data#2558)
  recidiviz/ingest/direct/regions/us_nd/us_nd_controller.py
  recidiviz/ingest/models/ingest_info.proto
  recidiviz/ingest/models/ingest_info.py
  recidiviz/ingest/models/ingest_info_pb2.py
  recidiviz/ingest/models/ingest_info_pb2.pyi
  recidiviz/ingest/scrape/ingest_utils.py
  recidiviz/persistence/database/migrations/state/versions/2019_10_18_2008_4616432309a9_add_supervising_officer_to_person.py
  recidiviz/persistence/database/schema/state/schema.py
  recidiviz/persistence/entity/state/entities.py
  recidiviz/persistence/entity_matching/state/state_entity_matcher.py
  recidiviz/persistence/entity_matching/state/state_matching_utils.py
  recidiviz/persistence/ingest_info_converter/state/state_converter.py
  recidiviz/tests/ingest/models/ingest_info_test.py
  recidiviz/tests/ingest/scrape/ingest_utils_test.py
  recidiviz/tests/persistence/entity/state/entities_test_utils.py
  recidiviz/tests/persistence/entity_matching/state/state_entity_matcher_test.py
  recidiviz/tests/persistence/ingest_info_converter/state/state_converter_test.py
Due: generate_docs_for_region, generate_docs_for_endpoint, generate_entity_documentation

add external_id to supervision period when parsing docstars_offendercases (Recidiviz/recidiviz-data#2559)
  recidiviz/ingest/direct/regions/us_nd/us_nd_docstars_offendercasestable.yaml
Due: generate_docs_for_region, generate_docs_for_endpoint

Add facility name to the state aggregate mappings. (Recidiviz/recidiviz-data#2562)
  recidiviz/calculator/bq/views/state_aggregates/mappings.py
  recidiviz/calculator/bq/views/state_aggregates/state_aggregate_mappings.py
Due: generate_docs_for_endpoint

Update UsTxBrazos file tag and map enums (Recidiviz/recidiviz-data#2560)
  recidiviz/common/constants/bond.py
  recidiviz/ingest/direct/regions/us_tx_brazos/us_tx_brazos_VERABrazosJailData.yaml
  recidiviz/ingest/direct/regions/us_tx_brazos/us_tx_brazos_controller.py
Due: generate_docs_for_region, generate_docs_for_endpoint

Including state_person_history in the export (Recidiviz/recidiviz-data#2570)
  recidiviz/calculator/bq/export_config.py
Due: generate_docs_for_endpoint

Adds issue templates for the repository. (Recidiviz/recidiviz-data#2575)
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/ISSUE_TEMPLATE/general-task.md
Due: none

Updates the contribution guidelines. (Recidiviz/recidiviz-data#2576)
  CONTRIBUTING.md
Due: none

Adds a pull request template for the repository. (Recidiviz/recidiviz-data#2574)
  .github/pull_request_template.md
Due: none

Revocation rate by county 60 days (Recidiviz/recidiviz-data#2573)
  recidiviz/calculator/bq/dashboard/views/reference/persons_on_supervision_60_days_with_county_and_revocation.py
  recidiviz/calculator/bq/dashboard/views/reference/persons_with_last_known_address.py
  recidiviz/calculator/bq/dashboard/views/reference/reference_views.py
  recidiviz/calculator/bq/dashboard/views/revocations/revocation_rate_by_county_60_days.py
  recidiviz/calculator/bq/dashboard/views/revocations/revocations_views.py
  recidiviz/ingest/direct/regions/us_nd/us_nd_docstars_offenders.yaml
Due: generate_docs_for_region, generate_docs_for_endpoint

Update to template (Recidiviz/recidiviz-data#2582)
  .github/pull_request_template.md
Due: none

Properly merge parent-child links discovered after both entities are committed (Recidiviz/recidiviz-data#2563)
  recidiviz/persistence/database/database.py
  recidiviz/persistence/database/schema/state/dao.py
  recidiviz/persistence/entity_matching/entity_matching_types.py
  recidiviz/persistence/entity_matching/state/state_entity_matcher.py
  recidiviz/persistence/entity_matching/state/state_matching_utils.py
  recidiviz/persistence/persistence.py
  recidiviz/tests/persistence/database/schema/state/dao_test.py
  recidiviz/tests/persistence/entity_matching/state/state_entity_matcher_test.py
  recidiviz/tests/persistence/entity_matching/state/state_matching_utils_test.py
  recidiviz/tests/persistence/state_persistence_test.py
Due: generate_docs_for_endpoint

Add session.no_autoflush to actual matching code. (Recidiviz/recidiviz-data#2588)
  recidiviz/persistence/entity_matching/state/state_entity_matcher.py
Due: generate_docs_for_endpoint

Properly exclude multiparent entities from database cleanup step (Recidiviz/recidiviz-data#2589)
  recidiviz/persistence/entity_matching/entity_matching_types.py
  recidiviz/persistence/entity_matching/state/state_entity_matcher.py
  recidiviz/tests/persistence/database/schema/state/schema_test_utils.py
  recidiviz/tests/persistence/entity_matching/state/state_entity_matcher_test.py
Due: generate_docs_for_endpoint

Add default agent_type to placeholder checks (Recidiviz/recidiviz-data#2591)
  recidiviz/common/constants/state/state_agent.py
  recidiviz/persistence/database/migrations/state/versions/2019_10_27_1902_62e8cba7e710_add_agent_type_present_without_info.py
  recidiviz/persistence/database/schema/state/schema.py
  recidiviz/persistence/entity/entity_utils.py
  recidiviz/persistence/entity_matching/state/state_matching_utils.py
  recidiviz/tests/persistence/entity_matching/state/state_entity_matcher_test.py
Due: generate_docs_for_endpoint, generate_entity_documentation

allow replacement of singular standalone entities (Recidiviz/recidiviz-data#2590)
  recidiviz/persistence/entity_matching/state/state_entity_matcher.py
  recidiviz/persistence/entity_matching/state/state_matching_utils.py
  recidiviz/tests/persistence/database/schema/state/schema_test_utils.py
  recidiviz/tests/persistence/entity_matching/state/state_entity_matcher_test.py
  recidiviz/tests/persistence/entity_matching/state/state_matching_utils_test.py
Due: generate_docs_for_endpoint

Don't require user approval before continuing. (Recidiviz/recidiviz-data#2571)
  deploy_production.sh
Due: none

Reorganize while loop so that logs display correct info (Recidiviz/recidiviz-data#2594)
  recidiviz/persistence/entity_matching/state/state_entity_matcher.py
Due: generate_docs_for_endpoint

[MO yaml mappings] Add tak001_offender_indentification mappings (Recidiviz/recidiviz-data#2583)
  recidiviz/common/constants/person_characteristics.py
  recidiviz/ingest/direct/controllers/gcsfs_direct_ingest_utils.py
  recidiviz/ingest/direct/direct_ingest_controller_utils.py
  recidiviz/ingest/direct/regions/us_mo/__init__.py
  recidiviz/ingest/direct/regions/us_mo/manifest.yaml
  recidiviz/ingest/direct/regions/us_mo/us_mo_controller.py
  recidiviz/ingest/direct/regions/us_mo/us_mo_tak001_offender_identification.yaml
  recidiviz/ingest/direct/regions/us_nd/us_nd_controller.py
  recidiviz/ingest/direct/state_shared_row_posthooks.py
  recidiviz/ingest/models/ingest_info.py
  recidiviz/persistence/entity/entity_utils.py
  recidiviz/tests/ingest/direct/controllers/gcsfs_direct_ingest_utils_test.py
  recidiviz/tests/ingest/direct/regions/base_state_direct_ingest_controller_tests.py
Due: generate_docs_for_region, generate_docs_for_endpoint

pause state export until prod rerun (Recidiviz/recidiviz-data#2600)
  cron.yaml
Due: none

Views for average change in LSI-R over time (Recidiviz/recidiviz-data#2579)
  recidiviz/calculator/bq/dashboard/views/reference/lsir_scores_by_person_period_and_date_month.py
  recidiviz/calculator/bq/dashboard/views/reference/persons_on_supervision_60_days_with_county_and_revocation.py
  recidiviz/calculator/bq/dashboard/views/reference/reference_views.py
  recidiviz/calculator/bq/dashboard/views/reference/second_and_last_lsir_scores_by_supervision_period.py
  recidiviz/calculator/bq/dashboard/views/reference/supervision_success_by_person.py
  recidiviz/calculator/bq/dashboard/views/reference/supervision_termination_by_person.py
  recidiviz/calculator/bq/dashboard/views/reference/supervision_termination_by_person_and_projected_completion.py
  recidiviz/calculator/bq/dashboard/views/reference/supervision_termination_earliest_start_latest_end.py
  recidiviz/calculator/bq/dashboard/views/reference/supervision_terminations_10_years.py
  recidiviz/calculator/bq/dashboard/views/supervision/supervision_views.py
  recidiviz/calculator/bq/dashboard/views/supervision/us_nd/__init__.py
  recidiviz/calculator/bq/dashboard/views/supervision/us_nd/average_change_lsir_score_by_month.py
Due: generate_docs_for_endpoint

UsTxBrazos infer_release in direct ingest cleanup step (Recidiviz/recidiviz-data#2580)
  recidiviz/ingest/direct/controllers/gcsfs_direct_ingest_controller.py
  recidiviz/ingest/direct/regions/us_tx_brazos/us_tx_brazos_controller.py
Due: generate_docs_for_region, generate_docs_for_endpoint

Make all BQ query calculations explicitly person-based (Recidiviz/recidiviz-data#2593)
  recidiviz/calculator/bq/dashboard/views/admissions/admissions_by_type_60_days.py
  recidiviz/calculator/bq/dashboard/views/admissions/admissions_by_type_by_month.py
  recidiviz/calculator/bq/dashboard/views/admissions/admissions_versus_releases_by_month.py
  recidiviz/calculator/bq/dashboard/views/program_evaluation/us_nd/ftr_referrals_by_month.py
  recidiviz/calculator/bq/dashboard/views/reference/incarceration_admissions_60_days.py
  recidiviz/calculator/bq/dashboard/views/reference/incarceration_admissions_by_person_60_days.py
  recidiviz/calculator/bq/dashboard/views/reference/incarceration_admissions_by_person_and_month.py
  recidiviz/calculator/bq/dashboard/views/reference/incarceration_admissions_deduped.py
  recidiviz/calculator/bq/dashboard/views/reference/incarceration_releases_by_person_and_month.py
  recidiviz/calculator/bq/dashboard/views/reference/incarceration_releases_deduped.py
  recidiviz/calculator/bq/dashboard/views/reference/persons_on_supervision_60_days_with_county_and_revocation.py
  recidiviz/calculator/bq/dashboard/views/reference/reference_views.py
  recidiviz/calculator/bq/dashboard/views/revocations/revocations_by_county_60_days.py
  recidiviz/calculator/bq/dashboard/views/revocations/revocations_by_month.py
  recidiviz/calculator/bq/dashboard/views/revocations/revocations_by_officer_60_days.py
  recidiviz/calculator/bq/dashboard/views/revocations/revocations_by_race_and_ethnicity_60_days.py
  recidiviz/calculator/bq/dashboard/views/revocations/revocations_by_supervision_type_by_month.py
  recidiviz/calculator/bq/dashboard/views/revocations/revocations_by_violation_type_by_month.py
Due: generate_docs_for_endpoint

Reorganize entity matching to allow for state specific matching code. (Recidiviz/recidiviz-data#2608)
  recidiviz/persistence/entity_matching/entity_matching.py
  recidiviz/persistence/entity_matching/state/base_state_matching_delegate.py
  recidiviz/persistence/entity_matching/state/state_entity_matcher.py
  recidiviz/persistence/entity_matching/state/state_matching_delegate_factory.py
  recidiviz/persistence/entity_matching/state/state_matching_utils.py
  recidiviz/persistence/entity_matching/state/us_mo/__init__.py
  recidiviz/persistence/entity_matching/state/us_mo/us_mo_matching_delegate.py
  recidiviz/persistence/entity_matching/state/us_nd/__init__.py
  recidiviz/persistence/entity_matching/state/us_nd/us_nd_matching_delegate.py
  recidiviz/persistence/entity_matching/state/us_nd/us_nd_matching_utils.py
  recidiviz/tests/ingest/direct/regions/base_state_direct_ingest_controller_tests.py
  recidiviz/tests/persistence/entity_matching/state/base_state_entity_matcher_test.py
  recidiviz/tests/persistence/entity_matching/state/state_entity_matcher_test.py
  recidiviz/tests/persistence/entity_matching/state/state_matching_utils_test.py
  recidiviz/tests/persistence/entity_matching/state/us_nd/__init__.py
  recidiviz/tests/persistence/entity_matching/state/us_nd/us_nd_entity_matcher_test.py
  recidiviz/tests/persistence/entity_matching/state/us_nd/us_nd_matching_utils_test.py
  recidiviz/tests/persistence/state_persistence_test.py
Due: generate_docs_for_endpoint

fix UsTxBrazos infer_release (Recidiviz/recidiviz-data#2610)
  recidiviz/ingest/direct/regions/us_tx_brazos/us_tx_brazos_controller.py
Due: generate_docs_for_region, generate_docs_for_endpoint

re-enable cron (Recidiviz/recidiviz-data#2611)
  cron.yaml
Due: none

Make the scraper phase queue WAYYYYYYYY faster. (Recidiviz/recidiviz-data#2613)
  recidiviz/common/google_cloud/google_cloud_task_queue_config.py
Due: generate_docs_for_endpoint

UsTxBrazos ignore 'Released' rows (Recidiviz/recidiviz-data#2615)
  recidiviz/ingest/direct/regions/us_tx_brazos/us_tx_brazos_controller.py
Due: generate_docs_for_region, generate_docs_for_endpoint

UsTxBrazos use ingest date from file suffix (Recidiviz/recidiviz-data#2614)
  recidiviz/ingest/direct/controllers/base_direct_ingest_controller.py
  recidiviz/ingest/direct/regions/us_tx_brazos/us_tx_brazos_controller.py
  recidiviz/tests/ingest/direct/direct_ingest_util.py
Due: generate_docs_for_region, generate_docs_for_endpoint

[MO yaml mappings] Add tak040_offender_cycles mappings (Recidiviz/recidiviz-data#2597)
  recidiviz/ingest/direct/controllers/csv_gcsfs_direct_ingest_controller.py
  recidiviz/ingest/direct/regions/us_mo/us_mo_controller.py
  recidiviz/ingest/direct/regions/us_mo/us_mo_tak040_offender_cycles.yaml
  recidiviz/ingest/direct/regions/us_nd/us_nd_controller.py
  recidiviz/ingest/direct/state_shared_row_posthooks.py
  recidiviz/ingest/extractor/README.md
Due: generate_docs_for_region, generate_docs_for_endpoint

read_enum_errors and parse output directly (Recidiviz/recidiviz-data#2561)
  recidiviz/tools/read_enum_errors.py
Due: generate_docs_for_endpoint
