Repository Recidiviz/pulse-data: changes, and which pre-commit hooks are due for each by the changed paths.
All: generate_docs_for_region, generate_docs_for_endpoint, generate_entity_documentation

generate_docs_for_region:
  name: generate_docs_for_region
  entry: pipenv run python -m recidiviz.tools.docs.region_documentation_generator
  language: system
  require_serial: true

generate_docs_for_endpoint:
  name: generate_docs_for_endpoint
  entry: pipenv run python -m recidiviz.tools.docs.endpoint_documentation_generator
  language: system
  require_serial: true

generate_entity_documentation:
  name: generate_entity_documentation
  entry: pipenv run python -m recidiviz.tools.docs.entity_documentation_generator
  language: system
  require_serial: true

Reformatting queries to remove unneeded joins (Recidiviz/recidiviz-data#2659)
  recidiviz/calculator/query/state/views/admissions/admissions_by_type_by_month.py
  recidiviz/calculator/query/state/views/reference/supervision_success_by_person.py
  recidiviz/calculator/query/state/views/revocations/revocation_rate_by_county_60_days.py
  recidiviz/calculator/query/state/views/revocations/revocations_by_supervision_type_by_month.py
  recidiviz/calculator/query/state/views/revocations/revocations_by_violation_type_by_month.py
  recidiviz/calculator/query/state/views/supervision/supervision_termination_by_type_by_month.py
Due: generate_docs_for_endpoint

Add new SupervisionViolation-related entities for MO ingest (Recidiviz/recidiviz-data#2667)
  recidiviz/ingest/models/ingest_info.proto
  recidiviz/ingest/models/ingest_info.py
  recidiviz/ingest/models/ingest_info_pb2.py
  recidiviz/ingest/models/ingest_info_pb2.pyi
  recidiviz/ingest/scrape/ingest_utils.py
  recidiviz/persistence/database/migrations/state/versions/2019_11_22_1850_481077bd8e34_new_mo_columns.py
  recidiviz/persistence/database/schema/state/schema.py
  recidiviz/persistence/entity/entity_utils.py
  recidiviz/persistence/entity/state/entities.py
  recidiviz/persistence/ingest_info_converter/state/entity_helpers/state_incarceration_sentence.py
  recidiviz/persistence/ingest_info_converter/state/entity_helpers/state_supervision_violated_condition_entry.py
  recidiviz/persistence/ingest_info_converter/state/entity_helpers/state_supervision_violation_response_decision_type_entry.py
  recidiviz/persistence/ingest_info_converter/state/entity_helpers/state_supervision_violation_type_entry.py
  recidiviz/persistence/ingest_info_converter/state/state_converter.py
  recidiviz/tests/ingest/models/ingest_info_test.py
  recidiviz/tests/ingest/scrape/ingest_utils_test.py
  recidiviz/tests/persistence/database/database_test_utils.py
  recidiviz/tests/persistence/database/history/base_historical_snapshot_updater_test.py
  recidiviz/tests/persistence/database/history/state/historical_snapshot_updater_test.py
  recidiviz/tests/persistence/database/schema_utils_test.py
  recidiviz/tests/persistence/entity/state/entities_test_utils.py
  recidiviz/tests/persistence/ingest_info_converter/state/entity_helpers/state_incarceration_sentence_test.py
  recidiviz/tests/persistence/ingest_info_converter/state/state_converter_test.py
Due: generate_docs_for_endpoint, generate_entity_documentation

Ingests supervision violations and violation responses for Missouri [skip validation] (Recidiviz/recidiviz-data#2673)
  recidiviz/common/constants/state/enum_canonical_strings.py
  recidiviz/common/constants/state/state_supervision_violation_response.py
  recidiviz/ingest/direct/regions/us_mo/us_mo_constants.py
  recidiviz/ingest/direct/regions/us_mo/us_mo_controller.py
  recidiviz/ingest/direct/regions/us_mo/us_mo_tak028_tak042_tak076_tak024_violation_reports.yaml
  recidiviz/ingest/direct/regions/us_mo/us_mo_tak292_tak291_tak024_citations.yaml
  recidiviz/ingest/models/ingest_info.proto
  recidiviz/ingest/models/ingest_info.py
  recidiviz/ingest/models/ingest_info_pb2.py
  recidiviz/ingest/models/ingest_info_pb2.pyi
  recidiviz/ingest/scrape/ingest_utils.py
  recidiviz/persistence/database/migrations/state/versions/2019_11_22_2038_6a107111b6a2_add_new_violation_response_decision_.py
  recidiviz/persistence/database/migrations/state/versions/2019_11_22_2229_fbf7e6528526_shorten_decision_type_entry_name.py
  recidiviz/persistence/database/schema/state/schema.py
  recidiviz/persistence/entity/core_entity.py
  recidiviz/persistence/entity/entity_utils.py
  recidiviz/persistence/entity/state/entities.py
  recidiviz/persistence/entity_matching/state/state_matching_utils.py
  recidiviz/persistence/ingest_info_converter/state/entity_helpers/state_supervision_violation_response_decision_entry.py
  recidiviz/persistence/ingest_info_converter/state/state_converter.py
  recidiviz/tests/ingest/models/ingest_info_test.py
  recidiviz/tests/ingest/scrape/ingest_utils_test.py
  recidiviz/tests/persistence/database/database_test_utils.py
  recidiviz/tests/persistence/database/schema/state/schema_test_utils.py
  recidiviz/tests/persistence/database/schema_utils_test.py
  recidiviz/tests/persistence/entity_matching/state/state_entity_matcher_test.py
  recidiviz/tests/persistence/ingest_info_converter/state/state_converter_test.py
Due: generate_docs_for_region, generate_docs_for_endpoint, generate_entity_documentation

Adds EXECUTION as a release reason for Missouri. (Recidiviz/recidiviz-data#2674)
  recidiviz/ingest/direct/regions/us_mo/us_mo_constants.py
  recidiviz/ingest/direct/regions/us_mo/us_mo_controller.py
  recidiviz/ingest/direct/regions/us_mo/us_mo_tak158_tak023_incarceration_period_from_incarceration_sentence.yaml
  recidiviz/ingest/direct/regions/us_mo/us_mo_tak158_tak023_supervision_period_from_incarceration_sentence.yaml
  recidiviz/ingest/direct/regions/us_mo/us_mo_tak158_tak024_incarceration_period_from_supervision_sentence.yaml
  recidiviz/ingest/direct/regions/us_mo/us_mo_tak158_tak024_supervision_period_from_supervision_sentence.yaml
Due: generate_docs_for_region, generate_docs_for_endpoint

Fix entity matching bug about violations in staging add US MO entity matching tests (Recidiviz/recidiviz-data#2678)
  recidiviz/persistence/entity_matching/state/state_entity_matcher.py
  recidiviz/tests/persistence/entity_matching/state/base_state_entity_matcher_test.py
  recidiviz/tests/persistence/entity_matching/state/us_mo/us_mo_entity_matcher_test.py
  recidiviz/tests/persistence/entity_matching/state/us_nd/us_nd_entity_matcher_test.py
Due: generate_docs_for_endpoint

remove use of ingest_object_cache from US_ND controller (Recidiviz/recidiviz-data#2651)
  recidiviz/ingest/direct/regions/us_nd/us_nd_controller.py
  recidiviz/ingest/direct/regions/us_nd/us_nd_elite_offendersentenceterms.yaml
  recidiviz/ingest/direct/state_shared_row_posthooks.py
Due: generate_docs_for_region, generate_docs_for_endpoint

Fixes a Pandas CSV issue causing cells with values of 'NA' to be lost (Recidiviz/recidiviz-data#2681)
  recidiviz/ingest/direct/controllers/csv_gcsfs_direct_ingest_controller.py
Due: generate_docs_for_endpoint

Ingests a flag indicating if a sentence is a death sentence or not for Missouri [skip validation] (Recidiviz/recidiviz-data#2676)
  recidiviz/ingest/direct/regions/us_mo/us_mo_sql_queries.md
  recidiviz/ingest/direct/regions/us_mo/us_mo_tak022_tak023_tak025_tak026_offender_sentence_institution.yaml
  recidiviz/ingest/models/ingest_info.py
Due: generate_docs_for_region, generate_docs_for_endpoint

Update MO Controller to handle the violations with SupervisionSentence and IncarcerationSentences with the same external id (Recidiviz/recidiviz-data#2684)
  recidiviz/ingest/direct/regions/us_mo/us_mo_controller.py
  recidiviz/persistence/entity_matching/state/us_mo/us_mo_matching_delegate.py
  recidiviz/persistence/entity_matching/state/us_mo/us_mo_matching_utils.py
  recidiviz/tests/persistence/entity_matching/state/us_mo/us_mo_entity_matcher_test.py
  recidiviz/tests/persistence/entity_matching/state/us_mo/us_mo_entity_matching_utils_test.py
Due: generate_docs_for_region, generate_docs_for_endpoint

Load GCSFS files to local disk and read lazily in ingest (Recidiviz/recidiviz-data#2685)
  recidiviz/ingest/direct/controllers/base_direct_ingest_controller.py
  recidiviz/ingest/direct/controllers/csv_gcsfs_direct_ingest_controller.py
  recidiviz/ingest/direct/controllers/direct_ingest_gcs_file_system.py
  recidiviz/ingest/direct/controllers/direct_ingest_types.py
  recidiviz/ingest/direct/controllers/gcsfs_direct_ingest_controller.py
  recidiviz/ingest/direct/regions/us_ma_middlesex/us_ma_middlesex_controller.py
  recidiviz/ingest/direct/regions/us_tx_brazos/us_tx_brazos_controller.py
  recidiviz/tests/ingest/direct/controllers/gcsfs_direct_ingest_controller_test.py
  recidiviz/tests/ingest/direct/direct_ingest_util.py
  recidiviz/tests/ingest/direct/regions/base_direct_ingest_controller_tests.py
  recidiviz/tests/ingest/direct/regions/base_state_direct_ingest_controller_tests.py
  recidiviz/tests/ingest/fixtures.py
Due: generate_docs_for_region, generate_docs_for_endpoint

Fixes inconsistent file tag reference for Missouri. (Recidiviz/recidiviz-data#2669)
  recidiviz/ingest/direct/regions/us_mo/us_mo_controller.py
  recidiviz/ingest/direct/regions/us_mo/us_mo_sql_queries.md
  recidiviz/ingest/direct/regions/us_mo/us_mo_tak291_tak292_tak024_citations.yaml
Due: generate_docs_for_region, generate_docs_for_endpoint

[Mo mappings] Simplifies supervision type ingest for Missouri [skip validation] (Recidiviz/recidiviz-data#2691)
  recidiviz/common/constants/state/state_supervision.py
  recidiviz/ingest/direct/regions/us_mo/us_mo_constants.py
  recidiviz/ingest/direct/regions/us_mo/us_mo_controller.py
  recidiviz/ingest/direct/regions/us_mo/us_mo_tak158_tak023_supervision_period_from_incarceration_sentence.yaml
  recidiviz/ingest/direct/regions/us_mo/us_mo_tak158_tak024_supervision_period_from_supervision_sentence.yaml
  recidiviz/persistence/database/migrations/state/versions/2019_12_02_1428_55e0dc20d315_add_supervision_type_external_unknown.py
  recidiviz/persistence/database/schema/state/schema.py
Due: generate_docs_for_region, generate_docs_for_endpoint, generate_entity_documentation

Enforce that rerunning ingestion on the same set of files produces the same set of results. (Recidiviz/recidiviz-data#2690)
  recidiviz/ingest/direct/regions/us_mo/us_mo_controller.py
Due: generate_docs_for_region, generate_docs_for_endpoint

fill out SupervisionSentence.completion_date from TERM column (Recidiviz/recidiviz-data#2702)
  recidiviz/ingest/direct/regions/us_nd/us_nd_controller.py
  recidiviz/ingest/direct/regions/us_nd/us_nd_docstars_offendercasestable.yaml
Due: generate_docs_for_region, generate_docs_for_endpoint

Create many to many link between SupervisionPeriods and SupervisionViolations (Recidiviz/recidiviz-data#2698)
  recidiviz/ingest/models/ingest_info.proto
  recidiviz/ingest/models/ingest_info.py
  recidiviz/ingest/models/ingest_info_pb2.py
  recidiviz/ingest/models/ingest_info_pb2.pyi
  recidiviz/ingest/scrape/ingest_utils.py
  recidiviz/persistence/database/migrations/state/versions/2019_12_03_2051_fac36567b24b_many_to_many_violations_link.py
  recidiviz/persistence/database/schema/state/schema.py
  recidiviz/persistence/database/schema_entity_converter/base_schema_entity_converter.py
  recidiviz/persistence/database/schema_entity_converter/county/schema_entity_converter.py
  recidiviz/persistence/database/schema_entity_converter/state/schema_entity_converter.py
  recidiviz/persistence/entity/state/entities.py
  recidiviz/persistence/entity_matching/state/state_entity_matcher.py
  recidiviz/persistence/entity_matching/state/state_matching_utils.py
  recidiviz/persistence/ingest_info_converter/state/state_converter.py
  recidiviz/tests/calculator/utils/extractor_utils_test.py
  recidiviz/tests/ingest/models/ingest_info_test.py
  recidiviz/tests/ingest/scrape/ingest_utils_test.py
  recidiviz/tests/persistence/database/database_test_utils.py
  recidiviz/tests/persistence/database/schema_entity_converter/base_schema_entity_converter_test.py
  recidiviz/tests/persistence/database/schema_utils_test.py
  recidiviz/tests/persistence/entity/state/entities_test_utils.py
  recidiviz/tests/persistence/entity_matching/state/state_entity_matcher_test.py
  recidiviz/tests/persistence/entity_matching/state/us_mo/us_mo_entity_matcher_test.py
  recidiviz/tests/persistence/entity_matching/state/us_mo/us_mo_entity_matching_utils_test.py
  recidiviz/tests/persistence/entity_matching/state/us_nd/us_nd_entity_matcher_test.py
  recidiviz/tests/persistence/entity_matching/state/us_nd/us_nd_matching_utils_test.py
  recidiviz/tests/persistence/ingest_info_converter/state/state_converter_test.py
Due: generate_docs_for_endpoint, generate_entity_documentation

Makes person-based periods deterministic (Recidiviz/recidiviz-data#2700)
  recidiviz/calculator/query/state/views/reference/incarceration_admissions_by_person_60_days.py
  recidiviz/calculator/query/state/views/reference/incarceration_admissions_by_person_and_month.py
  recidiviz/calculator/query/state/views/reference/incarceration_admissions_deduped.py
  recidiviz/calculator/query/state/views/reference/incarceration_releases_by_person_and_month.py
  recidiviz/calculator/query/state/views/reference/incarceration_releases_deduped.py
Due: generate_docs_for_endpoint

[MO mappings] Query time boundary checks (Recidiviz/recidiviz-data#2699)
  recidiviz/ingest/direct/regions/us_mo/us_mo_sql_queries.md
  recidiviz/ingest/direct/regions/us_mo/us_mo_sql_queries.py
  recidiviz/ingest/direct/regions/us_mo/us_mo_tak028_tak042_tak076_tak024_violation_reports.yaml
  recidiviz/ingest/direct/regions/us_mo/us_mo_tak291_tak292_tak024_citations.yaml
Due: generate_docs_for_region, generate_docs_for_endpoint

parse dates as None if the string is 0 (Recidiviz/recidiviz-data#2703)
  recidiviz/common/str_field_utils.py
  recidiviz/tests/common/str_field_utils_test.py
Due: generate_docs_for_endpoint

Adds year counts to supervision population pipeline (Recidiviz/recidiviz-data#2686)
  recidiviz/calculator/pipeline/recidivism/identifier.py
  recidiviz/calculator/pipeline/supervision/calculator.py
  recidiviz/calculator/pipeline/supervision/identifier.py
  recidiviz/calculator/pipeline/supervision/metrics.py
  recidiviz/calculator/pipeline/supervision/pipeline.py
  recidiviz/calculator/pipeline/supervision/supervision_month.py
  recidiviz/calculator/pipeline/supervision/supervision_time_bucket.py
  recidiviz/calculator/pipeline/utils/incarceration_period_utils.py
  recidiviz/tests/calculator/calculator_test_utils.py
  recidiviz/tests/calculator/pipeline/recidivism/calculator_test.py
  recidiviz/tests/calculator/pipeline/recidivism/identifier_test.py
  recidiviz/tests/calculator/pipeline/supervision/calculator_test.py
  recidiviz/tests/calculator/pipeline/supervision/identifier_test.py
  recidiviz/tests/calculator/pipeline/supervision/pipeline_test.py
  recidiviz/tests/calculator/pipeline/supervision/supervision_time_bucket_test.py
  recidiviz/tests/calculator/utils/incarceration_period_utils_test.py
Due: generate_docs_for_endpoint

Fixes entity hydration from supervision violation response to supervision violation in the Dataflow pipelines. (Recidiviz/recidiviz-data#2708)
  recidiviz/calculator/pipeline/utils/extractor_utils.py
  recidiviz/tests/calculator/pipeline/utils/__init__.py
  recidiviz/tests/calculator/pipeline/utils/beam_utils_test.py
  recidiviz/tests/calculator/pipeline/utils/calculate_cloud_task_manager_test.py
  recidiviz/tests/calculator/pipeline/utils/calculator_utils_test.py
  recidiviz/tests/calculator/pipeline/utils/dataflow_monitor_manager_test.py
  recidiviz/tests/calculator/pipeline/utils/entity_hydration_utils_test.py
  recidiviz/tests/calculator/pipeline/utils/execution_utils_test.py
  recidiviz/tests/calculator/pipeline/utils/extractor_utils_test.py
  recidiviz/tests/calculator/pipeline/utils/incarceration_period_utils_test.py
  recidiviz/tests/calculator/pipeline/utils/us_nd_utils_test.py
Due: generate_docs_for_endpoint

add specialized purpose for incarceration (Recidiviz/recidiviz-data#2705)
  recidiviz/common/constants/state/enum_canonical_strings.py
  recidiviz/common/constants/state/state_incarceration_period.py
  recidiviz/ingest/direct/regions/us_mo/us_mo_controller.py
  recidiviz/ingest/direct/regions/us_mo/us_mo_tak158_tak023_incarceration_period_from_incarceration_sentence.yaml
  recidiviz/ingest/direct/regions/us_mo/us_mo_tak158_tak024_incarceration_period_from_supervision_sentence.yaml
  recidiviz/ingest/models/ingest_info.proto
  recidiviz/ingest/models/ingest_info.py
  recidiviz/ingest/models/ingest_info_pb2.py
  recidiviz/ingest/models/ingest_info_pb2.pyi
  recidiviz/persistence/database/migrations/state/versions/2019_12_06_1259_b32740e287af_add_incarceration_purpose.py
  recidiviz/persistence/database/schema/state/schema.py
  recidiviz/persistence/entity/state/entities.py
  recidiviz/persistence/ingest_info_converter/state/entity_helpers/state_incarceration_period.py
  recidiviz/tests/ingest/scrape/ingest_utils_test.py
  recidiviz/tests/persistence/database/schema/state/schema_test.py
  recidiviz/tests/persistence/ingest_info_converter/state/entity_helpers/state_incarceration_period_test.py
Due: generate_docs_for_region, generate_docs_for_endpoint, generate_entity_documentation

add logging for entity counts in entity matching (Recidiviz/recidiviz-data#2710)
  recidiviz/persistence/entity_matching/state/state_entity_matcher.py
  recidiviz/persistence/entity_matching/state/state_matching_utils.py
Due: generate_docs_for_endpoint

Update all MO period SQL queries to allow us to split MO subcycles in pieces (Recidiviz/recidiviz-data#2706)
  recidiviz/common/constants/state/enum_canonical_strings.py
  recidiviz/common/constants/state/state_supervision_period.py
  recidiviz/ingest/direct/regions/us_mo/us_mo_constants.py
  recidiviz/ingest/direct/regions/us_mo/us_mo_controller.py
  recidiviz/ingest/direct/regions/us_mo/us_mo_sql_queries.py
  recidiviz/ingest/direct/regions/us_mo/us_mo_tak158_tak023_incarceration_period_from_incarceration_sentence.yaml
  recidiviz/ingest/direct/regions/us_mo/us_mo_tak158_tak023_tak026_incarceration_period_from_incarceration_sentence.yaml
  recidiviz/ingest/direct/regions/us_mo/us_mo_tak158_tak023_tak026_supervision_period_from_incarceration_sentence.yaml
  recidiviz/ingest/direct/regions/us_mo/us_mo_tak158_tak024_incarceration_period_from_supervision_sentence.yaml
  recidiviz/ingest/direct/regions/us_mo/us_mo_tak158_tak024_tak026_incarceration_period_from_supervision_sentence.yaml
  recidiviz/ingest/direct/regions/us_mo/us_mo_tak158_tak024_tak026_supervision_period_from_supervision_sentence.yaml
  recidiviz/persistence/database/migrations/state/versions/2019_12_06_1439_5cadacdb6849_supervision_period_absconsion_types.py
  recidiviz/persistence/database/schema/state/schema.py
Due: generate_docs_for_region, generate_docs_for_endpoint, generate_entity_documentation

Adds support for writing revocation count metrics to BigQuery from the supervision pipeline. (Recidiviz/recidiviz-data#2709)
  recidiviz/calculator/pipeline/recidivism/pipeline.py
  recidiviz/calculator/pipeline/supervision/calculator.py
  recidiviz/calculator/pipeline/supervision/metrics.py
  recidiviz/calculator/pipeline/supervision/pipeline.py
  recidiviz/tests/calculator/pipeline/supervision/calculator_test.py
  recidiviz/tests/calculator/pipeline/supervision/pipeline_test.py
Due: generate_docs_for_endpoint

Adds DB migration to change the recently added state_incarceration_period_release_reason from EXECUTED to EXECUTION [skip validation]. (Recidiviz/recidiviz-data#2713)
  recidiviz/persistence/database/migrations/state/versions/2019_12_06_2330_738101d364d4_fix_release_reason_execution.py
Due: generate_docs_for_endpoint

Properly handle periods that begin and end on the same day (Recidiviz/recidiviz-data#2719)
  recidiviz/ingest/direct/regions/us_mo/us_mo_sql_queries.py
Due: generate_docs_for_region, generate_docs_for_endpoint

add external ids to StateSupervisionViolationResponse and group citations by date (Recidiviz/recidiviz-data#2712)
  recidiviz/ingest/direct/regions/us_mo/us_mo_controller.py
  recidiviz/ingest/direct/regions/us_mo/us_mo_sql_queries.py
  recidiviz/ingest/direct/regions/us_mo/us_mo_tak291_tak292_tak024_citations.yaml
  recidiviz/persistence/entity/entity_utils.py
  recidiviz/persistence/entity_matching/state/state_entity_matcher.py
  recidiviz/persistence/entity_matching/state/us_mo/us_mo_matching_delegate.py
  recidiviz/persistence/entity_matching/state/us_mo/us_mo_matching_utils.py
  recidiviz/tests/persistence/entity_matching/state/us_mo/us_mo_entity_matcher_test.py
  recidiviz/tests/persistence/entity_matching/state/us_mo/us_mo_entity_matching_utils_test.py
Due: generate_docs_for_region, generate_docs_for_endpoint

order queries by person and cycle for speed (Recidiviz/recidiviz-data#2718)
  recidiviz/ingest/direct/regions/us_mo/us_mo_sql_queries.py
Due: generate_docs_for_region, generate_docs_for_endpoint

Do not create orphaned entities after merging entities with multiple parents in entity matching (Recidiviz/recidiviz-data#2717)
  recidiviz/persistence/entity/entity_utils.py
  recidiviz/persistence/entity_matching/state/state_entity_matcher.py
  recidiviz/persistence/entity_matching/state/state_matching_utils.py
  recidiviz/tests/ingest/direct/regions/base_state_direct_ingest_controller_tests.py
  recidiviz/tests/persistence/entity/entity_utils_test.py
  recidiviz/tests/persistence/entity/state/entities_test_utils.py
  recidiviz/tests/persistence/entity_matching/state/base_state_entity_matcher_test.py
  recidiviz/tests/persistence/entity_matching/state/state_entity_matcher_test.py
  recidiviz/tests/persistence/entity_matching/state/state_matching_utils_test.py
Due: generate_docs_for_endpoint

Ingest finally formed information for violation responses (Recidiviz/recidiviz-data#2720)
  recidiviz/ingest/direct/regions/us_mo/us_mo_controller.py
  recidiviz/ingest/direct/regions/us_mo/us_mo_sql_queries.py
  recidiviz/ingest/direct/regions/us_mo/us_mo_tak028_tak042_tak076_tak024_violation_reports.yaml
  recidiviz/ingest/direct/regions/us_mo/us_mo_tak291_tak292_tak024_citations.yaml
  recidiviz/ingest/models/ingest_info.proto
  recidiviz/ingest/models/ingest_info.py
  recidiviz/ingest/models/ingest_info_pb2.py
  recidiviz/ingest/models/ingest_info_pb2.pyi
  recidiviz/persistence/database/migrations/state/versions/2019_12_11_1750_fc12db0546e3_add_is_draft_to_svr.py
  recidiviz/persistence/database/schema/state/schema.py
  recidiviz/persistence/entity/state/entities.py
  recidiviz/persistence/ingest_info_converter/state/entity_helpers/state_supervision_violation_response.py
  recidiviz/tests/persistence/ingest_info_converter/state/entity_helpers/state_supervision_violation_response_test.py
Due: generate_docs_for_region, generate_docs_for_endpoint, generate_entity_documentation

Fixes typo found in Missouri query comment. (Recidiviz/recidiviz-data#2726)
  recidiviz/ingest/direct/regions/us_mo/us_mo_sql_queries.py
Due: generate_docs_for_region, generate_docs_for_endpoint

Update MO IP/SP admission and release/termination reason overrides to use both relevant subcycle codes (Recidiviz/recidiviz-data#2721)
  recidiviz/ingest/direct/regions/us_mo/us_mo_constants.py
  recidiviz/ingest/direct/regions/us_mo/us_mo_controller.py
  recidiviz/ingest/direct/regions/us_mo/us_mo_tak158_tak023_tak026_incarceration_period_from_incarceration_sentence.yaml
  recidiviz/ingest/direct/regions/us_mo/us_mo_tak158_tak023_tak026_supervision_period_from_incarceration_sentence.yaml
  recidiviz/ingest/direct/regions/us_mo/us_mo_tak158_tak024_tak026_incarceration_period_from_supervision_sentence.yaml
  recidiviz/ingest/direct/regions/us_mo/us_mo_tak158_tak024_tak026_supervision_period_from_supervision_sentence.yaml
  recidiviz/ingest/direct/state_shared_row_posthooks.py
Due: generate_docs_for_region, generate_docs_for_endpoint

[MO ingest] Some SQL changes to improve accuracy (Recidiviz/recidiviz-data#2727)
  recidiviz/common/constants/state/enum_canonical_strings.py
  recidiviz/common/constants/state/state_supervision_violation_response.py
  recidiviz/ingest/direct/regions/us_mo/us_mo_controller.py
  recidiviz/ingest/direct/regions/us_mo/us_mo_sql_queries.py
  recidiviz/ingest/direct/regions/us_mo/us_mo_tak028_tak042_tak076_tak024_violation_reports.yaml
  recidiviz/persistence/database/migrations/state/versions/2019_12_13_1538_10f86afc929c_privileges_revoked_decision.py
  recidiviz/persistence/database/schema/state/schema.py
  recidiviz/persistence/entity/entity_utils.py
Due: generate_docs_for_region, generate_docs_for_endpoint, generate_entity_documentation

Add non-external id matching for MO supervision violation responses (Recidiviz/recidiviz-data#2730)
  recidiviz/ingest/direct/regions/us_mo/us_mo_controller.py
  recidiviz/persistence/entity_matching/state/us_mo/us_mo_matching_delegate.py
  recidiviz/tests/ingest/direct/regions/base_direct_ingest_controller_tests.py
Due: generate_docs_for_region, generate_docs_for_endpoint

add supervision type from supervision sentence in nd (Recidiviz/recidiviz-data#2731)
  recidiviz/ingest/direct/regions/us_nd/us_nd_controller.py
Due: generate_docs_for_region, generate_docs_for_endpoint

Add indexes to all relationships in the schema (Recidiviz/recidiviz-data#2734)
  recidiviz/persistence/database/migrations/state/versions/2019_12_16_1802_f46410b7d550_index_backedges.py
  recidiviz/persistence/database/schema/state/schema.py
Due: generate_docs_for_endpoint, generate_entity_documentation

[MO ingest] Give Board Holdover incarceration periods temporary hold statuses (Recidiviz/recidiviz-data#2735)
  recidiviz/common/constants/state/state_incarceration_period.py
  recidiviz/ingest/direct/regions/us_mo/us_mo_constants.py
  recidiviz/ingest/direct/regions/us_mo/us_mo_controller.py
  recidiviz/tests/ingest/direct/regions/base_direct_ingest_controller_tests.py
  recidiviz/tests/ingest/direct/regions/base_state_direct_ingest_controller_tests.py
  recidiviz/tests/utils/test_utils.py
Due: generate_docs_for_region, generate_docs_for_endpoint

[MO ingest] More period status adjustments (Recidiviz/recidiviz-data#2737)
  recidiviz/common/constants/state/state_incarceration_period.py
  recidiviz/ingest/direct/regions/us_mo/us_mo_controller.py
Due: generate_docs_for_region, generate_docs_for_endpoint

Adds officer and district to revocation metrics (Recidiviz/recidiviz-data#2733)
  recidiviz/calculator/pipeline/supervision/calculator.py
  recidiviz/calculator/pipeline/supervision/identifier.py
  recidiviz/calculator/pipeline/supervision/metrics.py
  recidiviz/calculator/pipeline/supervision/pipeline.py
  recidiviz/calculator/pipeline/supervision/supervision_time_bucket.py
  recidiviz/tests/calculator/pipeline/supervision/identifier_test.py
  recidiviz/tests/calculator/pipeline/supervision/pipeline_test.py
Due: generate_docs_for_endpoint

Path conditions:
  generate_docs_for_region: any of: ^recidiviz/ingest/direct/regions/
  generate_docs_for_endpoint: any of: ^recidiviz/, but not: (?x)(^recidiviz/tests/|^recidiviz/tools/|^recidiviz/ingest/direct/regions/)$

  generate_entity_documentation: any of: (?x)(^recidiviz/persistence/database/schema/state/schema.py|^recidiviz/persistence/database/schema/history_table_shared_columns_mixin.py)$

