Repository Recidiviz/pulse-data: changes, and which pre-commit hooks are due for each by the changed paths.
All: clear_notebook_files, validate_scripts_and_notebooks_are_changed_together, generate_docs_for_region, generate_docs_for_endpoint, generate_entity_documentation, generate_calc_documentation, generate_ingest_mappings_schema_documentation, update_terraform_lock_file, terraform_fmt, alphabetize_yaml, generate_lookml

clear_notebook_files:
  name: Clear Output of Jupyter Notebook
  description: Clears output of Jupyter Notebooks
  stages:
  - pre-commit
  language: system
  entry: jupyter nbconvert --ClearOutputPreprocessor.enabled=True --inplace
  pass_filenames: true

validate_scripts_and_notebooks_are_changed_together:
  name: validate_scripts_and_notebooks_are_changed_together
  entry: pipenv run python -m recidiviz.research.validate_script_changes_pre_commit
  language: system
  require_serial: true

generate_docs_for_region:
  name: generate_docs_for_region
  entry: pipenv run python -m recidiviz.tools.docs.region_documentation_generator
  language: system
  require_serial: true

generate_docs_for_endpoint:
  name: generate_docs_for_endpoint
  entry: pipenv run python -m recidiviz.tools.docs.endpoint_documentation_generator
  language: system
  require_serial: true

generate_entity_documentation:
  name: generate_entity_documentation
  entry: pipenv run python -m recidiviz.tools.docs.entity_documentation_generator
  language: system
  require_serial: true

generate_calc_documentation:
  name: generate_calc_documentation
  entry: pipenv run python -m recidiviz.calculator.calculation_documentation_generator
  language: system
  require_serial: true

generate_ingest_mappings_schema_documentation:
  name: generate_ingest_mappings_schema_documentation
  entry: pipenv run python -m recidiviz.tools.docs.ingest_mappings_schema_documentation_generator
  language: system
  require_serial: true

update_terraform_lock_file:
  name: update_terraform_lock_file
  entry: recidiviz/tools/deploy/update_terraform_lock.sh
  language: script
  require_serial: true

terraform_fmt:
  name: terraform_fmt
  entry: recidiviz/tools/deploy/format_terraform.sh
  language: script

alphabetize_yaml:
  name: alphabetize_yaml
  entry: pipenv run python -m recidiviz.tools.alphabetize_raw_data_reference_reasons
  language: system

generate_lookml:
  name: generate_lookml
  entry: pipenv run python -m recidiviz.tools.looker.generate_all_lookml
  language: system

[US_NC] Add completion event for Credit Reviews (Recidiviz/recidiviz-data#84331)
  recidiviz/task_eligibility/completion_events/state_specific/us_nc/granted_supervision_sentence_reduction.py
  recidiviz/task_eligibility/eligibility_spans/us_nc/credit_reduction_review.py
Due: generate_calc_documentation

[batch identity clustering dag] Update pipeline to use IdentityCluster entity classes (Recidiviz/recidiviz-data#84281)
  recidiviz/persistence/entity/identity/identity_cluster_entities.py
  recidiviz/persistence/entity/identity/identity_cluster_entities_utils.py
  recidiviz/persistence/entity/identity/identity_cluster_entity.py
  recidiviz/pipelines/ingest/identity/build_identity_clusters.py
  recidiviz/pipelines/ingest/identity/cluster_entity_conversion_utils.py
  recidiviz/pipelines/ingest/identity/identity_cluster.py
  recidiviz/tests/persistence/entity/identity/identity_cluster_entities_test.py
  recidiviz/tests/persistence/entity/identity/identity_cluster_entities_utils_test.py
  recidiviz/tests/pipelines/ingest/identity/build_identity_clusters_test.py
  recidiviz/tests/pipelines/ingest/identity/cluster_entity_conversion_utils_test.py
  recidiviz/tests/pipelines/ingest/identity/identity_cluster_test.py
Due: none

[US_NC] Add known values (Recidiviz/recidiviz-data#85884)
  recidiviz/ingest/direct/regions/us_ca/ingest_mappings/us_ca_person.yaml
Due: generate_docs_for_region

[US_MI] bump threshold for product_roster_blocked_30_days and invalid_reason_json_format_tes_criteria_spans (Recidiviz/recidiviz-data#85882)
  recidiviz/validation/config/regions/us_mi/us_mi_validation_config.yaml
Due: none

[US_CO] Add all known values from code table (Recidiviz/recidiviz-data#85868)
  recidiviz/ingest/direct/regions/us_co/us_co_eomis_known_values_datanames.py
Due: generate_docs_for_region

[Looker] Add HCRP route planner metrics to Tasks Impact explore (Recidiviz/recidiviz-data#86070)
  recidiviz/tools/looker/aggregated_metrics/custom_tasks_metrics_configurations.py
Due: generate_lookml

[batch identity clustering dag] Generate identity BQ output schemas (Recidiviz/recidiviz-data#84686)
  recidiviz/ingest/direct/regions/us_ar/identity_config.yaml
  recidiviz/ingest/direct/regions/us_az/identity_config.yaml
  recidiviz/ingest/direct/regions/us_ca/identity_config.yaml
  recidiviz/ingest/direct/regions/us_co/identity_config.yaml
  recidiviz/ingest/direct/regions/us_ia/identity_config.yaml
  recidiviz/ingest/direct/regions/us_id/identity_config.yaml
  recidiviz/ingest/direct/regions/us_ix/identity_config.yaml
  recidiviz/ingest/direct/regions/us_ma/identity_config.yaml
  recidiviz/ingest/direct/regions/us_me/identity_config.yaml
  recidiviz/ingest/direct/regions/us_mi/identity_config.yaml
  recidiviz/ingest/direct/regions/us_mo/identity_config.yaml
  recidiviz/ingest/direct/regions/us_nc/identity_config.yaml
  recidiviz/ingest/direct/regions/us_nd/identity_config.yaml
  recidiviz/ingest/direct/regions/us_ne/identity_config.yaml
  recidiviz/ingest/direct/regions/us_ny/identity_config.yaml
  recidiviz/ingest/direct/regions/us_or/identity_config.yaml
  recidiviz/ingest/direct/regions/us_pa/identity_config.yaml
  recidiviz/ingest/direct/regions/us_tn/identity_config.yaml
  recidiviz/ingest/direct/regions/us_tx/identity_config.yaml
  recidiviz/ingest/direct/regions/us_ut/identity_config.yaml
  recidiviz/ingest/direct/templates/us_xx/identity_config.yaml
  recidiviz/persistence/entity/entities_bq_schema.py
  recidiviz/pipelines/ingest/activity/dataset_config.py
  recidiviz/pipelines/ingest/activity/pipeline.py
  recidiviz/pipelines/ingest/activity/pipeline_parameters.py
  recidiviz/pipelines/ingest/identity/dataset_config.py
  recidiviz/pipelines/ingest/identity/identity_ingest_pipeline_config.py
  recidiviz/pipelines/ingest/identity/pipeline.py
  recidiviz/pipelines/ingest/identity/pipeline_parameters.py
  recidiviz/pipelines/pipeline_names.py
  recidiviz/source_tables/dataflow_output_table_collector.py
  recidiviz/source_tables/identity_pipeline_output_table_collector.py
  recidiviz/tests/ingest/direct/regions/direct_ingest_region_structure_test.py
  recidiviz/tests/monitoring/platform_kpis/velocity/normalized_state_hydration_live_snapshot_test.py
  recidiviz/tests/persistence/entity/entities_bq_schema_test.py
  recidiviz/tests/pipelines/ingest/identity/identity_ingest_pipeline_config_test.py
  recidiviz/tests/pipelines/ingest/identity/pipeline_parameters_test.py
  recidiviz/tests/source_tables/dataflow_output_table_collector_test.py
  recidiviz/tests/source_tables/identity_pipeline_output_table_collector_test.py
  recidiviz/tests/source_tables/update_big_query_table_schemas_test.py
Due: generate_docs_for_region

[HCRP] Generalize route planner contact flags; add eligibility column (Recidiviz/recidiviz-data#86091)
  recidiviz/aggregated_metrics/configuration/collections/standard.py
  recidiviz/aggregated_metrics/models/aggregated_metric_configurations.py
  recidiviz/tools/looker/aggregated_metrics/custom_tasks_metrics_configurations.py
Due: generate_lookml

[Intercom] Extend IntercomAPIClient with export methods (Recidiviz/recidiviz-data#85860)
  recidiviz/intercom/client.py
  recidiviz/intercom/types.py
  recidiviz/tests/intercom/client_test.py
Due: none

[US_TX] Add RRC client_metadata view exposing active treatment programs (Recidiviz/recidiviz-data#77446)
  recidiviz/task_eligibility/utils/us_tx_query_fragments.py
  recidiviz/view_registry/deployed_address_schema_utils.py
Due: generate_calc_documentation

[Tasks] Surface is_mobile signal for Route Planner usage events (Recidiviz/recidiviz-data#86074)
  recidiviz/segment/product_type.py
  recidiviz/source_tables/externally_managed/pulse_dashboard_segment_metrics/frontend_caseload_search.yaml
  recidiviz/source_tables/externally_managed/pulse_dashboard_segment_metrics/frontend_route_planner_client_address_clicked.yaml
  recidiviz/source_tables/externally_managed/pulse_dashboard_segment_metrics/frontend_route_planner_client_address_geocoded.yaml
  recidiviz/source_tables/externally_managed/pulse_dashboard_segment_metrics/frontend_route_planner_client_address_geocoding_failure.yaml
  recidiviz/source_tables/externally_managed/pulse_dashboard_segment_metrics/frontend_route_planner_client_card_toggled_mobile.yaml
  recidiviz/source_tables/externally_managed/pulse_dashboard_segment_metrics/frontend_route_planner_client_deselected.yaml
  recidiviz/source_tables/externally_managed/pulse_dashboard_segment_metrics/frontend_route_planner_client_phone_called_mobile.yaml
  recidiviz/source_tables/externally_managed/pulse_dashboard_segment_metrics/frontend_route_planner_client_selected.yaml
  recidiviz/source_tables/externally_managed/pulse_dashboard_segment_metrics/frontend_route_planner_client_surfaced.yaml
  recidiviz/source_tables/externally_managed/pulse_dashboard_segment_metrics/frontend_route_planner_map_opened_mobile.yaml
  recidiviz/source_tables/externally_managed/pulse_dashboard_segment_metrics/frontend_route_planner_route_link_copied.yaml
  recidiviz/source_tables/externally_managed/pulse_dashboard_segment_metrics/frontend_route_planner_route_link_emailed.yaml
  recidiviz/source_tables/externally_managed/pulse_dashboard_segment_metrics/frontend_route_planner_route_link_opened.yaml
  recidiviz/source_tables/externally_managed/pulse_dashboard_segment_metrics/frontend_route_planner_starting_address_changed.yaml
Due: none

[US_TN] Adding file and column documentation to remove exemptions (Recidiviz/recidiviz-data#86133)
  recidiviz/ingest/direct/raw_data/documentation_exemptions.py
  recidiviz/tests/big_query/known_undocumented_columns.py
  recidiviz/tools/looker/__generated__/dashboards/raw_data/us_tn/us_tn_raw_data_person_details.dashboard.lookml
Due: none

[batch identity clustering dag] Write BQ tables Part 1 (Recidiviz/recidiviz-data#80421)
  recidiviz/persistence/entity/entities_module_context.py
  recidiviz/persistence/entity/entities_module_context_factory.py
  recidiviz/persistence/entity/identity/identity_cluster_entities_module_context.py
  recidiviz/persistence/entity/identity/identity_fragment_entities_module_context.py
  recidiviz/tests/monitoring/platform_kpis/velocity/normalized_state_hydration_live_snapshot_test.py
  recidiviz/tests/persistence/database/schema_entity_converter/fake_entities_module_context.py
  recidiviz/tests/persistence/entity/entities_module_context_factory_test.py
  recidiviz/tests/persistence/entity/fake_entities_module_context.py
  recidiviz/tests/persistence/entity/schema_edge_direction_checker_test.py
Due: none

[US_TN] Clean up TODOs for stale tickets (Recidiviz/recidiviz-data#86290)
  recidiviz/task_eligibility/completion_events/state_specific/us_tn/transfer_to_limited_supervision.py
  recidiviz/task_eligibility/completion_events/state_specific/us_tn/transfer_to_limited_supervision_2025_policy.py
  recidiviz/task_eligibility/criteria/general/assessed_risk_low_while_on_supervision_at_least_2_years.py
  recidiviz/task_eligibility/eligibility_spans/us_tn/transfer_intake_group_to_compliant_reporting_2025_policy.py
  recidiviz/task_eligibility/eligibility_spans/us_tn/transfer_minimum_group_to_compliant_reporting_2025_policy.py
  recidiviz/task_eligibility/eligibility_spans/us_tn/transfer_misdemeanor_probationer_group_to_compliant_reporting_2025_policy.py
  recidiviz/task_eligibility/task_completion_event_big_query_view_builder.py
  recidiviz/task_eligibility/utils/us_tn_query_fragments.py
Due: generate_calc_documentation

[US_NC] Correct dates in completion events (Recidiviz/recidiviz-data#85886)
  recidiviz/task_eligibility/completion_events/state_specific/us_nc/granted_supervision_sentence_reduction.py
Due: generate_calc_documentation

[batch identity clustering dag] Write BQ tables Part 2 (Recidiviz/recidiviz-data#86108)
  recidiviz/persistence/entity/entities_module_context.py
  recidiviz/persistence/entity/serialization.py
  recidiviz/pipelines/ingest/activity/pipeline.py
  recidiviz/pipelines/ingest/identity/pipeline.py
  recidiviz/pipelines/ingest/transforms/serialize_entities.py
  recidiviz/pipelines/ingest/transforms/write_root_entities_to_bq.py
  recidiviz/tests/big_query/load_entities_to_emulator_via_pipeline.py
  recidiviz/tests/persistence/entity/serialization_test.py
  recidiviz/tests/pipelines/ingest/transforms/serialize_entities_test.py
  recidiviz/tests/pipelines/ingest/transforms/write_root_entities_to_bq_test.py
  recidiviz/tests/pipelines/utils/run_pipeline_test_utils.py
Due: none

[US_IX] Hydrate person address periods and fix XCRC residence-verification false overdue (Recidiviz/recidiviz-data#84500)
  recidiviz/ingest/direct/raw_data/datetime_sql_parser_exemptions.py
  recidiviz/ingest/direct/regions/us_ix/ingest_mappings/us_ix_address_periods.yaml
  recidiviz/tests/source_tables/update_big_query_table_schemas_test.py
Due: generate_docs_for_region

[identity service] Flask app skeleton (Recidiviz/recidiviz-data#81463)
  Makefile
  docker-compose.identity.yaml
  docker-compose.yaml
  recidiviz/auth/helpers.py
  recidiviz/services/__init__.py
  recidiviz/services/identity/__init__.py
  recidiviz/services/identity/constants.py
  recidiviz/services/identity/exceptions.py
  recidiviz/services/identity/helpers.py
  recidiviz/services/identity/server.py
  recidiviz/tests/auth/auth_endpoint_test.py
  recidiviz/tests/auth/auth_users_endpoint_test.py
  recidiviz/tests/services/__init__.py
  recidiviz/tests/services/identity/__init__.py
  recidiviz/tests/services/identity/helpers_test.py
  recidiviz/tests/services/identity/server_test.py
  recidiviz/tests/services/identity/test_utils.py
  recidiviz/tests/utils/auth/gce_test.py
  recidiviz/tools/services/__init__.py
  recidiviz/tools/services/identity/__init__.py
  recidiviz/tools/services/identity/initialize_development_environment.sh
  recidiviz/tools/validate_source_visibility.py
  recidiviz/utils/auth/gce.py
  recidiviz/utils/metadata.py
Due: generate_docs_for_endpoint

[US_TX] Map supervision violation condition code O.37 to TECHNICAL (Recidiviz/recidiviz-data#86305)
  recidiviz/ingest/direct/regions/us_tx/ingest_mappings/us_tx_supervision_violation.yaml
Due: generate_docs_for_region

[US_NC] Guarantee that dates aren't null in completion_event_builder (Recidiviz/recidiviz-data#86308)
  recidiviz/task_eligibility/completion_events/state_specific/us_nc/granted_supervision_sentence_reduction.py
Due: generate_calc_documentation

[US_TX] Add ERS/ARS fines-and-fees pilot frequent-users static reference table (Recidiviz/recidiviz-data#86312)
  recidiviz/source_tables/externally_managed/static_reference_tables/us_tx_ers_ars_fines_fees_pilot_users.yaml
  recidiviz/tests/source_tables/source_tables_test.py
Due: none

[CNI][Extractor Config] Define the model registry config and parser (Recidiviz/recidiviz-data#84990)
  recidiviz/common/attr_validators.py
  recidiviz/documents/config/model_registry.yaml
  recidiviz/documents/extraction/__init__.py
  recidiviz/documents/extraction/models/__init__.py
  recidiviz/documents/extraction/models/llm_model_registry.py
  recidiviz/tests/common/attr_validators_test.py
  recidiviz/tests/documents/extraction/__init__.py
  recidiviz/tests/documents/extraction/models/__init__.py
  recidiviz/tests/documents/extraction/models/fixtures/bad_llm_model_registry/allowed_range_min_greater_than_max.yaml
  recidiviz/tests/documents/extraction/models/fixtures/bad_llm_model_registry/allowed_range_wrong_length.yaml
  recidiviz/tests/documents/extraction/models/fixtures/bad_llm_model_registry/duplicate_pinned_version_across_base_models.yaml
  recidiviz/tests/documents/extraction/models/fixtures/bad_llm_model_registry/float_value_for_integer_parameter.yaml
  recidiviz/tests/documents/extraction/models/fixtures/bad_llm_model_registry/missing_required_parameter_value.yaml
  recidiviz/tests/documents/extraction/models/fixtures/bad_llm_model_registry/param_value_above_max.yaml
  recidiviz/tests/documents/extraction/models/fixtures/bad_llm_model_registry/param_value_below_min.yaml
  recidiviz/tests/documents/extraction/models/fixtures/bad_llm_model_registry/unknown_model_family.yaml
  recidiviz/tests/documents/extraction/models/fixtures/bad_llm_model_registry/unknown_parameter.yaml
  recidiviz/tests/documents/extraction/models/fixtures/bad_llm_model_registry/unknown_pinned_version.yaml
  recidiviz/tests/documents/extraction/models/llm_model_registry_test.py
  recidiviz/tests/documents/fake_config/__init__.py
  recidiviz/tests/documents/fake_config/model_registry.yaml
Due: none

[batch identity clustering dag] Add Tenant enum mirroring StateCode (Recidiviz/recidiviz-data#86087)
  recidiviz/common/constants/identity.py
  recidiviz/common/constants/states.py
  recidiviz/common/constants/tenants.py
  recidiviz/persistence/database/schema/identity/schema.py
  recidiviz/tests/common/constants/tenants_test.py
Due: none

[batch identity clustering dag] Use Tenant enum in identity ingest pi… (Recidiviz/recidiviz-data#86106)
  recidiviz/persistence/entity/entities_module_context.py
  recidiviz/persistence/entity/identity/identity_cluster_entities.py
  recidiviz/persistence/entity/identity/identity_entity_mixin.py
  recidiviz/pipelines/ingest/identity/build_identity_clusters.py
  recidiviz/pipelines/ingest/identity/identity_ingest_pipeline_config.py
  recidiviz/pipelines/ingest/identity/manifest_compiler_delegate.py
  recidiviz/tests/persistence/entity/entities_module_context_factory_test.py
  recidiviz/tests/persistence/entity/identity/entities_test_utils.py
  recidiviz/tests/persistence/entity/identity/identity_cluster_entities_test.py
  recidiviz/tests/persistence/entity/identity/identity_fragment_entities_test.py
  recidiviz/tests/persistence/entity/identity/identity_fragment_entity_factories_test.py
  recidiviz/tests/persistence/entity/serialization_test.py
  recidiviz/tests/persistence/entity_matching/ingest_view_tree_merger_test.py
  recidiviz/tests/pipelines/ingest/identity/build_identity_clusters_test.py
  recidiviz/tests/pipelines/ingest/identity/cluster_entity_conversion_utils_test.py
  recidiviz/tests/pipelines/ingest/identity/get_identity_fragment_cluster_edges_test.py
  recidiviz/tests/pipelines/ingest/identity/identity_ingest_pipeline_config_test.py
  recidiviz/tests/pipelines/ingest/identity/manifest_compiler_delegate_test.py
  recidiviz/tests/pipelines/ingest/identity/merge_identity_attributes_test.py
  recidiviz/tests/pipelines/ingest/identity/merge_ingest_view_identity_fragments_test.py
  recidiviz/tests/pipelines/ingest/transforms/write_root_entities_to_bq_test.py
Due: none

[CPA] Remove REENTRY and CPA metric view export configs (Recidiviz/recidiviz-data#86107)
  recidiviz/metrics/export/export_config.py
  recidiviz/metrics/export/products/products.yaml
  recidiviz/tests/view_registry/sentences_v1_migration_burndown/us_az_sentences_v1_burndown.py
  recidiviz/tests/view_registry/sentences_v1_migration_burndown/us_ix_sentences_v1_burndown.py
  recidiviz/tests/view_registry/sentences_v1_migration_burndown/us_nd_sentences_v1_burndown.py
  recidiviz/tools/find_unused_bq_views.py
  recidiviz/view_registry/deployed_view_external_id_exemptions.py
Due: none

[Tasks] Add route planner eligible-user funnel denominator (Recidiviz/recidiviz-data#85890)
  recidiviz/aggregated_metrics/models/aggregated_metric_configurations.py
  recidiviz/observations/span_type.py
  recidiviz/tools/looker/aggregated_metrics/custom_tasks_metrics_configurations.py
Due: generate_lookml

[US_CO] Add pollen-structured BigQuery views for CO AET credit analysis (Recidiviz/recidiviz-data#82049)
  .claude/skills/pollen-view-structure/SKILL.md
  recidiviz/tests/tools/pollen/__init__.py
  recidiviz/tests/tools/pollen/refresh_scratch_views_test.py
  recidiviz/tools/pollen/__init__.py
  recidiviz/tools/pollen/refresh_scratch_views.py
Due: none

[Workflows] Validate consistency btwn opp records & resident/client records (Recidiviz/recidiviz-data#86066)
  recidiviz/task_eligibility/eligibility_spans/us_ar/work_release.py
  recidiviz/validation/configured_validations.py
Due: generate_calc_documentation

[WorkflowsMetrics] Add eligibility status archive fields to impact funnel (Recidiviz/recidiviz-data#80616)
  recidiviz/tests/big_query/known_undocumented_columns.py
  recidiviz/tools/find_unused_bq_views.py
Due: none

[Case Note Insights] Fix tokens logging issue in LLM prototype pipeline (Recidiviz/recidiviz-data#87025)
  recidiviz/NOT_FOR_PRODUCTION_USE/documents/extraction/litellm_client.py
Due: none

[US_NC] Infer supervision termination reason from incarceration adjacency (Recidiviz/recidiviz-data#86362)
  recidiviz/pipelines/utils/state_utils/state_calculation_config_manager.py
  recidiviz/pipelines/utils/state_utils/us_nc/us_nc_supervision_period_normalization_delegate.py
  recidiviz/tests/pipelines/utils/state_utils/us_nc/us_nc_supervision_period_normalization_delegate_test.py
Due: none

[US_OZ] Create fake extractor configs for Lord of the Rings characters (Recidiviz/recidiviz-data#85001)
  recidiviz/documents/config/document_collections/us_oz/fellowship_supervision_notes.yaml
  recidiviz/documents/config/extractor_collections/playground_employment_info/collection.yaml
  recidiviz/documents/config/extractor_collections/playground_employment_info/prompt_template.txt
  recidiviz/documents/config/extractor_collections/playground_employment_info/us_oz/extractor.yaml
  recidiviz/documents/config/extractor_collections/playground_housing_info/collection.yaml
  recidiviz/documents/config/extractor_collections/playground_housing_info/prompt_template.txt
  recidiviz/documents/config/extractor_collections/playground_housing_info/us_oz/extractor.yaml
  recidiviz/documents/config/reference_data/shared/acronyms.yaml
  recidiviz/documents/config/reference_data/shared/organization_types.yaml
  recidiviz/documents/config/reference_data/us_oz/acronyms.yaml
  recidiviz/documents/config/reference_data/us_oz/known_organizations.yaml
  recidiviz/tests/documents/config/__init__.py
  recidiviz/tests/documents/config/fixtures/__init__.py
  recidiviz/tests/documents/config/fixtures/us_oz_lotr_case_notes.csv
Due: none

[CNI][Document Store] Store document collection names as UPPER_SNAKE_CASE (Recidiviz/recidiviz-data#86326)
  recidiviz/common/attr_validators.py
  recidiviz/documents/config/extractor_collections/playground_employment_info/us_oz/extractor.yaml
  recidiviz/documents/config/extractor_collections/playground_housing_info/us_oz/extractor.yaml
  recidiviz/documents/store/document_collection_config.py
  recidiviz/documents/store/document_store_gcs_path_utils.py
  recidiviz/tests/common/attr_validators_test.py
  recidiviz/tests/documents/store/document_collection_config_test.py
  recidiviz/tests/documents/store/document_collection_query_builder_test.py
  recidiviz/tests/documents/store/document_metadata_table_query_builder_test.py
  recidiviz/tests/documents/store/document_metadata_updates_query_builder_test.py
  recidiviz/tests/documents/store/document_upload_status_table_test.py
  recidiviz/tests/documents/store/fixtures/metadata_updates/new_documents/upload_status_input.csv
  recidiviz/tests/documents/store/fixtures/metadata_updates/successful_uploads/upload_status_input.csv
Due: none

[Autogenerated] Update runner AMIs (Recidiviz/recidiviz-data#87024)
  .github/runs-on.yml
Due: none

[Search] Add staffExternalId to incarceration staff ETL (Recidiviz/recidiviz-data#86292)
  recidiviz/tests/workflows/etl/fixtures/incarceration_staff_record.json
  recidiviz/tests/workflows/etl/fixtures/location_record.json
  recidiviz/tests/workflows/etl/fixtures/supervision_staff_record.json
  recidiviz/tests/workflows/etl/workflows_incarceration_staff_etl_delegate_test.py
  recidiviz/tests/workflows/etl/workflows_location_etl_delegate_test.py
  recidiviz/tests/workflows/etl/workflows_supervision_staff_etl_delegate_test.py
  recidiviz/workflows/etl/workflows_incarceration_staff_etl_delegate.py
Due: none

[US_TN] adding comments to undocumented CTEs (Recidiviz/recidiviz-data#87030)
  recidiviz/tests/ingest/direct/regions/ingest_view_cte_comment_exemptions.py
Due: none

[SAR] Update Segment path filter from /sarAccess to /sar (Recidiviz/recidiviz-data#87028)
  recidiviz/segment/product_type.py
Due: none

[Autogenerated] Update uv.lock (Recidiviz/recidiviz-data#84062)
  recidiviz/tools/claude_workflows/pg_ticket_diagnosis/requirements.txt
Due: none

[US_TN] Removing outdated and irrelevant TODOs (Recidiviz/recidiviz-data#86316)
  recidiviz/ingest/direct/regions/us_tn/ingest_mappings/us_tn_AssignedStaffSupervisionPeriod_v2.yaml
  recidiviz/ingest/direct/regions/us_tn/ingest_mappings/us_tn_SentencesChargesAndCourtCases_v4.yaml
  recidiviz/persistence/entity/activity/entities.py
  recidiviz/task_eligibility/utils/preprocessed_views_query_fragments.py
Due: generate_docs_for_region, generate_calc_documentation

[Oncall] Update view timeout (Recidiviz/recidiviz-data#87053)
  recidiviz/big_query/view_update_config.py
Due: none

Path conditions:
  clear_notebook_files: any of: \.ipynb$
  validate_scripts_and_notebooks_are_changed_together: any of: ^recidiviz/research/.*notebooks/.*/nbautoexport-scripts/.*\.py$
  generate_docs_for_region: any of: ^recidiviz/ingest/direct/regions/|^recidiviz/view_registry/raw_data_reference_reasons.yaml
  generate_docs_for_endpoint: any of: (?x)(^recidiviz/tools/docs/endpoint_documentation_generator.py|^recidiviz/server_blueprint_registry.py|.*/routes/|.*routes.py|.*/server.py|.*control.py|.*endpoint.py|.*endpoints.py|^recidiviz/backup/backup_manager.py|^recidiviz/pipelines/calculation_data_storage_manager.py)$, but not: ^recidiviz/tests
  generate_entity_documentation: any of: (?x)(^recidiviz/persistence/database/schema/state/schema.py|^recidiviz/persistence/entity/state/normalized_entities.py|^recidiviz/persistence/entity/state/entities.py|^recidiviz/common/constants/state/)$

  generate_calc_documentation: any of: ^recidiviz/calculator/query/|^recidiviz/.*/views/|^recidiviz/task_eligibility/|^recidiviz/monitoring/platform_kpis/|^recidiviz/ingest/direct/regions/.*/raw_data/, but not: ^recidiviz/tests/|^recidiviz/calculator/modeling/
  generate_ingest_mappings_schema_documentation: any of: ^recidiviz/ingest/direct/ingest_mappings/yaml_schema/|^docs/engineering/ingest_mapping_schema/
  update_terraform_lock_file: any of: ^recidiviz/tools/deploy/terraform/
  terraform_fmt: any of: ^recidiviz/tools/deploy/terraform/
  alphabetize_yaml: any of: recidiviz/view_registry/raw_data_reference_reasons.yaml
  generate_lookml: any of: ^recidiviz/persistence/entity/state/|^recidiviz/tools/looker/|^recidiviz/aggregated_metrics/|^recidiviz/observations/views/|^recidiviz/ingest/direct/regions/.*/raw_data/|^recidiviz/segment/product_type/|^recidiviz/calculator/query/state/views/analyst_data/global_provisioned_user_sessions, but not: ^recidiviz/tools/looker/__generated__/
