Repository Recidiviz/pulse-data: changes, and which pre-commit hooks are due for each by the changed paths.
All: generate_docs_for_region, generate_docs_for_endpoint, generate_entity_documentation, generate_calc_documentation, generate_ingest_mappings_schema_documentation, update_terraform_lock_file

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.3.0
    hooks:
      - id: check-yaml
  - repo: https://github.com/psf/black
    rev: 22.3.0
    hooks:
      # This runs on py, pyi, and ipynb files.
      - id: black-jupyter
        language_version: python3
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v2.5.1
    hooks:
      - id: prettier
        types_or: [yaml]
  - repo: https://github.com/pycqa/isort
    rev: 5.6.4
    hooks:
      - id: isort
        name: isort (python)
      - id: isort
        name: isort (pyi)
        types: [pyi]
  - repo: local
    hooks:
      - id: generate_docs_for_region
        name: generate_docs_for_region
        entry: pipenv run python -m recidiviz.tools.docs.region_documentation_generator
        language: system
        files: ^recidiviz/ingest/direct/regions/
        require_serial: true
      - id: generate_docs_for_endpoint
        name: generate_docs_for_endpoint
        entry: pipenv run python -m recidiviz.tools.docs.endpoint_documentation_generator
        language: system
        files: ^recidiviz/
        exclude: >
          (?x)(^recidiviz/tests/|^recidiviz/tools/|^recidiviz/ingest/direct/regions/)$
        require_serial: true
      - id: generate_entity_documentation
        name: generate_entity_documentation
        entry: pipenv run python -m recidiviz.tools.docs.entity_documentation_generator
        language: system
        files: >
          (?x)(^recidiviz/persistence/database/schema/state/schema.py|^recidiviz/persistence/database/schema/history_table_shared_columns_mixin.py|^recidiviz/common/constants/state/)$
        require_serial: true
      - id: generate_calc_documentation
        name: generate_calc_documentation
        entry: pipenv run python -m recidiviz.calculator.calculation_documentation_generator
        language: system
        files: ^recidiviz/calculator/|^recidiviz/metrics/|^recidiviz/.*/views/|^recidiviz/big_query/|^recidiviz/persistence/database/schema/|^recidiviz/persistence/entity/|^recidiviz/task_eligibility/
        exclude: ^recidiviz/tests/|^recidiviz/calculator/modeling/
        require_serial: true
      - id: generate_ingest_mappings_schema_documentation
        name: generate_ingest_mappings_schema_documentation
        entry: pipenv run python -m recidiviz.tools.docs.ingest_mappings_schema_documentation_generator
        language: system
        files: ^recidiviz/ingest/direct/ingest_mappings/yaml_schema/|^docs/engineering/ingest_mapping_schema/
        require_serial: true
      - id: update_terraform_lock_file
        name: update_terraform_lock_file
        entry: recidiviz/tools/deploy/update_terraform_lock.sh
        language: script
        files: ^recidiviz/tools/deploy/terraform/
        require_serial: true

[Outliers] Remove union to reference views that created duplicates (Recidiviz/recidiviz-data#22853)
  recidiviz/calculator/query/state/views/outliers/supervision_district_managers.py
Due: generate_docs_for_endpoint, generate_calc_documentation

[US_ID] Delete legacy US_ID pipelines (Recidiviz/recidiviz-data#22855)
  recidiviz/pipelines/calculation_pipeline_templates.yaml
Due: generate_docs_for_endpoint

[a] external id validations for root entities (Recidiviz/recidiviz-data#22803)
  recidiviz/pipelines/ingest/state/validator.py
  recidiviz/tests/pipelines/ingest/state/validator_test.py
Due: generate_docs_for_endpoint

[Airflow] Set entrypoint log level (Recidiviz/recidiviz-data#22867)
  recidiviz/entrypoints/entrypoint_executor.py
Due: generate_docs_for_endpoint

Build person data LookML Explore generator (Recidiviz/recidiviz-data#22628)
  recidiviz/ingest/direct/raw_data/raw_file_configs.py
  recidiviz/ingest/direct/raw_data/raw_table_relationship_info.py
  recidiviz/looker/lookml_explore.py
  recidiviz/tests/ingest/direct/fake_regions/us_ll/raw_data/us_ll_basicData.yaml
  recidiviz/tests/ingest/direct/fake_regions/us_ll/raw_data/us_ll_datetimeNoParsers.yaml
  recidiviz/tests/ingest/direct/fake_regions/us_ll/raw_data/us_ll_manyPrimaryKeys.yaml
  recidiviz/tests/tools/looker/raw_data/fixtures/explores/raw_data/us_ll/us_ll_raw_data_template.explore.lkml
  recidiviz/tests/tools/looker/raw_data/person_details_explore_generator_test.py
  recidiviz/tests/tools/looker/raw_data/person_details_generator_test_utils.py
  recidiviz/tests/tools/looker/raw_data/person_details_lookml_writer_test.py
  recidiviz/tests/tools/looker/raw_data/person_details_view_generator_test.py
  recidiviz/tests/tools/looker/script_helpers_test.py
  recidiviz/tools/looker/raw_data/person_details_explore_generator.py
  recidiviz/tools/looker/raw_data/person_details_lookml_writer.py
  recidiviz/tools/looker/raw_data/person_details_view_generator.py
  recidiviz/tools/looker/script_helpers.py
Due: generate_docs_for_endpoint

[Justice Counts] Filter deprecated datapoints in new Agency Dashboard endpoint (Recidiviz/recidiviz-data#22882)
  recidiviz/justice_counts/datapoint.py
Due: generate_docs_for_endpoint

[US_PA][Outliers] Include missing emails in supervisor product view (Recidiviz/recidiviz-data#22857)
  recidiviz/calculator/query/state/views/outliers/supervision_officer_supervisors.py
  recidiviz/calculator/query/state/views/reference/reference_views.py
Due: generate_docs_for_endpoint, generate_calc_documentation

Fix to Auth0 Client (Recidiviz/recidiviz-data#22884)
  recidiviz/auth/auth0_client.py
  recidiviz/tests/auth/auth0_client_test.py
Due: generate_docs_for_endpoint

[Bugfix] Add proper downgrade migration for state_incarceration_period_housing_unit_category (Recidiviz/recidiviz-data#22891)
  recidiviz/persistence/database/migrations/state/versions/2023_07_16_1427_674bbfc9bd0a_add_housing_unit_category.py
  recidiviz/tests/persistence/database/migrations_test.py
Due: generate_docs_for_endpoint

Adding a queued DAG removal node after start_sftp (Recidiviz/recidiviz-data#22864)
  recidiviz/airflow/dags/sftp_dag.py
Due: generate_docs_for_endpoint

[Airflow] Reduce data volume queried in incident history; batch calls per dag; use short-lived session (Recidiviz/recidiviz-data#22895)
  recidiviz/airflow/dags/monitoring/task_failure_alerts.py
  recidiviz/airflow/tests/monitoring_dag_test.py
Due: generate_docs_for_endpoint

[Bugfix] Move check officer id parity checks to run on StatePerson updates (Recidiviz/recidiviz-data#22900)
  recidiviz/persistence/database_invariant_validator/state/state_person_invariant_validators.py
  recidiviz/persistence/database_invariant_validator/state/state_staff_invariant_validators.py
Due: generate_docs_for_endpoint

[Workflows][Texting] Handle Twilio errors and update Firestore doc with message (Recidiviz/recidiviz-data#22850)
  recidiviz/case_triage/workflows/utils.py
  recidiviz/case_triage/workflows/workflows_analytics.py
  recidiviz/case_triage/workflows/workflows_routes.py
  recidiviz/tests/case_triage/workflows/workflows_analytics_test.py
  recidiviz/tests/case_triage/workflows/workflows_routes_test.py
Due: generate_docs_for_endpoint

[Justice Counts] Save breakdown data even if it does not sum to aggregate (Recidiviz/recidiviz-data#22898)
  recidiviz/justice_counts/bulk_upload/time_range_uploader.py
Due: generate_docs_for_endpoint

fixing the SFTP DAG to use correct SQLAlchemy syntax (Recidiviz/recidiviz-data#22906)
  recidiviz/airflow/dags/sftp_dag.py
Due: generate_docs_for_endpoint

[US_IX] Created Analyst Data view for ID CRC (Recidiviz/recidiviz-data#22866)
  recidiviz/calculator/query/state/views/analyst_data/analyst_data_views.py
  recidiviz/calculator/query/state/views/analyst_data/us_ix/us_ix_parole_dates_spans_preprocessing.py
Due: generate_docs_for_endpoint, generate_calc_documentation

Adding a raw file lock manager to prevent task collision (Recidiviz/recidiviz-data#22868)
  recidiviz/fakes/fake_gcs_file_system.py
  recidiviz/ingest/direct/controllers/base_direct_ingest_controller.py
  recidiviz/ingest/direct/controllers/direct_ingest_region_lock_manager.py
  recidiviz/ingest/direct/metadata/postgres_direct_ingest_file_metadata_manager.py
  recidiviz/ingest/direct/types/cloud_task_args.py
  recidiviz/tests/ingest/direct/fakes/fake_direct_ingest_controller.py
Due: generate_docs_for_endpoint

[Airflow] Fixes branching trigger rule and acquire lock failing for consecutive calculation dag runs (Recidiviz/recidiviz-data#22722)
  recidiviz/airflow/dags/calculation_dag.py
  recidiviz/airflow/dags/utils/state_code_branch.py
  recidiviz/airflow/tests/utils/state_code_branch_test.py
  recidiviz/persistence/database/bq_refresh/cloud_sql_to_bq_refresh_control.py
  recidiviz/pipelines/pipeline_parameters.py
  recidiviz/tests/persistence/database/bq_refresh/cloud_sql_to_bq_refresh_control_test.py
  recidiviz/tests/pipelines/ingest/pipeline_parameters_test.py
  recidiviz/tests/pipelines/metrics/pipeline_parameters_test.py
  recidiviz/tests/pipelines/normalization/pipeline_parameters_test.py
  recidiviz/tests/pipelines/supplemental/pipeline_parameters_test.py
Due: generate_docs_for_endpoint

Add backslash to example usage of move_storage_raw_files_to_deprecated (Recidiviz/recidiviz-data#22720)
  recidiviz/tools/ingest/operations/move_storage_raw_files_to_deprecated.py
Due: generate_docs_for_endpoint

[US_MO] Incarceration incident view (Recidiviz/recidiviz-data#22894)
  recidiviz/ingest/direct/regions/us_mo/ingest_mappings/us_mo_incarceration_incident.yaml
  recidiviz/ingest/direct/regions/us_mo/ingest_views/view_incarceration_incident.py
  recidiviz/ingest/direct/regions/us_mo/us_mo_controller.py
  recidiviz/ingest/direct/regions/us_mo/us_mo_custom_enum_parsers.py
  recidiviz/ingest/direct/regions/us_mo/us_mo_custom_parsers.py
Due: generate_docs_for_region, generate_docs_for_endpoint

[US_OR] Conditions and Sanction tables (Recidiviz/recidiviz-data#22913)
  recidiviz/ingest/direct/regions/us_or/raw_data/us_or_RCDVZ_CISPRDDTA_CMOBLD.yaml
  recidiviz/ingest/direct/regions/us_or/raw_data/us_or_RCDVZ_CISPRDDTA_CMOBLM.yaml
  recidiviz/ingest/direct/regions/us_or/raw_data/us_or_RCDVZ_CISPRDDTA_CMOFFT.yaml
  recidiviz/ingest/direct/regions/us_or/raw_data/us_or_RCDVZ_CISPRDDTA_CMSACN.yaml
  recidiviz/ingest/direct/regions/us_or/raw_data/us_or_RCDVZ_CISPRDDTA_CMSACO.yaml
  recidiviz/ingest/direct/regions/us_or/raw_data/us_or_RCDVZ_CISPRDDTA_CMSAIM.yaml
  recidiviz/ingest/direct/regions/us_or/raw_data/us_or_RCDVZ_CISPRDDTA_OPCOND.yaml
  recidiviz/ingest/direct/regions/us_or/raw_data/us_or_RCDVZ_CISPRDDTA_OPCONE.yaml
  recidiviz/ingest/direct/regions/us_or/raw_data/us_or_RCDVZ_CISPRDDT_CLCLHD.yaml
  recidiviz/ingest/direct/regions/us_or/raw_data/us_or_RCDVZ_DOCDTA_TBCOND.yaml
Due: generate_docs_for_region, generate_docs_for_endpoint

[US_CA] Fix criteria validations after housing refactor (Recidiviz/recidiviz-data#22929)
  recidiviz/task_eligibility/criteria/state_specific/us_ca/housing_type_is_not_transient.py
  recidiviz/task_eligibility/utils/preprocessed_views_query_fragments.py
Due: generate_docs_for_endpoint, generate_calc_documentation

[BQ Refresh] Removes duplicate mock functions (Recidiviz/recidiviz-data#22918)
  recidiviz/tests/persistence/database/bq_refresh/cloud_sql_to_bq_refresh_control_test.py
Due: generate_docs_for_endpoint

[US_CO] Adding new value for SpecializedPurposeForIncarceration (Recidiviz/recidiviz-data#22933)
  recidiviz/ingest/direct/regions/us_co/ingest_mappings/us_co_IncarcerationPeriod.yaml
Due: generate_docs_for_region, generate_docs_for_endpoint

[Recidiviz/recidiviz-data#22928] Add /env endpoint for agency dashboard (Recidiviz/recidiviz-data#22931)
  recidiviz/justice_counts/control_panel/routes/api.py
Due: generate_docs_for_endpoint

[US_TN] Adding state_staff_location_period to staff_role_periods (Recidiviz/recidiviz-data#22841)
  recidiviz/ingest/direct/regions/us_tn/ingest_mappings/us_tn_StaffRoleLocationPeriods.yaml
  recidiviz/ingest/direct/regions/us_tn/ingest_views/view_StaffRoleLocationPeriods.py
  recidiviz/ingest/direct/regions/us_tn/us_tn_controller.py
Due: generate_docs_for_region, generate_docs_for_endpoint

[Cleanup] Minor TypeVars cleanup for entities in base_entity.py (Recidiviz/recidiviz-data#22910)
  recidiviz/ingest/direct/ingest_mappings/ingest_view_manifest.py
  recidiviz/ingest/direct/ingest_mappings/ingest_view_results_parser_delegate.py
  recidiviz/persistence/entity/base_entity.py
  recidiviz/persistence/entity/entity_deserialize.py
  recidiviz/persistence/entity/entity_utils.py
  recidiviz/persistence/entity_matching/ingest_view_tree_merger.py
  recidiviz/pipelines/normalization/utils/normalized_entities_utils.py
  recidiviz/tests/ingest/direct/ingest_mappings/ingest_view_results_parser_test.py
Due: generate_docs_for_endpoint, generate_calc_documentation

[US_MO] Hydrate some raw data table_relationships (Recidiviz/recidiviz-data#22859)
  recidiviz/ingest/direct/regions/us_mo/raw_data/us_mo_LBAKRDTA_TAK001.yaml
  recidiviz/ingest/direct/regions/us_mo/raw_data/us_mo_LBAKRDTA_TAK026.yaml
  recidiviz/ingest/direct/regions/us_mo/raw_data/us_mo_LBAKRDTA_TAK034.yaml
Due: generate_docs_for_region, generate_docs_for_endpoint

[Testing] Launch HTML diffs in debug mode of ingest view parser tests (Recidiviz/recidiviz-data#22908)
  recidiviz/tests/ingest/direct/regions/region_direct_ingest_controller_test_case.py
  recidiviz/tests/ingest/direct/regions/state_ingest_view_parser_test_base.py
  recidiviz/tests/test_debug_helpers.py
Due: generate_docs_for_endpoint

[Airflow] fix pipeline naming bug in calculation dag (Recidiviz/recidiviz-data#22936)
  recidiviz/airflow/dags/calculation_dag.py
  recidiviz/pipelines/pipeline_parameters.py
Due: generate_docs_for_endpoint

[Dataflow] Enable confidential computing; block project SSH keys (Recidiviz/recidiviz-data#22912)
  recidiviz/pipelines/pipeline_parameters.py
Due: generate_docs_for_endpoint

[reporting] separate display and ID strings in batch menu (Recidiviz/recidiviz-data#22939)
  frontends/admin-panel/src/components/POEmails/SendEmails.tsx
Due: none

[Justice Counts] Attach JC unsubscribe group to Automated Bulk Upload confirmation emails (Recidiviz/recidiviz-data#22860)
  recidiviz/justice_counts/utils/email.py
  recidiviz/reporting/sendgrid_client_wrapper.py
Due: generate_docs_for_endpoint

[US_IX] Added TPD criteria (Recidiviz/recidiviz-data#22941)
  recidiviz/calculator/query/state/views/analyst_data/us_ix/us_ix_parole_dates_spans_preprocessing.py
  recidiviz/task_eligibility/criteria/state_specific/us_ix/tentative_parole_date_within_18_months.py
  recidiviz/task_eligibility/criteria/state_specific/us_ix/tentative_parole_date_within_1_year.py
  recidiviz/task_eligibility/criteria/state_specific/us_ix/tentative_parole_date_within_7_years.py
  recidiviz/task_eligibility/utils/us_ix_query_fragments.py
Due: generate_docs_for_endpoint, generate_calc_documentation

remove most of the PO report views (Recidiviz/recidiviz-data#20266)
  recidiviz/calculator/query/experiments/views/case_triage_feedback_actions.py
  recidiviz/calculator/query/experiments/views/case_triage_metrics.py
  recidiviz/calculator/query/experiments/views/officer_assignments.py
  recidiviz/calculator/query/state/dataset_config.py
  recidiviz/calculator/query/state/view_config.py
  recidiviz/calculator/query/state/views/analyst_data/officer_events.py
  recidiviz/calculator/query/state/views/overdue_discharge_alert/overdue_discharge_alert_data_views.py
  recidiviz/calculator/query/state/views/po_report/__init__.py
  recidiviz/calculator/query/state/views/po_report/absconsion_reports_by_person_by_month.py
  recidiviz/calculator/query/state/views/po_report/current_action_items_by_person.py
  recidiviz/calculator/query/state/views/po_report/po_monthly_report_data.py
  recidiviz/calculator/query/state/views/po_report/po_report_views.py
  recidiviz/calculator/query/state/views/po_report/report_data_by_officer_by_month.py
  recidiviz/calculator/query/state/views/po_report/report_data_by_person_by_month.py
  recidiviz/calculator/query/state/views/po_report/revocation_reports_by_person_by_month.py
  recidiviz/calculator/query/state/views/po_report/sendgrid_po_report_email_events.py
  recidiviz/calculator/query/state/views/po_report/successful_supervision_completions_by_person_by_month.py
  recidiviz/calculator/query/state/views/po_report/supervision_compliance_by_person_by_month.py
  recidiviz/calculator/query/state/views/po_report/supervision_downgrades_by_person_by_month.py
  recidiviz/calculator/query/state/views/po_report/supervision_earned_discharge_requests_by_person_by_month.py
  recidiviz/calculator/query/state/views/po_report/violation_reports_query.py
  recidiviz/calculator/query/state/views/sessions/supervision_downgrade_sessions.py
  recidiviz/calculator/query/state/views/shared_metric/officer_supervision_district_association.py
  recidiviz/calculator/query/state/views/shared_metric/shared_metric_views.py
  recidiviz/metrics/export/export_config.py
  recidiviz/metrics/export/products/products.yaml
  recidiviz/tests/validation/configured_validations_test.py
  recidiviz/tools/calculator/compare_metric_view_output_to_sandbox.py
  recidiviz/validation/config/regions/us_pa/us_pa_validation_config.yaml
  recidiviz/validation/configured_validations.py
  recidiviz/validation/views/state/po_report_avgs_per_district_state.py
  recidiviz/validation/views/state/po_report_clients.py
  recidiviz/validation/views/state/po_report_distinct_by_officer_month.py
  recidiviz/validation/views/state/po_report_missing_fields.py
  recidiviz/validation/views/view_config.py
Due: generate_docs_for_endpoint, generate_calc_documentation

[Airflow] Fix pipeline job name with sandbox prefix should not have underscores (Recidiviz/recidiviz-data#22956)
  recidiviz/pipelines/pipeline_parameters.py
  recidiviz/tests/pipelines/ingest/pipeline_parameters_test.py
  recidiviz/tests/pipelines/metrics/pipeline_parameters_test.py
  recidiviz/tests/pipelines/normalization/pipeline_parameters_test.py
  recidiviz/tests/pipelines/supplemental/pipeline_parameters_test.py
  recidiviz/tests/pipelines/utils/run_pipeline_test_utils.py
Due: generate_docs_for_endpoint

[Admin Panel] only add fv to remove if it has a name (Recidiviz/recidiviz-data#22938)
  frontends/admin-panel/src/components/StateUserPermissions/utils.tsx
Due: none

Adding beam temporary datasets to the list of datasets to be deleted (Recidiviz/recidiviz-data#22948)
  recidiviz/pipelines/calculation_data_storage_manager.py
  recidiviz/tests/pipelines/calculation_data_storage_manager_test.py
  recidiviz/tools/delete_temp_bq_tables.py
  recidiviz/tools/deploy/terraform/cloud-scheduler.tf
Due: generate_docs_for_endpoint, update_terraform_lock_file

[US_IX] Bump some validation thresholds (Recidiviz/recidiviz-data#22972)
  recidiviz/validation/config/regions/us_ix/us_ix_validation_config.yaml
Due: generate_docs_for_endpoint

Refactors views to reference officer external id's via dataflow `supervising_officer_staff_id` field (Recidiviz/recidiviz-data#21907)
  recidiviz/calculator/query/bq_utils.py
  recidiviz/calculator/query/state/views/analyst_data/us_id/us_id_raw_projected_discharges.py
  recidiviz/calculator/query/state/views/analyst_data/us_mo/us_mo_raw_projected_discharges.py
  recidiviz/calculator/query/state/views/analyst_data/us_nd/us_nd_raw_projected_discharges.py
  recidiviz/calculator/query/state/views/analyst_data/us_pa/us_pa_raw_projected_discharges.py
  recidiviz/calculator/query/state/views/analyst_data/us_pa/us_pa_raw_required_treatment.py
  recidiviz/calculator/query/state/views/sessions/dataflow_sessions.py
  recidiviz/calculator/query/state/views/sessions/sessions_views.py
  recidiviz/calculator/query/state/views/sessions/state_staff_id_to_legacy_supervising_officer_external_id.py
  recidiviz/calculator/query/state/views/sessions/supervision_officer_attribute_sessions.py
  recidiviz/calculator/query/state/views/sessions/us_pa/us_pa_supervision_population_metrics_preprocessed.py
  recidiviz/calculator/query/state/views/sessions/us_tn/us_tn_supervision_population_metrics_preprocessed.py
  recidiviz/calculator/query/state/views/shared_metric/event_based_commitments_from_supervision.py
  recidiviz/calculator/query/state/views/shared_metric/event_based_commitments_from_supervision_for_matrix.py
  recidiviz/calculator/query/state/views/shared_metric/event_based_supervision_populations.py
  recidiviz/calculator/query/state/views/shared_metric/single_day_supervision_population_for_spotlight.py
  recidiviz/calculator/query/state/views/shared_metric/supervision_matrix_by_person.py
  recidiviz/calculator/query/state/views/shared_metric/supervision_termination_matrix_by_person.py
  recidiviz/calculator/query/state/views/vitals_report/supervision_officers_and_districts.py
  recidiviz/calculator/query/state/views/workflows/firestore/us_nd_complete_discharge_early_from_supervision_record.py
  recidiviz/case_triage/views/etl_clients.py
  recidiviz/tools/export_csg_files.py
  recidiviz/validation/config/regions/us_ca/us_ca_validation_config.yaml
  recidiviz/validation/config/regions/us_co/us_co_validation_config.yaml
  recidiviz/validation/views/state/dataflow_metrics/dataflow_metric_fields_all_null.py
  recidiviz/validation/views/state/multiple_supervision_info_for_commitment_admission.py
  recidiviz/validation/views/state/supervision_population_person_level_template.py
Due: generate_docs_for_endpoint, generate_calc_documentation
