Repository Recidiviz/pulse-data: changes, and which pre-commit hooks are due for each by the changed paths.
All: generate_docs_for_region, generate_docs_for_endpoint, generate_entity_documentation, generate_calc_documentation, generate_ingest_mappings_schema_documentation, update_terraform_lock_file

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.3.0
    hooks:
      - id: check-yaml
  - repo: https://github.com/psf/black
    rev: 22.3.0
    hooks:
      # This runs on py, pyi, and ipynb files.
      - id: black-jupyter
        language_version: python3
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v2.5.1
    hooks:
      - id: prettier
        types_or: [yaml]
  - repo: https://github.com/pycqa/isort
    rev: 5.6.4
    hooks:
      - id: isort
        name: isort (python)
      - id: isort
        name: isort (pyi)
        types: [pyi]
  - repo: local
    hooks:
      - id: generate_docs_for_region
        name: generate_docs_for_region
        entry: pipenv run python -m recidiviz.tools.docs.region_documentation_generator
        language: system
        files: ^recidiviz/ingest/direct/regions/
        require_serial: true
      - id: generate_docs_for_endpoint
        name: generate_docs_for_endpoint
        entry: pipenv run python -m recidiviz.tools.docs.endpoint_documentation_generator
        language: system
        files: ^recidiviz/
        exclude: >
          (?x)(^recidiviz/tests/|^recidiviz/tools/|^recidiviz/ingest/direct/regions/)$
        require_serial: true
      - id: generate_entity_documentation
        name: generate_entity_documentation
        entry: pipenv run python -m recidiviz.tools.docs.entity_documentation_generator
        language: system
        files: >
          (?x)(^recidiviz/persistence/database/schema/state/schema.py|^recidiviz/persistence/database/schema/history_table_shared_columns_mixin.py|^recidiviz/common/constants/state/)$
        require_serial: true
      - id: generate_calc_documentation
        name: generate_calc_documentation
        entry: pipenv run python -m recidiviz.calculator.calculation_documentation_generator
        language: system
        files: ^recidiviz/calculator/|^recidiviz/metrics/|^recidiviz/.*/views/|^recidiviz/big_query/|^recidiviz/persistence/database/schema/|^recidiviz/persistence/entity/|^recidiviz/task_eligibility/
        exclude: ^recidiviz/tests/|^recidiviz/calculator/modeling/
        require_serial: true
      - id: generate_ingest_mappings_schema_documentation
        name: generate_ingest_mappings_schema_documentation
        entry: pipenv run python -m recidiviz.tools.docs.ingest_mappings_schema_documentation_generator
        language: system
        files: ^recidiviz/ingest/direct/ingest_mappings/yaml_schema/|^docs/engineering/ingest_mapping_schema/
        require_serial: true
      - id: update_terraform_lock_file
        name: update_terraform_lock_file
        entry: recidiviz/tools/deploy/update_terraform_lock.sh
        language: script
        files: ^recidiviz/tools/deploy/terraform/
        require_serial: true

[Justice Counts] Add last_visit column to AgencyUserAccountAssociation table (Recidiviz/recidiviz-data#25801)
  recidiviz/justice_counts/agency_user_account_association.py
  recidiviz/justice_counts/control_panel/routes/api.py
  recidiviz/persistence/database/migrations/justice_counts/versions/2023_11_30_1202_d51d80b1ef6d_add_last_visit_column.py
  recidiviz/persistence/database/schema/justice_counts/schema.py
  recidiviz/tests/justice_counts/control_panel/server_test.py
Due: generate_docs_for_endpoint, generate_calc_documentation

[US_ME] Bump validation threshold (Recidiviz/recidiviz-data#26053)
  recidiviz/validation/config/regions/us_me/us_me_validation_config.yaml
Due: generate_docs_for_endpoint

[US_OR] Adding missing Sentence type enum (Recidiviz/recidiviz-data#26029)
  recidiviz/ingest/direct/regions/us_or/ingest_mappings/us_or_Sentences.yaml
Due: generate_docs_for_region, generate_docs_for_endpoint

[US_OZ] Ingest period from SM (Recidiviz/recidiviz-data#25931)
  recidiviz/ingest/direct/regions/us_oz/ingest_mappings/us_oz_sm_periods.yaml
  recidiviz/ingest/direct/regions/us_oz/ingest_views/view_sm_periods.py
  recidiviz/ingest/direct/regions/us_oz/us_oz_controller.py
Due: generate_docs_for_region, generate_docs_for_endpoint

[US_AR] YAML for employment history table (Recidiviz/recidiviz-data#26031)
  recidiviz/ingest/direct/regions/us_ar/raw_data/us_ar_EMPLOYMENTHISTORY.yaml
Due: generate_docs_for_region, generate_docs_for_endpoint

[Admin Panel] separate workflows route into supervision and facilities (Recidiviz/recidiviz-data#25985)
  frontends/admin-panel/src/components/StateUserPermissions/CustomPermissionsPanel.tsx
  frontends/admin-panel/src/components/StateUserPermissions/PermissionSelect.tsx
  frontends/admin-panel/src/components/StateUserPermissions/__tests__/CustomPermissionsPanel.test.ts
  frontends/admin-panel/src/components/constants.ts
Due: none

[Airflow] Add Cloud NAT to GKE pods (Recidiviz/recidiviz-data#26086)
  recidiviz/tools/deploy/terraform/cloud-composer.tf
Due: generate_docs_for_endpoint, update_terraform_lock_file

Revert "[Airflow] Add Cloud NAT to GKE pods" (Recidiviz/recidiviz-data#26089)
  recidiviz/tools/deploy/terraform/cloud-composer.tf
Due: generate_docs_for_endpoint, update_terraform_lock_file

[US_MO] Restrictive Housing - Criteria Stubs and Opportunity Record Query for Pilot (Recidiviz/recidiviz-data#25389)
  recidiviz/aggregated_metrics/models/aggregated_metric_configurations.py
  recidiviz/calculator/query/state/views/analyst_data/analyst_data_views.py
  recidiviz/calculator/query/state/views/analyst_data/us_mo/us_mo_restrictive_housing_record.py
  recidiviz/calculator/query/state/views/reference/workflows_opportunity_configs.py
  recidiviz/calculator/query/state/views/workflows/firestore/firestore_views.py
  recidiviz/calculator/query/state/views/workflows/firestore/us_mo_overdue_restrictive_housing_initial_hearing.py
  recidiviz/calculator/query/state/views/workflows/firestore/us_mo_overdue_restrictive_housing_release.py
  recidiviz/calculator/query/state/views/workflows/firestore/us_mo_overdue_restrictive_housing_review_hearing.py
  recidiviz/task_eligibility/completion_events/state_specific/us_mo/initial_hearing_occurred.py
  recidiviz/task_eligibility/completion_events/state_specific/us_mo/release_from_restrictive_housing.py
  recidiviz/task_eligibility/completion_events/state_specific/us_mo/review_hearing_occurred.py
  recidiviz/task_eligibility/criteria/state_specific/us_mo/d1_sanction_after_most_recent_hearing.py
  recidiviz/task_eligibility/criteria/state_specific/us_mo/d1_sanction_after_restrictive_housing_start.py
  recidiviz/task_eligibility/criteria/state_specific/us_mo/hearing_or_next_review_since_restrictive_housing_start.py
  recidiviz/task_eligibility/criteria/state_specific/us_mo/initial_hearing_past_due_date.py
  recidiviz/task_eligibility/criteria/state_specific/us_mo/no_active_d1_sanctions.py
  recidiviz/task_eligibility/criteria/state_specific/us_mo/no_hearing_or_next_review_since_restrictive_housing_start.py
  recidiviz/task_eligibility/criteria/state_specific/us_mo/overdue_for_release.py
  recidiviz/task_eligibility/criteria/state_specific/us_mo/past_latest_scheduled_review_date.py
  recidiviz/task_eligibility/eligibility_spans/us_mo/overdue_restrictive_housing_initial_hearing.py
  recidiviz/task_eligibility/eligibility_spans/us_mo/overdue_restrictive_housing_release.py
  recidiviz/task_eligibility/eligibility_spans/us_mo/overdue_restrictive_housing_review_hearing.py
  recidiviz/task_eligibility/task_completion_event_big_query_view_builder.py
  recidiviz/task_eligibility/utils/us_mo_query_fragments.py
Due: generate_docs_for_endpoint, generate_calc_documentation

[US_ME] Add raw data YAML (Recidiviz/recidiviz-data#26094)
  recidiviz/ingest/direct/regions/us_me/raw_data/us_me_CIS_1401_CLASSIFICATION_CD.yaml
  recidiviz/ingest/direct/regions/us_me/raw_data/us_me_CIS_140_CLASSIFICATION_REVIEW.yaml
Due: generate_docs_for_region, generate_docs_for_endpoint

[Outliers] Filter for officers who currently have open person assignment periods (Recidiviz/recidiviz-data#25993)
  recidiviz/calculator/query/state/views/outliers/staff_query_template.py
  recidiviz/calculator/query/state/views/outliers/supervision_officers.py
Due: generate_docs_for_endpoint, generate_calc_documentation

[US_PA] Update PA SFTP root to use an absolute path (Recidiviz/recidiviz-data#26097)
  recidiviz/ingest/direct/regions/us_pa/us_pa_sftp_download_delegate.py
Due: generate_docs_for_region, generate_docs_for_endpoint

[Workflows][US_ND] DOCSTARS write bugfix (Recidiviz/recidiviz-data#26052)
  recidiviz/case_triage/workflows/interface.py
  recidiviz/case_triage/workflows/workflows_routes.py
  recidiviz/tests/case_triage/workflows/workflows_routes_test.py
Due: generate_docs_for_endpoint

[Address Spans Schema Change Request][Part 1] StatePersonAddressPeriod table + StatePersonAddressType enum (Recidiviz/recidiviz-data#25922)
  recidiviz/common/constants/state/enum_canonical_strings.py
  recidiviz/common/constants/state/state_person_address_period.py
  recidiviz/persistence/database/migrations/state/versions/2023_12_08_1348_7f28f8767137_address_periods.py
  recidiviz/persistence/database/schema/state/schema.py
  recidiviz/persistence/entity/entity_utils.py
  recidiviz/persistence/entity/state/deserialize_entity_factories.py
  recidiviz/persistence/entity/state/entities.py
  recidiviz/tests/persistence/database/schema/state/schema_test.py
  recidiviz/tests/persistence/database/schema_utils_test.py
  recidiviz/tests/persistence/entity/entity_utils_test.py
  recidiviz/tests/persistence/entity/state/deserialize_entity_factories_test.py
Due: generate_docs_for_endpoint, generate_entity_documentation, generate_calc_documentation

[Refactor] Remove deprecated placeholder entity checks (Recidiviz/recidiviz-data#25947)
  recidiviz/admin_panel/dataset_metadata_store.py
  recidiviz/ingest/views/enum_counter.py
  recidiviz/ingest/views/non_enum_counter.py
  recidiviz/ingest/views/state_person_counter.py
  recidiviz/persistence/entity/entity_utils.py
  recidiviz/persistence/entity_matching/ingest_view_tree_merger.py
  recidiviz/persistence/entity_matching/legacy/state/state_entity_matcher.py
  recidiviz/persistence/entity_matching/legacy/state/state_matching_utils.py
  recidiviz/pipelines/normalization/utils/normalization_managers/incarceration_period_normalization_manager.py
  recidiviz/pipelines/normalization/utils/normalization_managers/supervision_period_normalization_manager.py
  recidiviz/tests/admin_panel/dataset_metadata_store_test.py
  recidiviz/tests/persistence/entity/entity_utils_test.py
  recidiviz/tests/persistence/entity_matching/ingest_view_tree_merger_test.py
  recidiviz/tests/persistence/entity_matching/legacy/state/state_matching_utils_test.py
  recidiviz/tests/persistence/persistence_test.py
  recidiviz/tests/pipelines/metrics/supervision/identifier_test.py
  recidiviz/tests/pipelines/normalization/utils/normalization_managers/supervision_period_normalization_manager_test.py
Due: generate_docs_for_endpoint, generate_calc_documentation

[US_ND] Include non-person staff entities in state staff (Recidiviz/recidiviz-data#26111)
  recidiviz/ingest/direct/regions/us_nd/ingest_views/view_docstars_staff.py
Due: generate_docs_for_region, generate_docs_for_endpoint

[Autogenerated] Update Pipfile.lock (Recidiviz/recidiviz-data#26104)
  Pipfile.lock
Due: none

[US_IX] Add new version of migration that properly executes (Recidiviz/recidiviz-data#26114)
  recidiviz/persistence/database/migrations/state/versions/2023_12_11_1018_ac7c4dcfa0a8_us_ix_redo_violators_migration.py
Due: generate_docs_for_endpoint

Add WARRANT_STATUS enum to supervision type (Recidiviz/recidiviz-data#26121)
  recidiviz/calculator/query/state/views/sessions/compartment_level_2_dedup_priority.py
  recidiviz/common/constants/state/enum_canonical_strings.py
  recidiviz/common/constants/state/state_supervision_period.py
  recidiviz/persistence/database/migrations/state/versions/2023_12_11_1141_a2eafc022f5e_add_warrant_status_enum.py
  recidiviz/persistence/database/schema/state/schema.py
  recidiviz/pipelines/utils/entity_normalization/normalized_supervision_period_index.py
  recidiviz/pipelines/utils/supervision_period_utils.py
Due: generate_docs_for_endpoint, generate_entity_documentation, generate_calc_documentation

[Outliers] Update schema only logic for when to use empty file as source URI (Recidiviz/recidiviz-data#26096)
  recidiviz/big_query/big_query_client.py
  recidiviz/tests/big_query/big_query_client_test.py
Due: generate_docs_for_endpoint, generate_calc_documentation

Fix db migration revision (Recidiviz/recidiviz-data#26128)
  recidiviz/persistence/database/migrations/state/versions/2023_12_11_1141_a2eafc022f5e_add_warrant_status_enum.py
Due: generate_docs_for_endpoint

[Outliers] Add warrant status as valid supervision population compartment level 2 (Recidiviz/recidiviz-data#26130)
  recidiviz/calculator/query/state/views/analyst_data/models/metric_population_type.py
Due: generate_docs_for_endpoint, generate_calc_documentation

[US_TN] Adding new enum value for PurposeForIncarceration (Recidiviz/recidiviz-data#26131)
  recidiviz/ingest/direct/regions/us_tn/ingest_mappings/us_tn_OffenderMovementIncarcerationPeriod_v3.yaml
Due: generate_docs_for_region, generate_docs_for_endpoint

[Justice Counts] Write upload method types to the Datapoint table. (Recidiviz/recidiviz-data#26088)
  recidiviz/justice_counts/bulk_upload/spreadsheet_uploader.py
  recidiviz/justice_counts/bulk_upload/time_range_uploader.py
  recidiviz/justice_counts/bulk_upload/workbook_uploader.py
  recidiviz/justice_counts/control_panel/routes/api.py
  recidiviz/justice_counts/datapoint.py
  recidiviz/justice_counts/report.py
  recidiviz/justice_counts/spreadsheet.py
  recidiviz/justice_counts/utils/constants.py
  recidiviz/persistence/database/migrations/justice_counts/versions/2023_12_11_1052_e8969783a87f_add_upload_method_column_to_datapoint_.py
  recidiviz/persistence/database/schema/justice_counts/schema.py
  recidiviz/tests/justice_counts/bulk_upload/bulk_upload_test.py
  recidiviz/tests/justice_counts/control_panel/server_test.py
  recidiviz/tests/justice_counts/datapoint_test.py
  recidiviz/tests/justice_counts/report_test.py
  recidiviz/tests/justice_counts/spreadsheet_test.py
Due: generate_docs_for_endpoint, generate_calc_documentation

[Outliers] Add avg daily population unsupervised metric (Recidiviz/recidiviz-data#26135)
  recidiviz/aggregated_metrics/models/aggregated_metric_configurations.py
Due: generate_docs_for_endpoint

[US_MI] Remap admin supervision and one other in_custody level (Recidiviz/recidiviz-data#26118)
  recidiviz/ingest/direct/regions/us_mi/us_mi_custom_enum_parsers.py
  recidiviz/persistence/database/migrations/state/versions/2023_12_11_1054_6eed48eb6ff1_us_mi_admin_supervision_remap.py
Due: generate_docs_for_region, generate_docs_for_endpoint

[US_MI][Outliers] Filter out officers with a high percentage of unsupervised caseloads (Recidiviz/recidiviz-data#26137)
  recidiviz/outliers/outliers_configs.py
Due: generate_docs_for_endpoint

Revert "Revert "[Outliers] Create views in BQ for archived exports with export date" (Recidiviz/recidiviz-data#26030)" (Recidiviz/recidiviz-data#26132)
  recidiviz/calculator/query/state/views/outliers/outliers_views.py
  recidiviz/calculator/query/state/views/outliers/supervision_officer_outlier_status_archive.py
  recidiviz/calculator/query/state/views/outliers/supervision_officer_supervisors_archive.py
  recidiviz/calculator/query/state/views/outliers/supervision_officers_archive.py
  recidiviz/tools/outliers/load_local_db.py
Due: generate_docs_for_endpoint, generate_calc_documentation

[US_TN] Add incident code to note body for CLD/AR (Recidiviz/recidiviz-data#26113)
  recidiviz/task_eligibility/utils/us_tn_query_fragments.py
Due: generate_docs_for_endpoint, generate_calc_documentation

Adding a script for comparing a validation run to another for the same state (Recidiviz/recidiviz-data#25902)
  recidiviz/tests/validation/validation_manager_test.py
  recidiviz/tools/calculator/compare_validation_output_to_sandbox.py
  recidiviz/validation/checks/existence_check.py
  recidiviz/validation/checks/sameness_check.py
  recidiviz/validation/validation_models.py
  recidiviz/validation/validation_result_storage.py
Due: generate_docs_for_endpoint

Fix comment breaking deploy (Recidiviz/recidiviz-data#26139)
  recidiviz/calculator/query/state/views/outliers/staff_query_template.py
Due: generate_docs_for_endpoint, generate_calc_documentation

[Tools] Script for setting an instance status (Recidiviz/recidiviz-data#26041)
  recidiviz/tools/ingest/operations/set_ingest_instance_status.py
Due: generate_docs_for_endpoint

use supervisor-list permission instead of role or DB entry to access endpoints (Recidiviz/recidiviz-data#26095)
  recidiviz/case_triage/outliers/outliers_authorization.py
  recidiviz/case_triage/outliers/outliers_routes.py
  recidiviz/case_triage/outliers/user_context.py
  recidiviz/tests/case_triage/outliers/outliers_routes_test.py
Due: generate_docs_for_endpoint

[US_MI][Outliers] Fix call to agg metrics (Recidiviz/recidiviz-data#26146)
  recidiviz/outliers/outliers_configs.py
Due: generate_docs_for_endpoint

[GCS] Add helper for getting a path extension (Recidiviz/recidiviz-data#26147)
  recidiviz/cloud_storage/gcsfs_path.py
  recidiviz/tests/cloud_storage/gcsfs_path_test.py
Due: generate_docs_for_endpoint

[GCS] Add unzip() functionality to GCSFileSystem (Recidiviz/recidiviz-data#25831)
  recidiviz/cloud_storage/gcs_file_system.py
  recidiviz/cloud_storage/gcs_file_system_impl.py
  recidiviz/fakes/fake_gcs_file_system.py
  recidiviz/ingest/direct/gcs/direct_ingest_gcs_file_system.py
  recidiviz/tests/cloud_storage/fixtures/encoded_latin_1_and_encoded_utf_8.zip
  recidiviz/tests/cloud_storage/fixtures/example_file_structure_commas.zip
  recidiviz/tests/cloud_storage/gcs_file_system_impl_test.py
  recidiviz/tests/ingest/fixtures.py
Due: generate_docs_for_endpoint

[Ingest] Unzip zip files uploaded to the raw data bucket (Recidiviz/recidiviz-data#26148)
  recidiviz/ingest/direct/controllers/base_direct_ingest_controller.py
  recidiviz/ingest/direct/gcs/directory_path_utils.py
  recidiviz/tests/ingest/direct/gcs/directory_path_utils_test.py
  recidiviz/tools/ingest/operations/move_storage_raw_files_to_deprecated.py
Due: generate_docs_for_endpoint

OpenTelemetry followup fixes (Recidiviz/recidiviz-data#26153)
  recidiviz/airflow/dags/operators/recidiviz_kubernetes_resources.yaml
  recidiviz/entrypoints/entrypoint_executor.py
  recidiviz/monitoring/instruments.py
  recidiviz/tests/utils/monitoring_test_utils.py
Due: generate_docs_for_endpoint

[US_OZ] Added changes to StateSpecificIncarcerationNormalizationDelegate (Recidiviz/recidiviz-data#26107)
  recidiviz/pipelines/utils/state_utils/us_oz/us_oz_incarceration_period_normalization_delegate.py
  recidiviz/tests/pipelines/utils/state_utils/us_oz/us_oz_incarceration_period_normalization_delegate_test.py
Due: generate_docs_for_endpoint
