Repository Recidiviz/pulse-data: changes, and which pre-commit hooks are due for each by the changed paths.
All: generate_docs_for_region, generate_docs_for_endpoint, generate_entity_documentation

generate_docs_for_region:
  name: generate_docs_for_region
  entry: pipenv run python -m recidiviz.tools.docs.region_documentation_generator
  language: system
  require_serial: true

generate_docs_for_endpoint:
  name: generate_docs_for_endpoint
  entry: pipenv run python -m recidiviz.tools.docs.endpoint_documentation_generator
  language: system
  require_serial: true

generate_entity_documentation:
  name: generate_entity_documentation
  entry: pipenv run python -m recidiviz.tools.docs.entity_documentation_generator
  language: system
  require_serial: true

Fixing local run command (Recidiviz/recidiviz-data#3843)
  recidiviz/persistence/database/export/cloud_sql_to_bq_export_manager.py
Due: generate_docs_for_endpoint

Fix mistakes for association view setup (Recidiviz/recidiviz-data#3849)
  recidiviz/calculator/query/state/views/po_report/officer_supervision_district_association.py
  recidiviz/calculator/query/state/views/po_report/po_report_views.py
Due: generate_docs_for_endpoint

[US_ID] Add missing raw file configs (Recidiviz/recidiviz-data#3847)
  recidiviz/ingest/direct/regions/us_id/us_id_raw_data_files.yaml
Due: generate_docs_for_region, generate_docs_for_endpoint

add validation for supervision level and po caseloads (Recidiviz/recidiviz-data#3801)
  recidiviz/calculator/pipeline/supervision/identifier.py
  recidiviz/calculator/pipeline/utils/state_utils/state_calculation_config_manager.py
  recidiviz/tests/calculator/pipeline/supervision/identifier_test.py
  recidiviz/validation/configured_validations.py
  recidiviz/validation/views/state/supervision_population_person_level_external_comparison.py
Due: generate_docs_for_endpoint

Patch psycopg2 (Recidiviz/recidiviz-data#3850)
  Pipfile
  Pipfile.lock
  gevent_config.py
  gunicorn.conf.py
  recidiviz/server.py
  setup.py
Due: generate_docs_for_endpoint

Filter out null rows (Recidiviz/recidiviz-data#3859)
  recidiviz/ingest/direct/regions/us_nd/ingest_views/view_elite_offenderbookingstable.py
Due: generate_docs_for_region, generate_docs_for_endpoint

Adding prompts to prod deploy (Recidiviz/recidiviz-data#3858)
  recidiviz/tools/deploy/deploy_production.sh
Due: generate_docs_for_endpoint

[Validation] Several small validation fixes (Recidiviz/recidiviz-data#3857)
  recidiviz/big_query/big_query_view.py
  recidiviz/tests/ingest/direct/controllers/direct_ingest_ingest_view_export_manager_test.py
  recidiviz/tests/validation/checks/check_resolver_test.py
  recidiviz/tests/validation/validation_manager_test.py
  recidiviz/validation/configured_validations.py
  recidiviz/validation/validation_manager.py
  recidiviz/validation/views/state/po_report_missing_fields.py
Due: generate_docs_for_endpoint

update usage comment (Recidiviz/recidiviz-data#3863)
  recidiviz/tools/move_state_files_from_storage.py
Due: generate_docs_for_endpoint

Turn off gevent monitor thread (Recidiviz/recidiviz-data#3871)
  gevent_config.py
  staging.yaml
Due: none

Config changes for having ID ingest going in prod (with sql preprocessing) (Recidiviz/recidiviz-data#3870)
  recidiviz/ingest/direct/regions/us_id/manifest.yaml
  recidiviz/tests/validation/validation_manager_test.py
Due: generate_docs_for_region, generate_docs_for_endpoint

Fixes wrong view reference (Recidiviz/recidiviz-data#3876)
  recidiviz/calculator/query/state/views/reference/supervision_period_to_agent_association.py
Due: generate_docs_for_endpoint

updated id configs (Recidiviz/recidiviz-data#3875)
  recidiviz/ingest/direct/regions/us_id/us_id_raw_data_files.yaml
Due: generate_docs_for_region, generate_docs_for_endpoint

Fix ORDER BY in association query to sort by count (Recidiviz/recidiviz-data#3872)
  recidiviz/calculator/query/state/views/po_report/officer_supervision_district_association.py
Due: generate_docs_for_endpoint

[PA ingest] Ingest point-in-time district office information (Recidiviz/recidiviz-data#3866)
  recidiviz/calculator/pipeline/utils/state_utils/state_calculation_config_manager.py
  recidiviz/ingest/direct/controllers/direct_ingest_big_query_view_types.py
  recidiviz/ingest/direct/regions/us_id/us_id_controller.py
  recidiviz/ingest/direct/regions/us_pa/ingest_views/view_supervision_period.py
  recidiviz/ingest/direct/regions/us_pa/us_pa_controller.py
  recidiviz/ingest/direct/regions/us_pa/us_pa_raw_data_files.yaml
  recidiviz/ingest/direct/regions/us_pa/us_pa_supervision_period.yaml
  recidiviz/ingest/direct/state_shared_row_posthooks.py
  recidiviz/tests/ingest/direct/controllers/direct_ingest_big_query_view_types_test.py
  recidiviz/tests/ingest/direct/regions/us_pa/fixtures/supervision_period.csv
  recidiviz/tests/ingest/direct/regions/us_pa/us_pa_controller_test.py
Due: generate_docs_for_region, generate_docs_for_endpoint

Dynamically building characteristics_dict in calculator (Recidiviz/recidiviz-data#3867)
  recidiviz/calculator/pipeline/incarceration/calculator.py
  recidiviz/calculator/pipeline/incarceration/incarceration_event.py
  recidiviz/calculator/pipeline/program/calculator.py
  recidiviz/calculator/pipeline/program/metrics.py
  recidiviz/calculator/pipeline/program/program_event.py
  recidiviz/calculator/pipeline/recidivism/calculator.py
  recidiviz/calculator/pipeline/recidivism/release_event.py
  recidiviz/calculator/pipeline/supervision/calculator.py
  recidiviz/calculator/pipeline/supervision/metrics.py
  recidiviz/calculator/pipeline/supervision/supervision_time_bucket.py
  recidiviz/calculator/pipeline/utils/assessment_utils.py
  recidiviz/calculator/pipeline/utils/calculator_utils.py
  recidiviz/calculator/pipeline/utils/event_utils.py
  recidiviz/calculator/pipeline/utils/metric_utils.py
  recidiviz/calculator/query/state/views/reference/supervision_termination_matrix_by_person.py
  recidiviz/tests/calculator/pipeline/incarceration/calculator_test.py
  recidiviz/tests/calculator/pipeline/program/calculator_test.py
  recidiviz/tests/calculator/pipeline/program/program_event_test.py
  recidiviz/tests/calculator/pipeline/recidivism/calculator_test.py
  recidiviz/tests/calculator/pipeline/supervision/calculator_test.py
  recidiviz/tests/calculator/pipeline/utils/assessment_utils_test.py
  recidiviz/tests/calculator/pipeline/utils/calculator_utils_test.py
  recidiviz/tests/calculator/pipeline/utils/event_utils_test.py
Due: generate_docs_for_endpoint

[PA ingest] Add case type info and adjust supervision levels (Recidiviz/recidiviz-data#3878)
  recidiviz/calculator/pipeline/supervision/identifier.py
  recidiviz/calculator/pipeline/supervision/metrics.py
  recidiviz/calculator/pipeline/supervision/supervision_time_bucket.py
  recidiviz/common/constants/state/enum_canonical_strings.py
  recidiviz/common/constants/state/state_case_type.py
  recidiviz/common/constants/state/state_supervision_period.py
  recidiviz/ingest/direct/regions/us_pa/ingest_views/view_supervision_period.py
  recidiviz/ingest/direct/regions/us_pa/us_pa_controller.py
  recidiviz/ingest/direct/regions/us_pa/us_pa_supervision_period.yaml
  recidiviz/persistence/database/migrations/state/versions/2020_08_19_2154_841f9f4944f9_pa_case_type_supervision_level.py
  recidiviz/persistence/database/schema/state/schema.py
  recidiviz/tests/ingest/direct/regions/us_pa/fixtures/supervision_period.csv
  recidiviz/tests/ingest/direct/regions/us_pa/us_pa_controller_test.py
Due: generate_docs_for_region, generate_docs_for_endpoint, generate_entity_documentation

Ignore "REFUSED" Ethnicity (Recidiviz/recidiviz-data#3883)
  recidiviz/common/constants/person_characteristics.py
Due: generate_docs_for_endpoint

Minor fixes to deploy to production script (Recidiviz/recidiviz-data#3865)
  recidiviz/tools/deploy/deploy_production.sh
Due: generate_docs_for_endpoint

All multistate tests pass at SERIALIZABLE (Recidiviz/recidiviz-data#3874)
  recidiviz/persistence/database/history/base_historical_snapshot_updater.py
  recidiviz/persistence/database/schema/state/dao.py
  recidiviz/persistence/entity_matching/state/state_matching_utils.py
  recidiviz/tests/persistence/database/schema/state/dao_test.py
  recidiviz/tests/persistence/entity_matching/state/state_matching_utils_test.py
  recidiviz/tests/persistence/persistence_test.py
Due: generate_docs_for_endpoint

[PA ingest] Upload new CCIS and code tables raw data (Recidiviz/recidiviz-data#3892)
  recidiviz/ingest/direct/regions/us_pa/us_pa_raw_data_files.yaml
Due: generate_docs_for_region, generate_docs_for_endpoint

[Build] Upgrade gevent version (Recidiviz/recidiviz-data#3894)
  Pipfile
  Pipfile.lock
Due: none

Revert "All multistate tests pass at SERIALIZABLE (Recidiviz/recidiviz-data#3874)" (Recidiviz/recidiviz-data#3898)
  recidiviz/persistence/database/history/base_historical_snapshot_updater.py
  recidiviz/persistence/database/schema/state/dao.py
  recidiviz/persistence/entity_matching/state/state_matching_utils.py
  recidiviz/tests/persistence/database/schema/state/dao_test.py
  recidiviz/tests/persistence/entity_matching/state/state_matching_utils_test.py
  recidiviz/tests/persistence/persistence_test.py
Due: generate_docs_for_endpoint

use serializable for all databases (Recidiviz/recidiviz-data#3897)
  recidiviz/persistence/database/sqlalchemy_engine_manager.py
  recidiviz/tests/persistence/database/sqlalchemy_engine_manager_test.py
Due: generate_docs_for_endpoint

Add state_code to association tables (Recidiviz/recidiviz-data#3841)
  recidiviz/calculator/pipeline/incarceration/pipeline.py
  recidiviz/calculator/pipeline/recidivism/pipeline.py
  recidiviz/persistence/database/database.py
  recidiviz/persistence/database/migrations/state/versions/2020_08_21_1230_423053bfa215_add_state_code_to_association_tables.py
  recidiviz/persistence/database/schema/state/schema.py
  recidiviz/tests/ingest/direct/regions/base_state_direct_ingest_controller_tests.py
  recidiviz/tests/persistence/database/database_test.py
  recidiviz/tests/persistence/entity/state/entities_test_utils.py
  recidiviz/tools/generate_clear_state_db_sql.py
Due: generate_docs_for_endpoint, generate_entity_documentation

Fix bug in uszipcode implementation of file downloads (Recidiviz/recidiviz-data#3901)
  recidiviz/persistence/ingest_info_converter/utils/zipcodes.py
Due: generate_docs_for_endpoint

Turnoff memory tracking and gevent monitor thread in staging (Recidiviz/recidiviz-data#3902)
  staging.yaml
Due: none

Revert "Add state_code to association tables (Recidiviz/recidiviz-data#3841)" (Recidiviz/recidiviz-data#3903)
  recidiviz/calculator/pipeline/incarceration/pipeline.py
  recidiviz/calculator/pipeline/recidivism/pipeline.py
  recidiviz/persistence/database/database.py
  recidiviz/persistence/database/migrations/state/versions/2020_08_21_1230_423053bfa215_add_state_code_to_association_tables.py
  recidiviz/persistence/database/schema/state/schema.py
  recidiviz/tests/ingest/direct/regions/base_state_direct_ingest_controller_tests.py
  recidiviz/tests/persistence/database/database_test.py
  recidiviz/tests/persistence/entity/state/entities_test_utils.py
  recidiviz/tools/generate_clear_state_db_sql.py
Due: generate_docs_for_endpoint, generate_entity_documentation

[Calculate] Make calculation pipelines fail on bad args (Recidiviz/recidiviz-data#3913)
  recidiviz/calculator/pipeline/utils/pipeline_args_utils.py
  recidiviz/tests/calculator/pipeline/utils/pipeline_args_utils_test.py
Due: generate_docs_for_endpoint

change to district (Recidiviz/recidiviz-data#3926)
  recidiviz/calculator/query/state/views/po_report/officer_supervision_district_association.py
Due: generate_docs_for_endpoint

Tell postgres to always prefer index reads (Recidiviz/recidiviz-data#3929)
  recidiviz/persistence/database/session_factory.py
Due: generate_docs_for_endpoint

PO report dimension fix and logging updates (Recidiviz/recidiviz-data#3930)
  recidiviz/calculator/query/state/views/po_report/po_monthly_report_data.py
  recidiviz/metrics/export/metric_view_export_manager.py
  recidiviz/metrics/export/optimized_metric_big_query_view_exporter.py
Due: generate_docs_for_endpoint

Fixing prod pipeline template yaml (Recidiviz/recidiviz-data#3931)
  recidiviz/calculator/pipeline/production_calculation_pipeline_templates.yaml
Due: generate_docs_for_endpoint

[Monitoring] Add metric for create/update view failures (Recidiviz/recidiviz-data#3932)
  recidiviz/big_query/view_update_manager.py
  recidiviz/metrics/export/metric_view_export_manager.py
  recidiviz/tests/big_query/view_update_manager_test.py
  recidiviz/tests/validation/validation_manager_test.py
  recidiviz/utils/monitoring.py
  recidiviz/validation/validation_manager.py
Due: generate_docs_for_endpoint

[Calculate] Fix case_termination_by_type_comparison view (Recidiviz/recidiviz-data#3935)
  recidiviz/validation/views/state/case_termination_by_type_comparison.py
Due: generate_docs_for_endpoint

[Validation] Update ALL views, not just validation views (Recidiviz/recidiviz-data#3939)
  recidiviz/big_query/view_update_manager.py
  recidiviz/tests/validation/validation_manager_test.py
  recidiviz/validation/validation_manager.py
Due: generate_docs_for_endpoint

Revert "Revert "All multistate tests pass at SERIALIZABLE (Recidiviz/recidiviz-data#3874)" (Recidiviz/recidiviz-data#3898)" (Recidiviz/recidiviz-data#3899)
  recidiviz/persistence/database/history/base_historical_snapshot_updater.py
  recidiviz/persistence/database/schema/state/dao.py
  recidiviz/persistence/entity_matching/state/state_matching_utils.py
  recidiviz/tests/persistence/database/schema/state/dao_test.py
  recidiviz/tests/persistence/entity_matching/state/state_matching_utils_test.py
  recidiviz/tests/persistence/persistence_test.py
Due: generate_docs_for_endpoint

Run tests for simultaneous direct ingest of states with interleaved transactions (Recidiviz/recidiviz-data#3934)
  recidiviz/tests/persistence/persistence_test.py
Due: generate_docs_for_endpoint

Validation and copy_bq_views script fixes and updates (Recidiviz/recidiviz-data#3890)
  recidiviz/tests/tools/__init__.py
  recidiviz/tests/tools/copy_bq_views_test.py
  recidiviz/tools/copy_bq_views.py
  recidiviz/validation/configured_validations.py
  recidiviz/validation/views/state/supervision_success_by_period_by_demographics_internal_consistency.py
  recidiviz/validation/views/utils/internal_consistency_templates.py
  recidiviz/validation/views/view_config.py
Due: generate_docs_for_endpoint

Path conditions:
  generate_docs_for_region: any of: ^recidiviz/ingest/direct/regions/
  generate_docs_for_endpoint: any of: ^recidiviz/, but not: (?x)(^recidiviz/tests/|^recidiviz/tools/|^recidiviz/ingest/direct/regions/)$

  generate_entity_documentation: any of: (?x)(^recidiviz/persistence/database/schema/state/schema.py|^recidiviz/persistence/database/schema/history_table_shared_columns_mixin.py)$

