Repository Recidiviz/pulse-data: changes, and which pre-commit hooks are due for each by the changed paths.
All: generate_docs_for_region, generate_docs_for_endpoint, generate_entity_documentation, generate_calc_documentation, generate_ingest_mappings_schema_documentation, update_terraform_lock_file

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.3.0
    hooks:
      - id: check-yaml
  - repo: https://github.com/psf/black
    rev: 22.3.0
    hooks:
      # This runs on py, pyi, and ipynb files.
      - id: black-jupyter
        language_version: python3
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v2.5.1
    hooks:
      - id: prettier
        types_or: [yaml]
  - repo: https://github.com/pycqa/isort
    rev: 5.6.4
    hooks:
      - id: isort
        name: isort (python)
      - id: isort
        name: isort (pyi)
        types: [pyi]
  - repo: local
    hooks:
      - id: generate_docs_for_region
        name: generate_docs_for_region
        entry: pipenv run python -m recidiviz.tools.docs.region_documentation_generator
        language: system
        files: ^recidiviz/ingest/direct/regions/
        require_serial: true
      - id: generate_docs_for_endpoint
        name: generate_docs_for_endpoint
        entry: pipenv run python -m recidiviz.tools.docs.endpoint_documentation_generator
        language: system
        files: ^recidiviz/
        exclude: >
          (?x)(^recidiviz/tests/|^recidiviz/tools/|^recidiviz/ingest/direct/regions/)$
        require_serial: true
      - id: generate_entity_documentation
        name: generate_entity_documentation
        entry: pipenv run python -m recidiviz.tools.docs.entity_documentation_generator
        language: system
        files: >
          (?x)(^recidiviz/persistence/database/schema/state/schema.py|^recidiviz/persistence/database/schema/history_table_shared_columns_mixin.py|^recidiviz/common/constants/state/)$
        require_serial: true
      - id: generate_calc_documentation
        name: generate_calc_documentation
        entry: pipenv run python -m recidiviz.calculator.calculation_documentation_generator
        language: system
        files: ^recidiviz/calculator/|^recidiviz/metrics/|^recidiviz/.*/views/|^recidiviz/big_query/|^recidiviz/persistence/database/schema/|^recidiviz/persistence/entity/|^recidiviz/task_eligibility/
        exclude: ^recidiviz/tests/|^recidiviz/calculator/modeling/
        require_serial: true
      - id: generate_ingest_mappings_schema_documentation
        name: generate_ingest_mappings_schema_documentation
        entry: pipenv run python -m recidiviz.tools.docs.ingest_mappings_schema_documentation_generator
        language: system
        files: ^recidiviz/ingest/direct/ingest_mappings/yaml_schema/|^docs/engineering/ingest_mapping_schema/
        require_serial: true
      - id: update_terraform_lock_file
        name: update_terraform_lock_file
        entry: recidiviz/tools/deploy/update_terraform_lock.sh
        language: script
        files: ^recidiviz/tools/deploy/terraform/
        require_serial: true

[US_MI] Add exemption for violation stable counts (Recidiviz/recidiviz-data#32662)
  recidiviz/validation/views/state/stable_counts/stable_counts.py
Due: generate_docs_for_endpoint, generate_calc_documentation

[US_PA] Remove infer_additional_periods from staging normalization (Recidiviz/recidiviz-data#32673)
  recidiviz/pipelines/utils/state_utils/us_pa/us_pa_supervision_period_normalization_delegate.py
  recidiviz/tests/pipelines/utils/state_utils/us_pa/us_pa_supervision_period_normalization_delegate_test.py
Due: generate_docs_for_endpoint

[US_AZ] Intentionally hydrate specialized PFI (Recidiviz/recidiviz-data#32693)
  recidiviz/ingest/direct/regions/us_az/ingest_mappings/us_az_incarceration_periods.yaml
Due: generate_docs_for_region, generate_docs_for_endpoint

[US_AZ] Change location sources in staff location periods (Recidiviz/recidiviz-data#32617)
  recidiviz/ingest/direct/regions/us_az/ingest_views/view_state_staff_periods.py
  recidiviz/ingest/direct/regions/us_az/us_az_custom_enum_parsers.py
Due: generate_docs_for_region, generate_docs_for_endpoint

[US_ND] Update raw file cadence (Recidiviz/recidiviz-data#32646)
  recidiviz/ingest/direct/regions/us_nd/raw_data/us_nd_recidiviz_elite_CourseActivities.yaml
Due: generate_docs_for_region, generate_docs_for_endpoint

[US_AZ] Tweak external comparison validations (Recidiviz/recidiviz-data#32641)
  recidiviz/validation/config/regions/us_az/us_az_validation_config.yaml
  recidiviz/validation/views/state/supervision_population_person_level_template.py
Due: generate_docs_for_endpoint, generate_calc_documentation

[US_ND] Fix no escape criteria (Recidiviz/recidiviz-data#32700)
  recidiviz/task_eligibility/criteria/general/no_escape_in_current_incarceration.py
Due: generate_docs_for_endpoint, generate_calc_documentation

[Airflow] Calc DAG integration test improvements (Recidiviz/recidiviz-data#32568)
  recidiviz/airflow/dags/utils/dataflow_pipeline_group.py
  recidiviz/airflow/tests/calculation_dag_test.py
  recidiviz/airflow/tests/test_utils.py
Due: generate_docs_for_endpoint

[Case Note Search] Load case notes from BQ that contain an exact match. (Recidiviz/recidiviz-data#32654)
  recidiviz/prototypes/case_note_search/exact_match.py
Due: generate_docs_for_endpoint

[Justice Counts] Migrate Single-Page Upload Format Logic to WorkbookUploader (Recidiviz/recidiviz-data#32620)
  recidiviz/justice_counts/bulk_upload/workbook_standardizer.py
  recidiviz/justice_counts/bulk_upload/workbook_uploader.py
  recidiviz/justice_counts/spreadsheet.py
  recidiviz/justice_counts/utils/constants.py
  recidiviz/tests/justice_counts/bulk_upload/bulk_upload_test.py
  recidiviz/tests/justice_counts/control_panel/server_test.py
Due: generate_docs_for_endpoint

share logic between supervision_staff_record and current_staff (Recidiviz/recidiviz-data#32652)
  recidiviz/calculator/query/state/views/reference/current_staff.py
  recidiviz/calculator/query/state/views/reference/ingested_product_users.py
  recidiviz/calculator/query/state/views/workflows/firestore/supervision_staff_record.py
Due: generate_docs_for_endpoint, generate_calc_documentation

add users with role differences to the prep_roster_sync script (Recidiviz/recidiviz-data#32653)
  recidiviz/tests/tools/auth/prep_roster_sync_test.py
  recidiviz/tests/tools/auth/snapshots/snap_prep_roster_sync_test.py
  recidiviz/tools/auth/prep_roster_sync.py
Due: generate_docs_for_endpoint

[TES][US_PA] Migrate two tasks to almost eligible infra (Recidiviz/recidiviz-data#32408)
  recidiviz/calculator/query/state/views/workflows/firestore/us_pa_complete_transfer_to_special_circumstances_supervision_request_record.py
  recidiviz/calculator/query/state/views/workflows/firestore/us_pa_transfer_to_administrative_supervision_form_record.py
  recidiviz/task_eligibility/eligibility_spans/us_pa/complete_transfer_to_administrative_supervision_request.py
  recidiviz/task_eligibility/eligibility_spans/us_pa/complete_transfer_to_special_circumstances_supervision_request.py
Due: generate_docs_for_endpoint, generate_calc_documentation

[TES][US_MO] Migrate remaining RH opps to AE infra (Recidiviz/recidiviz-data#32544)
  recidiviz/calculator/query/state/views/workflows/firestore/us_mo_overdue_restrictive_housing_initial_hearing.py
  recidiviz/calculator/query/state/views/workflows/firestore/us_mo_overdue_restrictive_housing_release.py
  recidiviz/calculator/query/state/views/workflows/firestore/us_mo_overdue_restrictive_housing_review_hearing.py
  recidiviz/calculator/view_type_specific_documentation.py
  recidiviz/task_eligibility/criteria_condition.py
  recidiviz/task_eligibility/eligibility_spans/us_mo/overdue_restrictive_housing_initial_hearing.py
  recidiviz/task_eligibility/eligibility_spans/us_mo/overdue_restrictive_housing_release.py
  recidiviz/task_eligibility/eligibility_spans/us_mo/overdue_restrictive_housing_review_hearing.py
  recidiviz/tests/task_eligibility/criteria_condition_test.py
  recidiviz/tests/task_eligibility/single_task_eligibility_spans_view_builder_test.py
Due: generate_docs_for_endpoint, generate_calc_documentation

Adds `_line_staff` role types as primary user types (Recidiviz/recidiviz-data#32724)
  recidiviz/calculator/query/state/views/analyst_data/workflows_primary_user_registration_sessions.py
Due: generate_docs_for_endpoint, generate_calc_documentation

[admin panel] dataflow log copy update (Recidiviz/recidiviz-data#32721)
  frontends/admin-panel/src/components/IngestStatus/IngestDataflowInstanceCard.tsx
Due: none

exclude TN D20 users from roster sync query + prep script (Recidiviz/recidiviz-data#32706)
  recidiviz/calculator/query/state/views/reference/ingested_product_users.py
  recidiviz/tests/tools/auth/prep_roster_sync_test.py
  recidiviz/tools/auth/prep_roster_sync.py
Due: generate_docs_for_endpoint, generate_calc_documentation

[US_MO] Handle special cases for us_mo_stable_historical_raw_data_counts (Recidiviz/recidiviz-data#32720)
  recidiviz/ingest/direct/regions/us_mo/raw_data/us_mo_LANTERN_DA_RA_LIST.yaml
  recidiviz/validation/views/state/raw_data/configs/stable_historical_raw_data_counts_validation_config.yaml
Due: generate_docs_for_region, generate_docs_for_endpoint, generate_calc_documentation

[raw data] add threadpool to `gsutil_get_storage_subdirs_containing_raw_files` (Recidiviz/recidiviz-data#32713)
  recidiviz/tools/gsutil_shell_helpers.py
Due: generate_docs_for_endpoint

add users with differences in non-role fields to the prep_roster_sync script (Recidiviz/recidiviz-data#32704)
  recidiviz/tests/tools/auth/prep_roster_sync_test.py
  recidiviz/tests/tools/auth/snapshots/snap_prep_roster_sync_test.py
  recidiviz/tools/auth/prep_roster_sync.py
Due: generate_docs_for_endpoint

[CI] Move emulator job timeout to step-level (Recidiviz/recidiviz-data#32732)
  .github/workflows/ci.yml
Due: none

[US_PA] Revise supervision periods again (Recidiviz/recidiviz-data#32199)
  recidiviz/ingest/direct/regions/us_pa/ingest_mappings/us_pa_supervision_period_v5.yaml
  recidiviz/ingest/direct/regions/us_pa/ingest_views/view_supervision_period_v4.py
  recidiviz/ingest/direct/regions/us_pa/ingest_views/view_supervision_period_v5.py
  recidiviz/ingest/direct/regions/us_pa/raw_data/us_pa_dbo_Parolee.yaml
  recidiviz/ingest/direct/regions/us_pa/us_pa_custom_enum_parsers.py
Due: generate_docs_for_region, generate_docs_for_endpoint

Add case_notes_prototype_views.case_notes view (Recidiviz/recidiviz-data#32400)
  recidiviz/calculator/query/state/dataset_config.py
  recidiviz/calculator/query/state/view_config.py
  recidiviz/calculator/query/state/views/prototypes/__init__.py
  recidiviz/calculator/query/state/views/prototypes/case_note_search/__init__.py
  recidiviz/calculator/query/state/views/prototypes/case_note_search/case_note_search_views.py
  recidiviz/calculator/query/state/views/prototypes/case_note_search/case_notes.py
  recidiviz/calculator/query/state/views/prototypes/case_note_search/us_ix/__init__.py
  recidiviz/calculator/query/state/views/prototypes/case_note_search/us_ix/us_ix_case_notes.py
  recidiviz/calculator/query/state/views/prototypes/case_note_search/us_me/__init__.py
  recidiviz/calculator/query/state/views/prototypes/case_note_search/us_me/us_me_case_notes.py
  recidiviz/tools/find_unused_bq_views.py
  recidiviz/view_registry/deployed_views.py
  recidiviz/view_registry/raw_data_reference_reasons.yaml
Due: generate_docs_for_endpoint, generate_calc_documentation

[Justice Counts] cast numpy bool type to bool in workbook standardizer (Recidiviz/recidiviz-data#32735)
  recidiviz/justice_counts/bulk_upload/workbook_standardizer.py
Due: generate_docs_for_endpoint

[Case Note Search] Require state_code and user_id as endpoint params. (Recidiviz/recidiviz-data#32717)
  recidiviz/prototypes/app.py
  recidiviz/tools/prototypes/generate_fake_case_notes.py
  recidiviz/tools/prototypes/request_api.py
Due: generate_docs_for_endpoint

[US_ND][US_ME] Add 'COUNSELOR' role subtype for ND and ME (Recidiviz/recidiviz-data#32756)
  recidiviz/calculator/query/state/views/sessions/us_me/us_me_incarceration_staff_assignment_sessions_preprocessed.py
  recidiviz/calculator/query/state/views/sessions/us_nd/us_nd_incarceration_staff_assignment_sessions_preprocessed.py
  recidiviz/calculator/query/state/views/sessions/us_tn/us_tn_incarceration_staff_assignment_sessions_preprocessed.py
Due: generate_docs_for_endpoint, generate_calc_documentation

[US_ND] Remove usnd_work_release from validation view (Recidiviz/recidiviz-data#32618)
  recidiviz/validation/views/state/workflows/client_and_resident_record_percent_change_in_eligibility_exceeded.py
Due: generate_docs_for_endpoint, generate_calc_documentation

rename SUPERVISION_OFFICER roster sync role to SUPERVISION_LINE_STAFF (Recidiviz/recidiviz-data#32757)
  recidiviz/calculator/query/state/views/reference/ingested_product_users.py
  recidiviz/common/constants/auth.py
  recidiviz/tests/tools/auth/prep_roster_sync_test.py
  recidiviz/tests/tools/auth/snapshots/snap_prep_roster_sync_test.py
  recidiviz/tools/auth/prep_roster_sync.py
Due: generate_docs_for_endpoint, generate_calc_documentation

add emails_of_users_to_keep_unchanged flag to roster sync prep script (Recidiviz/recidiviz-data#32761)
  recidiviz/tests/tools/auth/prep_roster_sync_test.py
  recidiviz/tests/tools/auth/snapshots/snap_prep_roster_sync_test.py
  recidiviz/tools/auth/prep_roster_sync.py
Due: generate_docs_for_endpoint

[Case Note Search] Serve real casenotes for staging too. (Recidiviz/recidiviz-data#32749)
  recidiviz/prototypes/case_note_search/case_note_search.py
  recidiviz/tests/prototypes/case_note_search_test.py
  recidiviz/tools/prototypes/request_api.py
Due: generate_docs_for_endpoint

[raw data import] migrate `import_session` to `file_import` and `import_run` (Recidiviz/recidiviz-data#32710)
  recidiviz/admin_panel/routes/ingest_ops.py
  recidiviz/airflow/dags/raw_data/file_metadata_tasks.py
  recidiviz/airflow/dags/raw_data/metadata.py
  recidiviz/airflow/dags/raw_data/write_file_import_start_sql_query_generator.py
  recidiviz/airflow/dags/raw_data/write_file_processed_time_to_bq_file_metadata_sql_query_generator.py
  recidiviz/airflow/dags/raw_data/write_import_completions_query_generator.py
  recidiviz/airflow/dags/raw_data/write_import_session_query_generator.py
  recidiviz/airflow/dags/raw_data_import_dag.py
  recidiviz/airflow/tests/raw_data/file_metadata_tasks_test.py
  recidiviz/airflow/tests/raw_data/write_file_import_start_sql_generator_test.py
  recidiviz/airflow/tests/raw_data/write_file_processed_time_to_bq_file_metadata_sql_query_generator_test.py
  recidiviz/airflow/tests/raw_data/write_import_completions_query_generator_test.py
  recidiviz/airflow/tests/raw_data/write_import_session_query_generator_test.py
  recidiviz/airflow/tests/raw_data_import_dag_test.py
  recidiviz/common/constants/operations/direct_ingest_raw_data_resource_lock.py
  recidiviz/common/constants/operations/direct_ingest_raw_file_import.py
  recidiviz/common/constants/operations/enum_canonical_strings.py
  recidiviz/ingest/direct/metadata/direct_ingest_raw_data_import_session_manager.py
  recidiviz/ingest/direct/metadata/direct_ingest_raw_data_resource_lock_manager.py
  recidiviz/ingest/direct/metadata/direct_ingest_raw_file_import_manager.py
  recidiviz/ingest/direct/metadata/direct_ingest_raw_file_metadata_manager_v2.py
  recidiviz/ingest/direct/raw_data/validations/stable_historical_raw_data_counts_table_validation.py
  recidiviz/ingest/direct/types/raw_data_import_types.py
  recidiviz/persistence/database/migrations/operations/versions/2024_08_19_1715_f64925b297f3_split_import_session_into_run_and_import.py
  recidiviz/persistence/database/schema/operations/schema.py
  recidiviz/persistence/entity/operations/entities.py
  recidiviz/persistence/entity/schema_edge_direction_checker.py
  recidiviz/tests/ingest/direct/metadata/direct_ingest_raw_data_import_session_manager_test.py
  recidiviz/tests/ingest/direct/metadata/direct_ingest_raw_file_import_manager_test.py
  recidiviz/tests/ingest/direct/raw_data/validations/stable_historical_raw_data_counts_table_validation_test.py
  recidiviz/tests/ingest/direct/types/raw_data_import_types_test.py
  recidiviz/tests/persistence/database/schema_utils_test.py
  recidiviz/tools/admin_panel/fixtures/operations_db/direct_ingest_raw_data_import_session.csv
  recidiviz/tools/admin_panel/fixtures/operations_db/direct_ingest_raw_file_import.csv
  recidiviz/tools/admin_panel/fixtures/operations_db/direct_ingest_raw_file_import_run.csv
  recidiviz/validation/views/state/raw_data/stable_historical_raw_data_counts_validation.py
  recidiviz/validation/views/state/raw_data/stale_raw_data_validation.py
Due: generate_docs_for_endpoint, generate_calc_documentation

[Case Note Search] Remove token from request api. (Recidiviz/recidiviz-data#32769)
  recidiviz/tools/prototypes/generate_fake_case_notes.py
  recidiviz/tools/prototypes/request_api.py
Due: generate_docs_for_endpoint

[import blocking exemptions] Add import blocking exemptions to raw data docs (Recidiviz/recidiviz-data#32661)
  recidiviz/ingest/direct/direct_ingest_documentation_generator.py
  recidiviz/tests/ingest/direct/direct_ingest_documentation_generator_test.py
  recidiviz/tests/ingest/direct/fake_regions/us_ww/raw_data/us_ww_tagExemptFromValidations.yaml
Due: generate_docs_for_endpoint

[US_AZ][Workflows] Initial TPR Criteria & Stubs (Recidiviz/recidiviz-data#32525)
  recidiviz/calculator/query/state/views/reference/workflows_opportunity_configs.py
  recidiviz/calculator/query/state/views/workflows/firestore/firestore_views.py
  recidiviz/calculator/query/state/views/workflows/firestore/us_az_release_to_tpr_request_record.py
  recidiviz/task_eligibility/criteria/general/no_nonviolent_incarceration_violation_within_6_months.py
  recidiviz/task_eligibility/criteria/general/not_serving_for_arson_offense.py
  recidiviz/task_eligibility/criteria/state_specific/us_az/meets_functional_literacy.py
  recidiviz/task_eligibility/criteria/state_specific/us_az/no_active_felony_detainers.py
  recidiviz/task_eligibility/criteria/state_specific/us_az/no_major_violent_violation_during_incarceration.py
  recidiviz/task_eligibility/criteria/state_specific/us_az/time_90_days_before_release.py
  recidiviz/task_eligibility/eligibility_spans/us_az/release_to_tpr_request.py
  recidiviz/task_eligibility/utils/general_criteria_builders.py
  recidiviz/view_registry/raw_data_reference_reasons.yaml
Due: generate_docs_for_endpoint, generate_calc_documentation

[admin panel] add `all_latest_raw_data_import_run_info` route (Recidiviz/recidiviz-data#32331)
  recidiviz/admin_panel/ingest_operations_store.py
  recidiviz/admin_panel/routes/ingest_ops.py
  recidiviz/ingest/direct/metadata/direct_ingest_raw_file_import_manager.py
  recidiviz/tests/admin_panel/routes/ingest_ops_test.py
  recidiviz/tests/ingest/direct/metadata/direct_ingest_raw_file_import_manager_test.py
Due: generate_docs_for_endpoint

[US_PA] Null out vacant officers in _v5 supervision periods ingest (Recidiviz/recidiviz-data#32765)
  recidiviz/ingest/direct/regions/us_pa/ingest_views/view_supervision_period_v5.py
Due: generate_docs_for_region, generate_docs_for_endpoint

[raw data import] add get_metadata_for_all_raw_files_in_region to metadata manager (Recidiviz/recidiviz-data#32695)
  recidiviz/ingest/direct/gating.py
  recidiviz/ingest/direct/metadata/direct_ingest_raw_file_metadata_manager.py
  recidiviz/ingest/direct/metadata/direct_ingest_raw_file_metadata_manager_v2.py
  recidiviz/tests/ingest/direct/metadata/direct_ingest_raw_file_metadata_manager_test.py
  recidiviz/tests/ingest/direct/metadata/direct_ingest_raw_file_metadata_manager_v2_test.py
Due: generate_docs_for_endpoint

[US_AR] Stop breaking supervision sentences into multiple entities whenever they're restarted (Recidiviz/recidiviz-data#32686)
  recidiviz/ingest/direct/regions/us_ar/ingest_mappings/us_ar_supervision_sentence.yaml
  recidiviz/ingest/direct/regions/us_ar/ingest_views/view_supervision_sentence.py
  recidiviz/tests/ingest/direct/regions/ingest_view_cte_comment_exemptions.py
Due: generate_docs_for_region, generate_docs_for_endpoint

[ingest filename normalization] Modify ingest filename normalization retry behavior (Recidiviz/recidiviz-data#32740)
  recidiviz/cloud_functions/ingest_filename_normalization.py
  recidiviz/tests/cloud_functions/ingest_filename_normalization_test.py
  recidiviz/tools/deploy/terraform/cloud-functions.tf
Due: generate_docs_for_endpoint, update_terraform_lock_file

[US_AR] Hydrate state_incarceration_period facility with ID instead of name (Recidiviz/recidiviz-data#32782)
  recidiviz/ingest/direct/regions/us_ar/ingest_mappings/us_ar_incarceration_period.yaml
  recidiviz/ingest/direct/regions/us_ar/ingest_views/view_incarceration_period.py
Due: generate_docs_for_region, generate_docs_for_endpoint
