Repository Recidiviz/pulse-data: changes, and which pre-commit hooks are due for each by the changed paths.
All: generate_docs_for_region, generate_docs_for_endpoint, generate_entity_documentation, generate_calc_documentation, generate_ingest_mappings_schema_documentation, update_terraform_lock_file

generate_docs_for_region:
  name: generate_docs_for_region
  entry: pipenv run python -m recidiviz.tools.docs.region_documentation_generator
  language: system
  require_serial: true

generate_docs_for_endpoint:
  name: generate_docs_for_endpoint
  entry: pipenv run python -m recidiviz.tools.docs.endpoint_documentation_generator
  language: system
  require_serial: true

generate_entity_documentation:
  name: generate_entity_documentation
  entry: pipenv run python -m recidiviz.tools.docs.entity_documentation_generator
  language: system
  require_serial: true

generate_calc_documentation:
  name: generate_calc_documentation
  entry: pipenv run python -m recidiviz.calculator.calculation_documentation_generator
  language: system
  require_serial: true

generate_ingest_mappings_schema_documentation:
  name: generate_ingest_mappings_schema_documentation
  entry: pipenv run python -m recidiviz.tools.docs.ingest_mappings_schema_documentation_generator
  language: system
  require_serial: true

update_terraform_lock_file:
  name: update_terraform_lock_file
  entry: recidiviz/tools/deploy/update_terraform_lock.sh
  language: script
  require_serial: true

[US_AZ] Add YAML for external validation data (Recidiviz/recidiviz-data#35031)
  recidiviz/ingest/direct/regions/us_az/raw_data/us_az_validation_incarceration_population_person_level.yaml
Due: generate_docs_for_region, generate_docs_for_endpoint

[US_MI][Workflows] Remove residents in mental health confinement from scc opp (Recidiviz/recidiviz-data#35019)
  recidiviz/task_eligibility/criteria/general/housing_unit_type_is_not_mental_health_solitary_confinement.py
  recidiviz/task_eligibility/eligibility_spans/us_mi/complete_security_classification_committee_review_form.py
Due: generate_docs_for_endpoint, generate_calc_documentation

[Tests] Slight restructuring of sqlglot view tests (Recidiviz/recidiviz-data#35026)
  recidiviz/tests/view_registry/deployed_views_test.py
Due: generate_docs_for_endpoint

[US_AR] Config for ORAS_ASSESSMENTS_WEEKLY (Recidiviz/recidiviz-data#35048)
  recidiviz/ingest/direct/regions/us_mo/raw_data/us_mo_ORAS_ORAS_ASSESSMENTS_WEEKLY.yaml
Due: generate_docs_for_region, generate_docs_for_endpoint

Very small change to upload_assignments_to_gbq (Recidiviz/recidiviz-data#35044)
  recidiviz/tools/analyst/randomization.py
Due: generate_docs_for_endpoint

Apply terraform_managed flag to all TF-managed resources (Recidiviz/recidiviz-data#34854)
  recidiviz/tools/deploy/terraform/providers.tf
Due: generate_docs_for_endpoint, update_terraform_lock_file

[US_OR] Fixing sub statute trim (Recidiviz/recidiviz-data#35042)
  recidiviz/ingest/direct/regions/us_or/ingest_views/view_Sentences.py
Due: generate_docs_for_region, generate_docs_for_endpoint

[US_PA][Workflows] Remove violations from case notes (Recidiviz/recidiviz-data#35051)
  recidiviz/calculator/query/state/views/workflows/firestore/us_pa_complete_transfer_to_special_circumstances_supervision_request_record.py
  recidiviz/task_eligibility/utils/us_pa_query_fragments.py
Due: generate_docs_for_endpoint, generate_calc_documentation

Add issue-id arg + smarter known values sort for fetch_column_values_for_state (Recidiviz/recidiviz-data#35012)
  recidiviz/tools/ingest/development/fetch_column_values_for_state.py
Due: generate_docs_for_endpoint

[Workflows] Update table names in Apps Script (Recidiviz/recidiviz-data#34834)
  recidiviz/appsscript/QueryFunctions.js
Due: generate_docs_for_endpoint

[Insights] Optimize supervision_client_events by referencing single-observation views (Recidiviz/recidiviz-data#34887)
  recidiviz/calculator/query/state/views/outliers/supervision_client_events.py
  recidiviz/calculator/query/state/views/outliers/utils.py
  recidiviz/outliers/types.py
Due: generate_docs_for_endpoint, generate_calc_documentation

[Airflow] Return normally if we can't connect to cloudsql proxy sidecar during shutdown (Recidiviz/recidiviz-data#35060)
  recidiviz/entrypoints/entrypoint_executor.py
Due: generate_docs_for_endpoint

[Schema] Delete unused legal_authority field off of SPs (Recidiviz/recidiviz-data#35043)
  recidiviz/calculator/query/state/views/sessions/prioritized_supervision_sessions.py
  recidiviz/common/constants/state/enum_canonical_strings.py
  recidiviz/common/constants/state/state_supervision_period.py
  recidiviz/persistence/database/schema/state/schema.py
  recidiviz/persistence/entity/state/entities.py
  recidiviz/persistence/entity/state/entity_field_descriptions.yaml
  recidiviz/persistence/entity/state/normalized_entities.py
  recidiviz/task_eligibility/utils/us_pa_query_fragments.py
  recidiviz/tests/persistence/database/schema/state/schema_test.py
  recidiviz/tests/persistence/entity/normalized_entities_utils_test.py
Due: generate_docs_for_endpoint, generate_entity_documentation, generate_calc_documentation

update pathways dockerfile dependencies (Recidiviz/recidiviz-data#35066)
  Dockerfile.case-triage-pathways
Due: none

Properly quote known value fields in raw data config writer (Recidiviz/recidiviz-data#35050)
  recidiviz/tests/utils/yaml_test.py
  recidiviz/tools/ingest/development/raw_data_config_writer.py
  recidiviz/utils/yaml.py
Due: generate_docs_for_endpoint

Adds new event type for surfaced caseload (Recidiviz/recidiviz-data#34580)
  recidiviz/calculator/query/state/views/analyst_data/workflows_record_archive_surfaceable_person_sessions.py
  recidiviz/calculator/query/state/views/workflows/clients_surfaced.py
  recidiviz/calculator/query/state/views/workflows/workflows_caseload_search_field_by_state.py
  recidiviz/calculator/query/state/views/workflows/workflows_views.py
  recidiviz/observations/event_type.py
  recidiviz/observations/views/events/workflows_surfaceable_caseload/__init__.py
  recidiviz/observations/views/events/workflows_surfaceable_caseload/workflows_caseload_surfaced.py
  recidiviz/source_tables/externally_managed/pulse_dashboard_segment_metrics/frontend_surfaced_in_list.yaml
  recidiviz/tools/find_unused_bq_views.py
  recidiviz/view_registry/deployed_views.py
Due: generate_docs_for_endpoint, generate_calc_documentation

[US_CA] add case type, parole unit, and supervision level to SLD opp (Recidiviz/recidiviz-data#35055)
  recidiviz/calculator/query/state/views/workflows/firestore/us_ca_supervision_level_downgrade_form_record.py
Due: generate_docs_for_endpoint, generate_calc_documentation

[Airflow] Try out Workload Separation to prevent pod preemption (Recidiviz/recidiviz-data#35056)
  recidiviz/airflow/dags/operators/recidiviz_kubernetes_pod_operator.py
  recidiviz/airflow/dags/operators/recidiviz_kubernetes_resources.yaml
  recidiviz/airflow/tests/operators/entrypoints_resources_test.py
  stubs/kubernetes/client/models.pyi
Due: generate_docs_for_endpoint

[Airflow] Reduce pod history TTL (Recidiviz/recidiviz-data#35057)
  recidiviz/airflow/dags/monitoring/cleanup_exited_pods.py
Due: generate_docs_for_endpoint

[US_TN] Adding Staff table check to StaffSupervisorPeriods (Recidiviz/recidiviz-data#34947)
  recidiviz/ingest/direct/regions/us_tn/ingest_views/view_StaffSupervisorPeriods.py
  recidiviz/tests/ingest/direct/regions/ingest_view_cte_comment_exemptions.py
Due: generate_docs_for_region, generate_docs_for_endpoint

[US_ND] Move criteria from TES to opportunity record (Recidiviz/recidiviz-data#35018)
  recidiviz/calculator/query/state/views/workflows/firestore/us_nd_transfer_to_atp_form_record.py
  recidiviz/calculator/query/state/views/workflows/firestore/us_nd_transfer_to_minimum_facility_form_record.py
  recidiviz/task_eligibility/eligibility_spans/us_nd/transfer_to_atp_form.py
  recidiviz/task_eligibility/eligibility_spans/us_nd/transfer_to_minimum_facility_form.py
  recidiviz/task_eligibility/utils/us_nd_query_fragments.py
Due: generate_docs_for_endpoint, generate_calc_documentation

[sftp] add some integration tests (Recidiviz/recidiviz-data#35041)
  recidiviz/airflow/dags/operators/sftp/filter_invalid_gcs_files.py
  recidiviz/airflow/dags/operators/sftp/gcs_transform_file_operator.py
  recidiviz/airflow/dags/operators/sftp/sftp_to_gcs_operator.py
  recidiviz/airflow/dags/sftp/metadata.py
  recidiviz/airflow/dags/sftp_dag.py
  recidiviz/airflow/tests/fixtures/sftp/__init__.py
  recidiviz/airflow/tests/fixtures/sftp/all_enabled_config.yaml
  recidiviz/airflow/tests/operators/sftp/find_sftp_files_operator_test.py
  recidiviz/airflow/tests/operators/sftp/gcs_transform_file_operator_test.py
  recidiviz/airflow/tests/operators/sftp/sftp_test_utils.py
  recidiviz/airflow/tests/operators/sftp/sftp_to_gcs_operator_test.py
  recidiviz/airflow/tests/sftp_dag_test.py
  recidiviz/airflow/tests/utils/dag_helper_functions.py
  recidiviz/fakes/fake_gcs_file_system.py
  recidiviz/tools/validate_source_visibility.py
Due: generate_docs_for_endpoint

[US_TX] Hydrating supervision period (Recidiviz/recidiviz-data#34711)
  recidiviz/ingest/direct/regions/us_tx/ingest_mappings/us_tx_supervision_period.yaml
  recidiviz/ingest/direct/regions/us_tx/ingest_views/view_supervision_period.py
  recidiviz/ingest/direct/regions/us_tx/raw_data/us_tx_SupervisionPeriod.yaml
  recidiviz/ingest/direct/regions/us_tx/us_tx_custom_enum_parsers.py
Due: generate_docs_for_region, generate_docs_for_endpoint

[US_MI][Workflows] Remove residents in their first 72 hours of temporary solitary confinement (Recidiviz/recidiviz-data#35022)
  recidiviz/task_eligibility/criteria/general/not_admitted_to_temporary_solitary_confinement_in_the_last_3_days.py
  recidiviz/task_eligibility/eligibility_spans/us_mi/complete_security_classification_committee_review_form.py
Due: generate_docs_for_endpoint, generate_calc_documentation

[Bugfix] Fix ./recidiviz/tools/diff_pipenv.sh (Recidiviz/recidiviz-data#35027)
  recidiviz/tools/diff_pipenv.sh
Due: generate_docs_for_endpoint

[Bugfix] Mark all us_xx_state and us_xx_normalized_state tables as regenerable (Recidiviz/recidiviz-data#35094)
  .github/workflows/ci.yml
  recidiviz/source_tables/collect_all_source_table_configs.py
  recidiviz/source_tables/ingest_pipeline_output_table_collector.py
  recidiviz/source_tables/source_table_config.py
  recidiviz/tests/big_query/view_graph_validation_test.py
  recidiviz/tests/source_tables/source_table_update_manager_test.py
  recidiviz/tools/ingest/operations/import_raw_files_to_sandbox.py
Due: generate_docs_for_endpoint

[US_AZ] 2 more criteria for AZ Administrative Supervision (Recidiviz/recidiviz-data#35090)
  recidiviz/task_eligibility/criteria/general/no_supervision_violation_within_15_months.py
  recidiviz/task_eligibility/criteria/general/on_supervision_at_least_15_months.py
  recidiviz/task_eligibility/eligibility_spans/us_az/transfer_to_administrative_supervision.py
Due: generate_docs_for_endpoint, generate_calc_documentation

[US_ME] Make opp configs match TES (Recidiviz/recidiviz-data#35101)
  recidiviz/calculator/query/state/views/reference/workflows_opportunity_configs.py
Due: generate_docs_for_endpoint, generate_calc_documentation

[US_AZ] Add raw data config for mental health score table (Recidiviz/recidiviz-data#35096)
  recidiviz/ingest/direct/regions/us_az/raw_data/us_az_AZ_INT_MENTAL_HEALTH_ACTION.yaml
Due: generate_docs_for_region, generate_docs_for_endpoint

[US_TX] Adding filter to remove magical start dates in SPs (Recidiviz/recidiviz-data#35099)
  recidiviz/ingest/direct/regions/us_tx/ingest_views/view_supervision_period.py
Due: generate_docs_for_region, generate_docs_for_endpoint

[Vitals] choose a single overdue value per person per day (Recidiviz/recidiviz-data#35093)
  recidiviz/calculator/query/state/views/vitals_report/supervision_case_compliance_spans.py
Due: generate_docs_for_endpoint, generate_calc_documentation

[Insights][Vitals] Add `OutliersVitalsMetricConfig` type to `OutliersProductConfiguration` (Recidiviz/recidiviz-data#35071)
  recidiviz/outliers/types.py
  recidiviz/reporting/context/outliers_supervision_officer_supervisor/context.py
  recidiviz/reporting/context/outliers_supervision_officer_supervisor/fixtures.py
  recidiviz/tests/case_triage/outliers/outliers_routes_test.py
  recidiviz/tests/case_triage/outliers/snapshots/snap_outliers_routes_test.py
  recidiviz/tests/outliers/snapshots/snap_querier_test.py
  recidiviz/tools/insights/fixtures/configurations.json
Due: generate_docs_for_endpoint

[raw data import] adds `FAILED_IMPORT_BLOCKED` status enum and `error_message` to `direct_ingest_raw_file_import` (Recidiviz/recidiviz-data#34942)
  recidiviz/airflow/dags/raw_data/bq_load_tasks.py
  recidiviz/airflow/dags/raw_data/file_metadata_tasks.py
  recidiviz/airflow/dags/raw_data/filtering_tasks.py
  recidiviz/airflow/dags/raw_data/gcs_file_processing_tasks.py
  recidiviz/airflow/dags/raw_data/write_import_completions_query_generator.py
  recidiviz/airflow/tests/raw_data/file_metadata_tasks_test.py
  recidiviz/airflow/tests/raw_data/write_import_completions_query_generator_test.py
  recidiviz/airflow/tests/raw_data_import_dag_test.py
  recidiviz/common/constants/operations/direct_ingest_raw_file_import.py
  recidiviz/common/constants/operations/enum_canonical_strings.py
  recidiviz/ingest/direct/metadata/direct_ingest_raw_file_import_manager.py
  recidiviz/ingest/direct/types/raw_data_import_types.py
  recidiviz/persistence/database/migrations/operations/versions/2024_11_08_1445_843a17e724cc_add_error_message.py
  recidiviz/persistence/database/schema/operations/schema.py
  recidiviz/persistence/entity/operations/entities.py
  recidiviz/tests/ingest/direct/metadata/direct_ingest_raw_file_import_manager_test.py
  recidiviz/tests/ingest/direct/types/raw_data_import_types_test.py
Due: generate_docs_for_endpoint, generate_calc_documentation

add TN D20 back into roster sync (Recidiviz/recidiviz-data#35009)
  recidiviz/calculator/query/state/views/reference/ingested_product_users.py
  recidiviz/tests/tools/auth/prep_roster_sync_test.py
  recidiviz/tools/auth/prep_roster_sync.py
Due: generate_docs_for_endpoint, generate_calc_documentation

[big query] small client clean up (Recidiviz/recidiviz-data#35089)
  recidiviz/admin_panel/routes/line_staff_tools.py
  recidiviz/big_query/big_query_client.py
  recidiviz/big_query/view_update_manager.py
  recidiviz/metrics/export/optimized_metric_big_query_view_exporter.py
  recidiviz/persistence/database/bq_refresh/bq_refresh_status_storage.py
  recidiviz/source_tables/source_table_update_manager.py
  recidiviz/tests/admin_panel/routes/file_upload_test.py
  recidiviz/tests/big_query/big_query_client_test.py
  recidiviz/tests/big_query/view_update_manager_test.py
  recidiviz/tests/metrics/export/optimized_metric_big_query_view_exporter_test.py
  recidiviz/tests/persistence/database/bq_refresh/federated_cloud_sql_to_bq_refresh_test.py
  recidiviz/tools/calculator/cluster_table.py
  recidiviz/tools/calculator/compare_dataflow_output_to_sandbox.py
  recidiviz/tools/calculator/compare_metric_view_output_to_sandbox.py
  recidiviz/tools/export_csg_files.py
  recidiviz/tools/export_csg_mo_case_plans.py
  recidiviz/tools/utils/compare_tables_helper.py
Due: generate_docs_for_endpoint, generate_calc_documentation

Revert "[Airflow] Try out Workload Separation to prevent pod preemption" (Recidiviz/recidiviz-data#35123)
  recidiviz/airflow/dags/operators/recidiviz_kubernetes_pod_operator.py
  recidiviz/airflow/dags/operators/recidiviz_kubernetes_resources.yaml
  recidiviz/airflow/tests/operators/entrypoints_resources_test.py
  stubs/kubernetes/client/models.pyi
Due: generate_docs_for_endpoint

[US_TN] Adding new enum value for supervision level (Recidiviz/recidiviz-data#35121)
  recidiviz/ingest/direct/regions/us_tn/ingest_mappings/us_tn_AssignedStaffSupervisionPeriod_v2.yaml
Due: generate_docs_for_region, generate_docs_for_endpoint

[mypy] remove last exemptions (Recidiviz/recidiviz-data#35119)
  recidiviz/tests/persistence/database/schema/schema_test.py
  recidiviz/tests/persistence/database/schema_entity_converter/base_schema_entity_converter_test.py
  recidiviz/tests/pipelines/fake_bigquery.py
  recidiviz/tests/pipelines/utils/beam_utils/extractor_utils_test.py
  recidiviz/tests/pipelines/utils/period_utils_test.py
  setup.cfg
Due: generate_docs_for_endpoint

[Insights][Vitals] Make `vitals_metrics` default to an empty list (Recidiviz/recidiviz-data#35133)
  recidiviz/outliers/types.py
  recidiviz/tests/outliers/snapshots/snap_querier_test.py
Due: generate_docs_for_endpoint

[US_TN] Adding check for active staff to StaffCaseloadTypePeriods (Recidiviz/recidiviz-data#35038)
  recidiviz/ingest/direct/regions/us_tn/ingest_views/view_StaffCaseloadTypePeriod.py
  recidiviz/ingest/direct/regions/us_tn/us_tn_custom_enum_parsers.py
Due: generate_docs_for_region, generate_docs_for_endpoint

Path conditions:
  generate_docs_for_region: any of: ^recidiviz/ingest/direct/regions/
  generate_docs_for_endpoint: any of: ^recidiviz/, but not: (?x)(^recidiviz/tests/|^recidiviz/tools/|^recidiviz/ingest/direct/regions/)$

  generate_entity_documentation: any of: (?x)(^recidiviz/persistence/database/schema/state/schema.py|^recidiviz/persistence/database/schema/history_table_shared_columns_mixin.py|^recidiviz/common/constants/state/)$

  generate_calc_documentation: any of: ^recidiviz/calculator/|^recidiviz/metrics/|^recidiviz/.*/views/|^recidiviz/big_query/|^recidiviz/persistence/database/schema/|^recidiviz/persistence/entity/|^recidiviz/task_eligibility/, but not: ^recidiviz/tests/|^recidiviz/calculator/modeling/
  generate_ingest_mappings_schema_documentation: any of: ^recidiviz/ingest/direct/ingest_mappings/yaml_schema/|^docs/engineering/ingest_mapping_schema/
  update_terraform_lock_file: any of: ^recidiviz/tools/deploy/terraform/
