Repository Recidiviz/pulse-data: changes, and which pre-commit hooks are due for each by the changed paths.
All: generate_docs_for_region, generate_docs_for_endpoint, generate_entity_documentation

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.3.0
    hooks:
      - id: check-yaml
  - repo: https://github.com/psf/black
    rev: 20.8b1
    hooks:
      - id: black
        language_version: python3
  - repo: local
    hooks:
      - id: generate_docs_for_region
        name: generate_docs_for_region
        entry: pipenv run python -m recidiviz.tools.docs.region_documentation_generator
        language: system
        files: ^recidiviz/ingest/direct/regions/
        require_serial: true
      - id: generate_docs_for_endpoint
        name: generate_docs_for_endpoint
        entry: pipenv run python -m recidiviz.tools.docs.endpoint_documentation_generator
        language: system
        files: ^recidiviz/
        exclude: >
          (?x)(^recidiviz/tests/|^recidiviz/tools/|^recidiviz/ingest/direct/regions/)$
        require_serial: true
      - id: generate_entity_documentation
        name: generate_entity_documentation
        entry: pipenv run python -m recidiviz.tools.docs.entity_documentation_generator
        language: system
        files: >
           (?x)(^recidiviz/persistence/database/schema/state/schema.py|^recidiviz/persistence/database/schema/history_table_shared_columns_mixin.py)$
        require_serial: true

[Justice Counts] remove deprecated systems from admin panel agency response (Recidiviz/recidiviz-data#26206)
  recidiviz/justice_counts/control_panel/routes/admin.py
  recidiviz/justice_counts/utils/constants.py
  recidiviz/tests/justice_counts/control_panel/admin_test.py
Due: generate_docs_for_endpoint

[TES] Add view builders to is_past_full_term_completion_date and violations_within_time_interval_cte (Recidiviz/recidiviz-data#25984)
  recidiviz/task_eligibility/criteria/general/incarceration_past_full_term_completion_date.py
  recidiviz/task_eligibility/criteria/general/incarceration_within_15_years_of_full_term_completion_date.py
  recidiviz/task_eligibility/criteria/general/incarceration_within_18_months_of_full_term_completion_date.py
  recidiviz/task_eligibility/criteria/general/incarceration_within_20_years_of_full_term_completion_date.py
  recidiviz/task_eligibility/criteria/general/incarceration_within_6_months_of_full_term_completion_date.py
  recidiviz/task_eligibility/criteria/general/incarceration_within_6_months_of_parole_eligibility_date.py
  recidiviz/task_eligibility/criteria/general/incarceration_within_7_years_of_full_term_completion_date.py
  recidiviz/task_eligibility/criteria/general/incarceration_within_7_years_of_parole_eligibility_date.py
  recidiviz/task_eligibility/criteria/general/no_conviction_within_6_months.py
  recidiviz/task_eligibility/criteria/general/no_felony_within_24_months.py
  recidiviz/task_eligibility/criteria/general/no_supervision_violation_within_12_months.py
  recidiviz/task_eligibility/criteria/general/no_supervision_violation_within_6_months.py
  recidiviz/task_eligibility/criteria/general/no_technical_within_6_months.py
  recidiviz/task_eligibility/criteria/general/no_violent_misdemeanor_within_12_months.py
  recidiviz/task_eligibility/criteria/general/supervision_one_day_past_full_term_completion_date.py
  recidiviz/task_eligibility/criteria/general/supervision_past_full_term_completion_date.py
  recidiviz/task_eligibility/criteria/general/supervision_past_full_term_completion_date_or_upcoming_1_day.py
  recidiviz/task_eligibility/criteria/general/supervision_past_full_term_completion_date_or_upcoming_90_days.py
  recidiviz/task_eligibility/utils/critical_date_query_fragments.py
  recidiviz/task_eligibility/utils/general_criteria_builders.py
  recidiviz/task_eligibility/utils/state_dataset_query_fragments.py
Due: generate_docs_for_endpoint

[Justice Counts Publisher Email Notifications] Milestone 1: Functionality to Get Missing Metrics (Recidiviz/recidiviz-data#25970)
  recidiviz/justice_counts/datapoints_for_metric.py
  recidiviz/justice_counts/metricfiles/metricfile_registry.py
  recidiviz/justice_counts/metrics/metric_interface.py
  recidiviz/justice_counts/metrics/metric_registry.py
  recidiviz/justice_counts/report.py
  recidiviz/justice_counts/utils/email.py
  recidiviz/tests/justice_counts/email_test.py
Due: generate_docs_for_endpoint

[App Engine] Fix traces when working outside the request context (Recidiviz/recidiviz-data#26173)
  recidiviz/monitoring/trace.py
  recidiviz/tests/utils/trace_test.py
Due: generate_docs_for_endpoint

[Justice Counts] Raise errors in admin panel when user / agency that already exists (Recidiviz/recidiviz-data#26167)
  recidiviz/justice_counts/agency.py
  recidiviz/justice_counts/control_panel/routes/admin.py
  recidiviz/tests/justice_counts/control_panel/admin_test.py
Due: generate_docs_for_endpoint

[US_TN] Adding new admission reason enum (Recidiviz/recidiviz-data#26207)
  recidiviz/ingest/direct/regions/us_tn/ingest_mappings/us_tn_OffenderMovementIncarcerationPeriod_v3.yaml
Due: generate_docs_for_region, generate_docs_for_endpoint

[Bug] Update move_storage_raw_files_to_deprecated script (Recidiviz/recidiviz-data#25852)
  recidiviz/tests/tools/gsutil_shell_helpers_test.py
  recidiviz/tests/tools/ingest/operations/__init__.py
  recidiviz/tests/tools/ingest/operations/move_storage_raw_files_to_deprecated_test.py
  recidiviz/tools/gsutil_shell_helpers.py
  recidiviz/tools/ingest/operations/copy_raw_state_files_between_projects.py
  recidiviz/tools/ingest/operations/move_storage_raw_files_to_deprecated.py
  recidiviz/tools/ingest/operations/operate_on_storage_raw_files_controller.py
  recidiviz/tools/utils/script_helpers.py
Due: generate_docs_for_endpoint

[App Engine] fix admin panel redirect (Recidiviz/recidiviz-data#26174)
  recidiviz/server.py
Due: generate_docs_for_endpoint

[Admin Panel] Add more IAM permissions; grant access to asset generation service (Recidiviz/recidiviz-data#26217)
  recidiviz/tools/deploy/terraform/cloud-run.tf
Due: generate_docs_for_endpoint

Updating all of the primary keys to use primary key generation in normalization (Recidiviz/recidiviz-data#26172)
  recidiviz/persistence/entity/normalized_entities_utils.py
  recidiviz/pipelines/ingest/state/associate_with_primary_keys.py
  recidiviz/pipelines/ingest/state/generate_primary_keys.py
  recidiviz/pipelines/ingest/state/merge_root_entities_across_dates.py
  recidiviz/pipelines/ingest/state/pipeline.py
  recidiviz/pipelines/ingest/state/serialize_entities.py
  recidiviz/pipelines/normalization/comprehensive/pipeline.py
  recidiviz/pipelines/normalization/utils/normalization_managers/supervision_violation_responses_normalization_manager.py
  recidiviz/pipelines/utils/entities/__init__.py
  recidiviz/pipelines/utils/entities/generate_primary_key.py
  recidiviz/pipelines/utils/entities/serialization.py
  recidiviz/pipelines/utils/state_utils/us_mi/us_mi_incarceration_period_normalization_delegate.py
  recidiviz/pipelines/utils/state_utils/us_mi/us_mi_violation_response_normalization_delegate.py
  recidiviz/pipelines/utils/state_utils/us_mo/us_mo_supervision_period_normalization_delegate.py
  recidiviz/pipelines/utils/state_utils/us_mo/us_mo_violation_response_normalization_delegate.py
  recidiviz/pipelines/utils/state_utils/us_pa/us_pa_supervision_period_normalization_delegate.py
  recidiviz/pipelines/utils/state_utils/us_tn/us_tn_violation_response_normalization_delegate.py
  recidiviz/tests/persistence/entity/normalized_entities_utils_test.py
  recidiviz/tests/pipelines/ingest/state/generate_primary_keys_test.py
  recidiviz/tools/validate_source_visibility.py
Due: generate_docs_for_endpoint

[US_TN] Adding tn validation bumps for various outliers related validations (Recidiviz/recidiviz-data#26222)
  recidiviz/validation/config/regions/us_tn/us_tn_validation_config.yaml
Due: generate_docs_for_endpoint

Revert "Updating all of the primary keys to use primary key generatio… (Recidiviz/recidiviz-data#26227)
  recidiviz/persistence/entity/normalized_entities_utils.py
  recidiviz/pipelines/ingest/state/associate_with_primary_keys.py
  recidiviz/pipelines/ingest/state/constants.py
  recidiviz/pipelines/ingest/state/generate_primary_keys.py
  recidiviz/pipelines/ingest/state/merge_root_entities_across_dates.py
  recidiviz/pipelines/ingest/state/pipeline.py
  recidiviz/pipelines/ingest/state/serialize_entities.py
  recidiviz/pipelines/normalization/comprehensive/pipeline.py
  recidiviz/pipelines/normalization/utils/normalization_managers/supervision_violation_responses_normalization_manager.py
  recidiviz/pipelines/utils/entities/__init__.py
  recidiviz/pipelines/utils/entities/generate_primary_key.py
  recidiviz/pipelines/utils/entities/serialization.py
  recidiviz/pipelines/utils/state_utils/us_mi/us_mi_incarceration_period_normalization_delegate.py
  recidiviz/pipelines/utils/state_utils/us_mi/us_mi_violation_response_normalization_delegate.py
  recidiviz/pipelines/utils/state_utils/us_mo/us_mo_supervision_period_normalization_delegate.py
  recidiviz/pipelines/utils/state_utils/us_mo/us_mo_violation_response_normalization_delegate.py
  recidiviz/pipelines/utils/state_utils/us_pa/us_pa_supervision_period_normalization_delegate.py
  recidiviz/pipelines/utils/state_utils/us_tn/us_tn_violation_response_normalization_delegate.py
  recidiviz/tests/persistence/entity/normalized_entities_utils_test.py
  recidiviz/tests/pipelines/ingest/state/generate_primary_keys_test.py
  recidiviz/tools/validate_source_visibility.py
Due: generate_docs_for_endpoint

[SCHEMA] Adding DEPORTED enum to supervision_type (Recidiviz/recidiviz-data#26158)
  recidiviz/calculator/query/state/views/sessions/compartment_level_2_dedup_priority.py
  recidiviz/common/constants/state/enum_canonical_strings.py
  recidiviz/common/constants/state/state_supervision_period.py
  recidiviz/persistence/database/migrations/state/versions/2023_12_13_1119_965f4591141f_add_deported_enum_supervision_type.py
  recidiviz/persistence/database/schema/state/schema.py
  recidiviz/pipelines/utils/entity_normalization/normalized_supervision_period_index.py
  recidiviz/pipelines/utils/supervision_period_utils.py
Due: generate_docs_for_endpoint, generate_entity_documentation

Setting up US_ND to run in shadow in DAG (Recidiviz/recidiviz-data#26229)
  recidiviz/ingest/direct/gating.py
  recidiviz/pipelines/ingest/pipeline_utils.py
Due: generate_docs_for_endpoint

[US_TN] Remap `9DP` to DEPORTED enum for supervision_type (Recidiviz/recidiviz-data#26224)
  recidiviz/ingest/direct/regions/us_tn/us_tn_custom_enum_parsers.py
  recidiviz/persistence/database/migrations/state/versions/2023_12_13_1635_b5305c88e6da_us_tn_remap_9dp_to_deported.py
Due: generate_docs_for_region, generate_docs_for_endpoint

Creates randomization.py (Recidiviz/recidiviz-data#26080)
  recidiviz/tools/analyst/randomization.py
Due: generate_docs_for_endpoint

Changing the US_AZ default encoding to US-ASCII (Recidiviz/recidiviz-data#26233)
  recidiviz/ingest/direct/regions/us_az/raw_data/us_az_default.yaml
Due: generate_docs_for_region, generate_docs_for_endpoint

Update handling of null values for gender and race/ethnicity (Recidiviz/recidiviz-data#26211)
  recidiviz/calculator/query/state/views/sessions/person_demographics.py
Due: generate_docs_for_endpoint

[US_TN] remapping absconsion supervision levels (Recidiviz/recidiviz-data#26205)
  recidiviz/calculator/query/state/views/sessions/us_tn/us_tn_supervision_population_metrics_preprocessed.py
  recidiviz/ingest/direct/regions/us_tn/ingest_mappings/us_tn_AssignedStaffSupervisionPeriod_v2.yaml
  recidiviz/ingest/direct/regions/us_tn/us_tn_custom_enum_parsers.py
  recidiviz/persistence/database/migrations/state/versions/2023_12_14_1145_f578db7fbd32_us_tn_remap_abs_raw_text_to_enums.py
Due: generate_docs_for_region, generate_docs_for_endpoint

[US_ND] Added raw data config file for elite_offender_sent_adj (Recidiviz/recidiviz-data#26210)
  recidiviz/ingest/direct/regions/us_nd/raw_data/us_nd_elite_offender_sent_adj.yaml
Due: generate_docs_for_region, generate_docs_for_endpoint

[Outliers] Don't import archive-related views to DB (Recidiviz/recidiviz-data#26220)
  recidiviz/application_data_import/server.py
  recidiviz/calculator/query/state/views/outliers/outliers_views.py
  recidiviz/tests/application_data_import/server_test.py
Due: generate_docs_for_endpoint

[US_TN] remap to raw_text in TN from BENCH_WARRANT to WARRANT_STATUS (Recidiviz/recidiviz-data#26234)
  recidiviz/calculator/query/state/views/sessions/us_tn/us_tn_supervision_population_metrics_preprocessed.py
  recidiviz/ingest/direct/regions/us_tn/ingest_mappings/us_tn_AssignedStaffSupervisionPeriod_v2.yaml
  recidiviz/ingest/direct/regions/us_tn/us_tn_custom_enum_parsers.py
  recidiviz/persistence/database/migrations/state/versions/2023_12_14_1858_a0fd7f2facdc_us_tn_remap_bench_warrant.py
Due: generate_docs_for_region, generate_docs_for_endpoint

[US_TN] Adding new enum values to resolve errors (Recidiviz/recidiviz-data#26235)
  recidiviz/ingest/direct/regions/us_tn/ingest_mappings/us_tn_AssignedStaffSupervisionPeriod_v2.yaml
  recidiviz/ingest/direct/regions/us_tn/ingest_mappings/us_tn_OffenderMovementIncarcerationPeriod_v3.yaml
Due: generate_docs_for_region, generate_docs_for_endpoint

Fix failing docker image test (Recidiviz/recidiviz-data#26246)
  recidiviz/monitoring/providers.py
Due: generate_docs_for_endpoint

[Monitoring] Fix export timeliness callback signature; validate instrument key length (Recidiviz/recidiviz-data#26247)
  recidiviz/monitoring/configs.py
  recidiviz/monitoring/export_timeliness.py
  recidiviz/monitoring/keys.py
  recidiviz/monitoring/monitoring_instruments.yaml
  recidiviz/tests/monitoring/configs_test.py
  recidiviz/tests/monitoring/export_timeliness_test.py
  recidiviz/tests/monitoring/keys_test.py
Due: generate_docs_for_endpoint

[US_ND] Validation bump (Recidiviz/recidiviz-data#26251)
  recidiviz/validation/config/regions/us_nd/us_nd_validation_config.yaml
Due: generate_docs_for_endpoint

Updating all of the primary keys to use primary key generation in normalization (Recidiviz/recidiviz-data#26232)
  recidiviz/persistence/entity/generate_primary_key.py
  recidiviz/persistence/entity/normalized_entities_utils.py
  recidiviz/persistence/entity/serialization.py
  recidiviz/pipelines/ingest/state/associate_with_primary_keys.py
  recidiviz/pipelines/ingest/state/constants.py
  recidiviz/pipelines/ingest/state/generate_primary_keys.py
  recidiviz/pipelines/ingest/state/merge_root_entities_across_dates.py
  recidiviz/pipelines/ingest/state/pipeline.py
  recidiviz/pipelines/ingest/state/serialize_entities.py
  recidiviz/pipelines/metrics/base_metric_pipeline.py
  recidiviz/pipelines/normalization/comprehensive/pipeline.py
  recidiviz/pipelines/normalization/utils/normalization_managers/supervision_violation_responses_normalization_manager.py
  recidiviz/pipelines/supplemental/us_id_case_note_extracted_entities/pipeline.py
  recidiviz/pipelines/supplemental/us_ix_case_note_extracted_entities/pipeline.py
  recidiviz/pipelines/utils/beam_utils/bigquery_io_utils.py
  recidiviz/pipelines/utils/state_utils/us_mi/us_mi_incarceration_period_normalization_delegate.py
  recidiviz/pipelines/utils/state_utils/us_mi/us_mi_violation_response_normalization_delegate.py
  recidiviz/pipelines/utils/state_utils/us_mo/us_mo_supervision_period_normalization_delegate.py
  recidiviz/pipelines/utils/state_utils/us_mo/us_mo_violation_response_normalization_delegate.py
  recidiviz/pipelines/utils/state_utils/us_pa/us_pa_supervision_period_normalization_delegate.py
  recidiviz/pipelines/utils/state_utils/us_tn/us_tn_violation_response_normalization_delegate.py
  recidiviz/tests/persistence/entity/normalized_entities_utils_test.py
  recidiviz/tests/persistence/entity/serialization_test.py
  recidiviz/tests/pipelines/ingest/state/generate_primary_keys_test.py
  recidiviz/tests/pipelines/utils/beam_utils/bigquery_io_utils_test.py
Due: generate_docs_for_endpoint

[US_ND][US_PA] More validation bumps (Recidiviz/recidiviz-data#26255)
  recidiviz/validation/config/regions/us_nd/us_nd_validation_config.yaml
  recidiviz/validation/config/regions/us_pa/us_pa_validation_config.yaml
  recidiviz/validation/views/state/stable_counts/stable_counts.py
Due: generate_docs_for_endpoint

[Monitoring] Fix `View` attribute filter (Recidiviz/recidiviz-data#26261)
  recidiviz/monitoring/configs.py
  recidiviz/monitoring/monitoring_instruments.yaml
  recidiviz/monitoring/views.py
  recidiviz/tests/utils/monitoring_test_utils.py
Due: generate_docs_for_endpoint

[Justice Counts] gate backend admin endpoints to users with `justice-counts-admin` role (Recidiviz/recidiviz-data#26209)
  recidiviz/justice_counts/control_panel/config.py
  recidiviz/justice_counts/control_panel/server.py
  recidiviz/tests/justice_counts/control_panel/admin_test.py
  recidiviz/utils/auth/auth0.py
Due: generate_docs_for_endpoint

[Justice Counts] [1/n] Fix: get most recent fiscal year reports ending in the current year before checking for previous year (Recidiviz/recidiviz-data#26252)
  recidiviz/justice_counts/report.py
  recidiviz/tests/justice_counts/report_test.py
Due: generate_docs_for_endpoint

[US_PA] Deprecate `us_pa_agent_supervisor_preprocessed` (Recidiviz/recidiviz-data#26271)
  recidiviz/calculator/query/state/views/analyst_data/agent_supervisor_preprocessed.py
  recidiviz/calculator/query/state/views/analyst_data/analyst_data_views.py
  recidiviz/calculator/query/state/views/analyst_data/us_pa/us_pa_agent_supervisor_preprocessed.py
Due: generate_docs_for_endpoint

[Justice Counts] [2/n] refactor get_missing_metrics to group annual metrics primarily by starting_month (Recidiviz/recidiviz-data#26254)
  recidiviz/justice_counts/utils/email.py
  recidiviz/tests/justice_counts/email_test.py
Due: generate_docs_for_endpoint

[US_AR] YAMLs for 12/14 tables (validation data and corrections raw data) (Recidiviz/recidiviz-data#26272)
  recidiviz/ingest/direct/regions/us_ar/raw_data/us_ar_COMMITMENTSUMMARY.yaml
  recidiviz/ingest/direct/regions/us_ar/raw_data/us_ar_CUSTODYCLASS.yaml
  recidiviz/ingest/direct/regions/us_ar/raw_data/us_ar_DEADTIME.yaml
  recidiviz/ingest/direct/regions/us_ar/raw_data/us_ar_DEADTIMEPENALTY.yaml
  recidiviz/ingest/direct/regions/us_ar/raw_data/us_ar_FACILITYDAILYPOP.yaml
  recidiviz/ingest/direct/regions/us_ar/raw_data/us_ar_INMATEPROFILE.yaml
  recidiviz/ingest/direct/regions/us_ar/raw_data/us_ar_MONTHLYCASELDSTATS.yaml
  recidiviz/ingest/direct/regions/us_ar/raw_data/us_ar_RELEASEDATECHANGE.yaml
  recidiviz/ingest/direct/regions/us_ar/raw_data/us_ar_SENTENCECREDITDBT.yaml
Due: generate_docs_for_region, generate_docs_for_endpoint

[US_MI][Outliers] Make violation_window_upper_bound_exclusive inclusive (Recidiviz/recidiviz-data#26289)
  recidiviz/pipelines/utils/state_utils/us_mi/us_mi_violations_delegate.py
  recidiviz/tests/pipelines/utils/state_utils/us_mi/us_mi_violations_delegate_test.py
Due: generate_docs_for_endpoint

[US_ME][Workflows] Bug Fix for x_years_remaining_on_sentence (Recidiviz/recidiviz-data#26231)
  recidiviz/task_eligibility/criteria/state_specific/us_me/five_years_remaining_on_sentence.py
  recidiviz/task_eligibility/utils/us_me_query_fragments.py
Due: generate_docs_for_endpoint

[US_ND] Validation bumps (Recidiviz/recidiviz-data#26307)
  recidiviz/validation/config/regions/us_nd/us_nd_validation_config.yaml
Due: generate_docs_for_endpoint

[US_AR] Ingest employment periods (Recidiviz/recidiviz-data#26291)
  recidiviz/ingest/direct/regions/us_ar/ingest_mappings/us_ar_employment_period.yaml
  recidiviz/ingest/direct/regions/us_ar/ingest_views/view_employment_period.py
  recidiviz/ingest/direct/regions/us_ar/us_ar_controller.py
  recidiviz/ingest/direct/regions/us_ar/us_ar_custom_parsers.py
Due: generate_docs_for_region, generate_docs_for_endpoint

[US_PA] Bump stable counts validations (Recidiviz/recidiviz-data#26314)
  recidiviz/validation/config/regions/us_pa/us_pa_validation_config.yaml
Due: generate_docs_for_endpoint

backfill pseudonymized_ids for admin panel rosters, add to user_override (Recidiviz/recidiviz-data#26175)
  recidiviz/auth/auth_endpoint.py
  recidiviz/auth/auth_users_endpoint.py
  recidiviz/auth/helpers.py
  recidiviz/calculator/query/bq_utils.py
  recidiviz/calculator/query/state/views/outliers/staff_query_template.py
  recidiviz/calculator/query/state/views/outliers/supervision_client_events.py
  recidiviz/calculator/query/state/views/reference/product_roster.py
  recidiviz/persistence/database/migrations/case_triage/versions/2023_12_12_1355_a061a9b08330_add_backfill_pseudonymized_id_column.py
  recidiviz/persistence/database/schema/case_triage/schema.py
  recidiviz/tests/auth/auth_endpoint_test.py
  recidiviz/tests/auth/auth_users_endpoint_test.py
  recidiviz/tests/auth/fixtures/us_xx_ingested_users.csv
  recidiviz/tests/auth/helpers.py
  recidiviz/tests/auth/helpers_test.py
  recidiviz/tools/case_triage/fixtures/user_override.csv
Due: generate_docs_for_endpoint
