Repository Recidiviz/pulse-data: changes, and which pre-commit hooks are due for each by the changed paths.
All: clear_notebook_files, validate_scripts_and_notebooks_are_changed_together, generate_docs_for_region, generate_docs_for_endpoint, generate_entity_documentation, generate_calc_documentation, generate_ingest_mappings_schema_documentation, update_terraform_lock_file, terraform_fmt, alphabetize_yaml, generate_lookml

clear_notebook_files:
  name: Clear Output of Jupyter Notebook
  description: Clears output of Jupyter Notebooks
  stages:
  - pre-commit
  language: system
  entry: jupyter nbconvert --ClearOutputPreprocessor.enabled=True --inplace

validate_scripts_and_notebooks_are_changed_together:
  name: validate_scripts_and_notebooks_are_changed_together
  entry: pipenv run python -m recidiviz.research.validate_script_changes_pre_commit
  language: system
  require_serial: true

generate_docs_for_region:
  name: generate_docs_for_region
  entry: pipenv run python -m recidiviz.tools.docs.region_documentation_generator
  language: system
  require_serial: true

generate_docs_for_endpoint:
  name: generate_docs_for_endpoint
  entry: pipenv run python -m recidiviz.tools.docs.endpoint_documentation_generator
  language: system
  require_serial: true

generate_entity_documentation:
  name: generate_entity_documentation
  entry: pipenv run python -m recidiviz.tools.docs.entity_documentation_generator
  language: system
  require_serial: true

generate_calc_documentation:
  name: generate_calc_documentation
  entry: pipenv run python -m recidiviz.calculator.calculation_documentation_generator
  language: system
  require_serial: true

generate_ingest_mappings_schema_documentation:
  name: generate_ingest_mappings_schema_documentation
  entry: pipenv run python -m recidiviz.tools.docs.ingest_mappings_schema_documentation_generator
  language: system
  require_serial: true

update_terraform_lock_file:
  name: update_terraform_lock_file
  entry: recidiviz/tools/deploy/update_terraform_lock.sh
  language: script
  require_serial: true

terraform_fmt:
  name: terraform_fmt
  entry: recidiviz/tools/deploy/format_terraform.sh
  language: script

alphabetize_yaml:
  name: alphabetize_yaml
  entry: pipenv run python -m recidiviz.tools.alphabetize_raw_data_reference_reasons
  language: system

generate_lookml:
  name: generate_lookml
  entry: pipenv run python -m recidiviz.tools.looker.generate_all_lookml
  language: system
  pass_filenames: false

[Viz] Data viz additions (Recidiviz/recidiviz-data#48620)
  recidiviz/tools/analyst/notebook_utils.py
  recidiviz/tools/analyst/plots.py
Due: none

[deploy] Fetch looker tags during staging deploy (Recidiviz/recidiviz-data#49931)
  recidiviz/tools/deploy/base_deploy_to_staging.sh
Due: none

[US_AZ] Ingest STATE_VIOLATION_ID as incident_metadata (Recidiviz/recidiviz-data#49914)
  recidiviz/ingest/direct/regions/us_az/ingest_mappings/us_az_incarceration_incidents.yaml
Due: generate_docs_for_region

[US_UT] Add UT to raw data pruning script (Recidiviz/recidiviz-data#49652)
  recidiviz/ingest/direct/gating.py
  recidiviz/tools/multi_state_raw_data_pruning.sh
Due: none

[US_AZ] Minor adjustments to state_charge_v2 (Recidiviz/recidiviz-data#48619)
  recidiviz/ingest/direct/regions/us_az/ingest_mappings/us_az_state_sentence.yaml
Due: generate_docs_for_region

[Login Reminders] Enable supervision linestaff emails for IA (Recidiviz/recidiviz-data#48586)
  recidiviz/appsscript/login_reminders/EmailReminderHelpers.js
  recidiviz/appsscript/login_reminders/SendSupervisionLinestaffEmailReminders.js
Due: none

[US_AZ] Turn on Roster Sync for Arizona (Recidiviz/recidiviz-data#46776)
  recidiviz/metrics/export/products/products.yaml
Due: none

[Insights] fix MI split parole/probation metrics by using attrs.evolve (Recidiviz/recidiviz-data#49955)
  recidiviz/outliers/querier/querier.py
  recidiviz/outliers/types.py
  recidiviz/tests/reporting/context/outliers_supervision_officer_supervisor/outliers_supervision_officer_supervisor_test.py
Due: none

[US_NY] Exclude sessions_missing_closest_sentence_imposed_group validation (Recidiviz/recidiviz-data#49970)
  recidiviz/validation/config/regions/us_ny/us_ny_validation_config.yaml
Due: none

[lineage] remove concept of selected node (Recidiviz/recidiviz-data#49947)
  frontends/admin-panel/src/LineageStore/GraphHelpers.ts
  frontends/admin-panel/src/LineageStore/GraphStore.ts
  frontends/admin-panel/src/LineageStore/NodeFilter/Utils.ts
  frontends/admin-panel/src/LineageStore/UiStore.ts
  frontends/admin-panel/src/LineageStore/__fixtures__/GraphHelpersFixture.ts
  frontends/admin-panel/src/LineageStore/__tests__/GraphHelpers.test.ts
  frontends/admin-panel/src/components/App.tsx
  frontends/admin-panel/src/components/Lineage/GraphNode/GraphNodeDetailDrawer/GraphNodeDetailDrawer.tsx
  frontends/admin-panel/src/components/Lineage/LineageGraph.tsx
  frontends/admin-panel/src/components/Lineage/LineageToolbar/GraphAutoCompleteSearch/GraphAutoCompleteSearch.tsx
  frontends/admin-panel/src/components/Lineage/LineageToolbar/LineageToolbar.tsx
  frontends/admin-panel/src/components/Lineage/LineageToolbar/NodeFilterModal/NodeFilterModal.tsx
Due: none

[lineage] contraction (Recidiviz/recidiviz-data#48638)
  frontends/admin-panel/src/LineageStore/GraphStore.ts
  frontends/admin-panel/src/LineageStore/LineageStore.ts
  frontends/admin-panel/src/LineageStore/Utils.tsx
  frontends/admin-panel/src/LineageStore/__fixtures__/GraphFixtures.ts
  frontends/admin-panel/src/LineageStore/__tests__/GraphHelpers.test.ts
  frontends/admin-panel/src/LineageStore/__tests__/GraphStore.test.ts
  frontends/admin-panel/src/LineageStore/types.ts
  frontends/admin-panel/src/components/Lineage/GraphNode/GraphNodeExpandComponent.tsx
  frontends/admin-panel/src/components/Lineage/LineageGraph.tsx
  recidiviz/admin_panel/models/lineage_api_schemas.py
Due: none

[tests] Fix flaky doc generation test (Recidiviz/recidiviz-data#48614)
  recidiviz/ingest/direct/raw_data/raw_data_ruamel_yaml_update.py
Due: none

[lineage] re-compute expanded boolean for non-filtered cases (Recidiviz/recidiviz-data#49946)
  frontends/admin-panel/src/LineageStore/GraphStore.ts
  frontends/admin-panel/src/LineageStore/LineageStore.ts
  frontends/admin-panel/src/LineageStore/UiStore.ts
  frontends/admin-panel/src/LineageStore/__tests__/GraphStore.test.ts
  frontends/admin-panel/src/LineageStore/types.ts
Due: none

[lineage] add zoom-to-node, collapse search -> plus button (Recidiviz/recidiviz-data#49948)
  frontends/admin-panel/src/LineageStore/GraphStore.ts
  frontends/admin-panel/src/LineageStore/UiStore.ts
  frontends/admin-panel/src/components/Lineage/LineageToolbar/GraphNodeAutoCompleteSearch/GraphNodeAutoCompleteSearch.tsx
  frontends/admin-panel/src/components/Lineage/LineageToolbar/LineageGraphAutoCompleteSearch/LineageGraphAutoCompleteSearch.css
  frontends/admin-panel/src/components/Lineage/LineageToolbar/LineageGraphAutoCompleteSearch/LineageGraphAutoCompleteSearch.tsx
  frontends/admin-panel/src/components/Lineage/LineageToolbar/LineageToolbar.css
  frontends/admin-panel/src/components/Lineage/LineageToolbar/LineageToolbar.tsx
  frontends/admin-panel/src/components/Lineage/LineageToolbar/NodeFilterModal/NodeFilterModal.tsx
Due: none

[US_PA] Revise staff ingest to use new roster (Recidiviz/recidiviz-data#48625)
  recidiviz/ingest/direct/gating.py
Due: none

[lineage] add loading thing to page on load (Recidiviz/recidiviz-data#49949)
  frontends/admin-panel/src/components/Lineage/LineageGraph.css
  frontends/admin-panel/src/components/Lineage/LineageGraph.tsx
  frontends/admin-panel/src/components/Lineage/LineageToolbar/LineageToolbar.css
  frontends/admin-panel/src/components/Lineage/LineageToolbar/LineageToolbar.tsx
Due: none

[US_AZ] Refactored Mandatory Literacy criteria to have enrollment date inside its reasons blobs (Recidiviz/recidiviz-data#47737)
  recidiviz/task_eligibility/eligibility_spans/us_az/overdue_for_recidiviz_dtp_request.py
  recidiviz/task_eligibility/eligibility_spans/us_az/overdue_for_recidiviz_tpr_request.py
  recidiviz/task_eligibility/utils/us_az_query_fragments.py
Due: generate_calc_documentation

[Workflows] Create external request endpoint for emailing the logged-in user (Recidiviz/recidiviz-data#48593)
  bandit_configs/bandit-baseline.json
  recidiviz/case_triage/workflows/api_schemas.py
  recidiviz/case_triage/workflows/workflows_authorization.py
  recidiviz/case_triage/workflows/workflows_routes.py
  recidiviz/justice_counts/jobs/copy_superagency_metric_settings_to_child_agencies.py
  recidiviz/justice_counts/utils/email.py
  recidiviz/reporting/constants.py
  recidiviz/reporting/email_delivery.py
  recidiviz/tests/case_triage/workflows/workflows_authorization_test.py
  recidiviz/tests/case_triage/workflows/workflows_routes_test.py
  recidiviz/tests/utils/sendgrid_client_wrapper_test.py
  recidiviz/tools/justice_counts/copy_over_metric_settings_to_child_agencies.py
  recidiviz/utils/sendgrid_client_wrapper.py
Due: generate_docs_for_endpoint

[US_UT] Disable manual pruning (Recidiviz/recidiviz-data#49999)
  recidiviz/ingest/direct/gating.py
  recidiviz/tools/multi_state_raw_data_pruning.sh
Due: none

[US_UT] Change source of state_incarceration_period.facility (Recidiviz/recidiviz-data#47590)
  recidiviz/ingest/direct/regions/us_ut/ingest_mappings/us_ut_incarceration_period.yaml
Due: generate_docs_for_region

[US_TX] Small tweaks to `scheduled_supervision_contact` (Recidiviz/recidiviz-data#49977)
  recidiviz/ingest/direct/regions/us_tx/ingest_mappings/us_tx_scheduled_supervision_contacts.yaml
Due: generate_docs_for_region

[lineage] speed up find nodes between endpoint (Recidiviz/recidiviz-data#49992)
  frontends/admin-panel/src/LineageStore/GraphStore.ts
  frontends/admin-panel/src/components/Lineage/GraphNode/GraphNodeAncestorSearchCard/GraphNodeAncestorSearchCard.tsx
  recidiviz/admin_panel/lineage_store.py
  recidiviz/admin_panel/routes/lineage.py
  recidiviz/tests/admin_panel/lineage_store_test.py
Due: none

[US_UT] Enable automatic raw data pruning in secondary (Recidiviz/recidiviz-data#50008)
  recidiviz/ingest/direct/gating.py
Due: none

[US_ND] Switch to the right good time release dates (Recidiviz/recidiviz-data#48613)
  recidiviz/task_eligibility/criteria/general/incarceration_within_1_year_of_full_term_completion_date.py
  recidiviz/task_eligibility/criteria/general/incarceration_within_3_months_of_full_term_completion_date.py
  recidiviz/task_eligibility/criteria/general/incarceration_within_42_months_of_full_term_completion_date.py
Due: generate_calc_documentation

[lineage] add links to lineage at the end of bq descriptions (Recidiviz/recidiviz-data#50005)
  recidiviz/big_query/big_query_utils.py
  recidiviz/big_query/big_query_view.py
  recidiviz/tests/big_query/big_query_client_test.py
  recidiviz/tests/big_query/big_query_view_test.py
Due: none

[US_MO] Delete v1 sentences ingest views (Recidiviz/recidiviz-data#49990)
  recidiviz/ingest/direct/regions/us_ar/ingest_mappings/us_ar_supervision_sentence.yaml
  recidiviz/ingest/direct/regions/us_mo/ingest_mappings/us_mo_offender_sentence_institution.yaml
  recidiviz/ingest/direct/regions/us_mo/ingest_mappings/us_mo_offender_sentence_supervision.yaml
  recidiviz/ingest/direct/regions/us_mo/ingest_mappings/us_mo_sentence.yaml
  recidiviz/ingest/direct/regions/us_mo/ingest_mappings/us_mo_sentence_group_length.yaml
  recidiviz/ingest/direct/regions/us_mo/ingest_mappings/us_mo_sentence_length.yaml
  recidiviz/ingest/direct/regions/us_mo/ingest_mappings/us_mo_sentence_status_snapshot.yaml
  recidiviz/ingest/direct/regions/us_ne/ingest_mappings/us_ne_sentence_group_length.yaml
  recidiviz/ingest/direct/regions/us_ne/ingest_mappings/us_ne_sentence_length.yaml
  recidiviz/ingest/direct/regions/us_tn/ingest_mappings/us_tn_diversion_sentence.yaml
  recidiviz/ingest/direct/regions/us_tn/ingest_mappings/us_tn_isc_sentence.yaml
  recidiviz/ingest/direct/regions/us_tn/ingest_mappings/us_tn_sentence_and_charge.yaml
  recidiviz/tests/ingest/direct/regions/ingest_view_cte_comment_exemptions.py
  recidiviz/tests/source_tables/update_big_query_table_schemas_test.py
Due: generate_docs_for_region

[US_TN] Update CR (2025) tool to include intake/"low-compliant" pathway (Recidiviz/recidiviz-data#48522)
  recidiviz/task_eligibility/criteria/general/assessed_risk_low_after_intake_supervision_level.py
  recidiviz/task_eligibility/eligibility_spans/us_tn/transfer_intake_group_to_compliant_reporting_2025_policy.py
Due: generate_calc_documentation

[Autogenerated] Update Pipfile.lock (Recidiviz/recidiviz-data#50070)
  Pipfile.lock
Due: none

[Pathways][US_NY] Enable NY Pathways in product_views and staging exports (Recidiviz/recidiviz-data#50062)
  recidiviz/metrics/export/products/products.yaml
  recidiviz/tools/deploy/terraform/config/pathways_enabled_states.yaml
Due: update_terraform_lock_file, terraform_fmt

[Cleanup] Replace TODOs to close 41554 (Recidiviz/recidiviz-data#50021)
  CODEOWNERS
Due: none

[raw data import] Fix append error file tag (Recidiviz/recidiviz-data#50086)
  recidiviz/airflow/dags/raw_data/bq_load_tasks.py
  recidiviz/airflow/tests/raw_data/file_metadata_tasks_test.py
  recidiviz/ingest/direct/types/raw_data_import_types.py
  recidiviz/tests/ingest/direct/types/raw_data_import_types_test.py
Due: none

[US_TX][JII] Turn on jii texting exports to staging for TX (Recidiviz/recidiviz-data#50057)
  recidiviz/metrics/export/products/products.yaml
Due: none

[Terraform] Update recidiviz-xxx-dataflow-templates-scratch to use cloud-storage-bucket module (Recidiviz/recidiviz-data#50089)
  recidiviz/tools/deploy/terraform/cloud-storage.tf
  recidiviz/tools/deploy/terraform/modules/cloud-storage-bucket/main.tf
Due: update_terraform_lock_file, terraform_fmt

[US_MI] Exclude deleted assessments + deduplicate assessments (Recidiviz/recidiviz-data#46316)
  recidiviz/ingest/direct/regions/us_mi/ingest_mappings/us_mi_security_classification_assessments.yaml
Due: generate_docs_for_region

[Cleanup] Replace TODOs to close 28869 (Recidiviz/recidiviz-data#50085)
  recidiviz/pipelines/utils/state_utils/us_tn/us_tn_sentence_normalization_delegate.py
  recidiviz/validation/config/regions/us_tn/us_tn_validation_config.yaml
Due: none

[Terraform] Create new single-region bucket for template temp storage (Recidiviz/recidiviz-data#50091)
  recidiviz/pipelines/pipeline_parameters.py
  recidiviz/tools/deploy/terraform/cloud-storage.tf
Due: update_terraform_lock_file, terraform_fmt

[US_UT] Fix secondary reimport errors (Recidiviz/recidiviz-data#50083)
  recidiviz/ingest/direct/regions/us_ut/us_ut_raw_data_import_delegate.py
Due: generate_docs_for_region

Adds validations for missing client_record rows (Recidiviz/recidiviz-data#48569)
  recidiviz/validation/configured_validations.py
Due: none

[Auth] Clean up user overrides after roster sync (Recidiviz/recidiviz-data#44320)
  recidiviz/auth/auth_endpoint.py
  recidiviz/auth/cleanup_user_overrides.py
  recidiviz/auth/helpers.py
  recidiviz/persistence/database/schema/case_triage/schema.py
  recidiviz/tests/auth/auth_endpoint_test.py
  recidiviz/tools/auth/cleanup_user_overrides.py
Due: generate_docs_for_endpoint

[US_ND] Parse new enum value (Recidiviz/recidiviz-data#50140)
  recidiviz/ingest/direct/regions/us_nd/ingest_mappings/us_nd_elite_movements_incarceration_periods.yaml
Due: generate_docs_for_region

Path conditions:
  clear_notebook_files: any of: \.ipynb$
  validate_scripts_and_notebooks_are_changed_together: any of: ^recidiviz/research/.*notebooks/.*/nbautoexport-scripts/.*\.py$
  generate_docs_for_region: any of: ^recidiviz/ingest/direct/regions/|^recidiviz/view_registry/raw_data_reference_reasons.yaml
  generate_docs_for_endpoint: any of: (?x)(^recidiviz/tools/docs/endpoint_documentation_generator.py|^recidiviz/server_blueprint_registry.py|.*/routes/|.*routes.py|.*/server.py|.*control.py|.*endpoint.py|.*endpoints.py|^recidiviz/backup/backup_manager.py|^recidiviz/pipelines/calculation_data_storage_manager.py)$, but not: ^recidiviz/tests
  generate_entity_documentation: any of: (?x)(^recidiviz/persistence/database/schema/state/schema.py|^recidiviz/persistence/entity/state/normalized_entities.py|^recidiviz/persistence/entity/state/entities.py|^recidiviz/common/constants/state/)$

  generate_calc_documentation: any of: ^recidiviz/calculator/query/|^recidiviz/.*/views/|^recidiviz/task_eligibility/|^recidiviz/monitoring/platform_kpis/, but not: ^recidiviz/tests/|^recidiviz/calculator/modeling/
  generate_ingest_mappings_schema_documentation: any of: ^recidiviz/ingest/direct/ingest_mappings/yaml_schema/|^docs/engineering/ingest_mapping_schema/
  update_terraform_lock_file: any of: ^recidiviz/tools/deploy/terraform/
  terraform_fmt: any of: ^recidiviz/tools/deploy/terraform/
  alphabetize_yaml: any of: recidiviz/view_registry/raw_data_reference_reasons.yaml
  generate_lookml: any of: ^recidiviz/persistence/entity/state/|^recidiviz/tools/looker/|^recidiviz/aggregated_metrics/| ^recidiviz/observations/views/|^recidiviz/ingest/direct/regions/.*/raw_data/
