Repository Recidiviz/pulse-data: changes, and which pre-commit hooks are due for each by the changed paths.
All: generate_docs_for_region, generate_docs_for_endpoint, generate_entity_documentation

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.3.0
    hooks:
      - id: check-yaml
  - repo: https://github.com/psf/black
    rev: 20.8b1
    hooks:
      - id: black
        language_version: python3
  - repo: local
    hooks:
      - id: generate_docs_for_region
        name: generate_docs_for_region
        entry: pipenv run python -m recidiviz.tools.docs.region_documentation_generator
        language: system
        files: ^recidiviz/ingest/direct/regions/
        require_serial: true
      - id: generate_docs_for_endpoint
        name: generate_docs_for_endpoint
        entry: pipenv run python -m recidiviz.tools.docs.endpoint_documentation_generator
        language: system
        files: ^recidiviz/
        exclude: >
          (?x)(^recidiviz/tests/|^recidiviz/tools/|^recidiviz/ingest/direct/regions/)$
        require_serial: true
      - id: generate_entity_documentation
        name: generate_entity_documentation
        entry: pipenv run python -m recidiviz.tools.docs.entity_documentation_generator
        language: system
        files: >
           (?x)(^recidiviz/persistence/database/schema/state/schema.py|^recidiviz/persistence/database/schema/history_table_shared_columns_mixin.py)$
        require_serial: true

[Workflows] add facility names to MO staff record (Recidiviz/recidiviz-data#19148)
  recidiviz/calculator/query/state/views/workflows/us_mo/incarceration_staff_template.py
Due: generate_docs_for_endpoint

Increasing Cloud Composer size for all of our DAG uses (Recidiviz/recidiviz-data#19178)
  recidiviz/tools/deploy/terraform/cloud-composer.tf
Due: generate_docs_for_endpoint

Switch views to use sentence effective_date (Recidiviz/recidiviz-data#19129)
  recidiviz/calculator/query/state/views/analyst_data/us_nd/us_nd_day_0_overdue_discharge.py
  recidiviz/calculator/query/state/views/reference/sentence_judicial_district_association.py
  recidiviz/calculator/query/state/views/sessions/sentences_preprocessed.py
  recidiviz/calculator/query/state/views/sessions/us_co/us_co_incarceration_sentences_preprocessed.py
  recidiviz/calculator/query/state/views/sessions/us_nd/us_nd_incarceration_sentences_preprocessed.py
  recidiviz/calculator/query/state/views/sessions/us_tn/us_tn_sentences_preprocessed.py
Due: generate_docs_for_endpoint

[Workflows] Add external impact funnel view (Recidiviz/recidiviz-data#19020)
  recidiviz/calculator/query/state/views/reference/opportunity_to_completion_event.py
  recidiviz/calculator/query/state/views/reference/reference_views.py
  recidiviz/calculator/query/state/views/workflows/current_impact_funnel_status.py
  recidiviz/calculator/query/state/views/workflows/firestore/client_record.py
  recidiviz/calculator/query/state/views/workflows/firestore/resident_record.py
  recidiviz/calculator/query/state/views/workflows/workflows_views.py
  recidiviz/tests/big_query/big_query_view_dag_walker_test.py
  recidiviz/validation/configured_validations.py
  recidiviz/validation/views/state/workflows/current_impact_funnel_status_duplicate_external_ids.py
  recidiviz/validation/views/state/workflows/current_impact_funnel_status_no_records.py
Due: generate_docs_for_endpoint

Optimize `create_sub_sessions_with_attributes` using window functions instead of self joins (Recidiviz/recidiviz-data#19115)
  recidiviz/calculator/query/sessions_query_fragments.py
Due: generate_docs_for_endpoint

[US_ME] Hydrate task deadline for discharge from supervision + incarceration (Recidiviz/recidiviz-data#19135)
  recidiviz/ingest/direct/regions/us_me/ingest_mappings/us_me_incarceration_sentences.yaml
  recidiviz/ingest/direct/regions/us_me/ingest_mappings/us_me_supervision_sentences.yaml
  recidiviz/ingest/direct/regions/us_me/ingest_views/us_me_view_query_fragments.py
Due: generate_docs_for_region, generate_docs_for_endpoint

[Justice Counts] Small copy fix (Recidiviz/recidiviz-data#19188)
  recidiviz/justice_counts/metrics/metric_definition.py
  recidiviz/tests/justice_counts/bulk_upload/bulk_upload_fixtures/bulk_upload_test.xlsx
  recidiviz/tests/justice_counts/control_panel/server_test.py
  recidiviz/tests/justice_counts/metric_definition_test.py
  recidiviz/tests/justice_counts/metric_interface_test.py
Due: generate_docs_for_endpoint

[US_PA] Add temporary PA roster added to misc_aggregated_metrics (Recidiviz/recidiviz-data#19179)
  recidiviz/aggregated_metrics/misc_aggregated_metrics.py
  recidiviz/calculator/query/state/views/analyst_data/analyst_data_views.py
  recidiviz/calculator/query/state/views/analyst_data/current_staff_supervision_locations.py
Due: generate_docs_for_endpoint

[Justice Counts] Backend should start sending over None instead of defaults (Recidiviz/recidiviz-data#18639)
  recidiviz/justice_counts/control_panel/routes/api.py
  recidiviz/justice_counts/datapoints_for_metric.py
  recidiviz/justice_counts/metrics/metric_disaggregation_data.py
  recidiviz/justice_counts/metrics/metric_interface.py
  recidiviz/persistence/database/migrations/justice_counts/versions/2023_02_13_1504_cc2840969c2a_add_column.py
  recidiviz/persistence/database/migrations/justice_counts/versions/2023_02_27_1218_f0c3d8d513d6_move_guidance_progress_to_agency_user_.py
  recidiviz/persistence/database/schema/justice_counts/schema.py
  recidiviz/tests/justice_counts/agency_test.py
  recidiviz/tests/justice_counts/control_panel/server_test.py
  recidiviz/tests/justice_counts/metric_interface_test.py
  recidiviz/tests/justice_counts/utils.py
Due: generate_docs_for_endpoint

Append and Populate `is_deleted` to All Existing Raw Data Tables (Recidiviz/recidiviz-data#18956)
  recidiviz/big_query/big_query_utils.py
  recidiviz/ingest/direct/raw_data/direct_ingest_raw_file_import_manager.py
  recidiviz/ingest/direct/raw_data_table_schema_utils.py
  recidiviz/ingest/direct/types/direct_ingest_constants.py
  recidiviz/tests/ingest/direct/raw_data_table_schema_utils_test.py
  recidiviz/tools/ingest/one_offs/populate_is_deleted_column_in_raw_data_tables.py
Due: generate_docs_for_endpoint

[Security] Lower sensitivity on Cloud Armor firewall (Recidiviz/recidiviz-data#19191)
  recidiviz/tools/deploy/terraform/cloud-armor.tf
Due: generate_docs_for_endpoint

[US_ME] Remove time limit for supervision metrics (Recidiviz/recidiviz-data#19186)
  recidiviz/calculator/pipeline/calculation_pipeline_templates.yaml
Due: generate_docs_for_endpoint

[Pathways] Enable Pathways export in production for US_IX (Recidiviz/recidiviz-data#19196)
  recidiviz/metrics/export/products/products.yaml
Due: generate_docs_for_endpoint

[Workflows] Allow access to workflows for all staff in US_IX and US_ID rosters (Recidiviz/recidiviz-data#19181)
  recidiviz/calculator/query/state/views/reference/dashboard_user_restrictions.py
Due: generate_docs_for_endpoint

Adding task retries only to the download and upload operations (Recidiviz/recidiviz-data#19198)
  recidiviz/airflow/dags/sftp_dag.py
Due: generate_docs_for_endpoint

Removing start date from sentences (Recidiviz/recidiviz-data#19154)
  recidiviz/calculator/pipeline/utils/state_utils/us_co/us_co_sentence_normalization_delegate.py
  recidiviz/ingest/direct/regions/us_co/ingest_mappings/us_co_IncarcerationSentence.yaml
  recidiviz/ingest/direct/regions/us_id/ingest_mappings/us_id_mittimus_judge_sentence_offense_sentprob_incarceration_sentences.yaml
  recidiviz/ingest/direct/regions/us_id/ingest_mappings/us_id_mittimus_judge_sentence_offense_sentprob_supervision_sentences.yaml
  recidiviz/ingest/direct/regions/us_ix/ingest_mappings/us_ix_incarceration_sentence.yaml
  recidiviz/ingest/direct/regions/us_ix/ingest_mappings/us_ix_supervision_sentence.yaml
  recidiviz/ingest/direct/regions/us_me/ingest_mappings/us_me_incarceration_sentences.yaml
  recidiviz/ingest/direct/regions/us_me/ingest_mappings/us_me_supervision_sentences.yaml
  recidiviz/ingest/direct/regions/us_mi/ingest_mappings/us_mi_sentences_v2.yaml
  recidiviz/ingest/direct/regions/us_mo/ingest_mappings/us_mo_offender_sentence_institution.yaml
  recidiviz/ingest/direct/regions/us_mo/ingest_mappings/us_mo_offender_sentence_supervision.yaml
  recidiviz/ingest/direct/regions/us_nd/ingest_mappings/us_nd_docstars_offendercasestable_with_officers.yaml
  recidiviz/ingest/direct/regions/us_nd/ingest_mappings/us_nd_elite_offendersentences.yaml
  recidiviz/ingest/direct/regions/us_pa/ingest_mappings/us_pa_dbo_Senrec_v2.yaml
  recidiviz/ingest/direct/regions/us_tn/ingest_mappings/us_tn_SentencesChargesAndCourtCases_v2.yaml
  recidiviz/ingest/models/ingest_info.proto
  recidiviz/ingest/models/ingest_info.py
  recidiviz/ingest/models/ingest_info_pb2.py
  recidiviz/ingest/models/ingest_info_pb2.pyi
  recidiviz/persistence/database/migrations/state/versions/2023_03_01_1211_4f1261187d62_remove_start__date.py
  recidiviz/persistence/database/schema/state/schema.py
  recidiviz/persistence/entity/state/entities.py
  recidiviz/persistence/ingest_info_converter/state/entity_helpers/state_incarceration_sentence.py
  recidiviz/persistence/ingest_info_converter/state/entity_helpers/state_supervision_sentence.py
  recidiviz/tests/calculator/pipeline/metrics/supervision/pipeline_test.py
  recidiviz/tests/calculator/pipeline/normalization/utils/normalized_entity_conversion_utils_test.py
  recidiviz/tests/calculator/pipeline/utils/state_utils/us_co/us_co_sentence_normalization_delegate_test.py
  recidiviz/tests/ingest/direct/regions/utils.py
  recidiviz/tests/persistence/entity/state/deserialize_entity_factories_test.py
  recidiviz/tests/persistence/ingest_info_converter/state/entity_helpers/state_incarceration_sentence_test.py
  recidiviz/tests/persistence/ingest_info_converter/state/entity_helpers/state_supervision_sentence_test.py
Due: generate_docs_for_region, generate_docs_for_endpoint, generate_entity_documentation

[Justice Counts] small TIG copy/paste changes (Recidiviz/recidiviz-data#19194)
  recidiviz/justice_counts/dimensions/person.py
  recidiviz/tests/justice_counts/control_panel/server_test.py
Due: generate_docs_for_endpoint

[US_IX] Remove BW sessions re-mapping (Recidiviz/recidiviz-data#19104)
  recidiviz/calculator/query/state/views/sessions/dataflow_sessions.py
  recidiviz/calculator/query/state/views/sessions/sessions_views.py
  recidiviz/calculator/query/state/views/sessions/us_ix/us_ix_supervision_population_metrics_preprocessed.py
Due: generate_docs_for_endpoint

[Schema Change] Add new StateStaffLocationPeriod entity (Recidiviz/recidiviz-data#19150)
  recidiviz/persistence/database/migrations/state/versions/2023_03_02_1157_fd973fd2dbdd_add_staff_location_period.py
  recidiviz/persistence/database/schema/state/schema.py
  recidiviz/persistence/entity/entity_utils.py
  recidiviz/persistence/entity/state/deserialize_entity_factories.py
  recidiviz/persistence/entity/state/entities.py
  recidiviz/persistence/entity_matching/state/state_matching_utils.py
  recidiviz/tests/persistence/database/schema_utils_test.py
  recidiviz/tests/persistence/entity/entity_utils_test.py
  recidiviz/tests/persistence/entity/state/deserialize_entity_factories_test.py
  recidiviz/tests/persistence/persistence_test.py
Due: generate_docs_for_endpoint, generate_entity_documentation

flex template operator classes (Recidiviz/recidiviz-data#19128)
  recidiviz/airflow/dags/calculation_dag.py
  recidiviz/airflow/dags/operators/recidiviz_dataflow_operator.py
  recidiviz/airflow/dags/utils/pipeline_parameters.py
  recidiviz/calculator/pipeline/metrics/template_metadata.json
  recidiviz/calculator/pipeline/normalization/template_metadata.json
  recidiviz/calculator/pipeline/supplemental/template_metadata.json
Due: generate_docs_for_endpoint

Remove extra comma in Terraform config (Recidiviz/recidiviz-data#19205)
  recidiviz/calculator/pipeline/normalization/template_metadata.json
Due: generate_docs_for_endpoint

Add new `no_valid_primary_keys` Raw Data YAML Tag (Recidiviz/recidiviz-data#19113)
  recidiviz/ingest/direct/raw_data/direct_ingest_raw_file_import_manager.py
  recidiviz/ingest/direct/raw_data/yaml_schema/schema.json
  recidiviz/ingest/direct/regions/us_ar/raw_data/us_ar_default.yaml
  recidiviz/ingest/direct/regions/us_ca/raw_data/us_ca_default.yaml
  recidiviz/ingest/direct/regions/us_co/raw_data/us_co_default.yaml
  recidiviz/ingest/direct/regions/us_ia/raw_data/us_ia_default.yaml
  recidiviz/ingest/direct/regions/us_id/raw_data/us_id_default.yaml
  recidiviz/ingest/direct/regions/us_ix/raw_data/us_ix_default.yaml
  recidiviz/ingest/direct/regions/us_me/raw_data/us_me_default.yaml
  recidiviz/ingest/direct/regions/us_mi/raw_data/us_mi_default.yaml
  recidiviz/ingest/direct/regions/us_mo/raw_data/us_mo_default.yaml
  recidiviz/ingest/direct/regions/us_nd/raw_data/us_nd_default.yaml
  recidiviz/ingest/direct/regions/us_or/raw_data/us_or_default.yaml
  recidiviz/ingest/direct/regions/us_oz/raw_data/us_oz_default.yaml
  recidiviz/ingest/direct/regions/us_pa/raw_data/us_pa_default.yaml
  recidiviz/ingest/direct/regions/us_tn/raw_data/us_tn_default.yaml
  recidiviz/ingest/direct/templates/us_xx/raw_data/us_xx_default.yaml
  recidiviz/tests/ingest/direct/fake_regions/us_tt/raw_data/us_tt_default.yaml
  recidiviz/tests/ingest/direct/fake_regions/us_uu/raw_data/us_uu_default.yaml
  recidiviz/tests/ingest/direct/fake_regions/us_vv/raw_data/us_vv_default.yaml
  recidiviz/tests/ingest/direct/fake_regions/us_ww/raw_data/us_ww_default.yaml
  recidiviz/tests/ingest/direct/fake_regions/us_ww/raw_data/us_ww_tagNotHistorical.yaml
  recidiviz/tests/ingest/direct/fake_regions/us_xx/raw_data/us_xx_default.yaml
  recidiviz/tests/ingest/direct/fake_regions/us_zz/raw_data/us_zz_default.yaml
  recidiviz/tests/ingest/direct/fakes/fake_direct_ingest_controller.py
  recidiviz/tests/ingest/direct/raw_data_table_schema_utils_test.py
  recidiviz/tests/ingest/direct/views/direct_ingest_latest_view_collector_test.py
  recidiviz/tests/ingest/direct/views/raw_table_query_builder_test.py
  recidiviz/tests/tools/ingest/development/raw_data_config_writer_test.py
  recidiviz/tests/tools/ingest/testing/raw_data_fixtures_generator_test.py
  recidiviz/tools/ingest/development/create_ingest_config_skeleton.py
  recidiviz/tools/ingest/development/fetch_column_values_for_state.py
  recidiviz/tools/ingest/development/raw_data_config_writer.py
Due: generate_docs_for_region, generate_docs_for_endpoint

fixing pylint issues on main with the proto files (Recidiviz/recidiviz-data#19206)
  recidiviz/persistence/ingest_info_converter/base_converter.py
  recidiviz/persistence/ingest_info_converter/ingest_info_converter.py
  recidiviz/persistence/ingest_info_converter/state/entity_helpers/state_agent.py
  recidiviz/persistence/ingest_info_converter/state/entity_helpers/state_alias.py
  recidiviz/persistence/ingest_info_converter/state/entity_helpers/state_assessment.py
  recidiviz/persistence/ingest_info_converter/state/entity_helpers/state_charge.py
  recidiviz/persistence/ingest_info_converter/state/entity_helpers/state_early_discharge.py
  recidiviz/persistence/ingest_info_converter/state/entity_helpers/state_incarceration_incident.py
  recidiviz/persistence/ingest_info_converter/state/entity_helpers/state_incarceration_incident_outcome.py
  recidiviz/persistence/ingest_info_converter/state/entity_helpers/state_incarceration_period.py
  recidiviz/persistence/ingest_info_converter/state/entity_helpers/state_incarceration_sentence.py
  recidiviz/persistence/ingest_info_converter/state/entity_helpers/state_person.py
  recidiviz/persistence/ingest_info_converter/state/entity_helpers/state_person_ethnicity.py
  recidiviz/persistence/ingest_info_converter/state/entity_helpers/state_person_external_id.py
  recidiviz/persistence/ingest_info_converter/state/entity_helpers/state_person_race.py
  recidiviz/persistence/ingest_info_converter/state/entity_helpers/state_program_assignment.py
  recidiviz/persistence/ingest_info_converter/state/entity_helpers/state_supervision_case_type_entry.py
  recidiviz/persistence/ingest_info_converter/state/entity_helpers/state_supervision_contact.py
  recidiviz/persistence/ingest_info_converter/state/entity_helpers/state_supervision_period.py
  recidiviz/persistence/ingest_info_converter/state/entity_helpers/state_supervision_sentence.py
  recidiviz/persistence/ingest_info_converter/state/entity_helpers/state_supervision_violated_condition_entry.py
  recidiviz/persistence/ingest_info_converter/state/entity_helpers/state_supervision_violation.py
  recidiviz/persistence/ingest_info_converter/state/entity_helpers/state_supervision_violation_response.py
  recidiviz/persistence/ingest_info_converter/state/entity_helpers/state_supervision_violation_response_decision_entry.py
  recidiviz/persistence/ingest_info_converter/state/entity_helpers/state_supervision_violation_type_entry.py
  recidiviz/persistence/ingest_info_converter/state/state_converter.py
  recidiviz/persistence/persistence.py
  recidiviz/tests/ingest/models/ingest_info_test.py
  recidiviz/tests/persistence/ingest_info_validator/ingest_info_validator_test.py
Due: generate_docs_for_endpoint

add dataflow image to staging deploy script (Recidiviz/recidiviz-data#18500)
  recidiviz/tools/deploy/base_deploy_to_staging.sh
Due: generate_docs_for_endpoint

[US_PA] Adding date_received column to specialty_agents raw data file (Recidiviz/recidiviz-data#19211)
  recidiviz/ingest/direct/regions/us_pa/raw_data/us_pa_specialty_agents.yaml
Due: generate_docs_for_region, generate_docs_for_endpoint

[US_TN] Fix double spaces in offense descriptions for sentence view (BQ-postgres compatible) (Recidiviz/recidiviz-data#19210)
  recidiviz/ingest/direct/regions/us_tn/ingest_views/view_SentencesChargesAndCourtCases_v2.py
Due: generate_docs_for_region, generate_docs_for_endpoint

Revert "add dataflow image to staging deploy script (Recidiviz/recidiviz-data#18500)" (Recidiviz/recidiviz-data#19214)
  recidiviz/tools/deploy/base_deploy_to_staging.sh
Due: generate_docs_for_endpoint

[DagWalker] Process Dag Serially (Recidiviz/recidiviz-data#18846)
  recidiviz/big_query/big_query_view_dag_walker.py
  recidiviz/big_query/view_update_manager.py
  recidiviz/tests/big_query/big_query_view_dag_walker_test.py
  recidiviz/tools/load_views_to_sandbox.py
Due: generate_docs_for_endpoint

[US_TN] update TN drug screens to incorporate tests from `DrugTestDrugClass` (Recidiviz/recidiviz-data#15226)
  recidiviz/calculator/query/state/views/analyst_data/us_tn/us_tn_compliant_reporting_guardrail.py
  recidiviz/calculator/query/state/views/analyst_data/us_tn/us_tn_compliant_reporting_logic.py
  recidiviz/calculator/query/state/views/sessions/drug_screens_preprocessed.py
  recidiviz/calculator/query/state/views/sessions/us_id/us_id_drug_screens_preprocessed.py
  recidiviz/calculator/query/state/views/sessions/us_tn/us_tn_drug_screens_preprocessed.py
Due: generate_docs_for_endpoint

Create raw table with schema during sandbox import (Recidiviz/recidiviz-data#18790)
  recidiviz/admin_panel/ingest_operations/ingest_utils.py
  recidiviz/admin_panel/routes/ingest_ops.py
  recidiviz/ingest/direct/raw_data_table_schema_utils.py
  recidiviz/tests/admin_panel/ingest_operations/__init__.py
  recidiviz/tests/admin_panel/ingest_operations/ingest_utils_test.py
  recidiviz/tests/ingest/direct/raw_data_table_schema_utils_test.py
  recidiviz/tools/deploy/update_raw_data_table_schemas.py
  recidiviz/tools/ingest/operations/import_raw_files_to_sandbox.py
Due: generate_docs_for_endpoint

[US_MO] Compile Program Track Information (Recidiviz/recidiviz-data#18286)
  recidiviz/calculator/query/state/views/analyst_data/analyst_data_views.py
  recidiviz/calculator/query/state/views/analyst_data/us_mo/us_mo_program_tracks.py
  recidiviz/calculator/query/state/views/analyst_data/us_mo/us_mo_screeners_preprocessed.py
  recidiviz/calculator/query/state/views/analyst_data/us_mo/us_mo_sentencing_dates_preprocessed.py
Due: generate_docs_for_endpoint

[Bugfix] Fix bug in queries for generating raw data fixtures (Recidiviz/recidiviz-data#19218)
  recidiviz/tests/tools/ingest/testing/raw_data_fixtures_generator_test.py
  recidiviz/tools/ingest/testing/raw_data_fixtures_generator.py
Due: generate_docs_for_endpoint

[Workflows] grant workflows access to MO users (Recidiviz/recidiviz-data#19230)
  recidiviz/calculator/query/state/views/reference/dashboard_user_restrictions.py
Due: generate_docs_for_endpoint

[US_IX] Add raw data configs for ARM tables (Recidiviz/recidiviz-data#19232)
  recidiviz/ingest/direct/regions/us_ix/raw_data/us_ix_arm_MatrixIncentiveTrigger.yaml
  recidiviz/ingest/direct/regions/us_ix/raw_data/us_ix_arm_MatrixInfractionTrigger.yaml
  recidiviz/ingest/direct/regions/us_ix/raw_data/us_ix_arm_ResponseMatrix.yaml
Due: generate_docs_for_region, generate_docs_for_endpoint

[WIP] [US_CA] update raw data yamls for PersonParole and AgentParole (Recidiviz/recidiviz-data#19233)
  recidiviz/ingest/direct/regions/us_ca/raw_data/us_ca_AgentParole.yaml
  recidiviz/ingest/direct/regions/us_ca/raw_data/us_ca_PersonParole.yaml
Due: generate_docs_for_region, generate_docs_for_endpoint

[US_PA] adding external_id to PK to specialty_agents (Recidiviz/recidiviz-data#19234)
  recidiviz/ingest/direct/regions/us_pa/raw_data/us_pa_specialty_agents.yaml
Due: generate_docs_for_region, generate_docs_for_endpoint

[US_PA] Dedup specialized agents preprocessed (Recidiviz/recidiviz-data#19224)
  recidiviz/calculator/query/state/views/analyst_data/us_pa/us_pa_specialized_agents_preprocessed.py
Due: generate_docs_for_endpoint

[US_IX] Set validation thresholds and revise validations for US_IX (Recidiviz/recidiviz-data#19039)
  recidiviz/validation/config/regions/us_ix/us_ix_validation_config.yaml
  recidiviz/validation/views/state/incarceration_admission_person_level_external_comparison.py
  recidiviz/validation/views/state/supervision_population_person_level_template.py
Due: generate_docs_for_endpoint

[Workflows] log who made a request to where in the workflows proxy (Recidiviz/recidiviz-data#19237)
  recidiviz/case_triage/workflows/workflows_authorization.py
  recidiviz/case_triage/workflows/workflows_routes.py
  recidiviz/tests/case_triage/workflows/workflows_routes_test.py
Due: generate_docs_for_endpoint

[US_OR] Adding 6 new tables (Recidiviz/recidiviz-data#19228)
  recidiviz/ingest/direct/regions/us_or/raw_data/us_or_RCDVZ_CISPRDDTA_CLOFPD.yaml
  recidiviz/ingest/direct/regions/us_or/raw_data/us_or_RCDVZ_CISPRDDTA_CLOVER.yaml
  recidiviz/ingest/direct/regions/us_or/raw_data/us_or_RCDVZ_DOCDTA_TB209P.yaml
  recidiviz/ingest/direct/regions/us_or/raw_data/us_or_RCDVZ_DOCDTA_TBCELL.yaml
  recidiviz/ingest/direct/regions/us_or/raw_data/us_or_RCDVZ_DOCDTA_TBMOVE.yaml
  recidiviz/ingest/direct/regions/us_or/raw_data/us_or_RCDVZ_PBMIS_COMMON_NCIC_CODES.yaml
Due: generate_docs_for_region, generate_docs_for_endpoint
