Repository Recidiviz/pulse-data: changes, and which pre-commit hooks are due for each by the changed paths.
All: generate_docs_for_region, generate_docs_for_endpoint, generate_entity_documentation

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.3.0
    hooks:
      - id: check-yaml
  - repo: https://github.com/psf/black
    rev: 20.8b1
    hooks:
      - id: black
        language_version: python3
  - repo: local
    hooks:
      - id: generate_docs_for_region
        name: generate_docs_for_region
        entry: pipenv run python -m recidiviz.tools.docs.region_documentation_generator
        language: system
        files: ^recidiviz/ingest/direct/regions/
        require_serial: true
      - id: generate_docs_for_endpoint
        name: generate_docs_for_endpoint
        entry: pipenv run python -m recidiviz.tools.docs.endpoint_documentation_generator
        language: system
        files: ^recidiviz/
        exclude: >
          (?x)(^recidiviz/tests/|^recidiviz/tools/|^recidiviz/ingest/direct/regions/)$
        require_serial: true
      - id: generate_entity_documentation
        name: generate_entity_documentation
        entry: pipenv run python -m recidiviz.tools.docs.entity_documentation_generator
        language: system
        files: >
           (?x)(^recidiviz/persistence/database/schema/state/schema.py|^recidiviz/persistence/database/schema/history_table_shared_columns_mixin.py)$
        require_serial: true

[SQL preprocessing] Implement raw file YAML for ID (Recidiviz/recidiviz-data#3186)
  recidiviz/ingest/direct/controllers/direct_ingest_file_metadata_manager.py
  recidiviz/ingest/direct/controllers/direct_ingest_raw_file_import_manager.py
  recidiviz/ingest/direct/controllers/gcsfs_direct_ingest_controller.py
  recidiviz/ingest/direct/query_utils.py
  recidiviz/ingest/direct/regions/us_id/us_id_raw_data_files.yaml
  recidiviz/tests/ingest/direct/controllers/direct_ingest_raw_file_import_manager_test.py
  recidiviz/tests/ingest/direct/direct_ingest_util.py
  recidiviz/tests/ingest/direct/regions/direct_ingest_region_structure_test.py
Due: generate_docs_for_region, generate_docs_for_endpoint

Handling empty race/ethnicity values (Recidiviz/recidiviz-data#3196)
  recidiviz/calculator/pipeline/utils/calculator_utils.py
  recidiviz/calculator/pipeline/utils/metric_utils.py
  recidiviz/tests/calculator/pipeline/utils/calculator_utils_test.py
  recidiviz/tests/calculator/pipeline/utils/metric_utils_test.py
Due: generate_docs_for_endpoint

Entity matching bug fixes to get US_ID running in stage (Recidiviz/recidiviz-data#3189)
  recidiviz/persistence/entity_matching/state/state_entity_matcher.py
  recidiviz/tests/persistence/entity_matching/state/state_entity_matcher_test.py
  recidiviz/tests/persistence/entity_matching/state/us_mo/us_mo_entity_matcher_test.py
  recidiviz/tests/persistence/entity_matching/state/us_nd/us_nd_entity_matcher_test.py
Due: generate_docs_for_endpoint

Data validation monitoring (Recidiviz/recidiviz-data#3191)
  recidiviz/tests/validation/validation_manager_test.py
  recidiviz/utils/monitoring.py
  recidiviz/validation/validation_manager.py
Due: generate_docs_for_endpoint

Fix Postgres -> BQ export (Recidiviz/recidiviz-data#3203)
  recidiviz/calculator/query/bq_load.py
  recidiviz/calculator/query/export_manager.py
  recidiviz/tests/calculator/query/bq_load_test.py
  recidiviz/tests/calculator/query/export_manager_test.py
Due: generate_docs_for_endpoint

[SQL postprocessing] Implement raw data uploads to BQ (Recidiviz/recidiviz-data#3200)
  recidiviz/big_query/big_query_client.py
  recidiviz/ingest/direct/controllers/direct_ingest_big_query_view_types.py
  recidiviz/ingest/direct/controllers/direct_ingest_file_metadata_manager.py
  recidiviz/ingest/direct/controllers/direct_ingest_raw_file_import_manager.py
  recidiviz/ingest/direct/controllers/gcsfs_direct_ingest_controller.py
  recidiviz/ingest/direct/controllers/gcsfs_direct_ingest_utils.py
  recidiviz/ingest/direct/controllers/gcsfs_path.py
  recidiviz/tests/big_query/big_query_client_test.py
  recidiviz/tests/ingest/direct/controllers/direct_ingest_raw_file_import_manager_test.py
  recidiviz/tests/ingest/direct/controllers/fixtures/tagPipeSeparatedNonUTF8.txt
  recidiviz/tests/ingest/direct/controllers/fixtures/us_xx_raw_data_files.yaml
  recidiviz/tests/ingest/direct/direct_ingest_util.py
  recidiviz/tests/ingest/direct/regions/direct_ingest_region_structure_test.py
Due: generate_docs_for_endpoint

[SQL preprocessing] Enable raw BQ upload in stage for ID (Recidiviz/recidiviz-data#3201)
  recidiviz/ingest/direct/regions/us_id/manifest.yaml
  recidiviz/tests/ingest/direct/regions/base_state_direct_ingest_controller_tests.py
Due: generate_docs_for_region, generate_docs_for_endpoint

Facility population accuracy check (Recidiviz/recidiviz-data#3204)
  recidiviz/validation/configured_validations.py
  recidiviz/validation/validation_manager.py
  recidiviz/validation/views/dataset_config.py
  recidiviz/validation/views/state/incarceration_population_by_facility_external_comparison.py
  recidiviz/validation/views/view_config.py
Due: generate_docs_for_endpoint

String sameness check and supervision population district person check (Recidiviz/recidiviz-data#3207)
  recidiviz/tests/validation/checks/sameness_check_test.py
  recidiviz/validation/README.md
  recidiviz/validation/checks/sameness_check.py
  recidiviz/validation/configured_validations.py
  recidiviz/validation/views/dataset_config.py
  recidiviz/validation/views/state/incarceration_population_by_facility_external_comparison.py
  recidiviz/validation/views/state/supervision_eom_population_person_level_district_external_comparison.py
  recidiviz/validation/views/view_config.py
Due: generate_docs_for_endpoint

[US_ID] Ingest location information when folks aren't `PRESENT AT FACILITY` (Recidiviz/recidiviz-data#3211)
  recidiviz/ingest/direct/regions/us_id/us_id_controller.py
  recidiviz/ingest/direct/regions/us_id/us_id_enum_helpers.py
  recidiviz/ingest/direct/regions/us_id/us_id_movement_facility_offstat_incarceration_periods.yaml
  recidiviz/ingest/direct/regions/us_id/us_id_movement_facility_offstat_supervision_periods.yaml
  recidiviz/ingest/direct/regions/us_id/us_id_sql_queries.py
  recidiviz/tests/ingest/direct/regions/us_id/fixtures/movement_facility_offstat_incarceration_periods.csv
  recidiviz/tests/ingest/direct/regions/us_id/fixtures/movement_facility_offstat_supervision_periods.csv
  recidiviz/tests/ingest/direct/regions/us_id/us_id_controller_test.py
Due: generate_docs_for_region, generate_docs_for_endpoint

[SQL preprocessing] New BigQueryView class for region ingest view queries (Recidiviz/recidiviz-data#3208)
  recidiviz/ingest/direct/controllers/direct_ingest_big_query_view_types.py
  recidiviz/ingest/direct/controllers/direct_ingest_raw_file_import_manager.py
  recidiviz/ingest/direct/query_utils.py
  recidiviz/ingest/direct/regions/us_id/ingest_views/__init__.py
  recidiviz/ingest/direct/regions/us_id/ingest_views/templates_early_discharge.py
  recidiviz/ingest/direct/regions/us_id/ingest_views/view_early_discharge_incarceration_sentence.py
  recidiviz/ingest/direct/regions/us_id/ingest_views/view_early_discharge_supervision_sentence.py
  recidiviz/ingest/direct/regions/us_id/ingest_views/view_offender_ofndr_dob.py
  recidiviz/ingest/direct/regions/us_id/us_id_sql_queries.py
  recidiviz/tests/ingest/direct/controllers/direct_ingest_big_query_view_types_test.py
  recidiviz/tests/ingest/direct/regions/direct_ingest_region_structure_test.py
  recidiviz/tests/utils/metadata_test.py
  recidiviz/tools/create_raw_data_up_to_date_views.py
  recidiviz/utils/environment.py
  recidiviz/utils/metadata.py
Due: generate_docs_for_region, generate_docs_for_endpoint

add nullable start date to download_bq_results_for_state and small query change
  recidiviz/ingest/direct/regions/us_id/us_id_controller.py
  recidiviz/ingest/direct/regions/us_id/us_id_movement_facility_location_offstat_incarceration_periods.yaml
  recidiviz/ingest/direct/regions/us_id/us_id_movement_facility_location_offstat_supervision_periods.yaml
  recidiviz/ingest/direct/regions/us_id/us_id_sql_queries.py
  recidiviz/tests/ingest/direct/regions/us_id/fixtures/movement_facility_location_offstat_incarceration_periods.csv
  recidiviz/tests/ingest/direct/regions/us_id/fixtures/movement_facility_location_offstat_supervision_periods.csv
  recidiviz/tests/ingest/direct/regions/us_id/us_id_controller_test.py
  recidiviz/tools/download_bq_results_for_state.py
Due: generate_docs_for_region, generate_docs_for_endpoint

Small updates to scripts (Recidiviz/recidiviz-data#3218)
  recidiviz/tools/check_state_file_into_storage.py
Due: generate_docs_for_endpoint

incarceration pipeline config for US_ID (Recidiviz/recidiviz-data#3216)
  recidiviz/calculator/pipeline/utils/incarceration_period_utils.py
  recidiviz/calculator/pipeline/utils/state_calculation_config_manager.py
  recidiviz/tests/calculator/pipeline/utils/incarceration_period_utils_test.py
Due: generate_docs_for_endpoint

small output file change (Recidiviz/recidiviz-data#3221)
  recidiviz/tools/download_bq_results_for_state.py
Due: generate_docs_for_endpoint

new id files (Recidiviz/recidiviz-data#3217)
  recidiviz/ingest/direct/regions/us_id/us_id_raw_data_files.yaml
Due: generate_docs_for_region, generate_docs_for_endpoint

Basic scaffolding and schema for new operations Postgres DB (Recidiviz/recidiviz-data#3209)
  prod.yaml
  recidiviz/persistence/database/base_schema.py
  recidiviz/persistence/database/migrations/operations/__init__.py
  recidiviz/persistence/database/migrations/operations/env.py
  recidiviz/persistence/database/migrations/operations/script.py.mako
  recidiviz/persistence/database/migrations/operations/versions/2020_05_14_2041_757e4457a1c7_initial_migration.py
  recidiviz/persistence/database/migrations/operations/versions/__init__.py
  recidiviz/persistence/database/migrations/operations_alembic.ini
  recidiviz/persistence/database/schema/operations/__init__.py
  recidiviz/persistence/database/schema/operations/dao.py
  recidiviz/persistence/database/schema/operations/schema.py
  recidiviz/persistence/database/sqlalchemy_engine_manager.py
  recidiviz/tests/persistence/database/schema/operations/__init__.py
  recidiviz/tests/persistence/database/schema/operations/schema_test.py
  recidiviz/tools/validate_source_modifications.py
  staging.yaml
Due: generate_docs_for_endpoint

Better string representations of DatabaseEntity objects for debugging (Recidiviz/recidiviz-data#3225)
  recidiviz/persistence/database/database_entity.py
Due: generate_docs_for_endpoint

[MO ingest] Fix enum parsing error when purpose for incarceration is X (Recidiviz/recidiviz-data#3226)
  recidiviz/ingest/direct/regions/us_mo/us_mo_controller.py
  recidiviz/tests/ingest/direct/regions/us_mo/fixtures/tak158_tak023_tak026_incarceration_period_from_incarceration_sentence.csv
  recidiviz/tests/ingest/direct/regions/us_mo/us_mo_controller_test.py
Due: generate_docs_for_region, generate_docs_for_endpoint

[SQL preprocessing] Port metadata manager to Postgres implementation (Recidiviz/recidiviz-data#3220)
  recidiviz/common/date.py
  recidiviz/ingest/direct/controllers/direct_ingest_file_metadata_manager.py
  recidiviz/ingest/direct/controllers/direct_ingest_raw_file_import_manager.py
  recidiviz/ingest/direct/controllers/gcsfs_direct_ingest_controller.py
  recidiviz/ingest/direct/controllers/gcsfs_direct_ingest_utils.py
  recidiviz/ingest/direct/controllers/postgres_direct_ingest_file_metadata_manager.py
  recidiviz/persistence/database/schema/operations/dao.py
  recidiviz/persistence/database/schema/operations/session_listener.py
  recidiviz/persistence/database/schema_entity_converter/operations/__init__.py
  recidiviz/persistence/database/schema_entity_converter/operations/schema_entity_converter.py
  recidiviz/persistence/database/schema_entity_converter/schema_entity_converter.py
  recidiviz/persistence/database/session_factory.py
  recidiviz/persistence/entity/operations/__init__.py
  recidiviz/persistence/entity/operations/entities.py
  recidiviz/tests/ingest/direct/controllers/direct_ingest_file_metadata_manager_test.py
  recidiviz/tests/ingest/direct/controllers/direct_ingest_raw_file_import_manager_test.py
  recidiviz/tests/ingest/direct/controllers/gcsfs_direct_ingest_controller_test.py
  recidiviz/tests/ingest/direct/controllers/gcsfs_direct_ingest_utils_test.py
  recidiviz/tests/ingest/direct/controllers/postgres_direct_ingest_file_metadata_manager_test.py
  recidiviz/tests/ingest/direct/direct_ingest_util.py
  recidiviz/tests/persistence/entity/operations/__init__.py
  recidiviz/tests/persistence/entity/operations/entities_test.py
Due: generate_docs_for_endpoint

[SQL preprocessing] Add raw table load rate limiting (Recidiviz/recidiviz-data#3227)
  recidiviz/ingest/direct/controllers/direct_ingest_raw_file_import_manager.py
  recidiviz/tests/ingest/direct/controllers/direct_ingest_raw_file_import_manager_test.py
Due: generate_docs_for_endpoint

[SQL preprocessing] Make BQ client export functionality more flexible for parametrized queries (Recidiviz/recidiviz-data#3228)
  recidiviz/big_query/big_query_client.py
  recidiviz/calculator/calculation_data_storage_manager.py
  recidiviz/calculator/query/state/dashboard_export_manager.py
  recidiviz/tests/big_query/big_query_client_test.py
  recidiviz/tests/calculator/query/state/dashboard_export_manager_test.py
Due: generate_docs_for_endpoint

[SQL preprocessing] Operations DB and metadata manager adjustments for ingest view export (Recidiviz/recidiviz-data#3229)
  recidiviz/ingest/direct/controllers/csv_gcsfs_direct_ingest_controller.py
  recidiviz/ingest/direct/controllers/direct_ingest_file_metadata_manager.py
  recidiviz/ingest/direct/controllers/direct_ingest_gcs_file_system.py
  recidiviz/ingest/direct/controllers/gcsfs_direct_ingest_controller.py
  recidiviz/ingest/direct/controllers/postgres_direct_ingest_file_metadata_manager.py
  recidiviz/persistence/database/migrations/operations/versions/2020_05_17_1929_d2da3c60651c_relax_file_name_constraint.py
  recidiviz/persistence/database/migrations/operations/versions/2020_05_18_0053_fae7dfbad5ec_add_is_file_split_col.py
  recidiviz/persistence/database/migrations/operations/versions/2020_05_18_2108_106493b6e763_split_file_name_constraint.py
  recidiviz/persistence/database/schema/operations/dao.py
  recidiviz/persistence/database/schema/operations/schema.py
  recidiviz/persistence/database/schema/operations/session_listener.py
  recidiviz/persistence/entity/operations/entities.py
  recidiviz/tests/ingest/direct/controllers/gcsfs_direct_ingest_controller_test.py
  recidiviz/tests/ingest/direct/controllers/postgres_direct_ingest_file_metadata_manager_test.py
  recidiviz/tests/ingest/direct/direct_ingest_util.py
  recidiviz/tests/persistence/database/schema/operations/schema_test.py
Due: generate_docs_for_endpoint

[SQL preprocessing] Use PostgresDirectIngestMetadataManager in tests (Recidiviz/recidiviz-data#3239)
  recidiviz/persistence/database/base_schema.py
  recidiviz/persistence/database/sqlalchemy_engine_manager.py
  recidiviz/tests/calculator/query/county/state_aggregates/combined_state_aggregate.py
  recidiviz/tests/calculator/query/state/dashboard_export_config_test.py
  recidiviz/tests/ingest/aggregate/regions/ca/ca_aggregate_ingest_test.py
  recidiviz/tests/ingest/aggregate/regions/fl/fl_aggregate_ingest_test.py
  recidiviz/tests/ingest/aggregate/regions/ga/ga_aggregate_ingest_test.py
  recidiviz/tests/ingest/aggregate/regions/hi/hi_aggregate_ingest_test.py
  recidiviz/tests/ingest/aggregate/regions/ky/ky_aggregate_ingest_test.py
  recidiviz/tests/ingest/aggregate/regions/ny/ny_aggregate_ingest_test.py
  recidiviz/tests/ingest/aggregate/regions/pa/pa_aggregate_ingest_test.py
  recidiviz/tests/ingest/aggregate/regions/tn/tn_aggregate_ingest_test.py
  recidiviz/tests/ingest/aggregate/regions/tx/tx_aggregate_ingest_test.py
  recidiviz/tests/ingest/aggregate/single_count_test.py
  recidiviz/tests/ingest/direct/controllers/gcsfs_direct_ingest_controller_test.py
  recidiviz/tests/ingest/direct/controllers/postgres_direct_ingest_file_metadata_manager_test.py
  recidiviz/tests/ingest/direct/direct_ingest_util.py
  recidiviz/tests/ingest/direct/regions/base_direct_ingest_controller_tests.py
  recidiviz/tests/ingest/scrape/scraper_success_test.py
  recidiviz/tests/persistence/database/database_test.py
  recidiviz/tests/persistence/database/history/county/historical_snapshot_updater_test.py
  recidiviz/tests/persistence/database/history/state/historical_snapshot_updater_test.py
  recidiviz/tests/persistence/database/schema/aggregate/dao_test.py
  recidiviz/tests/persistence/database/schema/county/dao_test.py
  recidiviz/tests/persistence/database/schema/operations/schema_test.py
  recidiviz/tests/persistence/database/schema/state/dao_test.py
  recidiviz/tests/persistence/database/schema_entity_converter/base_schema_entity_converter_test.py
  recidiviz/tests/persistence/database/schema_entity_converter/county/schema_entity_converter_test.py
  recidiviz/tests/persistence/database/schema_entity_converter/state/schema_entity_converter_test.py
  recidiviz/tests/persistence/database/schema_entity_converter/test_base_schema.py
  recidiviz/tests/persistence/entity_matching/county/county_entity_matcher_test.py
  recidiviz/tests/persistence/entity_matching/state/base_state_entity_matcher_test_classes.py
  recidiviz/tests/persistence/persistence_test.py
  recidiviz/tests/persistence/scraper_success_test.py
  recidiviz/tests/persistence/single_count_test.py
  recidiviz/tests/persistence/state_persistence_test.py
  recidiviz/tests/utils/fakes.py
Due: generate_docs_for_endpoint

[SQL preprocessing] Allow for customization of date_parametrized_view_query param name (Recidiviz/recidiviz-data#3240)
  recidiviz/ingest/direct/controllers/direct_ingest_big_query_view_types.py
  recidiviz/ingest/direct/controllers/direct_ingest_file_metadata_manager.py
  recidiviz/ingest/direct/controllers/direct_ingest_raw_file_import_manager.py
  recidiviz/ingest/direct/controllers/gcsfs_direct_ingest_controller.py
  recidiviz/ingest/direct/controllers/postgres_direct_ingest_file_metadata_manager.py
  recidiviz/tests/ingest/direct/controllers/direct_ingest_big_query_view_types_test.py
  recidiviz/tests/ingest/direct/controllers/postgres_direct_ingest_file_metadata_manager_test.py
  recidiviz/tests/ingest/direct/regions/direct_ingest_region_structure_test.py
Due: generate_docs_for_endpoint

Update Pipfile.lock for security vulnerability (Recidiviz/recidiviz-data#3244)
  Pipfile.lock
  recidiviz/calculator/pipeline/utils/extractor_utils.py
  recidiviz/calculator/pipeline/utils/incarceration_period_utils.py
  recidiviz/calculator/pipeline/utils/metric_utils.py
  recidiviz/common/attr_utils.py
  recidiviz/ingest/aggregate/scrape_aggregate_reports.py
  recidiviz/ingest/direct/controllers/gcsfs_direct_ingest_controller.py
  recidiviz/ingest/direct/controllers/gcsfs_direct_ingest_utils.py
  recidiviz/ingest/direct/direct_ingest_control.py
  recidiviz/ingest/direct/regions/us_id/us_id_sql_queries.py
  recidiviz/ingest/direct/regions/us_mo/us_mo_sql_queries.py
  recidiviz/ingest/extractor/csv_data_extractor.py
  recidiviz/persistence/database/database_entity.py
  recidiviz/persistence/database/schema_entity_converter/schema_entity_converter.py
  recidiviz/persistence/entity/entity_utils.py
  recidiviz/persistence/entity_matching/state/state_entity_matcher.py
  recidiviz/tests/calculator/pipeline/fake_bigquery.py
  recidiviz/tests/calculator/pipeline/recidivism/identifier_test.py
  recidiviz/tests/calculator/pipeline/utils/calculate_cloud_task_manager_test.py
  recidiviz/tests/calculator/pipeline/utils/extractor_utils_test.py
  recidiviz/tests/calculator/pipeline/utils/us_mo_supervision_type_identification_test.py
  recidiviz/tests/calculator/query/bq_export_cloud_task_manager_test.py
  recidiviz/tests/ingest/direct/controllers/gcsfs_direct_ingest_controller_test.py
  recidiviz/tests/ingest/direct/direct_ingest_cloud_task_manager_impl_test.py
  recidiviz/tests/ingest/direct/regions/us_nd/us_nd_controller_test.py
  recidiviz/tests/ingest/scrape/scraper_cloud_task_manager_test.py
  recidiviz/tools/copy_state_files_from_prod_to_staging_storage.py
Due: generate_docs_for_region, generate_docs_for_endpoint

Change persons_to_recent_county_of_residence to use reference view (Recidiviz/recidiviz-data#3259)
  recidiviz/calculator/query/state/views/reference/persons_to_recent_county_of_residence.py
Due: generate_docs_for_endpoint

MVP of the email reporting pipeline (Recidiviz/recidiviz-data#2952)
  recidiviz/cloud_functions/email_reporting/.gcloudignore
  recidiviz/cloud_functions/email_reporting/.gitignore
  recidiviz/cloud_functions/email_reporting/__init__.py
  recidiviz/cloud_functions/email_reporting/available_context.py
  recidiviz/cloud_functions/email_reporting/chartjs/index.js
  recidiviz/cloud_functions/email_reporting/chartjs/package-lock.json
  recidiviz/cloud_functions/email_reporting/chartjs/package.json
  recidiviz/cloud_functions/email_reporting/context_utils.py
  recidiviz/cloud_functions/email_reporting/data.json
  recidiviz/cloud_functions/email_reporting/data_retrieval.py
  recidiviz/cloud_functions/email_reporting/email_delivery.py
  recidiviz/cloud_functions/email_reporting/email_generation.py
  recidiviz/cloud_functions/email_reporting/email_reporting_utils.py
  recidiviz/cloud_functions/email_reporting/main.py
  recidiviz/cloud_functions/email_reporting/po_monthly_report/__init__.py
  recidiviz/cloud_functions/email_reporting/po_monthly_report/context.py
  recidiviz/cloud_functions/email_reporting/po_monthly_report/properties.json
  recidiviz/cloud_functions/email_reporting/po_monthly_report/template.html
  recidiviz/cloud_functions/email_reporting/report_context.py
  recidiviz/cloud_functions/email_reporting/requirements.txt
Due: generate_docs_for_endpoint

[SQL preprocessing] BigQueryView collector (Recidiviz/recidiviz-data#3241)
  recidiviz/big_query/big_query_view.py
  recidiviz/big_query/big_query_view_collector.py
  recidiviz/ingest/direct/controllers/csv_gcsfs_direct_ingest_controller.py
  recidiviz/ingest/direct/controllers/direct_ingest_big_query_view_types.py
  recidiviz/ingest/direct/controllers/direct_ingest_view_collector.py
  recidiviz/ingest/direct/controllers/gcsfs_direct_ingest_controller.py
  recidiviz/ingest/direct/regions/us_id/us_id_controller.py
  recidiviz/ingest/direct/regions/us_ma_middlesex/ingest_views/__init__.py
  recidiviz/ingest/direct/regions/us_mo/ingest_views/__init__.py
  recidiviz/ingest/direct/regions/us_mo/us_mo_controller.py
  recidiviz/ingest/direct/regions/us_nd/ingest_views/__init__.py
  recidiviz/ingest/direct/regions/us_nd/us_nd_controller.py
  recidiviz/ingest/direct/regions/us_nm_bernalillo/ingest_views/__init__.py
  recidiviz/ingest/direct/regions/us_nm_bernalillo/us_nm_bernalillo_controller.py
  recidiviz/ingest/direct/regions/us_pa/ingest_views/__init__.py
  recidiviz/ingest/direct/regions/us_pa/us_pa_controller.py
  recidiviz/ingest/direct/regions/us_tx_brazos/ingest_views/__init__.py
  recidiviz/ingest/direct/regions/us_tx_brazos/us_tx_brazos_controller.py
  recidiviz/tests/big_query/big_query_view_collector_test.py
  recidiviz/tests/big_query/fake_big_query_view_builder.py
  recidiviz/tests/big_query/test_views/__init__.py
  recidiviz/tests/big_query/test_views/bad_view_builder_wrong_name.py
  recidiviz/tests/big_query/test_views/bad_view_builder_wrong_type.py
  recidiviz/tests/big_query/test_views/bad_view_no_builder.py
  recidiviz/tests/big_query/test_views/good_view_1.py
  recidiviz/tests/big_query/test_views/good_view_2.py
  recidiviz/tests/ingest/direct/controllers/gcsfs_direct_ingest_controller_test.py
  recidiviz/tests/ingest/direct/regions/direct_ingest_region_structure_test.py
  recidiviz/tests/ingest/direct/regions/us_id/us_id_controller_test.py
  recidiviz/tests/ingest/direct/regions/us_mo/us_mo_controller_test.py
  recidiviz/tests/ingest/direct/regions/us_nd/us_nd_controller_test.py
  recidiviz/tests/ingest/direct/regions/us_nm_bernalillo/us_nm_bernalillo_controller_test.py
  recidiviz/tests/ingest/direct/regions/us_pa/us_pa_controller_test.py
  recidiviz/tests/ingest/direct/regions/us_tx_brazos/us_tx_brazos_controller_test.py
  recidiviz/utils/regions.py
Due: generate_docs_for_region, generate_docs_for_endpoint

enum overrides additions 4/20 pending some final touches from Jasmine (Recidiviz/recidiviz-data#3115)
  recidiviz/common/constants/bond.py
  recidiviz/common/constants/charge.py
  recidiviz/common/constants/person_characteristics.py
  recidiviz/tools/read_enum_errors.py
  recidiviz/tools/save_enum_errors.py
Due: generate_docs_for_endpoint

Adds covid dataset ingest flow (Recidiviz/recidiviz-data#3192)
  recidiviz/cloud_functions/covid/__init__.py
  recidiviz/cloud_functions/covid/covid_ingest.py
  recidiviz/cloud_functions/main.py
Due: generate_docs_for_endpoint

[Build] Only run pylint for changed files in diff branches (Recidiviz/recidiviz-data#3270)
  .travis.yml
  recidiviz/persistence/database/migrations/jails/script.py.mako
  recidiviz/persistence/database/migrations/operations/script.py.mako
  recidiviz/persistence/database/migrations/state/script.py.mako
  recidiviz/tools/travis/__init__.py
  recidiviz/tools/travis/run_pylint.sh
Due: generate_docs_for_endpoint

Use an on-disk Postgres DB in tests that use multiple threads (Recidiviz/recidiviz-data#3266)
  .travis.yml
  recidiviz/persistence/database/sqlalchemy_engine_manager.py
  recidiviz/tests/ingest/direct/controllers/gcsfs_direct_ingest_controller_test.py
  recidiviz/tests/utils/fakes.py
  recidiviz/utils/environment.py
Due: generate_docs_for_endpoint

Ability to specify month to end calc metric output (Recidiviz/recidiviz-data#3237)
  recidiviz/calculator/pipeline/incarceration/calculator.py
  recidiviz/calculator/pipeline/incarceration/pipeline.py
  recidiviz/calculator/pipeline/prod_calculation_pipeline_templates.yaml
  recidiviz/calculator/pipeline/production_calculation_pipeline_templates.yaml
  recidiviz/calculator/pipeline/program/calculator.py
  recidiviz/calculator/pipeline/program/pipeline.py
  recidiviz/calculator/pipeline/recidivism/pipeline.py
  recidiviz/calculator/pipeline/staging_only_calculation_pipeline_templates.yaml
  recidiviz/calculator/pipeline/supervision/calculator.py
  recidiviz/calculator/pipeline/supervision/pipeline.py
  recidiviz/calculator/pipeline/utils/calculator_utils.py
  recidiviz/calculator/pipeline/utils/execution_utils.py
  recidiviz/calculator/pipeline/utils/pipeline_args_utils.py
  recidiviz/tests/calculator/pipeline/incarceration/calculator_test.py
  recidiviz/tests/calculator/pipeline/incarceration/pipeline_test.py
  recidiviz/tests/calculator/pipeline/program/calculator_test.py
  recidiviz/tests/calculator/pipeline/program/pipeline_test.py
  recidiviz/tests/calculator/pipeline/supervision/calculator_test.py
  recidiviz/tests/calculator/pipeline/supervision/pipeline_test.py
  recidiviz/tests/calculator/pipeline/utils/calculator_utils_test.py
  recidiviz/tests/calculator/pipeline/utils/execution_utils_test.py
  recidiviz/tests/calculator/pipeline/utils/pipeline_args_utils_test.py
  recidiviz/tools/deploy/deploy_all_pipeline_templates_to_staging.sh
  recidiviz/tools/deploy/deploy_local_to_staging.sh
  recidiviz/tools/deploy/deploy_pipeline_helpers.sh
  recidiviz/tools/deploy/deploy_pipeline_templates.py
  recidiviz/tools/deploy/deploy_pipeline_to_template.sh
  recidiviz/tools/deploy/deploy_production.sh
  recidiviz/tools/run_calculation_pipelines.py
Due: generate_docs_for_endpoint

Add views for absconsions and discharges per officer (Recidiviz/recidiviz-data#3238)
  recidiviz/calculator/query/bq_utils.py
  recidiviz/calculator/query/state/views/supervision/supervision_absconsion_terminations_by_officer_by_month.py
  recidiviz/calculator/query/state/views/supervision/supervision_discharges_by_officer_by_month.py
  recidiviz/calculator/query/state/views/supervision/supervision_views.py
  recidiviz/validation/configured_validations.py
  recidiviz/validation/views/state/case_termination_by_type_comparison.py
  recidiviz/validation/views/view_config.py
Due: generate_docs_for_endpoint

[SQL preprocessing] Fix race where test task queues terminated too early (Recidiviz/recidiviz-data#3278)
  recidiviz/tests/ingest/direct/fake_async_direct_ingest_cloud_task_manager.py
  recidiviz/tests/ingest/direct/single_thread_task_queue_test.py
Due: generate_docs_for_endpoint

Schema changes necessary to capture status information from US_ID (Recidiviz/recidiviz-data#3273)
  recidiviz/calculator/pipeline/recidivism/identifier.py
  recidiviz/calculator/pipeline/supervision/identifier.py
  recidiviz/calculator/pipeline/utils/supervision_type_identification.py
  recidiviz/common/constants/state/enum_canonical_strings.py
  recidiviz/common/constants/state/state_incarceration_period.py
  recidiviz/common/constants/state/state_supervision_period.py
  recidiviz/ingest/models/ingest_info.proto
  recidiviz/ingest/models/ingest_info.py
  recidiviz/ingest/models/ingest_info_pb2.py
  recidiviz/ingest/models/ingest_info_pb2.pyi
  recidiviz/persistence/database/migrations/state/versions/2020_05_26_1634_356377cb082c_id_status_enums.py
  recidiviz/persistence/database/schema/state/schema.py
  recidiviz/persistence/entity/state/entities.py
  recidiviz/persistence/ingest_info_converter/state/entity_helpers/state_supervision_period.py
  recidiviz/tests/calculator/pipeline/recidivism/identifier_test.py
  recidiviz/tests/persistence/database/schema/state/schema_test.py
  recidiviz/tests/persistence/ingest_info_converter/state/entity_helpers/state_supervision_period_test.py
Due: generate_docs_for_endpoint, generate_entity_documentation

[Build] Fix pylint script to handle when there are no python files changed (Recidiviz/recidiviz-data#3285)
  recidiviz/tools/travis/run_pylint.sh
Due: generate_docs_for_endpoint

[SQL preprocessing] Strip white space from raw data on import (Recidiviz/recidiviz-data#3280)
  recidiviz/ingest/direct/controllers/direct_ingest_raw_file_import_manager.py
  recidiviz/ingest/extractor/csv_data_extractor.py
  recidiviz/tests/ingest/direct/controllers/direct_ingest_raw_file_import_manager_test.py
  recidiviz/tests/ingest/direct/controllers/fixtures/tagC.csv
Due: generate_docs_for_endpoint

[SQL preprocessing] Move test file system to separate file (Recidiviz/recidiviz-data#3279)
  recidiviz/tests/ingest/direct/controllers/direct_ingest_gcs_file_system_test.py
  recidiviz/tests/ingest/direct/controllers/direct_ingest_raw_file_import_manager_test.py
  recidiviz/tests/ingest/direct/controllers/gcsfs_direct_ingest_controller_test.py
  recidiviz/tests/ingest/direct/controllers/gcsfs_direct_ingest_job_prioritizer_test.py
  recidiviz/tests/ingest/direct/direct_ingest_util.py
  recidiviz/tests/ingest/direct/fake_direct_ingest_gcs_file_system.py
  recidiviz/tests/ingest/direct/regions/base_direct_ingest_controller_tests.py
  recidiviz/tests/ingest/direct/regions/base_state_direct_ingest_controller_tests.py
Due: generate_docs_for_endpoint
