Repository Recidiviz/pulse-data: changes, and which pre-commit hooks are due for each by the changed paths.
All: clear_notebook_files, validate_scripts_and_notebooks_are_changed_together, generate_docs_for_region, generate_docs_for_endpoint, generate_entity_documentation, generate_calc_documentation, generate_ingest_mappings_schema_documentation, update_terraform_lock_file, terraform_fmt, alphabetize_yaml, generate_lookml

clear_notebook_files:
  name: Clear Output of Jupyter Notebook
  description: Clears output of Jupyter Notebooks
  stages:
  - pre-commit
  language: system
  entry: jupyter nbconvert --ClearOutputPreprocessor.enabled=True --inplace
  pass_filenames: true

validate_scripts_and_notebooks_are_changed_together:
  name: validate_scripts_and_notebooks_are_changed_together
  entry: pipenv run python -m recidiviz.research.validate_script_changes_pre_commit
  language: system
  require_serial: true

generate_docs_for_region:
  name: generate_docs_for_region
  entry: pipenv run python -m recidiviz.tools.docs.region_documentation_generator
  language: system
  require_serial: true

generate_docs_for_endpoint:
  name: generate_docs_for_endpoint
  entry: pipenv run python -m recidiviz.tools.docs.endpoint_documentation_generator
  language: system
  require_serial: true

generate_entity_documentation:
  name: generate_entity_documentation
  entry: pipenv run python -m recidiviz.tools.docs.entity_documentation_generator
  language: system
  require_serial: true

generate_calc_documentation:
  name: generate_calc_documentation
  entry: pipenv run python -m recidiviz.calculator.calculation_documentation_generator
  language: system
  require_serial: true

generate_ingest_mappings_schema_documentation:
  name: generate_ingest_mappings_schema_documentation
  entry: pipenv run python -m recidiviz.tools.docs.ingest_mappings_schema_documentation_generator
  language: system
  require_serial: true

update_terraform_lock_file:
  name: update_terraform_lock_file
  entry: recidiviz/tools/deploy/update_terraform_lock.sh
  language: script
  require_serial: true

terraform_fmt:
  name: terraform_fmt
  entry: recidiviz/tools/deploy/format_terraform.sh
  language: script

alphabetize_yaml:
  name: alphabetize_yaml
  entry: pipenv run python -m recidiviz.tools.alphabetize_raw_data_reference_reasons
  language: system

generate_lookml:
  name: generate_lookml
  entry: pipenv run python -m recidiviz.tools.looker.generate_all_lookml
  language: system

[Case Note Insights] Some fixes for LLM extraction at scale (Recidiviz/recidiviz-data#72248)
  pyproject.toml
  recidiviz/NOT_FOR_PRODUCTION_USE/documents/extraction/concurrent_extraction_processor.py
  recidiviz/NOT_FOR_PRODUCTION_USE/tools/document_extraction/run_sandbox_employment_pipeline.py
  recidiviz/NOT_FOR_PRODUCTION_USE/tools/document_extraction/run_sandbox_extraction_pipeline_phase.py
  recidiviz/NOT_FOR_PRODUCTION_USE/tools/document_extraction/run_sandbox_housing_pipeline.py
  uv.lock
Due: none

[US_AZ] Add supervisor override option (Recidiviz/recidiviz-data#66181)
  recidiviz/ingest/direct/regions/us_az/ingest_mappings/us_az_state_staff_periods.yaml
Due: generate_docs_for_region

[stale raw data alerts] Add issue search lookback window (Recidiviz/recidiviz-data#72221)
  recidiviz/airflow/dags/monitoring/stale_raw_data_github_alerting_service.py
Due: none

[Autogenerated] Update uv.lock (Recidiviz/recidiviz-data#71724)
  uv.lock
Due: none

[Tools] Remove readonly user (Recidiviz/recidiviz-data#72251)
  recidiviz/persistence/database/base_engine_manager.py
Due: none

[US_TN] Adding additional life in prison flag to metadata (Recidiviz/recidiviz-data#72222)
  recidiviz/ingest/direct/regions/us_tn/ingest_mappings/us_tn_SentencesChargesAndCourtCases_v4.yaml
Due: generate_docs_for_region

[US_TN] improving join logic for new Custody Classifications (Recidiviz/recidiviz-data#70366)
  recidiviz/ingest/direct/regions/us_tn/ingest_mappings/us_tn_RCAFandDCAFAssessments.yaml
Due: generate_docs_for_region

[Row Level Permissions] Speed up apply_row_level_policies (and a bugfix) (Recidiviz/recidiviz-data#71023)
  recidiviz/entrypoints/bigquery/apply_row_level_permissions_entrypoint.py
  recidiviz/tests/big_query/row_access_policy_query_builder_test.py
  recidiviz/tests/entrypoints/bigquery/apply_row_level_permissions_entrypoint_test.py
Due: none

[US_TX] Create claude skill to upload monthly critically understaff file (Recidiviz/recidiviz-data#72252)
  .claude/skills/tx_critically_understaffed/SKILL.md
  CLAUDE.md
  recidiviz/tools/ingest/operations/state_data_manual_uploads/OfficeDescriptions.csv
  recidiviz/tools/ingest/operations/state_data_manual_uploads/us_tx_load_understaffed_locations.py
  recidiviz/tools/ingest/operations/state_data_manual_uploads/us_tx_transform_and_upload_understaffed.py
Due: none

[Tasks][US_IX] Fix supervision_contact_due always showing contact_missed=True for face-to-face contact (Recidiviz/recidiviz-data#72409)
  recidiviz/task_eligibility/all_compliance_task_eligibility_spans.py
  recidiviz/task_eligibility/compliance_task_eligibility_spans/us_ix/needs_face_to_face_contact.py
  recidiviz/task_eligibility/compliance_task_eligibility_spans_big_query_view_builder.py
  recidiviz/tests/task_eligibility/compliance_task_eligibility_spans_big_query_view_builder_test.py
Due: generate_calc_documentation

[US_MO] Add time served view to sentencing ETL export (Recidiviz/recidiviz-data#72414)
  recidiviz/tools/find_unused_bq_views.py
Due: none

[CPA] Retry SendGrid deduplication check on transient failures (Recidiviz/recidiviz-data#72211)
  recidiviz/tools/cpa/ut_app_enablement.py
  stubs/python_http_client/exceptions.pyi
Due: none

[Terraform] Add CMEK Cloud SQL instances (Recidiviz/recidiviz-data#72253)
  recidiviz/tools/deploy/terraform/cloud-run-admin-panel.tf
  recidiviz/tools/deploy/terraform/cloud-run-jobs.tf
  recidiviz/tools/deploy/terraform/cloud-run.tf
  recidiviz/tools/deploy/terraform/cloud-sql.tf
  recidiviz/tools/deploy/terraform/modules/cloud-sql-instance/main.tf
Due: update_terraform_lock_file, terraform_fmt

[Roster sync] Add script to dry_run roster sync (Recidiviz/recidiviz-data#70368)
  recidiviz/auth/auth_endpoint.py
  recidiviz/auth/auth_users_endpoint.py
  recidiviz/auth/cleanup_user_overrides.py
  recidiviz/auth/import_ingested_users.py
  recidiviz/tests/auth/auth_endpoint_test.py
  recidiviz/tests/auth/auth_users_endpoint_test.py
  recidiviz/tests/tools/auth/dry_run_import_ingested_users_test.py
  recidiviz/tools/auth/dry_run_import_ingested_users.py
Due: generate_docs_for_endpoint

Add US_ID to validation_alerting_config.yaml (Recidiviz/recidiviz-data#72432)
  recidiviz/validation/validation_alerting_config.yaml
Due: none

[Public Pathways][US_NY] Add doccs domain as allowed origin (Recidiviz/recidiviz-data#72418)
  recidiviz/public_pathways/public_pathways_routes.py
Due: generate_docs_for_endpoint

[US_IA] Add new enum value for supervision periods admission reason (Recidiviz/recidiviz-data#72591)
  recidiviz/ingest/direct/regions/us_ia/ingest_mappings/us_ia_supervision_periods.yaml
Due: generate_docs_for_region

[document store] Add query that will populate `temp_document_{config_name}` (Recidiviz/recidiviz-data#71792)
  recidiviz/documents/store/document_collection_query_builder.py
  recidiviz/documents/store/document_store_columns.py
  recidiviz/documents/store/document_upload_status_table.py
  recidiviz/tests/big_query/big_query_emulator_test_case.py
  recidiviz/tests/documents/store/document_collection_query_builder_test.py
  recidiviz/tests/documents/store/fixtures/new_documents/__init__.py
  recidiviz/tests/documents/store/fixtures/new_documents/new_documents_output.csv
  recidiviz/tests/documents/store/fixtures/new_documents/temp_metadata_input.csv
  recidiviz/tests/documents/store/fixtures/new_documents/upload_status_input.csv
Due: none

[Deploy] Move deployment stage source to use 2nd Gen Cloud Source Repositories (Recidiviz/recidiviz-data#72618)
  recidiviz/tools/deploy/cloud_build/build_configuration.py
  recidiviz/tools/deploy/cloud_build/stages/create_terraform_plan.py
Due: none

[preimport validations] Handle renamed pk in distinct pk validation (Recidiviz/recidiviz-data#70154)
  recidiviz/ingest/direct/raw_data/raw_file_configs.py
  recidiviz/ingest/direct/raw_data/validations/distinct_primary_key_validation.py
  recidiviz/tests/ingest/direct/fake_regions/us_xx/raw_data/us_xx_tagAddedPrimaryKey.yaml
  recidiviz/tests/ingest/direct/fake_regions/us_xx/raw_data/us_xx_tagRenamedPrimaryKey.yaml
  recidiviz/tests/ingest/direct/raw_data/direct_ingest_raw_file_load_manager_test.py
  recidiviz/tests/ingest/direct/raw_data/load_manager_fixtures/added_primary_key_after_addition/__init__.py
  recidiviz/tests/ingest/direct/raw_data/load_manager_fixtures/added_primary_key_after_addition/tagAddedPrimaryKey_append_table_output.csv
  recidiviz/tests/ingest/direct/raw_data/load_manager_fixtures/added_primary_key_after_addition/tagAddedPrimaryKey_append_table_seed.csv
  recidiviz/tests/ingest/direct/raw_data/load_manager_fixtures/added_primary_key_after_addition/tagAddedPrimaryKey_load_input.csv
  recidiviz/tests/ingest/direct/raw_data/load_manager_fixtures/added_primary_key_after_addition/tagAddedPrimaryKey_load_output.csv
  recidiviz/tests/ingest/direct/raw_data/load_manager_fixtures/added_primary_key_before_addition/__init__.py
  recidiviz/tests/ingest/direct/raw_data/load_manager_fixtures/added_primary_key_before_addition/tagAddedPrimaryKey_append_table_output.csv
  recidiviz/tests/ingest/direct/raw_data/load_manager_fixtures/added_primary_key_before_addition/tagAddedPrimaryKey_append_table_seed.csv
  recidiviz/tests/ingest/direct/raw_data/load_manager_fixtures/added_primary_key_before_addition/tagAddedPrimaryKey_load_input.csv
  recidiviz/tests/ingest/direct/raw_data/load_manager_fixtures/added_primary_key_before_addition/tagAddedPrimaryKey_load_output.csv
  recidiviz/tests/ingest/direct/raw_data/load_manager_fixtures/renamed_primary_key/__init__.py
  recidiviz/tests/ingest/direct/raw_data/load_manager_fixtures/renamed_primary_key/tagRenamedPrimaryKey_append_table_output.csv
  recidiviz/tests/ingest/direct/raw_data/load_manager_fixtures/renamed_primary_key/tagRenamedPrimaryKey_append_table_seed.csv
  recidiviz/tests/ingest/direct/raw_data/load_manager_fixtures/renamed_primary_key/tagRenamedPrimaryKey_load_input.csv
  recidiviz/tests/ingest/direct/raw_data/load_manager_fixtures/renamed_primary_key/tagRenamedPrimaryKey_load_output.csv
  recidiviz/tests/ingest/direct/raw_data/raw_file_configs_test.py
  recidiviz/tests/ingest/direct/raw_data/validations/distinct_primary_key_validation_test.py
Due: none

[US_TX] Add alternative_contact_cadence_reason to contact cadence spans (Recidiviz/recidiviz-data#68364)
  recidiviz/task_eligibility/utils/us_tx_query_fragments.py
Due: generate_calc_documentation

[Terraform] Add CMEK encryption to all TF-managed GCS buckets (Recidiviz/recidiviz-data#72428)
  recidiviz/tools/deploy/terraform/cloud-functions.tf
  recidiviz/tools/deploy/terraform/cloud-storage.tf
  recidiviz/tools/deploy/terraform/external-data-table-gcs-files.tf
  recidiviz/tools/deploy/terraform/modules/cloud-storage-bucket/main.tf
Due: update_terraform_lock_file, terraform_fmt

[US_AZ] Add two metrics to outcomes (Recidiviz/recidiviz-data#72608)
  recidiviz/outliers/constants.py
  recidiviz/outliers/outliers_configs.py
  recidiviz/tests/outliers/snapshots/snap_aggregated_metrics_collector_test.py
Due: none

[US_ND] New raw data config (Recidiviz/recidiviz-data#71719)
  recidiviz/ingest/direct/gating.py
Due: none

[Autogenerated] Update runner AMIs (Recidiviz/recidiviz-data#73281)
  .github/runs-on.yml
Due: none

[Autogenerated] Update uv.lock (Recidiviz/recidiviz-data#73381)
  uv.lock
Due: none

[Terraform] Generate build-trigger.tf config using Python BuildConfiguration code (Recidiviz/recidiviz-data#70417)
  recidiviz/tests/tools/deploy/cloud_build/artifact_registry_repository_test.py
  recidiviz/tests/tools/deploy/cloud_build/cloud_build_client_test.py
  recidiviz/tests/tools/deploy/cloud_build/generate_recidiviz_data_post_commit_docker_build_steps_test.py
  recidiviz/tools/deploy/cloud_build/artifact_registry_repository.py
  recidiviz/tools/deploy/cloud_build/build_configuration.py
  recidiviz/tools/deploy/cloud_build/constants.py
  recidiviz/tools/deploy/cloud_build/deployment_stage_runner.py
  recidiviz/tools/deploy/cloud_build/generate_recidiviz_data_post_commit_docker_build_steps.py
  recidiviz/tools/deploy/cloud_build/stages/build_cloud_functions.py
  recidiviz/tools/deploy/cloud_build/stages/build_images.py
  recidiviz/tools/deploy/cloud_build/stages/create_terraform_plan.py
  recidiviz/tools/deploy/cloud_build/stages/run_migrations_from_cloud_build.py
  recidiviz/tools/deploy/cloud_build/stages/tag_images.py
  recidiviz/tools/deploy/terraform/build-trigger.tf
  recidiviz/tools/deploy/terraform/config/recidiviz_data_post_commit_docker_build_steps.yaml
  recidiviz/tools/deploy/terraform/dataflow-flex.tf
Due: update_terraform_lock_file, terraform_fmt

[US_MI] Pull current programming info into the RH V2 opp records (Recidiviz/recidiviz-data#72210)
  recidiviz/task_eligibility/utils/us_mi_query_fragments.py
Due: generate_calc_documentation

Revisions to CLAUDE.md (Recidiviz/recidiviz-data#73345)
  CLAUDE.md
  recidiviz/pipelines/CLAUDE.md
Due: none

[Tools] Add schemas to observation view builders (Recidiviz/recidiviz-data#72020)
  recidiviz/aggregated_metrics/assignment_sessions_view_builder.py
  recidiviz/aggregated_metrics/assignments_by_time_period_view_builder.py
  recidiviz/aggregated_metrics/query_building/build_single_observation_type_aggregated_metric_query.py
  recidiviz/observations/event_observation_big_query_view_builder.py
  recidiviz/observations/metric_unit_of_observation.py
  recidiviz/observations/observation_attribute_cast.py
  recidiviz/observations/observation_schemas.py
  recidiviz/observations/observation_selector.py
  recidiviz/observations/observation_type_utils.py
  recidiviz/observations/span_observation_big_query_view_builder.py
  recidiviz/observations/span_selector.py
  recidiviz/observations/view_config.py
  recidiviz/tests/aggregated_metrics/aggregated_metric_configurations_test.py
  recidiviz/tests/aggregated_metrics/models/metric_population_type_test.py
  recidiviz/tests/observations/event_observation_big_query_view_builder_test.py
  recidiviz/tests/observations/span_observation_big_query_view_builder_test.py
  recidiviz/tools/looker/aggregated_metrics/custom_metrics_lookml_utils.py
  recidiviz/tools/looker/top_level_generators/observations_lookml_generator.py
Due: generate_lookml

[batch identity clustering dag] Create pipeline skeleton (Recidiviz/recidiviz-data#72243)
  recidiviz/pipelines/batch_identity_clustering/__init__.py
  recidiviz/pipelines/batch_identity_clustering/dataset_config.py
  recidiviz/pipelines/batch_identity_clustering/pipeline.py
  recidiviz/pipelines/batch_identity_clustering/pipeline_parameters.py
  recidiviz/pipelines/batch_identity_clustering/template_metadata.json
  recidiviz/pipelines/pipeline_parameters.py
  recidiviz/tests/pipelines/batch_identity_clustering/__init__.py
  recidiviz/tests/pipelines/batch_identity_clustering/pipeline_parameters_test.py
  recidiviz/tests/pipelines/pipeline_parameters_test.py
Due: none

[Cloud Build] Don't copy git source to a shared volume unless it is used (Recidiviz/recidiviz-data#73417)
  recidiviz/tools/deploy/cloud_build/build_configuration.py
  recidiviz/tools/deploy/terraform/config/recidiviz_data_post_commit_docker_build_steps.yaml
Due: update_terraform_lock_file, terraform_fmt

[US_NC] Add supervisor_periods (Recidiviz/recidiviz-data#72694)
  recidiviz/ingest/direct/regions/us_nc/ingest_mappings/us_nc_staff_supervisor_period.yaml
  recidiviz/tests/source_tables/update_big_query_table_schemas_test.py
Due: generate_docs_for_region

[document store] Add new document discovery step (Recidiviz/recidiviz-data#72208)
  recidiviz/common/recidiviz_attr_validators.py
  recidiviz/documents/store/document_collection_config.py
  recidiviz/documents/store/document_collection_query_builder.py
  recidiviz/documents/store/document_upload_status_table.py
  recidiviz/documents/store/new_document_discovery.py
  recidiviz/tests/common/recidiviz_attr_validators_test.py
  recidiviz/tests/documents/store/document_collection_query_builder_test.py
  recidiviz/tests/documents/store/fixtures/new_documents/new_documents_output.csv
  recidiviz/tests/documents/store/new_document_discovery_test.py
Due: none

[US_IA] Add new enum value for supervision level (Recidiviz/recidiviz-data#73541)
  recidiviz/ingest/direct/regions/us_ia/ingest_mappings/us_ia_supervision_periods.yaml
Due: generate_docs_for_region

[US_IX] Add PWCC to CRC-like beds workflow (Recidiviz/recidiviz-data#73380)
  recidiviz/task_eligibility/eligibility_spans/us_ix/transfer_to_crc_like_bed_a_facility_based_request.py
  recidiviz/task_eligibility/eligibility_spans/us_ix/transfer_to_crc_like_bed_b_medical_request.py
  recidiviz/task_eligibility/utils/us_ix_query_fragments.py
Due: generate_calc_documentation

[Airflow] Filter out DAG runs manually marked failed before they start (Recidiviz/recidiviz-data#73427)
  recidiviz/airflow/dags/monitoring/airflow_dag_run_history.py
  recidiviz/airflow/tests/monitoring/airflow_dag_run_history_test.py
Due: none

[Docker] Fix Cloud Build cache thrashing between main and release branches (Recidiviz/recidiviz-data#73419)
  recidiviz/tests/tools/deploy/cloud_build/deployment_stage_runner_test.py
  recidiviz/tools/deploy/cloud_build/artifact_registry_repository.py
  recidiviz/tools/deploy/cloud_build/generate_recidiviz_data_post_commit_docker_build_steps.py
  recidiviz/tools/deploy/cloud_build/stages/build_images.py
  recidiviz/tools/deploy/cloud_build/stages/tag_images.py
  recidiviz/tools/deploy/terraform/artifact-registry.tf
  recidiviz/tools/deploy/terraform/config/recidiviz_data_post_commit_docker_build_steps.yaml
Due: update_terraform_lock_file, terraform_fmt

[Tools] Add schemas to SelectedColumnsBigQueryView (Recidiviz/recidiviz-data#73195)
  recidiviz/application_data_import/server.py
  recidiviz/auth/auth_endpoint.py
  recidiviz/auth/import_ingested_users.py
  recidiviz/big_query/selected_columns_big_query_view.py
  recidiviz/tests/big_query/selected_columns_big_query_view_test.py
  recidiviz/tests/persistence/database/schema/pathways/schema_test.py
  recidiviz/tools/auth/dry_run_import_ingested_users.py
  recidiviz/tools/insights/load_local_db.py
  recidiviz/tools/shared_pathways/load_fixtures.py
Due: generate_docs_for_endpoint

[US_AZ] Add non-date attributes (TPR and DTP approval status) to sentence group metadata for resident_metadata (Recidiviz/recidiviz-data#72302)
  recidiviz/ingest/direct/regions/us_az/ingest_mappings/us_az_state_sentence_group.yaml
Due: generate_docs_for_region

Path conditions:
  clear_notebook_files: any of: \.ipynb$
  validate_scripts_and_notebooks_are_changed_together: any of: ^recidiviz/research/.*notebooks/.*/nbautoexport-scripts/.*\.py$
  generate_docs_for_region: any of: ^recidiviz/ingest/direct/regions/|^recidiviz/view_registry/raw_data_reference_reasons.yaml
  generate_docs_for_endpoint: any of: (?x)(^recidiviz/tools/docs/endpoint_documentation_generator.py|^recidiviz/server_blueprint_registry.py|.*/routes/|.*routes.py|.*/server.py|.*control.py|.*endpoint.py|.*endpoints.py|^recidiviz/backup/backup_manager.py|^recidiviz/pipelines/calculation_data_storage_manager.py)$, but not: ^recidiviz/tests
  generate_entity_documentation: any of: (?x)(^recidiviz/persistence/database/schema/state/schema.py|^recidiviz/persistence/entity/state/normalized_entities.py|^recidiviz/persistence/entity/state/entities.py|^recidiviz/common/constants/state/)$

  generate_calc_documentation: any of: ^recidiviz/calculator/query/|^recidiviz/.*/views/|^recidiviz/task_eligibility/|^recidiviz/monitoring/platform_kpis/|^recidiviz/ingest/direct/regions/.*/raw_data/, but not: ^recidiviz/tests/|^recidiviz/calculator/modeling/
  generate_ingest_mappings_schema_documentation: any of: ^recidiviz/ingest/direct/ingest_mappings/yaml_schema/|^docs/engineering/ingest_mapping_schema/
  update_terraform_lock_file: any of: ^recidiviz/tools/deploy/terraform/
  terraform_fmt: any of: ^recidiviz/tools/deploy/terraform/
  alphabetize_yaml: any of: recidiviz/view_registry/raw_data_reference_reasons.yaml
  generate_lookml: any of: ^recidiviz/persistence/entity/state/|^recidiviz/tools/looker/|^recidiviz/aggregated_metrics/|^recidiviz/observations/views/|^recidiviz/ingest/direct/regions/.*/raw_data/|^recidiviz/segment/product_type/|^recidiviz/calculator/query/state/views/analyst_data/global_provisioned_user_sessions, but not: ^recidiviz/tools/looker/__generated__/
