Repository Recidiviz/pulse-data: changes, and which pre-commit hooks are due for each by the changed paths.
All: generate_docs_for_region, generate_docs_for_endpoint, generate_entity_documentation, generate_calc_documentation, generate_ingest_mappings_schema_documentation, update_terraform_lock_file

generate_docs_for_region:
  name: generate_docs_for_region
  entry: pipenv run python -m recidiviz.tools.docs.region_documentation_generator
  language: system
  require_serial: true

generate_docs_for_endpoint:
  name: generate_docs_for_endpoint
  entry: pipenv run python -m recidiviz.tools.docs.endpoint_documentation_generator
  language: system
  require_serial: true

generate_entity_documentation:
  name: generate_entity_documentation
  entry: pipenv run python -m recidiviz.tools.docs.entity_documentation_generator
  language: system
  require_serial: true

generate_calc_documentation:
  name: generate_calc_documentation
  entry: pipenv run python -m recidiviz.calculator.calculation_documentation_generator
  language: system
  require_serial: true

generate_ingest_mappings_schema_documentation:
  name: generate_ingest_mappings_schema_documentation
  entry: pipenv run python -m recidiviz.tools.docs.ingest_mappings_schema_documentation_generator
  language: system
  require_serial: true

update_terraform_lock_file:
  name: update_terraform_lock_file
  entry: recidiviz/tools/deploy/update_terraform_lock.sh
  language: script
  require_serial: true

[US_TN] adding SupervisionStandard to historical raw data exclusions (Recidiviz/recidiviz-data#31094)
  recidiviz/validation/views/state/raw_data/configs/stable_historical_raw_data_counts_validation_config.yaml
Due: generate_docs_for_endpoint, generate_calc_documentation

[US_PA] Add enum value for supervision responses (Recidiviz/recidiviz-data#31096)
  recidiviz/ingest/direct/regions/us_pa/ingest_mappings/us_pa_supervision_violation_response.yaml
Due: generate_docs_for_region, generate_docs_for_endpoint

[Justice Counts] Don't reference filename parameter in bytes object during Automated Bulk Upload (Recidiviz/recidiviz-data#31056)
  recidiviz/justice_counts/control_panel/routes/api.py
  recidiviz/justice_counts/spreadsheet.py
  recidiviz/tests/justice_counts/spreadsheet_test.py
Due: generate_docs_for_endpoint

Defines new span for workflows user registration and refactors workflows user <> state assignment (Recidiviz/recidiviz-data#31092)
  recidiviz/calculator/query/state/views/analyst_data/models/metric_population_type.py
  recidiviz/calculator/query/state/views/analyst_data/models/metric_unit_of_analysis_type.py
  recidiviz/calculator/query/state/views/analyst_data/models/span_type.py
  recidiviz/calculator/query/state/views/analyst_data/models/spans.py
  recidiviz/tools/find_unused_bq_views.py
Due: generate_docs_for_endpoint, generate_calc_documentation

[US_MI]]Workflows] Fix almost eligible bug to pull from sessionized tasks view (Recidiviz/recidiviz-data#31034)
  recidiviz/task_eligibility/utils/us_mi_query_fragments.py
Due: generate_docs_for_endpoint, generate_calc_documentation

Fixes ambiguous columns bug in custom metrics explore (Recidiviz/recidiviz-data#31030)
  recidiviz/tools/looker/aggregated_metrics/custom_metrics_lookml_utils.py
Due: generate_docs_for_endpoint

[TES] Make reasons_fields a required arg for criteria spans (Recidiviz/recidiviz-data#30902)
  recidiviz/task_eligibility/criteria/state_specific/us_ix/not_serving_a_rider_sentence.py
  recidiviz/task_eligibility/criteria/state_specific/us_ix/tentative_parole_date_not_within_6_months.py
  recidiviz/task_eligibility/criteria/state_specific/us_nd/not_in_an_orientation_unit.py
  recidiviz/task_eligibility/criteria/state_specific/us_nd/not_in_wtru_btc.py
  recidiviz/task_eligibility/task_criteria_big_query_view_builder.py
  recidiviz/task_eligibility/task_criteria_group_big_query_view_builder.py
  recidiviz/tests/task_eligibility/task_criteria_big_query_view_builder_test.py
  recidiviz/tests/task_eligibility/task_criteria_group_big_query_view_builder_test.py
Due: generate_docs_for_endpoint, generate_calc_documentation

[US_ND] Add Common Statute Table as raw data (Recidiviz/recidiviz-data#31083)
  recidiviz/ingest/direct/regions/us_nd/raw_data/us_nd_RECIDIVIZ_REFERENCE_common_statute_table.yaml
Due: generate_docs_for_region, generate_docs_for_endpoint

updated descriptions for abscontions/incarceration metrics/exclusions (Recidiviz/recidiviz-data#31108)
  recidiviz/outliers/outliers_configs.py
Due: generate_docs_for_endpoint

[US_OZ] Add raw data configs for IE orientation (Recidiviz/recidiviz-data#31121)
  recidiviz/ingest/direct/regions/us_oz/raw_data/us_oz_lds_person.yaml
Due: generate_docs_for_region, generate_docs_for_endpoint

Fix nondeterminism in lookml autogen cte ordering (Recidiviz/recidiviz-data#31142)
  recidiviz/tools/looker/aggregated_metrics/custom_metrics_lookml_utils.py
Due: generate_docs_for_endpoint

[US_ND] Map GTRD to `projected_max_release_date` (Recidiviz/recidiviz-data#31132)
  recidiviz/ingest/direct/regions/us_nd/ingest_mappings/us_nd_elite_incarceration_sentences.yaml
Due: generate_docs_for_region, generate_docs_for_endpoint

[US_ND] Remap incarceration type to account for CJ assignments (Recidiviz/recidiviz-data#31137)
  recidiviz/ingest/direct/regions/us_nd/ingest_mappings/us_nd_elite_movements_incarceration_periods.yaml
  recidiviz/ingest/direct/regions/us_nd/us_nd_custom_enum_parsers.py
Due: generate_docs_for_region, generate_docs_for_endpoint

[Supervisor homepage] Pull officer avg caseload for the period into the querier (Recidiviz/recidiviz-data#30802)
  recidiviz/outliers/querier/querier.py
  recidiviz/outliers/types.py
  recidiviz/tests/case_triage/outliers/outliers_routes_test.py
  recidiviz/tests/case_triage/outliers/snapshots/snap_outliers_routes_test.py
  recidiviz/tests/outliers/querier_test.py
  recidiviz/tests/outliers/snapshots/snap_querier_test.py
  recidiviz/tools/insights/fixtures/supervision_officer_metrics.json
Due: generate_docs_for_endpoint

[US_ND] Add raw data config for new FTR table (Recidiviz/recidiviz-data#31120)
  recidiviz/ingest/direct/regions/us_nd/raw_data/us_nd_docstars_REF_FTR_PENDING_REASON.yaml
Due: generate_docs_for_region, generate_docs_for_endpoint

[Autogenerated] Update Pipfile.lock (Recidiviz/recidiviz-data#31185)
  Pipfile.lock
Due: none

[US_AR] Fix current sentences in AR resident record (Recidiviz/recidiviz-data#30763)
  recidiviz/calculator/query/state/views/workflows/us_ar/resident_metadata.py
Due: generate_docs_for_endpoint, generate_calc_documentation

Add person ingest view for lds_person (Recidiviz/recidiviz-data#31159)
  recidiviz/common/constants/state/external_id_types.py
  recidiviz/ingest/direct/regions/us_oz/ingest_mappings/us_oz_lds_person.yaml
  recidiviz/ingest/direct/regions/us_oz/ingest_views/view_lds_person.py
Due: generate_docs_for_region, generate_docs_for_endpoint

Update admin panel link in raw data pruning script (Recidiviz/recidiviz-data#31187)
  recidiviz/tools/ingest/one_offs/clear_redundant_raw_data_on_bq.py
Due: generate_docs_for_endpoint

Add a comment to CONTRIBUTING.md explaining that CI is disabled in public repo (Recidiviz/recidiviz-data#31200)
  CONTRIBUTING.md
Due: none

[US_MO] Update sentence and sentence_status_snapshot views. (Recidiviz/recidiviz-data#31015)
  recidiviz/ingest/direct/regions/us_mo/ingest_mappings/us_mo_incarceration_sentence.yaml
  recidiviz/ingest/direct/regions/us_mo/ingest_mappings/us_mo_sentence.yaml
  recidiviz/ingest/direct/regions/us_mo/ingest_mappings/us_mo_sentence_length.yaml
  recidiviz/ingest/direct/regions/us_mo/ingest_mappings/us_mo_sentence_status_snapshot.yaml
  recidiviz/ingest/direct/regions/us_mo/ingest_mappings/us_mo_supervision_sentence.yaml
  recidiviz/ingest/direct/regions/us_mo/ingest_views/templates_sentences.py
  recidiviz/ingest/direct/regions/us_mo/ingest_views/view_sentence.py
  recidiviz/ingest/direct/regions/us_mo/ingest_views/view_sentence_status_snapshot.py
  recidiviz/ingest/direct/regions/us_mo/us_mo_custom_enum_parsers.py
  recidiviz/ingest/direct/regions/us_mo/us_mo_custom_parsers.py
  recidiviz/persistence/entity/state/entities.py
  recidiviz/pipelines/utils/state_utils/us_mo/us_mo_sentence_classification.py
  recidiviz/tests/ingest/direct/regions/ingest_view_cte_comment_exemptions.py
Due: generate_docs_for_region, generate_docs_for_endpoint, generate_calc_documentation

[US_MO] Cleanup previous sentencing V2 implementation (Recidiviz/recidiviz-data#31131)
  recidiviz/ingest/direct/regions/us_mo/ingest_mappings/us_mo_incarceration_sentence.yaml
  recidiviz/ingest/direct/regions/us_mo/ingest_mappings/us_mo_sentence_length.yaml
  recidiviz/ingest/direct/regions/us_mo/ingest_mappings/us_mo_supervision_sentence.yaml
  recidiviz/ingest/direct/regions/us_mo/ingest_views/view_incarceration_sentence.py
  recidiviz/ingest/direct/regions/us_mo/ingest_views/view_sentence_length.py
  recidiviz/ingest/direct/regions/us_mo/ingest_views/view_supervision_sentence.py
  recidiviz/validation/views/state/sentences/compare_v2_and_v1_sentences.py
Due: generate_docs_for_region, generate_docs_for_endpoint, generate_calc_documentation

[Normalization] Add remainder of StateStaff entities to normalized_entities_v2.py (Recidiviz/recidiviz-data#31007)
  recidiviz/persistence/entity/state/entities.py
  recidiviz/persistence/entity/state/normalized_entities_v2.py
  recidiviz/tests/persistence/entity/state/normalized_entities_v2_test.py
Due: generate_docs_for_endpoint, generate_calc_documentation

[Normalization] Typing cleanup to prep for v2 normalization entities (Recidiviz/recidiviz-data#31008)
  recidiviz/pipelines/metrics/utils/supervision_case_compliance_manager.py
  recidiviz/pipelines/metrics/utils/violation_utils.py
  recidiviz/pipelines/metrics/violation/identifier.py
  recidiviz/pipelines/normalization/utils/normalization_managers/incarceration_period_normalization_manager.py
  recidiviz/pipelines/utils/entity_normalization/normalized_incarceration_period_index.py
  recidiviz/pipelines/utils/state_utils/state_specific_incarceration_delegate.py
  recidiviz/pipelines/utils/state_utils/state_specific_supervision_delegate.py
  recidiviz/pipelines/utils/state_utils/state_specific_violations_delegate.py
  recidiviz/pipelines/utils/state_utils/us_mi/us_mi_incarceration_delegate.py
  recidiviz/pipelines/utils/state_utils/us_mo/us_mo_violations_delegate.py
  recidiviz/pipelines/utils/state_utils/us_nd/us_nd_incarceration_delegate.py
  recidiviz/pipelines/utils/state_utils/us_nd/us_nd_supervision_delegate.py
  recidiviz/pipelines/utils/state_utils/us_nd/us_nd_violations_delegate.py
  recidiviz/pipelines/utils/state_utils/us_pa/us_pa_incarceration_delegate.py
  recidiviz/pipelines/utils/state_utils/us_pa/us_pa_violations_delegate.py
  recidiviz/pipelines/utils/state_utils/us_tn/us_tn_incarceration_delegate.py
  recidiviz/pipelines/utils/state_utils/us_tn/us_tn_violations_delegate.py
  recidiviz/pipelines/utils/violation_response_utils.py
  recidiviz/tests/pipelines/utils/state_utils/state_specific_incarceration_delegate_test.py
  recidiviz/tests/pipelines/utils/state_utils/us_mo/us_mo_violations_delegate_test.py
  recidiviz/tests/pipelines/utils/state_utils/us_nd/us_nd_commitment_from_supervision_delegate_test.py
  recidiviz/tests/pipelines/utils/state_utils/us_nd/us_nd_incarceration_delegate_test.py
  recidiviz/tests/pipelines/utils/state_utils/us_nd/us_nd_supervision_delegate_test.py
  recidiviz/tests/pipelines/utils/state_utils/us_nd/us_nd_violations_delegate_test.py
  recidiviz/tests/pipelines/utils/state_utils/us_pa/us_pa_incarceration_delegate_test.py
  recidiviz/tests/pipelines/utils/state_utils/us_pa/us_pa_violations_delegate_test.py
  recidiviz/tests/pipelines/utils/state_utils/us_tn/us_tn_incarceration_delegate_test.py
  recidiviz/tests/pipelines/utils/state_utils/us_tn/us_tn_violations_delegate_test.py
  recidiviz/tests/pipelines/utils/supervision_period_utils_test.py
  recidiviz/tests/pipelines/utils/violation_response_utils_test.py
Due: generate_docs_for_endpoint

[raw data import dag] adds base implementation for append_to_raw_data_table (Recidiviz/recidiviz-data#30971)
  recidiviz/ingest/direct/raw_data/direct_ingest_raw_file_load_manager.py
  recidiviz/ingest/direct/types/raw_data_import_types.py
  recidiviz/ingest/direct/views/raw_data_diff_query_builder.py
  recidiviz/persistence/database/schema/operations/schema.py
  recidiviz/tests/ingest/direct/raw_data/direct_ingest_raw_file_load_manager_test.py
  recidiviz/tests/ingest/direct/raw_data/load_manager_fixtures/migration_depends_on_transforms/tagBasicData_append_table_output.csv
  recidiviz/tests/ingest/direct/raw_data/load_manager_fixtures/migration_depends_on_transforms/tagBasicData_append_table_seed.csv
  recidiviz/tests/ingest/direct/raw_data/load_manager_fixtures/migration_depends_on_transforms/tagBasicData_load_input.csv
  recidiviz/tests/ingest/direct/raw_data/load_manager_fixtures/migration_depends_on_transforms/tagBasicData_load_output.csv
  recidiviz/tests/ingest/direct/raw_data/load_manager_fixtures/no_migrations_no_changes_single_file/singlePrimaryKey_append_table_output.csv
  recidiviz/tests/ingest/direct/raw_data/load_manager_fixtures/no_migrations_no_changes_single_file/singlePrimaryKey_append_table_seed.csv
  recidiviz/tests/ingest/direct/raw_data/load_manager_fixtures/no_migrations_no_changes_single_file/singlePrimaryKey_load_input.csv
  recidiviz/tests/ingest/direct/raw_data/load_manager_fixtures/no_migrations_no_changes_single_file/singlePrimaryKey_load_output.csv
Due: generate_docs_for_endpoint, generate_calc_documentation

[raw data import dag] update raw data diff query to use select except (Recidiviz/recidiviz-data#30976)
  recidiviz/ingest/direct/raw_data/direct_ingest_raw_file_load_manager.py
  recidiviz/ingest/direct/views/raw_data_diff_query_builder.py
  recidiviz/tests/ingest/direct/raw_data/direct_ingest_raw_file_load_manager_test.py
  recidiviz/tests/ingest/direct/raw_data/load_manager_fixtures/historical_diff_depends_on_trasnform/__init__.py
  recidiviz/tests/ingest/direct/raw_data/load_manager_fixtures/historical_diff_depends_on_trasnform/multipleColPrimaryKeyHistorical_append_table_output.csv
  recidiviz/tests/ingest/direct/raw_data/load_manager_fixtures/historical_diff_depends_on_trasnform/multipleColPrimaryKeyHistorical_append_table_seed.csv
  recidiviz/tests/ingest/direct/raw_data/load_manager_fixtures/historical_diff_depends_on_trasnform/multipleColPrimaryKeyHistorical_load_input.csv
  recidiviz/tests/ingest/direct/raw_data/load_manager_fixtures/historical_diff_depends_on_trasnform/multipleColPrimaryKeyHistorical_load_output.csv
  recidiviz/tests/ingest/direct/raw_data/raw_data_diff_fixtures/multipleColPrimaryKeyHistoricalManyIsDeletedSelectExcept/__init__.py
  recidiviz/tests/ingest/direct/raw_data/raw_data_diff_fixtures/multipleColPrimaryKeyHistoricalManyIsDeletedSelectExcept/existing_raw_data.csv
  recidiviz/tests/ingest/direct/raw_data/raw_data_diff_fixtures/multipleColPrimaryKeyHistoricalManyIsDeletedSelectExcept/expected_diff.csv
  recidiviz/tests/ingest/direct/raw_data/raw_data_diff_fixtures/multipleColPrimaryKeyHistoricalManyIsDeletedSelectExcept/new_raw_data.csv
  recidiviz/tests/ingest/direct/views/raw_data_diff_query_test.py
Due: generate_docs_for_endpoint, generate_calc_documentation

[BigQuery] DML insert, take two (Recidiviz/recidiviz-data#31026)
  recidiviz/big_query/big_query_client.py
  recidiviz/tests/big_query/big_query_client_test.py
Due: generate_docs_for_endpoint, generate_calc_documentation

[US_MO] Add join relationships for raw data looker dashboard (Recidiviz/recidiviz-data#31156)
  recidiviz/ingest/direct/regions/us_mo/raw_data/us_mo_LBAKRDTA_TAK028.yaml
  recidiviz/ingest/direct/regions/us_mo/raw_data/us_mo_LBAKRDTA_TAK034.yaml
  recidiviz/ingest/direct/regions/us_mo/raw_data/us_mo_LBAKRDTA_TAK039.yaml
  recidiviz/ingest/direct/regions/us_mo/raw_data/us_mo_LBAKRDTA_TAK042.yaml
  recidiviz/ingest/direct/regions/us_mo/raw_data/us_mo_LBAKRDTA_TAK044.yaml
  recidiviz/ingest/direct/regions/us_mo/raw_data/us_mo_LBAKRDTA_TAK065.yaml
  recidiviz/ingest/direct/regions/us_mo/raw_data/us_mo_LBAKRDTA_TAK076.yaml
  recidiviz/ingest/direct/regions/us_mo/raw_data/us_mo_LBAKRDTA_TAK142.yaml
  recidiviz/ingest/direct/regions/us_mo/raw_data/us_mo_LBAKRDTA_TAK158.yaml
  recidiviz/ingest/direct/regions/us_mo/raw_data/us_mo_LBAKRDTA_TAK233.yaml
  recidiviz/ingest/direct/regions/us_mo/raw_data/us_mo_LBAKRDTA_TAK236.yaml
  recidiviz/ingest/direct/regions/us_mo/raw_data/us_mo_LBAKRDTA_TAK237.yaml
  recidiviz/ingest/direct/regions/us_mo/raw_data/us_mo_LBAKRDTA_TAK291.yaml
  recidiviz/ingest/direct/regions/us_mo/raw_data/us_mo_LBAKRDTA_TAK292.yaml
  recidiviz/ingest/direct/regions/us_mo/raw_data/us_mo_LBAKRDTA_VAK003.yaml
  recidiviz/ingest/direct/regions/us_mo/raw_data/us_mo_MASTER_PDB_LOCATIONS.yaml
  recidiviz/ingest/direct/regions/us_mo/raw_data/us_mo_OFNDR_PDB_FOC_SUPERVISION_ENHANCEMENTS_VW.yaml
  recidiviz/ingest/direct/regions/us_mo/raw_data/us_mo_OFNDR_PDB_OFNDR_CYCLE_REF_ID_XREF.yaml
Due: generate_docs_for_region, generate_docs_for_endpoint

Implements appears_with validator to specific entities (Recidiviz/recidiviz-data#30878)
  recidiviz/persistence/entity/state/entities.py
  recidiviz/tests/persistence/entity/state/entities_test.py
Due: generate_docs_for_endpoint, generate_calc_documentation

[Justice Counts] Start Indexing Users Locally with 1, not 0 (Recidiviz/recidiviz-data#31190)
  recidiviz/tools/justice_counts/control_panel/generate_fixtures.py
  recidiviz/tools/justice_counts/control_panel/load_fixtures.py
Due: generate_docs_for_endpoint

[US_IX] Adding `OTHER` specialized caseload for interstate officers (Recidiviz/recidiviz-data#31085)
  recidiviz/ingest/direct/regions/us_ix/ingest_views/view_state_staff_caseload_type_periods.py
  recidiviz/ingest/direct/regions/us_ix/us_ix_custom_enum_parsers.py
Due: generate_docs_for_region, generate_docs_for_endpoint

[Justice Counts] Access Agency Datapoints via the MetricSettingInterface class in all tests. (Recidiviz/recidiviz-data#30493)
  recidiviz/justice_counts/control_panel/routes/admin.py
  recidiviz/tests/justice_counts/bulk_upload/bulk_upload_test.py
  recidiviz/tests/justice_counts/control_panel/admin_test.py
  recidiviz/tests/justice_counts/control_panel/server_test.py
  recidiviz/tests/justice_counts/datapoint_test.py
  recidiviz/tests/justice_counts/email_test.py
  recidiviz/tests/justice_counts/report_test.py
  recidiviz/tests/justice_counts/spreadsheet_test.py
  recidiviz/tests/justice_counts/utils/utils.py
Due: generate_docs_for_endpoint

[Prototypes] Create a DiscoveryEngineInterface class to access the Vertex AI discovery engine. (Recidiviz/recidiviz-data#31087)
  recidiviz/tests/prototypes/__init__.py
  recidiviz/tests/prototypes/discovery_engine_test.py
  recidiviz/tools/prototypes/__init__.py
  recidiviz/tools/prototypes/discovery_engine.py
Due: generate_docs_for_endpoint

[US_ND] Changes to ND ATP and MIN opportunities based on TT calls (Recidiviz/recidiviz-data#30769)
  recidiviz/calculator/query/state/views/reference/workflows_opportunity_configs.py
  recidiviz/calculator/query/state/views/workflows/firestore/firestore_views.py
  recidiviz/calculator/query/state/views/workflows/firestore/us_nd_transfer_to_atp_form_record.py
  recidiviz/calculator/query/state/views/workflows/firestore/us_nd_transfer_to_minimum_facility_form_record.py
  recidiviz/task_eligibility/criteria/general/incarcerated_at_least_30_days_in_same_facility.py
  recidiviz/task_eligibility/criteria/general/incarcerated_at_least_90_days.py
  recidiviz/task_eligibility/criteria/general/incarceration_within_3_months_of_full_term_completion_date.py
  recidiviz/task_eligibility/criteria/general/incarceration_within_42_months_of_full_term_completion_date.py
  recidiviz/task_eligibility/criteria/state_specific/us_nd/no_detainers_or_warrants.py
  recidiviz/task_eligibility/eligibility_spans/us_nd/transfer_to_atp_form.py
  recidiviz/task_eligibility/eligibility_spans/us_nd/transfer_to_minimum_facility_form.py
  recidiviz/task_eligibility/utils/us_nd_query_fragments.py
  recidiviz/view_registry/raw_data_reference_reasons.yaml
Due: generate_docs_for_endpoint, generate_calc_documentation

Creation of PSI Case Insights rates table (Recidiviz/recidiviz-data#30876)
  recidiviz/calculator/query/state/view_config.py
  recidiviz/calculator/query/state/views/sentencing/recidivism_event.py
  recidiviz/calculator/query/state/views/sentencing/sentence_cohort.py
  recidiviz/calculator/query/state/views/sentencing/sentencing_views.py
  recidiviz/entrypoints/sentencing/__init__.py
  recidiviz/entrypoints/sentencing/write_case_insights_data_to_bq.py
  recidiviz/entrypoints/sentencing/write_case_insights_data_to_bq_main.py
  recidiviz/tests/entrypoints/sentencing/__init__.py
  recidiviz/tests/entrypoints/sentencing/write_case_insights_data_to_bq_test.py
  recidiviz/tools/find_unused_bq_views.py
Due: generate_docs_for_endpoint, generate_calc_documentation

[Insights] Join on email address for success_logins (Recidiviz/recidiviz-data#30844)
  recidiviz/calculator/query/state/views/outliers/supervision_usage_metrics.py
Due: generate_docs_for_endpoint, generate_calc_documentation

[Dataflow] Fix `launch_env` checks when running inside pipeline steps (Recidiviz/recidiviz-data#31196)
  recidiviz/entrypoints/ingest/ingest_pipeline_should_run_in_dag.py
  recidiviz/ingest/direct/ingest_mappings/ingest_view_contents_context.py
  recidiviz/ingest/direct/ingest_mappings/ingest_view_manifest_collector.py
  recidiviz/pipelines/ingest/state/generate_entities.py
  recidiviz/pipelines/ingest/state/pipeline.py
  recidiviz/source_tables/ingest_pipeline_output_table_collector.py
  recidiviz/tests/entrypoints/ingest/ingest_pipeline_should_run_in_dag_test.py
  recidiviz/tests/ingest/direct/ingest_mappings/ingest_view_manifest_collector_test.py
  recidiviz/tests/ingest/direct/regions/direct_ingest_region_structure_test.py
  recidiviz/tests/ingest/direct/regions/state_ingest_view_parser_test_base.py
  recidiviz/tests/ingest/direct/regions/state_specific_ingest_pipeline_integration_test_case.py
  recidiviz/tests/pipelines/ingest/state/exemptions_test.py
  recidiviz/tests/pipelines/ingest/state/generate_entities_test.py
  recidiviz/tests/pipelines/ingest/state/merge_ingest_view_root_entity_trees_test.py
  recidiviz/tests/pipelines/ingest/state/pipeline_test.py
  recidiviz/tests/pipelines/ingest/state/test_case.py
  recidiviz/tools/ingest/development/run_mappings_against_ingest_view_results.py
  recidiviz/tools/ingest/development/run_sandbox_ingest_pipeline.py
  recidiviz/tools/ingest/operations/ingest_stability_check.py
Due: generate_docs_for_endpoint

[US_IX][PSI] Fixing view to not have duplicate rows for staff (Recidiviz/recidiviz-data#31222)
  recidiviz/calculator/query/state/views/sentencing/us_ix/sentencing_client_template.py
  recidiviz/calculator/query/state/views/sentencing/us_ix/sentencing_staff_template.py
Due: generate_docs_for_endpoint, generate_calc_documentation

[Prototypes] Add a GCSBucketReader class for accessing Google Cloud Storage objects. (Recidiviz/recidiviz-data#31225)
  recidiviz/tools/prototypes/gcs_bucket_reader.py
Due: generate_docs_for_endpoint

[US_IX] Adding community opportunity raw data config and setting up view (Recidiviz/recidiviz-data#30310)
  recidiviz/calculator/query/state/views/sentencing/community_opportunity_record.py
  recidiviz/calculator/query/state/views/sentencing/sentencing_views.py
  recidiviz/calculator/query/state/views/sentencing/us_ix/sentencing_community_opportunity_template.py
  recidiviz/ingest/direct/regions/us_ix/raw_data/us_ix_RECIDIVIZ_REFERENCE_community_opportunities.yaml
  recidiviz/view_registry/raw_data_reference_reasons.yaml
Due: generate_docs_for_region, generate_docs_for_endpoint, generate_calc_documentation

Path conditions:
  generate_docs_for_region: any of: ^recidiviz/ingest/direct/regions/
  generate_docs_for_endpoint: any of: ^recidiviz/, but not: (?x)(^recidiviz/tests/|^recidiviz/tools/|^recidiviz/ingest/direct/regions/)$

  generate_entity_documentation: any of: (?x)(^recidiviz/persistence/database/schema/state/schema.py|^recidiviz/persistence/database/schema/history_table_shared_columns_mixin.py|^recidiviz/common/constants/state/)$

  generate_calc_documentation: any of: ^recidiviz/calculator/|^recidiviz/metrics/|^recidiviz/.*/views/|^recidiviz/big_query/|^recidiviz/persistence/database/schema/|^recidiviz/persistence/entity/|^recidiviz/task_eligibility/, but not: ^recidiviz/tests/|^recidiviz/calculator/modeling/
  generate_ingest_mappings_schema_documentation: any of: ^recidiviz/ingest/direct/ingest_mappings/yaml_schema/|^docs/engineering/ingest_mapping_schema/
  update_terraform_lock_file: any of: ^recidiviz/tools/deploy/terraform/
