Repository Recidiviz/pulse-data: changes, and which pre-commit hooks are due for each by the changed paths.
All: generate_docs_for_region, generate_docs_for_endpoint, generate_entity_documentation

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.3.0
    hooks:
      - id: check-yaml
  - repo: https://github.com/psf/black
    rev: 20.8b1
    hooks:
      - id: black
        language_version: python3
  - repo: local
    hooks:
      - id: generate_docs_for_region
        name: generate_docs_for_region
        entry: pipenv run python -m recidiviz.tools.docs.region_documentation_generator
        language: system
        files: ^recidiviz/ingest/direct/regions/
        require_serial: true
      - id: generate_docs_for_endpoint
        name: generate_docs_for_endpoint
        entry: pipenv run python -m recidiviz.tools.docs.endpoint_documentation_generator
        language: system
        files: ^recidiviz/
        exclude: >
          (?x)(^recidiviz/tests/|^recidiviz/tools/|^recidiviz/ingest/direct/regions/)$
        require_serial: true
      - id: generate_entity_documentation
        name: generate_entity_documentation
        entry: pipenv run python -m recidiviz.tools.docs.entity_documentation_generator
        language: system
        files: >
           (?x)(^recidiviz/persistence/database/schema/state/schema.py|^recidiviz/persistence/database/schema/history_table_shared_columns_mixin.py)$
        require_serial: true

Fixes employment attribute aggregation (recidiviz/recidiviz-data#8938)
  recidiviz/calculator/query/state/views/analyst_data/us_id/us_id_employment_sessions.py
Due: generate_docs_for_endpoint

[Case Triage] Use calc-derived next f2f date (recidiviz/recidiviz-data#9009)
  frontends/case-triage/src/components/OnboardingCarousel/OnboardingCarousel.tsx
  recidiviz/case_triage/client_utils/compliance.py
  recidiviz/case_triage/querier/case_presenter.py
  recidiviz/tests/case_triage/case_presenter_test.py
  recidiviz/tests/case_triage/case_triage_helpers.py
  recidiviz/tests/case_triage/computed_opportunity_test.py
  recidiviz/tests/case_triage/demo_user_test.py
Due: generate_docs_for_endpoint

Update onboarding logic to never show onboarding while impersonating (recidiviz/recidiviz-data#9017)
  recidiviz/case_triage/user_context.py
  recidiviz/tests/case_triage/server_test.py
Due: generate_docs_for_endpoint

Set primary keys for PA contacts and update ingest functions (recidiviz/recidiviz-data#8940)
  recidiviz/ingest/direct/regions/us_pa/ingest_views/view_supervision_contacts.py
  recidiviz/ingest/direct/regions/us_pa/raw_data/us_pa_dbo_PRS_FACT_PAROLEE_CNTC_SUMRY.yaml
  recidiviz/ingest/direct/regions/us_pa/us_pa_controller.py
  recidiviz/ingest/direct/regions/us_pa/us_pa_supervision_contacts.yaml
  recidiviz/tests/ingest/direct/direct_ingest_fixtures/us_pa/supervision_contacts.csv
  recidiviz/tests/ingest/direct/regions/us_pa/us_pa_controller_test.py
Due: generate_docs_for_region, generate_docs_for_endpoint

[Docs] Documentation for all `SupervisionMetrics` (recidiviz/recidiviz-data#8998)
  recidiviz/calculator/pipeline/supervision/metrics.py
Due: generate_docs_for_endpoint

[Monthly Report] Ensure denominator for percentage matches numerator (recidiviz/recidiviz-data#9019)
  recidiviz/calculator/query/state/views/po_report/po_monthly_report_data.py
  recidiviz/validation/configured_validations.py
  recidiviz/validation/views/state/po_report_invalid_percentages.py
  recidiviz/validation/views/view_config.py
Due: generate_docs_for_endpoint

Deprecate revocation_type on responses (recidiviz/recidiviz-data#9012)
  recidiviz/persistence/entity/state/entities.py
  recidiviz/persistence/ingest_info_converter/state/entity_helpers/state_supervision_violation_response_decision_entry.py
Due: generate_docs_for_endpoint

[Case Triage] add server default for client event primary key (recidiviz/recidiviz-data#9015)
  recidiviz/persistence/database/migrations/case_triage/versions/2021_08_25_1332_271f00b3ca42_add_event_id_default.py
  recidiviz/persistence/database/schema/case_triage/schema.py
  stubs/alembic/op.pyi
Due: generate_docs_for_endpoint

[Ingest mappings] Basic v2 structure with support for child and list fields (recidiviz/recidiviz-data#8955)
  recidiviz/ingest/direct/controllers/base_direct_ingest_controller.py
  recidiviz/ingest/direct/controllers/ingest_view_file_parser.py
  recidiviz/ingest/direct/controllers/ingest_view_processor.py
  recidiviz/tests/ingest/direct/controllers/fixtures/ingest_view_file_parser/__init__.py
  recidiviz/tests/ingest/direct/controllers/fixtures/ingest_view_file_parser/ingest_view_files/__init__.py
  recidiviz/tests/ingest/direct/controllers/fixtures/ingest_view_file_parser/ingest_view_files/list_field.csv
  recidiviz/tests/ingest/direct/controllers/fixtures/ingest_view_file_parser/ingest_view_files/list_field_from_list_col.csv
  recidiviz/tests/ingest/direct/controllers/fixtures/ingest_view_file_parser/ingest_view_files/list_field_from_multiple_list_col.csv
  recidiviz/tests/ingest/direct/controllers/fixtures/ingest_view_file_parser/ingest_view_files/reused_column.csv
  recidiviz/tests/ingest/direct/controllers/fixtures/ingest_view_file_parser/ingest_view_files/simple_agent.csv
  recidiviz/tests/ingest/direct/controllers/fixtures/ingest_view_file_parser/ingest_view_files/simple_person.csv
  recidiviz/tests/ingest/direct/controllers/fixtures/ingest_view_file_parser/ingest_view_files/single_child_field.csv
  recidiviz/tests/ingest/direct/controllers/fixtures/ingest_view_file_parser/manifests/__init__.py
  recidiviz/tests/ingest/direct/controllers/fixtures/ingest_view_file_parser/manifests/list_field.yaml
  recidiviz/tests/ingest/direct/controllers/fixtures/ingest_view_file_parser/manifests/list_field_from_list_col.yaml
  recidiviz/tests/ingest/direct/controllers/fixtures/ingest_view_file_parser/manifests/list_field_from_multiple_list_col.yaml
  recidiviz/tests/ingest/direct/controllers/fixtures/ingest_view_file_parser/manifests/reused_column.yaml
  recidiviz/tests/ingest/direct/controllers/fixtures/ingest_view_file_parser/manifests/simple_agent.yaml
  recidiviz/tests/ingest/direct/controllers/fixtures/ingest_view_file_parser/manifests/simple_person.yaml
  recidiviz/tests/ingest/direct/controllers/fixtures/ingest_view_file_parser/manifests/single_child_field.yaml
  recidiviz/tests/ingest/direct/controllers/ingest_view_file_parser_test.py
  recidiviz/utils/yaml_dict.py
Due: generate_docs_for_endpoint

[Ingest mappings] Migrate US_PA person_external_ids mappings to v2 structure (recidiviz/recidiviz-data#8975)
  recidiviz/ingest/direct/regions/us_pa/us_pa_controller.py
  recidiviz/ingest/direct/regions/us_pa/us_pa_person_external_ids.yaml
  recidiviz/tests/ingest/direct/regions/base_direct_ingest_controller_tests.py
  recidiviz/tests/ingest/direct/regions/state_ingest_view_parser_test_base.py
  recidiviz/tests/ingest/direct/regions/us_pa/us_pa_controller_test.py
  recidiviz/tests/ingest/direct/regions/us_pa/us_pa_ingest_view_parser_test.py
  recidiviz/tests/ingest/direct/templates/us_xx/us_xx_ingest_view_parser_test.py
Due: generate_docs_for_region, generate_docs_for_endpoint

[US_ID] Remove exception for incarceration_release_prior_to_admission (recidiviz/recidiviz-data#9038)
  recidiviz/case_triage/views/etl_clients.py
  recidiviz/validation/config/regions/us_id/us_id_validation_config.yaml
  recidiviz/validation/views/state/incarceration_release_prior_to_admission.py
  recidiviz/validation/views/state/overlapping_supervision_periods.py
Due: generate_docs_for_endpoint

updating endpoint docs test to use absolute path truncation (recidiviz/recidiviz-data#9041)
  recidiviz/tools/validate_source_modifications.py
Due: generate_docs_for_endpoint

Add attr_field_enum_cls_for_field_name function (recidiviz/recidiviz-data#9033)
  recidiviz/common/attr_mixins.py
  recidiviz/tests/common/attr_mixins_test.py
Due: generate_docs_for_endpoint

[Terraform] Turn off v1 database backups (recidiviz/recidiviz-data#9030)
  recidiviz/tools/deploy/terraform/cloud-sql.tf
  recidiviz/tools/deploy/terraform/modules/cloud-sql-instance/main.tf
Due: generate_docs_for_endpoint

Make sure queue loading state is unset properly (recidiviz/recidiviz-data#9044)
  frontends/admin-panel/src/components/IngestOperationsView/index.tsx
Due: none

[Migration] Add `OffenderMovement` MovementDateTime Fixes (recidiviz/recidiviz-data#9023)
  recidiviz/tests/tools/validate_source_modifications_test.py
  recidiviz/tools/validate_source_modifications.py
Due: generate_docs_for_endpoint

[Ingest mappings] Change v2 syntax for literal values (recidiviz/recidiviz-data#9043)
  recidiviz/ingest/direct/controllers/ingest_view_file_parser.py
  recidiviz/ingest/direct/regions/us_pa/us_pa_person_external_ids.yaml
  recidiviz/tests/ingest/direct/controllers/fixtures/ingest_view_file_parser/manifests/list_field_from_list_col.yaml
  recidiviz/tests/ingest/direct/controllers/fixtures/ingest_view_file_parser/manifests/list_field_from_multiple_list_col.yaml
  recidiviz/tests/ingest/direct/controllers/fixtures/ingest_view_file_parser/manifests/reused_column.yaml
  recidiviz/tests/ingest/direct/controllers/ingest_view_file_parser_test.py
Due: generate_docs_for_region, generate_docs_for_endpoint

adding additional 10 minutes to deploy for templates (recidiviz/recidiviz-data#9048)
  recidiviz/tools/deploy/deploy_all_pipeline_templates.py
Due: generate_docs_for_endpoint

Adding a new enum to represent both collateral and direct (recidiviz/recidiviz-data#9047)
  recidiviz/common/constants/state/enum_canonical_strings.py
  recidiviz/common/constants/state/state_supervision_contact.py
  recidiviz/persistence/database/migrations/state/versions/2021_08_27_1445_ff21279b54db_add_both_contact_type.py
  recidiviz/persistence/database/schema/state/schema.py
Due: generate_docs_for_endpoint, generate_entity_documentation

[Admin Panel] Add dark mode (recidiviz/recidiviz-data#9046)
  frontends/admin-panel/src/style/App.css
Due: none

[Case Triage] require user's email address in auth token (recidiviz/recidiviz-data#9050)
  recidiviz/case_triage/server.py
  recidiviz/case_triage/user_context.py
  recidiviz/tests/utils/auth/auth0_test.py
  recidiviz/utils/auth/auth0.py
Due: generate_docs_for_endpoint

Historical pipeline post-deploy DAG (recidiviz/recidiviz-data#8874)
  recidiviz/airflow/dag/calculation_pipeline_dag.py
  recidiviz/calculator/calculation_data_storage_manager.py
  recidiviz/calculator/calculation_documentation_generator.py
  recidiviz/calculator/pipeline/pipeline_type.py
  recidiviz/calculator/pipeline/production_calculation_pipeline_templates.yaml
  recidiviz/calculator/pipeline/staging_only_calculation_pipeline_templates.yaml
  recidiviz/cloud_functions/cloud_function_utils.py
  recidiviz/cloud_functions/main.py
  recidiviz/persistence/database/bq_refresh/bq_refresh_cloud_task_manager.py
  recidiviz/persistence/database/bq_refresh/cloud_sql_to_bq_refresh_control.py
  recidiviz/tests/calculator/fake_production_calculation_pipeline_templates.yaml
  recidiviz/tests/persistence/database/bq_refresh/bq_refresh_cloud_task_manager_test.py
  recidiviz/tests/persistence/database/bq_refresh/cloud_sql_to_bq_refresh_control_test.py
  recidiviz/tools/calculator/compare_dataflow_output_to_sandbox.py
  recidiviz/tools/calculator/trigger_deployed_pipeline_template.py
  recidiviz/tools/deploy/dataflow_template_helpers.py
  recidiviz/tools/deploy/deploy_helpers.sh
  recidiviz/tools/deploy/terraform/cloud-functions.tf
  recidiviz/tools/deploy/terraform/historical-pipelines.tf
  recidiviz/tools/deploy/terraform/modules/historical-pipeline/main.tf
  recidiviz/tools/deploy/terraform/modules/historical-pipeline/variables.tf
Due: generate_docs_for_endpoint

[Terraform] Turn off point-in-time recovery if backups are off (recidiviz/recidiviz-data#9060)
  recidiviz/tools/deploy/terraform/cloud-sql.tf
  recidiviz/tools/deploy/terraform/modules/cloud-sql-instance/main.tf
Due: generate_docs_for_endpoint

Increase wait time for GCS -> Cloud SQL ops (recidiviz/recidiviz-data#9061)
  recidiviz/cloud_sql/cloud_sql_client.py
  recidiviz/cloud_sql/cloud_sql_export_to_gcs.py
  recidiviz/cloud_sql/gcs_import_to_cloud_sql.py
Due: generate_docs_for_endpoint

[Bug Fix] Fixing trigger_post_deploy_cloudsql_to_bq_refresh cloud function (recidiviz/recidiviz-data#9065)
  recidiviz/cloud_functions/main.py
Due: generate_docs_for_endpoint

Update auth0-python package and use the built-in rate limiting feature (recidiviz/recidiviz-data#9062)
  recidiviz/auth/auth0_client.py
  recidiviz/tests/auth/auth0_client_test.py
  stubs/auth0/v3/management/__init__.pyi
  stubs/auth0/v3/management/rest.pyi
Due: generate_docs_for_endpoint

[Schema Cleanup] Deprecate revocation_type for US_ND (recidiviz/recidiviz-data#9013)
  recidiviz/ingest/direct/regions/us_nd/us_nd_controller.py
  recidiviz/ingest/direct/regions/us_nd/us_nd_docstars_offendercasestable_with_officers.yaml
  recidiviz/ingest/direct/regions/us_nd/us_nd_enum_helpers.py
  recidiviz/persistence/database/migrations/state/versions/2021_08_30_1835_ff4abfa45a61_delete_revocation_type_decisions_responses_nd.py
  recidiviz/persistence/entity/state/entities.py
  recidiviz/tests/ingest/direct/regions/us_nd/us_nd_controller_test.py
  recidiviz/tests/persistence/ingest_info_converter/state/entity_helpers/state_supervision_violation_response_test.py
Due: generate_docs_for_region, generate_docs_for_endpoint

[Schema Cleanup] Delete `revocation_type` and `revocation_type_raw_text` on `StateSupervisionViolationResponse` (recidiviz/recidiviz-data#9014)
  recidiviz/ingest/models/ingest_info.proto
  recidiviz/ingest/models/ingest_info.py
  recidiviz/ingest/models/ingest_info_pb2.py
  recidiviz/ingest/models/ingest_info_pb2.pyi
  recidiviz/persistence/database/migrations/state/versions/2021_08_30_1917_d1d60c10e782_drop_revocation_type_on_response.py
  recidiviz/persistence/database/schema/state/schema.py
  recidiviz/persistence/entity/state/entities.py
  recidiviz/persistence/ingest_info_converter/state/entity_helpers/state_supervision_violation_response.py
  recidiviz/tests/calculator/pipeline/supervision/pipeline_test.py
  recidiviz/tests/ingest/models/serialization_test.py
  recidiviz/tests/persistence/entity/state/entities_test_utils.py
  recidiviz/tests/persistence/ingest_info_converter/state/entity_helpers/state_supervision_violation_response_test.py
Due: generate_docs_for_endpoint, generate_entity_documentation

[Schema Cleanup] Deprecating revocation_type on entry US_ID, US_ND (recidiviz/recidiviz-data#9026)
  recidiviz/persistence/entity/state/entities.py
  recidiviz/tests/calculator/pipeline/incarceration/identifier_test.py
  recidiviz/tests/calculator/pipeline/supervision/identifier_test.py
  recidiviz/tests/calculator/pipeline/utils/violation_utils_test.py
  recidiviz/tests/persistence/ingest_info_converter/state/state_converter_test.py
Due: generate_docs_for_endpoint

[Schema Cleanup] Deprecates revocation_type on StateSupervisionViolationResponseDecisionEntry for US_MO (recidiviz/recidiviz-data#9027)
  recidiviz/ingest/direct/regions/us_mo/us_mo_controller.py
  recidiviz/persistence/database/migrations/field_deprecation_migration_template.txt
  recidiviz/persistence/database/migrations/state/versions/2021_08_30_2049_d38a342c35c5_drop_revocation_type_entry_us_mo.py
  recidiviz/persistence/entity/state/entities.py
  recidiviz/tests/ingest/direct/regions/us_mo/us_mo_controller_test.py
  recidiviz/tools/create_field_deprecation_migration.py
Due: generate_docs_for_region, generate_docs_for_endpoint

[Ingest mappings] Add deserializing factories for StateCourtCase, StateEarlyDischarge, and StateIncarcerationIncident (recidiviz/recidiviz-data#9008)
  recidiviz/persistence/entity/state/deserialize_entity_factories.py
  recidiviz/persistence/ingest_info_converter/state/entity_helpers/state_court_case.py
  recidiviz/persistence/ingest_info_converter/state/entity_helpers/state_early_discharge.py
  recidiviz/persistence/ingest_info_converter/state/entity_helpers/state_incarceration_incident.py
  recidiviz/persistence/ingest_info_converter/state/state_converter.py
  recidiviz/tests/persistence/ingest_info_converter/state/entity_helpers/state_court_case_test.py
  recidiviz/tests/persistence/ingest_info_converter/state/entity_helpers/state_early_discharge_test.py
  recidiviz/tests/persistence/ingest_info_converter/state/entity_helpers/state_incarceration_incident_test.py
Due: generate_docs_for_endpoint

adding comment for the primary key to documentation (recidiviz/recidiviz-data#9051)
  recidiviz/ingest/direct/regions/us_pa/raw_data/us_pa_dbo_PRS_FACT_PAROLEE_CNTC_SUMRY.yaml
Due: generate_docs_for_region, generate_docs_for_endpoint

[Schema Cleanup] Deprecate `revocation_type` on StateSupervisionViolationResponseDecisionEntry US_PA (recidiviz/recidiviz-data#9029)
  recidiviz/ingest/direct/regions/us_pa/us_pa_controller.py
  recidiviz/ingest/direct/regions/us_pa/us_pa_enum_helpers.py
  recidiviz/persistence/database/migrations/state/versions/2021_08_30_2050_4a79adec6c93_drop_revocation_type_entry_us_pa.py
  recidiviz/persistence/entity/state/entities.py
  recidiviz/tests/calculator/pipeline/utils/state_utils/us_pa/us_pa_incarceration_period_pre_processing_delegate_test.py
  recidiviz/tests/ingest/direct/regions/us_pa/us_pa_controller_test.py
Due: generate_docs_for_region, generate_docs_for_endpoint

[Schema Cleanup] Final deletion of `revocation_type` and `StateSupervisionViolationResponseRevocationType` (recidiviz/recidiviz-data#9031)
  recidiviz/common/constants/state/enum_canonical_strings.py
  recidiviz/common/constants/state/state_incarceration_period.py
  recidiviz/common/constants/state/state_supervision_violation_response.py
  recidiviz/ingest/models/ingest_info.proto
  recidiviz/ingest/models/ingest_info.py
  recidiviz/ingest/models/ingest_info_pb2.py
  recidiviz/ingest/models/ingest_info_pb2.pyi
  recidiviz/persistence/database/migrations/state/versions/2021_08_30_2056_f309c2067b6c_drop_revocation_type.py
  recidiviz/persistence/database/schema/state/schema.py
  recidiviz/persistence/entity/state/entities.py
  recidiviz/persistence/entity_matching/state/state_violation_matching_utils.py
  recidiviz/persistence/ingest_info_converter/state/entity_helpers/state_supervision_violation_response_decision_entry.py
  recidiviz/tests/persistence/database/database_test_utils.py
  recidiviz/tests/persistence/database/schema/state/schema_test.py
  recidiviz/tests/persistence/entity_matching/state/state_entity_matcher_test.py
  recidiviz/tests/persistence/entity_matching/state/state_violation_matching_utils_test.py
  recidiviz/tests/persistence/ingest_info_converter/state/state_converter_test.py
Due: generate_docs_for_endpoint, generate_entity_documentation

Updates ingest mappings for US_MO assessment data to match an unexpected API update from the state. (recidiviz/recidiviz-data#9084)
  recidiviz/ingest/direct/regions/us_mo/raw_data/us_mo_FOCTEST_ORAS_ASSESSMENTS_WEEKLY.yaml
  recidiviz/ingest/direct/regions/us_mo/us_mo_oras_assessments_weekly.yaml
  recidiviz/tests/ingest/direct/direct_ingest_fixtures/us_mo/oras_assessments_weekly.csv
Due: generate_docs_for_region, generate_docs_for_endpoint

Fix purge script handling of alpha tags (recidiviz/recidiviz-data#9091)
  recidiviz/tools/migrations/purge_state_db.py
Due: generate_docs_for_endpoint

[Data Quality] add second validation threshold (recidiviz/recidiviz-data#8932)
  recidiviz/admin_panel/validation_metadata_store.py
  recidiviz/tests/admin_panel/validation_metadata_store_test.py
  recidiviz/tests/validation/checks/existence_check_test.py
  recidiviz/tests/validation/checks/sameness_check_test.py
  recidiviz/tests/validation/fixtures/us_xx_validation_config_complex.yaml
  recidiviz/tests/validation/fixtures/us_xx_validation_config_override_is_not_float.yaml
  recidiviz/tests/validation/fixtures/us_xx_validation_config_reused_overrides.yaml
  recidiviz/tests/validation/validation_config_test.py
  recidiviz/tests/validation/validation_manager_test.py
  recidiviz/tests/validation/validation_result_storage_test.py
  recidiviz/validation/checks/existence_check.py
  recidiviz/validation/checks/sameness_check.py
  recidiviz/validation/config/regions/us_id/us_id_validation_config.yaml
  recidiviz/validation/config/regions/us_mo/us_mo_validation_config.yaml
  recidiviz/validation/config/regions/us_nd/us_nd_validation_config.yaml
  recidiviz/validation/config/regions/us_pa/us_pa_validation_config.yaml
  recidiviz/validation/configured_validations.py
  recidiviz/validation/validation_config.py
  recidiviz/validation/validation_manager.py
  recidiviz/validation/validation_models.py
  recidiviz/validation/validation_result_storage.py
Due: generate_docs_for_endpoint

[Ingest mappings] Add deserializing factories for StateProgramAssignment, StateIncarcerationSentence, and StateIncarcerationIncidentOutcome (recidiviz/recidiviz-data#9011)
  recidiviz/persistence/entity/state/deserialize_entity_factories.py
  recidiviz/persistence/ingest_info_converter/state/entity_helpers/state_incarceration_incident_outcome.py
  recidiviz/persistence/ingest_info_converter/state/entity_helpers/state_incarceration_sentence.py
  recidiviz/persistence/ingest_info_converter/state/entity_helpers/state_program_assignment.py
  recidiviz/persistence/ingest_info_converter/state/state_converter.py
  recidiviz/tests/persistence/ingest_info_converter/state/entity_helpers/state_incarceration_incident_outcome_test.py
  recidiviz/tests/persistence/ingest_info_converter/state/entity_helpers/state_incarceration_sentence_test.py
  recidiviz/tests/persistence/ingest_info_converter/state/entity_helpers/state_program_assignment_test.py
Due: generate_docs_for_endpoint

[DB Checklist] Add two more required steps (recidiviz/recidiviz-data#9087)
  frontends/admin-panel/src/components/FlashDatabaseChecklist.tsx
  recidiviz/tools/deploy/deploy_helpers.sh
  recidiviz/tools/deploy/trigger_historical_data_refresh.sh
Due: generate_docs_for_endpoint

Rename a few of enum-related types for clarity [skip validation ingest_docs] (recidiviz/recidiviz-data#9036)
  recidiviz/common/constants/entity_enum.py
  recidiviz/common/constants/enum_overrides.py
  recidiviz/common/constants/standard_enum_overrides.py
  recidiviz/ingest/direct/direct_ingest_controller_utils.py
  recidiviz/ingest/direct/regions/us_id/us_id_controller.py
  recidiviz/ingest/direct/regions/us_mi/us_mi_controller.py
  recidiviz/ingest/direct/regions/us_mo/us_mo_controller.py
  recidiviz/ingest/direct/regions/us_nd/us_nd_enum_helpers.py
  recidiviz/ingest/direct/regions/us_pa/us_pa_controller.py
  recidiviz/ingest/direct/regions/us_tn/us_tn_controller.py
  recidiviz/ingest/direct/regions/us_tn/us_tn_enum_helpers.py
  recidiviz/ingest/direct/regions/us_tx_brazos/us_tx_brazos_controller.py
  recidiviz/ingest/direct/templates/us_xx/us_xx_controller.py
  recidiviz/persistence/ingest_info_converter/county/entity_helpers/bond.py
  recidiviz/persistence/ingest_info_converter/county/entity_helpers/booking.py
  recidiviz/persistence/ingest_info_converter/county/entity_helpers/charge.py
  recidiviz/persistence/ingest_info_converter/county/entity_helpers/hold.py
  recidiviz/persistence/ingest_info_converter/county/entity_helpers/person.py
  recidiviz/persistence/ingest_info_converter/county/entity_helpers/sentence.py
  recidiviz/persistence/ingest_info_converter/state/entity_helpers/state_bond.py
  recidiviz/persistence/ingest_info_converter/state/entity_helpers/state_fine.py
  recidiviz/persistence/ingest_info_converter/state/entity_helpers/state_incarceration_period.py
  recidiviz/persistence/ingest_info_converter/state/entity_helpers/state_parole_decision.py
  recidiviz/persistence/ingest_info_converter/state/entity_helpers/state_supervision_case_type_entry.py
  recidiviz/persistence/ingest_info_converter/state/entity_helpers/state_supervision_contact.py
  recidiviz/persistence/ingest_info_converter/state/entity_helpers/state_supervision_period.py
  recidiviz/persistence/ingest_info_converter/state/entity_helpers/state_supervision_sentence.py
  recidiviz/persistence/ingest_info_converter/state/entity_helpers/state_supervision_violation.py
  recidiviz/persistence/ingest_info_converter/state/entity_helpers/state_supervision_violation_response.py
  recidiviz/persistence/ingest_info_converter/state/entity_helpers/state_supervision_violation_response_decision_entry.py
  recidiviz/persistence/ingest_info_converter/state/entity_helpers/state_supervision_violation_type_entry.py
  recidiviz/persistence/ingest_info_converter/utils/ingest_info_proto_enum_mapper.py
  recidiviz/tests/common/constants/entity_enum_test.py
  recidiviz/tests/common/constants/enum_overrides_test.py
  recidiviz/tests/ingest/direct/regions/us_id/us_id_enum_helpers_test.py
  recidiviz/tests/ingest/direct/regions/us_pa/us_pa_enum_helpers_test.py
  recidiviz/tests/persistence/ingest_info_converter/utils/ingest_info_proto_enum_mapper_test.py
Due: generate_docs_for_region, generate_docs_for_endpoint
