Repository Recidiviz/pulse-data: changes, and which pre-commit hooks are due for each by the changed paths.
All: generate_docs_for_region, generate_docs_for_endpoint, generate_entity_documentation

generate_docs_for_region:
  name: generate_docs_for_region
  entry: pipenv run python -m recidiviz.tools.docs.region_documentation_generator
  language: system
  require_serial: true

generate_docs_for_endpoint:
  name: generate_docs_for_endpoint
  entry: pipenv run python -m recidiviz.tools.docs.endpoint_documentation_generator
  language: system
  require_serial: true

generate_entity_documentation:
  name: generate_entity_documentation
  entry: pipenv run python -m recidiviz.tools.docs.entity_documentation_generator
  language: system
  require_serial: true

[US_ME] WR completion event builder (Recidiviz/recidiviz-data#23347)
  recidiviz/task_eligibility/completion_events/state_specific/us_me/granted_furlough.py
  recidiviz/task_eligibility/completion_events/state_specific/us_me/granted_work_release.py
  recidiviz/task_eligibility/eligibility_spans/us_me/furlough_release_form.py
  recidiviz/task_eligibility/eligibility_spans/us_me/work_release_form.py
  recidiviz/task_eligibility/task_completion_event_big_query_view_builder.py
Due: generate_docs_for_endpoint

[US_IX] Additional details for CRC/XCRC TES (Recidiviz/recidiviz-data#23552)
  recidiviz/calculator/query/state/views/workflows/firestore/opportunity_record_query_fragments.py
  recidiviz/calculator/query/state/views/workflows/firestore/us_ix_transfer_to_crc_resident_worker_request_record.py
  recidiviz/calculator/query/state/views/workflows/firestore/us_ix_transfer_to_crc_work_release_request_record.py
  recidiviz/calculator/query/state/views/workflows/firestore/us_ix_transfer_to_xcrc_request_record.py
  recidiviz/task_eligibility/criteria/state_specific/us_ix/crc_resident_worker_time_based_criteria.py
  recidiviz/task_eligibility/criteria/state_specific/us_ix/crc_work_release_time_based_criteria.py
  recidiviz/task_eligibility/criteria/state_specific/us_ix/incarceration_within_18_months_of_eprd_and_15_years_of_ftcd.py
  recidiviz/task_eligibility/criteria/state_specific/us_ix/incarceration_within_18_months_of_ftcd_or_tpd.py
  recidiviz/task_eligibility/criteria/state_specific/us_ix/incarceration_within_1_year_of_tpd_and_life_sentence.py
  recidiviz/task_eligibility/criteria/state_specific/us_ix/incarceration_within_3_years_of_tpd_and_life_sentence.py
  recidiviz/task_eligibility/criteria/state_specific/us_ix/incarceration_within_7_years_of_ftcd_or_tpd.py
  recidiviz/task_eligibility/criteria/state_specific/us_ix/incarceration_within_7_years_of_ped_and_phd_and_20_years_of_ftcd.py
  recidiviz/task_eligibility/criteria/state_specific/us_ix/no_absconsion_escape_and_eluding_police_offenses_within_10_years.py
  recidiviz/task_eligibility/criteria/state_specific/us_ix/tentative_parole_date_within_3_years.py
  recidiviz/task_eligibility/eligibility_spans/us_ix/transfer_to_crc_resident_worker_request.py
  recidiviz/task_eligibility/eligibility_spans/us_ix/transfer_to_crc_work_release_request.py
  recidiviz/task_eligibility/eligibility_spans/us_ix/transfer_to_xcrc_request.py
  recidiviz/task_eligibility/utils/us_ix_query_fragments.py
Due: generate_docs_for_endpoint

[US_OR] Adding supervision pipelines (Recidiviz/recidiviz-data#23640)
  recidiviz/pipelines/calculation_pipeline_templates.yaml
Due: generate_docs_for_endpoint

[Workflows] lowercase staff emails in CA (Recidiviz/recidiviz-data#23702)
  recidiviz/calculator/query/state/views/workflows/us_ca/supervision_staff_template.py
  recidiviz/tests/workflows/etl/fixtures/staff_record.json
  recidiviz/workflows/etl/workflows_staff_etl_delegate.py
Due: generate_docs_for_endpoint

[US_MI] Set always_historical to False for employee table (Recidiviz/recidiviz-data#23697)
  recidiviz/ingest/direct/regions/us_mi/raw_data/us_mi_ADH_EMPLOYEE.yaml
Due: generate_docs_for_region, generate_docs_for_endpoint

[US_MI][Workflows] Add recommended supervision level to metadata (Recidiviz/recidiviz-data#23647)
  recidiviz/calculator/query/state/views/workflows/firestore/us_mi_complete_classification_review_form_record.py
Due: generate_docs_for_endpoint

[Justice Counts] Move New Mexico Courts jobs to justice_counts directory (Recidiviz/recidiviz-data#23703)
  recidiviz/justice_counts/jobs/new_mexico_dataxchange.py
  recidiviz/justice_counts/jobs/new_mexico_dataxchange_historical.py
Due: generate_docs_for_endpoint

[US_TN] Adding datetime to sort for same day groupings in InferredViolations (Recidiviz/recidiviz-data#23713)
  recidiviz/ingest/direct/regions/us_tn/ingest_views/view_InferredViolations.py
Due: generate_docs_for_region, generate_docs_for_endpoint

[US_ME] Quick fix to furlough completion event builder (Recidiviz/recidiviz-data#23717)
  recidiviz/task_eligibility/completion_events/state_specific/us_me/granted_furlough.py
Due: generate_docs_for_endpoint

[Autogenerated] Update Pipfile.lock (Recidiviz/recidiviz-data#23725)
  Pipfile.lock
Due: none

[Airflow] Filter out empty `dag_run.conf` parameters (Recidiviz/recidiviz-data#23723)
  recidiviz/airflow/dags/calculation/initialize_calculation_dag_group.py
  recidiviz/airflow/tests/calculation_dag_test.py
Due: generate_docs_for_endpoint

[Justice Counts] BE for custom single page templates (Recidiviz/recidiviz-data#23606)
  recidiviz/justice_counts/bulk_upload/template_generator.py
  recidiviz/justice_counts/control_panel/routes/api.py
  recidiviz/tests/justice_counts/spreadsheet_test.py
  recidiviz/tools/justice_counts/control_panel/create_single_page_upload_template.py
Due: generate_docs_for_endpoint

[Dataflow] Enable dynamic thread scaling (Recidiviz/recidiviz-data#22916)
  recidiviz/pipelines/pipeline_parameters.py
Due: generate_docs_for_endpoint

[Tools] Remove `--project-id` option from `autogenerate_migration` (Recidiviz/recidiviz-data#23734)
  recidiviz/tools/migrations/autogenerate_migration.py
Due: generate_docs_for_endpoint

[deploy] Do not fail if non-infra tags point to current branch (Recidiviz/recidiviz-data#23739)
  recidiviz/tools/script_base.sh
Due: generate_docs_for_endpoint

[US_IX] fix meets_criteria_default (Recidiviz/recidiviz-data#23741)
  recidiviz/task_eligibility/criteria/state_specific/us_ix/no_absconsion_escape_and_eluding_police_offenses_within_10_years.py
Due: generate_docs_for_endpoint

[US_CA] Employment criteria fix (Recidiviz/recidiviz-data#23744)
  recidiviz/task_eligibility/criteria/general/has_employment.py
Due: generate_docs_for_endpoint

[US_TN] Editing external ID for inferred violations (Recidiviz/recidiviz-data#23742)
  recidiviz/ingest/direct/regions/us_tn/ingest_mappings/us_tn_InferredViolations.yaml
Due: generate_docs_for_region, generate_docs_for_endpoint

[US_TN] Pull existing opportunity record into query fragment to reuse for Annual and CLD (Recidiviz/recidiviz-data#23623)
  recidiviz/calculator/query/state/views/workflows/firestore/firestore_views.py
  recidiviz/calculator/query/state/views/workflows/firestore/us_tn_annual_reclassification_review_record.py
  recidiviz/task_eligibility/utils/us_tn_query_fragments.py
Due: generate_docs_for_endpoint

Added TES utils to recidiviz-data (Recidiviz/recidiviz-data#23659)
  recidiviz/calculator/query/state/views/workflows/firestore/us_ix_transfer_to_crc_resident_worker_request_record.py
  recidiviz/calculator/query/state/views/workflows/firestore/us_ix_transfer_to_crc_work_release_request_record.py
  recidiviz/calculator/query/state/views/workflows/firestore/us_ix_transfer_to_xcrc_request_record.py
  recidiviz/tools/analyst/tes_utils.py
Due: generate_docs_for_endpoint

tes_utils: Additional comments to code and better docstring explanations (Recidiviz/recidiviz-data#23752)
  recidiviz/tools/analyst/tes_utils.py
Due: generate_docs_for_endpoint

[Airflow] Add regional dataset creation to `run_state_specific_calculation_dag.py` (Recidiviz/recidiviz-data#23284)
  recidiviz/persistence/database/bq_refresh/big_query_table_manager.py
  recidiviz/pipelines/dataflow_output_table_manager.py
  recidiviz/tests/pipelines/dataflow_output_table_manager_test.py
  recidiviz/tools/calculator/create_or_update_dataflow_sandbox.py
  recidiviz/tools/deploy/update_big_query_table_schemas.py
  recidiviz/tools/run_state_specific_calculation_dag.py
Due: generate_docs_for_endpoint

[Justice Counts] bug fix for records not being sent to FE for supervision subsystem data (Recidiviz/recidiviz-data#23644)
  recidiviz/justice_counts/spreadsheet.py
  recidiviz/tests/justice_counts/spreadsheet_test.py
Due: generate_docs_for_endpoint

[Justice Counts] Bulk Upload Updated Reports fix (Recidiviz/recidiviz-data#23715)
  recidiviz/justice_counts/bulk_upload/workbook_uploader.py
Due: generate_docs_for_endpoint

[US_IX] Fix bug that's opening a bunch of bad IPs (Recidiviz/recidiviz-data#23753)
  recidiviz/ingest/direct/regions/us_ix/ingest_views/view_incarceration_period.py
Due: generate_docs_for_region, generate_docs_for_endpoint

Adds support for non-person-level event/span objects (Recidiviz/recidiviz-data#23567)
  recidiviz/aggregated_metrics/models/aggregated_metric.py
  recidiviz/aggregated_metrics/models/aggregated_metric_configurations.py
  recidiviz/calculator/query/state/views/analyst_data/analyst_data_views.py
  recidiviz/calculator/query/state/views/analyst_data/models/analyst_data_view_collector.py
  recidiviz/calculator/query/state/views/analyst_data/models/event_query_builder.py
  recidiviz/calculator/query/state/views/analyst_data/models/event_type.py
  recidiviz/calculator/query/state/views/analyst_data/models/events.py
  recidiviz/calculator/query/state/views/analyst_data/models/metric_population_type.py
  recidiviz/calculator/query/state/views/analyst_data/models/span_query_builder.py
  recidiviz/calculator/query/state/views/analyst_data/models/span_type.py
  recidiviz/calculator/query/state/views/analyst_data/models/spans.py
  recidiviz/tests/aggregated_metrics/aggregated_metric_configurations_test.py
  recidiviz/tests/aggregated_metrics/metric_population_type_test.py
  recidiviz/tests/calculator/query/state/views/analyst_data/analyst_data_view_collector_test.py
  recidiviz/tests/calculator/query/state/views/analyst_data/event_query_builder_test.py
  recidiviz/tests/calculator/query/state/views/analyst_data/span_query_builder_test.py
Due: generate_docs_for_endpoint

Refactors `officer_events` to use generalized EventType (Recidiviz/recidiviz-data#23662)
  recidiviz/calculator/query/state/views/analyst_data/analyst_data_views.py
  recidiviz/calculator/query/state/views/analyst_data/models/event_type.py
  recidiviz/calculator/query/state/views/analyst_data/models/events.py
  recidiviz/calculator/query/state/views/analyst_data/officer_events.py
  recidiviz/calculator/query/state/views/analyst_data/workflows_officer_events.py
  recidiviz/calculator/query/state/views/workflows/workflows_usage.py
Due: generate_docs_for_endpoint

Update rerun template (Recidiviz/recidiviz-data#23760)
  .github/ISSUE_TEMPLATE/ingest_rerun.md
Due: none

[US_TN] Editing newly named columns in OffenderTreatment (Recidiviz/recidiviz-data#23762)
  recidiviz/ingest/direct/regions/us_tn/raw_data/us_tn_OffenderTreatment.yaml
Due: generate_docs_for_region, generate_docs_for_endpoint

[Justice Counts] Add all CSG users to older agencies (Recidiviz/recidiviz-data#23622)
  recidiviz/admin_panel/routes/justice_counts_tools.py
  recidiviz/justice_counts/user_account.py
  recidiviz/tools/justice_counts/add_csg_older_agencies.py
Due: generate_docs_for_endpoint

[US_IX] Add criteria name to intermediate criteria (Recidiviz/recidiviz-data#23770)
  recidiviz/task_eligibility/criteria/state_specific/us_ix/crc_resident_worker_time_based_criteria.py
  recidiviz/task_eligibility/criteria/state_specific/us_ix/crc_work_release_time_based_criteria.py
  recidiviz/task_eligibility/criteria/state_specific/us_ix/incarceration_within_18_months_of_eprd_and_15_years_of_ftcd.py
  recidiviz/task_eligibility/criteria/state_specific/us_ix/incarceration_within_18_months_of_ftcd_or_tpd.py
  recidiviz/task_eligibility/criteria/state_specific/us_ix/incarceration_within_1_year_of_tpd_and_life_sentence.py
  recidiviz/task_eligibility/criteria/state_specific/us_ix/incarceration_within_3_years_of_tpd_and_life_sentence.py
  recidiviz/task_eligibility/criteria/state_specific/us_ix/incarceration_within_7_years_of_ftcd_or_tpd.py
  recidiviz/task_eligibility/criteria/state_specific/us_ix/incarceration_within_7_years_of_ped_and_phd_and_20_years_of_ftcd.py
Due: generate_docs_for_endpoint

[Monitoring] Add GCP Uptime Checks for end-user sites (Recidiviz/recidiviz-data#23768)
  recidiviz/case_triage/server.py
  recidiviz/server.py
  recidiviz/tools/deploy/terraform/uptime-checks.tf
Due: generate_docs_for_endpoint

[Airflow] Tweak K8s CPU resources, bump pod timeout (Recidiviz/recidiviz-data#23769)
  recidiviz/airflow/dags/operators/recidiviz_kubernetes_pod_operator.py
  recidiviz/airflow/dags/operators/recidiviz_kubernetes_resources.yaml
  recidiviz/airflow/tests/operators/entrypoints_resources_test.py
Due: generate_docs_for_endpoint

[Direct Ingest] Return 409 when a raw data import lock is encountered (Recidiviz/recidiviz-data#23735)
  recidiviz/ingest/direct/direct_ingest_control.py
  recidiviz/tests/ingest/direct/direct_ingest_control_test.py
Due: generate_docs_for_endpoint

[US_IX] Add custom parser to hydrate `is_sex_offense` for charges (Recidiviz/recidiviz-data#23775)
  recidiviz/ingest/direct/regions/us_ix/ingest_mappings/us_ix_charges.yaml
  recidiviz/ingest/direct/regions/us_ix/us_ix_custom_parsers.py
  recidiviz/persistence/database/migrations/state/versions/2023_09_06_1549_0b6c094c5447_add_sex_offense_parser.py
  recidiviz/task_eligibility/eligibility_spans/us_ix/transfer_to_crc_resident_worker_request.py
  recidiviz/task_eligibility/eligibility_spans/us_ix/transfer_to_crc_work_release_request.py
  recidiviz/task_eligibility/eligibility_spans/us_ix/transfer_to_xcrc_request.py
Due: generate_docs_for_region, generate_docs_for_endpoint

[US_TN] Classification bug fixes (Recidiviz/recidiviz-data#23755)
  recidiviz/calculator/query/state/views/workflows/firestore/us_tn_annual_reclassification_review_record.py
  recidiviz/task_eligibility/utils/us_tn_query_fragments.py
Due: generate_docs_for_endpoint

[US_TN] Surface people for annual reclass 1 week before the month where their annual reclass is due (Recidiviz/recidiviz-data#23757)
  recidiviz/task_eligibility/utils/us_tn_query_fragments.py
Due: generate_docs_for_endpoint

[US_IX] Fix state staff supervisor ingest to still grab employee info even if the employee is now inactive (Recidiviz/recidiviz-data#23761)
  recidiviz/ingest/direct/regions/us_ix/ingest_views/query_fragments.py
Due: generate_docs_for_region, generate_docs_for_endpoint

[App Engine] Use `gthread` worker instead of `gevent` (Recidiviz/recidiviz-data#23747)
  Dockerfile
  gunicorn.gthread.conf.py
Due: none

[US_IX] Ingest officer role periods during supervisor periods ingest (Recidiviz/recidiviz-data#23767)
  recidiviz/calculator/query/state/views/outliers/supervision_officer_supervisors.py
  recidiviz/calculator/query/state/views/outliers/supervision_officers.py
  recidiviz/calculator/query/state/views/reference/reference_views.py
  recidiviz/calculator/query/state/views/reference/us_ix_dual_supervisors_officers.py
  recidiviz/calculator/query/state/views/reference/us_ix_leadership_supervisors.py
  recidiviz/ingest/direct/regions/us_ix/ingest_mappings/us_ix_state_staff_supervisor_periods.yaml
Due: generate_docs_for_region, generate_docs_for_endpoint

Path conditions:
  generate_docs_for_region: any of: ^recidiviz/ingest/direct/regions/
  generate_docs_for_endpoint: any of: ^recidiviz/, but not: (?x)(^recidiviz/tests/|^recidiviz/tools/|^recidiviz/ingest/direct/regions/)$

  generate_entity_documentation: any of: (?x)(^recidiviz/persistence/database/schema/state/schema.py|^recidiviz/persistence/database/schema/history_table_shared_columns_mixin.py)$

