Repository Recidiviz/pulse-data: changes, and which pre-commit hooks are due for each by the changed paths.
All: generate_docs_for_region, generate_docs_for_endpoint, generate_entity_documentation

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.3.0
    hooks:
      - id: check-yaml
  - repo: https://github.com/psf/black
    rev: 20.8b1
    hooks:
      - id: black
        language_version: python3
  - repo: local
    hooks:
      - id: generate_docs_for_region
        name: generate_docs_for_region
        entry: pipenv run python -m recidiviz.tools.docs.region_documentation_generator
        language: system
        files: ^recidiviz/ingest/direct/regions/
        require_serial: true
      - id: generate_docs_for_endpoint
        name: generate_docs_for_endpoint
        entry: pipenv run python -m recidiviz.tools.docs.endpoint_documentation_generator
        language: system
        files: ^recidiviz/
        exclude: >
          (?x)(^recidiviz/tests/|^recidiviz/tools/|^recidiviz/ingest/direct/regions/)$
        require_serial: true
      - id: generate_entity_documentation
        name: generate_entity_documentation
        entry: pipenv run python -m recidiviz.tools.docs.entity_documentation_generator
        language: system
        files: >
           (?x)(^recidiviz/persistence/database/schema/state/schema.py|^recidiviz/persistence/database/schema/history_table_shared_columns_mixin.py)$
        require_serial: true

[Justice Counts] remove N/A from backend (Recidiviz/recidiviz-data#17837)
  recidiviz/justice_counts/datapoints_for_metric.py
  recidiviz/justice_counts/metrics/metric_definition.py
  recidiviz/justice_counts/metrics/metric_disaggregation_data.py
  recidiviz/justice_counts/metrics/metric_interface.py
  recidiviz/tests/justice_counts/control_panel/server_test.py
  recidiviz/tests/justice_counts/datapoint_test.py
  recidiviz/tests/justice_counts/metric_interface_test.py
  recidiviz/tests/justice_counts/utils.py
Due: generate_docs_for_endpoint

[US_MI] Add new raw data configs (Recidiviz/recidiviz-data#17912)
  recidiviz/ingest/direct/regions/us_mi/raw_data/us_mi_ADH_COS_FEE_TYPE.yaml
  recidiviz/ingest/direct/regions/us_mi/raw_data/us_mi_ADH_FEE_PROFILE_NOTES.yaml
  recidiviz/ingest/direct/regions/us_mi/raw_data/us_mi_ADH_FEE_PROFILE_NOTES_DETAIL_NOTES.yaml
  recidiviz/ingest/direct/regions/us_mi/raw_data/us_mi_ADH_OFFENDER_EMPLOYMENT.yaml
  recidiviz/ingest/direct/regions/us_mi/raw_data/us_mi_ADH_OFFENDER_FEE_PROFILE.yaml
  recidiviz/ingest/direct/regions/us_mi/raw_data/us_mi_ADH_SENTENCE_FEE.yaml
Due: generate_docs_for_region, generate_docs_for_endpoint

[US_PA] Adding dbo_Parolee yaml file (Recidiviz/recidiviz-data#17950)
  recidiviz/ingest/direct/regions/us_pa/raw_data/us_pa_dbo_Parolee.yaml
Due: generate_docs_for_region, generate_docs_for_endpoint

[Workflows] Replace US_IX with US_ID when transforming ineligible criteria (Recidiviz/recidiviz-data#17823)
  recidiviz/tests/workflows/etl/workflows_opportunity_etl_delegate_test.py
  recidiviz/workflows/etl/workflows_opportunity_etl_delegate.py
Due: generate_docs_for_endpoint

[Workflows] add expiration opportunity to client record and ETL (Recidiviz/recidiviz-data#17881)
  recidiviz/calculator/query/state/views/workflows/us_tn/supervision_clients_template.py
  recidiviz/workflows/etl/workflows_opportunity_etl_delegate.py
Due: generate_docs_for_endpoint

[US_CO] Incident tables (Recidiviz/recidiviz-data#17928)
  recidiviz/ingest/direct/regions/us_co/raw_data/us_co_informix_disp_action_cod.yaml
  recidiviz/ingest/direct/regions/us_co/raw_data/us_co_informix_dispcrim.yaml
  recidiviz/ingest/direct/regions/us_co/raw_data/us_co_informix_displnry.yaml
  recidiviz/ingest/direct/regions/us_co/raw_data/us_co_informix_dispsanc.yaml
  recidiviz/ingest/direct/regions/us_co/raw_data/us_co_informix_incarcer.yaml
  recidiviz/ingest/direct/regions/us_co/raw_data/us_co_informix_incident_cod.yaml
  recidiviz/ingest/direct/regions/us_co/raw_data/us_co_informix_incident_type.yaml
  recidiviz/ingest/direct/regions/us_co/raw_data/us_co_informix_intrac_inc_loc.yaml
  recidiviz/ingest/direct/regions/us_co/raw_data/us_co_informix_intrac_inc_type.yaml
  recidiviz/ingest/direct/regions/us_co/raw_data/us_co_informix_intrac_incidents.yaml
  recidiviz/ingest/direct/regions/us_co/raw_data/us_co_informix_intrac_offender.yaml
  recidiviz/ingest/direct/regions/us_co/raw_data/us_co_informix_intrac_reports.yaml
  recidiviz/ingest/direct/regions/us_co/raw_data/us_co_informix_offstat.yaml
  recidiviz/ingest/direct/regions/us_co/raw_data/us_co_informix_penlcrim.yaml
  recidiviz/ingest/direct/regions/us_co/raw_data/us_co_informix_ri.yaml
  recidiviz/ingest/direct/regions/us_co/raw_data/us_co_informix_sanction.yaml
  recidiviz/ingest/direct/regions/us_co/raw_data/us_co_informix_userinfo.yaml
  recidiviz/ingest/direct/regions/us_co/raw_data/us_co_local_fin_judgement.yaml
Due: generate_docs_for_region, generate_docs_for_endpoint

[Cleanup] Delete unused code in state_shared_row_posthooks.py (Recidiviz/recidiviz-data#17730)
  recidiviz/common/str_field_utils.py
  recidiviz/ingest/direct/legacy_ingest_mappings/legacy_ingest_view_processor.py
  recidiviz/ingest/direct/legacy_ingest_mappings/state_shared_row_posthooks.py
  recidiviz/ingest/direct/regions/us_id/us_id_controller.py
  recidiviz/ingest/direct/regions/us_mo/us_mo_custom_parsers.py
  recidiviz/ingest/direct/regions/us_nd/us_nd_custom_parsers.py
  recidiviz/tests/common/str_field_utils_test.py
Due: generate_docs_for_region, generate_docs_for_endpoint

[Backend] Allow agency admins to create reports (Recidiviz/recidiviz-data#17879)
  recidiviz/justice_counts/control_panel/routes/api.py
Due: generate_docs_for_endpoint

[US_ME] Add Email_Tx description to CIS_900_EMPLOYEE.yaml (Recidiviz/recidiviz-data#17918)
  recidiviz/ingest/direct/regions/us_me/raw_data/us_me_CIS_900_EMPLOYEE.yaml
Due: generate_docs_for_region, generate_docs_for_endpoint

[US_CO] Adding another incident related table and filling in PK (Recidiviz/recidiviz-data#17958)
  recidiviz/ingest/direct/regions/us_co/raw_data/us_co_informix_facility.yaml
  recidiviz/ingest/direct/regions/us_co/raw_data/us_co_informix_incident_type.yaml
  recidiviz/ingest/direct/regions/us_co/raw_data/us_co_informix_intrac_inc_loc.yaml
  recidiviz/ingest/direct/regions/us_co/raw_data/us_co_informix_intrac_inc_type.yaml
  recidiviz/ingest/direct/regions/us_co/raw_data/us_co_informix_intrac_incidents.yaml
  recidiviz/ingest/direct/regions/us_co/raw_data/us_co_local_fin_judgement.yaml
Due: generate_docs_for_region, generate_docs_for_endpoint

[Cleanup] Delete legacy constants from JAILS schema (Recidiviz/recidiviz-data#17956)
  recidiviz/calculator/query/state/views/dashboard/pathways/pathways_constant_dimensions.py
  recidiviz/common/constants/aggregate/__init__.py
  recidiviz/common/constants/aggregate/enum_canonical_strings.py
  recidiviz/common/constants/county/__init__.py
  recidiviz/common/constants/county/bond.py
  recidiviz/common/constants/county/booking.py
  recidiviz/common/constants/county/charge.py
  recidiviz/common/constants/county/enum_canonical_strings.py
  recidiviz/common/constants/county/hold.py
  recidiviz/common/constants/county/person_characteristics.py
  recidiviz/common/constants/county/sentence.py
  recidiviz/justice_counts/dimensions/person.py
  recidiviz/tests/calculator/pipeline/metrics/utils/metric_utils_test.py
  recidiviz/tests/common/constants/defaulting_and_normalizing_enum_parser_test.py
  recidiviz/tests/common/constants/enum_overrides_test.py
  recidiviz/tests/common/constants/person_characteristics_test.py
  recidiviz/tests/common/constants/strict_enum_parser_test.py
  recidiviz/tests/persistence/entity/entity_deserialize_test.py
Due: generate_docs_for_endpoint

[StateStaff] Rename test helper for clarity (Recidiviz/recidiviz-data#17926)
  recidiviz/tests/persistence/database/schema/state/schema_test.py
  recidiviz/tests/persistence/database/schema/state/schema_test_utils.py
  recidiviz/tests/persistence/database_invariant_validator/state/state_invariant_validators_test.py
  recidiviz/tests/persistence/entity_matching/state/state_entity_matcher_test.py
Due: generate_docs_for_endpoint

[StateStaff] Remove StatePerson-specific logic from StateSchemaEntityConverter (Recidiviz/recidiviz-data#17951)
  recidiviz/persistence/database/schema_entity_converter/base_schema_entity_converter.py
  recidiviz/persistence/database/schema_entity_converter/operations/schema_entity_converter.py
  recidiviz/persistence/database/schema_entity_converter/state/schema_entity_converter.py
  recidiviz/tests/persistence/database/schema_entity_converter/base_schema_entity_converter_test.py
Due: generate_docs_for_endpoint

Revert "[Security] Add the `default` AE service to the load balancer" (Recidiviz/recidiviz-data#17960)
  recidiviz/tools/deploy/terraform/cloud-armor.tf
  recidiviz/tools/deploy/terraform/loadbalancer.tf
Due: generate_docs_for_endpoint

[Admin panel] Add button to reset filters in user and role tables (Recidiviz/recidiviz-data#17929)
  frontends/admin-panel/src/components/StateUserPermissions/StateRolePermissionsView.tsx
  frontends/admin-panel/src/components/StateUserPermissions/StateUserPermissionsView.tsx
Due: none

[Admin panel] add ReasonsLogButton to user and role views (Recidiviz/recidiviz-data#17935)
  frontends/admin-panel/src/components/StateUserPermissions/ReasonsLogButton.tsx
  frontends/admin-panel/src/components/StateUserPermissions/StateRolePermissionsView.tsx
  frontends/admin-panel/src/components/StateUserPermissions/StateUserPermissionsView.tsx
  frontends/admin-panel/tsconfig.json
Due: none

[Cleanup] Disable CASE_TRIAGE and COVID_DASHBOARD metric exports (Recidiviz/recidiviz-data#17954)
  recidiviz/airflow/dags/calculation_dag.py
  recidiviz/airflow/dags/utils/export_tasks_config.py
  recidiviz/metrics/export/export_config.py
  recidiviz/metrics/export/products/products.yaml
Due: generate_docs_for_endpoint

[US_IX] Fix incorrect mapping for employment verification (Recidiviz/recidiviz-data#17961)
  recidiviz/ingest/direct/regions/us_ix/ingest_mappings/us_ix_supervision_contacts.yaml
Due: generate_docs_for_region, generate_docs_for_endpoint

Adds supportsAllDrives=True flag to GoogleSlidesManager (Recidiviz/recidiviz-data#17931)
  recidiviz/tools/google_slides/slides.py
Due: generate_docs_for_endpoint

[Justice Counts] updated Supervision Funding based on final tig (Recidiviz/recidiviz-data#17952)
  recidiviz/justice_counts/dimensions/supervision.py
  recidiviz/justice_counts/includes_excludes/supervision.py
  recidiviz/justice_counts/metrics/supervision.py
Due: generate_docs_for_endpoint

[Justice Counts] updated Supervision Expenses based on final tig Recidiviz/recidiviz-data#17952 (Recidiviz/recidiviz-data#17953)
  recidiviz/justice_counts/includes_excludes/supervision.py
  recidiviz/justice_counts/metrics/supervision.py
Due: generate_docs_for_endpoint

[Deploy] Wrap deploy_views in Retry Function (Recidiviz/recidiviz-data#17787)
  recidiviz/tools/deploy/deploy_views.py
Due: generate_docs_for_endpoint

[Justice Counts] removed type of agency from dimension class name (Recidiviz/recidiviz-data#17869)
  recidiviz/justice_counts/dimensions/courts.py
  recidiviz/justice_counts/dimensions/dimension_registry.py
  recidiviz/justice_counts/dimensions/jails.py
  recidiviz/justice_counts/dimensions/law_enforcement.py
  recidiviz/justice_counts/dimensions/prisons.py
  recidiviz/justice_counts/dimensions/prosecution.py
  recidiviz/justice_counts/dimensions/supervision.py
  recidiviz/justice_counts/metricfiles/courts.py
  recidiviz/justice_counts/metricfiles/defense.py
  recidiviz/justice_counts/metricfiles/jails.py
  recidiviz/justice_counts/metricfiles/law_enforcement.py
  recidiviz/justice_counts/metricfiles/prisons.py
  recidiviz/justice_counts/metricfiles/prosecution.py
  recidiviz/justice_counts/metricfiles/supervision.py
  recidiviz/justice_counts/metrics/courts.py
  recidiviz/justice_counts/metrics/defense.py
  recidiviz/justice_counts/metrics/jails.py
  recidiviz/justice_counts/metrics/law_enforcement.py
  recidiviz/justice_counts/metrics/prisons.py
  recidiviz/justice_counts/metrics/prosecution.py
  recidiviz/justice_counts/metrics/supervision.py
  recidiviz/tests/justice_counts/control_panel/server_test.py
  recidiviz/tests/justice_counts/datapoint_test.py
  recidiviz/tests/justice_counts/metric_interface_test.py
  recidiviz/tests/justice_counts/utils.py
Due: generate_docs_for_endpoint

Update Uniqueness Constraint to be Partial in Raw File Metadata Table (Recidiviz/recidiviz-data#17821)
  recidiviz/persistence/database/migrations/case_triage/versions/2023_01_17_1559_b068757e3897_add_pk.py
  recidiviz/persistence/database/migrations/operations/versions/2023_01_12_1650_f9d5785088fc_partial_unique_constraint.py
  recidiviz/persistence/database/migrations/operations/versions/2023_01_18_1331_8ba96b9f38c7_add_status_pk.py
  recidiviz/persistence/database/schema/case_triage/schema.py
  recidiviz/persistence/database/schema/operations/schema.py
  recidiviz/tests/persistence/database/migrations_test.py
  recidiviz/tests/persistence/database/schema/operations/schema_test.py
  stubs/alembic/op.pyi
Due: generate_docs_for_endpoint

Temporarily Pause `full-us-oz-population-span-metrics` (Recidiviz/recidiviz-data#17986)
  recidiviz/calculator/pipeline/calculation_pipeline_templates.yaml
Due: generate_docs_for_endpoint

[Justice Counts] updated Supervision Caseload based on final tig (Recidiviz/recidiviz-data#17955)
  recidiviz/justice_counts/includes_excludes/supervision.py
  recidiviz/justice_counts/metricfiles/supervision.py
  recidiviz/justice_counts/metrics/metric_registry.py
  recidiviz/justice_counts/metrics/supervision.py
  recidiviz/persistence/database/migrations/justice_counts/versions/2023_01_19_1040_35a5f3e339f2_extend_metrictype_enum.py
  recidiviz/persistence/database/schema/justice_counts/schema.py
Due: generate_docs_for_endpoint

Add columns for district, office, and region name (Recidiviz/recidiviz-data#17941)
  recidiviz/calculator/query/state/views/sessions/location_sessions.py
Due: generate_docs_for_endpoint

[Justice Counts] Refactor invite user endpoint (Recidiviz/recidiviz-data#17959)
  recidiviz/auth/auth0_client.py
  recidiviz/justice_counts/control_panel/routes/api.py
  recidiviz/tests/justice_counts/control_panel/server_test.py
Due: generate_docs_for_endpoint

[US_IX][Workflows] Fix missing charge descriptions and missing almost eligible (Recidiviz/recidiviz-data#18003)
  recidiviz/calculator/query/state/views/workflows/firestore/us_ix_complete_discharge_early_from_supervision_request_record.py
  recidiviz/calculator/query/state/views/workflows/firestore/us_ix_complete_transfer_to_limited_supervision_form_record.py
Due: generate_docs_for_endpoint

Filters out far in the future task eligibility span starts (Recidiviz/recidiviz-data#18007)
  recidiviz/calculator/query/state/views/analyst_data/person_events.py
Due: generate_docs_for_endpoint

[US_IX] Prevent pipeline crashes on duplicate periods (Recidiviz/recidiviz-data#18013)
  recidiviz/calculator/pipeline/utils/entity_normalization/normalized_incarceration_period_index.py
Due: generate_docs_for_endpoint

[US_IX] Actually do not error on duplicate periods (Recidiviz/recidiviz-data#18024)
  recidiviz/calculator/pipeline/utils/entity_normalization/normalized_incarceration_period_index.py
Due: generate_docs_for_endpoint

[Justice Counts] updated Supervision New Cases based on final tig (Recidiviz/recidiviz-data#17962)
  recidiviz/justice_counts/dimensions/dimension_registry.py
  recidiviz/justice_counts/dimensions/supervision.py
  recidiviz/justice_counts/includes_excludes/offense.py
  recidiviz/justice_counts/metricfiles/supervision.py
  recidiviz/justice_counts/metrics/supervision.py
Due: generate_docs_for_endpoint

[Justice Counts] Change how supervision disaggregation works (Recidiviz/recidiviz-data#17802)
  recidiviz/justice_counts/control_panel/routes/api.py
  recidiviz/justice_counts/datapoint.py
  recidiviz/justice_counts/datapoints_for_metric.py
  recidiviz/justice_counts/metrics/metric_interface.py
  recidiviz/justice_counts/report.py
  recidiviz/tests/justice_counts/datapoint_test.py
  recidiviz/tests/justice_counts/metric_interface_test.py
  recidiviz/tests/justice_counts/report_test.py
Due: generate_docs_for_endpoint

[Justice Counts] updated Supervision Discharges based on final tig (Recidiviz/recidiviz-data#18001)
  recidiviz/justice_counts/dimensions/supervision.py
  recidiviz/justice_counts/includes_excludes/supervision.py
  recidiviz/justice_counts/metrics/supervision.py
Due: generate_docs_for_endpoint

[Justice Counts] updated Supervision Violations based on final tig (Recidiviz/recidiviz-data#18004)
  recidiviz/justice_counts/metrics/supervision.py
Due: generate_docs_for_endpoint

[Justice Counts] updated Supervision Daily Population based on final tig (Recidiviz/recidiviz-data#17998)
  recidiviz/justice_counts/dimensions/supervision.py
  recidiviz/justice_counts/includes_excludes/supervision.py
  recidiviz/justice_counts/metrics/supervision.py
Due: generate_docs_for_endpoint

[US_PA] Add GPSL enum value to supervision_violation_response (Recidiviz/recidiviz-data#18033)
  recidiviz/ingest/direct/regions/us_pa/ingest_mappings/us_pa_supervision_violation_response.yaml
Due: generate_docs_for_region, generate_docs_for_endpoint

[DAG] Reduce view materialization timeout (Recidiviz/recidiviz-data#18028)
  recidiviz/airflow/dags/calculation_dag.py
Due: generate_docs_for_endpoint
