Repository Recidiviz/pulse-data: changes, and which pre-commit hooks are due for each by the changed paths.
All: generate_docs_for_region, generate_docs_for_endpoint, generate_entity_documentation

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.3.0
    hooks:
      - id: check-yaml
  - repo: https://github.com/psf/black
    rev: 20.8b1
    hooks:
      - id: black
        language_version: python3
  - repo: local
    hooks:
      - id: generate_docs_for_region
        name: generate_docs_for_region
        entry: pipenv run python -m recidiviz.tools.docs.region_documentation_generator
        language: system
        files: ^recidiviz/ingest/direct/regions/
        require_serial: true
      - id: generate_docs_for_endpoint
        name: generate_docs_for_endpoint
        entry: pipenv run python -m recidiviz.tools.docs.endpoint_documentation_generator
        language: system
        files: ^recidiviz/
        exclude: >
          (?x)(^recidiviz/tests/|^recidiviz/tools/|^recidiviz/ingest/direct/regions/)$
        require_serial: true
      - id: generate_entity_documentation
        name: generate_entity_documentation
        entry: pipenv run python -m recidiviz.tools.docs.entity_documentation_generator
        language: system
        files: >
           (?x)(^recidiviz/persistence/database/schema/state/schema.py|^recidiviz/persistence/database/schema/history_table_shared_columns_mixin.py)$
        require_serial: true

[Pathways] group person-level metrics into one row per person (Recidiviz/recidiviz-data#13551)
  recidiviz/case_triage/pathways/metric_queries.py
  recidiviz/tests/case_triage/pathways/fixtures/prison_to_supervision_transitions.csv
  recidiviz/tests/case_triage/pathways/metrics_test.py
  recidiviz/tests/case_triage/pathways/pathways_routes_test.py
Due: generate_docs_for_endpoint

[US_MI] Ungating for production ingest (Recidiviz/recidiviz-data#13600)
  recidiviz/ingest/direct/regions/us_mi/manifest.yaml
Due: generate_docs_for_region, generate_docs_for_endpoint

[Justice Counts] Update Report Overview After Autosave (Recidiviz/recidiviz-data#13566)
  frontends/justice-counts/control-panel/src/stores/ReportStore.ts
Due: none

[Justice Counts] Add tooltip to truncated fields (Recidiviz/recidiviz-data#13564)
  frontends/justice-counts/control-panel/src/components/Forms/Form.styles.tsx
  frontends/justice-counts/control-panel/src/components/Forms/TextInput.tsx
Due: none

[US_MO] Add in new raw data tables to export with necessary yamls (Recidiviz/recidiviz-data#13082)
  recidiviz/ingest/direct/regions/us_mo/raw_data/us_mo_LBAKRDTA_TAK017.yaml
  recidiviz/ingest/direct/regions/us_mo/raw_data/us_mo_LBAKRDTA_TAK020.yaml
  recidiviz/ingest/direct/regions/us_mo/raw_data/us_mo_LBAKRDTA_TAK090.yaml
  recidiviz/ingest/direct/regions/us_mo/raw_data/us_mo_LBAKRDTA_TAK222.yaml
  recidiviz/ingest/direct/regions/us_mo/raw_data/us_mo_LBAKRDTA_TAK223.yaml
  recidiviz/ingest/direct/regions/us_mo/raw_data/us_mo_MO_CASEPLANS_DB2.yaml
  recidiviz/ingest/direct/regions/us_mo/raw_data/us_mo_MO_CASEPLAN_GOALS_DB2.yaml
  recidiviz/ingest/direct/regions/us_mo/raw_data/us_mo_MO_CASEPLAN_INFO_DB2.yaml
  recidiviz/ingest/direct/regions/us_mo/raw_data/us_mo_MO_CASEPLAN_OBJECTIVES_DB2.yaml
  recidiviz/ingest/direct/regions/us_mo/raw_data/us_mo_MO_CASEPLAN_TARGETS_DB2.yaml
  recidiviz/ingest/direct/regions/us_mo/raw_data/us_mo_MO_CASEPLAN_TECHNIQUES_DB2.yaml
  recidiviz/ingest/direct/regions/us_mo/us_mo_raw_data_sql_queries.py
Due: generate_docs_for_region, generate_docs_for_endpoint

Pin pylint at 2.14.1 (Recidiviz/recidiviz-data#13607)
  Pipfile
  Pipfile.lock
Due: none

Fetch names in `augmented_agent_info` using `agent_id` (Recidiviz/recidiviz-data#13614)
  recidiviz/calculator/query/state/views/reference/augmented_agent_info.py
Due: generate_docs_for_endpoint

[US_TN] Remapping SentencesChargesAndCourtCases to us ConvictionOffense instead of ChargeOffense for TN Charges Mappings (Recidiviz/recidiviz-data#13612)
  recidiviz/ingest/direct/regions/us_tn/ingest_mappings/us_tn_SentencesChargesAndCourtCases.yaml
  recidiviz/ingest/direct/regions/us_tn/ingest_views/view_SentencesChargesAndCourtCases.py
  recidiviz/ingest/direct/regions/us_tn/raw_data/us_tn_JOCharge.yaml
Due: generate_docs_for_region, generate_docs_for_endpoint

[US_CO] Incarceration periods ingest view (Recidiviz/recidiviz-data#13586)
  recidiviz/ingest/direct/regions/us_co/ingest_mappings/us_co_IncarcerationPeriod.yaml
  recidiviz/ingest/direct/regions/us_co/ingest_views/view_IncarcerationPeriod.py
  recidiviz/ingest/direct/regions/us_co/raw_data/us_co_eomis_externalmovement.yaml
  recidiviz/ingest/direct/regions/us_co/raw_data/us_co_eomis_organizationprof.yaml
  recidiviz/ingest/direct/regions/us_co/us_co_controller.py
  recidiviz/tests/ingest/direct/ingest_mappings/ingest_view_results_parser_test.py
Due: generate_docs_for_region, generate_docs_for_endpoint

[US_TN] Remove bad column added to JOCharge raw data YAML (Recidiviz/recidiviz-data#13618)
  recidiviz/ingest/direct/regions/us_tn/raw_data/us_tn_JOCharge.yaml
Due: generate_docs_for_region, generate_docs_for_endpoint

[US_MI] Adding more raw data field descriptions to ADH_REPORTING_STATION (Recidiviz/recidiviz-data#13593)
  recidiviz/ingest/direct/regions/us_mi/raw_data/us_mi_ADH_REPORTING_STATION.yaml
Due: generate_docs_for_region, generate_docs_for_endpoint

fix issue with pylint 2.14.2+, unpin version (Recidiviz/recidiviz-data#13613)
  .pylintrc
  Pipfile
  Pipfile.lock
Due: none

[Justice Counts] Only autosave the active metric (Recidiviz/recidiviz-data#13445)
  frontends/justice-counts/control-panel/package.json
  frontends/justice-counts/control-panel/src/components/Forms/BinaryRadioButton.tsx
  frontends/justice-counts/control-panel/src/components/Forms/TextInput.tsx
  frontends/justice-counts/control-panel/src/components/Reports/DataEntryForm.tsx
  frontends/justice-counts/control-panel/src/components/Reports/DataEntryFormComponents.tsx
  frontends/justice-counts/control-panel/src/stores/FormStore.ts
  frontends/justice-counts/control-panel/src/utils/helperUtils.ts
  frontends/justice-counts/control-panel/yarn.lock
Due: none

[Testing] Fix bug in view test regex (Recidiviz/recidiviz-data#13624)
  recidiviz/calculator/query/state/views/reference/incarceration_location_ids_to_names.py
  recidiviz/calculator/query/state/views/reference/supervision_location_ids_to_names.py
  recidiviz/calculator/query/state/views/reference/us_mo_sentence_statuses.py
  recidiviz/calculator/query/state/views/shared_metric/overdue_discharge_alert_exclusions.py
  recidiviz/tests/big_query/view_update_manager_test.py
Due: generate_docs_for_endpoint

[US_MI] Adding a housing unit metadata query to reference views (Recidiviz/recidiviz-data#13594)
  recidiviz/calculator/query/state/views/reference/reference_views.py
  recidiviz/calculator/query/state/views/reference/us_mi_housing_unit_metadata.py
Due: generate_docs_for_endpoint

[Justice Counts] API to delete a report (Recidiviz/recidiviz-data#13468)
  frontends/justice-counts/control-panel/src/stores/API.ts
  frontends/justice-counts/control-panel/src/stores/ReportStore.ts
  recidiviz/justice_counts/control_panel/routes/api.py
  recidiviz/justice_counts/report.py
  recidiviz/tests/justice_counts/report_test.py
Due: generate_docs_for_endpoint

[US_MI] Adding the ability to extract custom information for incarceration periods (Recidiviz/recidiviz-data#13623)
  recidiviz/calculator/pipeline/metrics/incarceration/pipeline.py
  recidiviz/calculator/pipeline/normalization/comprehensive/pipeline.py
  recidiviz/calculator/pipeline/utils/beam_utils/extractor_utils.py
  recidiviz/calculator/pipeline/utils/state_utils/us_mi/us_mi_incarceration_delegate.py
  recidiviz/calculator/pipeline/utils/state_utils/us_mi/us_mi_incarceration_period.py
  recidiviz/calculator/pipeline/utils/state_utils/us_mi/us_mi_incarceration_period_normalization_delegate.py
  recidiviz/tests/calculator/pipeline/utils/beam_utils/extractor_utils_test.py
Due: generate_docs_for_endpoint

[Justice Counts] Remove "report only" from CSP policy Recidiviz/recidiviz-data#13628
  recidiviz/justice_counts/control_panel/server.py
Due: generate_docs_for_endpoint

[Schema] Add StateDrugScreen to the schema (Recidiviz/recidiviz-data#13525)
  recidiviz/common/constants/state/enum_canonical_strings.py
  recidiviz/common/constants/state/state_drug_screen.py
  recidiviz/persistence/database/migrations/state/versions/2022_06_22_1628_bcaae162219f_add_drug_screen.py
  recidiviz/persistence/database/schema/state/schema.py
  recidiviz/persistence/entity/entity_utils.py
  recidiviz/persistence/entity/state/deserialize_entity_factories.py
  recidiviz/persistence/entity/state/entities.py
  recidiviz/persistence/entity_matching/state/state_matching_utils.py
  recidiviz/tests/persistence/database/schema/state/schema_test.py
  recidiviz/tests/persistence/database/schema_utils_test.py
  recidiviz/tests/persistence/entity/entity_utils_test.py
  recidiviz/tests/persistence/entity/state/deserialize_entity_factories_test.py
Due: generate_docs_for_endpoint, generate_entity_documentation

Refactor FE to only get agencies and permissions from BE (Recidiviz/recidiviz-data#13627)
  frontends/justice-counts/control-panel/src/stores/UserStore.ts
  recidiviz/admin_panel/routes/justice_counts_tools.py
  recidiviz/justice_counts/control_panel/routes/api.py
  recidiviz/justice_counts/control_panel/utils.py
  recidiviz/justice_counts/report.py
  recidiviz/justice_counts/user_account.py
  recidiviz/persistence/database/migrations/justice_counts/versions/2022_06_23_2133_124c1081c77c_remove_email_dress_from_user_account_.py
  recidiviz/persistence/database/schema/justice_counts/schema.py
  recidiviz/tests/justice_counts/control_panel/server_test.py
  recidiviz/tests/justice_counts/user_account_test.py
  recidiviz/tests/justice_counts/utils.py
  recidiviz/tools/justice_counts/control_panel/generate_fixtures.py
  recidiviz/tools/validate_source_visibility.py
Due: generate_docs_for_endpoint

[Pathways] Revert re-aggregation, favor coalesce directly in views (Recidiviz/recidiviz-data#13591)
  recidiviz/calculator/query/state/views/dashboard/pathways/event_level/prison_to_supervision_transitions.py
  recidiviz/calculator/query/state/views/dashboard/pathways/liberty_to_prison_count_by_month.py
  recidiviz/calculator/query/state/views/dashboard/pathways/liberty_to_prison_population_snapshot_by_dimension.py
  recidiviz/calculator/query/state/views/dashboard/pathways/pathways_deduped_supervision_sessions.py
  recidiviz/calculator/query/state/views/dashboard/pathways/pathways_incarceration_location_name_map.py
  recidiviz/calculator/query/state/views/dashboard/pathways/pathways_metric_big_query_view.py
  recidiviz/calculator/query/state/views/dashboard/pathways/pathways_supervision_location_name_map.py
  recidiviz/calculator/query/state/views/dashboard/pathways/prison_population_snapshot_by_dimension.py
  recidiviz/calculator/query/state/views/dashboard/pathways/prison_population_snapshot_person_level.py
  recidiviz/calculator/query/state/views/dashboard/pathways/prison_population_time_series.py
  recidiviz/calculator/query/state/views/dashboard/pathways/prison_to_supervision_count_by_month.py
  recidiviz/calculator/query/state/views/dashboard/pathways/prison_to_supervision_population_snapshot_by_dimension.py
  recidiviz/calculator/query/state/views/dashboard/pathways/prison_to_supervision_population_snapshot_person_level.py
  recidiviz/calculator/query/state/views/dashboard/pathways/supervision_population_snapshot_by_dimension.py
  recidiviz/calculator/query/state/views/dashboard/pathways/supervision_population_time_series.py
  recidiviz/calculator/query/state/views/dashboard/pathways/supervision_to_liberty_count_by_month.py
  recidiviz/calculator/query/state/views/dashboard/pathways/supervision_to_liberty_population_snapshot_by_dimension.py
  recidiviz/calculator/query/state/views/dashboard/pathways/supervision_to_prison_count_by_month.py
  recidiviz/calculator/query/state/views/dashboard/pathways/supervision_to_prison_population_snapshot_by_dimension.py
  recidiviz/calculator/query/state/views/dashboard/pathways/supervision_to_prison_population_snapshot_by_officer.py
  recidiviz/calculator/query/state/views/dashboard/pathways/transition_template.py
Due: generate_docs_for_endpoint

[Pathways][US_MI] Enable Pathways prison module for Michigan (Recidiviz/recidiviz-data#13598)
  recidiviz/calculator/query/state/state_specific_query_strings.py
  recidiviz/calculator/query/state/views/dashboard/pathways/pathways_views.py
  recidiviz/calculator/query/state/views/reference/incarceration_location_ids_to_names.py
  recidiviz/datasets/static_data/us_mi_incarceration_facility_names.csv
  recidiviz/metrics/export/products.yaml
  recidiviz/tools/deploy/terraform/.terraform.lock.hcl
  recidiviz/tools/deploy/terraform/config/pathways_enabled_states.yaml
  recidiviz/tools/deploy/terraform/reference-tables.tf
Due: generate_docs_for_endpoint

Fixing ingest issue with missing enum (Recidiviz/recidiviz-data#13635)
  recidiviz/ingest/direct/regions/us_co/ingest_mappings/us_co_IncarcerationPeriod.yaml
Due: generate_docs_for_region, generate_docs_for_endpoint

userstore fixes (Recidiviz/recidiviz-data#13630)
  frontends/justice-counts/control-panel/src/stores/UserStore.ts
Due: none

Fix `google-cloud-core` markers (Recidiviz/recidiviz-data#13642)
  Pipfile.lock
Due: none

Verify terraform version in pre-commit hook (Recidiviz/recidiviz-data#13644)
  recidiviz/tools/deploy/update_terraform_lock.sh
Due: generate_docs_for_endpoint

[TF] Remove old providers from tf lock file (Recidiviz/recidiviz-data#13643)
  recidiviz/tools/deploy/terraform/.terraform.lock.hcl
Due: generate_docs_for_endpoint

[Revert] Michigan calc changes for Housing Unit 6 (Recidiviz/recidiviz-data#13654)
  recidiviz/calculator/pipeline/metrics/incarceration/pipeline.py
  recidiviz/calculator/pipeline/normalization/comprehensive/pipeline.py
  recidiviz/calculator/pipeline/utils/beam_utils/extractor_utils.py
  recidiviz/calculator/pipeline/utils/state_utils/us_mi/us_mi_incarceration_delegate.py
  recidiviz/calculator/pipeline/utils/state_utils/us_mi/us_mi_incarceration_period.py
  recidiviz/calculator/pipeline/utils/state_utils/us_mi/us_mi_incarceration_period_normalization_delegate.py
  recidiviz/calculator/query/state/views/reference/reference_views.py
  recidiviz/calculator/query/state/views/reference/us_mi_housing_unit_metadata.py
  recidiviz/tests/calculator/pipeline/utils/beam_utils/extractor_utils_test.py
Due: generate_docs_for_endpoint

[Pathways] add DB/API for supervision_to_prison_transitions (Recidiviz/recidiviz-data#13637)
  recidiviz/calculator/query/state/views/dashboard/pathways/event_level/supervision_to_prison_transitions.py
  recidiviz/calculator/query/state/views/dashboard/pathways/supervision_to_prison_count_by_month.py
  recidiviz/calculator/query/state/views/dashboard/pathways/supervision_to_prison_population_snapshot_by_dimension.py
  recidiviz/calculator/query/state/views/dashboard/pathways/supervision_to_prison_population_snapshot_by_officer.py
  recidiviz/case_triage/pathways/dimension.py
  recidiviz/case_triage/pathways/metric_queries.py
  recidiviz/case_triage/pathways/metrics.py
  recidiviz/persistence/database/schema/pathways/schema.py
  recidiviz/tests/case_triage/pathways/fixtures/supervision_to_prison_transitions.csv
  recidiviz/tests/case_triage/pathways/metrics_test.py
  recidiviz/tests/persistence/database/schema_utils_test.py
Due: generate_docs_for_endpoint

Adds supervision aggregated metrics for days prior to incarceration, and LSI-R score change variants (Recidiviz/recidiviz-data#13542)
  recidiviz/calculator/query/state/views/analyst_data/supervision_aggregated_metrics.py
  recidiviz/calculator/query/state/views/analyst_data/supervision_officer_office_metrics.py
Due: generate_docs_for_endpoint

[US_MI] Adding a migration for PFI to be handled calc-side instead (Recidiviz/recidiviz-data#13659)
  recidiviz/ingest/direct/regions/us_mi/ingest_mappings/us_mi_incarceration_periods.yaml
  recidiviz/persistence/database/migrations/state/versions/2022_06_27_1312_dabe8760362d_remove_general_pfi_mi.py
Due: generate_docs_for_region, generate_docs_for_endpoint

Turn on Query Insights for Justice Counts Cloud SQL (Recidiviz/recidiviz-data#13661)
  recidiviz/tools/deploy/terraform/cloud-sql.tf
  recidiviz/tools/deploy/terraform/modules/cloud-sql-instance/main.tf
Due: generate_docs_for_endpoint

[US_TN] Add Migration and mappings for Absconsion Supervision Type (Recidiviz/recidiviz-data#13320)
  recidiviz/ingest/direct/regions/us_tn/ingest_mappings/us_tn_AssignedStaffSupervisionPeriod_v2.yaml
  recidiviz/persistence/database/migrations/state/versions/2022_06_27_1542_51d22e2b9b32_tn_add_absconsion_sup_type.py
Due: generate_docs_for_region, generate_docs_for_endpoint

[Autogenerated] Update Pipfile.lock (Recidiviz/recidiviz-data#13649)
  Pipfile.lock
Due: none

remove unused `parse_state_aggregate` cloud function (Recidiviz/recidiviz-data#13652)
  recidiviz/cloud_functions/main.py
  recidiviz/tools/deploy/terraform/cloud-functions.tf
Due: generate_docs_for_endpoint

[Ingest] Update endpoints to take instance instead of bucket (Recidiviz/recidiviz-data#13658)
  recidiviz/admin_panel/ingest_operations_store.py
  recidiviz/ingest/direct/controllers/base_direct_ingest_controller.py
  recidiviz/ingest/direct/controllers/direct_ingest_controller_factory.py
  recidiviz/ingest/direct/direct_ingest_cloud_task_manager.py
  recidiviz/ingest/direct/direct_ingest_control.py
  recidiviz/ingest/direct/regions/us_co/us_co_controller.py
  recidiviz/ingest/direct/regions/us_id/us_id_controller.py
  recidiviz/ingest/direct/regions/us_me/us_me_controller.py
  recidiviz/ingest/direct/regions/us_mi/us_mi_controller.py
  recidiviz/ingest/direct/regions/us_mo/us_mo_controller.py
  recidiviz/ingest/direct/regions/us_nd/us_nd_controller.py
  recidiviz/ingest/direct/regions/us_pa/us_pa_controller.py
  recidiviz/ingest/direct/regions/us_tn/us_tn_controller.py
  recidiviz/ingest/direct/templates/us_xx/us_xx_controller.py
  recidiviz/tests/ingest/direct/controllers/direct_ingest_controller_factory_test.py
  recidiviz/tests/ingest/direct/direct_ingest_cloud_task_manager_impl_test.py
  recidiviz/tests/ingest/direct/direct_ingest_control_test.py
  recidiviz/tests/ingest/direct/fakes/fake_async_direct_ingest_cloud_task_manager.py
  recidiviz/tests/ingest/direct/fakes/fake_direct_ingest_controller.py
  recidiviz/tests/ingest/direct/fakes/fake_synchronous_direct_ingest_cloud_task_manager.py
  recidiviz/tests/ingest/direct/regions/direct_ingest_region_structure_test.py
Due: generate_docs_for_region, generate_docs_for_endpoint

[Ingest] Do not schedule raw data import tasks to SECONDARY (Recidiviz/recidiviz-data#13675)
  recidiviz/ingest/direct/controllers/base_direct_ingest_controller.py
  recidiviz/tests/ingest/direct/fakes/fake_direct_ingest_controller.py
Due: generate_docs_for_endpoint

replace archive_practices_etl_data cloud function with gcs notification (Recidiviz/recidiviz-data#13674)
  recidiviz/application_data_import/server.py
  recidiviz/cloud_functions/main.py
  recidiviz/practices/etl/routes.py
  recidiviz/tests/practices/etl/routes_test.py
  recidiviz/tools/deploy/terraform/app-engine.tf
  recidiviz/tools/deploy/terraform/cloud-functions.tf
  recidiviz/tools/deploy/terraform/cloud-storage-notifications.tf
  recidiviz/tools/deploy/terraform/modules/cloud-storage-notification/main.tf
  recidiviz/utils/pubsub_helper.py
Due: generate_docs_for_endpoint

[US_CO] dataflow set up for incarceration metrics (Recidiviz/recidiviz-data#13616)
  recidiviz/calculator/pipeline/calculation_pipeline_templates.yaml
  recidiviz/calculator/pipeline/utils/state_utils/us_co/us_co_incarceration_metrics_producer_delegate.py
  recidiviz/calculator/pipeline/utils/state_utils/us_co/us_co_recidivism_metrics_producer_delegate.py
  recidiviz/calculator/pipeline/utils/state_utils/us_co/us_co_supervision_metrics_producer_delegate.py
  recidiviz/calculator/query/state/views/sessions/dataflow_sessions.py
Due: generate_docs_for_endpoint

[Justice Counts] Fix duplicate error message when user is not attached to any agencies (Recidiviz/recidiviz-data#13677)
  frontends/justice-counts/control-panel/src/pages/Reports.tsx
  frontends/justice-counts/control-panel/src/stores/ReportStore.ts
Due: none
